
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fas" fontIcon="fa-syringe"></mat-icon>
        {{appTranslation.getText("patient","vaccinateds")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchVaccinateds();" *ngIf="tcAuthorization.canRead('vaccinateds')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addVaccinated();" *ngIf="tcAuthorization.canCreate('vaccinateds')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="vaccinatedsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="vaccinatedPersist.vaccinatedSearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="vaccinatedsSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="tc-loading" *ngIf="vaccinatedsIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let vaccinated of vaccinatedsData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title>
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('vaccinateds') || tcAuthorization.canDelete('vaccinateds')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
  
                                                                                      <button mat-menu-item (click)="editVaccinated(vaccinated)" *ngIf="tcAuthorization.canUpdate('vaccinateds')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteVaccinated(vaccinated)" *ngIf="tcAuthorization.canDelete('vaccinateds')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>{{appTranslation.getText("patient","patient_type")}} </span>
              {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(vaccinatedPersist.vaccinated_patient_type, vaccinated.patient_type).name)}}

            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("patient","target_id")}}</span>
              {{vaccinated.target_id}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("patient","vac_date")}}</span>
              {{ tcUtilsDate.toDate( vaccinated.vac_date) |date }}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("patient","vaccination")}}</span>
              {{tcUtilsArray.getById(vaccinations,vaccinated.vac_id)?.name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("patient","appointment_date")}}</span>
              {{ tcUtilsDate.toDate( vaccinated.appointment_date) |date }}

            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="vaccinatedsSelection.length >0 || vaccinatedsSelectAll">
                    <button mat-button (click)="downloadVaccinateds()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{vaccinatedsSelectAll ? vaccinatedsTotalCount : vaccinatedsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="vaccinatedsData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(vaccinatedsData,vaccinatedsSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(vaccinatedsData,vaccinatedsSelection) || vaccinatedsSelectAll"
                  [indeterminate]="vaccinatedsSelection.length <vaccinatedsData.length && vaccinatedsSelection.length>0"
                  [disabled]="vaccinatedsSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="vaccinatedsSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #vaccinatedsSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="vaccinatedsSelectAll=true;"
                          [disabled]="vaccinatedsSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="vaccinatedsSelectAll = false;"
                          [disabled]="!vaccinatedsSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(vaccinatedsSelection,row) : null"
                              [checked]="tcUtilsArray.contains(vaccinatedsSelection,row) || vaccinatedsSelectAll"
                              [disabled]="vaccinatedsSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
  
            <ng-container matColumnDef="patient_type">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","patient_type")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                      {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(vaccinatedPersist.vaccinated_patient_type, element.patient_type).name)}}
                                    </mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="target_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","target_id")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="vac_date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","vac_date")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    {{ tcUtilsDate.toDate( element.vac_date) |date }}
                                </mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="vac_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","vaccination")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                      {{tcUtilsArray.getById(vaccinations,element.vac_id)?.name}}
                                    </mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="appointment_date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","appointment_date")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                      {{ tcUtilsDate.toDate( element.appointment_date) |date }}
                                    </mat-cell>
                               </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('vaccinateds') || tcAuthorization.canDelete('vaccinateds')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
  
                  <button mat-menu-item (click)="editVaccinated(element)" *ngIf="tcAuthorization.canUpdate('vaccinateds') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteVaccinated(element)" *ngIf="tcAuthorization.canDelete('vaccinateds')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="vaccinatedsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: vaccinatedsDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(vaccinatedsSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="vaccinatedsTotalCount"
                         [ngStyle]="{display: vaccinatedsTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  