<mat-tab-group>
    <mat-tab label="Result to Approve">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    Result to approve
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" searchorders()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            
            </mat-toolbar>
            <div class="tc-padding">
                <div class="tc-loading" *ngIf="orderIsLoading">
                    <mat-spinner></mat-spinner>
                  </div>
            
                <div class="tc-padding">
                    <mat-form-field>
                        <input matInput [formControl]="ordersSearchText"
                            placeholder="{{appTranslation.getText('general','search_text')}}">
                        <button mat-button *ngIf="ordersSearchText.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="ordersSearchText.setValue('')">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-accordion *ngFor="let order of ordersData" class="tc-padding">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{order.patient_name}}{{order.outside_patient}} - {{order.order_name}} - {{order.generated_sample_id}}
                                </mat-panel-title>
                                <mat-panel-description
                                    style="flex-direction: row-reverse;">
                                </mat-panel-description>
                                <mat-panel-description
                                    style="flex-direction: row-reverse;">
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="tc-table-container tc-full-stretch">
                                <app-lab-result-approval-list [lab_order_id] = "order.lab_order_id" [orderId]="order.id" *ngIf="order_type == lab_order_type.lab || order_type == lab_order_type.pathology" [orderType]="order_type" (removeOrder)="removeOrder()"></app-lab-result-approval-list>
                                <app-rad-result-approval-list [lab_order_id] = "order.lab_order_id" [orderId]="order.id" [patientId]="order.patient_id" *ngIf="order_type == lab_order_type.imaging" (removeOrder)="removeOrder()"></app-rad-result-approval-list>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                [pageSize]="5" [length]="ordersTotalCount"
                [ngStyle]="{display: ordersTotalCount > 0? '':'none'}"></mat-paginator>
                </div>
            </div>
    </mat-tab>
    <mat-tab label="Sample collected" *ngIf="order_type != lab_order_type.imaging && tcAuthorization.canRead('sample_collections')">
        <ng-template matTabContent>
            <app-sample_collection-list [order_type]="order_type"></app-sample_collection-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>