
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     chief_compliant_option  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchChiefCompliantOptions();" *ngIf="tcAuthorization.canRead('chief_compliant_options')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addChiefCompliantOption();" *ngIf="tcAuthorization.canCreate('chief_compliant_options')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="chiefCompliantOptionSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="chiefCompliantOptionPersist.chiefCompliantOptionSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="chiefCompliantOptionSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="chiefCompliantOptionIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let chiefCompliantOption of chiefCompliantOptionsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('chief_compliant_options') || tcAuthorization.canDelete('chief_compliant_options')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editChiefCompliantOption(chiefCompliantOption)" *ngIf="tcAuthorization.canUpdate('chief_compliant_options')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteChiefCompliantOption(chiefCompliantOption)" *ngIf="tcAuthorization.canDelete('chief_compliant_options')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{chiefCompliantOption.name}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchChiefCompliantOptions.length >0 || chiefCompliantOptionSelectAll">
        <button mat-button (click)="downloadChiefCompliantOptions()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{chiefCompliantOptionSelectAll ? chiefCompliantOptionsTotalCount : chiefCompliantOptionSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="chiefCompliantOptionsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(chiefCompliantOptionsData,chiefCompliantOptionSelection) "
              [checked]=" tcUtilsArray.isAllSelected(chiefCompliantOptionsData,chiefCompliantOptionSelection) || chiefCompliantOptionSelectAll"
              [indeterminate]="chiefCompliantOptionSelection.length <chiefCompliantOptionsData.length && chiefCompliantOptionSelection.length>0"
              [disabled]="chiefCompliantOptionSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="chiefCompliantOptionSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #chiefCompliantOptionSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="chiefCompliantOptionSelectAll=true;" [disabled]="chiefCompliantOptionSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="chiefCompliantOptionSelectAll = false;" [disabled]="!chiefCompliantOptionSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(chiefCompliantOptionSelection,row) : null"
              [checked]="tcUtilsArray.contains(chiefCompliantOptionSelection,row) || chiefCompliantOptionSelectAll" [disabled]="chiefCompliantOptionSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="chiefCompliantOptionNavigator.chiefCompliantOptionUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('chief_compliant_options') || tcAuthorization.canDelete('chief_compliant_options')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editChiefCompliantOption(element)" *ngIf="tcAuthorization.canUpdate('chief_compliant_options') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteChiefCompliantOption(element)" *ngIf="tcAuthorization.canDelete('chief_compliant_options')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="chiefCompliantOptionsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: chiefCompliantOptionsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(chiefCompliantOptionSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="chiefCompliantOptionsTotalCount"
        [ngStyle]="{display: chiefCompliantOptionsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>