<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="waitinglistDetail">
    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("patient", "search_patient")
      }}</mat-label>
      <input matInput disabled [(ngModel)]="patientFullName" />
      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('patient', 'search_patient') }}"
        matSuffix
        [disabled]="isEdit()"
        color="primary"
        (click)="searchPatient()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("bed", "bedroom_type")
      }}</mat-label>
      <input matInput disabled [(ngModel)]="ward" />
      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('bed', 'bedroom_type') }}"
        matSuffix
        color="primary"
        (click)="searchWard()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("bed", "bedroom_level")
      }}</mat-label>
      <input matInput disabled [(ngModel)]="level" />
      <button
      [disabled]="!ward"
        mat-icon-button
        matTooltip="{{ appTranslation.getText('bed', 'bedroom_level') }}"
        matSuffix
        color="primary"
        (click)="searchLevel()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch" *ngIf="!isWaiting">
      <mat-label>{{
        appTranslation.getText("bed", "bedroom")
      }}</mat-label>
      <input matInput disabled [(ngModel)]="bedroom" />
      <button
        [disabled]="!level"
        mat-icon-button
        matTooltip="{{ appTranslation.getText('bed', 'bedroom') }}"
        matSuffix
        [disabled]="!ward"
        color="primary"
        (click)="searchBedroom()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch" *ngIf="!isWaiting">
      <mat-label>{{
        appTranslation.getText("bed", "bed")
      }}</mat-label>
      <input matInput disabled [(ngModel)]="bed" />
      <button
        [disabled]="!bedroom"
        mat-icon-button
        matTooltip="{{ appTranslation.getText('bed', 'bed') }}"
        matSuffix
        color="primary"
        (click)="searchBed()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>


      <mat-slide-toggle [(ngModel)]="isWaiting" (ngModelChange)="updateWaiting()">is waiting?</mat-slide-toggle>
      <mat-form-field class="tc-full-stretch" *ngIf="isWaiting">
        <mat-select
          placeholder="{{ appTranslation.getText('patient', 'priority') }}"
          [(value)]="waitinglistDetail.priority"
          required
        >
          <mat-option
            *ngFor="let etype of persist.patient_priority"
            [value]="etype.id"
          >
            {{ appTranslation.getText("patient", etype.name) }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <textarea
        matInput
        placeholder="{{ appTranslation.getText('general', 'remark') }}"
        type="text"
        [(ngModel)]="waitinglistDetail.remark"
        required
      >
      </textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
  <button
    mat-button
    (click)="cancelWaiting()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("inventory", "reject") }}
  </button>
</div>
