
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon>
      {{appTranslation.getText('inventory','insured_employees')}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchInsured_Employees();" *ngIf="tcAuthorization.canRead('insured_employees')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addInsured_Employee();" *ngIf="tcAuthorization.canCreate('insured_employees')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="insured_employeesSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="insured_employeePersist.insured_employeeSearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="insured_employeesSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
        <mat-select placeholder='{{appTranslation.getText("general", "status")}}'
        [(value)]="insured_employeePersist.insuredEmployeeStatusFilter"
        (valueChange)="searchInsured_Employees()">
<mat-option *ngFor="let status of insured_employeePersist.InsuredEmployeeStatus" [value]="status.id">
{{ status.name }}
</mat-option>
</mat-select>

<button mat-button *ngIf='insured_employeePersist.insuredEmployeeStatusFilter != -1' matSuffix mat-icon-button
    aria-label="Clear"
    (click)="insured_employeePersist.insuredEmployeeStatusFilter = -1;searchInsured_Employees();$event.stopPropagation()">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>

<mat-form-field>
  <mat-label>
    Package
  </mat-label>
  <input matInput disabled [(ngModel)]="packageName"/>
  <button
    mat-icon-button
    matTooltip="Search Package"
    matSuffix
    color="primary"
    (click)="searchPackages()"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button mat-button *ngIf='insured_employeePersist.packageId' matSuffix mat-icon-button
    aria-label="Clear"
    (click)="insured_employeePersist.packageId = null;searchInsured_Employees();$event.stopPropagation()">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>

<button mat-button (click)="importEmployee()" *ngIf="tcAuthorization.canCreate('insured_employees')" class="tc-link">
  Import Employee
</button> 
        <div class="tc-loading" *ngIf="insured_employeesIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let insured_employee of insured_employeesData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title>
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('insured_employees') || tcAuthorization.canDelete('insured_employees')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
  
                                                                                      <button mat-menu-item (click)="editInsured_Employee(insured_employee)" *ngIf="tcAuthorization.canUpdate('insured_employees') ">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="connectPatient(insured_employee)" *ngIf="tcAuthorization.canUpdate('insured_employees') && insured_employee.patient_id == tcUtilsString.invalid_id ">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("inventory","connect_patient")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="terminateEmployee(insured_employee)" *ngIf="tcAuthorization.canUpdate('insured_employees') && insured_employee.status == insured_employeeStatus.covered">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-user-slash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("employee","terminate_employee")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteInsured_Employee(insured_employee)" *ngIf="tcAuthorization.canDelete('insured_employees')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>{{appTranslation.getText('inventory','full_name')}}</span>
              {{insured_employee.full_name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('inventory','employee')}}</span>
              {{insured_employee.employee_id}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('inventory','covered_amount')}}</span>
              {{insured_employee.covered_amount}}
            </div>
            <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','start_date')}}</span>
              {{insured_employee.start_date && insured_employee.start_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
            </div>
            <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','end_date')}}</span>
              {{insured_employee.end_date && insured_employee.end_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
            </div>
            <div class="tc-detail-field">
              <span>{{appTranslation.getText('bed', 'status')}}</span>
              {{tcUtilsArray.getById(insured_employeePersist.InsuredEmployeeStatus,insured_employee.status)?.name}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="insured_employeesSelection.length >0 || insured_employeesSelectAll">
                    <button mat-button (click)="downloadInsured_Employees()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{insured_employeesSelectAll ? insured_employeesTotalCount : insured_employeesSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="insured_employeesData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(insured_employeesData,insured_employeesSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(insured_employeesData,insured_employeesSelection) || insured_employeesSelectAll"
                  [indeterminate]="insured_employeesSelection.length <insured_employeesData.length && insured_employeesSelection.length>0"
                  [disabled]="insured_employeesSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="insured_employeesSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #insured_employeesSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="insured_employeesSelectAll=true;"
                          [disabled]="insured_employeesSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="insured_employeesSelectAll = false;"
                          [disabled]="!insured_employeesSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(insured_employeesSelection,row) : null"
                              [checked]="tcUtilsArray.contains(insured_employeesSelection,row) || insured_employeesSelectAll"
                              [disabled]="insured_employeesSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="full_name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','full_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    <a [routerLink]="insured_employeeNavigator.insured_employeeUrl(element.id)" class="tc-link">
                                      {{element.full_name}}
                                    </a>
                                    </mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="company_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','company')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.company_name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="employee_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','employee_id')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.employee_id}}</mat-cell>
                               </ng-container>
                               <ng-container matColumnDef="image_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>image_id
                                </mat-header-cell>
                                <mat-cell class="tc-link" *matCellDef="let element">
                                  <mat-icon (click)="viewImage(element.image_id)" *ngIf="element.image_id && element.image_id !== tcUtilsString.invalid_id" fontSet="fa" fontIcon="fa-upload"></mat-icon>
                                </mat-cell>
                              </ng-container>
                          <ng-container matColumnDef="document_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>documnet_id
                                </mat-header-cell>
                                <mat-cell class="tc-link" *matCellDef="let element">
                                  <mat-icon (click)="viewImage(element.document_id)" *ngIf="element.document_id && element.document_id !== tcUtilsString.invalid_id" fontSet="fa" fontIcon="fa-upload"></mat-icon>
                                </mat-cell>
                              </ng-container>
  <ng-container matColumnDef="covered_amount">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','covered_amount')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.covered_amount}}</mat-cell>
                               </ng-container>
                            
                              <ng-container matColumnDef="status">
                                                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','status')}}</mat-header-cell>
                                                              <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(insured_employeePersist.InsuredEmployeeStatus,element.status)?.name}}</mat-cell>
                                                           </ng-container>
                              <ng-container matColumnDef="start_date">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','start_date')}}</mat-header-cell>
                              <mat-cell *matCellDef="let element">{{element.start_date && element.start_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="end_date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','end_date')}}</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.end_date && element.end_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                          </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('insured_employees') || tcAuthorization.canDelete('insured_employees')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
  
                  <button mat-menu-item (click)="editInsured_Employee(element)" *ngIf="tcAuthorization.canUpdate('insured_employees') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="connectPatient(element)" *ngIf="tcAuthorization.canUpdate('insured_employees') && element.patient_id == tcUtilsString.invalid_id ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("inventory","connect_patient")}} </span>
                  </button>
                  <button mat-menu-item (click)="terminateEmployee(element)" *ngIf="tcAuthorization.canUpdate('insured_employees') && element.status == insured_employeeStatus.covered">
                    <mat-icon fontSet="fa" fontIcon="fa-user-slash"></mat-icon>
                    <span>{{appTranslation.getText("employee","terminate_employee")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteInsured_Employee(element)" *ngIf="tcAuthorization.canDelete('insured_employees')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="insured_employeesDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: insured_employeesDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(insured_employeesSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="insured_employeesTotalCount"
                         [ngStyle]="{display: insured_employeesTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  