
    
            <div class="tc-loading" *ngIf="beforeInductionOfAnaesthesiaIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==BeforeInductionOfAnaesthesiaTabs.overview? '':'tc-hidden'"> 
                 <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding"> 
                             <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!beforeInductionOfAnaesthesiaIsLoading">  
                            <p class="tc-detail-field">patient_confirmed
                             <span>  {{beforeInductionOfAnaesthesiaDetail.patient_confirmed}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                                is_the_site_marked
                             <span>  {{beforeInductionOfAnaesthesiaDetail.is_the_site_marked}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                                is_the_pulse_oximeter_on_the_patient_and_functioning
                             <span>  {{beforeInductionOfAnaesthesiaDetail.is_the_pulse_oximeter_on_the_patient_and_functioning}} </span> 
                                                         </p>
                            <p class="tc-detail-field">known_allergy
                             <span>  {{beforeInductionOfAnaesthesiaDetail.known_allergy}} </span> 
                                                         </p>
                            <p class="tc-detail-field">difficult_airway_or_aspiration_risk
                             <span>  {{beforeInductionOfAnaesthesiaDetail.difficult_airway_or_aspiration_risk}} </span> 
                                                         </p>
                            <p class="tc-detail-field">risk_of_500ml_blood_loss
                             <span>  {{beforeInductionOfAnaesthesiaDetail.risk_of_500ml_blood_loss}} </span> 
                                                         </p>
                            <p class="tc-detail-field">anaesthesia_machine_checkup
                             <span>  {{beforeInductionOfAnaesthesiaDetail.anaesthesia_machine_checkup}} </span> 
                                                         </p>
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editBeforeInductionOfAnaesthesia()" *ngIf="tcAuthorization.canUpdate('before_induction_of_anaesthesias') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    
                </div>
    
            </div>
    
    