<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
        {{appTranslation.getText("patient", "consultation")}}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchConsultings();" *ngIf="tcAuthorization.canRead('consultings')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addConsulting();" *ngIf="tcAuthorization.canCreate('consultings') && form_encounterPersist.encounter_is_active" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>

    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
        <mat-slide-toggle
        matInput
        labelPosition="before"
        class="tc-form-toggle" (change)="handleToggle($event)"
        required
        [checked]="false"
        >
        {{appTranslation.getText("patient", "show_current")}}
        </mat-slide-toggle>
        </h1>
</mat-toolbar>
<div class="tc-padding">
    <div class="tc-loading" *ngIf="consultingIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="searchConsultings.length >0 || consultingSelectAll">
            <button mat-button (click)="downloadConsultings()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
            </button>
            <div class="tc-flex-fill"></div>
            <span>{{consultingSelectAll ? consultingsTotalCount : consultingSelection.length}}
                {{appTranslation.getText("general",
                "selected")}}</span>
        </mat-toolbar>
        <mat-table [dataSource]="consultingsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(consultingsData,consultingSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(consultingsData,consultingSelection) || consultingSelectAll"
                        [indeterminate]="consultingSelection.length <consultingsData.length && consultingSelection.length>0"
                        [disabled]="consultingSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="consultingSelectAllMenu">
                        </mat-icon>
                    </button>
                    <mat-menu #consultingSelectAllMenu="matMenu">

                        <button mat-menu-item (click)="consultingSelectAll=true;" [disabled]="consultingSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="consultingSelectAll = false;" [disabled]="!consultingSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(consultingSelection,row) : null"
                        [checked]="tcUtilsArray.contains(consultingSelection,row) || consultingSelectAll"
                        [disabled]="consultingSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="encounter_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="consulting_dept_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    consultation department
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                        {{tcUtilsArray.getById(departmentsSpeciality, element.consulting_dept_id)?.name}} 
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="consulting_doctor_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient",
                    "consulting_doctor_id")}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ getDoctorFullName(element.consulting_doctor_id) }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general", "date")}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ tcUtilsDate.toDate( element.date) |date }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="urgent">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient", "urgent")}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.urgent? "yes" : "no"}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="patient_convinience">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient",
                    "patient_convinience")}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.patient_convinience? "yes" : "no"}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="brief_history">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient",
                    "brief_history")}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.brief_history}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="report_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>report_date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.report_date?(tcUtilsDate.toDate(element.report_date)|date):''}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="form_encounterNavigator.consultingUrl(element.id)" 
                        class="{{element.report_date?'green':'red'}} ">{{element.report_date?'Responsed':'Not responsed'}}</a>

                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="report">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient", "report")}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.report}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="(tcAuthorization.canUpdate('consultings') || tcAuthorization.canDelete('consultings')) && form_encounterPersist.encounter_is_active">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">
                        <button mat-menu-item (click)="deleteConsulting(element)"
                            *ngIf="tcAuthorization.canDelete('consultings')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="consultingsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: consultingsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(consultingSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="consultingsTotalCount"
            [ngStyle]="{display: consultingsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>