<h1 mat-dialog-title>
    before_skin_incision Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="beforeSkinIncisionSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="beforeSkinIncisionPersist.beforeSkinIncisionSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="beforeSkinIncisionSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="beforeSkinIncisionIsLoading">
    <mat-spinner></mat-spinner>
  </div>  

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchBefore_skin_incisions.length >0 || beforeSkinIncisionSelectAll">
      <div class="tc-flex-fill"></div>
      <span>{{beforeSkinIncisionSelectAll ? beforeSkinIncisionsTotalCount : beforeSkinIncisionSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="beforeSkinIncisionsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(beforeSkinIncisionsData,beforeSkinIncisionSelection) "
            [checked]=" tcUtilsArray.isAllSelected(beforeSkinIncisionsData,beforeSkinIncisionSelection) || beforeSkinIncisionSelectAll"
            [indeterminate]="beforeSkinIncisionSelection.length <beforeSkinIncisionsData.length && beforeSkinIncisionSelection.length>0"
            [disabled]="beforeSkinIncisionSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="beforeSkinIncisionSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #beforeSkinIncisionSelectAllMenu="matMenu">

            <button mat-menu-item (click)="beforeSkinIncisionSelectAll=true;" [disabled]="beforeSkinIncisionSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="beforeSkinIncisionSelectAll = false;" [disabled]="!beforeSkinIncisionSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(beforeSkinIncisionSelection,row) : null"
            [checked]="tcUtilsArray.contains(beforeSkinIncisionSelection,row) || beforeSkinIncisionSelectAll" [disabled]="beforeSkinIncisionSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="induction">
        <mat-header-cell *matHeaderCellDef mat-sort-header>induction
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.induction}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_name_procedure_confirmation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name_procedure_confirmation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_name_procedure_confirmation}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="has_antibiotic_prophylaxis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>has_antibiotic_prophylaxis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.has_antibiotic_prophylaxis}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="critical_or_non_routine_steps">
        <mat-header-cell *matHeaderCellDef mat-sort-header>critical_or_non_routine_steps
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.critical_or_non_routine_steps}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="case_take">
        <mat-header-cell *matHeaderCellDef mat-sort-header>case_take
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.case_take}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="anticipated_blood_loss">
        <mat-header-cell *matHeaderCellDef mat-sort-header>anticipated_blood_loss
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anticipated_blood_loss}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef=" patient_specific_concerns">
        <mat-header-cell *matHeaderCellDef mat-sort-header> patient_specific_concerns
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element. patient_specific_concerns}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="has_sterility">
        <mat-header-cell *matHeaderCellDef mat-sort-header>has_sterility
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.has_sterility}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="equipment_issues">
        <mat-header-cell *matHeaderCellDef mat-sort-header>equipment_issues
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.equipment_issues}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef=" essential_imaging_displayed">
        <mat-header-cell *matHeaderCellDef mat-sort-header> essential_imaging_displayed
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element. essential_imaging_displayed}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="beforeSkinIncisionsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: beforeSkinIncisionsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(beforeSkinIncisionSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="beforeSkinIncisionsTotalCount"
      [ngStyle]="{display: beforeSkinIncisionsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" beforeSkinIncisionSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>