<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-warehouse"></mat-icon>
    {{ appTranslation.getText("inventory", "stores") }}
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchStores()"
    *ngIf="tcAuthorization.canRead('stores')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addStore()"
    *ngIf="tcAuthorization.canCreate('stores')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="storesSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="storePersist.storeSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="storesSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <!-- <mat-form-field>
    <mat-select placeholder='{{ appTranslation.getText("inventory", "store_type") }}'
                [(value)]="storePersist.store_typeId"
                (valueChange)="searchStores()">
      <mat-option *ngFor="let etype of storePersist.store_type" [value]="etype.id">
        {{ appTranslation.getText("inventory", etype.name) }}{{ appTranslation.getText("patient", etype.name) }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="storePersist.store_typeId" matSuffix mat-icon-button aria-label="Clear"
            (click)="storePersist.store_typeId = -1;searchStores();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->

  <div class="tc-loading" *ngIf="storesIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let store of storesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('stores') ||
              tcAuthorization.canDelete('stores')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editStore(store)"
              *ngIf="tcAuthorization.canUpdate('stores')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteStore(store)"
              *ngIf="tcAuthorization.canDelete('stores')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "name") }}</span>
          <a
            [routerLink]="storeNavigator.storeUrl(store.id)" *ngIf="isMain"
            class="tc-link"
          >{{ store.name }}</a>
          <p *ngIf="!isMain">{{store.name}}</p>
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'store_type')}}</span>
          {{ appTranslation.getText("inventory", tcUtilsArray.getEnum(storePersist.store_type, store.store_type)?.name) }}
          {{ appTranslation.getText("patient", tcUtilsArray.getEnum(storePersist.store_type, store.store_type)?.name) }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "start_date") }}</span>
            {{ tcUtilsDate.toDate(store.start_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "end_date") }}</span>
            {{ store.end_date && tcUtilsDate.toDate(store.end_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar *ngIf="storesSelection.length > 0 || storesSelectAll">
      <button mat-button (click)="downloadStores()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
      >{{ storesSelectAll ? storesTotalCount : storesSelection.length }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table [dataSource]="storesData" matSort class="tc-hide-on-mobile">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="tcUtilsArray.toggleSelectAll(storesData, storesSelection)"
            [checked]="
              tcUtilsArray.isAllSelected(storesData, storesSelection) ||
              storesSelectAll
            "
            [indeterminate]="
              storesSelection.length < storesData.length &&
              storesSelection.length > 0
            "
            [disabled]="storesSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="storesSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #storesSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="storesSelectAll = true"
              [disabled]="storesSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="storesSelectAll = false"
              [disabled]="!storesSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event ? tcUtilsArray.toggleSelection(storesSelection, row) : null
            "
            [checked]="
              tcUtilsArray.contains(storesSelection, row) || storesSelectAll
            "
            [disabled]="storesSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link
        </mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="storeNavigator.storeUrl(element.id)"
            class="tc-link"
          >{{ element.id }}</a
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "name")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="storeNavigator.storeUrl(element.id)"
            class="tc-link" *ngIf="isMain"
          >
          {{ element.name }}
          </a>
          <p *ngIf="!isMain">{{element.name}}</p></mat-cell>
      </ng-container>

      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "start_date")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ tcUtilsDate.toDate(element.start_date)|date:'MMM dd, yyyy. h:mm a'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "end_date")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.end_date && tcUtilsDate.toDate(element.end_date)|date:'MMM dd, yyyy. h:mm a'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="store_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'store_type')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{appTranslation.getText("inventory", tcUtilsArray.getEnum(storePersist.store_type, element.store_type)?.name)}}
          {{appTranslation.getText("patient", tcUtilsArray.getEnum(storePersist.store_type, element.store_type)?.name)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('stores') ||
              tcAuthorization.canDelete('stores')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editStore(element)"
              *ngIf="tcAuthorization.canUpdate('stores')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteStore(element)"
              *ngIf="tcAuthorization.canDelete('stores')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="storesDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: storesDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(storesSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="storesTotalCount"
      [ngStyle]="{ display: storesTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
