<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="departmentDetail">

    <mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="departmentDetail.name" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch" >
      <mat-select
        placeholder="Type"
        [(value)]="departmentDetail.type"
        required>
        <mat-option *ngFor="let etype of persist.departmentType" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>     

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
