<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="supplierDetail">
                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="name" type="text"  [(ngModel)]="supplierDetail.name" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="TIN number" type="text"  [(ngModel)]="supplierDetail.tin_number" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="phone number 1" type="text"  [(ngModel)]="supplierDetail.phone_number_1" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="phone number 2" type="text"  [(ngModel)]="supplierDetail.phone_number_2" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="phone number 3" type="text"  [(ngModel)]="supplierDetail.phone_number_3" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="email" type="email"  [(ngModel)]="supplierDetail.email" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="address" type="text"  [(ngModel)]="supplierDetail.address" required>
                        </mat-form-field>  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
