<h1 mat-dialog-title>
  purchase Selection
</h1><div mat-dialog-content>  <mat-form-field>
  <input matInput [formControl]="purchaseSearchTextBox"
    placeholder='{{appTranslation.getText("general","search_text")}} '>
  <button mat-button *ngIf="purchasePersist.purchaseSearchText" matSuffix mat-icon-button aria-label="Clear"
    (click)="purchaseSearchTextBox.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="tc-loading" *ngIf="purchaseIsLoading">
  <mat-spinner></mat-spinner>
</div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="purchasesData" matSort class="tc-hide-on-mobile">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)=" tcUtilsArray.toggleSelectAll(purchasesData,purchaseSelection) "
          [checked]=" tcUtilsArray.isAllSelected(purchasesData,purchaseSelection) || purchaseSelectAll"
          [indeterminate]="purchaseSelection.length <purchasesData.length && purchaseSelection.length>0"
          [disabled]="purchaseSelectAll">
        </mat-checkbox>

        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="purchaseSelectAllMenu"></mat-icon>
        </button>
        <mat-menu #purchaseSelectAllMenu="matMenu">

          <button mat-menu-item (click)="purchaseSelectAll=true;" [disabled]="purchaseSelectAll">
            {{appTranslation.getText("general", "all")}}
          </button>
          <button mat-menu-item (click)="purchaseSelectAll = false;" [disabled]="!purchaseSelectAll">
            {{appTranslation.getText("general", "none")}}
          </button>
        </mat-menu>

      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? tcUtilsArray.toggleSelection(purchaseSelection,row) : null"
          [checked]="tcUtilsArray.contains(purchaseSelection,row) || purchaseSelectAll" [disabled]="purchaseSelectAll">
        </mat-checkbox>
      </mat-cell>
    </ng-container>  <ng-container matColumnDef="purchase_request_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>purchase_request_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.purchase_request_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="supplier_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>supplier_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.supplier_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>unit
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.unit}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="crv_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>crv_number
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.crv_number}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="total_price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>total_price
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="purchase_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>purchase_date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.purchase_date}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>status
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="receiver_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>receiver_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.receiver_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="sender_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>sender_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.sender_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="reject_description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>reject_description
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.reject_description}}</mat-cell>
    </ng-container>
<mat-header-row *matHeaderRowDef="purchasesDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: purchasesDisplayedColumns;"
      [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(purchaseSelection,row)}"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
    [pageSize]="tcUtilsArray.defaultPageSize" [length]="purchasesTotalCount"
    [ngStyle]="{display: purchasesTotalCount > 0? '':'none'}"></mat-paginator>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" purchaseSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
