<h1 mat-dialog-title>
    patient_referral_form Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="patientReferralFormSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="patientReferralFormPersist.patientReferralFormSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="patientReferralFormSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="patientReferralFormIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="patientReferralFormsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(patientReferralFormsData,patientReferralFormSelection) "
            [checked]=" tcUtilsArray.isAllSelected(patientReferralFormsData,patientReferralFormSelection) || patientReferralFormSelectAll"
            [indeterminate]="patientReferralFormSelection.length <patientReferralFormsData.length && patientReferralFormSelection.length>0"
            [disabled]="patientReferralFormSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="patientReferralFormSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #patientReferralFormSelectAllMenu="matMenu">

            <button mat-menu-item (click)="patientReferralFormSelectAll=true;" [disabled]="patientReferralFormSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="patientReferralFormSelectAll = false;" [disabled]="!patientReferralFormSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(patientReferralFormSelection,row) : null"
            [checked]="tcUtilsArray.contains(patientReferralFormSelection,row) || patientReferralFormSelectAll" [disabled]="patientReferralFormSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef mat-sort-header>from
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.from_hospital}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef mat-sort-header>to
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.to_hospital}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="clinical_findings">
        <mat-header-cell *matHeaderCellDef mat-sort-header>clinical_findings
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.clinical_findings}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="diagnosis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>diagnosis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.diagnosis}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="investigation_results">
        <mat-header-cell *matHeaderCellDef mat-sort-header>investigation_results
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.investigation_results}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="treatment_given">
        <mat-header-cell *matHeaderCellDef mat-sort-header>treatment_given
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.treatment_given}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="reason_for_referral">
        <mat-header-cell *matHeaderCellDef mat-sort-header>reason_for_referral
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reason_for_referral}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="referring physician">
        <mat-header-cell *matHeaderCellDef mat-sort-header>referring physician
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.referring_physician}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="phpne_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>phpne_no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phpne_no}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="patientReferralFormsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: patientReferralFormsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patientReferralFormSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="patientReferralFormsTotalCount"
      [ngStyle]="{display: patientReferralFormsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" patientReferralFormSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>