<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-gavel"></mat-icon>
    {{ appTranslation.getText("bed", "bed_assignment") }}
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchBedassignments()"
    *ngIf="tcAuthorization.canRead('bed_assignments')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="bedassignmentsSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="bedassignmentPersist.bedAssignmentSearchHistory.search_text"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="bedassignmentsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="bedassignmentPersist.bedAssignmentSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchBedassignments()">
      <mat-option *ngFor="let etype of bedAssignmentFilterColumn" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="{{ appTranslation.getText('general', 'status') }}"
      [(value)]="bedassignmentPersist.bedAssignmentSearchHistory.status"
      (valueChange)="searchBedassignments()"
    >
      <mat-option
        *ngFor="let etype of bedassignmentPersist.bed_assignment_status"
        [value]="etype.id"
      >
        {{ appTranslation.getText("bed", etype?.name) }}
      </mat-option>
    </mat-select>
    <button
      mat-button
      *ngIf="bedassignmentPersist.bedAssignmentSearchHistory.status != -1"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="
        bedassignmentPersist.bedAssignmentSearchHistory.status = -1;
        searchBedassignments();
        $event.stopPropagation()
      "
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="tc-loading" *ngIf="bedassignmentsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let bedassignment of bedassignmentsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('bed_assignments') ||
              tcAuthorization.canDelete('bed_assignments')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <!-- <button
              mat-menu-item
              (click)="editBedassignment(bedassignment)"
              *ngIf="tcAuthorization.canUpdate('bed_assignments')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button> -->
            <button
              mat-menu-item
              (click)="deleteBedassignment(bedassignment)"
              *ngIf="tcAuthorization.canDelete('bed_assignments')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="dispatchPatient(bedassignment)"
              *ngIf="tcAuthorization.canUpdate('bed_assignments')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-share-square"></mat-icon>
              <span>{{ appTranslation.getText("patient", "dispatch") }} </span>
            </button>
            <button
            mat-menu-item
            (click)="assignNurse(bedassignment)"
            *ngIf="tcAuthorization.canUpdate('bed_assignments')"
          >
            <mat-icon fontSet="fa" fontIcon="fa-share-square"></mat-icon>
            <span>{{ appTranslation.getText("bed", "assign_nurse") }} </span>
          </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "name") }}</span>
          <a
            [routerLink]="patientNavigator.patientUrl(bedassignment.patient_id)"
            class="tc-link"
          >
            {{ bedassignment.patient_name }}
          </a>
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("bed", "bed_no") }}</span>
          {{ bedassignment.bed_id }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("bed", "bed_room") }}</span>
          {{ bedassignment.bed_room_id}}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "start_date") }}</span>
          {{ tcUtilsDate.toDate(bedassignment.start_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "end_date") }}</span>
          {{ bedassignment.end_date && tcUtilsDate.toDate(bedassignment.end_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("patient", "admission_form")}}</span>
          <a [routerLink]="admissionFormNavigator.admission_formUrl(bedassignment.admission_form_id)">
            {{ bedassignment.bed_serial_id }}
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar
      *ngIf="bedassignmentsSelection.length > 0 || bedassignmentsSelectAll"
    >
      <button mat-button (click)="downloadBedassignments()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
      >{{
        bedassignmentsSelectAll
          ? bedassignmentsTotalCount
          : bedassignmentsSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table
      [dataSource]="bedassignmentsData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                bedassignmentsData,
                bedassignmentsSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                bedassignmentsData,
                bedassignmentsSelection
              ) || bedassignmentsSelectAll
            "
            [indeterminate]="
              bedassignmentsSelection.length < bedassignmentsData.length &&
              bedassignmentsSelection.length > 0
            "
            [disabled]="bedassignmentsSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="bedassignmentsSelectAllMenu"
            >
            </mat-icon>
          </button>
          <mat-menu #bedassignmentsSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="bedassignmentsSelectAll = true"
              [disabled]="bedassignmentsSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="bedassignmentsSelectAll = false"
              [disabled]="!bedassignmentsSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(bedassignmentsSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(bedassignmentsSelection, row) ||
              bedassignmentsSelectAll
            "
            [disabled]="bedassignmentsSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link
        </mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="bedassignmentNavigator.bedassignmentUrl(element.id)"
            class="tc-link"
          >{{ element.id }}</a
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_fname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >{{ appTranslation.getText("general", "name") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="role != physicianType.nurse && patientNavigator.patientUrl(element.patient_id)"
            class="tc-link"
          >            {{getPrefixPatientName(element) }}
          </a>
        </mat-cell>
      </ng-container>

  <ng-container matColumnDef="bed_room_type_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ward
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{
      element.bed_room_type_name
      }}</mat-cell>
  </ng-container>

      <ng-container matColumnDef="bed_serial_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >{{ appTranslation.getText("bed", "bed_no") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.bed_serial_id
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="patient.pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >MRN
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.patient_pid
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="physician_first_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >Admitted By
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
            getPrefixPhysicianName(element)
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >{{ appTranslation.getText("bed", "bed_room") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.bed_room_name
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="admission_form_admission_diagnosis">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >Diagnosis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
            element.admission_form_admission_diagnosis
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >Admission Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ tcUtilsDate.toDate(element.start_date)|date:'MMM dd, yyyy. h:mm a'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >Discharge Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.end_date && tcUtilsDate.toDate(element.end_date)|date:'MMM dd, yyyy. h:mm a'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="admission_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >{{ appTranslation.getText("bed", "admission_status") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          appTranslation.getTextByIdentifier(
          tcUtilsArray.getEnum(
            bedassignmentPersist.admissionStatuses,
                      element.admission_status
                    )?.name)
          }}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="admission_form_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("patient", "admission_form")}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element">
          <a [routerLink]="role != physicianType.nurse && admissionFormNavigator.admission_formUrl(element.admission_form_id)">
            {{ element.bed_serial_id }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('bed_assignments') ||
              tcAuthorization.canDelete('bed_assignments')||role==physicianType.nurse
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <!-- <button
              mat-menu-item
              (click)="editBedassignment(element)"
              *ngIf="tcAuthorization.canUpdate('bed_assignments')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button> -->
            <button
              mat-menu-item
              (click)="changeBed(element)"
              *ngIf="tcAuthorization.canUpdate('bed_assignments')||role==physicianType.nurse"
            >
              <mat-icon fontSet="fas" fontIcon="fa-exchange-alt"></mat-icon>
              <span>{{appTranslation.getText("bed", "change_bed")}}</span>

            </button>
            <button
              mat-menu-item
              (click)="sendPayment(element)"
              *ngIf="tcAuthorization.canUpdate('bed_assignments')"
            >
              <mat-icon fontSet="fas" fontIcon="fa-exchange-alt"></mat-icon>
              <span>Send Payment</span>

            </button>
            <button
              mat-menu-item
              (click)="deleteBedassignment(element)"
              *ngIf="tcAuthorization.canDelete('bed_assignments')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
            <button
            mat-menu-item
            (click)="assignNurse(element)"
            *ngIf="element.admission_process_status !== AdmissionStatus.nurse_assigned && tcAuthorization.canUpdate('bed_assignments')"
          >
            <mat-icon fontSet="fa" fontIcon="fa-share-square"></mat-icon>
            <span>{{ appTranslation.getText("bed", "assign_nurse") }} </span>
          </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="bedassignmentsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: bedassignmentsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(bedassignmentsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="bedassignmentsTotalCount"
      [ngStyle]="{ display: bedassignmentsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
