<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-signature"></mat-icon>
    {{appTranslation.getText("patient", "consent_form")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchConsent_Forms();" *ngIf="tcAuthorization.canRead('consent_forms')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>

</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="consent_formsSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="consent_formPersist.consent_formSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="consent_formsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="consent_formsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let consent_form of consent_formsData" class="tc-card">
      <mat-card-header>
        <mat-card-title> <a [routerLink]="consent_formNavigator.consent_formUrl(consent_form.id)"
            class="tc-link">{{consent_form.patient_id}}</a>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('consent_forms') || tcAuthorization.canDelete('consent_forms')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editConsent_Form(consent_form)"
              *ngIf="tcAuthorization.canUpdate('consent_forms')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteConsent_Form(consent_form)"
              *ngIf="tcAuthorization.canDelete('consent_forms')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('patient','form_encounter')}}</span>
          {{consent_form.encounter_id}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('patient','doctor_name')}}</span>
          {{consent_form.doctor_id}}
        </div>
        <div class="tc-detail-field">
          <span>file_id</span>
          {{consent_form.file_id}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('procedure','procedure')}}</span>
          {{consent_form.procedure_id}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','date')}}</span>
          {{consent_form.created_at}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="consent_formsSelection.length >0 || consent_formsSelectAll">
      <button mat-button (click)="downloadConsent_Forms()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{consent_formsSelectAll ? consent_formsTotalCount : consent_formsSelection.length}}
        {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="consent_formsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(consent_formsData,consent_formsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(consent_formsData,consent_formsSelection) || consent_formsSelectAll"
            [indeterminate]="consent_formsSelection.length <consent_formsData.length && consent_formsSelection.length>0"
            [disabled]="consent_formsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="consent_formsSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #consent_formsSelectAllMenu="matMenu">


            <button mat-menu-item (click)="consent_formsSelectAll=true;" [disabled]="consent_formsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="consent_formsSelectAll = false;" [disabled]="!consent_formsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(consent_formsSelection,row) : null"
            [checked]="tcUtilsArray.contains(consent_formsSelection,row) || consent_formsSelectAll"
            [disabled]="consent_formsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
         {{element.id}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a [routerLink]="consent_formNavigator.consent_formUrl(element.id)" class="tc-link">
          {{element.patient_name}}</a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','form_encounter')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.encounter_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="doctor_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','doctor_name')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_name}}</mat-cell>
      </ng-container>

    
      <ng-container matColumnDef="procedure_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','procedure')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.procedure_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','date')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.created_at)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('consent_forms') || tcAuthorization.canDelete('consent_forms')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editConsent_Form(element)"
              *ngIf="tcAuthorization.canUpdate('consent_forms') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteConsent_Form(element)"
              *ngIf="tcAuthorization.canDelete('consent_forms')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="consent_formsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: consent_formsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(consent_formsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="consent_formsTotalCount"
      [ngStyle]="{display: consent_formsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>