<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
     payment_report  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchpaymentPersistReport();" *ngIf="tcAuthorization.canRead('payment_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <mat-checkbox [(ngModel)]="showGraph" *ngIf="tcAuthorization.canRead('payment_reports')" class="tc-flex-center" (ngModelChange)="reset();searchpaymentPersistReport();">
      <p>
        {{appTranslation.getText("financial", "show_payment_chart")}}
      </p>
    </mat-checkbox>
    <div
              class="deposit-remaining"
            >
              <span>Total Amount</span>
              <p [style.color]="total < 0 ? 'red' : 'green'" >{{total | ethiopianBirrFormat}}</p>
          </div>
  </mat-toolbar>
  <div class="tc-padding">
    <div style="display: flex; justify-content: center" [ngStyle]="{display: showGraph ? 'flex':'', 'justify-content': 'center !important'}" style="flex-wrap: wrap;">
      <div [ngClass]="!showGraph ? 'tc-flex-row tc-full-stretch' : 'inline-block'" style="flex-wrap: wrap;">
          <mat-form-field class="tc-equal-block">
            <input  placeholder='From Date' [formControl]="start_date" matInput type="datetime-local">
            <button mat-button *ngIf="start_date.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="start_date.setValue(null)">
            <mat-icon>close</mat-icon>
        </button>
          </mat-form-field>
          <mat-form-field class="tc-equal-block">
            <input placeholder='To Date' [formControl]="end_date" matInput type="datetime-local">
            <button mat-button *ngIf="end_date.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="end_date.setValue(null)">
            <mat-icon>close</mat-icon>
        </button>
          </mat-form-field>
          <mat-form-field *ngIf="showGraph">
            <mat-select placeholder='Graph By'
                        [(value)]="paymentPersist.graph_by"
                        [(ngModel)]="paymentPersist.graph_by" (ngModelChange)="changeGraph()">
              <mat-option *ngFor="let status of paymentPersist.Graph_By" [value]="status.id">
                {{ status.name }}
              </mat-option>
            </mat-select>
          
            <button mat-button *ngIf='paymentPersist.paymentReportSearchHistory.payment_type' matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="paymentPersist.paymentReportSearchHistory.payment_type = null;searchpaymentPersistReport();$event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="tc-equal-block" *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.patient">
              <mat-label>{{
                appTranslation.getText("patient", "search_patient")
                }}</mat-label>
              <input matInput disabled [(ngModel)]="paymentPersist.paymentReportSearchHistory.patient_name"/>
              <button
                mat-icon-button
                matTooltip="{{appTranslation.getText('patient', 'patient')}}"
                matSuffix
                color="primary"
                (click)="searchPatient()"
              >
                <mat-icon>search</mat-icon>
              </button>
              <button mat-button *ngIf="paymentPersist.paymentReportSearchHistory.patient_name" matSuffix mat-icon-button aria-label="Clear"
              (click)="paymentPersist.paymentReportSearchHistory.patient_name = ''; paymentPersist.paymentReportSearchHistory.patient_id= null; searchpaymentPersistReport()">
              <mat-icon>close</mat-icon>
          </button>
            </mat-form-field>
            
            <mat-form-field class="tc-equal-block" *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.doctor">
              <mat-label>{{
                appTranslation.getText("patient", "search_for_a_doctor")
                }}</mat-label>
              <input matInput disabled [(ngModel)]="paymentPersist.paymentReportSearchHistory.provider_name"/>
              <button
                mat-icon-button
                matTooltip="{{appTranslation.getText('employee', 'doctor')}}"
                matSuffix
                color="primary"
                (click)="searchProvider()"
              >
                <mat-icon>search</mat-icon>
              </button>
              <button mat-button *ngIf="paymentPersist.paymentReportSearchHistory.provider_name" matSuffix mat-icon-button aria-label="Clear"
              (click)="paymentPersist.paymentReportSearchHistory.provider_name = ''; paymentPersist.paymentReportSearchHistory.provider_id= null; searchpaymentPersistReport()">
              <mat-icon>close</mat-icon>
          </button>
            </mat-form-field>
            <mat-form-field class="tc-equal-block" *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.cashier">
                <mat-label>{{
                  appTranslation.getText("financial", "cashier")
                  }}</mat-label>
                <input matInput disabled [(ngModel)]="paymentPersist.paymentReportSearchHistory.cashier_name"/>
                <button
                  mat-icon-button
                  matTooltip="{{appTranslation.getText('financial', 'cashier')}}"
                  matSuffix
                  color="primary"
                  (click)="searchCashier()"
                >
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-button *ngIf="paymentPersist.paymentReportSearchHistory.cashier_name" matSuffix mat-icon-button aria-label="Clear"
                (click)="paymentPersist.paymentReportSearchHistory.cashier_name = ''; paymentPersist.paymentReportSearchHistory.cashier_id= null; searchpaymentPersistReport()">
                <mat-icon>close</mat-icon>
            </button>
              </mat-form-field>
    </div>
    <div [ngClass]="!showGraph ? 'tc-flex-row tc-full-stretch' : 'inline-block'" style="flex-wrap: wrap;">
          <mat-form-field class="tc-equal-block" *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.company">
            <mat-label>{{
              appTranslation.getText("inventory", "company")
              }}</mat-label>
            <input matInput disabled [(ngModel)]="paymentPersist.paymentReportSearchHistory.company_name"/>
            <button
              mat-icon-button
              matTooltip="{{appTranslation.getText('inventory', 'company')}}"
              matSuffix
              color="primary"
              (click)="searchCompany()"
            >
              <mat-icon>search</mat-icon>
            </button>
            <button mat-button *ngIf="paymentPersist.paymentReportSearchHistory.company_name" matSuffix mat-icon-button aria-label="Clear"
            (click)="paymentPersist.paymentReportSearchHistory.company_name = ''; paymentPersist.paymentReportSearchHistory.company_id= null; searchpaymentPersistReport()">
            <mat-icon>close</mat-icon>
        </button>
          </mat-form-field>
          <mat-form-field class="tc-equal-block" *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.company">
            <mat-label>Outsourcing Company</mat-label>
            <input matInput disabled [(ngModel)]="paymentPersist.paymentReportSearchHistory.outsourcing_company_name"/>
            <button
              mat-icon-button
              matTooltip="Outsourcing Company"
              matSuffix
              color="primary"
              (click)="searchOutsourcingCompany()"
            >
              <mat-icon>search</mat-icon>
            </button>
            <button mat-button *ngIf="paymentPersist.paymentReportSearchHistory.outsourcing_company_name" matSuffix mat-icon-button aria-label="Clear"
            (click)="paymentPersist.paymentReportSearchHistory.outsourcing_company_name= ''; paymentPersist.paymentReportSearchHistory.outsourcing_company_id= null; searchpaymentPersistReport()">
            <mat-icon>close</mat-icon>
        </button>
          </mat-form-field>
        <mat-form-field *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.fee_type">
          <mat-select placeholder='{{appTranslation.getText("financial", "fee_type")}}'
                      [(value)]="paymentPersist.paymentReportSearchHistory.fee_type"
                      (valueChange)="searchpaymentPersistReport()">
            <mat-option *ngFor="let status of paymentPersist.fee_type" [value]="status.id">
              {{ appTranslation.getTextByIdentifier(status.name) }}
            </mat-option>
          </mat-select>
        
          <button mat-button *ngIf='paymentPersist.paymentReportSearchHistory.fee_type' matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="paymentPersist.paymentReportSearchHistory.fee_type = null;searchpaymentPersistReport();$event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
          <mat-form-field class="tc-equal-block" *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.fee">
            <mat-label>{{
              appTranslation.getText("financial", "fees")
              }}</mat-label>
            <input matInput disabled [(ngModel)]="paymentPersist.paymentReportSearchHistory.fee_name"/>
            <button
              mat-icon-button
              matTooltip="{{appTranslation.getText('financial', 'fees')}}"
              matSuffix
              color="primary"
              (click)="searchFee()"
            >
              <mat-icon>search</mat-icon>
            </button>
            <button mat-button *ngIf="paymentPersist.paymentReportSearchHistory.fee_name" matSuffix mat-icon-button aria-label="Clear"
            (click)="paymentPersist.paymentReportSearchHistory.fee_name = ''; paymentPersist.paymentReportSearchHistory.fee_id= null; searchpaymentPersistReport()">
            <mat-icon>close</mat-icon>
        </button>
          </mat-form-field>
        <mat-form-field *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.fee_type">
          <mat-select placeholder='Group By'
                      [(value)]="paymentPersist.paymentReportSearchHistory.group_by"
                      (valueChange)="updateColumn()">
            <mat-option *ngFor="let status of paymentPersist.paymentReportGroupBy" [value]="status.id">
              {{ status.name }}
            </mat-option>
          </mat-select>
        
          <button mat-button *ngIf='paymentPersist.paymentReportSearchHistory.group_by' matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="paymentPersist.paymentReportSearchHistory.group_by = null;updateColumn();$event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
          <mat-form-field *ngIf="!showGraph || paymentPersist.graph_by == GraphBy.payment">
            <mat-select placeholder='{{appTranslation.getText("financial", "payment_type")}}'
                        [(value)]="paymentPersist.paymentReportSearchHistory.payment_type"
                        (valueChange)="searchpaymentPersistReport()">
              <mat-option *ngFor="let status of paymentPersist.paymentType" [value]="status.id">
                {{ status.name }}
              </mat-option>
            </mat-select>
          
            <button mat-button *ngIf='paymentPersist.paymentReportSearchHistory.payment_type' matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="paymentPersist.paymentReportSearchHistory.payment_type = null;searchpaymentPersistReport();$event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder='{{appTranslation.getText("financial", "payment_status")}}'
                        [(value)]="paymentPersist.paymentReportSearchHistory.payment_status"
                        (valueChange)="searchpaymentPersistReport()">
              <mat-option *ngFor="let status of paymentPersist.payment_status" [value]="status.id">
                {{ appTranslation.getTextByIdentifier(status.name) }}
              </mat-option>
            </mat-select>
          
            <button mat-button *ngIf='paymentPersist.paymentReportSearchHistory.payment_status' matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="paymentPersist.paymentReportSearchHistory.payment_status = null;searchpaymentPersistReport();$event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder='Service Type'
                        [(value)]="paymentPersist.paymentReportSearchHistory.service_type"
                        (valueChange)="searchpaymentPersistReport()">
              <mat-option *ngFor="let status of encounterPersist.serviceType" [value]="status.id">
                {{ status?.name }}
              </mat-option>
            </mat-select>
          
            <button mat-button *ngIf='paymentPersist.paymentReportSearchHistory.service_type' matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="paymentPersist.paymentReportSearchHistory.service_type = null;searchpaymentPersistReport();$event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder='Schedule Type'
                        [(value)]="paymentPersist.paymentReportSearchHistory.schedule_type"
                        (valueChange)="searchpaymentPersistReport()">
              <mat-option *ngFor="let status of appointmentPersist.schedule_type" [value]="status.id">
                {{ appTranslation.getTextByIdentifier(status.name) }}
              </mat-option>
            </mat-select>
          
            <button mat-button *ngIf='paymentPersist.paymentReportSearchHistory.schedule_type' matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="paymentPersist.paymentReportSearchHistory.schedule_type= null;searchpaymentPersistReport();$event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="tc-equal-block">
            <mat-label>Ward Id</mat-label>
            <input matInput disabled [(ngModel)]="paymentPersist.paymentReportSearchHistory.ward_name"/>
            <button
              mat-icon-button
              matTooltip="Ward"
              matSuffix
              color="primary"
              (click)="searchWard()"
            >
              <mat-icon>search</mat-icon>
            </button>
            <button mat-button *ngIf="paymentPersist.paymentReportSearchHistory.ward_name" matSuffix mat-icon-button aria-label="Clear"
            (click)="paymentPersist.paymentReportSearchHistory.ward_name = ''; paymentPersist.paymentReportSearchHistory.ward_id= null; searchpaymentPersistReport()">
            <mat-icon>close</mat-icon>
        </button>
          </mat-form-field>
    </div>
    </div>
    <div class="tc-loading" *ngIf="paymentsReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>
      <div [ngStyle]="{display: showGraph ? 'none':''}" class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let paymentsReport of paymentsReportData" class="tc-card">
        <mat-card-content>
          <div class="tc-detail-field">
            <span>patient_name</span>
            {{paymentsReport.patient_name}}
          </div>
  <div class="tc-detail-field">
            <span>provider_name</span>
            {{paymentsReport.provider_name}}
          </div><div class="tc-detail-field">
            <span>cashier_name</span>
            {{paymentsReport.cashier_name}}
          </div><div class="tc-detail-field">
            <span>fee_name</span>
            {{paymentsReport.fee_name}}
          </div> 
          <div class="tc-detail-field">
            <span>fee_type</span>
            {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(paymentPersist.fee_type, paymentsReport.fee_type)?.name)}}
          </div>
          <div class="tc-detail-field">
            <span>payment_date</span>
            {{paymentsReport.payment_date && paymentsReport.payment_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div>
          <div class="tc-detail-field">
            <span>amount</span>
            {{tcUtilsNumber.convertToDecimalPlaces(paymentsReport.amount)}}
          </div>
          <div class="tc-detail-field">
            <span>payment_type</span>
            {{tcUtilsArray.getById(paymentPersist.paymentType,paymentsReport.payment_type)?.name}}
          </div>
          <div class="tc-detail-field">
            <span>company_name</span>
            {{getCompany(paymentsReport.company_id)}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div [ngStyle]="{display: showGraph ? 'none':''}" class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="paymentsReportselection.length >0 || paymentsReportselectAll">
        <button mat-button (click)="downloadpaymentReport()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{paymentsReportselectAll ? paymentsReportTotalCount : paymentsReportselection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="paymentsReportData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(paymentsReportData,paymentsReportselection) "
              [checked]=" tcUtilsArray.isAllSelected(paymentsReportData,paymentsReportselection) || paymentsReportselectAll"
              [indeterminate]="paymentsReportselection.length <paymentsReportData.length && paymentsReportselection.length>0"
              [disabled]="paymentsReportselectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="paymentsReportselectAllMenu"></mat-icon>
            </button>
            <mat-menu #paymentsReportselectAllMenu="matMenu">
  
              <button mat-menu-item (click)="paymentsReportselectAll=true;" [disabled]="paymentsReportselectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="paymentsReportselectAll = false;" [disabled]="!paymentsReportselectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(paymentsReportselection,row) : null"
              [checked]="tcUtilsArray.contains(paymentsReportselection,row) || paymentsReportselectAll" [disabled]="paymentsReportselectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="provider_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>provider
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getDoctor(element.provider_id)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cashier_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>cashier
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getCashier(element.cashier_id)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="fee_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>fee
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getFee(element.fee_id, element.fee_type)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fee_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>type
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(paymentPersist.fee_type, element.fee_type)?.name)}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="payment_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.payment_date && element.payment_date * 1000 | date:'short'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>amount
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsNumber.convertToDecimalPlaces(element.amount)}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="payment_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>payment_type
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(paymentPersist.paymentType,element.payment_type)?.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="company_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>company
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{getCompany(element.company_id)}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="patient_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>MRN
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{patients[element.patient_id]?.pid }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header>price
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsNumber.convertToDecimalPlaces(element.price)}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header>total
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsNumber.convertToDecimalPlaces(element.amount)}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="target">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <ng-container *ngIf="paymentPersist.paymentReportSearchHistory.group_by == payment_report_group_by.date">
                {{element.target|date:'MMM dd, yyyy. h:mm a'}}
              </ng-container>
              <ng-container *ngIf="paymentPersist.paymentReportSearchHistory.group_by != payment_report_group_by.date">
                {{getTargetName(element.target, element.fee_type)}}
              </ng-container>
            </mat-cell>
          </ng-container>
  <mat-header-row *matHeaderRowDef="paymentsReportDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: paymentsReportDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(paymentsReportselection,row)}"></mat-row>
  
      </mat-table>
      <mat-paginator style="justify-content: center !important" [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="paymentsReportTotalCount"
        [ngStyle]="{display: paymentsReportTotalCount > 0? 'flex':'none', 'justify-content': 'center !important'}"></mat-paginator>
    </div>
  </div>

  <div *ngIf="showGraph" style="display: flex; align-items:center; flex-direction: column;">
    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend"
      [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi">
    </ngx-charts-line-chart>
  </div>
