
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     notification  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchNotifications();" *ngIf="tcAuthorization.canRead('notifications')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
   
  </mat-toolbar>
  <div class="tc-padding">
    <!-- <mat-form-field>
      <input matInput [formControl]="notificationSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="notificationPersist.notificationSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="notificationSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
    <div class="tc-loading" *ngIf="notificationIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let notification of notificationsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('notifications') || tcAuthorization.canDelete('notifications')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item *ngIf="tcAuthorization.canUpdate('notifications')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item *ngIf="tcAuthorization.canDelete('notifications')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>from</span>
            {{notification.from}}
          </div><div class="tc-detail-field">
            <span>to</span>
            {{notification.to}}
          </div><div class="tc-detail-field">
            <span>date</span>
            {{notification.date}}
          </div><div class="tc-detail-field">
            <span>msg</span>
            {{notification.msg}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <div style="margin:20px" *ngFor="let data of notificationsData">
        <a *ngIf="data.links" id="links"  [routerLink]="data.links">
        <mat-card>
          <mat-card-content>{{data.msg}} <span>{{"and the user is " + data.patient}}</span></mat-card-content>
      <p>{{data.date*1000 | date }} {{data.date*1000 | date : 'shortTime' }}</p>

        </mat-card>
      </a>
      <a *ngIf="!data.links" [routerLink]="">
        <mat-card>
          <mat-card-content>{{data.msg}}</mat-card-content>
      <p>{{data.date*1000 | date }} {{data.date*1000 | date : 'shortTime' }}</p>

        </mat-card>
      </a>


  
      </div>

      
            <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="length"
          [pageSize]="pageSize"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="pageIndex"
          aria-label="Select page">
      </mat-paginator>
    </div>
  </div>