
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
   emergency_observation  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchEmergency_observations();" *ngIf="tcAuthorization.canRead('emergency_observations')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="emergencyObservationSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="emergencyObservationPersist.emergencyObservationSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
      (click)="emergencyObservationSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="emergencyObservationPersist.emergencyObservationSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchEmergency_observations()">
      <mat-option *ngFor="let etype of emergencyObservationFilterColumn" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder='Observation Date'
      [formControl]="date"
      [matDatepicker]="date_picker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="date.value != ''" matSuffix mat-icon-button aria-label="Clear"
    (click)="date.setValue('')">
    <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("patient", "encounter_status")}}'
                [(value)]="emergencyObservationPersist.emergencyObservationSearchHistory.encounter_status"
                (valueChange)="searchEmergency_observations()">
      <mat-option *ngFor="let status of form_encounterPersist.encounter_status" [value]="status.id">
        {{ appTranslation.getText("patient", status.name) }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='emergencyObservationPersist.emergencyObservationSearchHistory.encounter_status' matSuffix mat-icon-button
            aria-label="Clear"
            (click)="emergencyObservationPersist.emergencyObservationSearchHistory.encounter_status = null;searchEmergency_observations();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("patient", "encounter_status")}}'
                [(value)]="emergencyObservationPersist.emergencyObservationSearchHistory.service_type"
                (valueChange)="searchEmergency_observations()">
      <mat-option *ngFor="let status of appointmentPersist.serviceType" [value]="status.id">
              {{status.name }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='emergencyObservationPersist.emergencyObservationSearchHistory.service_type' matSuffix mat-icon-button
            aria-label="Clear"
            (click)="emergencyObservationPersist.emergencyObservationSearchHistory.service_type = null;searchEmergency_observations();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->

  <div class="tc-loading" *ngIf="emergencyObservationIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let emergency_observation of emergencyObservationsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('emergency_observations') || tcAuthorization.canDelete('emergency_observations')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <!-- <button mat-menu-item (click)="editEmergencyObservation(emergency_observation)" *ngIf="tcAuthorization.canUpdate('emergency_observations')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteEmergencyObservation(emergency_observation)" *ngIf="tcAuthorization.canDelete('emergency_observations')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button> -->
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>encounter_id</span>
          {{emergency_observation.encounter_id}}
        </div><div class="tc-detail-field">
          <span>patient_id</span>
          {{emergency_observation.patient_id}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchEmergency_observations.length >0 || emergencyObservationSelectAll">
      <!-- <button mat-button (click)="downloadEmergencyObservations()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button> -->
      <div class="tc-flex-fill"></div>
      <span>{{emergencyObservationSelectAll ? emergencyObservationsTotalCount : emergencyObservationSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="emergencyObservationsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(emergencyObservationsData,emergencyObservationSelection) "
            [checked]=" tcUtilsArray.isAllSelected(emergencyObservationsData,emergencyObservationSelection) || emergencyObservationSelectAll"
            [indeterminate]="emergencyObservationSelection.length <emergencyObservationsData.length && emergencyObservationSelection.length>0"
            [disabled]="emergencyObservationSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="emergencyObservationSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #emergencyObservationSelectAllMenu="matMenu">

            <button mat-menu-item (click)="emergencyObservationSelectAll=true;" [disabled]="emergencyObservationSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="emergencyObservationSelectAll = false;" [disabled]="!emergencyObservationSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(emergencyObservationSelection,row) : null"
            [checked]="tcUtilsArray.contains(emergencyObservationSelection,row) || emergencyObservationSelectAll" [disabled]="emergencyObservationSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="p.pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>MRN
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><a [routerLink]="emergencyObservationNavigator.emergency_observationUrl(element.id)" class="tc-link">{{element.patient_name}}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef mat-sort-header>department
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.department}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>observation date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date && element.date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="emergencyObservationNavigator.emergency_observationUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="additionalService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Services
            </button>
            <button mat-menu-item (click)="procedureOrder(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Add Procedure
            </button>
            <!-- <button mat-menu-item (click)="oxygenService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Oxygen Services
            </button>
            <button mat-menu-item (click)="ambulanceService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Ambulance Services
            </button> -->
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="emergencyObservationsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: emergencyObservationsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(emergencyObservationSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="emergencyObservationsTotalCount"
      [ngStyle]="{display: emergencyObservationsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
