<mat-tab-group>
    <mat-tab label="Requested">
        <ng-template matTabContent>
            <app-item_return-list [isRequested]="true"></app-item_return-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Requests">
        <ng-template matTabContent>
            <app-item_return-list [isRequested]="false"></app-item_return-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
