<div class="tc-padding">
  <div class="tc-flex-row">
    <mat-form-field class="tc-full-stretch">
      <mat-label>
        {{appTranslation.getText("schedule", "search_for_physicians")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="userFullName"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        color="primary"
        (click)="searchDoctors()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <full-calendar defaultView="timeGridWeek"
              
                 height="auto"
                 [options]="calendarOptions"
               >
  </full-calendar>
  <mat-paginator
          [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
          showFirstLastButtons
          [pageSize]="tcUtilsArray.defaultPageSize"
          [length]="doctorsTotalCount"
          [ngStyle]="{ display: doctorsTotalCount > 0 ? '' : 'none' }"
        ></mat-paginator>
</div>





