<h1 mat-dialog-title>
  <mat-icon>search</mat-icon>
  Jobs
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="jobsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="jobPersist.jobSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="jobsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="jobsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="jobsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(jobsData,jobsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(jobsData,jobsSelection)"
            [indeterminate]="jobsSelection.length <jobsData.length && jobsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="jobsSelection.length >0 " [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{jobsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="jobsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(jobsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(jobsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-radio-group *ngIf="selectOne">
            <mat-radio-button (click)="markOneItem(row)"></mat-radio-button>
          </mat-radio-group>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="job_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>job_type</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.job_type}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="target_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="job_state">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>job_state</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.job_state}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="creation_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>creation_time</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.creation_time}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="update_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>update_time</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.update_time}}</mat-cell>
                             </ng-container>



      <mat-header-row *matHeaderRowDef="jobsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: jobsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(jobsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="jobsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" jobsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
