<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-stethoscope"></mat-icon>
    OPD report
    </h3>

    <button mat-button (click)="back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)="searchOpdReports();" *ngIf="tcAuthorization.canRead('report')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
</mat-toolbar>
<div class="tc-padding">
    <mat-form-field>
        <input
          matInput
          placeholder="{{ appTranslation.getText('general', 'start_date') }}"
          [formControl]="start_date"
          [matDatepicker]="start_time_picker"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="start_time_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_time_picker disabled="false"></mat-datepicker>
      </mat-form-field>
     
        <mat-form-field>
            <input
              matInput
              placeholder="{{ appTranslation.getText('general', 'end_date') }}"
              [formControl]="end_date"
              [matDatepicker]="end_time_picker"
            />
    
            <mat-datepicker-toggle
              matSuffix
              [for]="end_time_picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #end_time_picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-spinner diameter="50" *ngIf=" opdReportsIsLoading" class="tc-padding"></mat-spinner>

    <div class="tc-padding" [ngStyle]="{display:  opdReportsIsLoading? 'none':''}">

    <div class="tc-table-container tc-full-stretch">

        <mat-table [dataSource]="opdReportsData" matSort>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                action
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                action
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="new">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                new
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.new}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="new_repeat">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                new_repeat
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.new_repeat}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="repeat">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                repeat
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.repeat}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                total
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.total}}
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef=" opdReportDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns:  opdReportDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains( opdReportSelection,row)}">
        </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]=" opd_reportTotalCount"
        [ngStyle]="{display:  opd_reportTotalCount > 0? '':'none'}">
        </mat-paginator>
    </div>
    </div>
</div>