
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fas" fontIcon="fa-kidneys"></mat-icon>
     Dialysis Scheduled Patients  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchHemodialysisScheduledPateints();" *ngIf="tcAuthorization.canRead('hemodialysis_scheduled_pateints')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addHemodialysisScheduledPateint();" *ngIf="tcAuthorization.canCreate('hemodialysis_scheduled_pateints')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="hemodialysisScheduledPateintSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="hemodialysisScheduledPateintPersist.hemodialysisScheduledPateintSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="hemodialysisScheduledPateintSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="hemodialysisScheduledPateintIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let hemodialysisScheduledPateint of hemodialysisScheduledPateintsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('hemodialysis_scheduled_pateints') || tcAuthorization.canDelete('hemodialysis_scheduled_pateints')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editHemodialysisScheduledPateint(hemodialysisScheduledPateint)" *ngIf="tcAuthorization.canUpdate('hemodialysis_scheduled_pateints')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteHemodialysisScheduledPateint(hemodialysisScheduledPateint)" *ngIf="tcAuthorization.canDelete('hemodialysis_scheduled_pateints')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>


              <button mat-menu-item (click)="addPerformedDialysis(hemodialysisScheduledPateint)" >
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>Performed Dialysis </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>patient_id</span>
            {{hemodialysisScheduledPateint.patient_id}}
          </div><div class="tc-detail-field">
            <span>date</span>
            {{hemodialysisScheduledPateint.date}}
          </div><div class="tc-detail-field">
            <span>start_time</span>
            {{hemodialysisScheduledPateint.start_time}}
          </div><div class="tc-detail-field">
            <span>end_time</span>
            {{hemodialysisScheduledPateint.end_time}}
          </div><div class="tc-detail-field">
            <span>machine_no</span>
            {{hemodialysisScheduledPateint.machine_id}}
          </div><div class="tc-detail-field">
            <span>last_date</span>
            {{hemodialysisScheduledPateint.last_date}}
          </div><div class="tc-detail-field">
            <span>order_id</span>
            {{hemodialysisScheduledPateint.order_id}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchHemodialysisScheduledPateints.length >0 || hemodialysisScheduledPateintSelectAll">
        <button mat-button (click)="downloadHemodialysisScheduledPateints()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{hemodialysisScheduledPateintSelectAll ? hemodialysisScheduledPateintsTotalCount : hemodialysisScheduledPateintSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="hemodialysisScheduledPateintsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(hemodialysisScheduledPateintsData,hemodialysisScheduledPateintSelection) "
              [checked]=" tcUtilsArray.isAllSelected(hemodialysisScheduledPateintsData,hemodialysisScheduledPateintSelection) || hemodialysisScheduledPateintSelectAll"
              [indeterminate]="hemodialysisScheduledPateintSelection.length <hemodialysisScheduledPateintsData.length && hemodialysisScheduledPateintSelection.length>0"
              [disabled]="hemodialysisScheduledPateintSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="hemodialysisScheduledPateintSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #hemodialysisScheduledPateintSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="hemodialysisScheduledPateintSelectAll=true;" [disabled]="hemodialysisScheduledPateintSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="hemodialysisScheduledPateintSelectAll = false;" [disabled]="!hemodialysisScheduledPateintSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(hemodialysisScheduledPateintSelection,row) : null"
              [checked]="tcUtilsArray.contains(hemodialysisScheduledPateintSelection,row) || hemodialysisScheduledPateintSelectAll" [disabled]="hemodialysisScheduledPateintSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{tcUtilsArray.getEnum(hemodialysisScheduledPateintPersist.day_of_the_week, element.date)?.name}}
            </mat-cell>
        </ng-container>
    <ng-container matColumnDef="start_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Start Time
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ tcUtilsDate.toDate(element.start_time) | date:'h:mm a'}}
           </mat-cell>
        </ng-container>
    <ng-container matColumnDef="end_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header>End Time
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ tcUtilsDate.toDate(element.end_time) | date:'h:mm a'}}
           </mat-cell>
        </ng-container>
    <ng-container matColumnDef="machine_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Machine No
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.machine_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="last_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{tcUtilsDate.toDate( element.last_date )|date:'MMM dd, yyyy. h:mm a'}}
           </mat-cell>
        </ng-container>
    
  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('hemodialysis_scheduled_pateints') || tcAuthorization.canDelete('hemodialysis_scheduled_pateints')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editHemodialysisScheduledPateint(element)" *ngIf="tcAuthorization.canUpdate('hemodialysis_scheduled_pateints') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteHemodialysisScheduledPateint(element)" *ngIf="tcAuthorization.canDelete('hemodialysis_scheduled_pateints')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>

              <button mat-menu-item (click)="addPerformedDialysis(element)" >
                <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                <span>Performed Dialysis </span>
              </button>


            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="hemodialysisScheduledPateintsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: hemodialysisScheduledPateintsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(hemodialysisScheduledPateintSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="hemodialysisScheduledPateintsTotalCount"
        [ngStyle]="{display: hemodialysisScheduledPateintsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  