<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-chart-bar"></mat-icon>
    {{appTranslation.getText("patient", "medical_report_charts")}}
  </h3>

  <button mat-button (click)="back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button *ngIf="tcAuthorization.canRead('reports')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding tc-flex-row" style="justify-content: space-around; flex-wrap: wrap; margin-top: 10px">

     <ngx-charts-pie-chart
        [view]="[600,600]"
        *ngIf="showTopDiagnosis"
        [results]="result"
        legendPosition="below"
        legendTitle='{{appTranslation.getText("procedure", "Top_diagnosis_codes_for_all_time")}}'
        legend="true"
        labels= "true"
      >
      </ngx-charts-pie-chart>

    <ngx-charts-line-chart
      [view]="[600,600]"
      *ngIf="showMonthlyEncounter"
      showXAxisLabel="true"
      showYAxisLabel="true"
      legendPosition="below"
      legend="true"
      legendTitle='{{appTranslation.getText("procedure", "monthly_encounter_for_the_current_year")}}'
      xAxis="true"
      yAxis="true"
      xAxisLabel='{{appTranslation.getText("general", "month")}}'
      yAxisLabel='{{appTranslation.getText("general", "numberofrecords")}}'
      timeline="true"
      [results]="monthlyEncounter"
    >
    </ngx-charts-line-chart>
</div>
