
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-flask"></mat-icon>
    {{appTranslation.getText("procedure", "procedure_providers")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchProcedure_Providers();" *ngIf="tcAuthorization.canRead('procedure_providers')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addProcedure_Provider();" *ngIf="tcAuthorization.canCreate('procedure_providers')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="procedure_providersSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="procedure_providerPersist.procedure_providerSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="procedure_providersSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="procedure_providersIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let procedure_provider of procedure_providersData" class="tc-card" >
      <mat-card-header>
        <mat-card-title> <a [routerLink]="procedure_providerNavigator.procedure_providerUrl(procedure_provider.id)"
                            class="tc-link">{{procedure_provider.id}}</a>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('procedure_providers') || tcAuthorization.canDelete('procedure_providers')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editProcedure_Provider(procedure_provider)" *ngIf="tcAuthorization.canUpdate('procedure_providers')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteProcedure_Provider(procedure_provider)" *ngIf="tcAuthorization.canDelete('procedure_providers')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','name')}}</span>
          <a [routerLink]="procedure_providerNavigator.procedure_providerUrl(procedure_provider.id.toString())">
            {{procedure_provider.name}}
          </a>
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('notes','note')}}</span>
          {{procedure_provider.notes}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('bed','active')}}</span>
          <mat-icon *ngIf="!procedure_provider.active">close</mat-icon>
          <mat-icon *ngIf="procedure_provider.active">check</mat-icon>
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('procedure','lab_type')}}</span>
          {{procedure_provider.type}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="procedure_providersSelection.length >0 || procedure_providersSelectAll">
      <button mat-button (click)="downloadProcedure_Providers()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{procedure_providersSelectAll ? procedure_providersTotalCount : procedure_providersSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="procedure_providersData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(procedure_providersData,procedure_providersSelection) "
            [checked]=" tcUtilsArray.isAllSelected(procedure_providersData,procedure_providersSelection) || procedure_providersSelectAll"
            [indeterminate]="procedure_providersSelection.length <procedure_providersData.length && procedure_providersSelection.length>0"
            [disabled]="procedure_providersSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="procedure_providersSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #procedure_providersSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="procedure_providersSelectAll=true;"
                    [disabled]="procedure_providersSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="procedure_providersSelectAll = false;"
                    [disabled]="!procedure_providersSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(procedure_providersSelection,row) : null"
                        [checked]="tcUtilsArray.contains(procedure_providersSelection,row) || procedure_providersSelectAll"
                        [disabled]="procedure_providersSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="procedure_providerNavigator.procedure_providerUrl(element.id)"
             class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="procedure_providerNavigator.procedure_providerUrl(element.id.toString())">
            {{element.name}}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="notes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('notes','note')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.notes}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','active')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="!element.active">close</mat-icon>
          <mat-icon *ngIf="element.active">check</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','lab_type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('procedure_providers') || tcAuthorization.canDelete('procedure_providers')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editProcedure_Provider(element)" *ngIf="tcAuthorization.canUpdate('procedure_providers') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteProcedure_Provider(element)" *ngIf="tcAuthorization.canDelete('procedure_providers')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="procedure_providersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: procedure_providersDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedure_providersSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="procedure_providersTotalCount"
                   [ngStyle]="{display: procedure_providersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>


