
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-vial"></mat-icon>
    {{appTranslation.getText("procedure", "procedure_tests")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchProcedure_Testss();" *ngIf="tcAuthorization.canRead('procedure_testss')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addProcedure_Tests();" *ngIf="tcAuthorization.canCreate('procedure_testss')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="procedure_testssSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="procedure_testsPersist.procedure_testsSearchText" matSuffix mat-icon-button aria-label="Clear"
                (click)="procedure_testssSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="tc-loading" *ngIf="procedure_testssIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let procedure_tests of procedure_testssData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title> <a [routerLink]="procedure_testsNavigator.procedure_testsUrl(procedure_tests.id)"
                                                                    class="tc-link">{{procedure_tests.id}}</a>
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('procedure_testss') || tcAuthorization.canDelete('procedure_testss')">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <button mat-menu-item (click)="editProcedure_Tests(procedure_tests)" *ngIf="tcAuthorization.canUpdate('procedure_testss')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                    </button>
                                                                                    <button mat-menu-item (click)="deleteProcedure_Tests(procedure_tests)" *ngIf="tcAuthorization.canDelete('procedure_testss')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
                    <div class="tc-detail-field">
            <span>{{appTranslation.getText('general','type')}}</span>
            {{procedure_tests.type}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','name')}}</span>
            {{procedure_tests.name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','code')}}</span>
            {{procedure_tests.code}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('financial','amount')}}</span>
            {{procedure_tests.amount}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="procedure_testssSelection.length >0 || procedure_testssSelectAll">
                  <button mat-button (click)="downloadProcedure_Testss()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{procedure_testssSelectAll ? procedure_testssTotalCount : procedure_testssSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="procedure_testssData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(procedure_testssData,procedure_testssSelection) "
                [checked]=" tcUtilsArray.isAllSelected(procedure_testssData,procedure_testssSelection) || procedure_testssSelectAll"
                [indeterminate]="procedure_testssSelection.length <procedure_testssData.length && procedure_testssSelection.length>0"
                [disabled]="procedure_testssSelectAll">
              </mat-checkbox>
              
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="procedure_testssSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #procedure_testssSelectAllMenu="matMenu">
    
    
                <button mat-menu-item
                        (click)="procedure_testssSelectAll=true;"
                        [disabled]="procedure_testssSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="procedure_testssSelectAll = false;"
                        [disabled]="!procedure_testssSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(procedure_testssSelection,row) : null"
                            [checked]="tcUtilsArray.contains(procedure_testssSelection,row) || procedure_testssSelectAll"
                            [disabled]="procedure_testssSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                          <a [routerLink]="procedure_testsNavigator.procedure_testsUrl(element.id)"
                             class="tc-link">{{element.id}}</a>

                      </mat-cell>
                    </ng-container>

          <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','type')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="code">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','code')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="amount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','amount')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
                             </ng-container>
                          

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('procedure_testss') || tcAuthorization.canDelete('procedure_testss')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editProcedure_Tests(element)" *ngIf="tcAuthorization.canUpdate('procedure_testss') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteProcedure_Tests(element)" *ngIf="tcAuthorization.canDelete('procedure_testss')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="procedure_testssDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: procedure_testssDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedure_testssSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="procedure_testssTotalCount"
                       [ngStyle]="{display: procedure_testssTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>


