<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="pathologyResultDetail">
                      
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput rows="2"  placeholder="clinical_finding" [disabled]="showResult" type="text"  [(ngModel)]="pathologyResultDetail.clinical_finding" required>
                              </textarea>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput rows="4"  placeholder="gross_examination" [disabled]="showResult" type="text"  [(ngModel)]="pathologyResultDetail.gross_examination" required>
                              </textarea>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput rows="10"  placeholder="microscopic_evaluation" [disabled]="showResult" type="text"  [(ngModel)]="pathologyResultDetail.microscopic_evaluation" required>
                              </textarea>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput rows="2"  placeholder="conclusion" type="text" [disabled]="showResult"  [(ngModel)]="pathologyResultDetail.conclusion" required>
                              </textarea>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput rows="2"  placeholder="comment" type="text" [disabled]="showResult" [(ngModel)]="pathologyResultDetail.comment" required>
                                  </textarea>
                          </mat-form-field> </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial *ngIf="!showResult">
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
