<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
    allergy_form  </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchAllergyForm();" *ngIf="tcAuthorization.canRead('allergy_forms')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addAllergyForm();" *ngIf="tcAuthorization.canCreate('allergy_forms') && form_encounterPersist.encounter_is_active" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
        <mat-slide-toggle
      matInput
      labelPosition="before"
      class="tc-form-toggle" (change)="handleToggle($event)"
      required
      [checked]="false"
    >
      {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>
    <mat-spinner diameter="50" *ngIf="allergyFormIsLoading" class="tc-padding"></mat-spinner>

        <div class="tc-padding">    
        <mat-form-field>
            <input matInput [formControl]="allergyFormSearchTextBox"
            placeholder="{{appTranslation.getText('general','search_text')}}">
            <button mat-button *ngIf="allergyFormSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="allergyFormSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <div class="tc-table-container tc-full-stretch">  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let allergyForm of allergyFormsData" class="tc-card">
        <mat-card-header>
        <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('allergy_forms') || tcAuthorization.canDelete('allergy_forms')) && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editAllergyForm(allergyForm)" *ngIf="tcAuthorization.canUpdate('allergy_forms')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteAllergyForm(allergyForm)" *ngIf="tcAuthorization.canDelete('allergy_forms')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
            </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
<div class="tc-detail-field">
            <span>encounter_id</span>
            {{allergyForm.encounter_id}}
        </div><div class="tc-detail-field">
            <span>allergy_id</span>
            {{allergyForm.allergy_name}}
        </div><div class="tc-detail-field">
            <span>remark</span>
            {{allergyForm.remark}}
        </div>        
        </mat-card-content>
    </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="allergyFormSelection.length >0 || allergyFormSelectAll">
        <button mat-button (click)="downloadAllergyForms()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{allergyFormSelectAll ? allergyFormsTotalCount : allergyFormSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="allergyFormsData" matSort class="tc-hide-on-mobile">


        <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
        </ng-container>



        <ng-container matColumnDef="allergy_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>allergy_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.allergy_name}}</mat-cell>
        </ng-container>



        <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remark</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(allergyFormsData,allergyFormSelection) "
            [checked]=" tcUtilsArray.isAllSelected(allergyFormsData,allergyFormSelection) || allergyFormSelectAll"
            [indeterminate]="allergyFormSelection.length <allergyFormsData.length && allergyFormSelection.length>0"
            [disabled]="allergyFormSelectAll">
            </mat-checkbox>

            <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="allergyFormSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #allergyFormSelectAllMenu="matMenu">

            <button mat-menu-item (click)="allergyFormSelectAll=true;" [disabled]="allergyFormSelectAll">
                {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="allergyFormSelectAll = false;" [disabled]="!allergyFormSelectAll">
                {{appTranslation.getText("general", "none")}}
            </button>
            </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(allergyFormSelection,row) : null"
            [checked]="tcUtilsArray.contains(allergyFormSelection,row) || allergyFormSelectAll" [disabled]="allergyFormSelectAll">
            </mat-checkbox>
        </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('allergy_forms') || tcAuthorization.canDelete('allergy_forms'))&& form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
            <button mat-menu-item (click)="editAllergyForm(element)" *ngIf="tcAuthorization.canUpdate('allergy_forms') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteAllergyForm(element)" *ngIf="tcAuthorization.canDelete('allergy_forms')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
            </mat-menu>
        </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="allergyFormsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: allergyFormsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(allergyFormSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="allergyFormsTotalCount"
        [ngStyle]="{display: allergyFormsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>
</div>