<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-user-friends"></mat-icon>
    Groups
  </h3>
  <button mat-button (click)=" searchGroups();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addGroup();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding ">
  <mat-form-field>
    <input matInput [formControl]="groupsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="groupPersist.groupSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="groupsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="groupsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">

    <mat-toolbar *ngIf="groupsSelection.length >0">
      <button mat-button (click)="tcNotification.info('coming soon')">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="groupsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(groupsData,groupsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(groupsData,groupsSelection)"
            [indeterminate]="groupsSelection.length <groupsData.length && groupsSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(groupsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(groupsSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="groupNavigator.groupUrl(element.id)"
             class="tc-link">{{element.name}}</a>

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="members">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Members</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.items_count>0">  {{element.items_count}}</span>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editGroup(element)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteGroup(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="groupsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: groupsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(groupsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="groupsTotalCount"></mat-paginator>
  </div>
</div>

