

<mat-toolbar class="tc-toolbar-secondary" *ngIf= "self">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check-double"></mat-icon>
    Patient Visit Form
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)="reload()" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>

    <button
      mat-button
      *ngIf="tcAuthorization.canCreate('appointments') && form_encounterPersist.encounter_is_active"
      (click)="createFutureAppointment()"
      class="tc-link"
    >
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      <span>appoint</span>
    </button>

    <!-- <button
      mat-button
      *ngIf="tcAuthorization.canCreate('lab_orders')"
      (click)="addLab()"
      class="tc-link"
    >
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      <span>Order Lab</span>
    </button> -->

    <button
      mat-button
      *ngIf="tcAuthorization.canCreate('admission_forms')  && form_encounterPersist.encounter_is_active && (form_encounterDetail.service_type == serviceType.outpatient || form_encounterDetail.service_type == serviceType.emergency)"
      (click)="admitPatient()"
      class="tc-link"
    >
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      <span>Admit Patient</span>
    </button>

    <button
    mat-button
    *ngIf="tcAuthorization.canRead('form_encounters')  && form_encounterPersist.encounter_is_active && (form_encounterDetail.service_type == serviceType.emergency)"
    (click)="emergency_observation()"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    <span>Observe Patient</span>
  </button>

  <button
      mat-button
      *ngIf="tcAuthorization.canUpdate('form_encounters')  && form_encounterPersist.encounter_is_active && form_encounterDetail.service_type == serviceType.outpatient"
      (click)="emergency_observation()"
      class="tc-link"
    >
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      <span>Transfer To Emergency</span>
    </button>

    <button
      mat-button
      *ngIf="canImport()"
      (click)="importEncounter()"
      class="tc-link"
    >
      <mat-icon fontSet="fa" fontIcon="fa-download"></mat-icon>
      <span>Import</span>
    </button>

    <button
      mat-button
      *ngIf="tcAuthorization.canRead('form_encounters')  && form_encounterPersist.encounter_is_active"
      (click)="closeEncounter()"
      class="tc-link"
    >
      Close
    </button>
    <div
            class="deposit-remaining"
            *ngIf="form_encounterDetail.service_type == serviceType.inpatient  && form_encounterPersist.encounter_is_active"
            [style.borderColor]="remaining_deposit < 0 ? 'red' : 'white'" 
          >
            <span>Remaining</span>
            <p>{{remaining_deposit}} Birr</p>
        </div>


</mat-toolbar>
<div *ngIf="!form_encounterLoading">
<div class="tc-flex-row tc-padding">
  <div style="flex: 1; margin-right: 8px" *ngIf="self">
      <mat-accordion>
          <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      {{ appTranslation.getText("general", "overview") }}
                  </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngIf="form_encounterDetail">
                <p class="tc-detail-field">
                  <span>Profile Pic</span>
                  <p-avatar
                    [(image)]="profileUrl"
                    abel="P"
                    shape="circle"
                    size="xlarge"
                  ></p-avatar>
                </p>
                <p class="tc-detail-field">
                  <span> {{ appTranslation.getText("general", "name") }} </span>
                  {{ form_encounterDetail?.full_name }}
                </p>
                <p class="tc-detail-field">
                  <span>Birth Date </span>
                  {{ tcUtilsDate.toDate(form_encounterDetail.birth_date) | date }}
                </p>
                <p class="tc-detail-field">
                  <span>Age </span>
                  {{ patientAge }}
                </p>
    
                <p class="tc-detail-field">
                  <span>{{ appTranslation.getText("general", "reason") }} </span>
                  {{ form_encounterDetail.reason }}
                </p>
                <p class="tc-detail-field">
                  <span>Informant </span>
                  {{ form_encounterDetail.informant }}
                </p>
                <p class="tc-detail-field">
                  <span>{{ appTranslation.getText("patient", "provider") }}</span>
                  {{ form_encounterDetail?.provider_name }}
                </p>


              </div>

          </mat-expansion-panel>
      </mat-accordion>
  </div>
  <div style="flex: 3; gap: 8px" class="tc-flex-column">
   



    <!-- <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> patient history </mat-panel-title> -->
        <!-- </mat-expansion-panel-header> -->
        <app-patient-history-edit-list *ngIf="form_encounterDetail.id"
          [encounterId]="form_encounterDetail.id"
          #result
        ></app-patient-history-edit-list>
      <!-- </mat-expansion-panel>
    </mat-accordion> -->
          
  </div>
</div>
</div>




