
    
            <div class="tc-loading" *ngIf="operationNoteIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==OperationNoteTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                    
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!operationNoteIsLoading">  <p class="tc-detail-field">
                             <span> {{appTranslation.getText('patient', 'patient')}} </span> 
                             <a [routerLink]="patientNavigator.patientUrl(operationNoteDetail.patient_id)" class="tc-link">{{operationNoteDetail.patient_name}}</a>   </p>
                            <p class="tc-detail-field">
                             <span>  {{appTranslation.getText('general', 'date')}} </span> 
                             {{tcUtilsDate.toDate(operationNoteDetail.date)|date:'MMM dd, yyyy. h:mm a'}}                      
                            </p>

                            <p class="tc-detail-field">
                              <span>  mrn </span> 
                              {{patient_detail.pid}}                      
                            </p>

                              <p class="tc-detail-field">
                                <span>  age </span> 
                                {{calculateAge(patient_detail.dob)}}                      
                              </p>

                                <p class="tc-detail-field">
                                  <span>  Gender </span> 
                                  {{patient_detail.sex ? "Male": "Female"}}                      
                                </p>
                            
                             <p class="tc-detail-field">
                                <span> procedure  </span> 
                                {{operationNoteDetail.surgery_type_name}}                  
                              </p>

                              <p class="tc-detail-field">
                                <span> pre op Diagnosis  </span> 
                                {{operationNoteDetail.pre_op_diagnosis}}                  
                              </p>
                                
                           </div>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        <!-- {{appTranslation.getText("general","basicdetails")}} -->
                                        surgery note
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div *ngIf="!operationNoteIsLoading">
                                    <div class="tc-detail-field">
                                        <span>Surgeons</span>
                                        <div style="display:flex; flex-wrap: wrap;">
                                            <!-- <p style="flex-basis: content;" *ngFor="let surgeon of operationNoteDetail.surgeonsDetail; index as i;">
                                            <a [routerLink]="doctorNavigator.doctorUrl(surgeon.id)" class="tc-link">{{surgeon.first_name}} {{surgeon.last_name}}</a>
                                            <span *ngIf="i != operationNoteDetail.surgeonsDetail.length - 1">, &nbsp;</span>
                                            </p> -->
                                            <p style="flex-basis: content;"> {{operationNoteDetail.surgeons}}</p>
                                        </div>
                                        </div>
                                        <div class="tc-detail-field">
                                          <span>Procedures</span>
                                          <ul style="margin: 0;">
                                              <li style="flex-basis: content;" *ngFor="let procedure of operationNoteDetail.proceduresDone;">
                                              {{procedure.name}}
                                              </li>
                                            </ul>
                                          </div>
                                    <p class="tc-detail-field">
                                        <span>{{appTranslation.getText('patient', 'pre_op_diagnosis')}}   </span> 
                                        {{operationNoteDetail.indecation_for_operation}}   </p>
                                        <p class="tc-detail-field">
                                          <span>Incisoin   </span> 
                                          {{operationNoteDetail.incisoin}}   </p>
                                       
                                       <p class="tc-detail-field">
                                        <span> {{appTranslation.getText('patient', 'intra_op_finidings')}} </span> 
                                        {{operationNoteDetail.operation_procedure_findings}}                   </p>
                                        <p class="tc-detail-field">
                                          <span>procedure done   </span> 
                                          {{operationNoteDetail.procedure_done}}   </p>
                                       <p class="tc-detail-field">
                                        <span> {{appTranslation.getText('patient', 'complication_during_operation')}}  </span> 
                                        {{operationNoteDetail.complication_during_operation}}                  </p>  
                                        <p class="tc-detail-field">
                                        <span>Drains   </span> 
                                        {{operationNoteDetail.drains}}   </p>
                                        <p class="tc-detail-field">
                                        <span>closure   </span> 
                                        {{operationNoteDetail.closure}}   </p>
                                        <p class="tc-detail-field">
                                        <span>specimens sent for investigation   </span> 
                                        {{operationNoteDetail.specimens_sent_for_investigation}}   </p>
                                        <p class="tc-detail-field">
                                        <span>estimated blood loss   </span> 
                                        {{operationNoteDetail.estimated_blood_loss}}   </p>
                                        <p class="tc-detail-field">
                                        <span>post op diagnosis   </span> 
                                        {{operationNoteDetail.post_op_diagnosis}}   </p>
                                        <p class="tc-detail-field">
                                        <span>post op order   </span> 
                                        {{operationNoteDetail.post_op_order}}   </p>

                                    </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editOperationNote(surgeryNoteWriters.surgeon)" *ngIf="tcAuthorization.canUpdate('operation_notes') ">
                                         {{appTranslation.getText("general", operationNoteDetail.indecation_for_operation?"edit":"add")}}
                                       </button>
                                     </mat-action-row>         
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
                </div>
                <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                              <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    {{appTranslation.getText('patient', 'assistant_notes')}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngIf="!operationNoteIsLoading">
                                <div class="tc-detail-field">
                                    <span>Assistants</span>
                                    <div style="display:flex; flex-wrap: wrap;">
                                        <!-- <p style="flex-basis: content;" *ngFor="let surgeon of operationNoteDetail.assistantsDetail; index as i;">
                                        <a [routerLink]="doctorNavigator.doctorUrl(surgeon.id)" class="tc-link">{{surgeon.first_name}} {{surgeon.last_name}}</a>
                                        <span *ngIf="i != operationNoteDetail.assistantsDetail.length - 1">, &nbsp;</span>
                                        </p> -->
                                        <p style="flex-basis: content;"> {{operationNoteDetail.assistants}}</p>
                                    </div>
                                    </div>
                                <p class="tc-detail-field">
                                    <span>assistance note   </span> 
                                    {{operationNoteDetail.assistant_note}}   </p>

                                </div>
                                <mat-action-row>
                                   <button mat-button (click)="editOperationNote(surgeryNoteWriters.assistant)" *ngIf="tcAuthorization.canUpdate('operation_notes') ">
                                     {{appTranslation.getText("general", operationNoteDetail.assistant_note?"edit":"add")}}
                                   </button>
                                 </mat-action-row>
                                  </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                              <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    {{appTranslation.getText('patient', 'anesthesist_notes')}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngIf="!operationNoteIsLoading">
                                <div class="tc-detail-field">
                                    <span>Anaesthetists</span>
                                    <div style="display:flex; flex-wrap: wrap;">
                                        <!-- <p style="flex-basis: content;" *ngFor="let surgeon of operationNoteDetail.anaesthetistsDetail; index as i;">
                                        <a [routerLink]="doctorNavigator.doctorUrl(surgeon.id)" class="tc-link">{{surgeon.first_name}} {{surgeon.last_name}}</a>
                                        <span *ngIf="i != operationNoteDetail.anaesthetistsDetail.length - 1">, &nbsp;</span>
                                        </p> -->
                                        <p style="flex-basis: content;"> {{operationNoteDetail.anaesthetists}}</p>
                                    </div>
                                    </div>
                                <p class="tc-detail-field">
                                    <span>anaesthetists note   </span> 
                                    {{operationNoteDetail.anesthesis_note}}   </p>
                                </div>
                                <mat-action-row>
                                   <button mat-button (click)="editOperationNote(surgeryNoteWriters.anesthesis)" *ngIf="tcAuthorization.canUpdate('operation_notes') ">
                                     {{appTranslation.getText("general", operationNoteDetail.anesthesis_note?"edit":"add")}}
                                   </button>
                                 </mat-action-row>
                                  </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                </div>
                <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                              <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    {{appTranslation.getText('patient', 'scrub_notes')}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <!-- <div *ngIf="!operationNoteIsLoading"> -->
                                <!-- <div class="tc-detail-field"> -->
                                    <!-- <span>Nurses</span>
                                    <div style="display:flex; flex-wrap: wrap;">
                                        <p style="flex-basis: content;" *ngFor="let surgeon of operationNoteDetail.nursesDetail; index as i;">
                                        <a [routerLink]="doctorNavigator.doctorUrl(surgeon.id)" class="tc-link">{{surgeon.first_name}} {{surgeon.last_name}}</a>
                                        <span *ngIf="i != operationNoteDetail.nursesDetail.length - 1">, &nbsp;</span>
                                        </p>
                                    </div>
                                    </div>
                                <p class="tc-detail-field">        
                                    <span>scrub note   </span> 
                                    {{operationNoteDetail.scrub_note}}   </p>
                                </div> -->
                                <app-prescription-list *ngIf="operationNoteDetail.encounter_id" [is_surgery]="true" [encounterId]="operationNoteDetail.encounter_id"></app-prescription-list>
                                <mat-action-row>
                                   <button mat-button (click)="addPrescription()" *ngIf="tcAuthorization.canUpdate('operation_notes') ">
                                     {{appTranslation.getText("general", operationNoteDetail.scrub_note?"edit":"add")}}
                                   </button>
                                 </mat-action-row>
                                  </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                  <div class="tc-padding">
                      <mat-accordion>
                            <mat-expansion-panel expanded="true">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Runner Nurses
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <div *ngIf="!operationNoteIsLoading">
                              <div class="tc-detail-field">
                                  <span>Runner Nurses</span>
                                  <div style="display:flex; flex-wrap: wrap;">
                                      <!-- <p style="flex-basis: content;" *ngFor="let surgeon of operationNoteDetail.runner_nurseDetail; index as i;">
                                      <a [routerLink]="doctorNavigator.doctorUrl(surgeon.id)" class="tc-link">{{surgeon.first_name}} {{surgeon.last_name}}</a>
                                      <span *ngIf="i != operationNoteDetail.runner_nurseDetail.length - 1">, &nbsp;</span>
                                      </p> -->
                                      <p style="flex-basis: content;"> {{operationNoteDetail.runner_nurses}}</p>
                                  </div>
                                  </div>
                              <p class="tc-detail-field">        
                                  <span>runner nurse note   </span> 
                                  {{operationNoteDetail.runner_nurse_note}}   </p>
                              </div>
                              <mat-action-row>
                                 <button mat-button (click)="editOperationNote(surgeryNoteWriters.runner_nurse)" *ngIf="tcAuthorization.canUpdate('operation_notes') ">
                                   {{appTranslation.getText("general", operationNoteDetail.runner_nurse_note?"edit":"add")}}
                                 </button>
                               </mat-action-row>
                                </mat-expansion-panel>
                      </mat-accordion>
                  </div>
              </div>
    
            </div>
    
    
    