<h1 mat-dialog-title>
    item_category Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="itemCategorySearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="itemCategoryPersist.itemCategorySearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemCategorySearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="itemCategoryIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="itemCategorysData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(itemCategorysData,itemCategorySelection) "
            [checked]=" tcUtilsArray.isAllSelected(itemCategorysData,itemCategorySelection) || itemCategorySelectAll"
            [indeterminate]="itemCategorySelection.length <itemCategorysData.length && itemCategorySelection.length>0"
            [disabled]="itemCategorySelectAll"
            *ngIf="!data.selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="itemCategorySelection.length >0 && !data.selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{itemCategorySelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="itemCategorySelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">
  
            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemCategorySelectAllMenu"></mat-icon>
          </button>
          <mat-menu #itemCategorySelectAllMenu="matMenu">

            <button mat-menu-item (click)="itemCategorySelectAll=true;" [disabled]="itemCategorySelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="itemCategorySelectAll = false;" [disabled]="!itemCategorySelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(itemCategorySelection,row) : null"
            [checked]="tcUtilsArray.contains(itemCategorySelection,row)" *ngIf="!data.selectOne" [disabled]="itemCategorySelectAll">
          </mat-checkbox>
          <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(itemCategorySelection,row)"
                                    *ngIf="data.selectOne">
            </mat-checkbox>
        </mat-cell>
      </ng-container>  
      <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header>category
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(itemCategoryPersist.category, element.category)?.name}}</mat-cell>
          </ng-container>
  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <!-- <ng-container matColumnDef="abbrivation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>abbrivation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.abbrivation}}</mat-cell>
      </ng-container> -->
  <mat-header-row *matHeaderRowDef="itemCategorysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: itemCategorysDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemCategorySelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemCategorysTotalCount"
      [ngStyle]="{display: itemCategorysTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" itemCategorySelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>