<div *ngIf="tcAuthorization.canRead('patients')">
  <div *ngIf="isPatientDashBoardLoading">
    <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
  </div>

  <div class="tc-flex-row">
    <div class="tc-equal-block">
      <div *ngIf="isPatientDashBoardLoading">
        <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
      </div>
      <div class="box-card">
        <div class="tc-flex-row">
          <div class="total">
            <h1>{{itemTypes[3]?.value}}</h1>
            <h2>Total number of items</h2>
          </div>
        </div>
        <div class="tc-flex-row">
          <div class="tc-equal-block">
            <div class="sub-totals">
              <h2>{{itemTypes[0]?.value}}</h2>
              <p>Drug</p>
              <p>{{itemPercentageCalculator(itemTypes[0]?.value, itemTypes[1]?.value ,itemTypes[2]?.value)[0]}}%</p>
            </div>
          </div>
          <div class="tc-equal-block">
            <div class="sub-totals">
              <h2>{{itemTypes[1]?.value}}</h2>
              <p>Consumable</p>
              <p>{{itemPercentageCalculator(itemTypes[0]?.value, itemTypes[1]?.value,itemTypes[2]?.value)[1]}}%</p>
            </div>
          </div>
          <div class="tc-equal-block">
            <div class="sub-totals">
              <h2>{{itemTypes[2]?.value}}</h2>
              <p>Equipment</p>
              <p>{{itemPercentageCalculator(itemTypes[0]?.value, itemTypes[2]?.value,itemTypes[2]?.value)[2]}}%</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tc-equal-block">
      <div class="cases">

        <div class="tc-flex-row">
          <div class="tc-equal-block">
            <div *ngIf="isPatientDashBoardLoading">
              <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
            </div>
            <h1 class="mat-h1 num"> {{appTranslation.getText("inventory", "inventory")}}
              <button mat-button class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-sitemap"></mat-icon>
              </button>
            </h1>
            <div class="sub-totals">
              <h1>{{itemsToReorder[0]?.value}}</h1>
              <p id="p">{{itemsToReorder[0]?.name}}</p>
            </div>
          </div>
          <div class="tc-equal-block">
            <h1 class="mat-h1 num" id="hide"> {{appTranslation.getText("inventory", "inventory")}}
              <button mat-button class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-bars" id="hide"></mat-icon>
              </button>
            </h1>
            <div class="sub-totals">
              <h1>{{itemsAboutToExpire[0]?.value}}</h1>
              <p id="p">{{itemsAboutToExpire[0]?.name}}</p>
            </div>
          </div>
          <div class="tc-equal-block">
            <h1 class="mat-h1 num" id="hide"> {{appTranslation.getText("inventory", "inventory")}}
              <button mat-button class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-bars" id="hide"></mat-icon>
              </button>
            </h1>
            <div class="sub-totals">
              <h1>{{itemsExpired[0]?.value}}</h1>
              <p id="p">{{itemsExpired[0]?.name}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
    <div class="cases">
      <h1 class="mat-h1">Out of Stock Items
        <button mat-button (click)="reloadCases()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      </h1>
      <mat-accordion>
        <mat-expansion-panel expanded="true" class="border">
          <mat-expansion-panel-header class="header">
            <mat-panel-title>
              {{ appTranslation.getText("inventory", "items") }}
            </mat-panel-title>
          </mat-expansion-panel-header>

              <mat-spinner diameter="50" *ngIf="prescriptionssLoading" class="tc-padding"></mat-spinner>
              <mat-form-field>
                <input
                  matInput
                  [formControl]="itemsSearchTextBox"
                  placeholder="{{ appTranslation.getText('general', 'search_text') }} "
                />
                <button
                  mat-button
                  *ngIf="itemPersist.itemSearchText"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="itemsSearchTextBox.setValue('')"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <!-- <mat-form-field>
                <mat-select
                  placeholder='{{ appTranslation.getText("inventory", "item_type") }}'
                  [(value)]="itemPersist.item_typeId"
                  (valueChange)="searchItems()"
                >
                  <mat-option
                    *ngFor="let etype of itemPersist.item_type"
                    [value]="etype.id"
                  >
                    {{ appTranslation.getText("inventory", etype.name) }}
                  </mat-option>
                </mat-select> -->
                <!-- <button
                  mat-button
                  *ngIf="itemPersist.item_typeId != -1"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="
                    itemPersist.item_typeId = -1;
                    searchItems();
                    $event.stopPropagation()
                  "
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field> -->

              <div class="tc-loading" *ngIf="itemsIsLoading">
                <mat-spinner></mat-spinner>
              </div>

              <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
                <mat-card *ngFor="let item of itemsData" class="tc-card">
                  <mat-card-header>
                    <mat-card-title>
                      <button
                        mat-icon-button
                        [matMenuTriggerFor]="elementMenu"
                      >
                        <i class="material-icons">more_vert</i>
                      </button>
                      <mat-menu #elementMenu="matMenu">

                      </mat-menu>
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="tc-detail-field">
                      <span>{{ appTranslation.getText("general", "name") }}</span>
                      {{ item.name }}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{ appTranslation.getText("inventory", "item_type") }}</span>
                      {{
                      appTranslation.getText(
                        "inventory",
                        tcUtilsArray.getEnum(itemPersist.item_type, item.item_type).name
                      )
                      }}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{ appTranslation.getText("inventory", "item_code") }}</span>
                      {{ item.item_code }}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{ appTranslation.getText("inventory", "quantity") }}</span>
                      {{ item.quantity | number }}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText('inventory', 'reorder_point')}}</span>
                      {{item.reorder_point}}
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>

              <div class="tc-table-container tc-full-width">
                <mat-toolbar *ngIf="itemsSelection.length > 0 || itemsSelectAll">
                  <button mat-button (click)="downloadItems()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{ appTranslation.getText("general", "download") }} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span
                  >{{ itemsSelectAll ? itemsTotalCount : itemsSelection.length }}
                    {{ appTranslation.getText("general", "selected") }}</span
                  >
                </mat-toolbar>

                <mat-table [dataSource]="itemsData" matSort class="tc-hide-on-mobile">
                  <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                      <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="tcUtilsArray.toggleSelectAll(itemsData, itemsSelection)"
                        [checked]="
                          tcUtilsArray.isAllSelected(itemsData, itemsSelection) ||
                          itemsSelectAll
                        "
                        [indeterminate]="
                          itemsSelection.length < itemsData.length &&
                          itemsSelection.length > 0
                        "
                        [disabled]="itemsSelectAll"
                      >
                      </mat-checkbox>

                      <button mat-icon-button>
                        <mat-icon
                          fontSet="fa"
                          fontIcon="fa-caret-down"
                          [matMenuTriggerFor]="itemsSelectAllMenu"
                        ></mat-icon>
                      </button>
                      <mat-menu #itemsSelectAllMenu="matMenu">
                        <button
                          mat-menu-item
                          (click)="itemsSelectAll = true"
                          [disabled]="itemsSelectAll"
                        >
                          {{ appTranslation.getText("general", "all") }}
                        </button>
                        <button
                          mat-menu-item
                          (click)="itemsSelectAll = false"
                          [disabled]="!itemsSelectAll"
                        >
                          {{ appTranslation.getText("general", "none") }}
                        </button>
                      </mat-menu>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="tc-column-selection">
                      <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="
                          $event ? tcUtilsArray.toggleSelection(itemsSelection, row) : null
                        "
                        [checked]="
                          tcUtilsArray.contains(itemsSelection, row) || itemsSelectAll
                        "
                        [disabled]="itemsSelectAll"
                      >
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="link">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Link
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let element">
                      <a [routerLink]="itemNavigator.itemUrl(element.id)" class="tc-link">{{
                        element.id
                        }}</a>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                      appTranslation.getText("general", "name")
                      }}</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="item_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                      appTranslation.getText("inventory", "item_type")
                      }}</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      appTranslation.getText(
                        "inventory",
                        tcUtilsArray.getEnum(itemPersist.item_type, element.item_type).name
                      )
                      }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="item_code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                      appTranslation.getText("inventory", "item_code")
                      }}</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.item_code }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                      appTranslation.getText("inventory", "quantity")
                      }}</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.quantity | number }}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="reorder_point">
                    <mat-header-cell *matHeaderCellDef
                                    mat-sort-header>{{appTranslation.getText('inventory', 'reorder_point')}}</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.reorder_point}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <mat-header-cell
                      *matHeaderCellDef
                      class="tc-column-action"
                    ></mat-header-cell>
                    <mat-cell *matCellDef="let element" class="tc-column-action">
                      <button
                        mat-flat-button
                        [matMenuTriggerFor]="elementMenu"
                      >
                        <i class="material-icons">more_vert</i>
                      </button>
                      <mat-menu #elementMenu="matMenu">

                      </mat-menu>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="itemsDisplayedColumns; sticky: true"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: itemsDisplayedColumns"
                    [ngClass]="{
                      'tc-selected-row': tcUtilsArray.contains(itemsSelection, row)
                    }"
                  ></mat-row>
                </mat-table>

                <mat-paginator
                  [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
                  showFirstLastButtons
                  [pageSize]="tcUtilsArray.defaultPageSize"
                  [length]="itemsTotalCount"
                  [ngStyle]="{ display: itemsTotalCount > 0 ? '' : 'none' }"
                ></mat-paginator>
              </div>



        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div class="cases">
          <h1 class="mat-h1">{{appTranslation.getText("patient", "prescription")}}
          <button mat-button (click)="reloadCases()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <mat-accordion>
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                Ordered Prescription
              </mat-panel-title>

            </mat-expansion-panel-header>


                <mat-spinner diameter="50" *ngIf="prescriptionssLoading" class="tc-padding"></mat-spinner>

              <div class="tc-padding" style="padding-left: 10px;padding-right: 10px;">
                <div class="tc-padding" [ngStyle]="{display: prescriptionssLoading? 'none':''}">
                  <mat-form-field>
                    <input matInput [formControl]="prescriptionssSearchTextBox"
                      placeholder="{{appTranslation.getText('general','search_text')}}">
                    <button mat-button *ngIf="prescriptionssSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="prescriptionssSearchTextBox.setValue('')">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>

                  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
                    <mat-card *ngFor="let prescriptions of prescriptionssData" class="tc-card">
                      <mat-card-header>
                        <mat-card-title>
                          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                            *ngIf="tcAuthorization.canUpdate('prescriptions') || tcAuthorization.canDelete('prescriptions')">
                            <i class="material-icons">more_vert</i>
                          </button>
                          <mat-menu #elementMenu="matMenu">

                            <button mat-menu-item (click)="acceptPrescriptionOrder(prescriptions)"
                              *ngIf="tcAuthorization.canUpdate('prescriptions')">
                              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                              <span>Accept Order</span>
                            </button>
                            <button mat-menu-item (click)="voidPrescriptionOrder(prescriptions)"
                              *ngIf="tcAuthorization.canDelete('prescriptions')">
                              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                              <span>Void Order </span>
                            </button>
                            <button mat-menu-item (click)="dispensePrescriptionOrder(prescriptions)"
                            *ngIf="tcAuthorization.canDelete('prescriptions')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>Dispense Order </span>
                          </button>
                          </mat-menu>
                        </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'drug')}}</span>
                          {{prescriptions.drug}}
                        </div>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'date_added')}}</span>
                          {{prescriptions.date_added}}
                        </div>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'date_modified')}}</span>
                          {{prescriptions.date_modified}}
                        </div>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'patient')}}</span>
                          {{prescriptions.patient_id}}
                        </div>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'visits')}}</span>
                          {{prescriptions.encounter}}
                        </div>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'provider')}}</span>
                          {{prescriptions.provider_id}}
                        </div>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'note')}}</span>
                          {{prescriptions.note}}
                        </div>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'in_patient')}}</span>
                        </div>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'in_patient')}}</span>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                  <div class="tc-table-container tc-full-stretch">

                    <mat-toolbar *ngIf="prescriptionssSelection.length >0 || prescriptionssSelectAll">
                      <button mat-button (click)="downloadPrescriptionss()">
                        <mat-icon>save_alt</mat-icon>
                        <span>{{appTranslation.getText("general", "download")}} </span>
                      </button>
                      <div class="tc-flex-fill"></div>
                      <span>{{prescriptionssSelectAll ? prescriptionssTotalCount : prescriptionssSelection.length}}
                        {{appTranslation.getText("general", "selected")}}</span>
                    </mat-toolbar>

                    <mat-table [dataSource]="prescriptionssData" matSort class="tc-hide-on-mobile">

                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)=" tcUtilsArray.toggleSelectAll(prescriptionssData,prescriptionssSelection) "
                            [checked]=" tcUtilsArray.isAllSelected(prescriptionssData,prescriptionssSelection) || prescriptionssSelectAll"
                            [indeterminate]="prescriptionssSelection.length <prescriptionssData.length && prescriptionssSelection.length>0"
                            [disabled]="prescriptionssSelectAll">
                          </mat-checkbox>

                          <button mat-icon-button>
                            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="prescriptionssSelectAllMenu">
                            </mat-icon>
                          </button>
                          <mat-menu #prescriptionssSelectAllMenu="matMenu">


                            <button mat-menu-item (click)="prescriptionssSelectAll=true;" [disabled]="prescriptionssSelectAll">
                              {{appTranslation.getText("general", "all")}}
                            </button>
                            <button mat-menu-item (click)="prescriptionssSelectAll = false;"
                              [disabled]="!prescriptionssSelectAll">
                              {{appTranslation.getText("general", "none")}}
                            </button>
                          </mat-menu>

                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="tc-column-selection">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(prescriptionssSelection,row) : null"
                            [checked]="tcUtilsArray.contains(prescriptionssSelection,row) || prescriptionssSelectAll"
                            [disabled]="prescriptionssSelectAll">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="link">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a class="tc-link">{{element.id}}</a>

                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="drug">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'drug')}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.drug}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="form">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'drug_form')}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{
                          appTranslation.getText(
                          "patient",
                          tcUtilsArray.getEnum(form_encounterPersist.drug_form, element.form)?.name
                          )
                          }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="date_added">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'date_added')}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.date_added}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="date_modified">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
                          'date_modified')}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.date_modified}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','quantity')}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="unit">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','units')}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{
                          appTranslation.getText(
                          "patient",
                          tcUtilsArray.getEnum(form_encounterPersist.drug_unit, element.unit)?.name
                          )
                          }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="note">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'note')}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.note}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="in_patient">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'in_patient')}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.in_patient}}</mat-cell>
                      </ng-container>


                      <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                        <mat-cell *matCellDef="let element" class="tc-column-action">
                          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                            >
                            <i class="material-icons">more_vert</i>
                          </button>
                          <mat-menu #elementMenu="matMenu">
                            <button mat-menu-item (click)="acceptPrescriptionOrder(element)"
                            >
                            <mat-icon fontSet="fa" fontIcon="fa-forward"></mat-icon>
                            <span>Accept Order</span>
                          </button>
                          <button mat-menu-item (click)="voidPrescriptionOrder(element)"
                            >
                            <mat-icon>close</mat-icon>
                            <span>Void Order </span>
                          </button>
                          <button mat-menu-item (click)="dispensePrescriptionOrder(element)"
                          >
                          <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
                          <span>Dispense Order </span>
                        </button>
                          </mat-menu>
                        </mat-cell>
                      </ng-container>


                      <mat-header-row *matHeaderRowDef="prescriptionssDisplayedColumns; sticky: true; "></mat-header-row>
                      <mat-row *matRowDef="let row; columns: prescriptionssDisplayedColumns;"
                        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(prescriptionssSelection,row)}"></mat-row>

                    </mat-table>
                    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                      [pageSize]="tcUtilsArray.defaultPageSize" [length]="prescriptionssTotalCount"
                      [ngStyle]="{display: prescriptionssTotalCount > 0? '':'none'}">
                    </mat-paginator>
                  </div>
                </div>
              </div>


          </mat-expansion-panel>
        </mat-accordion>
    </div>

</div>
