<div class="tc-equal-block">
    <div class="tc-padding">
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ appTranslation.getText("bed", "plan_of_care") }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button
            mat-button
            (click)="addPatient_Record(encounterId)"
            *ngIf="tcAuthorization.canCreate('patient_records')"
            class="tc-link"
          >
            <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
          </button>

          <div class="tc-padding">
            <mat-form-field>
              <input
                matInput
                [formControl]="patient_recordsSearchTextBox"
                placeholder="{{
                  appTranslation.getText('general', 'search_text')
                }} "
              />
              <button
                mat-button
                *ngIf="patient_recordPersist.patient_recordSearchText"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="patient_recordsSearchTextBox.setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div class="tc-loading" *ngIf="patient_recordsIsLoading">
              <mat-spinner></mat-spinner>
            </div>

            <div
              class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet"
            >
              <mat-card
                *ngFor="let patient_record of patient_recordsData"
                class="tc-card"
              >
                <mat-card-header>
                  <mat-card-title>
                    <a
                      [routerLink]="
                        patient_recordNavigator.patient_recordUrl(
                          patient_record.id
                        )
                      "
                      class="tc-link"
                      >{{ patient_record.id }}</a
                    >
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="elementMenu"
                      *ngIf="
                        tcAuthorization.canUpdate('patient_records') ||
                        tcAuthorization.canDelete('patient_records')
                      "
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">
                      <button
                        mat-menu-item
                        (click)="editPatient_Record(patient_record)"
                        *ngIf="tcAuthorization.canUpdate('patient_records')"
                      >
                        <mat-icon
                          fontSet="fa"
                          fontIcon="fa-edit"
                        ></mat-icon>
                        <span
                          >{{ appTranslation.getText("general", "edit") }}
                        </span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="deletePatient_Record(patient_record)"
                        *ngIf="tcAuthorization.canDelete('patient_records')"
                      >
                        <mat-icon
                          fontSet="fa"
                          fontIcon="fa-trash"
                        ></mat-icon>
                        <span
                          >{{ appTranslation.getText("general", "delete") }}
                        </span>
                      </button>
                    </mat-menu>
                  </mat-card-title>
                  <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div class="tc-detail-field">
                    <span>record_date</span>
                    {{ patient_record.record_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
                  </div>
                  <div class="tc-detail-field">
                    <span>record</span>
                    {{ patient_record.record }}
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="tc-table-container tc-full-width">
              <mat-table
                [dataSource]="patient_recordsData"
                matSort
                class="tc-hide-on-mobile"
              >
                <ng-container matColumnDef="select">
                  <mat-header-cell
                    *matHeaderCellDef
                    class="tc-column-selection"
                  >
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="
                        tcUtilsArray.toggleSelectAll(
                          patient_recordsData,
                          patient_recordsSelection
                        )
                      "
                      [checked]="
                        tcUtilsArray.isAllSelected(
                          patient_recordsData,
                          patient_recordsSelection
                        ) || patient_recordsSelectAll
                      "
                      [indeterminate]="
                        patient_recordsSelection.length <
                          patient_recordsData.length &&
                        patient_recordsSelection.length > 0
                      "
                      [disabled]="patient_recordsSelectAll"
                    >
                    </mat-checkbox>

                    <button mat-icon-button>
                      <mat-icon
                        fontSet="fa"
                        fontIcon="fa-caret-down"
                        [matMenuTriggerFor]="patient_recordsSelectAllMenu"
                      ></mat-icon>
                    </button>
                    <mat-menu #patient_recordsSelectAllMenu="matMenu">
                      <button
                        mat-menu-item
                        (click)="patient_recordsSelectAll = true"
                        [disabled]="patient_recordsSelectAll"
                      >
                        {{ appTranslation.getText("general", "all") }}
                      </button>
                      <button
                        mat-menu-item
                        (click)="patient_recordsSelectAll = false"
                        [disabled]="!patient_recordsSelectAll"
                      >
                        {{ appTranslation.getText("general", "none") }}
                      </button>
                    </mat-menu>
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    class="tc-column-selection"
                  >
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="
                        $event
                          ? tcUtilsArray.toggleSelection(
                              patient_recordsSelection,
                              row
                            )
                          : null
                      "
                      [checked]="
                        tcUtilsArray.contains(
                          patient_recordsSelection,
                          row
                        ) || patient_recordsSelectAll
                      "
                      [disabled]="patient_recordsSelectAll"
                    >
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="link">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Link</mat-header-cell
                  >
                  <mat-cell *matCellDef="let element">
                    <a
                      [routerLink]="
                        patient_recordNavigator.patient_recordUrl(
                          element.id
                        )
                      "
                      class="tc-link"
                      >{{ element.id }}</a
                    >
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="record_date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >record_date</mat-header-cell
                  >
                  <mat-cell *matCellDef="let element">{{
                    element.record_date * 1000 | date
                  }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="record">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >record</mat-header-cell
                  >
                  <mat-cell *matCellDef="let element">{{
                    element.record
                  }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="encounter_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >encounter_id</mat-header-cell
                  >
                  <mat-cell *matCellDef="let element">{{
                    element.encounter_id
                  }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                  <mat-header-cell
                    *matHeaderCellDef
                    class="tc-column-action"
                  ></mat-header-cell>
                  <mat-cell
                    *matCellDef="let element"
                    class="tc-column-action"
                  >
                    <button
                      mat-flat-button
                      [matMenuTriggerFor]="elementMenu"
                      *ngIf="
                        tcAuthorization.canUpdate('patient_records') ||
                        tcAuthorization.canDelete('patient_records')
                      "
                    >
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">
                      <button
                        mat-menu-item
                        (click)="editPatient_Record(element)"
                        *ngIf="tcAuthorization.canUpdate('patient_records')"
                      >
                        <mat-icon
                          fontSet="fa"
                          fontIcon="fa-edit"
                        ></mat-icon>
                        <span
                          >{{ appTranslation.getText("general", "edit") }}
                        </span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="deletePatient_Record(element)"
                        *ngIf="tcAuthorization.canDelete('patient_records')"
                      >
                        <mat-icon
                          fontSet="fa"
                          fontIcon="fa-trash"
                        ></mat-icon>
                        <span
                          >{{ appTranslation.getText("general", "delete") }}
                        </span>
                      </button>
                    </mat-menu>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="
                    patient_recordsDisplayedColumns;
                    sticky: true
                  "
                ></mat-header-row>
                <mat-row
                  *matRowDef="
                    let row;
                    columns: patient_recordsDisplayedColumns
                  "
                  [ngClass]="{
                    'tc-selected-row': tcUtilsArray.contains(
                      patient_recordsSelection,
                      row
                    )
                  }"
                ></mat-row>
              </mat-table>

              <mat-paginator
                [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
                showFirstLastButtons
                [pageSize]="tcUtilsArray.defaultPageSize"
                [length]="patient_recordsTotalCount"
                [ngStyle]="{
                  display: patient_recordsTotalCount > 0 ? '' : 'none'
                }"
              ></mat-paginator>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>