<h1 mat-dialog-title>
  <mat-icon>search</mat-icon>
  Users
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="usersSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="userPersist.userSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="usersSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="usersIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="usersData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(usersData,usersSelection) "
            [checked]=" tcUtilsArray.isAllSelected(usersData,usersSelection)"
            [indeterminate]="usersSelection.length <usersData.length && usersSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(usersSelection,row) : null"
                        [checked]="tcUtilsArray.contains(usersSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>

          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(usersSelection,row)"
                        *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">
            {{element.name}}
            <span class="tc-column-sub-text">{{element.email}}</span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="disabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="!element.disabled">done</mat-icon>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sysadmin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sysadmin</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.sysadmin">done</mat-icon>
        </mat-cell>

      </ng-container>
      <ng-container matColumnDef="reg_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Reg. Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.reg_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="usersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: usersDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(usersSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="usersTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" usersSelection.length == 0 "
          cdkFocusInitial>
    Return Selection
  </button>
</div>
