<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-level-up-alt"></mat-icon>
    {{ appTranslation.getText("bed", "bed_room_level") }}
  </h3>
  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchBedroomlevels()"
    *ngIf="tcAuthorization.canRead('bed_room_levels')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addBedroomlevel()"
    *ngIf="tcAuthorization.canCreate('bed_room_levels')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="bedroomlevelsSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="bedroomlevelPersist.bedroomlevelSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="bedroomlevelsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="bedroomlevelsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let bedroomlevel of bedroomlevelsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('bed_room_levels') ||
              tcAuthorization.canDelete('bed_room_levels')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editBedroomlevel(bedroomlevel)"
              *ngIf="tcAuthorization.canUpdate('bed_room_levels')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteBedroomlevel(bedroomlevel)"
              *ngIf="tcAuthorization.canDelete('bed_room_levels')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "name") }}</span>
          {{ bedroomlevel.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("bed", "price_per_day") }}</span>
          {{ tcUtilsNumber.convertToDecimalPlaces(bedroomlevel.price_per_day) }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "remark") }}</span>
          {{ bedroomlevel.remark }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar
      *ngIf="bedroomlevelsSelection.length > 0 || bedroomlevelsSelectAll"
    >
      <button mat-button (click)="downloadBedroomlevels()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
        >{{
          bedroomlevelsSelectAll
            ? bedroomlevelsTotalCount
            : bedroomlevelsSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table
      [dataSource]="bedroomlevelsData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                bedroomlevelsData,
                bedroomlevelsSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                bedroomlevelsData,
                bedroomlevelsSelection
              ) || bedroomlevelsSelectAll
            "
            [indeterminate]="
              bedroomlevelsSelection.length < bedroomlevelsData.length &&
              bedroomlevelsSelection.length > 0
            "
            [disabled]="bedroomlevelsSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="bedroomlevelsSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #bedroomlevelsSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="bedroomlevelsSelectAll = true"
              [disabled]="bedroomlevelsSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="bedroomlevelsSelectAll = false"
              [disabled]="!bedroomlevelsSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(bedroomlevelsSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(bedroomlevelsSelection, row) ||
              bedroomlevelsSelectAll
            "
            [disabled]="bedroomlevelsSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price_per_day">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("bed", "price_per_day")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ tcUtilsNumber.convertToDecimalPlaces(element.price_per_day) }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="bedroomlevelNavigator.bedroomlevelUrl(element.id)"
            class="tc-link"
            >{{ element.id }}</a
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "name")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "remark")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.remark }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('bed_room_levels') ||
              tcAuthorization.canDelete('bed_room_levels')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editBedroomlevel(element)"
              *ngIf="tcAuthorization.canUpdate('bed_room_levels')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteBedroomlevel(element)"
              *ngIf="tcAuthorization.canDelete('bed_room_levels')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="bedroomlevelsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: bedroomlevelsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(bedroomlevelsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="bedroomlevelsTotalCount"
      [ngStyle]="{ display: bedroomlevelsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
