<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
        psychoterapy_progress_note
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPsychoterapy_progress_notes();"
        *ngIf="tcAuthorization.canRead('psychotherapy_progress_notes')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPsychoterapy_progress_note();"
        *ngIf="tcAuthorization.canCreate('psychotherapy_progress_notes')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patient_id">
    <mat-slide-toggle
      matInput
      labelPosition="before"
      class="tc-form-toggle" (change)="handleToggle($event)"
      required
      [checked]="false"
    >
      {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
  </h1>
</mat-toolbar>
<div class="tc-padding">
    <mat-form-field>
        <input matInput [formControl]="psychoterapyProgressNoteSearchTextBox"
            placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="psychoterapyProgressNotePersist.psychoterapyProgressNoteSearchText" matSuffix
            mat-icon-button aria-label="Clear" (click)="psychoterapyProgressNoteSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="psychoterapyProgressNoteIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let psychoterapyProgressNote of psychoterapyProgressNotesData">
            <mat-card-header>
                <mat-card-title>
                    <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('psychotherapy_progress_notes') || tcAuthorization.canDelete('psychotherapy_progress_notes')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editPsychoterapyProgressNote(psychoterapyProgressNote)"
                            *ngIf="tcAuthorization.canUpdate('psychotherapy_progress_notes')">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deletePsychoterapyProgressNote(psychoterapyProgressNote)"
                            *ngIf="tcAuthorization.canDelete('psychotherapy_progress_notes')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="tc-detail-field">
                    <span>patient_id</span>
                    {{psychoterapyProgressNote.patient_id}}
                </div>
                <div class="tc-detail-field">
                    <span>provider_id</span>
                    {{psychoterapyProgressNote.provider_id}}
                </div>
                <div class="tc-detail-field">
                    <span>date</span>
                    {{psychoterapyProgressNote.date}}
                </div>
                <div class="tc-detail-field">
                    <span>diagnosis</span>
                    {{psychoterapyProgressNote.diagnosis}}
                </div>
                <div class="tc-detail-field">
                    <span>thoughts</span>
                    {{psychoterapyProgressNote.thoughts}}
                </div>
                <div class="tc-detail-field">
                    <span>therapy_given</span>
                    {{psychoterapyProgressNote.therapy_given}}
                </div>
                <div class="tc-detail-field">
                    <span>home_work</span>
                    {{psychoterapyProgressNote.home_work}}
                </div>
                <div class="tc-detail-field">
                    <span>appointment</span>
                    {{psychoterapyProgressNote.appointment}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="searchPsychoterapy_progress_notes.length >0 || psychoterapyProgressNoteSelectAll">
            <button mat-button (click)="downloadPsychoterapyProgressNotes()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
            </button>
            <div class="tc-flex-fill"></div>
            <span>{{psychoterapyProgressNoteSelectAll ? psychoterapyProgressNotesTotalCount :
                psychoterapyProgressNoteSelection.length}} {{appTranslation.getText("general",
                "selected")}}</span>
        </mat-toolbar><mat-table [dataSource]="psychoterapyProgressNotesData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(psychoterapyProgressNotesData,psychoterapyProgressNoteSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(psychoterapyProgressNotesData,psychoterapyProgressNoteSelection) || psychoterapyProgressNoteSelectAll"
                        [indeterminate]="psychoterapyProgressNoteSelection.length <psychoterapyProgressNotesData.length && psychoterapyProgressNoteSelection.length>0"
                        [disabled]="psychoterapyProgressNoteSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                            [matMenuTriggerFor]="psychoterapyProgressNoteSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #psychoterapyProgressNoteSelectAllMenu="matMenu">

                        <button mat-menu-item (click)="psychoterapyProgressNoteSelectAll=true;"
                            [disabled]="psychoterapyProgressNoteSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="psychoterapyProgressNoteSelectAll = false;"
                            [disabled]="!psychoterapyProgressNoteSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(psychoterapyProgressNoteSelection,row) : null"
                        [checked]="tcUtilsArray.contains(psychoterapyProgressNoteSelection,row) || psychoterapyProgressNoteSelectAll"
                        [disabled]="psychoterapyProgressNoteSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="provider_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>provider_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{getDoctor(element.provider_id)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="diagnosis">
                <mat-header-cell *matHeaderCellDef mat-sort-header>diagnosis
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.diagnosis}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="thoughts">
                <mat-header-cell *matHeaderCellDef mat-sort-header>thoughts
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.thoughts}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="therapy_given">
                <mat-header-cell *matHeaderCellDef mat-sort-header>therapy_given
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.therapy_given}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="home_work">
                <mat-header-cell *matHeaderCellDef mat-sort-header>home_work
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.home_work}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="appointment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>appointment
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.appointment}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="psychoterapyProgressNoteNavigator.psychoterapy_progress_noteUrl(element.id)"
                        class="tc-link">{{element.id}}</a>

                </mat-cell>
            </ng-container> <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('psychotherapy_progress_notes') || tcAuthorization.canDelete('psychotherapy_progress_notes')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">
                        <button mat-menu-item (click)="editPsychoterapyProgressNote(element)"
                            *ngIf="tcAuthorization.canUpdate('psychotherapy_progress_notes') ">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deletePsychoterapyProgressNote(element)"
                            *ngIf="tcAuthorization.canDelete('psychotherapy_progress_notes')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container> <mat-header-row
                *matHeaderRowDef="psychoterapyProgressNotesDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: psychoterapyProgressNotesDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(psychoterapyProgressNoteSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="psychoterapyProgressNotesTotalCount"
            [ngStyle]="{display: psychoterapyProgressNotesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>
