<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-flask"></mat-icon>
        physiotherapy_note
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" loadDetails();" *ngIf="tcAuthorization.canRead('physiotherapy_notes')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPhysiotherapyNote();"
        *ngIf="tcAuthorization.canCreate('physiotherapy_notes')&&size==0" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>


<div class="tc-loading" *ngIf="physiotherapyNoteIsLoading">
    <mat-spinner></mat-spinner>
</div>
<div class="tc-flex-row tc-full-width" *ngIf="size>0">
    <div class="tc-equal-block">
        <div class="tc-padding">
            <mat-accordion>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{appTranslation.getText("general","basicdetails")}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="!physiotherapyNoteIsLoading">
                        <p class="tc-detail-field">
                            taken by <span> {{doctor_name}} </span>
                        </p>
                        <p class="tc-detail-field">
                            date of progress note <span>
                                {{tcUtilsDate.toDate(physiotherapyNoteDetail.date_of_progress_note)|date}}
                            </span>
                        </p>
                        <p class="tc-detail-field">
                            chief_complaint_today <span> {{physiotherapyNoteDetail.chief_complaint_today}} </span>
                        </p>
                        <p class="tc-detail-field">
                            brief_history_of_present_illness <span>
                                {{physiotherapyNoteDetail.brief_history_of_present_illness}} </span>
                        </p>
                        <p class="tc-detail-field">
                            diagnosis_problem_list <span> {{physiotherapyNoteDetail.diagnosis_problem_list}} </span>
                        </p>
                        <p class="tc-detail-field">
                            current_medications <span> {{physiotherapyNoteDetail.current_medications}} </span>
                        </p>
                        
                        <p class="tc-detail-field">
                            dermatomes <span> {{physiotherapyNoteDetail.dermatomes}} </span>
                        </p>
                        
                        <p class="tc-detail-field">
                            interim_events_since_last_visit <span>
                                {{physiotherapyNoteDetail.interim_events_since_last_visit}} </span>
                        </p>
                        <p class="tc-detail-field">
                            manual_muscle_test <span> {{physiotherapyNoteDetail.manual_muscle_test}} </span>
                        </p>
                        <p class="tc-detail-field">
                            illness_understanding_by_the_patient <span>
                                {{physiotherapyNoteDetail.illness_understanding_by_the_patient}} </span>
                        </p>
                        <p class="tc-detail-field">
                            illness_understanding_by_the_family_members <span>
                                {{physiotherapyNoteDetail.illness_understanding_by_the_family_members}} </span>
                        </p>
                        <p class="tc-detail-field">
                            Neuro_screening_reflex_dir <span> {{physiotherapyNoteDetail.neuro_screening_reflex_dir}}
                            </span>
                        </p>
                        <p class="tc-detail-field">
                            pain_assessment_pain_severity <span>
                                {{physiotherapyNoteDetail.pain_assessment_pain_severity}} </span>
                        </p>
                        <p class="tc-detail-field">
                            no_pain_symptoms <span> {{physiotherapyNoteDetail.no_pain_symptoms}} </span>
                        </p>
                        <p class="tc-detail-field">
                            social_issue <span> {{physiotherapyNoteDetail.social_issue}} </span>
                        </p>
                        <p class="tc-detail-field">
                            pain_assessment_pain_type <span> {{physiotherapyNoteDetail.pain_assessment_pain_type}}
                            </span>
                        </p>
                        <p class="tc-detail-field">
                            emotional_spritual_issue <span> {{physiotherapyNoteDetail.emotional_spritual_issue}} </span>
                        </p>
                        <p class="tc-detail-field">
                            palliative_care_plan <span> {{physiotherapyNoteDetail.palliative_care_plan}} </span>
                        </p>

                    </div>
                    <mat-action-row>
                        <button mat-button (click)="editPhysiotherapyNote()"
                            *ngIf="tcAuthorization.canUpdate('physiotherapy_notes') ">
                            {{appTranslation.getText("general", "edit")}}
                        </button>
                    </mat-action-row>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="tc-equal-block">
    </div>
</div>