<div class="tc-equal-block">
    <div class="tc-padding">
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ appTranslation.getText("bed", "nursing_assessment") }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let treatment of patient_treatmentsData">
            <div class="tc-padding">
                <span class="tc-date tc-text-muted">{{tcUtilsDate.toDate(treatment.record_date)
               |date:'MMM dd, yyyy. h:mm a'}}
                <span>
                    |
                    {{treatment.assessed_name}}
                 </span>
                <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v" class="tc-icon-button" style="margin-left:5px;"
                    [matMenuTriggerFor]="noteContextMenu" *ngIf="tcAuthorization.canUpdate('nursing_assessments') || tcAuthorization.canDelete('nursing_assessments')">
                </mat-icon>
                <mat-menu #noteContextMenu="matMenu">
                    <button mat-menu-item *ngIf="tcAuthorization.canUpdate('nursing_assessments')">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    Edit
                    </button>
                    <button mat-menu-item *ngIf="tcAuthorization.canDelete('nursing_assessments')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    Delete
                    </button>
                </mat-menu>
                </span>
                <div class="tc-notice-text">{{treatment.treatment }}</div>
            </div>
            </div>
          <div class="d-flex">
            <mat-paginator [length]="patient_treatmentsTotalCount"
          [pageSize]="tcUtilsArray.defaultPageSize"
          [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
          aria-label="Select page"
          showFirstLastButtons>
</mat-paginator>
<button
            mat-button
            (click)="addPatient_Treatment(encounterId)"
            *ngIf="tcAuthorization.canCreate('nursing_assessments')"
            class="tc-link"
          >
            <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
          </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
