<div class="tc-loading" *ngIf="soapLoading">
    <mat-spinner></mat-spinner>
</div>

<mat-toolbar class="tc-toolbar-secondary ">
    <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
        {{appTranslation.getText("general", "overview")}}
    </h1>
    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" reload()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-flex-row tc-full-width">
    <div class="tc-equal-block">
        <div class="tc-padding">
            <mat-accordion>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{appTranslation.getText("general","basicdetails")}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="!soapLoading">
                        <p class="tc-detail-field">
                            Date <span> {{soapDetail.date * 1000|date:'MMM dd, yyyy. h:mm a'}} </span>
                        </p>
                        <p class="tc-detail-field">
                            Given By <span> {{soapDetail.provider_name}} </span>
                        </p>
                        <p class="tc-detail-field">
                            Problem <span> {{soapDetail.problem}} </span>
                        </p>
                        <p class="tc-detail-field">
                            Subjective <span> {{soapDetail.subjective}} </span>
                        </p>
                        <p class="tc-detail-field">
                            Objective <span> {{soapDetail.objective}} </span>
                        </p>
                        <p class="tc-detail-field">
                            Assessment <span> {{soapDetail.assessment}} </span>
                        </p>
                        <p class="tc-detail-field">
                            Plan <span> {{soapDetail.plan}} </span>
                        </p>
                        <p class="tc-detail-field">
                            Final Diagnosis <span> {{soapDetail.final_diagnosis}} </span>
                        </p>
                    </div>
                    <mat-action-row>
                        <button mat-button (click)="editSoap()"
                            *ngIf="tcAuthorization.canUpdate('form_soaps') && form_encounterPersist.encounter_is_active ">
                            {{appTranslation.getText("general", "edit")}}
                        </button>
                    </mat-action-row>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <!-- <div class="tc-equal-block">
    </div> -->

</div>