<h1 mat-dialog-title>
    radiology_result Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="radiologyResultSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="radiologyResultPersist.radiologyResultSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="radiologyResultSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="radiologyResultIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="radiologyResultsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(radiologyResultsData,radiologyResultSelection) "
            [checked]=" tcUtilsArray.isAllSelected(radiologyResultsData,radiologyResultSelection) || radiologyResultSelectAll"
            [indeterminate]="radiologyResultSelection.length <radiologyResultsData.length && radiologyResultSelection.length>0"
            [disabled]="radiologyResultSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="radiologyResultSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #radiologyResultSelectAllMenu="matMenu">

            <button mat-menu-item (click)="radiologyResultSelectAll=true;" [disabled]="radiologyResultSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="radiologyResultSelectAll = false;" [disabled]="!radiologyResultSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(radiologyResultSelection,row) : null"
            [checked]="tcUtilsArray.contains(radiologyResultSelection,row) || radiologyResultSelectAll" [disabled]="radiologyResultSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="selected_order_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>selected_order_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.selected_order_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_by
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_by}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="confirmed_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header>confirmed_by
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.confirmed_by}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="lab_test_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lab_test_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lab_test_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_file_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_file_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_file_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="normal_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header>normal_result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.normal_result}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="abnormal_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header>abnormal_result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.abnormal_result}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="conclusion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>conclusion
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.conclusion}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="radiologyResultsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: radiologyResultsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(radiologyResultSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="radiologyResultsTotalCount"
      [ngStyle]="{display: radiologyResultsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" radiologyResultSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
