<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="sampleCollectionDetail">

                          <mat-form-field class="tc-full-stretch" *ngIf="!reject">
                            <mat-select
                              placeholder="sample_type"
                              [(value)]="sampleCollectionDetail.sample_type"
                              required>
                              <mat-option *ngFor="let etype of persist.SampleType" [value]="etype.id">
                               {{etype.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> 
                          <mat-form-field class="tc-full-stretch" *ngIf="!reject" >
                            <mat-select
                              placeholder="anatomic_cite"
                              [(value)]="sampleCollectionDetail.anatomic_site"
                              required>
                              <mat-option *ngFor="let etype of persist.AnatomicCite" [value]="etype.id">
                               {{etype.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>                                                                          
   <mat-form-field class="tc-full-stretch" *ngIf="reject" >
                              <textarea matInput placeholder="reject_reason" type="text"  [(ngModel)]="sampleCollectionDetail.reject_reason" required rows="4"></textarea>
                          </mat-form-field> 
                         </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>