<h1 mat-dialog-title>
  {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(doctorPersist.physican_type, data.physicianType)?.name) || 'Physician'}} Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="doctorsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="doctorPersist.doctorSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="doctorsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="doctorsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="doctorsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(doctorsData,doctorsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(doctorsData,doctorsSelection)"
            [indeterminate]="doctorsSelection.length <doctorsData.length && doctorsSelection.length>0"
            *ngIf="!data.selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="doctorsSelection.length >0 && !data.selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{doctorsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="doctorsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(doctorsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(doctorsSelection,row)"
                        *ngIf="!data.selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(doctorsSelection,row)"
                        *ngIf="data.selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'first_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.first_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'last_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="middle_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'middle_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.middle_name}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{tcUtilsArray.getEnum(doctorPersist.physician_type, element.physician_type)?.name}}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="doctorsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: doctorsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(doctorsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="doctorsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general", "cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" doctorsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general", "return_selection")}}
  </button>
</div>
