<h1 mat-dialog-title>
    purchase_request Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="purchaseRequestSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="purchaseRequestPersist.purchaseRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="purchaseRequestSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="purchaseRequestIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="purchaseRequestsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(purchaseRequestsData,purchaseRequestSelection) "
            [checked]=" tcUtilsArray.isAllSelected(purchaseRequestsData,purchaseRequestSelection) || purchaseRequestSelectAll"
            [indeterminate]="purchaseRequestSelection.length <purchaseRequestsData.length && purchaseRequestSelection.length>0"
            [disabled]="purchaseRequestSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="purchaseRequestSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #purchaseRequestSelectAllMenu="matMenu">

            <button mat-menu-item (click)="purchaseRequestSelectAll=true;" [disabled]="purchaseRequestSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="purchaseRequestSelectAll = false;" [disabled]="!purchaseRequestSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(purchaseRequestSelection,row) : null"
            [checked]="tcUtilsArray.contains(purchaseRequestSelection,row) || purchaseRequestSelectAll" [disabled]="purchaseRequestSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="request_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>request_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="response_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>response_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.response_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>item_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.item_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>unit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.unit}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="requestor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>requestor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.requestor}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="approver">
        <mat-header-cell *matHeaderCellDef mat-sort-header>approver
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.approver}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="purchaseRequestsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: purchaseRequestsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(purchaseRequestSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="purchaseRequestsTotalCount"
      [ngStyle]="{display: purchaseRequestsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" purchaseRequestSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
