<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="operationNoteDetail">
                          <!-- <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                            <mat-label>{{appTranslation.getText("patient", "search_patient")}}</mat-label>
                            <input matInput disabled [(ngModel)]="patientFullName"/>
                            <button mat-icon-button matTooltip="{{appTranslation.getText('patient', 'search_patient') }}" matSuffix
                                    [disabled]="operationNoteDetail.patient_id" color="primary" (click)="searchPatient()">
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field> -->
                          <div *ngIf="idMode.surgeryNoteWriter == surgeryNoteWriters.surgeon">
                            <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                              <mat-label>Procedure</mat-label>
                              <input matInput disabled [(ngModel)]="procedureName"/>
                              <button mat-icon-button matTooltip="Procedure" matSuffix
                                      color="primary" (click)="searchProcedure()">
                                <mat-icon>search</mat-icon>
                              </button>
                            </mat-form-field> 
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>Surgeon</mat-label>
                            <input matInput [(ngModel)]="operationNoteDetail.surgeons"/>
                            <!-- <button mat-icon-button matTooltip="{{appTranslation.getText('patient', 'search_sergeon') }}" matSuffix
                                    color="primary" (click)="searchSergeons()">
                              <mat-icon>search</mat-icon>
                            </button> -->
                          </mat-form-field> 
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>assistance</mat-label>
                            <input matInput [(ngModel)]="operationNoteDetail.assistants"/>
                            <!-- <button mat-icon-button matTooltip="{{appTranslation.getText('patient', 'search_assistant') }}" matSuffix
                                    color="primary" (click)="searchAssistants()">
                              <mat-icon>search</mat-icon>
                            </button> -->
                          </mat-form-field>   
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>scrub nurse</mat-label>
                            <input matInput [(ngModel)]="operationNoteDetail.scrub_nurses"/>
                            <!-- <button mat-icon-button matTooltip="search Scrub nurse" matSuffix
                                    color="primary" (click)="searchNurses()">
                              <mat-icon>search</mat-icon>
                            </button> -->
                          </mat-form-field> 
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>runner nurse</mat-label>
                            <input matInput [(ngModel)]="operationNoteDetail.runner_nurses"/>
                            <!-- <button mat-icon-button matTooltip="search runner nurse" matSuffix
                                    color="primary" (click)="searchRunnerNurses()">
                              <mat-icon>search</mat-icon>
                            </button> -->
                          </mat-form-field>       
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>anesthesiologist</mat-label>
                            <input matInput [(ngModel)]="operationNoteDetail.anaesthetists"/>
                            <!-- <button mat-icon-button matTooltip="Anesthesiologist" matSuffix
                                    color="primary" (click)="searchAnaesthetists()">
                              <mat-icon>search</mat-icon>
                            </button> -->
                          </mat-form-field>      
   <mat-form-field class="tc-full-stretch">
                              <textarea rows="3" matInput  placeholder="{{appTranslation.getText('patient', 'pre_op_diagnosis')}}" type="text"  [(ngModel)]="operationNoteDetail.indecation_for_operation"></textarea>
                          </mat-form-field>    
                          <mat-form-field class="tc-full-stretch">
                            <textarea rows="3" matInput  placeholder="Incisoin" type="text"  [(ngModel)]="operationNoteDetail.incisoin"></textarea>
                        </mat-form-field> 
                        <mat-form-field class="tc-full-stretch">
                          <textarea rows="5" matInput  placeholder="{{appTranslation.getText('patient', 'intra_op_finidings')}}" type="text"  [(ngModel)]="operationNoteDetail.operation_procedure_findings"></textarea>
                      </mat-form-field> 
                      <mat-form-field class="tc-full-stretch">
                        <textarea rows="5" matInput  placeholder="procedure done" type="text"  [(ngModel)]="operationNoteDetail.procedure_done"></textarea>
                    </mat-form-field>
                        <mat-form-field class="tc-full-stretch">
                          <textarea rows="3" matInput  placeholder="{{appTranslation.getText('patient', 'complication_during_operation')}}" type="text"  [(ngModel)]="operationNoteDetail.complication_during_operation"></textarea>
                      </mat-form-field> 

                        <mat-form-field class="tc-full-stretch">
                          <textarea rows="3" matInput  placeholder="Drains" type="text"  [(ngModel)]="operationNoteDetail.drains"></textarea>
                      </mat-form-field>  
                      <mat-form-field class="tc-full-stretch">
                        <textarea rows="3" matInput  placeholder="Closure" type="text"  [(ngModel)]="operationNoteDetail.closure"></textarea>
                    </mat-form-field>  
                    <mat-form-field class="tc-full-stretch">
                      <textarea rows="3" matInput  placeholder="specimens sent for investigation" type="text"  [(ngModel)]="operationNoteDetail.specimens_sent_for_investigation"></textarea>
                  </mat-form-field>  
                  <mat-form-field class="tc-full-stretch">
                    <textarea rows="3" matInput  placeholder="estimated blood loss" type="text"  [(ngModel)]="operationNoteDetail.estimated_blood_loss"></textarea>
                </mat-form-field>   
                <mat-form-field class="tc-full-stretch">
                  <textarea rows="3" matInput  placeholder="post op diagnosis" type="text"  [(ngModel)]="operationNoteDetail.post_op_diagnosis"></textarea>
              </mat-form-field>  
              <mat-form-field class="tc-full-stretch">
                <textarea rows="3" matInput  placeholder="post op order" type="text"  [(ngModel)]="operationNoteDetail.post_op_order"></textarea>
            </mat-form-field>           
                          <!-- <mat-form-field class="tc-full-stretch" >
                            <mat-label>{{appTranslation.getText("patient", "search_surgery_type")}}</mat-label>
                            <input matInput disabled [(ngModel)]="surgeryTypeName"/>
                            <button mat-icon-button matTooltip="{{appTranslation.getText('patient', 'search_surgery_type') }}" matSuffix
                                    color="primary" (click)="searchSurgeryType()">
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>                    -->                
                    
                           
</div>

                        <!-- for the assistant, anesthesia, scrub notes -->
                        <mat-form-field class="tc-full-stretch" *ngIf="idMode.surgeryNoteWriter == surgeryNoteWriters.assistant">
                          <textarea rows="3" matInput  placeholder="Assistant note" type="text"  [(ngModel)]="operationNoteDetail.assistant_note"></textarea>
                      </mat-form-field>
                    <mat-form-field class="tc-full-stretch" *ngIf="idMode.surgeryNoteWriter == surgeryNoteWriters.scrub">
                      <textarea rows="3" matInput  placeholder="Scrub note" type="text"  [(ngModel)]="operationNoteDetail.scrub_note"></textarea>
                  </mat-form-field> 
                  <mat-form-field class="tc-full-stretch" *ngIf="idMode.surgeryNoteWriter == surgeryNoteWriters.runner_nurse">
                    <textarea rows="3" matInput  placeholder="runner nurse note" type="text"  [(ngModel)]="operationNoteDetail.runner_nurse_note"></textarea>
                </mat-form-field>    
                      <mat-form-field class="tc-full-stretch" *ngIf="idMode.surgeryNoteWriter == surgeryNoteWriters.anesthesis">
                        <textarea rows="3" matInput  placeholder="Anesthesia note" type="text"  [(ngModel)]="operationNoteDetail.anesthesis_note"></textarea>
                    </mat-form-field> 
                        </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="isNew() ? !canSubmit() : !canUpdate()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>