<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-calendar"></mat-icon>
    {{appTranslation.getText('schedule', 'availability')}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchAvailabilitys();" *ngIf="tcAuthorization.canRead('availabilitys')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addAvailability();" *ngIf="tcAuthorization.canCreate('availabilitys')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>


<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="updateState($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px">list</mat-icon>
      {{appTranslation.getText("schedule", "list")}}
    </ng-template>
    <div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="availabilitysSearchTextBox"
          placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="availabilityPersist.availabilitySearchText" matSuffix mat-icon-button
          aria-label="Clear" (click)="availabilitysSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="tc-loading" *ngIf="availabilitysIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let availability of availabilitysData" class="tc-card">
          <mat-card-header>
            <mat-card-title>
              <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canCreate('cancelled_appointments') || tcAuthorization.canDelete('availabilitys')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="deleteAvailability(availability)"
                  *ngIf="tcAuthorization.canDelete('availabilitys')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general", "delete")}} </span>
                </button>

                <button mat-button (click)=" addCancelled_Appointment(availability);" *ngIf="tcAuthorization.canCreate('cancelled_appointments')">
                  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                  <span>{{appTranslation.getText("schedule", "cancelled_appointment")}}</span>
              </button>

              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="tc-detail-field">
              <span> {{appTranslation.getText('schedule', 'doctor_name')}}
              </span>
              {{ getDoctorFullName(availability.user_id) }}
            </div>
            <div class="tc-detail-field">
              <span> {{appTranslation.getText('schedule', 'start_time')}}
              </span>
              {{ tcUtilsDate.toDate(availability.start_time) | date:'h:mm a'}}
            </div>
            <div class="tc-detail-field">
              <span> {{appTranslation.getText('schedule', 'end_time')}}
              </span>
              {{ tcUtilsDate.toDate(availability.end_time) | date:'h:mm a' }}
            </div>

            
            <div class="tc-detail-field" *ngIf="availability.repetition == repetition.once_a_week">
              <span> {{appTranslation.getText('schedule', 'day_of_the_week')}}
              </span>
              <ng-container *ngIf="availability.repetition == repetition.once_a_week">
                {{tcUtilsArray.getEnum(availabilityPersist.day_of_the_week, availability.day_of_the_week).name |
                titlecase}}
              </ng-container>
            </div>
            <div class="tc-detail-field">
              <span> {{appTranslation.getText('schedule', 'day_of_the_month')}}
              </span>
              <ng-container *ngIf="availability.repetition == repetition.once_a_month">
                {{availability.day_of_the_month}}
              </ng-container>
            </div>
            <div class="tc-detail-field">
              <span> {{appTranslation.getText('schedule', 'date')}}
              </span>
              <ng-container *ngIf="availability.repetition == repetition.once">
                {{tcUtilsDate.toDate(availability.date)|date:'MMM dd, yyyy. h:mm a'}}
              </ng-container>
            </div>
            <div class="tc-detail-field">
              <span> {{appTranslation.getText('schedule', 'repetition')}}
              </span>
              {{ appTranslation.getText("schedule", tcUtilsArray.getEnum(availabilityPersist.repetition,
              availability.repetition).name) }}
            </div>

            <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','end_date')}}</span>
              {{tcUtilsDate.toDate( availability.end_date )|date:'MMM dd, yyyy. h:mm a'}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','start_date')}}</span>
              {{tcUtilsDate.toDate(availability.start_date)|date:'MMM dd, yyyy. h:mm a'}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('patient','max_patient')}}</span>
              {{availability.max_patient}}
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="availabilitysSelection.length >0 || availabilitysSelectAll">
          <button mat-button (click)="downloadAvailabilitys()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
          </button>
          <div class="tc-flex-fill"></div>
          <span>{{availabilitysSelectAll ? availabilitysTotalCount : availabilitysSelection.length}}
            {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="availabilitysData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(availabilitysData,availabilitysSelection) "
                [checked]=" tcUtilsArray.isAllSelected(availabilitysData,availabilitysSelection) || availabilitysSelectAll"
                [indeterminate]="availabilitysSelection.length <availabilitysData.length && availabilitysSelection.length>0"
                [disabled]="availabilitysSelectAll">
              </mat-checkbox>

              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="availabilitysSelectAllMenu">
                </mat-icon>
              </button>
              <mat-menu #availabilitysSelectAllMenu="matMenu">


                <button mat-menu-item (click)="availabilitysSelectAll=true;" [disabled]="availabilitysSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item (click)="availabilitysSelectAll = false;" [disabled]="!availabilitysSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(availabilitysSelection,row) : null"
                [checked]="tcUtilsArray.contains(availabilitysSelection,row) || availabilitysSelectAll"
                [disabled]="availabilitysSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="availabilityNavigator.availabilityUrl(element.id)" class="tc-link">{{element.id}}</a>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="user_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule', 'doctor_name')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ getDoctorFullName(element.user_id) }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="start_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule', 'start_time')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.start_time) | date:'h:mm a'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="end_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule', 'end_time')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.end_time) | date:'h:mm a'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="day_of_the_week">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule', 'day_of_the_week')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.repetition == repetition.once_a_week">
                {{tcUtilsArray.getEnum(availabilityPersist.day_of_the_week, element.day_of_the_week).name | titlecase}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="day_of_the_month">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule',
              'day_of_the_month')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.repetition == repetition.once_a_month"> {{element.day_of_the_month}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule', 'date')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="element.repetition == repetition.once">
                {{tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="repetition">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule', 'repetition')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span>
                {{ appTranslation.getText("schedule", tcUtilsArray.getEnum(availabilityPersist.repetition,
                element.repetition).name) }}
              </span>
            </mat-cell>
          </ng-container>




          <ng-container matColumnDef="end_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','end_date')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.end_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="start_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','start_date')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.start_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="max_patient">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','max_patient')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.max_patient}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canCreate('cancelled_appointments') || tcAuthorization.canDelete('availabilitys')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-button (click)=" addCancelled_Appointment(element);" *ngIf="tcAuthorization.canCreate('cancelled_appointments')">
                  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                  <span>{{appTranslation.getText("schedule", "cancelled_appointment")}}</span>
              </button>


                <button mat-menu-item (click)="deleteAvailability(element)"
                  *ngIf="tcAuthorization.canDelete('availabilitys')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general", "delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="availabilitysDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: availabilitysDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(availabilitysSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
          [pageSize]="tcUtilsArray.defaultPageSize" [length]="availabilitysTotalCount"
          [ngStyle]="{display: availabilitysTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px">event</mat-icon>
      {{appTranslation.getText("schedule", "calendar")}}
    </ng-template>
    <ng-template matTabContent>
      <app-availability-calender-view #calendar></app-availability-calender-view>
    </ng-template>
  </mat-tab>
</mat-tab-group>