<h1 mat-dialog-title>
    pathology_result Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="pathologyResultSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="pathologyResultPersist.pathologyResultSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="pathologyResultSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="pathologyResultIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="pathologyResultsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(pathologyResultsData,pathologyResultSelection) "
            [checked]=" tcUtilsArray.isAllSelected(pathologyResultsData,pathologyResultSelection) || pathologyResultSelectAll"
            [indeterminate]="pathologyResultSelection.length <pathologyResultsData.length && pathologyResultSelection.length>0"
            [disabled]="pathologyResultSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="pathologyResultSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #pathologyResultSelectAllMenu="matMenu">

            <button mat-menu-item (click)="pathologyResultSelectAll=true;" [disabled]="pathologyResultSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="pathologyResultSelectAll = false;" [disabled]="!pathologyResultSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(pathologyResultSelection,row) : null"
            [checked]="tcUtilsArray.contains(pathologyResultSelection,row) || pathologyResultSelectAll" [disabled]="pathologyResultSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="clinical_finding">
        <mat-header-cell *matHeaderCellDef mat-sort-header>clinical_finding
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.clinical_finding}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="gross_examination">
        <mat-header-cell *matHeaderCellDef mat-sort-header>gross_examination
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.gross_examination}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="microscopic_evaluation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>microscopic_evaluation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.microscopic_evaluation}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="conclusion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>conclusion
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.conclusion}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef mat-sort-header>comment
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.comment}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="selected_order_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>selected_order_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.selected_order_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_file_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_file_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_file_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_by
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_by}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="confirm_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header>confirm_by
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.confirm_by}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="reject_description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>reject_description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reject_description}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="pathologyResultsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: pathologyResultsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(pathologyResultSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="pathologyResultsTotalCount"
      [ngStyle]="{display: pathologyResultsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" pathologyResultSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
