<h1 mat-dialog-title>{{appTranslation.getText("patient", "patient_selection")}}</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="patientsSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }}"
    />
    <button
      mat-button
      *ngIf="patientPersist.patientSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="patientsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="patientsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">
    <mat-table [dataSource]="patientsData" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(patientsData, patientsSelection)
            "
            [checked]="
              tcUtilsArray.isAllSelected(patientsData, patientsSelection)
            "
            [indeterminate]="
              patientsSelection.length < patientsData.length &&
              patientsSelection.length > 0
            "
            *ngIf="!selectOne"
          >
          </mat-checkbox>
          <button
            mat-button
            *ngIf="patientsSelection.length > 0 && !selectOne"
            [mat-menu-trigger-for]="collectionMenu"
          >
            <i class="material-icons">more_vert</i>

            <span
              matBadge="{{ patientsSelection.length }}"
              matBadgePosition="above after"
              matBadgeOverlap="false"
              [matBadgeHidden]="patientsSelection.length == 0"
              style="margin-right: 10px"
            ></span>
          </button>
          <mat-menu #collectionMenu="matMenu">
            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(patientsSelection, row)
                : null
            "
            [checked]="tcUtilsArray.contains(patientsSelection, row)"
            *ngIf="!selectOne"
          >
          </mat-checkbox>

          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? markOneItem(row) : null"
            [checked]="tcUtilsArray.contains(patientsSelection, row)"
            *ngIf="selectOne"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "pid")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.pid }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "first_name")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.fname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="mname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "middle_name")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.mname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "last_name")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.lname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "gender")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.sex }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dob">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "birthdate")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(  element.dob )|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "email")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone_cell">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "telephone")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.phone_cell }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="openemr_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >openemr_id</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.openemr_id }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="patientsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: patientsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(patientsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [length]="patientsTotalCount"
    ></mat-paginator>
  </div>
  <div class="tc-padding"></div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="patientsSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
