<h1 mat-dialog-title>
    Fee Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="feesSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="feePersist.feeSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
          (click)="feesSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="feesIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="feesData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(feesData,feesSelection) "
              [checked]=" tcUtilsArray.isAllSelected(feesData,feesSelection)"
              [indeterminate]="feesSelection.length <feesData.length && feesSelection.length>0"
              *ngIf="!data.selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="feesSelection.length >0 && !data.selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{feesSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="feesSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(feesSelection,row) : null"
                          [checked]="tcUtilsArray.contains(feesSelection,row)"
                          *ngIf="!data.selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(feesSelection,row)"
                                    *ngIf="data.selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>price</mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsNumber.convertToDecimalPlaces(element.price)}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="doctor_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.doctor_name}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="season">
          <mat-header-cell *matHeaderCellDef mat-sort-header>season</mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(feePersist.payment_season, element.season).name)}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="fee_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>fee_type</mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(paymentPersist.fee_type, element.fee_type)?.name)}}</mat-cell>
       </ng-container>
       <ng-container matColumnDef="is_panel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','is_panel')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_panel}}</mat-cell>
     </ng-container>
     
  
        <mat-header-row *matHeaderRowDef="feesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: feesDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(feesSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="feesTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" feesSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  