<div class="tc-flex-row">
  <h1 class="mat-headline"></h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<mat-dialog-content>
  <div>
    <mat-form-field class="tc-full-stretch" *ngIf="!data.multiLine">
      <input
        matInput
        [pattern]="data.validationPattern"
        placeholder="Note"
        [(ngModel)]="textDate.text"
        required
        cdkFocusInitial
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch" *ngIf="data.multiLine">
      <textarea
        [pattern]="data.validationPattern"
        matInput
        placeholder="Note"
        [(ngModel)]="textDate.text"
        required
        cdkFocusInitial
        rows="8"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput type="datetime-local" [(ngModel)]="date" />
      <mat-label>date</mat-label>
    </mat-form-field>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ data.cancelLabel | uppercase }}
  </button>
  <button mat-button (click)="onOk()" [disabled]="!canSubmit()">
    {{ data.action | uppercase }}
  </button>
</div>
