<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-stethoscope"></mat-icon>
    {{appTranslation.getText("patient", "review_of_systems")}}
    </h3>

    <button mat-button (click)="back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)="searchReview_Of_Systems();" *ngIf="tcAuthorization.canRead('review_of_systems')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)="(review_of_systemsData.length==0)?addReview_Of_System():editReview_Of_System();" *ngIf="tcAuthorization.canCreate('review_of_systems') && form_encounterPersist.encounter_is_active"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="{{(review_of_systemsData.length==0)?'fa-plus':'fa-edit'}}"></mat-icon>
    </button>
</mat-toolbar>
<div class="tc-padding">

    <mat-spinner diameter="50" *ngIf=" review_of_systemsIsLoading" class="tc-padding"></mat-spinner>

    <div class="tc-padding" [ngStyle]="{display:  review_of_systemsIsLoading? 'none':''}">
    <mat-form-field>
        <input matInput [formControl]=" review_of_systemsSearchTextBox"
        placeholder="{{appTranslation.getText('general','search_text')}}">
        <button mat-button *ngIf=" review_of_systemsSearchTextBox.value" matSuffix mat-icon-button
        aria-label="Clear" (click)=" review_of_systemsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>




    <div class="tc-table-container tc-full-stretch">

        <mat-toolbar *ngIf=" review_of_systemsSelection.length >0 ">
        <button mat-button>
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
        </button>

        </mat-toolbar>

        <mat-table [dataSource]=" review_of_systemsData" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll( review_of_systemsData, review_of_systemsSelection) "
                [checked]=" tcUtilsArray.isAllSelected( review_of_systemsData, review_of_systemsSelection)"
                [indeterminate]=" review_of_systemsSelection.length < review_of_systemsData.length &&  review_of_systemsSelection.length>0">
            </mat-checkbox>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection( review_of_systemsSelection,row) : null"
                [checked]="tcUtilsArray.contains( review_of_systemsSelection,row)">
            </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_of_review">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','date')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a [routerLink]="form_encounterNavigator.review_of_systemUrl(element.id)" class="tc-link">{{element.date_of_review * 1000|date:'MMM dd, yyyy. h:mm a'}}</a>
                </mat-cell>
        </ng-container>

        <ng-container matColumnDef="provider_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{appTranslation.getText('patient','provider')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.provider_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="general">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{appTranslation.getText('patient','general')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.general ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="head_and_neck">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                head and neck</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.head_and_neck ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ent">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                ent</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.ent ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="eye">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                eye</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.eye ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="chest_lungs_breasts">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                chest lungs breasts</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.chest_lungs_breasts ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cardiovascular">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                cardiovascular</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cardiovascular ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="gastrointestinal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                gastrointestinal</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.gastrointestinal ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="musculoskeletal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                musculoskeletal</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.musculoskeletal ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="neurological">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                neurological</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.neurological ? 'Yes' : 'No'}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef=" review_of_systemsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns:  review_of_systemsDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains( review_of_systemsSelection,row)}">
        </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]=" review_of_systemsTotalCount"
        [ngStyle]="{display:  review_of_systemsTotalCount > 0? '':'none'}">
        </mat-paginator>
    </div>
    </div>
</div>