
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-calendar-check"></mat-icon>
    {{ appTranslation.getText("patient", "waiting") }}
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchAppointments()"
    *ngIf="tcAuthorization.canRead('appointments')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addAppointment()"
    *ngIf="tcAuthorization.canCreate('appointments')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group [(selectedIndex)]="tab_index" (selectedTabChange)="onTabChanged($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px">list</mat-icon>
      {{ appTranslation.getText("schedule", "list") }}
    </ng-template>

    <div class="tc-padding">
      <mat-form-field>
        <input
          matInput
          [formControl]="appointmentsSearchTextBox"
          placeholder="{{ appTranslation.getText('general', 'search_text') }} "
        />
        <button
          mat-button
          *ngIf="appointmentPersist.appointmentSearchHistory.search_text"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="appointmentsSearchTextBox.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Filter"
          [(value)]="appointmentPersist.appointmentSearchHistory.search_column"
          multiple="true"
          (valueChange)="searchAppointments()">
          <mat-option *ngFor="let etype of appointmentFilterColumn" [value]="etype.id">
           {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="{{ appTranslation.getText('general', 'date') }}"
          [formControl]="dateTextField"
          [matDatepicker]="date_of_schedule"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="date_of_schedule"
        ></mat-datepicker-toggle>
        <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
        <button mat-button *ngIf="dateTextField.value !== ''" matSuffix mat-icon-button
      aria-label="Clear" (click)="dateTextField.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder=" {{ appTranslation.getText('general', 'type') }}"
          [(value)]="appointmentPersist.appointmentSearchHistory.schedule_type"
          (valueChange)="searchAppointments()"
        >
          <mat-option
            *ngFor="let etype of appointmentPersist.schedule_type"
            [value]="etype.id"
          >
            {{ appTranslation.getTextByIdentifier(etype?.name) }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          *ngIf="appointmentPersist.appointmentSearchHistory.schedule_type"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            appointmentPersist.appointmentSearchHistory.schedule_type = null;
            searchAppointments();
            $event.stopPropagation()
          "
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Doctor Name </mat-label>
        <input matInput disabled [(ngModel)]="appointmentPersist.appointmentSearchHistory.doctorFullName" />
        <button
          mat-icon-button
          matSuffix
          color="primary"
          (click)="searchDoctors()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf="appointmentPersist.appointmentSearchHistory.doctorFullName" matSuffix mat-icon-button aria-label="Clear"
        (click)="appointmentPersist.appointmentSearchHistory.doctorId = ''; appointmentPersist.appointmentSearchHistory.doctorFullName = ''; searchAppointments()">
        <mat-icon>close</mat-icon>
    </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Patient Name </mat-label>
        <input matInput disabled [(ngModel)]="appointmentPersist.appointmentSearchHistory.patientFullName" />
        <button
          mat-icon-button
          matSuffix
          color="primary"
          (click)="searchPatient()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf="appointmentPersist.appointmentSearchHistory.patientId" matSuffix mat-icon-button aria-label="Clear"
        (click)="appointmentPersist.appointmentSearchHistory.patientId = ''; appointmentPersist.appointmentSearchHistory.patientFullName = ''; searchAppointments()">
        <mat-icon>close</mat-icon>
    </button>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="{{ appTranslation.getText('patient', 'apt_status') }}"
          [(value)]="appointmentPersist.appointmentSearchHistory.appointment_statuId"
          (valueChange)="searchAppointments()"
        >
          <mat-option
            *ngFor="let etype of appointmentPersist.appointment_status"
            [value]="etype.id"
          >
            {{ appTranslation.getTextByIdentifier(etype?.name) }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          *ngIf="appointmentPersist.appointmentSearchHistory.appointment_statuId"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            appointmentPersist.appointmentSearchHistory.appointment_statuId = null;
            searchAppointments();
            $event.stopPropagation()
          "
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="{{
            appTranslation.getText('patient', 'patient_status')
          }}"
          [(value)]="appointmentPersist.appointmentSearchHistory.appointment_patient_statuId"
          (valueChange)="searchAppointments()"
        >
          <mat-option
            *ngFor="let etype of appointmentPersist.appointment_patient_status"
            [value]="etype.id"
          >
            {{ appTranslation.getTextByIdentifier(etype?.name) }}
          </mat-option>
        </mat-select>
        <button
          mat-button
          *ngIf="appointmentPersist.appointmentSearchHistory.appointment_patient_statuId"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            appointmentPersist.appointmentSearchHistory.appointment_patient_statuId = null;
            searchAppointments();
            $event.stopPropagation()
          "
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="tc-loading" *ngIf="appointmentsIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let appointment of appointmentsData" class="tc-card">
          <mat-card-header>
            <mat-card-title
              ><a
                [routerLink]="
                  appointmentNavigator.appointmentUrl(appointment.id)
                "
                class="tc-link"
                [style.color]="getPatientStatus(appointment) + '!important'"
              >
                {{ getPrefixPatientName(appointment)}}</a
              >
              <button
                mat-icon-button
                [matMenuTriggerFor]="elementMenu"
                *ngIf="
                  tcAuthorization.canUpdate('appointments') ||
                  tcAuthorization.canDelete('appointments')
                "
              >
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="editAppointment(appointment)"
                  *ngIf="tcAuthorization.canUpdate('appointments')"
                >
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{ appTranslation.getText("general", "edit") }} </span>
                </button>
                <button
                  mat-menu-item
                  (click)="deleteAppointment(appointment)"
                  *ngIf="tcAuthorization.canDelete('appointments')"
                >
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span
                    >{{ appTranslation.getText("general", "delete") }}
                  </span>
                </button>
                <button
                  mat-menu-item
                  (click)="updateStatusToClosed(appointment)"
                  *ngIf="tcAuthorization.canUpdate('appointments')"
                >
                  <mat-icon fontSet="fa" fontIcon="fa-hourglass-end"></mat-icon>
                  <span>
                    {{
                      appTranslation.getText("schedule", "appointment_ended")
                    }}
                  </span>
                </button>

              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="tc-detail-field">
              <span>
                {{ appTranslation.getText("patient", "patient_type") }}
              </span>
              {{
                appTranslation.getTextByIdentifier(
                  tcUtilsArray.getEnum(
                    appointmentPersist.schedule_type,
                    appointment.schedule_type
                  )?.name
                )
              }}
            </div>
            <div class="tc-detail-field">
              <span>service_type</span>
              {{tcUtilsArray.getEnum(
                appointmentPersist.serviceType,
                appointment.service_type
              )?.name}}{{ appointment.is_referal ? '/Referal' : ''}}
            </div>
            <div class="tc-detail-field">
              <span>{{ appTranslation.getText("employee", "appointed_doctor") }}</span>
              {{ appointment.provider_name }}
            </div>
            <div class="tc-detail-field">
              <span>{{ appTranslation.getText("patient", "patient") }}</span>
              {{ appointment.patient_name }}
            </div>

            <div class="tc-detail-field">
              <span>{{ appTranslation.getText("patient", "apt_status") }}</span>
              {{
                appTranslation.getTextByIdentifier(
                  tcUtilsArray.getEnum(
                    appointmentPersist.appointment_status,
                    appointment.status
                  )?.name
                )
              }}
            </div>

            <div class="tc-detail-field">
              <span>{{
                appTranslation.getText("schedule", "start_time")
              }}</span>
              {{
                tcUtilsDate.toDate(appointment.schedule_start_time)
                  | date: "h:mm a"
              }}
            </div>
            <div class="tc-detail-field">
              <span>{{ appTranslation.getText("schedule", "end_time") }}</span>
              {{
                tcUtilsDate.toDate(appointment.schedule_end_time)
                  | date: "h:mm a"
              }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">
        <mat-toolbar
          *ngIf="appointmentsSelection.length > 0 || appointmentsSelectAll"
        >
          <button mat-button (click)="downloadAppointments()">
            <mat-icon>save_alt</mat-icon>
            <span>{{ appTranslation.getText("general", "download") }} </span>
          </button>
          <div class="tc-flex-fill"></div>
          <span
            >{{
              appointmentsSelectAll
                ? appointmentsTotalCount
                : appointmentsSelection.length
            }}
            {{ appTranslation.getText("general", "selected") }}</span
          >
        </mat-toolbar>

        <mat-table
          [dataSource]="appointmentsData"
          matSort
          class="tc-hide-on-mobile"
        >
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="
                  tcUtilsArray.toggleSelectAll(
                    appointmentsData,
                    appointmentsSelection
                  )
                "
                [checked]="
                  tcUtilsArray.isAllSelected(
                    appointmentsData,
                    appointmentsSelection
                  ) || appointmentsSelectAll
                "
                [indeterminate]="
                  appointmentsSelection.length < appointmentsData.length &&
                  appointmentsSelection.length > 0
                "
                [disabled]="appointmentsSelectAll"
              >
              </mat-checkbox>

              <button mat-icon-button>
                <mat-icon
                  fontSet="fa"
                  fontIcon="fa-caret-down"
                  [matMenuTriggerFor]="appointmentsSelectAllMenu"
                ></mat-icon>
              </button>
              <mat-menu #appointmentsSelectAllMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="appointmentsSelectAll = true"
                  [disabled]="appointmentsSelectAll"
                >
                  {{ appTranslation.getText("general", "all") }}
                </button>
                <button
                  mat-menu-item
                  (click)="appointmentsSelectAll = false"
                  [disabled]="!appointmentsSelectAll"
                >
                  {{ appTranslation.getText("general", "none") }}
                </button>
              </mat-menu>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="
                  $event
                    ? tcUtilsArray.toggleSelection(appointmentsSelection, row)
                    : null
                "
                [checked]="
                  tcUtilsArray.contains(appointmentsSelection, row) ||
                  appointmentsSelectAll
                "
                [disabled]="appointmentsSelectAll"
              >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Link</mat-header-cell
            >
            <mat-cell *matCellDef="let element">
              <a
                [routerLink]="appointmentNavigator.appointmentUrl(element.id)"
                class="tc-link"
                >{{ element.id }}</a
              >
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="schedule_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >{{ appTranslation.getText("patient", "patient_type") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a
                *ngIf="
                  element.encounter != tcUtilString.invalid_id && element.paid
                "
                [routerLink]="encounterNav.form_encounterUrl(element.encounter)"
                class="tc-link"
              >
                {{
                  appTranslation.getTextByIdentifier(
                    tcUtilsArray.getEnum(
                      appointmentPersist.schedule_type,
                      element.schedule_type
                    )?.name
                  )
                }}</a
              >
              <span *ngIf="element.encounter == -1 || !element.paid">{{
                appTranslation.getTextByIdentifier(
                  tcUtilsArray.getEnum(
                    appointmentPersist.schedule_type,
                    element.schedule_type
                  )?.name
                )
              }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="physician_first_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >{{ appTranslation.getText("employee", "appointed_doctor") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              getPrefixPhysicianName(element)
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="et_user_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header
            >Ordered By
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
                getPrefixedUserName(element)
              }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="patient_fname">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >{{ appTranslation.getText("patient", "patient") }}
            </mat-header-cell>
            <mat-cell  [style.color]="getPatientStatus(element) + '!important'" *matCellDef="let element">{{
                getPrefixPatientName(element)
            }}</mat-cell>
          </ng-container>
        <ng-container matColumnDef="service_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>service_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{tcUtilsArray.getEnum(
            appointmentPersist.serviceType,
            element.service_type
          )?.name}} {{ element.is_referal ? '/Referal' : ''}}</mat-cell>
        </ng-container>

          <ng-container matColumnDef="slot_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >{{ appTranslation.getText("schedule", "start_time") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              tcUtilsDate.toDate(element.slot_time) | date: "h:mm a"
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="schedule_start_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header
            >Date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
                tcUtilsDate.toDate(element.schedule_start_time) | date
              }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="schedule_end_time">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >{{ appTranslation.getText("schedule", "end_time") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
              element.schedule_end_time &&
                tcUtilsDate.toDate(element.schedule_end_time) | date: "h:mm a"
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="patient_status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{
              appTranslation.getText("patient", "patient_status")
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{
                appTranslation.getTextByIdentifier(
                  tcUtilsArray.getEnum(
                    appointmentPersist.appointment_patient_status,
                    element.patient_status
                  )?.name
                )
              }}</mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{
              appTranslation.getText("patient", "apt_status")
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{
                appTranslation.getTextByIdentifier(
                  tcUtilsArray.getEnum(
                    appointmentPersist.appointment_status,
                    element.status
                  )?.name
                )
              }}</mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="patient.pid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>MRN</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.patient_pid}}</mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell
              *matHeaderCellDef
              class="tc-column-action"
            ></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button
                mat-flat-button
                [matMenuTriggerFor]="elementMenu"
                *ngIf="
                  tcAuthorization.canUpdate('appointments') ||
                  tcAuthorization.canDelete('appointments') ||
                  tcAuthorization.canCreate('form_encounters')
                "
              >
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="editAppointment(element)"
                  *ngIf="tcAuthorization.canUpdate('appointments')&&element.status==appointmentStatus.pending"
                >
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{ appTranslation.getText("general", "edit") }} </span>
                </button>
                <button
                  mat-menu-item
                  (click)="deleteAppointment(element)"
                  *ngIf="tcAuthorization.canDelete('appointments')"
                >
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span
                    >{{ appTranslation.getText("general", "delete") }}
                  </span>
                </button>

                <button
                  mat-menu-item
                  (click)="updateStatusToClosed(element)"
                  *ngIf="tcAuthorization.canUpdate('appointments')&&element.status==appointmentStatus.pending"
                >
                  <mat-icon fontSet="fa" fontIcon="fa-hourglass-end"></mat-icon>
                  <span>
                    Cancle Appointment
                  </span>
                </button>


                <button mat-menu-item (click)="createEncounter(element)"
                  *ngIf="tcAuthorization.canCreate('form_encounters') &&element.encounter == tcUtilsString.invalid_id &&element.status==appointmentStatus.pending">
                  <mat-icon fontSet="fa" fontIcon="fa-check-double"></mat-icon>
                  {{ appTranslation.getText("patient", "create_encounter") }}
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="appointmentsDisplayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: appointmentsDisplayedColumns"
            [ngClass]="{
              'tc-selected-row': tcUtilsArray.contains(
                appointmentsSelection,
                row
              )
            }"
          ></mat-row>
        </mat-table>

        <mat-paginator
          [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
          showFirstLastButtons
          [pageSize]="tcUtilsArray.defaultPageSize"
          [length]="appointmentsTotalCount"
          [ngStyle]="{ display: appointmentsTotalCount > 0 ? '' : 'none' }"
        ></mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 10px">event</mat-icon>
      {{ appTranslation.getText("schedule", "calendar") }}
    </ng-template>

    <ng-template matTabContent>
      <div class="tc-padding">
        <mat-form-field>
          <input
            matInput
            [formControl]="appointmentsSearchTextBox"
            placeholder="{{ appTranslation.getText('general', 'search_text') }} "
          />
          <button
            mat-button
            *ngIf="appointmentPersist.appointmentSearchHistory.search_text"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="appointmentsSearchTextBox.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder=" {{ appTranslation.getText('general', 'type') }}"
            [(value)]="appointmentPersist.appointmentSearchHistory.schedule_type"
            (valueChange)="searchAppointments()"
          >
            <mat-option
              *ngFor="let etype of appointmentPersist.schedule_type"
              [value]="etype.id"
            >
              {{ appTranslation.getTextByIdentifier(etype?.name) }}
            </mat-option>
          </mat-select>
          <button
            mat-button
            *ngIf="appointmentPersist.appointmentSearchHistory.schedule_type"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="
              appointmentPersist.appointmentSearchHistory.schedule_type = null;
              searchAppointments();
              $event.stopPropagation()
            "
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Doctor Name </mat-label>
          <input matInput disabled [(ngModel)]="appointmentPersist.appointmentSearchHistory.doctorFullName" />
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="searchDoctors()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button *ngIf="appointmentPersist.appointmentSearchHistory.doctorFullName" matSuffix mat-icon-button aria-label="Clear"
          (click)="appointmentPersist.appointmentSearchHistory.doctorId = ''; appointmentPersist.appointmentSearchHistory.doctorFullName = ''; searchAppointments()">
          <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Patient Name </mat-label>
          <input matInput disabled [(ngModel)]="appointmentPersist.appointmentSearchHistory.patientFullName" />
          <button
            mat-icon-button
            matSuffix
            color="primary"
            (click)="searchPatient()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button *ngIf="appointmentPersist.appointmentSearchHistory.patientFullName" matSuffix mat-icon-button aria-label="Clear"
          (click)="appointmentPersist.appointmentSearchHistory.patientId = ''; appointmentPersist.appointmentSearchHistory.patientFullName = ''; searchAppointments()">
          <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="{{ appTranslation.getText('patient', 'apt_status') }}"
            [(value)]="appointmentPersist.appointmentSearchHistory.appointment_statuId"
            (valueChange)="searchAppointments()"
          >
            <mat-option
              *ngFor="let etype of appointmentPersist.appointment_status"
              [value]="etype.id"
            >
              {{ appTranslation.getTextByIdentifier(etype?.name) }}
            </mat-option>
          </mat-select>
          <button
            mat-button
            *ngIf="appointmentPersist.appointmentSearchHistory.appointment_statuId"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="
              appointmentPersist.appointmentSearchHistory.appointment_statuId = null;
              searchAppointments();
              $event.stopPropagation()
            "
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="{{
              appTranslation.getText('patient', 'patient_status')
            }}"
            [(value)]="appointmentPersist.appointmentSearchHistory.appointment_patient_statuId"
            (valueChange)="searchAppointments()"
          >
            <mat-option
              *ngFor="let etype of appointmentPersist.appointment_patient_status"
              [value]="etype.id"
            >
              {{ appTranslation.getTextByIdentifier(etype?.name) }}
            </mat-option>
          </mat-select>
          <button
            mat-button
            *ngIf="appointmentPersist.appointmentSearchHistory.appointment_patient_statuId"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="
              appointmentPersist.appointmentSearchHistory.appointment_patient_statuId = null;
              searchAppointments();
              $event.stopPropagation()
            "
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <full-calendar
          [options]="calendarOptions">
        </full-calendar>
      </div>
    </ng-template>

  </mat-tab>
</mat-tab-group>
