<mat-toolbar class="tc-toolbar-secondary ">
    <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
        patient intake form
    </h1>
    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>

    <button mat-button (click)=" reload()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPatientIntakeForm();" *ngIf="tcAuthorization.canCreate('patient_intake_forms')&&(size==0)"
        class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-flex-row tc-full-width" *ngIf="size>0">
    <div class="tc-equal-block">
        <div class="tc-padding">
            <mat-accordion>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{appTranslation.getText("general","basicdetails")}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="!patientIntakeFormIsLoading">
                        <p class="tc-detail-field">
                            blood_groop <span> {{patientIntakeFormDetail.blood_groop}} </span>
                        </p>
                        <p class="tc-detail-field">
                            dry_weight <span> {{patientIntakeFormDetail.dry_weight}} </span>
                        </p>
                        <p class="tc-detail-field">
                            session_id <span> {{patientIntakeFormDetail.session_id}} </span>
                        </p>
                        <p class="tc-detail-field">
                            dialysis_machine_no <span> {{patientIntakeFormDetail.dialysis_machine_no}}
                            </span>
                        </p>
                        <p class="tc-detail-field">
                            dialyzer_type <span> {{patientIntakeFormDetail.dialyzer_type}} </span>
                        </p>
                        <p class="tc-detail-field">
                            dialysate_no <span> {{patientIntakeFormDetail.dialysate_no}} </span>
                        </p>
                        <p class="tc-detail-field">
                            blood_flow <span> {{patientIntakeFormDetail.blood_flow}} </span>
                        </p>
                        <p class="tc-detail-field">
                            uf_volume <span> {{patientIntakeFormDetail.uf_volume}} </span>
                        </p>
                        <p class="tc-detail-field">
                            heparin_intial <span> {{patientIntakeFormDetail.heparin_intial}} </span>
                        </p>
                        <p class="tc-detail-field">
                            during_dialysis <span> {{patientIntakeFormDetail.during_dialysis}} </span>
                        </p>
                        <p class="tc-detail-field">
                            dialysate_fluid <span> {{patientIntakeFormDetail.dialysate_fluid}} </span>
                        </p>
                        <p class="tc-detail-field">
                            bicarbonate_acetate <span> {{patientIntakeFormDetail.bicarbonate_acetate}}
                            </span>
                        </p>
                        <p class="tc-detail-field">
                            weight_before_hd <span> {{patientIntakeFormDetail.weight_before_hd}} </span>
                        </p>
                        <p class="tc-detail-field">
                            bp_before_hd <span> {{patientIntakeFormDetail.bp_before_hd}} </span>
                        </p>
                        <p class="tc-detail-field">
                            pulse_before_hd <span> {{patientIntakeFormDetail.pulse_before_hd}} </span>
                        </p>
                        <p class="tc-detail-field">
                            weight_after_hd <span> {{patientIntakeFormDetail.weight_after_hd}} </span>
                        </p>
                        <p class="tc-detail-field">
                            bp_after_hd <span> {{patientIntakeFormDetail.bp_after_hd}} </span>
                        </p>
                        <p class="tc-detail-field">
                            pulse_after_hd <span> {{patientIntakeFormDetail.pulse_after_hd}} </span>
                        </p>
                        <p class="tc-detail-field">
                            starting_time <span> {{this.tcUtilsDate.toDate(patientIntakeFormDetail.starting_time - 3*3600)| date: "hh:mm a"}} </span>
                        </p>
                        <p class="tc-detail-field">
                            finishing_time <span> {{this.tcUtilsDate.toDate(patientIntakeFormDetail.finishing_time - 3*3600)| date: "hh:mm a"}} </span>
                        </p>
                        <p class="tc-detail-field">
                            duration_of_dialysis <span> {{patientIntakeFormDetail.duration_of_dialysis}}
                            </span>
                        </p>
                        <p class="tc-detail-field">
                            iv_fluid <span> {{patientIntakeFormDetail.iv_fluid}} </span>
                        </p>
                        <p class="tc-detail-field">
                            other <span> {{patientIntakeFormDetail.other}} </span>
                        </p>        
                    </div>
                    <mat-action-row>
                        <button mat-button (click)="editPatientIntakeForm()"
                            *ngIf="tcAuthorization.canUpdate('patient_intake_forms') ">
                            {{appTranslation.getText("general", "edit")}}
                        </button>
                    </mat-action-row>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="tc-equal-block">
    </div>
</div>