<h1 mat-dialog-title>
    medical_certificate_employee Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="medicalCertificateEmployeeSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="medicalCertificateEmployeePersist.medicalCertificateEmployeeSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="medicalCertificateEmployeeSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="medicalCertificateEmployeeIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="medicalCertificateEmployeesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(medicalCertificateEmployeesData,medicalCertificateEmployeeSelection) "
            [checked]=" tcUtilsArray.isAllSelected(medicalCertificateEmployeesData,medicalCertificateEmployeeSelection) || medicalCertificateEmployeeSelectAll"
            [indeterminate]="medicalCertificateEmployeeSelection.length <medicalCertificateEmployeesData.length && medicalCertificateEmployeeSelection.length>0"
            [disabled]="medicalCertificateEmployeeSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="medicalCertificateEmployeeSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #medicalCertificateEmployeeSelectAllMenu="matMenu">

            <button mat-menu-item (click)="medicalCertificateEmployeeSelectAll=true;" [disabled]="medicalCertificateEmployeeSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="medicalCertificateEmployeeSelectAll = false;" [disabled]="!medicalCertificateEmployeeSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(medicalCertificateEmployeeSelection,row) : null"
            [checked]="tcUtilsArray.contains(medicalCertificateEmployeeSelection,row) || medicalCertificateEmployeeSelectAll" [disabled]="medicalCertificateEmployeeSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="cpa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>cpa
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cpa}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>address
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>age
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sex
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sex}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="disease_past">
        <mat-header-cell *matHeaderCellDef mat-sort-header>disease_past
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.disease_past}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hospitalized">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hospitalized
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hospitalized}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="doctor_examination">
        <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_examination
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_examination}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="condition">
        <mat-header-cell *matHeaderCellDef mat-sort-header>condition
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.condition}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="blood_pressure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>blood_pressure
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.blood_pressure}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="lung">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lung
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lung}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="lung_xray">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lung_xray
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lung_xray}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="urine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>urine
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.urine}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="blood">
        <mat-header-cell *matHeaderCellDef mat-sort-header>blood
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.blood}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sugar">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sugar
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sugar}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="albumen">
        <mat-header-cell *matHeaderCellDef mat-sort-header>albumen
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.albumen}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="arobllid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>arobllid
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.arobllid}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hbred">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hbred
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hbred}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="reger">
        <mat-header-cell *matHeaderCellDef mat-sort-header>reger
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reger}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="white">
        <mat-header-cell *matHeaderCellDef mat-sort-header>white
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.white}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="cells">
        <mat-header-cell *matHeaderCellDef mat-sort-header>cells
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cells}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="visual_acuit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>visual_acuit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.visual_acuit}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="trachoma">
        <mat-header-cell *matHeaderCellDef mat-sort-header>trachoma
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.trachoma}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="progressive_eye_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header>progressive_eye_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.progressive_eye_disease}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ear">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ear
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ear}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="serological">
        <mat-header-cell *matHeaderCellDef mat-sort-header>serological
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.serological}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ns_disturbance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ns_disturbance
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ns_disturbance}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="mental_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>mental_status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mental_status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="employment_fit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>employment_fit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.employment_fit}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="doctor_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_name}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="medicalCertificateEmployeesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: medicalCertificateEmployeesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(medicalCertificateEmployeeSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="medicalCertificateEmployeesTotalCount"
      [ngStyle]="{display: medicalCertificateEmployeesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" medicalCertificateEmployeeSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>