
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     Lab Test Normal Range  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchLabTestNormalRanges();" *ngIf="tcAuthorization.canRead('lab_test_normal_ranges')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addLabTestNormalRange();" *ngIf="tcAuthorization.canCreate('lab_test_normal_ranges')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="labTestNormalRangeSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="labTestNormalRangePersist.labTestNormalRangeSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="labTestNormalRangeSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="labTestNormalRangeIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let labTestNormalRange of labTestNormalRangesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('lab_test_normal_ranges') || tcAuthorization.canDelete('lab_test_normal_ranges')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editLabTestNormalRange(labTestNormalRange)" *ngIf="tcAuthorization.canUpdate('lab_test_normal_ranges')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteLabTestNormalRange(labTestNormalRange)" *ngIf="tcAuthorization.canDelete('lab_test_normal_ranges')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{labTestNormalRange.name}}
          </div><div class="tc-detail-field">
            <span>date</span>
            {{labTestNormalRange.date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchLabTestNormalRanges.length >0 || labTestNormalRangeSelectAll">
        <button mat-button (click)="downloadLabTestNormalRanges()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{labTestNormalRangeSelectAll ? labTestNormalRangesTotalCount : labTestNormalRangeSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="labTestNormalRangesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(labTestNormalRangesData,labTestNormalRangeSelection) "
              [checked]=" tcUtilsArray.isAllSelected(labTestNormalRangesData,labTestNormalRangeSelection) || labTestNormalRangeSelectAll"
              [indeterminate]="labTestNormalRangeSelection.length <labTestNormalRangesData.length && labTestNormalRangeSelection.length>0"
              [disabled]="labTestNormalRangeSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="labTestNormalRangeSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #labTestNormalRangeSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="labTestNormalRangeSelectAll=true;" [disabled]="labTestNormalRangeSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="labTestNormalRangeSelectAll = false;" [disabled]="!labTestNormalRangeSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(labTestNormalRangeSelection,row) : null"
              [checked]="tcUtilsArray.contains(labTestNormalRangeSelection,row) || labTestNormalRangeSelectAll" [disabled]="labTestNormalRangeSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="sex">
          <mat-header-cell *matHeaderCellDef mat-sort-header>sex
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(labTestNormalRangePersist.sex,element.sex)?.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="min_age">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Min Age</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.min_age }}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="min_range">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Min Range</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.min_range }}</mat-cell>
       </ng-container>
       <ng-container matColumnDef="max_range">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Max Range</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.max_range }}</mat-cell>
     </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="labTestNormalRangeNavigator.labTestNormalRangeUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('lab_test_normal_ranges') || tcAuthorization.canDelete('lab_test_normal_ranges')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editLabTestNormalRange(element)" *ngIf="tcAuthorization.canUpdate('lab_test_normal_ranges') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteLabTestNormalRange(element)" *ngIf="tcAuthorization.canDelete('lab_test_normal_ranges')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="labTestNormalRangesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: labTestNormalRangesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(labTestNormalRangeSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="labTestNormalRangesTotalCount"
        [ngStyle]="{display: labTestNormalRangesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>