
<mat-tab-group class="mat-elevation-z8"  [(selectedIndex)]="opdObservationPersist.selected_index"
(selectedTabChange)="onTabChanged($event);">
  <mat-tab label="Patient Detail">
    <div class="tc-loading" *ngIf="opdObservationIsLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div
      [ngClass]="
        activeTab == OpdObservationTabs.overview ? '' : 'tc-hidden'
      "
    >
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ appTranslation.getText("general", "basicdetails") }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!opdObservationIsLoading">
                  <p class="tc-detail-field">
                    <span> patient_name </span>
                    {{ opdObservationDetail.patient_name }}
                  </p>

                  <p class="tc-detail-field">
                    <span
                      >{{ appTranslation.getText("general", "gender") }}
                    </span>
                    <span *ngIf="opdObservationDetail.sex">
                      <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon>
                    </span>
                    <span *ngIf="!opdObservationDetail.sex">
                      <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> age</span>
                    {{ opdObservationDetail.age }}
                  </p>

                  <p class="tc-detail-field">
                    <span> department</span>
                    {{ opdObservationDetail.department }}
                  </p>
                  <p class="tc-detail-field">
                    <span> department sepcialty</span>
                    {{ opdObservationDetail.department_speciality }}
                  </p>

                  <p class="tc-detail-field">
                    <span> observation date</span>
                    {{ opdObservationDetail.date && opdObservationDetail.date * 1000|date:'MMM dd, yyyy. h:mm a'}}
                  </p>
                  
                  <p class="tc-detail-field">
                    <span> opd contact name</span>
                    {{ opdObservationDetail.opd_contact_name }}
                  </p>

                  <p class="tc-detail-field">
                    <span> opd contact phone</span>
                    {{ opdObservationDetail.opd_contact_phone }}
                  </p>
                </div>
                <!-- <mat-action-row>
                                       <button mat-button (click)="editOpdObservation()" *ngIf="tcAuthorization.canUpdate('opd_observations') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row> -->
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block"></div>
      </div>
    </div>
    </mat-tab>

    <!-- <mat-tab label="{{ appTranslation.getText('patient', 'clinical_instruction') }}">
      <ng-template matTabContent>
        <app-form_clinical_instruction-list *ngIf="opdObservationDetail.id" [showToolBar] = "false" [encounterId] = "opdObservationDetail.encounter_id" ></app-form_clinical_instruction-list>
      </ng-template>
    </mat-tab> -->
    
    <mat-tab
    label="Prescription"
    *ngIf="
      tcAuthorization.canRead('prescriptions')
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-file-medical"
      ></mat-icon>
      <span>{{ appTranslation.getText("patient", "prescription") }}</span>

    </ng-template>
    <ng-template matTabContent>
      <app-prescription-list
        *ngIf="opdObservationDetail.id"
        [encounterId]="opdObservationDetail.id"
        [store_type]="store_type.opd_store"
        [prescribe_type] ="prescription_type.opd_prescription"
      >
      </app-prescription-list>
    </ng-template>
  </mat-tab>


  <mat-tab
  label="Patient Procedure"
  *ngIf="
    tcAuthorization.canRead('patient_procedures')
  "
>
  <ng-template mat-tab-label class="tab-content">
    <mat-icon
      class="tab-icon"
      fontSet="fa"
      fontIcon="fa-procedures"
    ></mat-icon>
    <span>{{
      appTranslation.getText("procedure", "patient_procedures")
    }}</span>
  </ng-template>
  <ng-template matTabContent>
    <app-patient-procedure-list
    *ngIf="opdObservationDetail.id"
      [encounterId]="opdObservationDetail.id"
      [procedure_for]="null"
    >
    </app-patient-procedure-list>
  </ng-template>
</mat-tab>

    <!-- <mat-tab label="{{ appTranslation.getText('patient', 'clinical_instruction') }}">
      <ng-template matTabContent>
        <app-form_clinical_instruction-list *ngIf="opdObservationDetail.encounter_id" [showToolBar] = "false" [encounterId] = "opdObservationDetail.encounter_id" ></app-form_clinical_instruction-list>
      </ng-template>
    </mat-tab> -->
  
    <!-- <mat-tab label="{{ appTranslation.getText('bed', 'nursing_assessment') }}">
      <ng-template matTabContent>
        <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText('bed', 'nursing_assessment') }}
        </h1>
        <button mat-button (click)="refresh()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button> </mat-toolbar
      >
      <div class="tc-padding">
      <mat-form-field>
        <input
          matInput
          placeholder=
            '{{appTranslation.getText("general", "date")}}'
          [formControl]="date"
          [matDatepicker]="date_of_schedule"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="date_of_schedule"
        ></mat-datepicker-toggle>
        <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
        <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button
          aria-label="Clear" (click)="date.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nurse</mat-label>
        <input
          matInput
          placeholder="Nurse"
          type="text"
          disabled
          [(ngModel)]="nurseName"
          required
        >
        <button
          mat-icon-button
          matTooltip="Nurse"
          matSuffix
          color="primary"
          (click)="searchNurses()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf="nurseName" matSuffix mat-icon-button aria-label="Clear"
      (click)="nurseName = null; nurseId=null; loadDetails(opdObservationDetail.id)">
      <mat-icon>close</mat-icon>
      </button>
      </mat-form-field> 
      <div style="flex: 3; gap: 8px" class="tc-flex-column" *ngIf="opdObservationDetail.encounter_id">
        <mat-accordion>
            <mat-expansion-panel expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Nurse History
                    </mat-panel-title>
                </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <app-nurse-history-list [encounterId]="opdObservationDetail.encounter_id" [nurseId]="nurseId" [date]="date.value"></app-nurse-history-list>
                  </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Physical Examination
                  </mat-panel-title>
              </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-physical-examination-edit-list *ngIf="opdObservationDetail.encounter_id" [encounterId]="opdObservationDetail.encounter_id" [nurseId]="nurseId" [date]="date.value"></app-physical-examination-edit-list>
                </ng-template>
          </mat-expansion-panel>
      </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                  <mat-panel-title>                    
                    nutritional assesment
                  </mat-panel-title>
              </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-nutritional-assesment-list [encounterId]="opdObservationDetail.encounter_id" [nurseId]="nurseId" [date]="date.value"></app-nutritional-assesment-list>
                </ng-template>
          </mat-expansion-panel>
      </mat-accordion>
      
  
        <mat-accordion>
          <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                  <mat-panel-title>                    
                  Investigation
                  </mat-panel-title>
              </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-orders-list [sample_display]="true" *ngIf="!ordersDetail" [encounterId]="opdObservationDetail.encounter_id" (handleSelectedOrder)="loadOrdersDetail($event)"></app-orders-list>
                  <app-selected-orders-list *ngIf="ordersDetail" [ordersDetail]="ordersDetail" [patientDetail]="patientDetail" (handleBackButton)="handleBackButton()"></app-selected-orders-list>
                </ng-template>
                
          </mat-expansion-panel>
      </mat-accordion>
        </div>
      </div>
      </ng-template>
    </mat-tab> -->
  
    <!-- <mat-tab label="Nurse Diagnosis">
      <ng-template matTabContent>
        <app-diagnosis-list *ngIf="opdObservationDetail.encounter_id" [from_nurse]="true" [encounterId] = "opdObservationDetail.encounter_id" ></app-diagnosis-list>
      </ng-template>
    </mat-tab> -->
  
    
    <!-- <mat-tab label="{{ appTranslation.getText('bed', 'nurse_plan_of_care') }}">
      <ng-template matTabContent>
        <app-nurse-plan-of-care-list *ngIf="opdObservationDetail.encounter_id"   [encounterId] = "opdObservationDetail.encounter_id"></app-nurse-plan-of-care-list>
      </ng-template>
    </mat-tab> -->
    <!-- <mat-tab label="{{ appTranslation.getText('patient', 'implementation') }}">
      <ng-template matTabContent>
        <mat-toolbar class="tc-toolbar-secondary">
          <h1 class="mat-heading">
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{ appTranslation.getText("general", "overview") }}
          </h1>
          <button mat-button (click)="refresh()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
          <button mat-button (click)="back()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
          </button> </mat-toolbar
        >
        <div class="tc-padding">
        <mat-form-field>
          <input
            matInput
            placeholder=
              '{{appTranslation.getText("general", "date")}}'
            [formControl]="date"
            [matDatepicker]="date_of_schedule"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="date_of_schedule"
          ></mat-datepicker-toggle>
          <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
          <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button
            aria-label="Clear" (click)="date.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div style="flex: 3; gap: 8px" class="tc-flex-column">
          <mat-accordion>
              <mat-expansion-panel expanded="false">
                  <mat-expansion-panel-header>
                      <mat-panel-title>
                          nurse plan of care
                      </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <app-nurse-plan-of-care-list *ngIf="opdObservationDetail.encounter_id" [encounterId] = "opdObservationDetail.encounter_id" [implementation]="true"></app-nurse-plan-of-care-list>
                  </ng-template>
              </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Vital sign
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-form_clinical_instruction-list *ngIf="opdObservationDetail.encounter_id" [showToolBar] = "false" [encounterId] = "opdObservationDetail.encounter_id" [type]="instructionType.vital" [matExpansion]="true"></app-form_clinical_instruction-list>
  
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       medical administartion
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-form_clinical_instruction-list *ngIf="opdObservationDetail.encounter_id" [showToolBar] = "false" [encounterId] = "opdObservationDetail.encounter_id" [type]="instructionType.medication" [matExpansion]="true"></app-form_clinical_instruction-list>
  
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
        </div>
        </div>
      </ng-template>
    </mat-tab> -->
    <!-- <mat-tab label="{{ appTranslation.getText('patient', 'evaluation') }}">
      <ng-template matTabContent>
        <app-medication-adminstration-chart-list *ngIf="opdObservationDetail.encounter_id" [showToolBar] = "false" [encounterId] = "opdObservationDetail.encounter_id" ></app-medication-adminstration-chart-list>
      </ng-template>
    </mat-tab> -->
  
  </mat-tab-group>
  
