
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
   dispatch_or_reject  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchDispatchOrRejects();" *ngIf="tcAuthorization.canRead('dispatch_or_rejects')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addDispatchOrReject();" *ngIf="tcAuthorization.canCreate('dispatch_or_rejects')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="dispatchOrRejectSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="dispatchOrRejectPersist.dispatchOrRejectSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="dispatchOrRejectSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="dispatchOrRejectIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let dispatchOrReject of dispatchOrRejectsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('dispatch_or_rejects') || tcAuthorization.canDelete('dispatch_or_rejects')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editDispatchOrReject(dispatchOrReject)" *ngIf="tcAuthorization.canUpdate('dispatch_or_rejects')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDispatchOrReject(dispatchOrReject)" *ngIf="tcAuthorization.canDelete('dispatch_or_rejects')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>item_id</span>
          {{dispatchOrReject.item_id}}
        </div><div class="tc-detail-field">
          <span>store_id</span>
          {{dispatchOrReject.store_id}}
        </div><div class="tc-detail-field">
          <span>employee_id</span>
          {{dispatchOrReject.employee_id}}
        </div><div class="tc-detail-field">
          <span>batch_no</span>
          {{dispatchOrReject.batch_no}}
        </div><div class="tc-detail-field">
          <span>reason</span>
          {{dispatchOrReject.reason}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchDispatchOrRejects.length >0 || dispatchOrRejectSelectAll">
      <button mat-button (click)="downloadDispatchOrRejects()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{dispatchOrRejectSelectAll ? dispatchOrRejectsTotalCount : dispatchOrRejectSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="dispatchOrRejectsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(dispatchOrRejectsData,dispatchOrRejectSelection) "
            [checked]=" tcUtilsArray.isAllSelected(dispatchOrRejectsData,dispatchOrRejectSelection) || dispatchOrRejectSelectAll"
            [indeterminate]="dispatchOrRejectSelection.length <dispatchOrRejectsData.length && dispatchOrRejectSelection.length>0"
            [disabled]="dispatchOrRejectSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dispatchOrRejectSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #dispatchOrRejectSelectAllMenu="matMenu">

            <button mat-menu-item (click)="dispatchOrRejectSelectAll=true;" [disabled]="dispatchOrRejectSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="dispatchOrRejectSelectAll = false;" [disabled]="!dispatchOrRejectSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(dispatchOrRejectSelection,row) : null"
            [checked]="tcUtilsArray.contains(dispatchOrRejectSelection,row) || dispatchOrRejectSelectAll" [disabled]="dispatchOrRejectSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>item_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.item_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>store_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.store_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="employee_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>employee_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.employee_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="batch_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>batch_no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header>reason
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reason}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="dispatchOrRejectNavigator.dispatchOrRejectUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('dispatch_or_rejects') || tcAuthorization.canDelete('dispatch_or_rejects')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editDispatchOrReject(element)" *ngIf="tcAuthorization.canUpdate('dispatch_or_rejects') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDispatchOrReject(element)" *ngIf="tcAuthorization.canDelete('dispatch_or_rejects')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="dispatchOrRejectsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: dispatchOrRejectsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dispatchOrRejectSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="dispatchOrRejectsTotalCount"
      [ngStyle]="{display: dispatchOrRejectsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>