<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-user-md"></mat-icon>
    {{appTranslation.getText("patient", "physical_examination")}}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPhysical_Examinations();"
    *ngIf="tcAuthorization.canRead('physical_examinations')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPhysical_Examination();"
    *ngIf="tcAuthorization.canCreate('physical_examinations') && form_encounterPersist.encounter_is_active" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>



<div class="tc-flex-row tc-full-width" *ngIf="physical_examinationsData.length > 0">
    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{appTranslation.getText('patient','general_apperance')}}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">

            <div class="wrap-text" disabled>
                <p>{{physical_examinationsData[0].general_appearance}}</p>
            </div>


            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>

    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{ appTranslation.getText("patient", "ent") }}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.ent][physicalState.normal].length || canGive(physicalOptions.ent, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.ent][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.ent]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.ent][physicalState.abnormal].length || canGive(physicalOptions.ent, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.ent][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.ent]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].ent}}</p>
                </div>




            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>
</div>






<div class="tc-flex-row tc-full-width" *ngIf="physical_examinationsData.length > 0">
    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{appTranslation.getText('patient','eye')}}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div disabled class="wrap-text">
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.eye][physicalState.normal].length || canGive(physicalOptions.eye, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.eye][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.eye]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.eye][physicalState.abnormal].length || canGive(physicalOptions.eye, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.eye][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.eye]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].eye}}</p>
                </div>


            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>

    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{ appTranslation.getText("patient", "head_and_neck") }}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">

                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.head_and_neck][physicalState.normal].length || canGive(physicalOptions.head_and_neck, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.head_and_neck][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.head_and_neck]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.head_and_neck][physicalState.abnormal].length || canGive(physicalOptions.head_and_neck, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.head_and_neck][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.head_and_neck]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].head_and_neck}}</p>
                </div>





            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>
</div>




<div class="tc-flex-row tc-full-width" *ngIf="physical_examinationsData.length > 0">
    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{appTranslation.getText('patient','glands')}}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.glands][physicalState.normal].length || canGive(physicalOptions.glands, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.glands][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.glands]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.glands][physicalState.abnormal].length || canGive(physicalOptions.glands, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.glands][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.glands]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].glands}}</p>
                </div>


            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>

    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{ appTranslation.getText("patient", "chests") }}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.chests][physicalState.normal].length || canGive(physicalOptions.chests, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.chests][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.chests]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.chests][physicalState.abnormal].length || canGive(physicalOptions.chests, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.chests][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.chests]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].chests}}</p>
                </div>


            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>
</div>



<div class="tc-flex-row tc-full-width" *ngIf="physical_examinationsData.length > 0">
    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{appTranslation.getText('patient','cardiovascular')}}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.cardiovascular][physicalState.normal].length || canGive(physicalOptions.cardiovascular, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.cardiovascular][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.cardiovascular]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.cardiovascular][physicalState.abnormal].length || canGive(physicalOptions.cardiovascular, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.cardiovascular][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.cardiovascular]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].cardiovascular}}</p>
                </div>



            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>

    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{ appTranslation.getText("patient", "abdominal") }}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.abdominal][physicalState.normal].length || canGive(physicalOptions.abdominal, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.abdominal][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.abdominal]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.abdominal][physicalState.abnormal].length || canGive(physicalOptions.abdominal, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.abdominal][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.abdominal]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].abdominal}}</p>
                </div>




            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>
</div>



<div class="tc-flex-row tc-full-width" *ngIf="physical_examinationsData.length > 0">
    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{appTranslation.getText('patient','genitourinary')}}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.genitourinary][physicalState.normal].length || canGive(physicalOptions.genitourinary, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.genitourinary][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.genitourinary]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.genitourinary][physicalState.abnormal].length || canGive(physicalOptions.genitourinary, true) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.genitourinary][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.genitourinary]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].genitourinary}}</p>
                </div>


            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>

    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{ appTranslation.getText("patient", "musculoskeletal") }}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.musculoskeletal][physicalState.normal].length || canGive(physicalOptions.musculoskeletal, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.musculoskeletal][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.musculoskeletal]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.musculoskeletal][physicalState.abnormal].length || canGive(physicalOptions.musculoskeletal, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.musculoskeletal][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.musculoskeletal]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].musculoskeletal}}</p>
                </div>



            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>
</div>

<div class="tc-flex-row tc-full-width" *ngIf="physical_examinationsData.length > 0">
    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{appTranslation.getText('patient','integumentary')}}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">
                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.integument][physicalState.normal].length || canGive(physicalOptions.integument, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.integument][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.integument]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.integument][physicalState.abnormal].length || canGive(physicalOptions.integument, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.integument][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.integument]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].integument}}</p>
                </div>


            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>

    <div class="tc-equal-block">
    <div class="tc-padding">
        <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{ appTranslation.getText("patient", "neurology") }}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!physical_examinationLoading">


                <div class="wrap-text" disabled>
                    <!-- <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.neurology][physicalState.normal].length || canGive(physicalOptions.neurology, true) ? 'Normal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.neurology][physicalState.normal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.neurology]?.detail?.normal}}</p>
                    <h1 style="text-align: center;">{{physical_examinationResult[physicalOptions.neurology][physicalState.abnormal].length || canGive(physicalOptions.neurology, false) ? 'Abnormal': ''}}</h1>
                    <ul>
                        <li *ngFor="let res of physical_examinationResult[physicalOptions.neurology][physicalState.abnormal]">{{res}}</li>
                    </ul>
                    <p>{{physical_examinationResult[physicalOptions.neurology]?.detail?.abnormal}}</p> -->
                    <p>{{physical_examinationsData[0].neurology}}</p>
                </div>



            </div>
        </mat-expansion-panel>

        </mat-accordion>
    </div>
    </div>
</div>

<div class="tc-table-container tc-full-stretch tc-hide-on-desktop tc-hide-on-tablet">

    <mat-toolbar *ngIf="physical_examinationsSelected.length >0 ">
    <button mat-button (click)="downloadPhysical_Examinations()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
    </button>

    </mat-toolbar>

    <mat-table [dataSource]="physical_examinationsData" matSort>

    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(physical_examinationsData,physical_examinationsSelected) "
            [checked]=" tcUtilsArray.isAllSelected(physical_examinationsData,physical_examinationsSelected)"
            [indeterminate]="physical_examinationsSelected.length <physical_examinationsData.length && physical_examinationsSelected.length>0">
        </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(physical_examinationsSelected,row) : null"
            [checked]="tcUtilsArray.contains(physical_examinationsSelected,row)">
        </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="general_appearance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','general_apperance')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.general_appearance}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','ent')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ent}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="eye">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','eye')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.eye}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="head_and_neck">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','head_and_neck')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.head_and_neck}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="glands">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','glands')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.glands}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="chests">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','chests')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.chests}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cardiovascular">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','cardiovascular')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cardiovascular}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="abdominal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','abdominal')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.abdominal}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="genitourinary">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','genitourinary')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.genitourinary}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="musculoskeletal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','musculoskeletal')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.musculoskeletal}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="integument">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','integumentary')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.integument}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="neurology">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','neurology')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.neurology}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="encounter">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="vital_sign">
        <mat-header-cell *matHeaderCellDef mat-sort-header>vital_sign</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.vital_sign}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
        <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="edit && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
        </button>
        <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editPhysical_Examination(element)">
            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
            <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePhysical_Examination(element)">
            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
            <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
        </mat-menu>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="physical_examinationsDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: physical_examinationsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(physical_examinationsSelected,row)}">
    </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
    [pageSize]="tcUtilsArray.defaultPageSize" [length]="physical_examinationsTotalCount"
    [ngStyle]="{display: physical_examinationsTotalCount > 0? '':'none'}">
    </mat-paginator>
</div>