<div class="tc-loading" *ngIf="medicationAdminstrationChartIsLoading">
    <mat-spinner></mat-spinner>
</div>

<div [ngClass]="activeTab==MedicationAdminstrationChartTabs.overview? '':'tc-hidden'">
    <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)=" reload()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
            <div class="tc-padding">
                <mat-accordion>
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{appTranslation.getText("general","basicdetails")}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div *ngIf="!medicationAdminstrationChartIsLoading">
                            <p class="tc-detail-field">
                            <p class="tc-detail-field">
                                Date and time <span> {{medicationAdminstrationChartDetail.date_and_time * 1000|date:'MMM dd, yyyy. h:mm a'}}
                                </span>
                            </p>
                            <div *ngIf="medicationAdminstrationChartDetail.prescription_detail">
                                <p class="tc-detail-field">
                                    Drug <span> {{medicationAdminstrationChartDetail.prescription_detail.drug_name}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    Route <span> {{tcUtilsArray.getEnum(medicationAdminstrationChartPersist.MedicationRoute,medicationAdminstrationChartDetail.route)?.name}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    Dose <span> {{medicationAdminstrationChartDetail.drug_dose}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    Frequency <span> {{tcUtilsArray.getEnum(prescriptionPersist.frequency,medicationAdminstrationChartDetail.prescription_detail.frequency)?.name}}
                                    </span>
                                </p>
                                <p class="tc-detail-field">
                                    Duration <span> {{medicationAdminstrationChartDetail.prescription_detail.duration}}
                                    </span>
                                </p>
                                <p class="tc-detail-field">
                                    Duration unit <span>
                                        {{tcUtilsArray.getEnum(prescriptionPersist.frequencyList,medicationAdminstrationChartDetail.prescription_detail.duration_unit)?.name}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    How to use <span> {{tcUtilsArray.getEnum(prescriptionPersist.HowToUse,medicationAdminstrationChartDetail.prescription_detail.how_to_use)?.name}}
                                    </span>
                                </p>
                            </div>
                            <p class="tc-detail-field">
                                Given by <span> {{medicationAdminstrationChartDetail.given_by_name}} </span>
                            </p>
                        </div>
                        <mat-action-row>
                            <button mat-button (click)="editMedicationAdminstrationChart()"
                                *ngIf="tcAuthorization.canUpdate('medication_adminstration_chart') ">
                                {{appTranslation.getText("general", "edit")}}
                            </button>
                        </mat-action-row>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="tc-equal-block">
        </div>
    </div>

</div>