<!-- <div class="tc-equal-block" *ngIf="item_in_storeDetail.id && !isMain">
  <app-transfer-list [item_id]="item_in_storeDetail.id"></app-transfer-list>
</div>
<div class="tc-equal-block" *ngIf="item_in_storeDetail.id && isMain">
  <app-item_receive-list
    [item_id]="item_in_storeDetail.id"
  ></app-item_receive-list>
</div> -->


<div class="tc-equal-block" *ngIf="item_in_storeDetail.id ">
  <app-bin-card [item_id]="item_in_storeDetail.id">
    
  </app-bin-card>
</div>
