<h1 mat-dialog-title>
    Diagnosis Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="diagnosissSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="diagnosisPersist.diagnosisSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="diagnosissSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="diagnosissIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="diagnosissData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(diagnosissData,diagnosissSelection) "
              [checked]=" tcUtilsArray.isAllSelected(diagnosissData,diagnosissSelection)"
              [indeterminate]="diagnosissSelection.length <diagnosissData.length && diagnosissSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="diagnosissSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{diagnosissSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="diagnosissSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(diagnosissSelection,row) : null"
                          [checked]="tcUtilsArray.contains(diagnosissSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(diagnosissSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="diagnosis_order">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','order')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.diagnosis_order}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="certainity">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','certainity')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.certainity}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="encounter_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','encounter')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="patient_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="status">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','status')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="note">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('notes','note')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.note}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','date')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="diagnosissDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: diagnosissDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(diagnosissSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="diagnosissTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" diagnosissSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  