
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-dolly"></mat-icon>
     item_receive  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchItemReceives();" *ngIf="tcAuthorization.canRead('item_receives')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addItemReceive();" *ngIf="tcAuthorization.canCreate('item_receives') && purchaseId" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="itemReceiveSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngir.id as item_receive_id, p.id as purchase_id,p.purchaser_id,If="itemReceivePersist.itemReceiveSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemReceiveSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                  [(value)]="itemReceivePersist.status"
                  (valueChange)="searchItemReceives()">
        <mat-option *ngFor="let etype of itemReceivePersist.ReceiveStatus" [value]="etype.id" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="itemReceivePersist.status" matSuffix mat-icon-button aria-label="Clear"
              (click)="itemReceivePersist.status = null;searchItemReceives();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  <mat-form-field>
    <input matInput [formControl]="crvNumberBox"
           placeholder='Voucher No.'>
    <button mat-button *ngIf="itemReceivePersist.crv_number" matSuffix mat-icon-button aria-label="Clear"
            (click)="crvNumberBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field>
    <input matInput [formControl]="refNoBox"
           placeholder='Ref No.'>
    <button mat-button *ngIf="itemReceivePersist.ref_no" matSuffix mat-icon-button aria-label="Clear"
            (click)="refNoBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Supplier</mat-label>
    <input
      matInput
      placeholder="Supplier"
      type="text"
      disabled
      [(ngModel)]="itemReceivePersist.supplier_name"
      required
    >
    <button
      mat-icon-button
      matTooltip="Sub category"
      matSuffix
      color="primary"
      (click)="searchSupplier()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="itemReceivePersist.supplier_name" matSuffix mat-icon-button aria-label="Clear"
(click)="itemReceivePersist.supplier_name = null; itemReceivePersist.supplier_id=null; searchItemReceives()">
<mat-icon>close</mat-icon>
</button>
  </mat-form-field> 


    <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="itemReceivePersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReceivePersist.store_id = null; store_name = null ; searchItemReceives()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>

  

    <mat-form-field>
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="itemReceivePersist.from_date"
        [matDatepicker]="from_date_picker"
      />
    
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="itemReceivePersist.from_date.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReceivePersist.from_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="itemReceivePersist.to_date"
        [matDatepicker]="to_date_picker"
      />
    
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="itemReceivePersist.to_date.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReceivePersist.to_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field> 
    <mat-form-field>
      <mat-select placeholder="Category"
                  [(value)]="itemReceivePersist.category"
                  (valueChange)="searchItemReceives()">
        <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="itemReceivePersist.category" matSuffix mat-icon-button aria-label="Clear"
              (click)="itemReceivePersist.category = null;searchItemReceives();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
      <mat-form-field>
        <mat-label>Sub Category</mat-label>
        <input
          matInput
          placeholder="Sub Category"
          type="text"
          disabled
          [(ngModel)]="subCategoryName"
          required
        >
        <button
          mat-icon-button
          matTooltip="Sub category"
          matSuffix
          color="primary"
          (click)="searchCategory(true)"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
    (click)="subCategoryName = null; itemReceivePersist.categoryId=categoryId; searchItemReceives()">
    <mat-icon>close</mat-icon>
    </button>
      </mat-form-field> 
      <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="searchItemReceives()"
    [(ngModel)]="itemReceivePersist.isRemaining"
    required
  >
    Remaining
  </mat-slide-toggle>
    <div class="tc-loading" *ngIf="itemReceiveIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let itemReceive of itemReceivesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('item_receives') || tcAuthorization.canDelete('item_receives')) && itemReceive.remaining">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editItemReceive(itemReceive)" *ngIf="tcAuthorization.canUpdate('item_receives')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteItemReceive(itemReceive)" *ngIf="tcAuthorization.canDelete('item_receives')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="tc-detail-field">
            <span>Name</span>
            {{itemReceive.name}}
          </div><div class="tc-detail-field">
            <span>received_date</span>
            {{itemReceive.received_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div><div class="tc-detail-field">
            <span>batch_no</span>
            {{itemReceive.batch_no}}
          </div><div class="tc-detail-field">
            <span>location</span>
            {{itemReceive.location}}
          </div>
          <div class="tc-detail-field">
            <span>unit</span>
            {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units, itemReceive.unit).name)}}
          </div>
          <div class="tc-detail-field">
            <span>quantity</span>
            {{itemReceive.quantity}}
          </div><div class="tc-detail-field">
            <span>unit</span>
            {{tcUtilsArray.getEnum(itemReceivePersist.ReceiveStatus, itemReceive.status).name}}
          </div><div class="tc-detail-field">
            <span>unit_price</span>
            {{itemReceive.unit_price}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{itemReceive.status}}
          </div> 
          <div class="tc-detail-field">
            <span>Remaining</span>
            {{itemReceive.remaining}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchItemReceives.length >0 || itemReceiveSelectAll">
        <button mat-button (click)="downloadItemReceives()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{itemReceiveSelectAll ? itemReceivesTotalCount : itemReceiveSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="itemReceivesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(itemReceivesData,itemReceiveSelection) "
              [checked]=" tcUtilsArray.isAllSelected(itemReceivesData,itemReceiveSelection) || itemReceiveSelectAll"
              [indeterminate]="itemReceiveSelection.length <itemReceivesData.length && itemReceiveSelection.length>0"
              [disabled]="itemReceiveSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemReceiveSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #itemReceiveSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="itemReceiveSelectAll=true;" [disabled]="itemReceiveSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="itemReceiveSelectAll = false;" [disabled]="!itemReceiveSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
              <button mat-menu-item (click)="firstPrint()"  [disabled]="!itemReceiveSelection.length">
                print
              </button>
              <button mat-menu-item (click)="secondPrint()"  [disabled]="!itemReceiveSelection.length">
                re print
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(itemReceiveSelection,row) : null"
              [checked]="tcUtilsArray.contains(itemReceiveSelection,row) || itemReceiveSelectAll" [disabled]="itemReceiveSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="item_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Item
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{itemNavigator.itemName(element)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="received_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>received_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.received_date && element.received_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="sent_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Sent date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.sent_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="batch_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>batch_no
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef mat-sort-header>location
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.location}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units, element.unit).name)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="unit_price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.unit_price}}</mat-cell>
        </ng-container>

      <ng-container matColumnDef="crv_number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher No.
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.crv_number }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="ref_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ref No.
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ref_no }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(itemReceivePersist.ReceiveStatus, element.status).name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="expire_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>expire_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="remaining">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Remaining
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.remaining}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="itemReceiveNavigator.itemReceiveUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="((tcAuthorization.canUpdate('item_receives') || tcAuthorization.canDelete('item_receives'))) && element.remaining">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <ng-container *ngIf="element.status == receiveStatus.sent">
            <!-- <button mat-menu-item (click)="editItemReceive(element)" *ngIf="tcAuthorization.canUpdate('item_receives') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button> -->
              <button mat-menu-item (click)="deleteItemReceive(element)" *ngIf="tcAuthorization.canDelete('item_receives')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
                
              </button>
              <button mat-menu-item (click)="acceptItem(element)" *ngIf="tcAuthorization.canUpdate('item_receives')">
                <mat-icon fontSet="fa" fontIcon="fa-square-check"></mat-icon>
                <span>Accept </span>
              </button>
              <button mat-menu-item (click)="rejectItem(element)" *ngIf="tcAuthorization.canUpdate('item_receives')">
                <mat-icon fontSet="fa" fontIcon="fa-square-xmark"></mat-icon>
                <span>Reject </span>
              </button>
            </ng-container>
            <ng-container *ngIf="element.status == receiveStatus.received">
              <button mat-menu-item (click)="addLostDamage(element)" *ngIf="tcAuthorization.canUpdate('item_receives')">
                <mat-icon fontSet="fa" fontIcon="fa-circle-exclamation"></mat-icon>
                <span>Lost/Damage </span>
              </button>
            </ng-container>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="itemReceivesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemReceivesDisplayedColumns;"
          [ngClass]="item_in_storePersist.expiration(row.expire_date) +  (tcUtilsArray.contains(itemReceiveSelection,row) ? ' tc-selected-row': '') "></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemReceivesTotalCount"
        [ngStyle]="{display: itemReceivesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  