
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     Patient history  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPatient_historys();" *ngIf="tcAuthorization.canRead('patient_historys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPatient_history();" *ngIf="tcAuthorization.canCreate('patient_historys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="patientHistorySearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="patientHistoryPersist.patientHistorySearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="patientHistorySearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="patientHistoryIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let patientHistory of patientHistorysData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('patient_historys') || tcAuthorization.canDelete('patient_historys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPatientHistory(patientHistory)" *ngIf="tcAuthorization.canUpdate('patient_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePatientHistory(patientHistory)" *ngIf="tcAuthorization.canDelete('patient_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>chief_compliant</span>
            {{patientHistory.chief_compliant}}
          </div><div class="tc-detail-field">
            <span>hpi</span>
            {{patientHistory.hpi}}
          </div><div class="tc-detail-field">
            <span>risk_assessment</span>
            {{patientHistory.risk_assessment}}
          </div><div class="tc-detail-field">
            <span>family_history</span>
            {{patientHistory.family_history}}
          </div><div class="tc-detail-field">
            <span>personal_history</span>
            {{patientHistory.personal_history}}
          </div><div class="tc-detail-field">
            <span>pregnancy_birth</span>
            {{patientHistory.pregnancy_birth}}
          </div><div class="tc-detail-field">
            <span>mode_of_delivery</span>
            {{patientHistory.mode_of_delivery}}
          </div><div class="tc-detail-field">
            <span>history_of_abortion</span>
            {{patientHistory.history_of_abortion}}
          </div><div class="tc-detail-field">
            <span>health_during_childhood</span>
            {{patientHistory.health_during_childhood}}
          </div><div class="tc-detail-field">
            <span>education</span>
            {{patientHistory.education}}
          </div><div class="tc-detail-field">
            <span>work</span>
            {{patientHistory.work}}
          </div><div class="tc-detail-field">
            <span>sexual_history</span>
            {{patientHistory.sexual_history}}
          </div><div class="tc-detail-field">
            <span>menustrial_history</span>
            {{patientHistory.menustrial_history}}
          </div><div class="tc-detail-field">
            <span>maritual_history</span>
            {{patientHistory.maritual_history}}
          </div><div class="tc-detail-field">
            <span>childhood_psychological_history</span>
            {{patientHistory.childhood_psychological_history}}
          </div><div class="tc-detail-field">
            <span>physical_sexual_history</span>
            {{patientHistory.physical_sexual_history}}
          </div><div class="tc-detail-field">
            <span>illness</span>
            {{patientHistory.illness}}
          </div><div class="tc-detail-field">
            <span>operation</span>
            {{patientHistory.operation}}
          </div><div class="tc-detail-field">
            <span>accidents</span>
            {{patientHistory.accidents}}
          </div><div class="tc-detail-field">
            <span>accidents_date</span>
            {{patientHistory.accidents_date}}
          </div><div class="tc-detail-field">
            <span>illness_date</span>
            {{patientHistory.illness_date}}
          </div><div class="tc-detail-field">
            <span>operation_date</span>
            {{patientHistory.operation_date}}
          </div><div class="tc-detail-field">
            <span>any_current_medication</span>
            {{patientHistory.any_current_medication}}
          </div><div class="tc-detail-field">
            <span>previous_psychiatric_history</span>
            {{patientHistory.previous_psychiatric_history}}
          </div><div class="tc-detail-field">
            <span>Forensic_history</span>
            {{patientHistory.Forensic_history}}
          </div><div class="tc-detail-field">
            <span>substance_history</span>
            {{patientHistory.substance_history}}
          </div><div class="tc-detail-field">
            <span>premorbid_personality</span>
            {{patientHistory.premorbid_personality}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPatient_historys.length >0 || patientHistorySelectAll">
        <button mat-button (click)="downloadPatientHistorys()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{patientHistorySelectAll ? patientHistorysTotalCount : patientHistorySelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="patientHistorysData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(patientHistorysData,patientHistorySelection) "
              [checked]=" tcUtilsArray.isAllSelected(patientHistorysData,patientHistorySelection) || patientHistorySelectAll"
              [indeterminate]="patientHistorySelection.length <patientHistorysData.length && patientHistorySelection.length>0"
              [disabled]="patientHistorySelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="patientHistorySelectAllMenu"></mat-icon>
            </button>
            <mat-menu #patientHistorySelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="patientHistorySelectAll=true;" [disabled]="patientHistorySelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="patientHistorySelectAll = false;" [disabled]="!patientHistorySelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(patientHistorySelection,row) : null"
              [checked]="tcUtilsArray.contains(patientHistorySelection,row) || patientHistorySelectAll" [disabled]="patientHistorySelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="chief_compliant">
          <mat-header-cell *matHeaderCellDef mat-sort-header>chief_compliant
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.chief_compliant}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="hpi">
          <mat-header-cell *matHeaderCellDef mat-sort-header>hpi
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.hpi}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="risk_assessment">
          <mat-header-cell *matHeaderCellDef mat-sort-header>risk_assessment
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.risk_assessment}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="family_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>family_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.family_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="personal_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>personal_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.personal_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="pregnancy_birth">
          <mat-header-cell *matHeaderCellDef mat-sort-header>pregnancy_birth
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pregnancy_birth}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="mode_of_delivery">
          <mat-header-cell *matHeaderCellDef mat-sort-header>mode_of_delivery
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.mode_of_delivery}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="history_of_abortion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>history_of_abortion
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.history_of_abortion}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="health_during_childhood">
          <mat-header-cell *matHeaderCellDef mat-sort-header>health_during_childhood
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.health_during_childhood}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="education">
          <mat-header-cell *matHeaderCellDef mat-sort-header>education
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.education}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="work">
          <mat-header-cell *matHeaderCellDef mat-sort-header>work
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.work}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="sexual_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>sexual_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.sexual_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="menustrial_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>menustrial_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.menustrial_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="maritual_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>maritual_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.maritual_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="childhood_psychological_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>childhood_psychological_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.childhood_psychological_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="physical_sexual_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>physical_sexual_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.physical_sexual_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="illness">
          <mat-header-cell *matHeaderCellDef mat-sort-header>illness
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.illness}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="operation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>operation
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.operation}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="accidents">
          <mat-header-cell *matHeaderCellDef mat-sort-header>accidents
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.accidents}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="accidents_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>accidents_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.accidents_date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="illness_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>illness_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.illness_date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="operation_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>operation_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.operation_date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="any_current_medication">
          <mat-header-cell *matHeaderCellDef mat-sort-header>any_current_medication
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.any_current_medication}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="previous_psychiatric_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>previous_psychiatric_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.previous_psychiatric_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="Forensic_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Forensic_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.Forensic_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="substance_history">
          <mat-header-cell *matHeaderCellDef mat-sort-header>substance_history
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.substance_history}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="premorbid_personality">
          <mat-header-cell *matHeaderCellDef mat-sort-header>premorbid_personality
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.premorbid_personality}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="patientHistoryNavigator.patientHistoryUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('patient_historys') || tcAuthorization.canDelete('patient_historys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editPatientHistory(element)" *ngIf="tcAuthorization.canUpdate('patient_historys') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePatientHistory(element)" *ngIf="tcAuthorization.canDelete('patient_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="patientHistorysDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: patientHistorysDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patientHistorySelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="patientHistorysTotalCount"
        [ngStyle]="{display: patientHistorysTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>