<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    {{appTranslation.getText("telegram", "telegram")}}
  </h3>
  <button mat-button (click)=" searchTgidentitys();" *ngIf="tcAuthorization.canRead('tgidentitys')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addTgidentity();" *ngIf="tcAuthorization.canCreate('tgidentitys')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="tgidentitysSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="tgidentityPersist.tgidentitySearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="tgidentitysSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="tgidentitysIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap" class="tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let tgidentity of tgidentitysData" class="tc-card">
      <mat-card-header>
        <mat-card-title><a [routerLink]="tgidentityNavigator.tgidentityUrl(tgidentity.id)"
                           class="tc-link">{{tgidentity.first_name}} {{tgidentity.last_name}}</a>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('tgidentitys') || tcAuthorization.canDelete('tgidentitys')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editTgidentity(tgidentity)" *ngIf="tcAuthorization.canUpdate('tgidentitys')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteTgidentity(tgidentity)"
                    *ngIf="tcAuthorization.canDelete('tgidentitys')">

              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("general", "telephone")}}</span>
          {{tgidentity.telephone_number}}
        </div>
        <div class="tc-detail-field">
          <span>username</span>
          {{tgidentity.username}}
        </div>

        <div class="tc-detail-field">
          <span>picture</span>
          <img [src]="tgidentity.photo_url" style="cursor:pointer;max-width:150px;"/>
        </div>
        <div class="tc-detail-field">
          <span>Reg. date</span>
          {{tcUtilsDate.toDate(tgidentity.reg_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>

        <div class="tc-detail-field">
          <span>state</span>
          {{tcUtilsArray.getEnum(tgidentityPersist.TelegramUserStates, tgidentity.state).name}}
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="tgidentitysSelection.length >0 || tgidentitysSelectAll">
      <button mat-button (click)="downloadTgidentitys()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{tgidentitysSelectAll ? tgidentitysTotalCount : tgidentitysSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="tgidentitysData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(tgidentitysData,tgidentitysSelection) "
            [checked]=" tcUtilsArray.isAllSelected(tgidentitysData,tgidentitysSelection) || tgidentitysSelectAll"
            [indeterminate]="tgidentitysSelection.length <tgidentitysData.length && tgidentitysSelection.length>0"
            [disabled]="tgidentitysSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="tgidentitysSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #tgidentitysSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="tgidentitysSelectAll=true;"
                    [disabled]="tgidentitysSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="tgidentitysSelectAll = false;"
                    [disabled]="!tgidentitysSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(tgidentitysSelection,row) : null"
                        [checked]="tcUtilsArray.contains(tgidentitysSelection,row) || tgidentitysSelectAll"
                        [disabled]="tgidentitysSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="photo_url">
        <mat-header-cell *matHeaderCellDef class="tc-column-picture"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-picture">
          <img [src]="element.photo_url" style="cursor:pointer;"/>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">


        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general", "name")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">
            <a [routerLink]="tgidentityNavigator.tgidentityUrl(element.id)"
               class="tc-link">{{element.first_name}} {{element.last_name}}</a>
            <span class="tc-text-muted" *ngIf="element.username != ''">@{{element.username}}</span></div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="telephone_number">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("general", "telephone")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.telephone_number}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="reg_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("general", "reg_date")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.reg_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="contactable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>contactable</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="element.contactable"></mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>state</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{tcUtilsArray.getEnum(tgidentityPersist.TelegramUserStates, element.state).name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>user</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="hasUser(element)"></mat-icon>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('tgidentitys') || tcAuthorization.canDelete('tgidentitys')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="sendMessage(element)" [disabled]="!hasUser(element)">
              <mat-icon fontSet="fa" fontIcon="fa-paper-plane"></mat-icon>
              {{appTranslation.getText("general", "send_message")}}
            </button>
            <mat-divider></mat-divider>

            <button mat-menu-item (click)="editTgidentity(element)" *ngIf="tcAuthorization.canUpdate('tgidentitys') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteTgidentity(element)" *ngIf="tcAuthorization.canDelete('tgidentitys')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="createNewUser(element)" [disabled]="hasUser(element)">
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
              <span>{{appTranslation.getText("telegram", "create_new_user")}}</span>
            </button>
            <button mat-menu-item (click)="assignUser(element)" *ngIf="tcAuthorization.isSysAdmin()">
              <mat-icon fontSet="fa" fontIcon="fa-link"></mat-icon>
              <span>{{appTranslation.getText("telegram", "assign_user")}}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="activate(element)" [disabled]="!canActivate(element)">
              <mat-icon fontSet="fa" fontIcon="fa-user-check"></mat-icon>
              <span>{{appTranslation.getText("users", "activate")}}</span>
            </button>
            <button mat-menu-item (click)="deactivate(element)" [disabled]="!canDeactivate(element)">
              <mat-icon fontSet="fa" fontIcon="fa-user-slash"></mat-icon>
              <span>{{appTranslation.getText("users", "deactivate")}}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="tgidentitysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: tgidentitysDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(tgidentitysSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="tgidentitysTotalCount"></mat-paginator>
  </div>
</div>


