
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
            class="tc-sidebar mat-elevation-z8" position="end">
            <div class="tc-sidebar-inner">
                <div class="tc-padding" *ngIf="!flowSheetIsLoading">
                    <h1 class="mat-h1 ">{{flowSheetDetail.id}} </h1>
                </div>
                <mat-nav-list>
                    <mat-list-item [ngClass]="activeTab == FlowSheetTabs.overview? 'tc-list-item-focus':''"
                        (click)="activeTab = FlowSheetTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                        <a>
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav> <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="flowSheetIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==FlowSheetTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                    <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                              <button mat-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                              </button>
                            </p>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!flowSheetIsLoading">  <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.peep}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.date}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.rass}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.sbp}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.dbp}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.map}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.pr}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.rhythm}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.temprature}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.rbs}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.o2_support}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.o2_litre_or_fio2}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.flow_rate}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.rr}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.iv_niv}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.mode}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.pressure_set}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.psv}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.peak_pressure}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.plateau_pressure}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.tidal_volume_achieved}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.ketamine}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.ketofol_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.dopamine}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.feed_given}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.flush}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.driving_pressure}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.tidal_volume_set}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.fio2}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.spo2}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.total_rr}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.propofol}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.diazepam_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.dopamine_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.bolus_fluid_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.iv_fluid_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.feed_type}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.additional_feeding}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.rr_set}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.ketamine_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.propofol_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.ketofol}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.diazepam}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.ne_e}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.ne_e_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.bolus_fluid_type}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.iv_fluid}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.medication_fluid_amount}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.gastric_residual}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.total_hurly_input}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.urine_bag_off_ground}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.urine_hourly}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.urine_total}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.ng_og_tube}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.abdominal_drainage}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.vomitus}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.stool}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.chest_tube_right}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.chest_tube_left}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.insensible_loss}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{flowSheetDetail.total_hourly_output}} </span> 
                                                         </p>
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editFlowSheet()" *ngIf="tcAuthorization.canUpdate('flow_sheets') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    