<mat-tab-group #mainTabs style="margin-top: 1px">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fontSet="fa" fontIcon="fa-info"></mat-icon>
      {{ appTranslation.getText("general", "overview") }}
    </ng-template>

    <div class="tc-flex-row tc-full-width">
      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ appTranslation.getText("general", "basicdetails") }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngIf="!waitinglistLoading">
                <p class="tc-detail-field">
                  <span>patient_id </span>
                  {{ waitinglistDetail.patient_id }}
                </p>

                <p class="tc-detail-field">
                  <span
                    >{{ appTranslation.getText("general", "start_date") }}
                  </span>
                  {{ waitinglistDetail.start_date }}
                </p>

                <p class="tc-detail-field">
                  <span
                    >{{ appTranslation.getText("general", "end_date") }}
                  </span>
                  {{ waitinglistDetail.end_date }}
                </p>

                <p class="tc-detail-field">
                  <span>bed_room_type_id </span>
                  {{ waitinglistDetail.bed_room_type_id }}
                </p>

                <p class="tc-detail-field">
                  <span>bed_room_level_id </span>
                  {{ waitinglistDetail.bed_room_level_id }}
                </p>

                <p class="tc-detail-field">
                  <span
                    >{{ appTranslation.getText("patient", "priority") }}
                  </span>
                  {{ waitinglistDetail.priority }}
                </p>

                <p class="tc-detail-field">
                  <span
                    >{{ appTranslation.getText("general", "remark") }}
                  </span>
                  {{ waitinglistDetail.remark }}
                </p>
              </div>
              <mat-action-row>
                <button
                  mat-button
                  (click)="editWaitinglist()"
                  *ngIf="tcAuthorization.canUpdate('waiting_lists')"
                >
                  {{ appTranslation.getText("general", "edit") }}
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="tc-equal-block"></div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fontSet="fa" fontIcon="fa-ellipsis-h"></mat-icon>
      {{ appTranslation.getText("general", "more") }}
    </ng-template>
    <div class="tc-container">
      <div class="tc-flex-column">
        <div class="tc-padding">
          <button mat-raised-button (click)="reload()" class="tc-full-width">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            <span>{{ appTranslation.getText("general", "reload") }}</span>
          </button>
        </div>

        <div class="tc-padding">
          <button mat-raised-button (click)="back()" class="tc-full-width">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
            <span>{{ appTranslation.getText("general", "back") }}</span>
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
