<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <div class="tc-padding" *ngIf="!tgidentityLoaded">
        <h1 class="mat-h1 tc-dashboard-block-header ">{{tgidentityDetail.first_name}} </h1>

      </div>

      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == tgidentityTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = tgidentityTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a [routerLink]="[]">
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>{{appTranslation.getText("general","overview")}}
          </a>
        </mat-list-item>

      </mat-nav-list>

    </div>
    <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>


  </mat-sidenav>
  <mat-sidenav-content>

    <div [ngClass]="activeTab==tgidentityTabs.overview? '':'tc-hidden'">

      <mat-toolbar class="tc-toolbar-secondary ">
        <h3 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon> {{appTranslation.getText("general","overview")}}
        </h3>

        <button mat-button (click)=" reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="elementMenu" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v"></mat-icon>
        </button>
        <mat-menu #elementMenu="matMenu">

          <button mat-menu-item (click)="printTgidentity()">
            <mat-icon fontSet="fa" fontIcon="fa-file-pdf"></mat-icon>
            <span>{{appTranslation.getText("general", "print")}} </span>
          </button>

        </mat-menu>
      </mat-toolbar>

      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-accordion>

            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{appTranslation.getText("general","basicdetails")}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngIf="tgidentityLoaded">
                <p class="tc-detail-field">
                  <span>telegram_id </span>
                  {{tgidentityDetail.telegram_id}}
                </p>

                <p class="tc-detail-field">
                  <span>telephone_number </span>
                  {{tgidentityDetail.telephone_number}}
                </p>

                <p class="tc-detail-field">
                  <span>username </span>
                  {{tgidentityDetail.username}}
                </p>

                <p class="tc-detail-field">
                  <span>first_name </span>
                  {{tgidentityDetail.first_name}}
                </p>

                <p class="tc-detail-field">
                  <span>last_name </span>
                  {{tgidentityDetail.last_name}}
                </p>

                <p class="tc-detail-field">
                  <span>photo_url </span>
                  {{tgidentityDetail.photo_url}}
                </p>

                <p class="tc-detail-field">
                  <span>reg_date </span>
                  {{tgidentityDetail.reg_date}}
                </p>

                <p class="tc-detail-field">
                  <span>contactable </span>
                  {{tgidentityDetail.contactable}}
                </p>

                <p class="tc-detail-field">
                  <span>state </span>
                  {{tgidentityDetail.state}}
                </p>

                <p class="tc-detail-field">
                  <span>user_id </span>
                  {{tgidentityDetail.user_id}}
                </p>


              </div>
              <mat-action-row>
                <button mat-button (click)="editTgidentity()" *ngIf="tcAuthorization.canUpdate('tgidentitys') ">
                  {{appTranslation.getText("general", "edit")}}
                </button>
              </mat-action-row>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>