
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-wallet"></mat-icon>
    {{appTranslation.getText("financial", "deposit")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchDeposits();" *ngIf="tcAuthorization.canRead('deposits')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addDeposit();" *ngIf="tcAuthorization.canCreate('deposits')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="depositsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="depositPersist.depositSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
                (click)="depositsSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Filter"
          [(value)]="depositPersist.depositSearchHistory.search_column"
          multiple="true"
          (valueChange)="searchDeposits()">
          <mat-option *ngFor="let etype of depositFilterColumn" [value]="etype.id">
           {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder='{{appTranslation.getText("general", "status")}}'
                    [(value)]="depositPersist.depositSearchHistory.status"
                    (valueChange)="searchDeposits()">
          <mat-option *ngFor="let status of depositPersist.statusType" [value]="status.id">
            {{ status.name }}
          </mat-option>
        </mat-select>

        <button mat-button *ngIf='depositPersist.depositSearchHistory.status' matSuffix mat-icon-button
                aria-label="Clear"
                (click)="depositPersist.depositSearchHistory.status = null;searchDeposits();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="tc-loading" *ngIf="depositsIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let deposit of depositsData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title>
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('deposits') || tcAuthorization.canDelete('deposits')">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <button mat-menu-item (click)="refundDeposit(deposit)" *ngIf="tcAuthorization.canUpdate('deposits') && deposit.current_amount > 0">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-sack-dollar"></mat-icon>
                                                                                      <span>{{appTranslation.getText("financial","refund")}} </span>
                                                                                    </button>
                                                                                    <button mat-menu-item (click)="deleteDeposit(deposit)" *ngIf="tcAuthorization.canDelete('deposits')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','patient')}}</span>

            <a class="tc-link"[routerLink]="depositNavigator.depositUrl(deposit.id)" >{{deposit.patient_name}}</a>
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('financial','current_amount')}}</span>
            {{deposit.current_amount }}
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('general','start_date')}}</span>
            {{deposit.start_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('general','end_date')}}</span>
            {{deposit.end_date && deposit.end_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','remark')}}</span>
            {{deposit.remark}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="depositsSelection.length >0 || depositsSelectAll">
                  <button mat-button (click)="downloadDeposits()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{depositsSelectAll ? depositsTotalCount : depositsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="depositsData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(depositsData,depositsSelection) "
                [checked]=" tcUtilsArray.isAllSelected(depositsData,depositsSelection) || depositsSelectAll"
                [indeterminate]="depositsSelection.length <depositsData.length && depositsSelection.length>0"
                [disabled]="depositsSelectAll">
              </mat-checkbox>

              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="depositsSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #depositsSelectAllMenu="matMenu">


                <button mat-menu-item
                        (click)="depositsSelectAll=true;"
                        [disabled]="depositsSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="depositsSelectAll = false;"
                        [disabled]="!depositsSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(depositsSelection,row) : null"
                            [checked]="tcUtilsArray.contains(depositsSelection,row) || depositsSelectAll"
                            [disabled]="depositsSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="patient_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","patient")}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="depositNavigator.depositUrl(element.id)" class="tc-link">
                {{ element.patient_name }}
              </a>

            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone_cell">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone_cell }}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="pid">
          <mat-header-cell *matHeaderCellDef mat-sort-header>PID</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pid }}</mat-cell>
       </ng-container>

        <ng-container matColumnDef="current_amount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','current_amount')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.current_amount | currency:'':''}}</mat-cell>
                             </ng-container>

        <ng-container matColumnDef="remark">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','remark')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
                             </ng-container>

                             <ng-container matColumnDef="start_date">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','start_date')}}</mat-header-cell>
                              <mat-cell *matCellDef="let element">{{element.start_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                           </ng-container>

                           <ng-container matColumnDef="end_date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','end_date')}}</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.end_date && element.end_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="share_status">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Share</mat-header-cell>
                          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(depositPersist.depositShareStatus, element.share_status)?.name}}</mat-cell>
                       </ng-container>
                       <ng-container matColumnDef="override_status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Override</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(depositPersist.depositOverrideStatus, element.override_status)?.name}}</mat-cell>
                     </ng-container>


          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('deposits') || tcAuthorization.canDelete('deposits')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
                <button mat-menu-item (click)="refundDeposit(element)" *ngIf="tcAuthorization.canUpdate('deposits') && element.current_amount > 0">
                  <mat-icon fontSet="fa" fontIcon="fa-sack-dollar"></mat-icon>
                  <span>{{appTranslation.getText("financial","refund")}} </span>
                </button>
                <button mat-menu-item (click)="printDeposit(element)" *ngIf="tcAuthorization.canUpdate('deposits') && !element.crv">
                  <mat-icon fontSet="fa" fontIcon="fa-sack-dollar"></mat-icon>
                  <span>Print Deposit </span>
                </button>
                <button mat-menu-item (click)="printDepositSummary(element)" *ngIf="tcAuthorization.canUpdate('deposits')">
                  <mat-icon fontSet="fa" fontIcon="fa-sack-dollar"></mat-icon>
                  <span>Print Deposit Summary </span>
                </button>
                <button mat-menu-item (click)="printDepositDetail(element)" *ngIf="tcAuthorization.canUpdate('deposits')">
                  <mat-icon fontSet="fa" fontIcon="fa-sack-dollar"></mat-icon>
                  <span>Print Deposit Detail </span>
                </button>
                <button mat-menu-item (click)="makeDepositSharable(element)" *ngIf="tcAuthorization.canUpdate('deposits') && element.share_status == depositShareStatus.self">
                  <mat-icon fontSet="fa" fontIcon="fa-sack-dollar"></mat-icon>
                  <span>Make Sharable</span>
                </button>
                <button mat-menu-item (click)="makeDepositOverridable(element)" *ngIf="tcAuthorization.canUpdate('deposits') && element.override_status == depositOverrideStatus.forbiden_override">
                  <mat-icon fontSet="fa" fontIcon="fa-sack-dollar"></mat-icon>
                  <span>Make Override</span>
                </button>
                <button mat-menu-item (click)="editDeposit(element)" *ngIf="tcAuthorization.canUpdate('deposits')">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>Edit Deposit </span>
                </button>
                <button mat-menu-item (click)="deleteDeposit(element)" *ngIf="tcAuthorization.canDelete('deposits')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="depositsDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: depositsDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(depositsSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="depositsTotalCount"
                       [ngStyle]="{display: depositsTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>


