<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="depositDetail">

    <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
      <mat-select placeholder="{{appTranslation.getText('financial','deposit_type')}}" [(value)]="depositDetail.patient_type" required>
        <mat-option *ngFor="let etype of persist.depositPatientType" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

                      <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                        <mat-label>{{appTranslation.getText("patient", "search_patient")}}</mat-label>
                        <input matInput disabled [(ngModel)]="patientFullName"/>
                        <button mat-icon-button matTooltip="{{appTranslation.getText('patient', 'search_patient') }}" matSuffix
                                [disabled]="!depositDetail.patient_type" color="primary" (click)="searchPatient()">
                          <mat-icon>search</mat-icon>
                        </button>
                      </mat-form-field>

 <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                            <mat-select placeholder="{{appTranslation.getText('financial','current_amount')}}" [(ngModel)]="depositDetail.current_amount"  required>
                              <mat-option *ngFor="let etype of depositOPtions" [value]="etype.option">
                                {{etype.option}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>Guard</mat-label>
      <input matInput disabled [(ngModel)]="guardName"/>
      <button mat-icon-button matTooltip="Search Guard" matSuffix color="primary" (click)="searchGuard()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf='tcUtilsString.isValidId(depositDetail.guard_id)' matSuffix mat-icon-button
              aria-label="Clear"
              (click)="depositDetail.guard_id = null;guardName = '';$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

 <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                            <textarea matInput placeholder="{{appTranslation.getText('general','remark')}}" type="text"  [(ngModel)]="depositDetail.remark" ></textarea>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                          <input matInput placeholder="CRV" type="text"  [(ngModel)]="depositDetail.crv" required />
                      </mat-form-field>
                    <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                      <mat-select
                        placeholder="payment_type"
                        [(value)]="depositDetail.payment_type"
                        (valueChange)="depositDetail.bank_id = null; bankName = null; depositDetail.transaction_no = null; "
                        required>
                        <mat-option *ngFor="let etype of filteredPaymentType" [value]="etype.id">
                         {{etype.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="tc-full-stretch" *ngIf="depositDetail.payment_type==paymentType.transfer">
                      <mat-label>
                        Bank
                      </mat-label>
                      <input matInput disabled [(ngModel)]="bankName"  />
                      <button
                        mat-icon-button
                        matTooltip="Bank"
                        matSuffix
                        color="primary"
                        (click)="searchBank()"
                      >
                        <mat-icon>search</mat-icon>
                      </button>
                    </mat-form-field>
                    <mat-form-field class="tc-full-stretch" *ngIf="depositDetail.bank_id && isNew()">
                      <input matInput  placeholder="Transaction No" type="text"  [(ngModel)]="depositDetail.transaction_no">
                  </mat-form-field>
                  <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                    <input matInput  placeholder="TIN Number" type="text"  [(ngModel)]="depositDetail.tin_no">
                </mat-form-field>


  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
