
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     pos_machine_user  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPos_machine_users();" *ngIf="tcAuthorization.canRead('pos_machine_users')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPos_machine_user();" *ngIf="tcAuthorization.canCreate('pos_machine_users')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="posMachineUserSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="posMachineUserPersist.posMachineUserSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="posMachineUserSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="posMachineUserIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let posMachineUser of posMachineUsersData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('pos_machine_users') || tcAuthorization.canDelete('pos_machine_users')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPosMachineUser(posMachineUser)" *ngIf="tcAuthorization.canUpdate('pos_machine_users')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePosMachineUser(posMachineUser)" *ngIf="tcAuthorization.canDelete('pos_machine_users')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>start_date</span>
            {{posMachineUser.start_date * 1000 | date}}
          </div><div class="tc-detail-field">
            <span>end_date</span>
            {{posMachineUser.end_date * 1000 | date}}
          </div><div class="tc-detail-field">
            <span>pos_machine_id</span>
            {{getMachine(posMachineUser.pos_machine_id)}}
          </div><div class="tc-detail-field">
            <span>user_id</span>
            {{getUser(posMachineUser.user_id)}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{posMachineUser.status}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="posMachineUserSelection.length >0 || posMachineUserSelectAll">
        <button mat-button (click)="downloadPosMachineUsers()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{posMachineUserSelectAll ? posMachineUsersTotalCount : posMachineUserSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="posMachineUsersData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(posMachineUsersData,posMachineUserSelection) "
              [checked]=" tcUtilsArray.isAllSelected(posMachineUsersData,posMachineUserSelection) || posMachineUserSelectAll"
              [indeterminate]="posMachineUserSelection.length <posMachineUsersData.length && posMachineUserSelection.length>0"
              [disabled]="posMachineUserSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="posMachineUserSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #posMachineUserSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="posMachineUserSelectAll=true;" [disabled]="posMachineUserSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="posMachineUserSelectAll = false;" [disabled]="!posMachineUserSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(posMachineUserSelection,row) : null"
              [checked]="tcUtilsArray.contains(posMachineUserSelection,row) || posMachineUserSelectAll" [disabled]="posMachineUserSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="start_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>start_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.start_date * 1000 | date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="end_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>end_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.end_date && element.end_date * 1000 | date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="pos_machine_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>pos_machine_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getMachine(element.pos_machine_id)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="user_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>user_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getUser(element.user_id)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(posMachineUserPersist.progressStatus,
            element.status)?.name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="posMachineUserNavigator.pos_machine_userUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('pos_machine_users') || tcAuthorization.canDelete('pos_machine_users')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editPosMachineUser(element)" *ngIf="tcAuthorization.canUpdate('pos_machine_users') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePosMachineUser(element)" *ngIf="tcAuthorization.canDelete('pos_machine_users')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
              <button mat-menu-item (click)="endPosMachineUser(element)" *ngIf="tcAuthorization.canUpdate('pos_machine_users')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="posMachineUsersDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: posMachineUsersDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(posMachineUserSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="posMachineUsersTotalCount"
        [ngStyle]="{display: posMachineUsersTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>