<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav
    #sidenav
    mode="cover"
    [opened]="false"
    class="tc-sidebar mat-elevation-z8"
    position="end"
  >
    <div class="tc-sidebar-inner">
      <div class="tc-padding">
        <mat-form-field class="text-area">
          <input
            matInput
            [formControl]="encounterTabSearch"
            placeholder="{{
              appTranslation.getText('general', 'search_text')
            }} "
          />
          <button
            mat-button
            *ngIf="encounterTabSearch.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="encounterTabSearch.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <mat-nav-list *ngFor="let encounterTab of encounterTabs">
        <mat-list-item>
          <mat-checkbox
            (change)="updateSelectedTab($event, encounterTab)"
            [checked]="
              tcUtilsArray.getById(
                form_encounterPersist.selectedEncounterTabs,
                encounterTab.id
              )
            "
          >
            <a>
              <mat-icon
                fontSet="fa"
                fontIcon="{{ encounterTab.icon }}"
              ></mat-icon>
              {{ encounterTab.title }}
            </a>
          </mat-checkbox>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content style="overflow: hidden; display: flex; flex-direction: column;">
    <div class="patient-information">
      <div>Patient : {{patient_name}} </div> <div> Age: {{patientAge}} </div> <div> MRN: {{mrn}} </div> <div> Gener: {{gender?"male":"female"}} </div> <div> {{getMartialStatus()}} </div> <div> phone no: {{patientDetail.phone_cell}} </div>
      <div style="margin-left: auto;">
        <button mat-button (click)="patientVisit.saveAll();" class="save" *ngIf="form_encounterPersist.selectedTabIndex == 1 && form_encounterPersist.encounter_is_active"  >
          Save
        </button>
        <button mat-button (click)="closeEncounter();" class="save" *ngIf="tcAuthorization.canRead('form_encounters') && form_encounterPersist.encounter_is_active"  >
          <mat-icon style="height: 0;" fontSet="fa" fontIcon="fa-lock"></mat-icon>
          Close Visit
        </button>
      </div>
    </div>
    <div style="overflow-y: auto; height:100%">
    <div class="tc-loading" *ngIf="form_encounterLoading">
      <mat-spinner></mat-spinner>
    </div>
    <button *ngIf="form_encounterDetail.id" mat-button (click)="sidenav.toggle()" class="nav-button">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-tab-group *ngIf="form_encounterDetail.id" [(selectedIndex)]="form_encounterPersist.selectedTabIndex" (selectedTabChange)="onTabChanged($event)" >


      <mat-tab
        label="Vitals"
        *ngIf="
          tcAuthorization.canRead('form_vitals')
          "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-heartbeat"
          ></mat-icon>
          <span>{{ appTranslation.getText("patient", "form_vitalss") }}</span>
          <!-- <mat-icon
            (click)="$event.stopPropagation(); closeTab('form_vitalss')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon> -->
        </ng-template>
        <ng-template matTabContent>
          <app-form-vitals-list
            [encounterId]="form_encounterDetail.id"
            (onResult)="OnVitalResult($event)"
            [patientType]="form_encounterDetail.service_type"
            [self]="false"
          >
          </app-form-vitals-list>
        </ng-template>
      </mat-tab>

      <mat-tab *ngIf="tcAuthorization.canRead('form_encounters')" >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-info-circle"
          ></mat-icon>
          <span>Patient Visit Form</span>
        </ng-template>
        <ng-template matTabContent>
          <app-patient-visit-form #patientVisit
            [form_encounterDetail]="form_encounterDetail"
          >
          </app-patient-visit-form>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="false">
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-info-circle"
          ></mat-icon>
          <span>Overview</span>
        </ng-template>
        <ng-template matTabContent>
          <mat-toolbar class="tc-toolbar-secondary">
            <h1 class="mat-heading">
              <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
              {{ appTranslation.getText("general", "overview") }}
            </h1>
            <button mat-button (click)="back()" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
            </button>
            <button mat-button (click)="reload()" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>

            <button
              mat-button
              *ngIf="tcAuthorization.canRead('appointments')"
              (click)="createFutureAppointment()"
              class="tc-link"
            >
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
              <span>{{
                appTranslation.getText("patient", "create_future_appointment")
              }}</span>
            </button>

            <button
              mat-button
              *ngIf="tcAuthorization.canCreate('lab_orders')"
              (click)="addLab()"
              class="tc-link"
            >
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
              <span>Order Lab</span>
            </button>

            <button
              mat-button
              *ngIf="tcAuthorization.canRead('form_encounters')"
              (click)="admitPatient()"
              class="tc-link"
            >
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
              <span>Admit Patient</span>
            </button>
          </mat-toolbar>

          <app-overview
            *ngIf="form_encounterDetail.id"
            [encounterId]="form_encounterDetail.id"
          ></app-overview>
        </ng-template>
      </mat-tab>



      <mat-tab
        label="Medical Hisotry"
        *ngIf="tcAuthorization.canRead('medical_historys') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'medical_historys'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-users"
          ></mat-icon>
          <span>{{ appTranslation.getText('patient', 'history') }}</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('medical_historys')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-history-list
            [encounterId]="form_encounterDetail.id"
            (onResult)="OnHistoryResult($event)"
          >
          </app-history-list>
        </ng-template>
      </mat-tab>








<mat-tab
label="History Data"
*ngIf="
  tcAuthorization.canRead('family_historys') &&
  tcUtilsArray.getById(
    form_encounterPersist.selectedEncounterTabs,
    'family_historys'
  )
"
>
<ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-users"
          ></mat-icon>
          <span>{{ appTranslation.getText("patient", "family_history") }}</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('family_historys')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-history-data-lis
            [patientId]="form_encounterDetail.pid"
            (onResult)="OnHistoryDataResult($event)"
          >
          </app-history-data-lis>
        </ng-template>
      </mat-tab>

      <mat-tab
        label="Physical Examination"
        *ngIf="
          tcAuthorization.canRead('physical_examinations') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'physical_examinations'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-user-md"
          ></mat-icon>
          <span>{{
            appTranslation.getText("patient", "physical_examination")
          }}</span>
          <mat-icon
            (click)="
              $event.stopPropagation(); closeTab('physical_examinations')
            "
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-physical-examination-list
            [encounterId]="form_encounterDetail.id"
            (onResult)="OnPhysicalExaminationResult($event)"
          >
          </app-physical-examination-list>
        </ng-template>
      </mat-tab>

      <mat-tab
      label="Diagnosis"
      *ngIf="
        tcAuthorization.canRead('diagnosiss') &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'diagnosiss'
        )
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-diagnoses"
        ></mat-icon>
        <span>{{ appTranslation.getText("patient", "diagnosis") }}</span>
        <mat-icon
          (click)="$event.stopPropagation(); closeTab('diagnosiss')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-diagnosis-list
          [encounterId]="form_encounterDetail.id"
          (onResult)="onDiagnosisResult($event)"
        >
        </app-diagnosis-list>
      </ng-template>
    </mat-tab>

      <mat-tab
        label="Lab Order"
        *ngIf="
        (tcAuthorization.canCreate('laboratory_orders') || tcAuthorization.canCreate('radiology_orders') || tcAuthorization.canCreate('pathology_orders')) &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'orders'
          ) && form_encounterPersist.encounter_active
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-flask"
          ></mat-icon>
          <span>{{ appTranslation.getText('patient', 'investigations') }}</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('orders')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-lab-orders-list
            [encounterId]="form_encounterDetail.id"
            (onResult)="OnLabOrdersResult($event)"
          >
          </app-lab-orders-list>
        </ng-template>
      </mat-tab>


      <mat-tab
      label="Order"
      *ngIf="
        (tcAuthorization.canRead('laboratory_orders') || tcAuthorization.canRead('radiology_orders') || tcAuthorization.canRead('pathology_orders')) &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'results'
        )
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-flask"
        ></mat-icon>
        <span>{{
          this.appTranslation.getText("procedure", "result")
        }}</span>
        <mat-icon
          (click)="$event.stopPropagation(); closeTab('results')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-orders-list
          [encounterId]="form_encounterDetail.id"
          [patient_id]="form_encounterDetail.pid"
          (onResult)="onOrderResult($event)"
        >
        </app-orders-list>
      </ng-template>
    </mat-tab>

    <mat-tab
      label="Prescription"
      *ngIf="
        tcAuthorization.canRead('prescriptions') &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'prescriptions'
        )
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-file-medical"
        ></mat-icon>
        <span>{{ appTranslation.getText("patient", "prescription") }}</span>
        <mat-icon
          (click)="$event.stopPropagation(); closeTab('prescriptions')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-prescription-list
          [patient_id]="form_encounterDetail.pid"
          [encounterId]="form_encounterDetail.id"
          (onResult)="OnPrescriptionResult($event)"
          [prescribe_type]="prescription_type.doctor_prescription"
          [type] = "category.drug"
        >
        </app-prescription-list>
      </ng-template>
    </mat-tab>

    <mat-tab label="psychoterapy_progress_note" *ngIf="
            tcAuthorization.canRead('form_soaps') &&
            tcUtilsArray.getById(
              form_encounterPersist.selectedEncounterTabs,
              'form_soaps'
            )
          ">
      <ng-template mat-tab-label class="tab-content">
        <mat-icon class="tab-icon" fontSet="fa" fontIcon="fa-file-medical"></mat-icon>
        <span>psychoterapy_progress_note</span>
        <mat-icon (click)="$event.stopPropagation(); closeTab('form_soaps')" class="close-button" fontSet="fa"
          fontIcon="fa-times"></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-psychoterapy_progress_note-list [patient_id]="form_encounterDetail.pid" [encounterId]="form_encounterDetail.id" [provider_id]="form_encounterDetail.provider_id"
          (onResult)="OnPrescriptionResult($event)">
        </app-psychoterapy_progress_note-list>
      </ng-template>
    </mat-tab>

    <mat-tab
    label="Medication"
    *ngIf="
      tcAuthorization.canRead('medications') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'medications'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-file-medical"
      ></mat-icon>
      <span>Medication</span>
      <mat-icon
        (click)="$event.stopPropagation(); closeTab('medications')"
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-prescription-list
        [patient_id]="form_encounterDetail.pid"
        [encounterId]="form_encounterDetail.id"
        (onResult)="OnPrescriptionResult($event)"
        [prescribe_type]="prescription_type.opd_prescription"
      >
      </app-prescription-list>
    </ng-template>
  </mat-tab>


    <mat-tab
    label="Soap"
    *ngIf="
      tcAuthorization.canRead('form_soaps') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'form_soaps'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-bullseye"
      ></mat-icon>
      <span>{{ appTranslation.getText("patient", "psoap") }}</span>
      <mat-icon
        (click)="$event.stopPropagation(); closeTab('form_soaps')"
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-form-soaps-list
        [patient_id]="form_encounterDetail.pid"
        [encounterId]="form_encounterDetail.id"
        (onResult)="OnFormSoapsResult($event)"
      >
      </app-form-soaps-list>
    </ng-template>
  </mat-tab>

  <!-- <mat-tab
  label="Case Summary"
  *ngIf="
    tcAuthorization.canRead('case_summarys') &&
    tcUtilsArray.getById(
      form_encounterPersist.selectedEncounterTabs,
      'case_summary'
    )
  "
>
  <ng-template mat-tab-label class="tab-content">
    <mat-icon
      class="tab-icon"
      fontSet="fa"
      fontIcon="fa-bullseye"
    ></mat-icon>
    <span>Case Summary</span>
    <mat-icon
      (click)="$event.stopPropagation(); closeTab('case_summary')"
      class="close-button"
      fontSet="fa"
      fontIcon="fa-times"
    ></mat-icon>
  </ng-template>
  <ng-template matTabContent>
    <app-case_summary-list
      [patient_id]="form_encounterDetail.pid"
      [encounterId]="form_encounterDetail.id"
      (onResult)="OnFormSoapsResult($event)"
    >
    </app-case_summary-list>
  </ng-template>
</mat-tab> -->

    <mat-tab
    label="Clinical Instruction"
    *ngIf="
      tcAuthorization.canRead('form_clinical_instructions') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'form_clinical_instructions'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
      class="tab-icon"
      fontSet="fa"
      fontIcon="fa-sticky-note"
    ></mat-icon>
    <span>{{
      appTranslation.getText("patient", "clinical_instruction")
    }}</span>
    <mat-icon
      (click)="
        $event.stopPropagation(); closeTab('form_clinical_instructions')
      "
      class="close-button"
      fontSet="fa"
      fontIcon="fa-times"
    ></mat-icon>
  </ng-template>
  <ng-template matTabContent>
    <app-form_clinical_instruction-list
      [encounterId]="form_encounterDetail.id"
      (onResult)="OnFormClinicalInstructionResult($event)"
      [patientId]="form_encounterDetail.pid"
    >
    </app-form_clinical_instruction-list>
  </ng-template>
  </mat-tab>

  <mat-tab
  label="Medical Adminstration Chart"
  *ngIf="
    tcAuthorization.canRead('medication_adminstration_charts') &&
    tcUtilsArray.getById(
      form_encounterPersist.selectedEncounterTabs,
      'medication_adminstration_charts'
    )
  "
  ><ng-template mat-tab-label class="tab-content">
    <mat-icon
      class="tab-icon"
      fontSet="fa"
      fontIcon="fa-calendar-check"
    ></mat-icon>
    <span>{{
      appTranslation.getText("patient", "medication_adminstration_chart")
    }}</span>
    <mat-icon
      (click)="
        $event.stopPropagation(); closeTab('medical_adminstration_charts')
      "
      class="close-button"
      fontSet="fa"
      fontIcon="fa-times"
    ></mat-icon>
  </ng-template>
  <ng-template matTabContent>
    <app-medication-adminstration-chart-list
      [encounterId]="form_encounterDetail.id"
      [patientId]="form_encounterDetail.pid"
    >
    </app-medication-adminstration-chart-list>
  </ng-template>
</mat-tab>


  <!-- <mat-tab
  label="Note"
  *ngIf="
    tcAuthorization.canRead('patient_notes') &&
    tcUtilsArray.getById(
      form_encounterPersist.selectedEncounterTabs,
      'comments'
    )
  "
>
  <ng-template mat-tab-label class="tab-content">
    <mat-icon
      class="tab-icon"
      fontSet="fa"
      fontIcon="fa-sticky-note"
    ></mat-icon>
    <span>{{ appTranslation.getText("notes", "notes") }}</span>
    <mat-icon
      (click)="$event.stopPropagation(); closeTab('comments')"
      class="close-button"
      fontSet="fa"
      fontIcon="fa-times"
    ></mat-icon>
  </ng-template>
  <ng-template matTabContent>
    <app-notes-list
      [encounterId]="form_encounterDetail.id"
      [patientId]="form_encounterDetail.pid"
      (onResult)="OnNotesResult($event)"
    >
    </app-notes-list>
  </ng-template>
</mat-tab> -->

      <mat-tab
        label="Allergy Form"
        *ngIf="
          tcAuthorization.canRead('allergy_forms') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'allergy_forms'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-sticky-note"
          ></mat-icon>
          <span>Allergy form</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('allergy_forms')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-alery-form-list
            [encounterId]="form_encounterDetail.id"
            [patientId]="form_encounterDetail.pid"
            (onResult)="OnAllergyResult($event)"
          >
          </app-alery-form-list>
        </ng-template>
      </mat-tab>

      <mat-tab
      label="Consultation"
      *ngIf="
        tcAuthorization.canRead('consultings') &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'consultings'
        )
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-handshake"
        ></mat-icon>
        <span>{{ appTranslation.getText("patient", "consultation") }}</span>
        <mat-icon
          (click)="$event.stopPropagation(); closeTab('consultings')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-consulting-list
          [encounterId]="form_encounterDetail.id"
          [patientId]="form_encounterDetail.pid"
          (onResult)="OnConsultingResult($event)"
        >
        </app-consulting-list>
      </ng-template>
    </mat-tab>
    <mat-tab
    label="Pre ansthesia evaluation"
    *ngIf="
      tcAuthorization.canRead('pre_ansthesia_evaluations') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'pre_ansthesia_evaluations'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-calendar-check"
      ></mat-icon>
      <span> Pre ansthesia evaluation </span>
      <mat-icon
        (click)="$event.stopPropagation(); closeTab('pre_ansthesia_evaluations')"
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-pre-ansthesia-evaluation-list
        [encounterId]="form_encounterDetail.id"
        [patientId]="form_encounterDetail.pid"
        *ngIf="form_encounterDetail.id"
      >
      </app-pre-ansthesia-evaluation-list>
    </ng-template>
  </mat-tab>



    <mat-tab
    label="Surgery Appointment"
    *ngIf="
      tcAuthorization.canRead('surgery_appointments') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'surgery_appointments'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-calendar-check"
      ></mat-icon>
      <span>{{
        appTranslation.getText("patient", "surgery_appointments")
      }}</span>
      <mat-icon
        (click)="$event.stopPropagation(); closeTab('surgery_appointments')"
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-surgery-appointments-list
        [encounterId]="form_encounterDetail.id"
        [patientId]="form_encounterDetail.pid"
        (onResult)="OnSurgeryAppointmentResult($event)"
      >
      </app-surgery-appointments-list>
    </ng-template>
  </mat-tab>


  <mat-tab
  label="Review of System"
  *ngIf="
    tcAuthorization.canRead('review_of_systems') &&
    tcUtilsArray.getById(
      form_encounterPersist.selectedEncounterTabs,
      'review_of_systems'
    )
  "
>
  <ng-template mat-tab-label class="tab-content">
    <mat-icon
      class="tab-icon"
      fontSet="fa"
      fontIcon="fa-stethoscope"
    ></mat-icon>
    <span>{{
      appTranslation.getText("patient", "review_of_system")
    }}</span>
    <mat-icon
      (click)="$event.stopPropagation(); closeTab('review_of_systems')"
      class="close-button"
      fontSet="fa"
      fontIcon="fa-times"
    ></mat-icon>
  </ng-template>
  <ng-template matTabContent>
    <app-review-of-system-list
      [encounterId]="form_encounterDetail.id"
      (onResult)="OnReviewOfSystemViewResult($event)"
    >
    </app-review-of-system-list>
  </ng-template>
</mat-tab>

<mat-tab
      label="Observation"
      *ngIf="
        tcAuthorization.canRead('form_observations') &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'form_observations'
        )
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon class="tab-icon" fontSet="fa" fontIcon="fa-eye"></mat-icon>
        <span>{{ appTranslation.getText("patient", "observation") }}</span>
        <mat-icon
          (click)="$event.stopPropagation(); closeTab('form_observations')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-form-observations-list
          [encounterId]="form_encounterDetail.id"
          (onResult)="OnFormObservationsResult($event)"
        >
        </app-form-observations-list>
      </ng-template>
    </mat-tab>


      <mat-tab
        label="Case Transfer"
        *ngIf="
          tcAuthorization.canRead('case_transfers') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'case_transfers'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-retweet"
          ></mat-icon>
          <span>{{ appTranslation.getText("patient", "case_transfer") }}</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('case_transfers')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-case_transfer-list
            [encounterId]="form_encounterDetail.id"
            [patientId]="form_encounterDetail.pid"
            (onResult)="onCaseTransfer($event)"
          >
          </app-case_transfer-list>
        </ng-template>
      </mat-tab>

      <mat-tab
      label="Doctor Private Info"
      *ngIf="
        tcAuthorization.canRead('doctor_private_infos') &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'doctor_private_infos'
        )
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon class="tab-icon" fontSet="fa" fontIcon="fa-info"></mat-icon>
        <span>{{ appTranslation.getText("patient", "private_info") }}</span>
        <mat-icon
          (click)="$event.stopPropagation(); closeTab('doctor_private_infos')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-doctor-private-info-list
          [encounterId]="form_encounterDetail.id"
          (onResult)="OnDoctorPrivateInfoResult($event)"
        >
        </app-doctor-private-info-list>
      </ng-template>
    </mat-tab>
    <mat-tab
        label="Patient Procedure"
        *ngIf="
          tcAuthorization.canRead('patient_procedures') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'patient_procedures'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-procedures"
          ></mat-icon>
          <span>{{
            appTranslation.getText("procedure", "patient_procedures")
          }}</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('patient_procedures')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-patient-procedure-list
            [patient_id]="form_encounterDetail.pid"
            [encounterId]="form_encounterDetail.id"
            (onResult)="OnPatientProcedureResult($event)"
            [procedure_for]="null"
          >
          </app-patient-procedure-list>
        </ng-template>
      </mat-tab>
      <mat-tab
      label="Employee Medical Certificate"
      *ngIf="
        tcAuthorization.canRead('medical_certificate_employees') &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'medical_certificate_employees'
        )
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-certificate"
        ></mat-icon>
        <span>{{
          appTranslation.getText("patient", "employee_medical_certificate")
        }}</span>
        <mat-icon
          (click)="
            $event.stopPropagation(); closeTab('medical_certificate_employees')
          "
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-medical_certificate_employee-list
          [encounterId]="form_encounterDetail.id"
          [patientId]="form_encounterDetail.pid"
          (onResult)="onProcedureOrderResult($event)"
        >
        </app-medical_certificate_employee-list>
      </ng-template>
    </mat-tab>



    <mat-tab
    label="Driver Medical Certificate"
    *ngIf="
      tcAuthorization.canRead('medical_certificate_employees') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'driver_medical_certificate'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-certificate"
      ></mat-icon>
      <span>{{appTranslation.getText('patient', 'driver_medical_certificate')}} </span>
      <mat-icon
        (click)="
          $event.stopPropagation(); closeTab('driver_medical_certificate')
        "
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-driver-medical-certificate-list
        [encounterId]="form_encounterDetail.id"
        [patientId]="form_encounterDetail.pid"
        (onResult)="onDriverMedicalCertificate($event)"
      >
      </app-driver-medical-certificate-list>
    </ng-template>
  </mat-tab>

      <mat-tab
        label="Medical Certificate"
        *ngIf="
          tcAuthorization.canRead('medical_certificates') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'medical_certificates'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-certificate"
          ></mat-icon>
          <span>{{
            appTranslation.getText("patient", "medical_certificate")
          }}</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('medical_certificates')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-medical-certificate-list
            [encounterId]="form_encounterDetail.id"
            [patientId]="form_encounterDetail.pid"
            (onResult)="OnMedicalCertificateResult($event)"
          >
          </app-medical-certificate-list>
        </ng-template>
      </mat-tab>
      <mat-tab
      label="Encounter Image"
      *ngIf="
        tcAuthorization.canRead('encounter_images') &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'encounter_images'
        )
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-image"
        ></mat-icon>
        <span>{{ appTranslation.getText("patient", "images") }}</span>
        <mat-icon
          (click)="$event.stopPropagation(); closeTab('encounter_images')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-encounter-images-list
          [encounterId]="form_encounterDetail.id"
          [patientId]="form_encounterDetail.pid"
          (onResult)="OnEncounterImageResult($event)"
        >
        </app-encounter-images-list>
      </ng-template>
    </mat-tab>


      <mat-tab
        label="Followup"
        *ngIf="
          tcAuthorization.canRead('follow_up_notes') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'follow_up_notes'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-sticky-note"
          ></mat-icon>
          <span>{{ appTranslation.getText("patient", "follow_up_note") }}</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('follow_up_notes')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-followup-note-list
            [encounterId]="form_encounterDetail.id"
            [patientId]="form_encounterDetail.pid"
            (onResult)="onFollowUpResult($event)"
          >
          </app-followup-note-list>
        </ng-template>
      </mat-tab>

      <mat-tab
        label="Rehabilitation"
        *ngIf="
          tcAuthorization.canRead('rehabilitation_orders') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'rehabilitation_orders'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-user-injured"
          ></mat-icon>
          <span>{{ appTranslation.getText("patient", "physiotherapy") }}</span>
          <mat-icon
            (click)="
              $event.stopPropagation(); closeTab('rehabilitation_orders')
            "
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-rehabilitation-order-list
            [encounterId]="form_encounterDetail.id"
            [patientId]="form_encounterDetail.pid"
            (onResult)="OnRehabilitationOrderResult($event)"
          >
          </app-rehabilitation-order-list>
        </ng-template>
      </mat-tab>
      <mat-tab
      label="Patient Referral"
      *ngIf="tcAuthorization.canRead('patient_referrals') && tcUtilsArray.getById(form_encounterPersist.selectedEncounterTabs, 'patient_referrals')"
    >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon class="tab-icon" fontSet="fa" fontIcon="fa-users"></mat-icon>
      <span>{{appTranslation.getText('financial', 'referral')}}</span>
      <mat-icon (click)="$event.stopPropagation();closeTab('patient_referrals')" class="close-button" fontSet="fa" fontIcon="fa-times"></mat-icon>
  </ng-template>
      <ng-template matTabContent>
        <app-patient_referral_form-list
          [encounterId]="form_encounterDetail.id"
          [patientId]="form_encounterDetail.pid"
          (onResult)="OnPatientDischargeResult($event)"
        >
        </app-patient_referral_form-list>
      </ng-template>
    </mat-tab>



      <mat-tab
        label="NeoNatal Care"
        *ngIf="
          tcAuthorization.canRead('new_born_natal_cares') &&
          tcUtilsArray.getById(
            form_encounterPersist.selectedEncounterTabs,
            'new_born_natal_car'
          )
        "
      >
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-bullseye"
          ></mat-icon>
          <span>NeoNatal Care</span>
          <mat-icon
            (click)="$event.stopPropagation(); closeTab('new_born_natal_car')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-new_born_natal_care-list
            [encounterId]="form_encounterDetail.id"
            [patientId]="form_encounterDetail.pid"
            (onResult)="OnNewBornNatalCare($event)"
          >
          </app-new_born_natal_care-list>
        </ng-template>
      </mat-tab>


      <mat-tab
      label="ANC History"
      *ngIf="
        tcAuthorization.canRead('anc_historys') &&
        tcUtilsArray.getById(
          form_encounterPersist.selectedEncounterTabs,
          'anc_historys'
        ) && !patientDetail.sex
      "
    >
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-bullseye"
        ></mat-icon>
        <span>ANC History</span>
        <mat-icon
          (click)="$event.stopPropagation(); closeTab('anc_historys')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-anc_history-list
          [encounterId]="form_encounterDetail.id"
          [patientId]="form_encounterDetail.pid"
          (onResult)="OnAncHistory($event)"
        >
        </app-anc_history-list>
      </ng-template>
    </mat-tab>



      <mat-tab label="Delivery Summary" *ngIf="
      tcAuthorization.canRead('delivery_summarys') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'delivery_summary'
      )
    ">
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-person-pregnant"
          ></mat-icon>
          <span>Delivery Summary</span>
          <mat-icon
              (click)="$event.stopPropagation(); closeTab('delivery_summary')"
              class="close-button"
              fontSet="fa"
              fontIcon="fa-times"
            ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-delivery_summary-list
          [ancHistoryId]="form_encounterDetail.id"
          [patientId]="form_encounterDetail.pid"
            (onResult)="OnDeliverySummaryResult($event)"
          >
          </app-delivery_summary-list>
        </ng-template>
      </mat-tab>



      <mat-tab
      label="Patient Discharge"
      *ngIf="tcAuthorization.canRead('patient_discharges') && tcUtilsArray.getById(form_encounterPersist.selectedEncounterTabs, 'patient_discharges')"
    >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon class="tab-icon" fontSet="fa" fontIcon="fa-users"></mat-icon>
      <span>{{appTranslation.getText('patient', 'dispatch')}}</span>
      <mat-icon (click)="$event.stopPropagation();closeTab('patient_discharges')" class="close-button" fontSet="fa" fontIcon="fa-times"></mat-icon>
  </ng-template>
      <ng-template matTabContent>
        <app-patient_discharge-list
          [patientId]="form_encounterDetail.pid"
          [encounterId]="form_encounterDetail.id"
          (onResult)="OnPatientDischargeResult($event)"
        >
        </app-patient_discharge-list>
      </ng-template>
    </mat-tab>


    <mat-tab
    label="Dialysis"
    *ngIf="
      tcAuthorization.canRead('dialysiss') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'dialysis'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-stethoscope"
      ></mat-icon>
      <span>Dialysis</span>
      <mat-icon
        (click)="
          $event.stopPropagation(); closeTab('dialysis')
        "
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-dialysis-list
        [encounterId]="form_encounterDetail.id"
        [patientId]="form_encounterDetail.pid"
        (onResult)="onProcedureOrderResult($event)"
      >
      </app-dialysis-list>
    </ng-template>
  </mat-tab>


  <!-- <mat-tab label="Surgery Safety Checklist" *ngIf="
  tcAuthorization.canRead('operation_notes') &&
  tcUtilsArray.getById(
    form_encounterPersist.selectedEncounterTabs,
    'operation_note'
  )
">
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-clipboard"
      ></mat-icon>
      <span>Surgery Safety Checklist</span>
      <mat-icon
          (click)="$event.stopPropagation(); closeTab('surgical_safety_checklist')"
          class="close-button"
          fontSet="fa"
          fontIcon="fa-times"
        ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-surgical-safety-checklist
    [encounterId]="form_encounterDetail.id"
    ></app-surgical-safety-checklist>
    </ng-template>
  </mat-tab> -->
   

    <mat-tab label="Operation Note" *ngIf="
    tcAuthorization.canRead('operation_notes') &&
    tcUtilsArray.getById(
      form_encounterPersist.selectedEncounterTabs,
      'operation_note'
    )
  ">
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-clipboard"
        ></mat-icon>
        <span>{{appTranslation.getText('patient', 'operation_note')}}</span>
        <mat-icon
            (click)="$event.stopPropagation(); closeTab('operation_note')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-operation-note-list
      [encounterId]="form_encounterDetail.id"
      [patientId]="form_encounterDetail.pid"
      [service_type]="form_encounterDetail.service_type"
      (onResult)="OnRehabilitationOrderResult($event)"
      ></app-operation-note-list>
      </ng-template>
    </mat-tab>

    <mat-tab
    label="Birth"
    *ngIf="
      tcAuthorization.canRead('births') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'births'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-image"
      ></mat-icon>
      <span>Birth</span>
      <mat-icon
        (click)="$event.stopPropagation(); closeTab('births')"
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-birth-list
        [encounterId]="form_encounterDetail.id"
        [patientId]="form_encounterDetail.pid"
        (onResult)="onBirthResult($event)"
      >
      </app-birth-list>
    </ng-template>
  </mat-tab>

    <mat-tab
    label="Death"
    *ngIf="
      tcAuthorization.canRead('deaths') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'deaths'
      )
    "
  >
    <ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-image"
      ></mat-icon>
      <span>Death</span>
      <mat-icon
        (click)="$event.stopPropagation(); closeTab('deaths')"
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-death-list
        [encounterId]="form_encounterDetail.id"
        [patientId]="form_encounterDetail.pid"
        (onResult)="onDeathResult($event)"
      >
      </app-death-list>
    </ng-template>
  </mat-tab>



      <mat-tab label="Additional Services" *ngIf="
      tcAuthorization.canRead('additional_services') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'additional_services'
      )
    ">
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-plus"
          ></mat-icon>
          <span>Additional Services</span>
          <mat-icon
              (click)="$event.stopPropagation(); closeTab('additional_services')"
              class="close-button"
              fontSet="fa"
              fontIcon="fa-times"
            ></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <app-additional-service-list
          [encounterId]="form_encounterDetail.id"
          [patientId]="form_encounterDetail.pid"
          (onResult)="OnEncounterImageResult($event)"
        ></app-additional-service-list>
        </ng-template>
      </mat-tab>


    <mat-tab label="FollowUps" *ngIf="
    tcAuthorization.canRead('form_encounters') &&
    tcUtilsArray.getById(
      form_encounterPersist.selectedEncounterTabs,
      'followups'
    ) && form_encounterDetail.parent_encounter_id != tcUtilsString.invalid_id
  ">
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-check-double"
        ></mat-icon>
        <span>Followups</span>
        <mat-icon
            (click)="$event.stopPropagation(); closeTab('followups')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-other-form-encounters-list
      [patientDetail]="patientDetail"
      [encounterId]="form_encounterDetail.id"
      [parent_encounter_id]="form_encounterDetail.parent_encounter_id"
      *ngIf="patientDetail.id"
      ></app-other-form-encounters-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Previous Visits" *ngIf="
    tcAuthorization.canRead('form_encounters') &&
    tcUtilsArray.getById(
      form_encounterPersist.selectedEncounterTabs,
      'form_encounters'
    )
  ">
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-check-double"
        ></mat-icon>
        <span>Previous Visits</span>
        <mat-icon
            (click)="$event.stopPropagation(); closeTab('form_encounters')"
            class="close-button"
            fontSet="fa"
            fontIcon="fa-times"
          ></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-other-form-encounters-list
      [patientDetail]="patientDetail"
      [encounterId]="form_encounterDetail.id"
      *ngIf="patientDetail.id"
      ></app-other-form-encounters-list>
      </ng-template>
    </mat-tab>
  



    <mat-tab
    label="Other Services"
    *ngIf="
      tcAuthorization.canRead('order_other_services') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'order_other_services'
      )
    "
    ><ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-calendar-check"
      ></mat-icon>
      <span>Other Services</span>
    
      <mat-icon
        (click)="
          $event.stopPropagation(); closeTab('order_other_services')
        "
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-ordered_othe_service-list *ngIf="form_encounterDetail.id" [patientId] = "form_encounterDetail.pid" [encounter_id] = "form_encounterDetail.id" ></app-ordered_othe_service-list>

    </ng-template>
  </mat-tab>



    <!-- <mat-tab
    label="Blood Exchange Transfusion"
    *ngIf="
      tcAuthorization.canRead('blood_exchange_transfusion') &&
      tcUtilsArray.getById(
        form_encounterPersist.selectedEncounterTabs,
        'blood_exchange_transfusion'
      )
    "
    ><ng-template mat-tab-label class="tab-content">
      <mat-icon
        class="tab-icon"
        fontSet="fa"
        fontIcon="fa-calendar-check"
      ></mat-icon>
      <span>Blood Exchange Transfusion</span>
    
      <mat-icon
        (click)="
          $event.stopPropagation(); closeTab('blood_exchange_transfusion')
        "
        class="close-button"
        fontSet="fa"
        fontIcon="fa-times"
      ></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-blood_exchange_transfusion-list
        [encounter_id]="form_encounterDetail.id"
        [patientId]="form_encounterDetail.pid"
        (onResult)="OnFormClinicalInstructionResult($event)"


      >
      </app-blood_exchange_transfusion-list>
    </ng-template>
  </mat-tab> -->
   
    
    </mat-tab-group>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
