<h1 mat-dialog-title>
    bank Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="bankSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="bankPersist.bankSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="bankSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="bankIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let bank of banksData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>name</span>
          {{bank.name}}
        </div><div class="tc-detail-field">
          <span>short_code</span>
          {{bank.short_code}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchBanks.length >0 || bankSelectAll">
      <div class="tc-flex-fill"></div>
      <span>{{bankSelectAll ? banksTotalCount : bankSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="banksData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(banksData,bankSelection) "
            [checked]=" tcUtilsArray.isAllSelected(banksData,bankSelection) || bankSelectAll"
            [indeterminate]="bankSelection.length <banksData.length && bankSelection.length>0"
            [disabled]="bankSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="bankSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #bankSelectAllMenu="matMenu">

            <button mat-menu-item (click)="bankSelectAll=true;" [disabled]="bankSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="bankSelectAll = false;" [disabled]="!bankSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(bankSelection,row) : null"
            [checked]="tcUtilsArray.contains(bankSelection,row) || bankSelectAll" [disabled]="bankSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="short_code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>short_code
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.short_code}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="banksDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: banksDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(bankSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="banksTotalCount"
      [ngStyle]="{display: banksTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" bankSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>