<mat-toolbar class="tc-toolbar-secondary" *ngIf="!isDialog">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-poll-h"></mat-icon>
    {{appTranslation.getText("procedure", "lab_results")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)="searchLab_Results();" *ngIf="tcAuthorization.canRead('laboratory_results') || tcAuthorization.canRead('radiology_results')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <a *ngIf="order_type == lab_order_type.imaging && dicoms && dicoms.length" href={{buildDicomUrl()}} style="color: white; margin-left: auto;" target="_blank">
    <Button  class="tc-padding" style="color: #175D91; background-color: white; border: none;" >
      <mat-icon style="color: #175D91; height: 1px;" fontSet="fa" fontIcon="fa-up-right-from-square"></mat-icon>View Dicom
    </Button>
  </a>

</mat-toolbar>

<div class="tc-padding">
  <mat-form-field *ngIf="lab_resultsSearchTextBox.value || lab_panelLists.length">
    <input matInput [formControl]="lab_resultsSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="lab_resultPersist.lab_resultSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="lab_resultsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="lab_resultsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <h3 *ngIf="!lab_resultsIsLoading && !lab_panelLists.length && !lab_resultsSearchTextBox.value && !isDialog">Sorry! The lab test is in progress, but it is not yet complete.</h3>
  <mat-accordion *ngFor="let lab_panel of lab_panelLists" class="tc-padding">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{lab_panel.sample_generated}} - {{lab_panel.order_panel}}
          <span style="margin-left:auto">{{lab_panel.result_by_name}} - {{lab_panel.result_date * 1000 | date}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-panel-result-list [order_type]="order_type" [panelId]="lab_panel.panel_id" [lab_order_id]="lab_panel.id" [orderId]="lab_panel.order_id"   [patientDetail]="patientDetail"></app-panel-result-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
  [pageSize]="tcUtilsArray.defaultPageSize"
  [length]="lab_resultsTotalCount"
  [ngStyle]="{display: lab_resultsTotalCount > 0? '':'none'}"></mat-paginator>
</div>
