<mat-tab-group class="mat-elevation-z8" [(selectedIndex)]="dialysisSessionPersist.tab_index"
    (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Intake form">

        <div *ngIf="dialysisSessionDetail.session_id">
            <app-patient_intake_form-detail [session_id]="dialysisSessionDetail.id">
            </app-patient_intake_form-detail>
        </div>

    </mat-tab>
    <mat-tab label="orders">

        <div *ngIf="dialysisSessionDetail.encounter_id">
            <app-lab-orders-list [encounterId]="dialysisSessionDetail.encounter_id">
            </app-lab-orders-list>
        </div>

    </mat-tab>
    <mat-tab label="result">

        <div *ngIf="dialysisSessionDetail.encounter_id">
            <app-orders-list [encounterId]="dialysisSessionDetail.encounter_id">
            </app-orders-list>
        </div>

    </mat-tab>

</mat-tab-group>