
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!lostDamageIsLoading">
                  <h1 class="mat-h1 ">{{lostDamageDetail.id}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == LostDamageTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = LostDamageTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav> <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="lostDamageIsLoading">
                  <mat-spinner></mat-spinner>
          </div>
  
          <div [ngClass]="activeTab==LostDamageTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>
  
              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
  
                                      <div *ngIf="!lostDamageIsLoading">  <p class="tc-detail-field">
transfer_or_receive_id                           <span>  {{lostDamageDetail.transfer_or_receive_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
date                           <span>  {{lostDamageDetail.date}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
reason                           <span>  {{lostDamageDetail.reason}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
user_id                           <span>  {{lostDamageDetail.user_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
status                           <span>  {{lostDamageDetail.status}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
quantity                           <span>  {{lostDamageDetail.quantity}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
unit                           <span>  {{lostDamageDetail.unit}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
date_of_disposal                           <span>  {{lostDamageDetail.date_of_disposal}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
disposed_by                           <span>  {{lostDamageDetail.disposed_by}} </span> 
                                                       </p>
                         </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editLostDamage()" *ngIf="tcAuthorization.canUpdate('lost_damages') ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>
  
                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>
  
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  