<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-lock"></mat-icon>
    locks
  </h3>
  <button mat-button (click)=" searchLocks();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addLock();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>


<div class="tc-padding " >
  <mat-form-field>
    <input matInput [formControl]="locksSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="lockPersist.lockSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="locksSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="locksIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">
    <mat-toolbar *ngIf="locksSelection.length >0">
      <button mat-button (click)="downloadLocks()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="locksData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(locksData,locksSelection) "
            [checked]=" tcUtilsArray.isAllSelected(locksData,locksSelection)"
            [indeterminate]="locksSelection.length <locksData.length && locksSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(locksSelection,row) : null"
                        [checked]="tcUtilsArray.contains(locksSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="lockNavigator.lockUrl(element.id)"
             class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lock_type_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lock_type_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lock_type_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lock_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lock_value</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lock_value}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lock_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lock_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lock_time}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editLock(element)">
              <mat-icon>edit</mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteLock(element)">
              <mat-icon>delete</mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="locksDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: locksDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(locksSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="locksTotalCount"></mat-paginator>
  </div>
</div>


