<h1 mat-dialog-title>
    before_patient_leaves_operating_room Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="beforePatientLeavesOperatingRoomSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="beforePatientLeavesOperatingRoomPersist.beforePatientLeavesOperatingRoomSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="beforePatientLeavesOperatingRoomSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="beforePatientLeavesOperatingRoomIsLoading">
    <mat-spinner></mat-spinner>
  </div>  
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchBefore_patient_leaves_operating_rooms.length >0 || beforePatientLeavesOperatingRoomSelectAll">
      <div class="tc-flex-fill"></div>
      <span>{{beforePatientLeavesOperatingRoomSelectAll ? beforePatientLeavesOperatingRoomsTotalCount : beforePatientLeavesOperatingRoomSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="beforePatientLeavesOperatingRoomsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(beforePatientLeavesOperatingRoomsData,beforePatientLeavesOperatingRoomSelection) "
            [checked]=" tcUtilsArray.isAllSelected(beforePatientLeavesOperatingRoomsData,beforePatientLeavesOperatingRoomSelection) || beforePatientLeavesOperatingRoomSelectAll"
            [indeterminate]="beforePatientLeavesOperatingRoomSelection.length <beforePatientLeavesOperatingRoomsData.length && beforePatientLeavesOperatingRoomSelection.length>0"
            [disabled]="beforePatientLeavesOperatingRoomSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="beforePatientLeavesOperatingRoomSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #beforePatientLeavesOperatingRoomSelectAllMenu="matMenu">

            <button mat-menu-item (click)="beforePatientLeavesOperatingRoomSelectAll=true;" [disabled]="beforePatientLeavesOperatingRoomSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="beforePatientLeavesOperatingRoomSelectAll = false;" [disabled]="!beforePatientLeavesOperatingRoomSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(beforePatientLeavesOperatingRoomSelection,row) : null"
            [checked]="tcUtilsArray.contains(beforePatientLeavesOperatingRoomSelection,row) || beforePatientLeavesOperatingRoomSelectAll" [disabled]="beforePatientLeavesOperatingRoomSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="name_of_the_procedure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name_of_the_procedure
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name_of_the_procedure}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="completion_of_instrument_sponge_and_needle_counts">
        <mat-header-cell *matHeaderCellDef mat-sort-header>completion_of_instrument_sponge_and_needle_counts
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.completion_of_instrument_sponge_and_needle_counts}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="specimen_labelling">
        <mat-header-cell *matHeaderCellDef mat-sort-header>specimen_labelling
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.specimen_labelling}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="equipment_problems_to_be_addressed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>equipment_problems_to_be_addressed
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.equipment_problems_to_be_addressed}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef=" key_concerns_for_recovery">
        <mat-header-cell *matHeaderCellDef mat-sort-header> key_concerns_for_recovery
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element. key_concerns_for_recovery}}</mat-cell>
      </ng-container>
   <mat-header-row *matHeaderRowDef="beforePatientLeavesOperatingRoomsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: beforePatientLeavesOperatingRoomsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(beforePatientLeavesOperatingRoomSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="beforePatientLeavesOperatingRoomsTotalCount"
      [ngStyle]="{display: beforePatientLeavesOperatingRoomsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" beforePatientLeavesOperatingRoomSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>