
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-prescription-bottle"></mat-icon>
     prescription_request  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPrescriptionRequests();" *ngIf="tcAuthorization.canRead('prescription_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="prescriptionRequestSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="prescriptionRequestPersist.prescriptionRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="prescriptionRequestSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                  [(value)]="this.filter"
                  (valueChange)="searchPrescriptionRequests()">
        <mat-option *ngFor="let etype of prescription_request" [value]="[etype.id]" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear"
              (click)="filter = filterType;searchPrescriptionRequests();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>search requestor</mat-label>
      <input matInput disabled [(ngModel)]="requestor_name"/>
      <button
        mat-icon-button
        matTooltip="search requestor"
        matSuffix
        color="primary"
        (click)="searchPhysicianEmployee()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="this.user_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="user_id = null; requestor_name = null ; searchPrescriptionRequests()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>
    
    <mat-form-field>
      <input
        matInput
        placeholder=
          '{{appTranslation.getText("general", "date")}}'
        [formControl]="prescriptionRequestPersist.date"
        [matDatepicker]="date_of_schedule"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="date_of_schedule"
      ></mat-datepicker-toggle>
      <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
      <button mat-button *ngIf="prescriptionRequestPersist.date.value !== ''" matSuffix mat-icon-button
        aria-label="Clear" (click)="prescriptionRequestPersist.date.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="tc-loading" *ngIf="prescriptionRequestIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let prescriptionRequest of prescriptionRequestsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('prescription_requests') || tcAuthorization.canDelete('prescription_requests')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPrescriptionRequest(prescriptionRequest)" *ngIf="tcAuthorization.canUpdate('prescription_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePrescriptionRequest(prescriptionRequest)" *ngIf="tcAuthorization.canDelete('prescription_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>prescription_id</span>
            {{prescriptionRequest.prescription_id}}
          </div><div class="tc-detail-field">
            <span>store_id</span>
            {{prescriptionRequest.store_id}}
          </div><div class="tc-detail-field">
            <span>pharmacist_id</span>
            {{prescriptionRequest.pharmacist_id}}
          </div><div class="tc-detail-field">
            <span>interchange_id</span>
            {{prescriptionRequest.interchange_id}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{prescriptionRequest.status}}
          </div><div class="tc-detail-field">
            <span>patient_type</span>
            {{prescriptionRequest.patient_type}}
          </div><div class="tc-detail-field">
            <span>selector_id</span>
            {{prescriptionRequest.selector_id}}
          </div><div class="tc-detail-field">
            <span>payment_id</span>
            {{prescriptionRequest.payment_id}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPrescriptionRequests.length >0 || prescriptionRequestSelectAll">
        <button mat-button (click)="downloadPrescriptionRequests()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{prescriptionRequestSelectAll ? prescriptionRequestsTotalCount : prescriptionRequestSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="prescriptionRequestsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(prescriptionRequestsData,prescriptionRequestSelection) "
              [checked]=" tcUtilsArray.isAllSelected(prescriptionRequestsData,prescriptionRequestSelection) || prescriptionRequestSelectAll"
              [indeterminate]="prescriptionRequestSelection.length <prescriptionRequestsData.length && prescriptionRequestSelection.length>0"
              [disabled]="prescriptionRequestSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="prescriptionRequestSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #prescriptionRequestSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="prescriptionRequestSelectAll=true;" [disabled]="prescriptionRequestSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>

              <button mat-menu-item (click)="accept(prescriptionRequestStatus.accept);" [disabled]="!prescriptionRequestSelection.length" >
                accept
              </button>

              <button mat-menu-item (click)="batchEditPrescripstions();"  [disabled]="!prescriptionRequestSelection.length" >
                edit
              </button>

              <button mat-menu-item (click)="prescriptionRequestSelectAll = false;" [disabled]="!prescriptionRequestSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
              <div *ngIf="prescriptionRequestSelection.length>0">
              <!-- <button mat-menu-item (click)="responseToItems('accept')" *ngIf="canAccept()">
                Accept
              </button> -->
              <button mat-menu-item (click)="responseToItems('void')" *ngIf="canVoid()">
                Void
              </button>
              <button mat-menu-item (click)="printPrescriptions(null, true)">
                Print
              </button>
              <button mat-menu-item (click)="responseToItems('cancel')">
                Cancel
              </button>
            </div>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? select(row) : null"
              [checked]="tcUtilsArray.contains(prescriptionRequestSelection,row) || prescriptionRequestSelectAll" [disabled]="prescriptionRequestSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="item_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Drug Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
              <a [routerLink]="prescriptionRequestNavigator.prescriptionRequestUrl(element.id)" class="tc-link">{{element.item_name}}</a>
            </mat-cell>
        </ng-container>
    <ng-container matColumnDef="interchangeable_item">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Interchanged Drug Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.interchangeable_item}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="dose">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Dose
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.dose}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dosage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Strength
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.dosage}}{{tcUtilsArray.getEnum(formEncounterPersist.dosageUnit, element.unit)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="frequency">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Frequency
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(formEncounterPersist.frequency, element.frequency)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="route">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Route
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(medicationPersist.MedicationRoute, element.route)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Duration
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.duration}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="duration_unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Duration Unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(formEncounterPersist.frequencyList, element.duration_unit)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef >Total
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="prescribed">
          <mat-header-cell *matHeaderCellDef >Prescribed
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.prescribed}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="prescription">
          <mat-header-cell *matHeaderCellDef >Prescription
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.prescription}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="requestor">
          <mat-header-cell *matHeaderCellDef >requestor
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.requestor_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="patient_type">
            <mat-header-cell *matHeaderCellDef >Patient Type
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{appTranslation.getText('patient', tcUtilsArray.getEnum(formEncounterPersist.patientType, element.patient_type)?.name)}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="request_date">
            <mat-header-cell *matHeaderCellDef >Requested Date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.request_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="response_date">
            <mat-header-cell *matHeaderCellDef >Response Date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.response_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="treatment">
            <mat-header-cell *matHeaderCellDef >Treatment
            </mat-header-cell>
            <mat-cell *matCellDef="let element"><div [innerHTML]="element.treatments"></div></mat-cell>
          </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="prescriptionRequestNavigator.prescriptionRequestUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('prescription_requests') || tcAuthorization.canDelete('prescription_requests')) && requestType != prescriptionRequestStatus.dispatch ">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <!-- <button mat-menu-item (click)="editPrescriptionRequest(element)" *ngIf="tcAuthorization.canUpdate('prescription_requests') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button> -->
              <!-- <button mat-menu-item (click)="deletePrescriptionRequest(element)" *ngIf="tcAuthorization.canDelete('prescription_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button> -->
              <button mat-menu-item (click)="addPrescriptions(element)" *ngIf="tcAuthorization.canUpdate('prescription_requests') && !prescribed">
                <span>prescribe</span>
              </button>
              <!-- <button mat-menu-item (click)="interchangeDrug(element)" *ngIf="tcAuthorization.canUpdate('prescription_requests') && !canAccept(element) && prescribed">
                <span>Interchange Drug </span>
              </button> -->
              <button mat-menu-item (click)="acceptOrDispatchItems(element,prescriptionRequestStatus.accept)" *ngIf="!canAccept(element) && prescribed">
                Accept
              </button>
              <button mat-menu-item (click)="editPrescriptions(element)" *ngIf="!canEdit(element) && prescribed">
                Edit Prescription
              </button>
              <button mat-menu-item (click)="acceptOrDispatchItems(element,prescriptionRequestStatus.dispatch)" *ngIf="!canDispatch(element)">
                Dispatch
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="prescriptionRequestsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: prescriptionRequestsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(prescriptionRequestSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="prescriptionRequestsTotalCount"
        [ngStyle]="{display: prescriptionRequestsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  