<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-procedures"></mat-icon>
    {{appTranslation.getText("procedure", "procedure_payment_due")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchProcedure_Payment_Dues();"
    *ngIf="tcAuthorization.canRead('procedure_payment_dues')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addProcedure_Payment_Due();" *ngIf="tcAuthorization.canCreate('procedure_payment_dues')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="procedure_payment_duesSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="procedure_payment_duePersist.procedure_payment_dueSearchText" matSuffix mat-icon-button
      aria-label="Clear" (click)="procedure_payment_duesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="procedure_payment_duesIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let procedure_payment_due of procedure_payment_duesData" class="tc-card">
      <mat-card-header>
        <mat-card-title> <a
            [routerLink]="procedure_payment_dueNavigator.procedure_payment_dueUrl(procedure_payment_due.id)"
            class="tc-link">{{procedure_payment_due.id}}</a>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('procedure_payment_dues') || tcAuthorization.canDelete('procedure_payment_dues')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editProcedure_Payment_Due(procedure_payment_due)"
              *ngIf="tcAuthorization.canUpdate('procedure_payment_dues')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteProcedure_Payment_Due(procedure_payment_due)"
              *ngIf="tcAuthorization.canDelete('procedure_payment_dues')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>

            <button mat-menu-item (click)="payNow(procedure_payment_due)"
            *ngIf="tcAuthorization.canUpdate('procedure_payment_dues')  && procedure_status.not_paid == procedure_payment_due.status"  >
            <mat-icon fontSet="fa" fontIcon="fa-credit-card"></mat-icon>
            <span>Pay Now </span>
          </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('financial','amount')}}</span>
          {{procedure_payment_due.procedure_tests_id}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('procedure','procedure')}}</span>
          {{procedure_payment_due.procedure_id}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','status')}}</span>
          {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(procedure_payment_duePersist.procedure_status, procedure_payment_due.status).name)}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','name')}}</span>
          {{procedure_payment_due.patient_name}}
        </div>

        
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="procedure_payment_duesSelection.length >0 || procedure_payment_duesSelectAll">
      <button mat-button (click)="downloadProcedure_Payment_Dues()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{procedure_payment_duesSelectAll ? procedure_payment_duesTotalCount :
        procedure_payment_duesSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="procedure_payment_duesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(procedure_payment_duesData,procedure_payment_duesSelection) "
            [checked]=" tcUtilsArray.isAllSelected(procedure_payment_duesData,procedure_payment_duesSelection) || procedure_payment_duesSelectAll"
            [indeterminate]="procedure_payment_duesSelection.length <procedure_payment_duesData.length && procedure_payment_duesSelection.length>0"
            [disabled]="procedure_payment_duesSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="procedure_payment_duesSelectAllMenu">
            </mat-icon>
          </button>
          <mat-menu #procedure_payment_duesSelectAllMenu="matMenu">


            <button mat-menu-item (click)="procedure_payment_duesSelectAll=true;"
              [disabled]="procedure_payment_duesSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="procedure_payment_duesSelectAll = false;"
              [disabled]="!procedure_payment_duesSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(procedure_payment_duesSelection,row) : null"
            [checked]="tcUtilsArray.contains(procedure_payment_duesSelection,row) || procedure_payment_duesSelectAll"
            [disabled]="procedure_payment_duesSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="procedure_payment_dueNavigator.procedure_payment_dueUrl(element.id)"
            class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="procedure_tests_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="procedure_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','procedure')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.procedure_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','status')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">    {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(procedure_payment_duePersist.procedure_status, element.status).name)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
      </ng-container>
                         
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','amount')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
     </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('procedure_payment_dues') || tcAuthorization.canDelete('procedure_payment_dues')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editProcedure_Payment_Due(element)"
              *ngIf="tcAuthorization.canUpdate('procedure_payment_dues') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteProcedure_Payment_Due(element)"
              *ngIf="tcAuthorization.canDelete('procedure_payment_dues')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>

            <button mat-menu-item (click)="payNow(element)"
            *ngIf="tcAuthorization.canUpdate('procedure_payment_dues')  && procedure_status.not_paid == element.status"  >
            <mat-icon fontSet="fa" fontIcon="fa-credit-card"></mat-icon>
            <span>Pay Now </span>
          </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="procedure_payment_duesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: procedure_payment_duesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedure_payment_duesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="procedure_payment_duesTotalCount"
      [ngStyle]="{display: procedure_payment_duesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>