<div>
  <mat-toolbar class="tc-toolbar-secondary ">
    <h1 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-spinner"></mat-icon>
      {{appTranslation.getText("procedure", "pending_review")}}
    </h1>
    <button mat-button (click)=" back();" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" reload()" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>

  <div class="tc-flex-row tc-full-width">
    <div class="tc-padding tc-full-width">

      <mat-accordion *ngFor="let pendingRev of pendingReviewData; let i=index">
        <mat-expansion-panel expanded="{{ i==0  && pendingRev.is_paid}}" style="margin-bottom: 10px">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{appTranslation.getText("patient", "patient")}} - {{ getPatientFullName(pendingRev.patient_id) }} {{" "}} | {{ tcUtilsDate.toDate(pendingRev.date_ordered)|date:'MMM dd, yyyy. h:mm a'}} {{" "}} <span *ngIf="!pendingRev.is_paid" style="color: red;"> Not paid</span>

            </mat-panel-title>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="pendingRev.procedure_order_code" class="mat-elevation-z0 tc-full-width" *ngIf="pendingRev.is_paid">
            <ng-container matColumnDef="diagnoses">
              <th mat-header-cell *matHeaderCellDef> {{appTranslation.getText("procedure", "order_diagnosis")}}</th>
              <td mat-cell *matCellDef="let element"> {{ element.diagnoses }} </td>
            </ng-container>

            <ng-container matColumnDef="procedure_code">
              <th mat-header-cell
                  *matHeaderCellDef> {{appTranslation.getText("procedure", "procedure_order_codes")}}</th>
              <td mat-cell *matCellDef="let element"> {{element.procedure_code}} </td>
            </ng-container>

            <ng-container matColumnDef="procedure_name">
              <th mat-header-cell *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_test_name")}}</th>
              <td mat-cell *matCellDef="let element"> {{element.procedure_name}} </td>
            </ng-container>

            <ng-container matColumnDef="procedure_order_title">
              <th mat-header-cell
                  *matHeaderCellDef> {{appTranslation.getText("procedure", "procedure_order_title")}}</th>
              <td mat-cell *matCellDef="let element"> {{element.procedure_order_title}} </td>
            </ng-container>

            <ng-container matColumnDef="procedure_type">
              <th mat-header-cell *matHeaderCellDef> {{appTranslation.getText("procedure", "procedure_type")}}</th>
              <td mat-cell
                  *matCellDef="let element"> {{ appTranslation.getText("procedure", element.procedure_type) }} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> {{appTranslation.getText("procedure", "review")}}</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button
                        (click)="openReviewDialog(element,pendingRev.patient_id, pendingRev.date_ordered)">{{appTranslation.getText("procedure", "review")}}</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-expansion-panel>
      </mat-accordion>


    </div>
  </div>

</div>
