<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <app-lab-orders-list #orders [isDialog]="true" [encounterId]="ids.context['parentId']" (onResult)="ids.context['onResult']" [orderType]="ids.context['orderType']" [forbiddenSelect]="ids.context['forbiddenSelect']"></app-lab-orders-list>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button
          (click)="saveOrder()"
          [disabled]="canSubmit()"
          cdkFocusInitial>
    Save
  </button>
</div>
