<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
               class="tc-sidebar mat-elevation-z8" position="end">
    <div class="tc-sidebar-inner">
      <div class="tc-padding" *ngIf="!departmentLoading">
        <h1 class="mat-h1 ">{{departmentDetail.name}} </h1>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == DepartmentTabs.overview? 'tc-list-item-focus':''"
                       (click)="activeTab = DepartmentTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="tc-loading" *ngIf="departmentLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="activeTab==DepartmentTabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)=" reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </p>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{appTranslation.getText("general", "basicdetails")}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!departmentLoading">
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'name')}} </span>
                    {{departmentDetail.name}}
                  </p>

                </div>
                <mat-action-row>
                  <button mat-button (click)="editDepartment()" *ngIf="tcAuthorization.canUpdate('departments') ">
                    {{appTranslation.getText("general", "edit")}}
                  </button>
                </mat-action-row>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block" *ngIf="departmentDetail.id">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{appTranslation.getText("employee", "department_specialty ")}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <app-department_specialty-list [parent_department_id]="departmentDetail.id"></app-department_specialty-list>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



