<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

    <div mat-dialog-content>
      <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="dispatchOrRejectDetail ">

                 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                        <mat-select placeholder="batch_no" [(value)]="batch_no" required>
                          <mat-option *ngFor="let item of this.item_batch" [value]="item.batch_no">
                            {{item.batch_no}}
                          </mat-option>
                        </mat-select>
                  </mat-form-field>                  
                <mat-form-field class="tc-full-stretch" *ngIf="isNew()"> 
                            <input matInput  placeholder="reason" type="text"  [(ngModel)]="dispatchOrRejectDetail.reason" required>
                  </mat-form-field>
                  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}} 
  </button>
</div>