<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon>add</mat-icon>
    {{appTranslation.getText("procedure", "procedure_order_codes")}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>

  <div *ngIf="procedure_order_codeDetail">

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='{{appTranslation.getText("procedure", "procedure_type")}}'
                  [(ngModel)]="procedure_order_codeDetail.procedure_type">
        <mat-option *ngFor="let proTypes of procedureType" [value]="proTypes.value">
          {{ appTranslation.getText("procedure", proTypes.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="tc-flex-row">
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder='{{appTranslation.getText("procedure", "procedure_test_code")}}' disabled type="text"
               [(ngModel)]="procedure_order_codeDetail.procedure_code"
               required>
      </mat-form-field>

      

      <mat-form-field class="tc-full-stretch">
        <mat-label>{{
          appTranslation.getText("procedure", "order_diagnosis")
          }}</mat-label>
        <input
          matInput
          placeholder="{{ appTranslation.getText('procedure', 'procedure_test_name') }}"
          type="text" disabled
          [(ngModel)]="procedure_order_codeDetail.procedure_name"
          required
        />
        <button
          mat-icon-button
          matTooltip="{{ appTranslation.getText('procedure', 'procedure_test_name') }}"
          matSuffix
          color="primary"
          (click)="pickDiagnosisTest()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

    </div>


    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("procedure", "order_diagnosis")
        }}</mat-label>
      <input
        matInput
        placeholder="{{ appTranslation.getText('procedure', 'order_diagnosis') }}"
        type="text"
        [(ngModel)]="diagnosisDescription"
        required
      />
      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('procedure', 'order_diagnosis') }}"
        matSuffix
        color="primary"
        (click)="pickDiagnosisCode()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="onAdd()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText("general", "add")}}
  </button>
</div>
