
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
    ICU PHYSICAL ASSESSMENT  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)="searchIcu_physical_assessments();" *ngIf="tcAuthorization.canRead('icu_physical_assessments')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addIcu_physical_assessment();" *ngIf="tcAuthorization.canCreate('icu_physical_assessments')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="icuPhysicalAssessmentSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="icuPhysicalAssessmentPersist.icuPhysicalAssessmentSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="icuPhysicalAssessmentSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="icuPhysicalAssessmentIsLoading">
      <mat-spinner></mat-spinner>
    </div>  
    <div style="display:flex; flex-wrap: wrap; gap: 20px;">
    <div style="width: 48%; min-width: 600px;" *ngFor="let icuPhysicalAssessment of icuPhysicalAssessmentsData">
      <mat-card  class="tc-full-width custom-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('icu_physical_assessments') || tcAuthorization.canDelete('icu_physical_assessments')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editIcuPhysicalAssessment(icuPhysicalAssessment)" *ngIf="tcAuthorization.canUpdate('icu_physical_assessments')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteIcuPhysicalAssessment(icuPhysicalAssessment)" *ngIf="tcAuthorization.canDelete('icu_physical_assessments')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
           <span>{{icuPhysicalAssessment.date && icuPhysicalAssessment.date * 1000 |date :'MMM, d/y, h:mm a'}}</span>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="tc-full-width">

            <div class="tc-flex-row custom-div">
            <label for="" class="custom-label">Neuro</label>
        
            <div>
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.neuro_flowsheet" >See Neuro Flowsheet</mat-checkbox> &nbsp; &nbsp; &nbsp; 
              <br>
              <br>
              <label for="">Pupils:</label> &nbsp;
          
              <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.pupil">
                &nbsp;<mat-radio-button value="Reactive" >Reactive</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="Non Reactive" >Non Reactive</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="Fixed" >Fixed</mat-radio-button>&nbsp;&nbsp;
                &nbsp;<mat-radio-button value="Diluted" >Diluted</mat-radio-button>
              </mat-radio-group>
              <br><br>
              <label for="">AVPU:</label> &nbsp;
          
              <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.avpu">
                &nbsp;<mat-radio-button value="Alert" >Alert</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="To verbal" >To verbal</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="To pain" >To pain</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="unresponsive" >unresponsive</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="Oriented" >Oriented</mat-radio-button>&nbsp;&nbsp;
                &nbsp;<mat-radio-button value="Disoriented" >Disoriented</mat-radio-button>
              </mat-radio-group>
              <br><br>

                &nbsp;<mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.follows_commands" >Follows Commands</mat-checkbox> &nbsp;&nbsp;
                &nbsp;<mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.nods_appropriately_to_questions" >Nods appropriately to questions</mat-checkbox> &nbsp;&nbsp;
                &nbsp;<mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.all_extremities_equal_in_strength" >All extremities equal in strength</mat-checkbox> &nbsp;&nbsp;

            <br><br>
            <div class="tc-flex-row">
            <p class="custom-detail">
              HOB up 
              <span> {{ icuPhysicalAssessment.hop_up_degree }} </span> degrees
            </p>
          <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.speak_clearly" >
            &nbsp;<mat-radio-button value="Speaks clearly" >Speaks clearly</mat-radio-button> &nbsp;&nbsp;
            &nbsp;<mat-radio-button value="Gag Reflex Intact" >Gag Reflex Intact</mat-radio-button> &nbsp;&nbsp;
            &nbsp;<mat-radio-button value="Cough Reflex Intact" >Cough Reflex Intact</mat-radio-button>&nbsp;&nbsp;
          </mat-radio-group>
        </div>

        <div class="tc-flex-row">
          <p class="custom-detail">
            GCS  
            <span> {{ icuPhysicalAssessment.gcs }} </span> 
          </p>
          
          <p class="custom-detail">
            Seizura Episode 
            <span> {{ icuPhysicalAssessment.seizura }} </span> 
          </p>
          </div>
          
          </div>

          </div>
        
          <br> 
          <div class="tc-flex-row custom-div">
            <label for="" class="custom-label">CVS</label>
            <div>
              <label for="">Skin:</label> &nbsp;
  
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.skin">
        &nbsp;<mat-radio-button value="Warm" >Warm</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="Dry" >Dry</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="Moist" >Moist</mat-radio-button>&nbsp;&nbsp;
      </mat-radio-group>
      <br><br>

      <label for="">Peripheral edema:</label> &nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.peripheral_edema" >
        &nbsp;<mat-radio-button value="Pitting" >Pitting</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="non pitting" >non pitting</mat-radio-button> &nbsp;&nbsp;
      </mat-radio-group>
      <br><br>
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.brisk_cap_refill" >Brisk cap Refill(&lt; 3 sec)</mat-checkbox> &nbsp; &nbsp; &nbsp;
      
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.heard" >S1, S2, heard</mat-checkbox> &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.csm" >CSM distal a-line good</mat-checkbox> &nbsp; &nbsp; &nbsp; 
      <br>
      <br>
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.line_passed" >A-line passed square wave test </mat-checkbox> &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.line_zeroed" >A-line Zeroed</mat-checkbox> &nbsp; &nbsp; &nbsp; 
      <br>
      <br>
      <label for="">Rt Radial  Pulse:</label> &nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.rt_radial_pulse" >
        &nbsp;<mat-radio-button value="Palpable" >Palpable</mat-radio-button> &nbsp;
        <mat-radio-button value="Doppler" >Doppler</mat-radio-button> &nbsp;
        <mat-radio-button value="Absent" >Absent</mat-radio-button> &nbsp;
      </mat-radio-group>


      <label for="">Lt Radial  Pulse:</label> &nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.lt_radial_pulse" >
        &nbsp;<mat-radio-button value="Palpable" >Palpable</mat-radio-button> &nbsp;
        <mat-radio-button value="Doppler" >Doppler</mat-radio-button> &nbsp;
        <mat-radio-button value="Absent" >Absent</mat-radio-button> &nbsp;
      </mat-radio-group>
      <br>
      <br>
      <label for="">R pedal  Pulse:</label> &nbsp;&nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Selec an option" [(ngModel)]="icuPhysicalAssessment.r_pedal_pulse" >
        &nbsp;<mat-radio-button value="Palpable" >Palpable</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="Doppler" >Doppler</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="Absent" >Absent</mat-radio-button> &nbsp;
      </mat-radio-group>


      <label for="">L pedal  Pulse:</label> &nbsp;&nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.l_pedal_pulse" >
        &nbsp;<mat-radio-button value="Palpable" >Palpable</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="Doppler" >Doppler</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="Absent" >Absent</mat-radio-button> &nbsp;
      </mat-radio-group>
      
            </div>
          </div>
        
          
          <div class="tc-flex-row custom-div">
            <label for="" class="custom-label">Respiratory</label>
            <div>
            <div class="tc-flex-row">
            <p class="custom-detail">
              ETT 
              <span> {{ icuPhysicalAssessment.ett_size }} </span> size
            </p>
            <p class="custom-detail">
              Intact 
              <span> {{ icuPhysicalAssessment.intact_cm }} </span>cm at lip line
            </p>
            <p class="custom-detail">
              Trach. Intact size 
              <span> {{ icuPhysicalAssessment.track_intact }} </span>
            </p>
           </div>
              <div class="tc-flex-row">

                <mat-checkbox  style=" align-self: center;" [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.breath_sound_clear_bilat"  >Breath Sound clear bilat</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
                <label  for="" style="font-weight: bold; align-self: center;">Secretions</label> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <p class="custom-detail">
                  Description
                  <span> {{ icuPhysicalAssessment.description }} </span>
                </p>
            
                </div>
                <div class="tc-flex-row">
            
                  <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.breath_sound_clear_after_suctioned"  >Breath Sound clear After suctioned</mat-checkbox>  &nbsp; &nbsp;
                  <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.insp_wheeze"  >Insp. wheeze</mat-checkbox>  &nbsp; &nbsp;
                  <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.exp_wheeze"  > Exp. wheeze</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
                </div>
                <br>
                <div class="tc-flex-row">
                  <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.breath_sound_clear_with_suction"  >Breath Sound clear with suction</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
                <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.track_care"  >Trach care</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
                <label for="">Breath sound decrease on:</label> &nbsp;
                <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.breath_sound_decrease_on" name="breath_sound_decrease_on">
                  &nbsp;<mat-radio-button value="L" >L</mat-radio-button> &nbsp;
                  &nbsp;<mat-radio-button value="R" >R</mat-radio-button> &nbsp;
                </mat-radio-group>
                </div>
               <br>
            
                <label for="">Crackles:</label> &nbsp;
                <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.crackle" name="crackle">
                  &nbsp;<mat-radio-button value="L" >L</mat-radio-button> &nbsp;
                  &nbsp;<mat-radio-button value="R" >R</mat-radio-button> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                </mat-radio-group>
            
                <label for="">Chest Tube:</label> &nbsp;
                <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.breath_sound_decrease_on" name="breath_sound_decrease_on">
                  &nbsp;<mat-radio-button value="L" >L</mat-radio-button> &nbsp;
                  &nbsp;<mat-radio-button value="R" >R</mat-radio-button> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                </mat-radio-group>
            
                <label for="">Bubbling:</label> &nbsp;
                <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.bubbling" name="bubbling">
                  &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button> &nbsp;
                  &nbsp;<mat-radio-button value="No" >No</mat-radio-button> &nbsp;
                </mat-radio-group>
                <br> <br>
            
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.vent_circuit_checked" >Vent circuit checked</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.bac_filter" >Bac.Filter</mat-checkbox>  &nbsp; &nbsp;&nbsp;
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.humidifier" >Humidifier (check heat, waterlevel andfunctionality)</mat-checkbox>  &nbsp; &nbsp;&nbsp;
        
            </div>
          </div>
          <br>
          <div class="tc-flex-row custom-div">
            <label for="" class="custom-label">GI</label>
            <div>
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.ng_tube" >NG Tube</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.ng_tube" >OG Tube</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.placement_checked" >NG/OG Placement checked</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
              <label for="">Drainage:</label> &nbsp;
              <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.drianage">
                &nbsp;<mat-radio-button value="Present" >Present</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="No" >No</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="Patent" >Patent</mat-radio-button> &nbsp;&nbsp;
                &nbsp;<mat-radio-button value="Blocked" >Blocked</mat-radio-button> &nbsp;&nbsp;
              </mat-radio-group>
        
              <br> <br>
              
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.abd_soft" >Abd soft; nontender</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.abd_distended" >Abd distended</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
              <label for="">Abd:</label> &nbsp;
              <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.abd" name="abd">
                &nbsp;<mat-radio-button value="Semifirm" >Semifirm</mat-radio-button> &nbsp;
                &nbsp;<mat-radio-button value="firm" >firm</mat-radio-button> &nbsp;
                &nbsp;<mat-radio-button value="hard" >hard</mat-radio-button> &nbsp;
              </mat-radio-group>
              <br> <br>

              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.vomiting" >Vomiting</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.diarrhea" >Diarrhea</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.suction" >Suction</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.gravity" >Gravity</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.bowel_sound" >Bowels Sounds</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
              <br><br>
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.hypoactive_bowel_sound" >Hypoactive Bowels Sounds</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
              <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.absenet_bowel_sound" >Absent Bowels Sounds</mat-checkbox>  &nbsp; &nbsp; 

              <div class="tc-flex-row">
              <p class="custom-detail">
                Ostomy stoma color
                <span> {{ icuPhysicalAssessment.ostomy_stoma_color }} </span>
              </p>

              <p class="custom-detail">
                Consistency
                <span> {{ icuPhysicalAssessment.consistency }} </span>
              </p>
              </div>
              <div class="tc-flex-row">
        
               
                <p class="custom-detail">
                  Ng/OG tube insertion date
                  <span> {{ icuPhysicalAssessment.ng_og_insertion_date  && icuPhysicalAssessment.ng_og_insertion_date  * 1000 |date }} </span>
                </p>
                <p class="custom-detail">
                  Date of last BM/stool pass
                  <span> {{ icuPhysicalAssessment.date_of_last_bm  && icuPhysicalAssessment.date_of_last_bm  * 1000 |date }} </span>
                </p>
              </div> 
        
            </div>
            </div>
        
            <br>
        
            <div class="tc-flex-row custom-div">
              <label for="" class="custom-label">GU</label>
              <div>
                  <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.foley" >Foley</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
                  <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.condom_catheter" >Condom Catheter</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
                 
                  <label for="">Foley care provided:</label> &nbsp;
                    <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.foley_care_provided" >
                      &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button> &nbsp;&nbsp;
                      &nbsp;<mat-radio-button value="No" >No</mat-radio-button> &nbsp;&nbsp;
                    </mat-radio-group>
           
                <div class="tc-flex-row">
                  <p class="custom-detail">
                    Foley insert date
                    <span> {{ icuPhysicalAssessment.foley_insert_date && icuPhysicalAssessment.foley_insert_date * 1000 |date}} </span>
                  </p>
                  <p class="custom-detail">
                    Urine appearance
                    <span> {{ icuPhysicalAssessment.urine_appearance }} </span>
                  </p>
                </div>
                </div>
            </div>
            <br>
            <div class="tc-flex-row custom-div">
              <label for="" class="custom-label">Skin</label>
              <div>
                <div>
                  <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.breakdown" >No skin breakdown</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
                  <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.intact" >Intact</mat-checkbox>  &nbsp; &nbsp;&nbsp;
                  <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.bedsore" >Bedsore</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
                  <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.wound_care" >Wound care</mat-checkbox>  &nbsp; &nbsp;&nbsp;
                  <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.edema" >Edema</mat-checkbox>  &nbsp; &nbsp;&nbsp;
        
                
                </div>
                <br>
                <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessment.bruise_dicoration">
                  &nbsp;<mat-radio-button value="Bruise" >Bruise</mat-radio-button> &nbsp;&nbsp;
                  &nbsp;<mat-radio-button value="Discolorations" >Discolorations</mat-radio-button> &nbsp;&nbsp;
                  &nbsp;<mat-radio-button value="Lesions" >Lesions</mat-radio-button> &nbsp;&nbsp;
                  &nbsp;<mat-radio-button value="Rash" >Rash</mat-radio-button> &nbsp;&nbsp;
                </mat-radio-group>
                <br> <br>
                <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.perianal_care" >perianal care</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
                <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessment.bed_bath" >Bed bath & Skin care</mat-checkbox>  &nbsp; &nbsp;&nbsp;
             </div>
            </div>
          </div>  
        </mat-card-content>
      </mat-card>
    </div>
    </div>
    
   
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="icuPhysicalAssessmentsTotalCount"
        [ngStyle]="{display: icuPhysicalAssessmentsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
    