.custom-label {
    width:100px; 
    align-self: center; 
    font-weight:bolder;
}

.custom-div {
    border-bottom: 1px solid gray; 
    padding-bottom: 10px;
}

.custom-card {
    margin-bottom: 20px;
}
.custom-detail span {
    text-decoration: underline;
}

.custom-detail {
    margin: 5px 30px 5px 0;
}