
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     markup_price  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchMarkupPrices();" *ngIf="tcAuthorization.canRead('markup_prices')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addMarkupPrice();" *ngIf="tcAuthorization.canCreate('markup_prices')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <!-- <mat-form-field>
      <input matInput [formControl]="markupPriceSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="markupPricePersist.markupPriceSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="markupPriceSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
    <div class="tc-loading" *ngIf="markupPriceIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let markupPrice of markupPricesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('markup_prices') || tcAuthorization.canDelete('markup_prices')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editMarkupPrice(markupPrice)" *ngIf="tcAuthorization.canUpdate('markup_prices')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMarkupPrice(markupPrice)" *ngIf="tcAuthorization.canDelete('markup_prices')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>percent</span>
            {{markupPrice.percent}}
          </div><div class="tc-detail-field">
            <span>service_type</span>
            {{markupPrice.service_type}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchMarkupPrices.length >0 || markupPriceSelectAll">
        <button mat-button (click)="downloadMarkupPrices()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{markupPriceSelectAll ? markupPricesTotalCount : markupPriceSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="markupPricesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(markupPricesData,markupPriceSelection) "
              [checked]=" tcUtilsArray.isAllSelected(markupPricesData,markupPriceSelection) || markupPriceSelectAll"
              [indeterminate]="markupPriceSelection.length <markupPricesData.length && markupPriceSelection.length>0"
              [disabled]="markupPriceSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="markupPriceSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #markupPriceSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="markupPriceSelectAll=true;" [disabled]="markupPriceSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="markupPriceSelectAll = false;" [disabled]="!markupPriceSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(markupPriceSelection,row) : null"
              [checked]="tcUtilsArray.contains(markupPriceSelection,row) || markupPriceSelectAll" [disabled]="markupPriceSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="percent">
          <mat-header-cell *matHeaderCellDef mat-sort-header>percent
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.percent}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="service_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Service Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(storePersist.store_type, element.service_type)?.name}}</mat-cell>
         </ng-container>
         <ng-container matColumnDef="to_max_of_unit_price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>To max of unit price</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.to_max_of_unit_price == 3.40282e+38 ? 'Default' : element.to_max_of_unit_price}}</mat-cell>
       </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="markupPriceNavigator.markupPriceUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('markup_prices') || tcAuthorization.canDelete('markup_prices')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editMarkupPrice(element)" *ngIf="tcAuthorization.canUpdate('markup_prices') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMarkupPrice(element)" *ngIf="tcAuthorization.canDelete('markup_prices')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="markupPricesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: markupPricesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(markupPriceSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="markupPricesTotalCount"
        [ngStyle]="{display: markupPricesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>