<div class="tc-flex-row">
  <h1 class="mat-headline">
    {{appTranslation.getText("procedure", "lab_results")}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div *ngIf="reportResultUnionResult">
    <p class="tc-text-muted">{{ appTranslation.getText("general", "date") }}</p>
    <p>{{ tcUtilsDate.toDate(reportResultUnionResult.date_collected)|date:'MMM dd, yyyy. h:mm a'}}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "date_transmitted")}}</p>
    <p>{{ tcUtilsDate.toDate(reportResultUnionResult.date_report)|date:'MMM dd, yyyy. h:mm a'}}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "specimen")}}</p>
    <p>{{ reportResultUnionResult.specimen_num }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("general", "status")}}</p>
    <p>{{ reportResultUnionResult.result_status }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "procedure_order_codes")}}</p>
    <p>{{ reportResultUnionResult.result_code }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "please_describe_the_above_code")}}</p>
    <p>{{ reportResultUnionResult.result_text }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "abnormality")}}</p>
    <p>{{ reportResultUnionResult.abnormal }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "result")}}</p>
    <p>{{ reportResultUnionResult.result }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "units")}}</p>
    <p>{{ reportResultUnionResult.units }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "range")}}</p>
    <p>{{ reportResultUnionResult.range }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("notes", "note")}}</p>
    <p>{{ reportResultUnionResult.result_notes }}</p>

    <p class="tc-text-muted">{{appTranslation.getText("procedure", "comment")}}</p>
    <p>{{ reportResultUnionResult.comments }}</p>

  </div>
</div>

<div mat-dialog-actions style="float: right">
  <!--  for both add and edit-->
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
</div>
