<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav
    #sidenav
    [mode]="tcUtilsAngular.sideNavMode"
    [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8"
    position="end"
  >
    <div class="tc-sidebar-inner">
      <div class="tc-padding" *ngIf="!roomIsLoading">
        <h1 class="mat-h1">{{ roomDetail.room_no }}</h1>
      </div>
      <mat-nav-list>
        <mat-list-item
          [ngClass]="activeTab == RoomTabs.overview ? 'tc-list-item-focus' : ''"
          (click)="
            activeTab = RoomTabs.overview;
            tcUtilsAngular.smallDevice ? sidenav.toggle() : false
          "
        >
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{ appTranslation.getText("general", "overview") }}
          </a>
        </mat-list-item>

        <mat-list-item [ngClass]="activeTab == RoomTabs.doctor_in_room? 'tc-list-item-focus':''"
          (click)="activeTab = RoomTabs.doctor_in_room;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-pen"></mat-icon>
            Doctors In Room

            <span matBadge="{{doctorInRoomsTotalCount}}" matBadgePosition="above after" matBadgeOverlap="false"
              [matBadgeHidden]="doctorInRoomsTotalCount == 0" style="padding-right:10px;"></span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="roomIsLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="activeTab == RoomTabs.overview ? '' : 'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </p>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ appTranslation.getText("general", "basicdetails") }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!roomIsLoading">
                  <p class="tc-detail-field">
                    Room Number <span> {{ roomDetail.room_no }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Ward <span> {{ roomDetail.room_no }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Status <span>
                      {{tcUtilsArray.getEnum(
                        roomPersist.roomStatus,
                        roomDetail.status
                      )?.name}}
                       </span>
                  </p>
                </div>
                <mat-action-row>
                  <button
                    mat-button
                    (click)="editRoom()"
                    *ngIf="tcAuthorization.canUpdate('rooms')"
                  >
                    {{ appTranslation.getText("general", "edit") }}
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block"></div>
      </div>
    </div>



    <div [ngClass]="activeTab==RoomTabs.doctor_in_room? '':'tc-hidden'">

        <mat-toolbar class="tc-toolbar-secondary">
          <h3 class="mat-heading">
            <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
           Doctors In Room  </h3>
        
          <button mat-button (click)=" back();" class="tc-link">
                  <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
          </button>
          <button mat-button (click)=" searchDoctorInRoom();" *ngIf="tcAuthorization.canRead('doctor_in_rooms')" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
          <button mat-button (click)=" addDoctorInRoom();" *ngIf="tcAuthorization.canCreate('doctor_in_rooms')" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
          </button>
        </mat-toolbar>
         <mat-spinner diameter="50" *ngIf="doctorInRoomIsLoading" class="tc-padding"></mat-spinner>
        
              <div class="tc-padding" [ngStyle]="{display: doctorInRoomIsLoading? 'none':''}">
                <mat-form-field>
                  <input matInput [formControl]="doctorInRoomSearchTextBox"
                    placeholder="{{appTranslation.getText('general','search_text')}}">
                  <button mat-button *ngIf="doctorInRoomSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="doctorInRoomSearchTextBox.setValue('')">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
        
                <div class="tc-table-container tc-full-stretch">  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
            <mat-card *ngFor="let doctorInRoom of doctorInRoomsData" class="tc-card">
              <mat-card-header>
                <mat-card-title>
                  <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                    *ngIf="tcAuthorization.canUpdate('doctor_in_rooms') || tcAuthorization.canDelete('doctor_in_rooms')">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <mat-menu #elementMenu="matMenu">
        
                    <button mat-menu-item (click)="editDoctorInRoom(doctorInRoom)" *ngIf="tcAuthorization.canUpdate('doctor_in_rooms')">
                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                      <span>{{appTranslation.getText("general","edit")}} </span>
                    </button>
                    <button mat-menu-item (click)="deleteDoctorInRoom(doctorInRoom)" *ngIf="tcAuthorization.canDelete('doctor_in_rooms')">
                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                      <span>{{appTranslation.getText("general","delete")}} </span>
                    </button>
                  </mat-menu>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
        <div class="tc-detail-field">
                  <span>room_id</span>
                  {{doctorInRoom.room_id}}
                </div><div class="tc-detail-field">
                  <span>start_time</span>
                  {{doctorInRoom.start_time}}
                </div><div class="tc-detail-field">
                  <span>end_time</span>
                  {{doctorInRoom.end_time}}
                </div><div class="tc-detail-field">
                  <span>doctor_id</span>
                  {{doctorInRoom.doctor_id}}
                </div><div class="tc-detail-field">
                  <span>status</span>
                  {{doctorInRoom.status}}
                </div>        
              </mat-card-content>
            </mat-card>
          </div>
          <div class="tc-table-container tc-full-width">
        
            <mat-toolbar *ngIf="doctorInRoomSelection.length >0 || doctorInRoomSelectAll">
              <button mat-button (click)="downloadDoctorInRooms()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
              </button>
              <div class="tc-flex-fill"></div>
              <span>{{doctorInRoomSelectAll ? doctorInRoomsTotalCount : doctorInRoomSelection.length}} {{appTranslation.getText("general",
                "selected")}}</span>
            </mat-toolbar><mat-table [dataSource]="doctorInRoomsData" matSort class="tc-hide-on-mobile">
        
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)=" tcUtilsArray.toggleSelectAll(doctorInRoomsData,doctorInRoomSelection) "
                    [checked]=" tcUtilsArray.isAllSelected(doctorInRoomsData,doctorInRoomSelection) || doctorInRoomSelectAll"
                    [indeterminate]="doctorInRoomSelection.length <doctorInRoomsData.length && doctorInRoomSelection.length>0"
                    [disabled]="doctorInRoomSelectAll">
                  </mat-checkbox>
        
                  <button mat-icon-button>
                    <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="doctorInRoomSelectAllMenu"></mat-icon>
                  </button>
                  <mat-menu #doctorInRoomSelectAllMenu="matMenu">
        
                    <button mat-menu-item (click)="doctorInRoomSelectAll=true;" [disabled]="doctorInRoomSelectAll">
                      {{appTranslation.getText("general", "all")}}
                    </button>
                    <button mat-menu-item (click)="doctorInRoomSelectAll = false;" [disabled]="!doctorInRoomSelectAll">
                      {{appTranslation.getText("general", "none")}}
                    </button>
                  </mat-menu>
        
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? tcUtilsArray.toggleSelection(doctorInRoomSelection,row) : null"
                    [checked]="tcUtilsArray.contains(doctorInRoomSelection,row) || doctorInRoomSelectAll" [disabled]="doctorInRoomSelectAll">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>  


              <ng-container matColumnDef="start_time">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Start Time
                </mat-header-cell>
                <mat-cell *matCellDef="let element">   {{tcUtilDate.toDate(element.start_time) | date:'dd-MM-YYYY h:mm a'}}</mat-cell>
              </ng-container>


              <ng-container matColumnDef="end_time">
                <mat-header-cell *matHeaderCellDef mat-sort-header>End Time 
                </mat-header-cell>
                <mat-cell *matCellDef="let element">  {{tcUtilDate.toDate(element.end_time) | date:'dd-MM-YYYY h:mm a'}}</mat-cell>
              </ng-container>


              <ng-container matColumnDef="doctor_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Doctor
                </mat-header-cell>
                <mat-cell *matCellDef="let element">  {{element.doc_name}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status
                </mat-header-cell>
                <mat-cell *matCellDef="let element">  
                  {{tcUtilsArray.getEnum(
                    roomPersist.doctorInRoomStatus,
                    element.status
                  )?.name}}</mat-cell>
              </ng-container>
              
              
              
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                  <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                    *ngIf="tcAuthorization.canUpdate('doctor_in_rooms') || tcAuthorization.canDelete('doctor_in_rooms')">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <mat-menu #elementMenu="matMenu">
                 <button mat-menu-item (click)="editDoctorInRoom(element)" *ngIf="tcAuthorization.canUpdate('doctor_in_rooms') ">
                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                      <span>{{appTranslation.getText("general","edit")}} </span>
                    </button>
                    <button mat-menu-item (click)="deleteDoctorInRoom(element)" *ngIf="tcAuthorization.canDelete('doctor_in_rooms')">
                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                      <span>{{appTranslation.getText("general","delete")}} </span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>  <mat-header-row *matHeaderRowDef="doctorInRoomsDisplayedColumns; sticky: true; "></mat-header-row>
              <mat-row *matRowDef="let row; columns: doctorInRoomsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(doctorInRoomSelection,row)}"></mat-row>
        
            </mat-table>
        
            <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
              [pageSize]="tcUtilsArray.defaultPageSize" [length]="doctorInRoomsTotalCount"
              [ngStyle]="{display: doctorInRoomsTotalCount > 0? '':'none'}"></mat-paginator>
          </div>
        </div>
        </div></div>


  </mat-sidenav-content>
</mat-sidenav-container>
