<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-boxes"></mat-icon>
    {{ appTranslation.getText("inventory", "items") }}
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchItems()"
    *ngIf="tcAuthorization.canRead('items')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addItem()"
    *ngIf="tcAuthorization.canCreate('items')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="itemsSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="itemPersist.itemSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="itemsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <div class="tc-loading" *ngIf="itemsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let item of itemsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <h1>this is the title</h1>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('items') ||
              tcAuthorization.canDelete('items')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editItem(item)"
              *ngIf="tcAuthorization.canUpdate('items')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteItem(item)"
              *ngIf="tcAuthorization.canDelete('items')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "name") }}</span>
          <a [routerLink]="itemNavigator.itemUrl(item.id)" class="tc-link">{{ item.name }}</a>
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("inventory", "item_code") }}</span>
          {{ item.item_code }}
        </div>
        <!-- <div class="tc-detail-field">
          <span>{{ appTranslation.getText("inventory", "quantity") }}</span>
          {{ item.quantity | number }}
        </div> -->
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'reorder_point')}}</span>
          {{item.reorder_point}}
        </div>

         <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'drug_name')}}</span>
          {{item.drug_name}}
        </div>

          <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'product_category')}}</span>
          {{item.product_category}}
        </div>

          <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'item_description')}}</span>
          {{item.item_description}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar *ngIf="itemsSelection.length > 0 || itemsSelectAll">
      <button mat-button (click)="downloadItems()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
      >{{ itemsSelectAll ? itemsTotalCount : itemsSelection.length }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table [dataSource]="itemsData" matSort class="tc-hide-on-mobile">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="tcUtilsArray.toggleSelectAll(itemsData, itemsSelection)"
            [checked]="
              tcUtilsArray.isAllSelected(itemsData, itemsSelection) ||
              itemsSelectAll
            "
            [indeterminate]="
              itemsSelection.length < itemsData.length &&
              itemsSelection.length > 0
            "
            [disabled]="itemsSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="itemsSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #itemsSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="itemsSelectAll = true"
              [disabled]="itemsSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="itemsSelectAll = false"
              [disabled]="!itemsSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>

            <button
            mat-menu-item
            (click)="exportItems()"
          >
            export items
          </button>

          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event ? tcUtilsArray.toggleSelection(itemsSelection, row) : null
            "
            [checked]="
              tcUtilsArray.contains(itemsSelection, row) || itemsSelectAll
            "
            [disabled]="itemsSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link
        </mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a [routerLink]="itemNavigator.itemUrl(element.id)" class="tc-link">{{
            element.id
            }}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "name")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="itemNavigator.itemUrl(element.id)" class="tc-link">{{ itemNavigator.itemName(element)}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("inventory", "item_type")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          appTranslation.getText(
            "inventory",
            tcUtilsArray.getEnum(itemPersist.item_type, element.item_type).name
          )
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("inventory", "item_code")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.item_code }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>category </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsArray.getEnum(categoryPersist.category, element.category)?.name }}</mat-cell>
      </ng-container>



      <!-- <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("inventory", "quantity")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.quantity | number }}</mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="reorder_point">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'reorder_point')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reorder_point}}</mat-cell>
      </ng-container>

         <ng-container matColumnDef="drug_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'drug_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.drug_name}}</mat-cell>
      </ng-container>

         <ng-container matColumnDef="sub_category">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>sub category</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
            element.subcategory_name
          }}</mat-cell> 
      </ng-container>

         <ng-container matColumnDef="item_description">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'item_description')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.item_description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('items') ||
              tcAuthorization.canDelete('items')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editItem(element)"
              *ngIf="tcAuthorization.canUpdate('items')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteItem(element)"
              *ngIf="tcAuthorization.canDelete('items')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="itemsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: itemsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(itemsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="itemsTotalCount"
      [ngStyle]="{ display: itemsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
