<h1 mat-dialog-title>
    icd_11 Selection
  </h1><div mat-dialog-content>  
    <mat-form-field>
    <input matInput [formControl]="icd11SearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="icd11Persist.icd11SearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="icd11SearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field *ngIf="icd11sData.length==0"  >
    <input matInput [(ngModel)]="category"
           placeholder='Add new Diagnosis'>
           <button mat-button matSuffix mat-icon-button 
           (click)="addNewICD11()" disabled="{{category==null||category==''}}">
           <mat-icon>add_circle</mat-icon>
   </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="icd11IsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="icd11sData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(icd11sData,icd11Selection) "
            [checked]=" tcUtilsArray.isAllSelected(icd11sData,icd11Selection) || icd11SelectAll"
            [indeterminate]="icd11Selection.length <icd11sData.length && icd11Selection.length>0"
            [disabled]="icd11SelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="icd11SelectAllMenu"></mat-icon>
          </button>
          <mat-menu #icd11SelectAllMenu="matMenu">

            <button mat-menu-item (click)="icd11SelectAll=true;" [disabled]="icd11SelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="icd11SelectAll = false;" [disabled]="!icd11SelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? (selectOne ? markOneItem(row) : tcUtilsArray.toggleSelection(icd11Selection,row) ): null"
            [checked]="tcUtilsArray.contains(icd11Selection,row) || icd11SelectAll" [disabled]="icd11SelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.category}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>code
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="icd11sDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: icd11sDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(icd11Selection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSizeSmall" [length]="icd11sTotalCount"
      [ngStyle]="{display: icd11sTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" icd11Selection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>