<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="procedureDetail">

        <mat-form-field class="tc-full-stretch" *ngIf="!isCase()"> 
            <mat-label>{{
              appTranslation.getText("patient", "procedure_type")
            }}</mat-label>
            <input matInput disabled [(ngModel)]="procedureType" />
            <button
              mat-icon-button
              matTooltip="{{ appTranslation.getText('patient', 'procedure_type') }}"
              matSuffix
              color="primary"
              (click)="searchProcedureType()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
  
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="procedureDetail.name" required>
                          </mat-form-field>
                      
  <div class="tc-flex-column">
                                  <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="procedureDetail.needs_consent_form" required> {{appTranslation.getText('patient','needs_consent_form')}} </mat-slide-toggle>
                           </div>
                           <mat-form-field class="tc-equal-block tc-full-stretch">
                            <mat-select placeholder="Procedure For" [(value)]="procedureDetail.procedure_for" required>
                              <mat-option *ngFor="let etype of persist.procedureFor" [value]="etype.id">
                                {{tcUtilsArray.getEnum(persist.procedureFor, etype.id)?.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
    <div class="tc-flex-row" *ngIf="takeDuration">
      <mat-form-field class="tc-equal-block">
        <input matInput  placeholder="{{appTranslation.getText('general','name')}}" type="number"  [(ngModel)]="procedureDetail.duration" required>
    </mat-form-field>

    <mat-form-field class="tc-equal-block">
      <mat-select placeholder="{{appTranslation.getText('general','type')}}" [(value)]="timeType" required>
        <mat-option *ngFor="let etype of persist.time_type" [value]="etype.id">
          {{tcUtilsArray.getEnum(persist.time_type, etype.id)?.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  
    <div  *ngIf="procedureDetail.fees">
      <h3 style="margin: 0;">Prices</h3>
      <div class="tc-flex-row tc-full-stretch">
        <mat-form-field class="tc-equal-block" style="width: 100px;">
          <input matInput placeholder="{{appTranslation.getText('patient','inpatient')}}" type="number"
            [(ngModel)]="procedureDetail.fees.inpatient" required>
        </mat-form-field>
        <mat-form-field class="tc-equal-block" style="width: 100px;">
          <input matInput placeholder="{{appTranslation.getText('patient','outpatient')}}" type="number"
            [(ngModel)]="procedureDetail.fees.outpatient" required>
        </mat-form-field>
        <mat-form-field class="tc-equal-block" style="width: 100px;">
          <input matInput placeholder="{{appTranslation.getText('patient','emergency')}}" type="number"
            [(ngModel)]="procedureDetail.fees.emergency" required>
        </mat-form-field>
      </div>
    </div>
  
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  