<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="medical_certificateDetail" style="margin: auto">


<div [class.tc-flex-row]=true>
  <mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="name" type="text" disabled  [(ngModel)]="name" required>
  </mat-form-field>                    
<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="age" type="number"  [(ngModel)]="medical_certificateDetail.age" disabled required>
  </mat-form-field>                    
<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="sex" type="text"  [(ngModel)]="medical_certificateDetail.sex" disabled required>
  </mat-form-field>                    
<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="card_no" type="text"  [(ngModel)]="medical_certificateDetail.card_no" disabled required>
  </mat-form-field> 
</div>  

<mat-form-field style="width:100%" class="example-full-width">
  <mat-label>Diagnosis</mat-label>
  <textarea [(ngModel)]="medical_certificateDetail.diagnosis"  matInput placeholder="diagnosis"></textarea>
</mat-form-field>

<!-- <mat-form-field class="tc-full-stretch">
  <mat-select placeholder="diagnosis" [(value)]="medical_certificateDetail.diagnosis" required>
    <mat-option *ngFor="let diagnosis of this.diagnosis" [value]="diagnosis">
      {{diagnosis}}
    </mat-option>
  </mat-select>
  </mat-form-field>                     -->
  <!-- <mat-form-field class="tc-full-stretch">
    <mat-label>date_of_visit</mat-label>
    <input matInput [matDatepicker]="mat_date_of_visit" [(ngModel)]="date_of_visit" disabled>
    <mat-datepicker-toggle matSuffix [for]="mat_date_of_visit"></mat-datepicker-toggle>
    <mat-datepicker #mat_date_of_visit></mat-datepicker>
  </mat-form-field> -->


<!--    <mat-form-field class="tc-full-stretch">
          <input matInput  placeholder="sick_leave" type="text"  [(ngModel)]="medical_certificateDetail.sick_leave" required>
        </mat-form-field>                     -->
        <mat-form-field class="tc-full-stretch">
          <input matInput  placeholder="Rest required" type="text"  [(ngModel)]="medical_certificateDetail.rest_required" required>
        </mat-form-field> 
        
<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="recommendation" type="text"  [(ngModel)]="medical_certificateDetail.recommendation" >
  </mat-form-field>  
    

  <div [class.tc-flex-row]=true>                  
    <mat-form-field class="tc-full-stretch">
      <mat-label>Treated as outpatinet from</mat-label>
      <br>
      <mat-label></mat-label>
      <input matInput [matDatepicker]="mat_out_start_date" [(ngModel)]="out_start_date">
      <mat-datepicker-toggle matSuffix [for]="mat_out_start_date"></mat-datepicker-toggle>
      <mat-datepicker #mat_out_start_date></mat-datepicker>
    </mat-form-field>    
    
    <mat-form-field class="tc-full-stretch">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="mat_out_end_date" [(ngModel)]="out_end_date">
      <mat-datepicker-toggle matSuffix [for]="mat_out_end_date"></mat-datepicker-toggle>
      <mat-datepicker #mat_out_end_date></mat-datepicker>
    </mat-form-field> 
 
  </div>

    <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <mat-label>Treated as inpatient From</mat-label>
        <br>
        <mat-label></mat-label>
        <input matInput [matDatepicker]="mat_start_date" [(ngModel)]="start_date">
        <mat-datepicker-toggle matSuffix [for]="mat_start_date"></mat-datepicker-toggle>
        <mat-datepicker #mat_start_date></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field class="tc-full-stretch">
        <mat-label>To</mat-label>
        <input matInput [matDatepicker]="mat_end_date" [(ngModel)]="end_date">
        <mat-datepicker-toggle matSuffix [for]="mat_end_date"></mat-datepicker-toggle>
        <mat-datepicker #mat_end_date></mat-datepicker>
      </mat-form-field>
    
    </div>


<div [class.tc-flex-row]=true>                  
  <mat-form-field class="tc-full-stretch">
    <mat-label>date_of_issued</mat-label>
    <input matInput [matDatepicker]="mat_date_of_issued" [(ngModel)]="date_of_issued">
    <mat-datepicker-toggle matSuffix [for]="mat_date_of_issued"></mat-datepicker-toggle>
    <mat-datepicker #mat_date_of_issued></mat-datepicker>
  </mat-form-field>                  
<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="doctor" type="text"  [(ngModel)]="doctor" disabled required>
  </mat-form-field>  </div>
</div>


</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>