<h1 mat-dialog-title>
    Payment Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="paymentsSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="paymentPersist.paymentSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
          (click)="paymentsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="paymentsIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="paymentsData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(paymentsData,paymentsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(paymentsData,paymentsSelection)"
              [indeterminate]="paymentsSelection.length <paymentsData.length && paymentsSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="paymentsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{paymentsSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="paymentsSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(paymentsSelection,row) : null"
                          [checked]="tcUtilsArray.contains(paymentsSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(paymentsSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="crv">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>crv</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.crv}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="patient_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="fee_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','fees')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.fee_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="vat_included">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','vat')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.vat_included}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="price_before">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>price_before</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.price_before}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="vat">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>vat</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.vat}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="total">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>total</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.total}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="payment_date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','payment_date')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.payment_date}}</mat-cell>
                               </ng-container>
                            
                               <ng-container matColumnDef="target_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="payment_status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','payment_status')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.payment_status}}</mat-cell>
                             </ng-container>
                          
  
        <mat-header-row *matHeaderRowDef="paymentsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: paymentsDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(paymentsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="paymentsTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" paymentsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  
