<h1 mat-dialog-title>
    company_credit_service_package Selection
  </h1><div mat-dialog-content>
    <mat-form-field>
    <input matInput [formControl]="companyCreditServicePackageSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="companyCreditServicePackagePersist.companyCreditServicePackageSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="companyCreditServicePackageSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="companyCreditServicePackageIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let companyCreditServicePackage of companyCreditServicePackagesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>company_id</span>
          {{companyCreditServicePackage.company_id}}
        </div><div class="tc-detail-field">
          <span>name</span>
          {{companyCreditServicePackage.name}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchCompany_credit_service_packages.length >0 || companyCreditServicePackageSelectAll">
      <div class="tc-flex-fill"></div>
      <span>{{companyCreditServicePackageSelectAll ? companyCreditServicePackagesTotalCount : companyCreditServicePackageSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="companyCreditServicePackagesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(companyCreditServicePackagesData,companyCreditServicePackageSelection) "
            [checked]=" tcUtilsArray.isAllSelected(companyCreditServicePackagesData,companyCreditServicePackageSelection) || companyCreditServicePackageSelectAll"
            [indeterminate]="companyCreditServicePackageSelection.length <companyCreditServicePackagesData.length && companyCreditServicePackageSelection.length>0"
            [disabled]="companyCreditServicePackageSelectAll"
            *ngIf="!data.selectOne">
          </mat-checkbox>

          <button mat-icon-button *ngIf="!data.selectOne">
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="companyCreditServicePackageSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #companyCreditServicePackageSelectAllMenu="matMenu">

            <button mat-menu-item (click)="companyCreditServicePackageSelectAll=true;" [disabled]="companyCreditServicePackageSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="companyCreditServicePackageSelectAll = false;" [disabled]="!companyCreditServicePackageSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
          *ngIf="!data.selectOne"
            (change)="$event ? tcUtilsArray.toggleSelection(companyCreditServicePackageSelection,row) : null"
            [checked]="tcUtilsArray.contains(companyCreditServicePackageSelection,row) || companyCreditServicePackageSelectAll" [disabled]="companyCreditServicePackageSelectAll">
          </mat-checkbox>
          <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(companyCreditServicePackageSelection,row)"
                                    *ngIf="data.selectOne"></mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="company_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>company_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.company_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
   <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="companyCreditServicePackagesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: companyCreditServicePackagesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(companyCreditServicePackageSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="companyCreditServicePackagesTotalCount"
      [ngStyle]="{display: companyCreditServicePackagesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" companyCreditServicePackageSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
