<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-eye"></mat-icon>
    {{appTranslation.getText("patient", "observation")}}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchForm_Observations();" *ngIf="tcAuthorization.canRead('form_observations')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addForm_Observation();" *ngIf="tcAuthorization.canCreate('form_observations') && form_encounterPersist.encounter_is_active"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-loading" *ngIf="form_observationsIsLoading">
    <mat-spinner></mat-spinner>
</div>


<div class="tc-padding">

    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let form_observation of form_observationsData" class="tc-card">
        <mat-card-header>
        <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('form_observations') || tcAuthorization.canDelete('form_observations')) && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editForm_Observation(form_observation)"
                *ngIf="tcAuthorization.canUpdate('form_observations')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteForm_Observation(form_observation)"
                *ngIf="tcAuthorization.canDelete('form_observations')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
            </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'patient')}}</span>
            {{form_observation.pid}}
        </div>
        <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'visits')}}</span>
            {{form_observation.encounter}}
        </div>
        <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'observation')}}</span>
            {{form_observation.observation}}
        </div>
        <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'code_type')}}</span>
            {{form_observation.code_type}}
        </div>
        <div class="tc-detail-field">
            <span>{{appTranslation.getText('general', 'description')}}</span>
            {{form_observation.description}}
        </div>
        <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'code')}}</span>
            {{form_observation.code }}
        </div>
        </mat-card-content>
    </mat-card>
    </div>
    <mat-form-field>
    <input matInput [formControl]="form_observationsSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="form_observationPersist.form_observationSearchText" matSuffix mat-icon-button
        aria-label="Clear" (click)="form_observationsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>


    <mat-spinner diameter="50" *ngIf="form_observationsLoading" class="tc-padding"></mat-spinner>

    <div class="tc-padding" [ngStyle]="{display: form_observationsLoading? 'none':''}">


    <div class="tc-table-container tc-full-stretch">

        <mat-toolbar *ngIf="form_observationsSelected.length >0 ">
        <button mat-button (click)="downloadForm_Observations()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
        </button>

        </mat-toolbar>

        <mat-table [dataSource]="form_observationsData" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(form_observationsData,form_observationsSelected) "
                [checked]=" tcUtilsArray.isAllSelected(form_observationsData,form_observationsSelected)"
                [indeterminate]="form_observationsSelected.length <form_observationsData.length && form_observationsSelected.length>0">
            </mat-checkbox>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(form_observationsSelected,row) : null"
                [checked]="tcUtilsArray.contains(form_observationsSelected,row)">
            </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="observation">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'observation')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.observation}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="code_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'code_type')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.code_type}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general', 'description')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="code ">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'code')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.code }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('form_observations') || tcAuthorization.canDelete('form_observations')) && form_encounterPersist.encounter_is_active">
                <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
                    
                <button mat-menu-item (click)="editForm_Observation(element)">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general", "edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteForm_Observation(element)">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general", "delete")}} </span>
                </button>
            </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="form_observationsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: form_observationsDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(form_observationsSelected,row)}">
        </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="form_observationsTotalCount"
        [ngStyle]="{display: form_observationsTotalCount > 0? '':'none'}">
        </mat-paginator>

    </div>
    </div>
</div>