<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="employeeDetail">

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','first_name')}}" type="text"
             [(ngModel)]="employeeDetail.first_name" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','middle_name')}}" type="text"
             [(ngModel)]="employeeDetail.middle_name" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','last_name')}}" type="text"
             [(ngModel)]="employeeDetail.last_name" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','email')}}" type="email"
             [(ngModel)]="employeeDetail.email">
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','telephone')}}" type="text"
             [(ngModel)]="employeeDetail.telephone" required>
    </mat-form-field>

    <div class="tc-flex-column">
      <mat-radio-group [(ngModel)]="gender" (ngModelChange)="changeGender($event)">
        <mat-radio-button value="male">{{appTranslation.getText('general', 'male')}}</mat-radio-button>
        <mat-radio-button value="female">{{appTranslation.getText('general', 'female')}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','birthdate')}}" [(ngModel)]="birth_date"
             [matDatepicker]="birth_date_picker" required>
      <mat-datepicker-toggle matSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #birth_date_picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','address')}}" type="text"
             [(ngModel)]="employeeDetail.address" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("inventory", "search_store")
        }}</mat-label>
      <input
        matInput
        placeholder="{{ appTranslation.getText('inventory', 'parent_store') }}"
        type="text"
        disabled
        [(ngModel)]="storeName"
        required>
      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('inventory', 'search_store') }}"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div class="tc-flex-column">
      <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle"
                        [(ngModel)]="employeeDetail.is_store_manager"
                        required> {{appTranslation.getText('inventory', 'is_store_manager')}} </mat-slide-toggle>
    </div>


  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
