
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     ward report  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchWard_reports();" *ngIf="tcAuthorization.canRead('ward_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addWard_report();" *ngIf="tcAuthorization.canCreate('ward_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="wardReportSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="wardReportPersist.wardReportSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="wardReportSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="wardReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let ward_report of wardReportsData">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('ward_reports') || tcAuthorization.canDelete('ward_reports')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editWardReport(ward_report)" *ngIf="tcAuthorization.canUpdate('ward_reports')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteWardReport(ward_report)" *ngIf="tcAuthorization.canDelete('ward_reports')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>report</span>
            {{ward_report.report}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchWard_reports.length >0 || wardReportSelectAll">
        <button mat-button (click)="downloadWardReports()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{wardReportSelectAll ? wardReportsTotalCount : wardReportSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="wardReportsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(wardReportsData,wardReportSelection) "
              [checked]=" tcUtilsArray.isAllSelected(wardReportsData,wardReportSelection) || wardReportSelectAll"
              [indeterminate]="wardReportSelection.length <wardReportsData.length && wardReportSelection.length>0"
              [disabled]="wardReportSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="wardReportSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #wardReportSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="wardReportSelectAll=true;" [disabled]="wardReportSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="wardReportSelectAll = false;" [disabled]="!wardReportSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(wardReportSelection,row) : null"
              [checked]="tcUtilsArray.contains(wardReportSelection,row) || wardReportSelectAll" [disabled]="wardReportSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  
        
        <ng-container matColumnDef="Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date) | date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>

          <ng-container matColumnDef="Ward">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ward
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{getWard(element.ward)}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Physcian">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Physcian
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{getDoctor(element.physcian)}}</mat-cell>
          </ng-container>

            <ng-container matColumnDef="Report">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Report
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.report}}</mat-cell>
            </ng-container>

   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="wardReportNavigator.ward_reportUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('ward_reports') || tcAuthorization.canDelete('ward_reports')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editWardReport(element)" *ngIf="tcAuthorization.canUpdate('ward_reports') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteWardReport(element)" *ngIf="tcAuthorization.canDelete('ward_reports')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="wardReportsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: wardReportsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(wardReportSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="wardReportsTotalCount"
        [ngStyle]="{display: wardReportsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>