<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{ title }}
    </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="newBornNatalCareDetail">
      <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
          <input matInput placeholder="Vist" type="text"
               value="{{persentPregenancyFollowUp.getLevel(newBornNatalCareDetail.new_born_natal_visit)}}" disabled>
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Date"
          type="date"
          [(ngModel)]="dateTime"
          required
        />
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="BP"
          type="number"
          [(ngModel)]="newBornNatalCareDetail.bp"
          required
        />
      </mat-form-field> -->
    </div>
    <!-- <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="TPR"
          type="number"
          [(ngModel)]="newBornNatalCareDetail.tpr"
          required
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Temp"
          type="number"
          [(ngModel)]="newBornNatalCareDetail.temp_value"
          required
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Uterus Contracted/Look For PPH"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.uterus_contracted_look_for_pph"
          required
        />
      </mat-form-field>
      </div>
      <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Dribbling/Leaking Urine"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.dribbling_leaking_urine"
          required
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Anemia"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.anemia"
          required
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Vaginal Discharge (after 4 wks of delivery)"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.vaginal_discharge"
          required
        />
      </mat-form-field>
      </div>
      <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Pelvic Exam (only if vaginal discharge)"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.pelvic_exam"
          required
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Breast"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.breast"
          required
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Vitamin A"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.vitamin_a"
        />
      </mat-form-field>
      </div> -->
      <div [class.tc-flex-row]=true> 
      <!-- <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Counseling Danger Signs EPI.use of IIN given"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.counsenig_danger_signs_epi"
        />
      </mat-form-field> -->
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Baby Breathing"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.baby_breathing"
          required
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Baby Breast Feeding"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.baby_breast_feeding"
        />
      </mat-form-field>
      </div>
      <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Baby Weight(gm)"
          type="number"
          [(ngModel)]="newBornNatalCareDetail.baby_weight"
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Immunization"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.immunization"
        />
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="HIV Tested"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.hiv_tested"
        />
      </mat-form-field> -->
      </div>
      <div [class.tc-flex-row]=true>
      <!-- <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="HIV Test Result R/NR"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.hiv_test_result"
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="ARV Px for Mother"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.arv_px_for_mother"
        />
      </mat-form-field> -->
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="ARV Px for New Born"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.arv_px_for_newborn"
        />
      </mat-form-field>
      <!-- </div>
      <div [class.tc-flex-row]=true> -->
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Feeding Option EBF/RF"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.feeding_option"
        />
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Mother referred to C & Sup"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.mother_referred_to_c_and_sup"
        />
      </mat-form-field> -->
      <!-- <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="New Born Referrd to Chronic HIV Infant Care"
          type="text"
          [(ngModel)]="
            newBornNatalCareDetail.new_born_referred_to_chronic_hiv_infant_care
          "
        />
      </mat-form-field> -->
      </div>
      <div [class.tc-flex-row]=true>
      <!-- <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="FB Counseled & Provided"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.fb_counseled_and_provided"
        />
      </mat-form-field> -->
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Remark"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.remark"
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Action Taken"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.action_taken"
        />
      </mat-form-field>
      </div>
      <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Attendant Name and Sig"
          type="text"
          [(ngModel)]="newBornNatalCareDetail.attendant_name_and_signature"
        />
      </mat-form-field>
      <div class="tc-full-stretch"></div>
      <div class="tc-full-stretch"></div>
      </div>
    </div>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">
      {{ appTranslation.getText("general", "cancel") }}
    </button>
    <button
      mat-button
      (click)="isNew() ? onAdd() : onUpdate()"
      [disabled]="!canSubmit()"
      cdkFocusInitial
    >
      {{ appTranslation.getText("general", "save") }}
    </button>
  </div>
  