<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

   <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="stat_type" [(ngModel)]="item.stat_type" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="target_id" [(ngModel)]="item.target_id" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="stat_value" [(ngModel)]="item.stat_value" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="stat_time" [(ngModel)]="item.stat_time" required>
                        </mat-form-field>


 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew? onAdd(): onUpdate()"
          [disabled]=" !item.target_id ||  item.target_id=='' "
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
