<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>

  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="orderedOtheServiceDetail">

      <mat-form-field class="tc-full-stretch">
        <input matInput type="datetime-local" [formControl]="start_date">
        <mat-label>{{appTranslation.getText('schedule', 'date')}}</mat-label>
      </mat-form-field>

      <mat-form-field class="tc-full-stretch" >
        <mat-select
          placeholder="Service Type"
          [(value)]="orderedOtheServiceDetail.service_type"
          required>
          <mat-option *ngFor="let etype of otherServicePersist.serviceType" [value]="etype.id">
            {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="tc-full-stretch">
        <mat-label>Doctor</mat-label>
        <input matInput disabled [(ngModel)]="providerName"/>
        <button
          mat-icon-button
          matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
          matSuffix

          color="primary"
          (click)="searchProvider()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>



      <mat-form-field class="tc-full-stretch">
        <mat-label>Search Other Service</mat-label>
        <input matInput disabled [(ngModel)]="serviceName"/>
        <button
          mat-icon-button
          matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
          matSuffix

          color="primary"
          (click)="searchService()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Quantity" type="number"  [(ngModel)]="orderedOtheServiceDetail.quantity">
                          </mat-form-field>  </div>

   </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): isWizard() ? onWizard() : onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
