
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
            class="tc-sidebar mat-elevation-z8" position="end">
            <div class="tc-sidebar-inner">
                <div class="tc-padding" *ngIf="!surgery_appointmentLoading">
                    <h1 class="mat-h1 ">{{surgery_appointmentDetail.id}} </h1>
                </div>
                <mat-nav-list>
                    <mat-list-item [ngClass]="activeTab == Surgery_AppointmentTabs.overview? 'tc-list-item-focus':''"
                        (click)="activeTab = Surgery_AppointmentTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                        <a>
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav>
    
        <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="surgery_appointmentLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==Surgery_AppointmentTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                    <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                              <button mat-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                              </button>
                            </p>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                    <div *ngIf="!surgery_appointmentLoading">
                                        <p class="tc-detail-field">
                            <span>{{appTranslation.getText('patient','patient')}} </span> 
                            {{surgery_appointmentDetail.patient_id}}
                        </p>
                      
<p class="tc-detail-field">
                            <span>{{appTranslation.getText('patient','surgery_type')}} </span> 
                            {{surgery_appointmentDetail.surgery_type_id}}
                        </p>
                      
<p class="tc-detail-field">
                            <span>{{appTranslation.getText('employee','doctor')}} </span> 
                            {{surgery_appointmentDetail.doctor_id}}
                        </p>
                      
<p class="tc-detail-field">
                            <span>{{appTranslation.getText('patient','surgery_date')}} </span> 
                            {{surgery_appointmentDetail.surgery_date}}
                        </p>
                      
<p class="tc-detail-field">
                            <span>{{appTranslation.getText('schedule','start_time')}} </span> 
                            {{surgery_appointmentDetail.start_time}}
                        </p>
                      
<p class="tc-detail-field">
                            <span>{{appTranslation.getText('schedule','end_time')}} </span> 
                            {{surgery_appointmentDetail.end_time}}
                        </p>
                      
<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','status')}} </span> 
                            {{surgery_appointmentDetail.surgery_status}}
                        </p>
                      
                                    </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editSurgery_Appointment()" *ngIf="tcAuthorization.canUpdate('surgery_appointments') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    
    
