<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-question"></mat-icon>
    {{appTranslation.getText("inventory", "request")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchRequests();" *ngIf="tcAuthorization.canRead('requests')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addRequest();" *ngIf="tcAuthorization.canCreate('requests') && !isRequested" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="requestsSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="requestPersist.requestSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="requestsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field>
    <input matInput [formControl]="refNoBox"
           placeholder='Ref No.'>
    <button mat-button *ngIf="requestPersist.ref_no" matSuffix mat-icon-button aria-label="Clear"
            (click)="refNoBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field>
    <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                [(value)]="requestPersist.request_statusId"
                (valueChange)="searchRequests()">
      <mat-option *ngFor="let etype of requestPersist.PurchaseRequestStatus" [value]="etype.id" >
        {{ etype.name }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="requestPersist.request_statusId" matSuffix mat-icon-button aria-label="Clear"
            (click)="requestPersist.request_statusId = null;searchRequests();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>  
  <mat-form-field>
    <mat-label>search store</mat-label>
    <input matInput disabled [(ngModel)]="requestPersist.store_name"/>
    <button
      mat-icon-button
      matTooltip="search store"
      matSuffix
      color="primary"
      (click)="searchStore()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="requestPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
    (click)="requestPersist.store_id = null; requestPersist.store_name = null ; searchRequests()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <mat-form-field *ngIf="isRequested">
    <mat-label>From store</mat-label>
    <input matInput disabled [(ngModel)]="to_from_store_name"/>
    <button
      mat-icon-button
      matTooltip="From store"
      matSuffix
      color="primary"
      (click)="searchStore(true)"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="requestPersist.to_from_store != null" matSuffix mat-icon-button aria-label="Clear"
    (click)="requestPersist.to_from_store = null; to_from_store_name = null ; searchRequests()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <mat-form-field >
    <input
      matInput
      placeholder=
        'from date'
      [formControl]="requestPersist.start_date"
      [matDatepicker]="from_date_picker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="from_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="requestPersist.start_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
    (click)="requestPersist.start_date.setValue('')">
    <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field >
<input
  matInput
  placeholder=
    'to Date'
  [formControl]="requestPersist.end_date"
  [matDatepicker]="to_date_picker"  
/>
<mat-datepicker-toggle
  matSuffix
  [for]="to_date_picker"
></mat-datepicker-toggle>
<mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
<button mat-button *ngIf="requestPersist.end_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
(click)="requestPersist.end_date.setValue('')">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Category"
              [(value)]="requestPersist.category"
              (valueChange)="searchRequests()">
    <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
      {{ etype.name }}
    </mat-option>
  </mat-select>
  <button mat-button *ngIf="requestPersist.category" matSuffix mat-icon-button aria-label="Clear"
          (click)="requestPersist.category = null;searchRequests();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

  <mat-form-field>
    <mat-label>Sub Category</mat-label>
    <input
      matInput
      placeholder="Sub Category"
      type="text"
      disabled
      [(ngModel)]="subCategoryName"
      required
    >
    <button
      mat-icon-button
      matTooltip="Sub category"
      matSuffix
      color="primary"
      (click)="searchCategory(true)"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
(click)="subCategoryName = null; requestPersist.categoryId=categoryId; searchRequests()">
<mat-icon>close</mat-icon>
</button>
  </mat-form-field> 
  <div class="tc-loading" *ngIf="requestsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let request of requestsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="(tcAuthorization.canUpdate('requests') || tcAuthorization.canDelete('requests'))">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editRequest(request)" *ngIf="tcAuthorization.canUpdate('requests')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteRequest(request)" *ngIf="tcAuthorization.canDelete('requests')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'item')}}</span>
            {{ request.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'unit')}}</span>
          {{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units,
          request.request_unit)?.name) }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'quantity')}}</span>
          {{request.quantity | number }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'request_day')}}</span>
          {{ tcUtilsDate.toDate(request.request_day)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'status')}}</span>
          {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.request_status,
          request.status)?.name)}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="requestsSelection.length >0 || requestsSelectAll">
      <button mat-button (click)="downloadRequests()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{requestsSelectAll ? requestsTotalCount : requestsSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="requestsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(requestsData,requestsSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(requestsData,requestsSelection) || requestsSelectAll"
                        [indeterminate]="requestsSelection.length <requestsData.length && requestsSelection.length>0"
                        [disabled]="requestsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="requestsSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #requestsSelectAllMenu="matMenu">


            <button mat-menu-item (click)="requestsSelectAll=true;" [disabled]="requestsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="requestsSelectAll = false;" [disabled]="!requestsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
            <button mat-menu-item (click)="firstPrint()"  *ngIf="isRequested" [disabled]="!requestsSelection.length">
              print
            </button>
            <button mat-menu-item (click)="secondPrint()"  [disabled]="!requestsSelection.length">
              re print
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(requestsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(requestsSelection,row) || requestsSelectAll"
                        [disabled]="requestsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="item_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory', 'item_type')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.item_type,
          element.item_type)?.name)}}</mat-cell>
      </ng-container> 

      <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory', 'item')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="itemNavigator.itemUrl(element.item_id)" class="tc-link"> 
            {{ itemNavigator.itemName(element) }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory', 'unit')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units,
          element.request_unit)?.name) }}
        </mat-cell>
      </ng-container> 

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory', 'quantity')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity | number }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sent
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sent | number }}</mat-cell>
      </ng-container>
     <ng-container matColumnDef="accepted">
        <mat-header-cell *matHeaderCellDef mat-sort-header>accepted
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.accepted | number }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ref_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ref No.
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ref_no }}</mat-cell>
      </ng-container>

     <ng-container matColumnDef="rejected">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rejected
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rejected | number }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remark
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reject_description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="requester_store_manager_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{appTranslation.getText('inventory', 'requester_store_manager')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ getEmployeeFullName(element.requester_store_manager_id) }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="store">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory', 'requester_store')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.store}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="requestee_store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory', 'requestee_store')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <!-- {{getStore(element.requestee_store_id)}} -->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="request_day">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory', 'request_day')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.request_day)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general', 'status')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{tcUtilsArray.getEnum(requestPersist.PurchaseRequestStatus,
          element.status)?.name}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action" >
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
                     <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="(tcAuthorization.canUpdate('requests') || tcAuthorization.canDelete('requests')) && (element.status != purchaseRequestStatus.rejected && element.status != purchaseRequestStatus.dispatched) && (isRequested || element.status == purchaseRequestStatus.submitted)" >
            <i class="material-icons">more_vert</i>
          </button> 
   
          <mat-menu #elementMenu="matMenu" >  
            <div *ngIf="!isRequested">
            <button mat-menu-item (click)="editRequest(element)" *ngIf="tcAuthorization.canUpdate('requests') && element.status == purchaseRequestStatus.submitted">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteRequest(element)" *ngIf="tcAuthorization.canDelete('requests') && element.status == purchaseRequestStatus.submitted ">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </div>

            <div *ngIf="isRequested">
            <button mat-menu-item (click)="dispatchRequest(element)" *ngIf="tcAuthorization.canUpdate('requests') &&element.status == purchaseRequestStatus.accepted">
              <mat-icon fontSet="fa" fontIcon="fa-check-double"></mat-icon>
              <span>Transfer </span>
            </button>
            <button mat-menu-item (click)="editRequest(element)" *ngIf="tcAuthorization.canUpdate('requests') && (element.status == purchaseRequestStatus.submitted || element.status == purchaseRequestStatus.accepted )">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="acceptRequest(element)" *ngIf="tcAuthorization.canUpdate('requests') &&(element.status == purchaseRequestStatus.submitted) ">
              <mat-icon fontSet="fa" fontIcon="fa-check-double"></mat-icon>
              <span> Accept </span>
            </button>
            <div *ngIf="!isDispatch">
               <button mat-menu-item (click)="rejectRequest(element)" *ngIf="tcAuthorization.canUpdate('requests') && (element.status == purchaseRequestStatus.submitted || element.status == purchaseRequestStatus.accepted )">
              <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
              <span>{{appTranslation.getText("inventory", "reject")}} </span>
            </button>
            </div>
          </div>
           
          </mat-menu> 
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="requestsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: requestsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(requestsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize" [length]="requestsTotalCount"
                   [ngStyle]="{display: requestsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
