<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="isEdit()">edit</mat-icon>
    <mat-icon *ngIf="isNew() || isWizard()">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="formClinicalInstructionDetail">
    <!-- <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("patient", "search_nurses")
        }}</mat-label>
      <input matInput disabled [(ngModel)]="nurseName"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
        matSuffix
        color="primary"
        (click)="searchNurse()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field> -->

    <!-- <div class="tc-full-stretch tc-flex-row"> -->
      <!-- <mat-form-field class="tc-equal-block">
        <input
          matInput
          placeholder=
            'From Date'
          [formControl]="from_date"
          [matDatepicker]="from_date_picker"
          required
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="from_date_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
      </mat-form-field> -->
      <!-- <mat-form-field class="tc-equal-block">
        <input
          matInput
          placeholder=
            'To Date'
          [min]="from_date.value"
          [formControl]="to_date"
          [matDatepicker]="to_date_picker"
          required
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="to_date_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div> -->
    <!-- <div class="tc-full-stretch tc-flex-row">
      <mat-form-field class="tc-equal-block" >
        <mat-select
          placeholder="Order Type"
          [(value)]="formClinicalInstructionDetail.type"
          (valueChange)="handleType()"
          required>
          <mat-option *ngFor="let etype of orderType" [value]="etype.id">
           {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <!-- <div class="tc-equal-block" *ngIf="formClinicalInstructionDetail.type && formClinicalInstructionDetail.type != InstructionType.medication">
        every
        <mat-form-field class="hr min">
          <input
            matInput
            placeholder=
              'Hr'
            type="number"
            dir="rtl"
            min="0"
            max="24"
            [(ngModel)]="hr"
          />
        </mat-form-field>
        <span class="minute-icon">:</span>
        <mat-form-field class="min">
          <input
            matInput
            placeholder=
              'Min'
            min="0"
            max="60"
            type="number"
            [(ngModel)]="min"
          />
        </mat-form-field>
      </div> -->
    <!-- </div> -->
                        <!-- <app-lab-orders-list [(orderType)]="lab_order_type" #investigation [ngStyle]="{display: lab_order_type.length ? '':'none'}" [isDialog]="true"></app-lab-orders-list>
                        <app-prescriptions-edit-list [type]="prescription_type.doctor_prescription" #prescription [ngStyle]="{display: formClinicalInstructionDetail.type == InstructionType.medication? '':'none'}"></app-prescriptions-edit-list>
                        <mat-form-field class="tc-full-width" *ngIf="formClinicalInstructionDetail.type == InstructionType.patient_procedure">
                          <mat-label>Procedure</mat-label>
                          <input type="text" #input
                                 aria-label="auto"
                                 matInput
                                 (ngModelChange)="updateProcedure($event, input);"
                                 [(ngModel)]="procedureName"
                                 [matAutocomplete]="auto" >
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  >
                            <mat-option *ngFor="let option of procedure_options" [value]="option.name" (onSelectionChange)="procedureSelected(option)">
                              {{option.name}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="tc-full-width" *ngIf="formClinicalInstructionDetail.type == InstructionType.physiotherapy">
                          <mat-label>Physiotherapy</mat-label>
                          <input type="text" #input
                                 aria-label="auto"
                                 matInput
                                 (ngModelChange)="updatePhysiotherapy($event, input);"
                                 [(ngModel)]="physiotherpayName"
                                 [matAutocomplete]="auto" >
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  >
                            <mat-option *ngFor="let option of physiotherapy_options" [value]="option.name" (onSelectionChange)="physiotherapySelected(option)">
                              {{option.name}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field> -->
                        <!-- <mat-form-field class="tc-full-stretch" *ngIf="formClinicalInstructionDetail.type != InstructionType.medication">
                          <textarea rows="5" matInput  placeholder="Plan and Order" type="text"  [(ngModel)]="formClinicalInstructionDetail.instruction">
                          </textarea>
                      </mat-form-field> -->

                      <mat-form-field class="tc-full-stretch">
                        <mat-label>Plan and Order</mat-label>
                        <textarea #plan
                          matInput
                          type="text"
                          rows="5"
                          (ngModelChange)="handleInput($event, plan)"
                          [(ngModel)]="formClinicalInstructionDetail.instruction"
                        ></textarea>
                      </mat-form-field>
                        <!-- <div *ngIf="treatmentsData.length > 0">
                          <h3 *ngIf="isNew()|| isWizard()">Orders</h3>

                          <mat-table [dataSource]="treatmentsData" matSort class="mat-elevation-z2" style="margin-bottom: 10px">
                            <h3 *ngIf="isNew()|| isWizard()">{{appTranslation.getText("general", "treatment")}}</h3>
                            <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef></mat-header-cell>
                              <mat-cell *matCellDef="let element">

                                 <button mat-menu-item (click)="editTreatmentFromList(element.id)">
                                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                  <span>{{appTranslation.getText("general", "delete")}} </span>
                                </button> 
                                <button mat-menu-item (click)="removeTreatmentFromList(element)">
                                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                  <span>{{appTranslation.getText("general", "delete")}} </span> 
                                </button>

                              </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Name
                              </mat-header-cell>
                              <mat-cell
                                *matCellDef="let element">{{ element.target_name }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="from_date">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>From date
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                {{element.from_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
                              </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="to_date">
                              <mat-header-cell *matHeaderCellDef
                                               mat-sort-header>To date</mat-header-cell>
                              <mat-cell *matCellDef="let element">{{element.to_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                            </ng-container>



                            <ng-container matColumnDef="interval">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Interval
                              </mat-header-cell>
                              <mat-cell *matCellDef="let element">{{getInterval(element.interval)}}</mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="treatmentDisplayedColumns; sticky: true; "></mat-header-row>
                            <mat-row *matRowDef="let row; columns: treatmentDisplayedColumns;"></mat-row>

                          </mat-table>
                        </div> -->
  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <!-- <button mat-button (click)="addToList()" *ngIf="isNew() || isWizard()" [disabled]="!canSubmit()">
    {{appTranslation.getText("inventory", "add_to_list")}}
  </button> -->
  <button mat-button (click)="isNew()? onAdd():(isWizard()? onReturn(): onUpdate())"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
