<mat-sidenav-container class="tc-sidebar-container" fullscreen>

    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="CompanyLoading">
            <mat-spinner></mat-spinner>
        </div>

        <mat-tab-group>
            <mat-tab label="Overview">
                <ng-template matTabContent>
                    <mat-toolbar class="tc-toolbar-secondary ">
                        <h1 class="mat-heading">
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </h1>
                        <button mat-button (click)=" back();" class="tc-link">
                            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                        </button>
                        <button mat-button (click)=" reload()" class="tc-link">
                            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                        </button>

                    </mat-toolbar>

                    <div class="tc-flex-row tc-full-width">
                        <div class="tc-equal-block">
                            <div class="tc-padding">
                                <mat-accordion>
                                    <mat-expansion-panel expanded="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{appTranslation.getText("general","basicdetails")}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div *ngIf="!CompanyLoading">
                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("general","name")}} </span>
                                                {{companyDetail.name}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","tin_no")}} </span>
                                                {{companyDetail.tin_no}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","max_payment")}} </span>
                                                {{companyDetail.max_payment}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("general","telephone")}} </span>
                                                {{companyDetail.phone_no}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("general","address")}} </span>
                                                {{companyDetail.address}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","duration")}} </span>
                                                {{companyDetail.duration}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","percentage")}} </span>
                                                {{companyDetail.percentage}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","insurance")}} </span>
                                                {{companyDetail.insurance_id}}
                                            </p>

                                        </div>
                                        <mat-action-row>
                                            <button mat-button (click)="editCompany()"
                                                *ngIf="tcAuthorization.canUpdate('companys') ">
                                                {{appTranslation.getText("general", "edit")}}
                                            </button>
                                        </mat-action-row>

                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                        <div class="tc-equal-block">
                        </div>
                    </div>

                </ng-template>
            </mat-tab>

            <mat-tab label="Insured Employee" *ngIf="tcAuthorization.canRead('insured_employees')">

                <ng-template matTabContent>
                    <app-insured_employee-list [companyId]="companyDetail.id"
                        (onResult)="onInsuredEmployeesResult($event)"></app-insured_employee-list>
                </ng-template>
            </mat-tab>
            <mat-tab label="Employee Credit History" *ngIf="tcAuthorization.canRead('employee_credit_historys')">
                <ng-template matTabContent>
                    <app-credit-history-list [companyId]="companyDetail.id" (onResult)="onCreditHistoryResult($event)">
                    </app-credit-history-list>
                
                </ng-template>
            </mat-tab>
            <mat-tab label="Company Credit Package" *ngIf="tcAuthorization.canRead('employee_credit_historys')">
                <ng-template matTabContent>
                    <app-company_credit_service_package-list [companyId]="companyDetail.id">
                    </app-company_credit_service_package-list>
                
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>