<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew()">edit</mat-icon>
    <mat-icon *ngIf="isNew()">add</mat-icon>
    {{title}}
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="tgidentityDetail">

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="telegram_id" type="number" [(ngModel)]="tgidentityDetail.telegram_id" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="telephone_number" type="text" [(ngModel)]="tgidentityDetail.telephone_number"
             required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="username" type="text" [(ngModel)]="tgidentityDetail.username" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="first_name" type="text" [(ngModel)]="tgidentityDetail.first_name" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="last_name" type="text" [(ngModel)]="tgidentityDetail.last_name" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="photo_url" type="text" [(ngModel)]="tgidentityDetail.photo_url" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="reg_date" type="number" [(ngModel)]="tgidentityDetail.reg_date" required>
    </mat-form-field>

    <div class="tc-flex-column">
      <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle"
                        [(ngModel)]="tgidentityDetail.contactable" required> contactable
      </mat-slide-toggle>
    </div>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="state" type="number" [(ngModel)]="tgidentityDetail.state" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="user_id" type="text" [(ngModel)]="tgidentityDetail.user_id" required>
    </mat-form-field>


  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
