<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
        class="tc-sidebar mat-elevation-z8" position="end" *ngIf="false">
        <div class="tc-sidebar-inner">
            <div class="tc-padding" *ngIf="!intrapartumCareIsLoading">
                <h1 class="mat-h1 ">{{intrapartumCareDetail.id}} </h1>
            </div>
            <mat-nav-list>
                <mat-list-item [ngClass]="activeTab == IntrapartumCareTabs.overview? 'tc-list-item-focus':''"
                    (click)="activeTab = IntrapartumCareTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                    <a>
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="intrapartumCareIsLoading">
            <mat-spinner></mat-spinner>
        </div>

        <div [ngClass]="activeTab==IntrapartumCareTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
                <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
    <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
    </button>
    </p> -->
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="!intrapartumCareIsLoading">
                                    <p class="tc-detail-field">
                                        Date and time of admission <span>
                                            {{tcUtilsDate.toDate(intrapartumCareDetail.date_and_time_of_admission ) |
                                            date:'EE MMM, d/y h:mm a'}}</span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Rupture of membranes <span> {{intrapartumCareDetail.rupture_of_membranes}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Rupture of membranes-time <span>
                                            
                                            {{rupture_of_membranes_time}}</span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Fatal heartbeat <span> {{intrapartumCareDetail.fatal_heartbeat}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Amniotic Fluid <span> {{intrapartumCareDetail.amniotic_fluid}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Moulding <span> {{intrapartumCareDetail.moulding}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Cervical dilation(cm) <span> {{intrapartumCareDetail.cervical_dilation}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Contractions per 10 min <span> {{intrapartumCareDetail.contractions_per_10_min}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Oxytocin(U/L) <span> {{intrapartumCareDetail.oxytocin_u_l}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Oxytocin(drops/min) <span> {{intrapartumCareDetail.oxytocin_drops_min}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Drugs and fluids given <span> {{intrapartumCareDetail.drugs_and_fluids_given}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Pulse <span> {{intrapartumCareDetail.pulse}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Blood pressure <span> {{intrapartumCareDetail.sbp}}/{{intrapartumCareDetail.dbp}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Temprature <span> {{intrapartumCareDetail.temprature}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Urine protein <span> {{intrapartumCareDetail.urine_protein}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Urine acetone <span> {{intrapartumCareDetail.urine_acetone}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Urine volume <span> {{intrapartumCareDetail.urine_volume}} </span>
                                    </p>
                                </div>
                                <mat-action-row>
                                    <button mat-button (click)="editIntrapartumCare()"
                                        *ngIf="tcAuthorization.canUpdate('intrapartum_cares') ">
                                        {{appTranslation.getText("general", "edit")}}
                                    </button>
                                </mat-action-row>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                </div>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>