
<mat-sidenav-container class="tc-sidebar-container" fullscreen>  
      <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="lab_panelLoading">
                  <mat-spinner></mat-spinner>
          </div>

          <mat-tab-group>
            <mat-tab label="Overview">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!lab_panelLoading">
                                            <p class="tc-detail-field">
                                <span>{{appTranslation.getText('laboratory','lab_order_id')}} </span> 
                                {{lab_panelDetail.lab_order_name}}
                            </p>
                          
    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','name')}} </span> 
                                {{lab_panelDetail.name}}
                            </p>
                          
    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('laboratory','price')}} </span> 
                                {{tcUtilsNumber.convertToDecimalPlaces(lab_panelDetail.price)}}
                            </p>
                          
                                        </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editLab_Panel()" *ngIf="tcAuthorization.canUpdate('order_panels') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Lab Test">
              <ng-template matTabContent>
                <app-test-panel-list *ngIf="lab_panelDetail" [lab_panelDetail]="lab_panelDetail"></app-test-panel-list>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
  