<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav-content>
      <div class="tc-loading" *ngIf="paymentLoading">
        <mat-spinner></mat-spinner>
      </div>
      <div class="patient-information">
        <div *ngIf="patient">Patient : {{patient_name}} </div> <div> Age: {{calculateAge(patient?.dob)}} </div> <div> Sex: {{patient?.sex ? "Male": "Female"}} </div> <div> MRN: {{patient?.pid}} </div>
      </div>
      <div [ngClass]="activeTab==tabs.overview? '':'tc-hidden'">
        <mat-toolbar class="tc-toolbar-secondary ">
          <h1 class="mat-heading">
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </h1>
          <button mat-button (click)=" updateTab()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
          <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
          </button>

          <div
          class="deposit-remaining"
          *ngIf="diposited"
          [style.borderColor]="diposited < 0 ? 'red' : 'white'"
        >
          <span>Deposited</span>
          <p>{{diposited}} Birr</p>
      </div>

      <div
          class="deposit-remaining"
          *ngIf="used"
          [style.borderColor]="used < 0 ? 'red' : 'white'"
        >
          <span>Used</span>
          <p>{{used}} Birr</p>
      </div>

          <div
          class="deposit-remaining"
          *ngIf="remaining_deposit"
          [style.borderColor]="remaining_deposit > 0 ? 'red' : 'white'"
        >
          <span>Remaining</span>
          <p>{{remaining_deposit}} Birr</p>
      </div>

        </mat-toolbar>

        <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="updateTab()">
          <mat-tab label='{{appTranslation.getText("financial", "not_paid")}}'>
            <mat-form-field style="margin-left: 16px;">
              <input
                matInput
                appCustomDatepicker
                [(dateModel)]="searchHistory.ordered_date"
                (dateChange)="searchPayment()"
                placeholder=
                  'Date'
                [matDatepicker]="from_date_picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="from_date_picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
              <button mat-button *ngIf="searchHistory.ordered_date" matSuffix mat-icon-button aria-label="Clear"
              (click)="searchHistory.ordered_date = null">
              <mat-icon>close</mat-icon>
          </button>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder='Fee Type'
                        [(value)]="searchHistory.fee_type"
                        (valueChange)="searchPayment()">
              <mat-option *ngFor="let status of paymentPersist.fee_type" [value]="status.id">
                {{ appTranslation.getTextByIdentifier(status.name) }}
              </mat-option>
            </mat-select>

            <button mat-button *ngIf='searchHistory.fee_type' matSuffix mat-icon-button
                    aria-label="Clear"
                    (click)="searchHistory.fee_type = null;searchPayment();$event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
            <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
                <mat-card *ngFor="let payment of not_paidData" class="tc-card">
                  <mat-card-header>
                    <mat-card-title>
                      {{ getFeeName(payment.fee_id) }}
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText("financial","ordered_date")}}</span>
                      {{tcUtilsDate.toDate(payment.ordered_date)|date:'MMM dd, yyyy. h:mm a'}}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText("financial", "price")}}</span>
                      {{ tcUtilsNumber.convertToDecimalPlaces(payment.price) }}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText("financial","additional_payment")}}</span>
                      {{payment.additional_payment}}
                    </div>
                    <div class="tc-detail-field">
                        <span>{{appTranslation.getText("financial","discount_payment")}}</span>
                        {{payment.discount_payment}}
                      </div>
                      <div class="tc-detail-field">
                        <span>{{appTranslation.getText("financial","net_price")}}</span>
                        {{payment.net_price}}
                      </div>
                      <div class="tc-detail-field">
                        <span>{{appTranslation.getText("patient","provider")}}</span>
                        {{getProviderName(payment.provider_id)}}
                      </div>
                  </mat-card-content>
                </mat-card>
              </div>

              <div class="tc-table-container tc-padding">

                <mat-toolbar *ngIf="not_paidSelection.length >0 || not_paidSelectAll">
                  <button mat-button (click)="downloadPayments()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{not_paidSelectAll ? paidTotalCount : not_paidSelection.length}} {{appTranslation.getText("general",
                    "selected")}}</span>
                </mat-toolbar>

                <mat-table [dataSource]="not_paidData" matSort class="tc-hide-on-mobile">

                  <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                      <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(not_paidData,not_paidSelection); updateSummery()"
                        [checked]=" tcUtilsArray.isAllSelected(not_paidData,not_paidSelection) || not_paidSelectAll"
                        [indeterminate]="not_paidSelection.length <not_paidData.length && not_paidSelection.length>0"
                        [disabled]="not_paidSelectAll">
                      </mat-checkbox>

                      <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="not_paidSelectAllMenu"></mat-icon>
                      </button>
                      <mat-menu #not_paidSelectAllMenu="matMenu">


                        <button mat-menu-item (click)="not_paidSelectAll=true;" [disabled]="not_paidSelectAll">
                          {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="not_paidSelectAll = false;" [disabled]="!not_paidSelectAll">
                          {{appTranslation.getText("general", "none")}}
                        </button>
                      <button mat-menu-item (click)="addPayments(payment_status.Cancelled)" *ngIf="not_paidSelectAll || not_paidSelection.length">
                        {{appTranslation.getText("financial", "cancel")}}
                      </button>
                      </mat-menu>

                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="tc-column-selection">
                      <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? update(not_paidSelection,row) : null"
                        [checked]="tcUtilsArray.contains(not_paidSelection,row) || not_paidSelectAll"
                        [disabled]="not_paidSelectAll">
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fee_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","fees")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngStyle]="{'color' : (openedUnconsciousDate && openedUnconsciousDate <= element.ordered_date) ? 'red' : 'black' }">
                      {{ getFeeName(element.fee_id) }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="item_code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Item Code
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngStyle]="{'color' : (openedUnconsciousDate && openedUnconsciousDate <= element.ordered_date) ? 'red' : 'black' }">
                      {{ getItemCode(element.fee_id) }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                    <mat-cell *matCellDef="let element" class="tc-column-action">
                        <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                        <i class="material-icons">more_vert</i>
                        </button>
                        <mat-menu #elementMenu="matMenu">
                        <button mat-menu-item (click)="requireDiscount(element)" *ngIf="tcAuthorization.canUpdate('payments') ">
                            <mat-icon fontSet="fa" fontIcon="fa-percent"></mat-icon>
                            <span>Discount Request</span>
                        </button>
                        </mat-menu>
                    </mat-cell>
                    </ng-container>

                  <ng-container matColumnDef="additional_payment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{appTranslation.getText("financial", "additional_payment")}}

                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{getAdditionalPayment(element) }}
                   </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fee_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Fee Type

                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(paymentPersist.fee_type, element.fee_type)?.name)}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="discount_payment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","discount_payment")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{getDiscountPayment(element)}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("financial", "price")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">                      {{ tcUtilsNumber.convertToDecimalPlaces(element.price) }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="net_price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("financial", "net_price")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{getNetPayment(element)}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="provider_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("patient", "provider")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{getProviderName(element.provider_id)}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="ordered_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("financial", "ordered_date")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.ordered_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("patient", "quantity")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="not_paidDisplayColumns; sticky: true; "></mat-header-row>
                  <mat-row *matRowDef="let row; columns: not_paidDisplayColumns;"
                    [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(not_paidSelection,row)}"></mat-row>

                </mat-table>

                <!-- <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                  [pageSize]="tcUtilsArray.defaultPageSize" [length]="not_paidTotalCount"
                  [ngStyle]="{display: not_paidTotalCount > 0? '':'none'}"></mat-paginator> -->
              </div>

              <div class="tc-flex-row">
                <div class="tc-equal-block tc-padding center tc-flex-column">
                    <p-avatar class="rectangle payment_card" *ngIf="!isCircle"  [(image)]="image_url" abel="P" shape="rectangle" size="xlarge"></p-avatar>
                    <p-avatar class="circle" *ngIf="isCircle"  [(image)]="image_url" abel="P" shape="circle" size="xlarge"></p-avatar>
                </div>
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <div class="tc-flex-column tc-table-container">
                            <div class="tc-flex-row payment-header">
                                <div class="tc-equal-block payment-cell"><h3>Summary</h3></div>
                                <div class="tc-equal-block payment-cell tc-flex-row credit-parent"><h3>Amount</h3>
                                  <div
                                    class="credit deposit-remaining"
                                    *ngIf="credit"
                                    [style.borderColor]="credit < 0 ? 'red' : 'white'"
                                  >
                                    <span>Credit</span>
                                    <p>{{credit}} Birr</p>
                                  </div></div>
                            </div>
                            <div class="tc-flex-row">
                              <div class="tc-equal-block payment-cell"><p>Total Price</p></div>
                              <div class="tc-equal-block payment-cell"><p>{{totalPaymentPrice.total_price}}</p></div>
                          </div>
                          <div class="tc-flex-row">
                            <div class="tc-equal-block payment-cell"><p>Total Additional Price</p></div>
                            <div class="tc-equal-block payment-cell"><p>{{totalPaymentPrice.total_additional_payment}}</p></div>
                        </div>
                        <div class="tc-flex-row">
                          <div class="tc-equal-block payment-cell"><p>Total Discount Price</p></div>
                          <div class="tc-equal-block payment-cell"><p>{{totalPaymentPrice.total_discount_payment}}</p></div>
                      </div>
                      <div class="tc-flex-row">
                        <div class="tc-equal-block payment-cell"><p>Total Net Price</p></div>
                        <div class="tc-equal-block payment-cell"><p>{{totalPaymentPrice.total_net_price}}</p></div>
                    </div>
                    <div class="tc-flex-row">
                      <div class="tc-equal-block payment-cell"><p>Total Patient Price</p></div>
                      <div class="tc-equal-block payment-cell"><p>{{totalPaymentPrice.total_patient_price}}</p></div>
                  </div>
                    <div class="et-horizontal-line"></div>

                        <div class="tc-flex-row">
                          <div class="tc-flex-fill"></div>
                          <mat-form-field class="tc-padding">
                            <input matInput  placeholder="Received Amount" type="number"  [(ngModel)]="received_amount">
                          </mat-form-field>
                          <mat-form-field class="tc-padding">
                            <input matInput  placeholder="TIN Number" type="text"  [(ngModel)]="tin_number">
                        </mat-form-field>
                          <mat-form-field class="tc-padding" >
                            <mat-select
                              placeholder="payment_type"
                              [(value)]="payment_type"
                              (valueChange)="companyCredit = {}; updateSummery();paymentTypeUpdate()"
                              required [disabled]="!canAddPaymentType()" (selectionChange)="selected_company = null">
                              <mat-option *ngFor="let etype of filteredPaymentType" [value]="etype.id">
                               {{etype.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="tc-padding" *ngIf="payment_type == paymentType.CreditByEmployee || payment_type == paymentType.CreditByFamily">
                            <mat-select
                              placeholder="{{company && company.length ? 'Company' : 'No Credit Company'}}"
                              [(value)]="selected_company"
                              (valueChange)="getCompanyCredit()"
                              required>
                              <mat-option *ngFor="let com of company" [value]="com">
                               {{com.name}}{{com.epmName || ""}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field class="tc-padding" *ngIf="payment_type==paymentType.transfer">
                            <mat-label>
                              Bank
                            </mat-label>
                            <input matInput disabled [(ngModel)]="bankName"  />
                            <button
                              mat-icon-button
                              matTooltip="Bank"
                              matSuffix
                              color="primary"
                              (click)="searchBank()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>
                          <mat-form-field class="tc-padding" *ngIf="bankId">
                            <input matInput  placeholder="Transaction No" type="text"  [(ngModel)]="transaction_no">
                        </mat-form-field>
                          <button (click)="addPayments(payment_status.paid)" mat-button class="tc-padding" [disabled]="!canSubmit()">Approve</button>
                        </div></div>
                     </div>
                </div>
            </div>
          </mat-tab>
          <mat-tab label="{{appTranslation.getText('financial', 'paid')}}">
            <mat-form-field style="margin-left: 16px;">
              <input
                matInput
                placeholder=
                  'Ordered Date'
                [formControl]="payment_ordered_date"
                [matDatepicker]="from_date_picker2"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="from_date_picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #from_date_picker2 disabled="false"></mat-datepicker>
              <button mat-button *ngIf="payment_ordered_date.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="payment_ordered_date.setValue('')">
              <mat-icon>close</mat-icon>
          </button>
          </mat-form-field>
          <mat-form-field style="margin-left: 16px;">
            <input
              matInput
              placeholder=
                'Payment Date'
              [formControl]="payment_date"
              [matDatepicker]="from_date_picker1"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="from_date_picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #from_date_picker1 disabled="false"></mat-datepicker>
            <button mat-button *ngIf="payment_date.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="payment_date.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder='Fee Type'
                      [(value)]="searchHistory.fee_type"
                      (valueChange)="searchPayment()">
            <mat-option *ngFor="let status of paymentPersist.fee_type" [value]="status.id">
              {{ appTranslation.getTextByIdentifier(status.name) }}
            </mat-option>
          </mat-select>

          <button mat-button *ngIf='searchHistory.fee_type' matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="searchHistory.fee_type = null;searchPayment();$event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
            <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
                <mat-card *ngFor="let payment of paidData" class="tc-card">
                  <mat-card-header>
                    <mat-card-title>
                      {{ payment.crv }}
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText("financial","fees")}}</span>
                      {{getFeeName(payment.fee_id)}}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText("financial", "fees")}}</span>
                      {{ payment.fee_id }}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText("financial","payment_date")}}</span>
                      {{tcUtilsDate.toDate(payment.payment_date)|date:'MMM dd, yyyy. h:mm a'}}
                    </div>
                    <div class="tc-detail-field">
                        <span>{{appTranslation.getText("financial","price")}}</span>
                        {{payment.net_price}}
                      </div>
                      <div class="tc-detail-field">
                        <span>{{appTranslation.getText("financial","payment_type")}}</span>
                        {{payment.payment_type}}
                      </div>
                      <div class="tc-detail-field">
                        <span>{{appTranslation.getText("patient","provider")}}</span>
                        {{getProviderName(payment.provider_id)}}
                      </div>
                      <div class="tc-detail-field">
                        <span>{{appTranslation.getText("financial","cashier")}}</span>
                        {{getCashierName(payment.cashier_id)}}
                      </div>
                  </mat-card-content>
                </mat-card>
              </div>

              <div class="tc-table-container tc-padding">

                <mat-toolbar *ngIf="paidSelection.length >0 || paidSelectAll">
                  <button mat-button (click)="downloadPayments()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{paidSelectAll ? paidTotalCount : paidSelection.length}} {{appTranslation.getText("general",
                    "selected")}}</span>
                </mat-toolbar>

                <mat-table [dataSource]="paidData" matSort class="tc-hide-on-mobile">

                  <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                      <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(paidData,paidSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(paidData,paidSelection) || paidSelectAll"
                        [indeterminate]="paidSelection.length <paidData.length && paidSelection.length>0"
                        [disabled]="paidSelectAll">
                      </mat-checkbox>

                      <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="paidSelectAllMenu"></mat-icon>
                      </button>
                      <mat-menu #paidSelectAllMenu="matMenu">


                        <button mat-menu-item (click)="paidSelectAll=true;" [disabled]="paidSelectAll">
                          {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="paidSelectAll = false;" [disabled]="!paidSelectAll">
                          {{appTranslation.getText("general", "none")}}
                        </button>
                      <button *ngIf="paidStatus != payment_status.Cancelled" mat-menu-item (click)="paidStatus=payment_status.Cancelled; updateTab()">
                        Cancelled
                      </button>
                      <button *ngIf="paidStatus != payment_status.Refunded" mat-menu-item (click)="paidStatus=payment_status.Refunded; updateTab()">
                        Refunded
                      </button>
                      <button *ngIf="paidStatus != payment_status.paid" mat-menu-item (click)="paidStatus=payment_status.paid; updateTab()">
                        {{appTranslation.getText("financial", "paid")}}
                      </button>
                      </mat-menu>

                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="tc-column-selection">
                      <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(paidSelection,row) : null"
                        [checked]="tcUtilsArray.contains(paidSelection,row) || paidSelectAll"
                        [disabled]="paidSelectAll">
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="crv">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","crv")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.crv }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="fee_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Fee Type

                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(paymentPersist.fee_type, element.fee_type)?.name)}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.quantity }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="item_code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Item Code
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngStyle]="{'color' : (openedUnconsciousDate && openedUnconsciousDate <= element.ordered_date) ? 'red' : 'black' }">
                      {{ getItemCode(element.fee_id) }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fee_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{appTranslation.getText("financial", "fees")}}

                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ getFeeName(element.fee_id) }}
                   </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="payment_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","payment_date")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.payment_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("financial", "price")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.net_price}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="payment_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("financial", "payment_type")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(paymentPersist.paymentType,element.payment_type)?.name}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="provider_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("patient", "provider")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{getProviderName(element.provider_id)}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="cashier_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("financial", "cashier")}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{getCashierName(element.cashier_id)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                  <mat-cell *matCellDef="let element" class="tc-column-action">
                      <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                      <i class="material-icons">more_vert</i>
                      </button>
                      <mat-menu #elementMenu="matMenu">
                      <button mat-menu-item (click)="refundPayment(element)" *ngIf="tcAuthorization.canUpdate('payments_refund') ">
                          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                          <span>{{appTranslation.getText("financial","refund")}} </span>
                      </button>
                      <button mat-menu-item (click)="printAttachment(element)" *ngIf="tcAuthorization.canRead('payments') ">
                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                        <span>Print Attachment </span>
                    </button>
                    <button mat-menu-item (click)="getCnetResponse(element)" *ngIf="tcAuthorization.canUpdate('payments') && !element.fs_no">
                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                      <span>FS Check </span>
                  </button>
                      </mat-menu>
                  </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="paidDisplayColumns; sticky: true; "></mat-header-row>
                  <mat-row *matRowDef="let row; columns: paidDisplayColumns;"
                    [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(paidSelection,row)}"></mat-row>

                </mat-table>

                <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                  [pageSize]="tcUtilsArray.defaultPageSize" [length]="paidTotalCount"
                  [ngStyle]="{display: paidTotalCount > 0? '':'none'}"></mat-paginator>
              </div>

          </mat-tab>
        </mat-tab-group>

      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
