.payment-header{
    background-color: #EAEAEA;
}

.payment-cell{
    margin: 0 12px;
    font-size: 14px;
}
.et-horizontal-line{
    width: inherit;
    height: 1.5px;
    background-color: #eaeaeaa9;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment_card {
    min-width: 400px;
}

.button {
    background: var(--text-color);
    color: var(--base-color);
    margin-left: auto;
}

.deposit-remaining {
    background-color: #00000052;
    margin-left: auto;
    border-radius: 20px;
    width: 12em;
    padding: 6px 20px;
    text-align: left;
    line-height: 19px;
    text-align: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    border: 2px solid;

}

.deposit-remaining span {

    color: #f79b40;
    font-size: small;
    /* margin-bottom: 8px; */
    display: block;

}

.deposit-remaining p {
    font-size: small;
    margin: 0;
    padding: 0;
    text-align: center;
}

.patient-information {
    background-color: var(--base-color);
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 6px 10px;
    align-items: center;
    /* position: sticky;
    top: 0;
    border: 0px solid; */
}

.credit {
  background-color: #fd9c2c;
  display: flex;
  width: auto;
  gap: 63px;
  padding: 6px 20px;
  align-items: center;
}

.credit span {
  color: var(--base-color);
}

.credit p {
  margin: 0;
  color: white;
}

.credit-parent {
  justify-content: space-between;
}
