<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-folder-open"></mat-icon>
    {{appTranslation.getText("procedure", "procedure")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchProcedure_Orders();" *ngIf="tcAuthorization.canRead('procedure_orders')"
          class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addProcedure_Order();" *ngIf="tcAuthorization.canCreate('procedure_orders')"
          class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="procedure_ordersSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="procedure_orderPersist.procedure_orderSearchText" matSuffix mat-icon-button
            aria-label="Clear"
            (click)="procedure_ordersSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="procedure_ordersIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="procedure_ordersSelection.length >0 || procedure_ordersSelectAll">
      <button mat-button (click)="downloadProcedure_Orders()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{procedure_ordersSelectAll ? procedure_ordersTotalCount : procedure_ordersSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="procedure_ordersData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(procedure_ordersData,procedure_ordersSelection) "
            [checked]=" tcUtilsArray.isAllSelected(procedure_ordersData,procedure_ordersSelection) || procedure_ordersSelectAll"
            [indeterminate]="procedure_ordersSelection.length <procedure_ordersData.length && procedure_ordersSelection.length>0"
            [disabled]="procedure_ordersSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                      [matMenuTriggerFor]="procedure_ordersSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #procedure_ordersSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="procedure_ordersSelectAll=true;"
                    [disabled]="procedure_ordersSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="procedure_ordersSelectAll = false;"
                    [disabled]="!procedure_ordersSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(procedure_ordersSelection,row) : null"
                        [checked]="tcUtilsArray.contains(procedure_ordersSelection,row) || procedure_ordersSelectAll"
                        [disabled]="procedure_ordersSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="procedure_orderNavigator.procedure_orderUrl(element.id)"
             class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="procedure_order_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("general", "id_number")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="procedureOrderNavigator.procedure_orderUrl(element.id)">
            {{ appTranslation.getText("general", "view") }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="provider_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('employee', 'physician')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.provider_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('patient', 'patient')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('patient', 'visits')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date_collected">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'reg_date')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.date_collected)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date_ordered">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'date')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.date_ordered)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_priority">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('bed', 'priority')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ appTranslation.getText("procedure", element.order_priority) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_status">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'status')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ appTranslation.getText("procedure", element.order_status) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_instructions">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('procedure', 'patient_instructions')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_instructions}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="activity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>activity</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.activity}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="control_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>control_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.control_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lab_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("procedure", "lab")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="procedureProviderNavigator.procedure_providerUrl(element.lab_id)">
            {{ tcUtilsArray.getById(procedureProviders, element.lab_id)?.name }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="specimen_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>specimen_type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.specimen_type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="specimen_location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>specimen_location</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.specimen_location}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="specimen_volume">
        <mat-header-cell *matHeaderCellDef mat-sort-header>specimen_volume</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.specimen_volume}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date_transmitted">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date_transmitted</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date_transmitted}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="clinical_hx">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('procedure', 'clinical_hx')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.clinical_hx}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="external_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>external_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.external_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="history_order">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('procedure', 'history_order')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.history_order==='1'">
            <mat-icon>done</mat-icon>
          </ng-container>
          <ng-container *ngIf="element.history_order==='0'">
            <mat-icon>close</mat-icon>
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_diagnosis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>order_diagnosis</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.order_diagnosis}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('procedure_orders') || tcAuthorization.canDelete('procedure_orders')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button mat-menu-item (click)="deleteProcedure_Order(element)"
                    *ngIf="tcAuthorization.canDelete('procedure_orders')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="procedure_ordersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: procedure_ordersDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedure_ordersSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="procedure_ordersTotalCount"
                   [ngStyle]="{display: procedure_ordersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
