<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-book-open"></mat-icon>
      Bin Card
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchBin_cards();" *ngIf="tcAuthorization.canRead('bin_cards')"
            class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button> 

  </mat-toolbar>
  
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="bin_cardSearchTextBox"
             placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="itemInStorePersist.bin_cardSearchText" matSuffix mat-icon-button
              aria-label="Clear"
              (click)="bin_cardSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-select placeholder='{{ appTranslation.getText("general", "item_type") }}'  [(value)]="itemInStorePersist.itemTypeFilter" (valueChange)="searchBin_cards()">
        <mat-option  *ngFor="let status of itemInStorePersist.item_type" [value]="status.id">
  
          {{
            appTranslation.getText(
               'inventory',status.name
            )
          }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf='itemInStorePersist.itemTypeFilter != "-1"' matSuffix mat-icon-button aria-label="Clear" (click)="itemInStorePersist.itemTypeFilter = '-1';searchBin_cards();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder='{{ appTranslation.getText("inventory", "entry_type") }}'  [(value)]="itemInStorePersist.entryTypeFilter" (valueChange)="searchBin_cards()">
        <mat-option  *ngFor="let status of itemInStorePersist.entry_type" [value]="status.id">
  
          {{
            appTranslation.getText(
              'inventory',status.name
            )
          }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf='itemInStorePersist.entryTypeFilter != "-1"' matSuffix mat-icon-button aria-label="Clear" (click)="itemInStorePersist.entryTypeFilter = '-1';searchBin_cards();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
    <!-- <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="itemInStorePersist.store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="itemInStorePersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemInStorePersist.store_id = null; itemInStorePersist.store_name = null ; searchBin_cards()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field> -->
  <mat-form-field>
    <input
      matInput
      placeholder=
        'From Date'
      [formControl]="from_date"
      [matDatepicker]="from_date_picker"
    />
  
    <mat-datepicker-toggle
      matSuffix
      [for]="from_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="from_date.value" matSuffix mat-icon-button aria-label="Clear"
    (click)="from_date.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        'To Date'
      [formControl]="to_date"
      [matDatepicker]="to_date_picker"
    />
  
    <mat-datepicker-toggle
      matSuffix
      [for]="to_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="to_date.value" matSuffix mat-icon-button aria-label="Clear"
    (click)="to_date.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-select placeholder="Category"
                [(value)]="itemInStorePersist.category"
                (valueChange)="searchBin_cards()">
      <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
        {{ etype.name }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="itemInStorePersist.category" matSuffix mat-icon-button aria-label="Clear"
            (click)="itemInStorePersist.category = null;searchBin_cards();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
  
    <!-- <mat-form-field>
      <mat-label>Sub Category</mat-label>
      <input
        matInput
        placeholder="Sub Category"
        type="text"
        disabled
        [(ngModel)]="subCategoryName"
        required
      >
      <button
        mat-icon-button
        matTooltip="Sub category"
        matSuffix
        color="primary"
        (click)="searchCategory(true)"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
  (click)="subCategoryName = null; itemInStorePersist.categoryId=categoryId; searchBin_cards()">
  <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>  -->
    <div class="tc-flex-row">
      <div class="tc-full-width custom-card">
        <div>Item name: {{itemDetail.name + "-" + itemDetail.strength + this.tcUtilsArray.getEnum(this.formEncounterPersist.dosageUnit, itemDetail.unit)?.name + "-" + this.tcUtilsArray.getEnum(this.formEncounterPersist.drug_form, itemDetail.preparation)?.name}}</div>
        <div>Brand name: {{itemDetail.brand_name}}</div>
        <div>Item description: {{itemDetail.item_description}}</div>
      </div>
      <div class="tc-full-width custom-card">
        <div>Store: {{itemInStorePersist.store_name}}</div>
        <div>Balance: {{balance}}</div>
      </div>

      <div class="tc-full-width"></div>
    </div>


    <div class="tc-loading" *ngIf="bin_cardsIsLoading">
      <mat-spinner></mat-spinner>
    </div>
  
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let bin_card of bin_cardsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                    *ngIf="tcAuthorization.canUpdate('bin_cards') || tcAuthorization.canDelete('bin_cards')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editBin_card(bin_card)"
                      *ngIf="tcAuthorization.canUpdate('bin_cards')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general", "edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBin_card(bin_card)"
                      *ngIf="tcAuthorization.canDelete('bin_cards')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general", "delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('inventory', 'entry_type')}}</span>
            <!-- <a [routerLink]="bin_cardNavigator.bin_cardUrl(bin_card.id)"
            class="tc-link"> -->
                {{ bin_card.entry_type }}
          <!-- </a> -->
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('general', 'item_type')}}</span>
            {{
            appTranslation.getText(
              "inventory",
              tcUtilsArray.getEnum(
                itemLedgeryPersist.item_type,
                bin_card.item_type
              )?.name)
            }}
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('inventory', 'item')}}</span>
            <!-- <a
              [routerLink]="itemNavigator.itemUrl(bin_card.item_id)"
              routerLinkActive="router-link-active"
            > -->
              {{ itemNavigator.itemName(bin_card)}}
            <!-- </a> -->
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('general', 'quantity')}}</span>
            {{bin_card.quantity | number }}
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('inventory', 'store')}}</span>
            <!-- <a [routerLink]="storeNavigator.storeUrl(bin_card.store_id)"> -->
              {{ bin_card.store}}
            <!-- </a> -->
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('inventory', 'batch_no')}}</span>
            {{bin_card.batch_no}}
          </div>
          <div class="tc-detail-field">
            <span>Date</span>
            {{ tcUtilsDate.toDate(bin_card.date)|date:'MMM dd, yyyy. h:mm a'}}
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('general', 'description')}}</span>
            {{bin_card.description}}
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('general', 'date_of_registration')}}</span>
            {{ tcUtilsDate.toDate(bin_card.registration_date)|date:'MMM dd, yyyy. h:mm a'}}
          </div>
          <div class="tc-detail-field">
            <span>{{ appTranslation.getText("inventory", "balance") }}</span>
            {{ bin_card.balance | number }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="bin_cardsSelection.length >0 || bin_cardsSelectAll">
        <button mat-button (click)="downloadBin_cards()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{bin_cardsSelectAll ? bin_cardsTotalCount : bin_cardsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
      </mat-toolbar>
  
      <mat-table [dataSource]="bin_cardsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(bin_cardsData,bin_cardsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(bin_cardsData,bin_cardsSelection) || bin_cardsSelectAll"
              [indeterminate]="bin_cardsSelection.length <bin_cardsData.length && bin_cardsSelection.length>0"
              [disabled]="bin_cardsSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                        [matMenuTriggerFor]="bin_cardsSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #bin_cardsSelectAllMenu="matMenu">
  
  
              <button mat-menu-item
                      (click)="bin_cardsSelectAll=true;"
                      [disabled]="bin_cardsSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item
                      (click)="bin_cardsSelectAll = false;"
                      [disabled]="!bin_cardsSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(bin_cardsSelection,row) : null"
                          [checked]="tcUtilsArray.contains(bin_cardsSelection,row) || bin_cardsSelectAll"
                          [disabled]="bin_cardsSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="entry_type">
          <mat-header-cell *matHeaderCellDef
                           >{{appTranslation.getText('inventory', 'entry_type')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- <a [routerLink]="bin_cardNavigator.bin_cardUrl(element.id)"
               class="tc-link"> -->
               {{
                    element.entry_type
                }}            
              <!-- </a> -->
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="item_type">
          <mat-header-cell *matHeaderCellDef
                           >{{appTranslation.getText('general', 'item_type')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            appTranslation.getText(
              "inventory",
              tcUtilsArray.getEnum(
                itemLedgeryPersist.item_type,
                element.item_type
              )?.name)
            }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef
                           >{{appTranslation.getText('inventory', 'item')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
              {{ itemNavigator.itemName(element)}}
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef
                           >{{appTranslation.getText('general', 'quantity')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity | number }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="in">
          <mat-header-cell *matHeaderCellDef
                           >In</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.quantity > 0 ? element.quantity : "" }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="out">
          <mat-header-cell *matHeaderCellDef
                           >Out</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity < 0 ? element.quantity : "" }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="balance">
          <mat-header-cell *matHeaderCellDef
                           >Balance</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.balance}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="store">
          <mat-header-cell *matHeaderCellDef
                           >{{appTranslation.getText('inventory', 'store')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- <a [routerLink]="storeNavigator.storeUrl(element.store_id)"> -->
              {{ element.store}}
            <!-- </a> -->
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="batch_no">
          <mat-header-cell *matHeaderCellDef
                           >{{appTranslation.getText('inventory', 'batch_no')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="from">
          <mat-header-cell *matHeaderCellDef
                           >from</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.from}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="to">
          <mat-header-cell *matHeaderCellDef
                           >to</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.to}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef
                           >{{appTranslation.getText('general', 'description')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="registration_date">
          <mat-header-cell *matHeaderCellDef
                           >{{appTranslation.getText('general', 'date_of_registration')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.registration_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="balance">
          <mat-header-cell *matHeaderCellDef >{{
            appTranslation.getText("inventory", "balance")
          }}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.balance | number }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                    *ngIf="tcAuthorization.canUpdate('bin_cards') || tcAuthorization.canDelete('bin_cards')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editBin_card(element)"
                      *ngIf="tcAuthorization.canUpdate('bin_cards') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general", "edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBin_card(element)"
                      *ngIf="tcAuthorization.canDelete('bin_cards')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general", "delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
  
  
        <mat-header-row *matHeaderRowDef="bin_cardsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: bin_cardsDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(bin_cardsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [pageSize]="tcUtilsArray.defaultPageSize"
                     [length]="bin_cardsTotalCount"
                     [ngStyle]="{display: bin_cardsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  