<h1 mat-dialog-title>
    item_return Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="itemReturnSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="itemReturnPersist.itemReturnSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReturnSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="itemReturnIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="itemReturnsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(itemReturnsData,itemReturnSelection) "
            [checked]=" tcUtilsArray.isAllSelected(itemReturnsData,itemReturnSelection) || itemReturnSelectAll"
            [indeterminate]="itemReturnSelection.length <itemReturnsData.length && itemReturnSelection.length>0"
            [disabled]="itemReturnSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemReturnSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #itemReturnSelectAllMenu="matMenu">

            <button mat-menu-item (click)="itemReturnSelectAll=true;" [disabled]="itemReturnSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="itemReturnSelectAll = false;" [disabled]="!itemReturnSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(itemReturnSelection,row) : null"
            [checked]="tcUtilsArray.contains(itemReturnSelection,row) || itemReturnSelectAll" [disabled]="itemReturnSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="transfer_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="requester_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>requester_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.requester_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="responder_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>responder_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.responder_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="itemReturnsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: itemReturnsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemReturnSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemReturnsTotalCount"
      [ngStyle]="{display: itemReturnsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" itemReturnSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
