<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="lab_resultDetail">
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('procedure','result')}}" type="number"  [(ngModel)]="lab_resultDetail.result" required>
                          </mat-form-field>
                      
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>
                              {{appTranslation.getText("procedure", "search_for_lab_technician")}}
                            </mat-label>
                            <input matInput disabled [(ngModel)]="resultedByLabTechnician"/>
                            <button
                              mat-icon-button
                              matTooltip="{{appTranslation.getText('procedure', 'result_by')}}"
                              matSuffix
                              color="primary"
                              (click)="searchResultedByLabTechnician()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>

                          <mat-form-field class="tc-full-stretch">
                            <mat-label>
                              {{appTranslation.getText("procedure", "search_for_lab_technician")}}
                            </mat-label>
                            <input matInput disabled [(ngModel)]="confirmedByLabTechnician"/>
                            <button
                              mat-icon-button
                              matTooltip="{{appTranslation.getText('procedure', 'confirmed_by')}}"
                              matSuffix
                              color="primary"
                              (click)="searchConfirmedByLabTechnician()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>
                      
  
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  