<h1 mat-dialog-title>
    nurse_plan_of_care Selection
  </h1><div mat-dialog-content > <mat-form-field>
    <input matInput [formControl]="nursePlanOfCareSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="nursePlanOfCarePersist.nursePlanOfCareSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="nursePlanOfCareSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="nursePlanOfCareIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let nurse_plan_of_care of nursePlanOfCaresData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('nurse_plan_of_cares') || tcAuthorization.canDelete('nurse_plan_of_cares')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <!-- <button mat-menu-item (click)="editNursePlanOfCare(nurse_plan_of_care)" *ngIf="tcAuthorization.canUpdate('nurse_plan_of_cares')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteNursePlanOfCare(nurse_plan_of_care)" *ngIf="tcAuthorization.canDelete('nurse_plan_of_cares')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button> -->
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>plan_of_care_id</span>
          {{nurse_plan_of_care.plan_of_care_id}}
        </div><div class="tc-detail-field">
          <span>nurse_id</span>
          {{nurse_plan_of_care.nurse_id}}
        </div><div class="tc-detail-field">
          <span>date</span>
          {{nurse_plan_of_care.date}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchNurse_plan_of_cares.length >0 || nursePlanOfCareSelectAll">
      <!-- <button mat-button (click)="downloadNursePlanOfCares()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{nursePlanOfCareSelectAll ? nursePlanOfCaresTotalCount : nursePlanOfCareSelectAll.length}} {{appTranslation.getText("general",
        "selected")}}</span> -->
    </mat-toolbar><mat-table [dataSource]="nursePlanOfCaresData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(nursePlanOfCaresData,nursePlanOfCareSelection) "
            [checked]=" tcUtilsArray.isAllSelected(nursePlanOfCaresData,nursePlanOfCareSelection) || nursePlanOfCareSelectAll"
            [indeterminate]="nursePlanOfCareSelection.length <nursePlanOfCaresData.length && nursePlanOfCareSelection.length>0"
            [disabled]="nursePlanOfCareSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="nursePlanOfCareSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #nursePlanOfCareSelectAllMenu="matMenu">

            <button mat-menu-item (click)="nursePlanOfCareSelectAll=true;" [disabled]="nursePlanOfCareSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="nursePlanOfCareSelectAll = false;" [disabled]="!nursePlanOfCareSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(nursePlanOfCareSelection,row) : null"
            [checked]="tcUtilsArray.contains(nursePlanOfCareSelection,row) || nursePlanOfCareSelectAll" [disabled]="nursePlanOfCareSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="plan_of_care_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>plan_of_care_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.plan_of_care_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="nurse_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>nurse_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nurse_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="nursePlaneOfCareNavigator.nurse_plan_of_careUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('nurse_plan_of_cares') || tcAuthorization.canDelete('nurse_plan_of_cares')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <!-- <button mat-menu-item (click)="editNursePlanOfCare(element)" *ngIf="tcAuthorization.canUpdate('nurse_plan_of_cares') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteNursePlanOfCare(element)" *ngIf="tcAuthorization.canDelete('nurse_plan_of_cares')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button> -->
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="nursePlanOfCaresDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: nursePlanOfCaresDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(nursePlanOfCareSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="nursePlanOfCaresTotalCount"
      [ngStyle]="{display: nursePlanOfCaresTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" nursePlanOfCareSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>