<div class="tc-flex-row" *ngIf="isDialog">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<ng-template #body>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="physical_examinationDetail">
    
    <!-- <div style="margin: 8px 0px;" *ngFor="let option of physicalExaminationOptionPersist.PhysicalExaminationOptions" [disabled]="!persist.encounter_is_active">
      <mat-checkbox #parentEvent
      [class]="physicalExaminationOptions[option.id] != null && physicalExaminationOptions[option.id].checked == false ? 'custom-checkbox' : ''"
      [checked]="physicalExaminationOptions[option.id] && physicalExaminationOptions[option.id].checked"
      [indeterminate]="physicalExaminationOptions[option.id] == null || physicalExaminationOptions[option.id].checked == null"
      (change)="setCheck($event, option.id)"
      (click)="physicalExaminationOptions[option.id] != null && physicalExaminationOptions[option.id].checked == false ? setCheck($event, option.id) : ''">
      
</mat-checkbox>
{{option.name}}
<div style="margin: 8px 16px;" *ngIf="physicalExaminationOptions[option.id] && physicalExaminationOptions[option.id].data">
<div *ngFor="let finding of physicalExaminationOptions[option.id].data">
<mat-checkbox
      [checked]="checkChecked(option.id, finding.id)"
      (change)="updateFinding($event, option.id, finding.id)">
      {{finding.findings}}
</mat-checkbox>
</div>
<mat-form-field *ngIf="physicalExaminationOptions[option.id] != null && physicalExaminationOptions[option.id].checked != null" class="tc-full-stretch">
  <textarea
    matInput
    placeholder="Additional Assessment"
    type="text"
    [value]="getDetail(parentEvent.checked, option.id)"
    (change)="setDetail(parentEvent.checked, option.id, $event.target.value)"
  >
  </textarea>
</mat-form-field>
</div>
<mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
       [pageSize]="5" [length]="physicalExaminationOptions[option.id] && physicalExaminationOptions[option.id].total_count"
       [ngStyle]="{display: physicalExaminationOptions[option.id] && physicalExaminationOptions[option.id].total_count > 0? '':'none'}"></mat-paginator>
    </div>               
    <mat-form-field class="tc-full-stretch">
      <textarea
        matInput
        placeholder="{{ appTranslation.getText('patient', 'physical_examination') }}"
        type="text"
        [(ngModel)]="physical_examinationDetail.general_appearance"
      >
      </textarea>
    </mat-form-field> -->
    <div class="tc-flex-row" style="align-items: baseline;">
      <button
      mat-button
      class="button"
      (click)="makeAll(true)"
      [disabled]="!persist.encounter_is_active"
    >
      All Normal
    </button>
    <button
      mat-button
      class="button"
      (click)="makeAll(false)"
      [disabled]="!persist.encounter_is_active"
    >
      All Abnormal
    </button>
    <button
      mat-button
      class="button"
      (click)="makeAll(null)"
      [disabled]="!persist.encounter_is_active"
    >
      Reset
    </button>
    <button
      *ngIf="canEdit"
      mat-button
      class="button"
      (click)="savePhysicalExamintion.emit()"
      style="margin-left: auto;"
      [disabled]="!canSubmit()"
    >
      Save
    </button>
    </div>
    <div class="tc-flex-row header" style="align-items: baseline;">
      <p style="flex-basis: 16%;">Examination</p> 
      <div class="tc-flex-row" style="gap: 8px;">
        <p>Normal</p>
        <p>Abnormal</p>
      </div>
      <p class="tc-full-stretch" style="text-align: center;">Findings</p> 
    </div>
    <div class="tc-flex-row" style="align-items: baseline;">
      <p style="width:150px;">General Appearance</p> 
      <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
        <textarea matInput type="text" [(ngModel)]="physical_examinationDetail.general_appearance" [disabled]="!persist.encounter_is_active"></textarea>
      </mat-form-field>
    </div>
    <div class="tc-flex-row" style="align-items: baseline;">
      <p style="flex-basis: 20%;">ENT</p> 
      <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'ent')" [(ngModel)]="physical_examinationDetail.ent_bool" [disabled]="!persist.encounter_is_active">
        <mat-radio-button [value]="true"></mat-radio-button>
        <mat-radio-button [value]="false"></mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
        <textarea rows="5" matInput type="text"  [(ngModel)]="physical_examinationDetail.ent" [disabled]="!persist.encounter_is_active"></textarea>
        <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.ent_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.ent, 'ent')"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
     </div>
     <div class="tc-flex-row" style="align-items: baseline;">
      <p style="flex-basis: 20%;">Eye</p> 
      <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'eye')" [(ngModel)]="physical_examinationDetail.eye_bool" [disabled]="!persist.encounter_is_active">
        <mat-radio-button [value]="true"></mat-radio-button>
        <mat-radio-button [value]="false"></mat-radio-button>
      </mat-radio-group>
      <mat-form-field rows="5" class="tc-full-stretch" style="margin-left: 8px;">
        <textarea matInput type="text"  [(ngModel)]="physical_examinationDetail.eye" [disabled]="!persist.encounter_is_active"></textarea>
        <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.eye_bool == null"
        color="primary"
        rows="5"
        (click)="searchPhysicalExminationOption(physicalOptions.eye, 'eye')"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
     </div>
     <div class="tc-flex-row" style="align-items: baseline;">
      <p style="flex-basis: 20%;">Head and Neck</p> 
      <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'head_and_neck')" [(ngModel)]="physical_examinationDetail.head_and_neck_bool" [disabled]="!persist.encounter_is_active">
        <mat-radio-button [value]="true"></mat-radio-button>
        <mat-radio-button [value]="false"></mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
        <textarea matInput type="text"  rows="5" [(ngModel)]="physical_examinationDetail.head_and_neck" [disabled]="!persist.encounter_is_active"></textarea>
        <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.head_and_neck_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.head_and_neck,'head_and_neck')"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
     </div>
   <div class="tc-flex-row" style="align-items: baseline;">
    <p style="flex-basis: 20%;">Glands</p> 
    <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'glands')" [(ngModel)]="physical_examinationDetail.glands_bool" [disabled]="!persist.encounter_is_active">
      <mat-radio-button [value]="true"></mat-radio-button>
      <mat-radio-button [value]="false"></mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
      <textarea matInput type="text" rows="5" [(ngModel)]="physical_examinationDetail.glands" [disabled]="!persist.encounter_is_active"></textarea>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.glands_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.glands, 'glands')"
      >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
   </div>
   <div class="tc-flex-row" style="align-items: baseline;">
    <p style="flex-basis: 20%;">Chests</p> 
    <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'chests')" [(ngModel)]="physical_examinationDetail.chests_bool" [disabled]="!persist.encounter_is_active">
      <mat-radio-button [value]="true"></mat-radio-button>
      <mat-radio-button [value]="false"></mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
      <textarea matInput type="text" rows="5"  [(ngModel)]="physical_examinationDetail.chests" [disabled]="!persist.encounter_is_active"></textarea>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.chests_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.chests, 'chests')"
      >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
   </div>
   <div class="tc-flex-row" style="align-items: baseline;">
    <p style="flex-basis: 20%;">Cardiovascular</p> 
    <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'cardiovascular')" [(ngModel)]="physical_examinationDetail.cardiovascular_bool" [disabled]="!persist.encounter_is_active">
      <mat-radio-button [value]="true"></mat-radio-button>
      <mat-radio-button [value]="false"></mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
      <textarea rows="5" matInput type="text"  [(ngModel)]="physical_examinationDetail.cardiovascular" [disabled]="!persist.encounter_is_active"></textarea>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.cardiovascular_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.cardiovascular, 'cardiovascular')"
      >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
   </div>
   <div class="tc-flex-row" style="align-items: baseline;">
    <p style="flex-basis: 20%;">Abdominal</p> 
    <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'abdominal')" [(ngModel)]="physical_examinationDetail.abdominal_bool" [disabled]="!persist.encounter_is_active">
      <mat-radio-button [value]="true"></mat-radio-button>
      <mat-radio-button [value]="false"></mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
      <textarea rows="5" matInput type="text"  [(ngModel)]="physical_examinationDetail.abdominal" [disabled]="!persist.encounter_is_active"></textarea>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.abdominal_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.abdominal, 'abdominal')"
      >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
   </div>
   <div class="tc-flex-row" style="align-items: baseline;">
    <p style="flex-basis: 20%;">Genitourinary</p> 
    <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'genitourinary')" [(ngModel)]="physical_examinationDetail.genitourinary_bool" [disabled]="!persist.encounter_is_active">
      <mat-radio-button [value]="true"></mat-radio-button>
      <mat-radio-button [value]="false"></mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
      <textarea rows="5" matInput type="text"  [(ngModel)]="physical_examinationDetail.genitourinary" [disabled]="!persist.encounter_is_active"></textarea>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.genitourinary_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.genitourinary, 'genitourinary')"
      >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
   </div>
   <div class="tc-flex-row" style="align-items: baseline;">
    <p style="flex-basis: 20%;">Musculoskeletal</p> 
    <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'musculoskeletal')" [(ngModel)]="physical_examinationDetail.musculoskeletal_bool" [disabled]="!persist.encounter_is_active">
      <mat-radio-button [value]="true"></mat-radio-button>
      <mat-radio-button [value]="false"></mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
      <textarea rows="5" matInput type="text"  [(ngModel)]="physical_examinationDetail.musculoskeletal" [disabled]="!persist.encounter_is_active"></textarea>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.musculoskeletal_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.musculoskeletal, 'musculoskeletal')"
      >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
   </div>
   <div class="tc-flex-row" style="align-items: baseline;">
    <p style="flex-basis: 20%;">Integumentary</p> 
    <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'integument')" [(ngModel)]="physical_examinationDetail.integument_bool" [disabled]="!persist.encounter_is_active">
      <mat-radio-button [value]="true"></mat-radio-button>
      <mat-radio-button [value]="false"></mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
      <textarea rows="5" matInput type="text"  [(ngModel)]="physical_examinationDetail.integument" [disabled]="!persist.encounter_is_active"></textarea>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.integument_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.integument, 'integument')"
      >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
   </div>
   <div class="tc-flex-row" style="align-items: baseline;">
    <p style="flex-basis: 20%;">Neurological</p> 
    <mat-radio-group class="tc-flex-row" aria-label="Select an option" (ngModelChange)="updateChange($event, 'neurology')" [(ngModel)]="physical_examinationDetail.neurology_bool" [disabled]="!persist.encounter_is_active">
      <mat-radio-button [value]="true"></mat-radio-button>
      <mat-radio-button [value]="false"></mat-radio-button>
    </mat-radio-group>
    <mat-form-field rows="5" class="tc-full-stretch" style="margin-left: 8px;">
      <textarea matInput type="text"  [(ngModel)]="physical_examinationDetail.neurology" [disabled]="!persist.encounter_is_active"></textarea>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="physical_examinationDetail.neurology_bool == null"
        color="primary"
        (click)="searchPhysicalExminationOption(physicalOptions.neurology, 'neurology')"
      >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
   </div>
  </div>

</ng-template>

 <div mat-dialog-content *ngIf="isDialog">
  <ng-container *ngTemplateOutlet="body">
  </ng-container>
 </div>

 <div *ngIf="!isDialog">
  <ng-container *ngTemplateOutlet="body">
  </ng-container>
 </div>

<div mat-dialog-actions *ngIf="isDialog">
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
