.custom-checkbox{
    position: relative;
}

.custom-checkbox::before {
    content: "X";
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bolder;
    background-color: #FF4081;
    z-index: 1;
    transform: scale(1.0, 0.9);
}

.button {
    background-color: var(--base-color);
    margin-right: 8px;
    color: var(--text-color);
}

.header p {
    margin: 0;
    font-weight: bold;
}