<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="surgery_appointmentDetail">
  
       <mat-form-field class="tc-full-stretch">
        <input
        matInput
        placeholder="{{ appTranslation.getText('patient', 'patient') }}"
        type="text"
        [(ngModel)]="patientName"
        disabled
        required
    >

    <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('patient', 'patient') }}"
        matSuffix
        color="primary"
        (click)="searchPatient()"
    >
        <mat-icon>search</mat-icon>
    </button>
                          </mat-form-field>
        <mat-form-field class="tc-full-stretch">
        <input
            matInput
            placeholder="{{ appTranslation.getText('patient', 'surgery_type') }}"
            type="text"
            [(ngModel)]="surgeryTypeName"
            disabled
            required
        >
    
        <button
            mat-icon-button
            matTooltip="{{ appTranslation.getText('patient', 'surgery_type') }}"
            matSuffix
            color="primary"
            (click)="searchSurgeryType()"
        >
            <mat-icon>search</mat-icon>
        </button>
        </mat-form-field>
          <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="{{appTranslation.getText('patient','surgery_date')}}" type="datetime-local"  [(ngModel)]="appointed_time" required>
        </mat-form-field>
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  
