<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="messagesDetail">


    <mat-form-field class="tc-full-stretch">
      <mat-label>To
      </mat-label>
      <input matInput disabled [(ngModel)]="patientName" />
      <button mat-icon-button matTooltip="search users" matSuffix
        [disabled]="isEdit()" color="primary" (click)="searchUser()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>




    <mat-form-field class="tc-full-stretch">
      <mat-label>About
      </mat-label>
      <input matInput disabled [(ngModel)]="userName" />
      <button mat-icon-button matTooltip="{{ appTranslation.getText('patient', 'search_patient') }}" matSuffix
        [disabled]="isEdit()" color="primary" (click)="searchPatient()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder="{{appTranslation.getText('general','message')}}" type="text"
        [(ngModel)]="messagesDetail.message" required></textarea>
    </mat-form-field>




     
    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="type" [(value)]="messagesDetail.type" required>
        <mat-option *ngFor="let etype of persist.message_type" [value]="etype.id">
          {{appTranslation.getTextByIdentifier(etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>