<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="aNCInitialEvaluationIsLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div
      [ngClass]="
        activeTab == ANCInitialEvaluationTabs.overview ? '' : 'tc-hidden'
      "
    >
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ appTranslation.getText("general", "basicdetails") }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!aNCInitialEvaluationIsLoading">
                  <p class="tc-detail-field">
                    Genera
                    <span>
                      {{ aNCInitialEvaluationDetail.genera }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Jaundice
                    <span>
                      {{
                        true == aNCInitialEvaluationDetail.jaundice
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Palor
                    <span>
                      {{
                        true == aNCInitialEvaluationDetail.palor ? "Yes" : "No"
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Heart Abnormality
                    <span>
                      {{
                        true == aNCInitialEvaluationDetail.heart_abnormality
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Chest Abnormality
                    <span>
                      {{
                        true == aNCInitialEvaluationDetail.chest_abnormality
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    HIV test result
                    <span>
                      {{
                        tcUtilsArray.getEnum(
                          aNCInitialEvaluationPersist.HivTestResult,
                          aNCInitialEvaluationDetail.hiv_test_result
                        )?.name
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Cervica Lesion
                    <span>
                      {{
                        aNCInitialEvaluationDetail.cervica_lesion == null
                          ? ""
                          : aNCInitialEvaluationDetail.cervica_lesion
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Danger signs in pregnancy and delivery adviced
                    <span>
                      {{
                        aNCInitialEvaluationDetail.danger_signs_in_pregnancy_and_delivery_adviced ==
                        null
                          ? ""
                          : aNCInitialEvaluationDetail.danger_signs_in_pregnancy_and_delivery_adviced
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Vaginal Discharge
                    <span>
                      {{
                        aNCInitialEvaluationDetail.vaginal_discharge == null
                          ? ""
                          : aNCInitialEvaluationDetail.vaginal_discharge
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Valvular Ulcer
                    <span>
                      {{
                        aNCInitialEvaluationDetail.vulvar_ulcer == null
                          ? ""
                          : aNCInitialEvaluationDetail.vulvar_ulcer
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Counseld on infant feeding
                    <span>
                      {{
                        aNCInitialEvaluationDetail.counseled_on_infant_feeding ==
                        null
                          ? ""
                          : aNCInitialEvaluationDetail.counseled_on_infant_feeding
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Pelvic Mass
                    <span>
                      {{
                        aNCInitialEvaluationDetail.pelvic_mass == null
                          ? ""
                          : aNCInitialEvaluationDetail.pelvic_mass
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Partner HIV test result
                    <span>
                      {{
                        tcUtilsArray.getEnum(
                          aNCInitialEvaluationPersist.HivTestResult,
                          aNCInitialEvaluationDetail.partner_hiv_test_result
                        )?.name
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Referred for care treatment and support
                    <span>
                      {{
                        aNCInitialEvaluationDetail.referred_for_care_treatment_and_support ==
                        null
                          ? ""
                          : aNCInitialEvaluationDetail.referred_for_care_treatment_and_support
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Uterine size(wks)
                    <span>
                      {{ aNCInitialEvaluationDetail.uterine_size_wks }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    Mother HIV test result
                    <span>
                      {{
                        aNCInitialEvaluationDetail.mother_hiv_test_result ==
                        null
                          ? ""
                          : aNCInitialEvaluationDetail.mother_hiv_test_result
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>

                  <p class="tc-detail-field">
                    HIV test result recieved with post test counseling
                    <span>
                      {{
                        aNCInitialEvaluationDetail.hiv_test_result_recieved_with_post_test_counseling ==
                        null
                          ? ""
                          : aNCInitialEvaluationDetail.hiv_test_result_recieved_with_post_test_counseling
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Birth preparedness adviced
                    <span>
                      {{
                        aNCInitialEvaluationDetail.birth_preparedness_adviced ==
                        null
                          ? ""
                          : aNCInitialEvaluationDetail.birth_preparedness_adviced
                          ? "Yes"
                          : "No"
                      }}
                    </span>
                  </p>
                </div>
                <mat-action-row>
                  <button
                    mat-button
                    (click)="editANCInitialEvaluation()"
                    *ngIf="tcAuthorization.canUpdate('anc_initial_evaluations')"
                  >
                    {{ appTranslation.getText("general", "edit") }}
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
