<h1 mat-dialog-title>Drug_Type Selection</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="drug_typesSearchTextBox"
      placeholder="Search Text"
    />
    <button
      mat-button
      *ngIf="drug_typePersist.drug_typeSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="drug_typesSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="drug_typesIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">
    <mat-table [dataSource]="drug_typesData" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(drug_typesData, drug_typesSelection)
            "
            [checked]="
              tcUtilsArray.isAllSelected(drug_typesData, drug_typesSelection)
            "
            [indeterminate]="
              drug_typesSelection.length < drug_typesData.length &&
              drug_typesSelection.length > 0
            "
            *ngIf="!selectOne"
          >
          </mat-checkbox>
          <button
            mat-button
            *ngIf="drug_typesSelection.length > 0 && !selectOne"
            [mat-menu-trigger-for]="collectionMenu"
          >
            <i class="material-icons">more_vert</i>

            <span
              matBadge="{{ drug_typesSelection.length }}"
              matBadgePosition="above after"
              matBadgeOverlap="false"
              [matBadgeHidden]="drug_typesSelection.length == 0"
              style="margin-right: 10px"
            ></span>
          </button>
          <mat-menu #collectionMenu="matMenu">
            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(drug_typesSelection, row)
                : null
            "
            [checked]="tcUtilsArray.contains(drug_typesSelection, row)"
            *ngIf="!selectOne"
          >
          </mat-checkbox>

          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? markOneItem(row) : null"
            [checked]="tcUtilsArray.contains(drug_typesSelection, row)"
            *ngIf="selectOne"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >name</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="strength">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >strength</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.strength }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="form">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >form</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.form }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="drug_typesDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: drug_typesDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(drug_typesSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [length]="drug_typesTotalCount"
    ></mat-paginator>
  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="drug_typesSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
