<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-stethoscope"></mat-icon>
    IPD report
    </h3>

    <button mat-button (click)="back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)="searchIpdReports();" *ngIf="tcAuthorization.canRead('report')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
</mat-toolbar>
<div class="tc-padding">
    <mat-form-field>
        <input
          matInput
          placeholder="{{ appTranslation.getText('general', 'start_date') }}"
          [formControl]="start_date"
          [matDatepicker]="start_time_picker"
        />

        <mat-datepicker-toggle
          matSuffix
          [for]="start_time_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_time_picker disabled="false"></mat-datepicker>
      </mat-form-field>

        <mat-form-field>
            <input
              matInput
              placeholder="{{ appTranslation.getText('general', 'end_date') }}"
              [formControl]="end_date"
              [matDatepicker]="end_time_picker"
            />
    
            <mat-datepicker-toggle
              matSuffix
              [for]="end_time_picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #end_time_picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-spinner diameter="50" *ngIf=" ipdReportsIsLoading" class="tc-padding"></mat-spinner>

    <div class="tc-padding" [ngStyle]="{display:  ipdReportsIsLoading? 'none':''}">
        
    <div class="tc-table-container tc-full-stretch">
        

        <mat-table [dataSource]="ipdReportsData" matSort>
        
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                action
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                action
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="patient">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                patient
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.patient}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="admission">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                admission
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{tcUtilsDate.toDate(element.admission)|date}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="readmission">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                readmission
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.readmission}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="bed_occupancy">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                bed_occupancy
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.bed_occupancy}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="condition_status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                condition status
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{tcUtilsArray.getEnum(
                    patientDischargePersist.condition_statuses,
                    element.condition_status)?.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                total
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                total
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="ipdReportDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns:ipdReportDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(ipdReportSelection,row)}">
        </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]=" ipd_reportTotalCount"
        [ngStyle]="{display:  ipd_reportTotalCount > 0? '':'none'}">
        </mat-paginator>
    </div>
    </div>
</div>