
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     medical_checkup_package  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchMedicalCheckupPackages();" *ngIf="tcAuthorization.canRead('medical_checkup_packages')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addMedicalCheckupPackage();" *ngIf="tcAuthorization.canCreate('medical_checkup_packages')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="medicalCheckupPackageSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="medicalCheckupPackagePersist.medicalCheckupPackageSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="medicalCheckupPackageSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="medicalCheckupPackageIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let medicalCheckupPackage of medicalCheckupPackagesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('medical_checkup_packages') || tcAuthorization.canDelete('medical_checkup_packages')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editMedicalCheckupPackage(medicalCheckupPackage)" *ngIf="tcAuthorization.canUpdate('medical_checkup_packages')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMedicalCheckupPackage(medicalCheckupPackage)" *ngIf="tcAuthorization.canDelete('medical_checkup_packages')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{medicalCheckupPackage.name}}
          </div><div class="tc-detail-field">
            <span>price</span>
            {{tcUtilsumber.convertToDecimalPlaces(medicalCheckupPackage.price)}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchMedicalCheckupPackages.length >0 || medicalCheckupPackageSelectAll">
        <button mat-button (click)="downloadMedicalCheckupPackages()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{medicalCheckupPackageSelectAll ? medicalCheckupPackagesTotalCount : medicalCheckupPackageSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="medicalCheckupPackagesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(medicalCheckupPackagesData,medicalCheckupPackageSelection) "
              [checked]=" tcUtilsArray.isAllSelected(medicalCheckupPackagesData,medicalCheckupPackageSelection) || medicalCheckupPackageSelectAll"
              [indeterminate]="medicalCheckupPackageSelection.length <medicalCheckupPackagesData.length && medicalCheckupPackageSelection.length>0"
              [disabled]="medicalCheckupPackageSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="medicalCheckupPackageSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #medicalCheckupPackageSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="medicalCheckupPackageSelectAll=true;" [disabled]="medicalCheckupPackageSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="medicalCheckupPackageSelectAll = false;" [disabled]="!medicalCheckupPackageSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(medicalCheckupPackageSelection,row) : null"
              [checked]="tcUtilsArray.contains(medicalCheckupPackageSelection,row) || medicalCheckupPackageSelectAll" [disabled]="medicalCheckupPackageSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="medicalCheckupPackageNavigator.medicalCheckupPackageUrl(element.id)" class="tc-link">
            {{element.name}}
            </a>
        </mat-cell>
        </ng-container>
    <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>price
          </mat-header-cell>
          <mat-cell *matCellDef="let element">            {{tcUtilsumber.convertToDecimalPlaces(element.price)}}          </mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="medicalCheckupPackageNavigator.medicalCheckupPackageUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('medical_checkup_packages') || tcAuthorization.canDelete('medical_checkup_packages')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editMedicalCheckupPackage(element)" *ngIf="tcAuthorization.canUpdate('medical_checkup_packages') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMedicalCheckupPackage(element)" *ngIf="tcAuthorization.canDelete('medical_checkup_packages')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="medicalCheckupPackagesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: medicalCheckupPackagesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(medicalCheckupPackageSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="medicalCheckupPackagesTotalCount"
        [ngStyle]="{display: medicalCheckupPackagesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  