
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fas" fontIcon="fa-book-dead"></mat-icon>
    {{appTranslation.getText("patient", "deaths")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchDeaths();" *ngIf="tcAuthorization.canRead('deaths')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addDeath();" *ngIf="tcAuthorization.canCreate('deaths') && form_encounterPersist.encounter_is_active" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>

  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="false"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>

<div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="deathsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="deathPersist.deathSearchText" matSuffix mat-icon-button aria-label="Clear"
                (click)="deathsSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="tc-loading" *ngIf="deathsIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let death of deathsData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title>
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('deaths') || tcAuthorization.canDelete('deaths')) && form_encounterPersist.encounter_is_active">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <button mat-menu-item (click)="editDeath(death)" *ngIf="tcAuthorization.canUpdate('deaths') && form_encounterPersist.encounter_is_active">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                    </button>
                                                                                    <button mat-menu-item (click)="deleteDeath(death) " *ngIf="tcAuthorization.canDelete('deaths') && form_encounterPersist.encounter_is_active">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
                    <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','patient')}}</span>
            {{getPatientName(death.patient_id)}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','date_of_death')}}</span>
             {{ tcUtilsDate.toDate(death.date_of_death  ) | date:'MMM dd, yyyy. h:mm a'}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','is_maternal')}}</span>
            <mat-icon *ngIf="death.is_maternal" fontSet="fa" fontIcon="fa-check "></mat-icon>
            <mat-icon *ngIf="!death.is_maternal">close</mat-icon>
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','death_condition')}}</span>
            {{death.death_condition}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','is_post_operation')}}</span>
            <mat-icon *ngIf="death.is_post_operation" fontSet="fa" fontIcon="fa-check "></mat-icon>
            <mat-icon *ngIf="!death.is_post_operation">close</mat-icon>
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','is_familly_aware')}}</span>
             <mat-icon *ngIf="death.is_familly_aware" fontSet="fa" fontIcon="fa-check "></mat-icon>
            <mat-icon *ngIf="!death.is_familly_aware">close</mat-icon>
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','is_brought_dead')}}</span>
            <mat-icon *ngIf="death.is_brought_dead" fontSet="fa" fontIcon="fa-check "></mat-icon>
            <mat-icon *ngIf="!death.is_brought_dead">close</mat-icon>    
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','doctor_name')}}</span>
            {{death.doctor_id}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','primay_cause_of_death')}}</span>
            
            <a [routerLink]="deathNavigator.deathUrl(death.id)"
                                                                    class="tc-link">{{death.primay_cause_of_death}}</a>
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','secondary_cause_of_death')}}</span>
            {{death.secondary_cause_of_death}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','other_co_morbidities')}}</span>
            {{death.other_co_morbidities}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="deathsSelection.length >0 || deathsSelectAll">
                  <button mat-button (click)="downloadDeaths()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{deathsSelectAll ? deathsTotalCount : deathsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="deathsData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(deathsData,deathsSelection) "
                [checked]=" tcUtilsArray.isAllSelected(deathsData,deathsSelection) || deathsSelectAll"
                [indeterminate]="deathsSelection.length <deathsData.length && deathsSelection.length>0"
                [disabled]="deathsSelectAll">
              </mat-checkbox>
              
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="deathsSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #deathsSelectAllMenu="matMenu">
    
    
                <button mat-menu-item
                        (click)="deathsSelectAll=true;"
                        [disabled]="deathsSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="deathsSelectAll = false;"
                        [disabled]="!deathsSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(deathsSelection,row) : null"
                            [checked]="tcUtilsArray.contains(deathsSelection,row) || deathsSelectAll"
                            [disabled]="deathsSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                         

                      </mat-cell>
                    </ng-container>

          <ng-container matColumnDef="patient_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <a>
                                  {{getPatientName(element.patient_id)}}
                                </a>
                                </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="date_of_death">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','date_of_death')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  {{ tcUtilsDate.toDate(element.date_of_death  ) | date:'MMM dd, yyyy. h:mm a'}}
                                </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="is_maternal">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','is_maternal')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <mat-icon *ngIf="element.is_maternal" fontSet="fa" fontIcon="fa-check "></mat-icon>
                                  <mat-icon *ngIf="!element.is_maternal">close</mat-icon>
                                </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="death_condition">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','death_condition')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.death_condition}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="is_post_operation">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','is_post_operation')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <mat-icon *ngIf="element.is_post_operation" fontSet="fa" fontIcon="fa-check "></mat-icon>
                                  <mat-icon *ngIf="!element.is_post_operation">close</mat-icon>
                                </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="is_familly_aware">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','is_familly_aware')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <mat-icon *ngIf="element.is_familly_aware" fontSet="fa" fontIcon="fa-check "></mat-icon>
                                  <mat-icon *ngIf="!element.is_familly_aware">close</mat-icon>
                                 </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="is_brought_dead">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','is_brought_dead')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <mat-icon *ngIf="element.is_brought_dead" fontSet="fa" fontIcon="fa-check "></mat-icon>
                                  <mat-icon *ngIf="!element.is_brought_dead">close</mat-icon>
                                </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="doctor_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','doctor_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{getDoctorName(element.doctor_id)}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="primay_cause_of_death">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','primay_cause_of_death')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  <a [routerLink]="deathNavigator.deathUrl(element.id)"
                                  class="tc-link">{{element.primay_cause_of_death}}</a>
                                   </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="secondary_cause_of_death">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','secondary_cause_of_death')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.secondary_cause_of_death}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="other_co_morbidities">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','other_co_morbidities')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.other_co_morbidities}}</mat-cell>
                             </ng-container>
                          

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('deaths') || tcAuthorization.canDelete('deaths')) && form_encounterPersist.encounter_is_active">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editDeath(element)" *ngIf="tcAuthorization.canUpdate('deaths')  && form_encounterPersist.encounter_is_active">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteDeath(element)" *ngIf="tcAuthorization.canDelete('deaths') && form_encounterPersist.encounter_is_active">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="deathsDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: deathsDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(deathsSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="deathsTotalCount"
                       [ngStyle]="{display: deathsTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>


