<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-flask"></mat-icon>
    Rad Order
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchOrderss();" *ngIf="tcAuthorization.canRead('radiology_orders')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>

</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="orderssSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="ordersPersist.radOrderSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
      (click)="orderssSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="ordersPersist.radOrderSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchOrderss()">
      <mat-option *ngFor="let etype of radOrderFilterColumn" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("procedure", "order_status")}}'
                [(value)]="ordersPersist.radOrderSearchHistory.order_status"
                (valueChange)="searchOrderss()">
      <mat-option *ngFor="let status of ordersPersist.OrderStatus" [value]="status.id">
        {{ appTranslation.getText("procedure", status.name) }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='ordersPersist.radOrderSearchHistory.order_status' matSuffix mat-icon-button
            aria-label="Clear"
            (click)="ordersPersist.radOrderSearchHistory.order_status = null;searchOrderss();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        '{{appTranslation.getText("general", "start_date")}}'
      [formControl]="startDateTextField"
      [matDatepicker]="date_of_schedule"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="date_of_schedule"
    ></mat-datepicker-toggle>
    <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
    <button mat-button *ngIf="startDateTextField.value" matSuffix mat-icon-button
    aria-label="Clear" (click)="startDateTextField.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        '{{appTranslation.getText("general", "end_date")}}'
      [formControl]="endDateTextField"
      [matDatepicker]="date_of_schedule_end"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="date_of_schedule_end"
    ></mat-datepicker-toggle>
    <mat-datepicker #date_of_schedule_end disabled="false"></mat-datepicker>
    <button mat-button *ngIf="endDateTextField.value" matSuffix mat-icon-button
    aria-label="Clear" (click)="endDateTextField.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label> Order Name </mat-label>
    <input matInput disabled [(ngModel)]="ordersPersist.radOrderSearchHistory.rad_order_name" />
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchLabOrder()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="ordersPersist.radOrderSearchHistory.rad_order_id" matSuffix mat-icon-button aria-label="Clear"
    (click)="ordersPersist.radOrderSearchHistory.rad_order_id = null; ordersPersist.radOrderSearchHistory.rad_order_name = ''; searchOrderss()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="orderssIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let orders of orderssData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <a *ngIf="user_id == orders.to_be_resulted_by || orders.to_be_resulted_by == tcUtilsString.invalid_id" [routerLink]="ordersNavigator.radOrdersUrl(orders.id)" class="tc-link">{{orders.patient_name}}</a>
          <p *ngIf="user_id != orders.to_be_resulted_by && orders.to_be_resulted_by != tcUtilsString.invalid_id">{{orders.patient_name}}</p>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('orderss') || tcAuthorization.canDelete('orderss')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">


          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('schedule','date')}}</span>
          {{ tcUtilsDate.toDate(orders.created_at)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('procedure','total_order')}}</span>
          {{orders.total_order}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('procedure','completed')}}</span>
          {{orders.completed}}
        </div>
        <div class="tc-detail-field">
          <span [ngStyle]="orders.rejected ? {'color': 'red'}: ''">{{appTranslation.getText('procedure','rejected')}}</span>
          {{orders.rejected}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('procedure','completed')}}</span>
          {{orders.completed}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('employee','doctor')}}</span>
          {{getDoctor(orders.provider_id)}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('patient','urgency')}}</span>
          {{appTranslation.getText("patient", tcUtilsArray.getEnum(ordersPersist.lab_urgency, orders.urgency)?.name)}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('procedure','future_date')}}</span>
          {{orders.order_type}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="orderssSelection.length >0 || orderssSelectAll">
      <button mat-button (click)="downloadOrderss()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{orderssSelectAll ? orderssTotalCount : orderssSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="orderssData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(orderssData,orderssSelection) "
            [checked]=" tcUtilsArray.isAllSelected(orderssData,orderssSelection) || orderssSelectAll"
            [indeterminate]="orderssSelection.length <orderssData.length && orderssSelection.length>0"
            [disabled]="orderssSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="orderssSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #orderssSelectAllMenu="matMenu">


            <button mat-menu-item (click)="orderssSelectAll=true;" [disabled]="orderssSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="orderssSelectAll = false;" [disabled]="!orderssSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(orderssSelection,row) : null"
            [checked]="tcUtilsArray.contains(orderssSelection,row) || orderssSelectAll" [disabled]="orderssSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="p.pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pid</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pid}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('radiology_orders') || tcAuthorization.canDelete('radiology_orders'))">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="generateSampleId(element)" *ngIf="tcAuthorization.canUpdate('radiology_orders') &&  !element.generated_sample_id">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("procedure", "generated_sample_id")}} </span>
            </button>
            <button mat-menu-item (click)="pringOrder(element)" *ngIf="tcAuthorization.canRead('radiology_orders')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>Print Order</span>
            </button>
            <button mat-menu-item (click)="printResult(element)" *ngIf="tcAuthorization.canRead('radiology_orders') && element.completed">
              <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
              <span>{{appTranslation.getText("procedure", "print_result")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="generated_sample_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','generated_sample_id')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.generated_sample_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText('patient','patient')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a *ngIf="!element.to_be_resulted_by || user_id == element.to_be_resulted_by || element.to_be_resulted_by == tcUtilsString.invalid_id" [routerLink]="ordersNavigator.radOrdersUrl(element.id)" [style.color]="getPatientStatus(element) + '!important'" class="tc-link">{{element.patient_name}}</a>
          <p *ngIf="element.to_be_resulted_by && user_id != element.to_be_resulted_by && element.to_be_resulted_by != tcUtilsString.invalid_id">{{element.patient_name}}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="future_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.future_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="total_order">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','total_order')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.total_order}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="completed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','completed')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.completed}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="rejected">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','rejected')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngStyle]="element.rejected ? {'color': 'red'}: ''">{{element.rejected}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>service type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(encounterPersist.serviceType, element.patient_type)?.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="requested">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','requested')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.requested}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="provider_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('employee','doctor')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{getDoctor(element.provider_id)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="urgency">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','urgency')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{appTranslation.getText("patient", tcUtilsArray.getEnum(ordersPersist.lab_urgency, element.urgency).name)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="total_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','total_price')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="paid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','paid')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="element.paid"></mat-icon>
            <mat-icon fontSet="fa" fontIcon="fa-times" *ngIf="!element.paid"></mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','order_status')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{appTranslation.getText("procedure", tcUtilsArray.getEnum(ordersPersist.lab_order_status, element.order_status).name)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','username')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','order_type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{appTranslation.getText("procedure", tcUtilsArray.getEnum(ordersPersist.lab_order_type, element.order_type).name)}}</mat-cell>
      </ng-container>





      <mat-header-row *matHeaderRowDef="orderssDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: orderssDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(orderssSelection,row)}"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                                         [pageSize]="tcUtilsArray.defaultPageSize"
                                         [length]="orderssTotalCount"
                                         [ngStyle]="{display: orderssTotalCount > 0? '':'none'}"></mat-paginator>

  </div>
</div>
