
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-id-badge"></mat-icon>
   {{appTranslation.getText('patient', 'driver_medical_certificate')}}  </h3>
  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)="searchDriver_medical_certificates();" *ngIf="tcAuthorization.canRead('driver_medical_certificates')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)="addDriver_medical_certificate();" *ngIf="tcAuthorization.canCreate('driver_medical_certificates') && form_encounterPersist.encounter_is_active" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="false"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="driverMedicalCertificateSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="driverMedicalCertificatePersist.driverMedicalCertificateSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="driverMedicalCertificateSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="driverMedicalCertificateIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let driver_medical_certificate of driverMedicalCertificatesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('driver_medical_certificates') || tcAuthorization.canDelete('driver_medical_certificates')) && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editDriverMedicalCertificate(driver_medical_certificate)" *ngIf="tcAuthorization.canUpdate('driver_medical_certificates') && form_encounterPersist.encounter_is_active">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDriverMedicalCertificate(driver_medical_certificate)" *ngIf="tcAuthorization.canDelete('driver_medical_certificates') && form_encounterPersist.encounter_is_active">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', 'patient_name')}}</span>
              {{driver_medical_certificate.patient_name}}
            </div>
          <div class="tc-detail-field">
          <span>{{appTranslation.getText('patient', 'doctor_name')}}</span>
         {{driver_medical_certificate.doctor_name}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('patient', 'driver_license_type')}}</span>
          {{appTranslation.getText('patient', tcUtilsArray.getById(driverMedicalCertificatePersist.DriverLicenseType, driver_medical_certificate.status)?.name)}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'date')}}</span>
          {{tcUtilsDate.toDate(driver_medical_certificate.date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="driverMedicalCertificateSelection.length >0 || driverMedicalCertificateSelectAll">
      <button mat-button (click)="downloadDriverMedicalCertificates()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{driverMedicalCertificateSelectAll ? driverMedicalCertificatesTotalCount : driverMedicalCertificateSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar>
    <mat-table [dataSource]="driverMedicalCertificatesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(driverMedicalCertificatesData,driverMedicalCertificateSelection) "
            [checked]=" tcUtilsArray.isAllSelected(driverMedicalCertificatesData,driverMedicalCertificateSelection) || driverMedicalCertificateSelectAll"
            [indeterminate]="driverMedicalCertificateSelection.length <driverMedicalCertificatesData.length && driverMedicalCertificateSelection.length>0"
            [disabled]="driverMedicalCertificateSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="driverMedicalCertificateSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #driverMedicalCertificateSelectAllMenu="matMenu">

            <button mat-menu-item (click)="driverMedicalCertificateSelectAll=true;" [disabled]="driverMedicalCertificateSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="driverMedicalCertificateSelectAll = false;" [disabled]="!driverMedicalCertificateSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(driverMedicalCertificateSelection,row) : null"
            [checked]="tcUtilsArray.contains(driverMedicalCertificateSelection,row) || driverMedicalCertificateSelectAll" [disabled]="driverMedicalCertificateSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'patient_name')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
         {{element.patient_name}}
        </mat-cell>
      </ng-container>
  <ng-container matColumnDef="doctor_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'doctor_name')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.doctor_name}}
        </mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'driver_license_type')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{appTranslation.getText('patient', tcUtilsArray.getById(driverMedicalCertificatePersist.DriverLicenseType, element.status)?.name)}}
      </mat-cell>
      </ng-container>
  <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general', 'date')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><a [routerLink]="driverMedicalCertificateNavigator.driver_medical_certificateUrl(element.id)" class="tc-link">{{tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}</a></mat-cell>
      </ng-container>
<ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('driver_medical_certificates') || tcAuthorization.canDelete('driver_medical_certificates')) && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editDriverMedicalCertificate(element)" *ngIf="tcAuthorization.canUpdate('driver_medical_certificates')  && form_encounterPersist.encounter_is_active ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDriverMedicalCertificate(element)" *ngIf="tcAuthorization.canDelete('driver_medical_certificates') && form_encounterPersist.encounter_is_active">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="driverMedicalCertificatesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: driverMedicalCertificatesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(driverMedicalCertificateSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="driverMedicalCertificatesTotalCount"
      [ngStyle]="{display: driverMedicalCertificatesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
