

            <div class="tc-loading" *ngIf="radiologyResultSettingsIsLoading">
                    <mat-spinner></mat-spinner>
            </div>

            <div [ngClass]="activeTab==RadiologyResultSettingsTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                </mat-toolbar>

                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>

                                        <div *ngIf="!radiologyResultSettingsIsLoading">
                                          <p>Techinque</p>
                                          <ckeditor [editor]="Editor" [config]="{placeholder: 'Technical Summary', toolbar: []}" [disabled]="true" #editor [(ngModel)]="radiologyResultSettingsDetail.technique"></ckeditor>
                                          <p>Description</p>
                                          <ckeditor [editor]="Editor" [config]="{placeholder: 'Description', toolbar: []}" [disabled]="true" [(ngModel)]="radiologyResultSettingsDetail.finding"></ckeditor>
                                          <p>Conclusion</p>
                                          <ckeditor [editor]="Editor" [config]="{placeholder: 'Conclusion', toolbar: []}" [disabled]="true" [(ngModel)]="radiologyResultSettingsDetail.conclusion"></ckeditor>
                                          <p>Recommendation</p>
                                          <ckeditor [editor]="Editor" [config]="{placeholder: 'Recommendation', toolbar: []}" [disabled]="true" [(ngModel)]="radiologyResultSettingsDetail.recommendation"></ckeditor>
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editRadiologyResultSettings()" *ngIf="tcAuthorization.canUpdate('radiology_result_settings') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>

                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>

            </div>



