<mat-sidenav-container style="height: 100vh">
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
               class="tc-sidebar mat-elevation-z8">
    <div class="tc-sidebar-inner">
      <img src="assets/images/eHealthBlueBG.png" class="logo" alt="eTech">      <!-- <mat-divider></mat-divider> -->


      <div class="tc-padding" *ngIf="!patientLoading">
        <h1 class="mat-h1 tc-dashboard-block-header "> {{fullName(patientdetail)}} </h1>
        <span class="tc-dashboard-block-header-description">{{patientdetail.email}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == profileTab.overview? 'tc-list-item-focus':''"
                       (click)="activeTab = profileTab.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>

        <mat-list-item [ngClass]="activeTab == profileTab.appointment? 'tc-list-item-focus':''"
                       (click)="activeTab = profileTab.appointment;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-calendar"></mat-icon>
            {{appTranslation.getText("patient", "appointment")}}
          </a>
        </mat-list-item>


        <mat-list-item
          (click)="comingSoon()">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-comment"></mat-icon>
            {{appTranslation.getText("patient", "messages")}}
          </a>
        </mat-list-item>


      </mat-nav-list>
      <div class="tc-sidebar-actions">
        <button mat-raised-button (click)="requestGeneral()" [disabled]="patientdetail.has_general_case_open">
          <mat-icon fontSet="fa" fontIcon="fa-paper-plane"></mat-icon>
          {{appTranslation.getText("case", "submit_request")}}
        </button>

        <button mat-raised-button (click)="requestAppointment()" [disabled]="patientdetail.has_appointment_case_open">
          <mat-icon fontSet="fa" fontIcon="fa-caret-right"></mat-icon>
          {{appTranslation.getText("schedule", "schedule_appointment")}}
        </button>


        <button mat-button>
          <mat-icon fontSet="fa" fontIcon="fa-globe"></mat-icon>
          <mat-select placeholder="{{appTranslation.getText('general','language')}}"
                      [(value)]="TCAppInit.userInfo.lang" (selectionChange)="languageChanged()"
                      style="width:5em;">

            <mat-option *ngFor="let lang of appTranslation.languages" [value]="lang.code">

              {{lang.name}}
            </mat-option>
          </mat-select>
        </button>
      </div>
    </div>


  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>
      <mat-toolbar-row class="tc-primary-header mat-elevation-z8">
        <span style="color:#fff" *ngIf="!tcUtilsAngular.smallDevice">{{title}}</span>
        <button mat-icon-button *ngIf="tcUtilsAngular.smallDevice" (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">
            menu
          </mat-icon>
          <mat-icon *ngIf="sidenav.opened">
            close
          </mat-icon>
        </button>
        <button mat-button (click)="tcNavigator.home()" style="padding-left:0px;" *ngIf="tcUtilsAngular.smallDevice">
          <img src="assets/images/logo.png" style="height: 50px;"/>
          {{title}}
        </button>
        <div class="tc-flex-fill"></div>


        <button mat-button [matMenuTriggerFor]="profileMenu">
          <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon>
          {{TCAppInit.userInfo.name}}<i class="material-icons">arrow_drop_down</i>

        </button>
        <mat-menu #profileMenu="matMenu">

          <button mat-menu-item (click)="activeTab = profileTab.profile;" *ngIf="tcAuthorization.tosAccepted()">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>lock</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

      </mat-toolbar-row>

    </mat-toolbar>

    <div class="tc-loading" *ngIf="patientLoading">
      <mat-spinner></mat-spinner>
    </div>


    <div [ngClass]="activeTab==profileTab.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" loadDetails(patientdetail.id)" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>


        <button mat-icon-button [matMenuTriggerFor]="elementMenu" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v"></mat-icon>
        </button>
        <mat-menu #elementMenu="matMenu">

          <button mat-menu-item (click)="requestGeneral()" [disabled]="patientdetail.has_general_case_open">
            <mat-icon fontSet="fa" fontIcon="fa-paper-plane"></mat-icon>
            {{appTranslation.getText("case", "submit_request")}}
          </button>

        </mat-menu>


      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{appTranslation.getText("general", "basicdetails")}}
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <div *ngIf="!patientLoading">
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'name')}} </span>
                    {{fullName(patientdetail)}}
                  </p>
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'birthdate')}} </span>
                    {{tcUtilsDate.toDate(patientdetail.dob)|date:'MMM dd, yyyy. h:mm a'}}
                  </p>
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'gender')}} </span>
                    {{patientdetail.sex ? appTranslation.getText('general', 'male') : appTranslation.getText('general', 'female')}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{ appTranslation.getText("general", "email") }} </span>
                    {{ patientdetail.email }}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{ appTranslation.getText("general", "telephone") }}</span>
                    {{ patientdetail.phone_cell }}
                  </p>


                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

      </div>

    </div>


    <div [ngClass]="activeTab==profileTab.profile? '':'tc-hidden'">
      <app-profile></app-profile>
    </div>


    <div [ngClass]="activeTab==profileTab.appointment? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-calendar"></mat-icon>
          {{appTranslation.getText("patient", "appointment")}}
        </h1>

        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="getPatientSelfSchedule()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>


      </mat-toolbar>
      <div class="tc-padding">


        <div class="tc-padding">
          <mat-form-field>
            <input
              matInput
              placeholder=
                '{{appTranslation.getText("general", "date")}}'
              [(ngModel)]="dateSearchBox"
              (ngModelChange)="resetFields(true, false, false);getPatientSelfSchedule()"
              [matDatepicker]="date_of_schedule"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="date_of_schedule"
            ></mat-datepicker-toggle>
            <mat-datepicker #date_of_schedule></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder=' {{appTranslation.getText("general", "type")}}'
                        [(value)]="appointmentPersist.appointmentSearchHistory.schedule_type"
                        (selectionChange)="resetFields(false, true,false);getPatientSelfSchedule()">
              <mat-option *ngFor="let etype of appointmentPersist.schedule_type" [value]="etype.id">
                {{appTranslation.getTextByIdentifier(etype.name)}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field>
            <mat-select placeholder=' {{appTranslation.getText("case", "closed")}}'
                        [(value)]="appointmentPersist.closed"
                        (selectionChange)="resetFields(false, false,true);getPatientSelfSchedule()">
              <mat-option [value]="-1">
                {{appTranslation.getText("general", "yes")}}
              </mat-option>
              <mat-option [value]="1">
                {{appTranslation.getText("general", "no")}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="tc-table-container tc-full-stretch">


            <mat-table [dataSource]="patientsAppointmentSummary" matSort>

              <ng-container matColumnDef="schedule_type">
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{appTranslation.getText("schedule", "schedule_type")}}</mat-header-cell>
                <mat-cell
                  *matCellDef="let element">{{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(appointmentPersist.schedule_type, element.schedule_type)?.name) }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="scheduled_user_id">
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{appTranslation.getText("schedule", "scheduler")}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ getDoctorFullName(element.scheduler_user_id) }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="schedule_start_time">
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{appTranslation.getText("schedule", "start_time")}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.schedule_start_time | date:'h:mm a'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="schedule_end_time">
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{appTranslation.getText("schedule", "end_time")}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.schedule_end_time | date:'h:mm a'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="closed">
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{appTranslation.getText("schedule", "closed")}}</mat-header-cell>
                <mat-cell
                  *matCellDef="let element">{{element.closed ? appTranslation.getText("general", "yes") : appTranslation.getText("general", "no")  }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
              </ng-container>


              <mat-header-row
                *matHeaderRowDef="appointmentsDisplayedColumns; sticky: true; "></mat-header-row>
              <mat-row *matRowDef="let row; columns: appointmentsDisplayedColumns;"
              ></mat-row>

            </mat-table>


          </div>
        </div>
      </div>


    </div>

  </mat-sidenav-content>

</mat-sidenav-container>


