<h1 mat-dialog-title>ANC_Initial_Evaluation Selection</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="aNCInitialEvaluationSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="aNCInitialEvaluationPersist.aNCInitialEvaluationSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="aNCInitialEvaluationSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="aNCInitialEvaluationIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container tc-full-width">
    <mat-table
      [dataSource]="aNCInitialEvaluationsData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                aNCInitialEvaluationsData,
                aNCInitialEvaluationSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                aNCInitialEvaluationsData,
                aNCInitialEvaluationSelection
              ) || aNCInitialEvaluationSelectAll
            "
            [indeterminate]="
              aNCInitialEvaluationSelection.length <
                aNCInitialEvaluationsData.length &&
              aNCInitialEvaluationSelection.length > 0
            "
            [disabled]="aNCInitialEvaluationSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="aNCInitialEvaluationSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #aNCInitialEvaluationSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="aNCInitialEvaluationSelectAll = true"
              [disabled]="aNCInitialEvaluationSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="aNCInitialEvaluationSelectAll = false"
              [disabled]="!aNCInitialEvaluationSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(
                    aNCInitialEvaluationSelection,
                    row
                  )
                : null
            "
            [checked]="
              tcUtilsArray.contains(aNCInitialEvaluationSelection, row) ||
              aNCInitialEvaluationSelectAll
            "
            [disabled]="aNCInitialEvaluationSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Jaundice">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Jaundice
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Jaundice }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Genera">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Genera
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Genera }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Palor">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Palor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Palor }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="hiv_test_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >hiv_test_result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.hiv_test_result
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="heart_abnormality">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >heart_abnormality
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.heart_abnormality
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="chest_abnormality">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >chest_abnormality
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.chest_abnormality
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="cervica_lesion">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >cervica_lesion
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.cervica_lesion
        }}</mat-cell>
      </ng-container>
      <ng-container
        matColumnDef="danger_signs_in_pregnancy_and_delivery_adviced"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >danger_signs_in_pregnancy_and_delivery_adviced
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.danger_signs_in_pregnancy_and_delivery_adviced
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="vaginal_discharge">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >vaginal_discharge
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.vaginal_discharge
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="vulvar_ulcer">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >vulvar_ulcer
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.vulvar_ulcer
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="counseled_on_infant_feeding">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >counseled_on_infant_feeding
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.counseled_on_infant_feeding
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pelvic_mass">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >pelvic_mass
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.pelvic_mass }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="partner_HIV_test_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >partner_HIV_test_result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.partner_HIV_test_result
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="referred_for_care_treatment_and_support">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >referred_for_care_treatment_and_support
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.referred_for_care_treatment_and_support
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="uterine_size_wks">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >uterine_size_wks
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.uterine_size_wks
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mother_HIV_test_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >mother_HIV_test_result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.mother_HIV_test_result
        }}</mat-cell>
      </ng-container>
      <ng-container
        matColumnDef="HIV_test_result_recieved_with_post_test_counseling"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >HIV_test_result_recieved_with_post_test_counseling
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.HIV_test_result_recieved_with_post_test_counseling
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="birth_preparedness_adviced">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >birth_preparedness_adviced
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.birth_preparedness_adviced
        }}</mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="aNCInitialEvaluationsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: aNCInitialEvaluationsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(
            aNCInitialEvaluationSelection,
            row
          )
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="aNCInitialEvaluationsTotalCount"
      [ngStyle]="{ display: aNCInitialEvaluationsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="aNCInitialEvaluationSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
