<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="otherServicesDetail">

    <mat-form-field class="tc-full-stretch">
      <input matInput type="datetime-local" [(ngModel)]="start_time">
      <mat-label>{{appTranslation.getText('schedule', 'start_time')}}</mat-label>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input matInput type="datetime-local" [(ngModel)]="end_time">
      <mat-label>{{appTranslation.getText('schedule', 'end_time')}}</mat-label>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="Type" [(value)]="otherServicesDetail.oxygen_type" required>
        <mat-option *ngFor="let etype of feePersist.OxygenType" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
                      <!-- <mat-form-field class="tc-full-stretch" >
                        <mat-select
                          placeholder="{{appTranslation.getText('financial', 'vat_status')}}"
                          [(value)]="otherServicesDetail.vat_status"
                          required>
                          <mat-option *ngFor="let etype of feePersist.VatStatus" [value]="etype.id">
                           {{appTranslation.getText('financial',etype.name)}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field> -->
                      </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="onAdd()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
