
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-diagnoses"></mat-icon>
    {{appTranslation.getText('patient', 'diagnosis')}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchDiagnosiss();" *ngIf="tcAuthorization.canRead('diagnosiss')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addDiagnosis();" *ngIf="tcAuthorization.canCreate('diagnosiss') && edit && isActive" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="diagnosissSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="diagnosisPersist.diagnosisSearchText" matSuffix mat-icon-button aria-label="Clear"
                (click)="diagnosissSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder=
            '{{appTranslation.getText("general", "date")}}'
          [formControl]="date"
          [matDatepicker]="date_of_schedule"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="date_of_schedule"
        ></mat-datepicker-toggle>
        <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
        <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button
          aria-label="Clear" (click)="date.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nurse</mat-label>
        <input
          matInput
          placeholder="Nurse"
          type="text"
          disabled
          [(ngModel)]="nurseName"
          required
        >
        <button
          mat-icon-button
          matTooltip="Nurse"
          matSuffix
          color="primary"
          (click)="searchNurses()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf="nurseName" matSuffix mat-icon-button aria-label="Clear"
      (click)="nurseName = null; diagnosisPersist.nurse_id=null; searchDiagnosiss()">
      <mat-icon>close</mat-icon>
      </button>
      </mat-form-field>

      <div class="tc-loading" *ngIf="diagnosissIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let diagnosis of diagnosissData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title>
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('diagnosiss') || tcAuthorization.canDelete('diagnosiss')&&edit && isActive">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <button mat-menu-item (click)="editDiagnosis(diagnosis)" *ngIf="tcAuthorization.canUpdate('diagnosiss')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                    </button>
                                                                                    <button mat-menu-item (click)="deleteDiagnosis(diagnosis)" *ngIf="tcAuthorization.canDelete('diagnosiss')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
                    <div class="tc-detail-field">
            <span>Disease {{appTranslation.getText('general','name')}}</span>
            {{diagnosis.name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','order')}}</span>
            {{
              appTranslation.getText("procedure", tcUtilsArray.getEnum(diagnosisPersist.diagnosis_order, diagnosis.diagnosis_order)?.name)  
              }}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','certainity')}}</span>
            {{
              appTranslation.getText("procedure", tcUtilsArray.getEnum(diagnosisPersist.diagnosis_certainty, diagnosis.certainity)?.name)  
              }}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','status')}}</span>
            {{
              appTranslation.getText("bed", tcUtilsArray.getEnum(diagnosisPersist.diagnosis_status, diagnosis.status)?.name)  
              }}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('notes','note')}}</span>
            {{diagnosis.note}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('schedule','date')}}</span>
            {{tcUtilsDate.toDate(diagnosis.date)|date:'MMM dd, yyyy. h:mm a'}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="diagnosissSelection.length >0 || diagnosissSelectAll">
                  <button mat-button (click)="downloadDiagnosiss()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{diagnosissSelectAll ? diagnosissTotalCount : diagnosissSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="diagnosissData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(diagnosissData,diagnosissSelection) "
                [checked]=" tcUtilsArray.isAllSelected(diagnosissData,diagnosissSelection) || diagnosissSelectAll"
                [indeterminate]="diagnosissSelection.length <diagnosissData.length && diagnosissSelection.length>0"
                [disabled]="diagnosissSelectAll">
              </mat-checkbox>
              
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="diagnosissSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #diagnosissSelectAllMenu="matMenu">
    
    
                <button mat-menu-item
                        (click)="diagnosissSelectAll=true;"
                        [disabled]="diagnosissSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="diagnosissSelectAll = false;"
                        [disabled]="!diagnosissSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(diagnosissSelection,row) : null"
                            [checked]="tcUtilsArray.contains(diagnosissSelection,row) || diagnosissSelectAll"
                            [disabled]="diagnosissSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Disease {{appTranslation.getText('general','name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="diagnosis_order">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','order')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{
                                appTranslation.getText("procedure", tcUtilsArray.getEnum(diagnosisPersist.diagnosis_order, element.diagnosis_order)?.name)  
                                }}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="certainity">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','certainity')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{
                                  appTranslation.getText("procedure", tcUtilsArray.getEnum(diagnosisPersist.diagnosis_certainty, element.certainity)?.name)  
                                  }}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','status')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{
                                  appTranslation.getText("bed", tcUtilsArray.getEnum(diagnosisPersist.diagnosis_status, element.status)?.name)  
                                  }}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="note">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('notes','note')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.note}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="nurse">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>nurse</mat-header-cell>
                              <mat-cell *matCellDef="let element">{{user[element.user_id]?.name}}</mat-cell>
                           </ng-container>
<ng-container matColumnDef="date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','date')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="occurance">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Occurance </mat-header-cell>
                              <mat-cell *matCellDef="let element">{{ tcUtilsArray.getEnum(diagnosisPersist.Occurance, element.occurance)?.name }}</mat-cell>
                           </ng-container>
                          

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('diagnosiss') || tcAuthorization.canDelete('diagnosiss')) && isActive">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editDiagnosis(element)" *ngIf="tcAuthorization.canUpdate('diagnosiss') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteDiagnosis(element)" *ngIf="tcAuthorization.canDelete('diagnosiss')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="diagnosissDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: diagnosissDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(diagnosissSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="diagnosissTotalCount"
                       [ngStyle]="{display: diagnosissTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>



