<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav
    #sidenav
    [mode]="tcUtilsAngular.sideNavMode"
    [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8"
    position="end"
  >
    <div class="tc-sidebar-inner">
      <div class="tc-padding" *ngIf="!case_transferLoading">
        <h1 class="mat-h1">{{ case_transferDetail.id }}</h1>
      </div>
      <mat-nav-list>
        <mat-list-item
          [ngClass]="
            activeTab == Case_TransferTabs.overview ? 'tc-list-item-focus' : ''
          "
          (click)="
            activeTab = Case_TransferTabs.overview;
            tcUtilsAngular.smallDevice ? sidenav.toggle() : false
          "
        >
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{ appTranslation.getText("general", "overview") }}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="case_transferLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="activeTab == Case_TransferTabs.overview ? '' : 'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </p>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ appTranslation.getText("general", "basicdetails") }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!case_transferLoading">
                  <p class="tc-detail-field">
                    <span>patient_id </span>
                    {{ case_transferDetail.patient_id }}
                  </p>

                  <p class="tc-detail-field">
                    <span>source_provider_id </span>
                    {{ case_transferDetail.source_provider_id }}
                  </p>

                  <p class="tc-detail-field">
                    <span>reciever_proider_id </span>
                    {{ case_transferDetail.reciever_proider_id }}
                  </p>

                  <p class="tc-detail-field">
                    <span>date </span>
                    {{ case_transferDetail.date }}
                  </p>

                  <p class="tc-detail-field">
                    <span>remark </span>
                    {{ case_transferDetail.remark }}
                  </p>

                  <p class="tc-detail-field">
                    <span>encounter </span>
                    {{ case_transferDetail.encounter }}
                  </p>
                </div>
                <mat-action-row>
                  <button
                    mat-button
                    (click)="editCase_Transfer()"
                    *ngIf="tcAuthorization.canUpdate('case_transfers')"
                  >
                    {{ appTranslation.getText("general", "edit") }}
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
