<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav-content>

    <div class="tc-loading" *ngIf="procedure_providerLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="activeTab==Procedure_ProviderTabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)=" reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{appTranslation.getText("general", "basicdetails")}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!procedure_providerLoading">
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'name')}} </span>
                    {{procedure_providerDetail.name}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('notes', 'note')}} </span>
                    {{procedure_providerDetail.notes}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('bed', 'active')}} </span>
                    <mat-icon *ngIf="!procedure_providerDetail.active">close</mat-icon>
                    <mat-icon *ngIf="procedure_providerDetail.active">check</mat-icon>
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('procedure', 'lab_type')}} </span>
                    {{procedure_providerDetail.type}}
                  </p>

                </div>
                <mat-action-row>
                  <button mat-button (click)="editProcedure_Provider()"
                          *ngIf="tcAuthorization.canUpdate('procedure_providers') ">
                    {{appTranslation.getText("general", "edit")}}
                  </button>
                </mat-action-row>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block">
        </div>
      </div>

    </div>

    <div *ngIf="activeTab == Procedure_ProviderTabs.pending_review" class="tc-full-width">
      <ng-container *ngIf="procedure_providerDetail">
        <app-pending-review [labId]="procedure_providerDetail.id"></app-pending-review>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



