<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="roomDetail">
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Room Number" type="text"  [(ngModel)]="roomDetail.room_no" required>
                          </mat-form-field>     
                          
                          
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>Search Ward</mat-label>
                            <input matInput disabled [(ngModel)]="wardName"/>
                            <button
                              mat-icon-button
                              matTooltip="Ward Name"
                              matSuffix
                             
                              color="primary"
                              (click)="assignWard()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>
    
                          
  
                          <mat-form-field class="tc-full-stretch">
                            <mat-select placeholder=' {{appTranslation.getText("general", "status")}}'
                                        [(value)]="roomDetail.status" required>
                              <mat-option *ngFor="let etype of persist.roomStatus" [value]="etype.id">
                                {{etype.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

   
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>