<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="presentPregnancyFollowUpDetail">

        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Vist" type="text"
                 value="{{persist.getLevel(presentPregnancyFollowUpDetail.visit_status)}}" disabled>
        </mat-form-field>

        <mat-form-field class="tc-full-stretch">
            <mat-label>Date of visit</mat-label>
            <input matInput [matDatepicker]="pat_date_of_visit" [(ngModel)]="date_of_visit">
            <mat-datepicker-toggle matSuffix [for]="pat_date_of_visit"></mat-datepicker-toggle>
            <mat-datepicker #pat_date_of_visit></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="tc-full-stretch" *ngIf="!isSecondary">
            <mat-label>Gestation Age</mat-label>
            <input matInput [matDatepicker]="pat_gestation_age" [(ngModel)]="gestation_age">
            <mat-datepicker-toggle matSuffix [for]="pat_gestation_age"></mat-datepicker-toggle>
            <mat-datepicker #pat_gestation_age></mat-datepicker>
        </mat-form-field>
        </div>
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Name and Signs of Health care Provider" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.name_and_signs_of_health_care_provider" required>
        </mat-form-field>

        <div class="tc-full-stretch tc-flex-row " style="justify-content: space-between;">
        <mat-form-field style="width:110px">
            <input matInput placeholder="SBP" type="number" [(ngModel)]="presentPregnancyFollowUpDetail.sbp">
        </mat-form-field><div style="align-self: center; font-weight: bold;">/</div>
        <mat-form-field style="width: 110px" >
            <input matInput placeholder="DBP" type="number" [(ngModel)]="presentPregnancyFollowUpDetail.dbp">
        </mat-form-field>
        </div>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Weight(wks)" type="number" [(ngModel)]="presentPregnancyFollowUpDetail.weight">
        </mat-form-field>
        </div>
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Pallor" type="text" [(ngModel)]="presentPregnancyFollowUpDetail.pallor">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Uterine height(wks)" type="number"
                [(ngModel)]="presentPregnancyFollowUpDetail.uterine_height">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Fatal heart beat" type="number"
                [(ngModel)]="presentPregnancyFollowUpDetail.fatal_heart_beat">
        </mat-form-field>
        </div>
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Presentation" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.presentation">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Urine test protein" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.urine_test_protein">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Repid syphilis test" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.repid_syphilis_test">
        </mat-form-field>
        </div>
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Hemoglobin" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.hemoglobin">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Blood Group and Rh" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.blood_group_and_rh">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="TT(dose)" type="number" [(ngModel)]="presentPregnancyFollowUpDetail.tt">
        </mat-form-field>
        </div>
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Iron/Folic add" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.iron_folic_add">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="HBsAg" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.mebendazole">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="HCV Ab" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.use_of_itn">
        </mat-form-field>
        </div>
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="ARV_Px(type)" type="text" [(ngModel)]="presentPregnancyFollowUpDetail.arv_px">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Remarks" type="text" [(ngModel)]="presentPregnancyFollowUpDetail.remarks">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Danger Signs identified and investigation" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.danger_signs_identified_and_investigation">
        </mat-form-field>
        </div>
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Action, Advice Counseling" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.action_advice_counseling">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Appointment for next Follow Up" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.appointment_for_next_follow_up">
        </mat-form-field>


        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Urine test for infection" type="text"
                [(ngModel)]="presentPregnancyFollowUpDetail.urine_test_for_infection">
        </mat-form-field>
        </div>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="(isNew()||isCase())? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>