
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     company_credit_service  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchCompanyCreditServices();" *ngIf="tcAuthorization.canRead('company_credit_services')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addCompanyCreditService();" *ngIf="tcAuthorization.canCreate('company_credit_services')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="companyCreditServiceSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="companyCreditServicePersist.companyCreditServiceSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="companyCreditServiceSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder='Credit Service For'
                  [(value)]="companyCreditServicePersist.creditServiceForFilter"
                  (valueChange)="searchCompanyCreditServices()">
        <mat-option *ngFor="let status of companyCreditServicePersist.CreditServiceFor" [value]="status.id">
          {{ status.name }}
        </mat-option>
      </mat-select>
    
      <button mat-button *ngIf='companyCreditServicePersist.creditServiceForFilter' matSuffix mat-icon-button
              aria-label="Clear"
              (click)="companyCreditServicePersist.creditServiceForFilter = null;searchCompanyCreditServices();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="companyCreditServiceIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let companyCreditService of companyCreditServicesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('company_credit_services') || tcAuthorization.canDelete('company_credit_services')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editCompanyCreditService(companyCreditService)" *ngIf="tcAuthorization.canUpdate('company_credit_services')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteCompanyCreditService(companyCreditService)" *ngIf="tcAuthorization.canDelete('company_credit_services')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>company_id</span>
            {{companyCreditService.company_id}}
          </div><div class="tc-detail-field">
            <span>service_type</span>
            {{companyCreditService.service_type}}
          </div><div class="tc-detail-field">
            <span>service_percent</span>
            {{companyCreditService.service_percent}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchCompanyCreditServices.length >0 || companyCreditServiceSelectAll">
        <button mat-button (click)="downloadCompanyCreditServices()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{companyCreditServiceSelectAll ? companyCreditServicesTotalCount : companyCreditServiceSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="companyCreditServicesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(companyCreditServicesData,companyCreditServiceSelection) "
              [checked]=" tcUtilsArray.isAllSelected(companyCreditServicesData,companyCreditServiceSelection) || companyCreditServiceSelectAll"
              [indeterminate]="companyCreditServiceSelection.length <companyCreditServicesData.length && companyCreditServiceSelection.length>0"
              [disabled]="companyCreditServiceSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="companyCreditServiceSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #companyCreditServiceSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="companyCreditServiceSelectAll=true;" [disabled]="companyCreditServiceSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="companyCreditServiceSelectAll = false;" [disabled]="!companyCreditServiceSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(companyCreditServiceSelection,row) : null"
              [checked]="tcUtilsArray.contains(companyCreditServiceSelection,row) || companyCreditServiceSelectAll" [disabled]="companyCreditServiceSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="company_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>company_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.company_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="service_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>service_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(feePersist.fee_type, element.service_type)?.name)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="credit_service_for">
          <mat-header-cell *matHeaderCellDef mat-sort-header>service for
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(companyCreditServicePersist.CreditServiceFor, element.credit_service_for)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="service_percent">
          <mat-header-cell *matHeaderCellDef mat-sort-header>service percent
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.service_percent}}%</mat-cell>
        </ng-container>
        <ng-container matColumnDef="discount_percent">
          <mat-header-cell *matHeaderCellDef mat-sort-header>discount percent
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.discount_percent}}%</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="companyCreditServiceNavigator.companyCreditServiceUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('company_credit_services') || tcAuthorization.canDelete('company_credit_services')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editCompanyCreditService(element)" *ngIf="tcAuthorization.canUpdate('company_credit_services') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteCompanyCreditService(element)" *ngIf="tcAuthorization.canDelete('company_credit_services')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="companyCreditServicesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: companyCreditServicesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(companyCreditServiceSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="companyCreditServicesTotalCount"
        [ngStyle]="{display: companyCreditServicesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  