<h1 mat-dialog-title>
    Vaccination Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="vaccinationsSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="vaccinationPersist.vaccinationSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="vaccinationsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="vaccinationsIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="vaccinationsData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(vaccinationsData,vaccinationsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(vaccinationsData,vaccinationsSelection)"
              [indeterminate]="vaccinationsSelection.length <vaccinationsData.length && vaccinationsSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="vaccinationsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{vaccinationsSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="vaccinationsSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(vaccinationsSelection,row) : null"
                          [checked]="tcUtilsArray.contains(vaccinationsSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(vaccinationsSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="duration_in_days">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>duration_in_days</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.duration_in_days}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="vaccinationsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: vaccinationsDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(vaccinationsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="vaccinationsTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" vaccinationsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  