
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     item_request  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchItem_requests();" *ngIf="tcAuthorization.canRead('item_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addItem_request();" *ngIf="tcAuthorization.canCreate('item_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="itemRequestSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="itemRequestPersist.itemRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemRequestSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="itemRequestPersist.store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="itemRequestPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemRequestPersist.store_id = null; itemRequestPersist.store_name = null ; searchItem_requests()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="itemRequestIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let itemRequest of itemRequestsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('item_requests') || tcAuthorization.canDelete('item_requests')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editItemRequest(itemRequest)" *ngIf="tcAuthorization.canUpdate('item_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteItemRequest(itemRequest)" *ngIf="tcAuthorization.canDelete('item_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>requestor_id</span>
            {{itemRequest.requestor_id}}
          </div><div class="tc-detail-field">
            <span>store_id</span>
            {{itemRequest.store_id}}
          </div><div class="tc-detail-field">
            <span>request_date</span>
            {{itemRequest.request_date}}
          </div><div class="tc-detail-field">
            <span>response_date</span>
            {{itemRequest.response_date}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{itemRequest.status}}
          </div><div class="tc-detail-field">
            <span>quantity</span>
            {{itemRequest.quantity}}
          </div><div class="tc-detail-field">
            <span>responsed_by</span>
            {{itemRequest.responsed_by}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchItem_requests.length >0 || itemRequestSelectAll">
        <button mat-button (click)="downloadItemRequests()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{itemRequestSelectAll ? itemRequestsTotalCount : itemRequestSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="itemRequestsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(itemRequestsData,itemRequestSelection) "
              [checked]=" tcUtilsArray.isAllSelected(itemRequestsData,itemRequestSelection) || itemRequestSelectAll"
              [indeterminate]="itemRequestSelection.length <itemRequestsData.length && itemRequestSelection.length>0"
              [disabled]="itemRequestSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemRequestSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #itemRequestSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="itemRequestSelectAll=true;" [disabled]="itemRequestSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="itemRequestSelectAll = false;" [disabled]="!itemRequestSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(itemRequestSelection,row) : null"
              [checked]="tcUtilsArray.contains(itemRequestSelection,row) || itemRequestSelectAll" [disabled]="itemRequestSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="requestor_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>requestor_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ user[element.requestor_id]?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="store_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>store_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{stores[element.store_id]?.name}}</mat-cell>
        </ng-container>
      
    <ng-container matColumnDef="item_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>item name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{items[element.item_id] && itemNavigator.itemName(items[element.item_id])}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="request_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>request_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.request_date && element.request_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="response_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>response_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.response_date && element.response_date * 1000 |date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.request_status, element.status)?.name)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="responsed_by">
          <mat-header-cell *matHeaderCellDef mat-sort-header>responsed_by
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{user[element.responsed_by]?.name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="itemRequestNavigator.item_requestUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('item_requests') || tcAuthorization.canDelete('item_requests')) && element.status != request_status.firstrejected && element.status != request_status.dispatched">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editItemRequest(element)" *ngIf="tcAuthorization.canUpdate('item_requests') && element.status == request_status.submitted ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="acceptItemRequest(element)" *ngIf="tcAuthorization.canUpdate('item_requests') && element.status == request_status.submitted && request_id ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>Accept </span>
              </button>
              <button mat-menu-item (click)="rejectItemRequest(element)" *ngIf="tcAuthorization.canUpdate('item_requests') && element.status == request_status.submitted  && request_id ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>rejected </span>
              </button>
              <button mat-menu-item (click)="acceptOrDispatchItems(element)" *ngIf="tcAuthorization.canUpdate('item_requests') && element.status == request_status.approved && request_id">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>Dispatch </span>
              </button>
              <button mat-menu-item (click)="deleteItemRequest(element)" *ngIf="tcAuthorization.canDelete('item_requests') && element.status == request_status.submitted">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="itemRequestsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemRequestsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemRequestSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemRequestsTotalCount"
        [ngStyle]="{display: itemRequestsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>