
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
   additional_service  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchAdditionalServices();" *ngIf="tcAuthorization.canRead('additional_services')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addAdditionalService();" *ngIf="tcAuthorization.canCreate('additional_services') && form_encounterPersist.encounter_is_active" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="true"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="additionalServiceSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="additionalServicePersist.additionalServiceSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="additionalServiceSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="additionalServiceIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let additionalService of additionalServicesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('additional_services') || tcAuthorization.canDelete('additional_services')) && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editAdditionalService(additionalService)" *ngIf="tcAuthorization.canUpdate('additional_services')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteAdditionalService(additionalService)" *ngIf="tcAuthorization.canDelete('additional_services')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>Ordered date</span>
          {{additionalService.ordered_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
        </div><div class="tc-detail-field">
          <span>Future date</span>
          {{additionalService.future_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
        </div><div class="tc-detail-field">
          <span>type</span>
          <a [routerLink]="additionalServiceNavigator.additionalServiceUrl(additionalService.id)" class="tc-link">
            {{tcUtilsArray.getEnum(additionalServicePersist.AdditionalServiceType, additionalService.type)?.name}}
          </a>
        </div><div class="tc-detail-field">
          <span>status</span>
          {{additionalService.status}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchAdditionalServices.length >0 || additionalServiceSelectAll">
      <button mat-button (click)="downloadAdditionalServices()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{additionalServiceSelectAll ? additionalServicesTotalCount : additionalServiceSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="additionalServicesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(additionalServicesData,additionalServiceSelection) "
            [checked]=" tcUtilsArray.isAllSelected(additionalServicesData,additionalServiceSelection) || additionalServiceSelectAll"
            [indeterminate]="additionalServiceSelection.length <additionalServicesData.length && additionalServiceSelection.length>0"
            [disabled]="additionalServiceSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="additionalServiceSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #additionalServiceSelectAllMenu="matMenu">

            <button mat-menu-item (click)="additionalServiceSelectAll=true;" [disabled]="additionalServiceSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="additionalServiceSelectAll = false;" [disabled]="!additionalServiceSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(additionalServiceSelection,row) : null"
            [checked]="tcUtilsArray.contains(additionalServiceSelection,row) || additionalServiceSelectAll" [disabled]="additionalServiceSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
  <ng-container matColumnDef="ordered_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ordered date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ordered_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="future_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Future date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.future_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="additionalServiceNavigator.additionalServiceUrl(element.id)" class="tc-link">
            {{tcUtilsArray.getEnum(additionalServicePersist.AdditionalServiceType, element.type)?.name}}
          </a>
          </mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="additionalServiceNavigator.additionalServiceUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('additional_services') || tcAuthorization.canDelete('additional_services')) && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editAdditionalService(element)" *ngIf="tcAuthorization.canUpdate('additional_services') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteAdditionalService(element)" *ngIf="tcAuthorization.canDelete('additional_services')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="additionalServicesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: additionalServicesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(additionalServiceSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="additionalServicesTotalCount"
      [ngStyle]="{display: additionalServicesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>