
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     pos_machine  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPos_machines();" *ngIf="tcAuthorization.canRead('pos_machines')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPos_machine();" *ngIf="tcAuthorization.canCreate('pos_machines')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="posMachineSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="posMachinePersist.posMachineSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="posMachineSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="posMachineIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let pos_machine of posMachinesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('pos_machines') || tcAuthorization.canDelete('pos_machines')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPosMachine(pos_machine)" *ngIf="tcAuthorization.canUpdate('pos_machines')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePosMachine(pos_machine)" *ngIf="tcAuthorization.canDelete('pos_machines')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>Name</span>
            {{pos_machine.Name}}
          </div><div class="tc-detail-field">
            <span>mrc</span>
            {{pos_machine.mrc}}
          </div><div class="tc-detail-field">
            <span>added_date</span>
            {{pos_machine.added_date * 1000 | date}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPos_machines.length >0 || posMachineSelectAll">
        <button mat-button (click)="downloadPosMachines()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{posMachineSelectAll ? posMachinesTotalCount : posMachineSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="posMachinesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(posMachinesData,posMachineSelection) "
              [checked]=" tcUtilsArray.isAllSelected(posMachinesData,posMachineSelection) || posMachineSelectAll"
              [indeterminate]="posMachineSelection.length <posMachinesData.length && posMachineSelection.length>0"
              [disabled]="posMachineSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="posMachineSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #posMachineSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="posMachineSelectAll=true;" [disabled]="posMachineSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="posMachineSelectAll = false;" [disabled]="!posMachineSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(posMachineSelection,row) : null"
              [checked]="tcUtilsArray.contains(posMachineSelection,row) || posMachineSelectAll" [disabled]="posMachineSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="mrc">
          <mat-header-cell *matHeaderCellDef mat-sort-header>mrc
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.mrc}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="added_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>added_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.added_date * 1000 | date}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="posMachineNavigator.pos_machineUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('pos_machines') || tcAuthorization.canDelete('pos_machines')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editPosMachine(element)" *ngIf="tcAuthorization.canUpdate('pos_machines') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePosMachine(element)" *ngIf="tcAuthorization.canDelete('pos_machines')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="posMachinesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: posMachinesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(posMachineSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="posMachinesTotalCount"
        [ngStyle]="{display: posMachinesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>