<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="machineTestDetail">

        <!-- <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="machine_id" type="text" [(ngModel)]="machineTestDetail.machine_id" required>
        </mat-form-field> -->
        <mat-form-field class="tc-full-stretch">
            <mat-label>{{
                appTranslation.getText("procedure", "laboratory_test")
                }}</mat-label>
            <input matInput disabled [(ngModel)]="lab_name" />
            <button mat-icon-button matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}" matSuffix color="primary" (click)="searchLabs()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="lab_code" type="text" [(ngModel)]="machineTestDetail.lab_code" required>
        </mat-form-field>
        <!-- <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="added_date" type="text" [(ngModel)]="machineTestDetail.added_date" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="added_by" type="text" [(ngModel)]="machineTestDetail.added_by" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="updated_date" type="text" [(ngModel)]="machineTestDetail.updated_date"
                required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="updated_by" type="text" [(ngModel)]="machineTestDetail.updated_by" required>
        </mat-form-field> -->
        <!-- <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="status" type="text" [(ngModel)]="machineTestDetail.status" required>
        </mat-form-field> -->
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>