<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="department_specialtyDetail">

    <mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="department_specialtyDetail.name" required>
    </mat-form-field>
    <h1 class="mat-headline">Price</h1>
    <mat-form-field *ngFor="let scheduleType of feePersist.scheduleType">
      <input matInput  placeholder="{{scheduleType.name}}" type="number"  [(ngModel)]="department_specialtyDetail.priceList[scheduleType.id]" required>
    </mat-form-field>

    <!-- <mat-form-field class="tc-full-stretch" >
      <mat-select
        placeholder="department"
        [(value)]="department_specialtyDetail.department"
        required>
        <mat-option *ngFor="let etype of persist.Department" [value]="etype.id">
         {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

  
    <!-- <mat-form-field class="tc-full-stretch">
      <mat-label>
        Search Linked Pharmacies</mat-label>
      <input matInput disabled [(ngModel)]="pharmacyName"/>
      <button
        mat-icon-button
       
        matSuffix
        
        color="primary"
        (click)="searchPharmacy()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field> -->



  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
