<h1 mat-dialog-title>
  {{appTranslation.getText('case','general_case')}}</h1>

<div mat-dialog-content>


  <h3 class="mat-h3 tc-section-header">{{appTranslation.getText("case","request")}} </h3>
  <div *ngIf="caseDetail" style="margin-bottom:20px;padding:5px 15px 15px 15px; background-color: #efefef"
       class="tc-multi-line-text">
    {{caseDetail.payload["request"]}}

  </div>

  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="caseDetail">
    <div *ngFor="let note of caseDetail.comments">
      <div *ngIf="!note.is_archived" class="tc-padding">
                          <span class="tc-date tc-text-muted">{{tcUtilsDate.toDate(note.comment_time)|date:'MMM dd, yyyy. h:mm a'}}
                            <span
                              *ngIf="tcUtilsArray.containsId(userPersist.userDisplays,note.commented_by)"> |  {{tcUtilsArray.getById(userPersist.userDisplays, note.commented_by).name}}   </span>
                           </span>
        <div class="tc-notice-text">{{note.comment_text }}</div>
      </div>
    </div>
  </div>

  <mat-form-field class="tc-full-width">
            <textarea matInput matTextareaAutosize matAutosizeMinRows=3 placeholder="{{appTranslation.getText('general','message')}}"
                      type="text" [(ngModel)]="msg" cdkFocusInitial></textarea>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>

    <button mat-button (click)="onClose()" [disabled]="!hasMessage()" *ngIf="!isSelf">{{appTranslation.getText("case", "close_case")}}</button>


  </div>

</div>


