
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-joomla"></mat-icon>
     item category  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchItemCategorys();" *ngIf="tcAuthorization.canRead('item_categorys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addItemCategory();" *ngIf="tcAuthorization.canCreate('item_categorys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="itemCategorySearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="itemCategoryPersist.itemCategorySearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemCategorySearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="itemCategoryIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let itemCategory of itemCategorysData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('item_categorys') || tcAuthorization.canDelete('item_categorys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editItemCategory(itemCategory)" *ngIf="tcAuthorization.canUpdate('item_categorys')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteItemCategory(itemCategory)" *ngIf="tcAuthorization.canDelete('item_categorys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>category</span>
            {{itemCategory.category_name}}
          </div><div class="tc-detail-field">
            <span>name</span>
            {{itemCategory.name}}
          </div><div class="tc-detail-field">
            <span>category</span>
            {{tcUtilsArray.getEnum(itemCategoryPersist.category, itemCategory.category)?.name}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchItemCategorys.length >0 || itemCategorySelectAll">
        <button mat-button (click)="downloadItemCategorys()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{itemCategorySelectAll ? itemCategorysTotalCount : itemCategorySelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="itemCategorysData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(itemCategorysData,itemCategorySelection) "
              [checked]=" tcUtilsArray.isAllSelected(itemCategorysData,itemCategorySelection) || itemCategorySelectAll"
              [indeterminate]="itemCategorySelection.length <itemCategorysData.length && itemCategorySelection.length>0"
              [disabled]="itemCategorySelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemCategorySelectAllMenu"></mat-icon>
            </button>
            <mat-menu #itemCategorySelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="itemCategorySelectAll=true;" [disabled]="itemCategorySelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="itemCategorySelectAll = false;" [disabled]="!itemCategorySelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(itemCategorySelection,row) : null"
              [checked]="tcUtilsArray.contains(itemCategorySelection,row) || itemCategorySelectAll" [disabled]="itemCategorySelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="category_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>category_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.category_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="itemCategoryNavigator.itemCategoryUrl(element.id)" *ngIf="element.category_id == tcUtilsString.invalid_id" class="tc-link">{{element.name}}</a>
            <span *ngIf="element.category_id != tcUtilsString.invalid_id">{{element.name}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="abbrivation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Abbrivation
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.abbrivation}}
          </mat-cell>
        </ng-container>
    <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header>category
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(itemCategoryPersist.category, element.category)?.name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="itemCategoryNavigator.itemCategoryUrl(element.id)" class="tc-link">{{element.id}}</a>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('item_categorys') || tcAuthorization.canDelete('item_categorys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editItemCategory(element)" *ngIf="tcAuthorization.canUpdate('item_categorys') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteItemCategory(element)" *ngIf="tcAuthorization.canDelete('item_categorys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="itemCategorysDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemCategorysDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemCategorySelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemCategorysTotalCount"
        [ngStyle]="{display: itemCategorysTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>