
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
     <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="patientDischargeIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==PatientDischargeTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!patientDischargeIsLoading">  <p class="tc-detail-field">
                                            {{appTranslation.getText("general","date")}}                            
  <span>{{tcUtilsDate.toDate(patientDischargeDetail.date)|date:'MMM dd, yyyy. h:mm a'}}</span> 
                                                         </p>
                            <p class="tc-detail-field">
                                {{appTranslation.getText("employee","department_specialty")}} 
    <span>  
    {{tcUtilsArray.getById(specialities, patientDischargeDetail.speciality)?.name}}
     </span> 
                                                         </p>
                            <p class="tc-detail-field">
                                {{appTranslation.getText("bed_no","bed_no")}}
      <span>  
      {{tcUtilsArray.getById(beds, patientDischargeDetail.bed_no)?.serial_id}}
     </span> 
                                                         </p>
                            <p class="tc-detail-field">
                                {{appTranslation.getText("patient","date_of_admission")}}
                      
  <span>  
      {{tcUtilsDate.toDate(patientDischargeDetail.date_of_admission)|date:'MMM dd, yyyy. h:mm a'}}

  </span> 
                                                         </p>
                            <p class="tc-detail-field">
                                {{appTranslation.getText("patient","no_of_days")}} 
    <span>  {{patientDischargeDetail.no_of_days}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                                {{appTranslation.getText("patient","discharged_by")}} 
                                <span>  {{patientDischargeDetail.discharged_by}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  hospital course                           <span>  {{patientDischargeDetail.hospital_course}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  history and examination_notes                           <span>  {{patientDischargeDetail.history_and_examination_notes}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  lab and investigation notes                           <span>  {{patientDischargeDetail.lab_and_investigation_notes}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  radiology notes                           <span>  {{patientDischargeDetail.radiology_notes}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  surgeries and procedure notes                           <span>  {{patientDischargeDetail.surgeries_and_procedure_notes}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  operative procedure notes                           <span>  {{patientDischargeDetail.operative_procedure_notes}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  other notes                           <span>  {{patientDischargeDetail.other_notes}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  condition_status                           <span> 
       {{tcUtilsArray.getEnum(
        patientDischargePersist.condition_statuses,
        patientDischargeDetail.condition_status
      )?.name}}
     </span> 
                                                         </p>
                            <p class="tc-detail-field">
  advice                           <span>  {{patientDischargeDetail.advice}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  plan for followup                           <span>  {{patientDischargeDetail.plan_for_followup}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  followup date                           <span>
    {{tcUtilsDate.toDate(patientDischargeDetail.followup_date)|date:'MMM dd, yyyy. h:mm a'}} </span> 
                                                         </p>
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editPatientDischarge()" *ngIf="tcAuthorization.canUpdate('patient_discharges') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    