<mat-sidenav-container class="tc-sidebar-container" fullscreen>

    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="OutsourcingCompanyLoading">
            <mat-spinner></mat-spinner>
        </div>
                <ng-template matTabContent>
                    <mat-toolbar class="tc-toolbar-secondary ">
                        <h1 class="mat-heading">
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </h1>
                        <button mat-button (click)=" back();" class="tc-link">
                            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                        </button>
                        <button mat-button (click)=" reload()" class="tc-link">
                            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                        </button>

                    </mat-toolbar>

                    <div class="tc-flex-row tc-full-width">
                        <div class="tc-equal-block">
                            <div class="tc-padding">
                                <mat-accordion>
                                    <mat-expansion-panel expanded="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{appTranslation.getText("general","basicdetails")}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div *ngIf="!OutsourcingCompanyLoading">
                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("general","name")}} </span>
                                                {{outsourcingcompanyDetail.name}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","tin_no")}} </span>
                                                {{outsourcingcompanyDetail.tin_no}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","max_payment")}} </span>
                                                {{outsourcingcompanyDetail.max_payment}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("general","telephone")}} </span>
                                                {{outsourcingcompanyDetail.phone_no}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("general","address")}} </span>
                                                {{outsourcingcompanyDetail.address}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","duration")}} </span>
                                                {{outsourcingcompanyDetail.duration}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","percentage")}} </span>
                                                {{outsourcingcompanyDetail.percentage}}
                                            </p>

                                            <p class="tc-detail-field">
                                                <span>{{appTranslation.getText("inventory","insurance")}} </span>
                                                {{outsourcingcompanyDetail.insurance_id}}
                                            </p>

                                        </div>
                                        <mat-action-row>
                                            <button mat-button (click)="editOutsourcingCompany()"
                                                *ngIf="tcAuthorization.canUpdate('outsourcingcompanys') ">
                                                {{appTranslation.getText("general", "edit")}}
                                            </button>
                                        </mat-action-row>

                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                        <div class="tc-equal-block">
                        </div>
                    </div>

                </ng-template>
    </mat-sidenav-content>
</mat-sidenav-container>