
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
   supplier  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchSuppliers();" *ngIf="tcAuthorization.canRead('suppliers')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addSupplier();" *ngIf="tcAuthorization.canCreate('suppliers')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="supplierSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="supplierPersist.supplierSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="supplierSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="supplierIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let supplier of suppliersData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('suppliers') || tcAuthorization.canDelete('suppliers')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editSupplier(supplier)" *ngIf="tcAuthorization.canUpdate('suppliers')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteSupplier(supplier)" *ngIf="tcAuthorization.canDelete('suppliers')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>name</span>
          {{supplier.name}}
        </div><div class="tc-detail-field">
          <span>tin_number</span>
          {{supplier.tin_number}}
        </div><div class="tc-detail-field">
          <span>phone_number_1</span>
          {{supplier.phone_number_1}}
        </div><div class="tc-detail-field">
          <span>phone_number_2</span>
          {{supplier.phone_number_2}}
        </div><div class="tc-detail-field">
          <span>phone_number_3</span>
          {{supplier.phone_number_3}}
        </div><div class="tc-detail-field">
          <span>email</span>
          {{supplier.email}}
        </div><div class="tc-detail-field">
          <span>address</span>
          {{supplier.address}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchSuppliers.length >0 || supplierSelectAll">
      <button mat-button (click)="downloadSuppliers()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{supplierSelectAll ? suppliersTotalCount : supplierSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="suppliersData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(suppliersData,supplierSelection) "
            [checked]=" tcUtilsArray.isAllSelected(suppliersData,supplierSelection) || supplierSelectAll"
            [indeterminate]="supplierSelection.length <suppliersData.length && supplierSelection.length>0"
            [disabled]="supplierSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="supplierSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #supplierSelectAllMenu="matMenu">

            <button mat-menu-item (click)="supplierSelectAll=true;" [disabled]="supplierSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="supplierSelectAll = false;" [disabled]="!supplierSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(supplierSelection,row) : null"
            [checked]="tcUtilsArray.contains(supplierSelection,row) || supplierSelectAll" [disabled]="supplierSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="tin_number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>tin_number
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.tin_number}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="phone_number_1">
        <mat-header-cell *matHeaderCellDef mat-sort-header>phone_number_1
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phone_number_1}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="phone_number_2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>phone_number_2
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phone_number_2}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="phone_number_3">
        <mat-header-cell *matHeaderCellDef mat-sort-header>phone_number_3
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phone_number_3}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>email
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>address
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(companyPersist.Activeness_Status,element.status)?.name}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="supplierNavigator.supplierUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('suppliers') || tcAuthorization.canDelete('suppliers')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editSupplier(element)" *ngIf="tcAuthorization.canUpdate('suppliers') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteSupplier(element)" *ngIf="tcAuthorization.canDelete('suppliers')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="suppliersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: suppliersDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(supplierSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="suppliersTotalCount"
      [ngStyle]="{display: suppliersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
