<h1 mat-dialog-title>
    group_member Selection
  </h1>
  <div mat-dialog-content>
      <mat-form-field>
    <input matInput [formControl]="groupMemberSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="groupMemberPersist.groupMemberSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="groupMemberSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="groupMemberIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let groupMember of groupMembersData" class="tc-card">
      <!-- <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('group_members') || tcAuthorization.canDelete('group_members')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editGroupMember(group_member)" *ngIf="tcAuthorization.canUpdate('group_members')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteGroupMember(group_member)" *ngIf="tcAuthorization.canDelete('group_members')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header> -->
      <mat-card-content>
<div class="tc-detail-field">
          <span>date</span>
          {{groupMember.date}}
        </div><div class="tc-detail-field">
          <span>note</span>
          {{groupMember.note}}
        </div><div class="tc-detail-field">
          <span>recommendation </span>
          {{groupMember.recommendation }}
        </div><div class="tc-detail-field">
          <span>status </span>
          {{groupMember.status }}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <!-- <mat-toolbar *ngIf="searchGroup_members.length >0 || groupMemberSelectAll">
      <button mat-button (click)="downloadGroupMembers()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{groupMemberSelectAll ? groupMembersTotalCount : groupMemberSelectAll.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar>-->
    <mat-table [dataSource]="groupMembersData" matSort class="tc-hide-on-mobile"> 

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(groupMembersData,groupMemberSelection) "
            [checked]=" tcUtilsArray.isAllSelected(groupMembersData,groupMemberSelection) || groupMemberSelectAll"
            [indeterminate]="groupMemberSelection.length <groupMembersData.length && groupMemberSelection.length>0"
            [disabled]="groupMemberSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="groupMemberSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #groupMemberSelectAllMenu="matMenu">

            <button mat-menu-item (click)="groupMemberSelectAll=true;" [disabled]="groupMemberSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="groupMemberSelectAll = false;" [disabled]="!groupMemberSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(groupMemberSelection,row) : null"
            [checked]="tcUtilsArray.contains(groupMemberSelection,row) || groupMemberSelectAll" [disabled]="groupMemberSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef mat-sort-header>note
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.note}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="recommendation ">
        <mat-header-cell *matHeaderCellDef mat-sort-header>recommendation 
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.recommendation }}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status ">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status 
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status }}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <!-- <mat-cell *matCellDef="let element">
          <a [routerLink]="groupMemberNavigator.groupMemberUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell> -->
      </ng-container>  
      <!-- <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('group_members') || tcAuthorization.canDelete('group_members')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editGroupMember(element)" *ngIf="tcAuthorization.canUpdate('group_members') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteGroupMember(element)" *ngIf="tcAuthorization.canDelete('group_members')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container> -->
        <mat-header-row *matHeaderRowDef="groupMembersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: groupMembersDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(groupMemberSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="groupMembersTotalCount"
      [ngStyle]="{display: groupMembersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" groupMemberSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>