<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="paymentDiscountRequestDetail">
   <mat-form-field class="tc-full-stretch" *ngIf="!isApprove()">
                              <textarea matInput rows="3" placeholder="remark" type="text"  [(ngModel)]="paymentDiscountRequestDetail.remark" required></textarea>
                          </mat-form-field>
   <mat-form-field class="tc-full-stretch" *ngIf="isApprove()">
                              <input matInput  placeholder="discounted_amount" type="number"  [(ngModel)]="paymentDiscountRequestDetail.discounted_amount" required>
                          </mat-form-field>  </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            *ngIf="!isApprove()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
    <button mat-button (click)="onApprove()"
            [disabled]="!canSubmit()"
            *ngIf="isApprove()"
            cdkFocusInitial>
      {{appTranslation.getText('inventory','approve')}}
    </button>
  </div>
  