<mat-sidenav-container style="height: 100vh">
    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
                 class="tc-sidebar mat-elevation-z8">
      <div class="tc-sidebar-inner">
        <img src="assets/images/logo.png" alt="eTech"
             style="padding: 15px;width: 120px;height: 120px; display: flex;justify-content: center;margin: 15px auto 0 auto; border-radius:50%;background-color: rgba(255, 255, 255);">
        <!-- <mat-divider></mat-divider> -->
  
  
        <div class="tc-padding" *ngIf="!receptionLoading">
          <h1
            class="mat-h1 tc-dashboard-block-header " *ngIf="receptionSummary.first_name != null"> {{ fullName() }} </h1>
          <span class="tc-dashboard-block-header-description"></span>
        </div>
        <mat-nav-list>
          <mat-list-item [ngClass]="activeTab == receptionTabs.overview? 'tc-list-item-focus':''"
                         (click)="activeTab = receptionTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
            <a>
              <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
              {{appTranslation.getText("general", "overview")}}
            </a>
          </mat-list-item>


          <mat-list-item [ngClass]="activeTab == receptionTabs.finance? 'tc-list-item-focus':''"
          (click)="activeTab = receptionTabs.finance;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
<a>
  <mat-icon fontSet="fa" fontIcon="fa-coins"></mat-icon>
  {{appTranslation.getText("financial", "financial")}}
</a>
</mat-list-item>


<mat-list-item [ngClass]="activeTab == receptionTabs.schedule? 'tc-list-item-focus':''"
(click)="activeTab = receptionTabs.schedule;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
<a>
  <mat-icon fontSet="fa" fontIcon="fa-calendar-alt"></mat-icon>
            {{appTranslation.getText("schedule", "schedule")}}
</a>
</mat-list-item>
          </mat-nav-list>

          <div class="tc-sidebar-actions">

            <button mat-button>
              <mat-icon fontSet="fa" fontIcon="fa-globe"></mat-icon>
              <mat-select placeholder="{{appTranslation.getText('general','language')}}"
                          [(value)]="TCAppInit.userInfo.lang" (selectionChange)="languageChanged()"
                          style="width:5em;">
    
                <mat-option *ngFor="let lang of appTranslation.languages" [value]="lang.code">
                  {{lang.name}}
                </mat-option>
              </mat-select>
            </button>
          </div>
      </div>


      
      </mat-sidenav>



      <mat-sidenav-content>

        <mat-toolbar>
          <mat-toolbar-row class="tc-primary-header mat-elevation-z8">
            <span style="color:#fff" *ngIf="!tcUtilsAngular.smallDevice">{{title}}</span>
            <button mat-icon-button *ngIf="tcUtilsAngular.smallDevice" (click)="sidenav.toggle()">
              <mat-icon *ngIf="!sidenav.opened">
                menu
              </mat-icon>
              <mat-icon *ngIf="sidenav.opened">
                close
              </mat-icon>
            </button>
            <button mat-button (click)="tcNavigator.home()" style="padding-left:0px;" *ngIf="tcUtilsAngular.smallDevice">
              <img src="assets/images/logo.png" style="height: 50px;"/>
              {{title}}
            </button>
            <div class="tc-flex-fill"></div>
    
    
            <button mat-button [matMenuTriggerFor]="profileMenu">
              <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon>
              {{TCAppInit.userInfo.name}}<i class="material-icons">arrow_drop_down</i>
    
            </button>
            <mat-menu #profileMenu="matMenu">
    
              <button mat-menu-item (click)="activeTab = receptionTabs.profile;" *ngIf="tcAuthorization.tosAccepted()">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>lock</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
    
          </mat-toolbar-row>
    
        </mat-toolbar>
    
        <div class="tc-loading" *ngIf="receptionLoading">
          <mat-spinner></mat-spinner>
        </div>
    
    
        <div [ngClass]="activeTab==receptionTabs.overview? '':'tc-hidden'">
          <mat-toolbar class="tc-toolbar-secondary ">
            <h1 class="mat-heading">
              <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
              {{appTranslation.getText("general", "overview")}}
            </h1>
            <button mat-button (click)="loadDetails()" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
          </mat-toolbar>
    
          <div class="tc-flex-row tc-full-width">
            <div class="tc-equal-block">
              <div class="tc-padding">
                <mat-accordion>
                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{appTranslation.getText("general", "basicdetails")}}
                      </mat-panel-title>
    
                    </mat-expansion-panel-header>
                    <div *ngIf="!receptionLoading">
                      <p class="tc-detail-field">
                        <span>{{appTranslation.getText('general', 'name')}} </span>
                        {{fullName()}}
                      </p>
                      <p class="tc-detail-field">
                        <span>{{appTranslation.getText('general','email')}} </span>
                        {{receptionSummary.email}}
                      </p>
                      <p class="tc-detail-field">
                        <span>{{appTranslation.getText('general','telephone')}} </span>
                        {{receptionSummary.telephone}}
                      </p>
  
                      <p class="tc-detail-field">
                        <span>{{appTranslation.getText('general','gender')}}</span>
                        {{receptionSummary.is_male ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}
                      </p>
  
                      <p class="tc-detail-field">
                        <span>{{appTranslation.getText('general','birthdate')}}</span>
                        {{tcUtilsDate.toDate(receptionSummary.birth_date)|date:'MMM dd, yyyy. h:mm a'}}
                      </p>
    
    
    
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
        
          </div>
    
        </div>


        <div [ngClass]="activeTab==receptionTabs.finance? '':'tc-hidden'">
          <mat-toolbar class="tc-toolbar-secondary ">
            <h1 class="mat-heading">
              <mat-icon fontSet="fa" fontIcon="fa-coins"></mat-icon>
              {{appTranslation.getText("financial", "financial")}}
            </h1>
            <button mat-button (click)=" searchPayments();"  class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
            <button mat-button (click)=" addPayment();"  class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
            </button>

          </mat-toolbar>
          <div class="tc-padding">

          <mat-form-field>
            <input matInput [formControl]="paymentsSearchTextBox"
              placeholder='{{appTranslation.getText("general","search_text")}} '>
            <button mat-button *ngIf="paymentPersist.paymentSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
              (click)="paymentsSearchTextBox.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>


          <!-- <mat-form-field>
            <input matInput [formControl]="lastDaysSearchBox"
              placeholder='Last Days '>
            <button mat-button *ngIf="paymentPersist.last_days" matSuffix mat-icon-button aria-label="Clear"
              (click)="lastDaysSearchBox.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field> -->

    
          </div>

          <mat-table [dataSource]="paymentsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(paymentsData,paymentsSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(paymentsData,paymentsSelection) || paymentsSelectAll"
                  [indeterminate]="paymentsSelection.length <paymentsData.length && paymentsSelection.length>0"
                  [disabled]="paymentsSelectAll">
                </mat-checkbox>
      
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="paymentsSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #paymentsSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item (click)="paymentsSelectAll=true;" [disabled]="paymentsSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item (click)="paymentsSelectAll = false;" [disabled]="!paymentsSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
      
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? tcUtilsArray.toggleSelection(paymentsSelection,row) : null"
                  [checked]="tcUtilsArray.contains(paymentsSelection,row) || paymentsSelectAll"
                  [disabled]="paymentsSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="link">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a [routerLink]="paymentNavigator.paymentUrl(element.id)" class="tc-link">{{element.id}}</a>
      
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="patient_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","patient")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ getPatientFullName(element.patient_id) }}
              </mat-cell>
            </ng-container>
      
      
            <ng-container matColumnDef="payment_type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","payment_type")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{tcUtilsArray.getEnum(paymentPersist.paymentType, element.payment_type).name}}   
             </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="other_type_included">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                {{appTranslation.getText("financial", "additional_payment_type")}}
               
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{tcUtilsArray.getEnum(paymentPersist.other_type, element.other_type_included)?.name}}
             </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="price_before_other">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","price_before_other")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.price_before_other}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="other">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("financial", "additional_payment")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.other}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="total_price">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","total_price")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="payment_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","payment_date")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate( element.payment_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
            </ng-container>
      
      
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('payments') || tcAuthorization.canDelete('payments')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
      
                  <button mat-menu-item (click)="editPayment(element)" *ngIf="tcAuthorization.canUpdate('payments') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deletePayment(element)" *ngIf="tcAuthorization.canDelete('payments')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
      
      
            <mat-header-row *matHeaderRowDef="paymentsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: paymentsDisplayedColumns;"
              [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(paymentsSelection,row)}"></mat-row>
      
          </mat-table>
      
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="paymentsTotalCount"
            [ngStyle]="{display: paymentsTotalCount > 0? '':'none'}"></mat-paginator>
    

          </div>


        <div [ngClass]="activeTab==receptionTabs.schedule? '':'tc-hidden'">
          
          <mat-toolbar class="tc-toolbar-secondary ">
            <h1 class="mat-heading">
              <mat-icon fontSet="fa" fontIcon="fa-calendar-alt"></mat-icon>
            {{appTranslation.getText("schedule", "schedule")}}
            </h1>
            <button mat-button (click)=" searchAppointments();"  class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
            <button mat-button (click)=" addAppointment();"  class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
            </button>
          </mat-toolbar>

          <div class="tc-padding">
            <mat-form-field>
              <input matInput [formControl]="appointmentsSearchTextBox"
                placeholder='{{appTranslation.getText("general","search_text")}} '>
              <button mat-button *ngIf="appointmentPersist.appointmentSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
                (click)="appointmentsSearchTextBox.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

      
            
            <mat-form-field >
              <input
                matInput
                placeholder="
                  Date
                "
                [formControl]="dateSearchBox"
                [matDatepicker]="date_of_schedule"
              
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="date_of_schedule"
              ></mat-datepicker-toggle>
              <mat-datepicker #date_of_schedule></mat-datepicker>
              <button mat-button *ngIf="appointmentPersist.appointmentSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
              (click)="dateSearchBox.setValue('-')">
              <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>
          </div>
          


          <mat-table [dataSource]="appointmentsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(appointmentsData,appointmentsSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(appointmentsData,appointmentsSelection) || appointmentsSelectAll"
                  [indeterminate]="appointmentsSelection.length <appointmentsData.length && appointmentsSelection.length>0"
                  [disabled]="appointmentsSelectAll">
                </mat-checkbox>
      
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="appointmentsSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #appointmentsSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item (click)="appointmentsSelectAll=true;" [disabled]="appointmentsSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item (click)="appointmentsSelectAll = false;" [disabled]="!appointmentsSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
      
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? tcUtilsArray.toggleSelection(appointmentsSelection,row) : null"
                  [checked]="tcUtilsArray.contains(appointmentsSelection,row) || appointmentsSelectAll"
                  [disabled]="appointmentsSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="link">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a [routerLink]="appointmentNavigator.appointmentUrl(element.id)" class="tc-link">{{element.id}}</a>
      
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="schedule_type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("schedule", "schedule_type")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{tcUtilsArray.getEnum(appointmentPersist.appointment_type, element.schedule_type).name}}
             </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="scheduled_user_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("schedule", "scheduled")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{getDoctorFullName(element.scheduled_user_id)}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="scheduler_user_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("schedule", "scheduler")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{getPatientFullName(element.scheduler_user_id)}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="schedule_start_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("schedule", "start_time")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate( element.schedule_start_time) | date:'d/M/yy, h:mm a'}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="schedule_end_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("schedule", "end_time")}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate( element.schedule_end_time) | date:'d/M/yy, h:mm a'}}</mat-cell>
            </ng-container>
      
      
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('appointments') || tcAuthorization.canDelete('appointments')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
      
                  <button mat-menu-item (click)="editAppointment(element)" *ngIf="tcAuthorization.canUpdate('appointments') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteAppointment(element)"
                    *ngIf="tcAuthorization.canDelete('appointments')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
      
      
            <mat-header-row *matHeaderRowDef="appointmentsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: appointmentsDisplayedColumns;"
              [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(appointmentsSelection,row)}"></mat-row>
      
          </mat-table>
    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="appointmentsTotalCount"
      [ngStyle]="{display: appointmentsTotalCount > 0? '':'none'}"></mat-paginator>
    

          </div>


      </mat-sidenav-content>

    </mat-sidenav-container>