
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    
        <mat-sidenav-content>
    <mat-tab-group>
        <mat-tab label="Overview">
            <div class="tc-loading" *ngIf="lab_orderLoading">
                <mat-spinner></mat-spinner>
        </div>

        <div>
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                              <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    {{appTranslation.getText("general","basicdetails")}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>

                                    <div *ngIf="!lab_orderLoading">
                                        <p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','name')}} </span> 
                            {{lab_orderDetail.name}}
                        </p>
                      
<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','type')}} </span> 
                            {{appTranslation.getText('procedure', tcUtilsArray.getEnum(lab_orderPersist.lab_order_type ,lab_orderDetail.type)?.name)}}
                        </p>
                      
                                    </div>
                                <mat-action-row>
                                   <button mat-button (click)="editLab_Order()" *ngIf="tcAuthorization.canUpdate('order_givens') ">
                                     {{appTranslation.getText("general", "edit")}}
                                   </button>
                                 </mat-action-row>

                               </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                    <app-lab-panel-list *ngIf="lab_orderDetail.id" [orderId]="lab_orderDetail.id"></app-lab-panel-list>
                </div>
            </div>
            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block"></div>
                <div class="tc-equal-block">
                    <app-lab-test-list  *ngIf="lab_orderDetail.id" [orderId]="lab_orderDetail.id"></app-lab-test-list>
                </div>
            </div>

        </div>
        </mat-tab>
    </mat-tab-group>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    
    