<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <div class="tc-padding">
        <h1 class="mat-headline ">uri: {{resourceDetail.uri}}</h1>
        <span class="tc-text-muted ">{{resourceDetail.description}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == resourceTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = resourceTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>


    </div>
    <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>





    <mat-toolbar class="tc-toolbar-secondary ">
      <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
        Overview
      </h1>
    </mat-toolbar>
    <div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="tcaclsFilter" placeholder="Filter">
        <button mat-button *ngIf="tcaclsFilter.value" matSuffix mat-icon-button aria-label="Clear"
          (click)="tcaclsFilter.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-button [matMenuTriggerFor]="matAddMenu">
        <mat-icon>add</mat-icon>
        {{appTranslation.getText("general", "add")}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #matAddMenu="matMenu">

        <button mat-menu-item (click)="addUserAcl()">
          <span>User</span>
        </button>
        <button mat-menu-item (click)="addGroupAcl()">
          <span>Group</span>
        </button>
      </mat-menu>
      <button mat-button (click)=" editResource();">
        <mat-icon>edit</mat-icon>
        {{appTranslation.getText("general", "edit")}}
      </button>
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="tcaclsDs" matSort>

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(resourceDetail.tcacls,tcaclsSelected) "
                [checked]=" tcUtilsArray.isAllSelected(resourceDetail.tcacls,tcaclsSelected)"
                [indeterminate]="tcaclsSelected.length <resourceDetail.tcacls.length && tcaclsSelected.length>0">
              </mat-checkbox>
              <button mat-button *ngIf="tcaclsSelected.length >0 " [mat-menu-trigger-for]="collectionMenu">
                <i class="material-icons">more_vert</i>

                <span matBadge="{{tcaclsSelected.length}}" matBadgePosition="above after" matBadgeOverlap="false"
                  [matBadgeHidden]="tcaclsSelected.length == 0" style="margin-right:10px;"></span>
              </button>
              <mat-menu #collectionMenu="matMenu">

                <button mat-menu-item (click)="downloadTcacls()">
                  <mat-icon>save_alt</mat-icon>
                  <span>{{appTranslation.getText("general", "download")}} </span>
                </button>
              </mat-menu>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(tcaclsSelected,row) : null"
                [checked]="tcUtilsArray.contains(tcaclsSelected,row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="uri">
            <mat-header-cell *matHeaderCellDef mat-sort-header>uri</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.uri}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="target">
            <mat-header-cell *matHeaderCellDef>user:group</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span *ngIf="tcUtilsArray.containsId(users,element.user_id)">{{tcUtilsArray.getById(users,
                element.user_id).username}}</span>
              <mat-spinner *ngIf="!tcUtilsArray.containsId(users,element.user_id)"></mat-spinner>
              :<span *ngIf="tcUtilsArray.containsId(groups,element.group_id)">{{tcUtilsArray.getById(groups,
                element.group_id).name}}</span>
              <mat-spinner *ngIf="!tcUtilsArray.containsId(groups,element.group_id)"></mat-spinner>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acl">
            <mat-header-cell *matHeaderCellDef mat-sort-header>access</mat-header-cell>
            <mat-cell *matCellDef="let element">{{permissions(element)}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <div *ngIf="isInvalidId(element.user_id) || isInvalidId(element.group_id) ">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">

                  <button mat-menu-item (click)="editTcacl(element)">
                    <mat-icon>edit</mat-icon>
                    <span>{{appTranslation.getText("general", "edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteTcacl(element)">
                    <mat-icon>delete</mat-icon>
                    <span>{{appTranslation.getText("general", "delete")}} </span>
                  </button>
                </mat-menu>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tcaclsColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: tcaclsColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(tcaclsSelected,row)}"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" [pageSize]="tcUtilsArray.defaultPageSize"
          showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>