<h1 mat-dialog-title>
    dialysis_session Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="dialysisSessionSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="dialysisSessionPersist.dialysisSessionSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="dialysisSessionSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="dialysisSessionIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="dialysisSessionsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(dialysisSessionsData,dialysisSessionSelection) "
            [checked]=" tcUtilsArray.isAllSelected(dialysisSessionsData,dialysisSessionSelection) || dialysisSessionSelectAll"
            [indeterminate]="dialysisSessionSelection.length <dialysisSessionsData.length && dialysisSessionSelection.length>0"
            [disabled]="dialysisSessionSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dialysisSessionSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #dialysisSessionSelectAllMenu="matMenu">

            <button mat-menu-item (click)="dialysisSessionSelectAll=true;" [disabled]="dialysisSessionSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="dialysisSessionSelectAll = false;" [disabled]="!dialysisSessionSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(dialysisSessionSelection,row) : null"
            [checked]="tcUtilsArray.contains(dialysisSessionSelection,row) || dialysisSessionSelectAll" [disabled]="dialysisSessionSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="card_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>card_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.card_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="dialysis_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dialysis_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dialysis_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="machine_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>machine_no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.machine_no}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="service">
        <mat-header-cell *matHeaderCellDef mat-sort-header>service
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.service}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="dialysisSessionsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: dialysisSessionsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dialysisSessionSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="dialysisSessionsTotalCount"
      [ngStyle]="{display: dialysisSessionsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" dialysisSessionSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>