<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="medicalCertificateEmployeeDetail">

     <!-- <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="patient" type="text"  [(ngModel)]="patientFullName" required disabled>
                        <button
                            mat-icon-button
                            matSuffix
                            [disabled]="isEdit()"
                            color="primary"
                            (click)="searchPatient()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>     -->
                    
 <!-- <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="cpa" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.cpa" required>
                        </mat-form-field>                     -->
                
 <!-- <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="address" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.address" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="age" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.age" required>
                        </mat-form-field>  
              
                        <div>
                           <mat-checkbox [(ngModel)]="checkPastDisease" *ngIf="tcAuthorization.canRead('vitals')">
                            <p>
                                Past Disease
                            </p>
                            </mat-checkbox>  
                        </div>


        <div *ngIf="checkPastDisease">
                    <mat-form-field class="tc-full-stretch">
      
                            <input matInput  placeholder="disease_past" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.disease_past" required>
                        </mat-form-field>   
        </div>

        <div>
                <mat-checkbox [(ngModel)]="checkHospitalized" *ngIf="tcAuthorization.canRead('vitals')">
            <p>
                Hospitalized Before
            </p>
            </mat-checkbox>
        </div>

  -->      

         <!-- <div *ngIf="checkHospitalized">
              <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="hospitalized" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.hospitalized" required>
                        </mat-form-field>    
         </div> -->
                 
                
 <mat-form-field class="tc-full-stretch">
                            <textarea rows="4" matInput  placeholder="doctor_examination" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.doctor_examination" required>
                            </textarea>
                        </mat-form-field>  
                        <div class="tc-flex-row">
                          <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="condition" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.condition" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="blood_pressure" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.blood_pressure">
                        </mat-form-field> 
                        </div>  
                        <div class="tc-flex-row">
                          <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="lung" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.lung">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="lung_xray" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.lung_xray">
                        </mat-form-field>
                        </div>    
                        <div class="tc-flex-row">
                          <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="urine" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.urine">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="blood" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.blood">
                        </mat-form-field>  
                        </div>   
                        <div class="tc-flex-row">
                          <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="sugar" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.sugar">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="albumen" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.albumen">
                        </mat-form-field>  
                        </div>     
                        <div class="tc-flex-row">
                          <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="arobllid" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.arobllid">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="hbred" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.hbred">
                        </mat-form-field> 
                        </div>   
                        <div class="tc-flex-row">
                          <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="reger" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.reger">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="white" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.white">
                        </mat-form-field>  
                        </div>                                                                                                                 
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="cells" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.cells">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="visual_acuit" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.visual_acuit">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="trachoma" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.trachoma">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="progressive_eye_disease" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.progressive_eye_disease">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="ear" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.ear">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="serological" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.serological">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="ns_disturbance" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.ns_disturbance">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="mental_status" type="text"  [(ngModel)]="medicalCertificateEmployeeDetail.mental_status">
                        </mat-form-field>                    
  <!-- <mat-form-field  class="tc-full-stretch">
        
        <input matInput placeholder="doctor" type="text" disabled [(ngModel)]="doctorFullName"/>
        <button
          mat-icon-button
        
          matSuffix
          color="primary"
          (click)="searchDoctors()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field> -->
      <mat-form-field class="tc-full-stretch" >
        <mat-select
          placeholder="Status"
          [(value)]="medicalCertificateEmployeeDetail.employment_fit"
          required>
          <mat-option *ngFor="let etype of persist.MedicalEmploymentStatus" [value]="etype.id">
          {{ etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      
                 </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>