<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-user-nurse"></mat-icon>
    {{appTranslation.getText("general", "nurse_record")}}
  </h3>

  <button mat-button  class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button  class="tc-link" (click)="searchBedRecord()">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
<mat-form-field>
  <input
    matInput
    placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    [formControl]="nurseRecordSearchTextBox"
  />
  <button
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    *ngIf="bedPersist.nurseRecordListSearchHistory.search_text"
    (click)="nurseRecordSearchTextBox.setValue('')"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <mat-select
    placeholder="Filter"
    [(value)]="bedPersist.nurseRecordListSearchHistory.search_column"
    multiple="true"
    (valueChange)="searchBedRecord()">
    <mat-option *ngFor="let etype of nurseRecordFilterColumn" [value]="etype.id">
     {{etype.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Status"
      [(value)]="bedPersist.nurseRecordListSearchHistory.status"
      (valueChange)="searchBedRecord()">
      <mat-option
        *ngFor="let etype of bedAssignmentPersist.bed_assignment_status"
        [value]="etype.id"
      >
        {{ appTranslation.getText("bed", etype?.name) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
<mat-form-field>
  <mat-label>{{
    appTranslation.getText("bed", "bedroom_type")
    }}</mat-label>
  <input matInput disabled [(ngModel)]="bedPersist.nurseRecordListSearchHistory.wardName"/>
  <button
    mat-icon-button
    matTooltip="{{appTranslation.getText('bed', 'bedroom_type')}}"
    matSuffix
    color="primary"
    (click)="searchWard()"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
  mat-button
  matSuffix
  mat-icon-button
  aria-label="Clear"
  *ngIf="bedPersist.nurseRecordListSearchHistory.wardName"
  (click)="bedPersist.nurseRecordListSearchHistory.wardName = null; bedPersist.nurseRecordListSearchHistory.ward_id = null;searchBedRecord()"
>
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>


<!--
<div class="tc-loading" *ngIf="elementsIsLoading">
  <mat-spinner></mat-spinner>
</div> -->

<div class="tc-loading" *ngIf="nurseRecordLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
  <mat-card *ngFor="let element of nurseRecord" class="tc-card">
    <mat-card-header>
      <mat-card-title>
        <a
        [routerLink]="nurse_recordNavigator.recordUrl(element.encounter_id)"
        class="tc-link"
        >{{ element.id}}</a
      >

      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="tc-detail-field">
        <span>{{ appTranslation.getText("general", "name") }}</span>
        {{ element.patient_name }}
      </div>
      <div class="tc-detail-field">
        <span>{{ appTranslation.getText("general", "gender") }}</span>
        <span *ngIf="element.sex">   <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon> </span>
        <span *ngIf="!element.sex">    <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon> </span>
      </div>
      <div class="tc-detail-field">
        <span>{{ appTranslation.getText("bed", "bedroom_type") }}</span>
        {{ element.ward }}
      </div>
      <div class="tc-detail-field">
        <span>{{ appTranslation.getText("bed", "bedroom_number") }}</span>
        {{ element.room_no }}
      </div>
      <div class="tc-detail-field">
        <span>{{ appTranslation.getText("bed", "bed_no") }}</span>
        {{ element.bed_no }}
      </div>
      <div class="tc-detail-field">
        <span>{{ appTranslation.getText("general", "department") }} </span>
        {{ element.department }}
      </div>
      <div class="tc-detail-field">
        <span>{{ appTranslation.getText("general", "department_speciality") }}</span>
        {{ element.department_speciality }}
      </div>
      <div class="tc-detail-field">
        <span>{{ appTranslation.getText("general", "date_of_registration") }}</span>
        {{ element.admission_date }}
      </div>
    </mat-card-content>
  </mat-card>
</div>



<div class="tc-padding">
  <div class="tc-table-container tc-full-width">

    <mat-table [dataSource]="nurseRecord" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="ward">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          > Ward

        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">

           {{element.ward}}

          </div>
        </mat-cell>

      </ng-container>


      <ng-container matColumnDef="room">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >
          Room
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">

              {{ element.room_no }}

          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >
         Bed No
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">

              {{ element.bed_no }}

          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
         >
         Patient Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- <div class="tc-flex-column"
           (click)="nurse_recordNavigator.viewRecordDetail(element.pid);"
        [ngClass]="tcUtilsString.isActiveTab('/nurse_record_detail')? 'tc-list-item-focus':''"
        >

              {{ element.first_name }}

          </div> -->

          <a
          [routerLink]="nurse_recordNavigator.recordUrl(element.encounter_id)"
          class="tc-link"
          >{{ element.patient_name}}</a
        >

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="additionalService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Services
            </button>
            <button mat-menu-item (click)="procedureOrder(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Add Procedure
            </button>
            <!-- <button mat-menu-item (click)="oxygenService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Oxygen Services
            </button>
            <button mat-menu-item (click)="mealService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Meal Services
            </button>
            <button mat-menu-item (click)="ambulanceService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Ambulance Services
            </button> -->
          </mat-menu>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="p.pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >
          id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">

              {{ element.mrn }}

          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >
          Sex
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">

              {{ element.sex }}

          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Department">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >
          Department
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">

              {{ element.department }}

          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Speciality">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >
          Speciality
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">

              {{ element.department_speciality }}

          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="admission_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >
          Admission Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">
            {{ tcUtilsDate.toDate(element.start_date )|date:'MMM dd, yyyy. h:mm a'}}

          </div>
        </mat-cell>
      </ng-container>


      <mat-header-row
        *matHeaderRowDef="ageRangeDisplayColumn; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ageRangeDisplayColumn"

      ></mat-row>
    </mat-table>
  <mat-paginator
  [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
  showFirstLastButtons
  [pageSize]="tcUtilsArray.defaultPageSize"
  [length] = "nurseRecordTotal"
  [ngStyle]="{display: nurseRecordTotal > 0? '':'none'}"
></mat-paginator>
  </div>
</div>
