<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
    Dialysis Performed
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchHemoPerformed()"
    *ngIf="tcAuthorization.canRead('hemo_performeds')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addHemoPerformed()"
    *ngIf="tcAuthorization.canCreate('hemo_performeds')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<mat-spinner
  diameter="50"
  *ngIf="hemoPerformedIsLoading"
  class="tc-padding"
></mat-spinner>

<div
  class="tc-padding"
  [ngStyle]="{ display: hemoPerformedIsLoading ? 'none' : '' }"
>
  <mat-form-field>
    <input
      matInput
      [formControl]="hemoPerformedSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }}"
    />
    <button
      mat-button
      *ngIf="hemoPerformedSearchTextBox.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="hemoPerformedSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="tc-table-container tc-full-stretch">
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card
        *ngFor="let hemoPerformed of hemoPerformedsData"
        class="tc-card"
      >
        <mat-card-header>
          <mat-card-title>
            <button
              mat-icon-button
              [matMenuTriggerFor]="elementMenu"
              *ngIf="
                tcAuthorization.canUpdate('hemo_performeds') ||
                tcAuthorization.canDelete('hemo_performeds')
              "
            >
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
              <button
                mat-menu-item
                (click)="editHemoPerformed(hemoPerformed)"
                *ngIf="tcAuthorization.canUpdate('hemo_performeds')"
              >
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{ appTranslation.getText("general", "edit") }} </span>
              </button>
              <button
                mat-menu-item
                (click)="deleteHemoPerformed(hemoPerformed)"
                *ngIf="tcAuthorization.canDelete('hemo_performeds')"
              >
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{ appTranslation.getText("general", "delete") }} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          
          <div class="tc-detail-field">
            <span>start_time</span>
            {{ hemoPerformed.start_time }}
          </div>
          <div class="tc-detail-field">
            <span>end_time</span>
            {{ hemoPerformed.end_time }}
          </div>
          <div class="tc-detail-field">
            <span>machine_no</span>
            {{ hemoPerformed.machine_id }}
          </div>
          <div class="tc-detail-field">
            <span>day</span>
            {{ hemoPerformed.day }}
          </div>
          <div class="tc-detail-field">
            <span>blood_flow</span>
            {{ hemoPerformed.blood_flow }}
          </div>
          <div class="tc-detail-field">
            <span>ufw</span>
            {{ hemoPerformed.ufw }}
          </div>
          <div class="tc-detail-field">
            <span>dialysate_no</span>
            {{ hemoPerformed.dialysate_no }}
          </div>
          <div class="tc-detail-field">
            <span>diakysate_fluid</span>
            {{ hemoPerformed.diakysate_fluid }}
          </div>
          <div class="tc-detail-field">
            <span>acetate</span>
            {{ hemoPerformed.acetate }}
          </div>
          <div class="tc-detail-field">
            <span>bolus</span>
            {{ hemoPerformed.bolus }}
          </div>
          <div class="tc-detail-field">
            <span>during_dialysis</span>
            {{ hemoPerformed.during_dialysis }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
      <mat-toolbar
        *ngIf="hemoPerformedSelection.length > 0 || hemoPerformedSelectAll"
      >
        <button mat-button (click)="downloadHemoPerformeds()">
          <mat-icon>save_alt</mat-icon>
          <span>{{ appTranslation.getText("general", "download") }} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span
          >{{
            hemoPerformedSelectAll
              ? hemoPerformedsTotalCount
              : hemoPerformedSelection.length
          }}
          {{ appTranslation.getText("general", "selected") }}</span
        > </mat-toolbar
      ><mat-table
        [dataSource]="hemoPerformedsData"
        matSort
        class="tc-hide-on-mobile"
      >
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="
                tcUtilsArray.toggleSelectAll(
                  hemoPerformedsData,
                  hemoPerformedSelection
                )
              "
              [checked]="
                tcUtilsArray.isAllSelected(
                  hemoPerformedsData,
                  hemoPerformedSelection
                ) || hemoPerformedSelectAll
              "
              [indeterminate]="
                hemoPerformedSelection.length < hemoPerformedsData.length &&
                hemoPerformedSelection.length > 0
              "
              [disabled]="hemoPerformedSelectAll"
            >
            </mat-checkbox>

            <button mat-icon-button>
              <mat-icon
                fontSet="fa"
                fontIcon="fa-caret-down"
                [matMenuTriggerFor]="hemoPerformedSelectAllMenu"
              ></mat-icon>
            </button>
            <mat-menu #hemoPerformedSelectAllMenu="matMenu">
              <button
                mat-menu-item
                (click)="hemoPerformedSelectAll = true"
                [disabled]="hemoPerformedSelectAll"
              >
                {{ appTranslation.getText("general", "all") }}
              </button>
              <button
                mat-menu-item
                (click)="hemoPerformedSelectAll = false"
                [disabled]="!hemoPerformedSelectAll"
              >
                {{ appTranslation.getText("general", "none") }}
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="
                $event
                  ? tcUtilsArray.toggleSelection(hemoPerformedSelection, row)
                  : null
              "
              [checked]="
                tcUtilsArray.contains(hemoPerformedSelection, row) ||
                hemoPerformedSelectAll
              "
              [disabled]="hemoPerformedSelectAll"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell
            *matHeaderCellDef
            class="tc-column-action"
          ></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button
              mat-flat-button
              [matMenuTriggerFor]="elementMenu"
              *ngIf="
                tcAuthorization.canUpdate('hemo_performeds') ||
                tcAuthorization.canDelete('hemo_performeds')
              "
            >
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
              <button
                mat-menu-item
                (click)="editHemoPerformed(element)"
                *ngIf="tcAuthorization.canUpdate('hemo_performeds')"
              >
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{ appTranslation.getText("general", "edit") }} </span>
              </button>
              <button
                mat-menu-item
                (click)="deleteHemoPerformed(element)"
                *ngIf="tcAuthorization.canDelete('hemo_performeds')"
              >
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{ appTranslation.getText("general", "delete") }} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="sub_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Sub Type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.sub_type }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.type }}</mat-cell>
        </ng-container>



        <ng-container matColumnDef="start_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Start Time
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.start_time }}</mat-cell>
        </ng-container>



        <ng-container matColumnDef="end_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >End Time
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.end_time }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="machine_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Machine No
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.machine_id }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="day">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Day
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.day }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="blood_flow">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Blood Flow
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.blood_flow }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="uf">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >UF
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.uf }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="dialysate_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Dialystate No
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.dialysate_no }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="dialysate_fluid">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Dialystate Fluid
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.dialysate_fluid }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="acetate">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Acetate
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.acetate }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="bolus">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Bolus
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.bolus }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="during_dialysis">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >During Dialysis
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.during_dialysis }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dialyser_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Dialyser Type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.dialyser_type }}</mat-cell>
        </ng-container>



        <ng-container matColumnDef="iv_fluid">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Iv Fluid
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.iv_fluid }}</mat-cell>
        </ng-container>




        <ng-container matColumnDef="other">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Other
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.other }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="complication">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Complication
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.complication }}</mat-cell>
        </ng-container>









        <mat-header-row
          *matHeaderRowDef="hemoPerformedsDisplayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: hemoPerformedsDisplayedColumns"
          [ngClass]="{
            'tc-selected-row': tcUtilsArray.contains(
              hemoPerformedSelection,
              row
            )
          }"
        ></mat-row>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
        showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize"
        [length]="hemoPerformedsTotalCount"
        [ngStyle]="{ display: hemoPerformedsTotalCount > 0 ? '' : 'none' }"
      ></mat-paginator>
    </div>
  </div>
</div>
