<!-- <mat-tab-group class="mat-elevation-z8" [(selectedIndex)]="prescriptionRequestPersist.selectedIndex"
    (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="overview" *ngIf="false"> -->

<div class="tc-loading" *ngIf="prescriptionRequestIsLoading">
  <mat-spinner></mat-spinner>
</div>

<mat-toolbar class="tc-toolbar-secondary">
  <h1 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
    {{ appTranslation.getText("general", "overview") }}
  </h1>
  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)="reload()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>
<!--
        <div class="tc-flex-row tc-full-width">
            <div class="tc-equal-block">
                <div class="tc-padding">
                    <mat-accordion>
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{appTranslation.getText("general","basicdetails")}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div *ngIf="!prescriptionRequestIsLoading">
                                <p class="tc-detail-field">
                                    item name <span> {{item_name}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    changed item <span> {{interchanged_item_name}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    route <span> {{tcUtilsArray.getEnum(medicationAdminstrationChartPersist.MedicationRoute, prescriptionRequestDetail.route)?.name}}  </span>

                                <p class="tc-detail-field">
                                    dose <span> {{prescriptionRequestDetail.dose}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    frequency <span> {{tcUtilsArray.getEnum(prescriptionsPersist.frequency,prescriptionRequestDetail.frequency)?.name}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    duration <span> {{prescriptionRequestDetail.duration}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    duration_unit <span> {{tcUtilsArray.getEnum(prescriptionsPersist.frequencyList, prescriptionRequestDetail.duration_unit)?.name}} </span>
                                </p> 
                                <p class="tc-detail-field">
                                    quantity <span> {{prescriptionRequestDetail.total}} </span>
                                </p>

                                <p class="tc-detail-field">
                                    patient type <span> {{appTranslation.getText('patient', tcUtilsArray.getEnum(prescriptionsPersist.patientType, prescriptionRequestDetail.patient_type)?.name)}} </span>
                                </p>
                                <p class="tc-detail-field">
                                    pharmacist <span> {{pharmasist_name}} </span>
                                </p>

                            </div>
                            <mat-action-row>
                                <button mat-button (click)="editPrescriptionRequest()"
                                    *ngIf="tcAuthorization.canUpdate('prescription_requests') ">
                                    {{appTranslation.getText("general", "edit")}}
                                </button>
                            </mat-action-row>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="tc-equal-block">

            </div>
        </div>
 -->

<!-- </mat-tab> -->
<!-- <mat-tab label="dispatchs" *ngIf="prescriptionRequestDetail.id"> -->
<div class="tc-flex-row tc-full-width">
  <div class="tc-equal-block" *ngIf="prescriptionRequestDetail.id">
    <div class="tc-padding">
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Dispatched Items </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <ng-template matTabContent> -->
            <app-item_dispatch-list 
              [prescription_request_id]="prescriptionRequestDetail.id"
            ></app-item_dispatch-list>
          <!-- </ng-template> -->
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<!-- </mat-tab>
</mat-tab-group> -->
