<h1 mat-dialog-title>
    {{appTranslation.getText("patient", "physical_examination_options")}}
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="physicalExaminationOptionsSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="physicalExaminationOptionsPersist.physicalExaminationOptionsSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="physicalExaminationOptionsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Status"
                [(value)]="physicalExaminationOptionsPersist.physicalExaminationStateFilter"
                (valueChange)="searchPhysical_examination_optionss()">
      <mat-option *ngFor="let etype of physicalExaminationOptionsPersist.PhysicalExaminationState" [value]="etype.id" >
        {{ etype.name }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="physicalExaminationOptionsPersist.physicalExaminationStateFilter" matSuffix mat-icon-button aria-label="Clear"
            (click)="physicalExaminationOptionsPersist.physicalExaminationStateFilter = null;searchPhysical_examination_optionss();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="physicalExaminationOptionsIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="physicalExaminationOptionssData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(physicalExaminationOptionssData,physicalExaminationOptionsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(physicalExaminationOptionssData,physicalExaminationOptionsSelection) || physicalExaminationOptionsSelectAll"
            [indeterminate]="physicalExaminationOptionsSelection.length <physicalExaminationOptionssData.length && physicalExaminationOptionsSelection.length>0"
            [disabled]="physicalExaminationOptionsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="physicalExaminationOptionsSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #physicalExaminationOptionsSelectAllMenu="matMenu">

            <button mat-menu-item (click)="physicalExaminationOptionsSelectAll=true;" [disabled]="physicalExaminationOptionsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="physicalExaminationOptionsSelectAll = false;" [disabled]="!physicalExaminationOptionsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(physicalExaminationOptionsSelection,row) : null"
            [checked]="tcUtilsArray.contains(physicalExaminationOptionsSelection,row) || physicalExaminationOptionsSelectAll" [disabled]="physicalExaminationOptionsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="findings">
        <mat-header-cell *matHeaderCellDef mat-sort-header>findings
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.findings}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>state
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(physicalExaminationOptionsPersist.PhysicalExaminationState,element.state)?.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="option">
        <mat-header-cell *matHeaderCellDef mat-sort-header>option
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(physicalExaminationOptionsPersist.PhysicalExaminationOptions,element.option)?.name}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="physicalExaminationOptionssDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: physicalExaminationOptionssDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(physicalExaminationOptionsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="physicalExaminationOptionssTotalCount"
      [ngStyle]="{display: physicalExaminationOptionssTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" physicalExaminationOptionsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>