
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="outside_ordersLoading">
                <mat-spinner></mat-spinner>
        </div>
        <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label class="tab-content">
                <mat-icon class="tab-icon" fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                <span>Overview</span>
            </ng-template>
            <ng-template matTabContent>
        <div [ngClass]="activeTab==Outside_OrdersTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
                <button mat-button (click)=" addOutside_Orders();" *ngIf="tcAuthorization.canCreate('outside_orders')" class="tc-link">
                  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
              </button>

                <!-- <button mat-button (click)=" addOutside_Orders()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                </button> -->
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                              <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    {{appTranslation.getText("general","basicdetails")}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>

                                    <div *ngIf="!outside_ordersLoading">
                                        <p class="tc-detail-field">
                            <span>{{appTranslation.getText('patient','patient_name')}} </span>
                            {{outside_ordersDetail.patient_name}}
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','birthdate')}} </span>
                            {{outside_ordersDetail.birth_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','gender')}} </span>
                            {{outside_ordersDetail.sex ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}
                        </p>

<p class="tc-detail-field">
                            <span>file_id </span>
                            <mat-icon class="tc-link" (click)="viewPrescription(outside_ordersDetail.file_id)" *ngIf="outside_ordersDetail.file_id !== tcUtilsString.invalid_id" fontSet="fa" fontIcon="fa-upload"></mat-icon>
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','id_number')}} </span>
                            {{outside_ordersDetail.serial_id}}
                        </p>

                                    </div>
                                <mat-action-row>
                                   <button mat-button (click)="editOutside_Orders()" *ngIf="tcAuthorization.canUpdate('outside_orders') ">
                                     {{appTranslation.getText("general", "edit")}}
                                   </button>
                                 </mat-action-row>

                               </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                </div>
            </div>

        </div>




        <div [ngClass]="activeTab==Outside_OrdersTabs.lab_order? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    Lab Order
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>



            </div>



        <div [ngClass]="activeTab==Outside_OrdersTabs.rad_order? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    Rad Order
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>



            </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Prescription"*ngIf="tcAuthorization.canRead('prescriptions')" >
            <ng-template mat-tab-label class="tab-content">
                <mat-icon class="tab-icon" fontSet="fa" fontIcon="fa-file-medical"></mat-icon>
                <span>{{appTranslation.getText('patient', 'prescription')}}</span>
                </ng-template>
                <ng-template matTabContent>
                <app-prescription-list
                    [encounterId]="outside_ordersDetail.id"
                    (onResult)="OnPrescriptionResult($event)">
                </app-prescription-list>
            </ng-template>
        </mat-tab>
        <mat-tab label="Lab Orders" *ngIf="tcAuthorization.canRead('orders')">
            <ng-template mat-tab-label class="tab-content">
                <mat-icon class="tab-icon" fontSet="fa" fontIcon="fa-flask"></mat-icon>
                <span>{{this.appTranslation.getText('procedure', 'result')}}</span>
            </ng-template>
              <ng-template matTabContent>
                <app-orders-list
                  [encounterId]="outside_ordersDetail.id"
                  (onResult)="onOrderResult($event)"
                >
                </app-orders-list>
              </ng-template>

        </mat-tab>


    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>



