
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
   TAT report  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchtatPersistReport();" *ngIf="tcAuthorization.canRead('order_tests')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="tatReportearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="tatPersist.ordersSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="tatReportearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
  <mat-select placeholder='Order'
  [(value)]="order_type"
  (valueChange)="searchtatPersistReport()">
<mat-option *ngFor="let status of ordersPersist.lab_order_type" [value]="status.id">
  {{appTranslation.getText("procedure", status?.name)}}
</mat-option>
</mat-select>
</mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        'From Date'
      [formControl]="from_date"
      [matDatepicker]="from_date_picker"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="from_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>

  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        'To Date'
      [formControl]="to_date"
      [matDatepicker]="to_date_picker"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="to_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>

  </mat-form-field>
  <mat-form-field>
    <mat-label> Test </mat-label>
    <input matInput disabled [(ngModel)]="lab_test_name" />
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchTest()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="lab_test_id" matSuffix mat-icon-button aria-label="Clear"
    (click)="lab_test_id = null; lab_test_name = ''; searchtatPersistReport()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label> Panel </mat-label>
    <input matInput disabled [(ngModel)]="lab_panel_name" />
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchPanel()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="lab_panel_id" matSuffix mat-icon-button aria-label="Clear"
    (click)="lab_panel_id = null; lab_panel_name = ''; searchtatPersistReport()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field> -->
  <div class="tc-loading" *ngIf="tatReportIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let encounterReport of tatReportData" class="tc-card">
      <mat-card-content>
<div class="tc-detail-field">
          <span>sample Id</span>
          {{encounterReport.patient_name}}
        </div><div class="tc-detail-field">
          <span>id</span>
          {{encounterReport.generated_sample_id}}
        </div><div class="tc-detail-field">
          <span>lab_test_id</span>
          {{getTestName(encounterReport.lab_test_id)}}
        </div>
        <div class="tc-detail-field">
          <span>Ordered</span>
          {{encounterReport.future_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>sample collected</span>
          {{encounterReport.date_of_collection * 1000|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>result_date</span>
          {{encounterReport.result_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="tatReportselection.length >0 || tatReportselectAll">
      <button mat-button (click)="downloadtatReport()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{tatReportselectAll ? tatReportTotalCount : tatReportselection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="tatReportData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(tatReportData,tatReportselection) "
            [checked]=" tcUtilsArray.isAllSelected(tatReportData,tatReportselection) || tatReportselectAll"
            [indeterminate]="tatReportselection.length <tatReportData.length && tatReportselection.length>0"
            [disabled]="tatReportselectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="tatReportselectAllMenu"></mat-icon>
          </button>
          <mat-menu #tatReportselectAllMenu="matMenu">

            <button mat-menu-item (click)="tatReportselectAll=true;" [disabled]="tatReportselectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="tatReportselectAll = false;" [disabled]="!tatReportselectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(tatReportselection,row) : null"
            [checked]="tcUtilsArray.contains(tatReportselection,row) || tatReportselectAll" [disabled]="tatReportselectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="generated_sample_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sample
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.generated_sample_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Test Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="tat_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TAT Time
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{getDateFormat(element.tat_time)}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="tat_in">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TAT IN
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.tat_in}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="tat_out">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TAT OUT
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.tat_out}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="diff">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TAT time
        </mat-header-cell>
        <mat-cell [ngStyle]="{'color': element.style}" *matCellDef="let element">{{ getDateFormat(element)}}</mat-cell>
      </ng-container>
<mat-header-row *matHeaderRowDef="tatReportDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: tatReportDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(tatReportselection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="tatReportTotalCount"
      [ngStyle]="{display: tatReportTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
