<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="creditEmployeeFamilyDetail">
      <mat-form-field class="tc-full-stretch">
        <input matInput [disabled]="creditEmployeeFamilyDetail.patient_id"  placeholder="family_name" type="text"  [(ngModel)]="creditEmployeeFamilyDetail.family_name" required>
    </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <mat-label>{{appTranslation.getText('patient','patient')}}</mat-label>
        <input
          matInput
          placeholder="{{appTranslation.getText('patient','patient')}}"
          type="text"
          disabled
          [(ngModel)]="patient_name"
          required
        >
        <button
          mat-icon-button
          matTooltip="{{appTranslation.getText('patient','patient')}}"
          matSuffix
          color="primary"
          (click)="searchPatient()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field> 
                        <mat-form-field class="tc-full-stretch">
                          <mat-select placeholder='Relationship'
                                      [(value)]="creditEmployeeFamilyDetail.relationship">
                            <mat-option *ngFor="let status of persist.CreditFamilyRelationship" [value]="status.id">
                              {{ status.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch">
                          <input matInput  placeholder="covered_percent" type="number"  [(ngModel)]="creditEmployeeFamilyDetail.covered_percent" required>
                      </mat-form-field>                    
<mat-form-field class="tc-full-stretch">
                          <input matInput  placeholder="discount_percent" type="number"  [(ngModel)]="creditEmployeeFamilyDetail.discount_percent" required>
                      </mat-form-field>
                          <div class="profile-picture">
                            <p-avatar class="rectangle"  [(image)]="creditEmployeeFamilyDetail.image_url" abel="P" shape="rectangle" size="xlarge"></p-avatar>  
                            <span style="margin-right: 16px">ID Image:</span>                          
                            <button mat-button class="actionBtn"  (click)="documentUploadInput.click()"><span  >Upload</span></button>
                            <button mat-button class="actionBtn"  (click)="takePic('image_id', 'image_url')"><span  >Camera</span></button>
                            <input #documentUploadInput hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
                            (change)="documentUpload($event, 'image_id', 'image_url')"/>
                      
                          </div>
                          <div class="profile-picture">
                            <p-avatar class="rectangle"  [(image)]="creditEmployeeFamilyDetail.document_url" abel="P" shape="rectangle" size="xlarge"></p-avatar>  
                            <span style="margin-right: 16px">Documnet:</span>                          
                            <button mat-button class="actionBtn"  (click)="documentUploadInput.click()"><span  >Upload</span></button>
                            <button mat-button class="actionBtn"  (click)="takePic('documnet_id', 'document_url')"><span  >Camera</span></button>
                            <input #documentUploadInput hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
                            (change)="documentUpload($event, 'documnet_id', 'document_url')"/>
                      
                          </div>
  </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>