<div class="tc-flex-row">
  <h1 class="mat-headline">

  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<mat-dialog-content>
  <mat-form-field class="tc-full-stretch" *ngIf="!data.multiLine">
    <input matInput [pattern]='data.validationPattern' placeholder="{{data.prompt}}" [(ngModel)]="txt" required
           cdkFocusInitial>
  </mat-form-field>
  <mat-form-field class="tc-full-stretch" *ngIf="data.multiLine && !data.editor">
    <textarea [pattern]='data.validationPattern' matInput placeholder="{{data.prompt}}" [(ngModel)]="txt" required
              cdkFocusInitial
              class="tc-input-multiline-text"></textarea>
  </mat-form-field>
    <ckeditor *ngIf="data.multiLine && data.editor" style="min-height: 500px" [editor]="Editor" [config]="config" [(ngModel)]="txt" (ready)="radiologyResultSettingPersist.onReady($event)"></ckeditor>
  <div class="tc-flex-column">
    <div class="tc-guideline-single" *ngFor="let guide of data.guidelines">
      {{guide}}
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{data.cancelLabel |uppercase}}</button>
  <button mat-button (click)="onOk() " [disabled]="!canSubmit()">
    {{data.action |uppercase}}
  </button>
</div>
