<!--  <div class="tc-loading" *ngIf="creditPaymentIsLoading">-->
<!--    <mat-spinner></mat-spinner>-->
<!--  </div>-->

<!--  <div [ngClass]="activeTab==CreditPaymentTabs.overview? '':'tc-hidden'">-->
<!--    <mat-toolbar class="tc-toolbar-secondary ">-->
<!--      <h1 class="mat-heading">-->
<!--        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>-->
<!--        {{appTranslation.getText("general", "overview")}}-->
<!--      </h1>-->
<!--      <button mat-button (click)=" back();" class="tc-link">-->
<!--        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>-->
<!--      </button>-->
<!--      <button mat-button (click)=" reload()" class="tc-link">-->
<!--        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>-->
<!--      </button>-->
<!--    </mat-toolbar>-->

<!--    <div class="tc-flex-row tc-full-width">-->
<!--      <div class="tc-equal-block">-->
<!--        <div class="tc-padding">-->
<!--          <mat-accordion>-->
<!--            <mat-expansion-panel expanded="true">-->
<!--              <mat-expansion-panel-header>-->
<!--                <mat-panel-title>-->
<!--                  {{appTranslation.getText("general","basicdetails")}}-->
<!--                </mat-panel-title>-->
<!--              </mat-expansion-panel-header>-->

<!--              <div *ngIf="!creditPaymentIsLoading">  <p class="tc-detail-field">-->
<!--                <span>  {{creditPaymentDetail.patient_id}} </span>-->
<!--              </p>-->
<!--                <p class="tc-detail-field">-->
<!--                  <span>  {{creditPaymentDetail.user_id}} </span>-->
<!--                </p>-->
<!--                <p class="tc-detail-field">-->
<!--                  <span>  {{creditPaymentDetail.start_date}} </span>-->
<!--                </p>-->
<!--                <p class="tc-detail-field">-->
<!--                  <span>  {{creditPaymentDetail.end_date}} </span>-->
<!--                </p>-->
<!--                <p class="tc-detail-field">-->
<!--                  <span>  {{creditPaymentDetail.amount}} </span>-->
<!--                </p>-->
<!--                <p class="tc-detail-field">-->
<!--                  <span>  {{creditPaymentDetail.status}} </span>-->
<!--                </p>-->
<!--              </div>-->
<!--              <mat-action-row>-->
<!--                <button mat-button (click)="editCreditPayment()" *ngIf="tcAuthorization.canUpdate('credit_payments') ">-->
<!--                  {{appTranslation.getText("general", "edit")}}-->
<!--                </button>-->
<!--              </mat-action-row>-->

<!--            </mat-expansion-panel>-->
<!--          </mat-accordion>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tc-equal-block">-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<app-credit-payment-history-list *ngIf="creditPaymentDetail.id" [credit_payment_id]="creditPaymentDetail.id"></app-credit-payment-history-list>

