<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-book-open"></mat-icon>
    {{appTranslation.getText("inventory", "ledger_entry")}}
  </h3>

  <button mat-button (click)="back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)="searchItem_Ledger_Entrys();"
          class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="item_ledger_entrysSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="employeeSelfPersist.item_ledger_entrySearchText" matSuffix mat-icon-button
            aria-label="Clear"
            (click)="item_ledger_entrysSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("inventory", "entry_type")}}'
                [(value)]="employeeSelfPersist.entry_typeId"
                (valueChange)="searchItem_Ledger_Entrys()">
      <mat-option *ngFor="let etype of ledgerEntryPersist.entry_type" [value]="etype.id">
        {{appTranslation.getText('inventory', etype.name)}}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="employeeSelfPersist.entry_typeId" matSuffix mat-icon-button aria-label="Clear"
            (click)="employeeSelfPersist.entry_typeId = -1;searchItem_Ledger_Entrys();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("inventory", "item_type")}}'
                [(value)]="employeeSelfPersist.item_typeId"
                (valueChange)="searchItem_Ledger_Entrys()">
      <mat-option *ngFor="let etype of ledgerEntryPersist.item_type" [value]="etype.id">
        {{appTranslation.getText('inventory', etype.name)}}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="employeeSelfPersist.item_typeId" matSuffix mat-icon-button aria-label="Clear"
            (click)="employeeSelfPersist.item_typeId = -1;searchItem_Ledger_Entrys();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="item_ledger_entrysIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let item_ledger_entry of item_ledger_entrysData" class="tc-card">
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'type')}}</span>
          {{ appTranslation.getText('inventory', tcUtilsArray.getEnum(ledgerEntryPersist.entry_type, item_ledger_entry.entry_type).name) }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'item_type')}}</span>
          {{ appTranslation.getText('inventory', tcUtilsArray.getEnum(ledgerEntryPersist.item_type, item_ledger_entry.item_type).name)  }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'item')}}</span>
          {{ tcUtilsArray.getById(items, item_ledger_entry.item_id)?.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'quantity')}}</span>
          {{item_ledger_entry.quantity}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'store')}}</span>
          {{  tcUtilsArray.getById(stores, item_ledger_entry.store_id)?.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'batch_no')}}</span>
          {{item_ledger_entry.batch}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'expire_date')}}</span>
          {{ tcUtilsDate.toDate(item_ledger_entry.expire_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'description')}}</span>
          {{item_ledger_entry.description}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'date_of_registration')}}</span>
          {{ tcUtilsDate.toDate(item_ledger_entry.registration_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'balance')}}</span>
          {{ item_ledger_entry.balance | number }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="item_ledger_entrysSelection.length >0 || item_ledger_entrysSelectAll">
      <button mat-button (click)="downloadItem_Ledger_Entrys()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{item_ledger_entrysSelectAll ? item_ledger_entrysTotalCount : item_ledger_entrysSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="item_ledger_entrysData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(item_ledger_entrysData,item_ledger_entrysSelection) "
            [checked]=" tcUtilsArray.isAllSelected(item_ledger_entrysData,item_ledger_entrysSelection) || item_ledger_entrysSelectAll"
            [indeterminate]="item_ledger_entrysSelection.length <item_ledger_entrysData.length && item_ledger_entrysSelection.length>0"
            [disabled]="item_ledger_entrysSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                      [matMenuTriggerFor]="item_ledger_entrysSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #item_ledger_entrysSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="item_ledger_entrysSelectAll=true;"
                    [disabled]="item_ledger_entrysSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="item_ledger_entrysSelectAll = false;"
                    [disabled]="!item_ledger_entrysSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(item_ledger_entrysSelection,row) : null"
                        [checked]="tcUtilsArray.contains(item_ledger_entrysSelection,row) || item_ledger_entrysSelectAll"
                        [disabled]="item_ledger_entrysSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="entry_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'type')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{ appTranslation.getText('inventory', tcUtilsArray.getEnum(ledgerEntryPersist.entry_type, element.entry_type).name) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'item_type')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{  appTranslation.getText('inventory', tcUtilsArray.getEnum(ledgerEntryPersist.item_type, element.item_type).name) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'item')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsArray.getById(items, element.item_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'quantity')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'store')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsArray.getById(stores, element.store_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="batch">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'batch_no')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expire_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'expire_date')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.expire_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'description')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="registration_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'date_of_registration')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.registration_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'balance')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.balance | number }}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="item_ledger_entrysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: item_ledger_entrysDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(item_ledger_entrysSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="item_ledger_entrysTotalCount"
                   [ngStyle]="{display: item_ledger_entrysTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>


