<h1 mat-dialog-title>
  Lab_Test Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="lab_testsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="lab_testPersist.lab_testSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="lab_testsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="lab_testsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="lab_testsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(lab_testsData,lab_testsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(lab_testsData,lab_testsSelection)"
            [indeterminate]="lab_testsSelection.length <lab_testsData.length && lab_testsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="lab_testsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{lab_testsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="lab_testsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(lab_testsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(lab_testsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(lab_testsSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lab_order_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','lab_order_id')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.lab_order_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="min_range">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','min_range')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.min_range}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="max_range">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','max_range')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.max_range}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="price">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','price')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="lab_testsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: lab_testsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(lab_testsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="lab_testsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" lab_testsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
