<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>

  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="radiologyResultDetail">
      <button
        mat-button
        (click)="searchRadResultTemplate()"
        class="tc-link import"
        *ngIf="canImport"
      >
        <mat-icon fontSet="fa" fontIcon="fa-download"></mat-icon>
        <span>Import</span>
      </button>
      <p class="tc-detail-field">
        <span
        >{{appTranslation.getText('patient','chief_complaint')}}
        </span>
          {{ radiologyResultDetail.chief_complaint }}
        </p>
        <p class="tc-detail-field">
          <span
          >Impression Preliminary Diagnosis
          </span>
            {{ radiologyResultDetail.impression_preliminary_diagnosis }}
          </p>
      <p>Techinical Summary</p>
      <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="radiologyResultDetail.technique" [disabled]="isOnlyShow" (ready)="radiologyResultSettingPersist.onReady($event)"></ckeditor>
      <p>Description</p>
      <ckeditor [editor]="Editor" [config]="config" (ready)="radiologyResultSettingPersist.onReady($event)" [disabled]="isOnlyShow"  [(ngModel)]="radiologyResultDetail.finding"></ckeditor>
      <p>Conclusion</p>
      <ckeditor [editor]="Editor" [config]="config"(ready)="radiologyResultSettingPersist.onReady($event)" [disabled]="isOnlyShow"  [(ngModel)]="radiologyResultDetail.conclusion"></ckeditor>
      <p>Recommendation</p>
      <ckeditor [editor]="Editor" [config]="config" (ready)="radiologyResultSettingPersist.onReady($event)" [disabled]="isOnlyShow"  [(ngModel)]="radiologyResultDetail.recommendation"></ckeditor> </div>

   </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            *ngIf="!isOnlyShow"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
