<div class="tc-flex-row custom-padding">
  <div class="tc-equal-block">Test Name</div>
  <div class="tc-equal-block" *ngIf="order_type == lab_order_type.lab">Result</div>
  <div class="tc-equal-block" *ngIf="order_type == lab_order_type.lab">Reference Range</div>
  <div class="tc-equal-block" *ngIf="order_type == lab_order_type.lab">Unit</div>
  <div class="tc-equal-block" *ngIf="order_type == lab_order_type.imaging">Recommendation</div>
  <div class="tc-equal-block" *ngIf="order_type == lab_order_type.pathology">Clinical Finding</div>
  <div class="tc-equal-block" *ngIf="order_type == lab_order_type.pathology">Conclusion</div>
  <div class="tc-equal-block" *ngIf="order_type == lab_order_type.lab">Remark</div>
  <!-- <div class="tc-equal-block">Result By</div>
  <div class="tc-equal-block">Result Date</div> -->
  <div class="tc-equal-block" *ngIf="order_type != lab_order_type.lab"></div>
</div>
<mat-accordion *ngFor="let panel_test of panel_results" class="tc-padding">
  <mat-expansion-panel #expansion>
    <mat-expansion-panel-header [ngClass]="panel_test.status != selected_order_status.approved ? ' warning ' : ' result '">
      <mat-panel-title>
        <div class="tc-equal-block">{{panel_test.lab_test_name}}{{panel_test.test_name}}</div>
        <div class="tc-equal-block" [ngStyle]="{'color': getStyle(panel_test)}" *ngIf="order_type == lab_order_type.lab">{{panel_test.result}}
          <button style="background: transparent;
          border: 0;
          width: fit-content;
          height: fit-content;
          cursor: pointer;
          color: white"
          (click)="$event.stopPropagation(); showResult(panel_test)" *ngIf="panel_test.result_file_id && panel_test.result_file_id != tcUtilsString.invalid_id">
            <mat-icon fontSet="fa" fontIcon="fa-up-right-from-square"></mat-icon>
          </button>
        </div>
        <div class="tc-equal-block" *ngIf="order_type == lab_order_type.lab">{{panel_test.reference_range}}</div>
        <div class="tc-equal-block" *ngIf="order_type == lab_order_type.lab">{{getUnit(panel_test.test_unit_id)}}</div>
        <div class="tc-equal-block" *ngIf="order_type == lab_order_type.lab">{{panel_test.result_conclusion}}</div>
        <div class="tc-equal-block" *ngIf="order_type == lab_order_type.imaging"><ckeditor [editor]="Editor" [config]="config" [(ngModel)]="panel_test.recommendation" [disabled]="true" (ready)="radiologyResultSettingPersist.onReady($event)"></ckeditor></div>
        <div class="tc-equal-block" *ngIf="order_type == lab_order_type.pathology">{{panel_test.clinical_finding}}
          <button style="background: transparent;
          border: 0;
          width: fit-content;
          height: fit-content;
          cursor: pointer;
          color: white"
          (click)="$event.stopPropagation(); showResult(panel_test)" *ngIf="panel_test.result_file_id && panel_test.result_file_id != tcUtilsString.invalid_id">
            <mat-icon fontSet="fa" fontIcon="fa-up-right-from-square"></mat-icon>
          </button>
        </div>
        <div class="tc-equal-block" *ngIf="order_type == lab_order_type.pathology">{{panel_test.conclusion}}</div>
        <!-- <div class="tc-equal-block">{{getUser(panel_test.result_by)}}</div>
        <div class="tc-equal-block">{{panel_test.result_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</div> -->
        <div class="tc-equal-block" *ngIf="order_type != lab_order_type.lab">
          <button style="width: 100%; font-size: 14px; color: #175D91; background-color: white; border: none; padding: 6px;" (click)="showDetail($event, panel_test)">Detail</button></div>
          <button style="background: transparent;
          border: 0;
          width: fit-content;
          height: fit-content;
          cursor: pointer;
          color: white"
          (click)="$event.stopPropagation(); showResult(panel_test)" *ngIf=" order_type == lab_order_type.imaging && panel_test.result_file_id && panel_test.result_file_id != tcUtilsString.invalid_id">
            <mat-icon fontSet="fa" fontIcon="fa-up-right-from-square"></mat-icon>
          </button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="tc-loading" *ngIf="panel_resultLoading">
      <mat-spinner></mat-spinner>
    </div>
    <app-previous-result-list *ngIf="expansion.expanded" [result_id]="panel_test.id" [patientId]="patientDetail.id" [labTestId]="panel_test.lab_test_id" [orderId]="orderId" [min_range]="panel_test.min_range" [max_range]="panel_test.max_range" [order_type]="order_type"></app-previous-result-list>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
[pageSize]="tcUtilsArray.defaultPageSize"
[length]="panel_resultTotalCount"
[ngStyle]="{display: panel_resultTotalCount > 0? '':'none'}"></mat-paginator>
