
<div class="custom-alignment">
<div class="tc-padding tc-equal-block">
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-door-open"></mat-icon>
    {{ appTranslation.getText("bed", "bedrooms") }}
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchBedrooms()"
    *ngIf="tcAuthorization.canRead('bed_rooms')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addBedroom()"
    *ngIf="tcAuthorization.canCreate('bed_rooms')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="bedroomsSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="bedroomPersist.bedroomSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="bedroomsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("general", "status")}}'  [(value)]="bedroomPersist.statusFilter" (valueChange)="searchBedrooms()">
      <mat-option  *ngFor="let status of bedroomPersist.room_status" [value]="status.id">
        {{ appTranslation.getText("bed",status.name) }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='bedroomPersist.statusFilter != "-1"' matSuffix mat-icon-button aria-label="Clear" (click)="bedroomPersist.statusFilter = '-1';searchBedrooms();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="bedroomsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let bedroom of bedroomsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('bed_rooms') ||
              tcAuthorization.canDelete('bed_rooms')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editBedroom(bedroom)"
              *ngIf="tcAuthorization.canUpdate('bed_rooms')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteBedroom(bedroom)"
              *ngIf="tcAuthorization.canDelete('bed_rooms')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>


        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','name')}}</span>
          {{bedroom.name}}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("bed", "bed_room_level") }}</span>
          {{ getBedroomLevelName(bedroom.bed_room_level_id) }}
        </div>
<!--        <div class="tc-detail-field">-->
<!--          <span>{{ appTranslation.getText("bed", "price_per_day") }}</span>-->
<!--          {{ tcUtilsNumber.convertToDecimalPlaces(bedroom.price_per_day) }}-->
<!--        </div>-->
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "status") }}</span>
          {{
          appTranslation.getText(
            "bed",
            tcUtilsArray.getEnum(bedroomPersist.room_status, bedroom.status)
              .name
          )
          }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar *ngIf="bedroomsSelection.length > 0 || bedroomsSelectAll">
      <button mat-button (click)="downloadBedrooms()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
        >{{
          bedroomsSelectAll ? bedroomsTotalCount : bedroomsSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>
    <mat-table [dataSource]="bedroomsData" matSort class="tc-hide-on-mobile">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(bedroomsData, bedroomsSelection)
            "
            [checked]="
              tcUtilsArray.isAllSelected(bedroomsData, bedroomsSelection) ||
              bedroomsSelectAll
            "
            [indeterminate]="
              bedroomsSelection.length < bedroomsData.length &&
              bedroomsSelection.length > 0
            "
            [disabled]="bedroomsSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="bedroomsSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #bedroomsSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="bedroomsSelectAll = true"
              [disabled]="bedroomsSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="bedroomsSelectAll = false"
              [disabled]="!bedroomsSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(bedroomsSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(bedroomsSelection, row) || bedroomsSelectAll
            "
            [disabled]="bedroomsSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="bedroomNavigator.bedroomUrl(element.id)"
            class="tc-link"
            >{{ element.id }}</a
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_type_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("bed", "bedroom_type")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          getBedroomTypeName(element.bed_room_type_id)
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_level_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("bed", "bed_room_level")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          getBedroomLevelName(element.bed_room_level_id)
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price_per_day">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("bed", "price_per_day")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          tcUtilsNumber.convertToDecimalPlaces(element.price_per_day)
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "status")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          appTranslation.getText(
            "bed",
            tcUtilsArray.getEnum(bedroomPersist.room_status, element.status)
              .name
          )
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
     </ng-container>

<ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','no')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.no}}</mat-cell>
     </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('bed_rooms') ||
              tcAuthorization.canDelete('bed_rooms')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editBedroom(element)"
              *ngIf="tcAuthorization.canUpdate('bed_rooms')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteBedroom(element)"
              *ngIf="tcAuthorization.canDelete('bed_rooms')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="bedroomsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: bedroomsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(bedroomsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="bedroomsTotalCount"
      [ngStyle]="{ display: bedroomsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
</div>

<div class="tc-padding tc-equal-block">
  <mat-accordion *ngFor="let bedroom of bedroomsData" class="tc-padding">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{bedroom.name}}
        </mat-panel-title>
        <mat-panel-description style="padding: 5px">
          <div style="margin-left: auto;">
            <input  (ngModelChange)="bedroom.serial_id = $event.toUpperCase()" (click)="$event.stopPropagation()" class="custom-input" placeholder="Bed Id"
            type="text" style="padding:5px" [ngModel]="bedroom.serial_id">
              <button [disabled]="!bedroom.serial_id" style="color: white; background-color: #175D91; border: none; padding: 5px; margin-left: 10px;" (click)="$event.stopPropagation();onBedAdd(bedroom.id, bedroom.serial_id)">Add Bed</button>
          </div>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-bed-list [bed_room_id]="bedroom.id"></app-bed-list>
   </mat-expansion-panel>
    </mat-accordion>
    </div>

  </div>
