<mat-tab-group>
    <mat-tab label="Overview">
        <div class="tc-loading" *ngIf="purchaseRequestIsLoading">
            <mat-spinner></mat-spinner>
    </div>
        <mat-toolbar class="tc-toolbar-secondary ">
            <h1 class="mat-heading">
                <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                {{appTranslation.getText("general", "overview")}}
            </h1>
            <button mat-button (click)=" back();" class="tc-link">
                                <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                            </button>
            <button mat-button (click)=" reload()" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
            <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                      <button mat-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                    </p> -->
        </mat-toolbar>

        <div class="tc-flex-row tc-full-width">
            <div class="tc-equal-block">
                <div class="tc-padding">
                    <mat-accordion>
                          <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{appTranslation.getText("general","basicdetails")}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>

                                <div *ngIf="!purchaseRequestIsLoading">  <p class="tc-detail-field">
request_date                           <span>  {{purchaseRequestDetail.request_date * 1000|date:'MMM dd, yyyy. h:mm a'}} </span> 
                                                 </p>
                    <p class="tc-detail-field">
response_date                           <span>  {{purchaseRequestDetail.response_date && purchaseRequestDetail.response_date * 1000|date:'MMM dd, yyyy. h:mm a'}} </span> 
                                                 </p>
                    <p class="tc-detail-field">
 status  <span> {{tcUtilsArray.getEnum(purchaseRequestPersist.PurchaseRequestStatus,purchaseRequestDetail.status)?.name}} </span> 
                                                 </p>
                    <p class="tc-detail-field">
item_id                           <span>  {{purchaseRequestDetail.item_name}} </span> 
                                                 </p>
                    <p class="tc-detail-field">
quantity                           <span>  {{purchaseRequestDetail.quantity}} </span> 
                                                 </p>
                    <p class="tc-detail-field">
unit                           <span>  {{appTranslation.getTextByIdentifier(this.tcUtilsArray.getEnum(requestPersist.units, purchaseRequestDetail.unit)?.name)}} </span> 
                                                 </p>
                    <p class="tc-detail-field">
requestor                           <span>  {{purchaseRequestDetail.requester_name}} </span> 
                                                 </p>
                    <p class="tc-detail-field">
approver                           <span>  {{purchaseRequestDetail.approver_name}} </span> 
                                                 </p>
                   </div>
                            <mat-action-row>
                               <button mat-button (click)="editPurchaseRequest()" *ngIf="tcAuthorization.canUpdate('purchase_requests') ">
                                 {{appTranslation.getText("general", "edit")}}
                               </button>
                             </mat-action-row>

                           </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="tc-equal-block">
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Purchases">
        <ng-template matTabContent>
            <app-purchase-list *ngIf="purchaseRequestDetail.id" [requestId]="purchaseRequestDetail.id"></app-purchase-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>