
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-calendar-check"></mat-icon>
      {{appTranslation.getText("patient", "surgery_appointments")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchSurgery_Appointments();" *ngIf="tcAuthorization.canRead('surgery_appointments')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="surgery_appointmentsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="surgery_appointmentPersist.surgery_appointmentSearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="surgery_appointmentsSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder='Surgery Date'
            [formControl]="surgery_date"
            [matDatepicker]="surgery_date_picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="surgery_date_picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #surgery_date_picker disabled="false"></mat-datepicker>
          <button mat-button *ngIf="surgery_date.value != ''" matSuffix mat-icon-button aria-label="Clear"
          (click)="surgery_date.setValue('')">
          <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="tc-loading" *ngIf="surgery_appointmentsIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let surgery_appointment of surgery_appointmentsData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title>
                            <a [routerLink]="patientNavigator.patientUrl(surgery_appointment.patient_id)" class="tc-link">
                                {{surgery_appointment.patient_name}}
                            </a>
                            <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('surgery_appointments') || tcAuthorization.canDelete('surgery_appointments')) && 
                            surgery_appointment.surgery_status != surgery_status.cancelled && surgery_appointment.surgery_status != surgery_status.completed && surgery_appointment.surgery_status != surgery_status.rejected">
                              <i class="material-icons">more_vert</i>
                            </button>
                            <mat-menu #elementMenu="matMenu">
              
                              <button mat-menu-item (click)="editSurgery_Appointment(surgery_appointment)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && surgery_appointment.surgery_status == surgery_status.sent">
                                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                <span>{{appTranslation.getText("patient","appointment")}} </span>
                              </button>
                              <button mat-menu-item (click)="editSurgery_Appointment(surgery_appointment)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') &&  surgery_appointment.surgery_status == surgery_status.appointed">
                                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                <span>{{appTranslation.getText("general","edit")}} </span>
                              </button>
                              <!-- <button mat-menu-item (click)="setStartSurgery(surgery_appointment)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && surgery_appointment.surgery_status == surgery_status.appointed">
                                <mat-icon fontSet="fa" fontIcon="fa-play"></mat-icon>
                                <span>{{appTranslation.getText("patient","start_surgery")}} </span>
                              </button>
                              <button mat-menu-item (click)="setEndtSurgery(surgery_appointment)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && surgery_appointment.surgery_status == surgery_status.on_surgery">
                                <mat-icon fontSet="fa" fontIcon="fa-stop"></mat-icon>
                                <span>{{appTranslation.getText("patient","end_surgery")}} </span>
                              </button> -->
                              <button mat-menu-item (click)="cancelAppointment(surgery_appointment)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && surgery_appointment.surgery_status == surgery_status.appointed">
                                <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
                                <span>{{appTranslation.getText("schedule","cancelled")}} </span>
                              </button>
                            </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                   <mat-card-content>
                    <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','patient')}}</span>
            {{surgery_appointment.patient_name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('employee','departments')}}</span>
            {{surgery_appointment.department}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('procedure','procedure')}}</span>
            {{surgery_appointment.procedure_name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','surgery_date')}}</span>
            {{tCUtilsDate.toDate(surgery_appointment.surgery_date) | date:'EE MMM, d/y h:mm a'}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('schedule','start_time')}}</span>
            {{surgery_appointment.start_time && tCUtilsDate.toDate(surgery_appointment.start_time) | date:'EE MMM, d/y h:mm a'}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('schedule','end_time')}}</span>
            {{surgery_appointment.end_time && tCUtilsDate.toDate(surgery_appointment.end_time) | date:'EE MMM, d/y h:mm a'}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','status')}}</span>
            {{
              appTranslation.getText(
                "schedule",
                tcUtilsArray.getEnum(surgery_appointmentPersist.surgery_status, surgery_appointment.surgery_status)?.name
              )
              }}
              {{ appTranslation.getText(
                "patient",
                tcUtilsArray.getEnum(surgery_appointmentPersist.surgery_status, surgery_appointment.surgery_status)?.name
              )
              }}
          </div>
                </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="surgery_appointmentsSelection.length >0 || surgery_appointmentsSelectAll">
                    <button mat-button (click)="downloadSurgery_Appointments()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{surgery_appointmentsSelectAll ? surgery_appointmentsTotalCount : surgery_appointmentsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="surgery_appointmentsData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(surgery_appointmentsData,surgery_appointmentsSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(surgery_appointmentsData,surgery_appointmentsSelection) || surgery_appointmentsSelectAll"
                  [indeterminate]="surgery_appointmentsSelection.length <surgery_appointmentsData.length && surgery_appointmentsSelection.length>0"
                  [disabled]="surgery_appointmentsSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="surgery_appointmentsSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #surgery_appointmentsSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="surgery_appointmentsSelectAll=true;"
                          [disabled]="surgery_appointmentsSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="surgery_appointmentsSelectAll = false;"
                          [disabled]="!surgery_appointmentsSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(surgery_appointmentsSelection,row) : null"
                              [checked]="tcUtilsArray.contains(surgery_appointmentsSelection,row) || surgery_appointmentsSelectAll"
                              [disabled]="surgery_appointmentsSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="patient_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
           </ng-container>
        
<ng-container matColumnDef="procedure">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','procedure')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.procedure_name}}</mat-cell>
           </ng-container>
        
           <ng-container matColumnDef="surgery_room">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Surgery Room
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a (click)="navigateToChecklist(element)" class="tc-link">{{element.surgery_room_name}}</a>
                
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sergeon">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sergeon
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.sergeon_name}}
            </mat-cell>
        </ng-container>
<ng-container matColumnDef="department">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('employee','departments')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.department}}</mat-cell>
           </ng-container>
        
<ng-container matColumnDef="surgery_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','surgery_date')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.surgery_date && tCUtilsDate.toDate(element.surgery_date) | date:'EE MMM, d/y h:mm a'}}</mat-cell>
           </ng-container>
        
<ng-container matColumnDef="start_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','start_time')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.start_time && tCUtilsDate.toDate(element.start_time) | date:'EE MMM, d/y h:mm a'}}</mat-cell>
           </ng-container>
        
<ng-container matColumnDef="end_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','end_time')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.end_time && tCUtilsDate.toDate(element.end_time) | date:'EE MMM, d/y h:mm a'}}</mat-cell>
           </ng-container>
        
<ng-container matColumnDef="surgery_status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','status')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">{{
                appTranslation.getText(
                  "schedule",
                  tcUtilsArray.getEnum(surgery_appointmentPersist.surgery_status, element.surgery_status)?.name
                )
                }}
                {{ appTranslation.getText(
                  "patient",
                  tcUtilsArray.getEnum(surgery_appointmentPersist.surgery_status, element.surgery_status)?.name
                )
                }}
              </mat-cell>
           </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('surgery_appointments') || tcAuthorization.canDelete('surgery_appointments')) &&  element.surgery_status == surgery_status.sent">     
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
                  <button mat-menu-item (click)="editSurgery_Appointment(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && element.surgery_status == surgery_status.sent">
                    <mat-icon fontSet="fa" fontIcon="fa-calendar-check"></mat-icon>
                    <span> Book </span>
                  </button>
                  <!-- <button mat-menu-item (click)="editSurgery_Appointment(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') &&  element.surgery_status == surgery_status.appointed">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button> -->
                  <!-- <button mat-menu-item (click)="setStartSurgery(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && element.surgery_status == surgery_status.appointed">
                    <mat-icon fontSet="fa" fontIcon="fa-play"></mat-icon>
                    <span>{{appTranslation.getText("patient","start_surgery")}} </span>
                  </button>
                  <button mat-menu-item (click)="setEndtSurgery(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && element.surgery_status == surgery_status.on_surgery">
                    <mat-icon fontSet="fa" fontIcon="fa-stop"></mat-icon>
                    <span>{{appTranslation.getText("patient","end_surgery")}} </span>
                  </button> -->
                  <button mat-menu-item (click)="cancelAppointment(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && element.surgery_status == surgery_status.sent">
                    <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
                    <span>{{appTranslation.getText("schedule","cancelled")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="surgery_appointmentsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: surgery_appointmentsDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(surgery_appointmentsSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="surgery_appointmentsTotalCount"
                         [ngStyle]="{display: surgery_appointmentsTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  
