<ng-template #body>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="historyDetail">
    <mat-form-field class="tc-full-stretch" *ngIf="isVisible(historyDetail.chief_complaint)">
      <mat-label>Chief Complaint </mat-label>
      <textarea type="text" #input
             aria-label="auto"
             matInput
             rows="4"
             (ngModelChange)="handleInput($event, input)"
             [(ngModel)]="historyDetail.chief_complaint"
             [matAutocomplete]="auto"
             [disabled]="!form_encounterPersist.encounter_is_active"
             ></textarea>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let etype of chiefComplaintOptions" [value]="appendString(etype.name)">
          {{etype.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
                   
<mat-form-field class="tc-full-stretch" *ngIf="isVisible(historyDetail.hpi)">
  <textarea  matInput placeholder="{{appTranslation.getText('patient','hpi')}}" type="text"
  [(ngModel)]="historyDetail.hpi" [disabled]="!form_encounterPersist.encounter_is_active" required></textarea>
                       </mat-form-field>
                   
<mat-form-field class="tc-full-stretch" *ngIf="isVisible(historyDetail.past_medical_history)">
  <textarea  matInput placeholder="{{appTranslation.getText('patient','past_medical_history')}}" type="text"
  [(ngModel)]="historyDetail.past_medical_history" [disabled]="!form_encounterPersist.encounter_is_active" ></textarea>

                       </mat-form-field>       
<mat-form-field class="tc-full-stretch" *ngIf="isVisible(historyDetail.medical_history)">
  <textarea  matInput placeholder="{{appTranslation.getText('patient','medical_history')}}" type="text"
  [(ngModel)]="historyDetail.medical_history" [disabled]="!form_encounterPersist.encounter_is_active" ></textarea>
                       </mat-form-field>              
<!-- <mat-form-field class="tc-full-stretch">
  <textarea  matInput placeholder="{{appTranslation.getText('patient','family_history')}}" type="text"
  [(ngModel)]="historyDetail.family_history" ></textarea>
                       </mat-form-field> -->
<!-- <div style="margin-left:10px; padding: 12px; border-radius: 5px; border: 1px solid">

<h3 style="margin-left:-5px">{{appTranslation.getText('patient','family_history')}}</h3>
<mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('patient','siblings_history')}}" type="text"  [(ngModel)]="historyDetail.siblings_history" [disabled]="!form_encounterPersist.encounter_is_active" >
    </mat-form-field>
                
<mat-form-field class="tc-full-stretch">
                        <input matInput placeholder="{{appTranslation.getText('patient','father_history')}}" type="text"  [(ngModel)]="historyDetail.father_histroy" [disabled]="!form_encounterPersist.encounter_is_active" >
                    </mat-form-field>
                
<mat-form-field class="tc-full-stretch">
                        <input matInput placeholder="{{appTranslation.getText('patient','mother_hisotry')}}" type="text"  [(ngModel)]="historyDetail.mother_history" [disabled]="!form_encounterPersist.encounter_is_active" >
                    </mat-form-field>
<mat-form-field class="tc-full-stretch">
                      <input matInput placeholder='Other History' type="text"  [(ngModel)]="historyDetail.others_history" [disabled]="!form_encounterPersist.encounter_is_active" >
                  </mat-form-field>
                </div>
                   
<mat-form-field class="tc-full-stretch">
  <textarea  matInput placeholder="{{appTranslation.getText('patient','socail_history')}}" type="text"
  [(ngModel)]="historyDetail.social_history" [disabled]="!form_encounterPersist.encounter_is_active" ></textarea>
                       </mat-form-field>
                   
<mat-form-field class="tc-full-stretch">
  <textarea  matInput placeholder="{{appTranslation.getText('patient','occupation_history')}}" type="text"
  [(ngModel)]="historyDetail.occupation_history" [disabled]="!form_encounterPersist.encounter_is_active" ></textarea>
                         
                       </mat-form-field>
                   
<mat-form-field class="tc-full-stretch">
  <textarea  matInput placeholder="{{appTranslation.getText('patient','obstrtrics_history')}}" type="text"
  [(ngModel)]="historyDetail.obstetrics_history" [disabled]="!form_encounterPersist.encounter_is_active" ></textarea>
                           
                       </mat-form-field>
 -->

 </div>
</ng-template>

<div class="tc-flex-row" *ngIf="isDialog">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content *ngIf="isDialog">
    <ng-container *ngTemplateOutlet="body">
    </ng-container>
   </div>

   <div *ngIf="!isDialog">
    <ng-container *ngTemplateOutlet="body">
    </ng-container>
   </div>
  
  <div mat-dialog-actions *ngIf="isDialog">
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
  </div>
  