.total-price {
    background-color: white;
    margin-left: auto;
    border-radius: 27px;
    width: 8em;
    padding: 12px 20px;
    text-align: left;
    line-height: 10px;
    text-align: center;

}

.total-price span {
    color: #175c91;
    font-size: small;
    margin-bottom: 8px;
    display: block;
}

.total-price p {
    font-size: smaller;
    margin: 0;
    padding: 0;
    text-align: center;
}

.inline-block {
    display: inline-block;
}