
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-trowel-bricks"></mat-icon>
     sale report  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>  
    <button mat-button (click)=" searchSellReports();" *ngIf="tcAuthorization.canRead('sale_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <div class="total-price" >
        <span>Total Price</span>
        <p>{{total_price}} Birr</p>
    </div>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="sellReportSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="reportPersist.sellReportSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="sellReportSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="reportPersist.store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="reportPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="reportPersist.store_id = null; reportPersist.store_name = null ; searchSellReports()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>

      <mat-form-field >
        <input
          matInput
          placeholder=
            'from date'
          [formControl]="reportPersist.start_date"
          [matDatepicker]="from_date_picker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="from_date_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
        <button mat-button *ngIf="reportPersist.start_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
        (click)="reportPersist.start_date.setValue('')">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field >
    <input
      matInput
      placeholder=
        'to Date'
      [formControl]="reportPersist.end_date"
      [matDatepicker]="to_date_picker"  
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="to_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="reportPersist.end_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
    (click)="reportPersist.end_date.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
    <div class="tc-loading" *ngIf="sellReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let sellReport of sellReportsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <mat-menu #elementMenu="matMenu">

            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{sellReport.name}}
          </div><div class="tc-detail-field">
            <span>unit</span>
            {{sellReport.unit}}
          </div><div class="tc-detail-field">
            <span>quantity</span>
            {{sellReport.quantity}}
          </div> 
          <div class="tc-detail-field">
            <span>total price</span>
            {{sellReport.total_price}}
          </div>          
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchSellReports.length >0 || sellReportSelectAll">
        <button mat-button (click)="downloadsellReports()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{sellReportSelectAll ? sellReportsTotalCount : sellReportSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="sellReportsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(sellReportsData,sellReportSelection) "
              [checked]=" tcUtilsArray.isAllSelected(sellReportsData,sellReportSelection) || sellReportSelectAll"
              [indeterminate]="sellReportSelection.length <sellReportsData.length && sellReportSelection.length>0"
              [disabled]="sellReportSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="sellReportSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #sellReportSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="sellReportSelectAll=true;" [disabled]="sellReportSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="sellReportSelectAll = false;" [disabled]="!sellReportSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(sellReportSelection,row) : null"
              [checked]="tcUtilsArray.contains(sellReportSelection,row) || sellReportSelectAll" [disabled]="sellReportSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="total_price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>total price
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>

    <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Dispatch date</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="unit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> unit</mat-header-cell>
            <mat-cell *matCellDef="let element">
             {{element.unit}}
    
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="store_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> store_name</mat-header-cell>
            <mat-cell *matCellDef="let element">
             {{element.store_name}}
            </mat-cell>
          </ng-container>
     
        <mat-header-row *matHeaderRowDef="sellReportsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: sellReportsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(sellReportSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="sellReportsTotalCount"
        [ngStyle]="{display: sellReportsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>