<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon>add</mat-icon>
    {{appTranslation.getText("patient", "admission_order")}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>

  <mat-form-field class="tc-full-stretch">
    <mat-label>{{
      appTranslation.getText("bed", "bedroom_type")
    }}</mat-label>
    <input matInput disabled [(ngModel)]="ward" />
    <button
      mat-icon-button
      matTooltip="{{ appTranslation.getText('bed', 'bedroom_type') }}"
      matSuffix
      color="primary"
      (click)="searchWard()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

<!-- 
  <mat-form-field class="tc-full-stretch">
    <mat-label>
      Department
    </mat-label>
    <input matInput disabled [(ngModel)]="department" required/>
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchDepartment()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field> -->

  <mat-form-field class="tc-full-stretch" >
    <mat-select
      placeholder="Admission Type"
      [(value)]="admission_order.admission_type"
      (valueChange)="admission_order.urgency = -1"
      required>
      <mat-option *ngFor="let etype of admissionFormPersist.AdmissionType" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" *ngIf="admission_order.admission_type == AdmissionType.elective">
    <mat-select placeholder="Urgency" [(value)]="admission_order.urgency" required>
      <mat-option *ngFor="let etype of formEncounterPersist.bedAssignmentStatuses" [value]="etype.id">
        {{appTranslation.getTextByIdentifier(etype.name)}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch">
    <input
      matInput
      placeholder='Expected date of stay'
      type="number"
      [(ngModel)]="admission_order.expected_days_of_required"
      required
    />
  </mat-form-field>
  <mat-form-field class="tc-full-stretch">
    <mat-select placeholder='patient condition'   [(value)]="admission_order.patient_condition" required>
      <mat-option *ngFor="let etype of admissionFormPersist.patient_condition" [value]="etype.id">
        {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch">
    <textarea
      rows="3"
      matInput
      placeholder='Addmision Diagnosis'
      type="text"
      [(ngModel)]="admission_order.admission_diagnosis"
      disabled
      required
    ></textarea>
  </mat-form-field>

  <!-- <mat-form-field class="tc-full-stretch">
    <textarea
      rows="3"
      matInput
      placeholder='{{ appTranslation.getText("schedule", "reason") }}'
      type="text"
      [(ngModel)]="admission_order.reason"
      required
    ></textarea>
  </mat-form-field> -->

  <mat-form-field class="tc-full-stretch">
    <mat-select placeholder='{{ appTranslation.getText("schedule", "reason") }}'   [(value)]="admission_order.reason" required>
      <mat-option *ngFor="let etype of admissionFormPersist.admissionReason" [value]="etype.name">
        {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch">
    <mat-label>Plan and Order</mat-label>
    <textarea #plan
      matInput
      type="text"
      rows="5"
      (ngModelChange)="handleInput($event, plan)"
      [(ngModel)]="admission_order.instruction"
    ></textarea>
  </mat-form-field>

  <!-- <button 
  mat-icon-button
  matTooltip="Add Plan"
  matSuffix
  color="primary"
  (click)="addFormClinicalInstruction()"
>  Plan </button> -->

<!-- <div *ngIf="admission_order.orders.length > 0">

  <mat-table [dataSource]="admission_order.orders" matSort class="mat-elevation-z2" style="margin-bottom: 10px">
    <h3>{{appTranslation.getText("general", "treatment")}}</h3>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">

    <button mat-menu-item (click)="editTreatmentFromList(element.id)">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <span>{{appTranslation.getText("general", "delete")}} </span>
        </button> 
        <button mat-menu-item (click)="removeTreatmentFromList(element)">
          <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
           <span>{{appTranslation.getText("general", "delete")}} </span> 
        </button>

      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name
      </mat-header-cell>
      <mat-cell
        *matCellDef="let element">{{ element.target_name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="from_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>From date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.from_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="to_date">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>To date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.to_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
    </ng-container>



    <ng-container matColumnDef="interval">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Interval
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{getInterval(element.interval)}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="treatmentDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: treatmentDisplayedColumns;"></mat-row>

  </mat-table>
</div> -->

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onAdd()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>

  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
</div>
