
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-wrench"></mat-icon>
     radiology_result_settings  </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchRadiologyResultSettingss();" *ngIf="tcAuthorization.canRead('radiology_result_settings')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addRadiologyResultSettings();" *ngIf="tcAuthorization.canCreate('radiology_result_settings')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="radiologyResultSettingsSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="radiologyResultSettingsPersist.radiologyResultSettingsSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="radiologyResultSettingsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <!-- <mat-form-field>
        <input
            matInput
            placeholder="Tests"
            type="text"
            [(ngModel)]="orderName"
            disabled
            required
        >

        <button
            mat-icon-button
            matTooltip="Tests"
            matSuffix
            color="primary"
            (click)="searchOrder()"
        >
            <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf='radiologyResultSettingsPersist.orderId' matSuffix mat-icon-button
          aria-label="Clear"
          (click)="radiologyResultSettingsPersist.orderId = null;searchRadiologyResultSettingss();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
        </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Status" [(value)]="radiologyResultSettingsPersist.status" required (valueChange)="searchRadiologyResultSettingss()">
          <mat-option *ngFor="let etype of physicalExaminationPersist.PhysicalExaminationState" [value]="etype.id">
            {{etype.name}}
          </mat-option>
        </mat-select>
        <button mat-button *ngIf='radiologyResultSettingsPersist.status' matSuffix mat-icon-button
          aria-label="Clear"
          (click)="radiologyResultSettingsPersist.status = null;searchRadiologyResultSettingss();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
  </button>
      </mat-form-field> -->
    <div class="tc-loading" *ngIf="radiologyResultSettingsIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let radiologyResultSettings of radiologyResultSettingssData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('radiology_result_settings') || tcAuthorization.canDelete('radiology_result_settings')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

              <button mat-menu-item (click)="editRadiologyResultSettings(radiologyResultSettings)" *ngIf="tcAuthorization.canUpdate('radiology_result_settings')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRadiologyResultSettings(radiologyResultSettings)" *ngIf="tcAuthorization.canDelete('radiology_result_settings')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>order_id</span>
            {{radiologyResultSettings.order_name}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{tcUtilsArray.getEnum(physicalExaminationPersist.PhysicalExaminationState, radiologyResultSettings.status)?.name}}
          </div><div class="tc-detail-field">
            <span>value</span>
            {{radiologyResultSettings.value}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

      <mat-toolbar *ngIf="searchRadiologyResultSettingss.length >0 || radiologyResultSettingsSelectAll">
        <button mat-button (click)="downloadRadiologyResultSettingss()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{radiologyResultSettingsSelectAll ? radiologyResultSettingssTotalCount : radiologyResultSettingsSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="radiologyResultSettingssData" matSort class="tc-hide-on-mobile">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(radiologyResultSettingssData,radiologyResultSettingsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(radiologyResultSettingssData,radiologyResultSettingsSelection) || radiologyResultSettingsSelectAll"
              [indeterminate]="radiologyResultSettingsSelection.length <radiologyResultSettingssData.length && radiologyResultSettingsSelection.length>0"
              [disabled]="radiologyResultSettingsSelectAll">
            </mat-checkbox>

            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="radiologyResultSettingsSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #radiologyResultSettingsSelectAllMenu="matMenu">

              <button mat-menu-item (click)="radiologyResultSettingsSelectAll=true;" [disabled]="radiologyResultSettingsSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="radiologyResultSettingsSelectAll = false;" [disabled]="!radiologyResultSettingsSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>

          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(radiologyResultSettingsSelection,row) : null"
              [checked]="tcUtilsArray.contains(radiologyResultSettingsSelection,row) || radiologyResultSettingsSelectAll" [disabled]="radiologyResultSettingsSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="order_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>order
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.order_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(physicalExaminationPersist.PhysicalExaminationState, element.status)?.name}}
        </mat-cell>
        </ng-container>
    <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef mat-sort-header>value
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="template_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Template Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><a [routerLink]="radiologyResultSettingsNavigator.radiologyResultSettingsUrl(element.id)" class="tc-link">{{element.template_name}}</a></mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="radiologyResultSettingsNavigator.radiologyResultSettingsUrl(element.id)" class="tc-link">{{element.id}}</a>

          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('radiology_result_settings') || tcAuthorization.canDelete('radiology_result_settings')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editRadiologyResultSettings(element)" *ngIf="tcAuthorization.canUpdate('radiology_result_settings') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRadiologyResultSettings(element)" *ngIf="tcAuthorization.canDelete('radiology_result_settings')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="radiologyResultSettingssDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: radiologyResultSettingssDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(radiologyResultSettingsSelection,row)}"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="radiologyResultSettingssTotalCount"
        [ngStyle]="{display: radiologyResultSettingssTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
