<mat-sidenav-container style="height: 100vh">
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
               class="tc-sidebar mat-elevation-z8">
    <div class="tc-sidebar-inner">
      <img src="assets/images/logo.png" alt="eTech"
           style="padding: 15px;width: 120px;height: 120px; display: flex;justify-content: center;margin: 15px auto 0 auto; border-radius:50%;background-color: rgba(255, 255, 255);">
      <!-- <mat-divider></mat-divider> -->


      <div class="tc-padding" *ngIf="!nurseIdLoading && nurseDetail">
        <h1
          class="mat-h1 tc-dashboard-block-header "> {{ nurseDetail.first_name + ' ' + nurseDetail.middle_name + ' ' + nurseDetail.last_name }} </h1>
        <span class="tc-dashboard-block-header-description">{{nurseDetail.email}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == nurseTabs.overview? 'tc-list-item-focus':''"
                       (click)="activeTab = nurseTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == nurseTabs.admissionForm? 'tc-list-item-focus':''"
                       (click)="activeTab = nurseTabs.admissionForm;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("patient", "admission_form")}}
          </a>
        </mat-list-item>
      </mat-nav-list>

      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == nurseTabs.bed_assignment? 'tc-list-item-focus':''"
                       (click)="activeTab = nurseTabs.bed_assignment;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-gavel"></mat-icon>
            {{appTranslation.getText("bed", "bed_assignment") }}
          </a>
        </mat-list-item>
      </mat-nav-list>
      <div class="tc-sidebar-actions">

        <button mat-button>
          <mat-icon fontSet="fa" fontIcon="fa-globe"></mat-icon>
          <mat-select placeholder="{{appTranslation.getText('general','language')}}"
                      [(value)]="TCAppInit.userInfo.lang" (selectionChange)="languageChanged()"
                      style="width:5em;">

            <mat-option *ngFor="let lang of appTranslation.languages" [value]="lang.code">
              {{lang.name}}
            </mat-option>
          </mat-select>
        </button>
      </div>
    </div>


  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar>
      <mat-toolbar-row class="tc-primary-header mat-elevation-z8">
        <span style="color:#fff" *ngIf="!tcUtilsAngular.smallDevice">{{title}}</span>
        <button mat-icon-button *ngIf="tcUtilsAngular.smallDevice" (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">
            menu
          </mat-icon>
          <mat-icon *ngIf="sidenav.opened">
            close
          </mat-icon>
        </button>
        <button mat-button (click)="tcNavigator.home()" style="padding-left:0px;" *ngIf="tcUtilsAngular.smallDevice">
          <img src="assets/images/logo.png" style="height: 50px;"/>
          {{title}}
        </button>
        <div class="tc-flex-fill"></div>


        <button mat-button [matMenuTriggerFor]="profileMenu">
          <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon>
          {{TCAppInit.userInfo.name}}<i class="material-icons">arrow_drop_down</i>

        </button>
        <mat-menu #profileMenu="matMenu">

          <button mat-menu-item (click)="activeTab = nurseTabs.profile;" *ngIf="tcAuthorization.tosAccepted()">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>lock</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

      </mat-toolbar-row>

    </mat-toolbar>

    <div class="tc-loading" *ngIf="nurseIdLoading">
      <mat-spinner></mat-spinner>
    </div>


    <div [ngClass]="activeTab==nurseTabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)="loadDetails()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">

        </div>

      </div>

    </div>

   
    <div *ngIf="activeTab == nurseTabs.bed_assignment">
      <app-bedassignment-list [role]="role"></app-bedassignment-list>
  </div>
  </mat-sidenav-content>


</mat-sidenav-container>
