<!-- <mat-toolbar class="tc-toolbar-secondary">
  <h1 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
    {{ appTranslation.getText("general", "overview") }}
  </h1>
  <button mat-button (click)="reload()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button> </mat-toolbar
> -->
<mat-tab-group class="mat-elevation-z8"  [(selectedIndex)]="nurse_recordNavigator.selected_index"
(selectedTabChange)="onTabChanged($event);">
  <mat-tab label="Patient Detail">
    <ng-template matTabContent>
    <mat-tab-group class="mat-elevation-z8">
      <mat-tab label="Overview">
    <ng-template matTabContent>
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button> </mat-toolbar
      >
      <div class="tc-flex-row tc-full-width">
      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ appTranslation.getText("general", "basicdetails") }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngIf="!recordLoading">
                <p class="tc-detail-field">
                  <span
                    >{{ appTranslation.getText("general", "name") }}
                  </span>
                  {{ nurseRecordDetail.patient_name }}
                </p>
                <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("bed", "bedroom_type")
                  }}</span>
                  {{ nurseRecordDetail.ward }}
                </p>

                <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("bed", "bedroom")
                  }}</span>
                  {{ nurseRecordDetail.room_no }}
                </p>

                <p class="tc-detail-field">
                  <span>{{ appTranslation.getText("bed", "bed_no") }}</span>
                  {{ nurseRecordDetail.bed_no }}
                </p>

                <p class="tc-detail-field">
                  <span
                    >{{ appTranslation.getText("general", "gender") }}
                  </span>
                  <span *ngIf="nurseRecordDetail.sex">
                    <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon>
                  </span>
                  <span *ngIf="!nurseRecordDetail.sex">
                    <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                  </span>
                </p>

                <p class="tc-detail-field">
                  <span
                    >{{ appTranslation.getText("general", "department") }}
                  </span>
                  {{ nurseRecordDetail.department }}
                </p>

                <!-- <p class="tc-detail-field">
                  <span
                    >{{
                      appTranslation.getText("general", "department_speciality")
                    }}
                  </span>
                  {{ nurseRecordDetail.department_speciality }}
                </p> -->

                <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("general", "date_of_registration")
                  }}</span>
                  {{ tcUtilsDate.toDate(nurseRecordDetail.start_date)|date }}
                </p>
                <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("patient", "next_of_kin_name")
                  }}</span>
                  {{nurseRecordDetail.next_of_kin_name}}
                </p>
                <!-- <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("patient", "next_of_kin_address")
                  }}</span>
                  {{nurseRecordDetail.next_of_kin_address}}
                </p>
                <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("patient", "next_of_kin_email")
                  }}</span>
                  {{nurseRecordDetail.next_of_kin_email}}
                </p> -->
                <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("patient", "next_of_kin_phone")
                  }}</span>
                  {{nurseRecordDetail.next_of_kin_phone}}
                </p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Admission Form Detail
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngIf="!admissionLoading">
                <p class="tc-detail-field">
                  <span
                    >Chief compliant
                  </span>
                  {{ admisssionDetail.chief_complaint }}
                </p>

                <p class="tc-detail-field">
                  <span
                    >Admission Diagnosis
                  </span>
                  {{ admisssionDetail.admission_diagnosis }}
                </p>
                <p class="tc-detail-field">
                  <span style="text-transform: none;">Reason for Admission
                  </span>
                  {{ admisssionDetail.reason }}
                </p>
                <p class="tc-detail-field">
                  <span>Pateint Condition</span>
                  {{tcUtilsArray.getEnum(admissionFormPersist.patient_condition,admisssionDetail.patient_condition)?.name }}
                </p>
               
                <!-- <p>
                  <div></div>
                </p> -->



                <!-- <app-admission_form-edit-list  *ngIf="nurseRecordDetail.admission_form_id" [admission_form_id] = "nurseRecordDetail.admission_form_id"></app-admission_form-edit-list> -->
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    </ng-template>
    </mat-tab>
    <mat-tab label="Soap"  *ngIf=" tcAuthorization.canRead('form_soaps')">
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-bullseye"
        ></mat-icon>
        <span>Progress Note</span>
      </ng-template>
      <ng-template matTabContent>
        <app-form-soaps-list
          [encounterId]="nurseRecordDetail.encounter_id"
          [patient_id]="nurseRecordDetail.pid"
        >
        </app-form-soaps-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Operation Note" *ngIf=" tcAuthorization.canRead('operation_notes')">
      <ng-template mat-tab-label class="tab-content">
        <mat-icon
          class="tab-icon"
          fontSet="fa"
          fontIcon="fa-clipboard"
        ></mat-icon>
        <span>{{appTranslation.getText('patient', 'operation_note')}}</span>
      </ng-template>
      <ng-template matTabContent>
        <app-operation-note-list
      [encounterId]="nurseRecordDetail.encounter_id"
      *ngIf="nurseRecordDetail.encounter_id"
      ></app-operation-note-list>
      </ng-template>
    </mat-tab>

    </mat-tab-group>
    </ng-template>
  </mat-tab>  

  
  <mat-tab label="{{ appTranslation.getText('patient', 'clinical_instruction') }}">
    <ng-template matTabContent>
      <app-form_clinical_instruction-list *ngIf="nurseRecordDetail.encounter_id" [showToolBar] = "false" [encounterId] = "nurseRecordDetail.encounter_id" ></app-form_clinical_instruction-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{ appTranslation.getText('bed', 'nursing_assessment') }}">
    <ng-template matTabContent>
      <mat-toolbar class="tc-toolbar-secondary">
      <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
        {{ appTranslation.getText('bed', 'nursing_assessment') }}
      </h1>
      <button mat-button (click)="refresh()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
      <button mat-button (click)="back()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button> </mat-toolbar
    >
    <div class="tc-padding">
    <mat-form-field>
      <input
        matInput
        placeholder=
          '{{appTranslation.getText("general", "date")}}'
        [formControl]="date"
        [matDatepicker]="date_of_schedule"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="date_of_schedule"
      ></mat-datepicker-toggle>
      <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
      <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button
        aria-label="Clear" (click)="date.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nurse</mat-label>
      <input
        matInput
        placeholder="Nurse"
        type="text"
        disabled
        [(ngModel)]="nurseName"
        required
      >
      <button
        mat-icon-button
        matTooltip="Nurse"
        matSuffix
        color="primary"
        (click)="searchNurses()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="nurseName" matSuffix mat-icon-button aria-label="Clear"
    (click)="nurseName = null; nurseId=null; loadDetails(id)">
    <mat-icon>close</mat-icon>
    </button>
    </mat-form-field> 
    <div style="flex: 3; gap: 8px" class="tc-flex-column" *ngIf="nurseRecordDetail.encounter_id">
      <mat-accordion>
          <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Nurse History
                  </mat-panel-title>
              </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-nurse-history-list *ngIf="nurseRecordDetail.encounter_id" [encounterId]="nurseRecordDetail.encounter_id" [nurseId]="nurseId" [date]="date.value"></app-nurse-history-list>
                </ng-template>
          </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Physical Examination
                </mat-panel-title>
            </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-physical-examination-edit-list *ngIf="nurseRecordDetail.encounter_id" [encounterId]="nurseRecordDetail.encounter_id" [nurseId]="nurseId" [date]="date.value"></app-physical-examination-edit-list>
              </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>                    
                  nutritional assesment
                </mat-panel-title>
            </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-nutritional-assesment-list *ngIf="nurseRecordDetail.encounter_id" [encounterId]="nurseRecordDetail.encounter_id" [nurseId]="nurseId" [date]="date.value"></app-nutritional-assesment-list>
              </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
    

      <mat-accordion>
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>                    
                Investigation
                </mat-panel-title>
            </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-orders-list [sample_display]="true" *ngIf="!ordersDetail" [encounterId]="nurseRecordDetail.encounter_id" (handleSelectedOrder)="loadOrdersDetail($event)"></app-orders-list>
                <app-selected-orders-list *ngIf="ordersDetail" [ordersDetail]="ordersDetail" [patientDetail]="patientDetail" (handleBackButton)="handleBackButton()"></app-selected-orders-list>
              </ng-template>
              
        </mat-expansion-panel>
    </mat-accordion>
      </div>
    </div>
    </ng-template>
  </mat-tab>
  
  <!-- <mat-tab label="ICU Assessment" *ngIf="tcAuthorization.canRead('icu_physical_assessments')" >
    <ng-template matTabContent>
      <mat-tab-group class="mat-elevation-z8">
        <mat-tab label="ICU Physical Assessment" *ngIf="tcAuthorization.canRead('icu_physical_assessments')" >
          <ng-template matTabContent>
            <app-icu-physical-assessment-list
    [encounterId]="nurseRecordDetail.encounter_id"
    *ngIf="nurseRecordDetail.encounter_id"
  >
  </app-icu-physical-assessment-list> </ng-template>
</mat-tab>
  <mat-tab label="Behavioral Pain Scale (BPS) Tool" *ngIf="tcAuthorization.canRead('behavioral_pain_scales')" >
    <ng-template matTabContent>
      <app-behavioral-pain-scale-list
      [encounterId]="nurseRecordDetail.encounter_id"
    >
    </app-behavioral-pain-scale-list> </ng-template>
  </mat-tab>
  <mat-tab label="Nurse Diagnosis">
    <ng-template matTabContent>
      <app-diagnosis-list *ngIf="nurseRecordDetail.encounter_id" [from_nurse]="true" [encounterId] = "nurseRecordDetail.encounter_id" ></app-diagnosis-list>
    </ng-template>
  </mat-tab>
  <mat-tab
  label="Allergy Form"
  *ngIf="
    tcAuthorization.canRead('allergy_forms')
    "
    >
    <ng-template matTabContent>
      <app-alery-form-list
      [encounterId]="nurseRecordDetail.encounter_id"
      >*ngIf="nurseRecordDetail.encounter_id"
    </app-alery-form-list>
    
  </ng-template>
</mat-tab>
<mat-tab
label="Note"
*ngIf="tcAuthorization.canRead('patient_notes')" >
<ng-template matTabContent>
  <app-notes-list *ngIf="nurseRecordDetail.encounter_id" 
    [encounterId]="nurseRecordDetail.encounter_id"
    [patientId]="nurseRecordDetail.pid"
  >
</app-notes-list>
</ng-template>
</mat-tab>
</mat-tab-group>
</ng-template>
</mat-tab> -->

<mat-tab
label="Note"
*ngIf="tcAuthorization.canRead('patient_notes')" >
<ng-template matTabContent>
  <app-notes-list *ngIf="nurseRecordDetail.encounter_id" 
    [encounterId]="nurseRecordDetail.encounter_id"
    [patientId]="nurseRecordDetail.pid"
  >
  </app-notes-list>
</ng-template>
</mat-tab>

<mat-tab label="Vital Sign">
  <ng-template matTabContent>
    <app-form-vitals-list
    [encounterId]="nurseRecordDetail.encounter_id"
    *ngIf="nurseRecordDetail.encounter_id"
    [patientType]="service_type.inpatient"
    >
  </app-form-vitals-list> </ng-template>
</mat-tab>





<mat-tab label="Prescriptions ">
  <ng-template matTabContent>
   
    <app-prescription-list
    [encounterId] = "nurseRecordDetail.encounter_id"
    [prescribe_type]="prescription_type.nurse_prescription"
    *ngIf="nurseRecordDetail.encounter_id"
  >
  </app-prescription-list>
 </ng-template>
</mat-tab>

  <mat-tab label="Nurse Diagnosis">
    <ng-template matTabContent>
      <app-diagnosis-list *ngIf="nurseRecordDetail.encounter_id" [from_nurse]="true" [encounterId] = "nurseRecordDetail.encounter_id" ></app-diagnosis-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="Medical Adminsitration">
    <ng-template matTabContent>
      <app-medication-adminstration-chart-list *ngIf="nurseRecordDetail.encounter_id" [showToolBar] = "true" [encounterId] = "nurseRecordDetail.encounter_id" ></app-medication-adminstration-chart-list>
    </ng-template>
  </mat-tab>

  
  <!-- <mat-tab label="{{ appTranslation.getText('bed', 'nurse_plan_of_care') }}">
    <ng-template matTabContent>
      <app-nurse-plan-of-care-list *ngIf="nurseRecordDetail.encounter_id"   [encounterId] = "nurseRecordDetail.encounter_id"></app-nurse-plan-of-care-list>
    </ng-template>
  </mat-tab> -->

  <!-- <mat-tab label="{{ appTranslation.getText('patient', 'implementation') }}">
    <ng-template matTabContent>
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="refresh()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button> </mat-toolbar
      >
      <div class="tc-padding">
      <mat-form-field>
        <input
          matInput
          placeholder=
            '{{appTranslation.getText("general", "date")}}'
          [formControl]="date"
          [matDatepicker]="date_of_schedule"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="date_of_schedule"
        ></mat-datepicker-toggle>
        <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
        <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button
          aria-label="Clear" (click)="date.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div style="flex: 3; gap: 8px" class="tc-flex-column">
        <mat-accordion>
            <mat-expansion-panel expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        nurse plan of care
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-nurse-plan-of-care-list *ngIf="nurseRecordDetail.encounter_id" [encounterId] = "nurseRecordDetail.encounter_id" [implementation]="true"></app-nurse-plan-of-care-list>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                     Vital sign
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-form_clinical_instruction-list *ngIf="nurseRecordDetail.encounter_id" [showToolBar] = "false" [encounterId] = "nurseRecordDetail.encounter_id" [type]="instructionType.vital" [matExpansion]="true"></app-form_clinical_instruction-list>

              </ng-template>
          </mat-expansion-panel>
      </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                     medical administartion
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-form_clinical_instruction-list *ngIf="nurseRecordDetail.encounter_id" [showToolBar] = "false" [encounterId] = "nurseRecordDetail.encounter_id" [type]="instructionType.medication" [matExpansion]="true"></app-form_clinical_instruction-list>
                 <app-medication-adminstration-chart-list *ngIf="nurseRecordDetail.encounter_id" [showToolBar] = "false" [encounterId] = "nurseRecordDetail.encounter_id" ></app-medication-adminstration-chart-list>

              </ng-template>
          </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  patient procedure
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <button mat-button style="display: block; margin-left: auto;" (click)="addPrescription()">
                <mat-icon>add</mat-icon>
                Add Supply
              </button>
              <app-form_clinical_instruction-list *ngIf="nurseRecordDetail.encounter_id" [showToolBar] = "false" [encounterId] = "nurseRecordDetail.encounter_id" [type]="instructionType.patient_procedure" [matExpansion]="true"></app-form_clinical_instruction-list>
               <app-medication-adminstration-chart-list *ngIf="nurseRecordDetail.encounter_id" [showToolBar] = "false" [encounterId] = "nurseRecordDetail.encounter_id" ></app-medication-adminstration-chart-list>

            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
      </div>
      </div>
    </ng-template>
  </mat-tab> -->
  <!-- <mat-tab label="{{ appTranslation.getText('patient', 'evaluation') }}">
    <ng-template matTabContent>
      <app-medication-adminstration-chart-list *ngIf="nurseRecordDetail.encounter_id" [showToolBar] = "false" [encounterId] = "nurseRecordDetail.encounter_id" ></app-medication-adminstration-chart-list>
    </ng-template>
  </mat-tab> -->
  <!-- <mat-tab label="Intrapartum Care">
    <ng-template matTabContent>
      <app-intrapartum_care-list *ngIf="nurseRecordDetail.encounter_id" [ancHistoryId] = "nurseRecordDetail.encounter_id" ></app-intrapartum_care-list>
    </ng-template>
  </mat-tab> -->
  <mat-tab label="Other Services">
    <ng-template matTabContent>
      <app-ordered_othe_service-list *ngIf="nurseRecordDetail.encounter_id" [encounter_id] = "nurseRecordDetail.encounter_id" ></app-ordered_othe_service-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Patient Procedures">
    <ng-template matTabContent>
      <app-patient-procedure-list [procedure_for]="null" *ngIf="nurseRecordDetail.encounter_id" [encounterId] = "nurseRecordDetail.encounter_id" ></app-patient-procedure-list>
    </ng-template>
  </mat-tab>

</mat-tab-group>
