<h1 mat-dialog-title>
    risk_factor Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="riskFactorSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="riskFactorPersist.riskFactorSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="riskFactorSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="riskFactorIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="riskFactorsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(riskFactorsData,riskFactorSelection) "
            [checked]=" tcUtilsArray.isAllSelected(riskFactorsData,riskFactorSelection) || riskFactorSelectAll"
            [indeterminate]="riskFactorSelection.length <riskFactorsData.length && riskFactorSelection.length>0"
            [disabled]="riskFactorSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="riskFactorSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #riskFactorSelectAllMenu="matMenu">

            <button mat-menu-item (click)="riskFactorSelectAll=true;" [disabled]="riskFactorSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="riskFactorSelectAll = false;" [disabled]="!riskFactorSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(riskFactorSelection,row) : null"
            [checked]="tcUtilsArray.contains(riskFactorSelection,row) || riskFactorSelectAll" [disabled]="riskFactorSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="risk_factor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>risk_factor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.risk_factor}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="riskFactorsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: riskFactorsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(riskFactorSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="riskFactorsTotalCount"
      [ngStyle]="{display: riskFactorsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" riskFactorSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>