<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-capsules"></mat-icon>
    {{appTranslation.getText("inventory", "drug_types")}}
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchDrug_Types()"
    *ngIf="tcAuthorization.canRead('drug_types')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addDrug_Type()"
    *ngIf="tcAuthorization.canCreate('drug_types')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="drug_typesSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="drug_typePersist.drug_typeSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="drug_typesSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="drug_typesIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let drug_type of drug_typesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('drug_types') ||
              tcAuthorization.canDelete('drug_types')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editDrug_Type(drug_type)"
              *ngIf="tcAuthorization.canUpdate('drug_types')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteDrug_Type(drug_type)"
              *ngIf="tcAuthorization.canDelete('drug_types')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("inventory", "name")}}</span>
          {{ drug_type.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("inventory", "strength")}}</span>
          {{ drug_type.strength }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("inventory", "form")}}</span>
          {{ drug_type.form }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar *ngIf="drug_typesSelection.length > 0 || drug_typesSelectAll">
      <button mat-button (click)="downloadDrug_Types()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
        >{{
          drug_typesSelectAll
            ? drug_typesTotalCount
            : drug_typesSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table [dataSource]="drug_typesData" matSort class="tc-hide-on-mobile">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(drug_typesData, drug_typesSelection)
            "
            [checked]="
              tcUtilsArray.isAllSelected(drug_typesData, drug_typesSelection) ||
              drug_typesSelectAll
            "
            [indeterminate]="
              drug_typesSelection.length < drug_typesData.length &&
              drug_typesSelection.length > 0
            "
            [disabled]="drug_typesSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="drug_typesSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #drug_typesSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="drug_typesSelectAll = true"
              [disabled]="drug_typesSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="drug_typesSelectAll = false"
              [disabled]="!drug_typesSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(drug_typesSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(drug_typesSelection, row) ||
              drug_typesSelectAll
            "
            [disabled]="drug_typesSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="drug_typeNavigator.drug_typeUrl(element.id)"
            class="tc-link"
            >{{ element.id }}</a
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{appTranslation.getText("inventory", "name")}}</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="strength">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{appTranslation.getText("inventory", "strength")}}</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.strength }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="form">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{appTranslation.getText("inventory", "form")}}</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.form }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('drug_types') ||
              tcAuthorization.canDelete('drug_types')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editDrug_Type(element)"
              *ngIf="tcAuthorization.canUpdate('drug_types')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteDrug_Type(element)"
              *ngIf="tcAuthorization.canDelete('drug_types')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="drug_typesDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: drug_typesDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(drug_typesSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="drug_typesTotalCount"
      [ngStyle]="{ display: drug_typesTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
