<mat-sidenav-container style="height: 100vh">
    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
                 class="tc-sidebar mat-elevation-z8">
      <div class="tc-sidebar-inner">
        <img src="assets/images/eHealthBlueBG.png" class="logo" alt="eTech"> 

        <div class="tc-padding" *ngIf="!doctorLoading">
          <h1
          class="mat-h1 tc-dashboard-block-header "> {{ doctorDetail.first_name + ' ' + doctorDetail.middle_name + ' ' + doctorDetail.last_name }} </h1>
        <span class="tc-dashboard-block-header-description">{{doctorDetail.email}}</span>
        </div>
        <mat-nav-list>
          <mat-list-item [ngClass]="activeTab == doctorTabs.overview? 'tc-list-item-focus':''"
                         (click)="activeTab = doctorTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
            <a>
              <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
              {{appTranslation.getText("general", "overview")}}
            </a>
          </mat-list-item>
          <ng-container>
            <app-menu-parent #scheduleParent>
              <mat-icon fontSet="fa" fontIcon="fa-calendar-alt"></mat-icon>
              {{appTranslation.getText("patient", "appointment")}}
            </app-menu-parent>
            <app-menu-child [parent]="scheduleParent">
              <a (click)=" searchSurgeryAppointments();">
              <mat-list-item
                   (click)="activeTab = doctorTabs.surgery_appointment;tcUtilsAngular.smallDevice? sidenav.toggle():false"
                   [ngClass]="activeTab == doctorTabs.surgery_appointment? 'tc-list-item-focus':''">
                <mat-icon fontSet="fa" fontIcon="fa-calendar-check"></mat-icon>
                {{appTranslation.getText("patient", "surgery_appointments")}}
              </mat-list-item>
            </a>
            </app-menu-child>
          </ng-container>
          </mat-nav-list>
          <div class="tc-sidebar-actions">

            <button mat-button>
              <mat-icon fontSet="fa" fontIcon="fa-globe"></mat-icon>
              <mat-select placeholder="{{appTranslation.getText('general','language')}}"
                          [(value)]="TCAppInit.userInfo.lang" (selectionChange)="languageChanged()"
                          style="width:5em;">

                <mat-option *ngFor="let lang of appTranslation.languages" [value]="lang.code">
                  {{lang.name}}
                </mat-option>
              </mat-select>
            </button>
          </div>
      </div>



    </mat-sidenav>


      <mat-sidenav-content>

        <mat-toolbar>
          <mat-toolbar-row class="tc-primary-header mat-elevation-z8">
            <span style="color:#fff" *ngIf="!tcUtilsAngular.smallDevice">{{title}}</span>
            <button mat-icon-button *ngIf="tcUtilsAngular.smallDevice" (click)="sidenav.toggle()">
              <mat-icon *ngIf="!sidenav.opened">
                menu
              </mat-icon>
              <mat-icon *ngIf="sidenav.opened">
                close
              </mat-icon>
            </button>
            <button mat-button (click)="tcNavigator.home()" style="padding-left:0px;" *ngIf="tcUtilsAngular.smallDevice">
              <img src="assets/images/logo.png" style="height: 50px;"/>
              {{title}}
            </button>
            <div class="tc-flex-fill"></div>


            <button mat-button [matMenuTriggerFor]="profileMenu">
              <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon>
              {{TCAppInit.userInfo.name}}<i class="material-icons">arrow_drop_down</i>

            </button>
            <mat-menu #profileMenu="matMenu">

              <button mat-menu-item (click)="activeTab = doctorTabs.profile;" *ngIf="tcAuthorization.tosAccepted()">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>lock</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>

          </mat-toolbar-row>

        </mat-toolbar>

        <div class="tc-loading" *ngIf="doctorLoading">
          <mat-spinner></mat-spinner>
        </div>


        <div [ngClass]="activeTab==doctorTabs.overview? '':'tc-hidden'">
          <mat-toolbar class="tc-toolbar-secondary ">
            <h1 class="mat-heading">
              <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
              {{appTranslation.getText("general", "overview")}}
            </h1>
            <button mat-button (click)="loadDetails()" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
          </mat-toolbar>

          <div class="tc-flex-row tc-full-width">
            <div class="tc-equal-block">

            </div>

          </div>

        </div>

        <div [ngClass]="activeTab==doctorTabs.surgery_appointment? '':'tc-hidden'">
          <mat-toolbar class="tc-toolbar-secondary">
            <h3 class="mat-heading">
              <mat-icon fontSet="fa" fontIcon="fa-calendar-check"></mat-icon>
              {{appTranslation.getText("patient", "surgery_appointments")}}
            </h3>

            <button mat-button class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
            </button>
            <button mat-button (click)=" searchSurgeryAppointments();" *ngIf="tcAuthorization.canRead('surgery_appointments')" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
            <button mat-button (click)=" addSurgeryAppointment();" *ngIf="tcAuthorization.canCreate('surgery_appointments')" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
            </button>
          </mat-toolbar>
          <div class="tc-padding">
            <mat-form-field>
              <input matInput [formControl]="surgeryAppointmentsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
              <button mat-button *ngIf="surgeryAppointmentPersist.surgery_appointmentSearchText" matSuffix mat-icon-button aria-label="Clear"
                      (click)="surgeryAppointmentsSearchTextBox.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div class="tc-loading" *ngIf="surgeryAppointmentsLoading">
              <mat-spinner></mat-spinner>
            </div>

            <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
              <mat-card *ngFor="let element of surgeryAppointmentsSummary" class="tc-card" >
                      <mat-card-header>
                            <mat-card-title>
                                <a [routerLink]="patientNavigator.patientUrl(element.patient_id)" class="tc-link">
                                    {{getPatientFullName(element.patient_id)}}
                                </a>
                                <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('surgery_appointments') || tcAuthorization.canDelete('surgery_appointments'))  && element.surgery_status != 102 && element.surgery_status != 103">
                                                <i class="material-icons">more_vert</i>
                                </button>
                                <mat-menu #elementMenu="matMenu">

                                  <button mat-menu-item (click)="editSurgeryAppointment(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments')">
                                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                    <span>{{appTranslation.getText("general","edit")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="setStartSurgery(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && !element.start_time && element.surgery_status != 102">
                                    <mat-icon fontSet="fa" fontIcon="fa-play"></mat-icon>
                                    <span>{{appTranslation.getText("patient","start_surgery")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="setEndtSurgery(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && !element.end_time && element.start_time">
                                    <mat-icon fontSet="fa" fontIcon="fa-stop"></mat-icon>
                                    <span>{{appTranslation.getText("patient","end_surgery")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="cancelAppointment(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && !element.start_time && element.surgery_status != 102">
                                    <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
                                    <span>{{appTranslation.getText("schedule","cancelled")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="deleteSurgeryAppointment(element)" *ngIf="tcAuthorization.canDelete('surgery_appointments')">
                                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                    <span>{{appTranslation.getText("general","delete")}} </span>
                                  </button>
                                </mat-menu>
                              </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                       </mat-card-header>
                      <mat-card-content>
                        <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient','patient')}}</span>
                          {{getPatientFullName(element.patient_id)}}
                        </div>
              <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient','surgery_type')}}</span>
                          {{tcUtilsArray.getById(surgeryTypes, element.surgery_type_id)?.surgery_name}}
                        </div>
              <div class="tc-detail-field">
                          <span>{{appTranslation.getText('patient','surgery_date')}}</span>
                          {{tCUtilsDate.toDate(element.surgery_date)|date:'MMM dd, yyyy. h:mm a'}}
                        </div>
              <div class="tc-detail-field">
                          <span>{{appTranslation.getText('schedule','start_time')}}</span>
                          {{element.start_time && tCUtilsDate.toDate(element.start_time)|date:'MMM dd, yyyy. h:mm a'}}
                        </div>
              <div class="tc-detail-field">
                          <span>{{appTranslation.getText('schedule','end_time')}}</span>
                          {{element.end_time && tCUtilsDate.toDate(element.end_time)|date:'MMM dd, yyyy. h:mm a'}}
                        </div>
              <div class="tc-detail-field">
                          <span>{{appTranslation.getText('general','status')}}</span>
                          {{
                            appTranslation.getText(
                              "schedule",
                              tcUtilsArray.getEnum(surgeryAppointmentPersist.surgery_status, element.surgery_status).name
                            )
                            }}
                            {{ appTranslation.getText(
                              "patient",
                              tcUtilsArray.getEnum(surgeryAppointmentPersist.surgery_status, element.surgery_status).name
                            )
                            }}
                        </div>
                      </mat-card-content>
              </mat-card>
            </div>

            <div class="tc-table-container tc-full-width">

              <mat-table [dataSource]="surgeryAppointmentsSummary" matSort class="tc-hide-on-mobile">

                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)=" tcUtilsArray.toggleSelectAll(surgeryAppointmentsSummary,surgeryAppointmentsSelection) "
                      [checked]=" tcUtilsArray.isAllSelected(surgeryAppointmentsSummary,surgeryAppointmentsSelection) || surgeryAppointmentsSelectAll"
                      [indeterminate]="surgeryAppointmentsSelection.length <surgeryAppointmentsSummary.length && surgeryAppointmentsSelection.length>0"
                      [disabled]="surgeryAppointmentsSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                      <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="surgeryAppointmentsSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #surgeryAppointmentsSelectAllMenu="matMenu">


                      <button mat-menu-item
                              (click)="surgeryAppointmentsSelectAll=true;"
                              [disabled]="surgeryAppointmentsSelectAll">
                        {{appTranslation.getText("general", "all")}}
                      </button>
                      <button mat-menu-item
                              (click)="surgeryAppointmentsSelectAll = false;"
                              [disabled]="!surgeryAppointmentsSelectAll">
                        {{appTranslation.getText("general", "none")}}
                      </button>
                    </mat-menu>

                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? tcUtilsArray.toggleSelection(surgeryAppointmentsSelection,row) : null"
                                  [checked]="tcUtilsArray.contains(surgeryAppointmentsSelection,row) || surgeryAppointmentsSelectAll"
                                  [disabled]="surgeryAppointmentsSelectAll">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="patient_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{getPatientFullName(element.patient_id)}}</mat-cell>
               </ng-container>

    <ng-container matColumnDef="surgery_type_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','surgery_type')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(surgeryTypes, element.surgery_type_id)?.surgery_name}}</mat-cell>
               </ng-container>

    <ng-container matColumnDef="surgery_date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','surgery_date')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{tCUtilsDate.toDate(element.surgery_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
               </ng-container>

    <ng-container matColumnDef="start_time">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','start_time')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.start_time && tCUtilsDate.toDate(element.start_time)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
               </ng-container>

    <ng-container matColumnDef="end_time">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','end_time')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.end_time && tCUtilsDate.toDate(element.end_time)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
               </ng-container>

    <ng-container matColumnDef="surgery_status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','status')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{
                    appTranslation.getText(
                      "schedule",
                      tcUtilsArray.getEnum(surgeryAppointmentPersist.surgery_status, element.surgery_status).name
                    )
                    }}
                    {{ appTranslation.getText(
                      "patient",
                      tcUtilsArray.getEnum(surgeryAppointmentPersist.surgery_status, element.surgery_status).name
                    )
                    }}
                  </mat-cell>
               </ng-container>


                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                  <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('surgery_appointments') || tcAuthorization.canDelete('surgery_appointments'))  && element.surgery_status != 102 && element.surgery_status != 103">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                      <button mat-menu-item (click)="editSurgeryAppointment(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') ">
                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                        <span>{{appTranslation.getText("general","edit")}} </span>
                      </button>
                      <button mat-menu-item (click)="setStartSurgery(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && !element.start_time && element.surgery_status != 102">
                        <mat-icon fontSet="fa" fontIcon="fa-play"></mat-icon>
                        <span>{{appTranslation.getText("patient","start_surgery")}} </span>
                      </button>
                      <button mat-menu-item (click)="setEndtSurgery(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && !element.end_time && element.start_time">
                        <mat-icon fontSet="fa" fontIcon="fa-stop"></mat-icon>
                        <span>{{appTranslation.getText("patient","end_surgery")}} </span>
                      </button>
                      <button mat-menu-item (click)="cancelAppointment(element)" *ngIf="tcAuthorization.canUpdate('surgery_appointments') && !element.start_time && element.surgery_status != 102">
                        <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
                        <span>{{appTranslation.getText("schedule","cancelled")}} </span>
                      </button>
                      <button mat-menu-item (click)="deleteSurgeryAppointment(element)" *ngIf="tcAuthorization.canDelete('surgery_appointments')">
                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                        <span>{{appTranslation.getText("general","delete")}} </span>
                      </button>
                    </mat-menu>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="surgeryAppointmentsDisplayedColumns; sticky: true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: surgeryAppointmentsDisplayedColumns;"
                         [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(surgeryAppointmentsSelection,row)}"></mat-row>

              </mat-table>

              <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                             [pageSize]="tcUtilsArray.defaultPageSize"
                             [length]="surgeryAppointmentsTotalCount"
                             [ngStyle]="{display: surgeryAppointmentsTotalCount > 0? '':'none'}"></mat-paginator>
            </div>
          </div>
        </div>
      </mat-sidenav-content>


</mat-sidenav-container>
