
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     Dialysis Machine  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchDialysisMachines();" *ngIf="tcAuthorization.canRead('dialysis_machines')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addDialysisMachine();" *ngIf="tcAuthorization.canCreate('dialysis_machines')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="dialysisMachineSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="dialysisMachinePersist.dialysisMachineSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="dialysisMachineSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="dialysisMachineIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let dialysisMachine of dialysisMachinesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('dialysis_machines') || tcAuthorization.canDelete('dialysis_machines')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editDialysisMachine(dialysisMachine)" *ngIf="tcAuthorization.canUpdate('dialysis_machines')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteDialysisMachine(dialysisMachine)" *ngIf="tcAuthorization.canDelete('dialysis_machines')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>serial_no</span>
            {{dialysisMachine.serial_no}}
          </div><div class="tc-detail-field">
            <span>machine_no</span>
            {{dialysisMachine.machine_no}}
          </div> <div class="tc-detail-field">
          <span>status</span>
          {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(bedPersist.bed_status,dialysisMachine.status)?.name)}}
        </div>         
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchDialysisMachines.length >0 || dialysisMachineSelectAll">
        <button mat-button (click)="downloadDialysisMachines()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{dialysisMachineSelectAll ? dialysisMachinesTotalCount : dialysisMachineSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="dialysisMachinesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(dialysisMachinesData,dialysisMachineSelection) "
              [checked]=" tcUtilsArray.isAllSelected(dialysisMachinesData,dialysisMachineSelection) || dialysisMachineSelectAll"
              [indeterminate]="dialysisMachineSelection.length <dialysisMachinesData.length && dialysisMachineSelection.length>0"
              [disabled]="dialysisMachineSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dialysisMachineSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #dialysisMachineSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="dialysisMachineSelectAll=true;" [disabled]="dialysisMachineSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="dialysisMachineSelectAll = false;" [disabled]="!dialysisMachineSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(dialysisMachineSelection,row) : null"
              [checked]="tcUtilsArray.contains(dialysisMachineSelection,row) || dialysisMachineSelectAll" [disabled]="dialysisMachineSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="serial_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Serial No
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.serial_no}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="machine_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Machie No
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.machine_no}}</mat-cell>
        </ng-container>
      <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(bedPersist.bed_status,element.status)?.name)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('dialysis_machines') || tcAuthorization.canDelete('dialysis_machines')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editDialysisMachine(element)" *ngIf="tcAuthorization.canUpdate('dialysis_machines') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteDialysisMachine(element)" *ngIf="tcAuthorization.canDelete('dialysis_machines')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="dialysisMachinesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: dialysisMachinesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dialysisMachineSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="dialysisMachinesTotalCount"
        [ngStyle]="{display: dialysisMachinesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>