
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
   testradtemplate  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchTestRadTemplates();" *ngIf="tcAuthorization.canRead('testradtemplates')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addTestRadTemplate();" *ngIf="tcAuthorization.canCreate('testradtemplates')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="testradtemplateSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="testradtemplatePersist.testradtemplateSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="testradtemplateSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="testradtemplateIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let testradtemplate of testradtemplatesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('testradtemplates') || tcAuthorization.canDelete('testradtemplates')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editTestRadTemplate(testradtemplate)" *ngIf="tcAuthorization.canUpdate('testradtemplates')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteTestRadTemplate(testradtemplate)" *ngIf="tcAuthorization.canDelete('testradtemplates')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>name</span>
          {{testradtemplate.name}}
        </div><div class="tc-detail-field">
          <span>date</span>
          {{testradtemplate.date * 1000|date:'MMM dd, yyyy. h:mm a'}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchTestRadTemplates.length >0 || testradtemplateSelectAll">
      <button mat-button (click)="downloadTestRadTemplates()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{testradtemplateSelectAll ? testradtemplatesTotalCount : testradtemplateSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="testradtemplatesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(testradtemplatesData,testradtemplateSelection) "
            [checked]=" tcUtilsArray.isAllSelected(testradtemplatesData,testradtemplateSelection) || testradtemplateSelectAll"
            [indeterminate]="testradtemplateSelection.length <testradtemplatesData.length && testradtemplateSelection.length>0"
            [disabled]="testradtemplateSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="testradtemplateSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #testradtemplateSelectAllMenu="matMenu">

            <button mat-menu-item (click)="testradtemplateSelectAll=true;" [disabled]="testradtemplateSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="testradtemplateSelectAll = false;" [disabled]="!testradtemplateSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(testradtemplateSelection,row) : null"
            [checked]="tcUtilsArray.contains(testradtemplateSelection,row) || testradtemplateSelectAll" [disabled]="testradtemplateSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="test_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Test
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.test_id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="template_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Template</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="templateNavigator.radiologyResultSettingsUrl(element.template_id)" class="tc-link">{{element.template_name}}</a></mat-cell>
       </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="testradtemplateNavigator.testRadTemplateUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('testradtemplates') || tcAuthorization.canDelete('testradtemplates')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editTestRadTemplate(element)" *ngIf="tcAuthorization.canUpdate('testradtemplates') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteTestRadTemplate(element)" *ngIf="tcAuthorization.canDelete('testradtemplates')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="testradtemplatesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: testradtemplatesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(testradtemplateSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="testradtemplatesTotalCount"
      [ngStyle]="{display: testradtemplatesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
