<h1 mat-dialog-title>
    pos_machine_user Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="posMachineUserSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="posMachineUserPersist.posMachineUserSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="posMachineUserSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="posMachineUserIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let posMachineUser of posMachineUsersData" class="tc-card">
      <mat-card-content>
<div class="tc-detail-field">
          <span>start_date</span>
          {{posMachineUser.start_date}}
        </div><div class="tc-detail-field">
          <span>end_date</span>
          {{posMachineUser.end_date}}
        </div><div class="tc-detail-field">
          <span>pos_machine_id</span>
          {{posMachineUser.pos_machine_id}}
        </div><div class="tc-detail-field">
          <span>user_id</span>
          {{posMachineUser.user_id}}
        </div><div class="tc-detail-field">
          <span>status</span>
          {{posMachineUser.status}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

   <mat-table [dataSource]="posMachineUsersData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(posMachineUsersData,posMachineUserSelection) "
            [checked]=" tcUtilsArray.isAllSelected(posMachineUsersData,posMachineUserSelection) || posMachineUserSelectAll"
            [indeterminate]="posMachineUserSelection.length <posMachineUsersData.length && posMachineUserSelection.length>0"
            [disabled]="posMachineUserSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="posMachineUserSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #posMachineUserSelectAllMenu="matMenu">

            <button mat-menu-item (click)="posMachineUserSelectAll=true;" [disabled]="posMachineUserSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="posMachineUserSelectAll = false;" [disabled]="!posMachineUserSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(posMachineUserSelection,row) : null"
            [checked]="tcUtilsArray.contains(posMachineUserSelection,row) || posMachineUserSelectAll" [disabled]="posMachineUserSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>start_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.start_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>end_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.end_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="pos_machine_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pos_machine_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pos_machine_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>user_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.user_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="posMachineUsersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: posMachineUsersDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(posMachineUserSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="posMachineUsersTotalCount"
      [ngStyle]="{display: posMachineUsersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" posMachineUserSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>