<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-out"></mat-icon>
    {{appTranslation.getText("patient", "outside_order")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchOutside_Orderss();" *ngIf="tcAuthorization.canRead('outside_orders')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addOutside_Orders();" *ngIf="tcAuthorization.canCreate('outside_orders')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="outside_orderssSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="outside_ordersPersist.outside_ordersSearchText" matSuffix mat-icon-button aria-label="Clear"
                (click)="outside_orderssSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field >
        <input
          matInput
          placeholder=
            'Date'
          [formControl]="outside_ordersPersist.date"
          [matDatepicker]="outside_date_picker"
          disabled="true"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="outside_date_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #outside_date_picker disabled="false"></mat-datepicker>
        <button mat-button *ngIf="outside_ordersPersist.date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
        (click)="outside_ordersPersist.date.setValue('')">
        <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
      <div class="tc-loading" *ngIf="outside_orderssIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let outside_orders of outside_orderssData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title> <a [routerLink]="outside_ordersNavigator.outside_ordersUrl(outside_orders.id)"
                                                                    class="tc-link">{{outside_orders.id}}</a>
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('outside_orders') || tcAuthorization.canDelete('outside_orders')">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <!-- <button mat-menu-item (click)="editOutside_Orders(outside_orders)" *ngIf="tcAuthorization.canUpdate('outside_orders')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                    </button> -->
                                                                                    <button mat-menu-item (click)="deleteOutside_Orders(outside_orders)" *ngIf="tcAuthorization.canDelete('outside_orders')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
                    <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','patient_name')}}</span>
            {{outside_orders.patient_name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','birthdate')}}</span>
            {{tcUtilsDate.toDate( outside_orders.birth_date )|date:'MMM dd, yyyy. h:mm a'}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','gender')}}</span>
            {{outside_orders.sex ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}
          </div>
<div class="tc-detail-field" *ngIf="outside_orders.file_id !== tcUtilsString.invalid_id">
            <span>file_id</span>
            <mat-icon (click)="viewPrescription(outside_orders.file_id)" *ngIf="outside_orders.file_id !== tcUtilsString.invalid_id" fontSet="fa" fontIcon="fa-upload"></mat-icon>
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','id_number')}}</span>
            {{outside_orders.serial_id}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="outside_orderssSelection.length >0 || outside_orderssSelectAll">
                  <button mat-button (click)="downloadOutside_Orderss()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{outside_orderssSelectAll ? outside_orderssTotalCount : outside_orderssSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="outside_orderssData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(outside_orderssData,outside_orderssSelection) "
                [checked]=" tcUtilsArray.isAllSelected(outside_orderssData,outside_orderssSelection) || outside_orderssSelectAll"
                [indeterminate]="outside_orderssSelection.length <outside_orderssData.length && outside_orderssSelection.length>0"
                [disabled]="outside_orderssSelectAll">
              </mat-checkbox>
              
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="outside_orderssSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #outside_orderssSelectAllMenu="matMenu">
    
    
                <button mat-menu-item
                        (click)="outside_orderssSelectAll=true;"
                        [disabled]="outside_orderssSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="outside_orderssSelectAll = false;"
                        [disabled]="!outside_orderssSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(outside_orderssSelection,row) : null"
                            [checked]="tcUtilsArray.contains(outside_orderssSelection,row) || outside_orderssSelectAll"
                            [disabled]="outside_orderssSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                      

                    
                    </ng-container>

          <ng-container matColumnDef="patient_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                              
                          <a [routerLink]="outside_ordersNavigator.outside_ordersUrl(element.id)"
                             class="tc-link">
                                  {{element.patient_name}}</a></mat-cell>
                             </ng-container>

                             <ng-container matColumnDef="phone_no">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','telephone')}}</mat-header-cell>
                              <mat-cell *matCellDef="let element">
                                {{element.phone_no}}</mat-cell>
                           </ng-container>
                          
<ng-container matColumnDef="birth_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','birthdate')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate( element.birth_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="sex">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','gender')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.sex ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="file_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>file_id</mat-header-cell>
                                <mat-cell class="tc-link" *matCellDef="let element">
                                  <mat-icon (click)="viewPrescription(element.file_id)" *ngIf="element.file_id !== tcUtilsString.invalid_id" fontSet="fa" fontIcon="fa-upload"></mat-icon>
                                </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="serial_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','id_number')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
                             </ng-container>
                          

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('outside_orders') || tcAuthorization.canDelete('outside_orders')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editOutside_Orders(element)" *ngIf="tcAuthorization.canUpdate('outside_orders') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteOutside_Orders(element)" *ngIf="tcAuthorization.canDelete('outside_orders')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="outside_orderssDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: outside_orderssDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(outside_orderssSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="outside_orderssTotalCount"
                       [ngStyle]="{display: outside_orderssTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>

