<h1 mat-dialog-title>
    outside_prescription Selection
  </h1><div mat-dialog-content>  
    <mat-form-field>
    <input matInput [formControl]="outsidePrescriptionSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="outsidePrescriptionPersist.outsidePrescriptionSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="outsidePrescriptionSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="outsidePrescriptionIsLoading">
    <mat-spinner></mat-spinner>
  </div>  

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchOutside_prescriptions.length >0 || outsidePrescriptionSelectAll">
      <div class="tc-flex-fill"></div>
      <span>{{outsidePrescriptionSelectAll ? outsidePrescriptionsTotalCount : outsidePrescriptionSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="outsidePrescriptionsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(outsidePrescriptionsData,outsidePrescriptionSelection) "
            [checked]=" tcUtilsArray.isAllSelected(outsidePrescriptionsData,outsidePrescriptionSelection) || outsidePrescriptionSelectAll"
            [indeterminate]="outsidePrescriptionSelection.length <outsidePrescriptionsData.length && outsidePrescriptionSelection.length>0"
            [disabled]="outsidePrescriptionSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="outsidePrescriptionSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #outsidePrescriptionSelectAllMenu="matMenu">

            <button mat-menu-item (click)="outsidePrescriptionSelectAll=true;" [disabled]="outsidePrescriptionSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="outsidePrescriptionSelectAll = false;" [disabled]="!outsidePrescriptionSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(outsidePrescriptionSelection,row) : null"
            [checked]="tcUtilsArray.contains(outsidePrescriptionSelection,row) || outsidePrescriptionSelectAll" [disabled]="outsidePrescriptionSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="response_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>response_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.response_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="request_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>request_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>item_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.item_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
 
      <mat-header-row *matHeaderRowDef="outsidePrescriptionsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: outsidePrescriptionsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(outsidePrescriptionSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="outsidePrescriptionsTotalCount"
      [ngStyle]="{display: outsidePrescriptionsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" outsidePrescriptionSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>