<ng-template #body>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="finalAssessmentDetail">
    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="impression preliminary diagnosis "
        type="text"
        [(ngModel)]="finalAssessmentDetail.impression_preliminary_diagnosis"
        required
      />
    </mat-form-field> -->
    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="plan"
        type="text"
        [(ngModel)]="finalAssessmentDetail.plan"
        required
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="pertinent investigation finding"
        type="text"
        [(ngModel)]="finalAssessmentDetail.pertinent_investigation_finding"
        required
      />
    </mat-form-field> -->
    <!-- <mat-form-field class="tc-full-stretch">
      <mat-label>
       final diagnosis
      </mat-label>
      <input
        matInput
        placeholder="diagnosis"
        type="text"
        [(ngModel)]="finalAssessmentDetail.final_diagnosis"
        required
        disabled
      />
      <button
        mat-icon-button
        matTooltip='diagnosis'
        matSuffix
        color="primary"
        (click)="pickIcd11()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field> -->
    <mat-form-field class="tc-full-stretch" *ngIf="isVisible(finalAssessmentDetail.final_diagnosis)">
      <mat-label>Final Diagnosis</mat-label>
      <textarea type="text" #input
             aria-label="auto"
             matInput
             rows="4"
             (ngModelChange)="handleInput($event, input);updateIcdDiagnosis($event, input);"
             [(ngModel)]="finalAssessmentDetail.final_diagnosis"
             [matAutocomplete]="auto" 
             [disabled]="!form_encounterPersist.encounter_is_active"></textarea>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of icd11_diagnosis_options" [value]="appendString(option.category)">
          {{option.category}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch"  *ngIf="isVisible(finalAssessmentDetail.treatment)">
      <textarea #treatment
        matInput
        (ngModelChange)="handleInput($event, treatment)"
        placeholder="treatment"
        type="text"
        [(ngModel)]="finalAssessmentDetail.treatment"
        [disabled]="!form_encounterPersist.encounter_is_active"
      ></textarea>
    </mat-form-field>
      <button style="min-width: 200px;"
      mat-icon-button
      matTooltip="Add prescription"
      matSuffix
      color="primary"
      *ngIf="form_encounterPersist.encounter_is_active"
      (click)="addPrescriptions()"
    > Add medical treatment </button>
  </div>
</ng-template>

<div *ngIf="dialogRef">
  <div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{ title }}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon
        fontSet="fas"
        fontIcon="fa-times"
        (click)="onCancel()"
      ></mat-icon>
    </div>
  </div>

  <div mat-dialog-content>
    <ng-container *ngTemplateOutlet="body"> </ng-container>
  </div>
</div>

<div *ngIf="!dialogRef">
  <ng-container *ngTemplateOutlet="body"> </ng-container>
</div>

<div mat-dialog-actions *ngIf="dialogRef">
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
