<!--
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!lab_testLoading">
                  <h1 class="mat-h1 ">{{lab_testDetail.name}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == Lab_TestTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = Lab_TestTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav>

      <mat-sidenav-content>

          <div class="tc-loading" *ngIf="lab_testLoading">
                  <mat-spinner></mat-spinner>
          </div>

          <div [ngClass]="activeTab==Lab_TestTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>

              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>

                                      <div *ngIf="!lab_testLoading">
                                          <p class="tc-detail-field">
                              <span>{{appTranslation.getText('laboratory','lab_order_id')}} </span>
                              {{getLabOrders(lab_testDetail.lab_order_id)}}
                          </p>

  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('general','name')}} </span>
                              {{lab_testDetail.name}}
                          </p>

  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('laboratory','min_range')}} </span>
                              {{lab_testDetail.min_range}}
                          </p>

  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('laboratory','max_range')}} </span>
                              {{lab_testDetail.max_range}}
                          </p>

  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('laboratory','price')}} </span>
                              {{lab_testDetail.price}}
                          </p>

                                      </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editLab_Test()" *ngIf="tcAuthorization.canUpdate('order_tests') ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>

                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>

          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



   -->
   <mat-tab-group>
    <mat-tab label="Normal Range" *ngIf="lab_testDetail.id && lab_testDetail.type == lab_order_type.lab">
      <ng-template matTabContent>
        <app-lab-test-normal-range-list [lab_test_id]="lab_testDetail.id"></app-lab-test-normal-range-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Template" *ngIf="lab_testDetail.id && lab_testDetail.type == lab_order_type.imaging">
      <ng-template matTabContent>
        <app-radiology_result_settings-list [lab_test_id]="lab_testDetail.id"></app-radiology_result_settings-list>
      </ng-template>
    </mat-tab>
   </mat-tab-group>
