
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
     <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="driverMedicalCertificateIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==DriverMedicalCertificateTab.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                   
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!driverMedicalCertificateIsLoading">  <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'patient_name')}}</span> 
                                {{driverMedicalCertificateDetail.patient_name}}
                            </p>
                            <p class="tc-detail-field">
                                <span>{{appTranslation.getText('patient', 'doctor_name')}}</span> 
                                 {{driverMedicalCertificateDetail.doctor_name}}
                             </p>
                             <p class="tc-detail-field">
                                <span>{{appTranslation.getText('patient', 'driver_license_type')}}</span>
                                 {{appTranslation.getText('patient', tcUtilsArray.getEnum(driverMedicalCertificatePersist.DriverLicenseType, driverMedicalCertificateDetail.status)?.name)}}
                             </p>
                             <p class="tc-detail-field">
                                <span>{{appTranslation.getText('patient', 'status_reason')}}</span> 
                                 {{driverMedicalCertificateDetail.status_reason}}
                             </p>
                             <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general', 'date')}}</span> 
                                 {{tcUtilsDate.toDate(driverMedicalCertificateDetail.date)|date:'MMM dd, yyyy. h:mm a'}}
                             </p>
                            <h1>Visual</h1>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'pupil_color')}}</span> 
                                {{driverMedicalCertificateDetail.pupil_color}}
                            </p>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'pupil_right_eye')}}</span> 
                                {{driverMedicalCertificateDetail.pupil_right_eye}}
                            </p>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'pupil_left_eye')}}</span> 
                                {{driverMedicalCertificateDetail.pupil_left_eye}}
                            </p>
                            <h2>Color Perception</h2>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'color_perception_left_eye')}}</span> 
                                {{driverMedicalCertificateDetail.color_perception_left_eye}}
                            </p>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'color_perception_right_eye')}}</span> 
                                {{driverMedicalCertificateDetail.color_perception_right_eye}}
                            </p>
                            <h2>Visual Distance</h2>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'visual_distance_right_eye')}}</span> 
                                {{driverMedicalCertificateDetail.visual_distance_right_eye}}
                            </p>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'visual_distance_left_eye')}}</span> 
                                {{driverMedicalCertificateDetail.visual_distance_left_eye}}
                            </p>
                            <h2>Sound Perception</h2>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'sound_perception_right_ear')}}</span> 
                                {{driverMedicalCertificateDetail.sound_perception_right_ear}}
                            </p>
                            <p class="tc-detail-field">
                               <span>{{appTranslation.getText('patient', 'sound_perception_left_ear')}}</span> 
                                {{driverMedicalCertificateDetail.sound_perception_left_ear}}
                            </p>
                            <h2>Physical Examiation</h2>
                            <p class="tc-detail-field" *ngIf="!driverMedicalCertificateDetail.physical_examination_id">
                                No physical examination added
                            </p>
                            <div *ngIf="driverMedicalCertificateDetail.physical_examination_id">
                                <div *ngFor="let item of physicalExaminationDetail | keyvalue">
                                    <p class="tc-detail-field" *ngIf="item.value && item.key != 'encounter' && item.key != 'id'">
                                        <span>{{appTranslation.getText('patient', item.key)}}</span>
                                        {{item.value}}
                                    </p>
                                </div>
                            </div>
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editDriverMedicalCertificate()" *ngIf="tcAuthorization.canUpdate('driver_medical_certificates')  && physicalExamination.encounter_is_active ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    
