
<mat-toolbar class="tc-toolbar-secondary">
    <h2  style="font-size:25px !important" class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
      {{name}}  </h2>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <!-- <button mat-button *ngIf="tcAuthorization.canRead('queuess')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addQueues();" *ngIf="tcAuthorization.canCreate('queuess')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button> -->
  </mat-toolbar>
  <div class="tc-padding">
    <!-- <h1 class="queues__title">{{name}}</h1> -->
    <!-- <mat-form-field>
      <input matInput [formControl]="queuesSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="queuesPersist.queuesSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="queuesSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
    <!-- <div class="tc-loading" *ngIf="queuesIsLoading">
      <mat-spinner></mat-spinner>
    </div>  -->
     <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let queues of queuessData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('queuess') || tcAuthorization.canDelete('queuess')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editQueues(queues)" *ngIf="tcAuthorization.canUpdate('queuess')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteQueues(queues)" *ngIf="tcAuthorization.canDelete('queuess')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>date</span>
            {{queues.date * 1000 | date}} {{queues.date*1000 | date:'shortTime'}}
          </div><div class="tc-detail-field">
            <span>Patient</span>
            {{queues.patient}}
          </div><div class="tc-detail-field">
            <span>Doctor</span>
            {{queues.doctor}}
          </div><div class="tc-detail-field">
            <span>queue_type</span>
            {{queues.queue_type}}
          </div><div class="tc-detail-field">
            <span>queue_status</span>
            {{queues.queue_status}}
          </div><div class="tc-detail-field">
            <span>no</span>
            {{queues.number}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <!-- <mat-toolbar *ngIf="searchQueuess.length >0 || queuesSelectAll">
        <button mat-button (click)="downloadQueuess()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{queuesSelectAll ? queuessTotalCount : queuesSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar> -->
      <mat-table [dataSource]="queuessData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(queuessData,queuesSelection) "
              [checked]=" tcUtilsArray.isAllSelected(queuessData,queuesSelection) || queuesSelectAll"
              [indeterminate]="queuesSelection.length <queuessData.length && queuesSelection.length>0"
              [disabled]="queuesSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="queuesSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #queuesSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="queuesSelectAll=true;" [disabled]="queuesSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="queuesSelectAll = false;" [disabled]="!queuesSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(queuesSelection,row) : null"
              [checked]="tcUtilsArray.contains(queuesSelection,row) || queuesSelectAll" [disabled]="queuesSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date * 1000 | date}} {{element.date*1000 | date:'shortTime'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="pid">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Patient
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="provider_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Doctor
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.doctor}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="queue_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>queue_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.queue_type}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="queue_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>queue_status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.queue_status}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Number
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.number}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="queuesNavigator.queuesUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('queuess') || tcAuthorization.canDelete('queuess')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editQueues(element)" *ngIf="tcAuthorization.canUpdate('queuess') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteQueues(element)" *ngIf="tcAuthorization.canDelete('queuess')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="queuessDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: queuessDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(queuesSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="queuessTotalCount"
        [ngStyle]="{display: queuessTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>