.queues__title{
    font-weight: normal;
    margin: 20px  0 20px 1px;
    background-color:  rgb(11, 73, 124);
    border-radius: 10px ;
    color: white;
    text-align: center;
    display: inline;
    padding: 20px 40px;
    
    
}