
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
    credit_payment  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchCredit_payments();" *ngIf="tcAuthorization.canRead('credit_payments')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addCredit_payment();" *ngIf="tcAuthorization.canCreate('credit_payments')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="creditPaymentSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="creditPaymentPersist.creditPaymentSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="creditPaymentSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("general", "status")}}'
                [(value)]="creditPaymentPersist.status"
                (valueChange)="searchCredit_payments()">
      <mat-option *ngFor="let status of creditPaymentPersist.opennessStatus" [value]="status.id">
        {{ status.name }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='creditPaymentPersist.status' matSuffix mat-icon-button
            aria-label="Clear"
            (click)="creditPaymentPersist.status = null;searchCredit_payments();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="creditPaymentIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
  <mat-card *ngFor="let creditPayment of creditPaymentsData" class="tc-card">
  <mat-card-header>
    <mat-card-title>
      <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('credit_payments') || tcAuthorization.canDelete('credit_payments')">
        <i class="material-icons">more_vert</i>
      </button>
      <mat-menu #elementMenu="matMenu">

        <button mat-menu-item (click)="editCreditPayment(creditPayment)" *ngIf="tcAuthorization.canUpdate('credit_payments')">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <span>{{appTranslation.getText("general","edit")}} </span>
        </button>
        <button mat-menu-item (click)="deleteCreditPayment(creditPayment)" *ngIf="tcAuthorization.canDelete('credit_payments')">
          <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
          <span>{{appTranslation.getText("general","delete")}} </span>
        </button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="tc-detail-field">
      <span>patient_id</span>
      {{creditPayment.patient_id}}
    </div><div class="tc-detail-field">
    <span>user_id</span>
    {{creditPayment.user_id}}
  </div><div class="tc-detail-field">
    <span>start_date</span>
    {{creditPayment.start_date}}
  </div><div class="tc-detail-field">
    <span>end_date</span>
    {{creditPayment.end_date}}
  </div><div class="tc-detail-field">
    <span>amount</span>
    {{creditPayment.amount}}
  </div><div class="tc-detail-field">
    <span>status</span>
    {{creditPayment.status}}
  </div>
  </mat-card-content>
  </mat-card>
</div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="creditPaymentSelection.length >0 || creditPaymentSelectAll">
      <button mat-button (click)="downloadCreditPayments()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{creditPaymentSelectAll ? creditPaymentsTotalCount : creditPaymentSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="creditPaymentsData" matSort class="tc-hide-on-mobile">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)=" tcUtilsArray.toggleSelectAll(creditPaymentsData,creditPaymentSelection) "
                      [checked]=" tcUtilsArray.isAllSelected(creditPaymentsData,creditPaymentSelection) || creditPaymentSelectAll"
                      [indeterminate]="creditPaymentSelection.length <creditPaymentsData.length && creditPaymentSelection.length>0"
                      [disabled]="creditPaymentSelectAll">
        </mat-checkbox>

        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="creditPaymentSelectAllMenu"></mat-icon>
        </button>
        <mat-menu #creditPaymentSelectAllMenu="matMenu">

          <button mat-menu-item (click)="creditPaymentSelectAll=true;" [disabled]="creditPaymentSelectAll">
            {{appTranslation.getText("general", "all")}}
          </button>
          <button mat-menu-item (click)="creditPaymentSelectAll = false;" [disabled]="!creditPaymentSelectAll">
            {{appTranslation.getText("general", "none")}}
          </button>
        </mat-menu>

      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? tcUtilsArray.toggleSelection(creditPaymentSelection,row) : null"
                      [checked]="tcUtilsArray.contains(creditPaymentSelection,row) || creditPaymentSelectAll" [disabled]="creditPaymentSelectAll">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pid">
    <mat-header-cell *matHeaderCellDef mat-sort-header>MRN
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
  </ng-container>
    <ng-container matColumnDef="patient_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element"><a [routerLink]="creditPaymentNavigator.credit_paymentUrl(element.id)" class="tc-link">{{element.patient_name}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="telephone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Telephone
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phone_cell}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="current_amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Current Amount
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.current_amount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="user_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>user_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.user_id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="start_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.start_date * 1000 | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="end_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End Date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.end_date && element.end_date * 1000 | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>amount
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(creditPaymentPersist.opennessStatus, element.status)?.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="creditPaymentNavigator.credit_paymentUrl(element.id)" class="tc-link">{{element.id}}</a>

      </mat-cell>
    </ng-container>  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
    <mat-cell *matCellDef="let element" class="tc-column-action">
      <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('credit_payments') || tcAuthorization.canDelete('credit_payments')">
        <i class="material-icons">more_vert</i>
      </button>
      <mat-menu #elementMenu="matMenu">
        <button mat-menu-item (click)="editCreditPayment(element)" *ngIf="tcAuthorization.canUpdate('credit_payments') ">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <span>{{appTranslation.getText("general","edit")}} </span>
        </button>
        <button mat-menu-item (click)="deleteCreditPayment(element)" *ngIf="tcAuthorization.canDelete('credit_payments')">
          <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
          <span>{{appTranslation.getText("general","delete")}} </span>
        </button>
        <button mat-menu-item (click)="activation(element, true)" *ngIf="tcAuthorization.canDelete('credit_payments') && element.status == openness_status.closed">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <span>Open</span>
        </button>
        <button  mat-menu-item (click)="activation(element, false)" *ngIf="tcAuthorization.canDelete('credit_payments') && element.status == openness_status.open">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <span>Close</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>  <mat-header-row *matHeaderRowDef="creditPaymentsDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: creditPaymentsDisplayedColumns;"
             [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(creditPaymentSelection,row)}"></mat-row>

  </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize" [length]="creditPaymentsTotalCount"
                   [ngStyle]="{display: creditPaymentsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
