
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     nurse_history  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchNurse_historys();" *ngIf="tcAuthorization.canRead('nurse_historys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addNurse_history();" *ngIf="tcAuthorization.canCreate('nurse_historys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="nurseHistorySearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="nurseHistoryPersist.nurseHistorySearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="nurseHistorySearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="nurseHistoryIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let nurse_history of nurseHistorysData">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('nurse_historys') || tcAuthorization.canDelete('nurse_historys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editNurseHistory(nurse_history)" *ngIf="tcAuthorization.canUpdate('nurse_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteNurseHistory(nurse_history)" *ngIf="tcAuthorization.canDelete('nurse_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>cheif_compliant</span>
            {{nurse_history.cheif_compliant}}
          </div><div class="tc-detail-field">
            <span>duration</span>
            {{nurse_history.duration}}
          </div><div class="tc-detail-field">
            <span>duration_unit</span>
            {{nurse_history.duration_unit}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchNurse_historys.length >0 || nurseHistorySelectAll">
        <button mat-button (click)="downloadNurseHistorys()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{nurseHistorySelectAll ? nurseHistorysTotalCount : nurseHistorySelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="nurseHistorysData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(nurseHistorysData,nurseHistorySelection) "
              [checked]=" tcUtilsArray.isAllSelected(nurseHistorysData,nurseHistorySelection) || nurseHistorySelectAll"
              [indeterminate]="nurseHistorySelection.length <nurseHistorysData.length && nurseHistorySelection.length>0"
              [disabled]="nurseHistorySelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="nurseHistorySelectAllMenu"></mat-icon>
            </button>
            <mat-menu #nurseHistorySelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="nurseHistorySelectAll=true;" [disabled]="nurseHistorySelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="nurseHistorySelectAll = false;" [disabled]="!nurseHistorySelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(nurseHistorySelection,row) : null"
              [checked]="tcUtilsArray.contains(nurseHistorySelection,row) || nurseHistorySelectAll" [disabled]="nurseHistorySelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="cheif_compliant">
          <mat-header-cell *matHeaderCellDef mat-sort-header>cheif_compliant
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.cheif_compliant}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>duration
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.duration}} {{tcUtilsArray.getEnum(nurseHistoryPersist.duration_unit,element.duration_unit)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="duration_unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>duration_unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.duration_unit}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nurse">
            <mat-header-cell *matHeaderCellDef mat-sort-header>nurse
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{user[element.nurse_id].name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.date && element.date * 1000|date}}</mat-cell>
          </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="nurseHistoryNavigator.nurse_historyUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('nurse_historys') || tcAuthorization.canDelete('nurse_historys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editNurseHistory(element)" *ngIf="tcAuthorization.canUpdate('nurse_historys') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteNurseHistory(element)" *ngIf="tcAuthorization.canDelete('nurse_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="nurseHistorysDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: nurseHistorysDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(nurseHistorySelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="nurseHistorysTotalCount"
        [ngStyle]="{display: nurseHistorysTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>