<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="physicalExaminationOptionsDetail">
        <mat-form-field class="tc-full-stretch" >
            <mat-select
              placeholder="option"
              [(value)]="physicalExaminationOptionsDetail.option"
              required>
              <mat-option *ngFor="let etype of persist.PhysicalExaminationOptions" [value]="etype.id">
               {{etype.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field class="tc-full-stretch" >
            <mat-select
              placeholder="state"
              [(value)]="physicalExaminationOptionsDetail.state"
              required>
              <mat-option *ngFor="let etype of persist.PhysicalExaminationState" [value]="etype.id">
                {{etype.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <textarea matInput  placeholder="findings" type="text" rows="3"  [(ngModel)]="physicalExaminationOptionsDetail.findings" required></textarea>
         </mat-form-field>                   
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>