<h1 mat-dialog-title>
  {{ appTranslation.getText('bed','bedroom_selection') }}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="bedroomsSearchTextBox" placeholder='{{appTranslation.getText("general", "search_text")}}'>
    <button mat-button *ngIf="bedroomPersist.bedroomSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="bedroomsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="bedroomsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="bedroomsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(bedroomsData,bedroomsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(bedroomsData,bedroomsSelection)"
            [indeterminate]="bedroomsSelection.length <bedroomsData.length && bedroomsSelection.length>0"
            *ngIf="!pickerData.selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="bedroomsSelection.length >0 && !pickerData.selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{bedroomsSelection.length}}" matBadgePosition="above after" matBadgeOverlap="false"
              [matBadgeHidden]="bedroomsSelection.length == 0" style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(bedroomsSelection,row) : null"
            [checked]="tcUtilsArray.contains(bedroomsSelection,row)" *ngIf="!pickerData.selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? markOneItem(row) : null"
            [checked]="tcUtilsArray.contains(bedroomsSelection,row)" *ngIf="pickerData.selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_type_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bed_room_type_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bed_room_type_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_level_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bed_room_level_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bed_room_level_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price_per_day">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','price_per_day')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.price_per_day}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','status')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{appTranslation.getText('bed', tcUtilsArray.getEnum(bedroomPersist.room_status, element.status)?.name)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','no')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.no}}</mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="bedroomsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: bedroomsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(bedroomsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons [length]="bedroomsTotalCount">
    </mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()" [disabled]=" bedroomsSelection.length == 0 " cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>