<h1 mat-dialog-title>
    Lab_Order Selection
  </h1>

  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="lab_ordersSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="lab_orderPersist.lab_orderSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="lab_ordersSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="lab_ordersIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">

      <mat-table [dataSource]="lab_ordersData" matSort>

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(lab_ordersData,lab_ordersSelection) "
              [checked]=" tcUtilsArray.isAllSelected(lab_ordersData,lab_ordersSelection)"
              [indeterminate]="lab_ordersSelection.length <lab_ordersData.length && lab_ordersSelection.length>0"
              *ngIf="!data.selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="lab_ordersSelection.length >0 && !data.selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>

              <span matBadge="{{lab_ordersSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="lab_ordersSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">

              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(lab_ordersSelection,row) : null"
                          [checked]="tcUtilsArray.contains(lab_ordersSelection,row)"
                          *ngIf="!data.selectOne">
            </mat-checkbox>


            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(lab_ordersSelection,row)"
                                    *ngIf="data.selectOne">
            </mat-checkbox>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="type">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','type')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(lab_orderPersist.lab_order_type,element.type)?.name}}</mat-cell>
                               </ng-container>



        <mat-header-row *matHeaderRowDef="lab_ordersDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: lab_ordersDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(lab_ordersSelection,row)}"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="lab_ordersTotalCount"></mat-paginator>

    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" lab_ordersSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
