<div class="tc-flex-row">
  <h1 class="mat-headline">
    {{ appTranslation.getText("inventory", "Item_selection") }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="itemsSearchTextBox"
      placeholder='{{appTranslation.getText("general", "search_text")}}'>
    <button
      mat-button
      *ngIf="itemPersist.itemSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="itemsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="itemsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">
    <mat-table [dataSource]="itemsData" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="tcUtilsArray.toggleSelectAll(itemsData, itemsSelection)"
            [checked]="tcUtilsArray.isAllSelected(itemsData, itemsSelection)"
            [indeterminate]="
              itemsSelection.length < itemsData.length &&
              itemsSelection.length > 0
            "
            *ngIf="!selectOne"
          >
          </mat-checkbox>
          <button
            mat-button
            *ngIf="itemsSelection.length > 0 && !selectOne"
            [mat-menu-trigger-for]="collectionMenu"
          >
            <i class="material-icons">more_vert</i>

            <span
              matBadge="{{ itemsSelection.length }}"
              matBadgePosition="above after"
              matBadgeOverlap="false"
              [matBadgeHidden]="itemsSelection.length == 0"
              style="margin-right: 10px"
            ></span>
          </button>
          <mat-menu #collectionMenu="matMenu">
            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event ? tcUtilsArray.toggleSelection(itemsSelection, row) : null
            "
            [checked]="tcUtilsArray.contains(itemsSelection, row)"
            *ngIf="!selectOne"
          >
          </mat-checkbox>

          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? markOneItem(row) : null"
            [checked]="tcUtilsArray.contains(itemsSelection, row)"
            *ngIf="selectOne"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> category </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsArray.getEnum(categoryPersist.category, element.category)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "name")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name + "-" + element.strength + tcUtilsArray.getEnum(formEncounterPersist.dosageUnit, element.unit)?.name + "-" + tcUtilsArray.getEnum(formEncounterPersist.drug_form, element.preparation)?.name +(element.brand_name ? "("+element.brand_name+")":"") }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sub_category">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>sub category</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
            element.subcategory_name
          }}</mat-cell> 
      </ng-container>
      
      <ng-container matColumnDef="item_code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("inventory", "item_code")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.item_code }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("inventory", "item_description")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.item_description }}</mat-cell>
      </ng-container>



      <mat-header-row
        *matHeaderRowDef="itemsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: itemsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(itemsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [length]="itemsTotalCount"
    ></mat-paginator>
  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="itemsSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
