
  <div class="tc-loading" *ngIf="creditPaymentHistoryIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div [ngClass]="activeTab==CreditPaymentHistoryTabs.overview? '':'tc-hidden'">
    <mat-toolbar class="tc-toolbar-secondary ">
      <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
        {{appTranslation.getText("general", "overview")}}
      </h1>
      <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)=" reload()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
    </mat-toolbar>

    <div class="tc-flex-row tc-full-width">
      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{appTranslation.getText("general","basicdetails")}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngIf="!creditPaymentHistoryIsLoading">  <p class="tc-detail-field">
                <span>  {{creditPaymentHistoryDetail.patient_id}} </span>
              </p>
                <p class="tc-detail-field">
                  <span>  {{creditPaymentHistoryDetail.user_id}} </span>
                </p>
                <p class="tc-detail-field">
                  <span>  {{creditPaymentHistoryDetail.credit_payment_id}} </span>
                </p>
                <p class="tc-detail-field">
                  <span>  {{creditPaymentHistoryDetail.type}} </span>
                </p>
                <p class="tc-detail-field">
                  <span>  {{creditPaymentHistoryDetail.amount}} </span>
                </p>
                <p class="tc-detail-field">
                  <span>  {{creditPaymentHistoryDetail.date}} </span>
                </p>
              </div>
              <mat-action-row>
                <button mat-button (click)="editCreditPaymentHistory()" *ngIf="tcAuthorization.canUpdate('credit_payment_historys') ">
                  {{appTranslation.getText("general", "edit")}}
                </button>
              </mat-action-row>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="tc-equal-block">
      </div>
    </div>

  </div>


