<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-money-bill-wave-alt"></mat-icon>
    {{this.appTranslation.getText('financial', 'payment')}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchPayments();" *ngIf="tcAuthorization.canRead('payments')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <!-- <button mat-button (click)=" addPayment();" *ngIf="tcAuthorization.canCreate('payments')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button> -->

</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="patientSearchText"
      placeholder='{{appTranslation.getText("patient", "patient_name")}}'>
    <button mat-button *ngIf="paymentPersist.paymentByPatientSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
      (click)="patientSearchText.setValue('');">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="paymentPersist.paymentByPatientSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchPayments()">
      <mat-option *ngFor="let etype of paymentByPatientFilterOption" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <input
      matInput
      placeholder=
        'Date'
      [formControl]="date"
      [matDatepicker]="from_date_picker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="from_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
    (click)="date.setValue('')">
    <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder='Fee Type'
              [(value)]="paymentPersist.paymentByPatientSearchHistory.fee_type"
              (valueChange)="searchPayments()">
    <mat-option *ngFor="let status of paymentPersist.fee_type" [value]="status.id">
      {{ appTranslation.getTextByIdentifier(status.name) }}
    </mat-option>
  </mat-select>

  <button mat-button *ngIf='paymentPersist.paymentByPatientSearchHistory.fee_type' matSuffix mat-icon-button
          aria-label="Clear"
          (click)="paymentPersist.paymentByPatientSearchHistory.fee_type = null;searchPayments();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
  <div class="tc-loading" *ngIf="paymentsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let payment of paymentsData" class="tc-card">
      <mat-card-header>
        <mat-card-title> <a [routerLink]="paymentNavigator.paymentUrl(payment.patient_id)" class="tc-link">
          {{ payment.patient_name }}
        </a>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("financial","not_paid")}}</span>
          {{payment.not_paid}}
        </div>
        <div class="tc-detail-field">
          <span>pid</span>
          {{payment.pid}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("financial", "paid")}}</span>
          {{ payment.paid }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("financial","remaining_price")}}</span>
          {{payment.remaining_price}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="paymentsSelection.length >0 || paymentsSelectAll">
      <button mat-button (click)="downloadPayments()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{paymentsSelectAll ? paymentsTotalCount : paymentsSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="paymentsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(paymentsData,paymentsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(paymentsData,paymentsSelection) || paymentsSelectAll"
            [indeterminate]="paymentsSelection.length <paymentsData.length && paymentsSelection.length>0"
            [disabled]="paymentsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="paymentsSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #paymentsSelectAllMenu="matMenu">


            <button mat-menu-item (click)="paymentsSelectAll=true;" [disabled]="paymentsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="paymentsSelectAll = false;" [disabled]="!paymentsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(paymentsSelection,row) : null"
            [checked]="tcUtilsArray.contains(paymentsSelection,row) || paymentsSelectAll"
            [disabled]="paymentsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","patient")}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a (click)="navigateToDetail(element)" class="tc-link">{{ element.patient_name }}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone_cell">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.phone_cell }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="not_paid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{appTranslation.getText("financial", "not_paid")}}

        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.not_paid }}
       </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          pid

        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.pid }}
       </mat-cell>
      </ng-container>

      <ng-container matColumnDef="paid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("financial","paid")}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.paid}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remaining_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("financial", "remaining_price")}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remaining_price}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="paymentsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: paymentsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(paymentsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="paymentsTotalCount"
      [ngStyle]="{display: paymentsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
