
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
     patientList_report  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchpatientListPersistReport();" *ngIf="tcAuthorization.canRead('patient_list_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="patientListReportearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="patientListPersist.patientSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="patientListReportearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="from_date"
        [matDatepicker]="from_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
  
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="to_date"
        [matDatepicker]="to_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
  
    </mat-form-field>
    <div class="tc-loading" *ngIf="patientListReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let patientListReport of patientListReportData" class="tc-card">
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{patientListReport.patient_name}}
          </div><div class="tc-detail-field">
            <span>id</span>
            {{patientListReport.pid}}
          </div>
          <div class="tc-detail-field">
            <span>gender</span>
            <span *ngIf="patientListReport.sex">   <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon> </span>
            <span *ngIf="!patientListReport.sex">    <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon> </span>
          </div>
          <div class="tc-detail-field">
            <span>age</span>
            {{patientListReport.age}}
          </div>
          <div class="tc-detail-field">
            <span>phone</span>
            {{patientListReport.phone_cell}}
          </div>
          <div class="tc-detail-field">
            <span>region</span>
            {{patientListReport.city}}
          </div>
          <div class="tc-detail-field">
            <span>zone</span>
            {{patientListReport.subcity}}
          </div>
          <div class="tc-detail-field">
            <span>wereda</span>
            {{patientListReport.wereda}}
          </div>
          <div class="tc-detail-field">
            <span>last_visit</span>
            {{patientListReport.last_visit * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div> 
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="patientListReportselection.length >0 || patientListReportselectAll">
        <button mat-button (click)="downloadpatientListReport()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{patientListReportselectAll ? patientListReportTotalCount : patientListReportselection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="patientListReportData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(patientListReportData,patientListReportselection) "
              [checked]=" tcUtilsArray.isAllSelected(patientListReportData,patientListReportselection) || patientListReportselectAll"
              [indeterminate]="patientListReportselection.length <patientListReportData.length && patientListReportselection.length>0"
              [disabled]="patientListReportselectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="patientListReportselectAllMenu"></mat-icon>
            </button>
            <mat-menu #patientListReportselectAllMenu="matMenu">
  
              <button mat-menu-item (click)="patientListReportselectAll=true;" [disabled]="patientListReportselectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="patientListReportselectAll = false;" [disabled]="!patientListReportselectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(patientListReportselection,row) : null"
              [checked]="tcUtilsArray.contains(patientListReportselection,row) || patientListReportselectAll" [disabled]="patientListReportselectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="pid">
          <mat-header-cell *matHeaderCellDef mat-sort-header>id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="sex">
          <mat-header-cell *matHeaderCellDef mat-sort-header>gender
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.sex">   <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon> </span>
            <span *ngIf="!element.sex">    <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon> </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header>age
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone_cell">
            <mat-header-cell *matHeaderCellDef mat-sort-header>phone
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone_cell}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header>region
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(patientListPersist.state, element.state)?.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="subcity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>zone
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.subcity}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="wereda">
            <mat-header-cell *matHeaderCellDef mat-sort-header>wereda
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.wereda}}</mat-cell>
          </ng-container>
    <ng-container matColumnDef="last_visit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>last_visit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.last_visit * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
  <mat-header-row *matHeaderRowDef="patientListReportDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: patientListReportDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patientListReportselection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="patientListReportTotalCount"
        [ngStyle]="{display: patientListReportTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
