<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="deliverySummaryDetail">
                    
 <mat-form-field class="tc-full-stretch">
                 <mat-label>{{appTranslation.getText('general', 'date')}}</mat-label>

        <input matInput  placeholder="delivery_time" type="datetime-local"  [(ngModel)]="delivery_time"  required>
 </mat-form-field>

    <mat-label class="labels">Mode of Delivery: </mat-label>    <br><br>
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.svd" 
        > SVD
        </mat-checkbox> &nbsp;

        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.c_seaction" 
        > C/Section
        </mat-checkbox> &nbsp;
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.vacuum_forceps" 
        > Vacuum/Forceps
        </mat-checkbox> &nbsp;
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.episiotomy" 
        > Episiotomy
        </mat-checkbox> &nbsp;
    <br><br>
        <mat-label class="labels">AMTSL: </mat-label>    <br><br>

        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.ergometrine" 
        > Ergometrine
        </mat-checkbox> &nbsp;   
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.oxytocine" 
        > Oxytocine
        </mat-checkbox> &nbsp; 
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.misoprostol" 
        > Misoprostol
        </mat-checkbox> &nbsp; 
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.other" 
        > Other
        </mat-checkbox> &nbsp;

        <br><br>
<mat-label class="labels">Placenta: </mat-label>    <br><br> 


        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.completed" 
        > Completed
        </mat-checkbox> &nbsp;
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.incomplete" 
        > Incomplete
        </mat-checkbox> &nbsp;
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.cct" 
        > CCT
        </mat-checkbox> &nbsp;
        <mat-checkbox  [(ngModel)]="deliverySummaryDetail.mrp" 
        > MRP
        </mat-checkbox> &nbsp;
    <br><br>
    <mat-label class="labels">Laceration rep: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.laceration_rep" name="laceration_rep">
            <mat-radio-button value="1st Degree" >1st Degree</mat-radio-button>&nbsp;
            <mat-radio-button value="2nd Degree" >2nd Degree</mat-radio-button>&nbsp;
            <mat-radio-button value="3rd Degree" >3rd Degree</mat-radio-button>&nbsp;
            
        </mat-radio-group>
    <br><br>
    <mat-label class="labels">New Born: </mat-label>   

        <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.newborn" name="newborn">
            <mat-radio-button value="Single" >Single</mat-radio-button>&nbsp;
            <mat-radio-button value="Multiple" >Multiple</mat-radio-button>&nbsp;
            
        </mat-radio-group> -->
        <mat-form-field >
            <input matInput  placeholder="no of new born(s)" type="number"  [(ngModel)]="deliverySummaryDetail.newborn" required>
        </mat-form-field>
            <br>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.is_alive" >
                <mat-radio-button value="Alive" >Alive</mat-radio-button>&nbsp;
                <mat-radio-button value="Not_alive" >Not Alive</mat-radio-button>&nbsp;
            </mat-radio-group>  

 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="apgar_accre" type="text"  [(ngModel)]="deliverySummaryDetail.apgar_accre" required>
                        </mat-form-field>
                        
        <br><br>
    <mat-label class="labels">SB: </mat-label>    <br><br>


    <mat-checkbox  [(ngModel)]="deliverySummaryDetail.mac" 
    > Mac
    </mat-checkbox> &nbsp;
    <mat-checkbox  [(ngModel)]="deliverySummaryDetail.term" 
    > Term
    </mat-checkbox> &nbsp;
    <mat-checkbox  [(ngModel)]="deliverySummaryDetail.fresh" 
    > Fresh
    </mat-checkbox> &nbsp;
    <mat-checkbox  [(ngModel)]="deliverySummaryDetail.preterm" 
    > Preterm
    </mat-checkbox> &nbsp;

        <br>  
        <br>  
        <mat-slide-toggle
    matInput
    labelPosition="before"
    style="margin-right: 10px"
    class="tc-form-toggle"
    (ngModelChange)="onBabyMotherCahngeChange()"
    [(ngModel)]="deliverySummaryDetail.baby_mother_bonding" 
  >
  Baby mother bonding
  </mat-slide-toggle>
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="bcg (time)" type="date"  [(ngModel)]="bcg">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="polio (time)" type="date"  [(ngModel)]="polio">
                        </mat-form-field>               
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="vit/k (time)" type="date"  [(ngModel)]="vit_k">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="ttc (time)" type="date"  [(ngModel)]="ttc">
                        </mat-form-field>                    
       <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-label class="labels">Obstetric Cx. </mat-label> 
      <br>
    <mat-label class="labels">Eclampsia: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.eclampsia" name="eclampsia">
            <mat-radio-button value="Managed" >Managed</mat-radio-button>&nbsp;
            <mat-radio-button value="Refered" >Refered</mat-radio-button>&nbsp;
            
        </mat-radio-group>

     <br><br>
    <mat-label class="labels">APH: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.aph" name="aph">
            <mat-radio-button value="Managed" >Managed</mat-radio-button>&nbsp;
            <mat-radio-button value="Refered" >Refered</mat-radio-button>&nbsp;
            
        </mat-radio-group>
    
     <br><br>
    <mat-label class="labels">PPH: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.pph" name="pph">
            <mat-radio-button value="Managed" >Managed</mat-radio-button>&nbsp;
            <mat-radio-button value="Refered" >Refered</mat-radio-button>&nbsp;
            
        </mat-radio-group>
     <br><br>
    <mat-label class="labels">Prom/Sepsis: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.prom_sepsis" name="prom_sepsis">
            <mat-radio-button value="Managed" >Managed</mat-radio-button>&nbsp;
            <mat-radio-button value="Refered" >Refered</mat-radio-button>&nbsp;
            
        </mat-radio-group>

     <br><br>
    <mat-label class="labels">Obst/ prolg labor: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.obst_prolg_labor" name="obst_prolg_labor">
            <mat-radio-button value="Managed" >Managed</mat-radio-button>&nbsp;
            <mat-radio-button value="Refered" >Refered</mat-radio-button>&nbsp;
            
        </mat-radio-group>

    
     <br><br>
    <mat-label class="labels">Ruptured Ux: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.ruptured_ux" name="ruptured_ux">
            <mat-radio-button value="Repaired" >Repaired</mat-radio-button>&nbsp;
            <mat-radio-button value="Hysterect" >Hysterect</mat-radio-button>&nbsp;
            
        </mat-radio-group>

         <br><br>
    <mat-label class="labels">HIV Couns, and testing offered: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.hiv_couns" name="hiv_couns">
            <mat-radio-button [value]="true"  >Yes</mat-radio-button>&nbsp;
            <mat-radio-button [value]="false" >No</mat-radio-button>&nbsp;
            
        </mat-radio-group>

         <br><br>
    <mat-label class="labels">HIV Testing accepted: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.hiv_test_accepted" name="hiv_test_accepted">
              <mat-radio-button [value]="true"  >Yes</mat-radio-button>&nbsp;
            <mat-radio-button [value]="false" >No</mat-radio-button>&nbsp;
            
        </mat-radio-group>

         <br><br>
    <mat-label class="labels">HIV Test result: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.hiv_result" name="hiv_result">
            <mat-radio-button [value]="true"  >Positive</mat-radio-button>&nbsp;
            <mat-radio-button [value]="false" >Negative</mat-radio-button>&nbsp;
            
        </mat-radio-group>

         <br><br>
    <mat-label class="labels">ARV Px for mothers (by type): </mat-label>    <br><br>
                                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="arv px mother" type="text"  [(ngModel)]="deliverySummaryDetail.arv_px_mother">
                        </mat-form-field>     
         <br><br>
    <mat-label class="labels">ARV Px for NB (by type): </mat-label>    <br><br>                  
    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="arv px nb" type="text"  [(ngModel)]="deliverySummaryDetail.arv_px_nb">
                        </mat-form-field>  
  <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="feeding option ebf" type="text"  [(ngModel)]="deliverySummaryDetail.feeding_option_ebf">
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="rf" type="text"  [(ngModel)]="deliverySummaryDetail.rf">
                        </mat-form-field>                      

         <br><br>
    <mat-label class="labels">Mother referred for care & sup: </mat-label>    <br><br>

        <mat-radio-group aria-label="Select an option" [(ngModel)]="deliverySummaryDetail.mother_referred" name="mother_refered">
            <mat-radio-button [value]="true"  >Yes</mat-radio-button>&nbsp;
            <mat-radio-button [value]="false" >No</mat-radio-button>&nbsp;
            
        </mat-radio-group>
                 
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="remark" type="text"  [(ngModel)]="deliverySummaryDetail.remark">
                        </mat-form-field>                    
  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>