
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!medicalCertificateEmployeeIsLoading">
                  <h1 class="mat-h1 ">{{medicalCertificateEmployeeDetail.name}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == MedicalCertificateEmployeeTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = MedicalCertificateEmployeeTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav> <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="medicalCertificateEmployeeIsLoading">
                  <mat-spinner></mat-spinner>
          </div>
  
          <div [ngClass]="activeTab==MedicalCertificateEmployeeTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>
  
              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
  
                                      <div *ngIf="!medicalCertificateEmployeeIsLoading">  <p class="tc-detail-field">
cpa                           <span>  {{medicalCertificateEmployeeDetail.cpa}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
name                           <span>  {{medicalCertificateEmployeeDetail.name}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
address                           <span>  {{medicalCertificateEmployeeDetail.address}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
age                           <span>  {{medicalCertificateEmployeeDetail.age}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
sex                           <span>  {{medicalCertificateEmployeeDetail.sex}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
disease_past                           <span>  {{medicalCertificateEmployeeDetail.disease_past}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
hospitalized                           <span>  {{medicalCertificateEmployeeDetail.hospitalized}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
doctor_examination                           <span>  {{medicalCertificateEmployeeDetail.doctor_examination}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
condition                           <span>  {{medicalCertificateEmployeeDetail.condition}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
blood_pressure                           <span>  {{medicalCertificateEmployeeDetail.blood_pressure}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
lung                           <span>  {{medicalCertificateEmployeeDetail.lung}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
lung_xray                           <span>  {{medicalCertificateEmployeeDetail.lung_xray}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
urine                           <span>  {{medicalCertificateEmployeeDetail.urine}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
blood                           <span>  {{medicalCertificateEmployeeDetail.blood}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
sugar                           <span>  {{medicalCertificateEmployeeDetail.sugar}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
albumen                           <span>  {{medicalCertificateEmployeeDetail.albumen}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
arobllid                           <span>  {{medicalCertificateEmployeeDetail.arobllid}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
hbred                           <span>  {{medicalCertificateEmployeeDetail.hbred}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
reger                           <span>  {{medicalCertificateEmployeeDetail.reger}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
white                           <span>  {{medicalCertificateEmployeeDetail.white}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
cells                           <span>  {{medicalCertificateEmployeeDetail.cells}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
visual_acuit                           <span>  {{medicalCertificateEmployeeDetail.visual_acuit}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
trachoma                           <span>  {{medicalCertificateEmployeeDetail.trachoma}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
progressive_eye_disease                           <span>  {{medicalCertificateEmployeeDetail.progressive_eye_disease}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
ear                           <span>  {{medicalCertificateEmployeeDetail.ear}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
serological                           <span>  {{medicalCertificateEmployeeDetail.serological}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
ns_disturbance                           <span>  {{medicalCertificateEmployeeDetail.ns_disturbance}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
mental_status                           <span>  {{medicalCertificateEmployeeDetail.mental_status}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
employment_fit                           <span>  {{medicalCertificateEmployeeDetail.employment_fit}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
doctor_name                           <span>  {{medicalCertificateEmployeeDetail.doctor_name}} </span> 
                                                       </p>
                         </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editMedicalCertificateEmployee()" *ngIf="tcAuthorization.canUpdate('medical_certificate_employees') ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>
  
                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>
  
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  