<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-comment"></mat-icon>
    {{appTranslation.getText("schedule", "messages")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchMessagess();" *ngIf="tcAuthorization.canRead('messages')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addMessages();" *ngIf="tcAuthorization.canCreate('messages')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="messagessSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="messagesPersist.messagesSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="messagessSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Status"
                [(value)]="messagesPersist.message_statuId"
                (valueChange)="searchMessagess()">
    <mat-option *ngFor="let etype of messagesPersist.message_status" [value]="etype.id">
        {{appTranslation.getTextByIdentifier(etype?.name)}}
    </mat-option>
    </mat-select>
    <button mat-button *ngIf="messagesPersist.message_statuId" matSuffix mat-icon-button aria-label="Clear"
            (click)="messagesPersist.message_statuId = null;searchMessagess();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
     </button>
</mat-form-field>
  <div class="tc-loading" *ngIf="messagessIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let messages of messagessData" class="tc-card">
      <mat-card-header>
        <mat-card-title> <a [routerLink]="messagesNavigator.messagesUrl(messages.id)"
            class="tc-link">{{messages.id}}</a>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('messages') || tcAuthorization.canDelete('messages')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editMessages(messages)" *ngIf="tcAuthorization.canUpdate('messages')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteMessages(messages)" *ngIf="tcAuthorization.canDelete('messages')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','from')}}</span>
          {{messages.doctor_from}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','to')}}</span>
          {{messages.doctor_to}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','about')}}</span>
          {{messages.about_name}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','message')}}</span>
          {{messages.message}}
        </div>
        <div class="tc-detail-field">
          <span>status</span>
          {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(messagesPersist.message_status, messages.status)?.name)}}
        </div>
        <div class="tc-detail-field">
          <span>type</span>
          {{messages.type}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="messagessSelection.length >0 || messagessSelectAll">
      <button mat-button (click)="downloadMessagess()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{messagessSelectAll ? messagessTotalCount : messagessSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="messagessData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(messagessData,messagessSelection) "
            [checked]=" tcUtilsArray.isAllSelected(messagessData,messagessSelection) || messagessSelectAll"
            [indeterminate]="messagessSelection.length <messagessData.length && messagessSelection.length>0"
            [disabled]="messagessSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="messagessSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #messagessSelectAllMenu="matMenu">


            <button mat-menu-item (click)="messagessSelectAll=true;" [disabled]="messagessSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="messagessSelectAll = false;" [disabled]="!messagessSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(messagessSelection,row) : null"
            [checked]="tcUtilsArray.contains(messagessSelection,row) || messagessSelectAll"
            [disabled]="messagessSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="messagesNavigator.messagesUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','from')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_from}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','to')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_to}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="about">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','about')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.about_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','message')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.message}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(messagesPersist.message_status, element.message_statu)?.name)}}
        </mat-cell>
      </ng-container>s

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('messages') || tcAuthorization.canDelete('messages')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editMessages(element)" *ngIf="tcAuthorization.canUpdate('messages') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteMessages(element)" *ngIf="tcAuthorization.canDelete('messages')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="messagessDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: messagessDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(messagessSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="messagessTotalCount"
      [ngStyle]="{display: messagessTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>