
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-cart-arrow-down"></mat-icon>
     purchase_request  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPurchaseRequests();" *ngIf="tcAuthorization.canRead('purchase_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPurchaseRequest();" *ngIf="tcAuthorization.canCreate('purchase_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="purchaseRequestSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="purchaseRequestPersist.purchaseRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="purchaseRequestSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                  [(value)]="purchaseRequestPersist.purchaseRequestStatusFilter"
                  (valueChange)="searchPurchaseRequests()">
        <mat-option *ngFor="let etype of purchaseRequestPersist.PurchaseRequestStatus" [value]="etype.id" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="purchaseRequestPersist.purchaseRequestStatusFilter" matSuffix mat-icon-button aria-label="Clear"
              (click)="purchaseRequestPersist.purchaseRequestStatusFilter = null;searchPurchaseRequests();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="purchaseRequestPersist.store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="purchaseRequestPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="purchaseRequestPersist.store_id = null; purchaseRequestPersist.store_name = null ; searchPurchaseRequests()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="purchaseRequestPersist.from_date"
        [matDatepicker]="from_date_picker"
      />
    
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="purchaseRequestPersist.from_date.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="purchaseRequestPersist.from_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="purchaseRequestPersist.to_date"
        [matDatepicker]="to_date_picker"
      />
    
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="purchaseRequestPersist.to_date.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="purchaseRequestPersist.to_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field> 
    <mat-form-field>
      <mat-select placeholder="Category"
                  [(value)]="purchaseRequestPersist.category"
                  (valueChange)="searchPurchaseRequests()">
        <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="purchaseRequestPersist.category" matSuffix mat-icon-button aria-label="Clear"
              (click)="purchaseRequestPersist.category = null;searchPurchaseRequests();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
      <mat-form-field>
        <mat-label>Sub Category</mat-label>
        <input
          matInput
          placeholder="Sub Category"
          type="text"
          disabled
          [(ngModel)]="subCategoryName"
          required
        >
        <button
          mat-icon-button
          matTooltip="Sub category"
          matSuffix
          color="primary"
          (click)="searchCategory(true)"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
    (click)="subCategoryName = null; purchaseRequestPersist.categoryId=categoryId; searchPurchaseRequests()">
    <mat-icon>close</mat-icon>
    </button>
      </mat-form-field> 
    <div class="tc-loading" *ngIf="purchaseRequestIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let purchaseRequest of purchaseRequestsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('purchase_requests') || tcAuthorization.canDelete('purchase_requests')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPurchaseRequest(purchaseRequest)" *ngIf="tcAuthorization.canUpdate('purchase_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePurchaseRequest(purchaseRequest)" *ngIf="tcAuthorization.canDelete('purchase_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
              <button mat-menu-item (click)="addPurchase(purchaseRequest)" *ngIf="tcAuthorization.canCreate('purchases')">
                <mat-icon fontSet="fa" fontIcon="fa-shopping-cart"></mat-icon>
                <span>{{appTranslation.getText("inventory","purchase")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>request_date</span>
            {{purchaseRequest.request_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div><div class="tc-detail-field">
            <span>response_date</span>
            {{purchaseRequest.response_date && purchaseRequest.response_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{tcUtilsArray.getById(purchaseRequestPersist.PurchaseRequestStatus,purchaseRequest.status)?.name}}

          </div><div class="tc-detail-field">
            <span>item_id</span>
            <a [routerLink]="purchaseRequestNavigator.purchaseRequestUrl(purchaseRequest.id)" class="tc-link">{{purchaseRequest.name}}</a>
          </div><div class="tc-detail-field">
            <span>quantity</span>
            {{purchaseRequest.quantity}}
          </div><div class="tc-detail-field">
            <span>unit</span>
            {{appTranslation.getTextByIdentifier(this.tcUtilsArray.getEnum(requestPersist.units, purchaseRequest.unit)?.name)}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPurchaseRequests.length >0 || purchaseRequestSelectAll">
        <button mat-button (click)="downloadPurchaseRequests()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{purchaseRequestSelectAll ? purchaseRequestsTotalCount : purchaseRequestSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="purchaseRequestsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(purchaseRequestsData,purchaseRequestSelection) "
              [checked]=" tcUtilsArray.isAllSelected(purchaseRequestsData,purchaseRequestSelection) || purchaseRequestSelectAll"
              [indeterminate]="purchaseRequestSelection.length <purchaseRequestsData.length && purchaseRequestSelection.length>0"
              [disabled]="purchaseRequestSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="purchaseRequestSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #purchaseRequestSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="purchaseRequestSelectAll=true;" [disabled]="purchaseRequestSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="purchaseRequestSelectAll = false;" [disabled]="!purchaseRequestSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>

            <button mat-menu-item (click)="acceptAll()" [disabled]="!purchaseRequestSelection.length">
              accept
            </button>

            <button mat-menu-item (click)="purchaseAll()" [disabled]="!purchaseRequestSelection.length">
              Purchase
            </button>

            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(purchaseRequestSelection,row) : null"
              [checked]="tcUtilsArray.contains(purchaseRequestSelection,row) || purchaseRequestSelectAll" [disabled]="purchaseRequestSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="request_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>request_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.request_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="response_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>response_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.response_date && element.response_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(purchaseRequestPersist.PurchaseRequestStatus,element.status)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="item_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>item name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><a [routerLink]="purchaseRequestNavigator.purchaseRequestUrl(element.id)" class="tc-link">{{itemNavigator.itemName(element)}}</a></mat-cell>
        </ng-container>
    <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(this.tcUtilsArray.getEnum(requestPersist.units, element.unit)?.name)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="requestor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>requestor
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.requestor_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="approver">
          <mat-header-cell *matHeaderCellDef mat-sort-header>approver
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.approver_name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="purchaseRequestNavigator.purchaseRequestUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('purchase_requests') || tcAuthorization.canDelete('purchase_requests')) && element.status != purchaseRequestStatus.purchased">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <ng-container *ngIf="element.status == purchaseRequestStatus.submitted || element.status == purchaseRequestStatus.accepted">
            <button mat-menu-item (click)="editPurchaseRequest(element)" *ngIf="tcAuthorization.canUpdate('purchase_requests') && element.status == purchaseRequestStatus.submitted">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePurchaseRequest(element)" *ngIf="tcAuthorization.canDelete('purchase_requests') && element.status == purchaseRequestStatus.submitted">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
            <button mat-menu-item (click)="respondRequest(element, 'accept')" *ngIf="tcAuthorization.canCreate('purchases') && element.status == purchaseRequestStatus.submitted">
              <mat-icon fontSet="fa" fontIcon="fa-square-check"></mat-icon>
              <span>Accept</span>
            </button>
            <button mat-menu-item (click)="rejectRequest(element)" *ngIf="tcAuthorization.canCreate('purchases')">
              <mat-icon fontSet="fa" fontIcon="fa-square-xmark"></mat-icon>
              <span>Reject </span>
            </button>
           </ng-container>
           <ng-container *ngIf="element.status == purchaseRequestStatus.accepted">
            <button mat-menu-item (click)="addPurchase(element)" *ngIf="tcAuthorization.canCreate('purchases')">
              <mat-icon fontSet="fa" fontIcon="fa-shopping-cart"></mat-icon>
              <span>{{appTranslation.getText("inventory","purchase")}} </span>
            </button>
           </ng-container>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="purchaseRequestsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: purchaseRequestsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(purchaseRequestSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="purchaseRequestsTotalCount"
        [ngStyle]="{display: purchaseRequestsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  