<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="cancelled_appointmentDetail">

   
                    
    <mat-form-field class="tc-full-stretch">
      <mat-label>{{appTranslation.getText('general','start_date')}}</mat-label>
      <input matInput  [matDatepicker]="start_date_picker" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #start_date_picker></mat-datepicker>
    </mat-form-field>
                    
    <mat-form-field class="tc-full-stretch">
      <mat-label>{{appTranslation.getText('general','end_Date')}}</mat-label>
      <input matInput  [matDatepicker]="end_date_picker" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #end_date_picker></mat-datepicker>
    </mat-form-field>
                    
  

                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('general','reason')}}" type="text"  [(ngModel)]="cancelled_appointmentDetail.reason" required>
                        </mat-form-field>
                    

  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
