
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
     procedure_report  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchProcedurePersistReport();" *ngIf="tcAuthorization.canRead('procedure_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="proceduresReportearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="procedurePersist.procedureSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="proceduresReportearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="from_date"
        [matDatepicker]="from_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
  
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="to_date"
        [matDatepicker]="to_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
  
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{
        appTranslation.getText("procedure", "procedure_type")
        }}</mat-label>
      <input matInput disabled [(ngModel)]="procedureType"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('procedure', 'procedure_type')}}"
        matSuffix
        color="primary"
        (click)="searchProcedureType()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="proceduresReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let proceduresReport of proceduresReportData" class="tc-card">
        <mat-card-content>
          <div class="tc-detail-field">
            <span>name</span>
            {{proceduresReport.name}}
          </div>
  <div class="tc-detail-field">
            <span>hospital</span>
            {{proceduresReport.hospital}}
          </div><div class="tc-detail-field">
            <span>referral</span>
            {{proceduresReport.referral}}
          </div><div class="tc-detail-field">
            <span>total</span>
            {{proceduresReport.total}}
          </div> 
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="proceduresReportselection.length >0 || proceduresReportselectAll">
        <button mat-button (click)="downloadProcedureReport()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{proceduresReportselectAll ? proceduresReportTotalCount : proceduresReportselection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="proceduresReportData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(proceduresReportData,proceduresReportselection) "
              [checked]=" tcUtilsArray.isAllSelected(proceduresReportData,proceduresReportselection) || proceduresReportselectAll"
              [indeterminate]="proceduresReportselection.length <proceduresReportData.length && proceduresReportselection.length>0"
              [disabled]="proceduresReportselectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="proceduresReportselectAllMenu"></mat-icon>
            </button>
            <mat-menu #proceduresReportselectAllMenu="matMenu">
  
              <button mat-menu-item (click)="proceduresReportselectAll=true;" [disabled]="proceduresReportselectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="proceduresReportselectAll = false;" [disabled]="!proceduresReportselectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(proceduresReportselection,row) : null"
              [checked]="tcUtilsArray.contains(proceduresReportselection,row) || proceduresReportselectAll" [disabled]="proceduresReportselectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="hospital">
          <mat-header-cell *matHeaderCellDef mat-sort-header>hospital
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.hospital}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="referral">
          <mat-header-cell *matHeaderCellDef mat-sort-header>referral
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.referral}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pr.name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>procedure name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef mat-sort-header>total
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.total}}</mat-cell>
        </ng-container>
  <mat-header-row *matHeaderRowDef="proceduresReportDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: proceduresReportDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(proceduresReportselection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="proceduresReportTotalCount"
        [ngStyle]="{display: proceduresReportTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>