<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8">

    <div class="tc-sidebar-inner">
      <h1 class="mat-headline tc-padding">File Details</h1>

      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == fileTabs.overview? 'tc-list-tcaclDetail-focus':''"
          (click)="activeTab = fileTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a [routerLink]="[]"> {{appTranslation.getText("general","overview")}} </a>
        </mat-list-item>

      </mat-nav-list>
      <div class="tc-sidebar-actions">
        <button mat-raised-button (click)=" editFile(); tcUtilsAngular.smallDevice? sidenav.toggle():false">
          <mat-icon>edit</mat-icon>
          {{appTranslation.getText("general","edit")}}
        </button>

      </div>

    </div>

  </mat-sidenav>
  <mat-sidenav-content>

    <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>

    <div class="tc-padding">

      <div [ngClass]="activeTab==fileTabs.overview? '':'tc-hidden'">

        <h1 class="mat-headline">{{appTranslation.getText("general","overview")}}</h1>
        <mat-card>

          <mat-card-content>
            <p class="tc-detail-field">
              <span>file_type </span>
              {{fileDetail.file_type}}
            </p>

            <p class="tc-detail-field">
              <span>file_name </span>
              {{fileDetail.file_name}}
            </p>

            <p class="tc-detail-field">
              <span>creation_time </span>
              {{fileDetail.creation_time}}
            </p>

            <p class="tc-detail-field">
              <span>expiration_time </span>
              {{fileDetail.expiration_time}}
            </p>

            <p class="tc-detail-field">
              <span>content_type </span>
              {{fileDetail.content_type}}
            </p>

            <p class="tc-detail-field">
              <span>is_permanent </span>
              {{fileDetail.is_permanent}}
            </p>

            <p class="tc-detail-field">
              <span>target_id </span>
              {{fileDetail.target_id}}
            </p>

          </mat-card-content>

        </mat-card>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>