<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="planOfCareDetail">
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="name"
        type="text"
        [(ngModel)]="planOfCareDetail.name"
        required
      />
    </mat-form-field>
    <br>
    <mat-slide-toggle matInput  class="tc-form-toggle tc-equal-block" [(ngModel)]="planOfCareDetail.required"
    required> Required </mat-slide-toggle> 
    <br>
    <mat-slide-toggle matInput  class="tc-form-toggle tc-equal-block" [(ngModel)]="planOfCareDetail.need_alert" (ngModelChange)="resetAlertDate()"
    required> Need Alert </mat-slide-toggle>  
    <mat-form-field class="tc-full-stretch" *ngIf="planOfCareDetail.need_alert">
        <input
          matInput
          placeholder="alert_date"
          type="text"
          [(ngModel)]="planOfCareDetail.alert_date"
          required
        />
      </mat-form-field>

      <mat-form-field class="tc-full-stretch">
        <input matInput type="datetime-local" [(ngModel)]="alert_date">
        <mat-label>alert Date</mat-label>
      </mat-form-field>

</div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
