<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="behavioralPainScaleDetail">
    <table>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Score</th>
      </tr>

      <tr>
        <th>
          <label for="" class="custom-label">Facial Expression</label>
        </th>
        <td>
          <mat-radio-group
            [disabled]="isDisabled()"
            aria-label="Select an option"
            (change)="persist.calculateTotal(behavioralPainScaleDetail)"
            [(ngModel)]="behavioralPainScaleDetail.facial_expression"
            name="facial_expression"
          >
            <mat-radio-button value="Relaxed(score = 1)"
              >Relaxed</mat-radio-button
            >
            &nbsp;&nbsp;<mat-radio-button
              value="Partially tightend(e.g., brow lowering)(score = 2)"
              >Partially tightend(e.g., brow lowering)</mat-radio-button
            >
             
            &nbsp;<mat-radio-button
              value="Fully tightend(e.g., eyelid closing)(score = 3)"
              >Fully tightend(e.g., eyelid closing)</mat-radio-button
            > <br>
            <mat-radio-button value="Grimacing(score = 4)"
              >Grimacing</mat-radio-button
            >
            
          </mat-radio-group>
        </td>
        <td>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="" class="custom-label">Upper limbs</label>
        </th>
        <td>
          <mat-radio-group
            [disabled]="isDisabled()"
            aria-label="Select an option"

            (change)="persist.calculateTotal(behavioralPainScaleDetail)"
            [(ngModel)]="behavioralPainScaleDetail.upper_limbs"
            name="upper_limbs"
          >
            &nbsp;<mat-radio-button value="No movement(score = 1)"
              >No movement</mat-radio-button
            >
             <br />
            &nbsp;<mat-radio-button value="Partially bent(score = 2)"
              >Partially bent</mat-radio-button
            >
             <br />
            &nbsp;<mat-radio-button
              value="Fully bent with finger flexion(score = 3)"
              >Fully bent with finger flexion</mat-radio-button
            > <br />
            &nbsp;<mat-radio-button value="Permanently retracted(score = 4)"
              >Permanently retracted</mat-radio-button
            >
            <br />
          </mat-radio-group>
        </td>

        <td>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="" class="custom-label">Compliance with ventilation</label>
        </th>
        <td>
          <mat-radio-group
            [disabled]="isDisabled()"
            aria-label="Select an option"
            (change)="persist.calculateTotal(behavioralPainScaleDetail)"
            [(ngModel)]="behavioralPainScaleDetail.compliance_with_ventilation"
            name="compliance_with_ventilation"
          >
            &nbsp;<mat-radio-button value="Tolerating movement(score = 1)"
              >Tolerating movement</mat-radio-button
            >
             <br />
            &nbsp;<mat-radio-button value="Coughing with mevement(score = 2)"
              >Coughing with mevement</mat-radio-button
            >
             <br />
            &nbsp;<mat-radio-button value="Fighting ventilator(score = 3)"
              >Fighting ventilator</mat-radio-button
            > <br />
            &nbsp;<mat-radio-button
              value="Unable to control ventilation(score = 4)"
              >Unable to control ventilation</mat-radio-button
            >
            <br />
          </mat-radio-group>
        </td>
        <td>
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
        </td>
      </tr>
    </table>

    <div style="font-weight: bold">{{persist.calculateTotal(behavioralPainScaleDetail) >= 3 ? "Pain Rank - " + persist.calcPain(persist.calculateTotal(behavioralPainScaleDetail)) +   " - " + persist.calculateTotal(behavioralPainScaleDetail) : ""   }}</div>
    <div> This scale ranks pain from 3-12 and the patient status based on this scale is if 3- painless , 4-6 mild , 7-9 moderate , 10-12 severe pain</div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
