<h1 mat-dialog-title>
    radiology_data Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="radiologyDataSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="radiologyDataPersist.radiologyDataSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="radiologyDataSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="radiologyDataIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="radiologyDatasData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(radiologyDatasData,radiologyDataSelection) "
            [checked]=" tcUtilsArray.isAllSelected(radiologyDatasData,radiologyDataSelection) || radiologyDataSelectAll"
            [indeterminate]="radiologyDataSelection.length <radiologyDatasData.length && radiologyDataSelection.length>0"
            [disabled]="radiologyDataSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="radiologyDataSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #radiologyDataSelectAllMenu="matMenu">

            <button mat-menu-item (click)="radiologyDataSelectAll=true;" [disabled]="radiologyDataSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="radiologyDataSelectAll = false;" [disabled]="!radiologyDataSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(radiologyDataSelection,row) : null"
            [checked]="tcUtilsArray.contains(radiologyDataSelection,row) || radiologyDataSelectAll" [disabled]="radiologyDataSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="rad_order_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rad_order_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rad_order_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ordered_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ordered_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ordered_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="radiographer_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>radiographer_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.radiographer_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="radiologist_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>radiologist_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.radiologist_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_description}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_conclusion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_conclusion
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_conclusion}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="approved_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>approved_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.approved_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="radiologyDatasDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: radiologyDatasDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(radiologyDataSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="radiologyDatasTotalCount"
      [ngStyle]="{display: radiologyDatasTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" radiologyDataSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>