
<mat-toolbar class="tc-toolbar-secondary" *ngIf="encounter_id==invalid_id">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-flask"></mat-icon>
     physiotherapy_session  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPhysiotherapySessions();" *ngIf="tcAuthorization.canRead('physiotherapy_sessions')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="physiotherapySessionSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="physiotherapySessionPersist.physiotherapySessionSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="physiotherapySessionSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="physiotherapySessionIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let physiotherapySession of physiotherapySessionsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('physiotherapy_sessions') || tcAuthorization.canDelete('physiotherapy_sessions')) &&encounter_id==invalid_id">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
              <button mat-menu-item (click)="deletePhysiotherapySession(physiotherapySession)" *ngIf="tcAuthorization.canDelete('physiotherapy_sessions')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>null
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>physiotherapy_id</span>
            {{physiotherapySession.physiotherapy_id}}
          </div><div class="tc-detail-field">
            <span>session_id</span>
            {{physiotherapySession.session_id}}
          </div><div class="tc-detail-field">
            <span>card_id</span>
            {{physiotherapySession.card_id}}
          </div><div class="tc-detail-field">
            <span>patient_name</span>
            <a (click)="loadPhysiotherapySessionDetail(physiotherapySession)" class="tc-link">
            {{physiotherapySession.patient_name}}</a>
          </div><div class="tc-detail-field">
            <span>date_of_session</span>
            {{tcUtilsDate.toDate(physiotherapySession.date_of_session)|date}}
          </div><div class="tc-detail-field">
            <span>no_of_session_per_week</span>
            {{physiotherapySession.no_of_session_per_week}}
          </div><div class="tc-detail-field">
            <span>payment_id</span>
            {{physiotherapySession.payment_id}}
          </div><div class="tc-detail-field">
            <span>physiotherapy_type</span>
            {{tcUtilsArray.getById(physiotherapy_typesData,physiotherapySession.physiotherapy_type)?.name}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPhysiotherapySessions.length >0 || physiotherapySessionSelectAll">
        <button mat-button (click)="downloadPhysiotherapySessions()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{physiotherapySessionSelectAll ? physiotherapySessionsTotalCount : physiotherapySessionSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="physiotherapySessionsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(physiotherapySessionsData,physiotherapySessionSelection) "
              [checked]=" tcUtilsArray.isAllSelected(physiotherapySessionsData,physiotherapySessionSelection) || physiotherapySessionSelectAll"
              [indeterminate]="physiotherapySessionSelection.length <physiotherapySessionsData.length && physiotherapySessionSelection.length>0"
              [disabled]="physiotherapySessionSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="physiotherapySessionSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #physiotherapySessionSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="physiotherapySessionSelectAll=true;" [disabled]="physiotherapySessionSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="physiotherapySessionSelectAll = false;" [disabled]="!physiotherapySessionSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(physiotherapySessionSelection,row) : null"
              [checked]="tcUtilsArray.contains(physiotherapySessionSelection,row) || physiotherapySessionSelectAll" [disabled]="physiotherapySessionSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="physiotherapy_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>physiotherapy_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.physiotherapy_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="session_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>session_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.session_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="card_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>card_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.card_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="encounter_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a (click)="loadPhysiotherapySessionDetail(element)"
                    class="tc-link">{{element.patient_name}}</a>
        </mat-cell>
        </ng-container>
    <ng-container matColumnDef="date_of_session">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date_of_session
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date_of_session)|date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="no_of_session_per_week">
          <mat-header-cell *matHeaderCellDef mat-sort-header>no_of_session_per_week
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.no_of_session_per_week}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="payment_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>payment_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.payment_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="physiotherapy_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>physiotherapy_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(physiotherapy_typesData,element.physiotherapy_type)?.name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a (click)="loadPhysiotherapySessionDetail(element)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('physiotherapy_sessions') || tcAuthorization.canDelete('physiotherapy_sessions')) &&encounter_id==invalid_id">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <!-- <button mat-menu-item (click)="editPhysiotherapySession(element)" *ngIf="tcAuthorization.canUpdate('physiotherapy_sessions') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button> -->
              <button mat-menu-item (click)="deletePhysiotherapySession(element)" *ngIf="tcAuthorization.canDelete('physiotherapy_sessions')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="physiotherapySessionsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: physiotherapySessionsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(physiotherapySessionSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="physiotherapySessionsTotalCount"
        [ngStyle]="{display: physiotherapySessionsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>