<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon>
    Present Pregnancy Follow Up
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchPresentPregnancyFollowUps();"
    *ngIf="tcAuthorization.canRead('present_pregnancy_follow_ups')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addPresentPregnancyFollowUp();"
    *ngIf="tcAuthorization.canCreate('present_pregnancy_follow_ups')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="presentPregnancyFollowUpSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="presentPregnancyFollowUpPersist.presentPregnancyFollowUpSearchText" matSuffix
      mat-icon-button aria-label="Clear" (click)="presentPregnancyFollowUpSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="presentPregnancyFollowUpIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let presentPregnancyFollowUp of presentPregnancyFollowUpsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('present_pregnancy_follow_ups') || tcAuthorization.canDelete('present_pregnancy_follow_ups')">
            <a [routerLink]="presentPregnancyFollowUpNavigator.presentPregnancyFollowUpUrl(presentPregnancyFollowUp.id)"
              class="tc-link">{{presentPregnancyFollowUpPersist.getLevel(presentPregnancyFollowUp.visit_status)}}</a>
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editPresentPregnancyFollowUp(presentPregnancyFollowUp)"
              *ngIf="tcAuthorization.canUpdate('present_pregnancy_follow_ups')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePresentPregnancyFollowUp(presentPregnancyFollowUp)"
              *ngIf="tcAuthorization.canDelete('present_pregnancy_follow_ups')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div class="tc-detail-field">
          <span>Date of Visit</span>

          {{tcUtilsDate.toDate( presentPregnancyFollowUp.date_of_visit )|date:'MMM dd, yyyy. h:mm a'}}

        </div>
        <div class="tc-detail-field">
          <span>Gestation Age</span>
          {{tcUtilsDate.toDate( presentPregnancyFollowUp.gestation_age )|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>Provider</span>
          {{presentPregnancyFollowUp.name_and_signs_of_health_care_provider}}
        </div>


      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchPresentPregnancyFollowUps.length >0 || presentPregnancyFollowUpSelectAll">
      <button mat-button (click)="downloadPresentPregnancyFollowUps()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{presentPregnancyFollowUpSelectAll ? presentPregnancyFollowUpsTotalCount :
        presentPregnancyFollowUpSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar>
    <mat-table [dataSource]="presentPregnancyFollowUpsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(presentPregnancyFollowUpsData,presentPregnancyFollowUpSelection) "
            [checked]=" tcUtilsArray.isAllSelected(presentPregnancyFollowUpsData,presentPregnancyFollowUpSelection) || presentPregnancyFollowUpSelectAll"
            [indeterminate]="presentPregnancyFollowUpSelection.length <presentPregnancyFollowUpsData.length && presentPregnancyFollowUpSelection.length>0"
            [disabled]="presentPregnancyFollowUpSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="presentPregnancyFollowUpSelectAllMenu">
            </mat-icon>
          </button>
          <mat-menu #presentPregnancyFollowUpSelectAllMenu="matMenu">

            <button mat-menu-item (click)="presentPregnancyFollowUpSelectAll=true;"
              [disabled]="presentPregnancyFollowUpSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="presentPregnancyFollowUpSelectAll = false;"
              [disabled]="!presentPregnancyFollowUpSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(presentPregnancyFollowUpSelection,row) : null"
            [checked]="tcUtilsArray.contains(presentPregnancyFollowUpSelection,row) || presentPregnancyFollowUpSelectAll"
            [disabled]="presentPregnancyFollowUpSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="encounter">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="visit_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Visit status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="presentPregnancyFollowUpNavigator.presentPregnancyFollowUpUrl(element.id)"
            class="tc-link">{{presentPregnancyFollowUpPersist.getLevel(element.visit_status)}}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date_of_visit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Visit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{tcUtilsDate.toDate( element.date_of_visit )|date:'MMM dd, yyyy. h:mm a'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gestation_age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Gestation Age
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{tcUtilsDate.toDate( element.gestation_age )|date:'MMM dd, yyyy. h:mm a'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="bp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Blood pressure
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sbp +"/"+element.dbp}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header>weight
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pallor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pallor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pallor}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="uterine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>uterine_height
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.uterine_height}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fhb">
        <mat-header-cell *matHeaderCellDef mat-sort-header>FHB
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fatal_heart_beat}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="presentation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>presentation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.presentation}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="urine_test_protein">
        <mat-header-cell *matHeaderCellDef mat-sort-header>urine_test_protein
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.urine_test_protein}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="repid_syphilis_test">
        <mat-header-cell *matHeaderCellDef mat-sort-header>repid_syphilis_test
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.repid_syphilis_test}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="hemoglobin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hemoglobin
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hemoglobin}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="blood_group_and_rh">
        <mat-header-cell *matHeaderCellDef mat-sort-header>blood_group_and_rh
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.blood_group_and_rh}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="tt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>tt
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.tt}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Iron_folic_add">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Iron_folic_add
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.iron_folic_add}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mebendazole">
        <mat-header-cell *matHeaderCellDef mat-sort-header>HBsAg
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mebendazole}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="use_of_itn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>HCV Ab
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.use_of_itn}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="arv_px">
        <mat-header-cell *matHeaderCellDef mat-sort-header>arv_px
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.arv_px}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="remarks">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remarks
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remarks}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="danger_signs_identified_and_investigation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>danger_signs_identified_and_investigation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.danger_signs_identified_and_investigation}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action_advice_counseling">
        <mat-header-cell *matHeaderCellDef mat-sort-header>action_advice_counseling
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.action_advice_counseling}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="appontiment">
        <mat-header-cell *matHeaderCellDef mat-sort-header>appointment_for_next_follow_up
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.appointment_for_next_follow_up}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name_and_signs_of_health_care_provider">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Provider
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name_and_signs_of_health_care_provider}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="urine_test_for_infection">
        <mat-header-cell *matHeaderCellDef mat-sort-header>urine_test_for_infection
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.urine_test_for_infection}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="presentPregnancyFollowUpNavigator.presentPregnancyFollowUpUrl(element.id)"
            class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('present_pregnancy_follow_ups') || tcAuthorization.canDelete('present_pregnancy_follow_ups')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button mat-menu-item (click)="editPresentPregnancyFollowUp(element)"
              *ngIf="tcAuthorization.canUpdate('present_pregnancy_follow_ups') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePresentPregnancyFollowUp(element)"
              *ngIf="tcAuthorization.canDelete('present_pregnancy_follow_ups')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="presentPregnancyFollowUpsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: presentPregnancyFollowUpsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(presentPregnancyFollowUpSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="presentPregnancyFollowUpsTotalCount"
      [ngStyle]="{display: presentPregnancyFollowUpsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>