<h1 mat-dialog-title>
    Vaccinated Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="vaccinatedsSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="vaccinatedPersist.vaccinatedSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="vaccinatedsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="vaccinatedsIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="vaccinatedsData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(vaccinatedsData,vaccinatedsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(vaccinatedsData,vaccinatedsSelection)"
              [indeterminate]="vaccinatedsSelection.length <vaccinatedsData.length && vaccinatedsSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="vaccinatedsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{vaccinatedsSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="vaccinatedsSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(vaccinatedsSelection,row) : null"
                          [checked]="tcUtilsArray.contains(vaccinatedsSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(vaccinatedsSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="patient_type">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>patient_type</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.patient_type}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="target_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="vac_date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>vac_date</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.vac_date}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="vac_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>vac_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.vac_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="appointment_date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>appointment_date</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.appointment_date}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="vaccinatedsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: vaccinatedsDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(vaccinatedsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="vaccinatedsTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" vaccinatedsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  