
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-medkit"></mat-icon>
    {{appTranslation.getText("patient","dispatch_orders")}} </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchPatientDischarges();" *ngIf="tcAuthorization.canRead('patient_discharges')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addPatientDischarge();" *ngIf="tcAuthorization.canCreate('patient_discharges') && inEncounter && patientDischargesData.length == 0" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
  matInput
  labelPosition="before"
  class="tc-form-toggle" (change)="handleToggle($event)"
  required
  [checked]="true"
>
  {{appTranslation.getText("patient", "show_current")}}
</mat-slide-toggle>
</h1>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="patientDischargeSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="patientDischargePersist.patientDischargeSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
      (click)="patientDischargeSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="patientDischargePersist.patientDischargeSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchPatientDischarges()">
      <mat-option *ngFor="let etype of patientDischargeFilterColumn" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="patientDischargePersist.patientDischargeSearchHistory.discharge_status"
      (valueChange)="searchPatientDischarges()">
      <mat-option *ngFor="let etype of patientDischargePersist.discharge_statuses" [value]="etype.id">
        {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="tc-loading" *ngIf="patientDischargeIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let patientDischarge of patientDischargesData" class="tc-card">
      <mat-card-header *ngIf="inEncounter">
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('patient_discharges') || tcAuthorization.canDelete('patient_discharges')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editPatientDischarge(patientDischarge)" *ngIf="tcAuthorization.canUpdate('patient_discharges') && inEncounter">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePatientDischarge(patientDischarge)" *ngIf="tcAuthorization.canDelete('patient_discharges') && inEncounter">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
            <button mat-menu-item (click)="discharge(patientDischarge)" *ngIf="tcAuthorization.canDelete('patient_discharges') && !inEncounter">
              <mat-icon fontSet="fa" fontIcon="fa-medkit"></mat-icon>
              <span>{{appTranslation.getText("patient","dispatch")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>patient name</span>
          {{patientDischarge.patient_name}}
        </div>
<div class="tc-detail-field">
          <span>{{appTranslation.getText("general","date")}} </span>
          <a [routerLink]="patientDischargeNavigator.patientDischargeUrl(patientDischarge.id)" class="tc-link">
          {{tcUtilsDate.toDate(patientDischarge.date)|date:'MMM dd, yyyy. h:mm a'}}</a>
        </div><div class="tc-detail-field">
          <span>speciality</span>
          {{getSpeciality(patientDischarge.speciality)}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("patient","no_of_days")}}</span>
          {{patientDischarge.no_of_days}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("patient","discharged_by")}}</span>
          {{patientDischarge.discharged_by}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("bed","status")}}</span>
          {{tcUtilsArray.getEnum(
              patientDischargePersist.condition_statuses,
              patientDischarge.condition_status
            )?.name}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchPatientDischarges.length >0 || patientDischargeSelectAll">
      <button mat-button (click)="downloadPatientDischarges()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{patientDischargeSelectAll ? patientDischargesTotalCount : patientDischargeSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="patientDischargesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(patientDischargesData,patientDischargeSelection) "
            [checked]=" tcUtilsArray.isAllSelected(patientDischargesData,patientDischargeSelection) || patientDischargeSelectAll"
            [indeterminate]="patientDischargeSelection.length <patientDischargesData.length && patientDischargeSelection.length>0"
            [disabled]="patientDischargeSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="patientDischargeSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #patientDischargeSelectAllMenu="matMenu">

            <button mat-menu-item (click)="patientDischargeSelectAll=true;" [disabled]="patientDischargeSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="patientDischargeSelectAll = false;" [disabled]="!patientDischargeSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(patientDischargeSelection,row) : null"
            [checked]="tcUtilsArray.contains(patientDischargeSelection,row) || patientDischargeSelectAll" [disabled]="patientDischargeSelectAll">
          </mat-checkbox>
        </mat-cell>
  </ng-container>  <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","date")}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="patientDischargeNavigator.patientDischargeUrl(element.id)" class="tc-link">{{tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}</a>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_name">
      <mat-header-cell *matHeaderCellDef>{{appTranslation.getText("general","name")}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.patient_name}}
        </mat-cell>
    </ng-container>

  <ng-container matColumnDef="speciality">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("employee","department_specialty")}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{getSpeciality(element.speciality)}}
          </mat-cell>
      </ng-container>

  <ng-container matColumnDef="ward">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ward
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{getWard(element.ward_id)}}
    </mat-cell>
  </ng-container>

    <ng-container matColumnDef="patient_room">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Patient Room
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{getBedroom(element.beedroom_id)}} - {{getBed(element.bed_no)}}
      </mat-cell>
    </ng-container>

  <ng-container matColumnDef="admission_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Admission date
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{tcUtilsDate.toDate(element.date_of_admission)|date:'MMM dd, yyyy. h:mm a'}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="order_by">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Approved By
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.order_by_username}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="no_of_days">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","no_of_days")}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{this.tcUtilsDate.calculateDaysDifference(element.date_of_admission, element.response_date)}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="discharged_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","discharged_by")}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.discharged_username}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="p.pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>MRN
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.pid}}
        </mat-cell>
      </ng-container>

  <ng-container matColumnDef="condition_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("bed","status")}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{tcUtilsArray.getEnum(
              patientDischargePersist.condition_statuses,
              element.condition_status
            )?.name}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action" >
        <mat-header-cell *matHeaderCellDef class="tc-column-action">

        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('patient_discharges') || tcAuthorization.canDelete('patient_discharges'))">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editPatientDischarge(element)" *ngIf="tcAuthorization.canUpdate('patient_discharges') && inEncounter ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePatientDischarge(element)" *ngIf="tcAuthorization.canDelete('patient_discharges') && inEncounter">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
            <button mat-menu-item (click)="discharge(element)" *ngIf="tcAuthorization.canUpdate('patient_discharges') && !inEncounter && element.discharge_status == Discharge_status.ordered">
              <mat-icon fontSet="fa" fontIcon="fa-medkit"></mat-icon>
              <span>{{appTranslation.getText("patient","dispatch")}} </span>
            </button>
            <button mat-menu-item (click)="rejectDischarge(element)" *ngIf="tcAuthorization.canUpdate('reject_discharge_requests') && !inEncounter && element.discharge_status == Discharge_status.ordered">
              <mat-icon fontSet="fa" fontIcon="fa-medkit"></mat-icon>
              <span>Reject Discharge Request </span>
            </button>
            <button mat-menu-item (click)="reverseDischarge(element)" *ngIf="tcAuthorization.canUpdate('reject_discharge_requests') && !inEncounter && element.discharge_status == Discharge_status.discharged">
              <mat-icon fontSet="fa" fontIcon="fa-medkit"></mat-icon>
              <span>Reverse Discharge </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="patientDischargesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: patientDischargesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patientDischargeSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="patientDischargesTotalCount"
      [ngStyle]="{display: patientDischargesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
