<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="ordersDetail">
  
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('procedure', 'total_order')}}" type="number"  [(ngModel)]="ordersDetail.total_order" required>
                          </mat-form-field>

                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'urgency')}}" type="number"  [(ngModel)]="ordersDetail.urgency" required>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('inventory', 'total_price')}}" type="number"  [(ngModel)]="ordersDetail.total_price" required>
                          </mat-form-field>

                          <mat-form-field class="tc-full-stretch">
                            <mat-label>{{
                              appTranslation.getText("financial", "payment")
                              }}</mat-label>
                            <input matInput disabled [(ngModel)]="payment"/>
                            <button
                              mat-icon-button
                              matTooltip="{{ appTranslation.getText('financial', 'Payment') }}"
                              matSuffix
                              color="primary"
                              (click)="searchPayment()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>
                      
  <div class="tc-flex-column">
                                  <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="ordersDetail.paid" required> 
                                    {{appTranslation.getText('financial', 'paid')}} </mat-slide-toggle>
                           </div>
                      
  
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  