<div class="tc-flex-row">
  <h1 class="mat-headline">
    {{ appTranslation.getText("inventory", "store_selection") }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="storesSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }}"
    />
    <button
      mat-button
      *ngIf="storePersist.storeSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="storesSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="storesIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">
    <mat-table [dataSource]="storesData" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="tcUtilsArray.toggleSelectAll(storesData, storesSelection)"
            [checked]="tcUtilsArray.isAllSelected(storesData, storesSelection)"
            [indeterminate]="
              storesSelection.length < storesData.length &&
              storesSelection.length > 0
            "
            *ngIf="!selectOne"
          >
          </mat-checkbox>
          <button
            mat-button
            *ngIf="storesSelection.length > 0 && !selectOne"
            [mat-menu-trigger-for]="collectionMenu"
          >
            <i class="material-icons">more_vert</i>

            <span
              matBadge="{{ storesSelection.length }}"
              matBadgePosition="above after"
              matBadgeOverlap="false"
              [matBadgeHidden]="storesSelection.length == 0"
              style="margin-right: 10px"
            ></span>
          </button>
          <mat-menu #collectionMenu="matMenu">
            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event ? tcUtilsArray.toggleSelection(storesSelection, row) : null
            "
            [checked]="tcUtilsArray.contains(storesSelection, row)"
            *ngIf="!selectOne"
          >
          </mat-checkbox>

          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? markOneItem(row) : null"
            [checked]="tcUtilsArray.contains(storesSelection, row)"
            *ngIf="selectOne"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "name")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="parent_store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("inventory", "parent_store")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.parent_store_id
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="store_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'store_type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ appTranslation.getText("inventory", tcUtilsArray.getEnum(storePersist.store_type, element.store_type)?.name) }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="storesDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: storesDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(storesSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [length]="storesTotalCount"
    ></mat-paginator>
  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="storesSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
