<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <mat-form-field class="tc-full-stretch">
    <input matInput placeholder="Username" [(ngModel)]="item.username" required>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch">
    <input matInput placeholder="Name" [(ngModel)]="item.name" required>
  </mat-form-field>


  <mat-form-field class="tc-full-stretch">
    <input matInput placeholder="Phone No" [(ngModel)]="item.phone_no" required>
  </mat-form-field>


  <mat-form-field class="tc-full-stretch">
    <input matInput placeholder="Email" [(ngModel)]="item.email"  pattern="{{tcUtilsString.emailPattern}}" required>
  </mat-form-field>

  <div class="tc-flex-column">

    <mat-slide-toggle matInput [(ngModel)]="item.sysadmin" labelPosition="before" class="tc-form-toggle">Sysadmin
    </mat-slide-toggle>

    <mat-slide-toggle matInput [(ngModel)]="item.disabled" labelPosition="before" class="tc-form-toggle">Disabled
    </mat-slide-toggle>
  </div>


</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="isNew? onAdd(): onUpdate()"
          [disabled]=" !item.username ||  item.username=='' || !item.name ||  item.name=='' || !item.email ||  item.email==''  "
          cdkFocusInitial>
    Save
  </button>
</div>
