<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="lab_testDetail">

                        <mat-form-field class="tc-full-stretch">
                          <mat-label>{{appTranslation.getText('laboratory','lab_order_id')}}</mat-label>
                          <input
                            matInput
                            placeholder="{{appTranslation.getText('laboratory','lab_order_id')}}"
                            type="text"
                            disabled
                            [(ngModel)]="labOrderName"
                            required
                          >
                          <button
                            mat-icon-button
                            matTooltip="{{appTranslation.getText('laboratory','lab_order_id')}}"
                            matSuffix
                            color="primary"
                            (click)="searchLabOrders()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="lab_testDetail.name" required>
                        </mat-form-field>
                        <div class="tc-flex-row">
                          <input matInput class="duration-input" name="days" [(ngModel)]="days" placeholder="00" type="text"
                            (ngModelChange)="check('days')" required>D

                          <input matInput class="duration-input" name="hours" [(ngModel)]="hours" placeholder="00" type="text"
                            (ngModelChange)="check('hours')" required>H

                          <input matInput class="duration-input" name="minutes" [(ngModel)]="minutes" placeholder="00" type="text"
                            (ngModelChange)="check('minutes')" required>M
                        </div>

 <!-- <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('laboratory','max_range')}}" type="number"  [(ngModel)]="lab_testDetail.max_range">
                        </mat-form-field> -->
                        <!-- <mat-form-field class="tc-full-stretch" >
                          <mat-select
                            placeholder="Measuring Unit"
                            [(value)]="lab_testDetail.test_unit"
                            >
                            <mat-option *ngFor="let etype of persist.MeasuringUnit" [value]="etype.id">
                              {{tcUtilsArray.getEnum(persist.MeasuringUnit, etype.id)?.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->

 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('laboratory','price')}}" type="number"  [(ngModel)]="lab_testDetail.price" required>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch" >
                          <mat-select
                            placeholder="{{appTranslation.getText('financial', 'vat_status')}}"
                            [(value)]="lab_testDetail.vat_status"
                            required>
                            <mat-option *ngFor="let etype of feePersist.VatStatus" [value]="etype.id">
                             {{appTranslation.getText('financial',etype.name)}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch">
                          <mat-label>Measuring Unit</mat-label>
                          <input
                            matInput
                            placeholder="Measuring Unit"
                            type="text"
                            disabled
                            [(ngModel)]="testUnitName"
                            required
                          >
                          <button
                            mat-icon-button
                            matTooltip="Measuring Unit"
                            matSuffix
                            color="primary"
                            (click)="searchMeasuringUnit()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch">
                          <input matInput  placeholder="Order" type="number"  [(ngModel)]="lab_testDetail.test_sequence" required>
                      </mat-form-field>
  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
