<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav-content>
    <div>
      <div class="patient-information">
        <div *ngIf="patient">Patient : {{patient_name}} </div> <div> Age: {{calculateAge(patient?.dob)}} </div> <div> Sex: {{patient?.sex ? "Male": "Female"}} </div> <div> MRN: {{patient?.pid}} </div>
      </div>
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText('notes', 'notes')}}
      </h1>
        <button mat-button (click)=" reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
      </mat-toolbar>
            <div class="tc-equal-block">


              <div class="tc-padding">
                <mat-accordion>

                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <!-- {{appTranslation.getText('notes', 'notes')}} -->
                        {{procedureDetail.instruction}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-spinner diameter="50" *ngIf="notesLoading"></mat-spinner>

                    <div [ngStyle]="{display: notesLoading? 'none':''}">

                      <div *ngIf="!notesLoading">
                        <div *ngFor="let note of notesData">
                          <div class="tc-padding">
                                                    <span
                                                      class="tc-date tc-text-muted">{{tcUtilsDate.toDate(note.date)
                                                     |date:'MMM dd, yyyy. h:mm a'}}
                                                      <span
                                                        *ngIf="tcUtilsArray.containsId(userPersist.userDisplays,note.commented_by)">
                                                            |
                                                        {{getUser(note.provider_id)}} </span>
                                                        <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v"
                                                                  class="tc-icon-button" style="margin-left:5px;"
                                                                  [matMenuTriggerFor]="noteContextMenu"
                                                                  *ngIf="canUpdateNote(note)">
                                                        </mat-icon>
                                                        <mat-menu #noteContextMenu="matMenu">
                                                            <button mat-menu-item (click)="editNote(note)"
                                                                    *ngIf="canUpdateNote(note)">
                                                                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                Edit
                                                            </button>
                                                            <button mat-menu-item (click)="deleteNote(note)"
                                                                    *ngIf="canUpdateNote(note)">
                                                                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                Archive
                                                            </button>
                                                        </mat-menu>
                                                    </span>
                            <div class="tc-notice-text">
                              <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="note.note" [disabled]="true" (ready)="radiologyResultSettingPersist.onReady($event)"></ckeditor>
                            </div>
                          </div>
                        </div>
                      </div>

                      <mat-form-field style="display:none;">
                        <input matInput [formControl]="notesSearchTextBox" placeholder="Filter">
                        <button mat-button *ngIf="notesSearchTextBox.value" matSuffix
                                mat-icon-button aria-label="Clear"
                                (click)="notesSearchTextBox.setValue('')">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>

                      <div class="tc-table-container tc-full-stretch tc-hidden" matSort>


                        <mat-toolbar *ngIf="notesSelected.length >0 ">

                        </mat-toolbar>

                        <mat-table [dataSource]="notesData">

                          <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                              <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)=" tcUtilsArray.toggleSelectAll(notesData,notesSelected) "
                                            [checked]=" tcUtilsArray.isAllSelected(notesData,notesSelected)"
                                            [indeterminate]="notesSelected.length <notesData.length && notesSelected.length>0">
                              </mat-checkbox>

                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="tc-column-selection">
                              <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? tcUtilsArray.toggleSelection(notesSelected,row) : null"
                                            [checked]="tcUtilsArray.contains(notesSelected,row)">
                              </mat-checkbox>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="comment_text">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>comment_text
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                              <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="element.comment_text" [disabled]="true" (ready)="radiologyResultSettingPersist.onReady($event)"></ckeditor>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="comment_time">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>comment_time
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.comment_time}}
                            </mat-cell>
                          </ng-container>


                          <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef class="tc-column-action">
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="tc-column-action">
                              <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                                <i class="material-icons">more_vert</i>
                              </button>
                              <mat-menu #elementMenu="matMenu">


                                <button mat-menu-item (click)="deleteNote(element)">
                                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                  <span>Archive</span>
                                </button>
                              </mat-menu>
                            </mat-cell>
                          </ng-container>

                          <mat-header-row
                            *matHeaderRowDef="notesDisplayedColumns; sticky: true; ">
                          </mat-header-row>
                          <mat-row *matRowDef="let row; columns: notesDisplayedColumns;"
                                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(notesSelected,row)}">
                          </mat-row>

                        </mat-table>
                        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
                                       showFirstLastButtons [pageSize]="tcUtilsArray.defaultPageSizeSmall"
                                       [length]="notesTotalCount"
                                       [ngStyle]="{display: notesTotalCount > 0? '':'none'}"></mat-paginator>
                      </div>

                    </div>
                    <mat-action-row>
                      <button mat-button (click)="addNote()">
                        {{appTranslation.getText('general', 'add')}} Note
                      </button>
                    </mat-action-row>

                  </mat-expansion-panel>
                </mat-accordion>

              </div>

            </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
