.patient-information {
    background-color: var(--base-color);
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 6px 10px;
    align-items: center;
    /* position: sticky;
    top: 0;
    border: 0px solid; */
}