<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

   <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="subject" [(ngModel)]="item.subject" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="sender_id" [(ngModel)]="item.sender_id" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="sender_email" [(ngModel)]="item.sender_email" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="recipient_id" [(ngModel)]="item.recipient_id" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="recipient_email" [(ngModel)]="item.recipient_email" required>
                        </mat-form-field>

<div class="tc-flex-column">
                                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="item.is_html" required> is_html </mat-slide-toggle>
                         </div>

<div class="tc-flex-column">
                                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="item.has_attachments" required> has_attachments </mat-slide-toggle>
                         </div>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="submission_time" [(ngModel)]="item.submission_time" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="sending_time" [(ngModel)]="item.sending_time" required>
                        </mat-form-field>

<div class="tc-flex-column">
                                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="item.is_sent" required> is_sent </mat-slide-toggle>
                         </div>

<div class="tc-flex-column">
                                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="item.is_failed" required> is_failed </mat-slide-toggle>
                         </div>


 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew? onAdd(): onUpdate()"
          [disabled]="!item.subject ||  item.subject=='' || !item.sender_id ||  item.sender_id=='' || !item.sender_email ||  item.sender_email=='' || !item.recipient_id ||  item.recipient_id=='' || !item.recipient_email ||  item.recipient_email=='' "
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
