<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="deposit_historyDetail">

     <mat-form-field class="tc-full-stretch" *ngIf="!isWizard()">
                            <input matInput placeholder="{{appTranslation.getText('financial','deposit_amount')}}" type="number"  [(ngModel)]="deposit_historyDetail.deposit_amount" required>
                        </mat-form-field>
                    
 <mat-form-field class="tc-full-stretch">
                            <textarea matInput placeholder="{{appTranslation.getText('general','remark')}}" type="text"  [(ngModel)]="deposit_historyDetail.remark" required></textarea>
                        </mat-form-field>

                        <mat-form-field class="tc-full-stretch">
                          <input matInput placeholder="CRV" type="text"  [(ngModel)]="deposit_historyDetail.crv" required />
                      </mat-form-field>
                        <mat-form-field class="tc-full-stretch" >
                          <mat-select
                            placeholder="payment_type"
                            [(value)]="deposit_historyDetail.payment_type"
                            (valueChange)="deposit_historyDetail.bank_id = null; bankName = null; deposit_historyDetail.transaction_no = null; "
                            required>
                            <mat-option *ngFor="let etype of filteredPaymentType" [value]="etype.id">
                             {{etype.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch" *ngIf="deposit_historyDetail.payment_type==paymentType.transfer">
                          <mat-label>
                            Bank
                          </mat-label>
                          <input matInput disabled [(ngModel)]="bankName"  />
                          <button
                            mat-icon-button
                            matTooltip="Bank"
                            matSuffix
                            color="primary"
                            (click)="searchBank()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch" *ngIf="deposit_historyDetail.bank_id">
                          <input matInput  placeholder="Transaction No" type="text"  [(ngModel)]="deposit_historyDetail.transaction_no">
                      </mat-form-field>
                      <mat-form-field class="tc-full-stretch">
                        <input matInput  placeholder="TIN Number" type="text"  [(ngModel)]="deposit_historyDetail.tin_no">
                    </mat-form-field>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="(isNew() || isWizard())? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
