<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="itemReceiveDetail && !isReject()">
   <!-- <mat-form-field class="tc-full-stretch" *ngIf="isAccept()">
                              <input matInput  placeholder="batch_no" type="text"  [(ngModel)]="itemReceiveDetail.batch_no" required>
                          </mat-form-field>                     -->
   <mat-form-field class="tc-full-stretch" *ngIf="isAccept()">
                              <input matInput  placeholder="location" type="text"  [(ngModel)]="itemReceiveDetail.location" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch" *ngIf="!isAccept()">
                              <input matInput  placeholder="quantity" type="number"  [(ngModel)]="itemReceiveDetail.quantity" required>
                          </mat-form-field>
                          <mat-form-field class="tc-full-stretch" *ngIf="!isAccept()">
                            <mat-select
                              placeholder="Unit"
                              [(value)]="itemReceiveDetail.unit" disabled
                              required>
                              <mat-option *ngFor="let etype of requestPersist.units" [value]="etype.id">
                               {{appTranslation.getTextByIdentifier(etype.name)}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>                  
   <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isAccept()">
                              <input matInput  placeholder="unit price" type="number"  [(ngModel)]="itemReceiveDetail.unit_price" required>
                          </mat-form-field> -->
                         </div>
        <div *ngIf="itemReceiveDetail && isReject()">
            <mat-form-field class="tc-full-stretch">
                <textarea
                  matInput
                  placeholder="{{ appTranslation.getText('general', 'description') }}"
                  type="text"
                  [(ngModel)]="itemReceiveDetail.reject_description"
                >
                </textarea>
              </mat-form-field>
        </div>
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  