
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     risk_factors_options  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchRiskFactorsOptionss();" *ngIf="tcAuthorization.canRead('risk_factors_options')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addRiskFactorsOptions();" *ngIf="tcAuthorization.canCreate('risk_factors_options')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="riskFactorsOptionsSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="riskFactorsOptionsPersist.riskFactorsOptionsSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="riskFactorsOptionsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="riskFactorsOptionsIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let riskFactorsOptions of riskFactorsOptionssData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('risk_factors_options') || tcAuthorization.canDelete('risk_factors_options')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editRiskFactorsOptions(riskFactorsOptions)" *ngIf="tcAuthorization.canUpdate('risk_factors_options')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRiskFactorsOptions(riskFactorsOptions)" *ngIf="tcAuthorization.canDelete('risk_factors_options')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{riskFactorsOptions.name}}
          </div><div class="tc-detail-field">
            <span>type</span>
            {{tcUtilsArray.getEnum(riskFactorsOptionsPersist.modificationStatus,riskFactorsOptions.type)?.name}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchRiskFactorsOptionss.length >0 || riskFactorsOptionsSelectAll">
        <button mat-button (click)="downloadRiskFactorsOptionss()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{riskFactorsOptionsSelectAll ? riskFactorsOptionssTotalCount : riskFactorsOptionsSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="riskFactorsOptionssData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(riskFactorsOptionssData,riskFactorsOptionsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(riskFactorsOptionssData,riskFactorsOptionsSelection) || riskFactorsOptionsSelectAll"
              [indeterminate]="riskFactorsOptionsSelection.length <riskFactorsOptionssData.length && riskFactorsOptionsSelection.length>0"
              [disabled]="riskFactorsOptionsSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="riskFactorsOptionsSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #riskFactorsOptionsSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="riskFactorsOptionsSelectAll=true;" [disabled]="riskFactorsOptionsSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="riskFactorsOptionsSelectAll = false;" [disabled]="!riskFactorsOptionsSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(riskFactorsOptionsSelection,row) : null"
              [checked]="tcUtilsArray.contains(riskFactorsOptionsSelection,row) || riskFactorsOptionsSelectAll" [disabled]="riskFactorsOptionsSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(riskFactorsOptionsPersist.modificationStatus,element.type)?.name}}
        </mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="riskFactorsOptionsNavigator.riskFactorsOptionsUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('risk_factors_options') || tcAuthorization.canDelete('risk_factors_options')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editRiskFactorsOptions(element)" *ngIf="tcAuthorization.canUpdate('risk_factors_options') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRiskFactorsOptions(element)" *ngIf="tcAuthorization.canDelete('risk_factors_options')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="riskFactorsOptionssDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: riskFactorsOptionssDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(riskFactorsOptionsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="riskFactorsOptionssTotalCount"
        [ngStyle]="{display: riskFactorsOptionssTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  