<mat-tab-group class="mat-elevation-z8" [(selectedIndex)]="physiotherapyPersist.selectedIndex" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Physiotherapy">
        <ng-template matTabContent>
            <app-rehabilitation-order-list [isSession]="true"></app-rehabilitation-order-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Sessions">
        <ng-template matTabContent>
        <app-physiotherapy_session-list></app-physiotherapy_session-list>
        </ng-template>
    </mat-tab>
    </mat-tab-group>    