<h1 mat-dialog-title>
    patient_ward_report Selection
</h1>
<div mat-dialog-content> <mat-form-field>
    <input matInput [formControl]="patientWardReportSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="patientWardReportPersist.patientWardReportSearchText" matSuffix mat-icon-button
        aria-label="Clear" (click)="patientWardReportSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="patientWardReportIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="searchPatient_ward_reports.length >0 || patientWardReportSelectAll">
            <div class="tc-flex-fill"></div>
            <span>{{patientWardReportSelectAll ? patientWardReportsTotalCount : patientWardReportSelection.length}}
                {{appTranslation.getText("general",
                "selected")}}</span>
        </mat-toolbar><mat-table [dataSource]="patientWardReportsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(patientWardReportsData,patientWardReportSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(patientWardReportsData,patientWardReportSelection) || patientWardReportSelectAll"
                        [indeterminate]="patientWardReportSelection.length <patientWardReportsData.length && patientWardReportSelection.length>0"
                        [disabled]="patientWardReportSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                            [matMenuTriggerFor]="patientWardReportSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #patientWardReportSelectAllMenu="matMenu">

                        <button mat-menu-item (click)="patientWardReportSelectAll=true;"
                            [disabled]="patientWardReportSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="patientWardReportSelectAll = false;"
                            [disabled]="!patientWardReportSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(patientWardReportSelection,row) : null"
                        [checked]="tcUtilsArray.contains(patientWardReportSelection,row) || patientWardReportSelectAll"
                        [disabled]="patientWardReportSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container> <ng-container matColumnDef="patient_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ward_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ward_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.ward_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="report_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>report_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.report_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="encounter_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
            </ng-container>
                <!-- <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="patientWardReportNavigator.patientWardReportUrl(element.id)"
                        class="tc-link">{{element.id}}</a>

                </mat-cell> -->
     <mat-header-row
                *matHeaderRowDef="patientWardReportsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: patientWardReportsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patientWardReportSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="patientWardReportsTotalCount"
            [ngStyle]="{display: patientWardReportsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">
        {{ appTranslation.getText("general", "cancel") }}
    </button>
    <button mat-button (click)="returnSelected()" [disabled]="patientWardReportSelection.length == 0" cdkFocusInitial>
        {{ appTranslation.getText("general", "return_selection") }}
    </button>
</div>