.mat-cell{
    min-height: 100px;
}

.t-area{
    width:100%;
    padding:10px;
    border-radius: 5px;
    border:1px solid #ccc;
    resize: vertical;
    margin: 5px 10px;
}
.btn-save{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.mat-column-status,
.mat-column-action2 {
  max-width: 100px;
}

.mat-column-patient {
  max-width: 180px;
}