<h1 mat-dialog-title>
    delivery_summary Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="deliverySummarySearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="deliverySummaryPersist.deliverySummarySearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="deliverySummarySearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="deliverySummaryIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="deliverySummarysData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(deliverySummarysData,deliverySummarySelection) "
            [checked]=" tcUtilsArray.isAllSelected(deliverySummarysData,deliverySummarySelection) || deliverySummarySelectAll"
            [indeterminate]="deliverySummarySelection.length <deliverySummarysData.length && deliverySummarySelection.length>0"
            [disabled]="deliverySummarySelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="deliverySummarySelectAllMenu"></mat-icon>
          </button>
          <mat-menu #deliverySummarySelectAllMenu="matMenu">

            <button mat-menu-item (click)="deliverySummarySelectAll=true;" [disabled]="deliverySummarySelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="deliverySummarySelectAll = false;" [disabled]="!deliverySummarySelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(deliverySummarySelection,row) : null"
            [checked]="tcUtilsArray.contains(deliverySummarySelection,row) || deliverySummarySelectAll" [disabled]="deliverySummarySelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="delivery_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>delivery_time
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.delivery_time}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="delivery_way">
        <mat-header-cell *matHeaderCellDef mat-sort-header>delivery_way
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.delivery_way}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="AMTSL">
        <mat-header-cell *matHeaderCellDef mat-sort-header>AMTSL
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.AMTSL}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="placenta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>placenta
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.placenta}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="laceration_rep">
        <mat-header-cell *matHeaderCellDef mat-sort-header>laceration_rep
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.laceration_rep}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="newborn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>newborn
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.newborn}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="apgar_accre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>apgar_accre
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.apgar_accre}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sb">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sb
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sb}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="bcg">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bcg
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bcg}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="polio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>polio
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.polio}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="vit_k">
        <mat-header-cell *matHeaderCellDef mat-sort-header>vit_k
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.vit_k}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ttc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ttc
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ttc}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="eclampsia">
        <mat-header-cell *matHeaderCellDef mat-sort-header>eclampsia
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.eclampsia}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="aph">
        <mat-header-cell *matHeaderCellDef mat-sort-header>aph
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.aph}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="pph">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pph
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pph}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="prom_sepsis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>prom_sepsis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.prom_sepsis}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="obst_prolg_labor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>obst_prolg_labor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.obst_prolg_labor}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hiv_couns">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hiv_couns
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hiv_couns}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hiv_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hiv_result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hiv_result}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hiv_test_accepted">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hiv_test_accepted
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hiv_test_accepted}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="arv_px_mother">
        <mat-header-cell *matHeaderCellDef mat-sort-header>arv_px_mother
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.arv_px_mother}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="arv_px_nb">
        <mat-header-cell *matHeaderCellDef mat-sort-header>arv_px_nb
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.arv_px_nb}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="feeding_option_ebf">
        <mat-header-cell *matHeaderCellDef mat-sort-header>feeding_option_ebf
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.feeding_option_ebf}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="rf">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rf
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rf}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="mother_referred">
        <mat-header-cell *matHeaderCellDef mat-sort-header>mother_referred
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mother_referred}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remark
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="delivered_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header>delivered_by
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.delivered_by}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="deliverySummarysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: deliverySummarysDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(deliverySummarySelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="deliverySummarysTotalCount"
      [ngStyle]="{display: deliverySummarysTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" deliverySummarySelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>