<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="item_ledger_entryDetail">

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='{{appTranslation.getText("inventory", "entry_type")}}' [(value)]="item_ledger_entryDetail.entry_type" required>
        <mat-option *ngFor="let etype of persist.entry_type" [value]="etype.id">
          {{appTranslation.getText("inventory",etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="{{appTranslation.getText('general','item_type')}}" [(value)]="item_ledger_entryDetail.item_type" required>
        <mat-option *ngFor="let etype of persist.item_type" [value]="etype.id">
          {{appTranslation.getText("inventory",etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('inventory', 'item') }}"
        type="text"
        [(ngModel)]="itemName"
        disabled
        required
      />

      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('inventory', 'search_items') }}"
        matSuffix
        color="primary"
        (click)="searchItem()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','quantity')}}" type="number"
             [(ngModel)]="item_ledger_entryDetail.quantity" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('inventory', 'store') }}"
        type="text"
        [(ngModel)]="storeName"
        disabled
        required
      />

      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('inventory', 'search_stores') }}"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','batch_no')}}" type="number"
             [(ngModel)]="item_ledger_entryDetail.batch" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{appTranslation.getText('general','expire_date')}}</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="expire_date_picker" [(ngModel)]="expire_date">
      <mat-datepicker-toggle matSuffix [for]="expire_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #expire_date_picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder="{{appTranslation.getText('general','description')}}" type="text"
                [(ngModel)]="item_ledger_entryDetail.description" required></textarea>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{appTranslation.getText('general','date_of_registration')}}</mat-label>
      <input matInput [matDatepicker]="date_of_registration_picker" [(ngModel)]="date_of_registration">
      <mat-datepicker-toggle matSuffix [for]="date_of_registration_picker"></mat-datepicker-toggle>
      <mat-datepicker #date_of_registration_picker></mat-datepicker>
    </mat-form-field>


  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
