<mat-sidenav-container class="tc-sidebar-container" fullscreen>
        <mat-sidenav-content>

        <div class="tc-loading" *ngIf="prescriptionsIsLoading">
            <mat-spinner></mat-spinner>
        </div>

        <div [ngClass]="activeTab==PrescriptionsTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="!prescriptionsIsLoading">
                                    <p class="tc-detail-field">
                                        drug <span> {{prescriptionsDetail.drug}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Strength <span> {{prescriptionsDetail.dosage}} {{tcUtilsArray.getEnum(prescriptionsPersist.dosageUnit,prescriptionsDetail.unit)?.name}}</span>
                                    </p>
                                    <p class="tc-detail-field">
                                        date_added <span> {{prescriptionsDetail.date_added}} </span>
                                    </p>

                                    <p class="tc-detail-field">
                                        route <span> {{tcUtilsArray.getEnum(medicationAdminstrationChartPersist.MedicationRoute, prescriptionsDetail.route)?.name}}  </span>
                                    </p><p class="tc-detail-field">
                                        diagnosis <span> {{prescriptionsDetail.diagnosis}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        dose <span> {{prescriptionsDetail.dose}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        frequency <span> {{tcUtilsArray.getEnum(prescriptionsPersist.frequency,prescriptionsDetail.frequency)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        duration <span> {{prescriptionsDetail.duration}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        duration_unit <span> {{tcUtilsArray.getEnum(prescriptionsPersist.frequencyList, prescriptionsDetail.duration_unit)?.name}} </span>
                                    </p> 
                                    <p class="tc-detail-field">
                                        quantity <span> {{prescriptionsDetail.quantity}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        how_to_use <span> {{tcUtilsArray.getEnum(prescriptionsPersist.HowToUse,prescriptionsDetail.how_to_use)?.name}} </span>
                                    </p>
                                    
                                    <p class="tc-detail-field">
                                        other_information <span> {{prescriptionsDetail.other_information}} </span>
                                    </p>
                                </div>
                                <mat-action-row>
                                    <button mat-button (click)="editPrescriptions()"
                                        *ngIf="tcAuthorization.canUpdate('prescriptions') && form_encounterPersist.encounter_is_active ">
                                        {{appTranslation.getText("general", "edit")}}
                                    </button>
                                </mat-action-row>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                </div>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>