<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="doctorDetail">

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="Title" type="text"
             [(ngModel)]="doctorDetail.title" >
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','first_name')}}" type="text"
             [(ngModel)]="doctorDetail.first_name" required>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','middle_name')}}" type="text"
             [(ngModel)]="doctorDetail.middle_name" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','last_name')}}" type="text"
             [(ngModel)]="doctorDetail.last_name" required>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="qualification" type="text"
             [(ngModel)]="doctorDetail.qualification" >
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','email')}}" type="text"
             [(ngModel)]="doctorDetail.email" >
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','telephone')}}" type="text"
             [(ngModel)]="doctorDetail.telephone" required>
    </mat-form-field>


    <div class="tc-full-stretch tc-flex-column  tc-gender-input">
      <label id="gender-label" class="tc-text-muted">{{appTranslation.getText('general', 'gender')}}</label>
      <mat-radio-group aria-labelledby="gender-label" [(ngModel)]="doctorDetail.is_male">
        <mat-radio-button [value]="true">{{appTranslation.getText("general", "male")}}</mat-radio-button>
        <mat-radio-button [value]="false">{{appTranslation.getText("general", "female")}}</mat-radio-button>
      </mat-radio-group>

    </div>


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','birthdate')}}" [(ngModel)]="birth_date"
             [matDatepicker]="birth_date_picker" required>
      <mat-datepicker-toggle matSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #birth_date_picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','address')}}" type="text"
             [(ngModel)]="doctorDetail.address" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-select matNativeControl placeholder='{{appTranslation.getText("employee", "physician_type")}}'
                 (selectionChange)="physican_typeChange($event.value)" [value]="doctorDetail.physican_type"  required>
        <mat-option *ngFor="let etype of persist.physican_type" [value]="etype.id">
          {{appTranslation.getTextByIdentifier(etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <ng-container *ngIf="doctorDetail.physican_type == physican_type.nurse || doctorDetail.physican_type == physican_type.psychatric_nurse">

     

      <mat-form-field class="tc-full-stretch">
        <mat-label>
          Ward
        </mat-label>
        <input matInput disabled [(ngModel)]="wardName"/>
        <button
          mat-icon-button
          matSuffix
          color="primary"
          (click)="searchWard()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
     
     
    </ng-container>

    <ng-container *ngIf="doctorDetail.physican_type == physican_type.doctor || doctorDetail.physican_type == physican_type.mental_health_professional">

      <mat-form-field class="tc-full-stretch">
        <mat-label>
          {{appTranslation.getText("general", "department")}}
        </mat-label>
        <input matInput disabled [(ngModel)]="department"/>
        <button
          mat-icon-button
          matSuffix
          color="primary"
          (click)="searchDepartmentSpeciality(tcUtilsString.invalid_id)"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch">
        <mat-label>
          {{appTranslation.getText("employee", "department_specialty ")}}
        </mat-label>
        <input matInput disabled [(ngModel)]="departmentSpeciality"/>
        <button
          mat-icon-button
          matSuffix
          [disabled]="!department"
          color="primary"
          (click)="searchDepartmentSpeciality(doctorDetail.department_id)"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field> -->
    </ng-container>
    <ng-container *ngIf="!doctorDetail.signature_id || doctorDetail.signature_id == tcUtilsString.invalid_id">
      <button mat-button  (click)="clearSignature()" [disabled]="signaturePad && signaturePad.isEmpty()"><span>Clear</span></button>
      <button mat-button  (click)="submitSignature()" [disabled]="signaturePad && signaturePad.isEmpty()"><span>Submit</span></button>
      <button mat-button  (click)="documentUploadInput.click()"><span  >Upload</span></button>
    <signature-pad  #signature [options]="signaturePadOptions" ></signature-pad>
    <input #documentUploadInput hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
      (change)="documentUpload($event)"/>
    </ng-container>
    <ng-container *ngIf="doctorDetail.signature_id && doctorDetail.signature_id != tcUtilsString.invalid_id">
      <button mat-button  (click)="removeSignature()"><span>Remove</span></button>
      <p-avatar class="rectangle"  [(image)]="doctorDetail.signature_url" abel="P" shape="rectangle" size="xlarge"></p-avatar> 
    </ng-container>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
