
    <webcam [height]="400" 
            [width]="1000" 
            [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)">
     </webcam>
      
    <button mat-button class="actionBtn" (click)="triggerSnapshot();">
        Capture </button>
      
