<h1 mat-dialog-title>
    Payment_Due Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="payment_duesSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="payment_duePersist.payment_dueSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="payment_duesSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="payment_duesIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="payment_duesData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(payment_duesData,payment_duesSelection) "
              [checked]=" tcUtilsArray.isAllSelected(payment_duesData,payment_duesSelection)"
              [indeterminate]="payment_duesSelection.length <payment_duesData.length && payment_duesSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="payment_duesSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{payment_duesSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="payment_duesSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(payment_duesSelection,row) : null"
                          [checked]="tcUtilsArray.contains(payment_duesSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(payment_duesSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="employee_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>employee_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.employee_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="amount">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>amount</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="patient_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="time_stamp">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>time_stamp</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.time_stamp}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="status">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="payment_duesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: payment_duesDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(payment_duesSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="payment_duesTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" payment_duesSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  