<h1 mat-dialog-title>
    Openemr_User Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="openemr_usersSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="openemr_userPersist.openemr_userSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="openemr_usersSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="openemr_usersIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="openemr_usersData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(openemr_usersData,openemr_usersSelection) "
              [checked]=" tcUtilsArray.isAllSelected(openemr_usersData,openemr_usersSelection)"
              [indeterminate]="openemr_usersSelection.length <openemr_usersData.length && openemr_usersSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="openemr_usersSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{openemr_usersSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="openemr_usersSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(openemr_usersSelection,row) : null"
                          [checked]="tcUtilsArray.contains(openemr_usersSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(openemr_usersSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="fname">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','first_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.fname}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="lname">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','last_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.lname}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="mname">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','middle_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.mname}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="openemr_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>openemr_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.openemr_id}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="openemr_usersDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: openemr_usersDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(openemr_usersSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="openemr_usersTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" openemr_usersSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  