<div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
<div style="display: flex; justify-content: center;">
<mat-form-field>
    <mat-label>
      Bedroom Level
    </mat-label>
    <input matInput disabled [(ngModel)]="bed_room_level"  />
    <button
      mat-icon-button
      matTooltip="Bedroom Level"
      matSuffix
      color="primary"
      (click)="searchBedroomLevel(true)"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="bedroomPersist.bed_room_level !== ''" matSuffix mat-icon-button
    aria-label="Clear" (click)="bedroomPersist.bed_room_level = ''; bed_room_level = ''; loadBedrooms()">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Assigned Bedroom Level
    </mat-label>
    <input matInput disabled [(ngModel)]="bedassignmentDetail.assigned_bed_room_level_name"  />
    <button
      mat-icon-button
      matTooltip="Bedroom Level"
      matSuffix
      color="primary"
      (click)="searchBedroomLevel(false)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="tc-full-width tc-flex-row">
    <div class="tc-equal-block">
        <h2 style="text-align: center;">Wards</h2>
        <mat-form-field class="tc-full-width">
            <input matInput [formControl]="bedroomtypeSearchTextBox"
                placeholder='{{appTranslation.getText("general","search_text")}} '>
            <button mat-button *ngIf="bedroomTypePersis.bedroomtypeSearchText" matSuffix mat-icon-button
                aria-label="Clear" (click)="bedroomtypeSearchTextBox.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div [class]="ward_id == ward.id ? 'ward active' : 'ward'" (click)="ward_id = ward.id;loadBedrooms()"
            *ngFor="let ward of bedroomTypes">
            <p class="tc-detail-field">{{ward.name}}
                <span>Available - {{ward.available}}</span>
                <span>Occupied - {{ward.occupied}}</span>
                <span>Maintenance - {{ward.maintenance}}</span>
            </p>
        </div>
        <div style="width: 100%; clear: both;" class="no-page-size">
            <mat-paginator showFirstLastButtons [pageSize]="4" [length]="bedRoomTypeTotalCount"
                [ngStyle]="{display: bedRoomTypeTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
    </div>
    <div class="bedroom-flex">
        <h2 style="text-align: center;">Bedrooms</h2>
        <div style="margin: auto; width: 50%">
            <mat-form-field class="tc-full-stretch" *ngIf="ward_id">
                <input matInput [formControl]="bedroomSearchTextBox"
                    placeholder='{{appTranslation.getText("general","search_text")}} '>
                <button mat-button *ngIf="bedroomPersist.bedroomSearchText" matSuffix mat-icon-button aria-label="Clear"
                    (click)="bedroomSearchTextBox.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="bedroom">
            <div class="bed" *ngFor="let bedroom of bedrooms">
                <p style="text-align: center;">{{bedroom.name}}</p>
                <div class="wr">
                    <span [ngStyle]="{cursor: bed.status == bed_status.available ? 'pointer' : 'not-allowed'}"
                        (click)="assignPatient(bed, bedroom)"
                        [ngClass]="bed.id == bedassignmentDetail.bed_id ? 'bedi selected' : 'bedi'"
                        *ngFor="let bed of bedroom.beds">
                        <span class="bed_no">{{bed.serial_id}}</span>
                        <mat-icon
                            [matTooltip]="bed.status == bed_status.occupied ? (bed.discharge_date * 1000|date:'MMM dd, yyyy. h:mm a') : ''"
                            matTooltipPosition="above"
                            [ngClass]="appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(bedPersist.bed_status, bed.status)?.name)"
                            fontSet="fa" fontIcon="fa-bed"></mat-icon>
                    </span>
                </div>
            </div>
        </div>
        <div style="width: 100%; clear: both;" class="no-page-size">
            <mat-paginator showFirstLastButtons [pageSize]="2" [length]="bedRoomTotalCount"
                [ngStyle]="{display: bedRoomTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
    </div>
</div>
