.ward {
    float: left;
    background-color: var(--base-color);
    color: var(--text-color);
    padding: 16px;
    margin: 8px;
    border-radius: 10px;
}

.Maintenance {
    color: rgb(169 185 219 / 92%);
    position: relative;
}

.Maintenance::after {
    background-image: url(../../../../assets/images/maintain.png);
    content: "";
    position: absolute;
    top: 73%;
    left: 150%;
    font-size: 8px;
    z-index: 20;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}


.Available {
    color: rgb(169 185 219 / 92%);
}

.Occupied {
    color: rgb(169 185 219 / 92%);
    position: relative;
}

.Occupied::after {
    background-image: url(../../../../assets/images/ban.png);
    content: "";
    position: absolute;
    top: 90%;
    left: 115%;
    font-size: 8px;
     z-index: 20;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bedroom-flex {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bed-icon {
    font-size: 150px;
}

.bedroom {
    display: flex;
    height: 100%;
}

.bed {
    width: 50%;
    margin: 0 8px;
    padding: 8px;
    border: 2px var(--base-color) dashed;
}

.ward p {
    text-align: center;
}

.ward:hover {
    opacity: 0.6;
    cursor: pointer;
}

.active {
    opacity: 0.6;
}


.ward:hover span {
    color: var(--text-color);
}

.active span {
    color: var(--text-color);
}

.wr {
    display: flex;
    flex-wrap: wrap;
}

.bedi {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 33%;
    font-size: 65px;
    padding-bottom: 50px;
    display: flex;
}

bedi:disabled {
    cursor: not-allowed;
}

.bed_no {
    font-size: 12px;
    align-self: flex-start;
}

.selected {
    border: solid 2px var(--base-color);
}