<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-user-check"></mat-icon>
    resources
  </h3>
  <button mat-button (click)=" searchResources();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addResource();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div  class="tc-padding ">
  <mat-form-field>
    <input [formControl]="resourcesSearchTextBox" matInput
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button (click)="resourcesSearchTextBox.setValue('')" *ngIf="resourcePersist.resourceSearchText"
            aria-label="Clear" mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="resourcesIsLoading" class="tc-loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">

    <mat-toolbar *ngIf="resourcesSelection.length >0">
      <button mat-button (click)="downloadResources()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="resourcesData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (change)=" tcUtilsArray.toggleSelectAll(resourcesData,resourcesSelection) "
            (click)="$event.stopPropagation()"
            [checked]=" tcUtilsArray.isAllSelected(resourcesData,resourcesSelection)"
            [indeterminate]="resourcesSelection.length <resourcesData.length && resourcesSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (change)="$event ? tcUtilsArray.toggleSelection(resourcesSelection,row) : null"
                        (click)="$event.stopPropagation()"
                        [checked]="tcUtilsArray.contains(resourcesSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="uri">
        <mat-header-cell *matHeaderCellDef mat-sort-header> uri</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">
            <a [routerLink]="resourceNavigator.resourceUrl(element.id)"
               class="tc-link">{{element.uri}}</a>

            <span class="tc-column-sub-text">{{element.description}}</span>
          </div>


        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="users_count">
        <mat-header-cell *matHeaderCellDef mat-sort-header>users</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.users_count}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="groups_count">
        <mat-header-cell *matHeaderCellDef mat-sort-header>groups</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.groups_count}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button [matMenuTriggerFor]="elementMenu" mat-flat-button>
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button (click)="editResource(element)" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button (click)="deleteResource(element)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="resourcesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: resourcesDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(resourcesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [length]="resourcesTotalCount" [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>

