
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-user-injured"></mat-icon>
    {{appTranslation.getText("patient", "physiotherapy_type")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchPhysiotherapy_Types();" *ngIf="tcAuthorization.canRead('physiotherapy_types')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addPhysiotherapy_Type();" *ngIf="tcAuthorization.canCreate('physiotherapy_types')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="physiotherapy_typesSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="physiotherapy_typePersist.physiotherapy_typeSearchText" matSuffix mat-icon-button aria-label="Clear"
                (click)="physiotherapy_typesSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="tc-loading" *ngIf="physiotherapy_typesIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let physiotherapy_type of physiotherapy_typesData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title> 
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('physiotherapy_types') || tcAuthorization.canDelete('physiotherapy_types')">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <button mat-menu-item (click)="editPhysiotherapy_Type(physiotherapy_type)" *ngIf="tcAuthorization.canUpdate('physiotherapy_types')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                    </button>
                                                                                    <button mat-menu-item (click)="deletePhysiotherapy_Type(physiotherapy_type)" *ngIf="tcAuthorization.canDelete('physiotherapy_types')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
                    <div class="tc-detail-field">
            <span>{{appTranslation.getText('general','name')}}</span>
            {{physiotherapy_type.name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','created_at')}}</span>
            {{tcUtilsDate.toDate(physiotherapy_type.created_at)|date:'MMM dd, yyyy. h:mm a'}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','updated_at')}}</span>
           {{tcUtilsDate.toDate(physiotherapy_type.updated_at)|date:'MMM dd, yyyy. h:mm a'}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="physiotherapy_typesSelection.length >0 || physiotherapy_typesSelectAll">
                  <button mat-button (click)="downloadPhysiotherapy_Types()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{physiotherapy_typesSelectAll ? physiotherapy_typesTotalCount : physiotherapy_typesSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="physiotherapy_typesData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(physiotherapy_typesData,physiotherapy_typesSelection) "
                [checked]=" tcUtilsArray.isAllSelected(physiotherapy_typesData,physiotherapy_typesSelection) || physiotherapy_typesSelectAll"
                [indeterminate]="physiotherapy_typesSelection.length <physiotherapy_typesData.length && physiotherapy_typesSelection.length>0"
                [disabled]="physiotherapy_typesSelectAll">
              </mat-checkbox>
              
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="physiotherapy_typesSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #physiotherapy_typesSelectAllMenu="matMenu">
    
    
                <button mat-menu-item
                        (click)="physiotherapy_typesSelectAll=true;"
                        [disabled]="physiotherapy_typesSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="physiotherapy_typesSelectAll = false;"
                        [disabled]="!physiotherapy_typesSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(physiotherapy_typesSelection,row) : null"
                            [checked]="tcUtilsArray.contains(physiotherapy_typesSelection,row) || physiotherapy_typesSelectAll"
                            [disabled]="physiotherapy_typesSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                             </ng-container>
                          
                          
<ng-container matColumnDef="created_at">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','created_at')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  {{tcUtilsDate.toDate(element.created_at)|date:'MMM dd, yyyy. h:mm a'}}
                                </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="updated_at">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','updated_at')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  {{tcUtilsDate.toDate(element.updated_at)|date:'MMM dd, yyyy. h:mm a'}}
                                </mat-cell>
                             </ng-container>
                          

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('physiotherapy_types') || tcAuthorization.canDelete('physiotherapy_types')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editPhysiotherapy_Type(element)" *ngIf="tcAuthorization.canUpdate('physiotherapy_types') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deletePhysiotherapy_Type(element)" *ngIf="tcAuthorization.canDelete('physiotherapy_types')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="physiotherapy_typesDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: physiotherapy_typesDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(physiotherapy_typesSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="physiotherapy_typesTotalCount"
                       [ngStyle]="{display: physiotherapy_typesTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>


