<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="payment_dueDetail">


                          <mat-form-field class="tc-full-stretch">
                            <mat-select placeholder="{{appTranslation.getText('inventory','employee')}}"
                                [(ngModel)]="payment_dueDetail.employee_id" required>
                                <mat-option *ngFor="let employee of employees" [value]="employee.id">
                                {{employee.full_name}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('inventory','amount')}}" type="text"  [(ngModel)]="payment_dueDetail.amount" required>
                          </mat-form-field>

                          <mat-form-field class="tc-full-stretch">
                            <mat-select placeholder="{{appTranslation.getText('inventory','patient')}}"
                                [(ngModel)]="payment_dueDetail.patient_id" required>
                                <mat-option *ngFor="let patient of patients" [value]="patient.uuidd">
                                {{patient.fname}} {{patient.lname}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>

                          <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="{{appTranslation.getText('general','date')}}" [(ngModel)]="date"
                                   [matDatepicker]="date_picker" required>
                            <mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #date_picker></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field class="tc-full-stretch">
                            <mat-select placeholder="{{appTranslation.getText('general','status')}}" [(value)]="payment_dueDetail.status" required>
                              <mat-option *ngFor="let etype of persist.payment_due_status" [value]="etype.id">
                                {{appTranslation.getTextByIdentifier(etype.name)}}
                              </mat-option>
                            </mat-select>   
                          </mat-form-field>
                      
  
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  