<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>

  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

  <mat-form-field class="tc-full-stretch" *ngIf="!isWizard()">
    <input matInput [disabled]="insured_employeeDetail.patient_name" placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="insured_employeeDetail.full_name" required>
</mat-form-field>

    <div *ngIf="insured_employeeDetail">
                        <mat-form-field class="tc-full-stretch" *ngIf="!isWizard()">
                          <mat-label>{{appTranslation.getText('patient','patient')}}</mat-label>
                          <input
                            matInput
                            placeholder="{{appTranslation.getText('patient','patient')}}"
                            type="text"
                            disabled
                            [(ngModel)]="insured_employeeDetail.patient_name"
                            required
                          >
                          <button
                            mat-icon-button
                            matTooltip="{{appTranslation.getText('patient','patient')}}"
                            matSuffix
                            color="primary"
                            (click)="searchPatient()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>

                        <mat-form-field class="tc-full-stretch">
                          <mat-label>Package</mat-label>
                          <input
                            matInput
                            placeholder="Package"
                            type="text"
                            disabled
                            [(ngModel)]="insured_employeeDetail.package_name"
                            required
                          >
                          <button
                            mat-icon-button
                            matTooltip="Package"
                            matSuffix
                            color="primary"
                            (click)="searchPackage()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>

   <mat-form-field class="tc-full-stretch" *ngIf="!isWizard()">
                              <input matInput placeholder="{{appTranslation.getText('inventory','employee_id')}}" type="text"  [(ngModel)]="insured_employeeDetail.employee_id" required>
                          </mat-form-field>


   <!-- <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('inventory','covered_amount')}}" type="number"  [(ngModel)]="insured_employeeDetail.covered_amount" required>
                          </mat-form-field> -->
                          <div class="profile-picture" *ngIf="!isWizard()">
                            <p-avatar class="rectangle"  [(image)]="insured_employeeDetail.image_url" abel="P" shape="rectangle" size="xlarge"></p-avatar>
                            <span style="margin-right: 16px">ID Image:</span>
                            <button mat-button class="actionBtn"  (click)="documentUploadInput1.click()"><span  >Upload</span></button>
                            <button mat-button class="actionBtn"  (click)="takePic('image_id', 'image_url')"><span  >Camera</span></button>
                            <input #documentUploadInput1 hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
                            (change)="documentUpload($event, 'image_id', 'image_url')"/>

                          </div>
                          <div class="profile-picture" *ngIf="!isWizard()">
                            <p-avatar class="rectangle"  [(image)]="insured_employeeDetail.document_url" abel="P" shape="rectangle" size="xlarge"></p-avatar>
                            <span style="margin-right: 16px">Documnet:</span>
                            <button mat-button class="actionBtn"  (click)="documentUploadInput2.click()"><span  >Upload</span></button>
                            <button mat-button class="actionBtn"  (click)="takePic('documnet_id', 'document_url')"><span  >Camera</span></button>
                            <input #documentUploadInput2 hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
                            (change)="documentUpload($event, 'documnet_id', 'document_url')"/>

                          </div>

                          <button mat-button (click)="documentUploadInput.click()" class="tc-link" *ngIf="!isWizard()">
                            Import Employee
                          </button>
                          <input #documentUploadInput hidden="true" type="file" onclick="this.value=null" accept=".xls, .xlsx"
                            (change)="excelUpload($event)"/>
    </div>

   </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): (isWizard() ? importEmployee() : onUpdate())"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
