<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <input #documentUploadInput hidden="true" type="file" multiple onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
    (change)="documentUpload($event)"/>
<button mat-menu-item (click)="documentUploadInput.click()">
<mat-icon fontSet="fa" fontIcon="fa-upload"></mat-icon>
{{appTranslation.getText("files", "upload_document")}}
</button>
  
    <div *ngIf="encounter_imagesDetail">
                    
  
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  