<h1 mat-dialog-title>
    Orders Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="orderssSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="ordersPersist.orderSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
          (click)="orderssSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="orderssIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="orderssData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(orderssData,orderssSelection) "
              [checked]=" tcUtilsArray.isAllSelected(orderssData,orderssSelection)"
              [indeterminate]="orderssSelection.length <orderssData.length && orderssSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="orderssSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{orderssSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="orderssSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(orderssSelection,row) : null"
                          [checked]="tcUtilsArray.contains(orderssSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(orderssSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="created_at">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>created_at</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.created_at}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="total_order">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>total_order</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.total_order}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="doctor_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="encounter_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="patient_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="urgency">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>urgency</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.urgency}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="total_price">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>total_price</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="payment_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>payment_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.payment_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="paid">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>paid</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.paid}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="orderssDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: orderssDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(orderssSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="orderssTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" orderssSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  
