<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="surgeryRoomDetail">
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="name" type="text"  [(ngModel)]="surgeryRoomDetail.name" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                              <mat-select placeholder="status" type="text"  [(ngModel)]="surgeryRoomDetail.status" required>
                              <mat-option *ngFor="let etype of bed_persist.bed_status" [value]="etype.id">
                                {{ appTranslation.getTextByIdentifier(etype.name) }}
                              </mat-option>
                              </mat-select>
                          </mat-form-field>  </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>