<h1 mat-dialog-title>Waitinglist Selection</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="waitinglistsSearchTextBox"
      placeholder="Search Text"
    />
    <button
      mat-button
      *ngIf="waitinglistPersist.waitinglistSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="waitinglistsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="waitinglistsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">
    <mat-table [dataSource]="waitinglistsData" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                waitinglistsData,
                waitinglistsSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                waitinglistsData,
                waitinglistsSelection
              )
            "
            [indeterminate]="
              waitinglistsSelection.length < waitinglistsData.length &&
              waitinglistsSelection.length > 0
            "
            *ngIf="!selectOne"
          >
          </mat-checkbox>
          <button
            mat-button
            *ngIf="waitinglistsSelection.length > 0 && !selectOne"
            [mat-menu-trigger-for]="collectionMenu"
          >
            <i class="material-icons">more_vert</i>

            <span
              matBadge="{{ waitinglistsSelection.length }}"
              matBadgePosition="above after"
              matBadgeOverlap="false"
              [matBadgeHidden]="waitinglistsSelection.length == 0"
              style="margin-right: 10px"
            ></span>
          </button>
          <mat-menu #collectionMenu="matMenu">
            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(waitinglistsSelection, row)
                : null
            "
            [checked]="tcUtilsArray.contains(waitinglistsSelection, row)"
            *ngIf="!selectOne"
          >
          </mat-checkbox>

          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? markOneItem(row) : null"
            [checked]="tcUtilsArray.contains(waitinglistsSelection, row)"
            *ngIf="selectOne"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >patient_id</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.patient_id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "start_date")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.start_date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "end_date")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.end_date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_type_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >bed_room_type_id</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{
          element.bed_room_type_id
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_level_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >bed_room_level_id</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{
          element.bed_room_level_id
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("patient", "priority")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.priority }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "remark")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.remark }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="waitinglistsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: waitinglistsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(waitinglistsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [length]="waitinglistsTotalCount"
    ></mat-paginator>
  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="waitinglistsSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
