
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     risk_factor  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchRiskFactors();" *ngIf="tcAuthorization.canRead('risk_factors')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addRiskFactor();" *ngIf="tcAuthorization.canCreate('risk_factors') && form_encounterPersist.encounter_is_active" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="riskFactorSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="riskFactorPersist.riskFactorSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="riskFactorSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="riskFactorIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let riskFactor of riskFactorsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('risk_factors') || tcAuthorization.canDelete('risk_factors')) && form_encounterPersist.encounter_is_active">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editRiskFactor(riskFactor)" *ngIf="tcAuthorization.canUpdate('risk_factors') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRiskFactor(riskFactor)" *ngIf="tcAuthorization.canDelete('risk_factors')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>risk_factor</span>
            {{riskFactor.risk_factor}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchRiskFactors.length >0 || riskFactorSelectAll">
        <button mat-button (click)="downloadRiskFactors()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{riskFactorSelectAll ? riskFactorsTotalCount : riskFactorSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="riskFactorsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(riskFactorsData,riskFactorSelection) "
              [checked]=" tcUtilsArray.isAllSelected(riskFactorsData,riskFactorSelection) || riskFactorSelectAll"
              [indeterminate]="riskFactorSelection.length <riskFactorsData.length && riskFactorSelection.length>0"
              [disabled]="riskFactorSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="riskFactorSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #riskFactorSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="riskFactorSelectAll=true;" [disabled]="riskFactorSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="riskFactorSelectAll = false;" [disabled]="!riskFactorSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(riskFactorSelection,row) : null"
              [checked]="tcUtilsArray.contains(riskFactorSelection,row) || riskFactorSelectAll" [disabled]="riskFactorSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="risk_factor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>risk_factor
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.risk_factor}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="riskFactorNavigator.riskFactorUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('risk_factors') || tcAuthorization.canDelete('risk_factors')) && form_encounterPersist.encounter_is_active">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editRiskFactor(element)" *ngIf="tcAuthorization.canUpdate('risk_factors') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRiskFactor(element)" *ngIf="tcAuthorization.canDelete('risk_factors')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="riskFactorsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: riskFactorsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(riskFactorSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="riskFactorsTotalCount"
        [ngStyle]="{display: riskFactorsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>