<h1 mat-dialog-title>
    post_natal_care Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="postNatalCareSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="postNatalCarePersist.postNatalCareSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="postNatalCareSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="postNatalCareIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="postNatalCaresData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(postNatalCaresData,postNatalCareSelection) "
            [checked]=" tcUtilsArray.isAllSelected(postNatalCaresData,postNatalCareSelection) || postNatalCareSelectAll"
            [indeterminate]="postNatalCareSelection.length <postNatalCaresData.length && postNatalCareSelection.length>0"
            [disabled]="postNatalCareSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="postNatalCareSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #postNatalCareSelectAllMenu="matMenu">

            <button mat-menu-item (click)="postNatalCareSelectAll=true;" [disabled]="postNatalCareSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="postNatalCareSelectAll = false;" [disabled]="!postNatalCareSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(postNatalCareSelection,row) : null"
            [checked]="tcUtilsArray.contains(postNatalCareSelection,row) || postNatalCareSelectAll" [disabled]="postNatalCareSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="bp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bp
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bp}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="tpr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>tpr
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.tpr}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="uterus_contracted_look_for_pph">
        <mat-header-cell *matHeaderCellDef mat-sort-header>uterus_contracted_look_for_pph
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.uterus_contracted_look_for_pph}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="date_checked">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date_checked
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date_checked}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="temp_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>temp_value
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.temp_value}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="dribbling_leaking_urine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dribbling_leaking_urine
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dribbling_leaking_urine}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="anemia">
        <mat-header-cell *matHeaderCellDef mat-sort-header>anemia
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anemia}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="vaginal_discharge">
        <mat-header-cell *matHeaderCellDef mat-sort-header>vaginal_discharge
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.vaginal_discharge}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="pelvic_exam">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pelvic_exam
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pelvic_exam}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="breast">
        <mat-header-cell *matHeaderCellDef mat-sort-header>breast
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.breast}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="vitamin_a">
        <mat-header-cell *matHeaderCellDef mat-sort-header>vitamin_a
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.vitamin_a}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="counsenig_danger_signs_epi">
        <mat-header-cell *matHeaderCellDef mat-sort-header>counsenig_danger_signs_epi
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.counsenig_danger_signs_epi}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="baby_breathing">
        <mat-header-cell *matHeaderCellDef mat-sort-header>baby_breathing
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.baby_breathing}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="baby_breast_feeding">
        <mat-header-cell *matHeaderCellDef mat-sort-header>baby_breast_feeding
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.baby_breast_feeding}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="baby_weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header>baby_weight
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.baby_weight}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="immunization">
        <mat-header-cell *matHeaderCellDef mat-sort-header>immunization
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.immunization}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hiv_tested">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hiv_tested
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hiv_tested}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hiv_test_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hiv_test_result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hiv_test_result}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="arv_px_for_mother">
        <mat-header-cell *matHeaderCellDef mat-sort-header>arv_px_for_mother
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.arv_px_for_mother}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="arv_px_for_newborn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>arv_px_for_newborn
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.arv_px_for_newborn}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="feeding_option">
        <mat-header-cell *matHeaderCellDef mat-sort-header>feeding_option
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.feeding_option}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="mother_referred_to_c_and_sup">
        <mat-header-cell *matHeaderCellDef mat-sort-header>mother_referred_to_c_and_sup
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mother_referred_to_c_and_sup}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="new_born_referred_to_chronic_hiv_infant_care">
        <mat-header-cell *matHeaderCellDef mat-sort-header>new_born_referred_to_chronic_hiv_infant_care
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.new_born_referred_to_chronic_hiv_infant_care}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="fb_counseled_and_provided">
        <mat-header-cell *matHeaderCellDef mat-sort-header>fb_counseled_and_provided
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fb_counseled_and_provided}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remark
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="action_taken">
        <mat-header-cell *matHeaderCellDef mat-sort-header>action_taken
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.action_taken}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="attendant_name_and_signature">
        <mat-header-cell *matHeaderCellDef mat-sort-header>attendant_name_and_signature
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.attendant_name_and_signature}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="postNatalCaresDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: postNatalCaresDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(postNatalCareSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="postNatalCaresTotalCount"
      [ngStyle]="{display: postNatalCaresTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" postNatalCareSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
