<h1 mat-dialog-title>
  Report Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="reportsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="reportPersist.reportSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="reportsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="reportsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="reportsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(reportsData,reportsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(reportsData,reportsSelection)"
            [indeterminate]="reportsSelection.length <reportsData.length && reportsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="reportsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{reportsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="reportsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(reportsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(reportsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(reportsSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="report_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','report_type')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.report_type}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="file_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','file_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.file_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="file_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','file_id')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.file_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','description')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="upload_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','upload_date')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.upload_date}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="reportsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: reportsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(reportsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="reportsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" reportsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
