<h1 mat-dialog-title>markup_price Selection</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="markupPriceSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="markupPricePersist.markupPriceSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="markupPriceSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="markupPriceIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container tc-full-width">
    <mat-table
      [dataSource]="markupPricesData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                markupPricesData,
                markupPriceSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                markupPricesData,
                markupPriceSelection
              ) || markupPriceSelectAll
            "
            [indeterminate]="
              markupPriceSelection.length < markupPricesData.length &&
              markupPriceSelection.length > 0
            "
            [disabled]="markupPriceSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="markupPriceSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #markupPriceSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="markupPriceSelectAll = true"
              [disabled]="markupPriceSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="markupPriceSelectAll = false"
              [disabled]="!markupPriceSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(markupPriceSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(markupPriceSelection, row) ||
              markupPriceSelectAll
            "
            [disabled]="markupPriceSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="percent">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >percent
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.percent }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="service_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >service_type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.service_type
        }}</mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="markupPricesDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: markupPricesDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(markupPriceSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="markupPricesTotalCount"
      [ngStyle]="{ display: markupPricesTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="markupPriceSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
