.custom-input{
    width: 90%;
    margin: 0 auto;
}

.custom-input:focus {
    outline: solid 1px #1A73E8;
}

.nav-button {
    position: fixed;
    right: 2%;
    z-index: 2;
    bottom: 4%;
    border-radius: 50%;
    background-color: #175c91;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding-top: 10px;
}

.tab-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button:hover {
    color: #175c91;
}
.text-area {
    background-color: white;
    width: 100%;
    padding: 0 16px;
    border-radius: 16px;
    color: black;
}

.deposit-remaining {
    background-color: white;
    margin-left: auto;
    border-radius: 27px;
    width: 8em;
    padding: 12px 20px;
    text-align: left;
    line-height: 10px;
    text-align: center;

}

.deposit-remaining span {
    color: #175c91;
    font-size: small;
    margin-bottom: 8px;
    display: block;
}

.deposit-remaining p {
    font-size: smaller;
    margin: 0;
    padding: 0;
    text-align: center;
}

.patient-information {
    background-color: var(--base-color);
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 6px 10px;
    align-items: center;
    /* position: sticky;
    top: 0;
    border: 0px solid; */
}

.save{
    color: white;
    margin-left: auto;
    margin-right: 16px;
    background-color: #00000052;
    border-radius: 2em;
    padding: 0 1em;
    line-height: 20px;
    font-size: small;
}

.save:hover{
    background-color: #F79B40;
}