<mat-sidenav-container class="tc-sidebar-container" fullscreen>

  <mat-sidenav-content>

    <div class="tc-loading" *ngIf="ordersLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="patient-information">
      <div *ngIf="patientDetail">Patient : {{ordersDetail.patient_name}} </div> <div> Age: {{calculateAge(patientDetail?.dob)}} </div> <div> Sex: {{patientDetail?.sex ? "Male": "Female"}} </div> <div> MRN: {{patientDetail?.pid}} </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Overview">
        <ng-template matTabContent>


            <mat-toolbar class="tc-toolbar-secondary ">
              <h1 class="mat-heading">
                <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                {{appTranslation.getText("general", "overview")}}
              </h1>
              <button mat-button (click)=" back();" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
              </button>
              <button mat-button (click)=" reload()" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
              </button>
              <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
              </p>
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
              <div class="tc-equal-block">
                <div class="tc-padding">
                  <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{appTranslation.getText("general", "basicdetails")}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div *ngIf="!ordersLoading">
                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('schedule', 'date')}} </span>
                          {{ tcUtilsDate.toDate(ordersDetail.created_at)|date:'MMM dd, yyyy. h:mm a'}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'patient')}} </span>
                          {{ordersDetail.patient_name}}
                        </p>
                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('employee', 'doctor')}} </span>
                          {{ordersDetail.doctor_name}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('procedure', 'order_type')}}</span>
                          {{appTranslation.getText("procedure", tcUtilsArray.getEnum(ordersPersist.lab_order_type, ordersDetail.order_type)?.name)}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('procedure', 'total_order')}} </span>
                          {{ordersDetail.total_order}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('procedure', 'order_status')}}</span>
                          {{appTranslation.getText("procedure", tcUtilsArray.getEnum(ordersPersist.lab_order_status, ordersDetail.order_status)?.name)}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'urgency')}} </span>
                          {{appTranslation.getText("patient", tcUtilsArray.getEnum(ordersPersist.lab_urgency, ordersDetail.urgency)?.name)}}
                        </p>

                        <!-- <p class="tc-detail-field">
                          <span>{{appTranslation.getText('financial', 'total_price')}} </span>
                          {{ordersDetail.total_price}}
                        </p> -->

                        <!-- <p class="tc-detail-field">
                          <span>{{appTranslation.getText('financial', 'paid')}} </span>
                          <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="ordersDetail.paid"></mat-icon>
                          <mat-icon fontSet="fa" fontIcon="fa-times" *ngIf="!ordersDetail.paid"></mat-icon>
                        </p> -->

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('procedure', 'future_date')}}</span>
                          {{ordersDetail.future ? (ordersDetail.future_date * 1000 |date:'MMM dd, yyyy. h:mm a') : " "}}
                        </p>

                      </div>


                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <div class="tc-equal-block">
              </div>
            </div>





          </ng-template>
        </mat-tab>

        <mat-tab label="Selected Orders">
          <ng-template matTabContent>
            <app-selected-orders-list [payment_status]="payment_status.paid" *ngIf="ordersDetail" [ordersDetail]="ordersDetail" [lab_order_id]="ordersPersist.lab_order_persist_id" [patientDetail]="patientDetail" [resultType]="resultType"></app-selected-orders-list>
          </ng-template>
          </mat-tab>


        </mat-tab-group>


  </mat-sidenav-content>
</mat-sidenav-container>
