<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="consultingDetail">

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText('patient', 'consulted_dept_id')
        }}</mat-label>
      <input matInput disabled [(ngModel)]="departmentSpeciality" class="pre-class" />
      <button mat-icon-button matTooltip="appTranslation.getText('patient', 'consulted_dept_id')" matSuffix
        color="primary" (click)="searchDepartmentSpeciality()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText('patient', 'consulted_doctor_id')
        }}</mat-label>
      <input matInput disabled [(ngModel)]="doctorFullName" />
      <button mat-icon-button matTooltip="appTranslation.getText('patient', 'consulted_doctor_id')" matSuffix
      disabled="{{!consultingDetail.consulting_dept_id}}"
        color="primary" (click)="searchdoctor()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='patient condition'   [(value)]="consultingDetail.patient_condition" required>
        <mat-option *ngFor="let etype of admissionFormPersist.patient_condition" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder="reason for consult" type="text"
        [(ngModel)]="consultingDetail.reason_for_consult" required>
      </textarea>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder="brief clinical finding" type="text"
        [(ngModel)]="consultingDetail.brief_history" required>
      </textarea>
    </mat-form-field>
  </div>


  <div class="tc-flex-column">
    <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="consultingDetail.urgent"
      required> {{appTranslation.getText('patient', 'urgent')}} </mat-slide-toggle>
  </div>


  <div class="tc-flex-column">
    <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle"
      [(ngModel)]="consultingDetail.patient_convinience" required> patient is consent </mat-slide-toggle>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>