<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="appointmentDetail">


    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("patient", "search_patient")
        }}</mat-label>
      <input matInput disabled [(ngModel)]="patientFullName"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
        matSuffix
        [disabled]="isEdit() || isWizard()"
        color="primary"
        (click)="searchPatient()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <!-- <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="patient type" [disabled]="ids.canRepayment"  [(value)]="appointmentDetail.schedule_type" required>
        <mat-option *ngFor="let etype of scheduleTypeList" [value]="etype.id">
          {{appTranslation.getTextByIdentifier(etype.name)}}
        </mat-option>
      </mat-select>
  </mat-form-field>  -->


    <!-- <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="service type" [disabled]="ids.canRepayment"  [(value)]="appointmentDetail.service_type" required>
        <mat-option *ngFor="let etype of persist.serviceType" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
  </mat-form-field> -->
  <div class="tc-flex-row">
    <label for="">Service Type: </label>
  <mat-radio-group
        class="custom-control-input"
        [(ngModel)]="appointmentDetail.service_type"
      >
        <mat-radio-button
          style="margin-left: 16px; margin-top: 4px"
          value="{{serviceType.outpatient}}"
          >Outpatient</mat-radio-button
        >
        <mat-radio-button style="margin-left: 16px" value="{{serviceType.emergency}}"
          >Emergency</mat-radio-button
        >
      </mat-radio-group>
    </div>


    <mat-form-field class="tc-full-stretch">
      <mat-label>
        {{appTranslation.getText("general", "department")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="department"/>
      <button
        mat-icon-button
        matSuffix
        color="primary"
        (click)="searchDepartmentSpeciality(tcUtilsString.invalid_id)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <!-- <mat-form-field class="tc-full-stretch">
      <mat-label>
        {{appTranslation.getText("employee", "department_specialty ")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="departmentSpeciality"/>
      <button
        mat-icon-button
        matSuffix
        color="primary"
        [disabled]="!department"
        (click)="searchDepartmentSpeciality(appointmentDetail.parent_department_id)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field> -->


    <mat-form-field class="tc-full-stretch">
      <mat-label>
        {{appTranslation.getText("patient", "search_for_a_doctor")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="userFullName"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="(appointmentDetail.department_id==null)"
        color="primary"
        (click)="searchDoctor()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='{{appTranslation.getText("patient", "apt_status")}}'  [disabled]="true"  [(value)]="appointmentDetail.status" required>
        <mat-option *ngFor="let etype of persist.appointment_status" [value]="etype.id">
          {{appTranslation.getTextByIdentifier(etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput [min]="minDate"  type="datetime-local" [(ngModel)]="start_time">
      <mat-label>{{appTranslation.getText('schedule', 'start_time')}}</mat-label>
    </mat-form-field>
<!-- 
    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder=' {{appTranslation.getText("general", "status")}}'
                  [(value)]="appointmentDetail.patient_status" required>
        <mat-option *ngFor="let etype of persist.appointment_patient_status" [value]="etype.id">
          {{appTranslation.getTextByIdentifier(etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <div class="tc-flex-row">
    <div  style="margin-right:100px !important;" >
      <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle tc-equal-block" [(ngModel)]="appointmentDetail.is_referal" (ngModelChange)="onIsReferralChange()"
        required> Refferal </mat-slide-toggle>
        <!-- <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle tc-equal-block" [(ngModel)]="appointmentDetail.is_package" (ngModelChange)="onIsPackageChange()"
        required> Package </mat-slide-toggle> -->
    </div>
    <div >
      <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle tc-equal-block" [(ngModel)]="appointmentDetail.is_result" (ngModelChange)="onIsReferralChange()"
        required> Result </mat-slide-toggle>
        <!-- <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle tc-equal-block" [(ngModel)]="appointmentDetail.is_package" (ngModelChange)="onIsPackageChange()"
        required> Package </mat-slide-toggle> -->
    </div>
    </div>

    <mat-form-field *ngIf="appointmentDetail.is_referal" class="tc-full-stretch">
      <input matInput  placeholder="referred from" type="text"  [(ngModel)]="appointmentDetail.referred_from" required>
  </mat-form-field>
  <mat-form-field *ngIf="appointmentDetail.is_referal" class="tc-full-stretch">
    <input matInput  placeholder="referred by" type="text"  [(ngModel)]="appointmentDetail.referred_by" required>
</mat-form-field>

<!-- <mat-form-field class="tc-full-stretch" *ngIf="appointmentDetail.is_package">
  <mat-label>
    Search Package
  </mat-label>
  <input matInput disabled [(ngModel)]="packageName"/>
  <button
    mat-icon-button
    matTooltip="Search Package"
    matSuffix
    color="primary"
    (click)="searchPackages()"
  >
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field> -->


  </div>

</div>

<div mat-dialog-actions>

  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew()||isWizard()?onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
