
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-industry"></mat-icon>
      Outsourcing Company
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchOutsourcingCompanys();" *ngIf="tcAuthorization.canRead('outsourcing_companys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addOutsourcingCompany();" *ngIf="tcAuthorization.canCreate('outsourcing_companys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="OutsourcingCompanysSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="OutsourcingCompanyPersist.OutsourcingCompanySearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="OutsourcingCompanysSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
        <mat-select placeholder='{{appTranslation.getText("general", "status")}}'
        [(value)]="OutsourcingCompanyPersist.outsourcingcompanyStatusFilter"
        (valueChange)="searchOutsourcingCompanys()">
<mat-option *ngFor="let status of OutsourcingCompanyPersist.Activeness_Status" [value]="status.id">
{{ status.name }}
</mat-option>
</mat-select>

<button mat-button *ngIf="OutsourcingCompanyPersist.outsourcingcompanyStatusFilter != -1" matSuffix mat-icon-button
    aria-label="Clear"
    (click)="OutsourcingCompanyPersist.outsourcingcompanyStatusFilter = -1;searchOutsourcingCompanys();$event.stopPropagation()">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>
        <div class="tc-loading" *ngIf="OutsourcingCompanysIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let OutsourcingCompany of OutsourcingCompanysData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title>
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('outsourcing_companys') || tcAuthorization.canDelete('outsourcing_companys')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
  
                                                                                      <button mat-menu-item (click)="editOutsourcingCompany(OutsourcingCompany)" *ngIf="tcAuthorization.canUpdate('outsourcing_companys')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="freezeOutsourcingCompany(OutsourcingCompany)" *ngIf="tcAuthorization.canUpdate('outsourcing_companys') && OutsourcingCompany.status == outsourcingcompany_status.active">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-comment-slash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("inventory","freeze")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="activeOutsourcingCompany(OutsourcingCompany)" *ngIf="tcAuthorization.canUpdate('outsourcing_companys') && OutsourcingCompany.status == outsourcingcompany_status.freeze">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
                                                                                        <span>{{appTranslation.getText("users","active")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteOutsourcingCompany(OutsourcingCompany)" *ngIf="tcAuthorization.canDelete('outsourcing_companys')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","name")}}</span>
              {{OutsourcingCompany.name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("inventory","tin_no")}}</span>
              {{OutsourcingCompany.tin_no}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("inventory","max_payment")}}</span>
              {{OutsourcingCompany.max_payment}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","telephone")}}</span>
              {{OutsourcingCompany.phone_no}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","address")}}</span>
              {{OutsourcingCompany.address}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("inventory","percentage")}}</span>
              {{OutsourcingCompany.percentage}}
            </div>
            <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","status")}}</span>
              {{tcUtilsArray.getById(OutsourcingCompanyPersist.Activeness_Status,OutsourcingCompany.status)?.name}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="OutsourcingCompanysSelection.length >0 || OutsourcingCompanysSelectAll">
                    <button mat-button (click)="downloadOutsourcingCompanys()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{OutsourcingCompanysSelectAll ? OutsourcingCompanysTotalCount : OutsourcingCompanysSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="OutsourcingCompanysData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(OutsourcingCompanysData,OutsourcingCompanysSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(OutsourcingCompanysData,OutsourcingCompanysSelection) || OutsourcingCompanysSelectAll"
                  [indeterminate]="OutsourcingCompanysSelection.length <OutsourcingCompanysData.length && OutsourcingCompanysSelection.length>0"
                  [disabled]="OutsourcingCompanysSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="OutsourcingCompanysSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #OutsourcingCompanysSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="OutsourcingCompanysSelectAll=true;"
                          [disabled]="OutsourcingCompanysSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="OutsourcingCompanysSelectAll = false;"
                          [disabled]="!OutsourcingCompanysSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                  
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(OutsourcingCompanysSelection,row) : null"
                              [checked]="tcUtilsArray.contains(OutsourcingCompanysSelection,row) || OutsourcingCompanysSelectAll"
                              [disabled]="OutsourcingCompanysSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","name")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element"><a [routerLink]="OutsourcingCompanyNavigator.OutsourcingCompanyUrl(element.id)" class="tc-link">{{element.name}}</a></mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="tin_no">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("inventory","tin_no")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.tin_no}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="max_payment">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("inventory","max_payment")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.max_payment}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="phone_no">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","telephone")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.phone_no}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="address">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","address")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="percentage">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("inventory","percentage")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.percentage}}</mat-cell>
                               </ng-container>
                               <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","status")}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  {{tcUtilsArray.getById(OutsourcingCompanyPersist.Activeness_Status,element.status)?.name}}
                                </mat-cell>
                             </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('outsourcing_companys') || tcAuthorization.canDelete('outsourcing_companys')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
  
                  <button mat-menu-item (click)="editOutsourcingCompany(element)" *ngIf="tcAuthorization.canUpdate('outsourcing_companys') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="freezeOutsourcingCompany(element)" *ngIf="tcAuthorization.canUpdate('outsourcing_companys') && element.status == outsourcingcompany_status.active">
                    <mat-icon fontSet="fa" fontIcon="fa-comment-slash"></mat-icon>
                    <span>{{appTranslation.getText("inventory","freeze")}} </span>
                  </button>
                  <button mat-menu-item (click)="activeOutsourcingCompany(element)" *ngIf="tcAuthorization.canUpdate('outsourcing_companys') && element.status == outsourcingcompany_status.freeze">
                    <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
                    <span>{{appTranslation.getText("users","active")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteOutsourcingCompany(element)" *ngIf="tcAuthorization.canDelete('outsourcing_companys')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="OutsourcingCompanysDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: OutsourcingCompanysDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(OutsourcingCompanysSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="OutsourcingCompanysTotalCount"
                         [ngStyle]="{display: OutsourcingCompanysTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  