<h1 mat-dialog-title>
    clinical_instruction_response Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="clinicalInstructionResponseSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="clinicalInstructionResponsePersist.clinicalInstructionResponseSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="clinicalInstructionResponseSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="clinicalInstructionResponseIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="clinicalInstructionResponsesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(clinicalInstructionResponsesData,clinicalInstructionResponseSelection) "
            [checked]=" tcUtilsArray.isAllSelected(clinicalInstructionResponsesData,clinicalInstructionResponseSelection) || clinicalInstructionResponseSelectAll"
            [indeterminate]="clinicalInstructionResponseSelection.length <clinicalInstructionResponsesData.length && clinicalInstructionResponseSelection.length>0"
            [disabled]="clinicalInstructionResponseSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="clinicalInstructionResponseSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #clinicalInstructionResponseSelectAllMenu="matMenu">

            <button mat-menu-item (click)="clinicalInstructionResponseSelectAll=true;" [disabled]="clinicalInstructionResponseSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="clinicalInstructionResponseSelectAll = false;" [disabled]="!clinicalInstructionResponseSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(clinicalInstructionResponseSelection,row) : null"
            [checked]="tcUtilsArray.contains(clinicalInstructionResponseSelection,row) || clinicalInstructionResponseSelectAll" [disabled]="clinicalInstructionResponseSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="clinical_instruction_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>clinical_instruction_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.clinical_instruction_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="complication">
        <mat-header-cell *matHeaderCellDef mat-sort-header>complication
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.complication}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="is_done">
        <mat-header-cell *matHeaderCellDef mat-sort-header>is_done
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_done}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="nurse_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>nurse_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nurse_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remark
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="response_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>response_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.response_date}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="clinicalInstructionResponsesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: clinicalInstructionResponsesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(clinicalInstructionResponseSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="clinicalInstructionResponsesTotalCount"
      [ngStyle]="{display: clinicalInstructionResponsesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" clinicalInstructionResponseSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
