<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check-double"></mat-icon>
    {{appTranslation.getText("patient", "visits")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchForm_Encounters();" *ngIf="tcAuthorization.canRead('form_encounters')"
          class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>

</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="form_encountersSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="form_encounterPersist.encounterSearchHistory.search_text" matSuffix mat-icon-button
            aria-label="Clear" (click)="form_encountersSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="form_encounterPersist.encounterSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchForm_Encounters()">
      <mat-option *ngFor="let etype of encounterFilterColumn" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="service_type.inpatient != form_encounterPersist.encounterSearchHistory.service_type">
    <input
      matInput
      placeholder=
        '{{appTranslation.getText("general", "date")}}'
      [formControl]="date"
      [matDatepicker]="date_of_schedule"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="date_of_schedule"
    ></mat-datepicker-toggle>
    <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
    <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button
      aria-label="Clear" (click)="date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field *ngIf="service_type.inpatient == form_encounterPersist.encounterSearchHistory.service_type">
    <mat-label> Bedroom Name </mat-label>
    <input matInput disabled [(ngModel)]="bedRoomName" />
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchWard()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="form_encounterPersist.encounterSearchHistory.ward_id" matSuffix mat-icon-button aria-label="Clear"
    (click)="form_encounterPersist.encounterSearchHistory.ward_id = ''; bedRoomName = ''; searchForm_Encounters()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>


  <!-- <mat-form-field>
    <input matInput [formControl]="patientNameTextBox"
           placeholder='{{appTranslation.getText("patient", "patient_name")}}'
           type="text">
    <button mat-button *ngIf="form_encounterPersist.patientName" matSuffix mat-icon-button aria-label="Clear"
            (click)="patientNameTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->


  <!-- <mat-form-field>
    <input matInput [formControl]="patientIdTextBox" placeholder='{{appTranslation.getText("patient", "patient_id")}}'
           type="text">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="patientIdTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
  <mat-form-field>
  <mat-select placeholder='{{appTranslation.getText("patient", "encounter_status")}}'
              [(value)]="form_encounterPersist.encounterSearchHistory.encounter_status"
              (valueChange)="searchForm_Encounters()">
    <mat-option *ngFor="let status of form_encounterPersist.encounter_status" [value]="status.id">
      {{ appTranslation.getText("patient", status.name) }}
    </mat-option>
  </mat-select>

  <button mat-button *ngIf='form_encounterPersist.encounterSearchHistory.encounter_status' matSuffix mat-icon-button
          aria-label="Clear"
          (click)="form_encounterPersist.encounterSearchHistory.encounter_status = null;searchForm_Encounters();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Service Type"
              [(value)]="form_encounterPersist.encounterSearchHistory.service_type"
              (valueChange)="handleServiceChange($event)">
    <mat-option *ngFor="let etype of form_encounterPersist.department" [value]="etype.id" >
      {{ etype.name }}
    </mat-option>
  </mat-select>
  <button mat-button *ngIf="form_encounterPersist.encounterSearchHistory.service_type" matSuffix mat-icon-button aria-label="Clear"
          (click)="form_encounterPersist.encounterSearchHistory.service_type = null;searchForm_Encounters();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
  <!-- <mat-slide-toggle
    matInput
    labelPosition="before"
    style="margin-right: 10px"
    class="tc-form-toggle"
    [(ngModel)]="form_encounterPersist.admitted"
    required (change)="searchForm_Encounters()"
  >
    admitted
  </mat-slide-toggle> -->
  <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="searchForm_Encounters()"
    [(ngModel)]="form_encounterPersist.encounterSearchHistory.show_only_mine"
    required
  >
    {{appTranslation.getText("patient", "show_only_mine")}}
  </mat-slide-toggle>


  <div class="tc-loading" *ngIf="form_encountersIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let form_encounter of form_encountersData" class="tc-card">
      <mat-card-header>
        <mat-card-title><a [routerLink]="form_encounterNavigator.form_encounterUrl(form_encounter.id)"
                           class="tc-link">{{form_encounter.id}}</a>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('form_encounters') || tcAuthorization.canDelete('form_encounters')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editForm_Encounter(form_encounter)"
                    *ngIf="tcAuthorization.canUpdate('form_encounters')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteForm_Encounter(form_encounter)"
                    *ngIf="tcAuthorization.canDelete('form_encounters')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
            <button mat-menu-item (click)="transferCase(form_encounter)"
                    *ngIf="tcAuthorization.canUpdate('form_encounters')">
              <mat-icon fontSet="fa" fontIcon="fa-retweet"></mat-icon>
              <span>{{appTranslation.getText("patient", "case_transfer")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText("general", "date")}}</span>
          {{form_encounter.date}}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "reason") }}</span>
          {{form_encounter.reason}}
        </div>
        <div class="tc-detail-field">
          <span> <span> {{ appTranslation.getText("general", "name") }} </span></span>
          {{form_encounter.full_name}}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("patient", "sensitivity") }}</span>
          {{
            appTranslation.getText(
            "patient",
            tcUtilsArray.getEnum(form_encounterPersist.sensetivity, form_encounter.sensitivity)?.name
            )
            }}
        </div>

        <div class="tc-detail-field">
          <span>provider_id</span>
          {{form_encounter.provider_name}}
        </div>
      
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="form_encountersSelection.length >0 || form_encountersSelectAll">
      <button mat-button (click)="downloadForm_Encounters()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{form_encountersSelectAll ? form_encountersTotalCount : form_encountersSelection.length}}
        {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="form_encountersData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(form_encountersData,form_encountersSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(form_encountersData,form_encountersSelection) || form_encountersSelectAll"
                        [indeterminate]="form_encountersSelection.length <form_encountersData.length && form_encountersSelection.length>0"
                        [disabled]="form_encountersSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="form_encountersSelectAllMenu">
            </mat-icon>
          </button>
          <mat-menu #form_encountersSelectAllMenu="matMenu">


            <button mat-menu-item (click)="form_encountersSelectAll=true;" [disabled]="form_encountersSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="form_encountersSelectAll = false;" [disabled]="!form_encountersSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(form_encountersSelection,row) : null"
                        [checked]="tcUtilsArray.contains(form_encountersSelection,row) || form_encountersSelectAll"
                        [disabled]="form_encountersSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="form_encounterNavigator.form_encounterUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ward_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ward</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{getWard(element.ward_id)}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bedroom</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{getBedroom(element.bed_room_id)}} - {{getBed(element.bed_id)}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bed</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{getBed(element.bed_id)}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("general", "date")}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{tcUtilsDate.toDate( element.date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText("general", "reason") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <a [routerLink]="formVitalNav.vitalUrlNurse(element.id)" class="tc-link">{{element.reason}}</a> 
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="service_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Service Type
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{tcUtilsArray.getEnum(form_encounterPersist.serviceType,element.service_type)?.name}}{{ element.is_referal ? '/Referal' : ''}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="full_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <span>   {{ appTranslation.getText("general", "name") }}
          </span></mat-header-cell>
        <mat-cell *matCellDef="let element"><a
          [routerLink]="form_encounterNavigator.form_encounterUrl(element.id)" class="tc-link">{{element?.full_name}} </a></mat-cell>
      </ng-container>

      <ng-container matColumnDef="p.pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <span>   mrn
          </span></mat-header-cell>
        <mat-cell *matCellDef="let element">{{element?.mrn}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sensitivity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText("patient", "sensitivity") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          appTranslation.getText(
          "patient",
          tcUtilsArray.getEnum(form_encounterPersist.sensetivity, element.sensitivity)?.name
          )
          }}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="provider_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("general", "name")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">   <a [routerLink]="formVitalNav.viewProcedures(element.id)" class="tc-link"> {{element.provider_name}}</a>   </mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('form_encounters') || tcAuthorization.canDelete('form_encounters')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editForm_Encounter(element)"
                    *ngIf="tcAuthorization.canUpdate('form_encounters') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteForm_Encounter(element)"
                    *ngIf="tcAuthorization.canDelete('form_encounters')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
            <button mat-menu-item (click)="transferCase(element)"
                    *ngIf="tcAuthorization.canUpdate('form_encounters')">
              <mat-icon fontSet="fa" fontIcon="fa-retweet"></mat-icon>
              <span>{{appTranslation.getText("patient", "case_transfer")}} </span>
            </button>
            <button mat-menu-item *ngIf="tcAuthorization.canCreate('reports')" (click)="createReport(element.id)">
              <mat-icon fontSet="fa" fontIcon="fa-bar-chart"></mat-icon>
              <span>report </span>
            </button>
            <button mat-menu-item (click)="additionalService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Services
            </button>
            <button mat-menu-item (click)="procedureOrder(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Add Procedure
            </button>
            <button mat-menu-item (click)="oxygenService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Oxygen Services
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="form_encountersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: form_encountersDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(form_encountersSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize" [length]="form_encountersTotalCount"
                   [ngStyle]="{display: form_encountersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
