
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-border-all"></mat-icon>
   {{appTranslation.getText("inventory","equipment_data")}}  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchEquipmentDatas();" *ngIf="tcAuthorization.canRead('equipment_datas')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="equipmentDataSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="equipmentDataPersist.equipmentDataSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="equipmentDataSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="equipmentDataIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let equipmentData of equipmentDatasData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('equipment_datas') || tcAuthorization.canDelete('equipment_datas')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editEquipmentData(equipmentData)" *ngIf="tcAuthorization.canUpdate('equipment_datas')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteEquipmentData(equipmentData)" *ngIf="tcAuthorization.canDelete('equipment_datas')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'equipment_id') }} </span>
                    <a [routerLink]="equipmentDataNavigator.equipmentDataUrl(equipmentData.id)" class="tc-link">{{equipmentData.equipment_id}}</a>

          <!-- {{equipmentData.equipment_id}} -->
        </div>
        <div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'equipment_type') }} </span>
          {{equipmentData.equipment_type &&    tcUtilsArray.getEnum(equipmentDataPersist.equipment_type, equipmentData.equipment_type).name}}
        </div>
        <div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'manufacturer') }} </span>
          {{equipmentData.manufacturer}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'model') }}</span>
          {{equipmentData.model}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'serial') }}</span>
          {{equipmentData.serial}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'origin_country') }}</span>
          {{equipmentData.origin_country}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'manufactured_year') }}</span>
          {{tcUtilsDate.toDate(equipmentData.manufactured_year).getFullYear()}}
        </div><div class="tc-detail-field"> 
          <span>{{  appTranslation.getText('inventory', 'power_requirement') }}</span>
          {{equipmentData.power_requirement}}v
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'current_condition') }}</span>
          {{equipmentData.current_condition &&    tcUtilsArray.getEnum(equipmentDataPersist.current_condition, equipmentData.current_condition).name}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'outof_service_reason') }}</span>
          {{equipmentData.outofservice_reason}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'special_disposal_required') }}</span>
          {{equipmentData.special_disposal_required}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'spare_part_available') }}</span>
          {{equipmentData.spare_part_available}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'spare_part_quantity') }}</span>
          {{equipmentData.spare_part_quantity}} 
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'spare_part_place') }}</span>
          {{equipmentData.spare_part_place}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'available_manuals') }}</span>
          {{equipmentData.available_manuals &&    tcUtilsArray.getEnum(equipmentDataPersist.available_manuals, equipmentData.available_manuals).name}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'equipment_user') }}</span>
          {{equipmentData.equipment_user &&    tcUtilsArray.getEnum(equipmentDataPersist.equipment_user, equipmentData.equipment_user).name}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'equipment_owner') }}</span>
          {{equipmentData.equipment_owner}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'contact_person') }}</span>
          {{equipmentData.contact_person}}
        </div><div class="tc-detail-field">
          <span>{{  appTranslation.getText('inventory', 'equipment_location') }}</span>
          {{equipmentData.equipment_location}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchEquipmentDatas.length >0 || equipmentDataSelectAll">
      <button mat-button (click)="downloadEquipmentDatas()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{equipmentDataSelectAll ? equipmentDatasTotalCount : equipmentDataSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="equipmentDatasData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(equipmentDatasData,equipmentDataSelection) "
            [checked]=" tcUtilsArray.isAllSelected(equipmentDatasData,equipmentDataSelection) || equipmentDataSelectAll"
            [indeterminate]="equipmentDataSelection.length <equipmentDatasData.length && equipmentDataSelection.length>0"
            [disabled]="equipmentDataSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="equipmentDataSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #equipmentDataSelectAllMenu="matMenu">

            <button mat-menu-item (click)="equipmentDataSelectAll=true;" [disabled]="equipmentDataSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="equipmentDataSelectAll = false;" [disabled]="!equipmentDataSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(equipmentDataSelection,row) : null"
            [checked]="tcUtilsArray.contains(equipmentDataSelection,row) || equipmentDataSelectAll" [disabled]="equipmentDataSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  
 

  <ng-container matColumnDef="power_requirement">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
        appTranslation.getText('inventory', 'power_requirement')
        }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.power_requirement}}V</mat-cell>
      </ng-container>
  <ng-container matColumnDef="current_condition">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{  appTranslation.getText('inventory', 'current_condition') }}
        </mat-header-cell>
  <mat-cell *matCellDef="let element">{{ 
         
            element.current_condition &&    tcUtilsArray.getEnum(equipmentDataPersist.current_condition, element.current_condition).name
          
          }}</mat-cell>         </ng-container>

  <ng-container matColumnDef="spare_part_available">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{  appTranslation.getText('inventory', 'spare_part_available') }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.spare_part_available}}</mat-cell>
      </ng-container>

  <ng-container matColumnDef="available_manuals">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{  appTranslation.getText('inventory', 'available_manuals') }}
        </mat-header-cell>
  <mat-cell *matCellDef="let element">{{  
         
            element.available_manuals &&    tcUtilsArray.getEnum(equipmentDataPersist.available_manuals, element.available_manuals).name
          
          }}</mat-cell>         </ng-container>
  <ng-container matColumnDef="equipment_user">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{  appTranslation.getText('inventory', 'equipment_user') }}
        </mat-header-cell>
  <mat-cell *matCellDef="let element">{{ 
         
            element.equipment_user &&    tcUtilsArray.getEnum(equipmentDataPersist.equipment_user, element.equipment_user).name
          
          }}</mat-cell>   
        </ng-container>
  <ng-container matColumnDef="equipment_owner">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{  appTranslation.getText('inventory', 'equipment_owner') }} 
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.equipment_owner}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="contact_person">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{  appTranslation.getText('inventory', 'contact_person') }} 
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.contact_person}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="equipment_location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{  appTranslation.getText('inventory', 'equipment_location') }} 
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.equipment_location}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="equipmentDataNavigator.equipmentDataUrl(element.id)" class="tc-link">{{element.equipment_type &&    tcUtilsArray.getEnum(equipmentDataPersist.equipment_type, element.equipment_type).name}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('equipment_datas') || tcAuthorization.canDelete('equipment_datas')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editEquipmentData(element)" *ngIf="tcAuthorization.canUpdate('equipment_datas') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteEquipmentData(element)" *ngIf="tcAuthorization.canDelete('equipment_datas')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="equipmentDatasDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: equipmentDatasDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(equipmentDataSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="equipmentDatasTotalCount"
      [ngStyle]="{display: equipmentDatasTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>