<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <h1 class="mat-headline tc-padding">User Details</h1>
      <div *ngIf="userLoaded" class="tc-padding">
        <div class="tc-detail-field">
          <span>Last login </span>
          <div *ngIf="userDetail.last_login != 0">{{tcUtilsDate.toDate(userDetail.last_login)|date:'MMM dd, yyyy. h:mm a'}}</div>
          <div *ngIf="userDetail.last_login == 0">Never</div>
        </div>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == userTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = userTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a [routerLink]="[]"> {{appTranslation.getText("general", "overview")}} </a>
        </mat-list-item>

      </mat-nav-list>


    </div>

  </mat-sidenav>
  <mat-sidenav-content>

    <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
    <mat-toolbar class="tc-toolbar-secondary">
      <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon>
        {{appTranslation.getText("general", "overview")}}
      </h3>
    </mat-toolbar>
    <div class="tc-padding">

      <div [ngClass]="activeTab==userTabs.overview? '':'tc-hidden'">
        <div class="tc-flex-row tc-full-width">
          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>

                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{appTranslation.getText("general", "basicdetails")}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="userLoaded">


                    <p class="tc-detail-field">
                      <span>username </span>
                      {{userDetail.username}}
                    </p>

                    <p class="tc-detail-field">
                      <span>name </span>
                      {{userDetail.name}}
                    </p>

                    <p class="tc-detail-field">
                      <span>email </span>
                      {{userDetail.email}}
                    </p>

                    <p class="tc-detail-field">
                      <span>disabled </span>
                      {{userDetail.disabled}}
                    </p>

                    <p class="tc-detail-field">
                      <span>Registration date </span>
                      {{tcUtilsDate.toDate(userDetail.reg_date)|date:'MMM dd, yyyy. h:mm a'}}
                    </p>

                    <p class="tc-detail-field">
                      <span>sysadmin </span>
                      {{userDetail.sysadmin}}
                    </p>


                  </div>
                  <mat-action-row>
                    <button mat-button (click)="editUser()">
                      {{appTranslation.getText("general", "edit")}}
                    </button>
                  </mat-action-row>

                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="tc-equal-block">
            <div class="tc-padding" *ngIf="userLoaded">
              <mat-accordion>

                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      2 Factor Authentication
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="userLoaded">

                    <div *ngIf="userDetail.otp != ''">
                      <div class="tc-detail-field">
                        <div class="tc-flex-row"><span>OTP key </span>
                          <mat-icon fontSet="fa" fontIcon="fa-sync" (click)="otpReset()" class="tc-icon-button">
                          </mat-icon>
                        </div>
                        {{userDetail.otp}}
                      </div>

                    </div>

                  </div>
                  <mat-action-row>
                    <button mat-button *ngIf="userDetail.otp == ''" (click)="otpEnable()">
                      Enable
                    </button>
                    <button mat-button *ngIf="userDetail.otp != ''" (click)="otpDisable()">
                      Disable
                    </button>
                  </mat-action-row>

                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>