<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
        class="tc-sidebar mat-elevation-z8" position="end" *ngIf="false">
        <div class="tc-sidebar-inner">
            <div class="tc-padding" *ngIf="!presentPregnancyFollowUpIsLoading">
                <h1 class="mat-h1 ">{{presentPregnancyFollowUpDetail.id}} </h1>
            </div>
            <mat-nav-list>
                <mat-list-item [ngClass]="activeTab == PresentPregnancyFollowUpTabs.overview? 'tc-list-item-focus':''"
                    (click)="activeTab = PresentPregnancyFollowUpTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                    <a>
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="presentPregnancyFollowUpIsLoading">
            <mat-spinner></mat-spinner>
        </div>

        <div [ngClass]="activeTab==PresentPregnancyFollowUpTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="!presentPregnancyFollowUpIsLoading">

                                    <p class="tc-detail-field">
                                        Visit status <span>
                                            {{presentPregnancyFollowUpPersist.getLevel(presentPregnancyFollowUpDetail.visit_status)}}
                                        </span>
                                    </p>

                                    <p class="tc-detail-field">
                                        Date of Visit <span> {{tcUtilsDate.toDate(
                                            presentPregnancyFollowUpDetail.date_of_visit )|date:'MMM dd, yyyy. h:mm a'}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Gestation Age(LMP) <span> {{tcUtilsDate.toDate(
                                            presentPregnancyFollowUpDetail.gestation_age )|date:'MMM dd, yyyy. h:mm a'}}</span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Name and Signs of Health care Provider <span>
                                            {{presentPregnancyFollowUpDetail.name_and_signs_of_health_care_provider}}
                                        </span>
                                    </p>


                                    <p class="tc-detail-field">
                                        BP <span> {{presentPregnancyFollowUpDetail.sbp+"/"+presentPregnancyFollowUpDetail.dbp}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Weight(wks) <span> {{presentPregnancyFollowUpDetail.weight}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Pallor <span> {{presentPregnancyFollowUpDetail.pallor}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Uterine height(wks) <span> {{presentPregnancyFollowUpDetail.uterine_height}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Fatal heart beat <span> {{presentPregnancyFollowUpDetail.fatal_heart_beat}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Presentation <span> {{presentPregnancyFollowUpDetail.presentation}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Urine test protein <span> {{presentPregnancyFollowUpDetail.urine_test_protein}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Repid syphilis test <span>
                                            {{presentPregnancyFollowUpDetail.repid_syphilis_test}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Hemoglobin <span> {{presentPregnancyFollowUpDetail.hemoglobin}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Blood Group and Rh <span> {{presentPregnancyFollowUpDetail.blood_group_and_rh}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        TT(dose) <span> {{presentPregnancyFollowUpDetail.tt}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Iron/folic add <span> {{presentPregnancyFollowUpDetail.iron_folic_add}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        HBsAg <span> {{presentPregnancyFollowUpDetail.mebendazole}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        HCV Ab <span> {{presentPregnancyFollowUpDetail.use_of_itn}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        ARV Px(type) <span> {{presentPregnancyFollowUpDetail.arv_px}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Remarks <span> {{presentPregnancyFollowUpDetail.remarks}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        danger signs identified and investigation <span>
                                            {{presentPregnancyFollowUpDetail.danger_signs_identified_and_investigation}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Action, Advice Counseling <span>
                                            {{presentPregnancyFollowUpDetail.action_advice_counseling}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Appointment for next Follow Up <span>
                                            {{presentPregnancyFollowUpDetail.appointment_for_next_follow_up}} </span>
                                    </p>

                                    <p class="tc-detail-field">
                                        Urine test for infection <span>
                                            {{presentPregnancyFollowUpDetail.urine_test_for_infection}} </span>
                                    </p>
                                </div>
                                <mat-action-row>
                                    <button mat-button (click)="editPresentPregnancyFollowUp()"
                                        *ngIf="tcAuthorization.canUpdate('present_pregnancy_follow_ups') ">
                                        {{appTranslation.getText("general", "edit")}}
                                    </button>
                                </mat-action-row>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                </div>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>