<ng-template #body>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="patientHistoryDetail && !isLoadingResults">
    
      <!-- <div [class.tc-flex-row]=true> -->
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="chief_compliant"
          type="text"
          [(ngModel)]="patientHistoryDetail.chief_compliant"
        />
      </mat-form-field> -->
      <mat-accordion>
        <mat-expansion-panel  style="margin-bottom: 15px;" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Attention Given </mat-panel-title>
          </mat-expansion-panel-header>
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.attention_given)">
        <mat-label>Attention Given</mat-label>
        
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.attention_given"
        rows="4"
        matInput placeholder="attention_given"></textarea>
                              

      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>


      <mat-accordion>
      <mat-expansion-panel  style="margin-bottom: 15px;" expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Patient history </mat-panel-title>
        </mat-expansion-panel-header>
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.chief_compliant)">
        <mat-label>chief_compliant</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.chief_compliant"
        rows="4"
        matInput placeholder="chief_compliant"></textarea>
        
      </mat-form-field>

      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="hpi"
          type="text"
          [(ngModel)]="patientHistoryDetail.hpi"
        />
      </mat-form-field> -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.hpi)">
        <mat-label>HPI</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.hpi"
        rows="4"
        matInput placeholder="hpi"></textarea>
      </mat-form-field>
      <!-- </div> -->

      <!-- <div [class.tc-flex-row]=true> -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.risk_assessment)">
        <mat-label>Risk Assessment</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.risk_assessment"
        rows="4"
        matInput placeholder="risk_assessment"></textarea>
      </mat-form-field>



      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="risk_assessment"
          type="text"
          [(ngModel)]="patientHistoryDetail.risk_assessment"
          
        />
      </mat-form-field> -->

      
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.family_history)">
        <mat-label>Family History</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.family_history"
        rows="4"
        matInput placeholder="family_history"></textarea>
      </mat-form-field>


      
      

      <mat-form-field style="width: 100%" class="example-full-width" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.provisional_psychiatric_diagnosis)">
        <mat-label>provisional_psychiatric_diagnosis</mat-label>
        
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        type="text" #input
        aria-label="auto"
        matInput
        rows="4"
        (ngModelChange)="onKeyDown($event,input)"
        [(ngModel)]="patientHistoryDetail.provisional_psychiatric_diagnosis"
        [matAutocomplete]="auto"
                
        placeholder="provisional_psychiatric_diagnosis"></textarea>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of icd11_diagnosis_options" [value]="appendString(option.category)">
            {{option.category}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      </mat-expansion-panel>
    </mat-accordion>

      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.personal_history)">
        <mat-label>Personal History</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.personal_history"
        rows="4"
        matInput placeholder="personal history"></textarea>
      </mat-form-field> -->
      <mat-accordion>
        <mat-expansion-panel style="margin-bottom: 15px;" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Personal history </mat-panel-title>
          </mat-expansion-panel-header>

      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.pregnancy_birth)">
        <mat-label>Pregnancy Birth</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.pregnancy_birth"
        rows="4"
        matInput placeholder="pregnancy birth"></textarea>
      </mat-form-field>

      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.mode_of_delivery)">
        <mat-label>Mode Of Delivery</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.mode_of_delivery"
        rows="4"
        matInput placeholder="mode of delivery"></textarea>
      </mat-form-field>

      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.history_of_abortion)">
        <mat-label>History Of Abortion</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.history_of_abortion"
        rows="4"
        matInput placeholder="History Of Abortion"></textarea>
      </mat-form-field>


        <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.health_during_childhood)">
          <mat-label>Health During Childhood</mat-label>
          <textarea
          (blur)="onBlur()" 
          [disabled]="isDisabled()"
          [(ngModel)]="patientHistoryDetail.health_during_childhood"
          rows="4"
          matInput placeholder="health during childhood"></textarea>
        </mat-form-field>

      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.education)">
        <mat-label>Education</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.education"
        rows="4"
        matInput placeholder="education"></textarea>
      </mat-form-field>
      
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.work)">
        <mat-label>Work</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.work"
        rows="4"
        matInput placeholder="work"></textarea>
      </mat-form-field>
      
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.sexual_history)">
        <mat-label>Sexual History</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.sexual_history"
        rows="4"
        matInput placeholder="sexual_history"></textarea>
      </mat-form-field>

        <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.menustrial_history)">
          <mat-label>menustrial_history</mat-label>
          <textarea
          (blur)="onBlur()" 
          [disabled]="isDisabled()"
          [(ngModel)]="patientHistoryDetail.menustrial_history"
          rows="4"
          matInput placeholder="menustrial history"></textarea>
        </mat-form-field>

      
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.maritual_history)">
        <mat-label>Maritual History</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.maritual_history"
        rows="4"
        matInput placeholder="maritual_history"></textarea>
      </mat-form-field>
      
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.childhood_psychological_history)">
        <mat-label>Childhood Psychological History</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.childhood_psychological_history"
        rows="4"
        matInput placeholder="childhood_psychological_history"></textarea>
      </mat-form-field>

      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.forensic_history)">
        <mat-label>forensic_history</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.forensic_history"
        rows="4"
        matInput placeholder="forensic_history"></textarea>
      </mat-form-field>
      
    <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.substance_history)">
      <mat-label>substance_history</mat-label>
      <textarea
      (blur)="onBlur()" 
      [disabled]="isDisabled()"
      [(ngModel)]="patientHistoryDetail.substance_history"
      rows="4"
      matInput placeholder="substance_history"></textarea>
    </mat-form-field>


  <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.premorbid_personality)">
    <mat-label>premorbid_personality</mat-label>
    <textarea
    (blur)="onBlur()" 
    [disabled]="isDisabled()"
    [(ngModel)]="patientHistoryDetail.premorbid_personality"
    rows="4"
    matInput placeholder="premorbid_personality"></textarea>
  </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.physical_sexual_history)">
        <mat-label>physical Sexual History</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.physical_sexual_history"
        rows="4"
        matInput placeholder="physical sexual history"></textarea>
      </mat-form-field> -->

       <mat-accordion>
      <mat-expansion-panel style="margin-bottom: 15px;"  expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Past Medical History </mat-panel-title>
        </mat-expansion-panel-header>

      <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.illness)">
          <mat-label>illness</mat-label>
          <textarea
          (blur)="onBlur()" 
          [disabled]="isDisabled()"
          [(ngModel)]="patientHistoryDetail.illness"
          rows="1"
          matInput placeholder="illness"></textarea>
        </mat-form-field>



      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="illness date"
          type="date"
          [(ngModel)]="illness_date"
        />
        <button mat-button *ngIf="illness_date != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="illness_date = null">
      <mat-icon>close</mat-icon>
    </button>
      </mat-form-field> -->
      </div>

      <div [class.tc-flex-row]=true>

      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.operation)">
        <mat-label>operation</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.operation"
        rows="1"
        matInput placeholder="operation"></textarea>
      </mat-form-field>


      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="operation date"
          type="date"
          [(ngModel)]="operation_date"
        />
        <button mat-button *ngIf="operation_date != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="operation_date = null">
      <mat-icon>close</mat-icon>
    </button>
      </mat-form-field> -->
    </div>  

    <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.accidents)">
        <mat-label>Accidents</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.accidents"
        rows="1"
        matInput placeholder="accidents"></textarea>
      </mat-form-field>

  
    
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="accidents date"
          type="date"
          [(ngModel)]="accidents_date"
        />
        <button mat-button *ngIf="accidents_date != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="accidents_date = null">
      <mat-icon>close</mat-icon>
    </button>
      </mat-form-field> -->
      </div>
      <!-- <div [class.tc-flex-row]=true> -->
      

        <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.any_current_medication)">
          <mat-label>Any Current Medication</mat-label>
          <textarea
          (blur)="onBlur()" 
          [disabled]="isDisabled()"
          [(ngModel)]="patientHistoryDetail.any_current_medication"
          rows="4"
          matInput placeholder="any_current_medication"></textarea>
        </mat-form-field>
     

      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.previous_psychiatric_history)">
        <mat-label>previous_psychiatric_history</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.previous_psychiatric_history"
        rows="4"
        matInput placeholder="previous_psychiatric_history"></textarea>
      </mat-form-field>
      
       </mat-expansion-panel>
    </mat-accordion>

      <!-- <h3 *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.provisional_psychiatric_diagnosis)"> Examination Of Mental State (Mental State Exam MSE) </h3> -->
    <mat-accordion>
      <mat-expansion-panel style="margin-bottom: 15px;"  expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Examination Of Mental State (Mental State Exam MSE) </mat-panel-title>
        </mat-expansion-panel-header>
      <!--  ***************************************** -->

      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.appearance_and_behavior)">
        <mat-label>appearance_and_behavior</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.appearance_and_behavior"
        rows="4"
        matInput placeholder="appearance_and_behavior"></textarea>
      </mat-form-field>
      
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.sensorium)">
        <mat-label>sensorium</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.sensorium"
        rows="4"
        matInput placeholder="sensorium"></textarea>
      </mat-form-field>
      
    
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.attention_and_concentration)">
        <mat-label>attention_and_concentration</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.attention_and_concentration"
        rows="4"
        matInput placeholder="attention_and_concentration"></textarea>
      </mat-form-field>
      
    
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.orientation)">
        <mat-label>orientation</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.orientation"
        rows="4"
        matInput placeholder="orientation"></textarea>
      </mat-form-field>

      
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.perception)">
        <mat-label>perception</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.perception"
        rows="4"
        matInput placeholder="perception"></textarea>
      </mat-form-field>

    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.mood)">
        <mat-label>mood</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.mood"
        rows="4"
        matInput placeholder="mood"></textarea>
      </mat-form-field>
      
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.memory)">
        <mat-label>memory</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.memory"
        rows="4"
        matInput placeholder="memory"></textarea>
      </mat-form-field>
      
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.speech)">
        <mat-label>speech</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.speech"
        rows="4"
        matInput placeholder="speech"></textarea>
      </mat-form-field>
      
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.thought)">
        <mat-label>thought</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.thought"
        rows="4"
        matInput placeholder="thought"></textarea>
      </mat-form-field>

    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.general_information_and_intelligence)">
        <mat-label>general_information_and_intelligence</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.general_information_and_intelligence"
        rows="4"
        matInput placeholder="general_information_and_intelligence"></textarea>
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="general_information_and_intelligence"
          type="text"
          [(ngModel)]="patientHistoryDetail.general_information_and_intelligence"
          
        />
      </mat-form-field> -->
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.insight_and_judjment)">
        <mat-label>insight_and_judjment</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.insight_and_judjment"
        rows="4"
        matInput placeholder="insight_and_judjment"></textarea>
      </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="insight_and_judjment"
          type="text"
          [(ngModel)]="patientHistoryDetail.insight_and_judjment"
          
        />
      </mat-form-field>
     -->
      <!--  ***************************************** -->
      <mat-accordion>
      <mat-expansion-panel style="margin-bottom: 15px;"  expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Current Treatment </mat-panel-title>
        </mat-expansion-panel-header>
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.psychiatric_treatment)">
        <mat-label>psychiatric_treatment</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.psychiatric_treatment"
        rows="4"
        matInput placeholder="psychiatric_treatment"></textarea>
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="psychiatric_treatment"
          type="text"
          [(ngModel)]="patientHistoryDetail.psychiatric_treatment"
          
        />
      </mat-form-field> -->
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.laboratory_and_radiological_examination)">
        <mat-label>laboratory_and_radiological_examination</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.laboratory_and_radiological_examination"
        rows="4"
        matInput placeholder="laboratory_and_radiological_examination"></textarea>
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="laboratory_and_radiological_examination"
          type="text"
          [(ngModel)]="patientHistoryDetail.laboratory_and_radiological_examination"
          
        />
      </mat-form-field> -->
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.physical_examination_in_short)">
        <!-- <mat-label>physical_examination_in_short</mat-label> -->
        <mat-label>Plan</mat-label>

        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.physical_examination_in_short"
        rows="4"
        matInput placeholder="physical_examination_in_short"></textarea>
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="physical_examination_in_short"
          type="text"
          [(ngModel)]="patientHistoryDetail.physical_examination_in_short"
          
        />
      </mat-form-field> -->
    
      <!--  ***************************************** -->
     
        <!-- <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
          <mat-label>provisional_psychiatric_diagnosis</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="provisional_psychiatric_diagnosis"
                 matInput
                 
                 
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 style="width: 100%;">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
      
        
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.current_medical_treatment)">
        <mat-label>current_medical_treatment</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.current_medical_treatment"
        rows="4"
        matInput placeholder="current_medical_treatment"></textarea>
      </mat-form-field>
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="current_medical_treatment"
          type="text"
          [(ngModel)]="patientHistoryDetail.current_medical_treatment"
          
        />
      </mat-form-field> -->
    
      <!--  ***************************************** -->
      <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.referred_to_and_reason_for_referral)">
        <mat-label>referred_to_and_reason_for_referral</mat-label>
        <textarea
        (blur)="onBlur()" 
        [disabled]="isDisabled()"
        [(ngModel)]="patientHistoryDetail.referred_to_and_reason_for_referral"
        rows="4"
        matInput placeholder="referred_to_and_reason_for_referral"></textarea>
      </mat-form-field>
       </mat-expansion-panel>
    </mat-accordion>
      <!-- <mat-form-field class="tc-full-stretch" *ngIf="!isDisabled() || !isEmpty(patientHistoryDetail.)">
        <input
          matInput
          placeholder="referred_to_and_reason_for_referral"
          type="text"
          [(ngModel)]="patientHistoryDetail.referred_to_and_reason_for_referral"
          
        />
      </mat-form-field> -->
    
    </div>
    </ng-template>
    
    <div class="tc-flex-row" *ngIf="isModal">
      <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{ title }}
      </h1>
    
      <div class="tc-flex-fill"></div>
      <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
      </div>
    </div>
    
    <div mat-dialog-content *ngIf="isModal">
        <ng-container *ngTemplateOutlet="body"> </ng-container>
    </div>
    
    <div *ngIf="!isModal">
        <ng-container *ngTemplateOutlet="body"> </ng-container>
    </div>
    
    <div mat-dialog-actions *ngIf="isModal">
      <button mat-button (click)="onCancel()">
        {{ appTranslation.getText("general", "cancel") }}
      </button>
      <button
        mat-button
        (click)="isNew() ? onAdd() : onUpdate()"
        [disabled]="!canSubmit()"
        cdkFocusInitial
      >
        {{ appTranslation.getText("general", "save") }}
      </button>
    </div>
    




