<ng-template #body>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="riskFactorDetail">
    <!-- <div style="display: flex; flex-direction:row; align-items: center;">

      <div class="select-field">
        <mat-icon fontSet="fa" fontIcon="fa-search" style="height: 18px;"></mat-icon>
       <ng-select style=" width: 290px" placeholder="{{riskFactorOptionsValue ? '' : 'Risk Factor Options'}}" [(ngModel)]="riskFactorOptionsValue" (search)="searchValue($event)" (ngModelChange)="appendValue()" [disabled]="!form_encounterPersist.encounter_is_active">
         <ng-option *ngFor="let etype of riskFactorOptions" [value]="etype.name">{{etype.name}}</ng-option>
       </ng-select>
     </div>
    <mat-form-field class="tc-full-stretch" style="margin-left: 210px;">
      <textarea  matInput placeholder="CV Risk Factor" type="text"
        [(ngModel)]="riskFactorDetail.risk_factor" [disabled]="!form_encounterPersist.encounter_is_active" ></textarea>
                       </mat-form-field>
    </div> -->
    <mat-form-field class="tc-full-stretch">
      <mat-label>Risk Factor</mat-label>
      <textarea type="text" #input
             aria-label="auto"
             matInput
             rows="4"
             (ngModelChange)="handleInput($event, input)"
             [(ngModel)]="riskFactorDetail.risk_factor"
             [matAutocomplete]="auto"
             [disabled]="!form_encounterPersist.encounter_is_active"
             ></textarea>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let etype of riskFactorOptions" [value]="appendString(etype.name)">
          {{etype.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</ng-template>

<div *ngIf="dialogRef">
  <div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{ title }}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon
        fontSet="fas"
        fontIcon="fa-times"
        (click)="onCancel()"
      ></mat-icon>
    </div>
  </div>

  <div mat-dialog-content>
    <ng-container *ngTemplateOutlet="body"> </ng-container>
  </div>
</div>

<div *ngIf="!dialogRef">
  <ng-container *ngTemplateOutlet="body"> </ng-container>
</div>

<div mat-dialog-actions *ngIf="dialogRef">
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
