.select-field{
    position: absolute;
    border: solid 2px;
    justify-content: space-between; 
    border-radius: 8px; 
    display: flex; 
    flex-direction:row; 
    padding: 4px; 
    width: 200px;
    align-items: flex-end;
}