<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="form_soapDetail">
  
      <!-- <mat-form-field class="tc-full-stretch">
        <textarea matInput rows="3"  placeholder="{{appTranslation.getText('patient','problem')}}" type="text"  [(ngModel)]="form_soapDetail.problem"></textarea>
      </mat-form-field> -->
  
   <!-- <mat-form-field class="tc-full-stretch">
                              <textarea [readonly]="!isNew()" matInput placeholder="{{appTranslation.getText('patient','subjective')}}" type="text"  [(ngModel)]="form_soapDetail.subjective" required></textarea>
                          </mat-form-field> -->
                      
   <!-- <mat-form-field class="tc-full-stretch">
                              <textarea matInput rows="3" placeholder="{{appTranslation.getText('patient','objective')}}" type="text"  [(ngModel)]="form_soapDetail.objective"></textarea>
                          </mat-form-field> -->
                      
   <!-- <mat-form-field class="tc-full-stretch">
                              <textarea matInput rows="3" placeholder="{{appTranslation.getText('patient','assessment')}}" type="text"  [(ngModel)]="form_soapDetail.assessment"></textarea>
                          </mat-form-field> -->

                      
   <mat-form-field class="tc-full-stretch">
    <textarea matInput rows="3" placeholder="Progress Note" type="text"  [(ngModel)]="form_soapDetail.note"></textarea>
</mat-form-field>

                      
   <!-- <mat-form-field class="tc-full-stretch">
                              <textarea matInput rows="3" placeholder="{{appTranslation.getText('patient','plan')}}" type="text"  [(ngModel)]="form_soapDetail.plan"></textarea>
                          </mat-form-field> -->
  
                      

<mat-form-field class="tc-full-stretch">
  <input matInput  placeholder="{{appTranslation.getText('patient','final_diagnosis')}}" type="text"  [(ngModel)]="form_soapDetail.final_diagnosis">
</mat-form-field>

    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd():isNew_asNew()?onAdd_asNew(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  