<h1 mat-dialog-title>
    {{ appTranslation.getText('bed','bedroom_level_selection') }}
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="bedroomLevelsSearchTextBox" placeholder='{{appTranslation.getText("general", "search_text")}}'>
      <button mat-button *ngIf="bedroomLevelPersist.bedroomlevelSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="bedroomLevelsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="bedroomLevelsIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="bedroomLevelsData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(bedroomLevelsData,bedroomLevelsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(bedroomLevelsData,bedroomLevelsSelection)"
              [indeterminate]="bedroomLevelsSelection.length <bedroomLevelsData.length && bedroomLevelsSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="bedroomLevelsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{bedroomLevelsSelection.length}}" matBadgePosition="above after" matBadgeOverlap="false"
                [matBadgeHidden]="bedroomLevelsSelection.length == 0" style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(bedroomLevelsSelection,row) : null"
              [checked]="tcUtilsArray.contains(bedroomLevelsSelection,row)" *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? markOneItem(row) : null"
              [checked]="tcUtilsArray.contains(bedroomLevelsSelection,row)" *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="remark">
          <mat-header-cell *matHeaderCellDef mat-sort-header>remark</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
        </ng-container>  
  
        <mat-header-row *matHeaderRowDef="bedroomLevelsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: bedroomLevelsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(bedroomLevelsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons [length]="bedroomLevelsTotalCount">
      </mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()" [disabled]=" bedroomLevelsSelection.length == 0 " cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
