<div class="tc-flex-row">
  <div class="tc-flex-fill">
    <div *ngFor="let jb of jobData.unfinishedJobs" class="tc-flex-row" style="margin-bottom: 20px">
      <mat-spinner color="warn" diameter="18"></mat-spinner>
      <span style="padding-left: 10px">{{jb.title}}</span>
      <button mat-button matSuffix mat-icon-button aria-label="Clear"
              *ngIf="false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

</div>
