
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <!-- <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
            class="tc-sidebar mat-elevation-z8" position="end">
            <div class="tc-sidebar-inner">
                <div class="tc-padding" *ngIf="!patientReferralFormIsLoading">
                    <h1 class="mat-h1 ">{{patientReferralFormDetail.id}} </h1>
                </div>
                <mat-nav-list>
                    <mat-list-item [ngClass]="activeTab == PatientReferralFormTabs.overview? 'tc-list-item-focus':''"
                        (click)="activeTab = PatientReferralFormTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                        <a>
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav>  -->
        <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="patientReferralFormIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==PatientReferralFormTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                    <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                              <!-- <button mat-button (click)="sidenav.toggle()"> -->
                              <button mat-button >

                                <mat-icon>menu</mat-icon>
                              </button>
                            </p>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!patientReferralFormIsLoading">  
                                            <!-- <p class="tc-detail-field">
  from                           <span>  {{patientReferralFormDetail.from_hospital}} </span> 
                                                         </p> -->
                            <p class="tc-detail-field">
  to                           <span>  {{patientReferralFormDetail.to_hospital}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  patient                           <span>  {{patientReferralFormDetail.patient}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                                hpi                          
                                <span>  {{patientReferralFormDetail.hpi}} </span> 
                            </p>

                            <p class="tc-detail-field">
                                past_psychiatric_history                          
                               <span>  {{patientReferralFormDetail.past_psychiatric_history}} </span> 
                           </p>

                           <p class="tc-detail-field">
                            Family_psychiatric_history                          
                           <span>  {{patientReferralFormDetail.family_psychiatric_history}} </span> 
                       </p>

                       <p class="tc-detail-field">
                        medical_history                          
                       <span>  {{patientReferralFormDetail.medical_history}} </span> 
                   </p>

                   <p class="tc-detail-field">
                    physical_findings                          
                   <span>  {{patientReferralFormDetail.physical_findings}} </span> 
               </p>

                            <p class="tc-detail-field">
  diagnosis                           <span>  {{patientReferralFormDetail.diagnosis}} </span> 
                                                         </p>
                            
                            <p class="tc-detail-field">
  treatment_given                           <span>  {{patientReferralFormDetail.treatment_given}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  reason_for_referral                           <span>  {{patientReferralFormDetail.reason_for_referral}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
  referring physician                           <span>  {{patientReferralFormDetail.referring_physician}} </span> 
                                                         </p>
                            
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editPatientReferralForm()" *ngIf="tcAuthorization.canUpdate('patient_referrals') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    