<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav
    #sidenav
    [mode]="tcUtilsAngular.sideNavMode"
    [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8"
    position="end"
  >
    <div class="tc-sidebar-inner">
      <div class="tc-padding" *ngIf="!riskFactorsOptionsIsLoading">
        <h1 class="mat-h1">{{ riskFactorsOptionsDetail.id }}</h1>
      </div>
      <mat-nav-list>
        <mat-list-item
          [ngClass]="
            activeTab == RiskFactorsOptionsTabs.overview
              ? 'tc-list-item-focus'
              : ''
          "
          (click)="
            activeTab = RiskFactorsOptionsTabs.overview;
            tcUtilsAngular.smallDevice ? sidenav.toggle() : false
          "
        >
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{ appTranslation.getText("general", "overview") }}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="riskFactorsOptionsIsLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div
      [ngClass]="
        activeTab == RiskFactorsOptionsTabs.overview ? '' : 'tc-hidden'
      "
    >
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </p>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ appTranslation.getText("general", "basicdetails") }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!riskFactorsOptionsIsLoading">
                  <p class="tc-detail-field">
                    name <span> {{ riskFactorsOptionsDetail.name }} </span>
                  </p>
                  <p class="tc-detail-field">
                    type
                    <span>
                      {{tcUtilsArray.getEnum(riskFactorsOptionsPersist.modificationStatus,riskFactorsOptionsDetail.type)?.name }}
                    </span>
                  </p>
                </div>
                <mat-action-row>
                  <button
                    mat-button
                    (click)="editRiskFactorsOptions()"
                    *ngIf="tcAuthorization.canUpdate('risk_factors_options')"
                  >
                    {{ appTranslation.getText("general", "edit") }}
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
