<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
        consultation
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchConsultations();" *ngIf="tcAuthorization.canRead('consultings')"
        class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
</mat-toolbar>
<div class="tc-padding">
    <mat-form-field>
        <input matInput [formControl]="consultationSearchTextBox"
            placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="doctorConsultationPersist.consultationSearchHistory.search_text" matSuffix mat-icon-button
            aria-label="Clear" (click)="consultationSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="doctorConsultationPersist.consultationSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchConsultations()">
      <mat-option *ngFor="let etype of prefixedFilterColumn" [value]="etype.id">
        {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder='Start Date' [formControl]="start_date"
           [matDatepicker]="date_of_schedule" />

    <mat-datepicker-toggle matSuffix [for]="date_of_schedule"></mat-datepicker-toggle>
    <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
    <button mat-button *ngIf="start_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
            (click)="start_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder='Start Date' [formControl]="end_date"
           [matDatepicker]="start_date_of_schedule" />

    <mat-datepicker-toggle matSuffix [for]="start_date_of_schedule"></mat-datepicker-toggle>
    <mat-datepicker #start_date_of_schedule disabled="false"></mat-datepicker>
    <button mat-button *ngIf="end_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
            (click)="end_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field *ngIf="!doctorConsultationPersist.consultationSearchHistory.show_only_mine">
    <mat-label>From Doctor Name </mat-label>
    <input matInput disabled [(ngModel)]="doctorConsultationPersist.consultationSearchHistory.doctor_name" />
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchDoctors()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="doctorConsultationPersist.consultationSearchHistory.doctor_name" matSuffix mat-icon-button aria-label="Clear"
            (click)="doctorConsultationPersist.consultationSearchHistory.doctor_id = undefined; doctorConsultationPersist.consultationSearchHistory.doctor_name = undefined; searchConsultations()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field *ngIf="!doctorConsultationPersist.consultationSearchHistory.show_only_mine">
    <mat-label>To Doctor Name </mat-label>
    <input matInput disabled [(ngModel)]="doctorConsultationPersist.consultationSearchHistory.to_doctors_full_name" />
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchDoctors(false)"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="doctorConsultationPersist.consultationSearchHistory.to_doctors_full_name" matSuffix mat-icon-button aria-label="Clear"
            (click)="doctorConsultationPersist.consultationSearchHistory.to_doctors_id = undefined; doctorConsultationPersist.consultationSearchHistory.to_doctors_full_name = undefined; searchConsultations()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder=" {{ appTranslation.getText('general', 'type') }}"
      [(value)]="doctorConsultationPersist.consultationSearchHistory.status"
      (valueChange)="searchConsultations()"
    >
      <mat-option
        *ngFor="let etype of doctorConsultationPersist.statusEnum"
        [value]="etype.id"
      >
        {{ etype?.name }}
      </mat-option>
    </mat-select>
    <button
      mat-button
      *ngIf="doctorConsultationPersist.consultationSearchHistory.status"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="
            doctorConsultationPersist.consultationSearchHistory.status = null;
            searchConsultations();
            $event.stopPropagation()
          "
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" (change)="searchConsultations()"
                    [(ngModel)]="doctorConsultationPersist.consultationSearchHistory.show_only_mine" required>
    {{appTranslation.getText("patient", "show_only_mine")}}
  </mat-slide-toggle>
    <div class="tc-loading" *ngIf="consultationIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let consultation of consultationsData" class="tc-card">
            <mat-card-header>
                <mat-card-title>
                    <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('consultings') || tcAuthorization.canDelete('consultings')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editConsultation(consultation)"
                            *ngIf="tcAuthorization.canUpdate('consultings')">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>response</span>
                        </button>
                        <button mat-menu-item (click)="deleteConsultation(consultation)"
                            *ngIf="tcAuthorization.canDelete('consultings')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="tc-detail-field">
                    <span>consulted department</span>
                        {{tcUtilsArray.getById(departments_specialty, consultation.consulted_department_id)?.name}}
                </div>
                <div class="tc-detail-field">
                    <span>urgent</span>
                    {{consultation.urgent}}
                </div>
                <div class="tc-detail-field">
                    <span>patient_convinience</span>
                    {{consultation.patient_convinience}}
                </div>
                <div class="tc-detail-field">
                    <span>brief_history</span>
                    {{consultation.brief_history}}
                </div>
                <div class="tc-detail-field">
                    <span>date</span>
                    {{tcUtilsDate.toDate(consultation.date)|date}}
                </div>
                <div class="tc-detail-field">
                    <span>report</span>
                    {{consultation.report}}
                </div>
                <div class="tc-detail-field">
                    <span>consulted doctor</span>
                    {{getDoctorFullName(consultation.consulted_doctor_id)}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="searchConsultations.length >0 || consultationSelectAll">
            <button mat-button (click)="downloadConsultations()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
            </button>
            <div class="tc-flex-fill"></div>
            <span>{{consultationSelectAll ? consultationsTotalCount : consultationSelection.length}}
                {{appTranslation.getText("general",
                "selected")}}</span>
        </mat-toolbar>
        <mat-table [dataSource]="consultationsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(consultationsData,consultationSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(consultationsData,consultationSelection) || consultationSelectAll"
                        [indeterminate]="consultationSelection.length <consultationsData.length && consultationSelection.length>0"
                        [disabled]="consultationSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="consultationSelectAllMenu">
                        </mat-icon>
                    </button>
                    <mat-menu #consultationSelectAllMenu="matMenu">

                        <button mat-menu-item (click)="consultationSelectAll=true;" [disabled]="consultationSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="consultationSelectAll = false;"
                            [disabled]="!consultationSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(consultationSelection,row) : null"
                        [checked]="tcUtilsArray.contains(consultationSelection,row) || consultationSelectAll"
                        [disabled]="consultationSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="department_specialty_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>consulted department
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.department_specialty_name}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="urgent">
                <mat-header-cell *matHeaderCellDef mat-sort-header>urgent
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.urgent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="patient_convinience">
                <mat-header-cell *matHeaderCellDef mat-sort-header>patient Convenience
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.patient_convinience}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="brief_history">
                <mat-header-cell *matHeaderCellDef mat-sort-header>brief_history
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.brief_history}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date)|date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="report">
                <mat-header-cell *matHeaderCellDef mat-sort-header>report
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.report}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="consulted_first_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>consulted doctor
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{getConsultedPhysicianName(element)}}</mat-cell>
            </ng-container>
          <ng-container matColumnDef="consulting_first_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>consulting doctor
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{getConsultingPhysicianName(element)}}</mat-cell>
          </ng-container>
            <ng-container matColumnDef="patient.pid">
                <mat-header-cell *matHeaderCellDef mat-sort-header> MRN</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="doctorConsultationNavigator.consultationUrl(element.id)"
                        class="{{element.report_date?'green':'red'}} ">{{element.patient_pid}}</a>

                </mat-cell>
            </ng-container>
          <ng-container matColumnDef="patient_fname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{getPrefixPatientName(element)}}</mat-cell>
          </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('consultings') || tcAuthorization.canDelete('consultings')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">
                        <button mat-menu-item (click)="editConsultation(element)"
                            *ngIf="tcAuthorization.canUpdate('consultings') ">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <!-- <button mat-menu-item (click)="transferConsultation(element)"
                                *ngIf="tcAuthorization.canUpdate('consultings') ">
                          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                          <span>Transfer</span>
                        </button> -->
                        <button mat-menu-item (click)="deleteConsultation(element)"
                            *ngIf="tcAuthorization.canDelete('consultings')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="consultationsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: consultationsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(consultationSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="consultationsTotalCount"
            [ngStyle]="{display: consultationsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>
