<h1 mat-dialog-title>
    Pre Ansthesia Evaluation Selection
  </h1><div mat-dialog-content> <mat-form-field>
    <input matInput [formControl]="preAnsthesiaEvaluationSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="preAnsthesiaEvaluationPersist.preAnsthesiaEvaluationSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="preAnsthesiaEvaluationSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="preAnsthesiaEvaluationIsLoading">
    <mat-spinner></mat-spinner>
  </div>  
  <div class="tc-table-container tc-full-width">

    <!-- <mat-toolbar *ngIf="searchPre_ansthesia_evaluations.length >0 || preAnsthesiaEvaluationSelectAll">
      <button mat-button (click)="downloadPreAnsthesiaEvaluations()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{preAnsthesiaEvaluationSelectAll ? preAnsthesiaEvaluationsTotalCount : preAnsthesiaEvaluationSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar> -->
    <mat-table [dataSource]="preAnsthesiaEvaluationsData" matSort class="tc-hide-on-mobile"> 

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(preAnsthesiaEvaluationsData,preAnsthesiaEvaluationSelection) "
            [checked]=" tcUtilsArray.isAllSelected(preAnsthesiaEvaluationsData,preAnsthesiaEvaluationSelection) || preAnsthesiaEvaluationSelectAll"
            [indeterminate]="preAnsthesiaEvaluationSelection.length <preAnsthesiaEvaluationsData.length && preAnsthesiaEvaluationSelection.length>0"
            [disabled]="preAnsthesiaEvaluationSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="preAnsthesiaEvaluationSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #preAnsthesiaEvaluationSelectAllMenu="matMenu">

            <button mat-menu-item (click)="preAnsthesiaEvaluationSelectAll=true;" [disabled]="preAnsthesiaEvaluationSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="preAnsthesiaEvaluationSelectAll = false;" [disabled]="!preAnsthesiaEvaluationSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(preAnsthesiaEvaluationSelection,row) : null"
            [checked]="tcUtilsArray.contains(preAnsthesiaEvaluationSelection,row) || preAnsthesiaEvaluationSelectAll" [disabled]="preAnsthesiaEvaluationSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="pre_operative_diagnosis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pre_operative_diagnosis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pre_operative_diagnosis}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="planned_procedure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>planned_procedure
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.planned_procedure}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="history">
        <mat-header-cell *matHeaderCellDef mat-sort-header>history
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.history}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="pervious_surgery_anesthesia_exposure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pervious_surgery_anesthesia_exposure
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pervious_surgery_anesthesia_exposure}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="cvd">
        <mat-header-cell *matHeaderCellDef mat-sort-header>cvd
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cvd}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="htn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>htn
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.htn}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="oncologic_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header>oncologic_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.oncologic_disease}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="pulmonary">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pulmonary
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pulmonary}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="dm">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dm
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dm}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="other_endocrine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>other_endocrine
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.other_endocrine}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hematologic">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hematologic
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hematologic}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="gi_liver">
        <mat-header-cell *matHeaderCellDef mat-sort-header>gi_liver
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.gi_liver}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="renal_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header>renal_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.renal_disease}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="neurologic_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header>neurologic_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.neurologic_disease}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="pyschiatric_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pyschiatric_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pyschiatric_disease}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="infectious_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header>infectious_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.infectious_disease}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="rheumatic_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rheumatic_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rheumatic_disease}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="allergy_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header>allergy_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.allergy_disease}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="smoking">
        <mat-header-cell *matHeaderCellDef mat-sort-header>smoking
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.smoking}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="alcohol">
        <mat-header-cell *matHeaderCellDef mat-sort-header>alcohol
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.alcohol}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="other">
        <mat-header-cell *matHeaderCellDef mat-sort-header>other
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.other}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="functional_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>functional_status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.functional_status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="g_a">
        <mat-header-cell *matHeaderCellDef mat-sort-header>g_a
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.g_a}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="bp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bp
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bp}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hr
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hr}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="rr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rr
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rr}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef mat-sort-header>to
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.d_to}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="so2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>so2
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.so2}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="wt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>wt
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.wt}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="bmi">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bmi
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bmi}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="heent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>heent
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.heent}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="mallampatic_class">
        <mat-header-cell *matHeaderCellDef mat-sort-header>mallampatic_class
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mallampatic_class}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="iid_text">
        <mat-header-cell *matHeaderCellDef mat-sort-header>iid_text
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.iid_text}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="thyromental_distance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>thyromental_distance
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.thyromental_distance}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="tmj_mobility">
        <mat-header-cell *matHeaderCellDef mat-sort-header>tmj_mobility
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.tmj_mobility}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="neck_mobility">
        <mat-header-cell *matHeaderCellDef mat-sort-header>neck_mobility
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.neck_mobility}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="loose_incisor_teeth">
        <mat-header-cell *matHeaderCellDef mat-sort-header>loose_incisor_teeth
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.loose_incisor_teeth}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="artificial_denture">
        <mat-header-cell *matHeaderCellDef mat-sort-header>artificial_denture
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.artificial_denture}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="lgs">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lgs
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lgs}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="abdomen">
        <mat-header-cell *matHeaderCellDef mat-sort-header>abdomen
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.abdomen}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="chest">
        <mat-header-cell *matHeaderCellDef mat-sort-header>chest
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.chest}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="mss_is">
        <mat-header-cell *matHeaderCellDef mat-sort-header>mss_is
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mss_is}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="cvs">
        <mat-header-cell *matHeaderCellDef mat-sort-header>cvs
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cvs}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="cvn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>cvn
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cvn}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="medication">
        <mat-header-cell *matHeaderCellDef mat-sort-header>medication
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.medication}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="investigation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>investigation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.investigation}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ecg">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ecg
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ecg}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="echo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>echo
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.echo}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="imaging_other">
        <mat-header-cell *matHeaderCellDef mat-sort-header>imaging_other
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.imaging_other}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="consent_for_blood_transfusion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>consent_for_blood_transfusion
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.consent_for_blood_transfusion}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="functional_capacity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>functional_capacity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.functional_capacity}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="asp_ps_class">
        <mat-header-cell *matHeaderCellDef mat-sort-header>asp_ps_class
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.asp_ps_class}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="assessment">
        <mat-header-cell *matHeaderCellDef mat-sort-header>assessment
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.assessment}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="anesthetic_plan_concern">
        <mat-header-cell *matHeaderCellDef mat-sort-header>anesthetic_plan_concern
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anesthetic_plan_concern}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="anesthesiologist_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>anesthesiologist_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anesthesiologist_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="preAnsthesiaEvaluationsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: preAnsthesiaEvaluationsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(preAnsthesiaEvaluationSelection,row)}"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="preAnsthesiaEvaluationsTotalCount"
      [ngStyle]="{display: preAnsthesiaEvaluationsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]="preAnsthesiaEvaluationSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>