<mat-tab-group>
  <mat-tab label="Overview">
    <ng-template matTabContent>
    <mat-toolbar class="tc-toolbar-secondary ">
      <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
        {{appTranslation.getText("general", "overview")}}
      </h1>
      <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)=" reload()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
    </mat-toolbar>

    <div class="tc-flex-row tc-full-width">
      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ appTranslation.getText("general", "basicdetails") }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngIf="!storeLoading">
                <p class="tc-detail-field">
                  <span>{{ appTranslation.getText("general", "name") }} </span>
                  {{ storeDetail.name }}
                </p>

                <p class="tc-detail-field">
                  <span>{{ appTranslation.getText("inventory", "store_type") }} </span>
                  {{ appTranslation.getText('inventory', tcUtilsArray.getEnum(storePersist.store_type, storeDetail.store_type)?.name) }}
                  {{ appTranslation.getText('patient', tcUtilsArray.getEnum(storePersist.store_type, storeDetail.store_type)?.name) }}
                </p>

                <p class="tc-detail-field">
              <span
              >{{ appTranslation.getText("inventory", "parent_store") }}
              </span>
                  <ng-container>
                    <a [routerLink]="storeNavigator.storeUrl(storeDetail.parent_store_id)">
                      {{ storeDetail.parent_store_name }}
                    </a>
                  </ng-container>
                </p>
              </div>
              <mat-action-row>
                <button
                  mat-button
                  (click)="editStore()"
                  *ngIf="tcAuthorization.canUpdate('stores')"
                >
                  {{ appTranslation.getText("general", "edit") }}
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </ng-template>
  </mat-tab>
  <mat-tab label="Mini Store">
    <ng-template matTabContent>
    <app-store-list *ngIf="storeDetail.id" [parentId]="storeDetail.id"></app-store-list>
  </ng-template>
  </mat-tab>
  <mat-tab label="Stock Management">
    <ng-template matTabContent>
    <app-store_stock_level-list *ngIf="storeDetail.id" [storeId]="storeDetail.id"></app-store_stock_level-list>
  </ng-template>
  </mat-tab>
</mat-tab-group>
