

    <div class="tc-flex-row tc-full-width">
      <div class="tc-equal-block">
          <div class="tc-padding">
              <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{appTranslation.getText('laboratory','lab_panel_id')}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="tc-padding">
                        <mat-form-field>
                          <input matInput [formControl]="lab_panelsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
                          <button mat-button *ngIf="lab_panelPersist.lab_panelSearchText" matSuffix mat-icon-button aria-label="Clear"
                                  (click)="lab_panelsSearchTextBox.setValue('')">
                            <mat-icon>close</mat-icon>
                          </button>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select placeholder='Type'
                                      [(value)]="lab_panelPersist.lab_order_type"
                                      (valueChange)="searchLab_Panels()">
                            <mat-option *ngFor="let status of lab_orderPersist.lab_order_type" [value]="status.id">
                              {{appTranslation.getText('procedure', status?.name)}}
                            </mat-option>
                          </mat-select>

                          <button mat-button *ngIf='lab_panelPersist.lab_order_type' matSuffix mat-icon-button
                                  aria-label="Clear"
                                  (click)="lab_panelPersist.lab_order_type = null;searchLab_Panels();$event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                          </button>
                        </mat-form-field>
                        <div class="tc-loading" *ngIf="lab_panelsIsLoading">
                          <mat-spinner></mat-spinner>
                        </div>

                        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
                          <mat-card *ngFor="let lab_panel of lab_panelsData" class="tc-card" >
                                  <mat-card-header>
                                        <mat-card-title>
                                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('order_panels') || tcAuthorization.canDelete('order_panels')">
                                                                                                      <i class="material-icons">more_vert</i>
                                                                                                    </button>
                                                                                                    <mat-menu #elementMenu="matMenu">

                                                                                                      <button mat-menu-item (click)="editLab_Panel(lab_panel)" *ngIf="tcAuthorization.canUpdate('order_panels')">
                                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                                      </button>
                                                                                                      <button mat-menu-item (click)="deleteLab_Panel(lab_panel)" *ngIf="tcAuthorization.canDelete('order_panels')">
                                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                                      </button>
                                                                                                    </mat-menu>
                                                                                      </mat-card-title>
                                        <mat-card-subtitle></mat-card-subtitle>
                                   </mat-card-header>
                                  <mat-card-content>

                  <div class="tc-detail-field">
                              <span>{{appTranslation.getText('general','name')}}</span>

                              <a [routerLink]="lab_panelNavigator.lab_panelUrl(lab_panel.id)"
                                                                                      class="tc-link">{{lab_panel.name}}</a>
                            </div>
                  <div class="tc-detail-field">
                              <span>{{appTranslation.getText('laboratory','price')}}</span>
                              {{tcUtilsNumber.convertToDecimalPlaces(lab_panel.price)}}
                            </div>
                                  </mat-card-content>
                          </mat-card>
                        </div>

                        <div class="tc-table-container tc-full-width">

                          <mat-toolbar *ngIf="lab_panelsSelection.length >0 || lab_panelsSelectAll">
                                    <div class="tc-flex-fill"></div>
                                    <span>{{lab_panelsSelectAll ? lab_panelsTotalCount : lab_panelsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
                          </mat-toolbar>

                          <mat-table [dataSource]="lab_panelsData" matSort class="tc-hide-on-mobile">

                            <ng-container matColumnDef="select">
                              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                                <mat-checkbox
                                  (click)="$event.stopPropagation()"
                                  (change)=" tcUtilsArray.toggleSelectAll(lab_panelsData,lab_panelsSelection) "
                                  [checked]=" tcUtilsArray.isAllSelected(lab_panelsData,lab_panelsSelection) || lab_panelsSelectAll"
                                  [indeterminate]="lab_panelsSelection.length <lab_panelsData.length && lab_panelsSelection.length>0"
                                  [disabled]="lab_panelsSelectAll">
                                </mat-checkbox>

                                <button mat-icon-button>
                                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="lab_panelsSelectAllMenu"></mat-icon>
                                </button>
                                <mat-menu #lab_panelsSelectAllMenu="matMenu">


                                  <button mat-menu-item
                                          (click)="lab_panelsSelectAll=true;"
                                          [disabled]="lab_panelsSelectAll">
                                    {{appTranslation.getText("general", "all")}}
                                  </button>
                                  <button mat-menu-item
                                          (click)="lab_panelsSelectAll = false;"
                                          [disabled]="!lab_panelsSelectAll">
                                    {{appTranslation.getText("general", "none")}}
                                  </button>
                                </mat-menu>

                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" class="tc-column-selection">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="tcUtilsArray.toggleSelectAll(lab_panelsData,lab_panelsSelection)"
                                              [checked]="tcUtilsArray.contains(lab_panelsSelection,row) || lab_panelsSelectAll"
                                              [disabled]="lab_panelsSelectAll">
                                </mat-checkbox>
                              </mat-cell>
                            </ng-container>


                  <ng-container matColumnDef="name">
                                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                                  <mat-cell *matCellDef="let element">

                                                    <a [routerLink]="lab_panelNavigator.lab_panelUrl(element.id)"
                                                    class="tc-link">{{element.name}}</a>

                                                  </mat-cell>
                                               </ng-container>
                                               <ng-container matColumnDef="order">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','orders')}}</mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                  {{element.lab_order_name}}
                                                </mat-cell>
                                             </ng-container>
                                             <ng-container matColumnDef="price">
                                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','price')}}</mat-header-cell>
                                              <mat-cell *matCellDef="let element">
                                                {{tcUtilsNumber.convertToDecimalPlaces(element.price)}}
                                              </mat-cell>
                                           </ng-container>


                            <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                              <mat-cell *matCellDef="let element" class="tc-column-action">
                                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('order_panels') || tcAuthorization.canDelete('order_panels')">
                                  <i class="material-icons">more_vert</i>
                                </button>
                                <mat-menu #elementMenu="matMenu">

                                  <button mat-menu-item (click)="editLab_Panel(element)" *ngIf="tcAuthorization.canUpdate('order_panels') ">
                                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                    <span>{{appTranslation.getText("general","edit")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="updateActveness(element, 'freeze')" *ngIf="tcAuthorization.canUpdate('order_panels') && element.status == activnessStatus.active ">
                                    <mat-icon fontSet="fa" fontIcon="fa-comment-slash"></mat-icon>
                                    <span>{{appTranslation.getText("inventory","freeze")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="updateActveness(element, 'active')" *ngIf="tcAuthorization.canUpdate('order_panels') && element.status == activnessStatus.freeze">
                                    <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
                                    <span>{{appTranslation.getText("users","active")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="deleteLab_Panel(element)" *ngIf="tcAuthorization.canDelete('order_panels')">
                                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                    <span>{{appTranslation.getText("general","delete")}} </span>
                                  </button>
                                </mat-menu>
                              </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="lab_panelsDisplayedColumns; sticky: true; "></mat-header-row>
                            <mat-row *matRowDef="let row; columns: lab_panelsDisplayedColumns;"
                                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(lab_panelsSelection,row)}"></mat-row>

                          </mat-table>

                          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                                         [pageSize]="5"
                                         [length]="lab_panelsTotalCount"
                                         [ngStyle]="{display: lab_panelsTotalCount > 0? '':'none'}"></mat-paginator>
                        </div>
                      </div>

                      <mat-action-row>
                        <button mat-button (click)=" addLab_Panel();" *ngIf="tcAuthorization.canCreate('order_panels')" class="tc-link">
                          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                      </button>
                       </mat-action-row>

                     </mat-expansion-panel>
              </mat-accordion>
          </div>
      </div>

  </div>
