<h1 mat-dialog-title>
  Death Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="deathsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="deathPersist.deathSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="deathsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="deathsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="deathsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(deathsData,deathsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(deathsData,deathsSelection)"
            [indeterminate]="deathsSelection.length <deathsData.length && deathsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="deathsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{deathsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="deathsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(deathsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(deathsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(deathsSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="date_of_death">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','date_of_death')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.date_of_death}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="is_maternal">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','is_maternal')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.is_maternal}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="death_condition">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','death_condition')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.death_condition}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="is_post_operation">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','is_post_operation')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.is_post_operation}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="is_familly_aware">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','is_familly_aware')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.is_familly_aware}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="is_brought_dead">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','is_brought_dead')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.is_brought_dead}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="doctor_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','doctor_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="primay_cause_of_death">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','primay_cause_of_death')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.primay_cause_of_death}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="secondary_cause_of_death">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','secondary_cause_of_death')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.secondary_cause_of_death}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="other_co_morbidities">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','other_co_morbidities')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.other_co_morbidities}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="deathsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: deathsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(deathsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="deathsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" deathsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
