<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="biopsyRequestDetail">
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()" >
                            <input matInput  placeholder="hospital_submitting" type="text"  [(ngModel)]="biopsyRequestDetail.hospital_submitting" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <input matInput  placeholder="ward" type="text"  [(ngModel)]="biopsyRequestDetail.ward" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <input matInput  placeholder="class" type="text"  [(ngModel)]="biopsyRequestDetail.class" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <input matInput  placeholder="ethic_group" type="text"  [(ngModel)]="biopsyRequestDetail.ethic_group" required>
                        </mat-form-field>                    
                 
 <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
                            <input matInput  placeholder="nature_of_specimen" type="text"  [(ngModel)]="biopsyRequestDetail.nature_of_specimen" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <input matInput  placeholder="duration_of_lession" type="number"  [(ngModel)]="biopsyRequestDetail.duration_of_lession" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <input matInput  placeholder="sign_of_infiltration" type="text"  [(ngModel)]="biopsyRequestDetail.sign_of_infiltration" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <input matInput  placeholder="symptoms_and_signs" type="text"  [(ngModel)]="biopsyRequestDetail.symptoms_and_signs" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <input matInput  placeholder="lmp" type="text"  [(ngModel)]="biopsyRequestDetail.lmp" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <input matInput  placeholder="relevant_lab_data" type="text"  [(ngModel)]="biopsyRequestDetail.relevant_lab_data" required>
                        </mat-form-field>                    

                     </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!biopsyRequestDetail.nature_of_specimen"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>