<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-person-pregnant"></mat-icon>
    ANC History
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchAncHistorys()"
    *ngIf="tcAuthorization.canRead('anc_historys')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addAncHistory()"
    *ngIf="tcAuthorization.canCreate('anc_historys')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="false"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="ancHistorySearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="ancHistoryPersist.ancHistorySearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="ancHistorySearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="ancHistoryIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let ancHistory of ancHistorysData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('anc_historys') ||
              tcAuthorization.canDelete('anc_historys')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editAncHistory(ancHistory)"
              *ngIf="tcAuthorization.canUpdate('anc_historys')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteAncHistory(ancHistory)"
              *ngIf="tcAuthorization.canDelete('anc_historys')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>date_value</span>
          {{ ancHistory.date_value }}
        </div>
        <div class="tc-detail-field">
          <span>acn_reg_no</span>
          {{ ancHistory.acn_reg_no }}
        </div>
        <div class="tc-detail-field">
          <span>lmp</span>
          {{ ancHistory.lmp }}
        </div>
        <div class="tc-detail-field">
          <span>edd_value</span>
          {{ ancHistory.edd_value }}
        </div>
        <div class="tc-detail-field">
          <span>lmp_value</span>
          {{ ancHistory.lmp_value }}
        </div>
        <div class="tc-detail-field">
          <span>gravida</span>
          {{ ancHistory.gravida }}
        </div>
        <div class="tc-detail-field">
          <span>para</span>
          {{ ancHistory.para }}
        </div>
        <div class="tc-detail-field">
          <span>number_of_children_alive</span>
          {{ ancHistory.number_of_children_alive }}
        </div>
        <div class="tc-detail-field">
          <span>marital_status</span>
          {{ ancHistory.marital_status }}
        </div>
        <div class="tc-detail-field">
          <span>previous_stillbirth</span>
          {{ ancHistory.previous_stillbirth }}
        </div>
        <div class="tc-detail-field">
          <span>history_of_three_consecutive_abortions</span>
          {{ ancHistory.history_of_three_consecutive_abortions }}
        </div>
        <div class="tc-detail-field">
          <span>birth_weight_last_baby_small</span>
          {{ ancHistory.birth_weight_last_baby_small }}
        </div>
        <div class="tc-detail-field">
          <span>birth_weight_last_baby_big</span>
          {{ ancHistory.birth_weight_last_baby_big }}
        </div>
        <div class="tc-detail-field">
          <span>last_pregnancy_admission_for_hypertension</span>
          {{ ancHistory.last_pregnancy_admission_for_hypertension }}
        </div>
        <div class="tc-detail-field">
          <span>previous_surgery_on_reproductive_tract</span>
          {{ ancHistory.previous_surgery_on_reproductive_tract }}
        </div>
        <div class="tc-detail-field">
          <span>diagnosed_multiple_pregnancy</span>
          {{ ancHistory.diagnosed_multiple_pregnancy }}
        </div>
        <div class="tc-detail-field">
          <span>age_less_than_sixteen</span>
          {{ ancHistory.age_less_than_sixteen }}
        </div>
        <div class="tc-detail-field">
          <span>age_more_than_fourty</span>
          {{ ancHistory.age_more_than_fourty }}
        </div>
        <div class="tc-detail-field">
          <span>isoimmunization_in_previous_pregnancy</span>
          {{ ancHistory.isoimmunization_in_previous_pregnancy }}
        </div>
        <div class="tc-detail-field">
          <span>vaginal_bleeding</span>
          {{ ancHistory.vaginal_bleeding }}
        </div>
        <div class="tc-detail-field">
          <span>pelvic_mass</span>
          {{ ancHistory.pelvic_mass }}
        </div>
        <div class="tc-detail-field">
          <span>diastolic_bp_ninety_mm</span>
          {{ ancHistory.diastolic_bp_ninety_mm }}
        </div>
        <div class="tc-detail-field">
          <span>diabetes_mellitus</span>
          {{ ancHistory.diabetes_mellitus }}
        </div>
        <div class="tc-detail-field">
          <span>renal_disease</span>
          {{ ancHistory.renal_disease }}
        </div>
        <div class="tc-detail-field">
          <span>cardiac_disease</span>
          {{ ancHistory.cardiac_disease }}
        </div>
        <div class="tc-detail-field">
          <span>chronic_hypertension</span>
          {{ ancHistory.chronic_hypertension }}
        </div>
        <div class="tc-detail-field">
          <span>known_substance_abuse</span>
          {{ ancHistory.known_substance_abuse }}
        </div>
        <div class="tc-detail-field">
          <span>other_sever_desease</span>
          {{ ancHistory.other_sever_desease }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">
    <mat-toolbar *ngIf="searchAncHistorys.length > 0 || ancHistorySelectAll">
      <button mat-button (click)="downloadAncHistorys()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
        >{{
          ancHistorySelectAll
            ? ancHistorysTotalCount
            : ancHistorySelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      > </mat-toolbar
    ><mat-table
      [dataSource]="ancHistorysData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(ancHistorysData, ancHistorySelection)
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                ancHistorysData,
                ancHistorySelection
              ) || ancHistorySelectAll
            "
            [indeterminate]="
              ancHistorySelection.length < ancHistorysData.length &&
              ancHistorySelection.length > 0
            "
            [disabled]="ancHistorySelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="ancHistorySelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #ancHistorySelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="ancHistorySelectAll = true"
              [disabled]="ancHistorySelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="ancHistorySelectAll = false"
              [disabled]="!ancHistorySelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(ancHistorySelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(ancHistorySelection, row) ||
              ancHistorySelectAll
            "
            [disabled]="ancHistorySelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
          ><a
            [routerLink]="ancHistoryNavigator.ancHistoryUrl(element.id)"
            class="tc-link"
            >{{ element.date_value * 1000 | date: "yyyy-MM-dd" }}</a
          ></mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="acn_reg_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >ACN Rge.No
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.acn_reg_no }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lmp_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >LMP
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{  element.lmp_value  && element.lmp_value * 1000 | date: "yyyy-MM-dd"  }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="edd_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >EDD
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{  element.lmp_value  && element.edd_value * 1000 | date: "yyyy-MM-dd" }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="gravida">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Gravida
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.gravida }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="para">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Para
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.para }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="number_of_children_alive">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Number of Children Alive
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.number_of_children_alive
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="marital_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Marital Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          tcUtilsArray.getEnum(
                      ancHistoryPersist.MaritalStatus,
                      element.marital_status
                    )?.name
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="previous_stillbirth">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >previous_stillbirth
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.previous_stillbirth
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="history_of_three_consecutive_abortions">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >history_of_three_consecutive_abortions
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.history_of_three_consecutive_abortions
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="birth_weight_last_baby_small">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >birth_weight_last_baby_small
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.birth_weight_last_baby_small
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="birth_weight_last_baby_big">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >birth_weight_last_baby_big
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.birth_weight_last_baby_big
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="last_pregnancy_admission_for_hypertension">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >last_pregnancy_admission_for_hypertension
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.last_pregnancy_admission_for_hypertension
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="previous_surgery_on_reproductive_tract">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >previous_surgery_on_reproductive_tract
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.previous_surgery_on_reproductive_tract
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="diagnosed_multiple_pregnancy">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >diagnosed_multiple_pregnancy
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.diagnosed_multiple_pregnancy
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="age_less_than_sixteen">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >age_less_than_sixteen
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.age_less_than_sixteen
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="age_more_than_fourty">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >age_more_than_fourty
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.age_more_than_fourty
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="isoimmunization_in_previous_pregnancy">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >isoimmunization_in_previous_pregnancy
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.isoimmunization_in_previous_pregnancy
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="vaginal_bleeding">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >vaginal_bleeding
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.vaginal_bleeding
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pelvic_mass">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >pelvic_mass
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.pelvic_mass }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="diastolic_bp_ninety_mm">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >diastolic_bp_ninety_mm
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.diastolic_bp_ninety_mm
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="diabetes_mellitus">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >diabetes_mellitus
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.diabetes_mellitus
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="renal_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >renal_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.renal_disease
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="cardiac_disease">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >cardiac_disease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.cardiac_disease
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="chronic_hypertension">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >chronic_hypertension
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.chronic_hypertension
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="known_substance_abuse">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >known_substance_abuse
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.known_substance_abuse
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="other_sever_desease">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >other_sever_desease
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.other_sever_desease
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="ancHistoryNavigator.ancHistoryUrl(element.id)"
            class="tc-link"
            >{{ element.id }}</a
          >
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('anc_historys') ||
              tcAuthorization.canDelete('anc_historys')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editAncHistory(element)"
              *ngIf="tcAuthorization.canUpdate('anc_historys')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteAncHistory(element)"
              *ngIf="tcAuthorization.canDelete('anc_historys')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="ancHistorysDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ancHistorysDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(ancHistorySelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="ancHistorysTotalCount"
      [ngStyle]="{ display: ancHistorysTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
