<h1 mat-dialog-title>
 {{appTranslation.getText("patient", "outside_order")}}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="outside_orderssSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="outside_ordersPersist.outside_ordersSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="outside_orderssSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="outside_orderssIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="outside_orderssData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(outside_orderssData,outside_orderssSelection) "
            [checked]=" tcUtilsArray.isAllSelected(outside_orderssData,outside_orderssSelection)"
            [indeterminate]="outside_orderssSelection.length <outside_orderssData.length && outside_orderssSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="outside_orderssSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{outside_orderssSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="outside_orderssSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(outside_orderssSelection,row) : null"
                        [checked]="tcUtilsArray.contains(outside_orderssSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(outside_orderssSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="birth_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','birthdate')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.birth_date}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="sex">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','gender')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.sex}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="file_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>file_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.file_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="serial_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','id_number')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.serial_id}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="outside_orderssDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: outside_orderssDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(outside_orderssSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="outside_orderssTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" outside_orderssSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
