<mat-tab-group>
  <mat-tab label="Admission">
    <mat-toolbar class="tc-toolbar-secondary">
      <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
        {{appTranslation.getText("patient", "admission_forms")}}
      </h3>

      <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)=" searchAdmission_Forms();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
    </mat-toolbar>

    <div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="admission_formsSearchTextBox"
          placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="admission_formPersist.admissionFormSearchHistory.search_text" matSuffix mat-icon-button
          aria-label="Clear" (click)="admission_formsSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Filter"
          [(value)]="admission_formPersist.admissionFormSearchHistory.search_column"
          multiple="true"
          (valueChange)="searchAdmission_Forms()">
          <mat-option *ngFor="let etype of admissionFormFilterColumn" [value]="etype.id">
           {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field>
          <mat-select placeholder="{{ appTranslation.getText('general', 'status') }}"
                      [(value)]="admission_formPersist.admission_status"
                      (valueChange)="searchAdmission_Forms()">
            <mat-option *ngFor="let etype of admission_formPersist.admission_form_status" [value]="etype.id">
              {{etype.name}}
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="admission_formPersist.asmission_status" matSuffix mat-icon-button aria-label="Clear"
                  (click)="admission_formPersist.admission_status = -1;searchAdmission_Forms();$event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field> -->

      <div class="tc-loading" *ngIf="admission_formsIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let admission_form of admission_formsData" class="tc-card">
          <mat-card-header>
            <mat-card-title>
              <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="!isDischarged(admission_form)">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
                <button mat-menu-item (click)="bookBedroom(admission_form)">
                  <mat-icon fontSet="fa" fontIcon="fa-bed"></mat-icon>
                  <span>Book </span>
                </button>
                <button mat-menu-item (click)="rejectRequest(admission_form)">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>Reject </span>
                </button>
              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="tc-detail-field">
              <span>serial_id</span>
              {{admission_form.serial_id}}
            </div>
            <!-- <div class="tc-detail-field">
                <span>{{appTranslation.getText('employee', 'doctor')}}</span>
                <a
                  [routerLink]="role != physicianType.nurse ? doctorNavigator.doctorUrl(admission_form.admitting_doctor_id) : ''">
                  {{ getUserName(admission_form.admitting_doctor_id)? getUserName(admission_form.admitting_doctor_id) : "" }}
                </a>
              </div> -->
            <div class="tc-detail-field">
              <span>{{appTranslation.getText('general', 'date')}}</span>
              {{ tcUtilsDate.toDate(admission_form.admission_date)|date:'MMM dd, yyyy. h:mm a'}}
            </div>
            <!-- <div class="tc-detail-field">
                <span>{{appTranslation.getText('employee', 'nurse')}}</span>
                <a [routerLink]="role != physicianType.nurse ? doctorNavigator.doctorUrl(admission_form.nurse_id) : ''">
                  {{ getDoctorFullName(admission_form.nurse_id) }}
                </a>
              </div> -->
            <!-- <div class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'patient')}}</span>
                <a class="tc-link" [routerLink]="role != physicianType.nurse ? patientNavigator.patientUrl(admission_form.patient_id) : ''">
                  {{ getPatientFullName(admission_form.patient_id) }}
                </a>
              </div> -->
            <div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', 'next_of_kin_name')}}</span>
              {{admission_form.next_of_kin_name}}
            </div>
            <div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', 'next of kin address')}}</span>
              {{admission_form.next_of_kin_address}}
            </div>
            <div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', 'next_of_kin_phone')}}</span>
              {{admission_form.next_of_kin_phone}}
            </div>
            <div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', 'next_of_kin_email')}}</span>
              {{admission_form.next_of_kin_email}}
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="admission_formsSelection.length >0 || admission_formsSelectAll">
          <button mat-button (click)="downloadAdmission_Forms()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
          </button>
          <div class="tc-flex-fill"></div>
          <span>{{admission_formsSelectAll ? admission_formsTotalCount : admission_formsSelection.length}}
            {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="admission_formsData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(admission_formsData,admission_formsSelection) "
                [checked]=" tcUtilsArray.isAllSelected(admission_formsData,admission_formsSelection) || admission_formsSelectAll"
                [indeterminate]="admission_formsSelection.length <admission_formsData.length && admission_formsSelection.length>0"
                [disabled]="admission_formsSelectAll">
              </mat-checkbox>

              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="admission_formsSelectAllMenu">
                </mat-icon>
              </button>
              <mat-menu #admission_formsSelectAllMenu="matMenu">


                <button mat-menu-item (click)="admission_formsSelectAll=true;" [disabled]="admission_formsSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item (click)="admission_formsSelectAll = false;"
                  [disabled]="!admission_formsSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(admission_formsSelection,row) : null"
                [checked]="tcUtilsArray.contains(admission_formsSelection,row) || admission_formsSelectAll"
                [disabled]="admission_formsSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="admission_formNavigator.admission_formUrl(element.id)" class="tc-link">{{element.id}}</a>
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="admitting_doctor_id">
              <mat-header-cell *matHeaderCellDef
                               mat-sort-header>{{appTranslation.getText('employee', 'doctor')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a [routerLink]="role != physicianType.nurse ? doctorNavigator.doctorUrl(element.admitting_doctor_id) : ''">
                  {{ getUserName(element.admitting_doctor_id)? getUserName(element.admitting_doctor_id): "  " }}
                </a>
              </mat-cell>
            </ng-container> -->

          <ng-container matColumnDef="admission_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general', 'date')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.admission_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="nurse_id">
              <mat-header-cell *matHeaderCellDef
                               mat-sort-header>{{appTranslation.getText('employee', 'nurse')}}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a [routerLink]="role != physicianType.nurse ? doctorNavigator.doctorUrl(element.nurse_id) : ''">
                  {{ getDoctorFullName(element.nurse_id) }}
                </a>
              </mat-cell>
            </ng-container> -->

          <ng-container matColumnDef="patient_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'patient')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a class="tc-link" [routerLink]="patientNavigator.patientUrl(element.patient_id)">
                {{ element.patient_name }}
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="department_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.department_specialty_name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="p.pid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>MRN</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="ward_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Ward</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.ward_name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="expected_date_of_discharge">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Expected date of discharge</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.expected_days_of_required}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="admission_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Admission Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(admission_formPersist.AdmissionType,
              element.admission_type)?.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="urgency">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Urgency</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(formEncounterPersist.bedAssignmentStatuses,
              element.urgency)?.name)}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="next_of_kin_email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
              'next_of_kin_email')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.next_of_kin_email}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="!isDischarged(element)">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <!-- <button mat-menu-item (click)="editAdmission_Form(element)">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general", "edit")}} </span>
                  </button> -->
                <button mat-menu-item (click)="bookBedroom(element)">
                  <mat-icon fontSet="fa" fontIcon="fa-bed"></mat-icon>
                  <span>Book </span>
                </button>
                <button mat-menu-item (click)="rejectRequest(element)">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>Reject </span>
                </button>
                <!-- <button
                    *ngIf="isNurseAssigned(element)" mat-menu-item
                    (click)="addBedAssignment(element)">
                    <mat-icon fontSet="fa" fontIcon="fa-gavel"></mat-icon>
                    <span>{{appTranslation.getText("patient", "assign_bed")}}</span>
                  </button> -->

                <button mat-menu-item *ngIf="isBedAssigned(element)" (click)="dispatchPatient(element)">
                  <mat-icon fontSet="fa" fontIcon="fa-share-square"></mat-icon>
                  <span>{{appTranslation.getText("patient", "dispatch")}}</span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="admission_formsDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: admission_formsDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(admission_formsSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
          [pageSize]="tcUtilsArray.defaultPageSize" [length]="admission_formsTotalCount"
          [ngStyle]="{display: admission_formsTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Bed Status">
    <ng-template matTabContent>
      <app-bedassignment-edit-list></app-bedassignment-edit-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>