<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <!-- <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
               class="tc-sidebar mat-elevation-z8" position="end">
    <div class="tc-sidebar-inner">
      <div class="tc-padding" *ngIf="!admission_formLoading">
        <h1 class="mat-h1 ">{{appTranslation.getText("patient", "admission_form")}}</h1>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == Admission_FormTabs.overview? 'tc-list-item-focus':''"
                       (click)="activeTab = Admission_FormTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav> -->

  <mat-sidenav-content>

    <div class="tc-loading" *ngIf="admission_formLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="activeTab==admission_FormTabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)=" reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </p> -->
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{appTranslation.getText("general", "basicdetails")}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!admission_formLoading">
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('employee', 'doctor')}} </span>
                    {{ getDoctorFullName(admission_formDetail.admitting_doctor_id) }}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'date')}} </span>
                    {{  tcUtilsDate.toDate(admission_formDetail.admission_date)|date:'MMM dd, yyyy. h:mm a'}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient', 'planned_procedure')}} </span>
                    {{admission_formDetail.planned_procedure}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('employee', 'nurse')}} </span>
                    {{ getDoctorFullName(admission_formDetail.nurse_id) }}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient', 'patient')}} </span>
                    {{ getPatientFullName(admission_formDetail.patient_id) }}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient', 'next_of_kin_name')}} </span>
                    {{admission_formDetail.next_of_kin_name}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient', 'next of kin address')}} </span>
                    {{admission_formDetail.next_of_kin_address}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient', 'next_of_kin_phone')}} </span>
                    {{admission_formDetail.next_of_kin_phone}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient', 'next_of_kin_email')}} </span>
                    {{admission_formDetail.next_of_kin_email}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText("general", "id_number")}}</span>
                    {{admission_formDetail.serial_id}}
                  </p>

                </div>
                <mat-action-row>
                  <button mat-button (click)="editAdmission_Form()"
                          *ngIf="tcAuthorization.canUpdate('admission_forms') ">
                    {{appTranslation.getText("general", "edit")}}
                  </button>
                </mat-action-row>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block">
        </div>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



