<div class="tc-flex-row">
  <h1 class="mat-headline">
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<mat-dialog-content>
  <div class="tc-flex-row">
    <mat-form-field *ngIf="!data.is_range">
      <input matInput [matDatepicker]="picker" [(ngModel)]="dt"
             placeholder="{{data.prompt}}" required cdkFocusInitial>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="rangePicker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>

  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{data.cancelLabel |uppercase}}</button>
  <button mat-button (click)="onOk() " [disabled]="dt == undefined">
    {{data.action |uppercase}}
  </button>
</div>