
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     company_credit_service_package  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchCompany_credit_service_packages();" *ngIf="tcAuthorization.canRead('company_credit_service_packages')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addCompany_credit_service_package();" *ngIf="tcAuthorization.canCreate('company_credit_service_packages')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="companyCreditServicePackageSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="companyCreditServicePackagePersist.companyCreditServicePackageSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="companyCreditServicePackageSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="companyCreditServicePackageIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let companyCreditServicePackage of companyCreditServicePackagesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('company_credit_service_packages') || tcAuthorization.canDelete('company_credit_service_packages')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editCompanyCreditServicePackage(companyCreditServicePackage)" *ngIf="tcAuthorization.canUpdate('company_credit_service_packages')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteCompanyCreditServicePackage(companyCreditServicePackage)" *ngIf="tcAuthorization.canDelete('company_credit_service_packages')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="tc-detail-field">
            <span>name</span>
            <a [routerLink]="companyCreditServicePackageNavigator.company_credit_service_packageUrl(companyCreditServicePackage.id)" class="tc-link">
            {{companyCreditServicePackage.name}}
            </a>
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="companyCreditServicePackagesSelection.length >0 || companyCreditServicePackageSelectAll">
        <button mat-button (click)="downloadCompanyCreditServicePackages()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{companyCreditServicePackageSelectAll ? companyCreditServicePackagesTotalCount : companyCreditServicePackagesSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="companyCreditServicePackagesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(companyCreditServicePackagesData,companyCreditServicePackagesSelection) "
              [checked]=" tcUtilsArray.isAllSelected(companyCreditServicePackagesData,companyCreditServicePackagesSelection) || companyCreditServicePackageSelectAll"
              [indeterminate]="companyCreditServicePackagesSelection.length <companyCreditServicePackagesData.length && companyCreditServicePackagesSelection.length>0"
              [disabled]="companyCreditServicePackageSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="companyCreditServicePackageSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #companyCreditServicePackageSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="companyCreditServicePackageSelectAll=true;" [disabled]="companyCreditServicePackageSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="companyCreditServicePackageSelectAll = false;" [disabled]="!companyCreditServicePackageSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(companyCreditServicePackagesSelection,row) : null"
              [checked]="tcUtilsArray.contains(companyCreditServicePackagesSelection,row) || companyCreditServicePackageSelectAll" [disabled]="companyCreditServicePackageSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="company_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>company_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.company_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="companyCreditServicePackageNavigator.company_credit_service_packageUrl(element.id)" class="tc-link">
                {{element.name}}
            </a>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="covered_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>covered amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
                {{element.covered_amount}}
            </mat-cell>
        </ng-container>
  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('company_credit_service_packages') || tcAuthorization.canDelete('company_credit_service_packages')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editCompanyCreditServicePackage(element)" *ngIf="tcAuthorization.canUpdate('company_credit_service_packages') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteCompanyCreditServicePackage(element)" *ngIf="tcAuthorization.canDelete('company_credit_service_packages')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="companyCreditServicePackagesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: companyCreditServicePackagesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(companyCreditServicePackagesSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="companyCreditServicePackagesTotalCount"
        [ngStyle]="{display: companyCreditServicePackagesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>