<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="bedroomlevelDetail">

        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder='{{appTranslation.getText("general", "name")}}' type="text" [(ngModel)]="bedroomlevelDetail.name" required>
        </mat-form-field>

        <mat-form-field class="tc-full-stretch">
          <input matInput placeholder="{{ appTranslation.getText('bed', 'price_per_day') }}" type="number"
            [(ngModel)]="bedroomlevelDetail.price_per_day" required />
          <mat-error *ngIf="!isPriceValidTemplate">{{
            appTranslation.getText("bed", "please_enter_a_valid_price")
            }}</mat-error>
        </mat-form-field>

        <mat-form-field class="tc-full-stretch">
            <textarea matInput placeholder='{{appTranslation.getText("general", "remark")}}' type="text" [(ngModel)]="bedroomlevelDetail.remark" > </textarea>
        </mat-form-field>


    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>
