
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     corelated_fee  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchCorelated_fees();" *ngIf="tcAuthorization.canRead('corelated_fees')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addCorelated_fee();" *ngIf="tcAuthorization.canCreate('corelated_fees')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="corelatedFeeSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="corelatedFeePersist.corelatedFeeSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="corelatedFeeSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Fee Type"
                    [(value)]="corelatedFeePersist.fee_type_filter"
                    (valueChange)=" searchCorelated_fees()">
          <mat-option *ngFor="let etype of corelatedFeePersist.fee_type" [value]="etype.id" >
            {{ appTranslation.getTextByIdentifier(etype.name) }}
          </mat-option>
        </mat-select>
        <button mat-button *ngIf="corelatedFeePersist.fee_type_filter" matSuffix mat-icon-button aria-label="Clear"
                (click)="corelatedFeePersist.fee_type_filter = null;searchCorelated_fees();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Sub Fee Type"
                    [(value)]="corelatedFeePersist.sub_type_filter"
                    (valueChange)="searchCorelated_fees()">
          <mat-option *ngFor="let etype of corelatedFeePersist.feeTargetType[corelatedFeePersist.fee_type_filter]" [value]="etype.id" >
            {{ etype.name }}
          </mat-option>
        </mat-select>
        <button mat-button *ngIf="corelatedFeePersist.sub_type_filter" matSuffix mat-icon-button aria-label="Clear"
                (click)="corelatedFeePersist.sub_type_filter = null;searchCorelated_fees();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <div class="tc-loading" *ngIf="corelatedFeeIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let corelated_fee of corelatedFeesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('corelated_fees') || tcAuthorization.canDelete('corelated_fees')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editCorelatedFee(corelated_fee)" *ngIf="tcAuthorization.canUpdate('corelated_fees')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteCorelatedFee(corelated_fee)" *ngIf="tcAuthorization.canDelete('corelated_fees')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>fee_type</span>
            {{corelated_fee.fee_type}}
          </div><div class="tc-detail-field">
            <span>sub_fee_type</span>
            {{corelated_fee.sub_fee_type}}
          </div><div class="tc-detail-field">
            <span>fee_id</span>
            {{corelated_fee.fee_id}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchCorelated_fees.length >0 || corelatedFeeSelectAll">
        <button mat-button (click)="downloadCorelatedFees()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{corelatedFeeSelectAll ? corelatedFeesTotalCount : corelatedFeeSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="corelatedFeesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(corelatedFeesData,corelatedFeeSelection) "
              [checked]=" tcUtilsArray.isAllSelected(corelatedFeesData,corelatedFeeSelection) || corelatedFeeSelectAll"
              [indeterminate]="corelatedFeeSelection.length <corelatedFeesData.length && corelatedFeeSelection.length>0"
              [disabled]="corelatedFeeSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="corelatedFeeSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #corelatedFeeSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="corelatedFeeSelectAll=true;" [disabled]="corelatedFeeSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="corelatedFeeSelectAll = false;" [disabled]="!corelatedFeeSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(corelatedFeeSelection,row) : null"
              [checked]="tcUtilsArray.contains(corelatedFeeSelection,row) || corelatedFeeSelectAll" [disabled]="corelatedFeeSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="fee_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>fee_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(corelatedFeePersist.fee_type, element.fee_type)?.name)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="sub_fee_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>sub_fee_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum((corelatedFeePersist.feeTargetType[element.fee_type] || []), element.sub_fee_type)?.name }}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="fee_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>fee_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getFeeName(element.fee_id)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="target_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>target
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getTargetName(element)}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="corelatedFeeNavigator.corelated_feeUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('corelated_fees') || tcAuthorization.canDelete('corelated_fees')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editCorelatedFee(element)" *ngIf="tcAuthorization.canUpdate('corelated_fees') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteCorelatedFee(element)" *ngIf="tcAuthorization.canDelete('corelated_fees')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="corelatedFeesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: corelatedFeesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(corelatedFeeSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="corelatedFeesTotalCount"
        [ngStyle]="{display: corelatedFeesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>