<h1 mat-dialog-title>
    before_induction_of_anaesthesia Selection
  </h1><div mat-dialog-content> <mat-form-field>
    <input matInput [formControl]="beforeInductionOfAnaesthesiaSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="beforeInductionOfAnaesthesiaPersist.beforeInductionOfAnaesthesiaSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="beforeInductionOfAnaesthesiaSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="beforeInductionOfAnaesthesiaIsLoading">
    <mat-spinner></mat-spinner>
  </div>  
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchBefore_induction_of_anaesthesias.length >0 || beforeInductionOfAnaesthesiaSelectAll">
      <!-- <button mat-button (click)="downloadBeforeInductionOfAnaesthesias()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button> -->
      <div class="tc-flex-fill"></div>
      <span>{{beforeInductionOfAnaesthesiaSelectAll ? beforeInductionOfAnaesthesiasTotalCount : beforeInductionOfAnaesthesiaSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="beforeInductionOfAnaesthesiasData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(beforeInductionOfAnaesthesiasData,beforeInductionOfAnaesthesiaSelection) "
            [checked]=" tcUtilsArray.isAllSelected(beforeInductionOfAnaesthesiasData,beforeInductionOfAnaesthesiaSelection) || beforeInductionOfAnaesthesiaSelectAll"
            [indeterminate]="beforeInductionOfAnaesthesiaSelection.length <beforeInductionOfAnaesthesiasData.length && beforeInductionOfAnaesthesiaSelection.length>0"
            [disabled]="beforeInductionOfAnaesthesiaSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="beforeInductionOfAnaesthesiaSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #beforeInductionOfAnaesthesiaSelectAllMenu="matMenu">

            <button mat-menu-item (click)="beforeInductionOfAnaesthesiaSelectAll=true;" [disabled]="beforeInductionOfAnaesthesiaSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="beforeInductionOfAnaesthesiaSelectAll = false;" [disabled]="!beforeInductionOfAnaesthesiaSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(beforeInductionOfAnaesthesiaSelection,row) : null"
            [checked]="tcUtilsArray.contains(beforeInductionOfAnaesthesiaSelection,row) || beforeInductionOfAnaesthesiaSelectAll" [disabled]="beforeInductionOfAnaesthesiaSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="patient_confirmed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_confirmed
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_confirmed}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="is_the_site_marked">
        <mat-header-cell *matHeaderCellDef mat-sort-header>is_the_site_marked
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_the_site_marked}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="is_the_pulse_oximeter_on_the_patient_and_functioning">
        <mat-header-cell *matHeaderCellDef mat-sort-header>is_the_pulse_oximeter_on_the_patient_and_functioning
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_the_pulse_oximeter_on_the_patient_and_functioning}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="known_allergy">
        <mat-header-cell *matHeaderCellDef mat-sort-header>known_allergy
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.known_allergy}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="difficult_airway_or_aspiration_risk">
        <mat-header-cell *matHeaderCellDef mat-sort-header>difficult_airway_or_aspiration_risk
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.difficult_airway_or_aspiration_risk}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="risk_of_500ml_blood_loss">
        <mat-header-cell *matHeaderCellDef mat-sort-header>risk_of_500ml_blood_loss
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.risk_of_500ml_blood_loss}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="anaesthesia_machine_checkup">
        <mat-header-cell *matHeaderCellDef mat-sort-header>anaesthesia_machine_checkup
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anaesthesia_machine_checkup}}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="beforeInductionOfAnaesthesiasDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: beforeInductionOfAnaesthesiasDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(beforeInductionOfAnaesthesiaSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="beforeInductionOfAnaesthesiasTotalCount"
      [ngStyle]="{display: beforeInductionOfAnaesthesiasTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" beforeInductionOfAnaesthesiaSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>