<h1 mat-dialog-title>
  <mat-icon fontSet="fa" fontIcon="fa-wallet"></mat-icon>
  {{appTranslation.getText("financial", "deposit")}}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="depositsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="depositPersist.depositSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
        (click)="depositsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="depositsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="depositsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(depositsData,depositsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(depositsData,depositsSelection)"
            [indeterminate]="depositsSelection.length <depositsData.length && depositsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="depositsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{depositsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="depositsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(depositsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(depositsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(depositsSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>
                          
<ng-container matColumnDef="current_amount ">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','current_amount')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.current_amount }}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="patient_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="remark">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','remark')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="depositsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: depositsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(depositsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="depositsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" depositsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
