<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="procedure_orderDetail && !showProcedureOrderCodeForm">

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{ appTranslation.getText("procedure", "lab") }}</mat-label>
      <input matInput disabled [(ngModel)]="labName"/>
      <button
        mat-icon-button
        matTooltip='{{ appTranslation.getText("procedure", "lab") }}'
        matSuffix
        color="primary"
        (click)="searchProcedureProvide()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>



    <mat-form-field class="tc-full-stretch">
      <mat-select [(value)]="procedure_orderDetail.order_priority"
                  placeholder="{{ appTranslation.getText('bed', 'priority') }}">
        <mat-option *ngFor="let procPriority of procedurePriority" [value]="procPriority.value">
          {{ appTranslation.getText("procedure", procPriority.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  
    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder="{{appTranslation.getText('procedure','patient_instructions')}}" type="text"
                [(ngModel)]="procedure_orderDetail.patient_instructions" required></textarea>
    </mat-form-field>

   


  </div>

  <div *ngIf="showProcedureOrderCodeForm">

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='{{appTranslation.getText("procedure", "procedure_type")}}'
                  [(ngModel)]="currentProcedureOrderCode.procedure_type">
        <mat-option *ngFor="let proTypes of procedureType" [value]="proTypes.value">
          {{ appTranslation.getText("procedure", proTypes.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="tc-flex-row">

      <mat-form-field class="tc-full-stretch">
        <mat-label>{{
          appTranslation.getText("procedure", "order_diagnosis")
          }}</mat-label>
        <input
          matInput
          placeholder="{{ appTranslation.getText('procedure', 'procedure_test_name') }}"
          type="text" disabled
          [(ngModel)]="currentProcedureOrderCode.procedure_name"
          required
        />
        <button
          mat-icon-button
          matTooltip="{{ appTranslation.getText('procedure', 'procedure_test_name') }}"
          matSuffix
          color="primary"
          (click)="pickDiagnosisTest()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder='{{appTranslation.getText("procedure", "procedure_test_code")}}' type="text"
               [(ngModel)]="currentProcedureOrderCode.procedure_code" required disabled>
      </mat-form-field>
    </div>


    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("procedure", "order_diagnosis")
        }}</mat-label>
      <input
        matInput
        placeholder="{{ appTranslation.getText('procedure', 'order_diagnosis') }}"
        type="text"
        [(ngModel)]="diagnosisDescription"
        required
      />
      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('procedure', 'order_diagnosis') }}"
        matSuffix
        color="primary"
        (click)="pickDiagnosisCode()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>


    <div *ngIf="procedureOrderCodes.length > 0">
      <table mat-table [dataSource]="procedureOrderCodes" class="mat-elevation-z3"
             style="width: 100%; margin-bottom: 10px">

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>{{appTranslation.getText("general", "delete")}}</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="removeProcedureOrderCode(element.procedure_order_seq)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="procedure_type">
          <th mat-header-cell *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_type")}}</th>
          <td mat-cell
              *matCellDef="let element"> {{ appTranslation.getText("procedure", element.procedure_type) }} </td>
        </ng-container>

        <ng-container matColumnDef="procedure_test">
          <th mat-header-cell *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_test")}}</th>
          <td mat-cell *matCellDef="let element"> {{ element.procedure_name }} </td>
        </ng-container>

        <ng-container matColumnDef="diagnosis_code">
          <th mat-header-cell *matHeaderCellDef>{{appTranslation.getText("procedure", "diagnosis_codes")}}</th>
          <td mat-cell *matCellDef="let element"> {{ element.diagnoses }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </div>

</div>

<div mat-dialog-actions>
  <!--  for both add and edit-->
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>

  <!--  for add only-->
  <button *ngIf="isNew()" mat-button (click)="toggleShowProcedureOrderCodeForm()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    <ng-container *ngIf="!showProcedureOrderCodeForm">
      {{appTranslation.getText('general', 'next')}}
    </ng-container>
    <ng-container *ngIf="showProcedureOrderCodeForm">
      {{appTranslation.getText("general", "back")}}
    </ng-container>
  </button>
  <button mat-button *ngIf="showProcedureOrderCodeForm && isNew()" [disabled]="!canSubmitProcedureCode()"
          (click)="addProcedureOrderCode()">{{appTranslation.getText("inventory", "add_to_list")}}</button>
  <button mat-button *ngIf="showProcedureOrderCodeForm && isNew()" [disabled]="procedureOrderCodes.length == 0"
          (click)="saveProcedure()">{{appTranslation.getText("general", "save")}}</button>

  <!--  for update only-->
  <button *ngIf="isEdit()" mat-button (click)="onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
