<h1 mat-dialog-title>
    OutsourcingCompany Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="OutsourcingCompanysSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="OutsourcingCompanyPersist.OutsourcingCompanySearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="OutsourcingCompanysSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="OutsourcingCompanysIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="OutsourcingCompanysData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(OutsourcingCompanysData,OutsourcingCompanysSelection) "
              [checked]=" tcUtilsArray.isAllSelected(OutsourcingCompanysData,OutsourcingCompanysSelection)"
              [indeterminate]="OutsourcingCompanysSelection.length <OutsourcingCompanysData.length && OutsourcingCompanysSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="OutsourcingCompanysSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{OutsourcingCompanysSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="OutsourcingCompanysSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(OutsourcingCompanysSelection,row) : null"
                          [checked]="tcUtilsArray.contains(OutsourcingCompanysSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(OutsourcingCompanysSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="tin_no">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>tin_no</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.tin_no}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="max_payment">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>max_payment</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.max_payment}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="phone_no">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>phone_no</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.phone_no}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="address">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>address</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="duration">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>duration</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.duration}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="percentage">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>percentage</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.percentage}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="insurance_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>insurance_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.insurance_id}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="OutsourcingCompanysDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: OutsourcingCompanysDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(OutsourcingCompanysSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="OutsourcingCompanysTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" OutsourcingCompanysSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  