<h1 mat-dialog-title>Ordered Dialysis Selection</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="orderDialysisSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }}"
    />
    <button
      mat-button
      *ngIf="formEncounterPersist.orderDialysisSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="orderDialysisSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="orderDialysisIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">
    <mat-table [dataSource]="orderDialysissData" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(orderDialysissData, orderDialysisSelection)
            "
            [checked]="
              tcUtilsArray.isAllSelected(orderDialysissData, orderDialysisSelection)
            "
            [indeterminate]="
            orderDialysisSelection.length < orderDialysissData.length &&
            orderDialysisSelection.length > 0
            "
            *ngIf="!selectOne"
          >
          </mat-checkbox>
          <button
            mat-button
            *ngIf="orderDialysisSelection.length > 0 && !selectOne"
            [mat-menu-trigger-for]="collectionMenu"
          >
            <i class="material-icons">more_vert</i>

            <span
              matBadge="{{ orderDialysisSelection.length }}"
              matBadgePosition="above after"
              matBadgeOverlap="false"
              [matBadgeHidden]="orderDialysisSelection.length == 0"
              style="margin-right: 10px"
            ></span>
          </button>
          <mat-menu #collectionMenu="matMenu">
            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(orderDialysisSelection, row)
                : null
            "
            [checked]="tcUtilsArray.contains(orderDialysisSelection, row)"
            *ngIf="!selectOne"
          >
          </mat-checkbox>

          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? markOneItem(row) : null"
            [checked]="tcUtilsArray.contains(orderDialysisSelection, row)"
            *ngIf="selectOne"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="patient_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element?.patient_name}}</mat-cell>
      </ng-container>
     


      <ng-container matColumnDef="sub_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Sub Type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{tcUtilsArray.getById(formEncounterPersist.dialysisType,element.sub_type)?.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          > Type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{tcUtilsArray.getById(formEncounterPersist.dialysisType,element.type)?.name}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="frequency">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Frequency
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.frequency}}
         </mat-cell>
      </ng-container>


      <mat-header-row
        *matHeaderRowDef="orderDialysissDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: orderDialysissDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(orderDialysisSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [length]="orderDialysissTotalCount"
    ></mat-paginator>
  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="orderDialysisSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
