<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <!-- <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
        class="tc-sidebar mat-elevation-z8" position="end">
        <div class="tc-sidebar-inner">
            <div class="tc-padding" *ngIf="!consultingIsLoading">
                <h1 class="mat-h1 ">{{consultingDetail.id}} </h1>
            </div>
            <mat-nav-list>
                <mat-list-item [ngClass]="activeTab == ConsultingTabs.overview? 'tc-list-item-focus':''"
                    (click)="activeTab = ConsultingTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                    <a>
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </mat-sidenav> -->
    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="consultingIsLoading">
            <mat-spinner></mat-spinner>
        </div>

        <div [ngClass]="activeTab==ConsultingTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
                <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                    <button mat-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </p> -->
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block  width">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="!consultingIsLoading">
                                    <p class="tc-detail-field">
                                        consulting speciality <span> {{tcUtilsArray.getById(departments, tcUtilsArray.getById(departmentsSpeciality, consultingDetail.consulting_dept_id)?.department_id)?.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tcUtilsArray.getById(departmentsSpeciality, consultingDetail.consulting_dept_id)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        consulting_doctor_id <span>
                                            {{getDoctorFullName(consultingDetail.consulting_doctor_id)}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        date <span> {{tcUtilsDate.toDate( consultingDetail.date)|date}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        urgent <span> {{consultingDetail.urgent}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        patient_convinience <span> {{consultingDetail.patient_convinience}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        brief_history <span> {{consultingDetail.brief_history}} </span>
                                    </p>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block" *ngIf="consultingDetail.clinical_finding">
                    <mat-accordion>
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <!-- {{appTranslation.getText("general","basicdetails")}} -->
                                    response
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div *ngIf="!consultingIsLoading">


                                <p class="tc-detail-field">
                                    clinical finding <span> {{consultingDetail.clinical_finding}} </span>

                                </p>
                                <p class="tc-detail-field">
                                    Treatment <span> {{consultingDetail.treatment}} </span>

                                </p>
                                <p>
                                    Date
                                    <span> {{tcUtilsDate.toDate(consultingDetail.report_date)|date}} </span>
                                </p>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>