
    <mat-toolbar class="tc-toolbar-secondary">
      <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-history"></mat-icon>
        {{appTranslation.getText("patient", "history")}}
      </h3>

      <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)=" searchHistorys();" *ngIf="tcAuthorization.canRead('medical_historys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
      <button mat-button (click)=" addHistory();" *ngIf="tcAuthorization.canCreate('medical_historys') && edit && form_encounterPersist.encounter_is_active" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      </button>
    </mat-toolbar>

    <div class="tc-padding">

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="historysSelection.length >0 || historysSelectAll">
          <button mat-button (click)="downloadHistorys()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
          </button>
          <div class="tc-flex-fill"></div>
          <span>{{historysSelectAll ? historysTotalCount : historysSelection.length}}
            {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <div class="tc-flex-row tc-full-width" *ngIf="historysData.length > 0">
          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{appTranslation.getText('patient','chief_complaint')}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!historysIsLoading">

                    <textarea rows="10" style="   width: 100%;" disabled>
                    {{ historysData[0]?.chief_complaint }}
                    </textarea>


                  </div>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>

          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ appTranslation.getText("patient", "hpi") }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!historysIsLoading">
                    <textarea rows="10" style="   width: 100%;" disabled>
                    {{ historysData[0]?.hpi }}
                    </textarea>
                  </div>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>
        </div>
        <div class="tc-flex-row tc-full-width" *ngIf="historysData.length > 0">
          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{appTranslation.getText('patient','past_medical_history')}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!historysIsLoading">

                    <textarea rows="10" style="   width: 100%;" disabled>
                    {{ historysData[0]?.past_medical_history }}
                    </textarea>


                  </div>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>

          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ appTranslation.getText("patient", "medical_history") }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!historysIsLoading">
                    <textarea rows="10" style="   width: 100%;" disabled>
                    {{ historysData[0]?.medical_history }}
                    </textarea>




                  </div>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>
        </div>

        <div class="tc-flex-row tc-full-width" *ngIf="historysData.length > 0">
          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{appTranslation.getText('patient','family_history')}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!historysIsLoading">

                    <textarea rows="10" style="   width: 100%;" disabled>
                    {{ historysData[0]?.family_history }}
                    </textarea>


                  </div>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>

          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ appTranslation.getText("patient", "socail_history") }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!historysIsLoading">
                    <textarea rows="10" style="   width: 100%;" disabled>
                    {{ historysData[0]?.social_history }}
                    </textarea>
                  </div>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>
        </div>

        <div class="tc-flex-row tc-full-width" *ngIf="historysData.length > 0">
          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{appTranslation.getText('patient','occupation_history')}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!historysIsLoading">

                    <textarea rows="10" style="   width: 100%;" disabled>
                    {{ historysData[0]?.occupation_history }}
                    </textarea>


                  </div>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>

          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ appTranslation.getText("patient", "obstrtrics_history") }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!historysIsLoading">
                    <textarea rows="10" style="   width: 100%;" disabled>
                    {{ historysData[0]?.obstetrics_history }}
                    </textarea>




                  </div>
                </mat-expansion-panel>

              </mat-accordion>
            </div>
          </div>
        </div>
        <mat-table [dataSource]="historysData" matSort class=" tc-hide-on-desktop tc-hide-on-tablet">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(historysData,historysSelection) "
                [checked]=" tcUtilsArray.isAllSelected(historysData,historysSelection) || historysSelectAll"
                [indeterminate]="historysSelection.length <historysData.length && historysSelection.length>0"
                [disabled]="historysSelectAll">
              </mat-checkbox>

              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="historysSelectAllMenu">
                </mat-icon>
              </button>
              <mat-menu #historysSelectAllMenu="matMenu">


                <button mat-menu-item (click)="historysSelectAll=true;" [disabled]="historysSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item (click)="historysSelectAll = false;" [disabled]="!historysSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(historysSelection,row) : null"
                [checked]="tcUtilsArray.contains(historysSelection,row) || historysSelectAll"
                [disabled]="historysSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="historyNavigator.historyUrl(element.id)" class="tc-link">{{element.id}}</a>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="chief_complaint">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','chief_complaint')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.chief_complaint}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="hpi">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','hpi')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.hpi}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="past_medical_history">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{appTranslation.getText('patient','past_medical_history')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.past_medical_history}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="medical_history">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','medical_history')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.medical_history}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="family_history">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','family_history')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.family_history}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="social_history">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','socail_history')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.social_history}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="occupation_history">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{appTranslation.getText('patient','occupation_history')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.occupation_history}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="obstetrics_history">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{appTranslation.getText('patient','obstrtrics_history')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.obstetrics_history}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="encounter">
            <mat-header-cell *matHeaderCellDef mat-sort-header>encounter</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.encounter}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canUpdate('historys') || tcAuthorization.canDelete('historys')&& edit && form_encounterPersist.encounter_is_active">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editHistory(element)" *ngIf="tcAuthorization.canUpdate('historys') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteHistory(element)" *ngIf="tcAuthorization.canDelete('historys')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="historysDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: historysDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(historysSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
          [pageSize]="tcUtilsArray.defaultPageSize" [length]="historysTotalCount"
          [ngStyle]="{display: historysTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>