<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="transferDetail && remaining">
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>Item Received</mat-label>
                            <input
                              matInput
                              placeholder="item Received"
                              type="text"
                              disabled
                              [(ngModel)]="transferDetail.item_batch_no"
                              required
                            >
                            <button
                              mat-icon-button
                              matTooltip="Item Received"
                              matSuffix
                              color="primary"
                              (click)="SearchItemReceived()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>       
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="quantity" type="number"  [(ngModel)]="transferDetail.quantity" required>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch" >
                          <mat-select
                            placeholder="Unit"
                            [(value)]="transferDetail.transfer_unit" disabled
                            required>
                            <mat-option *ngFor="let etype of requestPersist.units" [value]="etype.id">
                             {{appTranslation.getTextByIdentifier(etype.name)}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        </div>

 </div>

<h3 *ngIf="isNew() && remaining">&nbsp;&nbsp;&nbsp;  requested : {{remaining}}</h3>
 <div *ngIf="transferDetailList.length > 0">
  <mat-table [dataSource]="transferDetailList" matSort class="mat-elevation-z2" style="margin-bottom: 10px">
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
      <mat-cell *matCellDef="let element" class="tc-column-action">

        <button mat-menu-item (click)="removeFromList(element)">
          <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
        </button>

      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
      <mat-cell *matCellDef="let element" class="tc-column-action">

        <button mat-menu-item (click)="editFromList(element)">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
        </button>

      </mat-cell>
    </ng-container><ng-container matColumnDef="transfer_request_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_request_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.transfer_request_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="item_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>item
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{item_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="batch_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>batch no
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.item_batch_no}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="remaining">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Remaining
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.remaining}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units, element.unit)?.name)}}</mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="transfersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: transfersDisplayedColumns;"></mat-row>
    </mat-table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()?AddToList():onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    add to list
  </button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSave()" cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>