
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-clipboard-list"></mat-icon>
      {{appTranslation.getText("procedure", "result")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" onTabChange();" *ngIf="(tcAuthorization.canRead('laboratory_orders') || tcAuthorization.canRead('radiology_orders') || tcAuthorization.canRead('pathology_orders'))" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>

    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patient_id">
      <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
  >
    {{appTranslation.getText("patient", "show_current")}}
  </mat-slide-toggle>
</h1>

  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="labOrderssSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="ordersPersist.resultSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
                  (click)="labOrderssSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event);">
          <mat-tab label="Laboratory Result" *ngIf="tcAuthorization.canRead('laboratory_orders')">
            <div class="tc-loading" *ngIf="labOrderssIsLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
              <mat-card *ngFor="let orders of labOrderssData" class="tc-card" >
                      <mat-card-header>
                            <mat-card-title> 
                              <a [routerLink]="ordersNavigator.ordersUrl(orders.id)"
                                 class="tc-link">  {{orders.generated_sample_id}}</a>
                                                                          </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                       </mat-card-header>
                      <mat-card-content>
                          <div class="tc-detail-field">
                  <span>future_date</span>
                  {{tcUtilsDate.toDate(orders.future_date / 1000)|date:'MMM dd, yyyy. h:mm a'}}
                </div>
      <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.total_order}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.completed}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.rejected}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.requested}}
                </div>
      <div class="tc-detail-field">
                  <span>urgency</span>
                  {{orders.urgency}}
                </div>
      <div class="tc-detail-field">
                  <span>total_price</span>
                  {{orders.total_price}}
                </div>
      <div class="tc-detail-field">
                  <span>paid</span>
                  {{orders.paid}}
                </div>
                      </mat-card-content>
              </mat-card>
            </div>
      
            <div class="tc-table-container tc-full-width">
      
              <mat-toolbar *ngIf="labOrderssSelection.length >0 || labOrderssSelectAll">
                        <button mat-button (click)="downloadOrderss()">
                          <mat-icon>save_alt</mat-icon>
                          <span>{{appTranslation.getText("general", "download")}} </span>
                        </button>
                        <div class="tc-flex-fill"></div>
                        <span>{{labOrderssSelectAll ? labOrderssTotalCount : labOrderssSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
              </mat-toolbar>
      
              <mat-table [dataSource]="labOrderssData" matSort class="tc-hide-on-mobile">
      
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)=" tcUtilsArray.toggleSelectAll(labOrderssData,labOrderssSelection) "
                      [checked]=" tcUtilsArray.isAllSelected(labOrderssData,labOrderssSelection) || labOrderssSelectAll"
                      [indeterminate]="labOrderssSelection.length <labOrderssData.length && labOrderssSelection.length>0"
                      [disabled]="labOrderssSelectAll">
                    </mat-checkbox>
                    
                    <button mat-icon-button>
                      <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="orderssSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #orderssSelectAllMenu="matMenu">
          
          
                      <button mat-menu-item
                              (click)="labOrderssSelectAll=true;"
                              [disabled]="labOrderssSelectAll">
                        {{appTranslation.getText("general", "all")}}
                      </button>
                      <button mat-menu-item
                              (click)="labOrderssSelectAll = false;"
                              [disabled]="!labOrderssSelectAll">
                        {{appTranslation.getText("general", "none")}}
                      </button>
                    </mat-menu>
      
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? tcUtilsArray.toggleSelection(labOrderssSelection,row) : null"
                                  [checked]="tcUtilsArray.contains(labOrderssSelection,row) || labOrderssSelectAll"
                                  [disabled]="labOrderssSelectAll">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="patient_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','generated_sample_id')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a [routerLink]="ordersNavigator.ordersUrl(element.id)" class="tc-link">{{element.generated_sample_id}}
                    </a>
                    </mat-cell>
               </ng-container>

               <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                  <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canRead('laboratory_orders')">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <mat-menu #elementMenu="matMenu">
                    <button mat-menu-item (click)="printResult(element)" *ngIf="tcAuthorization.canRead('laboratory_orders')">
                      <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
                      <span>{{appTranslation.getText("procedure", "print_result")}} </span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
      
                <ng-container matColumnDef="future_date">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','date')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.future_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                                   </ng-container>
                                
      <ng-container matColumnDef="total_order">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','total_order')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.total_order}}</mat-cell>
                                   </ng-container>
                                   <ng-container matColumnDef="sample_collection">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sample Remaining</mat-header-cell>
                                    <mat-cell (click)="handleSelectedOrder.emit(element)" class="tc-link" *matCellDef="let element">{{element.sample_to_be_collected}}</mat-cell>
                                 </ng-container>
                                   <ng-container matColumnDef="completed">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','completed')}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.completed}}</mat-cell>
                                 </ng-container>
                                 <ng-container matColumnDef="rejected">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','rejected')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.rejected}}</mat-cell>
                               </ng-container>
                               <ng-container matColumnDef="requested">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','requested')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.requested}}</mat-cell>
                             </ng-container>
                                
      <ng-container matColumnDef="urgency">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','urgency')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{appTranslation.getText("patient", tcUtilsArray.getEnum(ordersPersist.lab_urgency, element.urgency).name)}}</mat-cell>
                                   </ng-container>
                                
      <ng-container matColumnDef="total_price">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','total_price')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
                                   </ng-container>
                                
                                
                                   <ng-container matColumnDef="paid">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','paid')}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="element.paid"></mat-icon>
                                      <mat-icon fontSet="fa" fontIcon="fa-times" *ngIf="!element.paid"></mat-icon>
                                    </mat-cell>
                                  </ng-container>
                <mat-header-row *matHeaderRowDef="labOrderssDisplayedColumns; sticky: true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: labOrderssDisplayedColumns;"
                         [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(labOrderssSelection,row)}"></mat-row>
      
              </mat-table>
      
              <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                             [pageSize]="5"
                             [length]="labOrderssTotalCount"
                             [ngStyle]="{display: labOrderssTotalCount > 0? '':'none'}"></mat-paginator>
            </div>
          </mat-tab>
          <mat-tab label="Radiology Result" *ngIf="tcAuthorization.canRead('radiology_orders')">
            <div class="tc-loading" *ngIf="labOrderssIsLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
              <mat-card *ngFor="let orders of radOrderssData" class="tc-card" >
                      <mat-card-header>
                            <mat-card-title> 
                              <a [routerLink]="ordersNavigator.ordersUrl(orders.id)"
                                 class="tc-link">  {{orders.generated_sample_id}}</a>
                                                                          </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                       </mat-card-header>
                      <mat-card-content>
                          <div class="tc-detail-field">
                  <span>future_date</span>
                  {{tcUtilsDate.toDate(orders.future_date / 1000)|date:'MMM dd, yyyy. h:mm a'}}
                </div>
      <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.total_order}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.completed}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.rejected}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.requested}}
                </div>
      <div class="tc-detail-field">
                  <span>urgency</span>
                  {{orders.urgency}}
                </div>
      <div class="tc-detail-field">
                  <span>total_price</span>
                  {{orders.total_price}}
                </div>
      <div class="tc-detail-field">
                  <span>paid</span>
                  {{orders.paid}}
                </div>
                      </mat-card-content>
              </mat-card>
            </div>
      
            <div class="tc-table-container tc-full-width">
      
              <mat-toolbar *ngIf="radOrderssSelection.length >0 || radOrderssSelectAll">
                        <button mat-button (click)="downloadOrderss()">
                          <mat-icon>save_alt</mat-icon>
                          <span>{{appTranslation.getText("general", "download")}} </span>
                        </button>
                        <div class="tc-flex-fill"></div>
                        <span>{{radOrderssSelectAll ? radOrderssTotalCount : radOrderssSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
              </mat-toolbar>
      
              <mat-table [dataSource]="radOrderssData" matSort class="tc-hide-on-mobile">
      
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)=" tcUtilsArray.toggleSelectAll(radOrderssData,radOrderssSelection) "
                      [checked]=" tcUtilsArray.isAllSelected(radOrderssData,radOrderssSelection) || radOrderssSelectAll"
                      [indeterminate]="radOrderssSelection.length <radOrderssData.length && radOrderssSelection.length>0"
                      [disabled]="radOrderssSelectAll">
                    </mat-checkbox>
                    
                    <button mat-icon-button>
                      <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="orderssSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #orderssSelectAllMenu="matMenu">
          
          
                      <button mat-menu-item
                              (click)="radOrderssSelectAll=true;"
                              [disabled]="radOrderssSelectAll">
                        {{appTranslation.getText("general", "all")}}
                      </button>
                      <button mat-menu-item
                              (click)="radOrderssSelectAll = false;"
                              [disabled]="!radOrderssSelectAll">
                        {{appTranslation.getText("general", "none")}}
                      </button>
                    </mat-menu>
      
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? tcUtilsArray.toggleSelection(radOrderssSelection,row) : null"
                                  [checked]="tcUtilsArray.contains(radOrderssSelection,row) || radOrderssSelectAll"
                                  [disabled]="radOrderssSelectAll">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="patient_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','generated_sample_id')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a [routerLink]="ordersNavigator.ordersUrl(element.id)" class="tc-link">{{element.generated_sample_id}}
                    </a>
                    </mat-cell>
               </ng-container>
               <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                  <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canRead('radiology_orders')">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <mat-menu #elementMenu="matMenu">
                    <button mat-menu-item (click)="printResult(element)" *ngIf="tcAuthorization.canRead('radiology_orders')">
                      <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
                      <span>{{appTranslation.getText("procedure", "print_result")}} </span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
      
                <ng-container matColumnDef="future_date">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','date')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.future_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                                   </ng-container>
                                
      <ng-container matColumnDef="total_order">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','total_order')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.total_order}}</mat-cell>
                                   </ng-container>
                                   <ng-container matColumnDef="completed">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','completed')}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.completed}}</mat-cell>
                                 </ng-container>
                                 <ng-container matColumnDef="rejected">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','rejected')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.rejected}}</mat-cell>
                               </ng-container>
                               <ng-container matColumnDef="requested">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','requested')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.requested}}</mat-cell>
                             </ng-container>
                                
      <ng-container matColumnDef="urgency">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','urgency')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{appTranslation.getText("patient", tcUtilsArray.getEnum(ordersPersist.lab_urgency, element.urgency).name)}}</mat-cell>
                                   </ng-container>
                                
      <ng-container matColumnDef="total_price">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','total_price')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
                                   </ng-container>
                                
                                
                                   <ng-container matColumnDef="paid">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','paid')}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="element.paid"></mat-icon>
                                      <mat-icon fontSet="fa" fontIcon="fa-times" *ngIf="!element.paid"></mat-icon>
                                    </mat-cell>
                                  </ng-container>
                <mat-header-row *matHeaderRowDef="radOrderssDisplayedColumns; sticky: true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: radOrderssDisplayedColumns;"
                         [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(radOrderssSelection,row)}"></mat-row>
      
              </mat-table>
      
              <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                             [pageSize]="5"
                             [length]="radOrderssTotalCount"
                             [ngStyle]="{display: radOrderssTotalCount > 0? '':'none'}"></mat-paginator>
            </div>
          </mat-tab>
          <mat-tab label="Pathology Result" *ngIf="tcAuthorization.canRead('pathology_orders')">
            <div class="tc-loading" *ngIf="labOrderssIsLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
              <mat-card *ngFor="let orders of patOrderssData" class="tc-card" >
                      <mat-card-header>
                            <mat-card-title> 
                              <a [routerLink]="ordersNavigator.ordersUrl(orders.id)"
                                 class="tc-link">  {{orders.generated_sample_id}}</a>
                                                                          </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                       </mat-card-header>
                      <mat-card-content>
                          <div class="tc-detail-field">
                  <span>future_date</span>
                  {{tcUtilsDate.toDate(orders.future_date / 1000)|date:'MMM dd, yyyy. h:mm a'}}
                </div>
      <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.total_order}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.completed}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.rejected}}
                </div>
                <div class="tc-detail-field">
                  <span>total_order</span>
                  {{orders.requested}}
                </div>
      <div class="tc-detail-field">
                  <span>urgency</span>
                  {{orders.urgency}}
                </div>
      <div class="tc-detail-field">
                  <span>total_price</span>
                  {{orders.total_price}}
                </div>
      <div class="tc-detail-field">
                  <span>paid</span>
                  {{orders.paid}}
                </div>
                      </mat-card-content>
              </mat-card>
            </div>
      
            <div class="tc-table-container tc-full-width">
      
              <mat-toolbar *ngIf="patOrderssSelection.length >0 || patOrderssSelectAll">
                        <button mat-button (click)="downloadOrderss()">
                          <mat-icon>save_alt</mat-icon>
                          <span>{{appTranslation.getText("general", "download")}} </span>
                        </button>
                        <div class="tc-flex-fill"></div>
                        <span>{{patOrderssSelectAll ? patOrderssTotalCount : patOrderssSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
              </mat-toolbar>
      
              <mat-table [dataSource]="patOrderssData" matSort class="tc-hide-on-mobile">
      
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)=" tcUtilsArray.toggleSelectAll(patOrderssData,patOrderssSelection) "
                      [checked]=" tcUtilsArray.isAllSelected(patOrderssData,patOrderssSelection) || patOrderssSelectAll"
                      [indeterminate]="patOrderssSelection.length <patOrderssData.length && patOrderssSelection.length>0"
                      [disabled]="patOrderssSelectAll">
                    </mat-checkbox>
                    
                    <button mat-icon-button>
                      <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="orderssSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #orderssSelectAllMenu="matMenu">
          
          
                      <button mat-menu-item
                              (click)="patOrderssSelectAll=true;"
                              [disabled]="patOrderssSelectAll">
                        {{appTranslation.getText("general", "all")}}
                      </button>
                      <button mat-menu-item
                              (click)="patOrderssSelectAll = false;"
                              [disabled]="!patOrderssSelectAll">
                        {{appTranslation.getText("general", "none")}}
                      </button>
                    </mat-menu>
      
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? tcUtilsArray.toggleSelection(patOrderssSelection,row) : null"
                                  [checked]="tcUtilsArray.contains(patOrderssSelection,row) || patOrderssSelectAll"
                                  [disabled]="patOrderssSelectAll">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="patient_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','generated_sample_id')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a [routerLink]="ordersNavigator.ordersUrl(element.id)" class="tc-link">{{element.generated_sample_id}}
                    </a>
                    </mat-cell>
               </ng-container>
               <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                  <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canRead('pathology_orders')">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <mat-menu #elementMenu="matMenu">
                    <button mat-menu-item (click)="printResult(element)" *ngIf="tcAuthorization.canRead('pathology_orders')">
                      <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
                      <span>{{appTranslation.getText("procedure", "print_result")}} </span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
      
                <ng-container matColumnDef="future_date">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','date')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.future_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                                   </ng-container>
                                
      <ng-container matColumnDef="total_order">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','total_order')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.total_order}}</mat-cell>
                                   </ng-container>
                                   <ng-container matColumnDef="completed">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','completed')}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.completed}}</mat-cell>
                                 </ng-container>
                                 <ng-container matColumnDef="rejected">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','rejected')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.rejected}}</mat-cell>
                               </ng-container>
                               <ng-container matColumnDef="requested">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','requested')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.requested}}</mat-cell>
                             </ng-container>
                                
      <ng-container matColumnDef="urgency">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','urgency')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{appTranslation.getText("patient", tcUtilsArray.getEnum(ordersPersist.lab_urgency, element.urgency).name)}}</mat-cell>
                                   </ng-container>
                                
      <ng-container matColumnDef="total_price">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','total_price')}}</mat-header-cell>
                                      <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
                                   </ng-container>
                                
                                
                                   <ng-container matColumnDef="paid">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','paid')}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                      <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="element.paid"></mat-icon>
                                      <mat-icon fontSet="fa" fontIcon="fa-times" *ngIf="!element.paid"></mat-icon>
                                    </mat-cell>
                                  </ng-container>
                <mat-header-row *matHeaderRowDef="patOrderssDisplayedColumns; sticky: true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: patOrderssDisplayedColumns;"
                         [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patOrderssSelection,row)}"></mat-row>
      
              </mat-table>
      
              <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                             [pageSize]="5"
                             [length]="patOrderssTotalCount"
                             [ngStyle]="{display: patOrderssTotalCount > 0? '':'none'}"></mat-paginator>
            </div>
          </mat-tab>
          <mat-tab label="Procedure">
            <ng-template matTabContent>
            <app-patient-procedure-list [procedure_for]="procedureFor.diagnostic" [encounterId]="encounterId" [patient_id]="patient_id" [is_dialog]="true"> </app-patient-procedure-list>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
  
  
  