<h1 mat-dialog-title>
    dialysis Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="dialysisSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="dialysisPersist.dialysisSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="dialysisSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="dialysisIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="dialysissData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(dialysissData,dialysisSelection) "
            [checked]=" tcUtilsArray.isAllSelected(dialysissData,dialysisSelection) || dialysisSelectAll"
            [indeterminate]="dialysisSelection.length <dialysissData.length && dialysisSelection.length>0"
            [disabled]="dialysisSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dialysisSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #dialysisSelectAllMenu="matMenu">

            <button mat-menu-item (click)="dialysisSelectAll=true;" [disabled]="dialysisSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="dialysisSelectAll = false;" [disabled]="!dialysisSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(dialysisSelection,row) : null"
            [checked]="tcUtilsArray.contains(dialysisSelection,row) || dialysisSelectAll" [disabled]="dialysisSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="renal_failure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>renal_failure
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.renal_failure}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="other_reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header>other_reason
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.other_reason}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="drug_overdose">
        <mat-header-cell *matHeaderCellDef mat-sort-header>drug_overdose
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.drug_overdose}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="poisoning">
        <mat-header-cell *matHeaderCellDef mat-sort-header>poisoning
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.poisoning}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="other">
        <mat-header-cell *matHeaderCellDef mat-sort-header>other
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.other}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="full_diagnosis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>full_diagnosis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.full_diagnosis}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="transfer_faculity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_faculity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.transfer_faculity}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="obstractive_cause">
        <mat-header-cell *matHeaderCellDef mat-sort-header>obstractive_cause
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.obstractive_cause}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="underlying_causes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>underlying_causes
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.underlying_causes}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="indication_for_homodialysis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>indication_for_homodialysis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.indication_for_homodialysis}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="physical_exam_and_investigation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>physical_exam_and_investigation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.physical_exam_and_investigation}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="summary_of_image_tests">
        <mat-header-cell *matHeaderCellDef mat-sort-header>summary_of_image_tests
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.summary_of_image_tests}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="relevant_investigation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>relevant_investigation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.relevant_investigation}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="dialysis_acess_data_inserted">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dialysis_acess_data_inserted
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dialysis_acess_data_inserted}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="dry_weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dry_weight
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dry_weight}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="last_HBSAG">
        <mat-header-cell *matHeaderCellDef mat-sort-header>last_HBSAG
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_HBSAG}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="last_HCVAB">
        <mat-header-cell *matHeaderCellDef mat-sort-header>last_HCVAB
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_HCVAB}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="last_PICT">
        <mat-header-cell *matHeaderCellDef mat-sort-header>last_PICT
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_PICT}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="resent_HBSAG">
        <mat-header-cell *matHeaderCellDef mat-sort-header>resent_HBSAG
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.resent_hbsag}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="resent_HCVAB">
        <mat-header-cell *matHeaderCellDef mat-sort-header>resent_HCVAB
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.resent_hcvab}}</mat-cell>
      </ng-container> 
  <ng-container matColumnDef="resent_PICT">
        <mat-header-cell *matHeaderCellDef mat-sort-header>resent_PICT
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.resent_pict}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="dialysis_adequacy">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dialysis_adequacy
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dialysis_adequacy}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="doctor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>doctor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="dialysissDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: dialysissDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dialysisSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="dialysissTotalCount"
      [ngStyle]="{display: dialysissTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" dialysisSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>