<mat-toolbar class="tc-toolbar-secondary ">
    <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-shapes"></mat-icon>
        {{appTranslation.getText('laboratory','lab_test_id')}}
    </h1>
    <button mat-button (click)=" back();" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                    </button>
    <button mat-button (click)=" searchTest_Panels()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>

    <button mat-button (click)=" addLabTest()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

    <mat-spinner diameter="50" *ngIf="test_panelsIsLoading" class="tc-padding"></mat-spinner>

    <div class="tc-padding" [ngStyle]="{display: test_panelsIsLoading ? 'none':''}">
            <mat-form-field>
              <input matInput [formControl]="test_panelsSearchTextBox" placeholder="{{appTranslation.getText('general','search_text')}}">
              <button mat-button *ngIf="test_panelsSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="test_panelsSearchTextBox.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

        

        <div class="tc-table-container tc-full-stretch">

          
            <mat-table [dataSource]="test_panelsData" matSort>

                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)=" tcUtilsArray.toggleSelectAll(test_panelsData,test_panelsSelection) "
                      [checked]=" tcUtilsArray.isAllSelected(test_panelsData,test_panelsSelection)"
                      [indeterminate]="test_panelsSelection.length <test_panelsData.length && test_panelsSelection.length>0">
                    </mat-checkbox>

                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? tcUtilsArray.toggleSelection(test_panelsSelection,row) : null"
                                  [checked]="tcUtilsArray.contains(test_panelsSelection,row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

             
                  
<ng-container matColumnDef="lab_test_id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','lab_test_id')}}</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.lab_test_name}}</mat-cell>
                     </ng-container>
                     <ng-container matColumnDef="lab_test_sequence">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Sequence</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.lab_test_sequence}}</mat-cell>
                   </ng-container>
                  

                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                  <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                      <button mat-menu-item (click)="editLabTest(element.id)">
                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                        <span>{{appTranslation.getText("general","edit")}} </span>
                      </button>
                      <button mat-menu-item (click)="deleteTest_Panel(element)">
                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                        <span>{{appTranslation.getText("general","delete")}} </span>
                      </button>
                    </mat-menu>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="test_panelsDisplayedColumns; sticky: true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: test_panelsDisplayedColumns;"
                         [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(test_panelsSelection,row)}">
                </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                                         [pageSize]="5"
                                         [length]="test_panelsTotalCount"
                                         [ngStyle]="{display: test_panelsTotalCount > 0? '':'none'}"></mat-paginator>
          
        </div>
    </div>