
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
    credit_payment_history  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchCredit_payment_historys();" *ngIf="tcAuthorization.canRead('credit_payment_historys')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addCredit_payment_history();" *ngIf="tcAuthorization.canCreate('credit_payment_historys')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="creditPaymentHistorySearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="creditPaymentHistoryPersist.creditPaymentHistorySearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="creditPaymentHistorySearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="creditPaymentHistoryIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
  <mat-card *ngFor="let creditPaymentHistory of creditPaymentHistorysData" class="tc-card">
  <mat-card-header>
    <mat-card-title>
      <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('credit_payment_historys') || tcAuthorization.canDelete('credit_payment_historys')">
        <i class="material-icons">more_vert</i>
      </button>
      <mat-menu #elementMenu="matMenu">

        <button mat-menu-item (click)="editCreditPaymentHistory(creditPaymentHistory)" *ngIf="tcAuthorization.canUpdate('credit_payment_historys')">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <span>{{appTranslation.getText("general","edit")}} </span>
        </button>
        <button mat-menu-item (click)="deleteCreditPaymentHistory(creditPaymentHistory)" *ngIf="tcAuthorization.canDelete('credit_payment_historys')">
          <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
          <span>{{appTranslation.getText("general","delete")}} </span>
        </button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="tc-detail-field">
      <span>patient_id</span>
      {{creditPaymentHistory.patient_id}}
    </div><div class="tc-detail-field">
    <span>user_id</span>
    {{creditPaymentHistory.user_id}}
  </div><div class="tc-detail-field">
    <span>credit_payment_id</span>
    {{creditPaymentHistory.credit_payment_id}}
  </div><div class="tc-detail-field">
    <span>type</span>
    {{creditPaymentHistory.type}}
  </div><div class="tc-detail-field">
    <span>amount</span>
    {{creditPaymentHistory.amount}}
  </div><div class="tc-detail-field">
    <span>date</span>
    {{creditPaymentHistory.date}}
  </div>
  </mat-card-content>
  </mat-card>
</div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchCredit_payment_historys.length >0 || creditPaymentHistorySelectAll">
      <button mat-button (click)="downloadCreditPaymentHistorys()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{creditPaymentHistorySelectAll ? creditPaymentHistorysTotalCount : creditPaymentHistorySelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="creditPaymentHistorysData" matSort class="tc-hide-on-mobile">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)=" tcUtilsArray.toggleSelectAll(creditPaymentHistorysData,creditPaymentHistorySelection) "
                      [checked]=" tcUtilsArray.isAllSelected(creditPaymentHistorysData,creditPaymentHistorySelection) || creditPaymentHistorySelectAll"
                      [indeterminate]="creditPaymentHistorySelection.length <creditPaymentHistorysData.length && creditPaymentHistorySelection.length>0"
                      [disabled]="creditPaymentHistorySelectAll">
        </mat-checkbox>

        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="creditPaymentHistorySelectAllMenu"></mat-icon>
        </button>
        <mat-menu #creditPaymentHistorySelectAllMenu="matMenu">

          <button mat-menu-item (click)="creditPaymentHistorySelectAll=true;" [disabled]="creditPaymentHistorySelectAll">
            {{appTranslation.getText("general", "all")}}
          </button>
          <button mat-menu-item (click)="creditPaymentHistorySelectAll = false;" [disabled]="!creditPaymentHistorySelectAll">
            {{appTranslation.getText("general", "none")}}
          </button>
        </mat-menu>

      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? tcUtilsArray.toggleSelection(creditPaymentHistorySelection,row) : null"
                      [checked]="tcUtilsArray.contains(creditPaymentHistorySelection,row) || creditPaymentHistorySelectAll" [disabled]="creditPaymentHistorySelectAll">
        </mat-checkbox>
      </mat-cell>
    </ng-container>  <ng-container matColumnDef="patient_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
  </ng-container>
    <ng-container matColumnDef="user_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>user_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{user[element.user_id]?.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="credit_payment_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>credit_payment_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.credit_payment_id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>type
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(creditPaymentHistoryPersist.creditPaymentHistoryType, element.type)?.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>amount
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date * 1000 | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="creditPaymentHistoryNavigator.credit_payment_historyUrl(element.id)" class="tc-link">{{element.id}}</a>

      </mat-cell>
    </ng-container>  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
    <mat-cell *matCellDef="let element" class="tc-column-action">
      <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('credit_payment_historys') || tcAuthorization.canDelete('credit_payment_historys')">
        <i class="material-icons">more_vert</i>
      </button>
      <mat-menu #elementMenu="matMenu">
        <button mat-menu-item (click)="editCreditPaymentHistory(element)" *ngIf="tcAuthorization.canUpdate('credit_payment_historys') ">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <span>{{appTranslation.getText("general","edit")}} </span>
        </button>
        <button mat-menu-item (click)="deleteCreditPaymentHistory(element)" *ngIf="tcAuthorization.canDelete('credit_payment_historys')">
          <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
          <span>{{appTranslation.getText("general","delete")}} </span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>  <mat-header-row *matHeaderRowDef="creditPaymentHistorysDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: creditPaymentHistorysDisplayedColumns;"
             [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(creditPaymentHistorySelection,row)}"></mat-row>

  </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize" [length]="creditPaymentHistorysTotalCount"
                   [ngStyle]="{display: creditPaymentHistorysTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
