<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>

  
      
      <div class="tc-padding">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Labratory
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style=" display: flex;flex-wrap: wrap;  ">
              <div style="flex: 0 0 25%; list-style: none;">
                <div class="tc-padding">
                  <div *ngFor="let labOrder of labOrders" class="tc-padding" >
                    <button mat-raised-button    cdkFocusInitial (click)="setLabType(labOrder.id)">
                      {{labOrder.name}}
                    </button>


                  </div>
                </div>
                <div>
                  <h2>Selected</h2>
                  <mat-chip-list *ngFor="let labTests of selectedLabTest">
                    <mat-chip>{{labTests.name}}</mat-chip>
                  
                  </mat-chip-list>

                  <mat-chip-list *ngFor="let panel of selectedLabPanel">
                    <mat-chip>{{panel.name}}</mat-chip>
                  
                  </mat-chip-list>
                </div>
              </div>

              <div style="flex: 0 0 75%; list-style: none;">
                <div >
                  <div class="tc-padding">
                    <div>
                      <h1>Panels</h1>
                      <div >
                        <ul  style=" display: flex;flex-wrap: wrap;  ">
                          <li *ngFor="let labPanel of labPanels" style="flex: 0 0 33.333333%; list-style: none;">
                          <mat-checkbox (click)="$event.stopPropagation()" 
                            (change)="$event ? tcUtilsArray.toggleSelection(selectedLabPanel,labPanel) : null"
                            [checked]="tcUtilsArray.contains(selectedLabPanel,labPanel)">{{labPanel.name}}
                          </mat-checkbox>
                        </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <mat-divider></mat-divider>
                  <h1>Tests</h1>
                  <div class="tc-padding">
                    <div>
                      <ul  style=" display: flex;flex-wrap: wrap;  ">
                        <li class="tc-padding" *ngFor="let labPanel of labTests"  style="flex: 0 0 33.333333%; list-style: none;">
                          <mat-checkbox (click)="$event.stopPropagation()" style="flex: 0 0 33.333333%;"
                            (change)="$event ? tcUtilsArray.toggleSelection(selectedLabTest,labPanel) : null"
                            [checked]="tcUtilsArray.contains(selectedLabTest,labPanel)">{{labPanel.name}}
                          </mat-checkbox>

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <mat-action-row>
            
              <mat-form-field >
                <mat-select placeholder="lab_urgency" [(value)]="laburgency" required>
                  <mat-option *ngFor="let etype of form_encounterPersist.lab_urgency" [value]="etype.id">
                    {{appTranslation.getTextByIdentifier(etype.name)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            

          

                  <button mat-button (click)="orderLabNow()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
                    Save
                  </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="tc-padding">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Radiology
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style=" display: flex;flex-wrap: wrap;  ">
              <div style="flex: 0 0 25%; list-style: none;">
                <div class="tc-padding">
                  <div *ngFor="let rad of radiology" class="tc-padding" >
                    <button mat-raised-button    cdkFocusInitial (click)="setRadType(rad.id)">
                      {{rad.name}}
                    </button>


                  </div>
                </div>
                <div>
                  <h2>Selected</h2>
                  <mat-chip-list *ngFor="let labTests of selectedradTest">
                    <mat-chip>{{labTests.name}}</mat-chip>
                  
                  </mat-chip-list>

                  <mat-chip-list *ngFor="let panel of selectedradPanel">
                    <mat-chip>{{panel.name}}</mat-chip>
                  
                  </mat-chip-list>
                </div>
              </div>

              <div style="flex: 0 0 75%; list-style: none;">
                <div >
                  <div class="tc-padding">
                    <div>
                      <h1>Panels</h1>
                      <div >
                        <ul  style=" display: flex;flex-wrap: wrap;  ">
                          <li *ngFor="let radPanel of radPanels" style="flex: 0 0 33.333333%; list-style: none;">
                          <mat-checkbox (click)="$event.stopPropagation()" 
                            (change)="$event ? tcUtilsArray.toggleSelection(selectedradPanel,radPanel) : null"
                            [checked]="tcUtilsArray.contains(selectedradPanel,radPanel)">{{radPanel.name}}
                          </mat-checkbox>
                        </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <mat-divider></mat-divider>
                  <h1>Tests</h1>
                  <div class="tc-padding">
                    <div>
                      <ul  style=" display: flex;flex-wrap: wrap;  ">
                        <li class="tc-padding" *ngFor="let radTest of radTests"  style="flex: 0 0 33.333333%; list-style: none;">
                          <mat-checkbox (click)="$event.stopPropagation()" style="flex: 0 0 33.333333%;"
                            (change)="$event ? tcUtilsArray.toggleSelection(selectedradTest,radTest) : null"
                            [checked]="tcUtilsArray.contains(selectedradTest,radTest)">{{radTest.name}}
                          </mat-checkbox>

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <mat-action-row>
            
              <mat-form-field >
                <mat-select placeholder="lab_urgency" [(value)]="radurgency" required>
                  <mat-option *ngFor="let etype of form_encounterPersist.lab_urgency" [value]="etype.id">
                    {{appTranslation.getTextByIdentifier(etype.name)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>




         
                  <button mat-button (click)="orderRadNow()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
                    Save
                  </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
