<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="markupPriceDetail">

    <mat-form-field class="tc-full-stretch" *ngIf="isNew()" >
      <mat-select
        placeholder="{{appTranslation.getText('patient', 'patient_type')}}"
        [(value)]="markupPriceDetail.service_type"
        required>
        <mat-option *ngFor="let etype of storePersist.store_type" [value]="etype.id">
         {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="tc-flex-column" *ngIf="isNew()|| markupPriceDetail.default">
      <mat-slide-toggle matInput  [(ngModel)]="markupPriceDetail.default" (toggleChange)="onDefaultChange($event)" 
      [disabled]="isEdit() && markupPriceDetail.default"
        required> Default </mat-slide-toggle>
    </div>

    <mat-form-field class="tc-full-stretch" *ngIf="!markupPriceDetail.default">
      <input
        matInput
        placeholder="To max of unit price"
        type="number"
        [(ngModel)]="markupPriceDetail.to_max_of_unit_price"
        required
      />
    </mat-form-field>


    <mat-form-field class="tc-full-stretch" >
      <input
        matInput
        placeholder="percent"
        type="number"
        [(ngModel)]="markupPriceDetail.percent"
        required
      />
    </mat-form-field>
    
    
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
