<h1 mat-dialog-title>
    <mat-icon>edit</mat-icon>
    {{appTranslation.getText('users', 'password_change')}} </h1>
  
  <div mat-dialog-content>
  
    <mat-form-field class="tc-full-stretch">
      <input matInput type="password" placeholder="{{appTranslation.getText('users','password_current')}}"
             [(ngModel)]="pwds.pwd_current"
             required>
    </mat-form-field>
  
    <mat-form-field class="tc-full-stretch">
      <input matInput type="password" placeholder="{{appTranslation.getText('users','password_new')}}"
             [(ngModel)]="pwds.pwd_new" required>
    </mat-form-field>
  
    <mat-form-field class="tc-full-stretch">
      <input matInput type="password" placeholder="{{appTranslation.getText('users','password_repeat')}}"
             [(ngModel)]="pwds.pwd_repeat"
             required>
    </mat-form-field>
  
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
    <button mat-button (click)="pwdChange()"
            [disabled]=" !pwds.pwd_current ||  !pwds.pwd_new || !pwds.pwd_repeat "
            cdkFocusInitial>
      {{appTranslation.getText('general', 'save')}}
    </button>
  </div>
  