<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-person-pregnant"></mat-icon>
    ANC Initial Evaluation
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchANCInitialEvaluations()"
    *ngIf="tcAuthorization.canRead('anc_initial_evaluations')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addANCInitialEvaluation()"
    *ngIf="tcAuthorization.canCreate('anc_initial_evaluations')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="aNCInitialEvaluationSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="aNCInitialEvaluationPersist.aNCInitialEvaluationSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="aNCInitialEvaluationSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="aNCInitialEvaluationIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card
      *ngFor="let aNCInitialEvaluation of aNCInitialEvaluationsData"
      class="tc-card"
    >
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('anc_initial_evaluations') ||
              tcAuthorization.canDelete('anc_initial_evaluations')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editANCInitialEvaluation(aNCInitialEvaluation)"
              *ngIf="tcAuthorization.canUpdate('anc_initial_evaluations')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteANCInitialEvaluation(aNCInitialEvaluation)"
              *ngIf="tcAuthorization.canDelete('anc_initial_evaluations')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>Jaundice</span>
          {{ aNCInitialEvaluation.jaundice }}
        </div>
        <div class="tc-detail-field">
          <span>Genera</span>
          {{ aNCInitialEvaluation.genera }}
        </div>
        <div class="tc-detail-field">
          <span>Palor</span>
          {{ aNCInitialEvaluation.palor }}
        </div>
        <div class="tc-detail-field">
          <span>hiv_test_result</span>
          {{ aNCInitialEvaluation.hiv_test_result }}
        </div>
        <div class="tc-detail-field">
          <span>heart_abnormality</span>
          {{ aNCInitialEvaluation.heart_abnormality }}
        </div>
        <div class="tc-detail-field">
          <span>chest_abnormality</span>
          {{ aNCInitialEvaluation.chest_abnormality }}
        </div>
        <div class="tc-detail-field">
          <span>cervica_lesion</span>
          {{ aNCInitialEvaluation.cervica_lesion }}
        </div>
        <div class="tc-detail-field">
          <span>danger_signs_in_pregnancy_and_delivery_adviced</span>
          {{
            aNCInitialEvaluation.danger_signs_in_pregnancy_and_delivery_adviced
          }}
        </div>
        <div class="tc-detail-field">
          <span>vaginal_discharge</span>
          {{ aNCInitialEvaluation.vaginal_discharge }}
        </div>
        <div class="tc-detail-field">
          <span>vulvar_ulcer</span>
          {{ aNCInitialEvaluation.vulvar_ulcer }}
        </div>
        <div class="tc-detail-field">
          <span>counseled_on_infant_feeding</span>
          {{ aNCInitialEvaluation.counseled_on_infant_feeding }}
        </div>
        <div class="tc-detail-field">
          <span>pelvic_mass</span>
          {{ aNCInitialEvaluation.pelvic_mass }}
        </div>
        <div class="tc-detail-field">
          <span>partner_HIV_test_result</span>
          {{ aNCInitialEvaluation.partner_hiv_test_result }}
        </div>
        <div class="tc-detail-field">
          <span>referred_for_care_treatment_and_support</span>
          {{ aNCInitialEvaluation.referred_for_care_treatment_and_support }}
        </div>
        <div class="tc-detail-field">
          <span>uterine_size_wks</span>
          {{ aNCInitialEvaluation.uterine_size_wks }}
        </div>
        <div class="tc-detail-field">
          <span>mother_HIV_test_result</span>
          {{ aNCInitialEvaluation.mother_hiv_test_result }}
        </div>
        <div class="tc-detail-field">
          <span>HIV_test_result_recieved_with_post_test_counseling</span>
          {{
            aNCInitialEvaluation.hiv_test_result_recieved_with_post_test_counseling
          }}
        </div>
        <div class="tc-detail-field">
          <span>birth_preparedness_adviced</span>
          {{ aNCInitialEvaluation.birth_preparedness_adviced }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">
    <mat-toolbar
      *ngIf="
        searchANCInitialEvaluations.length > 0 || aNCInitialEvaluationSelectAll
      "
    >
      <button mat-button (click)="downloadANCInitialEvaluations()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
        >{{
          aNCInitialEvaluationSelectAll
            ? aNCInitialEvaluationsTotalCount
            : aNCInitialEvaluationSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      > </mat-toolbar
    ><mat-table
      [dataSource]="aNCInitialEvaluationsData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                aNCInitialEvaluationsData,
                aNCInitialEvaluationSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                aNCInitialEvaluationsData,
                aNCInitialEvaluationSelection
              ) || aNCInitialEvaluationSelectAll
            "
            [indeterminate]="
              aNCInitialEvaluationSelection.length <
                aNCInitialEvaluationsData.length &&
              aNCInitialEvaluationSelection.length > 0
            "
            [disabled]="aNCInitialEvaluationSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="aNCInitialEvaluationSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #aNCInitialEvaluationSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="aNCInitialEvaluationSelectAll = true"
              [disabled]="aNCInitialEvaluationSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="aNCInitialEvaluationSelectAll = false"
              [disabled]="!aNCInitialEvaluationSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(
                    aNCInitialEvaluationSelection,
                    row
                  )
                : null
            "
            [checked]="
              tcUtilsArray.contains(aNCInitialEvaluationSelection, row) ||
              aNCInitialEvaluationSelectAll
            "
            [disabled]="aNCInitialEvaluationSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Jaundice">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Jaundice
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.jaundice ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Genera">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Genera
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
          ><a
            [routerLink]="
              aNCInitialEvaluationNavigator.aNCInitialEvaluationUrl(element.id)
            "
            class="tc-link"
            >{{ element.genera }}
          </a></mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="Palor">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Palor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.palor ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="hiv_test_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >HIV test result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.hiv_test_result
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="heart_abnormality">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Heart Abnormality
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.heart_abnormality ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="chest_abnormality">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Chest Abnormality
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.chest_abnormality ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="cervica_lesion">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Cervica Lesion
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.cervica_lesion ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container
        matColumnDef="danger_signs_in_pregnancy_and_delivery_adviced"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Danger signs in pregnancy and delivery adviced
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.danger_signs_in_pregnancy_and_delivery_adviced
            ? "Yes"
            : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="vaginal_discharge">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Vaginal Discharge
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.vaginal_discharge ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="vulvar_ulcer">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Vulvar Ulcer
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.vulvar_ulcer ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="counseled_on_infant_feeding">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Counseled on infant feeding
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.counseled_on_infant_feeding ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pelvic_mass">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Pelvic Mass
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.pelvic_mass ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="partner_HIV_test_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Partner HIV test result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.partner_hiv_test_result
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="referred_for_care_treatment_and_support">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Reffered for care, treatment and support
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.referred_for_care_treatment_and_support ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="uterine_size_wks">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Uterus size(wks)
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.uterine_size_wks
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mother_HIV_test_result">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Mother HIV test result
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.mother_hiv_test_result ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container
        matColumnDef="HIV_test_result_recieved_with_post_test_counseling"
      >
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >HIV test result recieved with post test counseling
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.hiv_test_result_recieved_with_post_test_counseling
            ? "Yes"
            : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="birth_preparedness_adviced">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Birth preparedness adviced
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          true == element.birth_preparedness_adviced ? "Yes" : "No"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          link</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="
              aNCInitialEvaluationNavigator.aNCInitialEvaluationUrl(element.id)
            "
            class="tc-link"
            >{{ element.id }}
          </a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('anc_initial_evaluations') ||
              tcAuthorization.canDelete('anc_initial_evaluations')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editANCInitialEvaluation(element)"
              *ngIf="tcAuthorization.canUpdate('anc_initial_evaluations')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteANCInitialEvaluation(element)"
              *ngIf="tcAuthorization.canDelete('anc_initial_evaluations')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="aNCInitialEvaluationsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: aNCInitialEvaluationsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(
            aNCInitialEvaluationSelection,
            row
          )
        }"
      ></mat-row>
    </mat-table>

    <!-- <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="aNCInitialEvaluationsTotalCount"
      [ngStyle]="{ display: aNCInitialEvaluationsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator> -->
  </div>
</div>
