<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="consultationIsLoading">
            <mat-spinner></mat-spinner>
        </div>

        <div [ngClass]="activeTab==ConsultationTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block width">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="!consultationIsLoading">



                                    <p class="tc-detail-field">
                                        urgency <span> {{doctorConsultationDetail.urgent? "Urgent": "not uregent"}} </span>
                                    </p>

                                    <p class="tc-detail-field">
                                        patient condition <span> {{tcUtilsArray.getEnum(addmissionFormPersist.patient_condition, doctorConsultationDetail.patient_condition)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        reason for consult <span> {{doctorConsultationDetail.reason_for_consult}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        brief clinincal finding <span> {{doctorConsultationDetail.brief_history}} </span>
                                    </p>
                                    
                                    <p class="tc-detail-field">
                                        date <span> {{tcUtilsDate.toDate( doctorConsultationDetail.date)|date}} </span>
                                    </p>

                                    <p class="tc-detail-field">
                                        consulted department <span>
                                            {{departmentSpeciality}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        consulted doctor <span>
                                            {{doctor}}
                                        </span>
                                    </p>
                                    <div *ngIf="doctorConsultationDetail.encounter_id">
                                    <p [ngStyle]="{display: displayVital?'none':''}">
                                        <app-form-vitals-list [edit]="false" [encounterId]="doctorConsultationDetail.encounter_id"
                                            (onResult)="OnResult($event)" >
                                        </app-form-vitals-list>
                                    </p>
                                    <button mat-button class="tc-detail-field" (click)="toggleHistory()">
                                        {{displayHistory?'Show Medical history':'Hide Medical history'}}
                                    </button><br>

                                    <p [ngStyle]="{display: displayHistory?'none':''}">
                                        <app-history-list [edit]="false" [encounterId]="doctorConsultationDetail.encounter_id"
                                            (onResult)="OnResult($event)">
                                        </app-history-list>
                                    </p>
                                    <button mat-button class="tc-detail-field" (click)="toggleDiagnosis()">
                                        {{displayDiagnosis?'Show Diagnosis':'Hide Diagnosis'}}
                                    </button><br>
                                    <p [ngStyle]="{display: displayDiagnosis?'none':''}">
                                        <app-diagnosis-list  [edit]="false" [encounterId]="doctorConsultationDetail.encounter_id"
                                            (onResult)="OnResult($event)">
                                        </app-diagnosis-list>
                                    </p>
                                    <button mat-button class="tc-detail-field" (click)="toggleExamination()">
                                        {{displayExamination?'Show Physical Examination':'Hide Physical Examination'}}
                                    </button><br>
                                    <p [ngStyle]="{display: displayExamination?'none':''}">
                                        <app-physical-examination-list [edit]="false"
                                            [encounterId]="doctorConsultationDetail.encounter_id"
                                            (onResult)="OnResult($event)">
                                        </app-physical-examination-list>
                                    </p>

                                    <button mat-button class="tc-detail-field" (click)="toggleOrder()">
                                        {{displayOrder?'Show Orders':'Hide Orders'}}
                                    </button><br>
                                    <p [ngStyle]="{display: displayOrder?'none':''}">
                                        <app-orders-list [edit]="false" [encounterId]="doctorConsultationDetail.encounter_id"
                                            (onResult)="OnResult($event)">
                                        </app-orders-list>
                                    </p>
                                    </div>
                                </div>
                                <mat-action-row>
                                    <button mat-button (click)="editConsultation()"
                                        *ngIf="tcAuthorization.canUpdate('consultings') ">
                                        response
                                    </button>
                                </mat-action-row>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block" *ngIf="doctorConsultationDetail.clinical_finding">
                    <mat-accordion>
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{appTranslation.getText("general","basicdetails")}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div *ngIf="!consultationIsLoading">


                                <p class="tc-detail-field">
                                    clinical finding <span> {{doctorConsultationDetail.clinical_finding}} </span>

                                </p>
                                <p class="tc-detail-field">
                                    Treatment <span> {{doctorConsultationDetail.treatment}} </span>

                                </p>
                                <p>
                                    Date
                                    <span> {{tcUtilsDate.toDate(doctorConsultationDetail.report_date)|date}} </span>
                                </p>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>