<mat-toolbar class="tc-toolbar-secondary ">
  <h1 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-flask"></mat-icon>
    {{appTranslation.getText("procedure", "lab_results")}}
  </h1>
  <button mat-button (click)="back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
</mat-toolbar>


<div class="tc-flex-row tc-full-width">
  <div class="tc-equal-block">
    <ng-container *ngIf="procedureOrderId">
      <app-procedure-order-overview [procedureOrderId]="procedureOrderId"></app-procedure-order-overview>
    </ng-container>
  </div>
  <div class="tc-equal-block">
    <div class="tc-padding">
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{appTranslation.getText("procedure", "lab_results")}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf="procedureOrderCodes.length > 0">
            <table mat-table [dataSource]="procedureOrderCodes" class="mat-elevation-z0"
                   style="width: 100%; margin-bottom: 10px">

              <ng-container matColumnDef="procedure_type">
                <th mat-header-cell
                    *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_type")}}</th>
                <td mat-cell
                    *matCellDef="let element"> {{ appTranslation.getText("procedure", element.procedure_type) }} </td>
              </ng-container>

              <ng-container matColumnDef="procedure_test">
                <th mat-header-cell
                    *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_test_name")}}</th>
                <td mat-cell *matCellDef="let element"> {{ element.procedure_name }} </td>
              </ng-container>

              <ng-container matColumnDef="procedure_code">
                <th mat-header-cell
                    *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_test_code")}}</th>
                <td mat-cell *matCellDef="let element"> {{ element.procedure_code }} </td>
              </ng-container>

              <ng-container matColumnDef="diagnosis_code">
                <th mat-header-cell
                    *matHeaderCellDef>{{appTranslation.getText("procedure", "diagnosis_codes")}}</th>
                <td mat-cell *matCellDef="let element"> {{ element.diagnoses }} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell
                    *matHeaderCellDef>{{appTranslation.getText("general", "action")}}</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button color="primary" (click)="viewResult(element)">{{appTranslation.getText("general", "view")}}</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
