<h1 mat-dialog-title>
    credit_employee_family Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="creditEmployeeFamilySearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="creditEmployeeFamilyPersist.creditEmployeeFamilySearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="creditEmployeeFamilySearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="creditEmployeeFamilyIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="creditEmployeeFamilysData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(creditEmployeeFamilysData,creditEmployeeFamilySelection) "
            [checked]=" tcUtilsArray.isAllSelected(creditEmployeeFamilysData,creditEmployeeFamilySelection) || creditEmployeeFamilySelectAll"
            [indeterminate]="creditEmployeeFamilySelection.length <creditEmployeeFamilysData.length && creditEmployeeFamilySelection.length>0"
            [disabled]="creditEmployeeFamilySelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="creditEmployeeFamilySelectAllMenu"></mat-icon>
          </button>
          <mat-menu #creditEmployeeFamilySelectAllMenu="matMenu">

            <button mat-menu-item (click)="creditEmployeeFamilySelectAll=true;" [disabled]="creditEmployeeFamilySelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="creditEmployeeFamilySelectAll = false;" [disabled]="!creditEmployeeFamilySelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(creditEmployeeFamilySelection,row) : null"
            [checked]="tcUtilsArray.contains(creditEmployeeFamilySelection,row) || creditEmployeeFamilySelectAll" [disabled]="creditEmployeeFamilySelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="company_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>company_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.company_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="employee_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>employee_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.employee_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="family_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>family_name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.family_name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="image_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>image_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.image_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="documnet_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>documnet_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.documnet_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="relationship">
        <mat-header-cell *matHeaderCellDef mat-sort-header>relationship
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.relationship}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="covered_percent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>covered_percent
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.covered_percent}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="discount_percent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>discount_percent
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.discount_percent}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="creditEmployeeFamilysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: creditEmployeeFamilysDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(creditEmployeeFamilySelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="creditEmployeeFamilysTotalCount"
      [ngStyle]="{display: creditEmployeeFamilysTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" creditEmployeeFamilySelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>