<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="reportDetail">

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='{{appTranslation.getText("inventory", "report_type")}}'
                  [(value)]="reportDetail.report_type" required>
        <mat-option *ngFor="let etype of persist.report_type" [value]="etype.id">
          {{appTranslation.getTextByIdentifier(etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch" *ngIf="reportDetail.report_type == 104">
      <mat-label>
        {{appTranslation.getText("patient", "search_for_a_doctor")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="userFullName"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="isEdit()"
        color="primary"
        (click)="searchUser()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','description')}}" type="text"
             [(ngModel)]="reportDetail.description" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch"
                    *ngIf="reportDetail.report_type == reportType.doctor_encounter">
      <mat-label>{{appTranslation.getText('inventory', 'from_date')}}</mat-label>
      <input matInput [matDatepicker]="from_date_picker" [(ngModel)]="from_date">
      <mat-datepicker-toggle matSuffix [for]="from_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch"
                    *ngIf="reportDetail.report_type == reportType.doctor_encounter">
      <mat-label>{{appTranslation.getText('inventory', 'to_date')}}</mat-label>
      <input matInput [min]="minDate" [matDatepicker]="to_date_picker" [(ngModel)]="to_date">
      <mat-datepicker-toggle matSuffix [for]="to_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker></mat-datepicker>
    </mat-form-field>


  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText("report", "report")}}
  </button>
</div>
