<h1 mat-dialog-title>
    Insured_Employee Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="insured_employeesSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="insured_employeePersist.insured_employeeSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="insured_employeesSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="insured_employeesIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="insured_employeesData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(insured_employeesData,insured_employeesSelection) "
              [checked]=" tcUtilsArray.isAllSelected(insured_employeesData,insured_employeesSelection)"
              [indeterminate]="insured_employeesSelection.length <insured_employeesData.length && insured_employeesSelection.length>0"
              *ngIf="!data.selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="insured_employeesSelection.length >0 && !data.selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{insured_employeesSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="insured_employeesSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(insured_employeesSelection,row) : null"
                          [checked]="tcUtilsArray.contains(insured_employeesSelection,row)"
                          *ngIf="!data.selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(insured_employeesSelection,row)"
                                    *ngIf="data.selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="full_name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>full_name</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.full_name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="company_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>company_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.company_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="employee_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>employee_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.employee_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="covered_amount">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>covered_amount</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.covered_amount}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="patient_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="insured_employeesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: insured_employeesDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(insured_employeesSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="insured_employeesTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" insured_employeesSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  