<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="outsidePrescriptionDetail">
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="patietn name"
        type="text"
        [(ngModel)]="outsidePrescriptionDetail.patient_name"
        required
      />
    </mat-form-field>

    <app-item_dispatch-edit-list
      #itemDispatch
      (save)="onAdd()"
      [can_save]="canSubmit()"
      (cancel)="onCancel()"
      *ngIf="isNew()"
      [status]="prescriptionRequestStatus.accept"
    ></app-item_dispatch-edit-list>
  </div>
</div>

<div mat-dialog-actions *ngIf="isEdit()">
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
