<h1 mat-dialog-title>allergy Selection</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="allergySearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="allergyPersist.allergySearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="allergySearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="allergyIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container tc-full-width">
    <mat-table [dataSource]="allergysData" matSort class="tc-hide-on-mobile">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(allergysData, allergySelection)
            "
            [checked]="
              tcUtilsArray.isAllSelected(allergysData, allergySelection) ||
              allergySelectAll
            "
            [indeterminate]="
              allergySelection.length < allergysData.length &&
              allergySelection.length > 0
            "
            [disabled]="allergySelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="allergySelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #allergySelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="allergySelectAll = true"
              [disabled]="allergySelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="allergySelectAll = false"
              [disabled]="!allergySelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(allergySelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(allergySelection, row) || allergySelectAll
            "
            [disabled]="allergySelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(allergyPersist.AllergyType, element.type)?.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="medicine">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >medicine
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.medicine }}</mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="allergysDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: allergysDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(allergySelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="allergysTotalCount"
      [ngStyle]="{ display: allergysTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="allergySelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
