

            <div class="tc-loading" *ngIf="outsidePrescriptionIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==OutsidePrescriptionTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
        
                </mat-toolbar>
                <mat-tab-group class="mat-elevation-z8" [(selectedIndex)]="outsidePrescriptionPersist.tab_index"
                (selectedTabChange)="onTabChanged($event);">
                <mat-tab label="Accepted">
                  <ng-template matTabContent>
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!outsidePrescriptionIsLoading">  
                                            <app-item_dispatch-list 
                                            [prescription_request_id]="outsidePrescriptionDetail.id" [dispatch_status]="dispatch_status.accepted"
                                          ></app-item_dispatch-list>
                                        </div>
                                    <mat-action-row>
                                       <button mat-button (click)="addDispatch()" *ngIf="tcAuthorization.canUpdate('outside_prescriptions') ">
                                         Add Prescription
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
              </ng-template>
          </mat-tab>
          <mat-tab label="Dispatched">
            <ng-template matTabContent>
            <div class="tc-flex-row tc-full-width">
              <div class="tc-equal-block">
                  <div class="tc-padding">
                      <mat-accordion>
                            <mat-expansion-panel expanded="true">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  
                                </mat-panel-title>
                              </mat-expansion-panel-header>

                                  <div *ngIf="!outsidePrescriptionIsLoading">  
                                      <app-item_dispatch-list 
                                      [prescription_request_id]="outsidePrescriptionDetail.id" [dispatch_status]="dispatch_status.dispatched"
                                    ></app-item_dispatch-list>
                                  </div>
                              <mat-action-row>
                               </mat-action-row>

                             </mat-expansion-panel>
                      </mat-accordion>
                  </div>
              </div>
          </div>
          </ng-template>
          </mat-tab>
          <mat-tab label="Cancelled">
            <ng-template matTabContent>
            <div class="tc-flex-row tc-full-width">
              <div class="tc-equal-block">
                  <div class="tc-padding">
                      <mat-accordion>
                            <mat-expansion-panel expanded="true">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  
                                </mat-panel-title>
                              </mat-expansion-panel-header>

                                  <div *ngIf="!outsidePrescriptionIsLoading">  
                                      <app-item_dispatch-list 
                                      [prescription_request_id]="outsidePrescriptionDetail.id" [dispatch_status]="dispatch_status.cancelled"
                                    ></app-item_dispatch-list>
                                  </div>
                              <mat-action-row>
                               </mat-action-row>

                             </mat-expansion-panel>
                      </mat-accordion>
                  </div>
              </div>
          </div>
          </ng-template>
          </mat-tab>
          </mat-tab-group>
            </div>
    
    
    