
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
   Ordered Other Service  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchOrderedOtheServices();" *ngIf="tcAuthorization.canRead('order_other_services')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addOrderedOtheService();" *ngIf="tcAuthorization.canCreate('order_other_services')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="true"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field class="tc-equal-block">
    <mat-label>{{
      appTranslation.getText("patient", "search_patient")
      }}</mat-label>
    <input matInput disabled [(ngModel)]="other_services_name"/>
    <button
      mat-icon-button
      matTooltip="Othe Service"
      matSuffix
      color="primary"
      (click)="searchOtherService()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="other_services_name" matSuffix mat-icon-button aria-label="Clear"
    (click)="other_services_name = ''; orderedOtheServicePersist.other_service_id= null; searchOrderedOtheServices()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder='ServiceType'
                [(value)]="orderedOtheServicePersist.service_type"
                (valueChange)="searchOrderedOtheServices()">
      <mat-option *ngFor="let status of otherServicePersist.serviceType" [value]="status.id">
        {{ status.name }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='orderedOtheServicePersist.service_type' matSuffix mat-icon-button
            aria-label="Clear"
            (click)="orderedOtheServicePersist.service_type = null;searchOrderedOtheServices();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="orderedOtheServiceIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let orderedOtheService of orderedOtheServicesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('order_other_services') || tcAuthorization.canDelete('order_other_services')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editOrderedOtheService(orderedOtheService)" *ngIf="tcAuthorization.canUpdate('order_other_services')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteOrderedOtheService(orderedOtheService)" *ngIf="tcAuthorization.canDelete('order_other_services')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>patient_id</span>
          {{orderedOtheService.patient_id}}
        </div><div class="tc-detail-field">
          <span>other_service_id</span>
          {{orderedOtheService.other_service_id}}
        </div><div class="tc-detail-field">
          <span>patient_name</span>
          {{orderedOtheService.patient_name}}
        </div><div class="tc-detail-field">
          <span>remark</span>
          {{orderedOtheService.remark}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchOrderedOtheServices.length >0 || orderedOtheServiceSelectAll">
      <button mat-button (click)="downloadOrderedOtheServices()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{orderedOtheServiceSelectAll ? orderedOtheServicesTotalCount : orderedOtheServiceSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="orderedOtheServicesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(orderedOtheServicesData,orderedOtheServiceSelection) "
            [checked]=" tcUtilsArray.isAllSelected(orderedOtheServicesData,orderedOtheServiceSelection) || orderedOtheServiceSelectAll"
            [indeterminate]="orderedOtheServiceSelection.length <orderedOtheServicesData.length && orderedOtheServiceSelection.length>0"
            [disabled]="orderedOtheServiceSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="orderedOtheServiceSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #orderedOtheServiceSelectAllMenu="matMenu">

            <button mat-menu-item (click)="orderedOtheServiceSelectAll=true;" [disabled]="orderedOtheServiceSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="orderedOtheServiceSelectAll = false;" [disabled]="!orderedOtheServiceSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(orderedOtheServiceSelection,row) : null"
            [checked]="tcUtilsArray.contains(orderedOtheServiceSelection,row) || orderedOtheServiceSelectAll" [disabled]="orderedOtheServiceSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="other_service_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Service Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span>{{getOtherService(element.other_service_id)}}</span></mat-cell>
      </ng-container>
    <ng-container matColumnDef="given_by">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Given By
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span>{{getUser(element.given_by)}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span>{{element.date * 1000 | date:'EE MMM, d/y h:mm a'}}</span></mat-cell>
    </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Remark
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="orderedOtheServiceNavigator.orderedOtheServiceUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('order_other_services') || tcAuthorization.canDelete('order_other_services')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editOrderedOtheService(element)" *ngIf="tcAuthorization.canUpdate('order_other_services') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteOrderedOtheService(element)" *ngIf="tcAuthorization.canDelete('order_other_services')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="orderedOtheServicesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: orderedOtheServicesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(orderedOtheServiceSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="orderedOtheServicesTotalCount"
      [ngStyle]="{display: orderedOtheServicesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
