<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="sessionTherapyDetail">
                          <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="Name" type="text"  [(ngModel)]="sessionTherapyDetail.name" required>
                        </mat-form-field>


                        <mat-form-field class="tc-full-stretch">
                          <mat-label>Session type</mat-label>
                          <input matInput disabled [(ngModel)]="session_name"/>
                          <button
                            mat-icon-button
                            matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
                            matSuffix
                            [disabled]="isEdit() "
                            color="primary"
                            (click)="searchOtherService()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>  
                          
                          <!-- <mat-form-field class="tc-full-stretch">
                            <mat-select placeholder='Session type'
                                        [(value)]="sessionTherapyDetail.session_type" required>
                              <mat-option *ngFor="let etype of persist.session_therapy_session_type" [value]="etype.id">
                                {{etype.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> -->
                          
                          <mat-form-field class="tc-full-stretch">
                            <mat-select placeholder='Status'
                                        [(value)]="sessionTherapyDetail.status" required>
                              <mat-option *ngFor="let etype of persist.session_therapy_status" [value]="etype.id">
                                {{etype.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
     </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>