<h1 mat-dialog-title>
  Consent_Form Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="consent_formsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="consent_formPersist.consent_formSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="consent_formsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="consent_formsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="consent_formsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(consent_formsData,consent_formsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(consent_formsData,consent_formsSelection)"
            [indeterminate]="consent_formsSelection.length <consent_formsData.length && consent_formsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="consent_formsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{consent_formsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="consent_formsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(consent_formsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(consent_formsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(consent_formsSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="encounter_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','form_encounter')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="doctor_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','doctor_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="file_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>file_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.file_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="procedure_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','procedure')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.procedure_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="created_at">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','date')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.created_at}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="consent_formsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: consent_formsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(consent_formsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="consent_formsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" consent_formsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
