<h1 mat-dialog-title>
    Behavioral Pain Scale (BPS) Tool Selection
  </h1><div mat-dialog-content >
    <mat-form-field>
    <input matInput [formControl]="behavioralPainScaleSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="behavioralPainScalePersist.behavioralPainScaleSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="behavioralPainScaleSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="behavioralPainScaleIsLoading">
    <mat-spinner></mat-spinner>
  </div>  

  <div class="tc-table-container tc-full-width">

   <mat-table [dataSource]="behavioralPainScalesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(behavioralPainScalesData,behavioralPainScaleSelection) "
            [checked]=" tcUtilsArray.isAllSelected(behavioralPainScalesData,behavioralPainScaleSelection) || behavioralPainScaleSelectAll"
            [indeterminate]="behavioralPainScaleSelection.length <behavioralPainScalesData.length && behavioralPainScaleSelection.length>0"
            [disabled]="behavioralPainScaleSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="behavioralPainScaleSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #behavioralPainScaleSelectAllMenu="matMenu">

            <button mat-menu-item (click)="behavioralPainScaleSelectAll=true;" [disabled]="behavioralPainScaleSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="behavioralPainScaleSelectAll = false;" [disabled]="!behavioralPainScaleSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(behavioralPainScaleSelection,row) : null"
            [checked]="tcUtilsArray.contains(behavioralPainScaleSelection,row) || behavioralPainScaleSelectAll" [disabled]="behavioralPainScaleSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="facial_expression">
        <mat-header-cell *matHeaderCellDef mat-sort-header>facial_expression
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.facial_expression}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="upper_limbs">
        <mat-header-cell *matHeaderCellDef mat-sort-header>upper_limbs
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.upper_limbs}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="compliance_with_ventilation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>compliance_with_ventilation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.compliance_with_ventilation}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="behavioralPainScalesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: behavioralPainScalesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(behavioralPainScaleSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="behavioralPainScalesTotalCount"
      [ngStyle]="{display: behavioralPainScalesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" behavioralPainScaleSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>