<!-- <mat-tab-group> -->
    <!-- <mat-tab label="Overview">
        <div class="tc-loading" *ngIf="formClinicalInstructionIsLoading">
            <mat-spinner></mat-spinner>
        </div>
        
        <div [ngClass]="activeTab==FormClinicalInstructionTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>
        
            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
        
                                <div *ngIf="!formClinicalInstructionIsLoading">
                                    <p class="tc-detail-field">
                                        Type <span>{{tcUtilsArray.getEnum(formClinicalInstructionPersist.InstructionType,formClinicalInstructionDetail.type)?.name}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        From Date <span> {{formClinicalInstructionDetail.from_date * 1000|date:'MMM dd, yyyy. h:mm a'}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        To date <span> {{formClinicalInstructionDetail.to_date * 1000|date:'MMM dd, yyyy. h:mm a'}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Interval <span>
                                            {{tcUtilsArray.getEnum(formEncounterPersist.frequency,formClinicalInstructionDetail.interval)?.name}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Nurse <span> {{formClinicalInstructionDetail.nurse_name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Instruction <span> {{formClinicalInstructionDetail.instruction}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Status
                                        <span>{{tcUtilsArray.getEnum(formClinicalInstructionPersist.InstructionStatus,formClinicalInstructionDetail.status)?.name}}</span>
                                    </p>
        
                                </div>
                                <mat-action-row>
                                    <button mat-button (click)="editFormClinicalInstruction()"
                                        *ngIf="tcAuthorization.canUpdate('form_clinical_instructions') ">
                                        {{appTranslation.getText("general", "edit")}}
                                    </button>
                                </mat-action-row>
        
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                </div>
            </div>
        
        </div>
    </mat-tab> -->
    <!-- <mat-tab label="Response">
        <ng-template matTabContent> -->
            <app-clinical_instruction_response-list *ngIf="formClinicalInstructionDetail.id && formClinicalInstructionDetail.type != instructionType.lab_order && formClinicalInstructionDetail.type != instructionType.pat_order && formClinicalInstructionDetail.type != instructionType.rad_order" [clinicalInstruction]="formClinicalInstructionDetail"></app-clinical_instruction_response-list>


            <app-form_clinical_instruction-list *ngIf="formClinicalInstructionDetail.id && (formClinicalInstructionDetail.type == instructionType.lab_order || formClinicalInstructionDetail.type == instructionType.pat_order || formClinicalInstructionDetail.type == instructionType.rad_order)" [target_id]="formClinicalInstructionDetail.id" [encounterId]="formClinicalInstructionDetail.encounter_id" [is_sub]="true"></app-form_clinical_instruction-list>
        <!-- </ng-template>
    </mat-tab>
</mat-tab-group> -->