
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-bandcamp"></mat-icon>
     Queues  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchQueues();" *ngIf="tcAuthorization.canRead('queues')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
   
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="queueSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="queuePersist.queueSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="queueSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>



    <mat-form-field>
      <mat-select
        placeholder=" {{ appTranslation.getText('general', 'type') }}"
        [(value)]="queuePersist.queueTypeId"
        (valueChange)="searchQueues()"
      >
        <mat-option
          *ngFor="let etype of queuePersist.queueType"
          [value]="etype.id"
        >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button
        mat-button
        *ngIf="queuePersist.queueTypeId != -1"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="
        queuePersist.queueTypeId = -1;
        searchQueues();
          $event.stopPropagation()
        "
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>





    <mat-form-field>
      <mat-select
        placeholder="Completed"
        [(value)]="queuePersist.completed"
        (valueChange)="searchQueues()"
      >
        <mat-option
         
          [value]="false"
        >
         No
        </mat-option>

        <mat-option
         
        [value]="true"
      >
       Yes
      </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="tc-loading" *ngIf="queueIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let queue of queuesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('queues') || tcAuthorization.canDelete('queues')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editQueue(queue)" *ngIf="tcAuthorization.canUpdate('queues')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteQueue(queue)" *ngIf="tcAuthorization.canDelete('queues')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>encounter_id</span>
            {{queue.encounter_id}}
          </div><div class="tc-detail-field">
            <span>patient_id</span>
            {{queue.patient_id}}
          </div><div class="tc-detail-field">
            <span>room_id</span>
            {{queue.room_id}}
          </div><div class="tc-detail-field">
            <span>doctor_id</span>
            {{queue.doctor_id}}
          </div><div class="tc-detail-field">
            <span>type</span>
            {{queue.type}}
          </div><div class="tc-detail-field">
            <span>date</span>
            {{queue.date}}
          </div><div class="tc-detail-field">
            <span>service_time</span>
            {{queue.service_time}}
          </div><div class="tc-detail-field">
            <span>completed</span>
            {{queue.completed}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchQueues.length >0 || queueSelectAll">
        <button mat-button (click)="downloadQueues()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{queueSelectAll ? queuesTotalCount : queueSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="queuesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(queuesData,queueSelection) "
              [checked]=" tcUtilsArray.isAllSelected(queuesData,queueSelection) || queueSelectAll"
              [indeterminate]="queueSelection.length <queuesData.length && queueSelection.length>0"
              [disabled]="queueSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="queueSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #queueSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="queueSelectAll=true;" [disabled]="queueSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="queueSelectAll = false;" [disabled]="!queueSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(queueSelection,row) : null"
              [checked]="tcUtilsArray.contains(queueSelection,row) || queueSelectAll" [disabled]="queueSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="encounter_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Patient
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <a [routerLink]="encounteNav.form_encounterUrl(element.encounter_id)"  *ngIf="element.type == 100">{{element.patient_name}}</a>
            <a [routerLink]="vitalNavigator.vitalUrlNurse(element.encounter_id)" *ngIf="element.type == 101">{{element.patient_name}}</a>
            <a [routerLink]="ordersNavigator.labOrdersUrl(element.encounter_id)" *ngIf="element.type == 102">{{element.patient_name}}</a>
            <a [routerLink]="ordersNavigator.labOrdersUrl(element.encounter_id)" *ngIf="element.type == 103">{{element.patient_name}}</a>
            <a [routerLink]="loadProcedure(element.encounter_id)"  *ngIf="element.type == 104">{{element.patient_name}}</a>
          </mat-cell>
        </ng-container>
    <ng-container matColumnDef="room_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Room
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.room_no}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="doctor_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Doctor
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.doctor_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">


            {{tcUtilsArray.getEnum(
              queuePersist.queueType,
              element.type
            )?.name}}
            
          </mat-cell>
        </ng-container>
    <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Queue Time
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="service_time">P
          <mat-header-cell *matHeaderCellDef mat-sort-header>Service Time
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.service_time)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="completed">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Completed
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.completed?'Yes':'No'}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="queueNavigator.queueUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('queues') || tcAuthorization.canDelete('queues')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editQueue(element)" *ngIf="tcAuthorization.canUpdate('queues') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteQueue(element)" *ngIf="tcAuthorization.canDelete('queues')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="queuesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: queuesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(queueSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="queuesTotalCount"
        [ngStyle]="{display: queuesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>