<h1 mat-dialog-title>
  driver_medical_certificate Selection
</h1><div mat-dialog-content>  <mat-form-field>
  <input matInput [formControl]="driverMedicalCertificateSearchTextBox"
    placeholder='{{appTranslation.getText("general","search_text")}} '>
  <button mat-button *ngIf="driverMedicalCertificatePersist.driverMedicalCertificateSearchText" matSuffix mat-icon-button aria-label="Clear"
    (click)="driverMedicalCertificateSearchTextBox.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="tc-loading" *ngIf="driverMedicalCertificateIsLoading">
  <mat-spinner></mat-spinner>
</div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="driverMedicalCertificatesData" matSort class="tc-hide-on-mobile">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)=" tcUtilsArray.toggleSelectAll(driverMedicalCertificatesData,driverMedicalCertificateSelection) "
          [checked]=" tcUtilsArray.isAllSelected(driverMedicalCertificatesData,driverMedicalCertificateSelection) || driverMedicalCertificateSelectAll"
          [indeterminate]="driverMedicalCertificateSelection.length <driverMedicalCertificatesData.length && driverMedicalCertificateSelection.length>0"
          [disabled]="driverMedicalCertificateSelectAll">
        </mat-checkbox>

        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="driverMedicalCertificateSelectAllMenu"></mat-icon>
        </button>
        <mat-menu #driverMedicalCertificateSelectAllMenu="matMenu">

          <button mat-menu-item (click)="driverMedicalCertificateSelectAll=true;" [disabled]="driverMedicalCertificateSelectAll">
            {{appTranslation.getText("general", "all")}}
          </button>
          <button mat-menu-item (click)="driverMedicalCertificateSelectAll = false;" [disabled]="!driverMedicalCertificateSelectAll">
            {{appTranslation.getText("general", "none")}}
          </button>
        </mat-menu>

      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? tcUtilsArray.toggleSelection(driverMedicalCertificateSelection,row) : null"
          [checked]="tcUtilsArray.contains(driverMedicalCertificateSelection,row) || driverMedicalCertificateSelectAll" [disabled]="driverMedicalCertificateSelectAll">
        </mat-checkbox>
      </mat-cell>
    </ng-container>  <ng-container matColumnDef="pupil_color">
      <mat-header-cell *matHeaderCellDef mat-sort-header>pupil_color
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.pupil_color}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="pupil_right_eye">
      <mat-header-cell *matHeaderCellDef mat-sort-header>pupil_right_eye
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.pupil_right_eye}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="pupil_left_eye">
      <mat-header-cell *matHeaderCellDef mat-sort-header>pupil_left_eye
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.pupil_left_eye}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="color_perception_left_eye">
      <mat-header-cell *matHeaderCellDef mat-sort-header>color_perception_left_eye
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.color_perception_left_eye}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="color_perception_right_eye">
      <mat-header-cell *matHeaderCellDef mat-sort-header>color_perception_right_eye
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.color_perception_right_eye}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="visual_distance_right_eye_test">
      <mat-header-cell *matHeaderCellDef mat-sort-header>visual_distance_right_eye_test
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.visual_distance_right_eye_test}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="visual_distance_light_eye_test">
      <mat-header-cell *matHeaderCellDef mat-sort-header>visual_distance_light_eye_test
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.visual_distance_light_eye_test}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="sound_perception_right_ear">
      <mat-header-cell *matHeaderCellDef mat-sort-header>sound_perception_right_ear
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.sound_perception_right_ear}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="sound_perception_left_ear">
      <mat-header-cell *matHeaderCellDef mat-sort-header>sound_perception_left_ear
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.sound_perception_left_ear}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="physical_examination_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>physical_examination_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.physical_examination_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="doctor_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>status
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="status_reason">
      <mat-header-cell *matHeaderCellDef mat-sort-header>status_reason
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status_reason}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>
<mat-header-row *matHeaderRowDef="driverMedicalCertificatesDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: driverMedicalCertificatesDisplayedColumns;"
      [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(driverMedicalCertificateSelection,row)}"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
    [pageSize]="tcUtilsArray.defaultPageSize" [length]="driverMedicalCertificatesTotalCount"
    [ngStyle]="{display: driverMedicalCertificatesTotalCount > 0? '':'none'}"></mat-paginator>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" driverMedicalCertificateSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>