.et-sidebar-inner {
    border-top-right-radius: 20px !important;
    background-color: var(--base-color);
    color: var(--text-color);
    padding-top: 30px;
    position: absolute;
    display: flex;
    margin-top: 80%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .et-sidebar-inner {
    display: flex;
    flex-direction: column;
  }
  
  .tc-sidebar-inner {
    background-color: var(--base-color);
    color: var(--text-color);
    padding-top: 30px;
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .tc-primary-header {
    height: 100px;
    color: var(--text-color);
    background-color: var(--base-color);
  }
  
  #divider {
    color: var(--secondary-color);
    height: 3px;
  }
  
  .advanced-pie-legend {
    background-color: var(--base-color) !important;
    padding: 15px !important;
    border-radius: 10px !important;
  }
  
  .legend-items-container .legend-items .legend-item .item-color {
    border-left-color: var(--secondary-color) !important;
  }
  
  .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value,
  .advanced-pie-legend .total-value {
    color: var(--secondary-color) !important;
    padding-bottom: 3px !important;
    font-weight: 500;
    margin-top: 0px !important;
  }
  
  .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
    color: var(--text-color);
    font-weight: 500;
  }
  
  .advanced-pie-legend .total-label,
  .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-percent {
    color: var(--text-color);
    font-weight: 500;
  }
  
  .advanced-pie-legend .total-label {
    font-size: 24px !important;
    margin-bottom: 10px !important;
  }
  
  .mat-nav-list a,
  .mat-list-base,
  .mat-list-item .mat-select-value,
  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-button-wrapper .mat-select .mat-select-trigger .mat-select-value .mat-select-value-text {
    color: var(--text-color) !important;
  }
  
  .mat-select-arrow-wrapper .mat-select-arrow {
    color: var(--text-color) !important;
  }
  
  .tc-section-header {
    font-weight: bold;
    color: var(--fourth-color);
    margin-bottom: 5px;
  }
  
  .tc-dashboard-block-header {
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 0px !important;
    color: var(--base-color);
    font-weight: 600;
    font-size: 28px;
  }
  
  .tc-dashboard-block-header mat-icon {
    padding-right: 5px;
  }
  
  .tc-dashboard-block-header-description {
    font-size: small;
    color: var(--eight-color);
    padding-bottom: 10px;
  }
  
  .tc-dashboard-accordion .mat-expansion-panel-header {
    padding-bottom: 12px;
  }
  
  .tc-dashboard-accordion .mat-expansion-panel-header-description,
  .tc-dashboard-accordion .mat-expansion-panel-header-title {
    padding-top: 12px;
  }
  
  .tc-dashboard-accordion ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tc-dashboard-accordion li {
    padding-bottom: 10px;
  }
  
  .mat-expansion-panel-header {
    background-color: var(--base-color) !important;
  }
  
  .mat-expansion-panel-body {
    border-left-color: var(--base-color);
    border-spacing: 5px;
  }
  
  .mat-expansion-panel-header-title {
    color: var(--text-color);
    font-weight: 600;
  }
  
  .tc-toolbar-secondary {
    background-image: linear-gradient(45deg, var(--ninth-color), var(--base-color)) !important;
    height: 100px !important;
  }
  
  .mat-drawer-container {
    background-color: var(--text-color) !important;
  }
  
  .mat-drawer {
    background-color: var(--text-color) !important;
  }
  
  .mat-expansion-panel-body {
    padding: 16px 24px 16px 24px !important;
    border-left: solid;
    border-left-color: var(--base-color);
    border-left-width: 5px;
  }
  
  .mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    border-radius: initial !important;
  }
  
  .mat-expansion-panel-header-title,
  .mat-expansion-indicator::after,
  .mat-expansion-panel-header-description {
    color: var(--text-color) !important;
  }
  
  .mat-action-row {
    border-left: solid;
    border-left-color: var(--base-color);
    border-left-width: 5px;
    border-top-color: var(--base-color);
  }

  .mat-expansion-panel .mat-action-row {
    border: none;
  }
  
  .tc-dashboard-block-header {
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 0px !important;
    color: var(--text-color) !important;
    font-weight: 600;
    font-size: 28px;
  }
  
  .mat-badge-content {
    color: var(--base-color) !important;
    background: var(--text-color) !important;
  }
  
  .et-link {
    color: var(--secondary-color) !important;
    text-decoration: none;
    cursor: pointer;
  }
  
  .et-link:hover {
    color: var(--text-color) !important;
  }
  
  .et-chart-half {
    height: 300px;
    width: 650px;
  }
  
  .mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--base-color);
  }
  
  .mat-drawer {
    background-color: var(--base-color) !important;
  }
  
  .mat-toolbar,
  .mat-toolbar-single-row {
    background-color: transparent !important;
  }
  
  .tc-dashboard-block-header-description {
    font-size: small;
    color: var(--text-color);
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .tc-sidebar-actions .mat-raised-button {
    color: var(--text-color) !important;
    background-color: var(--third-color) !important;
    text-align: left !important;
  }
  
  .tc-menu__parent {
    color: var(--text-color);
  }
  
  .tc-menu__parent-indicator {
    font-size: 10px;
    color: var(--secondary-color) !important;
  }
  
  .tc-menu__child {
    padding-left: 0px;
  }
  
  .tc-menu__child .mat-list-item {
    font-size: 12px !important;
  }
  
  .mat-divider {
    border-color: var(--eventh-color) !important;
  }
  
  .cover {
    background: url("../../assets/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
  .logo {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    width: 174px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 0 auto;
    background-color: transparent;
    color: var(--secondary-color);
  }
  
  .logo-tab {
    padding-top: 0;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 0;
    width: 50%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 0 auto;
    border-radius: 2%;
    background-color: transparent;
    box-shadow: 0px 0px 10px 0px var(--eventh-color);
    color: var(--secondary-color);
  }
  
  .et-align-center {
    display: flex;
    justify-items: center;
    justify-content: center;
  }
  
  .et-h2-title {
    width: 160px !important;
    height: 45px;
    padding-bottom: 5px;
  }
  
  .badge,
  #subtitle {
    left: 0;
    right: 0;
  }
  
  .badge {
    border-color: var(--secondary-color);
    border-width: 5px;
    top: 60%;
    z-index: 1;
  }
  
  .encounter {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #subtitle {
    position: absolute;
    top: 15%;
    text-align: center;
  }
  
  .side-action-menu {
    position: fixed !important;
    width: 10%;
    height: 25%;
    background-color: transparent;
    top: 75%;
    left: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: flex-end;
    z-index: 1;
  }
  
  .action {
    background-color: var(--secondary-color);
    border-radius: 50% !important;
    padding: 20% !important;
    animation: 1s slide 0.2s forwards;
    transform: translateX(100%);
    margin: 5% !important;
    width: inherit;
    height: inherit;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .lang {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes slide {
    to {
      transform: translateX(0);
    }
  }
  @media (max-width: 480px) {
    #subtitle {
      top: 18.5%;
    }
    .parent-menu {
      flex-direction: row;
    }
    .badge {
      top: 156%;
    }
    .hide {
      display: none;
    }
    .mobile {
      height: 2em;
    }
    .action {
      padding: 3%;
    }
  }
  .p-panelmenu .p-panelmenu-header > a {
    padding: 1.25rem;
    border: none !important;
    color: var(--fith-color);
    background: var(--base-color) !important;
    font-weight: 700;
    border-radius: 6px;
    transition: box-shadow 0.2s;
  }
  
  .p-panelmenu .p-submenu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--base-color);
  }
  
  .p-panelmenu .p-panelmenu-content {
    padding: 0.25rem 0;
    border: 1px solid var(--base-color) !important;
    background: var(--base-color) !important;
    color: sixth-color;
    margin-bottom: 4px;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
    color: var(--text-color);
    margin-right: 0.5rem;
  }
  
  .p-slidemenu {
    width: 100% !important;
  }
  
  .p-slidemenu-wrapper {
    width: 100% !important;
  }
  
  .p-slidemenu-content {
    width: 100% !important;
  }
  
  .p-menuitem-text {
    color: var(--text-color) !important;
  }
  
  .p-slidemenu-rootlist {
    width: 100% !important;
  }
  
  .p-slidemenu-content {
    overflow-x: visible !important;
    overflow-y: visible !important;
  }
  
  .p-slidemenu-backward {
    color: var(--text-color) !important;
  }
  
  .p-menuitem-icon {
    color: var(--text-color) !important;
  }
  
  .p-slidemenu {
    border: none !important;
  }
  
  .p-menuitem-link {
    width: 100% !important;
  }
  
  .p-menuitem {
    width: 100% !important;
  }
  
  .p-menuitem-link:hover {
    background-image: url("../../assets/images/cov.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  /* .tc-list-item-focus {
    background-image: url("../../assets/images/cov.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 10px;
  } */
  
  .p-submenu-icon {
    color: var(--text-color) !important;
  }
  
  .p-slidemenu .p-submenu-list {
    width: 100% !important;
  }
  
  .p-avatar.p-avatar-xl .circle {
    width: 8rem !important;
    height: 8rem !important;
    font-size: 2rem;
  }
