
$base-color: var(--base-color);
$secondary-color:var(--secondary-color);
$third-color:var(--third-color);
$fourth-color:var(--fourth-color);
$fith-color:var(--fith-color);
$sixth-color: var(--sixth-color);
$seventh-color:var(--eventh-color);
$eight-color:var(--eight-color);
$ninth-color:var(--ninth-color);
$text-color:var(--text-color);

/* Roboto regular */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}



.et-sidebar-inner {
  border-top-right-radius: 20px !important;
  background-color: $base-color;
  color: $text-color;
  padding-top: 30px;
  position: absolute;
  display: flex;
  margin-top: 80%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.et-sidebar-inner {
  display: flex;
  flex-direction: column;
}
.tc-sidebar-inner {
  background-color: $base-color;
  color: $text-color;
  padding-top: 30px;
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.tc-primary-header {
  height: 64px;
  color: $text-color;
  background-color: $base-color;
  z-index: 20;
}
#divider {
  color: $secondary-color;
  height: 3px;
}

.ck-editor__editable_inline {
  min-height: 60px;
}

.ck.ck-editor {
  margin-bottom: 1.25em !important;
}

.advanced-pie-legend {
  background-color: $base-color !important;
  padding: 15px !important;
  border-radius: 10px !important;
}

.mat-input-element:disabled{
  color: black;
}

.legend-items-container .legend-items .legend-item .item-color {
  border-left-color: $secondary-color !important;
}
.advanced-pie-legend
  .legend-items-container
  .legend-items
  .legend-item
  .item-value,
.advanced-pie-legend .total-value {
  color: $secondary-color !important;
  padding-bottom: 3px !important;
  font-weight: 500;
  margin-top: 0px !important;
}

.advanced-pie-legend
  .legend-items-container
  .legend-items
  .legend-item
  .item-label {
  color: $text-color;
  font-weight: 500;
}
.advanced-pie-legend .total-label,
.advanced-pie-legend
  .legend-items-container
  .legend-items
  .legend-item
  .item-percent {
  color: $text-color;
  font-weight: 500;
}

.advanced-pie-legend .total-label {
  font-size: 24px !important;
  margin-bottom: 10px !important ;
}

.mat-nav-list a,
.mat-list-base,
.mat-list-item .mat-select-value,
.mat-list-base .mat-list-item .mat-list-item-content,
.mat-button-wrapper
  .mat-select
  .mat-select-trigger
  .mat-select-value
  .mat-select-value-text {
  color: $text-color !important;
}

.mat-select-arrow-wrapper .mat-select-arrow {
  color: $text-color !important;
}

.tc-section-header {
  font-weight: bold;
  color: $fourth-color;
  margin-bottom: 5px;
}

.tc-dashboard-block-header {
  padding-top: 15px;
  padding-left: 10px;
  margin-bottom: 0px !important;
  color: $base-color;
  font-weight: 600;
  font-size: 28px;
}

.tc-dashboard-block-header mat-icon {
  padding-right: 5px;
}

.tc-dashboard-block-header-description {
  font-size: small;
  color: $eight-color;
  padding-bottom: 10px;
}

.tc-dashboard-accordion .mat-expansion-panel-header {
  padding-bottom: 12px;
}

.tc-dashboard-accordion .mat-expansion-panel-header-description,
.tc-dashboard-accordion .mat-expansion-panel-header-title {
  padding-top: 12px;
}

.tc-dashboard-accordion ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tc-dashboard-accordion li {
  padding-bottom: 10px;
}
.mat-expansion-panel-header {
  background-color: $base-color !important;
}

.result.mat-expansion-panel-header {
  background-color: white !important;
}
.mat-expansion-panel-body {
  border-left-color: $base-color;
  border-spacing: 5px;
}
.mat-expansion-panel-header-title {
  color: $text-color;
  font-weight: 600;
}

.tc-toolbar-secondary {
  background-image: linear-gradient(45deg, $ninth-color, $base-color) !important;
  height: 100px !important;
}

.mat-drawer-container {
  background-color: $text-color !important;
}

.mat-drawer {
  background-color: $text-color !important;
}
.mat-expansion-panel-body {
  padding: 16px 24px 16px 24px !important;
  border-left: solid;
  border-left-color: $base-color;
  border-left-width: 5px;
}
.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  border-radius: initial !important;
}
.mat-expansion-panel-header-title,
.mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
  color: $text-color !important;
}

.result .mat-expansion-panel-header-title,
.result .mat-expansion-indicator::after,
.result .mat-expansion-panel-header-description {
  color: rgba(0, 0, 0, 0.622) !important;
}
.mat-action-row {
  border-left: solid;
  border-left-color: $base-color;
  border-left-width: 5px;
  border-top-color: $base-color;
}
.mat-expansion-panel .mat-action-row {
  border-left: none;
}
.tc-dashboard-block-header {
  padding-top: 15px;
  padding-left: 10px;
  margin-bottom: 0px !important;
  color: $text-color !important;
  font-weight: 600;
  font-size: 28px;
}

.mat-badge-content {
  color: $base-color !important;
  background: $text-color !important;
}

.et-link {
  color: $secondary-color !important;
  text-decoration: none;
  cursor: pointer;
}

.et-link:hover {
  color: $text-color !important;
}
.et-chart-half {
  height: 300px;
  width: 650px;
}

.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $base-color;
}
.mat-drawer {
  background-color: $base-color !important;
}

.mat-toolbar,
.mat-toolbar-single-row {
  background-color: transparent !important;
}

.tc-dashboard-block-header-description {
  font-size: small;
  color: $text-color;
  padding-bottom: 10px;
  padding-left: 10px;
}

.tc-sidebar-actions .mat-raised-button {
  color: $text-color !important;
  background-color: $third-color !important;
  text-align: left !important;
}
.tc-menu__parent {
  color: $text-color;
}

.tc-menu__parent-indicator {
  font-size: 10px;
  color: $secondary-color !important;
}

.tc-menu__child {
  padding-left: 0px;
}

.tc-menu__child .mat-list-item {
  font-size: 12px !important;
}
.mat-divider {
  border-color: $seventh-color !important;
}

.cover {
  background: url("../../assets/images/background.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

.logo {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  width: 154px;
  // height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto 0 auto;
  background-color: transparent;
  color: $secondary-color;
}

.logo-tab {
  padding-top: 0;
  padding-left: 16%;
  padding-right: 16%;
  padding-bottom: 0;
  width: 50%;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto 0 auto;
  border-radius: 2%;
  background-color: transparent;
  box-shadow: 0px 0px 10px 0px $seventh-color;
  color: $secondary-color;
}

.et-align-center {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.et-h2-title {
  width: 160px !important;
  height: 45px;
  padding-bottom: 5px;
}

.badge,
#subtitle {
  left: 0;
  right: 0;
}
.badge {
  border-color: $secondary-color;
  border-width: 5px;
  top: 60%;
  z-index: 1;
}

.encounter {
  height: 100%;
 // width: 100%;
  width: 130px;
  display: flex;
  justify-content: center;

}

#subtitle {
  position: absolute;
  top: 15%;
  text-align: center;
}

.side-action-menu {
  position: fixed !important;
  width: 10%;
  height: 25%;
  background-color: transparent;
  top: 75%;
  left: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: flex-end;
  z-index: 1;
}
.action {
  background-color: $secondary-color;
  border-radius: 50% !important;
  padding: 20% !important;
  animation: 1s slide 0.2s forwards;
  transform: translateX(100%);
  margin: 5% !important;
  width: inherit;
  height: inherit;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.lang{
display: flex;
align-items: center;
justify-content: center;
}
@keyframes slide {
  to {
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  #subtitle {
    top: 18.5%;
  }
  .parent-menu {
    flex-direction: row;
  }
  .badge {
    top: 156%;
  }
  .hide {
    display: none;
  }
  .mobile {
    height: 2em;
  }
  .action {
    padding: 3%;
  }
}





.p-panelmenu .p-panelmenu-header > a {
  padding: 1.25rem;
  border: none !important;
  color: $fith-color;
  background: $base-color !important;
  font-weight: 700;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}
a.p-panelmenu-header-link.ng-tns-c306-1.ng-star-inserted.p-menuitem-link-active {
  background: #F79B40 !important;
}
.p-panelmenu .p-menuitem-link-active{
  background-color: #F79B40;
}
.p-panelmenu .p-panelmenu-header > a:hover{
  border: none !important;
  background-image: url("../../assets/images/cov.png") !important;
  background-color:#F79B40 !important;
}
.p-panelmenu .p-panelmenu-header > a:focus{
  border: none !important;
  background-color:#F79B40 !important;
}
.p-menuitem-link > a:hover{
  border: 1px solid #dee2e6 !important;
  background-color:#F79B40 !important;
}

.p-menuitem-link:focus{
  border: none !important;
  background-color:#F79B40 !important;
}
.p-menuitem-link > a:focus{
  border: none !important;
  background-color:#F79B40 !important;
}
.p-panelmenu .p-submenu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: $base-color;
}


.p-panelmenu .p-panelmenu-content {
  padding: 0.25rem 0;
  border: 1px solid $base-color !important;
  background: $base-color !important;
  color: sixth-color;
  margin-bottom: 4px;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
  color: $text-color;
  margin-right: 0.5rem;
}

.p-slidemenu{
  width: 100% !important;
}

.p-slidemenu-wrapper{
  width: 100% !important;
}

.p-slidemenu-content{
  width: 100% !important;
}

.p-menuitem-text{
  color: $text-color !important;
}

.p-slidemenu-rootlist{
  width: 100% !important;
}

.p-slidemenu-content{
      overflow-x: visible !important;
     overflow-y: visible !important;
}
.p-slidemenu-backward{
  color: $text-color !important;
}

.p-menuitem-icon{
  color: $text-color !important;
}
.p-slidemenu{
  border: none !important;
}
.p-menuitem-link{
  width: 100% !important;
}

.p-menuitem{
  width: 100% !important;
}

 .p-menuitem-link:hover {
  background-image: url("../../assets/images/cov.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $text-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}




.p-submenu-icon{
  color: $text-color !important;
}
.p-slidemenu .p-submenu-list {
  width: 100% !important;
}

.circle .p-avatar.p-avatar-xl{
  width: 8rem !important;
  height: 8rem !important;
  font-size: 2rem;
}

.rectangle .p-avatar.p-avatar-xl{
  width: 100%;
  height: 100%;
  min-height: 200px;
  font-size: 2rem;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus{
  box-shadow: none !important;
}


.country-dropdown{
  width: 280px !important;
}
.custom {
  padding-top: 8px !important;
  padding-bottom: 10px !important;
  width: 280px !important;
  outline: none !important;
  border: none !important;

  border-bottom:2px solid gray !important;
  
  border-radius: 5px !important;
  box-shadow: none !important;


} 

.phone_number_touch{
  border: none !important;
  box-shadow: none !important;

  border-bottom:2px solid red !important;
}
.phone_number_valid{
  border: none !important;
  border-bottom:2px solid green !important;
  box-shadow: none !important;
}
.phone_number_form{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
// .ng-pristine {
//   padding: 6px !important;
// }