body {
  background-color: #EDF0F3 !important;
  height: 100%;
}

// p {
//   text-align: justify;
// }

.tc-text-center {
  text-align: center;
}

.tc-margin-0 {
  margin: 0 !important;
}

mat-cell, mat-header-cell, mat-footer-cell{
  padding: 0 4px;
}




/*customization to material styles*/
.mat-divider {
  border-color: #e1e1e1;
}

.mat-table-sticky:first-child {
  border-right: none;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

.mat-drawer-container {
  background-color: #F2F6FB !important;
}

.mat-drawer {
  background-color: #F2F6FB !important;
}

.mat-form-field {
  margin-right: 10px;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  margin-top: 15px;
  padding-bottom: 15px;
}


.mat-action-row {
  padding: 8px 4px 8px 12px !important;
}


.tc-table-container {
  border: 1px solid rgba(0, 0, 0, .12);
}

.tc-table-container .mat-header-row {
  background-color: #eaeaea !important;
  overflow: auto;
}

.mat-sort-header-button, .mat-header-cell {
  text-transform: capitalize;
}

.mat-button.tc-active-tab {
  background-color: #0073B7;
  padding: 14px;
  border-radius: 0px;
}

.mat-tab-label .mat-badge {
  padding-left: 10px !important;
}

.mat-row:hover, .mat-row:hover .mat-flat-button {
  background-color: #D9EDF7;
}

.mat-expansion-panel-header-title .mat-icon {
  width: 30px;
  height: 30px;
  font-size: 1.2em;
  padding-right: 5px;
}

.mat-menu-item .mat-icon {
  font-size: 1.2em;
}

.mat-button .mat-icon {
  vertical-align: baseline !important;
}

.mat-card-title {
  font-size: 16px !important;
}

.mat-card-header-text {
  margin: 0px !important;
}

.mat-tab-label-active {
  background-color: #DAECF8 !important;
  opacity: 1 !important;
}

.tc-flex-center {
  align-items: center;
  display: flex;
  padding: 16px;
}


/*tc styles*/

.tc-chart-full {
  height: 300px;
  width: 850px;
}



.tc-chart-half {
  height: 300px;
  width: 650px;
}

.tc-chart-third {
  height: 300px;
  width: 500px;
}

.tc-public-header {
  background-image: linear-gradient(45deg, #fff, #3799DB);
  border-bottom: 1px solid #3799DB;
}

.tc-public-header .mat-toolbar {
  background: transparent;
  color: #333;
}

.tc-public-header .mat-toolbar-row {
  height: 100px;
  padding-left: 0px;
}

.tc-toolbar-main {
  position: fixed;
  background-color: #175D91;
  z-index: 999;
}


.tc-primary-header {
  background-color: #175D91;
  padding: 10px;
  color: #fff;
}

.tc-toolbar-secondary {
  background-image: linear-gradient(45deg , #d0eaff,#175D91) !important;
  height: 100px !important;
}

.tc-toolbar-secondary h3 {
  text-transform: capitalize;
}

.mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif !important;
  margin: 16px 0 16px !important;
}

.mat-paginator-container {
  justify-content: flex-start !important;
}



.tc-list-item-focus > a {
  background-color: #D0EAFF !important;
}

.tc-list-item-focus > a > span {
  color: blue !important;
}






.tc-flex-column {
  display: flex;
  flex-direction: column;
}

.tc-flex-row,.parent-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tc-flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tc-flex-fill {
  flex: 1 1 auto;
}

.tc-board {
  background-color: #3498DB !important;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 15px;
  height: 90vh;
}


.tc-board-header {
  margin-bottom: 10px;
}

.tc-board-header h1.mat-headline {
  color: #fff;
}

.tc-board-header .tc-text-muted {
  color: #efefef !important;
}

.tc-board-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tc-board-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-radius: 3px;
  padding-bottom: 10px;
}

.tc-board-column h1.mat-headline {
  color: #172b4d !important;
  font-size: medium;
  font-weight: bold;
}

.tc-board-card {
  background-color: #f1f1f1 !important;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  color: #333 !important;
}

.tc-board-card:hover {
  background-color: #DFE1E6 !important;
  cursor: pointer;
}

.tc-board-card a, .tc-board-card a:hover {
  cursor: pointer;
}



.tc-padding {
  padding: 10px;
}

.tc-padding-y {
  padding: 5px 0;
}

.tc-padding-x {
  padding: 0 5px;
}

.tc-sidebar-container {
  margin-top: 64px !important;
}

.tc-sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.tc-sidebar-inner {
  display: flex;
  flex-direction: column;
}

.tc-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.tc-sidebar-header {
  background-color: #1A73E8;
  padding: 15px;
  color: #ffffff;
}

.tc-sidebar-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.tc-sidebar-actions button {
  margin: 10px 10px 0px 10px;
}

.tc-content-row {
  display: flex;
  flex-direction: row;
  max-width: 940px;
  margin: 30px 0;
}


.tc-column-action {
  flex: 0 0 60px !important;
  white-space: unset !important;
}


.tc-column-selection {
  flex: 0 0 60px !important;
  white-space: unset !important;
}

.tc-column-selection .tc-form-toggle {
  padding-left: 10px;
}

.tc-column-selection-no-action {
  flex: 0 0 50px !important;
  white-space: unset !important;
}

.tc-column-date {
  flex: 0 0 120px !important;
  white-space: unset !important;
  font-size: small !important;
}

.tc-column-picture {
  flex: 0 0 80px !important;
  white-space: unset !important;
}

.tc-column-number {
  flex: 0 0 80px !important;
  white-space: unset !important;
  font-size: small !important;
}

.tc-column-icon {
  flex: 0 0 50px !important;
  white-space: unset !important;
}

.tc-column-country {
  flex: 0 0 200px !important;
  white-space: unset !important;
  font-size: small !important;
}

.tc-column-address {
  white-space: pre !important;
  font-size: small !important;
}


.tc-column-picture img {
  width: 40px;
  border-radius: 50%;
  padding: 5px;
}


.tc-column-sub-text {
  color: rgba(0, 0, 0, .54) !important;
  font-size: small !important;
}

.tc-text-muted {
  color: rgba(0, 0, 0, .54) !important;
  font-size: small !important;
}


.tc-link {
  color: #1A73E8 !important;
  text-decoration: none;
  cursor: pointer;
}

.tc-link:hover {
  color: #0d4aa1 !important;
}

.tc-icon-button {
  cursor: pointer;
  margin-left: 5px;
}

.tc-loading {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tc-selected-row, .tc-selected-row .mat-flat-button {
  background-color: #d6ebef !important;
}


.tc-full-stretch {
  width: 98%;
}

.tc-full-width {
  width: 100%;
}

.tc-content-box {
  background-color: #fff;
}

.tc-detail-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.tc-detail-field span {
  padding-bottom: 5px;
  color: rgba(0, 0, 0, .54);
  text-transform: capitalize;
}

.tc-detail-field .tc-address {
  color: unset !important;
}

.tc-panel-info {
  background-color: #3F51B5 !important;
  color: #ffffff !important;
}

.tc-panel-success {
  background-color: #3fb5a3 !important;
  color: rgba(255, 255, 255, .8) !important;
}

.tc-panel-danger {
  background-color: #d26a32 !important;
  color: rgba(255, 255, 255, .8) !important;
}

.tc-panel-success .mat-simple-snackbar-action, .tc-panel-danger .mat-simple-snackbar-action, .tc-panel-info .mat-simple-snackbar-action {
  color: #cccccc !important;
}

.tc-hidden {
  display: none !important;
}

.tc-form-toggle, .tc-form-checkbox {
  min-height: 50px;
  display: flex;
}

.tc-equal-block {
  flex: 1;
}

.tc-circle {
  width: 50%;
  height: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 0;
  padding: 25% 0;
  border-radius: 50%;
  background: #09f
}

.tc-spinner-in-button {
  float: right;
  margin: 10px;
}

.tc-spinner-in-menu {
  float: right;
  margin-left: 10px;
}

.tc-jumbotron {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #005CB9;
}

.tc-jumbotron h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: bold;
  line-height: 2.5em;
  margin: 15px 5px;
}

.tc-jumbotron h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  margin: 15px 0 25px;
}

.tc-jumbotron p {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  margin: 15px 0 25px;
}

.tc-flex-column-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
}


.tc-homepage-promo-img {
  text-align: center;
}

.tc-homepage-promo-img img {
  width: 100%;
}

.tc-homepage-promo-desc {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.tc-homepage-promo-desc h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 16px;
  padding: 0;
}

.tc-homepage-promo-desc p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 24px;
  padding: 0;
}


.tc-card {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 5px;
  width: 550px;
}


.tc-address {
  white-space: pre-wrap !important;
  font-size: small !important;
}

.tc-gender-input {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .4) !important;
}


.tc-date {
  font-size: small !important;
}

.tc-input-multiline-text {
  height: 20em;
}

.tc-menu__parent {
  margin-bottom: 1px;
}

.tc-multi-line-text {
  white-space: pre-wrap !important;
}

.tc-hide-on-desktop {
}

.tc-hide-on-mobile {

}

.tc-hide-on-tablet {

}

.tc-section-header {
  font-weight: bold;
  color: #1A73E8;
  margin-bottom: 5px;
}

.tc-dashboard-block-header {
  padding-top: 15px;
  padding-left:10px;
  color:#27446b;
  margin-bottom: 0px !important;
}

.tc-dashboard-block-header mat-icon {
  padding-right: 5px;
}

.tc-dashboard-block-header-description {
  font-size: small;
  color: #777;
  padding-bottom: 10px;
}

.tc-dashboard-accordion {
}

.tc-dashboard-accordion .mat-expansion-panel-header {
  padding-bottom: 12px;
}

.tc-dashboard-accordion .mat-expansion-panel-header-description, .tc-dashboard-accordion .mat-expansion-panel-header-title {
  padding-top: 12px;
}

.tc-dashboard-accordion ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tc-dashboard-accordion li {
  padding-bottom: 10px;
}


.tc-process-metadata {
  margin-bottom: 20px !important;
  margin-top: 0px !important;
}

.tc-log-text, .tc-notice-text, .tc-request-text {
  clear: both;
  padding: 10px;
  border-radius: 5px;
  background-color: #F0F6FD;
  margin-bottom: 10px;
  white-space: pre-wrap !important;
}


/*desktops, laptops, big resolution screens*/
@media (min-width: 1025px) {
  .tc-hide-on-desktop {
    display: none;
  }

  .tc-container {
    width: 1170px;
  }
}


/*tablet*/
@media ( min-width: 768px) and (max-width: 1024px) {
  .tc-hide-on-tablet {
    display: none;
  }

  .tc-container {
    width: 970px;
  }
}

/*phone*/
@media ( max-width: 767px) {

  .tc-hide-on-mobile {
    display: none;
  }

  .tc-container {
    width: 90%;
    padding: 5px;
  }


  .tc-flex-row {
    flex-direction: column;
  }

  .tc-equal-block {
    flex: unset;
    width: 100%;
  }

  .mat-form-field {
    margin-right: unset;
  }

  .tc-content-row {
    display: flex;
    width: 100%;
    margin: 30px 0;
    flex-direction: column;
  }

  .tc-homepage-promo-img {
    width: 100%;
  }

  .tc-card {
    width: 90%;
  }

  .tc-card .mat-card-header-text {
    margin: 0px;
  }

  .tc-chart-full {
    width: 450px;
  }

  .tc-chart-half {
    width: 450px;
  }

  .tc-chart-third {
    width: 450px;
  }


}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-button-wrapper {
  white-space: normal !important;
}
