<mat-toolbar class="tc-toolbar-secondary ">
    <h1 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
      Selected Order
    </h1>
    <button mat-button (click)=" back();" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchOrdersByType()" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button *ngIf="!ordersDetail.generated_sample_id" mat-button (click)="generateSampleId()" style="margin-left: auto;">
      <span>Generate Sample Id</span>
    </button>
  </mat-toolbar>

  <div class="tc-padding">

    <div class="tc-loading" *ngIf="ordersLoading">
      <mat-spinner></mat-spinner>
    </div>
      <mat-form-field *ngIf="selected_orderssData.length || selected_orderssSearchTextBox.value">
        <input matInput [formControl]="selected_orderssSearchTextBox"
               placeholder="{{appTranslation.getText('general','search_text')}}">
        <button mat-button *ngIf="selected_orderssSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="selected_orderssSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <h3 *ngIf="!ordersLoading && !selected_orderssData.length && !selected_orderssSearchTextBox.value">Sorry! The patient did not pay his or her bill.</h3>
      <p>{{ordersDetail.note}}</p>
          <mat-accordion *ngFor="let lab_order of selected_orderssData; let i = index;" class="tc-padding">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ordersDetail.generated_sample_id}} - {{lab_order.name}}
                </mat-panel-title>
                <mat-panel-description *ngIf="lab_order.status != selected_orders_status.approved" style="flex-direction: row-reverse;">
                  <button mat-button *ngIf="tcAuthorization.canCreate('sample_collections') && (!lab_order.sample_collection || lab_order.sample_collection.sample_status == selected_orders_status.rejected) && ordersDetail.generated_sample_id" style="color: white; background-color: #175D91; border: none;" (click)="$event.stopPropagation();lab_order.status == selected_orders_status.rejected ? editSample(lab_order.generated_sample_id) : addSample(lab_order)">Add Sample</button>
                  <button mat-button *ngIf="tcAuthorization.canCreate('sample_collections') && (lab_order.sample_collection && lab_order.sample_collection.sample_status == selected_orders_status.ready_to_approve)" style="color: white; background-color: #175D91; border: none;" (click)="$event.stopPropagation();acceptSample(lab_order)">Accept Sample</button>
                  <button mat-button *ngIf="tcAuthorization.canCreate('sample_collections') && (lab_order.sample_collection && lab_order.sample_collection.sample_status == selected_orders_status.ready_to_approve)" style="color: white; background-color: #175D91; border: none; margin-right: 16px;" (click)="$event.stopPropagation();rejectSample(lab_order)">Reject Sample</button>
                </mat-panel-description>
                <mat-panel-description *ngIf="tcUtilsArray.containsId(canSave, lab_order.id)" style="flex-direction: row-reverse;">
                  <button mat-button style="color: white; background-color: #175D91; border: none;" (click)="$event.stopPropagation();saveResult(i)">Save</button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-selected-orders #child [patientDetail]="patientDetail" [order]="ordersDetail" [labOrderId]="lab_order.id" [resultType]="resultType" [status]="lab_order.status"  [canAdd]="lab_order.sample_collection?.sample_status == selected_orders_status.approved" (allowSave)="allowCanSave($event)"></app-selected-orders>
            </mat-expansion-panel>
          </mat-accordion>
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="selected_orderssTotalCount"
      [ngStyle]="{display: selected_orderssTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
