<h1 mat-dialog-title>
    procedure-template Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="procedureTemplateSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="procedureTemplatePersist.procedureTemplateSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="procedureTemplateSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="procedureTemplateIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="procedureTemplatesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(procedureTemplatesData,procedureTemplateSelection) "
            [checked]=" tcUtilsArray.isAllSelected(procedureTemplatesData,procedureTemplateSelection) || procedureTemplateSelectAll"
            [indeterminate]="procedureTemplateSelection.length <procedureTemplatesData.length && procedureTemplateSelection.length>0"
            [disabled]="procedureTemplateSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="procedureTemplateSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #procedureTemplateSelectAllMenu="matMenu">

            <button mat-menu-item (click)="procedureTemplateSelectAll=true;" [disabled]="procedureTemplateSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="procedureTemplateSelectAll = false;" [disabled]="!procedureTemplateSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(procedureTemplateSelection,row) : null"
            [checked]="tcUtilsArray.contains(procedureTemplateSelection,row) || procedureTemplateSelectAll " [disabled]="procedureTemplateSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="order_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>order_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.order_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(physicalExaminationPersist.PhysicalExaminationState, element.status)?.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="template_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Template Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.template_name}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="procedureTemplatesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: procedureTemplatesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedureTemplateSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="procedureTemplatesTotalCount"
      [ngStyle]="{display: procedureTemplatesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" procedureTemplateSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
