<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-info"></mat-icon>
    {{ appTranslation.getText("patient", "private_info") }}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchDoctor_Private_Infos();"
    *ngIf="tcAuthorization.canRead('doctor_private_infos')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addDoctor_Private_Info();"
    *ngIf="tcAuthorization.canCreate('doctor_private_infos') && form_encounterPersist.encounter_is_active" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-padding">

    <mat-spinner diameter="50" *ngIf="doctor_private_infosLoading" class="tc-padding"></mat-spinner>

    <div class="tc-padding" [ngStyle]="{display: doctor_private_infosLoading? 'none':''}">
    <mat-form-field>
        <input matInput [formControl]="doctor_private_infosSearchTextBox"
        placeholder="{{appTranslation.getText('general','search_text')}}">
        <button mat-button *ngIf="doctor_private_infosSearchTextBox.value" matSuffix mat-icon-button
        aria-label="Clear" (click)="doctor_private_infosSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>


    <div class="tc-table-container tc-full-stretch">

        <mat-toolbar *ngIf="doctor_private_infosSelected.length >0 ">
        <button mat-button (click)="downloadDoctor_Private_Infos()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
        </button>

        </mat-toolbar>

        <mat-table [dataSource]="doctor_private_infosData" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(doctor_private_infosData,doctor_private_infosSelected) "
                [checked]=" tcUtilsArray.isAllSelected(doctor_private_infosData,doctor_private_infosSelected)"
                [indeterminate]="doctor_private_infosSelected.length <doctor_private_infosData.length && doctor_private_infosSelected.length>0">
            </mat-checkbox>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(doctor_private_infosSelected,row) : null"
                [checked]="tcUtilsArray.contains(doctor_private_infosSelected,row)">
            </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="doctor_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','doctor_name')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patient_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="note">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('notes','note')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.note}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('doctor_private_infos') || tcAuthorization.canDelete('doctor_private_infos')) && form_encounterPersist.encounter_is_active">
                <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editDoctor_Private_Info(element)" *ngIf="tcAuthorization.canUpdate('doctor_private_infos') && form_encounterPersist.encounter_is_active">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteDoctor_Private_Info(element)" *ngIf="tcAuthorization.canDelete('doctor_private_infos') && form_encounterPersist.encounter_is_active">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
            </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="doctor_private_infosDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: doctor_private_infosDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(doctor_private_infosSelected,row)}">
        </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="doctor_private_infosTotalCount"
        [ngStyle]="{display: doctor_private_infosTotalCount > 0? '':'none'}">
        </mat-paginator>
    </div>
    </div>
</div>