
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     outside_prescription  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchOutside_prescriptions();" *ngIf="tcAuthorization.canRead('outside_prescriptions')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addOutside_prescription();" *ngIf="tcAuthorization.canCreate('outside_prescriptions')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="outsidePrescriptionSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="outsidePrescriptionPersist.outsidePrescriptionSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="outsidePrescriptionSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          '{{appTranslation.getText("general", "date")}}'
        [formControl]="outsidePrescriptionPersist.date"
        [matDatepicker]="date_of_schedule"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="date_of_schedule"
      ></mat-datepicker-toggle>
      <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
      <button mat-button *ngIf="outsidePrescriptionPersist.date.value !== ''" matSuffix mat-icon-button
        aria-label="Clear" (click)="outsidePrescriptionPersist.date.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="outsidePrescriptionIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let outsidePrescription of outsidePrescriptionsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('outside_prescriptions') || tcAuthorization.canDelete('outside_prescriptions')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editOutsidePrescription(outsidePrescription)" *ngIf="tcAuthorization.canUpdate('outside_prescriptions')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteOutsidePrescription(outsidePrescription)" *ngIf="tcAuthorization.canDelete('outside_prescriptions')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>response_date</span>
            {{outsidePrescription.response_date}}
          </div><div class="tc-detail-field">
            <span>request_date</span>
            {{outsidePrescription.request_date}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{outsidePrescription.status}}
          </div><div class="tc-detail-field">
            <span>item_id</span>
            {{outsidePrescription.item_id}}
          </div><div class="tc-detail-field">
            <span>quantity</span>
            {{outsidePrescription.quantity}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchOutside_prescriptions.length >0 || outsidePrescriptionSelectAll">
        <button mat-button (click)="downloadOutsidePrescriptions()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{outsidePrescriptionSelectAll ? outsidePrescriptionsTotalCount : outsidePrescriptionSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="outsidePrescriptionsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(outsidePrescriptionsData,outsidePrescriptionSelection) "
              [checked]=" tcUtilsArray.isAllSelected(outsidePrescriptionsData,outsidePrescriptionSelection) || outsidePrescriptionSelectAll"
              [indeterminate]="outsidePrescriptionSelection.length <outsidePrescriptionsData.length && outsidePrescriptionSelection.length>0"
              [disabled]="outsidePrescriptionSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="outsidePrescriptionSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #outsidePrescriptionSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="outsidePrescriptionSelectAll=true;" [disabled]="outsidePrescriptionSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="outsidePrescriptionSelectAll = false;" [disabled]="!outsidePrescriptionSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(outsidePrescriptionSelection,row) : null"
              [checked]="tcUtilsArray.contains(outsidePrescriptionSelection,row) || outsidePrescriptionSelectAll" [disabled]="outsidePrescriptionSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="response_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>response_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.response_date && element.response_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="request_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>request_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.request_date && element.request_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(prescriptionRequestPersist.PrescriptionRequestStatus, element.status)?.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><a [routerLink]="outsidePrescriptionNavigator.outsidePrescriptionUrl(element.id)" class="tc-link">{{element.patient_name}}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="mrn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.serial_id}}</mat-cell>
        </ng-container>

   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="outsidePrescriptionNavigator.outsidePrescriptionUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('outside_prescriptions') || tcAuthorization.canDelete('outside_prescriptions')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editOutsidePrescription(element)" *ngIf="tcAuthorization.canUpdate('outside_prescriptions') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="dispatchItems(element)" *ngIf="tcAuthorization.canUpdate('outside_prescriptions') && element.status == prescriptionRequestStatus.accept ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>Dispatch </span>
              </button>
              <button mat-menu-item (click)="deleteOutsidePrescription(element)" *ngIf="tcAuthorization.canDelete('outside_prescriptions')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="outsidePrescriptionsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: outsidePrescriptionsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(outsidePrescriptionSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="outsidePrescriptionsTotalCount"
        [ngStyle]="{display: outsidePrescriptionsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>