<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="birthDetail">


                        <mat-form-field class="tc-full-stretch">
                          <mat-label>{{appTranslation.getText('general','mother_name')}}</mat-label>
                          <input matInput disabled [(ngModel)]="patientFullName"/>
                          <button
                            mat-icon-button
                            matTooltip="{{appTranslation.getText('general','mother_name')}}"
                            matSuffix
                            [disabled]="isEdit()"
                            color="primary"
                            (click)="searchPatient()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>
                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('general','father_name')}}" type="text"  [(ngModel)]="birthDetail.fathers_name" required>
                        </mat-form-field>
                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('general','given_name')}}" type="text"  [(ngModel)]="birthDetail.given_name" required>
                        </mat-form-field>
                    
                    
                        <mat-form-field class="tc-full-stretch">
                          <input matInput [matDatepicker]="birth_timeDatePicker" [(ngModel)]="birth_time"
                              placeholder="{{appTranslation.getText('general','birth_time')}}">
                          <mat-datepicker-toggle matSuffix [for]="birth_timeDatePicker"></mat-datepicker-toggle>
                          <mat-datepicker #birth_timeDatePicker></mat-datepicker>
                      </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('general','weight')}}" type="number"  [(ngModel)]="birthDetail.weight" required>
                        </mat-form-field>
                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('general','height')}}" type="number"  [(ngModel)]="birthDetail.height" required>
                        </mat-form-field>

                        <!-- <mat-form-field class="tc-full-stretch">
                          <mat-label>
                            {{appTranslation.getText("schedule", "search_for_physicians")}}
                          </mat-label>
                          <input matInput disabled [(ngModel)]="userFullName"/>
                          <button
                            mat-icon-button
                            matTooltip="{{appTranslation.getText('patient','doctor_name')}}"
                            matSuffix
                            color="primary"
                            (click)="searchDoctors()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field> -->
                    

  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
