<h1 mat-dialog-title>
    interchangeable_item Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="interchangeableItemSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="interchangeableItemPersist.interchangeableItemSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="interchangeableItemSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="interchangeableItemIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="interchangeableItemsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(interchangeableItemsData,interchangeableItemSelection) "
            [checked]=" tcUtilsArray.isAllSelected(interchangeableItemsData,interchangeableItemSelection) || interchangeableItemSelectAll"
            [indeterminate]="interchangeableItemSelection.length <interchangeableItemsData.length && interchangeableItemSelection.length>0"
            [disabled]="interchangeableItemSelectAll"
            *ngIf="!data.selectOne">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="interchangeableItemSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #interchangeableItemSelectAllMenu="matMenu">

            <button mat-menu-item (click)="interchangeableItemSelectAll=true;" [disabled]="interchangeableItemSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="interchangeableItemSelectAll = false;" [disabled]="!interchangeableItemSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(interchangeableItemSelection,row) : null"
            [checked]="tcUtilsArray.contains(interchangeableItemSelection,row) || interchangeableItemSelectAll" [disabled]="interchangeableItemSelectAll"
            *ngIf="!data.selectOne">
          </mat-checkbox>
          <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(interchangeableItemSelection,row)"
                                    *ngIf="data.selectOne">
            </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="main_drug_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>main_drug_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.main_drug_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="interchangable_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>interchangable_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.interchangeable_name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(companyPersist.Activeness_Status, element.status).name}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="interchangeableItemsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: interchangeableItemsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(interchangeableItemSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="interchangeableItemsTotalCount"
      [ngStyle]="{display: interchangeableItemsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" interchangeableItemSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
