<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-sync"></mat-icon>
    jobs
  </h3>
  <button mat-button (click)=" searchJobs();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <button mat-button (click)=" addJob();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding ">
  <mat-form-field>
    <input matInput [formControl]="jobsSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="jobPersist.jobSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="jobsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Job State" [(value)]="jobPersist.jobStateFilter" (valueChange)="searchJobs()">
      <mat-option *ngFor="let item of jobPersist.JobStates" [value]="item.id">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="tc-loading" *ngIf="jobsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">
    <mat-toolbar *ngIf="jobsSelection.length >0">
      <button mat-button (click)="downloadJobs()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="jobsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(jobsData,jobsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(jobsData,jobsSelection)"
            [indeterminate]="jobsSelection.length <jobsData.length && jobsSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(jobsSelection,row) : null"
            [checked]="tcUtilsArray.contains(jobsSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="jobNavigator.jobUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="job_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>job_type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.job_type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="job_state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>job_state</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.job_state}}

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creation_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>creation_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.creation_time)|date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="update_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>update_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.update_time)|date}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editJob(element)">
              <mat-icon>edit</mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteJob(element)">
              <mat-icon>delete</mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="jobsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: jobsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(jobsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="jobsTotalCount"></mat-paginator>
  </div>
</div>