<h1 mat-dialog-title>
    payment_discount_request Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="paymentDiscountRequestSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="paymentDiscountRequestPersist.paymentDiscountRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="paymentDiscountRequestSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="paymentDiscountRequestIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="paymentDiscountRequestsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(paymentDiscountRequestsData,paymentDiscountRequestSelection) "
            [checked]=" tcUtilsArray.isAllSelected(paymentDiscountRequestsData,paymentDiscountRequestSelection) || paymentDiscountRequestSelectAll"
            [indeterminate]="paymentDiscountRequestSelection.length <paymentDiscountRequestsData.length && paymentDiscountRequestSelection.length>0"
            [disabled]="paymentDiscountRequestSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="paymentDiscountRequestSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #paymentDiscountRequestSelectAllMenu="matMenu">

            <button mat-menu-item (click)="paymentDiscountRequestSelectAll=true;" [disabled]="paymentDiscountRequestSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="paymentDiscountRequestSelectAll = false;" [disabled]="!paymentDiscountRequestSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(paymentDiscountRequestSelection,row) : null"
            [checked]="tcUtilsArray.contains(paymentDiscountRequestSelection,row) || paymentDiscountRequestSelectAll" [disabled]="paymentDiscountRequestSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="requestor_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>requestor_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.requestor_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="responsed_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>responsed_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.responsed_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="request_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>request_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="respond_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>respond_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.respond_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remark
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="discounted_amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>discounted_amount
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.discounted_amount}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="paymentDiscountRequestsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: paymentDiscountRequestsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(paymentDiscountRequestSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="paymentDiscountRequestsTotalCount"
      [ngStyle]="{display: paymentDiscountRequestsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" paymentDiscountRequestSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
