<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-person-pregnant"></mat-icon>
      NeoNatal Care
    </h3>
  
    <button mat-button (click)="back()" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button
      mat-button
      (click)="searchNewBornNatalCares()"
      *ngIf="tcAuthorization.canRead('new_born_natal_cares')"
      class="tc-link"
    >
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button
      mat-button
      (click)="addNewBornNatalCare()"
      *ngIf="tcAuthorization.canCreate('new_born_natal_cares') && form_encounterPersist.encounter_is_active"
      class="tc-link"
    >
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
      <mat-slide-toggle
      matInput
      labelPosition="before"
      class="tc-form-toggle" (change)="handleToggle($event)"
      required
      [checked]="false"
      >
      {{appTranslation.getText("patient", "show_current")}}
      </mat-slide-toggle>
      </h1>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input
        matInput
        [formControl]="newBornNatalCareSearchTextBox"
        placeholder="{{ appTranslation.getText('general', 'search_text') }} "
      />
      <button
        mat-button
        *ngIf="newBornNatalCarePersist.newBornNatalCareSearchText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="newBornNatalCareSearchTextBox.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="newBornNatalCareIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let newBornNatalCare of newBornNatalCaresData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button
              mat-icon-button
              [matMenuTriggerFor]="elementMenu"
              *ngIf="
                (tcAuthorization.canUpdate('new_born_natal_cares') ||
                tcAuthorization.canDelete('new_born_natal_cares')) && form_encounterPersist.encounter_is_active
              "
            >
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
              <button
                mat-menu-item
                (click)="editNewBornNatalCare(newBornNatalCare)"
                *ngIf="tcAuthorization.canUpdate('new_born_natal_cares')"
              >
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{ appTranslation.getText("general", "edit") }} </span>
              </button>
              <button
                mat-menu-item
                (click)="deleteNewBornNatalCare(newBornNatalCare)"
                *ngIf="tcAuthorization.canDelete('new_born_natal_cares')"
              >
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{ appTranslation.getText("general", "delete") }} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="tc-detail-field">
            <span>Post Natal Visit</span>
            {{ persentPregenancyFollowUp.getLevel(newBornNatalCare.post_natal_visit) }}
          </div>
          <div class="tc-detail-field">
            <span>bp</span>
            {{ newBornNatalCare.bp }}
          </div>
          <div class="tc-detail-field">
            <span>tpr</span>
            {{ newBornNatalCare.tpr }}
          </div>
          <div class="tc-detail-field">
            <span>uterus_contracted_look_for_pph</span>
            {{ newBornNatalCare.uterus_contracted_look_for_pph }}
          </div>
          <div class="tc-detail-field">
            <span>date_checked</span>
            {{ newBornNatalCare.date_checked * 1000 | date: "yyyy-MM-dd" }}
          </div>
          <div class="tc-detail-field">
            <span>temp_value</span>
            {{ newBornNatalCare.temp_value }}
          </div>
          <div class="tc-detail-field">
            <span>dribbling_leaking_urine</span>
            {{ newBornNatalCare.dribbling_leaking_urine }}
          </div>
          <div class="tc-detail-field">
            <span>anemia</span>
            {{ newBornNatalCare.anemia }}
          </div>
          <div class="tc-detail-field">
            <span>vaginal_discharge</span>
            {{ newBornNatalCare.vaginal_discharge }}
          </div>
          <div class="tc-detail-field">
            <span>pelvic_exam</span>
            {{ newBornNatalCare.pelvic_exam }}
          </div>
          <div class="tc-detail-field">
            <span>breast</span>
            {{ newBornNatalCare.breast }}
          </div>
          <div class="tc-detail-field">
            <span>vitamin_a</span>
            {{ newBornNatalCare.vitamin_a }}
          </div>
          <div class="tc-detail-field">
            <span>counsenig_danger_signs_epi</span>
            {{ newBornNatalCare.counsenig_danger_signs_epi }}
          </div>
          <div class="tc-detail-field">
            <span>baby_breathing</span>
            {{ newBornNatalCare.baby_breathing }}
          </div>
          <div class="tc-detail-field">
            <span>baby_breast_feeding</span>
            {{ newBornNatalCare.baby_breast_feeding }}
          </div>
          <div class="tc-detail-field">
            <span>baby_weight</span>
            {{ newBornNatalCare.baby_weight }}
          </div>
          <div class="tc-detail-field">
            <span>immunization</span>
            {{ newBornNatalCare.immunization }}
          </div>
          <div class="tc-detail-field">
            <span>hiv_tested</span>
            {{ newBornNatalCare.hiv_tested }}
          </div>
          <div class="tc-detail-field">
            <span>hiv_test_result</span>
            {{ newBornNatalCare.hiv_test_result }}
          </div>
          <div class="tc-detail-field">
            <span>arv_px_for_mother</span>
            {{ newBornNatalCare.arv_px_for_mother }}
          </div>
          <div class="tc-detail-field">
            <span>arv_px_for_newborn</span>
            {{ newBornNatalCare.arv_px_for_newborn }}
          </div>
          <div class="tc-detail-field">
            <span>feeding_option</span>
            {{ newBornNatalCare.feeding_option }}
          </div>
          <div class="tc-detail-field">
            <span>mother_referred_to_c_and_sup</span>
            {{ newBornNatalCare.mother_referred_to_c_and_sup }}
          </div>
          <div class="tc-detail-field">
            <span>new_born_referred_to_chronic_hiv_infant_care</span>
            {{ newBornNatalCare.new_born_referred_to_chronic_hiv_infant_care }}
          </div>
          <div class="tc-detail-field">
            <span>fb_counseled_and_provided</span>
            {{ newBornNatalCare.fb_counseled_and_provided }}
          </div>
          <div class="tc-detail-field">
            <span>remark</span>
            {{ newBornNatalCare.remark }}
          </div>
          <div class="tc-detail-field">
            <span>action_taken</span>
            {{ newBornNatalCare.action_taken }}
          </div>
          <div class="tc-detail-field">
            <span>attendant_name_and_signature</span>
            {{ newBornNatalCare.attendant_name_and_signature }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
      <mat-toolbar
        *ngIf="searchNewBornNatalCares.length > 0 || newBornNatalCareSelectAll"
      >
        <button mat-button (click)="downloadNewBornNatalCares()">
          <mat-icon>save_alt</mat-icon>
          <span>{{ appTranslation.getText("general", "download") }} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span
          >{{
            newBornNatalCareSelectAll
              ? newBornNatalCaresTotalCount
              : newBornNatalCareSelection.length
          }}
          {{ appTranslation.getText("general", "selected") }}</span
        > </mat-toolbar
      ><mat-table
        [dataSource]="newBornNatalCaresData"
        matSort
        class="tc-hide-on-mobile"
      >
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="
                tcUtilsArray.toggleSelectAll(
                  newBornNatalCaresData,
                  newBornNatalCareSelection
                )
              "
              [checked]="
                tcUtilsArray.isAllSelected(
                  newBornNatalCaresData,
                  newBornNatalCareSelection
                ) || newBornNatalCareSelectAll
              "
              [indeterminate]="
                newBornNatalCareSelection.length < newBornNatalCaresData.length &&
                newBornNatalCareSelection.length > 0
              "
              [disabled]="newBornNatalCareSelectAll"
            >
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon
                fontSet="fa"
                fontIcon="fa-caret-down"
                [matMenuTriggerFor]="newBornNatalCareSelectAllMenu"
              ></mat-icon>
            </button>
            <mat-menu #newBornNatalCareSelectAllMenu="matMenu">
              <button
                mat-menu-item
                (click)="newBornNatalCareSelectAll = true"
                [disabled]="newBornNatalCareSelectAll"
              >
                {{ appTranslation.getText("general", "all") }}
              </button>
              <button
                mat-menu-item
                (click)="newBornNatalCareSelectAll = false"
                [disabled]="!newBornNatalCareSelectAll"
              >
                {{ appTranslation.getText("general", "none") }}
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="
                $event
                  ? tcUtilsArray.toggleSelection(newBornNatalCareSelection, row)
                  : null
              "
              [checked]="
                tcUtilsArray.contains(newBornNatalCareSelection, row) ||
                newBornNatalCareSelectAll
              "
              [disabled]="newBornNatalCareSelectAll"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="new_born_natal_visit">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >NeoNatal Visit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a
              [routerLink]="newBornNatalCareNavigator.newBornNatalCareUrl(element.id)"
              class="tc-link"
              >{{persentPregenancyFollowUp.getLevel(element.new_born_natal_visit)
              }}</a
            ></mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="bp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>BP </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.bp }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="tpr">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >TPR
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.tpr }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="uterus_contracted_look_for_pph">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Uterus Contracted/Look for PPH
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.uterus_contracted_look_for_pph
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date_checked">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.date_checked * 1000 | date: "yyyy-MM-dd"
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="temp_value">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Temp
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.temp_value }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dribbling_leaking_urine">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Driblling/Leaking Urine
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.dribbling_leaking_urine
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="anemia">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Anemia
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.anemia }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="vaginal_discharge">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Vaginal Dascharge(after 4wks of delivery)
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.vaginal_discharge
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pelvic_exam">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Pelvic Exam (only if vaginal discharge)
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.pelvic_exam }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="breast">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Breast
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.breast }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="vitamin_a">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >vitamin_a
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.vitamin_a }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="counsenig_danger_signs_epi">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >counsenig_danger_signs_epi
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.counsenig_danger_signs_epi
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="baby_breathing">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >baby_breathing
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.baby_breathing
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="baby_breast_feeding">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >baby_breast_feeding
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.baby_breast_feeding
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="baby_weight">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >baby_weight
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.baby_weight }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="immunization">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >immunization
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.immunization
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="hiv_tested">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >hiv_tested
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.hiv_tested }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="hiv_test_result">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >hiv_test_result
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.hiv_test_result
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="arv_px_for_mother">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >arv_px_for_mother
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.arv_px_for_mother
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="arv_px_for_newborn">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >arv_px_for_newborn
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.arv_px_for_newborn
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="feeding_option">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >feeding_option
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.feeding_option
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mother_referred_to_c_and_sup">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >mother_referred_to_c_and_sup
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.mother_referred_to_c_and_sup
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="new_born_referred_to_chronic_hiv_infant_care">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >new_born_referred_to_chronic_hiv_infant_care
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.new_born_referred_to_chronic_hiv_infant_care
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fb_counseled_and_provided">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >fb_counseled_and_provided
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.fb_counseled_and_provided
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="remark">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >remark
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.remark }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action_taken">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >action_taken
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.action_taken
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="attendant_name_and_signature">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >attendant_name_and_signature
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.attendant_name_and_signature
          }}</mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            tcUtilsArray.getEnum(
              newBornNatalCarePersist.NewBornNatalCareStatus,
              element.status
            )?.name
          }}</mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Link</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <a
              [routerLink]="newBornNatalCareNavigator.newBornNatalCareUrl(element.id)"
              class="tc-link"
              >{{ element.id }}</a
            >
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell
            *matHeaderCellDef
            class="tc-column-action"
          ></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button
              mat-flat-button
              [matMenuTriggerFor]="elementMenu"
              *ngIf="
                (tcAuthorization.canUpdate('new_born_natal_cares') ||
                tcAuthorization.canDelete('new_born_natal_cares')) && form_encounterPersist.encounter_is_active
              "
            >
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
              <button
                mat-menu-item
                (click)="editNewBornNatalCare(element)"
                *ngIf="tcAuthorization.canUpdate('new_born_natal_cares')"
              >
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{ appTranslation.getText("general", "edit") }} </span>
              </button>
              <button
                mat-menu-item
                (click)="deleteNewBornNatalCare(element)"
                *ngIf="tcAuthorization.canDelete('new_born_natal_cares')"
              >
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{ appTranslation.getText("general", "delete") }} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row
          *matHeaderRowDef="newBornNatalCaresDisplayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: newBornNatalCaresDisplayedColumns"
          [ngClass]="{
            'tc-selected-row': tcUtilsArray.contains(newBornNatalCareSelection, row)
          }"
        ></mat-row>
      </mat-table>
  
      <mat-paginator
        [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
        showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize"
        [length]="newBornNatalCaresTotalCount"
        [ngStyle]="{ display: newBornNatalCaresTotalCount > 0 ? '' : 'none' }"
      ></mat-paginator>
    </div>
  </div>
  