
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-joomla"></mat-icon>
     Rooms  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchRooms();" *ngIf="tcAuthorization.canRead('rooms')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addRoom();" *ngIf="tcAuthorization.canCreate('rooms')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="roomSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="roomPersist.roomSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="roomSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="roomIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let room of roomsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('rooms') || tcAuthorization.canDelete('rooms')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editRoom(room)" *ngIf="tcAuthorization.canUpdate('rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRoom(room)" *ngIf="tcAuthorization.canDelete('rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>room_no</span>
            {{room.room_no}}
          </div><div class="tc-detail-field">
            <span>ward_id</span>
            {{room.ward_id}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{room.status}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchRooms.length >0 || roomSelectAll">
        <button mat-button (click)="downloadRooms()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{roomSelectAll ? roomsTotalCount : roomSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="roomsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(roomsData,roomSelection) "
              [checked]=" tcUtilsArray.isAllSelected(roomsData,roomSelection) || roomSelectAll"
              [indeterminate]="roomSelection.length <roomsData.length && roomSelection.length>0"
              [disabled]="roomSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="roomSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #roomSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="roomSelectAll=true;" [disabled]="roomSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="roomSelectAll = false;" [disabled]="!roomSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(roomSelection,row) : null"
              [checked]="tcUtilsArray.contains(roomSelection,row) || roomSelectAll" [disabled]="roomSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  
        
        <ng-container matColumnDef="room_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Room No
          </mat-header-cell>
          <mat-cell *matCellDef="let element">   <a [routerLink]="roomNavigator.roomUrl(element.id)" class="tc-link">{{element.room_no}}</a></mat-cell>
        </ng-container>
    <ng-container matColumnDef="ward_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Ward
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">

            {{tcUtilsArray.getEnum(
              roomPersist.roomStatus,
              element.status
            )?.name}}
            
         </mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="roomNavigator.roomUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('rooms') || tcAuthorization.canDelete('rooms')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editRoom(element)" *ngIf="tcAuthorization.canUpdate('rooms') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRoom(element)" *ngIf="tcAuthorization.canDelete('rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="roomsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: roomsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(roomSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="roomsTotalCount"
        [ngStyle]="{display: roomsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>