
     
        <div class="tc-loading" *ngIf="machinesIsLoading">
            <mat-spinner></mat-spinner>
        </div>
        <mat-tab-group>
            <mat-tab label="Overview">
        <div [ngClass]="activeTab==MachinesTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
                <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                    <button mat-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </p> -->
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="!machinesIsLoading">
                                  
                                    <p class="tc-detail-field">
                                        <span> {{machinesDetail.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        <span> {{machinesDetail.machine_code}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        <span> {{
                                        appTranslation.getTextByIdentifier(
                                        tcUtilsArray.getEnum(
                                        machinesPersist.lab_order_type,
                                        machinesDetail.order_type
                                        )?.name
                                        )
                                        }} </span>
                                    </p>
                                    <!-- <p class="tc-detail-field">
                                        <span> {{machinesDetail.registeration_date}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        <span> {{machinesDetail.added_by}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        <span> {{machinesDetail.updated_date}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        <span> {{machinesDetail.updated_by}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        <span> {{machinesDetail.status}} </span>
                                    </p> -->
                                </div>
                                <mat-action-row>
                                    <button mat-button (click)="editMachines()"
                                        *ngIf="tcAuthorization.canUpdate('machines') ">
                                        {{appTranslation.getText("general", "edit")}}
                                    </button>
                                </mat-action-row>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                </div>
            </div>

        </div>
        </mat-tab>
        <mat-tab label="Machine tests">
            <ng-template matTabContent>
                <app-machine_test-list *ngIf="machinesDetail.id" [machineId]="machinesDetail.id"></app-machine_test-list>
            </ng-template>
        </mat-tab>
        </mat-tab-group>

