<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-paperclip"></mat-icon>
    files
  </h3>
  <button mat-button (click)=" searchFiles();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addFile();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>


<div  class="tc-padding ">
  <mat-form-field>
    <input [formControl]="filesSearchTextBox" matInput
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button (click)="filesSearchTextBox.setValue('')" *ngIf="filePersist.fileSearchText" aria-label="Clear"
            mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div *ngIf="filesIsLoading" class="tc-loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">
    <mat-toolbar *ngIf="filesSelection.length >0">
      <button mat-button (click)="downloadFiles()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="filesData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (change)=" tcUtilsArray.toggleSelectAll(filesData,filesSelection) "
            (click)="$event.stopPropagation()"
            [checked]=" tcUtilsArray.isAllSelected(filesData,filesSelection)"
            [indeterminate]="filesSelection.length <filesData.length && filesSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (change)="$event ? tcUtilsArray.toggleSelection(filesSelection,row) : null"
                        (click)="$event.stopPropagation()"
                        [checked]="tcUtilsArray.contains(filesSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <a href="{{filePersist.downloadLink(element.download_key)}}"
             class="mat-button"><mat-icon>save_alt</mat-icon></a>


        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="file_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>file_type</mat-header-cell>
        <mat-cell *matCellDef="let element"><span>{{element.file_type}}</span>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="file_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>file_name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.file_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="creation_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>creation_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.creation_time)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expiration_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>expiration_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.expiration_time)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="content_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>content_type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.content_type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_permanent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>is_permanent</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_permanent}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action" >
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button [matMenuTriggerFor]="elementMenu" mat-flat-button>
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button (click)="editFile(element)" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button (click)="deleteFile(element)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="filesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: filesDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(filesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [length]="filesTotalCount" [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>


