<div class="tc-loading" *ngIf="vitalIsLoading">
    <mat-spinner></mat-spinner>
</div>

<div>
    <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)=" reload()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
    </mat-toolbar>

    <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
            <div class="tc-padding">
                <mat-accordion>
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{appTranslation.getText("general","basicdetails")}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div *ngIf="!vitalIsLoading">
                            <p class="tc-detail-field">
                                Date and Time <span> {{vitalDetail.creation_time * 1000|date:'MMM dd, yyyy. h:mm a'}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Blood pressure diastolic <span> {{vitalDetail.blood_pressure_diastolic}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Blood pressure systolic <span> {{vitalDetail.blood_pressure_systolic}} </span>
                            </p>
                            <p class="tc-detail-field">
                                BMI <span> {{valueOrEmptyString(vitalDetail.bmi)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                BSA <span> {{valueOrEmptyString(vitalDetail.bsa)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                GCS <span> {{vitalDetail.gcs}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Head circumference <span> {{valueOrEmptyString(vitalDetail.head_circumference)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Height <span> {{valueOrEmptyString(vitalDetail.height)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Input <span> {{valueOrEmptyString(vitalDetail.input)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                MUAC <span> {{valueOrEmptyString(vitalDetail.muac)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Output <span> {{valueOrEmptyString(vitalDetail.output)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Oxygen saturation <span> {{valueOrEmptyString(vitalDetail.oxygen_saturation)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Oxygen saturation spo2 <span> {{valueOrEmptyString(vitalDetail.oxygen_saturation_spo2)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Pain score <span> {{valueOrEmptyString(valueOrEmptyString(vitalDetail.pain_score))}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Pulse <span> {{valueOrEmptyString(vitalDetail.pulse)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                RBS <span> {{vitalDetail.rbs}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Temp method <span> {{valueOrEmptyString(vitalDetail.temp_method)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Temperature <span> {{valueOrEmptyString(vitalDetail.temperature)}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Urine ketone <span> {{vitalDetail.urine_ketone}} </span>
                            </p>
                            <p class="tc-detail-field">
                                Weight <span> {{valueOrEmptyString(vitalDetail.weight)}} </span>
                            </p>
                        </div>
                        <mat-action-row>
                            <button mat-button (click)="editMedicationAdminstrationChart()"
                                *ngIf="tcAuthorization.canUpdate('medication_adminstration_chart') && form_encounterPersist.encounter_is_active  ">
                                {{appTranslation.getText("general", "edit")}}
                            </button>
                        </mat-action-row>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="tc-equal-block">
        </div>
    </div>

</div>