<mat-toolbar class="tc-toolbar-secondary">
    <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
        Daily Report
    </h1>
    <button mat-button (click)="back()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)="searchDaily_reports()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
    <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    </p> -->

    <button mat-button (click)=" addDaily_report(); " *ngIf="tcAuthorization.canCreate('daily_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-padding">
    <mat-accordion>

        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Daily Report
                </mat-panel-title>
            </mat-expansion-panel-header>


            <div [ngStyle]="{display: dailyReportIsLoading? 'none':''}">

                <div *ngIf="!dailyReportIsLoading">
                    <div *ngFor="let report of dailyReportsData">
                        <div class="tc-padding">
                            <span class="tc-date tc-text-muted">{{tcUtilsDate.toDate(report.date)
                                |date:'MMM dd, yyyy. h:mm a'}}
                                <span>
                                    |
                                    {{getUser(report.provider)}} </span>
                                <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v" class="tc-icon-button"
                                    style="margin-left:5px;" [matMenuTriggerFor]="noteContextMenu"
                                    *ngIf="tcAuthorization.canUpdate('daily_reports')">
                                </mat-icon>
                                <mat-menu #noteContextMenu="matMenu">
                                    <button mat-menu-item (click)="editDailyReport(report)" *ngIf="tcAuthorization.canUpdate('daily_reports')">
                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                        Edit
                                    </button>
                                    <button mat-menu-item (click)="deleteDailyReport(report)" *ngIf="tcAuthorization.canDelete('daily_reports')">
                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                        Archive
                                    </button>
                                </mat-menu>
                            </span>
                            <div class="tc-notice-text">{{report.report }}</div>
                        </div>
                    </div>
                </div>
                <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                        [pageSize]="tcUtilsArray.defaultPageSizeSmall" [length]="dailyReportsTotalCount"
                        [ngStyle]="{display: dailyReportsTotalCount > 0? '':'none'}">
                    </mat-paginator>

                <mat-form-field style="display:none;">
                    <input matInput [formControl]="dailyReportSearchTextBox" placeholder="Filter">
                    <button mat-button *ngIf="dailyReportSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="dailyReportSearchTextBox.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <div class="tc-table-container tc-full-stretch tc-hidden" matSort>


                    <mat-toolbar *ngIf="dailyReportSelection.length >0 ">

                    </mat-toolbar>

                    <mat-table [dataSource]="dailyReportsData">

                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)=" tcUtilsArray.toggleSelectAll(dailyReportsData,dailyReportSelection) "
                                    [checked]=" tcUtilsArray.isAllSelected(dailyReportsData,dailyReportSelection)"
                                    [indeterminate]="dailyReportSelection.length <dailyReportsData.length && dailyReportSelection.length>0">
                                </mat-checkbox>

                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="tc-column-selection">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? tcUtilsArray.toggleSelection(dailyReportSelection,row) : null"
                                    [checked]="tcUtilsArray.contains(dailyReportSelection,row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="report">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Report
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.report}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.date|date:'MMM dd, yyyy. h:mm a'}}
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef class="tc-column-action">
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="tc-column-action">
                                <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <mat-menu #elementMenu="matMenu">
                                    <button mat-menu-item (click)="deleteDailyReport(element)">
                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                        <span>Archive </span>
                                    </button>
                                </mat-menu>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="dailyReportsDisplayedColumns; sticky: true; "></mat-header-row>
                        <mat-row *matRowDef="let row; columns: dailyReportsDisplayedColumns;"
                            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dailyReportSelection,row)}">
                        </mat-row>
                    </mat-table>
                    <!-- <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                        [pageSize]="tcUtilsArray.defaultPageSizeSmall" [length]="dailyReportsTotalCount"
                        [ngStyle]="{display: dailyReportsTotalCount > 0? '':'none'}">
                    </mat-paginator> -->
                </div>
            </div>
            <mat-action-row>
                <button mat-button (click)="addDaily_report()">
                    {{appTranslation.getText('general', 'add')}}
                </button>
            </mat-action-row>

        </mat-expansion-panel>
    </mat-accordion>
</div>
