<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      Reason </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingReason">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="reasonDetail">
  
      <mat-form-field class="tc-full-stretch">
        <mat-label>Reason</mat-label>
        <textarea
          matInput
          placeholder="Reason"
          type="text"
          [(ngModel)]="reasonDetail.reason"
          required
          rows="4"
        ></textarea>
      </mat-form-field>
    </div>
  
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general', 'save')}}
    </button>
  </div>
  