<h1 mat-dialog-title>
  {{appTranslation.getText("procedure", "order_diagnosis")}}
</h1>

<div mat-dialog-content>
  <div class="tc-padding">
  <mat-form-field >
    <input matInput [formControl]="diagnosisSearchText"
           placeholder='{{appTranslation.getText("general", "search_text")}}'>
    <button mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="diagnosisSearchText.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field  *ngIf="addNewIcd">
    <input matInput [(ngModel)]="description"
           placeholder='Add new Diagnosis'>
           <button mat-button matSuffix mat-icon-button 
           (click)="addNewICD()">
           <mat-icon>add_circle</mat-icon>
   </button>
  </mat-form-field>
  </div>
  <div class="tc-loading" *ngIf="diagnosisSearchLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">
    <table mat-table [dataSource]="diagnosisSearchResult" class="mat-elevation-z8"
           style="width: 100%; margin-bottom: 10px">
      <ng-container matColumnDef="selection">
        <th mat-header-cell *matHeaderCellDef> {{appTranslation.getText("general", "selection")}}</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (change)="setSelection(element)" [checked]="diagnosisSelection?.description==element.description"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> {{appTranslation.getText("procedure", "diagnosis_codes")}}</th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> {{appTranslation.getText("general", "description")}}</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general", "cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]="diagnosisSelection==null"
          cdkFocusInitial>
    {{appTranslation.getText("general", "return_selection")}}
  </button>
</div>
