.border {
  border-left: solid !important;
  border-left-color: #276898 !important;
  border-left-width: 5px !important;
}

.custom-input {
max-width: 100%;
}

button {
  cursor: pointer;
}

button:disabled{
  background-color: gray !important;
  cursor: not-allowed;
}
