<h1 mat-dialog-title>
  credit_payment Selection
</h1><div mat-dialog-content>  <mat-form-field>
  <input matInput [formControl]="creditPaymentSearchTextBox"
         placeholder='{{appTranslation.getText("general","search_text")}} '>
  <button mat-button *ngIf="creditPaymentPersist.creditPaymentSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="creditPaymentSearchTextBox.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="tc-loading" *ngIf="creditPaymentIsLoading">
  <mat-spinner></mat-spinner>
</div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
  <mat-card *ngFor="let creditPayment of creditPaymentsData" class="tc-card">
  <mat-card-content>
    <div class="tc-detail-field">
      <span>patient_id</span>
      {{creditPayment.patient_id}}
    </div><div class="tc-detail-field">
    <span>user_id</span>
    {{creditPayment.user_id}}
  </div><div class="tc-detail-field">
    <span>start_date</span>
    {{creditPayment.start_date}}
  </div><div class="tc-detail-field">
    <span>end_date</span>
    {{creditPayment.end_date}}
  </div><div class="tc-detail-field">
    <span>amount</span>
    {{creditPayment.amount}}
  </div><div class="tc-detail-field">
    <span>status</span>
    {{creditPayment.status}}
  </div>
  </mat-card-content>
  </mat-card>
</div>
<div class="tc-table-container tc-full-width">

<mat-table [dataSource]="creditPaymentsData" matSort class="tc-hide-on-mobile">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef class="tc-column-selection">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)=" tcUtilsArray.toggleSelectAll(creditPaymentsData,creditPaymentSelection) "
                    [checked]=" tcUtilsArray.isAllSelected(creditPaymentsData,creditPaymentSelection) || creditPaymentSelectAll"
                    [indeterminate]="creditPaymentSelection.length <creditPaymentsData.length && creditPaymentSelection.length>0"
                    [disabled]="creditPaymentSelectAll">
      </mat-checkbox>

      <button mat-icon-button>
        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="creditPaymentSelectAllMenu"></mat-icon>
      </button>
      <mat-menu #creditPaymentSelectAllMenu="matMenu">

        <button mat-menu-item (click)="creditPaymentSelectAll=true;" [disabled]="creditPaymentSelectAll">
          {{appTranslation.getText("general", "all")}}
        </button>
        <button mat-menu-item (click)="creditPaymentSelectAll = false;" [disabled]="!creditPaymentSelectAll">
          {{appTranslation.getText("general", "none")}}
        </button>
      </mat-menu>

    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="tc-column-selection">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? tcUtilsArray.toggleSelection(creditPaymentSelection,row) : null"
                    [checked]="tcUtilsArray.contains(creditPaymentSelection,row) || creditPaymentSelectAll" [disabled]="creditPaymentSelectAll">
      </mat-checkbox>
    </mat-cell>
  </ng-container>  <ng-container matColumnDef="patient_id">
  <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
  </mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
</ng-container>
  <ng-container matColumnDef="user_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>user_id
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.user_id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="start_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>start_date
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.start_date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="end_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>end_date
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.end_date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>amount
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>status
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
  </ng-container>
 <mat-header-row *matHeaderRowDef="creditPaymentsDisplayedColumns; sticky: true; "></mat-header-row>
  <mat-row *matRowDef="let row; columns: creditPaymentsDisplayedColumns;"
           [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(creditPaymentSelection,row)}"></mat-row>

</mat-table>

  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                 [pageSize]="tcUtilsArray.defaultPageSize" [length]="creditPaymentsTotalCount"
                 [ngStyle]="{display: creditPaymentsTotalCount > 0? '':'none'}"></mat-paginator>
</div>
</div>
<div mat-dialog-actions>
<button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
<button mat-button (click)="returnSelected()"
        [disabled]=" creditPaymentSelection.length == 0 "
        cdkFocusInitial>
  {{appTranslation.getText("general","return_selection")}}
</button>
</div>
