<div class="tc-flex-row">
    <h1 class="mat-headline">
        {{ appTranslation.getText("inventory", "stor_selection") }}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="wardReportSearchTextBox"
            placeholder="{{ appTranslation.getText('general', 'search_text') }}" />
        <button mat-button *ngIf="wardReportPersist.wardReportSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="wardReportSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="wardReportIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
        <mat-table [dataSource]="wardReportsData" matSort>
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="tcUtilsArray.toggleSelectAll(wardReportsData, wardReportSelection)"
                        [checked]="tcUtilsArray.isAllSelected(wardReportsData, wardReportSelection)" [indeterminate]="
              wardReportSelection.length < wardReportsData.length &&
              wardReportSelection.length > 0
            " *ngIf="!selectOne">
                    </mat-checkbox>
                    <button mat-button *ngIf="wardReportSelection.length > 0 && !selectOne"
                        [mat-menu-trigger-for]="collectionMenu">
                        <i class="material-icons">more_vert</i>

                        <span matBadge="{{ wardReportSelection.length }}" matBadgePosition="above after"
                            matBadgeOverlap="false" [matBadgeHidden]="wardReportSelection.length == 0"
                            style="margin-right: 10px"></span>
                    </button>
                    <mat-menu #collectionMenu="matMenu">
                        <button mat-menu-item (click)="returnSelected()">
                            <mat-icon>done</mat-icon>
                            <span>Return Selection</span>
                        </button>
                    </mat-menu>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="
              $event ? tcUtilsArray.toggleSelection(wardReportSelection, row) : null
            " [checked]="tcUtilsArray.contains(wardReportSelection, row)" *ngIf="!selectOne">
                    </mat-checkbox>

                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(wardReportSelection, row)" *ngIf="selectOne">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    appTranslation.getText("general", "name")
                    }}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="parent_store_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    appTranslation.getText("inventory", "parent_store")
                    }}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{
                    element.parent_store_id
                    }}</mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="store_type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory',
                    'store_type')}}</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ appTranslation.getText("inventory",
                    tcUtilsArray.getEnum(wardReportPersist., element.store_type)?.name) }}</mat-cell>
            </ng-container> -->

            <mat-header-row *matHeaderRowDef="wardReportsDisplayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: wardReportsDisplayedColumns" [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(wardReportSelection, row)
        }"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [length]="wardReportsTotalCount"></mat-paginator>
    </div>
    <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">
        {{ appTranslation.getText("general", "cancel") }}
    </button>
    <button mat-button (click)="returnSelected()" [disabled]="wardReportSelection.length == 0" cdkFocusInitial>
        {{ appTranslation.getText("general", "return_selection") }}
    </button>
</div>