<h1 mat-dialog-title>
  Admission_Form Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="admission_formsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="admission_formPersist.admissionFormSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
            (click)="admission_formsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="admission_formsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="admission_formsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(admission_formsData,admission_formsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(admission_formsData,admission_formsSelection)"
            [indeterminate]="admission_formsSelection.length <admission_formsData.length && admission_formsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="admission_formsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{admission_formsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="admission_formsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(admission_formsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(admission_formsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(admission_formsSelection,row)"
                        *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="admitting_doctor_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('employee','doctor')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ getDoctorFullName(element.admitting_doctor_id) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="admission_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','date')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.admission_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="planned_procedure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','planned_procedure')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.planned_procedure}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nurse_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('employee','nurse')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ getDoctorFullName(element.nurse_id) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ getPatientFullName(element.patient_id) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="next_of_kin_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','next_of_kin_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.next_of_kin_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="next_of_kin_address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','next of kin address')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.next_of_kin_address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="next_of_kin_phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','next_of_kin_phone')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.next_of_kin_phone}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="next_of_kin_email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','next_of_kin_email')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.next_of_kin_email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="serial_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general", "id_number")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.serial_id}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="admission_formsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: admission_formsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(admission_formsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="admission_formsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" admission_formsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
