<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="appointmentDetail">

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="{{appTranslation.getText('schedule', 'schedule_type')}}"
                  [(value)]="appointmentDetail.schedule_type" required>
        <mat-option *ngFor="let etype of persist.schedule_type" [value]="etype.id">
          {{appTranslation.getTextByIdentifier(etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>
        {{appTranslation.getText("patient", "search_for_a_doctor")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="userFullName"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="isEdit()"
        color="primary"
        (click)="searchUser()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("schedule", "start_time")}}' type="datetime-local"
             [(ngModel)]="schedule_start_time" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("schedule", "end_time")}}' type="datetime-local" [(ngModel)]="schedule_end_time"
             required>
    </mat-form-field>


  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="onAdd()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
