<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="vaccinatedDetail">

        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="{{appTranslation.getText('patient','patient_type')}}" [(value)]="vaccinatedDetail.patient_type" required>
              <mat-option *ngFor="let etype of persist.vaccinated_patient_type" [value]="etype.id">
                {{appTranslation.getTextByIdentifier(etype.name)}}
              </mat-option>
            </mat-select>
          </mat-form-field>

   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient','target_id')}}" type="text"  [(ngModel)]="vaccinatedDetail.target_id" required>
                          </mat-form-field>
                      
                                                      
      <mat-form-field class="tc-full-stretch">
        <mat-label>{{appTranslation.getText('patient','vac_date')}}</mat-label>
        <input matInput [matDatepicker]="vaccination_date" [(ngModel)]="vac_date">
        <mat-datepicker-toggle matSuffix [for]="vaccination_date"></mat-datepicker-toggle>
        <mat-datepicker #vaccination_date></mat-datepicker>
      </mat-form-field>

        <mat-form-field class="tc-full-stretch" *ngIf="!isCase()"> 
          <mat-label>{{
            appTranslation.getText("patient", "vaccination")
          }}</mat-label>
          <input matInput disabled [(ngModel)]="vaccineName" />
          <button
            mat-icon-button
            matTooltip="{{ appTranslation.getText('patient', 'vaccination') }}"
            matSuffix
            [disabled]="isEdit()"
            color="primary"
            (click)="searchVaccine()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
                            
      <mat-form-field class="tc-full-stretch">
        <mat-label>{{appTranslation.getText('patient','appointment_date')}}</mat-label>
        <input matInput [matDatepicker]="appointmnt_date" [(ngModel)]="appointment_date">
        <mat-datepicker-toggle matSuffix [for]="appointmnt_date"></mat-datepicker-toggle>
        <mat-datepicker #appointmnt_date></mat-datepicker>
      </mat-form-field>
  
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  