

<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="dialysisIsLoading">
            <mat-spinner></mat-spinner>
        </div>

        <div [ngClass]="activeTab==DialysisTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="!dialysisIsLoading">
                                    <p class="tc-detail-field">
                                        Patient name <span> {{patientName}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Age <span> {{patientAge}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Gender <span> {{patientGender}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Card ID <span> {{patientCardId}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        Dialysis Id <span> {{dialysisDetail.dialysis_id}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        renal_failure <span> {{tcUtilsArray.getEnum(dialysisPersist.renal_failure,dialysisDetail.renal_failure)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        other_reason <span> {{tcUtilsArray.getEnum(dialysisPersist.other_reason,dialysisDetail.other_reason)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field" *ngIf="dialysisDetail.drug_overdose">
                                        drug_overdose <span> {{dialysisDetail.drug_overdose}} </span>
                                    </p>
                                    <p class="tc-detail-field" *ngIf="dialysisDetail.poisoning">
                                        poisoning <span> {{dialysisDetail.poisoning}} </span>
                                    </p>
                                    <p class="tc-detail-field" *ngIf="dialysisDetail.other">
                                        other <span> {{dialysisDetail.other}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        full_diagnosis <span> {{dialysisDetail.full_diagnosis}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        date <span>  
                                        {{tcUtilsDate.toDate( dialysisDetail.date )|date:'MMM dd, yyyy. h:mm a'}}
                                        </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        transfer_faculity <span> {{dialysisDetail.transfer_faculity}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        obstractive_cause <span> {{dialysisDetail.obstractive_cause}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        underlying_causes <span> {{dialysisDetail.underlying_causes}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        indication_for_homodialysis <span>
                                            {{dialysisDetail.indication_for_homodialysis}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        physical_exam_and_investigation <span>
                                            {{dialysisDetail.physical_exam_and_investigation}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        summary_of_image_tests <span> {{dialysisDetail.summary_of_image_tests}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        relevant_investigation <span> {{tcUtilsArray.getEnum(dialysisPersist.relevant_investigation,dialysisDetail.relevant_investigation)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        dialysis_acess_data_inserted <span>
                                            {{tcUtilsArray.getEnum(dialysisPersist.dialysis_acess_data_inserted, dialysisDetail.dialysis_acess_data_inserted)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        dry_weight <span> {{dialysisDetail.dry_weight}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        last_HBSAG <span> {{tcUtilsArray.getEnum(dialysisPersist.serology,dialysisDetail.last_hbsag)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        last_HCVAB <span> {{tcUtilsArray.getEnum(dialysisPersist.serology,dialysisDetail.last_hcvab)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        last_PICT <span> {{tcUtilsArray.getEnum(dialysisPersist.serology,dialysisDetail.last_pict)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        resent_HBSAG <span> {{tcUtilsArray.getEnum(dialysisPersist.serology,dialysisDetail.resent_hbsag)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        resent_HCVAB <span> {{tcUtilsArray.getEnum(dialysisPersist.serology,dialysisDetail.resent_hcvab)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        resent_PICT <span> {{tcUtilsArray.getEnum(dialysisPersist.serology,dialysisDetail.resent_pict)?.name}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        dialysis_adequacy <span> {{dialysisDetail.dialysis_adequacy}} </span>
                                    </p>
                                    <p class="tc-detail-field">
                                        doctor <span> {{doctorName}} </span>
                                    </p>
                                </div>
                                <mat-action-row>
                                    <button mat-button (click)="editDialysis()"
                                        *ngIf="tcAuthorization.canUpdate('dialysiss') && form_encounterPersist.encounter_is_active ">
                                        {{appTranslation.getText("general", "edit")}}
                                    </button>
                                </mat-action-row>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>          
                </div>
                <div class="tc-equal-block" *ngIf="dialysisDetail.encounter_id">
                    <app-dialysis_session-list [encounter_id]="dialysisDetail.encounter_id"></app-dialysis_session-list>
                </div>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>