<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

   <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="case_type_id" [(ngModel)]="item.case_type_id" required>
                        </mat-form-field>

<div class="tc-flex-column">
                                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="item.is_closed" required> is_closed </mat-slide-toggle>
                         </div>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="case_state_id" [(ngModel)]="item.case_state_id" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="target_id" [(ngModel)]="item.target_id" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="creation_time" [(ngModel)]="item.creation_time" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="last_update" [(ngModel)]="item.last_update" required>
                        </mat-form-field>


 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew? onAdd(): onUpdate()"
          [disabled]="!item.target_id ||  item.target_id=='' "
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
