
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-vial"></mat-icon>
   result_progress  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchResultProgress();" *ngIf="tcAuthorization.canRead('result_progress')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="resultProgressSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="orderssPersist.orderSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
      (click)="resultProgressSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("procedure", "order_status")}}'
                [(value)]="orderssPersist.orderSearchHistory.order_status"
                (valueChange)="searchResultProgress()">
      <mat-option *ngFor="let status of orderssPersist.OrderStatus" [value]="status.id">
        {{ appTranslation.getText("procedure", status.name) }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='orderssPersist.orderSearchHistory.order_status' matSuffix mat-icon-button
            aria-label="Clear"
            (click)="orderssPersist.orderSearchHistory.order_status = null;searchResultProgress();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        'Result Date'
      [formControl]="resultDateTextField"
      [matDatepicker]="date_of_schedule1"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="date_of_schedule1"
    ></mat-datepicker-toggle>
    <mat-datepicker #date_of_schedule1 disabled="false"></mat-datepicker>
    <button mat-button *ngIf='resultDateTextField.value != ""' matSuffix mat-icon-button
  aria-label="Clear"
  (click)="resultDateTextField.setValue(''); searchResultProgress();$event.stopPropagation()">
<mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        'Ordered Date'
      [formControl]="startDateTextField"
      [matDatepicker]="date_of_schedule"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="date_of_schedule"
    ></mat-datepicker-toggle>
    <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
    <button mat-button *ngIf='startDateTextField.value != ""' matSuffix mat-icon-button
  aria-label="Clear"
  (click)="startDateTextField.setValue(''); searchResultProgress();$event.stopPropagation()">
<mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="searchResultProgress()"
    [(ngModel)]="orderssPersist.orderSearchHistory.show_only_mine"
    required
  >
    {{appTranslation.getText("patient", "show_only_mine")}}
  </mat-slide-toggle>
  <div class="tc-loading" *ngIf="resultProgressIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let resultProgress of resultProgressData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>pid</span>
          {{resultProgress.pid}}
        </div><div class="tc-detail-field">
          <span>patient_name</span>
          {{resultProgress.patient_name}}
        </div><div class="tc-detail-field">
          <span>generated_sample_id</span>
          {{resultProgress.generated_sample_id}}
        </div><div class="tc-detail-field">
          <span>total_order</span>
          {{resultProgress.total_order}}
        </div>
        <div class="tc-detail-field">
          <span>ordered_date</span>
          {{resultProgress.created_at|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>result_date</span>
          {{resultProgress.result_date && resultProgress.result_date|date:'MMM dd, yyyy. h:mm a'}}
        </div><div class="tc-detail-field">
          <span>completed</span>
          {{resultProgress.completed}}
        </div><div class="tc-detail-field">
          <span>rejected</span>
          {{resultProgress.rejected}}
        </div><div class="tc-detail-field">
          <span>requested</span>
          {{resultProgress.requested}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="resultProgressSelection.length >0 || resultProgressSelectAll">
      <div class="tc-flex-fill"></div>
      <span>{{resultProgressSelectAll ? resultProgressTotalCount : resultProgressSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="resultProgressData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(resultProgressData,resultProgressSelection) "
            [checked]=" tcUtilsArray.isAllSelected(resultProgressData,resultProgressSelection) || resultProgressSelectAll"
            [indeterminate]="resultProgressSelection.length <resultProgressData.length && resultProgressSelection.length>0"
            [disabled]="resultProgressSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="result_progressSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #result_progressSelectAllMenu="matMenu">

            <button mat-menu-item (click)="resultProgressSelectAll=true;" [disabled]="resultProgressSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="resultProgressSelectAll = false;" [disabled]="!resultProgressSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(resultProgressSelection,row) : null"
            [checked]="tcUtilsArray.contains(resultProgressSelection,row) || resultProgressSelectAll" [disabled]="resultProgressSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pid
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="generated_sample_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sample_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.generated_sample_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ordered_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.created_at * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_date && element.result_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="total_order">
        <mat-header-cell *matHeaderCellDef mat-sort-header>total_order
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.total_order }}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="completed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>completed
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.completed}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rejected">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rejected
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rejected}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="requested">
        <mat-header-cell *matHeaderCellDef mat-sort-header> requested</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.requested}}
          <!-- </a> -->
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('result_progress') || tcAuthorization.canDelete('result_progress')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item *ngIf="tcAuthorization.canUpdate('result_progress') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item *ngIf="tcAuthorization.canDelete('result_progress')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="resultProgressDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: resultProgressDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(resultProgressSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="resultProgressTotalCount"
      [ngStyle]="{display: resultProgressTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
