<h1 mat-dialog-title>
  Cancelled_Appointment Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="cancelled_appointmentsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="cancelled_appointmentPersist.cancelled_appointmentSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="cancelled_appointmentsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="cancelled_appointmentsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="cancelled_appointmentsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(cancelled_appointmentsData,cancelled_appointmentsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(cancelled_appointmentsData,cancelled_appointmentsSelection)"
            [indeterminate]="cancelled_appointmentsSelection.length <cancelled_appointmentsData.length && cancelled_appointmentsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="cancelled_appointmentsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{cancelled_appointmentsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="cancelled_appointmentsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(cancelled_appointmentsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(cancelled_appointmentsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(cancelled_appointmentsSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="doctor_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('employee','doctor')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="availability_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>availability_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.availability_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="cancelled_start_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','start_date')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.cancelled_start_date}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="cancelled_end_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','end_date')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.cancelled_end_date}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="day_of_the_week">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','day_of_the_week')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.day_of_the_week}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="day_of_the_month">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','day_of_the_month')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.day_of_the_month}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="repetition">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','repetition')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.repetition}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="reg_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','reg_date')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.reg_date}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="no_of_patient">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','no_of_patients')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.no_of_patient}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="reason">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','reason')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.reason}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="cancelled_appointmentsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: cancelled_appointmentsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(cancelled_appointmentsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="cancelled_appointmentsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" cancelled_appointmentsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
