
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     payment_discount_request  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPaymentDiscountRequests();" *ngIf="tcAuthorization.canRead('payment_discount_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <!-- <button mat-button (click)=" addPaymentDiscountRequest();" *ngIf="tcAuthorization.canCreate('payment_discount_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button> -->
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="paymentDiscountRequestSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="paymentDiscountRequestPersist.paymentDiscountRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="paymentDiscountRequestSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Status"
                    [(value)]="paymentDiscountRequestPersist.discount_status_filter"
                    (valueChange)="searchPaymentDiscountRequests()">
          <mat-option *ngFor="let etype of paymentDiscountRequestPersist.DiscountStatus" [value]="etype.id" >
            {{ etype.name }}
          </mat-option>
        </mat-select>
        <button mat-button *ngIf="paymentDiscountRequestPersist.discount_status_filter" matSuffix mat-icon-button aria-label="Clear"
                (click)="paymentDiscountRequestPersist.discount_status_filter = null;searchPaymentDiscountRequests();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <div class="tc-loading" *ngIf="paymentDiscountRequestIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let paymentDiscountRequest of paymentDiscountRequestsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('payment_discount_requests') || tcAuthorization.canDelete('payment_discount_requests')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPaymentDiscountRequest(paymentDiscountRequest)" *ngIf="tcAuthorization.canUpdate('payment_discount_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePaymentDiscountRequest(paymentDiscountRequest)" *ngIf="tcAuthorization.canDelete('payment_discount_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>requestor_id</span>
            {{paymentDiscountRequest.requester_id}}
          </div><div class="tc-detail-field">
            <span>patient_id</span>
            {{paymentDiscountRequest.patient_id}}
          </div><div class="tc-detail-field">
            <span>responded_id</span>
            {{paymentDiscountRequest.responded_id}}
          </div><div class="tc-detail-field">
            <span>request_date</span>
            {{paymentDiscountRequest.request_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div><div class="tc-detail-field">
            <span>respond_date</span>
            {{paymentDiscountRequest.respond_date && paymentDiscountRequest.respond_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div><div class="tc-detail-field">
            <span>remark</span>
            {{paymentDiscountRequest.remark}}
          </div><div class="tc-detail-field">
            <span>payment_id</span>
            {{paymentDiscountRequest.payment_id}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{paymentDiscountRequest.status}}
          </div><div class="tc-detail-field">
            <span>discounted_amount</span>
            {{paymentDiscountRequest.discounted_amount}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPaymentDiscountRequests.length >0 || paymentDiscountRequestSelectAll">
        <button mat-button (click)="downloadPaymentDiscountRequests()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{paymentDiscountRequestSelectAll ? paymentDiscountRequestsTotalCount : paymentDiscountRequestSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="paymentDiscountRequestsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(paymentDiscountRequestsData,paymentDiscountRequestSelection) "
              [checked]=" tcUtilsArray.isAllSelected(paymentDiscountRequestsData,paymentDiscountRequestSelection) || paymentDiscountRequestSelectAll"
              [indeterminate]="paymentDiscountRequestSelection.length <paymentDiscountRequestsData.length && paymentDiscountRequestSelection.length>0"
              [disabled]="paymentDiscountRequestSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="paymentDiscountRequestSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #paymentDiscountRequestSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="paymentDiscountRequestSelectAll=true;" [disabled]="paymentDiscountRequestSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="paymentDiscountRequestSelectAll = false;" [disabled]="!paymentDiscountRequestSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(paymentDiscountRequestSelection,row) : null"
              [checked]="tcUtilsArray.contains(paymentDiscountRequestSelection,row) || paymentDiscountRequestSelectAll" [disabled]="paymentDiscountRequestSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="requestor_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>requester_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.requester_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getPatientName(element.patient_id)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="responsed_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>responded_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.responded_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="request_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>request_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.request_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="respond_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>respond_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.respond_date && element.respond_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="remark">
          <mat-header-cell *matHeaderCellDef mat-sort-header>remark
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="payment_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>payment_Id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getPayment(element.payment_id)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(paymentDiscountRequestPersist.DiscountStatus, element.status)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="discounted_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>discounted_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.discounted_amount}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="paymentDiscountRequestNavigator.paymentDiscountRequestUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('payment_discount_requests') || tcAuthorization.canDelete('payment_discount_requests')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="approveRequest(element)" *ngIf="tcAuthorization.canUpdate('payment_discount_requests') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>Approve</span>
              </button>
              <button mat-menu-item (click)="rejectRequest(element)" *ngIf="tcAuthorization.canDelete('payment_discount_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>Reject</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="paymentDiscountRequestsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: paymentDiscountRequestsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(paymentDiscountRequestSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="paymentDiscountRequestsTotalCount"
        [ngStyle]="{display: paymentDiscountRequestsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  