<div class="tc-flex-row">
  <div class="tc-flex-column">
    <div *ngFor="let msg of validationMessagesService.msgs">
      <span *ngIf="validationMessagesService.msgs.length>1">-</span> {{msg}}
    </div>
  </div>
  <span class="tc-flex-fill"></span>
  <div class="tc-flex-column">
    <button mat-button (click)="onOk()" class=" mat-simple-snackbar-action">OK</button>
  </div>
</div>

