<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-stethoscope"></mat-icon>
    dialysis
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchDialysiss();" *ngIf="tcAuthorization.canRead('dialysiss')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>      
  <button mat-button (click)=" addDialysis();" *ngIf="tcAuthorization.canCreate('dialysiss')&& !isSession && form_encounterPersist.encounter_is_active" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="false"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="dialysisSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="dialysisPersist.dialysisSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="dialysisSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="dialysisIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let dialysis of dialysissData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('dialysiss') || tcAuthorization.canDelete('dialysiss')) && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editDialysis(dialysis)" *ngIf="tcAuthorization.canUpdate('dialysiss')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDialysis(dialysis)" *ngIf="tcAuthorization.canDelete('dialysiss')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>encounter_id</span>
          {{dialysis.encounter_id}}
        </div>
        <div class="tc-detail-field">
          <span>patient_id</span>
          {{dialysis.patient_name}}
        </div>
        <div class="tc-detail-field">
          <span>renal_failure</span>
          {{tcUtilsArray.getEnum(dialysisPersist.renal_failure,dialysis.renal_failure)?.name}}
        </div>
        <div class="tc-detail-field">
          <span>other_reason</span>
          {{dialysis.other_reason}}
        </div>
        <div class="tc-detail-field">
          <span>drug_overdose</span>
          {{dialysis.drug_overdose}}
        </div>
        <div class="tc-detail-field">
          <span>poisoning</span>
          {{dialysis.poisoning}}
        </div>
        <div class="tc-detail-field">
          <span>other</span>
          {{dialysis.other}}
        </div>
        <div class="tc-detail-field">
          <span>full_diagnosis</span>
          {{dialysis.full_diagnosis}}
        </div>
        <div class="tc-detail-field">
          <span>date</span>
          <a [routerLink]="dialysisNavigator.dialysisUrl(dialysis.id)" class="tc-link">{{tcUtilsDate.toDate(dialysis.date)|date}}</a>
        </div>
        <div class="tc-detail-field">
          <span>transfer_faculity</span>
          {{dialysis.transfer_faculity}}
        </div>
        <div class="tc-detail-field">
          <span>obstractive_cause</span>
          {{dialysis.obstractive_cause}}
        </div>
        <div class="tc-detail-field">
          <span>underlying_causes</span>
          {{dialysis.underlying_causes}}
        </div>
        <div class="tc-detail-field">
          <span>indication_for_homodialysis</span>
          {{dialysis.indication_for_homodialysis}}
        </div>
        <div class="tc-detail-field">
          <span>physical_exam_and_investigation</span>
          {{dialysis.physical_exam_and_investigation}}
        </div>
        <div class="tc-detail-field">
          <span>summary_of_image_tests</span>
          {{dialysis.summary_of_image_tests}}
        </div>
        <div class="tc-detail-field">
          <span>relevant_investigation</span>
          {{dialysis.relevant_investigation}}
        </div>
        <div class="tc-detail-field">
          <span>dialysis_acess_data_inserted</span>
          {{dialysis.dialysis_acess_data_inserted}}
        </div>
        <div class="tc-detail-field">
          <span>dry_weight</span>
          {{dialysis.dry_weight}}
        </div>
        <div class="tc-detail-field">
          <span>last_HBSAG</span>
          {{dialysis.last_hbsag}}
        </div>
        <div class="tc-detail-field">
          <span>last_HCVAB</span>
          {{dialysis.last_hcvab}}
        </div>
        <div class="tc-detail-field">
          <span>last_PICT</span>
          {{dialysis.last_pict}}
        </div>
        <div class="tc-detail-field">
          <span>resent_HBSAG</span>
          {{dialysis.resent_hbsag}} 
        </div>
        <div class="tc-detail-field">
          <span>resent_HCVAB</span>
          {{dialysis.resent_hcvab}}
        </div>
        <div class="tc-detail-field">
          <span>resent_PICT</span>
          {{dialysis.resent_pict}}
        </div>
        <div class="tc-detail-field">
          <span>dialysis_adequacy</span>
          {{dialysis.dialysis_adequacy}}
        </div>
        <div class="tc-detail-field">
          <span>doctor</span>
          {{dialysis.doctor}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchDialysiss.length >0 || dialysisSelectAll">
      <button mat-button (click)="downloadDialysiss()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{dialysisSelectAll ? dialysissTotalCount : dialysisSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar>
    <mat-table [dataSource]="dialysissData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(dialysissData,dialysisSelection) "
            [checked]=" tcUtilsArray.isAllSelected(dialysissData,dialysisSelection) || dialysisSelectAll"
            [indeterminate]="dialysisSelection.length <dialysissData.length && dialysisSelection.length>0"
            [disabled]="dialysisSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dialysisSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #dialysisSelectAllMenu="matMenu">

            <button mat-menu-item (click)="dialysisSelectAll=true;" [disabled]="dialysisSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="dialysisSelectAll = false;" [disabled]="!dialysisSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(dialysisSelection,row) : null"
            [checked]="tcUtilsArray.contains(dialysisSelection,row) || dialysisSelectAll"
            [disabled]="dialysisSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>    
        <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="renal_failure">
        <mat-header-cell *matHeaderCellDef mat-sort-header>renal_failure
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(dialysisPersist.renal_failure,element.renal_failure)?.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="other_reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header>other_reason
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.other_reason}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="drug_overdose">
        <mat-header-cell *matHeaderCellDef mat-sort-header>drug_overdose
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.drug_overdose}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>MRN
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="poisoning">
        <mat-header-cell *matHeaderCellDef mat-sort-header>poisoning
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.poisoning}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="other">
        <mat-header-cell *matHeaderCellDef mat-sort-header>other
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.other}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="full_diagnosis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>full_diagnosis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.full_diagnosis}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="dialysisNavigator.dialysisUrl(element.id)" class="tc-link">{{tcUtilsDate.toDate(element.date)|date}}</a>
      </mat-cell>
      </ng-container>
      <ng-container matColumnDef="transfer_faculity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_faculity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.transfer_faculity}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="obstractive_cause">
        <mat-header-cell *matHeaderCellDef mat-sort-header>obstractive_cause
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.obstractive_cause}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="underlying_causes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>underlying_causes
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.underlying_causes}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="indication_for_homodialysis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>indication_for_homodialysis
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.indication_for_homodialysis}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="physical_exam_and_investigation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>physical_exam_and_investigation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.physical_exam_and_investigation}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="summary_of_image_tests">
        <mat-header-cell *matHeaderCellDef mat-sort-header>summary_of_image_tests
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.summary_of_image_tests}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="relevant_investigation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>relevant_investigation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.relevant_investigation}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dialysis_acess_data_inserted">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dialysis_acess_data_inserted
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dialysis_acess_data_inserted}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dry_weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dry_weight
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dry_weight}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="last_HBSAG">
        <mat-header-cell *matHeaderCellDef mat-sort-header>last_HBSAG
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_hbsag}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="last_HCVAB">
        <mat-header-cell *matHeaderCellDef mat-sort-header>last_HCVAB
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_hcvab}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="last_PICT">
        <mat-header-cell *matHeaderCellDef mat-sort-header>last_PICT
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_pict}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="resent_HBSAG">
        <mat-header-cell *matHeaderCellDef mat-sort-header>resent_HBSAG
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.resent_hbsag}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="resent_HCVAB">
        <mat-header-cell *matHeaderCellDef mat-sort-header>resent_HCVAB
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.resent_hcvab}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="resent_PICT">
        <mat-header-cell *matHeaderCellDef mat-sort-header>resent_PICT
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.resent_pict}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dialysis_adequacy">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dialysis_adequacy
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dialysis_adequacy}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="doctor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>doctor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="dialysisNavigator.dialysisUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('dialysiss') || tcAuthorization.canDelete('dialysiss')|| tcAuthorization.canCreate('
            dialysis_sessions')) && (isSession || form_encounterPersist.encounter_is_active)">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button mat-menu-item (click)="editDialysis(element)" *ngIf="tcAuthorization.canUpdate('dialysiss')&&!isSession ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDialysis(element)" *ngIf="tcAuthorization.canDelete('dialysiss')&&!isSession">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
            <button mat-menu-item (click)="createNewSession(element)" *ngIf="tcAuthorization.canCreate('dialysis_sessions')&&isSession">
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
              <span>Create new session </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="dialysissDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: dialysissDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dialysisSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="dialysissTotalCount"
      [ngStyle]="{display: dialysissTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>