<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <div class="tc-padding">
        <h1 class="mat-headline ">Stats Detail</h1>
        <span class="tc-text-muted ">{{statDetail.stat_value}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == statTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = statTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>

    </div>
    <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>




    <div [ngClass]="activeTab==statTabs.overview? '':'tc-hidden'">

      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general","overview")}}
        </h1>
      </mat-toolbar>
      <div class="tc-padding">
        <mat-accordion>

          <mat-expansion-panel expanded="true">
            <p class="tc-detail-field">
              <span>stat_type </span>
              {{statDetail.stat_type}}
            </p>

            <p class="tc-detail-field">
              <span>target_id </span>
              {{statDetail.target_id}}
            </p>

            <p class="tc-detail-field">
              <span>stat_value </span>
              {{statDetail.stat_value}}
            </p>

            <p class="tc-detail-field">
              <span>stat_time </span>
              {{statDetail.stat_time}}
            </p>

            <mat-action-row>

              <button mat-button (click)=" editStat(); tcUtilsAngular.smallDevice? sidenav.toggle():false">
                <mat-icon>edit</mat-icon>
                {{appTranslation.getText("general","edit")}}
              </button>

            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>