<h1 mat-dialog-title>
  {{appTranslation.getText('patient', 'surgery_appointment')}} {{appTranslation.getText('general', 'selection')}}
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="surgery_appointmentsSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="surgery_appointmentPersist.surgery_appointmentSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="surgery_appointmentsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="surgery_appointmentsIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="surgery_appointmentsData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(surgery_appointmentsData,surgery_appointmentsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(surgery_appointmentsData,surgery_appointmentsSelection)"
              [indeterminate]="surgery_appointmentsSelection.length <surgery_appointmentsData.length && surgery_appointmentsSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="surgery_appointmentsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{surgery_appointmentsSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="surgery_appointmentsSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(surgery_appointmentsSelection,row) : null"
                          [checked]="tcUtilsArray.contains(surgery_appointmentsSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(surgery_appointmentsSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="surgery_type_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','surgery_type')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.surgery_type_id}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="doctor_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('employee','doctor')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="surgery_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','surgery_date')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.surgery_date}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="start_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','start_time')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.start_time}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="end_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','end_time')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.end_time}}</mat-cell>
       </ng-container>
    
<ng-container matColumnDef="surgery_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','status')}}</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.surgery_status}}</mat-cell>
       </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="surgery_appointmentsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: surgery_appointmentsDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(surgery_appointmentsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="surgery_appointmentsTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" surgery_appointmentsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  