<div class="tc-loading" *ngIf="appointmentLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="tc-padding">

  <div *ngIf="!appointmentLoading">
    <p class="tc-detail-field">
      <span>{{appTranslation.getText("schedule", "schedule_type")}}</span>
      {{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(appointmentPersist.schedule_type, appointmentDetail.schedule_type).name) }}
    </p>

    <p class="tc-detail-field">
      <span>{{appTranslation.getText("schedule", "scheduled")}}</span>
      {{ getPatientFullName(appointmentDetail.scheduled_user_id) }}
    </p>

    <p class="tc-detail-field">
      <span>{{appTranslation.getText("schedule", "scheduler")}}</span>
      {{ getDoctorFullName(appointmentDetail.scheduler_user_id) }}
    </p>

    <p class="tc-detail-field">
      <span>{{appTranslation.getText("general", "date")}}</span>
      {{ tcUtilDate.toDate(appointmentDetail.schedule_start_time)|date:'MMM dd, yyyy. h:mm a'}}
    </p>

    <p class="tc-detail-field">
      <span>{{appTranslation.getText("schedule", "start_time")}}</span>
      {{ tcUtilDate.toDate(appointmentDetail.schedule_start_time) | date:'h:mm a'}}
    </p>

    <p class="tc-detail-field">
      <span>{{appTranslation.getText("schedule", "end_time")}}</span>
      {{ tcUtilDate.toDate(appointmentDetail.schedule_end_time) | date:'h:mm a'}}
    </p>

    <div class="tc-padding">
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{ appTranslation.getText('general', 'remark') }}" type="text" [(ngModel)]="remark" required>
      </mat-form-field>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
    <button mat-button (click)="onReject()"
            cdkFocusInitial>
      {{appTranslation.getText("case", "reject_case")}}
    </button>
    <button mat-button (click)="onAccept()"
            cdkFocusInitial>
      {{appTranslation.getText("case", "accept_case")}}
    </button>
  </div>

</div>





