<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <div class="tc-padding">
        <h1 class="mat-headline ">Setting Details</h1>
        <span class="tc-text-muted ">{{settingDetail.setting_type}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == settingTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = settingTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>

    </div>
 <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>

  </mat-sidenav>
  <mat-sidenav-content>

   


    <div [ngClass]="activeTab==settingTabs.overview? '':'tc-hidden'">

      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general","overview")}}
        </h1>
      </mat-toolbar>
      <div class="tc-padding">
      <mat-card>

        <mat-card-content>
          <p class="tc-detail-field">
            <span>setting_type </span>
            {{settingDetail.setting_type}}
          </p>

          <p class="tc-detail-field">
            <span>target_id </span>
            {{settingDetail.target_id}}
          </p>

          <p class="tc-detail-field">
            <span>setting_value </span>
            {{settingDetail.setting_value}}
          </p>

          <p class="tc-detail-field">
            <span>update_time </span>
            {{settingDetail.update_time}}
          </p>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-action-row>
          <button mat-button (click)="editSetting()">
            {{appTranslation.getText("general", "edit")}}
          </button>
        </mat-action-row>
      </mat-card>
    </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>