<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-question"></mat-icon>
    {{appTranslation.getText("inventory", "requests")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchRequests();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addRequest();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="requestsSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="employeeSelfPersist.requestSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="requestsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="{{ appTranslation.getText('general', 'status') }}"
                [(value)]="employeeSelfPersist.request_statusId"
                (valueChange)="searchRequests()">
      <mat-option *ngFor="let etype of requestPersist.request_status" [value]="etype.id">
        {{appTranslation.getTextByIdentifier(etype.name)}}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="employeeSelfPersist.request_statusId" matSuffix mat-icon-button aria-label="Clear"
            (click)="employeeSelfPersist.request_statusId = null;searchRequests();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="tc-loading" *ngIf="requestsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let request of requestsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="request.status == request_status.submitted">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button mat-menu-item (click)="editRequest(request)">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteRequest(request)">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button> 

            <button mat-menu-item (click)="deleteRequest(request)">
              <mat-icon fontSet="fa" fontIcon="fa-right"></mat-icon>
              <span>{{appTranslation.getText("inventory", "approve")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'item_type')}}</span>
          {{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.item_type,
          request.item_type)?.name) }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'item')}}</span>
          {{ this.tcUtilsArray.getById(this.items, request.item_id)?.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'unit')}}</span>
          {{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units, request.unit_id)?.name)  }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'quantity')}}</span>
          {{request.quantity}}
        </div>

        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'requester_store_manager')}}</span>
          {{ getEmployeeFullName(request.requester_store_manager_id)}}
        </div>

        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'requestee_store')}}</span>
          {{ this.tcUtilsArray.getById(stores, request.requestee_store_id)?.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'request_day')}}</span>
          {{ tcUtilsDate.toDate(request.request_day)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'status')}}</span>
          {{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.request_status,
          request.status)?.name) }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="requestsSelection.length >0 || requestsSelectAll">
      <button mat-button (click)="downloadRequests()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{requestsSelectAll ? requestsTotalCount : requestsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="requestsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(requestsData,requestsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(requestsData,requestsSelection) || requestsSelectAll"
            [indeterminate]="requestsSelection.length <requestsData.length && requestsSelection.length>0"
            [disabled]="requestsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="requestsSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #requestsSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="requestsSelectAll=true;"
                    [disabled]="requestsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="requestsSelectAll = false;"
                    [disabled]="!requestsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(requestsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(requestsSelection,row) || requestsSelectAll"
                        [disabled]="requestsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'item_type')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element" class="{{element.status == 101? 'approved':element.status == 103? 'dispatched':
        element.status == 102? 'rejected': null }}">{{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.item_type,
          element.item_type)?.name) }}</mat-cell> 
      </ng-container>

      <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'item')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element" class="{{element.status == 101? 'approved':element.status == 103? 'dispatched':
        element.status == 102? 'rejected': null }}">{{ this.tcUtilsArray.getById(this.items, element.item_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="unit_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'unit')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element" class="{{element.status == 101? 'approved':element.status == 103? 'dispatched':
        element.status == 102? 'rejected': null }}">{{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units,
          element.unit_id)?.name) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'quantity')}}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="{{element.status == 101? 'approved':element.status == 103? 'dispatched':
        element.status == 102? 'rejected': null }}">{{element.quantity}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="requester_store_manager_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'requester_store_manager')}}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="{{element.status == 101? 'approved':element.status == 103? 'dispatched':
        element.status == 102? 'rejected': null }}">{{ getEmployeeFullName(element.requester_store_manager_id) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="requestee_store_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'requestee_store')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element" class="{{element.status == 101? 'approved':element.status == 103? 'dispatched':
        element.status == 102? 'rejected': null }}">{{ this.tcUtilsArray.getById(stores, element.requestee_store_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="request_day">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'request_day')}}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="{{element.status == 101? 'approved':element.status == 103? 'dispatched':
        element.status == 102? 'rejected': null }}">{{tcUtilsDate.toDate(element.request_day)|date:'MMM dd, yyyy. h:mm a'}}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'status')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element" class="{{element.status == 101? 'approved':element.status == 103? 'dispatched':
        element.status == 102? 'rejected': null }}">{{ appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.request_status,
          element.status)?.name) }}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action" >
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="element.status == request_status.submitted">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu" >
            <!-- <button mat-menu-item (click)="editRequest(element)">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button> -->
            <button mat-menu-item (click)="deleteRequest(element)">
              <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
              <span>{{appTranslation.getText("general", "reject")}} </span>
            </button>
                 <button mat-menu-item (click)="approveRequest(element)">
              <mat-icon fontSet="fa" fontIcon="fa-check-double"></mat-icon> 
              <span>{{appTranslation.getText("inventory", "approve")}} </span>
            </button>
          </mat-menu>  
        </mat-cell> 
      </ng-container>


      <mat-header-row *matHeaderRowDef="requestsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: requestsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(requestsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="requestsTotalCount"
                   [ngStyle]="{display: requestsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
