<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="aNCInitialEvaluationDetail">
    <h4 style="font-weight: bold; margin:0px">General Exam</h4>
    <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Genera"
          type="text"
          [(ngModel)]="aNCInitialEvaluationDetail.genera"
          required
        />
      </mat-form-field>
      <div class="tc-full-stretch"></div>
      </div>
      <div [class.tc-flex-row]=true style="justify-content:start">
      <div class="tc-flex-column tc-full-stretch">
        <label>Palor *</label>
        <mat-radio-group
          [(ngModel)]="Palor"
          (ngModelChange)="changeValue(aNCInitialEvaluationDetail, 'palor', $event)"
          
        >
          <mat-radio-button
            value="true"
            style="margin-left: 16px; margin-top: 4px"
            >YES</mat-radio-button
          >
          <mat-radio-button value="false" style="margin-left: 16px"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px">
        <label>Jaundice *</label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="Jaundice"
          (ngModelChange)="changeValue(aNCInitialEvaluationDetail, 'jaundice', $event)"
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      </div>
      <div [class.tc-flex-row]=true style="justify-content:start">
      <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
        <label>Chest Abnormality *</label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="chest_abnormality"
          (ngModelChange)="
            changeValue(aNCInitialEvaluationDetail, 'chest_abnormality', $event)
          "
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
        <label>Heart Abnormality *</label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="heart_abnormality"
          (ngModelChange)="
            changeValue(aNCInitialEvaluationDetail, 'heart_abnormality', $event)
          "
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      </div>
    <h4 style="font-weight: bold; margin-top:15px">Gyn Exam</h4>
      <div [class.tc-flex-row]=true style="display:flex;justify-content:start">
    <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
      <label>Vulvar Ulcer</label>
      <mat-radio-group
        class="custom-control-input"
        [(ngModel)]="vulvar_ulcer"
        (ngModelChange)="
          changeValue(aNCInitialEvaluationDetail, 'vulvar_ulcer', $event)
        "
      >
        <mat-radio-button
          style="margin-left: 16px; margin-top: 4px"
          value="true"
          >YES</mat-radio-button
        >
        <mat-radio-button style="margin-left: 16px" value="false"
          >NO</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px;">
      <label>Vaginal Discharge</label>
      <mat-radio-group
        class="custom-control-input"
        [(ngModel)]="vaginal_discharge"
        (ngModelChange)="
          changeValue(aNCInitialEvaluationDetail, 'vaginal_discharge', $event)
        "
      >
        <mat-radio-button
          style="margin-left: 16px; margin-top: 4px"
          value="true"
          >YES</mat-radio-button
        >
        <mat-radio-button style="margin-left: 16px" value="false"
          >NO</mat-radio-button
        >
      </mat-radio-group>
    </div>
    </div>
    <div [class.tc-flex-row]=true style="display:flex;justify-content:start">
    <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
      <label>Pelvic Mass</label>
      <mat-radio-group
        class="custom-control-input"
        [(ngModel)]="pelvic_mass"
        (ngModelChange)="changeValue(aNCInitialEvaluationDetail, 'pelvic_mass', $event)"
      >
        <mat-radio-button
          style="margin-left: 16px; margin-top: 4px"
          value="true"
          >YES</mat-radio-button
        >
        <mat-radio-button style="margin-left: 16px" value="false"
          >NO</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; " >
      <label>Cervica Lesion</label>
      <mat-radio-group
        class="custom-control-input"
        [(ngModel)]="cervica_lesion"
        (ngModelChange)="
          changeValue(aNCInitialEvaluationDetail, 'cervica_lesion', $event)
        "
      >
        <mat-radio-button
          style="margin-left: 16px; margin-top: 4px"
          value="true"
          >YES</mat-radio-button
        >
        <mat-radio-button style="margin-left: 16px" value="false"
          >NO</mat-radio-button
        >
      </mat-radio-group>

      </div>
    
    </div>
    <div [class.tc-flex-row]=true>
    <mat-form-field class="tc-full-stretch" >
      <input
        matInput
        placeholder="Uterine Size (wks)"
        type="text"
        [(ngModel)]="aNCInitialEvaluationDetail.uterine_size_wks"
      />
    </mat-form-field>
    <div class="tc-full-stretch"></div>
    </div>
      <h4 style="font-weight: bold; margin-top:2px">Counseling/ Testing HIV + Care and follow up</h4>

      <div [class.tc-flex-row]=true>
      <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
        <label>Danger signs in pregnancy and delivery adviced</label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="danger_signs_in_pregnancy_and_delivery_adviced"
          (ngModelChange)="
            changeValue(
              aNCInitialEvaluationDetail,
              'danger_signs_in_pregnancy_and_delivery_adviced',
              $event
            )
          "
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
        <label>Birth Preparedness Adviced</label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="birth_preparedness_adviced"
          (ngModelChange)="
            changeValue(
              aNCInitialEvaluationDetail,
              'birth_preparedness_adviced',
              $event
            )
          "
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      </div>
      <div [class.tc-flex-row]=true>
      <div
        class="tc-flex-column tc-full-stretch"
        style="margin-top: 20px; margin-bottom: 20px; "
      >
        <label>Mother HIV test result</label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="mother_HIV_test_result"
          (ngModelChange)="
            changeValue(aNCInitialEvaluationDetail, 'mother_hiv_test_result', $event)
          "
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <mat-form-field class="tc-full-stretch">
        <mat-select
          placeholder="HIV Test result"
          [(ngModel)]="aNCInitialEvaluationDetail.hiv_test_result"
          [(value)]="aNCInitialEvaluationDetail.hiv_test_result"
        >
          <mat-option
            *ngFor="let etype of persist.HivTestResult"
            [value]="etype.id"
          >
            {{ etype.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div [class.tc-flex-row]=true>
      <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
        <label>HIV test result recieved with post test counseling </label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="HIV_test_result_recieved_with_post_test_counseling"
          (ngModelChange)="
            changeValue(
              aNCInitialEvaluationDetail,
              'hiv_test_result_recieved_with_post_test_counseling', 
              $event
            )
          "
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
        <label>Counselled on infant feeding</label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="counseled_on_infant_feeding"
          (ngModelChange)="
            changeValue(
              aNCInitialEvaluationDetail,
              'counseled_on_infant_feeding',
              $event
            )
          "
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      </div>
      <div [class.tc-flex-row]=true>
      <div class="tc-flex-column tc-full-stretch" style="margin-top: 20px; ">
        <label>Referred for care, treatment and support</label>
        <mat-radio-group
          class="custom-control-input"
          [(ngModel)]="referred_for_care_treatment_and_support"
          (ngModelChange)="
            changeValue(
              aNCInitialEvaluationDetail,
              'referred_for_care_treatment_and_support',
              $event
            )
          "
        >
          <mat-radio-button
            style="margin-left: 16px; margin-top: 4px"
            value="true"
            >YES</mat-radio-button
          >
          <mat-radio-button style="margin-left: 16px" value="false"
            >NO</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <mat-form-field class="tc-full-stretch">
        <mat-select
          placeholder="Partner HIV Test result"
          [(ngModel)]="aNCInitialEvaluationDetail.partner_hiv_test_result"
          [(value)]="aNCInitialEvaluationDetail.partner_hiv_test_result"
        >
          <mat-option
            *ngFor="let etype of persist.HivTestResult"
            [value]="etype.id"
          >
            {{ etype.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
