


<mat-tab-group class="mat-elevation-z8" [(selectedIndex)]="surgery_appointementPersist.selectedIndex" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="OR Reservation">
        <ng-template matTabContent>
            <app-surgery-appointment-list [status]="Surgery_status.sent"></app-surgery-appointment-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="OR Table Scheduling">
        <ng-template matTabContent>
        <app-surgery-appointment-list [status]="Surgery_status.appointed"></app-surgery-appointment-list>
        </ng-template>
    </mat-tab>
    </mat-tab-group>   