<h1 mat-dialog-title>
  Drugs Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="drugsSearchTextBox" placeholder="Search Text">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"
        (click)="drugsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="drugsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="drugData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(drugData,drugSelection) "
            [checked]=" tcUtilsArray.isAllSelected(drugData,drugSelection)"
            [indeterminate]="drugSelection.length <drugData.length && drugSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="drugSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{drugSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="drugSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>{{appTranslation.getText("patient","drug_selection")}}</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(drugSelection,row) : null"
                        [checked]="tcUtilsArray.contains(drugSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(drugSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("general","name")}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="size">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> {{appTranslation.getText("patient","size")}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.size}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="unit">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","units")}} </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  {{
                                    appTranslation.getText(
                                      "patient",
                                      tcUtilsArray.getEnum(form_encounterPersist.drug_unit, element.unit).name
                                    )
                                    }}
                                </mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="drugsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: drugsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(drugSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="drugTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" drugSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
