<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-book-open"></mat-icon>
    {{appTranslation.getText("inventory", "ledger_entry")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchItem_Ledger_Entrys();" *ngIf="tcAuthorization.canRead('item_ledger_entrys')"
          class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button> 
  <!-- <button mat-button (click)=" addItem_Ledger_Entry();" *ngIf="tcAuthorization.canCreate('item_ledger_entrys')"
          class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button> -->
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="item_ledger_entrysSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="item_ledger_entryPersist.item_ledger_entrySearchText" matSuffix mat-icon-button
            aria-label="Clear"
            (click)="item_ledger_entrysSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-select placeholder='{{ appTranslation.getText("general", "item_type") }}'  [(value)]="item_ledger_entryPersist.itemTypeFilter" (valueChange)="searchItem_Ledger_Entrys()">
      <mat-option  *ngFor="let status of item_ledger_entryPersist.item_type" [value]="status.id">

        {{
          appTranslation.getText(
             'inventory',status.name
          )
        }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf='item_ledger_entryPersist.itemTypeFilter != "-1"' matSuffix mat-icon-button aria-label="Clear" (click)="item_ledger_entryPersist.itemTypeFilter = '-1';searchItem_Ledger_Entrys();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder='{{ appTranslation.getText("inventory", "entry_type") }}'  [(value)]="item_ledger_entryPersist.entryTypeFilter" (valueChange)="searchItem_Ledger_Entrys()">
      <mat-option  *ngFor="let status of item_ledger_entryPersist.entry_type" [value]="status.id">

        {{
          appTranslation.getText(
            'inventory',status.name
          )
        }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf='item_ledger_entryPersist.entryTypeFilter != "-1"' matSuffix mat-icon-button aria-label="Clear" (click)="item_ledger_entryPersist.entryTypeFilter = '-1';searchItem_Ledger_Entrys();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>search store</mat-label>
    <input matInput disabled [(ngModel)]="item_ledger_entryPersist.store_name"/>
    <button
      mat-icon-button
      matTooltip="search store"
      matSuffix
      color="primary"
      (click)="searchStore()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="item_ledger_entryPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
    (click)="item_ledger_entryPersist.store_id = null; item_ledger_entryPersist.store_name = null ; searchItem_Ledger_Entrys()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
<mat-form-field>
  <input
    matInput
    placeholder=
      'From Date'
    [formControl]="from_date"
    [matDatepicker]="from_date_picker"
  />

  <mat-datepicker-toggle
    matSuffix
    [for]="from_date_picker"
  ></mat-datepicker-toggle>
  <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
  <button mat-button *ngIf="from_date.value" matSuffix mat-icon-button aria-label="Clear"
  (click)="from_date.setValue('')">
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field>
  <input
    matInput
    placeholder=
      'To Date'
    [formControl]="to_date"
    [matDatepicker]="to_date_picker"
  />

  <mat-datepicker-toggle
    matSuffix
    [for]="to_date_picker"
  ></mat-datepicker-toggle>
  <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
  <button mat-button *ngIf="to_date.value" matSuffix mat-icon-button aria-label="Clear"
  (click)="to_date.setValue('')">
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Category"
              [(value)]="item_ledger_entryPersist.category"
              (valueChange)="searchItem_Ledger_Entrys()">
    <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
      {{ etype.name }}
    </mat-option>
  </mat-select>
  <button mat-button *ngIf="item_ledger_entryPersist.category" matSuffix mat-icon-button aria-label="Clear"
          (click)="item_ledger_entryPersist.category = null;searchItem_Ledger_Entrys();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

  <mat-form-field>
    <mat-label>Sub Category</mat-label>
    <input
      matInput
      placeholder="Sub Category"
      type="text"
      disabled
      [(ngModel)]="subCategoryName"
      required
    >
    <button
      mat-icon-button
      matTooltip="Sub category"
      matSuffix
      color="primary"
      (click)="searchCategory(true)"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
(click)="subCategoryName = null; item_ledger_entryPersist.categoryId=categoryId; searchItem_Ledger_Entrys()">
<mat-icon>close</mat-icon>
</button>
  </mat-form-field> 
  <div class="tc-loading" *ngIf="item_ledger_entrysIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let item_ledger_entry of item_ledger_entrysData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('item_ledger_entrys') || tcAuthorization.canDelete('item_ledger_entrys')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editItem_Ledger_Entry(item_ledger_entry)"
                    *ngIf="tcAuthorization.canUpdate('item_ledger_entrys')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteItem_Ledger_Entry(item_ledger_entry)"
                    *ngIf="tcAuthorization.canDelete('item_ledger_entrys')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'entry_type')}}</span>
          <!-- <a [routerLink]="item_ledger_entryNavigator.item_ledger_entryUrl(item_ledger_entry.id)"
          class="tc-link"> -->
              {{ item_ledger_entry.entry_type }}
        <!-- </a> -->
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'item_type')}}</span>
          {{
          appTranslation.getText(
            "inventory",
            tcUtilsArray.getEnum(
              item_ledger_entryPersist.item_type,
              item_ledger_entry.item_type
            )?.name)
          }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'item')}}</span>
          <!-- <a
            [routerLink]="itemNavigator.itemUrl(item_ledger_entry.item_id)"
            routerLinkActive="router-link-active"
          > -->
            {{ itemNavigator.itemName(item_ledger_entry)}}
          <!-- </a> -->
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'quantity')}}</span>
          {{item_ledger_entry.quantity | number }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'store')}}</span>
          <!-- <a [routerLink]="storeNavigator.storeUrl(item_ledger_entry.store_id)"> -->
            {{ item_ledger_entry.store}}
          <!-- </a> -->
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'batch_no')}}</span>
          {{item_ledger_entry.batch_no}}
        </div>
        <div class="tc-detail-field">
          <span>Date</span>
          {{ tcUtilsDate.toDate(item_ledger_entry.date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'description')}}</span>
          {{item_ledger_entry.description}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'date_of_registration')}}</span>
          {{ tcUtilsDate.toDate(item_ledger_entry.registration_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("inventory", "balance") }}</span>
          {{ item_ledger_entry.balance | number }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="item_ledger_entrysSelection.length >0 || item_ledger_entrysSelectAll">
      <button mat-button (click)="downloadItem_Ledger_Entrys()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{item_ledger_entrysSelectAll ? item_ledger_entrysTotalCount : item_ledger_entrysSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="item_ledger_entrysData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(item_ledger_entrysData,item_ledger_entrysSelection) "
            [checked]=" tcUtilsArray.isAllSelected(item_ledger_entrysData,item_ledger_entrysSelection) || item_ledger_entrysSelectAll"
            [indeterminate]="item_ledger_entrysSelection.length <item_ledger_entrysData.length && item_ledger_entrysSelection.length>0"
            [disabled]="item_ledger_entrysSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                      [matMenuTriggerFor]="item_ledger_entrysSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #item_ledger_entrysSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="item_ledger_entrysSelectAll=true;"
                    [disabled]="item_ledger_entrysSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="item_ledger_entrysSelectAll = false;"
                    [disabled]="!item_ledger_entrysSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(item_ledger_entrysSelection,row) : null"
                        [checked]="tcUtilsArray.contains(item_ledger_entrysSelection,row) || item_ledger_entrysSelectAll"
                        [disabled]="item_ledger_entrysSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="entry_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'entry_type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- <a [routerLink]="item_ledger_entryNavigator.item_ledger_entryUrl(element.id)"
             class="tc-link"> -->
             {{
                  element.entry_type
              }}            
            <!-- </a> -->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'item_type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          appTranslation.getText(
            "inventory",
            tcUtilsArray.getEnum(
              item_ledger_entryPersist.item_type,
              element.item_type
            )?.name)
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'item')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ itemNavigator.itemName(element)}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'quantity')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity | number }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="received">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>Received</mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.entry_type == "transfer") ?  element.quantity : "" }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="issued">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>Issued</mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.entry_type == "item dispatch") ? element.quantity : "" }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="return_damage">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>return damage</mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.entry_type == "item return" || element.entry_type == "lost/damage") ? element.quantity : ""}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="store">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'store')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- <a [routerLink]="storeNavigator.storeUrl(element.store_id)"> -->
            {{ element.store}}
          <!-- </a> -->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="batch_no">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'batch_no')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>from</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.from}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>to</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.to}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'description')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="registration_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'date_of_registration')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.registration_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("inventory", "balance")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.balance | number }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('item_ledger_entrys') || tcAuthorization.canDelete('item_ledger_entrys')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editItem_Ledger_Entry(element)"
                    *ngIf="tcAuthorization.canUpdate('item_ledger_entrys') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteItem_Ledger_Entry(element)"
                    *ngIf="tcAuthorization.canDelete('item_ledger_entrys')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="item_ledger_entrysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: item_ledger_entrysDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(item_ledger_entrysSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="item_ledger_entrysTotalCount"
                   [ngStyle]="{display: item_ledger_entrysTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
