<h1 mat-dialog-title>Case_Transfer Selection</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="case_transfersSearchTextBox"
      placeholder="Search Text"
    />
    <button
      mat-button
      *ngIf="case_transferPersist.case_transferSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="case_transfersSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="case_transfersIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">
    <mat-table [dataSource]="case_transfersData" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                case_transfersData,
                case_transfersSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                case_transfersData,
                case_transfersSelection
              )
            "
            [indeterminate]="
              case_transfersSelection.length < case_transfersData.length &&
              case_transfersSelection.length > 0
            "
            *ngIf="!selectOne"
          >
          </mat-checkbox>
          <button
            mat-button
            *ngIf="case_transfersSelection.length > 0 && !selectOne"
            [mat-menu-trigger-for]="collectionMenu"
          >
            <i class="material-icons">more_vert</i>

            <span
              matBadge="{{ case_transfersSelection.length }}"
              matBadgePosition="above after"
              matBadgeOverlap="false"
              [matBadgeHidden]="case_transfersSelection.length == 0"
              style="margin-right: 10px"
            ></span>
          </button>
          <mat-menu #collectionMenu="matMenu">
            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(case_transfersSelection, row)
                : null
            "
            [checked]="tcUtilsArray.contains(case_transfersSelection, row)"
            *ngIf="!selectOne"
          >
          </mat-checkbox>

          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? markOneItem(row) : null"
            [checked]="tcUtilsArray.contains(case_transfersSelection, row)"
            *ngIf="selectOne"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >patient_id</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.patient_id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="source_provider_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >source_provider_id</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{
          element.source_provider_id
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="reciever_proider_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >reciever_proider_id</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{
          element.reciever_proider_id
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >date</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >remark</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.remark }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="encounter">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >encounter</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.encounter }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="case_transfersDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: case_transfersDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(case_transfersSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [length]="case_transfersTotalCount"
    ></mat-paginator>
  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="case_transfersSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
