<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-bell"></mat-icon>
    eventlogs
  </h3>
  <button mat-button (click)=" searchEventlogs();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addEventlog();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding " >
  <mat-form-field>
    <input matInput [formControl]="eventlogsSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="eventlogPersist.eventlogSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="eventlogsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="eventlogsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">

    <mat-toolbar *ngIf="eventlogsSelection.length >0">
      <button mat-button (click)="downloadEventlogs()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="eventlogsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(eventlogsData,eventlogsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(eventlogsData,eventlogsSelection)"
            [indeterminate]="eventlogsSelection.length <eventlogsData.length && eventlogsSelection.length>0">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(eventlogsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(eventlogsSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="eventlogNavigator.eventlogUrl(element.id)"
             class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="event_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>event_type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.event_type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="log_text">
        <mat-header-cell *matHeaderCellDef mat-sort-header>log_text</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.log_text}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="has_more">
        <mat-header-cell *matHeaderCellDef mat-sort-header>has_more</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.has_more}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="operator_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>operator_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.operator_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="log_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>log_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.log_time)|date:'medium'}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">

        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="eventlogsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: eventlogsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(eventlogsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="eventlogsTotalCount"></mat-paginator>
  </div>
</div>


