<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon>
    {{appTranslation.getText("patient", "Patients")}}
  </h3>
  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  
  <button
    mat-button
    (click)="searchPatients()"
    *ngIf="tcAuthorization.canRead('patients')"
    class="tc-link"
  >
  
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>

  <button mat-button (click)="addPatient()" *ngIf="tcAuthorization.canCreate('patients')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="patientsSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="patientPersist.patientSearchHistory.search_text"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="patientsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="patientPersist.patientSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchPatients()">
      <mat-option *ngFor="let etype of patientFilterColumn" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle *ngIf="patientPersist.patientSearchHistory.search_column?.length" matInput labelPosition="before" class="tc-form-toggle tc-padding-x" (change)="searchPatients()"
                    [(ngModel)]="patientPersist.patientSearchHistory.is_exact" required>
    {{appTranslation.getText("patient", "is_exact")}}
  </mat-slide-toggle>

<!--  <mat-form-field>-->
<!--    <input-->
<!--      matInput-->
<!--      [formControl]="pidSearchBox"-->
<!--      placeholder="{{ appTranslation.getText('general', 'id') }} "-->
<!--    />-->
<!--    <button-->
<!--      mat-button-->
<!--      *ngIf="patientPersist.patientSearchHistory.pid"-->
<!--      matSuffix-->
<!--      mat-icon-button-->
<!--      aria-label="Clear"-->
<!--      (click)="pidSearchBox.setValue('')"-->
<!--    >-->
<!--      <mat-icon>close</mat-icon>-->
<!--    </button>-->
<!--  </mat-form-field>-->

  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("general", "gender")}}' [(value)]="patientPersist.patientSearchHistory.sex"
      (valueChange)="searchPatients()">
      <mat-option [value]="1">{{appTranslation.getText("general", "male")}}</mat-option>
      <mat-option [value]="0">{{appTranslation.getText("general", "female")}}</mat-option>
    </mat-select>


    <button mat-button *ngIf="patientPersist.patientSearchHistory.sex != '-1'" matSuffix mat-icon-button aria-label="Clear"
      (click)="patientPersist.patientSearchHistory.sex = '-1';searchPatients();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>


  </mat-form-field>

  <button mat-button (click)="documentUploadInput.click()" class="tc-link">
    Import Patient
  </button>
  <input #documentUploadInput hidden="true" type="file" onclick="this.value=null" accept=".xls, .xlsx"
    (change)="importPatient($event)"/>


  <div class="tc-loading" *ngIf="patientsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let patient of patientsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <a
            [routerLink]="patientNavigator.patientUrl(patient.id)"
            class="tc-link"
            >{{ patient.fname}}</a
          >
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('patients') ||
              tcAuthorization.canDelete('patients')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="addNote(patient)" *ngIf="tcAuthorization.canCreate('patients')">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              {{ appTranslation.getText("notes", "add_note") }}
            </button>

            <button mat-menu-item (click)="sendSms(patient)" *ngIf="tcAuthorization.canCreate('patients')">
              <mat-icon fontSet="fa" fontIcon="fa-sms"></mat-icon>
              {{appTranslation.getText("general", "send_sms")}}

            </button>
            
            <button mat-menu-item (click)="editPatient(patient)" *ngIf="tcAuthorization.canUpdate('patients')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePatient(patient)" *ngIf="tcAuthorization.canDelete('patients')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>

            <button mat-menu-item *ngIf="tcAuthorization.canCreate('appointments')" (click)="addAppointment(patient.id)">
              <mat-icon fontSet="fas" fontIcon="fa-calendar"></mat-icon>
              <span> Add Appointment </span>
            </button>


          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "middle_name") }}</span>
          {{ patient.mname }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "last_name") }}</span>
          {{ patient.lname }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "gender") }}</span>
          <span *ngIf="patient.sex">   <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon> </span>
          <span *ngIf="!patient.sex">    <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon> </span>
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "birthdate") }} </span>
          {{ tcUtilsDate.toDate( patient.dob) |date }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "email") }}</span>
          {{ patient.email }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "telephone") }}</span>
          {{ patient.phone_cell }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar *ngIf="patientsSelection.length > 0 || patientsSelectAll">
      <button mat-button (click)="downloadPatients()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <button mat-button (click)="sendBulkSms(patientsSelection)">
        <mat-icon fontSet="fa" fontIcon="fa-sms"></mat-icon>
        <span>{{appTranslation.getText("general", "send_bulk_sms")}}</span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
        >{{
          patientsSelectAll ? patientsTotalCount : patientsSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table [dataSource]="patientsData" matSort class="tc-hide-on-mobile">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(patientsData, patientsSelection)
            "
            [checked]="
              tcUtilsArray.isAllSelected(patientsData, patientsSelection) ||
              patientsSelectAll
            "
            [indeterminate]="
              patientsSelection.length < patientsData.length &&
              patientsSelection.length > 0
            "
            [disabled]="patientsSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="patientsSelectAllMenu"
            >
            </mat-icon>
          </button>
          <mat-menu #patientsSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="patientsSelectAll = true"
              [disabled]="patientsSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="patientsSelectAll = false"
              [disabled]="!patientsSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(patientsSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(patientsSelection, row) || patientsSelectAll
            "
            [disabled]="patientsSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{ appTranslation.getText("general", "id") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">
            <a
              [routerLink]="patientNavigator.patientUrl(element.id)"
              class="tc-link"
            >
              {{ element.pid }}</a
            >
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{ appTranslation.getText("general", "first_name") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">
           
              {{ element.fname }}
            
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{ appTranslation.getText("general", "middle_name") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.mname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lname">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{ appTranslation.getText("general", "last_name") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.lname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{ appTranslation.getText("general", "gender") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span *ngIf="element.sex">   <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon> </span>
            <span *ngIf="!element.sex">    <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon> </span>
            
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dob">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{ appTranslation.getText("general", "birthdate") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(  element.dob ) |date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{ appTranslation.getText("general", "email") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone_cell">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >{{ appTranslation.getText("general", "telephone") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.phone_cell }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('patients') ||
              tcAuthorization.canDelete('patients') ||
              tcAuthorization.canCreate('patients') ||
              tcAuthorization.canCreate('appointments')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
    
            <button mat-menu-item (click)="addNote(element)" *ngIf="tcAuthorization.canCreate('patients')">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              {{ appTranslation.getText("notes", "add_note") }}
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sendSms(element)" *ngIf="tcAuthorization.canCreate('patients')">
              <mat-icon fontSet="fa" fontIcon="fa-sms"></mat-icon>
              {{appTranslation.getText("general", "send_sms")}}

            </button>

            <button mat-menu-item (click)="editPatient(element)" *ngIf="tcAuthorization.canUpdate('patients')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePatient(element)" *ngIf="tcAuthorization.canDelete('patients')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>

            <button mat-menu-item *ngIf="tcAuthorization.canCreate('appointments')" (click)="addAppointment(element.id)">
              <mat-icon fontSet="fas" fontIcon="fa-calendar"></mat-icon>
              <span> Add Appointment </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="patientsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: patientsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(patientsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="patientsTotalCount"
      [ngStyle]="{ display: patientsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
