<ng-template #body>
  <div>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="admission_formDetail">
  
      <h3>{{appTranslation.getText("patient", "admission_detail")}}</h3>
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="reason" type="text"
               [(ngModel)]="admission_formDetail.reason" required>
      </mat-form-field>
  
  
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="chief_complaint" type="text"
               [(ngModel)]="admission_formDetail.chief_complaint" required>
      </mat-form-field>
  
  
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="provisional_diagnosis" type="text"
               [(ngModel)]="admission_formDetail.provisional_diagnosis" required>
      </mat-form-field>
  
  
      <mat-form-field class="tc-full-stretch" >
        <mat-select
          placeholder="admission_status"
          [(value)]="admission_formDetail.admission_status"
          required>
          <mat-option *ngFor="let etype of persist.AdmissionStatus" [value]="etype.id">
           {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
  
      <!-- <mat-form-field class="tc-full-stretch">
        <mat-label>{{
          appTranslation.getText("employee", "nurse")
          }}</mat-label>
        <input matInput disabled [(ngModel)]="nurseFullName"/>
        <button
          mat-icon-button
          matTooltip="{{ appTranslation.getText('employee', 'nurse') }}"
          matSuffix
          color="primary"
          (click)="searchNurses()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field> -->
  
      <h3>{{appTranslation.getText("patient", "next_of_kin_information")}}</h3>
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{appTranslation.getText('patient','next_of_kin_name')}}" type="text"
               [(ngModel)]="admission_formDetail.next_of_kin_name" required>
      </mat-form-field>
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{appTranslation.getText('patient','next of kin address')}}" type="text"
               [(ngModel)]="admission_formDetail.next_of_kin_address" required>
      </mat-form-field>
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{appTranslation.getText('patient','next_of_kin_phone')}}" type="text"
               [(ngModel)]="admission_formDetail.next_of_kin_phone" required>
      </mat-form-field>
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{appTranslation.getText('patient','next_of_kin_email')}}" type="email"
               [(ngModel)]="admission_formDetail.next_of_kin_email" required>
      </mat-form-field>
  
  
    </div>
  
  </div>
</ng-template>
<div class="tc-flex-row" *ngIf="isDialog">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content *ngIf="isDialog">
  <ng-container *ngTemplateOutlet="body">
  </ng-container>
 </div>

 <div *ngIf="!isDialog">
  <ng-container *ngTemplateOutlet="body">
  </ng-container>
 </div>

 <div mat-dialog-actions>
  <button mat-button (click)="onCancel()" *ngIf="isDialog">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>