<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="history_dataDetail">
  
       <mat-form-field class="tc-full-stretch">
                              <textarea matInput placeholder="{{appTranslation.getText('patient','siblings_history')}}" type="text"  [(ngModel)]="history_dataDetail.history_siblings" ></textarea>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput placeholder="{{appTranslation.getText('patient','father_history')}}" type="text"  [(ngModel)]="history_dataDetail.history_father" ></textarea>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput placeholder="{{appTranslation.getText('patient','mother_hisotry')}}" type="text"  [(ngModel)]="history_dataDetail.history_mother" ></textarea>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('patient','offspring_history')}}" type="text"  [(ngModel)]="history_dataDetail.history_offspring" >
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput placeholder="{{appTranslation.getText('patient','spouse_history')}}" type="text"  [(ngModel)]="history_dataDetail.history_spouse" ></textarea>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput placeholder="{{appTranslation.getText('procedure','coffee')}}" type="text"  [(ngModel)]="history_dataDetail.coffee" ></textarea>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput placeholder="{{appTranslation.getText('procedure','alcohol ')}}" type="text"  [(ngModel)]="history_dataDetail.alcohol" ></textarea>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <textarea matInput placeholder="{{appTranslation.getText('procedure','tobacco')}}" type="text"  [(ngModel)]="history_dataDetail.tobacco" ></textarea>
                          </mat-form-field>
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  