<h1 mat-dialog-title>
    radiology_result_settings Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="radiologyResultSettingsSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="radiologyResultSettingsPersist.radiologyResultSettingsSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="radiologyResultSettingsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="radiologyResultSettingsIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="radiologyResultSettingssData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(radiologyResultSettingssData,radiologyResultSettingsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(radiologyResultSettingssData,radiologyResultSettingsSelection) || radiologyResultSettingsSelectAll"
            [indeterminate]="radiologyResultSettingsSelection.length <radiologyResultSettingssData.length && radiologyResultSettingsSelection.length>0"
            [disabled]="radiologyResultSettingsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="radiologyResultSettingsSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #radiologyResultSettingsSelectAllMenu="matMenu">

            <button mat-menu-item (click)="radiologyResultSettingsSelectAll=true;" [disabled]="radiologyResultSettingsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="radiologyResultSettingsSelectAll = false;" [disabled]="!radiologyResultSettingsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(radiologyResultSettingsSelection,row) : null"
            [checked]="tcUtilsArray.contains(radiologyResultSettingsSelection,row) || radiologyResultSettingsSelectAll " [disabled]="radiologyResultSettingsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="order_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>order_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.order_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(physicalExaminationPersist.PhysicalExaminationState, element.status)?.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="template_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Template Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.template_name}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="radiologyResultSettingssDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: radiologyResultSettingssDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(radiologyResultSettingsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="radiologyResultSettingssTotalCount"
      [ngStyle]="{display: radiologyResultSettingssTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" radiologyResultSettingsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
