<ng-template #body class="tc-flex-row">

  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="prescriptionsDetailForList">
      <!--
         <mat-form-field class="tc-full-stretch" *ngIf="ids.type == prescription_type.nurse_prescription">
      <mat-label>Ordering Doctor</mat-label>
      <input matInput disabled [(ngModel)]="prescriptionsDetailForList.doctor_name"/>
      <button
        mat-icon-button
        matTooltip="assign provider"
        matSuffix
        color="primary"
        (click)="searchDoctor()"
      >
        <mat-icon>search</mat-icon>
      </button>

      <button
      mat-button
      *ngIf="prescriptionsDetailForList.doctor_name"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="prescriptionsDetailForList.doctor_name = null; prescriptionsDetailForList.provider_id = null; "
    >
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
 -->
      <div [class.tc-flex-row]="true">

        <mat-form-field style="flex: 12" class="tc-full-stretch">
          <mat-label>Medication</mat-label>
          <textarea type="text" #input
                    aria-label="auto"
                    matInput
                    rows="4"
                    (mwlKeydownEnter)="addToList()"
                    (ngModelChange)="handleInput($event, input)"
                    [(ngModel)]="prescriptionsDetailForList.prescription"
                    [matAutocomplete]="auto" ></textarea>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  >
            <mat-option *ngFor="let option of item_options" [value]="itemNav.itemName(option)" (onSelectionChange)="optionSelected(option)">
              {{itemNav.itemName(option)}} &nbsp;  &nbsp; &nbsp;  &nbsp;
              <!-- | rm: {{option.balance}} -->
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <!-- <mat-form-field class="tc-full-stretch" style="flex: 1" *ngIf="ids.type == prescription_type.nurse_prescription || ids.type == prescription_type.opd_prescription" >
            <input matInput [(ngModel)]="prescriptionsDetailForList.quantity"
                   placeholder="{{ appTranslation.getText('patient', 'quantity') }}" type="number" required>
          </mat-form-field> -->




        <mat-label>
          diagnosis
        </mat-label>
        <!-- <textarea matInput placeholder="diagnosis" type="text" [(ngModel)]="prescriptionsDetailForList.diagnosis"
          required></textarea>

        <button mat-icon-button matTooltip='diagnosis' matSuffix [disabled]="true" color="primary"
          (click)="pickIcd11()">
          <mat-icon>search</mat-icon>
        </button> -->

        <mat-form-field>
          <textarea matInput placeholder='diagnosis' type="text" [(ngModel)]="prescriptionsDetailForList.diagnosis"
            (ngModelChange)="onKeyDown($event,input)" [matAutocomplete]="auto"></textarea>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of icd11_diagnosis_options" [value]="appendString(option.category)">
              {{option.category}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>




        <!-- <mat-form-field class="tc-full-stretch">
            <input
              matInput
              placeholder="{{appTranslation.getText('patient','drug')}}"
              type="text"
              [(ngModel)]="drugName"
              disabled
              required
            />

            <button
              mat-icon-button
              matTooltip="{{appTranslation.getText('patient','drug')}}"
              matSuffix
              color="primary"
              (click)="searchDrugs()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field> -->
        <!-- <mat-form-field  class="tc-full-stretch" style="flex: 2">
            <input matInput placeholder='Strength' type="number" (ngModelChange)="calculateDose($event)"
                   [(ngModel)]="prescriptionsDetailForList.dosage" [required]="drugName == prescriptionsDetailForList.drug" >
          </mat-form-field> -->
        <!-- <mat-form-field  style="flex: 1">
            <mat-select placeholder="unit"
            [(ngModel)]="prescriptionsDetailForList.unit" [required]="drugName == prescriptionsDetailForList.drug"
            >
            <mat-option *ngFor="let unit of persist.dosageUnit" [value]="unit.id" disabled>
              {{ unit.name}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->

        <!-- <mat-form-field class="tc-full-stretch" style="flex: 3">
            <input matInput placeholder='dose' type="number"
                   [(ngModel)]="prescriptionsDetailForList.dose"  [required]="drugName == prescriptionsDetailForList.drug"  (ngModelChange)="calculateDosage($event);getQuantity($event);">
          </mat-form-field> -->


        <!-- </div>
          <div [class.tc-flex-row]="true" > -->




        <!--
            <mat-form-field class="tc-full-stretch">
              <mat-select placeholder="frequency"
                         [required]="drugName == prescriptionsDetailForList.drug"
                          [(ngModel)]="prescriptionsDetailForList.frequency"
                          (ngModelChange)="getQuantity($event)"
                          >
                <mat-option *ngFor="let frequency of persist.frequency"  [value]="frequency.id">
                  {{ frequency.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <mat-form-field class="tc-full-stretch">
            <input matInput placeholder='duration' type="number"
                   [(ngModel)]="prescriptionsDetailForList.duration" [required]="drugName == prescriptionsDetailForList.drug"
                   (ngModelChange)="getQuantity($event)"
                   >
          </mat-form-field>

          <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="duration unit"
                        [(ngModel)]="prescriptionsDetailForList.duration_unit" [required]="drugName == prescriptionsDetailForList.drug"
                        (ngModelChange)="getQuantity($event)"
                        >
              <mat-option *ngFor="let freq of persist.frequencyList" [value]="freq.id">
                {{ freq.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->


        <!-- <div class="tc-flex-row"> -->
        <!-- <mat-form-field style="flex: 12" class="tc-full-stretch" *ngIf="ids.type == prescription_type.pharmacist_prescription">
            <mat-label>Drug</mat-label>
            <input type="text" #input
                   aria-label="auto"
                   matInput
                   (ngModelChange)="updateItems($event, input);"
                   [(ngModel)]="prescriptionsDetailForList.drug" > -->
        <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  >
              <mat-option *ngFor="let option of item_options" [value]="itemNav.itemName(option)" (onSelectionChange)="optionSelected(option)">
                {{itemNav.itemName(option)}} &nbsp;  &nbsp; &nbsp;  &nbsp; | rm: {{option.balance}}
              </mat-option>
            </mat-autocomplete> -->
        <!-- </mat-form-field> -->

        <!-- <mat-form-field class="tc-full-stretch" style="flex: 1" *ngIf="ids.type == prescription_type.pharmacist_prescription" >
            <input matInput [(ngModel)]="prescriptionsDetailForList.quantity"
                   placeholder="{{ appTranslation.getText('patient', 'quantity') }}" type="number" required>
          </mat-form-field>
        </div> -->

        <!-- </div> -->
        <!-- <div [class.tc-flex-row]="true" >



               <mat-form-field class="tc-full-stretch">
          <mat-select placeholder="route"
                      [(ngModel)]="prescriptionsDetailForList.route">
            <mat-option *ngFor="let route of medicationAdminstrationChartPersist.MedicationRoute" [value]="route.id">
              {{route.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div> -->
        <!-- <div [class.tc-flex-row]="true" >


        <mat-form-field class="tc-full-stretch">
          <mat-select placeholder="route"
                      [(ngModel)]="prescriptionsDetailForList.route"
                      >
            <mat-option *ngFor="let route of medicationAdminstrationChartPersist.MedicationRoute" [value]="route.id">
              {{route.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="how to use"
                        [(ngModel)]="prescriptionsDetailForList.how_to_use">
              <mat-option *ngFor="let how_to_use of persist.HowToUse" [value]="how_to_use.id">
                {{how_to_use.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

        <!-- <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Store"
                        [(ngModel)]="prescriptionsDetailForList.store_type">
              <mat-option *ngFor="let store_type of storeTypeEnum" [value]="store_type.id">
                {{store_type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>  -->


        <!--


          <textarea matInput placeholder='diagnosis' type="text"
          [(ngModel)]="prescriptionsDetailForList.diagnosis" disabled ></textarea>
          </mat-form-field>

          <textarea matInput placeholder='diagnosis' type="text"
          [(ngModel)]="prescriptionsDetailForList.diagnosis" disabled ></textarea>
          </mat-form-field>


          </div> -->
        <!-- <mat-form-field class="tc-full-stretch">
          <textarea matInput placeholder='other information' type="number"
                 [(ngModel)]="prescriptionsDetailForList.other_information"  ></textarea>
        </mat-form-field> -->
      </div>
      <div *ngIf="prescriptionssData.length > 0">
        <h3 *ngIf="isNew()">{{appTranslation.getText("patient", "prescription")}}</h3>

        <mat-table [dataSource]="prescriptionssData" matSort class="mat-elevation-z2" style="margin-bottom: 10px">
          <h3 *ngIf="isNew()">{{appTranslation.getText("patient", "prescription")}}</h3>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">

              <button mat-menu-item (click)="removePrescriptionFromList(element)">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general", "delete")}} </span>
              </button>

            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="drug_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Prescription
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.prescription }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="diagnosis">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'diagnosis')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.diagnosis}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="doctor_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Provider
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.doctor_name}}
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="dosage">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'diagnosis')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.dosage}} {{tcUtilsArray.getEnum(persist.dosageUnit, element.unit)?.name}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
              'quantity')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
          </ng-container>



          <ng-container matColumnDef="in_patient">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'in_patient')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.in_patient}}</mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="prescriptionssDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: prescriptionssDisplayedColumns;"></mat-row>

        </mat-table>
      </div>
    </div>
  </div>
</ng-template>

<div class="tc-flex-row" *ngIf="isDialog">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content *ngIf="isDialog">
  <ng-container *ngTemplateOutlet="body">
  </ng-container>
</div>

<div mat-dialog-actions *ngIf="isDialog">
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button mat-button (click)="addToList()" *ngIf="isNew() || isWizard()" [disabled]="!canSubmit()">
    {{appTranslation.getText("inventory", "add_to_list")}}
  </button>
  <button mat-button (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="isNew() ? !prescriptionssData.length : !canSubmit()" cdkFocusInitial>
    {{ appTranslation.getText("general", "save") }}
  </button>

  <!-- <button mat-button *ngIf="isNew()" (click)="onAdd()" [disabled]="prescriptionssData.length==0" cdkFocusInitial>
      {{ appTranslation.getText("general", "save") }}
    </button> -->
  <!-- <button mat-button *ngIf="isEdit()|| isCase()" (click)="onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
      {{ appTranslation.getText("general", "save") }}
    </button>
    <button mat-button *ngIf="isWizard()" (click)="onWizard()" [disabled]="prescriptionssData.length==0" cdkFocusInitial>
      {{ appTranslation.getText("general", "next") }}
    </button> -->
</div>
