<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="itemDetail">

    <!-- <mat-form-field class="tc-full-stretch" >
      <mat-select
        placeholder="category"
        [(value)]="itemDetail.category" (selectionChange)="itemDetail.subcategory_name =null; itemDetail.sub_category_id =null"
        required>
        <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>  -->
<!--
        <mat-form-field class="tc-full-stretch">
          <mat-label>Sub Category</mat-label>
          <input
            matInput
            placeholder="Sub Category"
            type="text"
            disabled
            [(ngModel)]="itemDetail.subcategory_name"
            required
          >
          <button
            mat-icon-button
            matTooltip="Sub category"
            matSuffix
            color="primary"
            (click)="searchCategory(true)"
            [disabled]="!itemDetail.category"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>  -->


        <!-- <mat-form-field class="tc-full-stretch">
          <input
            matInput
            placeholder="item code"
            type="text"
            [(ngModel)]="itemDetail.item_code"
            required>
        </mat-form-field> -->
    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('general', 'name') }}"
        type="text"
        [(ngModel)]="itemDetail.name"
        required>
    </mat-form-field> -->
    <mat-form-field style="flex: 12" class="tc-full-stretch">
      <mat-label>name</mat-label>
      <input type="text" #input
             aria-label="auto"
             matInput
             (ngModelChange)="updateItems($event, input);"
             [(ngModel)]="itemDetail.name"
             [matAutocomplete]="auto" >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  >
        <mat-option *ngFor="let option of item_options" [value]="option.name">
          {{itemNav.itemName(option)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <!-- <div class="tc-flex-row" >
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Strength"
          type="number"
          [(ngModel)]="itemDetail.strength"
          required>
      </mat-form-field>


      <mat-form-field class="tc-full-stretch" >
        <mat-select
          placeholder="Unit"
          [(value)]="itemDetail.unit"
          required>
          <mat-option *ngFor="let etype of formEncounterPersist.dosageUnit" [value]="etype.id">
            {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="tc-full-stretch">
      <mat-select
        placeholder="preparation"
        [(value)]="itemDetail.preparation"
        required>
        <mat-option *ngFor="let etype of formEncounterPersist.drug_form" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="brand name"
        type="text"
        [(ngModel)]="itemDetail.brand_name"
        >
    </mat-form-field> -->


      <mat-form-field class="tc-full-stretch">
      <textarea
        rows="3"
        matInput
        placeholder="item description"
        type="text"
        [(ngModel)]="itemDetail.item_description"
        ></textarea>
    </mat-form-field>

  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
