<div class="tc-flex-row">
  <h1 class="mat-headline">
    {{data.action}} {{data.itemType}}?
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onClose()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>


<div mat-dialog-content>
  <div [innerHTML]="data.description"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" cdkFocusInitial>{{data.cancelLabel |uppercase}}</button>
  <button mat-button (click)="onOk() ">
    {{data.action |uppercase}}
  </button>
</div>
