<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="form_vitalsDetail">
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="Blood Pressure Systolic" type="number" [(ngModel)]="form_vitalsDetail.blood_pressure_systolic"
      required
      />
    </mat-form-field>



    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="Blood Pressure Diastolic" type="number" [(ngModel)]="form_vitalsDetail.blood_pressure_diastolic"
      required
      />
    </mat-form-field>

    
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('patient', 'pulse') }}"
        type="number"
        [(ngModel)]="form_vitalsDetail.pulse" required

      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Respiratory rate"
        type="number"
        [(ngModel)]="form_vitalsDetail.oxygen_saturation"
        min="0"
        max="100"
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('patient', 'temperature') }}"
        type="number"
        [(ngModel)]="form_vitalsDetail.temperature"
        required
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="temp_method" [(value)]="form_vitalsDetail.temp_method" required>
        <mat-option *ngFor="let etype of persist.temp_method" [value]="etype.id">
          {{appTranslation.getText("patient", etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="Oxygen Saturation(%)" type="number" [(ngModel)]="form_vitalsDetail.oxygen_saturation_spo2" min="0"
      max="100"
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('patient', 'weight') }}"
        type="number"
        (keyup)="updateMeasurement()"
        [(ngModel)]="form_vitalsDetail.weight"

      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('patient', 'height') }}"
        type="number"
        (keyup)="updateMeasurement()"
        [(ngModel)]="form_vitalsDetail.height"

      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('patient', 'BMI') }}"
        type="number"
        [disabled]="true"
        [(ngModel)]="autoCalculatedBMI"
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('patient', 'bsa') }}"
        type="number"
        [disabled]="true"
        [(ngModel)]="autoCalculatedBSA"
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="Head Circumference[cm]" type="number" [(ngModel)]="form_vitalsDetail.head_circumference"
      
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="MUAC" type="number" [(ngModel)]="form_vitalsDetail.muac"
      
      />
    </mat-form-field>


    <mat-form-field class="tc-full-stretch" *ngIf="ids.context.patientType == patientType.inpatient || ids.context.patientType == patientType.emergency">
      <input matInput placeholder="GCS" type="text" [(ngModel)]="form_vitalsDetail.gcs"
      
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch" *ngIf="ids.context.patientType == patientType.inpatient || ids.context.patientType == patientType.emergency">
      <input matInput placeholder="Output" type="number" [(ngModel)]="form_vitalsDetail.output"
      
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch" *ngIf="ids.context.patientType == patientType.inpatient || ids.context.patientType == patientType.emergency">
      <input matInput placeholder="Input" type="number" [(ngModel)]="form_vitalsDetail.input"
      
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch" *ngIf="ids.context.patientType == patientType.inpatient || ids.context.patientType == patientType.emergency">
      <input matInput placeholder="RBS" type="text" [(ngModel)]="form_vitalsDetail.rbs"
      
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch" *ngIf="ids.context.patientType == patientType.inpatient || ids.context.patientType == patientType.emergency">
      <input matInput placeholder="Urine Ketone" type="number" [(ngModel)]="form_vitalsDetail.urine_ketone"
      
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="Remark" type="text" [(ngModel)]="form_vitalsDetail.remark"
      
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <mat-select
                            placeholder="{{appTranslation.getText('patient', 'pain')}}"
                            [(value)]="form_vitalsDetail.pain_score"
                            >
                            <mat-option *ngFor="let etype of medicationPersist.PainStatus" [value]="etype.id">
                             {{etype.name}}
                            </mat-option>
                          </mat-select>
    </mat-form-field>

    
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    *ngIf="!isWizard()"
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
  <button
    *ngIf="isWizard()"
    mat-button
    (click)="onWizard()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "next") }}
  </button>
</div>
