
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <!-- <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!depositLoading">
                  <h1 class="mat-h1 ">{{getPatientFullName(depositDetail.patient_id)}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == DepositTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = DepositTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
                  <mat-list-item [ngClass]="activeTab == DepositTabs.deposit_historys? 'tc-list-item-focus':''"
                    (click)="activeTab = DepositTabs.deposit_historys;tcUtilsAngular.smallDevice? sidenav.toggle():false; reload()">
                    <a>
                        <mat-icon fontSet="fa" fontIcon="fa-cash-register"></mat-icon>
                        
                        {{appTranslation.getText("financial", "deposit_history")}}
                        <span matBadge="{{deposit_historysTotalCount}}"
                                       matBadgePosition="above after"
                                       matBadgeOverlap="false"
                                       [matBadgeHidden]="deposit_historysTotalCount == 0"
                                       style="margin-right:10px;">
                                </span>
                                <mat-spinner diameter="18" class="tc-spinner-in-menu" *ngIf="deposit_historysLoading"></mat-spinner>
                    </a>
                </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav> -->

      <mat-tab-group>
        <mat-tab>

          <ng-template mat-tab-label class="tab-content">
            <mat-icon
              class="tab-icon"
              fontSet="fa"
              fontIcon="fa-info-circle"
            ></mat-icon>
            <span>Overview</span>
          </ng-template>




          <mat-toolbar class="tc-toolbar-secondary ">
            <h1 class="mat-heading">
                <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                {{appTranslation.getText("general", "overview")}}
            </h1>
            <button mat-button (click)=" back();" class="tc-link">
                                <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                            </button>
            <button mat-button (click)=" reload()" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
            <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                      <button mat-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                    </p> -->
        </mat-toolbar>

        <div class="tc-flex-row tc-full-width">
            <div class="tc-equal-block">
                <div class="tc-padding">
                    <mat-accordion>
                          <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{appTranslation.getText("general","basicdetails")}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>

                                <div *ngIf="!depositLoading">
                  
<p class="tc-detail-field">
                        <span>{{appTranslation.getText('financial','current_amount')}} </span> 
                        {{depositDetail.current_amount }}
                    </p>
                  
<p class="tc-detail-field">
                        <span>{{appTranslation.getText('patient','patient')}} </span> 
                        {{depositDetail.patient_name}}
                    </p>
                  
<p class="tc-detail-field">
                        <span>{{appTranslation.getText('general','remark')}} </span> 
                        {{depositDetail.remark}}
                    </p>
                  
                                </div>
                            <mat-action-row  *ngIf="tcAuthorization.canUpdate('deposits') && depositDetail.status ==  DepositStatus.opened">
                               <button mat-button (click)="addDeposit_History()">
                                <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                               </button>
                             </mat-action-row>

                           </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="tc-equal-block">
            </div>
        </div>

        </mat-tab>


        <mat-tab>


          <ng-template mat-tab-label class="tab-content">
            <mat-icon
              class="tab-icon"
              fontSet="fa"
              fontIcon="fa-cash-register"
            ></mat-icon>
            <span>  {{appTranslation.getText("financial", "deposit_history")}}</span>
          </ng-template>





          <mat-toolbar class="tc-toolbar-secondary ">
            <h1 class="mat-heading">
                <mat-icon fontSet="fa" fontIcon="fa-cash-register"></mat-icon>
                {{appTranslation.getText("financial", "deposit_history")}}
            </h1>
            <button mat-button (click)=" back();" class="tc-link">
                                <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                            </button>
            <button mat-button (click)=" reload()" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
           
        </mat-toolbar>  

        <div class="tc-padding">
    
                <mat-spinner diameter="50" *ngIf="deposit_historysLoading" class="tc-padding"></mat-spinner>
    
                <div class="tc-padding" [ngStyle]="{display: deposit_historysLoading? 'none':''}">
                        <mat-form-field>
                          <input matInput [formControl]="deposit_historysSearchTextBox" placeholder="{{appTranslation.getText('general','search_text')}}">
                          <button mat-button *ngIf="deposit_historysSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                                  (click)="deposit_historysSearchTextBox.setValue('')">
                            <mat-icon>close</mat-icon>
                          </button>
                        </mat-form-field>

                        <mat-form-field class="tc-equal-block">
                          <input  placeholder='From Date' [formControl]="start_date" matInput type="datetime-local">
                          <button mat-button *ngIf="start_date.value" matSuffix mat-icon-button aria-label="Clear"
                          (click)="start_date.setValue(null)">
                          <mat-icon>close</mat-icon>
                      </button>
                        </mat-form-field>
                        <mat-form-field class="tc-equal-block">
                          <input placeholder='To Date' [formControl]="end_date" matInput type="datetime-local">
                          <button mat-button *ngIf="end_date.value" matSuffix mat-icon-button aria-label="Clear"
                          (click)="end_date.setValue(null)">
                          <mat-icon>close</mat-icon>
                      </button>
                        </mat-form-field>
                        <button mat-button class="tc-link"
                        (click)="printDepositDetail()">
                        Print
                    </button>
    
                    <div class="tc-table-container tc-full-stretch">
    
                        <mat-toolbar *ngIf="deposit_historysSelected.length >0 ">
                                  <button mat-button (click)="downloadDeposit_Historys()">
                                    <mat-icon>save_alt</mat-icon>
                                    <span>{{appTranslation.getText("general", "download")}} </span>
                                  </button>
    
                        </mat-toolbar>
    
                        <mat-table [dataSource]="deposit_historysData" matSort>
    
                            <ng-container matColumnDef="select">
                              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                                <mat-checkbox
                                  (click)="$event.stopPropagation()"
                                  (change)=" tcUtilsArray.toggleSelectAll(deposit_historysData,deposit_historysSelected) "
                                  [checked]=" tcUtilsArray.isAllSelected(deposit_historysData,deposit_historysSelected)"
                                  [indeterminate]="deposit_historysSelected.length <deposit_historysData.length && deposit_historysSelected.length>0">
                                </mat-checkbox>
    
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" class="tc-column-selection">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? tcUtilsArray.toggleSelection(deposit_historysSelected,row) : null"
                                              [checked]="tcUtilsArray.contains(deposit_historysSelected,row)">
                                </mat-checkbox>
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="patient_id">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
                              <mat-cell *matCellDef="let element">{{depositDetail.patient_name}}</mat-cell>
                           </ng-container>
                            <ng-container matColumnDef="deposit_amount">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','deposit_amount')}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.deposit_amount}}</mat-cell>
                                 </ng-container>
                              

                              
    <ng-container matColumnDef="remark">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','remark')}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
                                 </ng-container>

                                 <ng-container matColumnDef="crv">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>crv</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.crv}}</mat-cell>
                               </ng-container>
                              
    <ng-container matColumnDef="deposit_date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','deposit_date')}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.deposit_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                                 </ng-container>
                                 

        
    <ng-container matColumnDef="deposit_type">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','deposit_type')}}</mat-header-cell>
                                    <mat-cell *matCellDef="let element">                                     
                                      {{
                                      appTranslation.getText(
                                        "financial",
                                        tcUtilsArray.getEnum(
                                          depositPersist.deposit_history_type,
                                          element.deposit_type
                                        )?.name)
                                      }}
                                    </mat-cell>
                                 </ng-container>
                              
                              
    
                            <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                              <mat-cell *matCellDef="let element" class="tc-column-action">
                                <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                                  <i class="material-icons">more_vert</i>
                                </button>
                                <mat-menu #elementMenu="matMenu">
    
                                  <button mat-menu-item (click)="deleteDeposit_History(element)">
                                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                    <span>{{appTranslation.getText("general","delete")}} </span>
                                  </button>
                                </mat-menu>
                              </mat-cell>
                            </ng-container>
    
                            <mat-header-row *matHeaderRowDef="deposit_historysDisplayedColumns; sticky: true; "></mat-header-row>
                            <mat-row *matRowDef="let row; columns: deposit_historysDisplayedColumns;"
                                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(deposit_historysSelected,row)}">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                            [pageSize]="tcUtilsArray.defaultPageSize" [length]="deposit_historysTotalCount"
                            [ngStyle]="{display: deposit_historysTotalCount > 0? '':'none'}">
                        </mat-paginator>
                    </div>
                </div>
        </div>
    
        </mat-tab>

      </mat-tab-group>

  

  </mat-sidenav-container>
  
  
  
  