<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="machinesDetail">

        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="name" type="text" [(ngModel)]="machinesDetail.name" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="machine_code" type="text" [(ngModel)]="machinesDetail.machine_code" required>
        </mat-form-field>
        <!-- <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="order_type" type="text" [(ngModel)]="machinesDetail.order_type" required>
        </mat-form-field> -->

        <mat-form-field class="tc-full-stretch">
            <mat-label>Order Type</mat-label>
            <mat-select [(value)]="machinesDetail.order_type">
                <mat-option *ngFor="let etype of persist.lab_order_type" [value]="etype.id">
                    {{appTranslation.getTextByIdentifier(etype.name)}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="registeration_date" type="text" [(ngModel)]="machinesDetail.registeration_date"
                required>
        </mat-form-field> -->
        <!-- <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="added_by" type="text" [(ngModel)]="machinesDetail.added_by" required>
        </mat-form-field> -->
        <!-- <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="updated_date" type="text" [(ngModel)]="machinesDetail.updated_date" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="updated_by" type="text" [(ngModel)]="machinesDetail.updated_by" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="status" type="text" [(ngModel)]="machinesDetail.status" required>
        </mat-form-field> -->
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>