
<mat-sidenav-container class="tc-sidebar-container" fullscreen>    
        <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="ordersLoading">
                    <mat-spinner></mat-spinner>
            </div>

            <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event);">
                <mat-tab label="Overview">
                        <mat-toolbar class="tc-toolbar-secondary ">
                            <h1 class="mat-heading">
                                <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                                {{appTranslation.getText("general", "overview")}}
                            </h1>
                            <button mat-button (click)=" back();" class="tc-link">
                                                <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                            </button>
                            <button mat-button (click)=" reload()" class="tc-link">
                                <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                            </button>
                        </mat-toolbar>
            
                        <div class="tc-flex-row tc-full-width">
                            <div class="tc-equal-block">
                                <div class="tc-padding">
                                    <mat-accordion>
                                          <mat-expansion-panel expanded="true">
                                            <mat-expansion-panel-header>
                                              <mat-panel-title>
                                                {{appTranslation.getText("general","basicdetails")}}
                                              </mat-panel-title>
                                            </mat-expansion-panel-header>
            
                                                <div *ngIf="!ordersLoading">
                                                    <p class="tc-detail-field">
                                        <span>created_at </span> 
                                        {{tcUtilsDate.toDate(ordersDetail.created_at)|date:'MMM dd, yyyy. h:mm a'}}
                                    </p>
                                  
            <p class="tc-detail-field">
                                        <span>total_order </span> 
                                        {{ordersDetail.total_order}}
                                    </p>
                                  
            <p class="tc-detail-field">
                                        <span>doctor_id </span> 
                                        {{ordersDetail.doctor_name}}
                                    </p>
                                  
            <p class="tc-detail-field">
                                        <span>patient_id </span> 
                                        {{ordersDetail.patient_full_name}}
                                    </p>
                                  
            <p class="tc-detail-field">
                                        <span>urgency </span>
                                        {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(form_encounterPersist.lab_urgency , ordersDetail.urgency)?.name)}}
                                    </p>
                                  
            <p class="tc-detail-field">
                                        <span>total_price </span> 
                                        {{ordersDetail.total_price}}
                                    </p>
                                  
            <p class="tc-detail-field">
                                        <span>paid </span> 
                                        {{ordersDetail.paid}}
                                    </p>
                                  
                                                </div>
                                            <mat-action-row>
                                             </mat-action-row>
            
                                           </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                            <div class="tc-equal-block">
                            </div>
                        </div>
                </mat-tab>
                <mat-tab label="Result">
                    <app-lab-result-list [patientDetail]="patientDetail" *ngIf="ordersDetail.id" [order_type]="ordersDetail.order_type" [orderDetail]="ordersDetail" [orderId]="ordersDetail.id" (onResult)="onLabResult($event)">
                    </app-lab-result-list>
                </mat-tab>
            </mat-tab-group>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    
    