<h1 mat-dialog-title>
  <mat-icon>search</mat-icon>
  Cases
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="casesSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="casePersist.caseSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="casesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="casesIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="casesData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(casesData,casesSelection) "
            [checked]=" tcUtilsArray.isAllSelected(casesData,casesSelection)"
            [indeterminate]="casesSelection.length <casesData.length && casesSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="casesSelection.length >0 " [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{casesSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="casesSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(casesSelection,row) : null"
                        [checked]="tcUtilsArray.contains(casesSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-radio-group *ngIf="selectOne">
            <mat-radio-button (click)="markOneItem(row)"></mat-radio-button>
          </mat-radio-group>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="case_type_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>case_type_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.case_type_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="is_closed">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>is_closed</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.is_closed}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="case_state_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>case_state_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.case_state_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="target_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="creation_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>creation_time</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.creation_time}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="last_update">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>last_update</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.last_update}}</mat-cell>
                             </ng-container>



      <mat-header-row *matHeaderRowDef="casesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: casesDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(casesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="casesTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" casesSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
