
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!biopsyRequestIsLoading">
                  <h1 class="mat-h1 ">{{biopsyRequestDetail.id}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == BiopsyRequestTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = BiopsyRequestTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav> <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="biopsyRequestIsLoading">
                  <mat-spinner></mat-spinner>
          </div>
  
          <div [ngClass]="activeTab==BiopsyRequestTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>
  
              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
  
                                      <div *ngIf="!biopsyRequestIsLoading">  <p class="tc-detail-field">
patient_name                          <span>  {{patientName}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
hospital_submitting                           <span>  {{biopsyRequestDetail.hospital_submitting}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
ward                           <span>  {{biopsyRequestDetail.ward}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
class                           <span>  {{biopsyRequestDetail.class}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
ethic_group                           <span>  {{biopsyRequestDetail.ethic_group}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
previous_biopsy_no                           <span>  {{biopsyRequestDetail.previous_biopsy_no}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
nature_of_specimen                           <span>  {{biopsyRequestDetail.nature_of_specimen}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
duration_of_lession                           <span>  {{biopsyRequestDetail.duration_of_lession}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
sign_of_infiltration                           <span>  {{biopsyRequestDetail.sign_of_infiltration}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
symptoms_and_signs                           <span>  {{biopsyRequestDetail.symptoms_and_signs}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
lmp                           <span>  {{biopsyRequestDetail.lmp}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
relevant_lab_data                           <span>  {{biopsyRequestDetail.relevant_lab_data}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
doctor_name                           <span>  {{doctorName}} </span> 
                                                       </p>
                        
                         </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editBiopsyRequest()" *ngIf="tcAuthorization.canUpdate('biopsy_request') ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>
  
                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>
  
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  