<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="patientDetail" style="margin: auto">
    <div [class.tc-flex-row]=true>

    <div class="profile-picture">
      <p-avatar class="circle" [(image)]="patientDetail.profile_url" abel="P" shape="circle" size="xlarge"></p-avatar>
      <div class="btn-group">
        <button mat-button class="actionBtn"  (click)="documentUploadInput3.click()"><span>Upload</span></button>
        <button mat-button  class="actionBtn" (click)="takePic('profile_pic', 'profile_url')"><span  >Camera</span></button>
      </div>      
      <input #documentUploadInput3 hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
      (change)="documentUpload($event, 'profile_pic', 'profile_url')"/>

    </div>




    
</div>

    <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{appTranslation.getText('general','first_name')}}" type="text"
               [(ngModel)]="patientDetail.fname" required>
      </mat-form-field>
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{appTranslation.getText('general','middle_name')}}" type="text"
          [(ngModel)]="patientDetail.mname" required>
      </mat-form-field>
  
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{appTranslation.getText('general','last_name')}}" type="text"
          [(ngModel)]="patientDetail.lname" >
      </mat-form-field>
    </div>
   
    <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <mat-select placeholder="{{appTranslation.getText('general', 'gender')}}" [(value)]="patientDetail.sex" required>
          <mat-option  [value]="true">
            Male
          </mat-option>

          <mat-option  [value]="false">
            Female
          </mat-option>
        </mat-select>
  
      </mat-form-field>
  
  
      <mat-form-field class="tc-full-stretch">
        <mat-label>{{appTranslation.getText('general', 'birthdate')}}</mat-label>
        <input matInput  [max]="maxDate"  [matDatepicker]="pat_birth_date" [(ngModel)]="birthDate"  (dateChange)="birthDateChange()">
        <mat-datepicker-toggle matSuffix [for]="pat_birth_date"></mat-datepicker-toggle>
        <mat-datepicker #pat_birth_date></mat-datepicker>
      </mat-form-field>
  
  
      <div class="tc-full-stretch tc-flex-row short">
      <mat-form-field >
        <input matInput placeholder="Year" type="number" min="0" (ngModelChange)="year = $event; ageChange()"
               [(ngModel)]="year" >
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Month" type="number" min="0" (ngModelChange)="month = $event; ageChange()"
               [(ngModel)]="month" >
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Day" type="number" min="0" (ngModelChange)="day = $event; ageChange()"
               [(ngModel)]="day" >
      </mat-form-field>
    </div>
    </div>

    <div class="tc-flex-row">
      <div style="margin-right:100px !important;">
        <mat-slide-toggle
      matInput
      *ngIf="isNew() || isWizard()"
      labelPosition="before"
      class="tc-form-toggle"
      [(ngModel)]="patientDetail.is_credit"
      required
    >
      Is Credit
    </mat-slide-toggle>
      </div>
    <div >
      <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle tc-equal-block" [(ngModel)]="patientDetail.is_free" 
        required>Is Free </mat-slide-toggle>
        <!-- <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle tc-equal-block" [(ngModel)]="appointmentDetail.is_package" (ngModelChange)="onIsPackageChange()"
        required> Package </mat-slide-toggle> -->
    </div>
    </div>

  <div *ngIf="patientDetail.is_credit">
    <div class="tc-flex-row">
      <mat-form-field class="tc-full-stretch">
        <mat-label>Company</mat-label>
        <input
          matInput
          placeholder="Company"
          type="text"
          disabled
          [(ngModel)]="insured_employeeDetail.company_name"
          required
        >
        <button
          mat-icon-button
          matTooltip="Company"
          matSuffix
          color="primary"
          (click)="searchCompany()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="tc-full-stretch">
        <mat-label>Employee</mat-label>
        <input
          matInput
          placeholder="Employee"
          type="text"
          disabled
          [(ngModel)]="insured_employeeDetail.full_name"
          required
        >
        <button
          mat-icon-button
          matTooltip="Employee"
          matSuffix
          color="primary"
          (click)="searchEmployee()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
  
      <mat-form-field class="tc-full-stretch">
        <mat-label>Package</mat-label>
        <input
          matInput
          placeholder="Package"
          type="text"
          disabled
          [(ngModel)]="insured_employeeDetail.package_name"
          required
        >
        <button
          mat-icon-button
          matTooltip="Package"
          matSuffix
          color="primary"
          (click)="searchPackage()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

<mat-form-field class="tc-full-stretch">
          <input matInput placeholder="{{appTranslation.getText('inventory','employee_id')}}" type="text"  [(ngModel)]="insured_employeeDetail.employee_id" required>
      </mat-form-field>


<!-- <mat-form-field class="tc-full-stretch">
          <input matInput placeholder="{{appTranslation.getText('inventory','covered_amount')}}" type="number"  [(ngModel)]="insured_employeeDetail.covered_amount" required>
      </mat-form-field> -->
      <div class="profile-picture">
        <p-avatar class="rectangle"  [(image)]="insured_employeeDetail.image_url" abel="P" shape="rectangle" size="xlarge"></p-avatar>
        <span style="margin-right: 16px">ID Image:</span>
        <button mat-button class="actionBtn"  (click)="documentUploadInput1.click()"><span  >Upload</span></button>
        <button mat-button class="actionBtn"  (click)="takePic('image_id', 'image_url')"><span  >Camera</span></button>
        <input #documentUploadInput1 hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
        (change)="documentUpload($event, 'image_id', 'image_url')"/>

      </div>
      <div class="profile-picture">
        <p-avatar class="rectangle"  [(image)]="insured_employeeDetail.document_url" abel="P" shape="rectangle" size="xlarge"></p-avatar>
        <span style="margin-right: 16px">Documnet:</span>
        <button mat-button class="actionBtn"  (click)="documentUploadInput2.click()"><span  >Upload</span></button>
        <button mat-button class="actionBtn"  (click)="takePic('documnet_id', 'document_url')"><span  >Camera</span></button>
        <input #documentUploadInput2 hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
        (change)="documentUpload($event, 'documnet_id', 'document_url')"/>

      </div>
    </div>

    
    <div [class.tc-flex-row]=true class="phone_number_form">
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="{{appTranslation.getText('general','email')}}" type="email"
               [(ngModel)]="patientDetail.email" >
      </mat-form-field>
  

      <div style="margin: 50px">
        
        <!-- <div class="wrapper">
          <button (click)="changePreferredCountries()">Change Preferred Countries</button>
        </div> -->
       
        <form class="" #f="ngForm"
          [formGroup]="phoneForm">
          <div class="wrapper">
            <ngx-intl-tel-input [cssClass]="{'custom':true,'phone_number_valid':!f.form.controls['phone'].invalid,'phone_number_touch':f.form.controls['phone'].touched}"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Ethiopia"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="false"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="phone">
            </ngx-intl-tel-input>
          </div>
          <!-- <div class="wrapper">
            <button (click)="f.reset()">Reset</button>
          </div> -->
        </form>
        <br>
        <!-- <div><strong>Is input valid:</strong>
          <pre>{{ !f.form.controls['phone'].invalid }}</pre>
        </div> -->
        <!-- <div><strong>Is input touched:</strong>
          <pre>{{ f.form.controls['phone'].touched }}</pre>
        </div> -->
        <!-- <div><strong>Is form valid:</strong>
          <pre>{{ f.form.valid }}</pre>
        </div> -->
        <!-- <div><strong>Form value:</strong>
          <pre>{{ f.form.value | json }}</pre>
        </div> -->
        <!-- <div><strong>Form validation errors:</strong>
          <pre>{{ f.form.controls['phone'].errors | json }}</pre>
        </div> -->
      </div>
    
      <!-- <mat-form-field class="tc-full-stretch">
        <span matPrefix>+251 &nbsp;</span>
        <input matInput placeholder="{{appTranslation.getText('general','telephone')}}" type="text"
               [(ngModel)]="patientDetail.phone_cell" required>
      </mat-form-field> -->
    </div>


      <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <mat-select placeholder="Edicational Status" [(value)]="patientDetail.educational_status">
          <mat-option  *ngFor="let etype of persist.educationalStatus" [value]="etype.id" >
            {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="tc-full-stretch">
        <mat-select placeholder="Maritial Status" [(value)]="patientDetail.maritial_status">
          <mat-option  *ngFor="let etype of persist.maritalStatus" [value]="etype.id" >
            {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>



    </div>

   


    <ng-container *ngIf="year <  18">
      <h4>{{appTranslation.getText("patient", "please_provide_guardian_info")}}</h4>
      <div [class.tc-flex-row]=true>
        <!-- <mat-form-field class="tc-full-stretch">
          <input matInput placeholder='{{appTranslation.getText("patient", "guardian_name")}}' type="text"
                 [(ngModel)]="patientDetail.guardiansname" required>
        </mat-form-field> -->
        <mat-form-field class="tc-full-stretch">
          <mat-label>{{appTranslation.getText("patient", "guardian_name")}}</mat-label>
          <input matInput disabled [(ngModel)]="patientFullName"/>
          <button
            mat-icon-button
            matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
            matSuffix
            color="primary"
            (click)="searchPatient()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
          <mat-select [(ngModel)]="patientDetail.guardianrelationship"
                      placeholder='{{appTranslation.getText("patient", "guardian_relationship")}}'>
            <mat-option *ngFor="let g of guardianRelationShip" [value]="g.value">
              {{ appTranslation.getText("patient", g.name) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- <mat-form-field class="tc-full-stretch">
          <mat-select
            placeholder="{{appTranslation.getText('general', 'gender')}}"
            [(ngModel)]="patientDetail.guardiansex"
            required>
            <mat-option  [value]="true">
              Male
            </mat-option>
  
            <mat-option  [value]="false">
              Female
            </mat-option>
          </mat-select>
  
        </mat-form-field> -->
  

      </div>

      <!-- <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
          <input matInput placeholder='{{appTranslation.getText("patient", "guardian_address")}}' type="text"
                 [(ngModel)]="patientDetail.guardianaddress" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
          <input matInput placeholder='{{appTranslation.getText("patient", "guardian_phone_number")}}' type="number"
                 [(ngModel)]="patientDetail.guardianphone" required>
        </mat-form-field>

      </div> -->
     
      
    </ng-container>



    <h4>{{appTranslation.getText("general", "address")}}</h4>
    
    <div [class.tc-flex-row]=true>
     
    <mat-form-field class="tc-full-stretch">
      <mat-select [(ngModel)]="patientDetail.state"
                  placeholder="{{appTranslation.getText('patient','state')}}" required>
        <mat-option *ngFor="let g of persist.state" [value]="g.id">
          {{ g.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
  
  <mat-form-field class="tc-full-stretch">
        <input matInput  placeholder="{{appTranslation.getText('patient','subcity')}}" type="text"  [(ngModel)]="patientDetail.subcity" >
    </mat-form-field>
  
  <mat-form-field class="tc-full-stretch">
        <input matInput  placeholder="{{appTranslation.getText('patient','wereda')}}" type="text"  [(ngModel)]="patientDetail.wereda" >
    </mat-form-field>


      </div>

      <div [class.tc-flex-row]=true>
          
  <mat-form-field class="tc-full-stretch">
    <input matInput  placeholder="{{appTranslation.getText('patient','kebele')}}" type="text"  [(ngModel)]="patientDetail.kebele" >
</mat-form-field>

 
<mat-form-field class="tc-full-stretch">
<input matInput  placeholder="{{appTranslation.getText('patient','house_no')}}" type="text"  [(ngModel)]="patientDetail.house_no" >
</mat-form-field>
      </div>

  
      <h4>{{appTranslation.getText("patient", "emergency_contact")}}
      </h4>
          
    <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input matInput  placeholder="{{appTranslation.getText('patient','emergency_contactname')}}" type="text"  [(ngModel)]="patientDetail.emergency_contact_name" required>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <mat-select [(ngModel)]="patientDetail.emergency_contact_relationship"
                  placeholder='{{appTranslation.getText("patient", "emergency_contact_relationship")}}'>
        <mat-option *ngFor="let g of guardianRelationShip" [value]="g.value">
          {{ appTranslation.getText("patient", g.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  

    <!-- <mat-form-field class="tc-full-stretch">
      <span matPrefix>+251 &nbsp;</span>
      <input matInput placeholder="{{appTranslation.getText('patient','emergency_contact_phone')}}" type="text"
      [(ngModel)]="patientDetail.emergency_contact_phone" required>
    </mat-form-field> -->
    <form class="" #ff="ngForm"
          [formGroup]="phoneForm">
          <div class="wrapper">
            <ngx-intl-tel-input [cssClass]="{'custom':true,'phone_number_valid':!ff.form.controls['phone'].invalid,'phone_number_touch':ff.form.controls['phone'].touched}"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Ethiopia"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="false"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="phoneEmg">
            </ngx-intl-tel-input>
          </div>
          <!-- <div class="wrapper">
            <button (click)="f.reset()">Reset</button>
          </div> -->
        </form>

      </div>
      <h4>{{appTranslation.getText("patient", "personal_info")}}
      </h4>
                
    <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input matInput  placeholder="{{appTranslation.getText('patient','occupation')}}" type="text"  [(ngModel)]="patientDetail.occupation" >
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="{{appTranslation.getText('financial','tin')}}" type="text"  [(ngModel)]="patientDetail.tin" >
  </mat-form-field>

  
  
    <mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="{{appTranslation.getText('patient','lang_preference')}}" type="text"  [(ngModel)]="patientDetail.language_preference" >
  </mat-form-field>

<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="{{appTranslation.getText('patient','driving_license')}}" type="text"  [(ngModel)]="patientDetail.driving_license" >
  </mat-form-field>



    </div>





  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>

  <button mat-button (click)="onAdd(false, true)" *ngIf="isNew() || isWizard()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>


  <button mat-button (click)="onUpdate()" *ngIf="isEdit()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>

  <button mat-button (click)="onContinue()" *ngIf="isWizard()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'next')}}
  </button>

</div>
