profile-picture {
    position: relative;
    z-index: 1;
    width: 300px;
    height:300px;
    background-image:url(/assets/profile-placeholder.png);
    background-size: contain;
    border-radius: 1em;
  }
  
  .profile-picture img {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 2;
    border-radius: 1em;
  }
  
  .profile-picture label {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 3;
  }
  
  .profile-picture .drag-over .infotext {
    color: black;
    border: dashed 5px white;
  }
  
  .profile-picture .infotext {
    margin-left: 5px;
    margin-top: 5px;
    height: 90px;
    width: 90px;
    vertical-align: middle;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    border: dashed 3px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding:  50px 20px 50px 20px;
    font-size: 100%;
  }

.actionBtn:hover{
  background-color: var(--base-color);
  color: var(--text-color);
}
.profile-picture{
  margin: auto;
}

.circle {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

