<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="patientIntakeFormDetail">


        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="blood groop" type="text" [(ngModel)]="patientIntakeFormDetail.blood_groop"
                    required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="dry weight" type="number" [(ngModel)]="patientIntakeFormDetail.dry_weight"
                    required>
            </mat-form-field>
        </div>

        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="dialyzer type" type="text"
                    [(ngModel)]="patientIntakeFormDetail.dialyzer_type" required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="dialysate no" type="text"
                    [(ngModel)]="patientIntakeFormDetail.dialysate_no" required>
            </mat-form-field>

        </div>

        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="blood_flow" type="text" [(ngModel)]="patientIntakeFormDetail.blood_flow"
                    required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="uf_volume" type="text" [(ngModel)]="patientIntakeFormDetail.uf_volume"
                    required>
            </mat-form-field>
        </div>

        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="heparin_intial" type="text"
                    [(ngModel)]="patientIntakeFormDetail.heparin_intial" required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="during_dialysis" type="text"
                    [(ngModel)]="patientIntakeFormDetail.during_dialysis" required>
            </mat-form-field>
        </div>

        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="dialysate_fluid" type="text"
                    [(ngModel)]="patientIntakeFormDetail.dialysate_fluid" required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="bicarbonate_acetate" type="text"
                    [(ngModel)]="patientIntakeFormDetail.bicarbonate_acetate" required>
            </mat-form-field>
        </div>

        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="weight_before_hd" type="number"
                    [(ngModel)]="patientIntakeFormDetail.weight_before_hd" required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="bp_before_hd" type="number"
                    [(ngModel)]="patientIntakeFormDetail.bp_before_hd" required>
            </mat-form-field>
        </div>

        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="pulse_before_hd" type="number"
                    [(ngModel)]="patientIntakeFormDetail.pulse_before_hd" required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="weight_after_hd" type="number"
                    [(ngModel)]="patientIntakeFormDetail.weight_after_hd" required>
            </mat-form-field>
        </div>

        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="bp_after_hd" type="number"
                    [(ngModel)]="patientIntakeFormDetail.bp_after_hd" required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="pulse_after_hd" type="number"
                    [(ngModel)]="patientIntakeFormDetail.pulse_after_hd" required>
            </mat-form-field>
        </div>

        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="starting_time" type="time" [(ngModel)]="startingTime" required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="finishing_time" type="time" [(ngModel)]="finishingTime" required>
            </mat-form-field>
        </div> 
        <h4>Medication during or at the end of HD-Blood Transfusion</h4>       
        <div [class.tc-flex-row]=true>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="iv_fluid" type="text" [(ngModel)]="patientIntakeFormDetail.iv_fluid"
                    required>
            </mat-form-field>
            <mat-form-field class="tc-full-stretch">
                <input matInput placeholder="other" type="text" [(ngModel)]="patientIntakeFormDetail.other" required>
            </mat-form-field>
        </div>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>