<h1 mat-dialog-title>
    Dialysis Machine Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="dialysisMachineSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="dialysisMachinePersist.dialysisMachineSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="dialysisMachineSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="dialysisMachineIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="dialysisMachinesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(dialysisMachinesData,dialysisMachineSelection) "
            [checked]=" tcUtilsArray.isAllSelected(dialysisMachinesData,dialysisMachineSelection) || dialysisMachineSelectAll"
            [indeterminate]="dialysisMachineSelection.length <dialysisMachinesData.length && dialysisMachineSelection.length>0"
            [disabled]="dialysisMachineSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dialysisMachineSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #dialysisMachineSelectAllMenu="matMenu">

            <button mat-menu-item (click)="dialysisMachineSelectAll=true;" [disabled]="dialysisMachineSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="dialysisMachineSelectAll = false;" [disabled]="!dialysisMachineSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(dialysisMachineSelection,row) : null"
            [checked]="tcUtilsArray.contains(dialysisMachineSelection,row) || dialysisMachineSelectAll" [disabled]="dialysisMachineSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="serial_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Seaial No
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.serial_no}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="machine_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Machine No
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.machine_no}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="dialysisMachinesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: dialysisMachinesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dialysisMachineSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="dialysisMachinesTotalCount"
      [ngStyle]="{display: dialysisMachinesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" dialysisMachineSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>