<mat-toolbar class="tc-toolbar-secondary">
    <h1 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check-double"></mat-icon>
      Previous Visits
    </h1>
    <button mat-button (click)="back()" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchForm_Encounters();" *ngIf="tcAuthorization.canRead('form_encounters')"
          class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  </mat-toolbar>
  <div>
    <div class="tc-full-width">
      <div
        *ngFor="let other_encounter of form_encountersData"
      >
        <div class="tc-padding">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title style="gap: 20px;">
                  <!-- <ul
                  *ngIf="primaryDiagnosis(other_encounter.diagnosis)"
                  style="color: white"
                >
                  <li>{{ primaryDiagnosis(other_encounter.diagnosis).name }}</li>
              </ul>
              <ul>
                  <li *ngIf="!primaryDiagnosis(other_encounter.diagnosis)">There is no diagnosis</li>
              </ul> -->
              <div>{{tcUtilsDate.toDate(other_encounter.date)|date:'MMM dd, yyyy. h:mm a'}}</div> <div style="width: 400px; height: 16px; overflow:hidden;">{{other_encounter.chief_compaint}}</div> <div> {{other_encounter.provider_name}}</div> <div> {{tcUtilsArray.getEnum(
                form_encounterPersist.serviceType, other_encounter.service_type)?.name}}</div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- <div>
                <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("patient", "sensitivity")
                  }}</span>

                  {{
                    appTranslation.getText(
                      "patient",
                      tcUtilsArray.getEnum(
                        form_encounterPersist.sensetivity,
                        other_encounter.sensitivity
                      )?.name
                    )
                  }}
                </p>

                <p class="tc-detail-field">
                  <span>{{
                    appTranslation.getText("general", "reason")
                  }}</span>

                  {{ other_encounter.reason }}
                </p>

                <p class="tc-detail-field">
                  <span>Visit Date</span>

                  {{ tcUtilsDate.toDate(other_encounter.date)|date:'MMM dd, yyyy. h:mm a'}}
                </p>

                <p class="tc-detail-field">
                  <span>Visit Department</span>

                  {{ other_encounter.department }}
                </p>

                <p class="tc-detail-field">
                  <span>Service Type</span>

                  {{tcUtilsArray.getEnum(
                    form_encounterPersist.serviceType,
                    other_encounter.service_type
                  )?.name}}
                </p>

                <p class="tc-detail-field">
                  <span>Diagnosis</span>
                  <span
                    *ngFor="let diagno of other_encounter.diagnosis"
                    style="color: black"
                  >
                    {{ diagno.name }}
                  </span>
                </p>
              </div> -->
              <!-- <ng-template matTabContent> -->




                <ng-template matExpansionPanelContent>


                  <!-- <mat-accordion>
                    <mat-expansion-panel expanded="true" style="padding: 0 10px 8px; box-shadow: none">
                      <mat-expansion-panel-header>
                        <mat-panel-title style="gap: 20px;">
                          <div> Vitals</div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                        <app-form-vitals-list
                          *ngIf="other_encounter.id"
                          [encounterId]="other_encounter.id"
                          [self]="true"
                          [patientType]="other_encounter.service_type"
                        >
                        </app-form-vitals-list>
                        </ng-template>
                      </ng-template>
                    </mat-expansion-panel>
                  </mat-accordion> -->

                  <mat-accordion *ngIf="has_patient_history">
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title> patient history </mat-panel-title>
                      </mat-expansion-panel-header>

                      <app-patient-history-edit-list

                      (assign_value)="assignPatientVisit($event)"
                      *ngIf="other_encounter.id"
                      [encounterId]="other_encounter.id"
                      [self] ="false"
                    >
                </app-patient-history-edit-list>
                </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion *ngIf="has_progress_note">
                  <mat-expansion-panel expanded="true"  style="padding: 0 10px 8px; box-shadow: none">
                    <mat-expansion-panel-header>
                      <mat-panel-title style="gap: 20px;">
                        <div> Progress Note</div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                      <app-form-soaps-list
                        [encounterId]="other_encounter.id"
                        (assign_value)="assignProgress($event)"
                        [is_previous] = "true"
                      >
                      </app-form-soaps-list>
                      </ng-template>
                    <!-- </ng-template> -->
                  </mat-expansion-panel>
                </mat-accordion>


                <!-- <mat-accordion *ngIf="has_lab_result">
                  <mat-expansion-panel expanded="true"  style="padding: 0 10px 8px; box-shadow: none">
                    <mat-expansion-panel-header>
                      <mat-panel-title style="gap: 20px;">
                        <div> Laboratory Result</div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                      <app-lab-result-list
                        [encounterId]="other_encounter.id"
                        *ngIf="other_encounter.id"
                        [patientDetail]="patientDetail"
                        [order_type]="lab_order_type.lab"
                        (assign_value)="hasLabResult($event)"
                        [isDialog]="true"
                      >
                      </app-lab-result-list>
                      </ng-template>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion *ngIf="has_rad_result">
                  <mat-expansion-panel expanded="true" style="padding: 0 10px 8px; box-shadow: none">
                    <mat-expansion-panel-header>
                      <mat-panel-title style="gap: 20px;">
                        <div> Radiology Result</div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                      <app-lab-result-list
                        [encounterId]="other_encounter.id"
                        *ngIf="other_encounter.id"
                        [patientDetail]="patientDetail"
                        [order_type]="lab_order_type.imaging"
                        (assign_value)="hasRadResult($event)"
                        [isDialog]="true"
                      >
                      </app-lab-result-list>
                      </ng-template>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion *ngIf="has_pat_result">
                  <mat-expansion-panel expanded="true" style="padding: 0 10px 8px; box-shadow: none">
                    <mat-expansion-panel-header>
                      <mat-panel-title style="gap: 20px;">
                        <div> Pathology Result</div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                      <app-lab-result-list
                        [encounterId]="other_encounter.id"
                        *ngIf="other_encounter.id"
                        [patientDetail]="patientDetail"
                        [order_type]="lab_order_type.pathology"
                        (assign_value)="hasPatResult($event)"
                        [isDialog]="true"
                      >
                      </app-lab-result-list>
                      </ng-template>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion> -->
                </ng-template>
                <mat-action-row>
                  <a (click)="getEncounterDetail(other_encounter.id)" style="margin-right: auto"  class="tc-link">Details</a>
              </mat-action-row>
              <!-- </ng-template> -->
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator
    [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
    showFirstLastButtons
    [pageSize]="tcUtilsArray.defaultPageSize"
    [length]="form_encountersTotalCount"
    [ngStyle]="{ display: form_encountersTotalCount > 0 ? '' : 'none' }"
  ></mat-paginator>
