
<div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
<div *ngIf="physical_examinationsData.length">
    <app-physical_examination-edit-list [physicalExamination]="physical_examinationsData[0]" [canEdit]="canEdit" (savePhysicalExamintion)="saveResult()"></app-physical_examination-edit-list>
</div>
    <mat-paginator
    [pageSize]="1"
    [length]="physical_examinationsTotal">
</mat-paginator>
