
<mat-tab-group>
  <mat-tab label="Overview">
    <mat-toolbar class="tc-toolbar-secondary ">
      <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
        {{appTranslation.getText("general", "overview")}}
      </h1>
      <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)=" reload()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
    </mat-toolbar>

    <div class="tc-flex-row tc-full-width">
      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ appTranslation.getText("general", "basicdetails") }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngIf="!itemLoading">
                <p class="tc-detail-field">
                <span
                >{{ appTranslation.getText("general", "name") }}
                </span>
                  {{ itemNavigator.itemName(itemDetail) }}
                </p>


                <p class="tc-detail-field">
                <span
                >{{ appTranslation.getText("inventory", "item_code") }}
                </span>
                  {{ itemDetail.item_code }}
                </p>


                <p class="tc-detail-field">
                  <span>categpry</span>
                  {{tcUtilsArray.getEnum(categoryPersist.category, itemDetail.category)?.name}}
                </p>
                
                <p class="tc-detail-field">
                  <span>{{appTranslation.getText('inventory', 'product_category')}} </span>
                  {{itemDetail.subcategory_name}}
                </p>

                <p class="tc-detail-field">
                  <span
                  >{{ appTranslation.getText("general", "description") }}
                  </span>
                    {{ itemDetail.item_description }}
                  </p>

              </div>
              <mat-action-row>
                <button
                  mat-button
                  (click)="editItem()"
                  *ngIf="tcAuthorization.canUpdate('items')"
                >
                  {{ appTranslation.getText("general", "edit") }}
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="tc-equal-block"></div>
  </mat-tab>
  <mat-tab label="Interchangable Item">
    <ng-template matTabContent>
      <app-interchangeable_item-list *ngIf="itemDetail.id" [mainItemId]="itemDetail.id"></app-interchangeable_item-list>
    </ng-template>
  </mat-tab>
 </mat-tab-group>
