<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="dialysisDetail">
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Renal failure" [(value)]="dialysisDetail.renal_failure" required>
                <mat-option *ngFor="let etype of persist.renal_failure" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Other reason" [(value)]="dialysisDetail.other_reason" required>
                <mat-option *ngFor="let etype of persist.other_reason" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch" *ngIf="dialysisDetail.other_reason==other_reason.drug_overdose">
            <input matInput placeholder="drug_overdose" type="text" [(ngModel)]="dialysisDetail.drug_overdose" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch" *ngIf="dialysisDetail.other_reason==other_reason.poisoning">
            <input matInput placeholder="poisoning" type="text" [(ngModel)]="dialysisDetail.poisoning" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch" *ngIf="dialysisDetail.other_reason==other_reason.other">
            <input matInput placeholder="other" type="text" [(ngModel)]="dialysisDetail.other" required>
        </mat-form-field>
        </div>
      <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="full_diagnosis" type="text" [(ngModel)]="dialysisDetail.full_diagnosis"
                required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="transfer_faculity" type="text" [(ngModel)]="dialysisDetail.transfer_faculity"
                required>
        </mat-form-field>
        </div>
      <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="obstractive_cause" type="text" [(ngModel)]="dialysisDetail.obstractive_cause"
                required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="underlying_causes" [(value)]="underlying_causes" multiple required>
                <mat-option *ngFor="let etype of persist.underlying_causes" [value]="etype.id">
                    {{etype.mode}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="indication_for_homodialysis" [(value)]="indication_for_homodialysis" multiple
                required>
                <mat-option *ngFor="let etype of persist.indicationForHomodialysis" [value]="etype.id">
                    {{etype.mode}}  
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="physical_exam_and_investigation" type="text"
                [(ngModel)]="dialysisDetail.physical_exam_and_investigation" required>
        </mat-form-field>
    </div>

    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="summary_of_image_tests" type="text"
                [(ngModel)]="dialysisDetail.summary_of_image_tests" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Relevant investigation" [(value)]="dialysisDetail.relevant_investigation" required>
                <mat-option *ngFor="let etype of persist.relevant_investigation" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
</div>

<div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="dialysis access data inserted"
                [(value)]="dialysisDetail.dialysis_acess_data_inserted" required>
                <mat-option *ngFor="let etype of persist.dialysis_acess_data_inserted" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="dry_weight" type="number" [(ngModel)]="dialysisDetail.dry_weight" required>
        </mat-form-field>
        </div>
        <h3 style="margin: auto;">Serology</h3>
        <h4>  Last six Month</h4>
        <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Last HBSAG" [(value)]="dialysisDetail.last_hbsag" required>
                <mat-option *ngFor="let etype of persist.serology" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Last HCVAB" [(value)]="dialysisDetail.last_hcvab" required>
                <mat-option *ngFor="let etype of persist.serology" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Last PICT" [(value)]="dialysisDetail.last_pict" required>
                <mat-option *ngFor="let etype of persist.serology" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <h4>  Recent</h4>
      <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Recent HBSAG" [(value)]="dialysisDetail.resent_hbsag" required>
                <mat-option *ngFor="let etype of persist.serology" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Resent HCVAB" [(value)]="dialysisDetail.resent_hcvab" required>
                <mat-option *ngFor="let etype of persist.serology" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Resent PICT" [(value)]="dialysisDetail.resent_pict" required>
                <mat-option *ngFor="let etype of persist.serology" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="dialysis_adequacy" type="text" [(ngModel)]="dialysisDetail.dialysis_adequacy"
                required>
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>