
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
   Delivery Summary  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchDelivery_summarys();" *ngIf="tcAuthorization.canRead('delivery_summarys')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addDelivery_summary();" *ngIf="tcAuthorization.canCreate('delivery_summarys')&& isActive()" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="false"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="deliverySummarySearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="deliverySummaryPersist.deliverySummarySearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="deliverySummarySearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="deliverySummaryIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let delivery_summary of deliverySummarysData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('delivery_summarys') || tcAuthorization.canDelete('delivery_summarys'))&& isActive()">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editDeliverySummary(delivery_summary)" *ngIf="tcAuthorization.canUpdate('delivery_summarys')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDeliverySummary(delivery_summary)" *ngIf="tcAuthorization.canDelete('delivery_summarys')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>delivery_time</span>
          {{tcUtilsDate.toDate(delivery_summary.delivery_time)|date:'MMM dd, yyyy. h:mm a'}}
        </div><div class="tc-detail-field">
          <span>mode of delivery</span>
          {{delivery_summary.delivery_way}}
        </div>
          <div class="tc-detail-field">
          <span>newborn</span>
          {{delivery_summary.newborn}}<br>
          {{delivery_summary.is_alive}}
        </div><div class="tc-detail-field">
          <span>delivered_by</span>
          {{delivery_summary.delivery_name}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchDelivery_summarys.length >0 || deliverySummarySelectAll">
      <button mat-button (click)="downloadDeliverySummarys()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{deliverySummarySelectAll ? deliverySummarysTotalCount : deliverySummarySelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="deliverySummarysData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(deliverySummarysData,deliverySummarySelection) "
            [checked]=" tcUtilsArray.isAllSelected(deliverySummarysData,deliverySummarySelection) || deliverySummarySelectAll"
            [indeterminate]="deliverySummarySelection.length <deliverySummarysData.length && deliverySummarySelection.length>0"
            [disabled]="deliverySummarySelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="deliverySummarySelectAllMenu"></mat-icon>
          </button>
          <mat-menu #deliverySummarySelectAllMenu="matMenu">

            <button mat-menu-item (click)="deliverySummarySelectAll=true;" [disabled]="deliverySummarySelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="deliverySummarySelectAll = false;" [disabled]="!deliverySummarySelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(deliverySummarySelection,row) : null"
            [checked]="tcUtilsArray.contains(deliverySummarySelection,row) || deliverySummarySelectAll" [disabled]="deliverySummarySelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="delivery_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>delivery_time
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <a [routerLink]="deliverySummaryNavigator.delivery_summaryUrl(element.id)" class="tc-link">{{tcUtilsDate.toDate(element.delivery_time)| date:'M/d/yy, h:mm a'}}</a>
        </mat-cell>
      </ng-container>
  <ng-container matColumnDef="delivery_way">
        <mat-header-cell *matHeaderCellDef mat-sort-header>mode of delivery
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.svd ? "SVD ,":"") + (element.c_seaction ? "C/Section ,":"") + (element.vacuum_forceps ? "Vacuum/Forceps ,": "") + (element.episiotomy ? "Episiotomy": "") }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="amtsl">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Amtsl
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.ergometrine ? "Ergometrine ,":"") + (element.oxytocine ? "Oxytocine ,":"") + (element.misoprostol ? "Misoprostol ,":"") + (element.other ? "Other ,":"")}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="laceration_rep">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Laceration_rep
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.laceration_rep}}</mat-cell>
      </ng-container>

  <ng-container matColumnDef="newborn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>newborn
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.newborn}} &nbsp;&nbsp; {{element.is_alive}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="deliverySummaryNavigator.delivery_summaryUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('delivery_summarys') || tcAuthorization.canDelete('delivery_summarys')) && isActive()">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editDeliverySummary(element)" *ngIf="tcAuthorization.canUpdate('delivery_summarys') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDeliverySummary(element)" *ngIf="tcAuthorization.canDelete('delivery_summarys')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="deliverySummarysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: deliverySummarysDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(deliverySummarySelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="deliverySummarysTotalCount"
      [ngStyle]="{display: deliverySummarysTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>