
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-concierge-bell"></mat-icon>
      {{appTranslation.getText("employee", "receptionist")}}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchReceptions();" *ngIf="tcAuthorization.canRead('receptions')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addReception();" *ngIf="tcAuthorization.canCreate('receptions')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>

  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="receptionsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="receptionPersist.receptionSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
                  (click)="receptionsSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Filter"
            [(value)]="receptionPersist.receptionSearchHistory.search_column"
            multiple="true"
            (valueChange)="searchReceptions()">
            <mat-option *ngFor="let etype of receptionFilterColumn" [value]="etype.id">
             {{etype.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="tc-loading" *ngIf="receptionsIsLoading">
          <mat-spinner></mat-spinner>
        </div>

        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let reception of receptionsData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title> <a [routerLink]="receptionNavigator.receptionUrl(reception.id)"
                                                                      class="tc-link">{{reception.first_name}}</a>
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('receptions') || tcAuthorization.canDelete('receptions')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">

                                                                                      <button mat-menu-item (click)="editReception(reception)" *ngIf="tcAuthorization.canUpdate('receptions')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteReception(reception)" *ngIf="tcAuthorization.canDelete('receptions')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>

  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','middle_name')}}</span>
              {{reception.middle_name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','last_name')}}</span>
              {{reception.last_name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','email')}}</span>
              {{reception.email}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','telephone')}}</span>
              {{reception.telephone}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','gender')}}</span>
    {{reception.is_male ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','birthdate')}}</span>
              {{tcUtilsDate.toDate(reception.birth_date)|date:'MMM dd, yyyy. h:mm a'}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','address')}}</span>
              {{reception.address}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>

        <div class="tc-table-container tc-full-width">

          <mat-toolbar *ngIf="receptionsSelection.length >0 || receptionsSelectAll">
                    <button mat-button (click)="downloadReceptions()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{receptionsSelectAll ? receptionsTotalCount : receptionsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>

          <mat-table [dataSource]="receptionsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(receptionsData,receptionsSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(receptionsData,receptionsSelection) || receptionsSelectAll"
                  [indeterminate]="receptionsSelection.length <receptionsData.length && receptionsSelection.length>0"
                  [disabled]="receptionsSelectAll">
                </mat-checkbox>

                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="receptionsSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #receptionsSelectAllMenu="matMenu">


                  <button mat-menu-item
                          (click)="receptionsSelectAll=true;"
                          [disabled]="receptionsSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="receptionsSelectAll = false;"
                          [disabled]="!receptionsSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>

              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(receptionsSelection,row) : null"
                              [checked]="tcUtilsArray.contains(receptionsSelection,row) || receptionsSelectAll"
                              [disabled]="receptionsSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="link">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a [routerLink]="receptionNavigator.receptionUrl(element.id)"
                               class="tc-link">{{element.id}}</a>

                        </mat-cell>
                      </ng-container>

            <ng-container matColumnDef="first_name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','first_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    <a [routerLink]="receptionNavigator.receptionUrl(element.id)"
                                    class="tc-link">{{element.first_name}}</a></mat-cell>
                               </ng-container>

  <ng-container matColumnDef="middle_name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','middle_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.middle_name}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="last_name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','last_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.last_name}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="email">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','email')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="telephone">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','telephone')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.telephone}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="is_male">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','gender')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.is_male ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="birth_date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','birthdate')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.birth_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="address">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','address')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="login_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>login_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.login_id}}</mat-cell>
                               </ng-container>


            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('receptions') || tcAuthorization.canDelete('receptions')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">

                  <button mat-menu-item (click)="editReception(element)" *ngIf="tcAuthorization.canUpdate('receptions') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteReception(element)" *ngIf="tcAuthorization.canDelete('receptions')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="receptionsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: receptionsDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(receptionsSelection,row)}"></mat-row>

          </mat-table>

          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="receptionsTotalCount"
                         [ngStyle]="{display: receptionsTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>


