<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-file-medical"></mat-icon>
    {{appTranslation.getText('patient', 'prescription')}}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPrescriptionss();"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPrescriptions(is_surgery);" *ngIf="tcAuthorization.canCreate('prescriptions') && form_encounterPersist.encounter_is_active"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patient_id">
        <mat-slide-toggle
      matInput
      labelPosition="before"
      class="tc-form-toggle" (change)="handleToggle($event)"
      required
      [checked]="true"
    >
      {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
  </h1>
</mat-toolbar>

<div class="tc-padding">
    <div class="tc-loading" *ngIf="prescriptionssLoading">
        <mat-spinner></mat-spinner>
      </div>
    <mat-form-field>
        <input matInput [formControl]="prescriptionssSearchTextBox"
        placeholder="{{appTranslation.getText('general','search_text')}}">
        <button mat-button *ngIf="form_encounterPersist.prescriptionsSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="prescriptionssSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    

         <mat-form-field>
        <input
          matInput
          placeholder='Date Added'
          [formControl]="add_date"
          [matDatepicker]="add_date_picker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="add_date_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #add_date_picker disabled="false"></mat-datepicker>
        <button mat-button *ngIf="add_date.value != ''" matSuffix mat-icon-button aria-label="Clear"
        (click)="add_date.setValue('')">
        <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

    <!-- <mat-form-field>
        <mat-select placeholder="Category"
                    [(value)]="form_encounterPersist.category"
                    (valueChange)="searchPrescriptionss()">
          <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
            {{ etype.name }}
          </mat-option>
        </mat-select>
        <button mat-button *ngIf="form_encounterPersist.category" matSuffix mat-icon-button aria-label="Clear"
                (click)="form_encounterPersist.category = null;searchPrescriptionss();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> -->

    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let prescriptions of prescriptionssData" class="tc-card">
        <mat-card-header>
            <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                *ngIf="(tcAuthorization.canUpdate('prescriptions') || tcAuthorization.canDelete('prescriptions')) && form_encounterPersist.encounter_is_active">
                <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editPrescriptions(prescriptions)"
                *ngIf="tcAuthorization.canUpdate('prescriptions')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general", "edit")}} </span>
                </button>
                <button mat-menu-item (click)="deletePrescriptions(prescriptions)"
                *ngIf="tcAuthorization.canDelete('prescriptions')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general", "delete")}} </span>
                </button>
            </mat-menu>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'drug')}}</span>
            {{prescriptions.name}}
            </div>
            <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'date_added')}}</span>
            {{tcUtilsDate.toDate(prescriptions.date_added)|date:'MMM dd, yyyy. h:mm a'}}
            </div>
            <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'date_modified')}}</span>
            {{tcUtilsDate.toDate(prescriptions.date_modified)|date:'MMM dd, yyyy. h:mm a'}}
            </div>
            <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'patient')}}</span>
            {{prescriptions.patient_id}}
            </div>
            <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'visits')}}</span>
            {{prescriptions.encounter}}
            </div>
            <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'provider')}}</span>
            {{prescriptions.provider_id}}
            </div>
            <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'note')}}</span>
            {{prescriptions.note}}
            </div>
            <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'in_patient')}}</span>
            {{prescriptions.in_patient}}
            </div>
            <ng-container matColumnDef="dispatch_status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>dispatch status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{tcUtilsArray.getById(form_encounterPersist.PrescriptionStatuses, prescriptions.dispatch_status)?.name}}
                </mat-cell>
              </ng-container>
        
        </mat-card-content>
        </mat-card>
    </div>
    <div class="tc-table-container tc-full-stretch">

        <mat-toolbar *ngIf="prescriptionssSelection.length >0 || prescriptionssSelectAll">
        <button mat-button (click)="downloadPrescriptionss()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{prescriptionssSelectAll ? prescriptionssTotalCount : prescriptionssSelection.length}}
            {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="prescriptionssData" matSort class="tc-hide-on-mobile">

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(prescriptionssData,prescriptionssSelection) "
                [checked]=" tcUtilsArray.isAllSelected(prescriptionssData,prescriptionssSelection) || prescriptionssSelectAll"
                [indeterminate]="prescriptionssSelection.length <prescriptionssData.length && prescriptionssSelection.length>0"
                [disabled]="prescriptionssSelectAll">
            </mat-checkbox>

            <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="prescriptionssSelectAllMenu">
                </mat-icon>
            </button>
            <mat-menu #prescriptionssSelectAllMenu="matMenu">


                <button mat-menu-item (click)="prescriptionssSelectAll=true;" [disabled]="prescriptionssSelectAll">
                {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item (click)="prescriptionssSelectAll = false;"
                [disabled]="!prescriptionssSelectAll">
                {{appTranslation.getText("general", "none")}}
                </button>
                <button mat-menu-item (click)="printPrescriptions(null, true)">
                    <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
                    <span>{{appTranslation.getText("general", "print")}} </span>
                    </button>
            </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(prescriptionssSelection,row) : null"
                [checked]="tcUtilsArray.contains(prescriptionssSelection,row) || prescriptionssSelectAll"
                [disabled]="prescriptionssSelectAll">
            </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
            <mat-cell *matCellDef="let element">
            <a  [routerLink]="form_encounterNavigator.prescriptionsUrl(element.id)" class="tc-link">{{element.id}}</a>

            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="drug">
            <mat-header-cell *matHeaderCellDef mat-sort-header>selected drug
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.drug}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>MRN
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{patients[element.patient_id] && (patients[element.patient_id].pid)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patient_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{patients[element.patient_id] && (patients[element.patient_id].fname + " " + patients[element.patient_id].mname + " " + patients[element.patient_id].lname)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="prescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Prescription
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.prescription}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dosage">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Strength
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.dosage}} {{tcUtilsArray.getEnum(form_encounterPersist.dosageUnit, element.unit)?.name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="unit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>unit
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(form_encounterPersist.dosageUnit, element.unit)?.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="diagnosis">
            <mat-header-cell *matHeaderCellDef mat-sort-header>diagnosis
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
            {{element.diagnosis}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_added">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'date_added')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"><a  [routerLink]="form_encounterNavigator.prescriptionsUrl(element.id)" class="tc-link">{{tcUtilsDate.toDate(element.date_added)|date:'MMM dd, yyyy. h:mm a'}}</a> </mat-cell>
        </ng-container>


        <ng-container matColumnDef="how_to_use">
            <mat-header-cell *matHeaderCellDef mat-sort-header>how to use</mat-header-cell>
            <mat-cell *matCellDef="let element">{{
                tcUtilsArray.getEnum(form_encounterPersist.HowToUse, element.how_to_use)?.name
                }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','quantity')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quantity }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="route">
            <mat-header-cell *matHeaderCellDef mat-sort-header>route
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
            {{
            tcUtilsArray.getEnum(medicationAdminstrationChartPersist.MedicationRoute, element.route)?.name
            }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="other_information">
            <mat-header-cell *matHeaderCellDef mat-sort-header>other_information
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.other_information}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.isSysAdmin() || (tcAuthorization.canUpdate('prescriptions') || tcAuthorization.canDelete('prescriptions')) && form_encounterPersist.encounter_is_active">
                <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
                <button mat-menu-item (click)="printPrescriptions(element)">
                <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
                <span>{{appTranslation.getText("general", "print")}} </span>
                </button>
                <button mat-menu-item (click)="editPrescriptions(element)"
                *ngIf="tcAuthorization.canUpdate('prescriptions') && form_encounterPersist.encounter_is_active">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general", "edit")}} </span>
                </button>
                <button mat-menu-item (click)="deletePrescriptions(element)"
                *ngIf="tcAuthorization.canDelete('prescriptions') && form_encounterPersist.encounter_is_active">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general", "delete")}} </span>
                </button>
                <button mat-menu-item (click)="dispatch(element)"
                 *ngIf="element.dispatch_status == 100 && form_encounterPersist.encounter_is_active">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>dispatch</span>
                </button>
            </mat-menu>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="prescriptionssDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: prescriptionssDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(prescriptionssSelection,row)}"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="prescriptionssTotalCount"
        [ngStyle]="{display: prescriptionssTotalCount > 0? '':'none'}">
        </mat-paginator>
    </div>

</div>