
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
     prescriptionDispense_report  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchprescriptionDispensePersistReport();" *ngIf="tcAuthorization.canRead('prescription_and_dispensation_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="prescriptionDispensesReportearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="prescriptionDispensePersist.prescriptionsSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="prescriptionDispensesReportearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="tc-padding">
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="from_date"
        [matDatepicker]="from_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
  
    </mat-form-field>
    <mat-form-field class="tc-padding">
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="to_date"
        [matDatepicker]="to_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
  
    </mat-form-field>

    <mat-form-field class="tc-padding">
      <mat-select placeholder="Visit status" [(value)]="prescriptionDispensePersist.dispatch_status" (selectionChange)="searchprescriptionDispensePersistReport();" required>
          <mat-option *ngFor="let etype of prescriptionDispensePersist.PrescriptionStatuses" [value]="etype.id">
              {{etype.name}}
          </mat-option>
      </mat-select>
      <button mat-button *ngIf="prescriptionDispensePersist.dispatch_status" matSuffix mat-icon-button aria-label="Clear"
        (click)="clearStatus();">
        <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
    <div class="tc-loading" *ngIf="prescriptionDispensesReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let prescriptionDispensesReport of prescriptionDispensesReportData" class="tc-card">
        <mat-card-content>
          <div class="tc-detail-field">
            <span>pid</span>
            {{prescriptionDispensesReport.id}}
          </div>
  <div class="tc-detail-field">
            <span>patient_name</span>
            {{prescriptionDispensesReport.patient_name}}
          </div><div class="tc-detail-field">
            <span>diagnosis</span>
            {{prescriptionDispensesReport.diagnosis}}
          </div><div class="tc-detail-field">
            <span>drug_name</span>
            {{prescriptionDispensesReport.drug}}
          </div> 
          <div class="tc-detail-field">
            <span>provider</span>
            {{prescriptionDispensesReport.provider}}
          </div>
          <div class="tc-detail-field">
            <span>quantity</span>
            {{prescriptionDispensesReport.quantity}}
          </div>
          <div class="tc-detail-field">
            <span>dispensed</span>
            {{tcUtilsArray.getEnum(prescriptionDispensePersist.PrescriptionStatuses, prescriptionDispensesReport.dispatch_status)?.name}}
          </div>
          <div class="tc-detail-field">
            <span>batch_no</span>
            {{prescriptionDispensesReport.batch_no}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="prescriptionDispensesReportselection.length >0 || prescriptionDispensesReportselectAll">
        <button mat-button (click)="downloadprescriptionDispenseReport()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{prescriptionDispensesReportselectAll ? prescriptionDispensesReportTotalCount : prescriptionDispensesReportselection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="prescriptionDispensesReportData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(prescriptionDispensesReportData,prescriptionDispensesReportselection) "
              [checked]=" tcUtilsArray.isAllSelected(prescriptionDispensesReportData,prescriptionDispensesReportselection) || prescriptionDispensesReportselectAll"
              [indeterminate]="prescriptionDispensesReportselection.length <prescriptionDispensesReportData.length && prescriptionDispensesReportselection.length>0"
              [disabled]="prescriptionDispensesReportselectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="prescriptionDispensesReportselectAllMenu"></mat-icon>
            </button>
            <mat-menu #prescriptionDispensesReportselectAllMenu="matMenu">
  
              <button mat-menu-item (click)="prescriptionDispensesReportselectAll=true;" [disabled]="prescriptionDispensesReportselectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="prescriptionDispensesReportselectAll = false;" [disabled]="!prescriptionDispensesReportselectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(prescriptionDispensesReportselection,row) : null"
              [checked]="tcUtilsArray.contains(prescriptionDispensesReportselection,row) || prescriptionDispensesReportselectAll" [disabled]="prescriptionDispensesReportselectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>pid
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="diagnosis">
          <mat-header-cell *matHeaderCellDef mat-sort-header>diagnosis
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.diagnosis}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="drug">
          <mat-header-cell *matHeaderCellDef mat-sort-header>drug_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.drug}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="provider">
            <mat-header-cell *matHeaderCellDef mat-sort-header>provider
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.provider}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="dispatch_status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>dispensed
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(prescriptionDispensePersist.PrescriptionStatuses, element.dispatch_status)?.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="batch_no">
            <mat-header-cell *matHeaderCellDef mat-sort-header>batch_no
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
          </ng-container>
  <mat-header-row *matHeaderRowDef="prescriptionDispensesReportDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: prescriptionDispensesReportDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(prescriptionDispensesReportselection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="prescriptionDispensesReportTotalCount"
        [ngStyle]="{display: prescriptionDispensesReportTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
