
<mat-tab-group>
     <mat-tab label="Overview">
    
            <div class="tc-loading" *ngIf="companyCreditServicePackageIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==CompanyCreditServicePackageTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!companyCreditServicePackageIsLoading"> 
                            <p class="tc-detail-field">
                                Name
                             <span>  {{companyCreditServicePackageDetail.name}} </span> 
                                                         </p>
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editCompanyCreditServicePackage()" *ngIf="tcAuthorization.canUpdate('company_credit_service_packages') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-tab>
      <mat-tab label="Services">
        <ng-template matTabContent>
            <app-company_credit_service-list [packageId]="companyCreditServicePackageDetail.id" ></app-company_credit_service-list>
        </ng-template>
      </mat-tab>
</mat-tab-group>
    
    
    