<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="postNatalCareDetail">
    <div [class.tc-flex-row]=true>
      <mat-form-field class="tc-full-stretch">
        <input matInput placeholder="Vist" type="text"
             value="{{persentPregenancyFollowUp.getLevel(postNatalCareDetail.post_natal_visit)}}" disabled>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Date"
        type="date"
        [(ngModel)]="dateTime"
        required
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="BP"
        type="number"
        [(ngModel)]="postNatalCareDetail.bp"
        required
      />
    </mat-form-field>
  </div>
  <div [class.tc-flex-row]=true>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="TPR"
        type="number"
        [(ngModel)]="postNatalCareDetail.tpr"
        required
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Temp"
        type="number"
        [(ngModel)]="postNatalCareDetail.temp_value"
        required
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Uterus Contracted/Look For PPH"
        type="text"
        [(ngModel)]="postNatalCareDetail.uterus_contracted_look_for_pph"
        
      />
    </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Dribbling/Leaking Urine"
        type="text"
        [(ngModel)]="postNatalCareDetail.dribbling_leaking_urine"     
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Anemia"
        type="text"
        [(ngModel)]="postNatalCareDetail.anemia"   
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Vaginal Discharge (after 4 wks of delivery)"
        type="text"
        [(ngModel)]="postNatalCareDetail.vaginal_discharge"
      />
    </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Pelvic Exam (only if vaginal discharge)"
        type="text"
        [(ngModel)]="postNatalCareDetail.pelvic_exam"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Breast"
        type="text"
        [(ngModel)]="postNatalCareDetail.breast"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Vitamin A"
        type="text"
        [(ngModel)]="postNatalCareDetail.vitamin_a"
      />
    </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Counseling Danger Signs EPI.use of IIN given"
        type="text"
        [(ngModel)]="postNatalCareDetail.counsenig_danger_signs_epi"
      />
    </mat-form-field>
    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Baby Breathing"
        type="text"
        [(ngModel)]="postNatalCareDetail.baby_breathing"
      />
    </mat-form-field> -->
    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Baby Breast Feeding"
        type="text"
        [(ngModel)]="postNatalCareDetail.baby_breast_feeding"
      />
    </mat-form-field> -->
    <!-- </div>
    <div [class.tc-flex-row]=true> -->
    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Baby Weight(gm)"
        type="number"
        [(ngModel)]="postNatalCareDetail.baby_weight"
      />
    </mat-form-field> -->
    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Immunization"
        type="text"
        [(ngModel)]="postNatalCareDetail.immunization"
      />
    </mat-form-field> -->
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="HIV Tested"
        type="text"
        [(ngModel)]="postNatalCareDetail.hiv_tested"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="HIV Test Result R/NR"
        type="text"
        [(ngModel)]="postNatalCareDetail.hiv_test_result"
      />
    </mat-form-field>
  </div>
  <div [class.tc-flex-row]=true>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="ARV Px for Mother"
        type="text"
        [(ngModel)]="postNatalCareDetail.arv_px_for_mother"
      />
    </mat-form-field>
    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="ARV Px for New Born"
        type="text"
        [(ngModel)]="postNatalCareDetail.arv_px_for_newborn"
      />
    </mat-form-field> -->
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Feeding Option EBF/RF"
        type="text"
        [(ngModel)]="postNatalCareDetail.feeding_option"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Mother referred to C & Sup"
        type="text"
        [(ngModel)]="postNatalCareDetail.mother_referred_to_c_and_sup"
      />
    </mat-form-field>
  </div>
  <div [class.tc-flex-row]=true>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="New Born Referrd to Chronic HIV Infant Care"
        type="text"
        [(ngModel)]="
          postNatalCareDetail.new_born_referred_to_chronic_hiv_infant_care
        "
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="FB Counseled & Provided"
        type="text"
        [(ngModel)]="postNatalCareDetail.fb_counseled_and_provided"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Remark"
        type="text"
        [(ngModel)]="postNatalCareDetail.remark"
      />
    </mat-form-field>

  </div>
  <div [class.tc-flex-row]=true>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Action Taken"
        type="text"
        [(ngModel)]="postNatalCareDetail.action_taken"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Attendant Name and Sig"
        type="text"
        [(ngModel)]="postNatalCareDetail.attendant_name_and_signature"
      />
    </mat-form-field>
    <div class="tc-full-stretch"></div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
