<div class="tc-padding">
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{appTranslation.getText("general", "basicdetails")}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="procedure_orderDetail">

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('employee', 'physician')}} </span>
          {{ tCUtilsArray.getById(medicalPractitioners, procedure_orderDetail.provider_id)?.first_name + " " + tCUtilsArray.getById(medicalPractitioners, procedure_orderDetail.provider_id)?.last_name }}
        </p>

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('patient', 'patient')}} </span>
          {{ tCUtilsArray.getById(patients, procedure_orderDetail.patient_id)?.fname + " " + tCUtilsArray.getById(patients, procedure_orderDetail.patient_id)?.mname }}
        </p>

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('patient', 'visits')}} </span>
          <a [routerLink]="form_EncounterNavigator.form_encounterUrl(procedure_orderDetail.encounter_id)">
              {{ appTranslation.getText('general', 'view') }}
          </a>
        </p>

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'reg_date')}} </span>
          {{ tCUtilsDate.toDate(procedure_orderDetail.date_collected) |date:'MMM dd, yyyy. h:mm a'}}
        </p>

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'date')}} </span>
          {{ tCUtilsDate.toDate(procedure_orderDetail.date_ordered)|date:'MMM dd, yyyy. h:mm a'}}
        </p>

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('bed', 'priority')}} </span>
          {{ appTranslation.getText("procedure", procedure_orderDetail.order_priority) }}
        </p>

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'status')}} </span>
          {{ appTranslation.getText("procedure", procedure_orderDetail.order_status) }}
        </p>

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('procedure', 'patient_instructions')}} </span>
          {{procedure_orderDetail.patient_instructions}}
        </p>

        <p class="tc-detail-field">
          <span>{{appTranslation.getText('employee', 'lab')}} </span>
          {{ tCUtilsArray.getById(procedureProviders, procedure_orderDetail.lab_id)?.name }}
        </p>

      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
