<mat-toolbar class="tc-toolbar-secondary" *ngIf="!matExpansion">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
    {{showToolBar? "form_clinical_instruction ": "order sheet"}}  </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchFormClinicalInstructions();" *ngIf="tcAuthorization.canRead('form_clinical_instructions')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addFormClinicalInstruction();" *ngIf=" showToolBar && tcAuthorization.canCreate('form_clinical_instructions') && !is_sub && formEncounterPersist.encounter_is_active" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>


    <button mat-button (click)=" addPrescriptions();" *ngIf=" !showToolBar && tcAuthorization.canCreate('prescriptions')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      <span>Prescriptions</span>
  </button>

  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
  matInput
  labelPosition="before"
  class="tc-form-toggle" (change)="handleToggle($event)"
  required
  [checked]="true"
>
  {{appTranslation.getText("patient", "show_current")}}
</mat-slide-toggle>
</h1>

  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field  *ngIf="!matExpansion">
      <input matInput [formControl]="formClinicalInstructionSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="formClinicalInstructionPersist.formClinicalInstructionSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="formClinicalInstructionSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="formClinicalInstructionIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let formClinicalInstruction of formClinicalInstructionsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('form_clinical_instructions') || tcAuthorization.canDelete('form_clinical_instructions')) && formEncounterPersist.encounter_is_active">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

              <button mat-menu-item (click)="editFormClinicalInstruction(formClinicalInstruction)" *ngIf="tcAuthorization.canUpdate('form_clinical_instructions') && showToolBar">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteFormClinicalInstruction(formClinicalInstruction)" *ngIf="tcAuthorization.canDelete('form_clinical_instructions')  && showToolBar">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
              <button mat-menu-item (click)="prescribePrescription(formClinicalInstruction)" *ngIf="tcAuthorization.canCreate('prescriptions') && formClinicalInstruction.type == instructionType.treatment">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>from_date</span>
            {{formClinicalInstruction.from_date}}
          </div><div class="tc-detail-field">
            <span>instruction</span>
            {{formClinicalInstruction.instruction}}
          </div><div class="tc-detail-field">
            <span>interval</span>
            {{getInterval(formClinicalInstruction.interval)}}
          </div><div class="tc-detail-field">
            <span>nurse_id</span>
            {{formClinicalInstruction.nurse_id}}
          </div><div class="tc-detail-field">
            <span>patient_id</span>
            {{formClinicalInstruction.patient_id}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{formClinicalInstruction.status}}
          </div><div class="tc-detail-field">
            <span>to_date</span>
            {{formClinicalInstruction.to_date}}
          </div><div class="tc-detail-field">
            <span>type</span>
            {{formClinicalInstruction.type}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width" matSort >

      <mat-toolbar *ngIf="(searchFormClinicalInstructions.length >0 || formClinicalInstructionSelectAll) && !matExpansion">
        <button mat-button (click)="downloadFormClinicalInstructions()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{formClinicalInstructionSelectAll ? formClinicalInstructionsTotalCount : formClinicalInstructionSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar>
      <mat-table [dataSource]="formClinicalInstructionsData"class="tc-hide-on-mobile" *ngIf="!matExpansion">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(formClinicalInstructionsData,formClinicalInstructionSelection) "
              [checked]=" tcUtilsArray.isAllSelected(formClinicalInstructionsData,formClinicalInstructionSelection) || formClinicalInstructionSelectAll"
              [indeterminate]="formClinicalInstructionSelection.length <formClinicalInstructionsData.length && formClinicalInstructionSelection.length>0"
              [disabled]="formClinicalInstructionSelectAll">
            </mat-checkbox>

            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="formClinicalInstructionSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #formClinicalInstructionSelectAllMenu="matMenu">

              <button mat-menu-item (click)="formClinicalInstructionSelectAll=true;" [disabled]="formClinicalInstructionSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="formClinicalInstructionSelectAll = false;" [disabled]="!formClinicalInstructionSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
              <!-- <button mat-menu-item (click)="sendAll()" [disabled]="!formClinicalInstructionSelection.length">
                Send
              </button> -->
            </mat-menu>

          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(formClinicalInstructionSelection,row) : null"
              [checked]="tcUtilsArray.contains(formClinicalInstructionSelection,row) || formClinicalInstructionSelectAll" [disabled]="formClinicalInstructionSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="from_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.from_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="instruction">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="custom-col">Plan and Order
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="custom-col"><div [innerHTML]="replaceInstruction(element.instruction)"></div></mat-cell>
        </ng-container>
    <ng-container matColumnDef="interval">
          <mat-header-cell *matHeaderCellDef mat-sort-header>interval
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getInterval(element.interval)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="nurse_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>nurse_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getNurse(element.nurse_id)}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="user_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ordered by
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{user[element.user_id]?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(formClinicalInstructionPersist.InstructionStatus,element.status)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="to_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>to_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.to_date && element.to_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a  [routerLink]="formClinicalInstructionNavigator.formClinicalInstructionUrl(element.id)" class="tc-link">
                {{element.target_name}}
            </a>
            </mat-cell>
        </ng-container>
    <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
                {{tcUtilsArray.getById(formClinicalInstructionPersist.InstructionType,element.type)?.name}}
            </mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="formClinicalInstructionNavigator.formClinicalInstructionUrl(element.id)" class="tc-link">{{element.id}}</a>

          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="element.status == instructionStatus.open &&(tcAuthorization.canUpdate('form_clinical_instructions') || tcAuthorization.canDelete('form_clinical_instructions')) && formEncounterPersist.encounter_is_active &&(showToolBar || (element.submission_status == submissionStatus.submitted))">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editFormClinicalInstruction(element)" *ngIf="tcAuthorization.canUpdate('form_clinical_instructions')  && showToolBar">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteFormClinicalInstruction(element)" *ngIf="tcAuthorization.canDelete('form_clinical_instructions')  && showToolBar">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
              <!-- <button mat-menu-item (click)="order(element)" *ngIf="(tcAuthorization.canCreate('prescriptions') && element.type == instructionType.medication) || (tcAuthorization.canCreate('patient_procedures') && element.type == instructionType.patient_procedure) || (tcAuthorization.canCreate('orders') && (element.type == instructionType.lab_order || element.type == instructionType.pat_order || element.type == instructionType.rad_order)) && element.submission_status == submissionStatus.submitted &&  !showToolBar">
                <mat-icon fontSet="fa" fontIcon="fa-sheet-plastic"></mat-icon>
                <span>Order </span>
              </button> -->
              <button mat-menu-item (click)="closeOrder(element)" *ngIf="tcAuthorization.canUpdate('form_clinical_instructions') && (element.status == instructionStatus.open || element.status == instructionStatus.start) &&  showToolBar">
                <mat-icon fontSet="fa" fontIcon="fa-sheet-plastic"></mat-icon>
                <span>Close order </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="formClinicalInstructionsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: formClinicalInstructionsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(formClinicalInstructionSelection,row)}"></mat-row>

      </mat-table>

      <div *ngIf="matExpansion" style="padding: 8px;">
          <div *ngFor="let formClinicalInstruction of formClinicalInstructionsData">
            <div style="margin-bottom: 8px;">
              <mat-accordion>
                <mat-expansion-panel expanded="{{formClinicalInstructionsData.length == 1}}">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{formClinicalInstruction.target_name + ' with interval of ' + getInterval(formClinicalInstruction.interval) }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="type == instructionType.vital">
                      <mat-checkbox [(ngModel)]="showVitals" *ngIf="tcAuthorization.canRead('form_vitals')" (ngModelChange)="toggle()">
                        <p>
                          show vitals
                        </p>
                      </mat-checkbox>
                      &nbsp;&nbsp;
                      <mat-checkbox [(ngModel)]="showChart" *ngIf="tcAuthorization.canRead('form_vitals') && showVitals">
                        <p>
                          {{appTranslation.getText("schedule", "show_vital_chart")}}
                        </p>
                      </mat-checkbox>
                    </div>
                    <ng-template matExpansionPanelContent>

                      <div *ngIf="!showVitals">
                      <!-- <app-form_clinical_instruction-detail [id]="formClinicalInstruction.id"></app-form_clinical_instruction-detail> --> <app-clinical_instruction_response-list [clinicalInstruction]="formClinicalInstruction" [showBar]="false"></app-clinical_instruction_response-list>
                      </div>
                      <div *ngIf="showVitals">
                        <app-form-vitals-list
                        [encounterId]="formClinicalInstruction.encounter_id"
                        [patientType]="serviceType.inpatient"
                        [showBar]="false"
                        [showVitals]="showChart"
                      >
                      </app-form-vitals-list>
                      </div>
                    </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
        </div>
      </div>



      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="formClinicalInstructionsTotalCount"
        [ngStyle]="{display: formClinicalInstructionsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
