<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
               class="tc-sidebar mat-elevation-z8" position="end">
    <div class="tc-sidebar-inner">
      <div class="tc-padding" *ngIf="!procedure_orderLoading">
        <h1 class="mat-h1 ">{{procedure_orderDetail.procedure_order_id}} </h1>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == Procedure_OrderTabs.overview? 'tc-list-item-focus':''"
                       (click)="activeTab = Procedure_OrderTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>

        <mat-list-item [ngClass]="activeTab == Procedure_OrderTabs.lab_result? 'tc-list-item-focus':''"
                       (click)="activeTab = Procedure_OrderTabs.lab_result;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-flask"></mat-icon>
            {{appTranslation.getText("procedure", "lab_results")}}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="tc-loading" *ngIf="procedure_orderLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="activeTab==Procedure_OrderTabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)=" reload();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </p>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <ng-container *ngIf="procedureOrderId">
            <app-procedure-order-overview [procedureOrderId]="procedureOrderId"></app-procedure-order-overview>
          </ng-container>
        </div>
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{appTranslation.getText("procedure", "procedure_order_codes")}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="procedureOrderCodes.length > 0">
                  <table mat-table [dataSource]="procedureOrderCodes" class="mat-elevation-z0"
                         style="width: 100%; margin-bottom: 10px">

                    <ng-container matColumnDef="procedure_type">
                      <th mat-header-cell
                          *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_type")}}</th>
                      <td mat-cell
                          *matCellDef="let element"> {{ appTranslation.getText("procedure", element.procedure_type) }} </td>
                    </ng-container>

                    <ng-container matColumnDef="procedure_test">
                      <th mat-header-cell
                          *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_test_name")}}</th>
                      <td mat-cell *matCellDef="let element"> {{ element.procedure_name }} </td>
                    </ng-container>

                    <ng-container matColumnDef="procedure_code">
                      <th mat-header-cell
                          *matHeaderCellDef>{{appTranslation.getText("procedure", "procedure_test_code")}}</th>
                      <td mat-cell *matCellDef="let element"> {{ element.procedure_code }} </td>
                    </ng-container>

                    <ng-container matColumnDef="diagnosis_code">
                      <th mat-header-cell
                          *matHeaderCellDef>{{appTranslation.getText("procedure", "diagnosis_codes")}}</th>
                      <td mat-cell *matCellDef="let element"> {{ element.diagnoses }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="activeTab == Procedure_OrderTabs.lab_result">
      <app-procedure-order-results [procedureOrderId]="procedureOrderId"></app-procedure-order-results>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>



