
<mat-toolbar class="tc-toolbar-secondary" *ngIf="!prescription_request_id">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-trowel-bricks"></mat-icon>
     item_dispatch  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>  
    <button mat-button (click)=" searchItemDispatchs();" *ngIf="tcAuthorization.canRead('item_dispatchs')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <!-- <button mat-button (click)=" addItemDispatch();" *ngIf="tcAuthorization.canCreate('item_dispatchs')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button> -->
  </mat-toolbar>
  <div class="tc-padding" >
    <div *ngIf="!prescription_request_id">
    <mat-form-field>
      <input matInput [formControl]="itemDispatchSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="itemDispatchPersist.itemDispatchSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemDispatchSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="itemDispatchPersist.store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="itemDispatchPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemDispatchPersist.store_id = null; itemDispatchPersist.store_name = null ; searchItemDispatchs()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>

      <mat-form-field >
        <input
          matInput
          placeholder=
            'from date'
          [formControl]="itemDispatchPersist.start_date"
          [matDatepicker]="from_date_picker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="from_date_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
        <button mat-button *ngIf="itemDispatchPersist.start_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemDispatchPersist.start_date.setValue('')">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field >
    <input
      matInput
      placeholder=
        'to Date'
      [formControl]="itemDispatchPersist.end_date"
      [matDatepicker]="to_date_picker"  
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="to_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="itemDispatchPersist.end_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
    (click)="itemDispatchPersist.end_date.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Category"
                [(value)]="itemDispatchPersist.category"
                (valueChange)="searchItemDispatchs()">
      <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
        {{ etype.name }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="itemDispatchPersist.category" matSuffix mat-icon-button aria-label="Clear"
            (click)="itemDispatchPersist.category = null;searchItemDispatchs();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
    <mat-form-field>
      <mat-label>Sub Category</mat-label>
      <input
        matInput
        placeholder="Sub Category"
        type="text"
        disabled
        [(ngModel)]="subCategoryName"
        required
      >
      <button
        mat-icon-button
        matTooltip="Sub category"
        matSuffix
        color="primary"
        (click)="searchCategory(true)"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
  (click)="subCategoryName = null; itemDispatchPersist.categoryId=categoryId; searchItemDispatchs()">
  <mat-icon>close</mat-icon>
  </button>
    </mat-form-field> 

    <mat-form-field>
      <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                  [(value)]="itemDispatchPersist.dispatch_status"
                  (valueChange)="searchItemDispatchs()">
        <mat-option *ngFor="let etype of itemDispatchPersist.dispatchStatus" [value]="etype.id" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="itemDispatchPersist.dispatch_status" matSuffix mat-icon-button aria-label="Clear"
              (click)="itemDispatchPersist.dispatch_status = null;searchItemDispatchs();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    </div>
    <div class="tc-loading" *ngIf="itemDispatchIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let itemDispatch of itemDispatchsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('item_dispatchs') || tcAuthorization.canDelete('item_dispatchs')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editItemDispatch(itemDispatch)" *ngIf="tcAuthorization.canUpdate('item_dispatchs')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteItemDispatch(itemDispatch)" *ngIf="tcAuthorization.canDelete('item_dispatchs')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>prescription_request_id</span>
            {{itemDispatch.request_id}}
          </div><div class="tc-detail-field">
            <span>transfer_id</span>
            {{itemDispatch.transfer_id}}
          </div><div class="tc-detail-field">
            <span>quantity</span>
            {{itemDispatch.quantity}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchItemDispatchs.length >0 || itemDispatchSelectAll">
        <button mat-button (click)="downloadItemDispatchs()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{itemDispatchSelectAll ? itemDispatchsTotalCount : itemDispatchSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="itemDispatchsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(itemDispatchsData,itemDispatchSelection) "
              [checked]=" tcUtilsArray.isAllSelected(itemDispatchsData,itemDispatchSelection) || itemDispatchSelectAll"
              [indeterminate]="itemDispatchSelection.length <itemDispatchsData.length && itemDispatchSelection.length>0"
              [disabled]="itemDispatchSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemDispatchSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #itemDispatchSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="itemDispatchSelectAll=true;" [disabled]="itemDispatchSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="itemDispatchSelectAll = false;" [disabled]="!itemDispatchSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(itemDispatchSelection,row) : null"
              [checked]="tcUtilsArray.contains(itemDispatchSelection,row) || itemDispatchSelectAll" [disabled]="itemDispatchSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="prescription_request_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>prescription_request_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.request_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="transfer_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.transfer_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="itemDispatchNavigator.itemDispatchUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="batch_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header> batch no</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.batch_no}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dispatch_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Dispatch date</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.dispatch_date && element.dispatch_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mrn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>mrn
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.mrn}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="response_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Response date</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.response_date && element.response_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> item name</mat-header-cell>
          <mat-cell *matCellDef="let element">
           {{itemNavigator.itemName(element)}}
  
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('item_dispatchs') || tcAuthorization.canDelete('item_dispatchs')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
              <button mat-menu-item (click)="adddItemDispatchReturn(element)" *ngIf="tcAuthorization.canUpdate('item_dispatchs')">
                <mat-icon fontSet="fa" fontIcon="fa-rotate-left"></mat-icon>
                <span>Return</span>
              </button>
           <!-- <button mat-menu-item (click)="editItemDispatch(element)" *ngIf="tcAuthorization.canUpdate('item_dispatchs') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteItemDispatch(element)" *ngIf="tcAuthorization.canDelete('item_dispatchs')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button> -->
            </mat-menu>
          </mat-cell>
        </ng-container>  
        <mat-header-row *matHeaderRowDef="itemDispatchsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemDispatchsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemDispatchSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemDispatchsTotalCount"
        [ngStyle]="{display: itemDispatchsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>