<div [ngStyle]="{display: (bedsTotalCount > 0|| bed_room_id=='')? '':'none'}">
<mat-toolbar class="tc-toolbar-secondary" [ngStyle]="{display:bed_room_id==''?'':'none'}">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-bed"></mat-icon>
       {{appTranslation.getText("bed", "beds")}} 
    </h3>
    <button mat-button (click)="back()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
    <button mat-button (click)=" searchBeds();" *ngIf="tcAuthorization.canRead('beds')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addBed();" *ngIf="tcAuthorization.canCreate('beds')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-padding">
    <mat-form-field>
        <input matInput [formControl]="bedsSearchTextBox"
            placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="bedPersist.bedSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
            (click)="bedsSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder='{{appTranslation.getText("bed", "status")}}'  [(value)]="bedPersist.bedSearchHistory.status" (valueChange)="searchBeds()">
          <mat-option  *ngFor="let status of bedPersist.bed_status" [value]="status.id">
            {{ appTranslation.getTextByIdentifier(status.name) }}
          </mat-option>
        </mat-select>
    
        <button mat-button *ngIf='bedPersist.bedSearchHistory.status != "-1"' matSuffix mat-icon-button aria-label="Clear" (click)="bedPersist.bedSearchHistory.status = '-1';searchBeds();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>



  

    <div class="tc-loading" *ngIf="bedsIsLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let bed of bedsData" class="tc-card">
            <mat-card-header>
                <mat-card-title> 
                    <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('beds') || tcAuthorization.canDelete('beds')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editBed(bed)" *ngIf="tcAuthorization.canUpdate('beds')">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deleteBed(bed)" *ngIf="tcAuthorization.canDelete('beds')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="tc-detail-field">
                    <span>{{appTranslation.getText('bed','serial_id')}}</span>
                    {{bed.serial_id}}
                </div>
                <div class="tc-detail-field">
                    <span>{{appTranslation.getText('bed','bed_room')}}</span>

                    {{tcUtilsArray.getById(bedRoom,bed.bed_room_id)?.name}}
                
                </div>
                <div class="tc-detail-field">
                    <span>{{appTranslation.getText('bed','status')}}</span>
                    {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(bedPersist.bed_status, bed.status)?.name)}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="bedsSelection.length >0 || bedsSelectAll">
            <button mat-button (click)="downloadBeds()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
            </button>
            <div class="tc-flex-fill"></div>
            <span>{{bedsSelectAll ? bedsTotalCount : bedsSelection.length}} {{appTranslation.getText("general",
                "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="bedsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(bedsData,bedsSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(bedsData,bedsSelection) || bedsSelectAll"
                        [indeterminate]="bedsSelection.length <bedsData.length && bedsSelection.length>0"
                        [disabled]="bedsSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="bedsSelectAllMenu">
                        </mat-icon>
                    </button>
                    <mat-menu #bedsSelectAllMenu="matMenu">


                        <button mat-menu-item (click)="bedsSelectAll=true;" [disabled]="bedsSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="bedsSelectAll = false;" [disabled]="!bedsSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(bedsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(bedsSelection,row) || bedsSelectAll"
                        [disabled]="bedsSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="bedNavigator.bedUrl(element.id)" class="tc-link">{{element.id}}</a>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="serial_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','serial_id')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.serial_id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ward">
                <mat-header-cell *matHeaderCellDef >Ward
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.ward}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="bed_room_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','bed_room')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{tcUtilsArray.getById(bedRoom,element.bed_room_id)?.name}}
                    
                    
                   </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','status')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">  {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(bedPersist.bed_status, element.status)?.name)}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('beds') || tcAuthorization.canDelete('beds')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editBed(element)" *ngIf="tcAuthorization.canUpdate('beds') ">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deleteBed(element)" *ngIf="tcAuthorization.canDelete('beds')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="bedsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: bedsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(bedsSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="bedsTotalCount"
            [ngStyle]="{display: bedsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>
</div>