<!-- public block-->
<div *ngIf="TCAppInit.appInitialized$ | async">
  <mat-sidenav-container
    *ngIf="!tcAuthorization.isLoggedIn()"
    style="height: 100vh"
  >
    <mat-sidenav
      #sidenavPublic="matSidenav"
      class="tc-sidebar mat-elevation-z8"
    >
      <img
        [src]="logo"
        alt="eTech"
        style="padding: 5px; max-width: 150px"
      />
      <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content class="cover">
      <div class="tc-public-header" style="display: none">
        <div class="tc-container">
          <mat-toolbar>
           
            <mat-toolbar-row>
              
              <button
                mat-button
                (click)="sidenavPublic.toggle()"
                *ngIf="tcUtilsAngular.smallDevice"
              >
                <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
              </button>

              <button mat-button (click)="tcNavigator.home()">
                <img
                  src="assets/images/logo.png"
                  style="height: 40px; padding-left: 0px" 
                />
                {{ title }}
              </button>
              <div
                *ngIf="!tcUtilsAngular.smallDevice"
                class="tc-flex-fill"
                style="display: flex; flex-direction: row"
              >
                <span class="tc-flex-fill"></span>

                <button
                  mat-button
                  (click)="tcNavigator.about(); sidenavPublic.toggle()"
                >
                  About
                </button>
                <button
                  mat-button
                  (click)="tcNavigator.login(); sidenavPublic.toggle()"
                >
                  Login
                </button>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </div>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- credit & saving data management block -->
  <mat-sidenav-container
    *ngIf="
      tcAuthorization.isLoggedIn() &&
      employeePersist.myEmployeeId == null &&
      patientPersisit.myPatientId == null &&
      doctorPersist.doctorId == null &&
      receptionPersist.receptionId == null &&
      nursePersist.nurseId == null
    "
    style="height: 100vh"
  >
    <mat-sidenav
      #sidenav="matSidenav"
      class="tc-sidebar mat-elevation-z8"
      [mode]="tcUtilsAngular.sideNavMode"
      [opened]="!tcUtilsAngular.smallDevice"
    >
    <a [routerLink]="'/home'">
      <img
        src="assets/images/jadeber.jpg"
        style="box-sizing: content-box !important; border-radius: 100%;"
        class="logo"
        alt="eTech"
        
      />
    </a>

      <p-panelMenu
        [multiple]="false"
        [model]="items"
        styleClass="menu-bg"
      ></p-panelMenu>
    </mat-sidenav>
    <mat-toolbar>
      
      <mat-toolbar-row class="tc-primary-header mat-elevation-z2">
        <span style="color: #fff" *ngIf="!tcUtilsAngular.smallDevice">{{
           title 
        }}</span>
        <button
          mat-icon-button
          *ngIf="tcUtilsAngular.smallDevice"
          (click)="sidenav.toggle()"
        >
          <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
          <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
        <button
          mat-button
          (click)="tcNavigator.home()"
          style="padding-left: 0px"
          *ngIf="tcUtilsAngular.smallDevice"
        >
          <img src="assets/images/jadeber.jpg" style="height: 50px;border-radius:100%" />
          {{ title }}
        </button>
        <div class="tc-flex-fill"></div>
        <!-- <a [routerLink]="notificationNavigator.notificationUrl()" style="color:white !important;" class="tc-link">
        <button
          mat-button
          (click)="updateNotificationCount()"
        >
        <mat-icon 
          [matBadge]="appPersit.notificationCount"
           [matBadgeHidden]="appPersit.notificationCountHidden"
            matBadgeColor="accent"
             fontSet="fa" fontIcon="fa-bell"></mat-icon>
          
        </button>
        </a> -->

        <button
          mat-button
          *ngIf="tcAuthorization.isSysAdmin()"
          [matMenuTriggerFor]="adminMenu"
        >
          <mat-icon fontSet="fa" fontIcon="fa-tools"></mat-icon>
          Sysadmin <i class="material-icons">arrow_drop_down</i>
        </button>

        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item (click)="userNavigator.viewUsers()">
            <mat-icon>person</mat-icon>
            <span>Users</span>
          </button>
          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('groups')"
            (click)="groupNavigator.viewGroups()"
          >
            <mat-icon>group</mat-icon>
            <span> Groups </span>
          </button>

          <button
            mat-menu-item
            *ngIf="tcAuthorization.isSysAdmin()"
            (click)="resourceNavigator.viewResources()"
          >
            <mat-icon>how_to_reg</mat-icon>
            <span>Access Control</span>
          </button>

          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('eventlogs')"
            (click)="eventlogNavigator.viewEventlogs()"
          >
            <mat-icon>notification_important</mat-icon>
            <span>Eventlogs</span>
          </button>

          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('settings')"
            (click)="settingNavigator.viewSettings()"
          >
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('files')"
            (click)="fileNavigator.viewFiles()"
          >
            <mat-icon>attachment</mat-icon>
            <span>Files</span>
          </button>

          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('mails')"
            (click)="mailNavigator.viewMails()"
          >
            <mat-icon>email</mat-icon>
            <span>Mails</span>
          </button>

          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('locks')"
            (click)="lockNavigator.viewLocks()"
          >
            <mat-icon>lock</mat-icon>
            <span>Locks</span>
          </button>
          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('cases')"
            (click)="caseNavigator.viewCases()"
          >
            <mat-icon>gavel</mat-icon>
            <span>Cases</span>
          </button>

          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('stats')"
            (click)="statNavigator.viewStats()"
          >
            <mat-icon>trending_up</mat-icon>
            <span>Stats</span>
          </button>
          <button
            mat-menu-item
            *ngIf="tcAuthorization.canRead('jobs')"
            (click)="jobNavigator.viewJobs()"
          >
            <mat-icon>cached</mat-icon>
            <span>Jobs</span>
          </button>
        </mat-menu>

        <button
          mat-button
          *ngIf="tcAuthorization.isLoggedIn()"
          [matMenuTriggerFor]="profileMenu"
        >
          <!-- <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon> -->
          <img src="assets/images/profile.png" style="height: 40px" />
          {{ TCAppInit.userInfo.name
          }}<i class="material-icons">arrow_drop_down</i>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button
            mat-menu-item
            (click)="tcNavigator.profile()"
            *ngIf="tcAuthorization.tosAccepted()"
          >
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>lock</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <div
    *ngIf="
      tcAuthorization.isLoggedIn() &&
      (employeePersist.myEmployeeId != null ||
        patientPersisit.myPatientId != null ||
        doctorPersist.doctorId != null ||
        receptionPersist.receptionId != null ||
        nursePersist.nurseId != null)
    "
  >
    <router-outlet></router-outlet>
  </div>
</div>

<!-- public block-->

<div *ngIf="!(TCAppInit.appInitialized$ | async)">
  <mat-spinner></mat-spinner>
</div>
