<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="bedroomtypeDetail">
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{ appTranslation.getText('general', 'name') }}"
        type="text"
        [(ngModel)]="bedroomtypeDetail.name"
        required
      />
    </mat-form-field>

    <!-- <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("inventory", "search_store")
        }}</mat-label>
      <input
        matInput
        placeholder="{{ appTranslation.getText('inventory', 'parent_store') }}"
        type="text"
        disabled
        [(ngModel)]="bedroomtypeDetail.store_name"
        required
      />
      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('inventory', 'search_store') }}"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field> -->


    <mat-form-field class="tc-full-stretch">
      <textarea
        matInput
        placeholder="{{ appTranslation.getText('general', 'remark') }}"
        type="text"
        [(ngModel)]="bedroomtypeDetail.remark"
        required
      >
      </textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
