
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon>
    Users
  </h3>
  <button mat-button (click)=" searchUsers();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addUser();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding " >
  <mat-form-field>
    <input matInput [formControl]="usersSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="userPersist.userSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="usersSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="usersIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">

    <mat-toolbar *ngIf="usersSelection.length >0">
      <button mat-button (click)="downloadUsers()" [disabled]="usersIsDownloading">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}}</span>
        <mat-spinner diameter="18" color="accent" class="tc-spinner-in-button"
                     *ngIf="usersIsDownloading"></mat-spinner>
      </button>

    </mat-toolbar>

    <mat-table [dataSource]="usersData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(usersData,usersSelection) "
            [checked]=" tcUtilsArray.isAllSelected(usersData,usersSelection)"
            [indeterminate]="usersSelection.length <usersData.length && usersSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(usersSelection,row) : null"
                        [checked]="tcUtilsArray.contains(usersSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">
            <a class="tc-link" (click)="userNavigator.viewUser(element.id)">{{element.name}}</a>
            <span class="tc-column-sub-text">{{element.email}}</span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="disabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="!element.disabled">done</mat-icon>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sysadmin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sysadmin</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.sysadmin">done</mat-icon>
        </mat-cell>

      </ng-container>
      <ng-container matColumnDef="reg_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Reg. Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.reg_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="sendMessage(element)">
              <mat-icon fontSet="fa" fontIcon="fa-paper-plane"></mat-icon>
              {{appTranslation.getText("general", "send_message")}}
            </button>
            <button mat-menu-item (click)="editUser(element)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>

            <button mat-menu-item (click)="deleteUser(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="report">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Report</mat-header-cell>
        <mat-cell *matCellDef="let element">

          <a href="{{filePersist.downloadLink(element.report_key)}}"
             class="mat-button">
            <mat-icon>save_alt</mat-icon>
          </a>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="usersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: usersDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(usersSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="usersTotalCount"></mat-paginator>
  </div>
</div>


