<mat-toolbar class="tc-toolbar-secondary">
    <h1 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
    {{appTranslation.getText("patient", "follow_up_note")}}
    </h1>
    <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>

    <button mat-button (click)="searchFollow_Up_Notes()" *ngIf="tcAuthorization.canRead('follow_up_notes')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
        <mat-slide-toggle
        matInput
        labelPosition="before"
        class="tc-form-toggle" (change)="handleToggle($event)"
        required
        [checked]="false"
        >
        {{appTranslation.getText("patient", "show_current")}}
        </mat-slide-toggle>
        </h1>
</mat-toolbar>

<div class="tc-padding">
    <mat-accordion>

    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{appTranslation.getText("patient", "follow_up_note")}}
        </mat-panel-title>
        </mat-expansion-panel-header>


        <div [ngStyle]="{display: follow_up_notesLoading? 'none':''}">

        <mat-form-field>
            <input matInput [formControl]="follow_up_notesSearchTextBox"
            placeholder="{{appTranslation.getText('general','search_text')}}">
            <button mat-button *ngIf="follow_up_notesSearchTextBox.value" matSuffix mat-icon-button
            aria-label="Clear" (click)="follow_up_notesSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <div>
            <div *ngFor="let note of follow_up_notesData">
            <div class="tc-padding">
                <span class="tc-date tc-text-muted">{{tcUtilsDate.toDate(note.date)
               |date:'MMM dd, yyyy. h:mm a'}}

                <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v" class="tc-icon-button" style="margin-left:5px;"
                    [matMenuTriggerFor]="noteContextMenu" *ngIf="canUpdateFollowUpNote(note) && form_encounterPersist.encounter_is_active">
                </mat-icon>
                <mat-menu #noteContextMenu="matMenu">
                    <button mat-menu-item (click)="editFollow_Up_Note(note)" *ngIf="canUpdateFollowUpNote(note) && form_encounterPersist.encounter_is_active">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    {{appTranslation.getText("general", "edit")}}
                    </button>
                    <button mat-menu-item (click)="deleteFollowUpNote(note)" *ngIf="canUpdateFollowUpNote(note) && form_encounterPersist.encounter_is_active">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    {{appTranslation.getText("general", "delete")}}
                    </button>
                </mat-menu>
                </span>
                <div class="tc-notice-text">{{note.note}}</div>
            </div>
            </div>
        </div>

        <div class="tc-table-container tc-full-stretch tc-hidden" matSort>


            <mat-toolbar *ngIf="notesSelected.length >0 ">

            </mat-toolbar>

            <mat-table [dataSource]="follow_up_notesData">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                    (change)=" tcUtilsArray.toggleSelectAll(follow_up_notesData,follow_up_notesSelected) "
                    [checked]=" tcUtilsArray.isAllSelected(follow_up_notesData,follow_up_notesSelected)"
                    [indeterminate]="follow_up_notesSelected.length <follow_up_notesData.length && follow_up_notesSelected.length>0">
                </mat-checkbox>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? tcUtilsArray.toggleSelection(follow_up_notesSelected,row) : null"
                    [checked]="tcUtilsArray.contains(follow_up_notesSelected,row)">
                </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="note">
                <mat-header-cell *matHeaderCellDef mat-sort-header>note
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.note}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.date}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action">
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                    <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
                    <button mat-menu-item (click)="archiveFollowUpNote(element)">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>Archive </span>
                    </button>
                </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="follow_up_notesDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: follow_up_notesDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(follow_up_notesSelected,row)}">
            </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="follow_up_notesTotalCount"
            [ngStyle]="{display: follow_up_notesTotalCount > 0? '':'none'}">
            </mat-paginator>
        </div>
        </div>
        <mat-action-row>
        <button mat-button (click)="addFollow_Up_Note()" *ngIf="form_encounterPersist.encounter_is_active">
            {{appTranslation.getText('general', 'add')}}
        </button>
        </mat-action-row>

    </mat-expansion-panel>
    </mat-accordion>
</div>