
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     final_assessment  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchFinalAssessments();" *ngIf="tcAuthorization.canRead('final_assessments')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addFinalAssessment();" *ngIf="tcAuthorization.canCreate('final_assessments') && form_encounterPersist.encounter_is_active" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="finalAssessmentSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="finalAssessmentPersist.finalAssessmentSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="finalAssessmentSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="finalAssessmentIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let finalAssessment of finalAssessmentsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('final_assessments') || tcAuthorization.canDelete('final_assessments')) && form_encounterPersist.encounter_is_active">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editFinalAssessment(finalAssessment)" *ngIf="tcAuthorization.canUpdate('final_assessments')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteFinalAssessment(finalAssessment)" *ngIf="tcAuthorization.canDelete('final_assessments')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>impression_preliminary_diagnosis </span>
            {{finalAssessment.impression_preliminary_diagnosis }}
          </div><div class="tc-detail-field">
            <span>plan</span>
            {{finalAssessment.plan}}
          </div><div class="tc-detail-field">
            <span>pertinent_investigation_finding</span>
            {{finalAssessment.pertinent_investigation_finding}}
          </div><div class="tc-detail-field">
            <span>final_diagnosis </span>
            {{finalAssessment.final_diagnosis }}
          </div><div class="tc-detail-field">
            <span>treatment</span>
            {{finalAssessment.treatment}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchFinalAssessments.length >0 || finalAssessmentSelectAll">
        <button mat-button (click)="downloadFinalAssessments()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{finalAssessmentSelectAll ? finalAssessmentsTotalCount : finalAssessmentSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="finalAssessmentsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(finalAssessmentsData,finalAssessmentSelection) "
              [checked]=" tcUtilsArray.isAllSelected(finalAssessmentsData,finalAssessmentSelection) || finalAssessmentSelectAll"
              [indeterminate]="finalAssessmentSelection.length <finalAssessmentsData.length && finalAssessmentSelection.length>0"
              [disabled]="finalAssessmentSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="finalAssessmentSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #finalAssessmentSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="finalAssessmentSelectAll=true;" [disabled]="finalAssessmentSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="finalAssessmentSelectAll = false;" [disabled]="!finalAssessmentSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(finalAssessmentSelection,row) : null"
              [checked]="tcUtilsArray.contains(finalAssessmentSelection,row) || finalAssessmentSelectAll" [disabled]="finalAssessmentSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="impression_preliminary_diagnosis ">
          <mat-header-cell *matHeaderCellDef mat-sort-header>impression_preliminary_diagnosis 
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.impression_preliminary_diagnosis }}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="plan">
          <mat-header-cell *matHeaderCellDef mat-sort-header>plan
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.plan}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="pertinent_investigation_finding">
          <mat-header-cell *matHeaderCellDef mat-sort-header>pertinent_investigation_finding
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pertinent_investigation_finding}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="final_diagnosis ">
          <mat-header-cell *matHeaderCellDef mat-sort-header>final_diagnosis 
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.final_diagnosis }}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="treatment">
          <mat-header-cell *matHeaderCellDef mat-sort-header>treatment
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.treatment}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="finalAssessmentNavigator.finalAssessmentUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('final_assessments') || tcAuthorization.canDelete('final_assessments'))  && form_encounterPersist.encounter_is_active">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editFinalAssessment(element)" *ngIf="tcAuthorization.canUpdate('final_assessments') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteFinalAssessment(element)" *ngIf="tcAuthorization.canDelete('final_assessments')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="finalAssessmentsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: finalAssessmentsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(finalAssessmentSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="finalAssessmentsTotalCount"
        [ngStyle]="{display: finalAssessmentsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>