.line-chart{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.align{
    width: max-content;
    margin: 16px auto;
}

.align p{
    text-align: center;
    font-weight: bold;
}