<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon>
    Intrapartum care
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchIntrapartumCares();" *ngIf="tcAuthorization.canRead('intrapartum_cares')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addIntrapartumCare();" *ngIf="tcAuthorization.canCreate('intrapartum_cares')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <mat-checkbox [(ngModel)]="showIntrapartumCares" *ngIf="tcAuthorization.canRead('intrapartum_cares')">
    <p>
      Show intrapartum care chart
    </p>
  </mat-checkbox>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field *ngIf="!showIntrapartumCares">
    <input matInput [formControl]="intrapartumCareSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="intrapartumCarePersist.intrapartumCareSearchText" matSuffix mat-icon-button
      aria-label="Clear" (click)="intrapartumCareSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="intrapartumCareIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="showIntrapartumCares" class="line-chart">
    <div class="align">
      <p>Fatal heartbeat</p>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [yScaleMin]="80" [yScaleMax]="200" [yAxisTicks]="yAxisTicksfatal" [timeline]="timeline" [results]="multifatal">
      </ngx-charts-line-chart>
      </div>
      <div class="align">
      <p>Cervical Delation(cm)</p>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [yScaleMin]="0" [yScaleMax]="10"  [yAxisTicks]="yAxisTicksCervix" [timeline]="timeline" [results]="multicervical">
      </ngx-charts-line-chart>
    </div>
    <div class="align">
      <p>contractions per 10 min</p>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [yScaleMin]="1" [yScaleMax]="5" [yAxisTicks]="yAxisTicksContraction" [timeline]="timeline" [results]="multicontraction">
      </ngx-charts-line-chart>
      </div>
      <div class="align">
      <p>Blood pressure</p>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [yScaleMin]="60" [yScaleMax]="180" [yAxisTicks]="yAxisTicksBp" [timeline]="timeline" [results]="multibp">
      </ngx-charts-line-chart>
    </div>
    <div class="align">
      <p>Temprature</p>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multitemp">
      </ngx-charts-line-chart>
    </div>
  </div>
  <div [ngStyle]="{display:showIntrapartumCares?'none':''}">
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let intrapartumCare of intrapartumCaresData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <a [routerLink]="intrapartumCareNavigator.intrapartumCareUrl(intrapartumCare.id)" class="tc-link">
              detail
            </a>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('intrapartum_cares') || tcAuthorization.canDelete('intrapartum_cares')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

              <button mat-menu-item (click)="editIntrapartumCare(intrapartumCare)"
                *ngIf="tcAuthorization.canUpdate('intrapartum_cares')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteIntrapartumCare(intrapartumCare)"
                *ngIf="tcAuthorization.canDelete('intrapartum_cares')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="tc-detail-field">
            <span>Date and time of admission</span>
            {{tcUtilsDate.toDate(intrapartumCare.date_and_time_of_admission )|date:'EE MMM, d/y h:mm a'
            }}
          </div>
          <div class="tc-detail-field">
            <span>Rupture of membranes</span>
            {{intrapartumCare.rupture_of_membranes}}
          </div>
          <div class="tc-detail-field">
            <span>Fatal heartbeat</span>
            {{intrapartumCare.fatal_heartbeat}}
          </div>
          <div class="tc-detail-field">
            <span>Amniotic fluid</span>
            {{intrapartumCare.amniotic_fluid}}
          </div>
          <div class="tc-detail-field">
            <span>Moulding</span>
            {{intrapartumCare.moulding}}
          </div>
          <div class="tc-detail-field">
            <span>Cervical dilation(cm)</span>
            {{intrapartumCare.cervical_dilation}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

      <mat-toolbar *ngIf="searchIntrapartumCares.length >0 || intrapartumCareSelectAll">
        <button mat-button (click)="downloadIntrapartumCares()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{intrapartumCareSelectAll ? intrapartumCaresTotalCount : intrapartumCareSelection.length}}
          {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar>
      <mat-table [dataSource]="intrapartumCaresData" matSort
        class="tc-hide-on-mobile {{showIntrapartumCares?'tc-hide-on-desktop':''}}">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(intrapartumCaresData,intrapartumCareSelection) "
              [checked]=" tcUtilsArray.isAllSelected(intrapartumCaresData,intrapartumCareSelection) || intrapartumCareSelectAll"
              [indeterminate]="intrapartumCareSelection.length <intrapartumCaresData.length && intrapartumCareSelection.length>0"
              [disabled]="intrapartumCareSelectAll">
            </mat-checkbox>

            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="intrapartumCareSelectAllMenu">
              </mat-icon>
            </button>
            <mat-menu #intrapartumCareSelectAllMenu="matMenu">

              <button mat-menu-item (click)="intrapartumCareSelectAll=true;" [disabled]="intrapartumCareSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="intrapartumCareSelectAll = false;" [disabled]="!intrapartumCareSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>

          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(intrapartumCareSelection,row) : null"
              [checked]="tcUtilsArray.contains(intrapartumCareSelection,row) || intrapartumCareSelectAll"
              [disabled]="intrapartumCareSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date_and_time_of_admission">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date and time of admission
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><a [routerLink]="intrapartumCareNavigator.intrapartumCareUrl(element.id)" class="tc-link">{{tcUtilsDate.toDate(element.date_and_time_of_admission ) |
            date:'EE MMM, d/y h:mm a'}}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="rupture_of_membranes">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rupture of membranes
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rupture_of_membranes}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rupture_of_membranes_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rupture of membranes time
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rupture_of_membranes_time}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="fatal_heartbeat">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Fatal heartbeat
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.fatal_heartbeat}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="amniotic_fluid">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Amniotic fluid
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.amniotic_fluid}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="moulding">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Moulding
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.moulding}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cervical_dilation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cervical dilation(cm)
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.cervical_dilation}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="contractions_per_10_min">
          <mat-header-cell *matHeaderCellDef mat-sort-header>contractions_per_10_min
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.contractions_per_10_min}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="oxytocin_U_L">
          <mat-header-cell *matHeaderCellDef mat-sort-header>oxytocin_u_l
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.oxytocin_u_l}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="oxytocin_drops_min">
          <mat-header-cell *matHeaderCellDef mat-sort-header>oxytocin_drops_min
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.oxytocin_drops_min}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="drugs_and_fluids_given">
          <mat-header-cell *matHeaderCellDef mat-sort-header>drugs_and_fluids_given
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.drugs_and_fluids_given}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pulse">
          <mat-header-cell *matHeaderCellDef mat-sort-header>pulse
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pulse}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="bp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Blood pressure
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bp}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="temprature">
          <mat-header-cell *matHeaderCellDef mat-sort-header>temprature
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.temprature}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="urine_protein">
          <mat-header-cell *matHeaderCellDef mat-sort-header>urine_protein
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.urine_protein}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="urine_acetone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>urine_acetone
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.urine_acetone}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="urine_volume">
          <mat-header-cell *matHeaderCellDef mat-sort-header>urine_volume
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.urine_volume}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="encounter_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="intrapartumCareNavigator.intrapartumCareUrl(element.id)" class="tc-link">
              <!--{{element.id}}-->
              detail
            </a>

          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('intrapartum_cares') || tcAuthorization.canDelete('intrapartum_cares')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
              <button mat-menu-item (click)="editIntrapartumCare(element)"
                *ngIf="tcAuthorization.canUpdate('intrapartum_cares') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteIntrapartumCare(element)"
                *ngIf="tcAuthorization.canDelete('intrapartum_cares')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="showIntrapartumCares?[]:intrapartumCaresDisplayedColumns; sticky: true; ">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: intrapartumCaresDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(intrapartumCareSelection,row)}"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="intrapartumCaresTotalCount"
        [ngStyle]="{display: intrapartumCaresTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
</div>