
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
   OPD Consultation </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchOpd_observations();" *ngIf="tcAuthorization.canRead('opd_observations')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="opdObservationSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="opdObservationPersist.opdObservationSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
      (click)="opdObservationSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="opdObservationPersist.opdObservationSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchOpd_observations()">
      <mat-option *ngFor="let etype of opdObservationFilterColumn" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder='Observation Date'
      [formControl]="date"
      [matDatepicker]="date_picker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="date.value != ''" matSuffix mat-icon-button aria-label="Clear"
    (click)="date.setValue('')">
    <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("patient", "encounter_status")}}'
                [(value)]="opdObservationPersist.opdObservationSearchHistory.encounter_status"
                (valueChange)="searchOpd_observations()">
      <mat-option *ngFor="let status of form_encounterPersist.encounter_status" [value]="status.id">
        {{ appTranslation.getText("patient", status.name) }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='opdObservationPersist.opdObservationSearchHistory.encounter_status' matSuffix mat-icon-button
            aria-label="Clear"
            (click)="opdObservationPersist.opdObservationSearchHistory.encounter_status = null;searchOpd_observations();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("patient", "encounter_status")}}'
                [(value)]="opdObservationPersist.service_type"
                (valueChange)="searchOpd_observations()">
      <mat-option *ngFor="let status of appointmentPersist.serviceType" [value]="status.id">
              {{status.name }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='opdObservationPersist.service_type' matSuffix mat-icon-button
            aria-label="Clear"
            (click)="opdObservationPersist.service_type = null;searchOpd_observations();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->

  <div class="tc-loading" *ngIf="opdObservationIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let opd_observation of opdObservationsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('opd_observations') || tcAuthorization.canDelete('opd_observations')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <!-- <button mat-menu-item (click)="editOpdObservation(opd_observation)" *ngIf="tcAuthorization.canUpdate('opd_observations')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteOpdObservation(opd_observation)" *ngIf="tcAuthorization.canDelete('opd_observations')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button> -->
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>encounter_id</span>
          {{opd_observation.encounter_id}}
        </div><div class="tc-detail-field">
          <span>patient_id</span>
          {{opd_observation.patient_id}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchOpd_observations.length >0 || opdObservationSelectAll">
      <!-- <button mat-button (click)="downloadOpdObservations()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button> -->
      <div class="tc-flex-fill"></div>
      <span>{{opdObservationSelectAll ? opdObservationsTotalCount : opdObservationSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="opdObservationsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(opdObservationsData,opdObservationSelection) "
            [checked]=" tcUtilsArray.isAllSelected(opdObservationsData,opdObservationSelection) || opdObservationSelectAll"
            [indeterminate]="opdObservationSelection.length <opdObservationsData.length && opdObservationSelection.length>0"
            [disabled]="opdObservationSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="opdObservationSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #opdObservationSelectAllMenu="matMenu">

            <button mat-menu-item (click)="opdObservationSelectAll=true;" [disabled]="opdObservationSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="opdObservationSelectAll = false;" [disabled]="!opdObservationSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(opdObservationSelection,row) : null"
            [checked]="tcUtilsArray.contains(opdObservationSelection,row) || opdObservationSelectAll" [disabled]="opdObservationSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="p.pid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>MRN
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><a [routerLink]="opdObservationNavigator.opd_observationUrl(element.id)" class="tc-link">{{element.patient_name}}</a></mat-cell>
        </ng-container>

          <ng-container matColumnDef="schedule_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule Type
            </mat-header-cell>
          <mat-cell *matCellDef="let element">{{
          appTranslation.getTextByIdentifier(
          tcUtilsArray.getEnum(
          patientPersist.schedule_type,
          element.schedule_type
          )?.name
          )
          }}</mat-cell>
          </ng-container>

        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef mat-sort-header>department
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.physician_name}}-{{element.department}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>observation date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date && element.date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="opdObservationNavigator.opd_observationUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('opd_observations') || tcAuthorization.canDelete('opd_observations')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="additionalService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Services
            </button>
            <button mat-menu-item (click)="procedureOrder(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Add Procedure
            </button>
            <!-- <button mat-menu-item (click)="oxygenService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Oxygen Services
            </button> -->
            <!-- <button mat-menu-item (click)="ambulanceService(element)">
              <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
              Ambulance Services
            </button> -->
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="opdObservationsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: opdObservationsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(opdObservationSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="opdObservationsTotalCount"
      [ngStyle]="{display: opdObservationsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
