<mat-toolbar class="tc-toolbar-secondary">
    <h1 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
    {{appTranslation.getText('notes', 'notes')}}
    </h1>
    <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)="searchNotes()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
    <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    </p> -->

    <button mat-button (click)=" addNote(); " *ngIf="tcAuthorization.canCreate('patient_notes')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-padding">
    <mat-accordion>

    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{appTranslation.getText('notes', 'notes')}}
        </mat-panel-title>
        </mat-expansion-panel-header>


        <div [ngStyle]="{display: notesLoading? 'none':''}">

        <div *ngIf="!notesLoading">
            <div *ngFor="let note of notesData">
            <div class="tc-padding">
                <span class="tc-date tc-text-muted">{{tcUtilsDate.toDate(note.date)
               |date:'MMM dd, yyyy. h:mm a'}}
                <span>
                    |
                    {{getUser(note.provider_id)}} </span>
                <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v" class="tc-icon-button" style="margin-left:5px;"
                    [matMenuTriggerFor]="noteContextMenu" *ngIf="canUpdateNote(note)">
                </mat-icon>
                <mat-menu #noteContextMenu="matMenu">
                    <button mat-menu-item (click)="editNote(note)" *ngIf="canUpdateNote(note)">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    Edit
                    </button>
                    <button mat-menu-item (click)="deleteNote(note)" *ngIf="canUpdateNote(note)">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    Archive
                    </button>
                </mat-menu>
                </span>
                <div class="tc-notice-text">{{note.note }}</div>
            </div>
            </div>
        </div>

        <mat-form-field style="display:none;">
            <input matInput [formControl]="notesSearchTextBox" placeholder="Filter">
            <button mat-button *ngIf="notesSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="notesSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <div class="tc-table-container tc-full-stretch tc-hidden" matSort>


            <mat-toolbar *ngIf="notesSelected.length >0 ">

            </mat-toolbar>

            <mat-table [dataSource]="notesData">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                    (change)=" tcUtilsArray.toggleSelectAll(notesData,notesSelected) "
                    [checked]=" tcUtilsArray.isAllSelected(notesData,notesSelected)"
                    [indeterminate]="notesSelected.length <notesData.length && notesSelected.length>0">
                </mat-checkbox>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? tcUtilsArray.toggleSelection(notesSelected,row) : null"
                    [checked]="tcUtilsArray.contains(notesSelected,row)">
                </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="comment_text">
                <mat-header-cell *matHeaderCellDef mat-sort-header>note
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.note}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="comment_time">
                <mat-header-cell *matHeaderCellDef mat-sort-header>comment_time
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.date|date:'MMM dd, yyyy. h:mm a'}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action">
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                    <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
                    <button mat-menu-item (click)="deleteNote(element)">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>Archive </span>
                    </button>
                </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="notesDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: notesDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(notesSelected,row)}">
            </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSizeSmall" [length]="notesTotalCount"
            [ngStyle]="{display: notesTotalCount > 0? '':'none'}">
            </mat-paginator>
        </div>
        </div>
        <mat-action-row>
        <button mat-button (click)="addNote()">
            {{appTranslation.getText('general', 'add')}}
        </button>
        </mat-action-row>

    </mat-expansion-panel>
    </mat-accordion>
</div>