<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-retweet"></mat-icon>
    {{ appTranslation.getText("patient", "case_transfer") }}
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchCase_Transfers()"
    *ngIf="tcAuthorization.canRead('case_transfers')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="false"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="case_transfersSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="case_transferPersist.case_transferSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="case_transfersSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="case_transfersIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let case_transfer of case_transfersData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
         {{ case_transfer.id }}
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              (tcAuthorization.canUpdate('case_transfers') ||
              tcAuthorization.canDelete('case_transfers')) && form_encounterPersist.encounter_is_active
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="deleteCase_Transfer(case_transfer)"
              *ngIf="tcAuthorization.canDelete('case_transfers')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("patient", "patient_name ") }} </span>
          {{ case_transfer.patient_id }}
        </div>
        <div class="tc-detail-field">
          <span> {{ appTranslation.getText('general', 'from') }} {{ appTranslation.getText("patient", "doctor_name") }} </span>
          {{ case_transfer.source_provider_id }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText('general', 'to') }}  {{ appTranslation.getText("patient", "doctor_name") }}</span>
          {{ case_transfer.reciever_proider_id }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "date") }}</span>
          {{ case_transfer.date }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "remark") }}</span>
          {{ case_transfer.remark }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText('patient', 'visits') }}</span>
          {{ case_transfer.encounter }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar
      *ngIf="case_transfersSelection.length > 0 || case_transfersSelectAll"
    >
      <button mat-button (click)="downloadCase_Transfers()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
        >{{
          case_transfersSelectAll
            ? case_transfersTotalCount
            : case_transfersSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table
      [dataSource]="case_transfersData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                case_transfersData,
                case_transfersSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                case_transfersData,
                case_transfersSelection
              ) || case_transfersSelectAll
            "
            [indeterminate]="
              case_transfersSelection.length < case_transfersData.length &&
              case_transfersSelection.length > 0
            "
            [disabled]="case_transfersSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="case_transfersSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #case_transfersSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="case_transfersSelectAll = true"
              [disabled]="case_transfersSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="case_transfersSelectAll = false"
              [disabled]="!case_transfersSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(case_transfersSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(case_transfersSelection, row) ||
              case_transfersSelectAll
            "
            [disabled]="case_transfersSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText("patient", "patient_name") }}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getPatientFullName(element.patient_id)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="source_provider_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText('general', 'from') }} {{ appTranslation.getText("patient", "doctor_name") }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{getDoctorFullName(element.source_provider_id )}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="reciever_proider_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText('general', 'to') }} {{ appTranslation.getText("patient", "doctor_name") }}</mat-header-cell>
        <mat-cell *matCellDef="let element" >  {{getDoctorFullName(element.reciever_proider_id )}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "date")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate( element.date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "remark")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.remark }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="encounter">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("patient", "encounter")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.encounter }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              (tcAuthorization.canUpdate('case_transfers') ||
              tcAuthorization.canDelete('case_transfers')) && form_encounterPersist.encounter_is_active
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="deleteCase_Transfer(element)"
              *ngIf="tcAuthorization.canDelete('case_transfers')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="case_transfersDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: case_transfersDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(case_transfersSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="case_transfersTotalCount"
      [ngStyle]="{ display: case_transfersTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
