
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-file"></mat-icon>{{getDiagnosisName()}} report</h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchLabReports();" *ngIf="checkReadAcl()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="labReportSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="labReportPersist.labReportSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="labReportSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Order</mat-label>
      <input matInput disabled [(ngModel)]="labOrderDetailName"/>
      <button
        mat-icon-button
        matTooltip="Test"
        matSuffix
        color="primary"
        (click)="chooseLabOrder()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="labOrderDetailName" matSuffix mat-icon-button aria-label="Clear"
        (click)="labOrderDetailName = null; labOrderDetailId = ''; searchLabReports()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="from_date"
        [matDatepicker]="from_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="from_date.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="from_date.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="to_date"
        [matDatepicker]="to_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="to_date.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="to_date.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="searchLabReports()"
    [(ngModel)]="labReportPersist.is_panel"
    required
  >
    Panel Only
  </mat-slide-toggle>
    <div class="tc-loading" *ngIf="labReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let labReport of labReportsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="checkUpdateAcl() || checkDeleteAcl()">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
        
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{labReport.name}}
          </div><div class="tc-detail-field">
            <span>inpatient</span>
            {{labReport.inpatient}}
          </div><div class="tc-detail-field">
            <span>outpatient</span>
            {{labReport.outpatient}}
          </div><div class="tc-detail-field">
            <span>referral</span>
            {{labReport.referral}}
          </div><div class="tc-detail-field">
            <span>emergency</span>
            {{labReport.emergency}}
          </div> 
          <div class="tc-detail-field">
            <span>outside</span>
            {{labReport.outside}}
          </div> 
          <div class="tc-detail-field">
            <span>total</span>
            {{labReport.total}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchLabReports.length >0 || labReportSelectAll">
        <button mat-button (click)="downloadLabReports()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{labReportSelectAll ? labReportsTotalCount : labReportSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="labReportsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" labReportSelectAll=true; "
              [checked]=" tcUtilsArray.isAllSelected(labReportsData,labReportSelection) || labReportSelectAll"
              [indeterminate]="labReportSelection.length <labReportsData.length && labReportSelection.length>0"
              [disabled]="labReportSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="labReportSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #labReportSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="labReportSelectAll=true;" [disabled]="labReportSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="labReportSelectAll = false;" [disabled]="!labReportSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(labReportSelection,row) : null"
              [checked]="tcUtilsArray.contains(labReportSelection,row) || labReportSelectAll" [disabled]="labReportSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.name}}
          </mat-cell>
        </ng-container>
    <ng-container matColumnDef="inpatient">
          <mat-header-cell *matHeaderCellDef mat-sort-header>inpatient
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.inpatient}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="outpatient">
          <mat-header-cell *matHeaderCellDef mat-sort-header>outpatient
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.outpatient}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="referral">
          <mat-header-cell *matHeaderCellDef mat-sort-header>referral
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.referral}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="emergency">
          <mat-header-cell *matHeaderCellDef mat-sort-header>emergency
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.emergency}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="outside">
          <mat-header-cell *matHeaderCellDef mat-sort-header>outside
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.outside}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef mat-sort-header>total
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.total}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="checkUpdateAcl() || checkDeleteAcl()">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
      
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="labReportsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: labReportsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(labReportSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="labReportsTotalCount"
        [ngStyle]="{display: labReportsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>