<h1 mat-dialog-title>
  {{appTranslation.getText("telegram", "telegram")}}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="tgidentitysSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="tgidentityPersist.tgidentitySearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="tgidentitysSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="tgidentitysIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="tgidentitysData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(tgidentitysData,tgidentitysSelection) "
            [checked]=" tcUtilsArray.isAllSelected(tgidentitysData,tgidentitysSelection)"
            [indeterminate]="tgidentitysSelection.length <tgidentitysData.length && tgidentitysSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(tgidentitysSelection,row) : null"
                        [checked]="tcUtilsArray.contains(tgidentitysSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(tgidentitysSelection,row)"
                        *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="photo_url">
        <mat-header-cell *matHeaderCellDef class="tc-column-picture"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-picture">
          <img [src]="element.photo_url" style="cursor:pointer;"/>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">


        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>username</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="tc-flex-column">
            <span >{{element.first_name}} {{element.last_name}}</span>
            <span class="tc-text-muted" *ngIf="element.username != ''">@{{element.username}}</span></div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="telephone_number">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("general", "telephone")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.telephone_number}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="reg_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("general", "reg_date")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.reg_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="contactable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>contactable</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="element.contactable"></mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>state</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{tcUtilsArray.getEnum(tgidentityPersist.TelegramUserStates, element.state).name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>user</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="hasUser(element)"></mat-icon>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="tgidentitysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: tgidentitysDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(tgidentitysSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="tgidentitysTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general", "cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" tgidentitysSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general", "return_selection")}}
  </button>
</div>
