
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-medkit"></mat-icon>
      {{appTranslation.getText("patient","vaccinations")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchVaccinations();" *ngIf="tcAuthorization.canRead('vaccinations')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addVaccination();" *ngIf="tcAuthorization.canCreate('vaccinations')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="vaccinationsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="vaccinationPersist.vaccinationSearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="vaccinationsSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="tc-loading" *ngIf="vaccinationsIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let vaccination of vaccinationsData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title> 
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('vaccinations') || tcAuthorization.canDelete('vaccinations')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
  
                                                                                      <button mat-menu-item (click)="editVaccination(vaccination)" *ngIf="tcAuthorization.canUpdate('vaccinations')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteVaccination(vaccination)" *ngIf="tcAuthorization.canDelete('vaccinations')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>{{appTranslation.getText("general", "name")}}</span>
              {{vaccination.name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("patient", "duration_in_days")}}</span>
              {{vaccination.duration_in_days}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="vaccinationsSelection.length >0 || vaccinationsSelectAll">
                    <button mat-button (click)="downloadVaccinations()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{vaccinationsSelectAll ? vaccinationsTotalCount : vaccinationsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="vaccinationsData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(vaccinationsData,vaccinationsSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(vaccinationsData,vaccinationsSelection) || vaccinationsSelectAll"
                  [indeterminate]="vaccinationsSelection.length <vaccinationsData.length && vaccinationsSelection.length>0"
                  [disabled]="vaccinationsSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="vaccinationsSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #vaccinationsSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="vaccinationsSelectAll=true;"
                          [disabled]="vaccinationsSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="vaccinationsSelectAll = false;"
                          [disabled]="!vaccinationsSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(vaccinationsSelection,row) : null"
                              [checked]="tcUtilsArray.contains(vaccinationsSelection,row) || vaccinationsSelectAll"
                              [disabled]="vaccinationsSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general", "name")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="duration_in_days">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient", "duration_in_days")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.duration_in_days}}</mat-cell>
                               </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('vaccinations') || tcAuthorization.canDelete('vaccinations')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
  
                  <button mat-menu-item (click)="editVaccination(element)" *ngIf="tcAuthorization.canUpdate('vaccinations') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteVaccination(element)" *ngIf="tcAuthorization.canDelete('vaccinations')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="vaccinationsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: vaccinationsDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(vaccinationsSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="vaccinationsTotalCount"
                         [ngStyle]="{display: vaccinationsTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  