<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="purchaseDetail">
        <div class="tc-flex-row">
            <mat-form-field class="tc-full-stretch">
              <input matInput  placeholder="item name" type="text"  [(ngModel)]="purchaseDetail.item_name"  disabled required>
          </mat-form-field>
          <div class="tc-full-stretch">
             Requested Quantity: {{purchaseDetail.requested_quantity}}
          </div>
          <!-- <mat-form-field class="tc-full-stretch" >
            <mat-select
              placeholder="Unit"
              [(value)]="purchaseDetail.purchase_unit" 
              required>
              <mat-option *ngFor="let etype of persist.item_units" [value]="etype.id">
               {{etype.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>  -->
        </div>
                        <mat-form-field class="tc-full-stretch">
                          <mat-label>Supplier</mat-label>
                          <input
                            matInput
                            placeholder="Supplier"
                            type="text"
                            disabled
                            [(ngModel)]="purchaseDetail.supplier_name"
                            
                          >
                          <button
                            mat-icon-button
                            matTooltip="Supplier"
                            matSuffix
                            color="primary"
                            (click)="searchSupplier()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>  
                        

  <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="GRV number" type="text"  [(ngModel)]="purchaseDetail.crv_number">
                          </mat-form-field> 


                        <div class="tc-flex-row">    
                          <mat-form-field class="tc-equal-block input-width">
                            <input matInput  placeholder="batch_no" type="text"  [(ngModel)]="purchaseDetail.batch_no" required>
                        </mat-form-field> 
                                            
 <mat-form-field class="tc-equal-block input-width">
                            <input matInput  placeholder="quantity" type="number" (ngModelChange)="onQuantityChange($event)"  [(ngModel)]="purchaseDetail.quantity" required>
                        </mat-form-field>
                        
                                         
 <mat-form-field class="tc-equal-block input-width">
                            <input matInput  placeholder="total_price" [disabled]="!purchaseDetail.quantity" type="number" (ngModelChange)="onTotalPriceChange($event)" [(ngModel)]="purchaseDetail.total_price" required>
                        </mat-form-field> <mat-form-field class="tc-equal-block input-width">
                          <input matInput disabled placeholder="unit price" type="number" (ngModelChange)="onUnitPriceChange($event)" [(ngModel)]="purchaseDetail.unit_price" required>
                      </mat-form-field>  
                        <mat-form-field class="tc-equal-block input-width">
                          <input 
                            matInput
                            placeholder=
                              'Expire Date'
                              [min] = "min_date"
                            [formControl]="expire_date"
                            [matDatepicker]="date_of_schedule"
                          />
                      
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="date_of_schedule"
                          ></mat-datepicker-toggle>

                          <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
                        </mat-form-field>
  
                      </div>
                        <!-- <mat-form-field class="tc-full-stretch">
                          <input matInput  placeholder="Strength" type="number"  [(ngModel)]="purchaseDetail.strength" required>
                      </mat-form-field>
                      <mat-form-field class="tc-full-stretch" >
                        <mat-select
                          placeholder="Form"
                          [(value)]="purchaseDetail.form"
                          required>
                          <mat-option *ngFor="let etype of requestPersist.units" [value]="etype.id">
                           {{appTranslation.getTextByIdentifier(etype.name)}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field> -->
                       </div>

              <div  *ngIf = "purchaseDetailList.length" >

                <mat-table [dataSource]="purchaseDetailList" matSort class="mat-elevation-z2" style="margin-bottom: 10px" >
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                    <mat-cell *matCellDef="let element" class="tc-column-action">
              
                      <button mat-menu-item (click)="removeFromList(element)">
                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                      </button>
              
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                    <mat-cell *matCellDef="let element" class="tc-column-action">
              
                      <button mat-menu-item (click)="editFromList(element)">
                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                      </button>
              
                    </mat-cell>
                  </ng-container>
            <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="batch_no">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>batch no
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
                </ng-container>
            <ng-container matColumnDef="crv_number">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>crv_number
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.crv_number}}</mat-cell>
                </ng-container>

            <ng-container matColumnDef="item_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Item name
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.item_name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="total_price">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>total_price
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="expire_date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>expire_date
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="purchasesDisplayedColumns; sticky: true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: purchasesDisplayedColumns;"
                ></mat-row>
              </mat-table>
              </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="AddToList()" *ngIf="(isNew()|| isWizard())" [disabled]="!canSubmit()" cdkFocusInitial>
    add to list
  </button>
  <button mat-button (click)="next()" *ngIf="isWizard()" [disabled]="this.idMode.id.length < 2" cdkFocusInitial>
    Next
  </button>
  <button mat-button (click)="(isNew()|| isWizard())? onAdd(): onUpdate()"
          [disabled]="(isNew()|| isWizard())? !purchaseDetailList.length: !canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
