
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-wrench"></mat-icon>
     procedure settings  </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchProcedureTemplates();" *ngIf="tcAuthorization.canRead('procedure_templates')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addProcedureTemplate();" *ngIf="tcAuthorization.canCreate('procedure_templates')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="procedureTemplateSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="procedureTemplatePersist.procedureTemplateSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="procedureTemplateSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <!-- <mat-form-field>
        <input
            matInput
            placeholder="Tests"
            type="text"
            [(ngModel)]="orderName"
            disabled
            required
        >

        <button
            mat-icon-button
            matTooltip="Tests"
            matSuffix
            color="primary"
            (click)="searchOrder()"
        >
            <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf='procedureTemplatePersist.orderId' matSuffix mat-icon-button
          aria-label="Clear"
          (click)="procedureTemplatePersist.orderId = null;searchProcedureTemplates();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
        </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Status" [(value)]="procedureTemplatePersist.status" required (valueChange)="searchProcedureTemplates()">
          <mat-option *ngFor="let etype of physicalExaminationPersist.PhysicalExaminationState" [value]="etype.id">
            {{etype.name}}
          </mat-option>
        </mat-select>
        <button mat-button *ngIf='procedureTemplatePersist.status' matSuffix mat-icon-button
          aria-label="Clear"
          (click)="procedureTemplatePersist.status = null;searchProcedureTemplates();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
  </button>
      </mat-form-field> -->
    <div class="tc-loading" *ngIf="procedureTemplateIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let procedureTemplate of procedureTemplatesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('procedure_templates') || tcAuthorization.canDelete('procedure_templates')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

              <button mat-menu-item (click)="editProcedureTemplate(procedureTemplate)" *ngIf="tcAuthorization.canUpdate('procedure_templates')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteProcedureTemplate(procedureTemplate)" *ngIf="tcAuthorization.canDelete('procedure_templates')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>order_id</span>
            {{procedureTemplate.order_name}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{tcUtilsArray.getEnum(physicalExaminationPersist.PhysicalExaminationState, procedureTemplate.status)?.name}}
          </div><div class="tc-detail-field">
            <span>value</span>
            {{procedureTemplate.value}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

      <mat-toolbar *ngIf="searchProcedureTemplates.length >0 || procedureTemplateSelectAll">
        <button mat-button (click)="downloadProcedureTemplates()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{procedureTemplateSelectAll ? procedureTemplatesTotalCount : procedureTemplateSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="procedureTemplatesData" matSort class="tc-hide-on-mobile">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(procedureTemplatesData,procedureTemplateSelection) "
              [checked]=" tcUtilsArray.isAllSelected(procedureTemplatesData,procedureTemplateSelection) || procedureTemplateSelectAll"
              [indeterminate]="procedureTemplateSelection.length <procedureTemplatesData.length && procedureTemplateSelection.length>0"
              [disabled]="procedureTemplateSelectAll">
            </mat-checkbox>

            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="procedureTemplateSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #procedureTemplateSelectAllMenu="matMenu">

              <button mat-menu-item (click)="procedureTemplateSelectAll=true;" [disabled]="procedureTemplateSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="procedureTemplateSelectAll = false;" [disabled]="!procedureTemplateSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>

          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(procedureTemplateSelection,row) : null"
              [checked]="tcUtilsArray.contains(procedureTemplateSelection,row) || procedureTemplateSelectAll" [disabled]="procedureTemplateSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="order_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>order
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.order_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(physicalExaminationPersist.PhysicalExaminationState, element.status)?.name}}
        </mat-cell>
        </ng-container>
    <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef mat-sort-header>value
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="template_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Template Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><a [routerLink]="procedureTemplateNavigator.procedureTemplateUrl(element.id)" class="tc-link">{{element.template_name}}</a></mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="procedureTemplateNavigator.procedureTemplateUrl(element.id)" class="tc-link">{{element.id}}</a>

          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('procedure_templates') || tcAuthorization.canDelete('procedure_templates')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editProcedureTemplate(element)" *ngIf="tcAuthorization.canUpdate('procedure_templates') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteProcedureTemplate(element)" *ngIf="tcAuthorization.canDelete('procedure_templates')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="procedureTemplatesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: procedureTemplatesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedureTemplateSelection,row)}"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="procedureTemplatesTotalCount"
        [ngStyle]="{display: procedureTemplatesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
