<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-ban"></mat-icon>
    {{appTranslation.getText("schedule", "cancelled_appointment")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchCancelled_Appointments();"
    *ngIf="tcAuthorization.canRead('cancelled_appointments')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>

</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="cancelled_appointmentsSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="cancelled_appointmentPersist.cancelled_appointmentSearchText" matSuffix mat-icon-button
      aria-label="Clear" (click)="cancelled_appointmentsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="cancelled_appointmentsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let cancelled_appointment of cancelled_appointmentsData" class="tc-card">
      <mat-card-header>
        <!-- <mat-card-title>
           <a
            [routerLink]="cancelled_appointmentNavigator.cancelled_appointmentUrl(cancelled_appointment.id)"
            class="tc-link">{{cancelled_appointment.id}}</a>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('cancelled_appointments') || tcAuthorization.canDelete('cancelled_appointments')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editCancelled_Appointment(cancelled_appointment)"
              *ngIf="tcAuthorization.canUpdate('cancelled_appointments')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteCancelled_Appointment(cancelled_appointment)"
              *ngIf="tcAuthorization.canDelete('cancelled_appointments')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title> -->
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('employee','doctor')}}</span>
          {{cancelled_appointment.doc_name}}
        </div>
        <div class="tc-detail-field">
          <span>availability_id</span>
          {{cancelled_appointment.availability_id}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','start_date')}}</span>
          {{tcUtilsDate.toDate(cancelled_appointment.cancelled_start_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','end_date')}}</span>
          {{tcUtilsDate.toDate(cancelled_appointment.cancelled_end_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('schedule','day_of_the_week')}}</span>
          {{cancelled_appointment.day_of_the_week}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('schedule','day_of_the_month')}}</span>
          {{cancelled_appointment.day_of_the_month}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('schedule','repetition')}}</span>
          {{cancelled_appointment.repetition}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','reg_date')}}</span>
          {{tcUtilsDate.toDate(cancelled_appointment.reg_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('schedule','no_of_patients')}}</span>
          {{cancelled_appointment.no_of_patient}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','reason')}}</span>
          {{cancelled_appointment.reason}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="cancelled_appointmentsSelection.length >0 || cancelled_appointmentsSelectAll">
      <button mat-button (click)="downloadCancelled_Appointments()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{cancelled_appointmentsSelectAll ? cancelled_appointmentsTotalCount :
        cancelled_appointmentsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="cancelled_appointmentsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(cancelled_appointmentsData,cancelled_appointmentsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(cancelled_appointmentsData,cancelled_appointmentsSelection) || cancelled_appointmentsSelectAll"
            [indeterminate]="cancelled_appointmentsSelection.length <cancelled_appointmentsData.length && cancelled_appointmentsSelection.length>0"
            [disabled]="cancelled_appointmentsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="cancelled_appointmentsSelectAllMenu">
            </mat-icon>
          </button>
          <mat-menu #cancelled_appointmentsSelectAllMenu="matMenu">


            <button mat-menu-item (click)="cancelled_appointmentsSelectAll=true;"
              [disabled]="cancelled_appointmentsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="cancelled_appointmentsSelectAll = false;"
              [disabled]="!cancelled_appointmentsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(cancelled_appointmentsSelection,row) : null"
            [checked]="tcUtilsArray.contains(cancelled_appointmentsSelection,row) || cancelled_appointmentsSelectAll"
            [disabled]="cancelled_appointmentsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="cancelled_appointmentNavigator.cancelled_appointmentUrl(element.id)"
            class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="doctor_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('employee','doctor')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doc_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="availability_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>availability_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.availability_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="cancelled_start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','start_date')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate( element.cancelled_start_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="cancelled_end_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','end_date')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate( element.cancelled_end_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="day_of_the_week">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','day_of_the_week')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.day_of_the_week}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="day_of_the_month">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','day_of_the_month')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.day_of_the_month}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="repetition">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','repetition')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.repetition}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="reg_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','reg_date')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.reg_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="no_of_patient">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','no_of_patients')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.no_of_patient}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','reason')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reason}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('cancelled_appointments') || tcAuthorization.canDelete('cancelled_appointments')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editCancelled_Appointment(element)"
              *ngIf="tcAuthorization.canUpdate('cancelled_appointments') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteCancelled_Appointment(element)"
              *ngIf="tcAuthorization.canDelete('cancelled_appointments')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="cancelled_appointmentsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: cancelled_appointmentsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(cancelled_appointmentsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="cancelled_appointmentsTotalCount"
      [ngStyle]="{display: cancelled_appointmentsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>