<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="companyCreditServiceDetail">
    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='Service For'
                  [(value)]="companyCreditServiceDetail.credit_service_for">
        <mat-option *ngFor="let status of persist.CreditServiceFor" [value]="status.id">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="Fee Type"
                        [(value)]="service_for" multiple="true">
                        <div style="display: flex; padding: 0 16px; height:3em; line-height: 3em;">
                        <mat-checkbox style="margin-right: 8px;" color="primary" (click)="$event.stopPropagation()"
              (change)="handleChange($event)" [checked]="isAllSelected()">
            </mat-checkbox><span class="mat-option-text">All</span> </div>
              <mat-option *ngFor="let etype of feePersist.fee_type" [value]="etype.id" >
                {{ appTranslation.getTextByIdentifier(etype.name) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="tc-full-stretch">
            <input matInput  placeholder="discount percent" type="number" min="0" max="100"  [(ngModel)]="companyCreditServiceDetail.discount_percent" required>
        </mat-form-field>
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="service percent" type="number" min="0" max="100"  [(ngModel)]="companyCreditServiceDetail.service_percent" required>
                          </mat-form-field>  </div>
                          <div *ngIf="companyCreditServicesData.length > 0 && isNew()">
                    
                            <mat-table [dataSource]="companyCreditServicesData" matSort class="mat-elevation-z2" style="margin-bottom: 10px">
                              <h3 *ngIf="isNew()">Company Credit Services</h3>
                              <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                                <mat-cell *matCellDef="let element" class="tc-column-action">
                    
                                  <button mat-menu-item (click)="removeCompanyCreditServiceFromList(element)">
                                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                    <span>{{appTranslation.getText("general", "delete")}} </span>
                                  </button>
                    
                                </mat-cell>
                              </ng-container>
                    
                    
                              <ng-container matColumnDef="service_for">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>service for
                                </mat-header-cell>
                                <mat-cell
                                  *matCellDef="let element">{{tcUtilsArray.getEnum(persist.CreditServiceFor, element.credit_service_for)?.name}}</mat-cell>
                              </ng-container>
                    
                              <ng-container matColumnDef="service_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>service type
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(feePersist.fee_type, element.service_type)?.name)}}
                                </mat-cell>
                              </ng-container>
                    
                    
                              <ng-container matColumnDef="discount_percent">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>discount percent
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  {{element.discount_percent}}
                                </mat-cell>
                              </ng-container>
                    
                              <ng-container matColumnDef="service_percent">
                                <mat-header-cell *matHeaderCellDef
                                                 mat-sort-header>service percent</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.service_percent}}</mat-cell>
                              </ng-container>
                    
                    
                              <mat-header-row *matHeaderRowDef="companyCreditServicesDisplayedColumns; sticky: true; "></mat-header-row>
                              <mat-row *matRowDef="let row; columns: companyCreditServicesDisplayedColumns;"></mat-row>
                    
                            </mat-table>
                          </div>
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="addToList()" *ngIf="isNew()" [disabled]="!canSubmit()">
      {{appTranslation.getText("inventory", "add_to_list")}}
    </button>
    <button mat-button (click)="isNew()? saveList(): onUpdate()"
            [disabled]="isNew() ? companyCreditServicesData.length == 0 : !canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
    <button mat-button (click)="onContinue()" *ngIf="isNew()" [disabled]="companyCreditServicesData.length == 0">
      {{appTranslation.getText('general', 'next')}}
    </button>
  </div>
  