<div *ngIf="!data.encounterId">
<h1 mat-dialog-title>
    plan_of_care Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="planOfCareSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="planOfCarePersist.planOfCareSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="planOfCareSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="planOfCareIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let plan_of_care of planOfCaresData">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('plan_of_cares') || tcAuthorization.canDelete('plan_of_cares')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
<!-- 
            <button mat-menu-item (click)="editPlanOfCare(plan_of_care)" *ngIf="tcAuthorization.canUpdate('plan_of_cares')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePlanOfCare(plan_of_care)" *ngIf="tcAuthorization.canDelete('plan_of_cares')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button> -->
</mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>name</span>
          {{plan_of_care.name}}
        </div><div class="tc-detail-field">
          <span>required</span>
          {{plan_of_care.required}}
        </div><div class="tc-detail-field">
          <span>need_alert</span>
          {{plan_of_care.need_alert}}
        </div><div class="tc-detail-field">
          <span>alert_date</span>
          {{plan_of_care.alert_date}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchPlan_of_cares.length >0 || planOfCareSelectAll">
<!-- <button mat-button (click)="downloadPlanOfCares()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{planOfCareSelectAll ? planOfCaresTotalCount : planOfCareSelectAll.length}} {{appTranslation.getText("general",
        "selected")}}</span> -->
</mat-toolbar><mat-table [dataSource]="planOfCaresData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(planOfCaresData,planOfCareSelection) "
            [checked]=" tcUtilsArray.isAllSelected(planOfCaresData,planOfCareSelection) || planOfCareSelectAll"
            [indeterminate]="planOfCareSelection.length <planOfCaresData.length && planOfCareSelection.length>0"
            [disabled]="planOfCareSelectAll"
            *ngIf="!data.selectOne"
            >
          </mat-checkbox>
          <button mat-button *ngIf="planOfCareSelection.length >0 && !data.selectOne" [mat-menu-trigger-for]="planOfCareSelectAllMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{planOfCareSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="planOfCareSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>

          <mat-menu #planOfCareSelectAllMenu="matMenu">

            <button mat-menu-item (click)="planOfCareSelectAll=true;" [disabled]="planOfCareSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="planOfCareSelectAll = false;" [disabled]="!planOfCareSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(planOfCareSelection,row) : null"
            [checked]="tcUtilsArray.contains(planOfCareSelection,row) || planOfCareSelectAll" [disabled]="planOfCareSelectAll" *ngIf="!data.selectOne">
          </mat-checkbox>
          <mat-radio-button (click)="$event.stopPropagation()" (change)="$event ? markOneItem(row) : null"
              [checked]="tcUtilsArray.contains(planOfCareSelection,row)" *ngIf="data.selectOne">
            </mat-radio-button>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="required">
        <mat-header-cell *matHeaderCellDef mat-sort-header>required
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.required}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="need_alert">
        <mat-header-cell *matHeaderCellDef mat-sort-header>need_alert
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.need_alert}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="alert_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>alert_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.alert_date}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="planeOfCareNavigator.plan_of_careUrl(element.id)" class="tc-link">{{element.id}}</a>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('plan_of_cares') || tcAuthorization.canDelete('plan_of_cares')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
<!-- <button mat-menu-item (click)="editPlanOfCare(element)" *ngIf="tcAuthorization.canUpdate('plan_of_cares') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePlanOfCare(element)" *ngIf="tcAuthorization.canDelete('plan_of_cares')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button> -->
</mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="planOfCaresDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: planOfCaresDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(planOfCareSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="planOfCaresTotalCount"
      [ngStyle]="{display: planOfCaresTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]="planOfCareSelection.length == 0 "
            cdkFocusInitial>
        {{appTranslation.getText("general","return_selection")}}
    </button>
</div>
</div>
<div *ngIf="data.encounterId">
<h1 mat-dialog-title>plan_of_care Selection</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="planOfCareSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="planOfCarePersist.planOfCareSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="planOfCareSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="planOfCareIsLoading">
    <mat-spinner></mat-spinner>
  </div>
    <div style="display: flex; flex-wrap: wrap">
      <div
        class="tc-padding"
        *ngFor="let planOfCare of planOfCaresData"
        style="width: 25%; display:flex;"
      >
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="
            $event
              ? tcUtilsArray.toggleSelection(planOfCareSelection, planOfCare)
              : null
          "
          [checked]="tcUtilsArray.contains(planOfCareSelection, planOfCare)"
          [disabled]="planOfCare.is_disabled"
        >
          <p class="tc-margin-0 tc-padding-x tc-text-center">
            {{ planOfCare.name }}
          </p>
        </mat-checkbox>
      </div>
    </div>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="planOfCareSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
</div>
