<h1 mat-dialog-title>
  <mat-icon>search</mat-icon>
  Mails
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="mailsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="mailPersist.mailSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="mailsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="mailsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="mailsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(mailsData,mailsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(mailsData,mailsSelection)"
            [indeterminate]="mailsSelection.length <mailsData.length && mailsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="mailsSelection.length >0 " [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{mailsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="mailsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(mailsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(mailsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-radio-group *ngIf="selectOne">
            <mat-radio-button (click)="markOneItem(row)"></mat-radio-button>
          </mat-radio-group>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="subject">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>subject</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.subject}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="sender_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>sender_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.sender_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="sender_email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>sender_email</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.sender_email}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="recipient_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>recipient_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.recipient_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="recipient_email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>recipient_email</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.recipient_email}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="is_html">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>is_html</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.is_html}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="has_attachments">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>has_attachments</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.has_attachments}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="submission_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>submission_time</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.submission_time}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="sending_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>sending_time</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.sending_time}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="is_sent">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>is_sent</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.is_sent}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="is_failed">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>is_failed</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.is_failed}}</mat-cell>
                             </ng-container>



      <mat-header-row *matHeaderRowDef="mailsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: mailsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(mailsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="mailsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" mailsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
