
<mat-toolbar class="tc-toolbar-secondary" *ngIf="showToolBar">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-calendar-check"></mat-icon>
   {{appTranslation.getText("patient","medication_adminstration_chart")}}  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)="searchMedicationAdminstrationCharts();" *ngIf="tcAuthorization.canRead('medication_adminstration_charts')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
  matInput
  labelPosition="before"
  class="tc-form-toggle" (change)="handleToggle($event)"
  required
  [checked]="true"
>
  {{appTranslation.getText("patient", "show_current")}}
</mat-slide-toggle>
</h1>
</mat-toolbar>
<div class="tc-padding">

  <!-- <mat-form-field>
    <input matInput [formControl]="medicationAdminstrationChartSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="medicationAdminstrationChartPersist.medicationAdminstrationChartSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="medicationAdminstrationChartSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
  <mat-form-field>
    <input
      matInput
      placeholder=
        '{{appTranslation.getText("general", "date")}}'
      [formControl]="date"
      [matDatepicker]="date_value"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="date_value"
    ></mat-datepicker-toggle>
    <mat-datepicker #date_value disabled="false"></mat-datepicker>
    <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button
      aria-label="Clear" (click)="date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <span>
        <button mat-button (click)="addMedication_adminstration_chart();" *ngIf="tcAuthorization.canCreate('medication_adminstration_charts')" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      </button>

      <button mat-button (click)="searchMedicationAdminstrationCharts();" *ngIf="tcAuthorization.canRead('medication_adminstration_charts')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
  </span>
  <div class="tc-loading" *ngIf="medicationAdminstrationChartIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <!-- <div *ngIf="!prescriptionWithMedication.length" class="tc-padding">No prescription is added for this inpatient person or the person is not inpatient</div> -->
  <!-- <mat-accordion *ngFor="let prescription of prescriptionWithMedication" class="tc-padding">
    <mat-expansion-panel (afterExpand)="medicalAdministration(prescription)" [expanded]="active_prescription == prescription.id" class="border" >
      <mat-expansion-panel-header class="header">
        <mat-panel-title>
          {{prescription.name}}
        </mat-panel-title>

      </mat-expansion-panel-header> -->

      <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let medication_admistration_chart of medicationAdminstrationChartsData" class="tc-card">
          <mat-card-header>
            <mat-card-title>
              <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canUpdate('medication_admistration_charts') || tcAuthorization.canDelete('medication_admistration_charts')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editMedicationAdminstrationChart(medication_admistration_chart)" *ngIf="tcAuthorization.canUpdate('medication_admistration_charts')">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteMedicationAdminstrationChart(medication_admistration_chart)" *ngIf="tcAuthorization.canDelete('medication_admistration_charts')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
    <div class="tc-detail-field">
              <span>{{appTranslation.getText('general', 'date')}}</span>
              {{tcUtilsDate.toDate(medication_admistration_chart.date_and_time) | date:'E, MMM d/y h:mm a'}}
            </div><div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', 'given_by')}}</span>
              {{medication_admistration_chart.given_by_name}}
            </div>
            <!-- <div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', 'route')}}</span>
              {{tcUtilsArray.getById(medicationAdminstrationChartPersist.MedicationRoute,prescription.route)?.name}}
            </div><div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', "drug_dose")}}</span>
              {{prescription.dose}}
            </div> -->
            <!-- <div class="tc-detail-field">
              <span>{{appTranslation.getText('patient', "pain")}}</span>
              {{tcUtilsArray.getById(medicationAdminstrationChartPersist.PainStatus,medication_admistration_chart.pain)?.name}}
            </div>        -->
          </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">
        <mat-toolbar *ngIf="medicationAdminstrationChartSelection.length >0 || medicationAdminstrationChartSelectAll">
          <button mat-button (click)="downloadMedicationAdminstrationCharts()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
          </button>
          <div class="tc-flex-fill"></div>
          <span>{{medicationAdminstrationChartSelectAll ? medicationAdminstrationChartsTotalCount : medicationAdminstrationChartSelection.length}} {{appTranslation.getText("general",
            "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="medicationAdminstrationChartsData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(medicationAdminstrationChartsData,medicationAdminstrationChartSelection) "
                [checked]=" tcUtilsArray.isAllSelected(medicationAdminstrationChartsData,medicationAdminstrationChartSelection) || medicationAdminstrationChartSelectAll"
                [indeterminate]="medicationAdminstrationChartSelection.length <medicationAdminstrationChartsData.length && medicationAdminstrationChartSelection.length>0"
                [disabled]="medicationAdminstrationChartSelectAll">
              </mat-checkbox>

              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="medicationAdminstrationChartSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #medicationAdminstrationChartSelectAllMenu="matMenu">

                <button mat-menu-item (click)="medicationAdminstrationChartSelectAll=true;" [disabled]="medicationAdminstrationChartSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item (click)="medicationAdminstrationChartSelectAll = false;" [disabled]="!medicationAdminstrationChartSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(medicationAdminstrationChartSelection,row) : null"
                [checked]="tcUtilsArray.contains(medicationAdminstrationChartSelection,row) || medicationAdminstrationChartSelectAll" [disabled]="medicationAdminstrationChartSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general', 'date')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date_and_time) | date:'MMM d/y h:mm a'}}</mat-cell>
          </ng-container>
      <ng-container matColumnDef="given_by">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'given_by')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{user[element.given_by]?.name}}</mat-cell>
          </ng-container>
      <!-- <ng-container matColumnDef="route">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'route')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(medicationAdminstrationChartPersist.MedicationRoute,prescription.route)?.name}}
            </mat-cell>
          </ng-container> -->
        <ng-container matColumnDef="medication_adminstration">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="custom-col">Medication adminstration
            </mat-header-cell>
            <mat-cell *matCellDef="let element"  class="custom-col"><div [innerHTML]="replaceValue(element.medical_administration)"></div>
            </mat-cell>
          </ng-container>
      <!-- <ng-container matColumnDef="drug_dose">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', "drug_dose")}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{prescription.dose}}</mat-cell>
          </ng-container> -->
          <!-- <ng-container matColumnDef="pain">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', "pain")}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(medicationAdminstrationChartPersist.PainStatus,element.pain)?.name}}</mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canUpdate('medication_adminstration_charts') || tcAuthorization.canDelete('medication_adminstration_charts')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
             <button mat-menu-item (click)="editMedicationAdminstrationChart(element)" *ngIf="tcAuthorization.canUpdate('medication_adminstration_charts') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteMedicationAdminstrationChart(element)" *ngIf="tcAuthorization.canDelete('medication_adminstration_charts')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="medicationAdminstrationChartsDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: medicationAdminstrationChartsDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(medicationAdminstrationChartSelection,row)}"></mat-row>

        </mat-table>


       <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
       [pageSize]="tcUtilsArray.defaultPageSize" [length]="medicationAdminstrationChartsTotalCount"
       [ngStyle]="{display: medicationAdminstrationChartsTotalCount > 0? '':'none'}"></mat-paginator>

      </div>


    <!-- </mat-expansion-panel>
  </mat-accordion> -->
</div>
