
<mat-toolbar class="tc-toolbar-secondary" *ngIf="!implementation">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     nurse_plan_of_care  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchNurse_plan_of_cares();" *ngIf="tcAuthorization.canRead('nurse_plan_of_cares')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)="searchPlaneOfCare();" *ngIf="tcAuthorization.canCreate('nurse_plan_of_cares')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field *ngIf="!implementation">
      <input matInput [formControl]="nursePlanOfCareSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="nursePlanOfCarePersist.nursePlanOfCareSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="nursePlanOfCareSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field *ngIf="!implementation">
      <input
        matInput
        placeholder=
          '{{appTranslation.getText("general", "date")}}'
        [formControl]="date"
        [matDatepicker]="date_of_schedule"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="date_of_schedule"
      ></mat-datepicker-toggle>
      <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
      <button mat-button *ngIf="date.value !== ''" matSuffix mat-icon-button
        aria-label="Clear" (click)="date.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field *ngIf="!implementation">
      <mat-label>Nurse</mat-label>
      <input
        matInput
        placeholder="Nurse"
        type="text"
        disabled
        [(ngModel)]="nurseName"
        required
      >
      <button
        mat-icon-button
        matTooltip="Nurse"
        matSuffix
        color="primary"
        (click)="searchNurses()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="nurseName" matSuffix mat-icon-button aria-label="Clear"
    (click)="nurseName = null; nursePlanOfCarePersist.nurse_id=null; searchNurse_plan_of_cares();">
    <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
  
    <div class="tc-loading" *ngIf="nursePlanOfCareIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let nurse_plan_of_care of nursePlanOfCaresData">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('nurse_plan_of_cares') || tcAuthorization.canDelete('nurse_plan_of_cares')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editNursePlanOfCare(nurse_plan_of_care)" *ngIf="tcAuthorization.canUpdate('nurse_plan_of_cares')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteNursePlanOfCare(nurse_plan_of_care)" *ngIf="tcAuthorization.canDelete('nurse_plan_of_cares')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>plan_of_care_id</span>
            {{nurse_plan_of_care.plan_of_care_id}}
          </div><div class="tc-detail-field">
            <span>nurse_id</span>
            {{nurse_plan_of_care.nurse_id}}
          </div><div class="tc-detail-field">
            <span>date</span>
            {{nurse_plan_of_care.date}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchNurse_plan_of_cares.length >0 || nursePlanOfCareSelectAll">
        <button mat-button (click)="downloadNursePlanOfCares()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{nursePlanOfCareSelectAll ? nursePlanOfCaresTotalCount : nursePlanOfCareSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="nursePlanOfCaresData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(nursePlanOfCaresData,nursePlanOfCareSelection) "
              [checked]=" tcUtilsArray.isAllSelected(nursePlanOfCaresData,nursePlanOfCareSelection) || nursePlanOfCareSelectAll"
              [indeterminate]="nursePlanOfCareSelection.length <nursePlanOfCaresData.length && nursePlanOfCareSelection.length>0"
              [disabled]="nursePlanOfCareSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="nursePlanOfCareSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #nursePlanOfCareSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="nursePlanOfCareSelectAll=true;" [disabled]="nursePlanOfCareSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="nursePlanOfCareSelectAll = false;" [disabled]="!nursePlanOfCareSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(nursePlanOfCareSelection,row) : null"
              [checked]="tcUtilsArray.contains(nursePlanOfCareSelection,row) || nursePlanOfCareSelectAll" [disabled]="nursePlanOfCareSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="plan_of_care_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>plan_of_care_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{plan_of_care[element.plan_of_care_id]?.name}}</mat-cell>
        </ng-container> 
        
        <ng-container matColumnDef="frequency">
          <mat-header-cell *matHeaderCellDef mat-sort-header>frequency
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- {{element.frequency}} -->
            <mat-form-field>
          <input  matInput type="number" value="{{element.frequency}}" [(ngModel)]="element.frequency" [disabled]="!element.disable">

          <button  mat-icon-button
          matTooltip="edit frequency"
          matSuffix
          color="primary" 
          (click)="edit(element)"
          ><mat-icon fontSet="fa" fontIcon="fa-pen"></mat-icon></button>
          <button  mat-icon-button
          matTooltip="frequency save"
          matSuffix
          color="primary" 
          (click)="save(element)"
          ><mat-icon fontSet="fa" fontIcon="fa-floppy-disk"></mat-icon></button>
        </mat-form-field>
          </mat-cell>
        </ng-container>

    <ng-container matColumnDef="nurse_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>nurse
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{user[element.nurse_id] && user[element.nurse_id].name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date && element.date * 1000|date}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field class="tc-full-stretch" style="max-width: 200px;">
              <mat-select  placeholder="plan status" [(value)]="element.status" (selectionChange)="saveStatus(element)" [disabled]="element.status" required>
                <mat-option *ngFor="let etype of nursePlanOfCarePersist.planStatus" [value]="etype.id">
                  {{etype.name}}
                </mat-option>
              </mat-select>
              <button  mat-icon-button
                  matTooltip="edit status"
                  matSuffix
                  color="primary" 
                  (click)="editStatus(element)"
              ><mat-icon fontSet="fa" fontIcon="fa-pen"></mat-icon></button>
            </mat-form-field>
          </mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="nursePlanOfCareNavigator.nurse_plan_of_careUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('nurse_plan_of_cares') || tcAuthorization.canDelete('nurse_plan_of_cares')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editNursePlanOfCare(element)" *ngIf="tcAuthorization.canUpdate('nurse_plan_of_cares') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteNursePlanOfCare(element)" *ngIf="tcAuthorization.canDelete('nurse_plan_of_cares')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="nursePlanOfCaresDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: nursePlanOfCaresDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(nursePlanOfCareSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="nursePlanOfCaresTotalCount"
        [ngStyle]="{display: nursePlanOfCaresTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>