<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="outside_ordersDetail">

    <div class="prescription-picture"  *ngIf="!isWizard()">
      <p-avatar class="rectangle" [ngStyle]="{width: '100% !important;'}" [(image)]="prescription_pic" abel="P" shape="rectangle" size="xlarge"></p-avatar>
      <br>
      
      <button mat-button  (click)="documentUploadInput.click()"><span  >click to upload</span></button>
      <button mat-button  (click)="takePic()"><span  >open Camera</span></button>
      <input #documentUploadInput hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
      (change)="documentUpload($event)"/>

    </div>

     <mat-form-field class="tc-full-stretch"  *ngIf="!isWizard()">
                            <input matInput  placeholder="{{appTranslation.getText('patient','patient_name')}}" type="text"  [(ngModel)]="outside_ordersDetail.patient_name" required>
                        </mat-form-field>

                        <mat-form-field class="tc-full-stretch"  *ngIf="!isWizard()">
                          <span matPrefix>+251 &nbsp;</span>
                          <input matInput placeholder="{{appTranslation.getText('general','telephone')}}" type="number"
                          [(ngModel)]="outside_ordersDetail.phone_no">
                        </mat-form-field>

                        <div class="tc-flex-row tc-full-stretch">
                        <mat-form-field class="tc-equal-block"  *ngIf="!isWizard()">
                          <mat-label>{{appTranslation.getText('general','birthdate')}}</mat-label>
                          <input matInput type="number" [(ngModel)]="birthYear" (ngModelChange)="updateBirthDate()">
                        </mat-form-field>
                    
                        <mat-form-field class="tc-equal-block"  *ngIf="!isWizard()">
                          <mat-label>{{appTranslation.getText('general','birthdate')}}</mat-label>
                          <input matInput  [matDatepicker]="start_birthDate" [formControl]="birthDate">
                          <mat-datepicker-toggle matSuffix [for]="start_birthDate"></mat-datepicker-toggle>
                          <mat-datepicker #start_birthDate disabled="false"></mat-datepicker>
                        </mat-form-field>
                      </div>
                      

                         <div class="tc-full-stretch tc-flex-column  tc-gender-input"  *ngIf="!isWizard()">
                          <label id="gender-label" class="tc-text-muted">{{appTranslation.getText('general', 'gender')}}</label>
                          <mat-radio-group aria-labelledby="gender-label" [(ngModel)]="outside_ordersDetail.sex">
                            <mat-radio-button [value]="true">{{appTranslation.getText("general", "male")}}</mat-radio-button>
                            <mat-radio-button [value]="false">{{appTranslation.getText("general", "female")}}</mat-radio-button>
                          </mat-radio-group>
                    
                        </div>

                        <mat-form-field class="tc-full-stretch" *ngIf="isNew() || isWizard()">
                          <mat-select
                            placeholder="Outside Order Type"
                            [(value)]="outside_ordersDetail.outside_order_type"
                            multiple="true"
                            required>
                            <mat-option *ngFor="let etype of persist.OutsideOrderType" [value]="etype.id">
                             {{etype.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew() || isWizard()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
          {{isNew() || isWizard() ? appTranslation.getText('general','next') : appTranslation.getText('general','save') }}
  </button>
</div>
