
<ng-template #body>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="diagnosisDetail">

                        <mat-form-field class="tc-full-stretch" *ngIf="isVisible(diagnosisDetail.name)">
                          <mat-label>{{idMode.isActive ? "Nurse Diagnosis" : "Impression Preliminary Diagnosis"}}</mat-label>
                          <textarea type="text" #input
                                 aria-label="auto"
                                 matInput
                                 rows="4"
                                 (ngModelChange)="handleInput($event, input)"
                                 [(ngModel)]="diagnosisDetail.name"
                                 [matAutocomplete]="auto"
                                 [disabled]="!isActive"
                                 ></textarea>
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of icd11_diagnosis_options" [value]="appendString(option.category)">
                              {{option.category}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>

                        <!-- <mat-form-field class="tc-full-stretch">
                          <mat-select placeholder="{{appTranslation.getText('procedure', 'order')}}" [(value)]="diagnosisDetail.diagnosis_order" required>
                            <mat-option *ngFor="let etype of persist.diagnosis_order" [value]="etype.id">
                              {{appTranslation.getText("procedure", etype.name)}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->

                        <!-- <mat-form-field class="tc-full-stretch">
                          <mat-select placeholder="{{appTranslation.getText('general','certainity')}}" [(value)]="diagnosisDetail.certainity" required>
                            <mat-option *ngFor="let etype of persist.diagnosis_certainty" [value]="etype.id">
                              {{appTranslation.getText("procedure", etype.name)}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->

                        <!-- <mat-form-field class="tc-full-stretch">
                          <mat-select placeholder="{{appTranslation.getText('bed', 'status')}}" [(value)]="diagnosisDetail.status" required>
                            <mat-option *ngFor="let etype of persist.diagnosis_status" [value]="etype.id">
                              {{appTranslation.getText("bed", etype.name)}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->

                        <!-- <mat-form-field class="tc-full-stretch">
                          <mat-select placeholder="Occurance" [(ngModel)]="diagnosisDetail.occurance" [(value)]="diagnosisDetail.occurance" required>
                            <mat-option *ngFor="let etype of persist.Occurance" [value]="etype.id">
                              {{ etype.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->
                        <mat-form-field class="tc-full-stretch" *ngIf="!idMode.isActive && isVisible(diagnosisDetail.plan)">
                          <textarea
                            matInput
                            placeholder="plan"
                            type="text"
                            [(ngModel)]="diagnosisDetail.plan"
                            [disabled]="!isActive"
                          ></textarea>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch" *ngIf="!idMode.isActive && isVisible(diagnosisDetail.pertinent_investigation_finding)">
                          <textarea
                            matInput
                            placeholder="pertinent investigation finding"
                            type="text"
                            [(ngModel)]="diagnosisDetail.pertinent_investigation_finding"
                            [disabled]="!isActive"
                          ></textarea>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch" *ngIf="!idMode.isActive && isVisible(diagnosisDetail.note)">
                            <textarea matInput rows="3"  placeholder="{{appTranslation.getText('notes','note')}}" type="text"  [(ngModel)]="diagnosisDetail.note"
                            [disabled]="!isActive"
                            ></textarea>
                        </mat-form-field>
                        <div class="tc-flex-row" *ngIf="!idMode.isActive && form_encounterPersist.encounter_is_active">
                        <button style="min-width: 200px;"
                        mat-icon-button
                        matTooltip="Add labratory"
                        matSuffix
                        color="primary"
                        [disabled]="!form_encounterPersist.encounter_is_active"
                        (click)="addOrder(lab_order_type.lab)"
                      > labratory inivestigation </button>
                        <button style="min-width: 200px;"
                        mat-icon-button
                        matTooltip="Add radiology"
                        matSuffix
                        color="primary"
                        [disabled]="!form_encounterPersist.encounter_is_active"
                        (click)="addOrder(lab_order_type.imaging)"
                      > radiology inivestigation </button>
                      <button style="min-width: 200px;"
                      mat-icon-button
                      matTooltip="Add pathology"
                      matSuffix
                      color="primary"
                      [disabled]="!form_encounterPersist.encounter_is_active"
                      (click)="addOrder(lab_order_type.pathology)"
                    > pathology inivestigation </button>
                  </div>


  </div>

 </ng-template>



  <div *ngIf="dialogRef">
    <div class="tc-flex-row" >
      <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}} </h1>

      <div class="tc-flex-fill"></div>
      <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
      </div>
    </div>
    <div mat-dialog-content>
    <ng-container *ngTemplateOutlet="body">
    </ng-container>
   </div>
   </div>

   <div *ngIf="!dialogRef">
    <ng-container *ngTemplateOutlet="body">
    </ng-container>
   </div>
  <div mat-dialog-actions  *ngIf="dialogRef">
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>

