
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!purchaseIsLoading">
                  <h1 class="mat-h1 ">{{purchaseDetail.id}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == PurchaseTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = PurchaseTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav> <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="purchaseIsLoading">
                  <mat-spinner></mat-spinner>
          </div>
  
          <div [ngClass]="activeTab==PurchaseTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>
  
              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
  
                                      <div *ngIf="!purchaseIsLoading">  <p class="tc-detail-field">
<!-- item_type                           <span>  {{purchaseDetail.item_type}} </span>  -->
                                                       </p>
                          <p class="tc-detail-field">
purchase_request_id                           <span>  {{purchaseDetail.purchase_request_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
supplier_id                           <span>  {{purchaseDetail.supplier_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
quantity                           <span>  {{purchaseDetail.quantity}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
unit                           <span>  {{purchaseDetail.purchase_unit}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
crv_number                           <span>  {{purchaseDetail.crv_number}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
total_price                           <span>  {{purchaseDetail.total_price}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
purchase_date                           <span>  {{purchaseDetail.purchase_date}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
status                           <span>  {{purchaseDetail.status}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
receiver_id                           <span>  {{purchaseDetail.receiver_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
sender_id                           <span>  {{purchaseDetail.sender_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
reject_description                           <span>  {{purchaseDetail.reject_description}} </span> 
                                                       </p>
                         </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editPurchase()" *ngIf="tcAuthorization.canUpdate('purchases') ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>
  
                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>
  
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
