
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     before_patient_leaves_operating_room  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchBefore_patient_leaves_operating_rooms();" *ngIf="tcAuthorization.canRead('before_patient_leaves_operating_rooms')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addBefore_patient_leaves_operating_room();" *ngIf="tcAuthorization.canCreate('before_patient_leaves_operating_rooms')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="beforePatientLeavesOperatingRoomSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="beforePatientLeavesOperatingRoomPersist.beforePatientLeavesOperatingRoomSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="beforePatientLeavesOperatingRoomSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="beforePatientLeavesOperatingRoomIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let before_patient_leaves_operating_room of beforePatientLeavesOperatingRoomsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('before_patient_leaves_operating_rooms') || tcAuthorization.canDelete('before_patient_leaves_operating_rooms')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editBeforePatientLeavesOperatingRoom(before_patient_leaves_operating_room)" *ngIf="tcAuthorization.canUpdate('before_patient_leaves_operating_rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBeforePatientLeavesOperatingRoom(before_patient_leaves_operating_room)" *ngIf="tcAuthorization.canDelete('before_patient_leaves_operating_rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name_of_the_procedure</span>
            {{before_patient_leaves_operating_room.name_of_the_procedure}}
          </div><div class="tc-detail-field">
            <span>completion_of_instrument_sponge_and_needle_counts</span>
            {{before_patient_leaves_operating_room.completion_of_instrument_sponge_and_needle_counts}}
          </div><div class="tc-detail-field">
            <span>specimen_labelling</span>
            {{before_patient_leaves_operating_room.specimen_labelling}}
          </div><div class="tc-detail-field">
            <span>equipment_problems_to_be_addressed</span>
            {{before_patient_leaves_operating_room.equipment_problems_to_be_addressed}}
          </div><div class="tc-detail-field">
            <span> key_concerns_for_recovery</span>
            {{before_patient_leaves_operating_room. key_concerns_for_recovery}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchBefore_patient_leaves_operating_rooms.length >0 || beforePatientLeavesOperatingRoomSelectAll">
        <button mat-button (click)="downloadBeforePatientLeavesOperatingRooms()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{beforePatientLeavesOperatingRoomSelectAll ? beforePatientLeavesOperatingRoomsTotalCount : beforePatientLeavesOperatingRoomSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="beforePatientLeavesOperatingRoomsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(beforePatientLeavesOperatingRoomsData,beforePatientLeavesOperatingRoomSelection) "
              [checked]=" tcUtilsArray.isAllSelected(beforePatientLeavesOperatingRoomsData,beforePatientLeavesOperatingRoomSelection) || beforePatientLeavesOperatingRoomSelectAll"
              [indeterminate]="beforePatientLeavesOperatingRoomSelection.length <beforePatientLeavesOperatingRoomsData.length && beforePatientLeavesOperatingRoomSelection.length>0"
              [disabled]="beforePatientLeavesOperatingRoomSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="beforePatientLeavesOperatingRoomSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #beforePatientLeavesOperatingRoomSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="beforePatientLeavesOperatingRoomSelectAll=true;" [disabled]="beforePatientLeavesOperatingRoomSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="beforePatientLeavesOperatingRoomSelectAll = false;" [disabled]="!beforePatientLeavesOperatingRoomSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(beforePatientLeavesOperatingRoomSelection,row) : null"
              [checked]="tcUtilsArray.contains(beforePatientLeavesOperatingRoomSelection,row) || beforePatientLeavesOperatingRoomSelectAll" [disabled]="beforePatientLeavesOperatingRoomSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="name_of_the_procedure">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name_of_the_procedure
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name_of_the_procedure}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="completion_of_instrument_sponge_and_needle_counts">
          <mat-header-cell *matHeaderCellDef mat-sort-header>completion_of_instrument_sponge_and_needle_counts
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.completion_of_instrument_sponge_and_needle_counts}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="specimen_labelling">
          <mat-header-cell *matHeaderCellDef mat-sort-header>specimen_labelling
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.specimen_labelling}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="equipment_problems_to_be_addressed">
          <mat-header-cell *matHeaderCellDef mat-sort-header>equipment_problems_to_be_addressed
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.equipment_problems_to_be_addressed}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef=" key_concerns_for_recovery">
          <mat-header-cell *matHeaderCellDef mat-sort-header> key_concerns_for_recovery
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element. key_concerns_for_recovery}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="beforePatientLeavesOperatingRoomNavigator.before_patient_leaves_operating_roomUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('before_patient_leaves_operating_rooms') || tcAuthorization.canDelete('before_patient_leaves_operating_rooms')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editBeforePatientLeavesOperatingRoom(element)" *ngIf="tcAuthorization.canUpdate('before_patient_leaves_operating_rooms') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBeforePatientLeavesOperatingRoom(element)" *ngIf="tcAuthorization.canDelete('before_patient_leaves_operating_rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="beforePatientLeavesOperatingRoomsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: beforePatientLeavesOperatingRoomsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(beforePatientLeavesOperatingRoomSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="beforePatientLeavesOperatingRoomsTotalCount"
        [ngStyle]="{display: beforePatientLeavesOperatingRoomsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>