
<ng-template #body>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isDialog || (itemDispatchDetail && !canSave() && idMode.status == prescriptionRequestStatus.accept && (!isWizard() || idMode.id.length))">
    <div  class="tc-full-stretch" *ngIf="isDialog && (isWizard() ? idMode.id[0].name : idMode.id.name)">
      <label for="">Item Name: </label>
      {{isWizard() ? itemNav.itemName(idMode.id[0]) :  itemNav.itemName(idMode.id) }}
    </div>
    <mat-form-field class="tc-full-stretch">
      <mat-label>
        transfer
      </mat-label>
      <input matInput disabled [(ngModel)]="itemDispatchDetail.batch_no" (ngModelChange)="totalPriceCalculate()" />
      <button mat-icon-button matTooltip='transfer' matSuffix color="primary" (click)="transferPick()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="quantity" type="number" [(ngModel)]="itemDispatchDetail.quantity" (ngModelChange)="totalPriceCalculate()" required>
    </mat-form-field>
  </div>

<h3 *ngIf="idMode.status == prescriptionRequestStatus.accept"> <div *ngIf="isDialog && ( isWizard() ? idMode.id[0]?.quantity: idMode.id?.quantity)" style="display: inline-block;"> &nbsp;&nbsp;&nbsp;  requested : {{remaining}} </div> &nbsp;&nbsp;&nbsp;  {{(isNew() || isWizard()) ? "total price :" + (total_price + (itemDispatchDetail.total_price||0) ) || "" : "" }}</h3> 
<div *ngIf="itemDispatchDetailList.length > 0">
  <mat-table [dataSource]="itemDispatchDetailList" matSort class="mat-elevation-z2" style="margin-bottom: 10px">
    <!-- <h3 *ngIf="isNew()">dispatches</h3> -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
      <mat-cell *matCellDef="let element" class="tc-column-action">

        <button mat-menu-item (click)="removeFromList(element)" [disabled]="element.disabled">
          <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
          <!-- <span>{{appTranslation.getText("general", "delete")}} </span> -->
        </button>

      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
      <mat-cell *matCellDef="let element" class="tc-column-action">

        <button mat-menu-item (click)="editFromList(element)" [disabled]="element.disabled">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          <!-- <span>{{appTranslation.getText("general", "delete")}} </span> -->
        </button>

      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="prescription_request_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>prescription_request_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.request_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="item_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Item name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.item_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="batch_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>batch no
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="transfer_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.transfer_id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="itemDispatchsDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: itemDispatchsDisplayedColumns;"></mat-row>

  </mat-table>

</div>
</ng-template>

<div *ngIf="isDialog">
  <div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew || !isWizard">edit</mat-icon>
      <mat-icon *ngIf="isNew || isWizard">add</mat-icon>
      {{title}}
    </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
<div mat-dialog-content>
  <ng-container *ngTemplateOutlet="body">
  </ng-container>
  </div>

<div mat-dialog-actions>
  <ng-container *ngTemplateOutlet="action">
  </ng-container>
</div>
</div>

 <div *ngIf="!isDialog">
  <ng-container *ngTemplateOutlet="body">
  </ng-container>
  <ng-container *ngTemplateOutlet="action">
  </ng-container>
 </div>


<ng-template #action>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="(isNew() || isWizard() || isCase())?AddToList():onUpdate()" [disabled]="!canSubmit()" *ngIf="idMode.status == prescriptionRequestStatus.accept" cdkFocusInitial>
    add to list
  </button>
  <button mat-button (click)="(isNew() || isCase())? onAdd(): onUpdate()" [disabled]="!canSave()" *ngIf="idMode.status == prescriptionRequestStatus.accept && isDialog && !isWizard()" cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>

  <button mat-button (click)="isWizard() ? acceptOrDispatchItems(): onUpdate()" [disabled]="!canSave()" *ngIf="idMode.status == prescriptionRequestStatus.accept && isDialog && isWizard()" cdkFocusInitial>
    {{appTranslation.getText('general','next')}}
  </button>
  <button mat-button (click)="isWizard() ? acceptOrDispatchItems(): onUpdate()" [disabled]="idMode.id.length == 0" *ngIf="idMode.status == prescriptionRequestStatus.accept && isDialog && isWizard()" cdkFocusInitial>
    skip
  </button>

  <button mat-button (click)="isWizard() ? onAdd(): onUpdate()" [disabled]="idMode.id.length != 0" *ngIf="idMode.status == prescriptionRequestStatus.accept && isDialog && isWizard()" cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>


  <button mat-button (click)="onAdd()" [disabled]="itemDispatchDetailList.length == 0 || !canSaveDispatch()" *ngIf="idMode.status == prescriptionRequestStatus.accept && !isDialog " cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
  <button mat-button (click)="onDispatch()"  *ngIf="idMode.status ==  prescriptionRequestStatus.dispatch" cdkFocusInitial>
    Dispatch
  </button>
</ng-template>