
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-money-bill"></mat-icon>
   purchase  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchPurchases();" *ngIf="tcAuthorization.canRead('purchases')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addPurchase();" *ngIf="tcAuthorization.canCreate('purchases') && requestId" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="purchaseSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="purchasePersist.purchaseSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="purchaseSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                [(value)]="purchasePersist.purchaseStatusFilter"
                (valueChange)="searchPurchases()">
      <mat-option *ngFor="let etype of purchasePersist.PurchaseStatus" [value]="etype.id" >
        {{ etype.name }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="purchasePersist.purchaseStatusFilter" matSuffix mat-icon-button aria-label="Clear"
            (click)="purchasePersist.purchaseStatusFilter = null;searchPurchases();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput [formControl]="refNoBox"
           placeholder='Ref No.'>
    <button mat-button *ngIf="purchasePersist.ref_no" matSuffix mat-icon-button aria-label="Clear"
            (click)="refNoBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field>
    <mat-label>search store</mat-label>
    <input matInput disabled [(ngModel)]="purchasePersist.store_name"/>
    <button
      mat-icon-button
      matTooltip="search store"
      matSuffix
      color="primary"
      (click)="searchStore()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="purchasePersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
    (click)="purchasePersist.store_id = null; purchasePersist.store_name = null ; searchPurchases()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        'From Date'
      [formControl]="purchasePersist.from_date"
      [matDatepicker]="from_date_picker"
    />
  
    <mat-datepicker-toggle
      matSuffix
      [for]="from_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="purchasePersist.from_date.value" matSuffix mat-icon-button aria-label="Clear"
    (click)="purchasePersist.from_date.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder=
        'To Date'
      [formControl]="purchasePersist.to_date"
      [matDatepicker]="to_date_picker"
    />
  
    <mat-datepicker-toggle
      matSuffix
      [for]="to_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="purchasePersist.to_date.value" matSuffix mat-icon-button aria-label="Clear"
    (click)="purchasePersist.to_date.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field><mat-form-field>
    <mat-select placeholder="Category"
                [(value)]="purchasePersist.category"
                (valueChange)="searchPurchases()">
      <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
        {{ etype.name }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="purchasePersist.category" matSuffix mat-icon-button aria-label="Clear"
            (click)="purchasePersist.category = null;searchPurchases();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
    <mat-form-field>
      <mat-label>Sub Category</mat-label>
      <input
        matInput
        placeholder="Sub Category"
        type="text"
        disabled
        [(ngModel)]="subCategoryName"
        required
      >
      <button
        mat-icon-button
        matTooltip="Sub category"
        matSuffix
        color="primary"
        (click)="searchCategory(true)"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
  (click)="subCategoryName = null; purchasePersist.categoryId=categoryId; searchPurchases()">
  <mat-icon>close</mat-icon>
  </button>
    </mat-form-field> 
  <div class="tc-loading" *ngIf="purchaseIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let purchase of purchasesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('purchases') || tcAuthorization.canDelete('purchases')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editPurchase(purchase)" *ngIf="tcAuthorization.canUpdate('purchases')&&(purchase.remaining == purchase.quantity)">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePurchase(purchase)" *ngIf="tcAuthorization.canDelete('purchases') && (purchase.remaining == purchase.quantity)">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>item</span>
          {{purchase.name}}
        </div><div class="tc-detail-field">
          <span>supplier_id</span>
          {{tcUtilsArray.getById(supplierIds, purchase.supplier_id)?.name}}
        </div><div class="tc-detail-field">
          <span>quantity</span>
          {{purchase.quantity}}
        </div><div class="tc-detail-field">
          <span>unit</span>
          {{purchase.purchase_unit}}
        </div><div class="tc-detail-field">
          <span>crv_number</span>
          {{purchase.crv_number}}
        </div><div class="tc-detail-field">
          <span>total_price</span>
          {{purchase.total_price}}
        </div><div class="tc-detail-field">
          <span>purchase_date</span>
          {{purchase.purchase_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
        </div><div class="tc-detail-field">
          <span>status</span>
          {{purchase.status}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchPurchases.length >0 || purchaseSelectAll">
      <button mat-button (click)="downloadPurchases()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{purchaseSelectAll ? purchasesTotalCount : purchaseSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="purchasesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(purchasesData,purchaseSelection) "
            [checked]=" tcUtilsArray.isAllSelected(purchasesData,purchaseSelection) || purchaseSelectAll"
            [indeterminate]="purchaseSelection.length <purchasesData.length && purchaseSelection.length>0"
            [disabled]="purchaseSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="purchaseSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #purchaseSelectAllMenu="matMenu">

            <button mat-menu-item (click)="purchaseSelectAll=true;" [disabled]="purchaseSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="purchaseSelectAll = false;" [disabled]="!purchaseSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>

            <button mat-menu-item (click)="sendToStore()" [disabled]="!purchaseSelection.length">
              Send to main store
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(purchaseSelection,row) : null"
            [checked]="tcUtilsArray.contains(purchaseSelection,row) || purchaseSelectAll" [disabled]="purchaseSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="item">
        <mat-header-cell *matHeaderCellDef >Item
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{itemNavigator.itemName(element)}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="supplier_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>supplier_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(supplierIds, element.supplier_id)?.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="remaining">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remaining
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remaining}}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="ref_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ref No.
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.ref_no}}</mat-cell>
    </ng-container>

  <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>unit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{this.tcUtilsArray.getEnum(purchasePersist.item_units, element.purchase_unit)?.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="crv_number">
        <mat-header-cell *matHeaderCellDef mat-sort-header>crv_number
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.crv_number}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="total_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>total_price
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.total_price}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="purchase_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>purchase_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.purchase_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="expire_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>expire_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(purchasePersist.PurchaseStatus,element.status)?.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="receiver_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>receiver_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.receiver_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sender_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sender_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sender_id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="batch_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>batch no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="reject_description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>reject_description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reject_description}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="purchaseNavigator.purchaseUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('purchases') || tcAuthorization.canDelete('purchases'))&& element.status != purchaseStatus.sent">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editPurchase(element)" *ngIf="tcAuthorization.canUpdate('purchases') && (element.status == purchaseStatus.purchased) ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deletePurchase(element)" *ngIf="tcAuthorization.canDelete('purchases') && ((element.status == purchaseStatus.purchased))">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
            <button mat-menu-item (click)="sentMainStore(element)" *ngIf="tcAuthorization.canUpdate('purchases')">
              <mat-icon fontSet="fa" fontIcon="fa-share-from-square"></mat-icon>
              <span>Sent </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="purchasesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: purchasesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(purchaseSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="purchasesTotalCount"
      [ngStyle]="{display: purchasesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
