<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-hand-holding-usd"></mat-icon>
        {{appTranslation.getText("financial", "fee_type")}}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchFee_Types();" *ngIf="tcAuthorization.canRead('feetypes')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addFee_Type();" *ngIf="tcAuthorization.canCreate('feetypes')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-padding">
    <mat-form-field>
        <input matInput [formControl]="fee_typesSearchTextBox"
            placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="fee_typePersist.fee_typeSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="fee_typesSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="fee_typesIsLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let fee_type of fee_typesData" class="tc-card">
            <mat-card-header>
                <mat-card-title>
                    <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('fee_types') || tcAuthorization.canDelete('fee_types')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editFee_Type(fee_type)"
                            *ngIf="tcAuthorization.canUpdate('fee_types')">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deleteFee_Type(fee_type)"
                            *ngIf="tcAuthorization.canDelete('fee_types')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="tc-detail-field">
                    <span>{{appTranslation.getText('general','name')}}</span>
                    {{fee_type.name}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="fee_typesSelection.length >0 || fee_typesSelectAll">
            <button mat-button (click)="downloadFee_Types()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
            </button>
            <div class="tc-flex-fill"></div>
            <span>{{fee_typesSelectAll ? fee_typesTotalCount : fee_typesSelection.length}}
                {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="fee_typesData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(fee_typesData,fee_typesSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(fee_typesData,fee_typesSelection) || fee_typesSelectAll"
                        [indeterminate]="fee_typesSelection.length <fee_typesData.length && fee_typesSelection.length>0"
                        [disabled]="fee_typesSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="fee_typesSelectAllMenu">
                        </mat-icon>
                    </button>
                    <mat-menu #fee_typesSelectAllMenu="matMenu">


                        <button mat-menu-item (click)="fee_typesSelectAll=true;" [disabled]="fee_typesSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="fee_typesSelectAll = false;" [disabled]="!fee_typesSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(fee_typesSelection,row) : null"
                        [checked]="tcUtilsArray.contains(fee_typesSelection,row) || fee_typesSelectAll"
                        [disabled]="fee_typesSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="fee_typeNavigator.fee_typeUrl(element.id)" class="tc-link">{{element.id}}</a>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('fee_types') || tcAuthorization.canDelete('fee_types')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editFee_Type(element)"
                            *ngIf="tcAuthorization.canUpdate('fee_types') ">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deleteFee_Type(element)"
                            *ngIf="tcAuthorization.canDelete('fee_types')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="fee_typesDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: fee_typesDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(fee_typesSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="fee_typesTotalCount"
            [ngStyle]="{display: fee_typesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>
