

  <ng-template #body>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="beforeInductionOfAnaesthesiaDetail">
                      


<mat-label class="labels">Has the patient confirmed his/her identity,
  site, procedure, and consent? </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeInductionOfAnaesthesiaDetail.patient_confirmed" name="patient_confirmed">
    &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button>
</mat-radio-group>

<br><br>
<mat-label class="labels">Is the site marked? </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeInductionOfAnaesthesiaDetail.is_the_site_marked" name="is_the_site_marked">
    &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button><br>
    &nbsp;<mat-radio-button value="Not applicable" >Not applicable</mat-radio-button>
</mat-radio-group> 
<br><br>
<mat-label class="labels">Is the anaesthesia machine and medication
  check complete?  </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeInductionOfAnaesthesiaDetail.anaesthesia_machine_checkup" name="anaesthesia_machine_checkup">
    &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button>
</mat-radio-group> 
<br><br>
<mat-label class="labels">Is the pulse oximeter on the patient and
  functioning?  </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeInductionOfAnaesthesiaDetail.is_the_pulse_oximeter_on_the_patient_and_functioning" name="is_the_pulse_oximeter_on_the_patient_and_functioning">
    &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button>
</mat-radio-group> 
<br><br>
<mat-label class="labels">Does the patient have a:   </mat-label>    <br>
<mat-label class="labels">Known allergy?   </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeInductionOfAnaesthesiaDetail.known_allergy" name="known_allergy">
    &nbsp;<mat-radio-button value="No" >No</mat-radio-button> <br>
    &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button>
</mat-radio-group> 
<br><br>

<mat-label class="labels">Difficult airway or aspiration risk?  </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeInductionOfAnaesthesiaDetail.difficult_airway_or_aspiration_risk" name="difficult_airway_or_aspiration_risk">
    &nbsp;<mat-radio-button value="No" >No</mat-radio-button> <br>
    &nbsp;<mat-radio-button value="Yes" >Yes, and equipment/assistance available</mat-radio-button>
</mat-radio-group> 
<br><br>
<mat-label class="labels">Risk of >500ml blood loss (7ml/kg in children)?  </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeInductionOfAnaesthesiaDetail.risk_of_500ml_blood_loss" name="risk_of_500ml_blood_loss">
    &nbsp;<mat-radio-button value="No" >No</mat-radio-button> <br>
    &nbsp;<mat-radio-button value="Yes" >Yes, and two IVs/central access and fluids
      planned</mat-radio-button>
</mat-radio-group> 
<br><br>  
                    </div>
  </ng-template>

  <div class="tc-flex-row" *ngIf="!id">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content  *ngIf="!id">
    <ng-container *ngTemplateOutlet="body"> </ng-container>
</div>


<div *ngIf="id">
  <ng-container *ngTemplateOutlet="body"> </ng-container>
  <mat-action-row>
    <button mat-button (click)="onUpdate()"  
    [disabled]="!canSubmit()" *ngIf="tcAuthorization.canUpdate('before_induction_of_anaesthesias') ">
      {{appTranslation.getText("general", "save")}}
    </button>
  </mat-action-row>
</div>
  
  <div mat-dialog-actions *ngIf="!id">
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>