
    <mat-toolbar class="tc-toolbar-secondary">
      <h3 class="mat-heading">
        <mat-icon fontSet="fas" fontIcon="fa-kidneys"></mat-icon>
       Order Dialysis  </h3>
    
      <button mat-button (click)=" back();" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)=" searchOrderDialysis();" *ngIf="tcAuthorization.canRead('order_dialysiss')" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
      <button mat-button (click)=" addOrderDialysis();" *ngIf="tcAuthorization.canCreate('order_dialysiss')" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      </button>
    </mat-toolbar>
     <mat-spinner diameter="50" *ngIf="orderDialysisIsLoading" class="tc-padding"></mat-spinner>
    
          <div class="tc-padding" [ngStyle]="{display: orderDialysisIsLoading? 'none':''}">
            <mat-form-field>
              <input matInput [formControl]="orderDialysisSearchTextBox"
                placeholder="{{appTranslation.getText('general','search_text')}}">
              <button mat-button *ngIf="orderDialysisSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="orderDialysisSearchTextBox.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
    
            <div class="tc-table-container tc-full-stretch">  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let orderDialysis of orderDialysissData" class="tc-card">
          <mat-card-header>
            <mat-card-title>
              <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canUpdate('order_dialysiss') || tcAuthorization.canDelete('order_dialysiss')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
    
                <button mat-menu-item (click)="editOrderDialysis(orderDialysis)" *ngIf="tcAuthorization.canUpdate('order_dialysiss')">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteOrderDialysis(orderDialysis)" *ngIf="tcAuthorization.canDelete('order_dialysiss')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
    <div class="tc-detail-field">
              <span>Sub Type</span>

              {{tcUtilsArray.getById(formEncounterPersist.dialysisType,orderDialysis.sub_type)?.name}}
             
            </div><div class="tc-detail-field">
              <span>Type</span>
            
              {{tcUtilsArray.getById(formEncounterPersist.dialysisType,orderDialysis.type)?.name}}
            </div><div class="tc-detail-field">
              <span>patient_id</span>
              {{orderDialysis.patient_id}}
            </div><div class="tc-detail-field">
              <span>encounter_id</span>
              {{orderDialysis.encounter_id}}
            </div>        
          </mat-card-content>
        </mat-card>
      </div>
      <div class="tc-table-container tc-full-width">
    
        <mat-toolbar *ngIf="orderDialysisSelection.length >0 || orderDialysisSelectAll">
          <button mat-button (click)="downloadOrderDialysiss()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
          </button>
          <div class="tc-flex-fill"></div>
          <span>{{orderDialysisSelectAll ? orderDialysissTotalCount : orderDialysisSelection.length}} {{appTranslation.getText("general",
            "selected")}}</span>
        </mat-toolbar><mat-table [dataSource]="orderDialysissData" matSort class="tc-hide-on-mobile">
    
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(orderDialysissData,orderDialysisSelection) "
                [checked]=" tcUtilsArray.isAllSelected(orderDialysissData,orderDialysisSelection) || orderDialysisSelectAll"
                [indeterminate]="orderDialysisSelection.length <orderDialysissData.length && orderDialysisSelection.length>0"
                [disabled]="orderDialysisSelectAll">
              </mat-checkbox>
    
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="orderDialysisSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #orderDialysisSelectAllMenu="matMenu">
    
                <button mat-menu-item (click)="orderDialysisSelectAll=true;" [disabled]="orderDialysisSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item (click)="orderDialysisSelectAll = false;" [disabled]="!orderDialysisSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>
    
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(orderDialysisSelection,row) : null"
                [checked]="tcUtilsArray.contains(orderDialysisSelection,row) || orderDialysisSelectAll" [disabled]="orderDialysisSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container> 


          <ng-container matColumnDef="sub_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Sub Type
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{tcUtilsArray.getById(formEncounterPersist.dialysisSubType,element.sub_type)?.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              > Type
            </mat-header-cell>
            <mat-cell *matCellDef="let element">  {{tcUtilsArray.getById(formEncounterPersist.dialysisType,element.type)?.name}}</mat-cell>
          </ng-container>
    





           <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canUpdate('order_dialysiss') || tcAuthorization.canDelete('order_dialysiss')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
             <button mat-menu-item (click)="editOrderDialysis(element)" *ngIf="tcAuthorization.canUpdate('order_dialysiss') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteOrderDialysis(element)" *ngIf="tcAuthorization.canDelete('order_dialysiss')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>  <mat-header-row *matHeaderRowDef="orderDialysissDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: orderDialysissDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(orderDialysisSelection,row)}"></mat-row>
    
        </mat-table>
    
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
          [pageSize]="tcUtilsArray.defaultPageSize" [length]="orderDialysissTotalCount"
          [ngStyle]="{display: orderDialysissTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>
    </div>