<mat-toolbar class="tc-toolbar-secondary" *ngIf="!isDialog">
    <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-bullseye"></mat-icon>
        {{appTranslation.getText('patient', 'investigations')}}
    </h1>
    <button mat-button (click)="back()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)="reload()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    
    <h1 class="mat-heading" style="margin-left:auto !important;">
        <mat-slide-toggle
        matInput
        labelPosition="before"
        class="tc-form-toggle"
        required
        [(ngModel)]="showPrevious"
      >
        Show Previous Order
    </mat-slide-toggle>
    </h1>


</mat-toolbar>
<div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
<div *ngIf="!showPrevious">
    <mat-tab-group>
    <mat-tab label="Laboratory" class="tc-padding"
*ngIf="isOrderContain(lab_order_type.lab) && tcAuthorization.canCreate('laboratory_orders')">
    <mat-accordion>
        <mat-expansion-panel disabled="true" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Labratory
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style=" display: flex;flex-wrap: wrap;  ">
                <div style="width: 25%; word-break: break-all;">
                    <div class="tc-padding">
                        <div *ngFor="let labOrder of labOrders" class="tc-padding-y">
                            <button [ngClass]="'tc-full-width' + (selectedLabOrderId == labOrder.id ? ' order-focus': '')" mat-raised-button cdkFocusInitial
                                (click)="setLabType(labOrder.id)">
                                {{labOrder.name}}
                            </button>


                        </div>
                    </div>
                    <div>
                        <h2>Selected</h2>
                        <mat-chip-list *ngFor="let labTests of selectedLabTest">
                            <mat-chip class="tc-full-width">
                                <p class="tc-text-center tc-full-width tc-margin-0">{{labTests.name}}</p>
                                <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                                    (click)="tcUtilsArray.toggleSelection(selectedLabTest,labTests)"></mat-icon>
                            </mat-chip>

                        </mat-chip-list>

                        <mat-chip-list *ngFor="let panel of selectedLabPanel">
                            <mat-chip class="tc-full-width">
                                <p class="tc-text-center tc-full-width tc-margin-0">{{panel.name}}</p>
                                <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                                    (click)="tcUtilsArray.toggleSelection(selectedLabPanel,panel)"></mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>

                <div style="width: 75%;">
                    <div>
                        <div class="tc-padding">
                            <div>
                                <div class="tc-flex-row" style="justify-content: space-between; align-items: center;">
                                    <h1 class="tc-margin-0">Panels</h1>
                                <mat-form-field>
                                    <input matInput [formControl]="laboratorySearchTextBox"
                                      placeholder='{{appTranslation.getText("general","search_text")}} '>
                                    <button mat-button *ngIf="laboratorySearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                                      (click)="laboratorySearchTextBox.setValue('')">
                                      <mat-icon>close</mat-icon>
                                    </button>
                                  </mat-form-field>
                            </div>
                                <div>
                                    <div style=" display: flex;flex-wrap: wrap;  ">
                                        <div class="tc-padding" *ngFor="let labPanel of filteredLabPanels" style="width: 25%; word-break: break-all;">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? tcUtilsArray.toggleSelection(selectedLabPanel,labPanel) : null; addTestWhenLabIsSelected(labPanel.id, lab_order_type.lab)"
                                                [checked]="tcUtilsArray.contains(selectedLabPanel,labPanel) || tcUtilsArray.containsByKey(forbiddenSelect,'lab_panel_id', labPanel.id)"
                                                [disabled]="tcUtilsArray.containsByKey(forbiddenSelect,'lab_panel_id', labPanel.id)"
                                                [indeterminate]="!tcUtilsArray.contains(selectedLabPanel,labPanel) && tcUtilsArray.containsByKey(selectedOrders, 'lab_panel_id', labPanel.id)">
                                                <p class="tc-margin-0 tc-padding-x tc-text-center">{{labPanel.name}}</p>
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <div class="tc-padding">
                            <h1 class="tc-margin-0">Tests</h1>
                            <div style=" display: flex;flex-wrap: wrap;  ">
                                <div class="tc-padding" *ngFor="let labTest of filteredlabTests" style="width: 25%; word-break: break-all;">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="handleChange(lab_order_type.lab, labTest, $event)"
                                            [checked]="tcUtilsArray.contains(selectedLabTest,labTest) || checkIfPartOfLabTest(labTest.id, lab_order_type.lab) || tcUtilsArray.containsByKey(forbiddenSelect,'lab_test_id', labTest.id) || checkIfPartOfLabTest(labTest.id, lab_order_type.imaging, true)"
                                            [indeterminate]="!(tcUtilsArray.contains(selectedLabTest,labTest) || checkIfPartOfLabTest(labTest.id, lab_order_type.lab)) && (tcUtilsArray.containsByKey(selectedOrders, 'lab_test_id', labTest.id) || isTestSelected(labTest.id))"
                                            [disabled]="tcUtilsArray.containsByKey(forbiddenSelect,'lab_test_id', labTest.id) || checkIfPartOfLabTest(labTest.id, lab_order_type.lab, true)">
                                            <p class="tc-margin-0 tc-padding-x tc-text-center">{{labTest.name}}</p>
                                        </mat-checkbox>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
                <textarea placeholder="Note"  matInput type="text" [(ngModel)]="labNote"></textarea>
              </mat-form-field>

            <mat-action-row style="justify-content: flex-start;">

                <mat-form-field>
                    <mat-select placeholder="status" [(value)]="laburgency" required>
                        <mat-option *ngFor="let etype of form_encounterPersist.lab_urgency" [value]="etype.id">
                            {{appTranslation.getTextByIdentifier(etype.name)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle future-lab" [(ngModel)]="futureLab"
                    required>
                    Appoint
                </mat-slide-toggle>


                <mat-form-field *ngIf="futureLab">
                    <mat-label>Appointment Date</mat-label>
                    <input matInput [matDatepicker]="expire_date_picker" [(ngModel)]="futureLabDate">
                    <mat-datepicker-toggle matSuffix [for]="expire_date_picker"></mat-datepicker-toggle>
                    <mat-datepicker #expire_date_picker></mat-datepicker>
                </mat-form-field>


                <button mat-button (click)="orderLabNow()" class="tc-link" *ngIf="!isDialog"
                    [disabled]="!(selectedLabTest.length || selectedLabPanel.length)">
                    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
                    Save
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</mat-tab>

<mat-tab label="Radiology" class="tc-padding"
*ngIf="isOrderContain(lab_order_type.imaging) && tcAuthorization.canCreate('radiology_orders')">
    <mat-accordion>
        <mat-expansion-panel disabled="true" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Radiology
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style=" display: flex;flex-wrap: wrap;  ">
                <div style="width: 25%; word-break: break-all;" >
                    <div class="tc-padding">
                        <div *ngFor="let rad of radiology" class="tc-padding-y">
                            <button [ngClass]="'tc-full-width' + (selectedRadOrderId == rad.id ? ' order-focus': '')" mat-raised-button cdkFocusInitial (click)="setRadType(rad.id)">
                                {{rad.name}}
                            </button>


                        </div>
                    </div>
                    <div>
                        <h2>Selected</h2>
                        <mat-chip-list *ngFor="let labTests of selectedradTest">
                            <mat-chip class="tc-full-width">
                                <p class="tc-text-center tc-full-width tc-margin-0">{{labTests.name}}</p>
                                <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                                    (click)="tcUtilsArray.toggleSelection(selectedradTest,labTests)"></mat-icon>
                            </mat-chip>

                        </mat-chip-list>

                        <mat-chip-list *ngFor="let panel of selectedradPanel">
                            <mat-chip class="tc-full-width">
                                <p class="tc-text-center tc-full-width tc-margin-0">{{panel.name}}</p>
                                <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                                    (click)="tcUtilsArray.toggleSelection(selectedradPanel,panel)"></mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>

                <div style="width: 75%;">
                    <div>
                        <div class="tc-padding">
                            <div>
                                <div class="tc-flex-row" style="justify-content: space-between; align-items: center;">
                                    <h1 class="tc-margin-0">Panels</h1>
                                <mat-form-field>
                                    <input matInput [formControl]="radiologySearchTextBox"
                                      placeholder='{{appTranslation.getText("general","search_text")}} '>
                                    <button mat-button *ngIf="radiologySearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                                      (click)="radiologySearchTextBox.setValue('')">
                                      <mat-icon>close</mat-icon>
                                    </button>
                                  </mat-form-field>
                            </div>
                                <div>
                                    <div style=" display: flex;flex-wrap: wrap;  ">
                                        <div class="tc-padding" *ngFor="let radPanel of filteredradPanels" style="width: 25%; word-break: break-all;">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? tcUtilsArray.toggleSelection(selectedradPanel,radPanel) : null; addTestWhenLabIsSelected(radPanel.id, lab_order_type.imaging)"
                                            [disabled]="tcUtilsArray.containsByKey(forbiddenSelect,'lab_panel_id', radPanel.id)"
                                            [checked]="tcUtilsArray.contains(selectedradPanel,radPanel)  || tcUtilsArray.containsByKey(forbiddenSelect,'lab_panel_id', radPanel.id)"
                                            [indeterminate]="!tcUtilsArray.contains(selectedradPanel,radPanel) && tcUtilsArray.containsByKey(selectedOrders, 'lab_panel_id', radPanel.id)">
                                            <p class="tc-margin-0 tc-padding-x tc-text-center">{{radPanel.name}}</p>
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <h1>Tests</h1>
                        <div class="tc-padding">
                            <div>
                                <div style=" display: flex;flex-wrap: wrap;  ">
                                    <div class="tc-padding" *ngFor="let radTest of filteredradTests" style="width: 25%; word-break: break-all;">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="handleChange(lab_order_type.imaging, radTest, $event)"
                                            [checked]="tcUtilsArray.contains(selectedradTest,radTest) || checkIfPartOfLabTest(radTest.id, lab_order_type.imaging) || tcUtilsArray.containsByKey(forbiddenSelect,'lab_test_id', radTest.id) || checkIfPartOfLabTest(radTest.id, lab_order_type.imaging, true)"
                                            [disabled]="tcUtilsArray.containsByKey(forbiddenSelect,'lab_test_id', radTest.id) || checkIfPartOfLabTest(radTest.id, lab_order_type.imaging, true)"
                                            [indeterminate]="!(tcUtilsArray.contains(selectedradTest, radTest) || checkIfPartOfLabTest(radTest.id, lab_order_type.lab)) && (tcUtilsArray.containsByKey(selectedOrders, 'lab_test_id', radTest.id) || isTestSelected(radTest.id))">
                                            <p class="tc-margin-0 tc-padding-x tc-text-center">{{radTest.name}}
                                            </mat-checkbox>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
                <textarea placeholder="Note"  matInput type="text" [(ngModel)]="radNote"></textarea>
              </mat-form-field>

            <mat-action-row style="justify-content: flex-start;">
                <mat-form-field>
                    <mat-label>Search Radiologist</mat-label>
                    <input matInput disabled [(ngModel)]="radiologistName" />
                    <button mat-icon-button matTooltip="Search Radiologist" matSuffix color="primary"
                        (click)="searchRadiologist()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="status" [(value)]="radurgency" required>
                        <mat-option *ngFor="let etype of form_encounterPersist.lab_urgency" [value]="etype.id">
                            {{appTranslation.getTextByIdentifier(etype.name)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle future-lab" [(ngModel)]="futureRad"
                    required>
                    Appoint
                </mat-slide-toggle>


                <mat-form-field *ngIf="futureRad">
                    <mat-label>Appoint Date</mat-label>
                    <input matInput [matDatepicker]="expire_date_picker" [(ngModel)]="futureRadDate">
                    <mat-datepicker-toggle matSuffix [for]="expire_date_picker"></mat-datepicker-toggle>
                    <mat-datepicker #expire_date_picker></mat-datepicker>
                </mat-form-field>

                <button mat-button (click)="orderRadNow()" class="tc-link" *ngIf="!isDialog"
                    [disabled]="!(selectedradTest.length || selectedradPanel.length)">
                    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
                    Save
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</mat-tab>

<mat-tab label="Pathology" class="tc-padding"
*ngIf="isOrderContain(lab_order_type.pathology) && tcAuthorization.canCreate('pathology_orders')">
    <mat-accordion>
        <mat-expansion-panel disabled="true" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pathology
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style=" display: flex;flex-wrap: wrap;  ">
                <div style="width: 25%; word-break: break-all;">
                    <div class="tc-padding">
                        <div *ngFor="let pat of pathology" class="tc-padding-y">
                            <button  [ngClass]="'tc-full-width' + (selectedPatOrderId == pat.id ? ' order-focus': '')" mat-raised-button cdkFocusInitial (click)="setPatType(pat.id)">
                                {{pat.name}}
                            </button>


                        </div>
                    </div>
                    <div>
                        <h2>Selected</h2>
                        <mat-chip-list *ngFor="let labTests of selectedpatTest">
                            <mat-chip class="tc-full-width">
                                <p class="tc-text-center tc-full-width tc-margin-0">{{labTests.name}}</p>
                                <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                                    (click)="tcUtilsArray.toggleSelection(selectedpatTest,labTests)"></mat-icon>
                            </mat-chip>

                        </mat-chip-list>

                        <mat-chip-list *ngFor="let panel of selectedpatPanel">
                            <mat-chip class="tc-full-width">
                                <p class="tc-text-center tc-full-width tc-margin-0">{{panel.name}}</p>
                                <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                                    (click)="tcUtilsArray.toggleSelection(selectedpatPanel,panel)"></mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>

                <div style="width: 75%;">
                    <div>
                        <div class="tc-padding">
                            <div>
                                <div class="tc-flex-row" style="justify-content: space-between; align-items: center;">
                                    <h1 class="tc-margin-0">Panels</h1>
                                <mat-form-field>
                                    <input matInput [formControl]="pathologySearchTextBox"
                                      placeholder='{{appTranslation.getText("general","search_text")}} '>
                                    <button mat-button *ngIf="pathologySearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                                      (click)="pathologySearchTextBox.setValue('')">
                                      <mat-icon>close</mat-icon>
                                    </button>
                                  </mat-form-field>
                            </div>
                                <div>
                                    <div style=" display: flex;flex-wrap: wrap;  ">
                                        <div class="tc-padding" *ngFor="let patPanel of filteredpatPanels" style="width: 25%; word-break: break-all;">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? tcUtilsArray.toggleSelection(selectedpatPanel, patPanel) : null; addTestWhenLabIsSelected(patPanel.id, lab_order_type.pathology)"
                                                [checked]="tcUtilsArray.contains(selectedpatPanel,patPanel) || tcUtilsArray.containsByKey(forbiddenSelect,'lab_panel_id', patPanel.id)"
                                                [disabled]="tcUtilsArray.containsByKey(forbiddenSelect,'lab_panel_id', patPanel.id)"
                                                [indeterminate]="!tcUtilsArray.contains(selectedpatPanel,patPanel) && tcUtilsArray.containsByKey(selectedOrders, 'lab_panel_id', patPanel.id)">
                                                <p class="tc-margin-0 tc-padding-x tc-text-center">{{patPanel.name}}</p>
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <h1>Tests</h1>
                        <div class="tc-padding">
                            <div>
                                <div style=" display: flex;flex-wrap: wrap;  ">
                                    <div class="tc-padding" *ngFor="let patTest of filteredpatTests" style="width: 25%; word-break: break-all;">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="handleChange(lab_order_type.pathology, patTest, $event)"
                                            [checked]="tcUtilsArray.contains(selectedpatTest,patTest) || checkIfPartOfLabTest(patTest.id, lab_order_type.pathology) || tcUtilsArray.containsByKey(forbiddenSelect,'lab_test_id', patTest.id) || checkIfPartOfLabTest(patTest.id, lab_order_type.pathology, true)"
                                            [disabled]="tcUtilsArray.containsByKey(forbiddenSelect,'lab_test_id', patTest.id) || checkIfPartOfLabTest(patTest.id, lab_order_type.pathology, true)"
                                            [indeterminate]="!(tcUtilsArray.contains(selectedpatTest,patTest) || checkIfPartOfLabTest(patTest.id, lab_order_type.pathology)) && (tcUtilsArray.containsByKey(selectedOrders, 'lab_test_id', patTest.id) || isTestSelected(patTest.id))">
                                            <p class="tc-margin-0 tc-padding-x tc-text-center">{{patTest.name}}
                                            </mat-checkbox>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
                <textarea placeholder="Note"  matInput type="text" [(ngModel)]="patNote"></textarea>
              </mat-form-field>

            <mat-action-row style="justify-content: flex-start;">

                <mat-form-field>
                    <mat-select placeholder="status" [(value)]="radurgency" required>
                        <mat-option *ngFor="let etype of form_encounterPersist.lab_urgency" [value]="etype.id">
                            {{appTranslation.getTextByIdentifier(etype.name)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle future-lab" [(ngModel)]="futureRad"
                    required>
                    Appoint
                </mat-slide-toggle>


                <mat-form-field *ngIf="futureRad">
                    <mat-label>Appoint Date</mat-label>
                    <input matInput [matDatepicker]="expire_date_picker" [(ngModel)]="futureRadDate">
                    <mat-datepicker-toggle matSuffix [for]="expire_date_picker"></mat-datepicker-toggle>
                    <mat-datepicker #expire_date_picker></mat-datepicker>
                </mat-form-field>

                <button mat-button (click)="orderPatNow()" class="tc-link" *ngIf="!isDialog"
                    [disabled]="!(selectedpatTest.length || selectedpatPanel.length)">
                    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
                    Save
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</mat-tab>
<mat-tab label="Procedure" class="tc-padding"
*ngIf="tcAuthorization.canCreate('patient_procedures') && encounterId">
    <mat-accordion>
        <mat-expansion-panel disabled="true" expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Procedure
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style=" display: flex;flex-wrap: wrap;  ">
                <div style="width: 25%; word-break: break-all;">
                    <div>
                        <h2>Selected</h2>
                        <mat-chip-list *ngFor="let row of proceduresSelection">
                            <mat-chip class="tc-full-width">
                                <p class="tc-text-center tc-full-width tc-margin-0">{{row.name}}</p>
                                <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                                    (click)="tcUtilsArray.toggleSelection(proceduresSelection,row)"></mat-icon>
                            </mat-chip>

                        </mat-chip-list>
                    </div>
                </div>

                <div style="width: 75%;">
                    <div>
                        <mat-form-field>
                            <input matInput [formControl]="procedureSearchTextBox"
                              placeholder='{{appTranslation.getText("general","search_text")}} '>
                            <button mat-button *ngIf="procedureSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
                              (click)="procedureSearchTextBox.setValue('')">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                        <div class="tc-padding">
                            <div>
                                <div style=" display: flex;flex-wrap: wrap;  ">
                                    <div class="tc-padding" *ngFor="let row of filteredproceduresData" style="width: 25%; word-break: break-all;">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="tcUtilsArray.toggleSelection(proceduresSelection,row)"
                                            [checked]="tcUtilsArray.contains(proceduresSelection,row)"
                                            [indeterminate]="tcUtilsArray.containsByKey(selectedProcedures, 'procedure_id', row.id) && !tcUtilsArray.contains(proceduresSelection,row)">
                                            <p class="tc-margin-0 tc-padding-x tc-text-center">{{row.name}}
                                            </mat-checkbox>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
                <textarea placeholder="Note"  matInput type="text" [(ngModel)]="procedureNote"></textarea>
              </mat-form-field>

            <mat-action-row style="justify-content: flex-start;">

                <mat-form-field>
                    <mat-select placeholder="status" [(value)]="radurgency" required>
                        <mat-option *ngFor="let etype of form_encounterPersist.lab_urgency" [value]="etype.id">
                            {{appTranslation.getTextByIdentifier(etype.name)}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle future-lab" [(ngModel)]="futureRad"
                    required>
                    Appoint
                </mat-slide-toggle>

                <mat-form-field *ngIf="futureRad">
                    <mat-label>Appoint Date</mat-label>
                    <input matInput [matDatepicker]="expire_date_picker" [(ngModel)]="futureRadDate">
                    <mat-datepicker-toggle matSuffix [for]="expire_date_picker"></mat-datepicker-toggle>
                    <mat-datepicker #expire_date_picker></mat-datepicker>
                </mat-form-field>

                <button mat-button (click)="orderProcedureNow()" class="tc-link" *ngIf="!isDialog"
                    [disabled]="!(proceduresSelection.length)">
                    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
                    Save
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</mat-tab>
</mat-tab-group>
</div>
<app-previous-order-list *ngIf="showPrevious" [encounterId]="encounterId"></app-previous-order-list>
