<h1 mat-dialog-title>
  {{appTranslation.getText("inventory", "request")}}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="requestsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="requestPersist.requestSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="requestsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="requestsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="requestsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(requestsData,requestsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(requestsData,requestsSelection)"
            [indeterminate]="requestsSelection.length <requestsData.length && requestsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="requestsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{requestsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="requestsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(requestsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(requestsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(requestsSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','item_type')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.item_type}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="item_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','item')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.item_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="unit_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','unit')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.request_unit}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','quantity')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="requester_store_manager_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','requester_store_manager')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.requester_store_manager_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="requester_store_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','requester_store')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.requester_store_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="requestee_store_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','requestee_store')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.requestee_store_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="request_day">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','request_day')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.request_day}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','status')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="requestsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: requestsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(requestsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="requestsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" requestsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>