
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!supplierIsLoading">
                  <h1 class="mat-h1 ">{{supplierDetail.id}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == SupplierTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = SupplierTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav> <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="supplierIsLoading">
                  <mat-spinner></mat-spinner>
          </div>
  
          <div [ngClass]="activeTab==SupplierTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>
  
              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
  
                                      <div *ngIf="!supplierIsLoading">  <p class="tc-detail-field">
name                           <span>  {{supplierDetail.name}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
tin_number                           <span>  {{supplierDetail.tin_number}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
phone_number_1                           <span>  {{supplierDetail.phone_number_1}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
phone_number_2                           <span>  {{supplierDetail.phone_number_2}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
phone_number_3                           <span>  {{supplierDetail.phone_number_3}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
email                           <span>  {{supplierDetail.email}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
address                           <span>  {{supplierDetail.address}} </span> 
                                                       </p>
                         </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editSupplier()" *ngIf="tcAuthorization.canUpdate('suppliers') ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>
  
                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>
  
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
