<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="patientDischargeDetail">
                      
                          <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="date" [(ngModel)]="date"
                                   [matDatepicker]="now" required>
                            <mat-datepicker-toggle matSuffix [for]="now"></mat-datepicker-toggle>
                            <mat-datepicker #now></mat-datepicker>
                          </mat-form-field>

    <!-- <mat-form-field class="tc-full-stretch">
                            <mat-label> Patient Name </mat-label>
                            <input matInput disabled [(ngModel)]="patientFullName" />
                            <button
                              mat-icon-button
                              matSuffix
                              color="primary"
                              (click)="searchPatient()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field> -->
                          
   <!-- <mat-form-field class="tc-full-stretch">
                            <mat-label>
                              {{appTranslation.getText("employee", "department_specialty ")}}
                            </mat-label>
                            <input matInput disabled [(ngModel)]="departmentSpeciality"/>
                            <button
                              mat-icon-button
                              matSuffix
                              color="primary"
                              (click)="searchDepartmentSpeciality()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field> -->
                                                    
   <!-- <mat-form-field class="tc-full-stretch">
    <mat-label>
      bed number
    </mat-label>
    <input matInput disabled [(ngModel)]="bedNumber"/>
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchBed()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field> -->
                  
   <!-- <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="hospital_course" type="text"  [(ngModel)]="patientDischargeDetail.hospital_course" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="history_and_examination_notes" type="text"  [(ngModel)]="patientDischargeDetail.history_and_examination_notes" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="lab_and_investigation_notes" type="text"  [(ngModel)]="patientDischargeDetail.lab_and_investigation_notes" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="radiology_notes" type="text"  [(ngModel)]="patientDischargeDetail.radiology_notes" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="surgeries and procedure notes" type="text"  [(ngModel)]="patientDischargeDetail.surgeries_and_procedure_notes" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="operative_procedure notes" type="text"  [(ngModel)]="patientDischargeDetail.operative_procedure_notes" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="other_notes" type="text"  [(ngModel)]="patientDischargeDetail.other_notes" required>
                          </mat-form-field>                     -->
                          
    <mat-form-field class="tc-full-stretch">
        <mat-select placeholder='condition status'
                    [(value)]="patientDischargeDetail.condition_status" required>
          <mat-option *ngFor="let etype of persist.condition_statuses" [value]="etype.id">
            {{etype.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

   <mat-form-field class="tc-full-stretch">
                              <textarea rows="3" matInput  placeholder="advice" type="text"  [(ngModel)]="patientDischargeDetail.advice"></textarea>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <textarea rows="3" matInput  placeholder="plan_for_followup" type="text"  [(ngModel)]="patientDischargeDetail.plan_for_followup"></textarea>
                          </mat-form-field>                    

                          <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="Follow up date" [(ngModel)]="followupDate"
                                   [matDatepicker]="followup_date_picker">
                            <mat-datepicker-toggle matSuffix [for]="followup_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #followup_date_picker></mat-datepicker>
                          </mat-form-field>
                        
                        </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>