<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav-content>

    <div class="tc-loading" *ngIf="doctorLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="activeTab==DoctorTabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)=" reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{appTranslation.getText("general", "basicdetails")}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!doctorLoading">
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'first_name')}} </span>
                    {{doctorDetail.first_name}}
                  </p>

                <p class="tc-detail-field">
                  <span>{{appTranslation.getText('general', 'middle_name')}} </span>
                  {{doctorDetail.middle_name}}
                </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'last_name')}} </span>
                    {{doctorDetail.last_name}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'email')}} </span>
                    {{doctorDetail.email}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'telephone')}} </span>
                    {{doctorDetail.telephone}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'gender')}} </span>
                    {{doctorDetail.is_male ? appTranslation.getText('general', 'male') :
                    appTranslation.getText('general', 'female') }}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'birthdate')}} </span>
                    {{tcUtilsDate.toDate(doctorDetail.birth_date)|date:'MMM dd, yyyy. h:mm a'}}
                  </p>

                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('general', 'address')}} </span>
                    {{doctorDetail.address}}
                  </p>
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText("employee", "physician_type")}} </span>
                    {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(doctorPersist.physican_type,
                    doctorDetail.physican_type)?.name)}}
                  </p>

                  <ng-container *ngIf="doctorDetail.physican_type == physican_type.doctor">

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText("employee", "department_specialty ")}}</span>
                      {{ doctor_department_speciality }}
                    </p>
                  </ng-container>

                </div>
                <mat-action-row>
                  <button mat-button (click)="editDoctor()" *ngIf="tcAuthorization.canUpdate('doctors') ">
                    {{appTranslation.getText("general", "edit")}}
                  </button>
                </mat-action-row>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block">


          <div class="tc-padding" >
            <mat-accordion>

              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{appTranslation.getText('member', 'login_details')}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="tcUtilsString.invalid_id == doctorDetail.login_id">
                  <span class="tc-text-muted">User doesn't have account</span>
                </div>

                <mat-action-row>
                  <button mat-button (click)="createUserDoctor()"
                          *ngIf="tcUtilsString.invalid_id == doctorDetail.login_id">
                    Create User
                  </button>
                  <button mat-button (click)="removeUser()" *ngIf="tcUtilsString.invalid_id != doctorDetail.login_id && !doctorDetail.disabled">
                    Deactivate
                  </button>

                  <div *ngIf="tcUtilsString.invalid_id != doctorDetail.login_id && doctorDetail.disabled">
                    <button mat-button (click)="activateUser()" >
                      Activate User
                    </button>
                  </div>

                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>


        </div>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
