<div class="tc-flex-row">
  <h1 class="mat-headline">
    <!-- <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon> -->
    Bank
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <p></p>

  <div *ngIf="isFirst">


    <mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="Patient Name" type="text"  [(ngModel)]="patientFullName" required>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch">
    <input matInput  placeholder="Account Number" type="text"  [(ngModel)]="appointmentDetail.referred_from" required>
</mat-form-field>

  <mat-form-field class="tc-full-stretch">
    <input matInput disabled  placeholder="TotalPayment" type="text"  [(ngModel)]="total_payment" required>
</mat-form-field>

<mat-table [dataSource]="fees" matSort class="mat-elevation-z2" style="margin-bottom: 10px">


  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Fee
    </mat-header-cell>
    <mat-cell
      *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Price
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{tcUtilsNumber.convertToDecimalPlaces(element.price)}}
    </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="paymentColumns; sticky: true; "></mat-header-row>
  <mat-row *matRowDef="let row; columns: paymentColumns"></mat-row>

</mat-table>


  </div>

  <div *ngIf="!isFirst">


    <mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="OTP " type="text"  [(ngModel)]="patientFullName" required>
  </mat-form-field>




  </div>

</div>

<div mat-dialog-actions>

  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="onAdd()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
