<div class="patient-information">
    <div *ngIf="patient">Patient : {{patient_name}} </div> <div> Age: {{calculateAge(patient?.dob)}} </div> <div> Sex: {{patient?.sex ? "Male": "Female"}} </div> <div> MRN: {{patient?.pid}} </div>
  </div>
<mat-tab-group class="mat-elevation-z8" [(selectedIndex)]="prescriptionRequestPersist.selectedTab" (selectedTabChange)="onTabChanged($event);">
    <!-- <mat-tab label="Requested">
        <ng-template matTabContent>
            <app-prescription_request-list *ngIf="patientId" [patientId]="patientId" [requestType]="PrescriptionRequestStatus.requested"></app-prescription_request-list>
        </ng-template>
    </mat-tab> -->
    <mat-tab label="Prescribed">
        <ng-template matTabContent>
            <app-prescription_request-list *ngIf="patientId" [patientId]="patientId" [requestType]="PrescriptionRequestStatus.requested" [prescribed]="true"></app-prescription_request-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Responded">
        <ng-template matTabContent>
            <app-prescription_request-list *ngIf="patientId" [patientId]="patientId" [requestType]="PrescriptionRequestStatus.dispatch" [prescribed]="true" ></app-prescription_request-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
