<h1 mat-dialog-title>
  <mat-icon>search</mat-icon>
  Eventlogs
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="eventlogsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="eventlogPersist.eventlogSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="eventlogsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="eventlogsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="eventlogsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(eventlogsData,eventlogsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(eventlogsData,eventlogsSelection)"
            [indeterminate]="eventlogsSelection.length <eventlogsData.length && eventlogsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="eventlogsSelection.length >0 " [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{eventlogsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="eventlogsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(eventlogsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(eventlogsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-radio-group *ngIf="selectOne">
            <mat-radio-button (click)="markOneItem(row)"></mat-radio-button>
          </mat-radio-group>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="event_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>event_type</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.event_type}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="log_text">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>log_text</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.log_text}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="has_more">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>has_more</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.has_more}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="target_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="operator_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>operator_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.operator_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="log_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>log_time</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.log_time}}</mat-cell>
                             </ng-container>



      <mat-header-row *matHeaderRowDef="eventlogsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: eventlogsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(eventlogsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="eventlogsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" eventlogsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
