<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon>add</mat-icon>
    {{appTranslation.getText("procedure", "review")}}
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>

  <div>
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{ appTranslation.getText("general", "date") }}'
             [value]="getDate(reportResultUnion.date_collected)" disabled required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("procedure", "procedure_test_name")}}'
             [value]="procedure_order_code.procedure_name" disabled required>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("procedure", "specimen")}}'
             [(ngModel)]="reportResultUnion.specimen_num" required>
    </mat-form-field>

    <mat-form-field class="tc-full-width">
      <mat-label>{{appTranslation.getText("general", "status")}}</mat-label>
      <mat-select [(ngModel)]="reportResultUnion.result_status">
        <mat-option *ngFor="let stat of status" [value]="stat.value">
          {{ stat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("procedure", "procedure_order_codes")}}'
             [(ngModel)]="reportResultUnion.result_code" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("procedure", "please_describe_the_above_code")}}'
             [(ngModel)]="reportResultUnion.result_text" required>
    </mat-form-field>


    <mat-form-field class="tc-full-width">
      <mat-label>{{appTranslation.getText("procedure", "abnormality")}}</mat-label>
      <mat-select [(ngModel)]="reportResultUnion.abnormal">
        <mat-option *ngFor="let stat of abns" [value]="stat.value">
          {{ stat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("procedure", "result")}}'
             [(ngModel)]="reportResultUnion.result" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("procedure", "units")}}'
             [(ngModel)]="reportResultUnion.units" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder='{{appTranslation.getText("procedure", "range")}}'
             [(ngModel)]="reportResultUnion.range" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder='{{appTranslation.getText("notes", "note")}}'
                [(ngModel)]="reportResultUnion.result_notes" required></textarea>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder='{{appTranslation.getText("procedure", "comment")}}'
                [(ngModel)]="reportResultUnion.comments" required></textarea>
    </mat-form-field>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="onAdd()" [disabled]="!canSubmit()">
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
