<h1 mat-dialog-title>
    corelated_fee Selection
  </h1><div mat-dialog-content> 
     <mat-form-field>
    <input matInput [formControl]="corelatedFeeSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="corelatedFeePersist.corelatedFeeSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="corelatedFeeSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="corelatedFeeIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let corelated_fee of corelatedFeesData" class="tc-card">
      <mat-card-header>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>fee_type</span>
          {{corelated_fee.fee_type}}
        </div><div class="tc-detail-field">
          <span>sub_fee_type</span>
          {{corelated_fee.sub_fee_type}}
        </div><div class="tc-detail-field">
          <span>fee_id</span>
          {{corelated_fee.fee_id}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="corelatedFeesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(corelatedFeesData,corelatedFeeSelection) "
            [checked]=" tcUtilsArray.isAllSelected(corelatedFeesData,corelatedFeeSelection) || corelatedFeeSelectAll"
            [indeterminate]="corelatedFeeSelection.length <corelatedFeesData.length && corelatedFeeSelection.length>0"
            [disabled]="corelatedFeeSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="corelatedFeeSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #corelatedFeeSelectAllMenu="matMenu">

            <button mat-menu-item (click)="corelatedFeeSelectAll=true;" [disabled]="corelatedFeeSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="corelatedFeeSelectAll = false;" [disabled]="!corelatedFeeSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(corelatedFeeSelection,row) : null"
            [checked]="tcUtilsArray.contains(corelatedFeeSelection,row) || corelatedFeeSelectAll" [disabled]="corelatedFeeSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="fee_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>fee_type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fee_type}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sub_fee_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sub_fee_type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sub_fee_type}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="fee_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>fee_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fee_id}}</mat-cell>
      </ng-container>
 <mat-header-row *matHeaderRowDef="corelatedFeesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: corelatedFeesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(corelatedFeeSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="corelatedFeesTotalCount"
      [ngStyle]="{display: corelatedFeesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" corelatedFeeSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>