<h1 mat-dialog-title>
    Patient_Record Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="patient_recordsSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="patient_recordPersist.patient_recordSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="patient_recordsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="patient_recordsIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="patient_recordsData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(patient_recordsData,patient_recordsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(patient_recordsData,patient_recordsSelection)"
              [indeterminate]="patient_recordsSelection.length <patient_recordsData.length && patient_recordsSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="patient_recordsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{patient_recordsSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="patient_recordsSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(patient_recordsSelection,row) : null"
                          [checked]="tcUtilsArray.contains(patient_recordsSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(patient_recordsSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="record_date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>record_date</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.record_date}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="record">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>record</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.record}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="encounter_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="patient_recordsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: patient_recordsDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patient_recordsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="patient_recordsTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" patient_recordsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  