<div class="tc-table-container tc-full-stretch">
    <p *ngIf="!previous_lab_resultTotalCount" style="text-align: center;">There is no previous data</p>
  <mat-table [dataSource]="previous_lab_resultsData" matSort>
    <ng-container matColumnDef="test_name">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef mat-sort-header>result</mat-header-cell>
      <mat-cell
        *matCellDef="let element">{{element.result}} 
        <button style="background: transparent;
        border: 0;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        color: var(--base-color)"
        (click)="$event.stopPropagation(); showResult(element)" *ngIf="element.result_file_id && element.result_file_id != tcUtilsString.invalid_id">
          <mat-icon fontSet="fa" fontIcon="fa-up-right-from-square"></mat-icon>
        </button></mat-cell>
    </ng-container>
    <ng-container matColumnDef="remark">
      <mat-header-cell *matHeaderCellDef mat-sort-header>remark</mat-header-cell>
      <mat-cell
        *matCellDef="let element">{{element.result_conclusion}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="recommendation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Recommendation</mat-header-cell>
      <mat-cell
        *matCellDef="let element">
        <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="element.recommendation" [disabled]="true" (ready)="radiologyResultSettingPersist.onReady($event)"></ckeditor>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="clinical_finding">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Clinical Finding</mat-header-cell>
      <mat-cell
        *matCellDef="let element">{{element.clinical_finding}}
        <button style="background: transparent;
        border: 0;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        color: var(--base-color)"
        (click)="$event.stopPropagation(); showResult(element)" *ngIf="element.result_file_id && element.result_file_id != tcUtilsString.invalid_id">
          <mat-icon fontSet="fa" fontIcon="fa-up-right-from-square"></mat-icon>
        </button></mat-cell>
    </ng-container>
    <ng-container matColumnDef="conclusion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Conclusion</mat-header-cell>
      <mat-cell
        *matCellDef="let element">{{element.conclusion}}</mat-cell>
    </ng-container>
    <ng-container   matColumnDef="result_by">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>result_by</mat-header-cell>
      <mat-cell *matCellDef="let element">{{getUser(element.result_by)}}</mat-cell>
    </ng-container>
    <ng-container   matColumnDef="result_date">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>result_date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.result_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
    </ng-container>
    <ng-container   matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef
                       ></mat-header-cell>
      <mat-cell *matCellDef="let element"><button style="width: 100%; font-size: 14px; color: #175D91; background-color: white; border: none; padding: 6px;" (click)="showDetail($event, element, true)">Detail</button></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="lab_testDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: lab_testDisplayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
  [pageSize]="tcUtilsArray.defaultPageSize"
  [length]="previous_lab_resultTotalCount"
  [ngStyle]="{display: previous_lab_resultTotalCount > 0? '':'none'}"></mat-paginator>
</div>
