<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="item_in_storeDetail">

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText('inventory', 'item')
        }}</mat-label>
      <input
        matInput
        placeholder="{{appTranslation.getText('inventory','item')}}"
        type="text"
        disabled
        [(ngModel)]="itemName"
        required
      >
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('inventory','item')}}"
        matSuffix
        color="primary"
        (click)="searchItem()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("inventory", "search_store")
        }}</mat-label>
      <input
        matInput
        placeholder="{{ appTranslation.getText('inventory', 'parent_store') }}"
        type="text"
        disabled
        [(ngModel)]="storeName"
        required
      />
      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('inventory', 'search_store') }}"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <!-- <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','quantity')}}" type="number"  [(ngModel)]="item_in_storeDetail.quantity" required>
    </mat-form-field> -->

  
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','batch_no')}}" type="number"  [(ngModel)]="item_in_storeDetail.batch_no" required>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','item_description')}}" type="text"  [(ngModel)]="item_in_storeDetail.item_description" required>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','reg_date')}}" type="date"  [(ngModel)]="registered_date" required>
    </mat-form-field>
      <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','expire_date')}}" type="date"  [(ngModel)]="expire_date" required>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','buying_price')}}" type="number"  [(ngModel)]="item_in_storeDetail.buying_price" required>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','unit_price')}}" type="number"  [(ngModel)]="item_in_storeDetail.unit_price" required>
    </mat-form-field>
    <!-- <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','gross_quantity')}}" type="number"  [(ngModel)]="item_in_storeDetail.gross_quantity" required>
    </mat-form-field> -->
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','net_quantity')}}" type="number"  [(ngModel)]="item_in_storeDetail.net_quantity" required>
    </mat-form-field>

 
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','remark')}}" type="text"  [(ngModel)]="item_in_storeDetail.remark" required>
    </mat-form-field>


  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="false"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
