<h1 mat-dialog-title>
    psychoterapy_progress_note Selection
</h1>
<div mat-dialog-content> <mat-form-field>
    <input matInput [formControl]="psychoterapyProgressNoteSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="psychoterapyProgressNotePersist.psychoterapyProgressNoteSearchText" matSuffix
        mat-icon-button aria-label="Clear" (click)="psychoterapyProgressNoteSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="psychoterapyProgressNoteIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let psychoterapyProgressNote of psychoterapyProgressNotesData">
            
            <mat-card-content>
                <div class="tc-detail-field">
                    <span>patient_id</span>
                    {{psychoterapyProgressNote.patient_id}}
                </div>
                <div class="tc-detail-field">
                    <span>provider_id</span>
                    {{psychoterapyProgressNote.provider_id}}
                </div>
                <div class="tc-detail-field">
                    <span>date</span>
                    {{psychoterapyProgressNote.date}}
                </div>
                <div class="tc-detail-field">
                    <span>diagnosis</span>
                    {{psychoterapyProgressNote.diagnosis}}
                </div>
                <div class="tc-detail-field">
                    <span>thoughts</span>
                    {{psychoterapyProgressNote.thoughts}}
                </div>
                <div class="tc-detail-field">
                    <span>therapy_given</span>
                    {{psychoterapyProgressNote.therapy_given}}
                </div>
                <div class="tc-detail-field">
                    <span>home_work</span>
                    {{psychoterapyProgressNote.home_work}}
                </div>
                <div class="tc-detail-field">
                    <span>appointment</span>
                    {{psychoterapyProgressNote.appointment}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

      <mat-table [dataSource]="psychoterapyProgressNotesData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(psychoterapyProgressNotesData,psychoterapyProgressNoteSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(psychoterapyProgressNotesData,psychoterapyProgressNoteSelection) || psychoterapyProgressNoteSelectAll"
                        [indeterminate]="psychoterapyProgressNoteSelection.length <psychoterapyProgressNotesData.length && psychoterapyProgressNoteSelection.length>0"
                        [disabled]="psychoterapyProgressNoteSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                            [matMenuTriggerFor]="psychoterapyProgressNoteSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #psychoterapyProgressNoteSelectAllMenu="matMenu">

                        <button mat-menu-item (click)="psychoterapyProgressNoteSelectAll=true;"
                            [disabled]="psychoterapyProgressNoteSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="psychoterapyProgressNoteSelectAll = false;"
                            [disabled]="!psychoterapyProgressNoteSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(psychoterapyProgressNoteSelection,row) : null"
                        [checked]="tcUtilsArray.contains(psychoterapyProgressNoteSelection,row) || psychoterapyProgressNoteSelectAll"
                        [disabled]="psychoterapyProgressNoteSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container> <ng-container matColumnDef="patient_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="provider_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>provider_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.provider_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="diagnosis">
                <mat-header-cell *matHeaderCellDef mat-sort-header>diagnosis
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.diagnosis}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="thoughts">
                <mat-header-cell *matHeaderCellDef mat-sort-header>thoughts
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.thoughts}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="therapy_given">
                <mat-header-cell *matHeaderCellDef mat-sort-header>therapy_given
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.therapy_given}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="home_work">
                <mat-header-cell *matHeaderCellDef mat-sort-header>home_work
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.home_work}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="appointment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>appointment
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.appointment}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="psychoterapyProgressNoteNavigator.psychoterapy_progress_noteUrl(element.id)"
                        class="tc-link">{{element.id}}</a>

                </mat-cell>
            </ng-container> <mat-header-row
                *matHeaderRowDef="psychoterapyProgressNotesDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: psychoterapyProgressNotesDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(psychoterapyProgressNoteSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="psychoterapyProgressNotesTotalCount"
            [ngStyle]="{display: psychoterapyProgressNotesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div><div mat-dialog-actions>
<button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
<button mat-button (click)="returnSelected()" [disabled]=" psychoterapyProgressNoteSelection.length == 0 " cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
</button>
</div>