<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-exchange-alt"></mat-icon>
    {{ appTranslation.getText("inventory", "transfers") }}
  </h3>

  <button mat-button (click)="back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)="searchTransfers();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="transfersSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="employeeSelfPersist.transferSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="transfersSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                [(value)]="employeeSelfPersist.transfer_typeId"
                (valueChange)="searchTransfers()">
      <mat-option *ngFor="let etype of employeeSelfPersist.transfer_types" [value]="etype.id">
        {{appTranslation.getTextByIdentifier(etype.name)}}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="employeeSelfPersist.transfer_typeId" matSuffix mat-icon-button aria-label="Clear"
            (click)="employeeSelfPersist.transfer_typeId = -1;searchTransfers();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="tc-loading" *ngIf="transfersIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let transfer of transfersData" class="tc-card">
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'from')}}</span>
          {{ tcUtilsArray.getById(stores,transfer.transfer_to_store_id)?.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'to')}}</span>
          {{ tcUtilsArray.getById(stores,transfer.transfer_from_store_id)?.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'items')}}</span>
          {{  tcUtilsArray.getById(items, transfer.item_id)?.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'ledger_entry')}}</span>
          {{ tcUtilsArray.getById(ledgerEntries, transfer.ledger_entry_id)?.batch }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="transfersSelection.length >0 || transfersSelectAll">
      <button mat-button (click)="downloadTransfers()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{transfersSelectAll ? transfersTotalCount : transfersSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="transfersData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(transfersData,transfersSelection) "
            [checked]=" tcUtilsArray.isAllSelected(transfersData,transfersSelection) || transfersSelectAll"
            [indeterminate]="transfersSelection.length <transfersData.length && transfersSelection.length>0"
            [disabled]="transfersSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="transfersSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #transfersSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="transfersSelectAll=true;"
                    [disabled]="transfersSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="transfersSelectAll = false;"
                    [disabled]="!transfersSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(transfersSelection,row) : null"
                        [checked]="tcUtilsArray.contains(transfersSelection,row) || transfersSelectAll"
                        [disabled]="transfersSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transfer_to_store_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'from')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsArray.getById(stores,element.transfer_to_store_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="transfer_from_store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general', 'to')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{  tcUtilsArray.getById(stores,element.transfer_from_store_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'item')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsArray.getById(items, element.item_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ledger_entry_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'ledger_entry')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{  tcUtilsArray.getById(ledgerEntries, element.ledger_entry_id)?.batch }}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="transfersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: transfersDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(transfersSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="transfersTotalCount"
                   [ngStyle]="{display: transfersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>


