
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-door-open"></mat-icon>
     surgery_room  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchSurgeryRooms();" *ngIf="tcAuthorization.canRead('surgery_rooms')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addSurgeryRoom();" *ngIf="tcAuthorization.canCreate('surgery_rooms')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="surgeryRoomSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="surgeryRoomPersist.surgeryRoomSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="surgeryRoomSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="surgeryRoomIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let surgeryRoom of surgeryRoomsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('surgery_rooms') || tcAuthorization.canDelete('surgery_rooms')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editSurgeryRoom(surgeryRoom)" *ngIf="tcAuthorization.canUpdate('surgery_rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteSurgeryRoom(surgeryRoom)" *ngIf="tcAuthorization.canDelete('surgery_rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{surgeryRoom.name}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(bedPersist.bed_status, surgeryRoom.status)?.name)}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchSurgeryRooms.length >0 || surgeryRoomSelectAll">
        <button mat-button (click)="downloadSurgeryRooms()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{surgeryRoomSelectAll ? surgeryRoomsTotalCount : surgeryRoomSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="surgeryRoomsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(surgeryRoomsData,surgeryRoomSelection) "
              [checked]=" tcUtilsArray.isAllSelected(surgeryRoomsData,surgeryRoomSelection) || surgeryRoomSelectAll"
              [indeterminate]="surgeryRoomSelection.length <surgeryRoomsData.length && surgeryRoomSelection.length>0"
              [disabled]="surgeryRoomSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="surgeryRoomSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #surgeryRoomSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="surgeryRoomSelectAll=true;" [disabled]="surgeryRoomSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="surgeryRoomSelectAll = false;" [disabled]="!surgeryRoomSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(surgeryRoomSelection,row) : null"
              [checked]="tcUtilsArray.contains(surgeryRoomSelection,row) || surgeryRoomSelectAll" [disabled]="surgeryRoomSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(bedPersist.bed_status, element.status)?.name)}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="surgeryRoomNavigator.surgeryRoomUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('surgery_rooms') || tcAuthorization.canDelete('surgery_rooms')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editSurgeryRoom(element)" *ngIf="tcAuthorization.canUpdate('surgery_rooms') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteSurgeryRoom(element)" *ngIf="tcAuthorization.canDelete('surgery_rooms')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="surgeryRoomsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: surgeryRoomsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(surgeryRoomSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="surgeryRoomsTotalCount"
        [ngStyle]="{display: surgeryRoomsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>