<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="lab_panelDetail">

                        <mat-form-field class="tc-full-stretch">
                          <mat-label>{{appTranslation.getText('laboratory','lab_order_id')}}</mat-label>
                          <input
                            matInput
                            placeholder="{{appTranslation.getText('laboratory','lab_order_id')}}"
                            type="text"
                            disabled
                            [(ngModel)]="labOrderName"
                            required
                          >
                          <button
                            mat-icon-button
                            matTooltip="{{appTranslation.getText('laboratory','lab_order_id')}}"
                            matSuffix
                            color="primary"
                            (click)="searchLabOrders()"
                          >
                            <mat-icon>search</mat-icon>
                          </button>
                        </mat-form-field>
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="lab_panelDetail.name" required>
                        </mat-form-field>
                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="{{appTranslation.getText('laboratory','price')}}" type="number"  [(ngModel)]="lab_panelDetail.price" required>
                        </mat-form-field>
                        <mat-form-field class="tc-full-stretch" >
                          <mat-select
                            placeholder="{{appTranslation.getText('financial', 'vat_status')}}"
                            [(value)]="lab_panelDetail.vat_status"
                            required>
                            <mat-option *ngFor="let etype of feePersist.VatStatus" [value]="etype.id">
                              {{appTranslation.getText('financial',tcUtilsArray.getEnum(feePersist.VatStatus, etype.id)?.name)}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    

  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
