
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-ambulance"></mat-icon>
     {{appTranslation.getText("patient","patient_referrals")}}
      </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPatientReferralForms();" *ngIf="tcAuthorization.canRead('patient_referrals')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPatientReferralForm();" *ngIf="tcAuthorization.canCreate('patient_referrals') && form_encounterPersist.encounter_is_active" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
      <mat-slide-toggle
      matInput
      labelPosition="before"
      class="tc-form-toggle" (change)="handleToggle($event)"
      required
      [checked]="false"
      >
      {{appTranslation.getText("patient", "show_current")}}
      </mat-slide-toggle>
      </h1>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="patientReferralFormSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="patientReferralFormPersist.patientReferralFormSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="patientReferralFormSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="patientReferralFormIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let patientReferralForm of patientReferralFormsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('patient_referrals') || tcAuthorization.canDelete('patient_referrals')) && form_encounterPersist.encounter_is_active">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

              <button mat-menu-item (click)="editPatientReferralForm(patientReferralForm)" *ngIf="tcAuthorization.canUpdate('patient_referrals')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePatientReferralForm(patientReferralForm)" *ngIf="tcAuthorization.canDelete('patient_referrals')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","from_hospital")}}</span>
            {{patientReferralForm.from}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","to_hospital")}}</span>
            {{patientReferralForm.to}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","patient")}}</span>
            {{patientReferralForm.patient}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","clinical_findings")}}</span>
            {{patientReferralForm.clinical_findings}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","diagnosis")}}</span>
            {{patientReferralForm.diagnosis}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","investigation_results")}}</span>
            {{patientReferralForm.investigation_results}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","treatment_given")}}</span>
            {{patientReferralForm.treatment_given}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","reason_for_referral")}}</span>
            {{patientReferralForm.reason_for_referral}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("patient","referring_physician")}}</span>
            {{patientReferralForm.referring_physician}}
          </div><div class="tc-detail-field">
            <span>{{appTranslation.getText("general","telephone")}}</span>
            {{patientReferralForm.phone_no}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

      <mat-toolbar *ngIf="searchPatientReferralForms.length >0 || patientReferralFormSelectAll">
        <button mat-button (click)="downloadPatientReferralForms()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{patientReferralFormSelectAll ? patientReferralFormsTotalCount : patientReferralFormSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="patientReferralFormsData" matSort class="tc-hide-on-mobile">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(patientReferralFormsData,patientReferralFormSelection) "
              [checked]=" tcUtilsArray.isAllSelected(patientReferralFormsData,patientReferralFormSelection) || patientReferralFormSelectAll"
              [indeterminate]="patientReferralFormSelection.length <patientReferralFormsData.length && patientReferralFormSelection.length>0"
              [disabled]="patientReferralFormSelectAll">
            </mat-checkbox>

            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="patientReferralFormSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #patientReferralFormSelectAllMenu="matMenu">

              <button mat-menu-item (click)="patientReferralFormSelectAll=true;" [disabled]="patientReferralFormSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="patientReferralFormSelectAll = false;" [disabled]="!patientReferralFormSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>

            </mat-menu>

          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(patientReferralFormSelection,row) : null"
              [checked]="tcUtilsArray.contains(patientReferralFormSelection,row) || patientReferralFormSelectAll" [disabled]="patientReferralFormSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="to_hospital">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","to_hospital")}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.to_hospital}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="clinical_findings">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","clinical_findings")}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.clinical_findings}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="diagnosis">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","diagnosis")}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.diagnosis}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="investigation_results">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","investigation_results")}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.investigation_results}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="treatment_given">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","treatment_given")}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.treatment_given}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="reason_for_referral">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","reason_for_referral")}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.reason_for_referral}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="referring_physician">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","referring_physician")}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getDoctor(element.referring_physician)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="phone_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","telephone")}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.phone_no}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('patient_referrals') || tcAuthorization.canDelete('patient_referrals'))">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editPatientReferralForm(element)" *ngIf="tcAuthorization.canUpdate('patient_referrals') && form_encounterPersist.encounter_is_active">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePatientReferralForm(element)" *ngIf="tcAuthorization.canDelete('patient_referrals') && form_encounterPersist.encounter_is_active">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
              <button mat-menu-item (click)="printReferral(element, false)">
                <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
                <span>{{appTranslation.getText("general", "print")}} </span>
                </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="patientReferralFormsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: patientReferralFormsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patientReferralFormSelection,row)}"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="patientReferralFormsTotalCount"
        [ngStyle]="{display: patientReferralFormsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
