<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-door-open"></mat-icon>
    Ward
  </h3>
  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchBedroomtypes()"
    *ngIf="tcAuthorization.canRead('wards')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button
    mat-button
    (click)="addBedroomtype()"
    *ngIf="tcAuthorization.canCreate('wards')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="bedroomtypesSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="bedroomtypePersist.bedroomtypeSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="bedroomtypesSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="bedroomtypesIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let bedroomtype of bedroomtypesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('wards') ||
              tcAuthorization.canDelete('wards')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editBedroomtype(bedroomtype)"
              *ngIf="tcAuthorization.canUpdate('wards')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteBedroomtype(bedroomtype)"
              *ngIf="tcAuthorization.canDelete('wards')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "name") }}</span>
          {{ bedroomtype.name }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "remark") }}</span>
          {{ bedroomtype.remark }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar
      *ngIf="bedroomtypesSelection.length > 0 || bedroomtypesSelectAll"
    >
      <button mat-button (click)="downloadBedroomtypes()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
        >{{
          bedroomtypesSelectAll
            ? bedroomtypesTotalCount
            : bedroomtypesSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table
      [dataSource]="bedroomtypesData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                bedroomtypesData,
                bedroomtypesSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                bedroomtypesData,
                bedroomtypesSelection
              ) || bedroomtypesSelectAll
            "
            [indeterminate]="
              bedroomtypesSelection.length < bedroomtypesData.length &&
              bedroomtypesSelection.length > 0
            "
            [disabled]="bedroomtypesSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="bedroomtypesSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #bedroomtypesSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="bedroomtypesSelectAll = true"
              [disabled]="bedroomtypesSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="bedroomtypesSelectAll = false"
              [disabled]="!bedroomtypesSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(bedroomtypesSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(bedroomtypesSelection, row) ||
              bedroomtypesSelectAll
            "
            [disabled]="bedroomtypesSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="bedroomtypeNavigator.bedroomtypeUrl(element.id)"
            class="tc-link"
            >{{ element.id }}</a
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "name")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a
          [routerLink]="bedroomtypeNavigator.bedroomtypeUrl(element.id)"
          class="tc-link"
          > {{ element.name }}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="store_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          store name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.store_name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "remark")
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.remark }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              tcAuthorization.canUpdate('wards') ||
              tcAuthorization.canDelete('wards')
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <button
              mat-menu-item
              (click)="editBedroomtype(element)"
              *ngIf="tcAuthorization.canUpdate('wards')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("general", "edit") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="deleteBedroomtype(element)"
              *ngIf="tcAuthorization.canDelete('wards')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="bedroomtypesDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: bedroomtypesDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(bedroomtypesSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="bedroomtypesTotalCount"
      [ngStyle]="{ display: bedroomtypesTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
