<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="hemoPerformedDetail"> 

   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Sub Type" type="number"  [(ngModel)]="hemoPerformedDetail.sub_type" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Type" type="number"  [(ngModel)]="hemoPerformedDetail.type" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Start Time" type="number"  [(ngModel)]="hemoPerformedDetail.start_time" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="End Time" type="number"  [(ngModel)]="hemoPerformedDetail.end_time" required>
                          </mat-form-field>                    
                              
                          
                          <mat-form-field class="tc-full-stretch">
                            <mat-label> Machine Selection</mat-label>
                            <input matInput disabled [(ngModel)]="machineId"/>
                            <button
                              mat-icon-button
                              matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
                              matSuffix
                              color="primary"
                              (click)="searchMachine()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Day" type="number"  [(ngModel)]="hemoPerformedDetail.day" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Blood Flow" type="text"  [(ngModel)]="hemoPerformedDetail.blood_flow" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="uf" type="text"  [(ngModel)]="hemoPerformedDetail.uf" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Dialysate No" type="text"  [(ngModel)]="hemoPerformedDetail.dialysate_no" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Dialysate Fluid" type="text"  [(ngModel)]="hemoPerformedDetail.dialysate_fluid" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Acetate" type="text"  [(ngModel)]="hemoPerformedDetail.acetate" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Bolus" type="text"  [(ngModel)]="hemoPerformedDetail.bolus" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="During Dialysis" type="text"  [(ngModel)]="hemoPerformedDetail.during_dialysis" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="Dialyser Type" type="text"  [(ngModel)]="hemoPerformedDetail.dialyser_type" required>
                          </mat-form-field>  



                          <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="complication" type="text"  [(ngModel)]="hemoPerformedDetail.complication" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="iv_fluid" type="text"  [(ngModel)]="hemoPerformedDetail.iv_fluid" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="other" type="text"  [(ngModel)]="hemoPerformedDetail.other" required>
                        </mat-form-field>  
                        
                        
                        </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>