

  <ng-template #body>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="beforeSkinIncisionDetail">

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.induction" name="induction">
    <mat-radio-button value="confirmed" >Confirm all team members have
      introduced themselves by name and role.</mat-radio-button>&nbsp;
</mat-radio-group>  

<br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.patient_name_procedure_confirmation" name="patient_name_procedure_confirmation">
  <mat-radio-button value="confirmed" >Confirm the patient’s name, procedure,
    and where the incision will be made.</mat-radio-button>&nbsp;
</mat-radio-group>
                  
<br><br>

<mat-label class="labels">Has antibiotic prophylaxis been given within
  the last 60 minutes?  </mat-label>    <br>
<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.has_antibiotic_prophylaxis" name="has_antibiotic_prophylaxis">
  &nbsp;<mat-radio-button value="No" >No</mat-radio-button> <br>
  &nbsp;<mat-radio-button value="Yes" >Yes, applicable</mat-radio-button>&nbsp;
</mat-radio-group>   

<br><br>
<mat-label class="labels">Anticipated Critical Events  </mat-label>  
<br>
<mat-label class="labels">To Surgeon: </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.critical_or_non_routine_steps" name="critical_or_non_routine_steps">
  &nbsp;<mat-radio-button value="critical" >What are the critical or non-routine steps?</mat-radio-button>&nbsp;
</mat-radio-group> 

<br>
<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.case_take" name="case_take">
  &nbsp;<mat-radio-button value="how_long" >How long will the case take?</mat-radio-button>
</mat-radio-group>
<br>
<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.anticipated_blood_loss" name="anticipated_blood_loss">
  &nbsp;<mat-radio-button value="anticipated_blood_loss" >What is the anticipated blood loss?</mat-radio-button>;
</mat-radio-group>

<br><br>
<mat-label class="labels">To Anaesthetist: </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.patient_specific_concerns" name="patient_specific_concerns">
  &nbsp;<mat-radio-button value="patient_specific_concerns" >Are there any patient-specific concerns?</mat-radio-button>&nbsp;
</mat-radio-group>    

<br><br>
<mat-label class="labels">To Nursing Team: </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.has_sterility" name="has_sterility">
  &nbsp;<mat-radio-button value="has_sterility" >Has sterility (including indicator results)
    been confirmed?</mat-radio-button>
    
</mat-radio-group>  
<br>
<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.equipment_issues" name="equipment_issues">
  &nbsp;<mat-radio-button value="equipment_issues" >Are there equipment issues or any concerns?</mat-radio-button>
    
</mat-radio-group>  
<br><br>
<mat-label class="labels">Is essential imaging displayed? </mat-label>    <br><br>

<mat-radio-group aria-label="Select an option" [(ngModel)]="beforeSkinIncisionDetail.essential_imaging_displayed" name="essential_imaging_displayed">
  &nbsp;<mat-radio-button value="yes" >Yes</mat-radio-button> <br>
  &nbsp;<mat-radio-button value="Not" >Not applicable</mat-radio-button>
    
</mat-radio-group>  
<br><br>
     </div>
  </ng-template>

  
  <div class="tc-flex-row" *ngIf="!id">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content  *ngIf="!id">
    <ng-container *ngTemplateOutlet="body"> </ng-container>
</div>


<div *ngIf="id">
  <ng-container *ngTemplateOutlet="body"> </ng-container>
  <mat-action-row>
    <button mat-button (click)="onUpdate()"  
    [disabled]="!canSubmit()" *ngIf="tcAuthorization.canUpdate('before_skin_incisions') ">
      {{appTranslation.getText("general", "save")}}
    </button>
  </mat-action-row>
</div>
  
  <div mat-dialog-actions *ngIf="!id">
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>