<h1 mat-dialog-title>
  Procedure_Order Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="procedure_ordersSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="procedure_orderPersist.procedure_orderSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="procedure_ordersSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="procedure_ordersIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="procedure_ordersData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(procedure_ordersData,procedure_ordersSelection) "
            [checked]=" tcUtilsArray.isAllSelected(procedure_ordersData,procedure_ordersSelection)"
            [indeterminate]="procedure_ordersSelection.length <procedure_ordersData.length && procedure_ordersSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="procedure_ordersSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{procedure_ordersSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="procedure_ordersSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(procedure_ordersSelection,row) : null"
                        [checked]="tcUtilsArray.contains(procedure_ordersSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(procedure_ordersSelection,row)"
                        *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="procedure_order_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>procedure_order_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.procedure_order_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="provider_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>provider_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.provider_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date_collected">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date_collected</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date_collected}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date_ordered">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date_ordered</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date_ordered}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_priority">
        <mat-header-cell *matHeaderCellDef mat-sort-header>order_priority</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.order_priority}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>order_status</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.order_status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_instructions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_instructions</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_instructions}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="activity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>activity</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.activity}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="control_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>control_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.control_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lab_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lab_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lab_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="specimen_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>specimen_type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.specimen_type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="specimen_location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>specimen_location</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.specimen_location}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="specimen_volume">
        <mat-header-cell *matHeaderCellDef mat-sort-header>specimen_volume</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.specimen_volume}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date_transmitted">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date_transmitted</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date_transmitted}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="clinical_hx">
        <mat-header-cell *matHeaderCellDef mat-sort-header>clinical_hx</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.clinical_hx}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="external_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>external_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.external_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="history_order">
        <mat-header-cell *matHeaderCellDef mat-sort-header>history_order</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.history_order}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="order_diagnosis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>order_diagnosis</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.order_diagnosis}}</mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="procedure_ordersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: procedure_ordersDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedure_ordersSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="procedure_ordersTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" procedure_ordersSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
