
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
   radiology_data  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchRadiologyDatas();" *ngIf="tcAuthorization.canRead('radiology_datas')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addRadiologyData();" *ngIf="tcAuthorization.canCreate('radiology_datas')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="radiologyDataSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="radiologyDataPersist.radiologyDataSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="radiologyDataSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="radiologyDataIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let radiologyData of radiologyDatasData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('radiology_datas') || tcAuthorization.canDelete('radiology_datas')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editRadiologyData(radiologyData)" *ngIf="tcAuthorization.canUpdate('radiology_datas')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteRadiologyData(radiologyData)" *ngIf="tcAuthorization.canDelete('radiology_datas')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
<div class="tc-detail-field">
          <span>encounter_id</span>
          {{radiologyData.encounter_id}}
        </div><div class="tc-detail-field">
          <span>patient_id</span>
          {{radiologyData.patient_id}}
        </div><div class="tc-detail-field">
          <span>rad_order_id</span>
          {{radiologyData.rad_order_id}}
        </div><div class="tc-detail-field">
          <span>description</span>
          {{radiologyData.description}}
        </div><div class="tc-detail-field">
          <span>ordered_date</span>
          {{radiologyData.ordered_date}}
        </div><div class="tc-detail-field">
          <span>radiographer_id</span>
          {{radiologyData.radiographer_id}}
        </div><div class="tc-detail-field">
          <span>result_date</span>
          {{radiologyData.result_date}}
        </div><div class="tc-detail-field">
          <span>radiologist_id</span>
          {{radiologyData.radiologist_id}}
        </div><div class="tc-detail-field">
          <span>result_description</span>
          {{radiologyData.result_description}}
        </div><div class="tc-detail-field">
          <span>result_conclusion</span>
          {{radiologyData.result_conclusion}}
        </div><div class="tc-detail-field">
          <span>approved_date</span>
          {{radiologyData.approved_date}}
        </div><div class="tc-detail-field">
          <span>status</span>
          {{radiologyData.status}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchRadiologyDatas.length >0 || radiologyDataSelectAll">
      <button mat-button (click)="downloadRadiologyDatas()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{radiologyDataSelectAll ? radiologyDatasTotalCount : radiologyDataSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="radiologyDatasData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(radiologyDatasData,radiologyDataSelection) "
            [checked]=" tcUtilsArray.isAllSelected(radiologyDatasData,radiologyDataSelection) || radiologyDataSelectAll"
            [indeterminate]="radiologyDataSelection.length <radiologyDatasData.length && radiologyDataSelection.length>0"
            [disabled]="radiologyDataSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="radiologyDataSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #radiologyDataSelectAllMenu="matMenu">

            <button mat-menu-item (click)="radiologyDataSelectAll=true;" [disabled]="radiologyDataSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="radiologyDataSelectAll = false;" [disabled]="!radiologyDataSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(radiologyDataSelection,row) : null"
            [checked]="tcUtilsArray.contains(radiologyDataSelection,row) || radiologyDataSelectAll" [disabled]="radiologyDataSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="rad_order_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rad_order_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rad_order_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ordered_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ordered_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ordered_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="radiographer_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>radiographer_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.radiographer_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="radiologist_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>radiologist_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.radiologist_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_description}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="result_conclusion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>result_conclusion
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.result_conclusion}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="approved_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>approved_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.approved_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="radiologyDataNavigator.radiologyDataUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('radiology_datas') || tcAuthorization.canDelete('radiology_datas')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editRadiologyData(element)" *ngIf="tcAuthorization.canUpdate('radiology_datas') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteRadiologyData(element)" *ngIf="tcAuthorization.canDelete('radiology_datas')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="radiologyDatasDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: radiologyDatasDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(radiologyDataSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="radiologyDatasTotalCount"
      [ngStyle]="{display: radiologyDatasTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>