<div class="tc-flex-row">
    <h1 class="mat-headline">
      {{ title }}
    </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="admissionFormDetail">
  
    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="{{ appTranslation.getText('patient', 'condition') }}" [(value)]="admissionFormDetail.condition" required>
        <mat-option *ngFor="let etype of persist.discharge_condition" [value]="etype.id">
          {{ appTranslation.getText("patient", etype.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="tc-full-stretch" >
      <textarea
        matInput
        placeholder="{{ appTranslation.getText('general', 'remark') }}"
        type="text"
        [(ngModel)]="admissionFormDetail.remark"
        rows="5"
      >
      </textarea>
    </mat-form-field>

     </div>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">
      {{ appTranslation.getText("general", "cancel") }}
    </button>
    <button
      mat-button
      (click)="dispatchPatient()"
      [disabled]="!canSubmit()"
      cdkFocusInitial
    >
      {{ appTranslation.getText("patient", "dispatch") }}
    </button>
  </div>
  
