<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <div class="tc-padding">
        <h1 class="mat-headline ">Eventlog Detail</h1>
        <span class="tc-text-muted ">{{eventlogDetail.event_type}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == eventlogTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = eventlogTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>



    <div [ngClass]="activeTab==eventlogTabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general","overview")}}
        </h1>
      </mat-toolbar>
      <div class="tc-padding">
        <mat-card>

          <mat-card-content>
            <p class="tc-detail-field">
              <span>event_type </span>
              {{eventlogDetail.event_type}}
            </p>

            <p class="tc-detail-field">
              <span>log_text </span>
              {{eventlogDetail.log_text}}
            </p>

            <p class="tc-detail-field">
              <span>has_more </span>
              {{eventlogDetail.has_more}}
            </p>

            <p class="tc-detail-field">
              <span>target_id </span>
              {{eventlogDetail.target_id}}
            </p>

            <p class="tc-detail-field">
              <span>operator_id </span>
              {{eventlogDetail.operator_id}}
            </p>

            <p class="tc-detail-field">
              <span>log_time </span>
              {{eventlogDetail.log_time}}
            </p>

          </mat-card-content>
         
        </mat-card>
        
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>