
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
     Item Expire Date Report  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchencounterPersistReport();" *ngIf="tcAuthorization.canRead('item_expire_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="itemExpireDateReportearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="itemPersist.itemSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemExpireDateReportearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="itemPersist.store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="itemPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemPersist.store_id = null; itemPersist.store_name = null ; searchencounterPersistReport()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="from_date"
        [matDatepicker]="from_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="from_date.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="from_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="to_date"
        [matDatepicker]="to_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="to_date.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="to_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="itemExpireDateReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>  
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let itemExpireDateReport of itemExpireDateReportData" class="tc-card">
        <mat-card-content>
  <div class="tc-detail-field">
            <span>item_name</span>
            {{itemExpireDateReport.item_name}}
          </div><div class="tc-detail-field">
            <span>batch_no</span>
            {{itemExpireDateReport.batch_no}}
          </div><div class="tc-detail-field">
            <span>unit</span>
            {{itemExpireDateReport.unit}}
          </div>
          <div class="tc-detail-field">
            <span>quantity</span>
            {{itemExpireDateReport.quantity}}
          </div>
          <div class="tc-detail-field">
            <span>expire_date</span>
            {{itemExpireDateReport.expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div> 
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="itemExpireDateReportselection.length >0 || itemExpireDateReportselectAll">
        <button mat-button (click)="downloaditemExpireDateReport()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{itemExpireDateReportselectAll ? itemExpireDateReportTotalCount : itemExpireDateReportselection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="itemExpireDateReportData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(itemExpireDateReportData,itemExpireDateReportselection) "
              [checked]=" tcUtilsArray.isAllSelected(itemExpireDateReportData,itemExpireDateReportselection) || itemExpireDateReportselectAll"
              [indeterminate]="itemExpireDateReportselection.length <itemExpireDateReportData.length && itemExpireDateReportselection.length>0"
              [disabled]="itemExpireDateReportselectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemExpireDateReportselectAllMenu"></mat-icon>
            </button>
            <mat-menu #itemExpireDateReportselectAllMenu="matMenu">
  
              <button mat-menu-item (click)="itemExpireDateReportselectAll=true;" [disabled]="itemExpireDateReportselectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="itemExpireDateReportselectAll = false;" [disabled]="!itemExpireDateReportselectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(itemExpireDateReportselection,row) : null"
              [checked]="tcUtilsArray.contains(itemExpireDateReportselection,row) || itemExpireDateReportselectAll" [disabled]="itemExpireDateReportselectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="item_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>item_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{itemNavigator.itemName(element)}}</mat-cell>
        </ng-container>
    <ng-container style="flex-direction: column; align-items: flex-start" matColumnDef="batch_nos">
          <mat-header-cell *matHeaderCellDef>batch_no
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div *ngIf="element == expandedElement">
            <div class="detail" *ngFor="let detail of element.convertedDetail">
                {{detail.batch_no}}
            </div>
        </div>
        <div *ngIf="element != expandedElement">
                {{element.convertedDetail[0].batch_no}}
        </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.unit}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantities">
            <mat-header-cell *matHeaderCellDef>quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div *ngIf="element == expandedElement" style="width: 100%">
                    <div class="detail" *ngFor="let detail of element.convertedDetail; let i = index">
                        {{detail.remaining}}
                    </div>
                </div>
                <div *ngIf="element != expandedElement">
                    {{element.convertedDetail[0].remaining}}
            </div>
            </mat-cell>
          </ng-container>
        <ng-container matColumnDef="expire_dates">
          <mat-header-cell *matHeaderCellDef>expire_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div *ngIf="element == expandedElement">
            <div class="detail" *ngFor="let detail of element.convertedDetail">
                {{detail.expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
            </div>
        </div>
        <div *ngIf="element != expandedElement">
            {{element.convertedDetail[0].expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
    </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="expand">
            <th style="border: none;" mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td style="border: none;" mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element && element.convertedDetail.length > 1">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element && element.convertedDetail.length > 1">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>
  <mat-header-row *matHeaderRowDef="itemExpireDateReportDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemExpireDateReportDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemExpireDateReportselection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemExpireDateReportTotalCount"
        [ngStyle]="{display: itemExpireDateReportTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
