<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="radiologyDataDetail">
                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="encounter_id" type="text"  [(ngModel)]="radiologyDataDetail.encounter_id" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="patient_id" type="text"  [(ngModel)]="radiologyDataDetail.patient_id" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="rad_order_id" type="text"  [(ngModel)]="radiologyDataDetail.rad_order_id" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="description" type="text"  [(ngModel)]="radiologyDataDetail.description" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="ordered_date" type="text"  [(ngModel)]="radiologyDataDetail.ordered_date" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="radiographer_id" type="text"  [(ngModel)]="radiologyDataDetail.radiographer_id" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="result_date" type="text"  [(ngModel)]="radiologyDataDetail.result_date" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="radiologist_id" type="text"  [(ngModel)]="radiologyDataDetail.radiologist_id" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="result_description" type="text"  [(ngModel)]="radiologyDataDetail.result_description" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="result_conclusion" type="text"  [(ngModel)]="radiologyDataDetail.result_conclusion" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="approved_date" type="text"  [(ngModel)]="radiologyDataDetail.approved_date" required>
                        </mat-form-field>                    
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="status" type="text"  [(ngModel)]="radiologyDataDetail.status" required>
                        </mat-form-field>  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>