<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>
  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close" (click)="onCancel()">
    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

   <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="event_type" [(ngModel)]="item.event_type" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="log_text" [(ngModel)]="item.log_text" required>
                        </mat-form-field>

<div class="tc-flex-column">
                                <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="item.has_more" required> has_more </mat-slide-toggle>
                         </div>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="target_id" [(ngModel)]="item.target_id" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="operator_id" [(ngModel)]="item.operator_id" required>
                        </mat-form-field>

 <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="log_time" [(ngModel)]="item.log_time" required>
                        </mat-form-field>


 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew? onAdd(): onUpdate()"
          [disabled]=" !item.log_text ||  item.log_text=='' || !item.target_id ||  item.target_id=='' || !item.operator_id ||  item.operator_id=='' "
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
