<h1 mat-dialog-title>
  supplier Selection
</h1><div mat-dialog-content>  <mat-form-field>
  <input matInput [formControl]="supplierSearchTextBox"
    placeholder='{{appTranslation.getText("general","search_text")}} '>
  <button mat-button *ngIf="supplierPersist.supplierSearchText" matSuffix mat-icon-button aria-label="Clear"
    (click)="supplierSearchTextBox.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="tc-loading" *ngIf="supplierIsLoading">
  <mat-spinner></mat-spinner>
</div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="suppliersData" matSort class="tc-hide-on-mobile">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)=" tcUtilsArray.toggleSelectAll(suppliersData,supplierSelection) "
          [checked]=" tcUtilsArray.isAllSelected(suppliersData,supplierSelection) || supplierSelectAll"
          [indeterminate]="supplierSelection.length <suppliersData.length && supplierSelection.length>0"
          [disabled]="supplierSelectAll">
        </mat-checkbox>

        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="supplierSelectAllMenu"></mat-icon>
        </button>
        <mat-menu #supplierSelectAllMenu="matMenu">

          <button mat-menu-item (click)="supplierSelectAll=true;" [disabled]="supplierSelectAll">
            {{appTranslation.getText("general", "all")}}
          </button>
          <button mat-menu-item (click)="supplierSelectAll = false;" [disabled]="!supplierSelectAll">
            {{appTranslation.getText("general", "none")}}
          </button>
        </mat-menu>

      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? tcUtilsArray.toggleSelection(supplierSelection,row) : null"
          [checked]="tcUtilsArray.contains(supplierSelection,row) || supplierSelectAll" [disabled]="supplierSelectAll">
        </mat-checkbox>
      </mat-cell>
    </ng-container>  <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="tin_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>tin_number
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tin_number}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="phone_number_1">
      <mat-header-cell *matHeaderCellDef mat-sort-header>phone_number_1
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phone_number_1}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="phone_number_2">
      <mat-header-cell *matHeaderCellDef mat-sort-header>phone_number_2
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phone_number_2}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="phone_number_3">
      <mat-header-cell *matHeaderCellDef mat-sort-header>phone_number_3
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phone_number_3}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>email
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>address
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
    </ng-container>
<mat-header-row *matHeaderRowDef="suppliersDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: suppliersDisplayedColumns;"
      [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(supplierSelection,row)}"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
    [pageSize]="tcUtilsArray.defaultPageSize" [length]="suppliersTotalCount"
    [ngStyle]="{display: suppliersTotalCount > 0? '':'none'}"></mat-paginator>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" supplierSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
