<mat-sidenav-container class="tc-sidebar-container" fullscreen>

    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">
    <div class="tc-sidebar-inner">


      <div class="tc-padding" *ngIf="!item_ledger_entryLoading">
        <h1 class="mat-h1 tc-dashboard-block-header ">  {{item_ledger_entryDetail.item_type}} </h1>
        <span class="tc-dashboard-block-header-description"> </span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == itemLedgerentryTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = itemLedgerentryTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>

      <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </p>

    </div>
  </mat-sidenav>


  <mat-sidenav-content>
    <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
    <div [ngClass]="activeTab==itemLedgerentryTabs.overview? '':'tc-hidden'">
        <mat-toolbar class="tc-toolbar-secondary ">
          <h1 class="mat-heading">
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </h1>
          <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
          </button>
          <button mat-button (click)=" reload()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </mat-toolbar>

        <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                                <mat-accordion>

                                      <mat-expansion-panel expanded="true">
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                            {{appTranslation.getText("general","basicdetails")}}
                                          </mat-panel-title>
                                        </mat-expansion-panel-header>

                                            <div *ngIf="!item_ledger_entryLoading">
                                                <p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','type')}} </span>
                            {{ appTranslation.getText(
                                "inventory",
                                tcUtilsArray.getEnum(
                                  item_ledger_entryPersist.entry_type,
                                  item_ledger_entryDetail.entry_type
                                )?.name)
                                }}
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','item_type')}} </span>
                            {{
                                appTranslation.getText(
                                  "inventory",
                                  tcUtilsArray.getEnum(
                                    item_ledger_entryPersist.item_type,
                                    item_ledger_entryDetail.item_type
                                  )?.name)
                                }}
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('inventory','item')}} </span>
                            <a
                            [routerLink]="itemNavigator.itemUrl(item_ledger_entryDetail.item_id)"
                            routerLinkActive="router-link-active"
                          >
                          {{ this.tcUtilsArray.getById(this.items, item_ledger_entryDetail.item_id)?.name }}
                        </a>
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','quantity')}} </span>
                            {{item_ledger_entryDetail.quantity}}
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('inventory','store')}} </span>
                            <a [routerLink]="storeNavigator.storeUrl(item_ledger_entryDetail.store_id)">
                                {{ this.tcUtilsArray.getById(stores,item_ledger_entryDetail.store_id)?.name }}
                            </a>
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('inventory','batch_no')}} </span>
                            {{item_ledger_entryDetail.batch}}
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','expire_date')}} </span>
                            {{ tcUtilsDate.toDate(item_ledger_entryDetail.expire_date)|date:'MMM dd, yyyy. h:mm a'}}
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','description')}} </span>
                            {{item_ledger_entryDetail.description}}
                        </p>

<p class="tc-detail-field">
                            <span>{{appTranslation.getText('general','date_of_registration')}} </span>
                            {{ tcUtilsDate.toDate(item_ledger_entryDetail.registration_date)|date:'MMM dd, yyyy. h:mm a'}}
                        </p>

                                            </div>
                                        <mat-action-row>
                                           <button mat-button (click)="editItem_Ledger_Entry()" *ngIf="tcAuthorization.canUpdate('item_ledger_entrys') ">
                                             {{appTranslation.getText("general", "edit")}}
                                           </button>
                                         </mat-action-row>

                                       </mat-expansion-panel>
                                </mat-accordion>
                        </div>
                     </div>
                    </div>
                    <div class="tc-equal-block"></div>
        </div>
  </mat-sidenav-content>
 </mat-sidenav-container>
