
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-vial"></mat-icon>
     sample_collection  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchSampleCollections();" *ngIf="tcAuthorization.canRead('sample_collections')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="sampleCollectionSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="sampleCollectionPersist.sampleCollectionSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="sampleCollectionSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          '{{appTranslation.getText("general", "date")}}'
        [formControl]="dateTextField"
        [matDatepicker]="date_of_schedule"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="date_of_schedule"
      ></mat-datepicker-toggle>
      <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
      <button mat-button *ngIf="dateTextField.value !== ''" matSuffix mat-icon-button
      aria-label="Clear" (click)="dateTextField.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="sampleCollectionIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let sampleCollection of sampleCollectionsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <!-- <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('sample_collections') || tcAuthorization.canDelete('sample_collections')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editSampleCollection(sampleCollection)" *ngIf="tcAuthorization.canUpdate('sample_collections')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteSampleCollection(sampleCollection)" *ngIf="tcAuthorization.canDelete('sample_collections')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu> -->
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>sample_type</span>
            {{sampleCollection.sample_type}}
          </div><div class="tc-detail-field">
            <span>date_of_collection</span>
            {{sampleCollection.date_of_collection}}
          </div><div class="tc-detail-field">
            <span>anatomic_site</span>
            {{tcUtilsArray.getEnum(sampleCollectionPersist.AnatomicCite, sampleCollection.anatomic_site)?.name}}
          </div><div class="tc-detail-field">
            <span>patient_name</span>
            {{sampleCollection.patient_name}}
          </div><div class="tc-detail-field">
            <span>collector_id</span>
            {{sampleCollection.collector_name}}
          </div><div class="tc-detail-field">
            <span>sample_status</span>
            {{tcUtilsArray.getEnum(labPersist.selected_order, sampleCollection.sample_status)?.name}}
          </div><div class="tc-detail-field">
            <span>reject_reason</span>
            {{sampleCollection.sample_status === selected_orders_status.rejected ? sampleCollection.reject_reason : ""}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchSampleCollections.length >0 || sampleCollectionSelectAll">
        <button mat-button (click)="downloadSampleCollections()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{sampleCollectionSelectAll ? sampleCollectionsTotalCount : sampleCollectionSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="sampleCollectionsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(sampleCollectionsData,sampleCollectionSelection) "
              [checked]=" tcUtilsArray.isAllSelected(sampleCollectionsData,sampleCollectionSelection) || sampleCollectionSelectAll"
              [indeterminate]="sampleCollectionSelection.length <sampleCollectionsData.length && sampleCollectionSelection.length>0"
              [disabled]="sampleCollectionSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="sampleCollectionSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #sampleCollectionSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="sampleCollectionSelectAll=true;" [disabled]="sampleCollectionSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="sampleCollectionSelectAll = false;" [disabled]="!sampleCollectionSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(sampleCollectionSelection,row) : null"
              [checked]="tcUtilsArray.contains(sampleCollectionSelection,row) || sampleCollectionSelectAll" [disabled]="sampleCollectionSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="sample_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>sample_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(sampleCollectionPersist.SampleType, element.sample_type)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="date_of_collection">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date_of_collection
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date_of_collection)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="anatomic_site">
          <mat-header-cell *matHeaderCellDef mat-sort-header>anatomic_site
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(sampleCollectionPersist.AnatomicCite, element.anatomic_site)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="collector_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>collector_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.collector_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="sample_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>sample_status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(labPersist.selected_order, element.sample_status)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="reject_reason">
          <mat-header-cell *matHeaderCellDef mat-sort-header>reject_reason
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.sample_status === selected_orders_status.rejected ? element.reject_reason : ""}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="generated_sample_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Generated Sample</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- <a [routerLink]="sampleCollectionNavigator.sampleCollectionUrl(element.id)" class="tc-link"> -->
              {{element.generated_sample_id}}
            <!-- </a> -->
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('sample_collections') || tcAuthorization.canDelete('sample_collections')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editSampleCollection(element)" *ngIf="tcAuthorization.canUpdate('sample_collections') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteSampleCollection(element)" *ngIf="tcAuthorization.canDelete('sample_collections')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="sampleCollectionsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: sampleCollectionsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(sampleCollectionSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="sampleCollectionsTotalCount"
        [ngStyle]="{display: sampleCollectionsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>