    <mat-toolbar class="tc-toolbar-secondary" *ngIf="showBar">
      <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-heartbeat"></mat-icon>
        {{ appTranslation.getText("patient", "form_vitals") }}
      </h1>
      <button mat-button (click)="back()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)="searchForm_Vitalss()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>

      <button mat-button (click)="addForm_Vitals()" class="tc-link" *ngIf="tcAuthorization.canCreate('form_vitals') && form_encounterPersist.encounter_is_active">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      </button>

      <mat-checkbox [(ngModel)]="showVitals" *ngIf="tcAuthorization.canRead('form_vitals')">
        <p>
          {{appTranslation.getText("schedule", "show_vital_chart")}}
        </p>
      </mat-checkbox>
    </mat-toolbar>
    <div class="tc-padding">


      <mat-spinner diameter="50" *ngIf="form_vitalssLoading" class="tc-padding"></mat-spinner>

      <div *ngIf="showVitals" style="display: flex; align-items:center; flex-direction: column;">
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi">
        </ngx-charts-line-chart>
      </div>

      <div  class="tc-padding" [ngStyle]="{display: form_vitalssLoading || showVitals ? 'none':''}">
        <mat-form-field *ngIf="showBar">
          <input matInput [formControl]="form_vitalssSearchTextBox"
            placeholder="{{appTranslation.getText('general','search_text')}}" />
          <button mat-button *ngIf="form_vitalssSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form_vitalssSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-slide-toggle *ngIf="showBar"
        matInput
        labelPosition="before"
        class="tc-form-toggle" (change)="searchForm_Vitalss()"
        [(ngModel)]="form_encounterPersist.self"
        required
      >
        current vital
      </mat-slide-toggle>

        <div class="tc-table-container tc-full-stretch">
          <mat-toolbar *ngIf="form_vitalssSelected.length > 0 && form_encounterPersist.encounter_is_active">
            <button mat-button (click)="downloadForm_Vitalss()">
              <mat-icon>save_alt</mat-icon>
              <span>{{ appTranslation.getText("general", "download") }}
              </span>
            </button>
          </mat-toolbar>
          <div style="overflow-x: auto;">
          <mat-table [dataSource]="form_vitalssData" matSort style="overflow-x:visible">
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection action-table">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="
                    tcUtilsArray.toggleSelectAll(
                      form_vitalssData,
                      form_vitalssSelected
                    )
                  " [checked]="
                    tcUtilsArray.isAllSelected(
                      form_vitalssData,
                      form_vitalssSelected
                    )
                  " [indeterminate]="
                    form_vitalssSelected.length < form_vitalssData.length &&
                    form_vitalssSelected.length > 0
                  ">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection action-table">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="
                    $event
                      ? tcUtilsArray.toggleSelection(
                          form_vitalssSelected,
                          row
                        )
                      : null
                  " [checked]="tcUtilsArray.contains(form_vitalssSelected, row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>


            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "weight")
                }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.weight != -1" >
                  {{
                    getWeight(element.weight)
                    }}
                </span>
               </mat-cell>
            </ng-container>

            <ng-container matColumnDef="height">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "height")
                }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.height != -1" >
                {{
                getHeight(element.height)
                }}
              </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="temperature">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "temperature")
                }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.temperature != -1" >
                  <p [style.color]="getVitalSign(vital_sign.temprature,element.temperature) ? 'green' : 'red'">
                  {{getCentigrade(element.temperature)}}
                   </p></span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="temp_method">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "temp_method")
                }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.temp_method != -1" >
                {{
                appTranslation.getText("patient",
                tcUtilsArray.getEnum(form_encounterPersist.temp_method, element.temp_method)?.name)
                }} </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="pulse">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "pulse")
                }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.pulse != -1" >
                  <p [style.color]="getVitalSignWithAge(vital_sign_with_age.pulse_rate,element.pulse) ? 'green' : 'red'">
                {{element.pulse + " per min"
                }} </p></span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="BMI">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "BMI")
                }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.bmi != -1" >
                <p [style.color]="getVitalSign(vital_sign.bmi,element.bmi) ? 'green' : 'red'">
                  {{ element.bmi }}kg/m<sup>2</sup>
                </p> </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="BSA">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "bsa")
                }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.bsa != -1" >
                  {{ element.bsa }}m<sup>2</sup>
             </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="oxygen_saturation">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- {{appTranslation.getText("patient", "Respiratory_Rate") }}-->
                Respiratory Rate
                </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.oxygen_saturation != -1" ><p [style.color]="getVitalSignWithAge(vital_sign_with_age.respiratory_rate,element.oxygen_saturation) ? 'green' : 'red'">{{
                  valueOrEmtyString(element.oxygen_saturation, " bpm ")
                }}
              </p>
              </span></mat-cell>
            </ng-container>




            <ng-container matColumnDef="blood_pressure">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Blood Pressure</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.blood_pressure_systolic != -1" >
                <span [style.color]="getVitalSignWithAge(vital_sign_with_age.systolic_bp,element.blood_pressure_systolic)? 'green' : 'red'">{{
                  valueOrEmtyString(element.blood_pressure_systolic, "" )
                }}</span> / <span [style.color]="getVitalSignWithAge(vital_sign_with_age.diastolic_bp,element.blood_pressure_diastolic) ? 'green' : 'red'">{{
                  valueOrEmtyString(element.blood_pressure_diastolic, "" )
                  }} </span>
              </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="blood_pressure_systolic">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Blood Pressure Systolic</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.blood_pressure_systolic != -1" >
                <p [style.color]="getVitalSignWithAge(vital_sign_with_age.systolic_bp,element.blood_pressure_systolic)? 'green' : 'red'">{{
                  valueOrEmtyString(element.blood_pressure_systolic, "" )
                }}</p>
              </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="blood_pressure_diastolic">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Blood Pressure Diatolic</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.blood_pressure_diastolic != -1" >
                  <p [style.color]="getVitalSignWithAge(vital_sign_with_age.diastolic_bp,element.blood_pressure_diastolic) ? 'green' : 'red'">{{
                    valueOrEmtyString(element.blood_pressure_diastolic, "" )
                    }}
                  </p> </span></mat-cell>
            </ng-container>

            
            <ng-container matColumnDef="oxygen_saturation_spo2">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Oxygen Saturation</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.oxygen_saturation_spo2 != -1" ><p [style.color]="getVitalSign(vital_sign.oxygen_saturation,element.oxygen_saturation_spo2)? 'green' : 'red'">{{
                  valueOrEmtyString(element.oxygen_saturation_spo2, " %")
                }}</p></span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="head_circumference">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Head Circumference</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.head_circumference != -1"  [style.color]="getVitalSign(vital_sign.head_circumference,element.head_circumference) ?'green' : 'red'"> {{
                  valueOrEmtyString(element.head_circumference, "")
                }} </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="muac">
              <mat-header-cell *matHeaderCellDef mat-sort-header>MUAC</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.muac != -1" >{{
                  valueOrEmtyString(element.muac, "")
                }} </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="pain_score">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Pain Score</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.pain_score != -1" >
                  <p [style.color]="element.pain_score==100 ? 'green' : 'red'">
                  {{valueOrEmtyString(tcUtilsArray.getEnum(medicationPersist.PainStatus,element.pain_score )?.name, "")
                }}</p> </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="input">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Input</mat-header-cell>
              <mat-cell *matCellDef="let element">
                  {{valueOrEmtyString(element.input, "") }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="remark">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Remark</mat-header-cell>
              <mat-cell *matCellDef="let element">
                  {{valueOrEmtyString(element.remark, "") }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="output">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Output</mat-header-cell>
              <mat-cell *matCellDef="let element">
                  {{valueOrEmtyString(element.output, "") }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="gcs">
              <mat-header-cell *matHeaderCellDef mat-sort-header>GCS</mat-header-cell>
              <mat-cell *matCellDef="let element">
                  {{valueOrEmtyString(element.gcs, "") }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="rbs">
              <mat-header-cell *matHeaderCellDef mat-sort-header>RBS</mat-header-cell>
              <mat-cell *matCellDef="let element">
                  {{valueOrEmtyString(element.rbs, "") }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="urine_ketone">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Urine Ketone</mat-header-cell>
              <mat-cell *matCellDef="let element">
                  {{valueOrEmtyString(element.urine_ketone, "") }}</mat-cell>
            </ng-container>




            <ng-container matColumnDef="creation_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 150px">
                {{
                appTranslation.getText("patient", "created_at")
                }}

              </mat-header-cell>
              <mat-cell *matCellDef="let element" style="min-width: 150px">
                {{ tcUtilsDate.toDate( element.creation_time) |date:'short' }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action action-table"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action action-table">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('form_vitals') || tcAuthorization.canDelete('form_vitals')) && edit && form_encounterPersist.encounter_is_active">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu" >
                  <button mat-menu-item (click)="editForm_Vitals(element)" *ngIf="tcAuthorization.canUpdate('form_vitals')" >
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{ appTranslation.getText("general", "edit") }}
                    </span>
                  </button>
                  <button mat-menu-item (click)="deleteForm_Vitals(element)" *ngIf="tcAuthorization.canDelete('form_vitals')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{ appTranslation.getText("general", "delete") }}
                    </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="form_vitalssDisplayedColumns; sticky: true" style="width: fit-content; overflow: hidden;"></mat-header-row>
            <mat-row style="width: fit-content; overflow: hidden;" *matRowDef="let row; columns: form_vitalssDisplayedColumns" [ngClass]="{
                'tc-selected-row': tcUtilsArray.contains(
                  form_vitalssSelected,
                  row
                )
              }">
            </mat-row>
          </mat-table>
        </div>
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="form_vitalssTotalCount"
            [ngStyle]="{ display: form_vitalssTotalCount > 0 ? '' : 'none' }">
          </mat-paginator>
        </div>
      </div>
    </div>