<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-user-friends"></mat-icon>
    {{ appTranslation.getText("patient", "waiting_lists") }}
  </h3>
  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button
    mat-button
    (click)="searchWaitinglists()"
    *ngIf="tcAuthorization.canRead('waiting_lists')"
    class="tc-link"
  >
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input
      matInput
      [formControl]="waitinglistsSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="waitinglistPersist.waitinglistSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="waitinglistsSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("patient", "priority")}}'
                [(value)]="waitinglistPersist.priorityFilter" (valueChange)="searchWaitinglists()">
      <mat-option *ngFor="let status of waitinglistPersist.patient_priority" [value]="status.id">
        {{ appTranslation.getText("patient", status.name) }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='waitinglistPersist.priorityFilter != "-1"' matSuffix mat-icon-button aria-label="Clear"
            (click)="waitinglistPersist.priorityFilter = '-1';searchWaitinglists();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("bed", "status")}}' [(value)]="waitinglistPersist.statusFilter"
                (valueChange)="searchWaitinglists()">
      <mat-option *ngFor="let status of waitinglistPersist.waiting_status" [value]="status.id">
        {{ appTranslation.getText("patient", status.name) }}
      </mat-option>
    </mat-select>

    <button mat-button *ngIf='waitinglistPersist.statusFilter != -1' matSuffix mat-icon-button aria-label="Clear"
            (click)="waitinglistPersist.statusFilter = -1;searchWaitinglists();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="tc-loading" *ngIf="waitinglistsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let waitinglist of waitinglistsData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              waitinglist.status == waitingStatus.waiting && (tcAuthorization.canUpdate('waiting_lists') ||
              tcAuthorization.canDelete('waiting_lists') )
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <!-- <button
              mat-menu-item
              (click)="editWaitinglist(waitinglist)"
              *ngIf="tcAuthorization.canUpdate('waiting_lists')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("bed", "choose_bed_type") }} </span>
            </button> -->
            <button
              mat-menu-item
              (click)="deleteWaitinglist(waitinglist)"
              *ngIf="tcAuthorization.canDelete('waiting_lists')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="cancelBed(waitinglist)"
              *ngIf="tcAuthorization.canUpdate('waiting_lists') && waitinglist.status == waitingStatus.waiting"
            >
              <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
              <span>{{appTranslation.getText("patient", "cancel")}}</span>
            </button>
            <button
              mat-menu-item
              (click)="editWaitinglist(waitinglist)"
              *ngIf="tcAuthorization.canUpdate('waiting_lists') && waitinglist.status == waitingStatus.waiting"
            >
              <mat-icon fontSet="fa" fontIcon="fa-share-square"></mat-icon>
              <span>{{appTranslation.getText("bed", "assign")}}</span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("patient", "patient") }}</span>
          <a [routerLink]="patientNavigator.patientUrl(waitinglist.patient_id?.toString())" class="tc-link">
            {{waitinglist.patient_name}}
          </a>
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "start_date") }}</span>
          {{
          tcUtilsDate.toDate(waitinglist.start_date) | date
          }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "end_date") }}</span>
          {{
            waitinglist.end_date && tcUtilsDate.toDate(waitinglist.end_date) | date
          }}
        </div>
        <div class="tc-detail-field">
          <span>bed_room_type_id</span>
          {{ waitinglist.bed_room_type_name }}
        </div>
        <div class="tc-detail-field">
          <span>bed_room_id</span>
          {{ waitinglist.bed_room_name }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("patient", "priority") }}</span>
          {{
          appTranslation.getText(
            "patient",
            tcUtilsArray.getEnum(
              waitinglistPersist.patient_priority,
              waitinglist.priority
            ).name
          )
          }}
        </div>
        <div class="tc-detail-field">
          <span>{{ appTranslation.getText("general", "remark") }}</span>
          {{ waitinglist.remark }}
        </div>

        <div class="tc-detail-field">
          <span>{{appTranslation.getText("bed", "bedroom_level")}}</span>
            {{waitinglist.bed_room_level_name}}
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">
    <mat-toolbar
      *ngIf="waitinglistsSelection.length > 0 || waitinglistsSelectAll"
    >
      <button mat-button (click)="downloadWaitinglists()">
        <mat-icon>save_alt</mat-icon>
        <span>{{ appTranslation.getText("general", "download") }} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span
      >{{
        waitinglistsSelectAll
          ? waitinglistsTotalCount
          : waitinglistsSelection.length
        }}
        {{ appTranslation.getText("general", "selected") }}</span
      >
    </mat-toolbar>

    <mat-table
      [dataSource]="waitinglistsData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                waitinglistsData,
                waitinglistsSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                waitinglistsData,
                waitinglistsSelection
              ) || waitinglistsSelectAll
            "
            [indeterminate]="
              waitinglistsSelection.length < waitinglistsData.length &&
              waitinglistsSelection.length > 0
            "
            [disabled]="waitinglistsSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="waitinglistsSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #waitinglistsSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="waitinglistsSelectAll = true"
              [disabled]="waitinglistsSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="waitinglistsSelectAll = false"
              [disabled]="!waitinglistsSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(waitinglistsSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(waitinglistsSelection, row) ||
              waitinglistsSelectAll
            "
            [disabled]="waitinglistsSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Link
        </mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="waitinglistNavigator.waitinglistUrl(element.id)"
            class="tc-link"
          >{{ element.id }}</a
          >
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >{{ appTranslation.getText("patient", "patient") }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="patientNavigator.patientUrl(element.patient_id)" class="tc-link">
            {{element.patient_name}}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="start_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "start_date")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          tcUtilsDate.toDate(element.start_date) | date
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "end_date")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.end_date && tcUtilsDate.toDate(element.end_date) | date
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_type_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("bed", "bedroom_type")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.bed_room_type_name
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_room_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("bed", "bedroom")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.bed_room_name
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="bed_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("bed", "bed")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.bed_no
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("patient", "priority")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{
          appTranslation.getText(
            "patient",
            tcUtilsArray.getEnum(
              waitinglistPersist.patient_priority,
              element.priority
            ).name
          )
          }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{
          appTranslation.getText("general", "remark")
          }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.remark }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef='bed_room_level'>
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("bed", "bedroom_level")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.bed_room_level_name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell
          *matHeaderCellDef
          class="tc-column-action"
        ></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button
            mat-flat-button
            [matMenuTriggerFor]="elementMenu"
            *ngIf="
              element.status == waitingStatus.waiting && (tcAuthorization.canUpdate('waiting_lists') ||
              tcAuthorization.canDelete('waiting_lists'))
            "
          >
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <!-- <button
              mat-menu-item
              (click)="editWaitinglist(element)"
              *ngIf="tcAuthorization.canUpdate('waiting_lists')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{ appTranslation.getText("bed", "choose_bed_type") }} </span>
            </button> -->
            <button
              mat-menu-item
              (click)="deleteWaitinglist(element)"
              *ngIf="tcAuthorization.canDelete('waiting_lists')"
            >
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{ appTranslation.getText("general", "delete") }} </span>
            </button>
            <button
              mat-menu-item
              (click)="cancelBed(element)"
              *ngIf="tcAuthorization.canUpdate('waiting_lists') && element.status == waitingStatus.waiting"
            >
              <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
              <span>{{appTranslation.getText("patient", "cancel")}}</span>
            </button>
            <button
              mat-menu-item
              (click)="editWaitinglist(element)"
              *ngIf="tcAuthorization.canUpdate('waiting_lists') && element.status == waitingStatus.waiting"
            >
              <mat-icon fontSet="fa" fontIcon="fa-share-square"></mat-icon>
              <span>{{appTranslation.getText("bed", "assign")}}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="waitinglistsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: waitinglistsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(waitinglistsSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="waitinglistsTotalCount"
      [ngStyle]="{ display: waitinglistsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
