
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-bolt"></mat-icon>
     interchangeable_item  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchInterchangeableItems();" *ngIf="tcAuthorization.canRead('interchangeable_items')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addInterchangeableItem();" *ngIf="tcAuthorization.canCreate('interchangeable_items')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="interchangeableItemSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="interchangeableItemPersist.interchangeableItemSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="interchangeableItemSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="interchangeableItemIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let interchangeableItem of interchangeableItemsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('interchangeable_items') || tcAuthorization.canDelete('interchangeable_items')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editInterchangeableItem(interchangeableItem)" *ngIf="tcAuthorization.canUpdate('interchangeable_items')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteInterchangeableItem(interchangeableItem)" *ngIf="tcAuthorization.canDelete('interchangeable_items')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>main_drug_id</span>
            {{interchangeableItem.main_drug_id}}
          </div><div class="tc-detail-field">
            <span>interchangeable_id</span>
            <a [routerLink]="itemNavigator.itemUrl(interchangeableItem.interchangeable_id)" class="tc-link">
            {{interchangeableItem.interchangeable_name}}
        </a>
          </div><div class="tc-detail-field">
            <span>status</span>
            {{interchangeableItem.status}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchInterchangeableItems.length >0 || interchangeableItemSelectAll">
        <button mat-button (click)="downloadInterchangeableItems()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{interchangeableItemSelectAll ? interchangeableItemsTotalCount : interchangeableItemSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="interchangeableItemsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(interchangeableItemsData,interchangeableItemSelection) "
              [checked]=" tcUtilsArray.isAllSelected(interchangeableItemsData,interchangeableItemSelection) || interchangeableItemSelectAll"
              [indeterminate]="interchangeableItemSelection.length <interchangeableItemsData.length && interchangeableItemSelection.length>0"
              [disabled]="interchangeableItemSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="interchangeableItemSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #interchangeableItemSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="interchangeableItemSelectAll=true;" [disabled]="interchangeableItemSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="interchangeableItemSelectAll = false;" [disabled]="!interchangeableItemSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(interchangeableItemSelection,row) : null"
              [checked]="tcUtilsArray.contains(interchangeableItemSelection,row) || interchangeableItemSelectAll" [disabled]="interchangeableItemSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="main_drug_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>main_drug_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.main_drug_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="interchangable_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>interchangeable_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="itemNavigator.itemUrl(element.interchangeable_id)" class="tc-link">
            {{element.interchangeable_name}}
        </a>
        </mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{tcUtilsArray.getEnum(companyPersist.Activeness_Status, element.status).name}}
          </mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- <a [routerLink]="interchangeableItemNavigator.itemUrl(element.interchangeable_id)" class="tc-link">{{element.id}}</a> -->
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('interchangeable_items') || tcAuthorization.canDelete('interchangeable_items')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editInterchangeableItem(element)" *ngIf="tcAuthorization.canUpdate('interchangeable_items') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteInterchangeableItem(element)" *ngIf="tcAuthorization.canDelete('interchangeable_items')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="interchangeableItemsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: interchangeableItemsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(interchangeableItemSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="interchangeableItemsTotalCount"
        [ngStyle]="{display: interchangeableItemsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  