<h1 mat-dialog-title>
    prescription_request Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="prescriptionRequestSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="prescriptionRequestPersist.prescriptionRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="prescriptionRequestSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="prescriptionRequestIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="prescriptionRequestsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(prescriptionRequestsData,prescriptionRequestSelection) "
            [checked]=" tcUtilsArray.isAllSelected(prescriptionRequestsData,prescriptionRequestSelection) || prescriptionRequestSelectAll"
            [indeterminate]="prescriptionRequestSelection.length <prescriptionRequestsData.length && prescriptionRequestSelection.length>0"
            [disabled]="prescriptionRequestSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="prescriptionRequestSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #prescriptionRequestSelectAllMenu="matMenu">

            <button mat-menu-item (click)="prescriptionRequestSelectAll=true;" [disabled]="prescriptionRequestSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="prescriptionRequestSelectAll = false;" [disabled]="!prescriptionRequestSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(prescriptionRequestSelection,row) : null"
            [checked]="tcUtilsArray.contains(prescriptionRequestSelection,row) || prescriptionRequestSelectAll" [disabled]="prescriptionRequestSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="prescription_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>prescription_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.prescription_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>store_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.store_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="pharmacist_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pharmacist_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pharmacist_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="interchange_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>interchange_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.interchange_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="store_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>store_type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.store_type}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="selector_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>selector_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.selector_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="payment_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>payment_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.payment_id}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="prescriptionRequestsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: prescriptionRequestsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(prescriptionRequestSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="prescriptionRequestsTotalCount"
      [ngStyle]="{display: prescriptionRequestsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" prescriptionRequestSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
