
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
            class="tc-sidebar mat-elevation-z8" position="end">
            <div class="tc-sidebar-inner">
                <div class="tc-padding" *ngIf="!procedureLoading">
                    <h1 class="mat-h1 ">
                        {{tcUtilsArray.getById(procedureTypes,procedureDetail.procedure_type_id)?.name}}
                    </h1>
                </div>
                <mat-nav-list>
                    <mat-list-item [ngClass]="activeTab == ProcedureTabs.overview? 'tc-list-item-focus':''"
                        (click)="activeTab = ProcedureTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                        <a>
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav>
    
        <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="procedureLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==ProcedureTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                    <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                              <button mat-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                              </button>
                            </p>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!procedureLoading">
                                            <p class="tc-detail-field">
                                <span>procedure_type_id </span> 
                                {{tcUtilsArray.getById(procedureTypes,procedureDetail.procedure_type_id)?.name}}
                            </p>
                          
    <p class="tc-detail-field">
                                <span>name </span> 
                                {{procedureDetail.name}}
                            </p>
                          
    <p class="tc-detail-field">
                                <span>needs_consent_form </span> 
                                {{procedureDetail.needs_consent_form}}
                            </p>
                          
                                        </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editProcedure()" *ngIf="tcAuthorization.canUpdate('procedures') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                        <div class="tc-padding">
                            <mat-accordion>
            
                              <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    {{appTranslation.getText('notes', 'notes')}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
            
                                <mat-spinner diameter="50" *ngIf="notesLoading"></mat-spinner>
            
                                <div [ngStyle]="{display: notesLoading? 'none':''}">
            
                                  <div *ngIf="!notesLoading">
                                    <div *ngFor="let note of notesData">
                                      <div class="tc-padding">
                                                                <span
                                                                  class="tc-date tc-text-muted">{{tcUtilsDate.toDate(note.comment_time)
                                                                 |date:'MMM dd, yyyy. h:mm a'}}
                                                                  <span
                                                                    *ngIf="tcUtilsArray.containsId(userPersist.userDisplays,note.commented_by)">
                                                                        |
                                                                    {{tcUtilsArray.getById(userPersist.userDisplays,
                                                                    note.commented_by).name}} </span>
                                                                    <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v"
                                                                              class="tc-icon-button" style="margin-left:5px;"
                                                                              [matMenuTriggerFor]="noteContextMenu"
                                                                              *ngIf="canUpdateNote(note)">
                                                                    </mat-icon>
                                                                    <mat-menu #noteContextMenu="matMenu">
                                                                        <button mat-menu-item (click)="editNote(note)"
                                                                                *ngIf="canUpdateNote(note)">
                                                                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                            Edit
                                                                        </button>
                                                                        <button mat-menu-item (click)="archiveNote(note)"
                                                                                *ngIf="canUpdateNote(note)">
                                                                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                            Archive
                                                                        </button>
                                                                    </mat-menu>
                                                                </span>
                                        <div class="tc-notice-text">{{note.comment_text }}</div>
                                      </div>
                                    </div>
                                  </div>
            
                                  <mat-form-field style="display:none;">
                                    <input matInput [formControl]="notesSearchTextBox" placeholder="Filter">
                                    <button mat-button *ngIf="notesSearchTextBox.value" matSuffix
                                            mat-icon-button aria-label="Clear"
                                            (click)="notesSearchTextBox.setValue('')">
                                      <mat-icon>close</mat-icon>
                                    </button>
                                  </mat-form-field>
            
                                  <div class="tc-table-container tc-full-stretch tc-hidden" matSort>
            
            
                                    <mat-toolbar *ngIf="notesSelected.length >0 ">
            
                                    </mat-toolbar>
            
                                    <mat-table [dataSource]="notesData">
            
                                      <ng-container matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                                          <mat-checkbox (click)="$event.stopPropagation()"
                                                        (change)=" tcUtilsArray.toggleSelectAll(notesData,notesSelected) "
                                                        [checked]=" tcUtilsArray.isAllSelected(notesData,notesSelected)"
                                                        [indeterminate]="notesSelected.length <notesData.length && notesSelected.length>0">
                                          </mat-checkbox>
            
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="tc-column-selection">
                                          <mat-checkbox (click)="$event.stopPropagation()"
                                                        (change)="$event ? tcUtilsArray.toggleSelection(notesSelected,row) : null"
                                                        [checked]="tcUtilsArray.contains(notesSelected,row)">
                                          </mat-checkbox>
                                        </mat-cell>
                                      </ng-container>
            
                                      <ng-container matColumnDef="comment_text">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>comment_text
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.comment_text}}
                                        </mat-cell>
                                      </ng-container>
            
                                      <ng-container matColumnDef="comment_time">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>comment_time
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.comment_time}}
                                        </mat-cell>
                                      </ng-container>
            
            
                                      <ng-container matColumnDef="action">
                                        <mat-header-cell *matHeaderCellDef class="tc-column-action">
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element" class="tc-column-action">
                                          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                                            <i class="material-icons">more_vert</i>
                                          </button>
                                          <mat-menu #elementMenu="matMenu">
            
            
                                            <button mat-menu-item (click)="archiveNote(element)">
                                              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                              <span>Archive</span>
                                            </button>
                                          </mat-menu>
                                        </mat-cell>
                                      </ng-container>
            
                                      <mat-header-row
                                        *matHeaderRowDef="notesDisplayedColumns; sticky: true; ">
                                      </mat-header-row>
                                      <mat-row *matRowDef="let row; columns: notesDisplayedColumns;"
                                               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(notesSelected,row)}">
                                      </mat-row>
            
                                    </mat-table>
                                    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
                                                   showFirstLastButtons [pageSize]="tcUtilsArray.defaultPageSizeSmall"
                                                   [length]="notesTotalCount"
                                                   [ngStyle]="{display: notesTotalCount > 0? '':'none'}"></mat-paginator>
                                  </div>
            
                                </div>
                                <mat-action-row>
                                  <button mat-button (click)="addNote()">
                                    {{appTranslation.getText('general', 'add')}}
                                  </button>
                                </mat-action-row>
            
                              </mat-expansion-panel>
                            </mat-accordion>
            
                          </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>


    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    
    