<div class="tc-flex-row">
  <h1 class="mat-headline">
    {{appTranslation.getText("inventory", "employee_selection")}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="employeesSearchTextBox" placeholder='{{appTranslation.getText("general", "search_text")}}'>
    <button mat-button *ngIf="employeePersist.employeeSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="employeesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="employeesIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="employeesData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(employeesData,employeesSelection) "
            [checked]=" tcUtilsArray.isAllSelected(employeesData,employeesSelection)"
            [indeterminate]="employeesSelection.length <employeesData.length && employeesSelection.length>0"
            *ngIf="!data.selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="employeesSelection.length >0 && !data.selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{employeesSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="employeesSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(employeesSelection,row) : null"
                        [checked]="tcUtilsArray.contains(employeesSelection,row)"
                        *ngIf="!data.selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(employeesSelection,row)"
                        *ngIf="data.selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'first_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.first_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'last_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="middle_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'middle_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.middle_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'email')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'telephone')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.telephone}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_male">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'is_male')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_male}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="birth_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'birthdate')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.birth_date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'address')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'store')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsArray.getById(stores, element.store_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_store_manager">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'is_store_manager')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.is_store_manager">done</mat-icon>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="employeesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: employeesDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(employeesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="employeesTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general", "cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" employeesSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general", "return_selection")}}
  </button>
</div>
