<div class="tc-flex-row" *ngIf="isDialog">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <ng-template #body>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf=" review_of_systemDetail">

    
      <!-- <div  class="tc-full-stretch" *ngFor="let options of review_of_system_optionssData">
        <mat-checkbox (click)="$event.stopPropagation()"
        (change)="$event ? toggle(addedReview_of_system_optionssData,options): null"
        [checked]="tcUtilsArray.contains(addedReview_of_system_optionssData,options)||options.checked"
        >{{options.name}}
</mat-checkbox>
</div> -->
        <div class="tc-flex-row" style="align-items: baseline;">
          <button
          mat-button
          class="button"
          (click)="makeAll(true)"
          [disabled]="!persist.encounter_is_active"
        >
          All Yes
        </button>
        <button
          mat-button
          class="button"
          (click)="makeAll(false)"
          [disabled]="!persist.encounter_is_active"
        >
          All No
        </button>
        <button
          mat-button
          class="button"
          (click)="resetField()"
          [disabled]="!persist.encounter_is_active"
        >
          Reset
        </button>
        </div>
        <div class="tc-flex-row header" style="align-items: baseline;">
          <p style="flex-basis: 20%;">Review</p> 
          <div class="tc-flex-row" style="gap: 8px;">
            <p>Yes</p>
            <p>No</p>
          </div>
          <p class="tc-full-stretch" style="text-align: center;">Remark</p> 
        </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">General</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.general" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text" [(ngModel)]="review_of_systemDetail.general_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">Head and Neck</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.head_and_neck" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text"  [(ngModel)]="review_of_systemDetail.head_and_neck_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">ENT</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.ent" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text"  [(ngModel)]="review_of_systemDetail.ent_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">Eye</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.eye" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text"  [(ngModel)]="review_of_systemDetail.eye_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">Chest Lung Breasts</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.chest_lungs_breasts" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text"  [(ngModel)]="review_of_systemDetail.chest_lungs_breasts_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">Cardiovascular</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.cardiovascular" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text"  [(ngModel)]="review_of_systemDetail.cardiovascular_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">Gastrointestinal</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.gastrointestinal" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text"  [(ngModel)]="review_of_systemDetail.gastrointestinal_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">Musculoskeletal</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.musculoskeletal" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text"  [(ngModel)]="review_of_systemDetail.musculoskeletal_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
       <div class="tc-flex-row" style="align-items: baseline;">
        <p style="flex-basis: 20%;">Neurological</p> 
        <mat-radio-group class="tc-flex-row" aria-label="Select an option" [(ngModel)]="review_of_systemDetail.neurological" [disabled]="!persist.encounter_is_active">
          <mat-radio-button [value]="true"></mat-radio-button>
          <mat-radio-button [value]="false"></mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="tc-full-stretch" style="margin-left: 8px;">
          <input matInput type="text"  [(ngModel)]="review_of_systemDetail.neurological_remark" [disabled]="!persist.encounter_is_active">
      </mat-form-field>
       </div>
        
                      
  
    </div>
  
  </ng-template>
  
   <div mat-dialog-content *ngIf="isDialog">
    <ng-container *ngTemplateOutlet="body">
    </ng-container>
   </div>

   <div *ngIf="!isDialog">
    <ng-container *ngTemplateOutlet="body">
    </ng-container>
   </div>

  <div mat-dialog-actions *ngIf="isDialog">
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  