
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     radiology_result  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchRadiologyResults();" *ngIf="tcAuthorization.canRead('radiology_results')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addRadiologyResult();" *ngIf="tcAuthorization.canCreate('radiology_results')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="radiologyResultSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="radiologyResultPersist.radiologyResultSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="radiologyResultSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="radiologyResultIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let radiologyResult of radiologyResultsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('radiology_results') || tcAuthorization.canDelete('radiology_results')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editRadiologyResult(radiologyResult)" *ngIf="tcAuthorization.canUpdate('radiology_results')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRadiologyResult(radiologyResult)" *ngIf="tcAuthorization.canDelete('radiology_results')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>selected_order_id</span>
            {{radiologyResult.selected_order_id}}
          </div><div class="tc-detail-field">
            <span>result_by</span>
            {{radiologyResult.result_by}}
          </div><div class="tc-detail-field">
            <span>confirmed_by</span>
            {{radiologyResult.confirmed_by}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{radiologyResult.status}}
          </div><div class="tc-detail-field">
            <span>result_date</span>
            {{radiologyResult.result_date}}
          </div><div class="tc-detail-field">
            <span>lab_test_id</span>
            {{radiologyResult.lab_test_id}}
          </div><div class="tc-detail-field">
            <span>result_file_id</span>
            {{radiologyResult.result_file_id}}
          </div><div class="tc-detail-field">
            <span>normal_result</span>
            {{radiologyResult.normal_result}}
          </div><div class="tc-detail-field">
            <span>abnormal_result</span>
            {{radiologyResult.abnormal_result}}
          </div><div class="tc-detail-field">
            <span>conclusion</span>
            {{radiologyResult.conclusion}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchRadiologyResults.length >0 || radiologyResultSelectAll">
        <button mat-button (click)="downloadRadiologyResults()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{radiologyResultSelectAll ? radiologyResultsTotalCount : radiologyResultSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="radiologyResultsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(radiologyResultsData,radiologyResultSelection) "
              [checked]=" tcUtilsArray.isAllSelected(radiologyResultsData,radiologyResultSelection) || radiologyResultSelectAll"
              [indeterminate]="radiologyResultSelection.length <radiologyResultsData.length && radiologyResultSelection.length>0"
              [disabled]="radiologyResultSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="radiologyResultSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #radiologyResultSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="radiologyResultSelectAll=true;" [disabled]="radiologyResultSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="radiologyResultSelectAll = false;" [disabled]="!radiologyResultSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(radiologyResultSelection,row) : null"
              [checked]="tcUtilsArray.contains(radiologyResultSelection,row) || radiologyResultSelectAll" [disabled]="radiologyResultSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="selected_order_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>selected_order_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.selected_order_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="result_by">
          <mat-header-cell *matHeaderCellDef mat-sort-header>result_by
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.result_by}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="confirmed_by">
          <mat-header-cell *matHeaderCellDef mat-sort-header>confirmed_by
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.confirmed_by}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="result_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>result_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.result_date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="lab_test_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>lab_test_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.lab_test_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="result_file_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>result_file_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.result_file_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="normal_result">
          <mat-header-cell *matHeaderCellDef mat-sort-header>normal_result
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.normal_result}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="abnormal_result">
          <mat-header-cell *matHeaderCellDef mat-sort-header>abnormal_result
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.abnormal_result}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="conclusion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>conclusion
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.conclusion}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="radiologyResultNavigator.radiologyResultUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('radiology_results') || tcAuthorization.canDelete('radiology_results')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editRadiologyResult(element)" *ngIf="tcAuthorization.canUpdate('radiology_results') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteRadiologyResult(element)" *ngIf="tcAuthorization.canDelete('radiology_results')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="radiologyResultsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: radiologyResultsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(radiologyResultSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="radiologyResultsTotalCount"
        [ngStyle]="{display: radiologyResultsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  