
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <!-- <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
            class="tc-sidebar mat-elevation-z8" position="end">
            <div class="tc-sidebar-inner">
                <div class="tc-padding" *ngIf="!receptionLoading">
                    <h1 class="mat-h1 ">{{receptionDetail.first_name}} </h1>
                </div>
                <mat-nav-list>
                    <mat-list-item [ngClass]="activeTab == ReceptionTabs.overview? 'tc-list-item-focus':''"
                        (click)="activeTab = ReceptionTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                        <a>
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav> -->

        <mat-sidenav-content>

            <div class="tc-loading" *ngIf="receptionLoading">
                    <mat-spinner></mat-spinner>
            </div>

            <div [ngClass]="activeTab==receptionTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                    <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                              <button mat-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                              </button>
                            </p> -->
                </mat-toolbar>

                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>

                                        <div *ngIf="!receptionLoading">
                                            <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','first_name')}} </span>
                                {{receptionDetail.first_name}}
                            </p>

    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','middle_name')}} </span>
                                {{receptionDetail.middle_name}}
                            </p>

    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','last_name')}} </span>
                                {{receptionDetail.last_name}}
                            </p>

    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','email')}} </span>
                                {{receptionDetail.email}}
                            </p>

    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','telephone')}} </span>
                                {{receptionDetail.telephone}}
                            </p>

    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','gender')}} </span>
      {{receptionDetail.is_male ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}
                            </p>

    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','birthdate')}} </span>
                                {{tcUtilsDate.toDate(receptionDetail.birth_date)|date:'MMM dd, yyyy. h:mm a'}}
                            </p>

    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','address')}} </span>
                                {{receptionDetail.address}}
                            </p>

                                        </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editReception()" *ngIf="tcAuthorization.canUpdate('receptions') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>

                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">

                        <div class="tc-padding">
                            <mat-accordion>
                
                              <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    {{appTranslation.getText('member', 'login_details')}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                
                                <div *ngIf="tcUtilsString.invalid_id == receptionDetail.login_id">
                                  <span class="tc-text-muted">User doesn't have account</span>
                                </div>
                
                                <mat-action-row>
                                  <button mat-button (click)="createUser()"
                                          *ngIf="tcUtilsString.invalid_id == receptionDetail.login_id">
                                    Create Reception User
                                  </button>
                                  <button mat-button (click)="removeUser()" *ngIf="tcUtilsString.invalid_id != receptionDetail.login_id && !receptionDetail.disabled">
                                    Deactivate
                                  </button>
                                  <div *ngIf="tcUtilsString.invalid_id != receptionDetail.login_id && receptionDetail.disabled">
                                  <button mat-button (click)="activateUser()" >
                                      Activate Reception User
                                    </button>
                                  </div>
                
                                </mat-action-row>
                              </mat-expansion-panel>
                            </mat-accordion>
                          </div>
                    
                      </div>
                </div>

            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>



