<h1 mat-dialog-title>
    transfer Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="transferSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="transferPersist.transferSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="transferSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="transferIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="transfersData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(transfersData,transferSelection) "
            [checked]=" tcUtilsArray.isAllSelected(transfersData,transferSelection) || transferSelectAll"
            [indeterminate]="transferSelection.length <transfersData.length && transferSelection.length>0"
            [disabled]="transferSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="transferSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #transferSelectAllMenu="matMenu">

            <button mat-menu-item (click)="transferSelectAll=true;" [disabled]="transferSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="transferSelectAll = false;" [disabled]="!transferSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(transferSelection,row) : null"
            [checked]="tcUtilsArray.contains(transferSelection,row) || transferSelectAll" [disabled]="transferSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="transfer_request_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_request_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.transfer_request_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="item_receive_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>item_receive_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.item_receive_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="remaining">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Remaining
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remaining}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="unit_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>unit price
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.unit_price}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>unit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units, element.transfer_unit)?.name)}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="item_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Item name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{itemNav.itemName(element)}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="transfer_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.transfer_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(itemReceivePersist.ReceiveStatus, element.status)?.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="batch_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>batch no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="receiver_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>receiver_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.receiver_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sender_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sender_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sender_id}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="selling_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>selling_price
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.selling_price}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expire_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>expire_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="transfersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: transfersDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(transferSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="transfersTotalCount"
      [ngStyle]="{display: transfersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" transferSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>