<div class="welcome mat-elevation-z10">

  <div class="tc-flex-row half top">
    <div class="title">
      <div class="ehms-logo">

      </div>
      <div class="ehms-title">
        Electronic Health Management System
      </div>
    </div>
  </div>
  <div class="tc-flex-row half bottom">
    <div class="title">

      <button mat-raised-button class="mat-elevation-z4" (click)="tcNavigator.login()">
        <span>
          <mat-icon fontSet="fa" fontIcon="fa-sign-in-alt"></mat-icon>
        </span> Sign In
      </button>
      <span id="support">Need Support? <span><a href="">Click Here</a></span></span>

    </div>
    <div class="eTech">
      <h1>eTech</h1>
    </div>
  </div>
</div>