.welcome {
  background-color: #cc8b3b;
  height: 100%;
  width: 30%;
  float: left;
  border-bottom-right-radius: 100px;
}
.half {
  height: 50%;
}

.top {
  border-bottom-left-radius: 100px;
  background-color: white;
}
.bottom {
  border-bottom-right-radius: 100px;
  background-color: #cc8b3b;
}

.title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ehms-logo {
  background-image: url("../../assets/images/eHealthlogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  height: 172px;
  margin-top: 15%;
  width: 250px;
}
.ehms-title {
  font-size: xx-large;
  text-align: center;
  padding: 10%;
  font-weight: bold;
  color: #274b89;
}
#support {
  color: #274b89;
  font-size: large;
}
.title button {
  margin: 20%;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  background-color: #274b89ea;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
}

.eTech {
  left: 88%;
  top: 80%;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 200px;
  height: 138px;
  position: fixed;
  color: rgba(255, 255, 255, 0.952);
  background-image: url("../../assets/images/eTechBlueBg-logo.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  display: flex;
  justify-content: center;
}
.eTech h1 {
  margin-top: 55%;
}
/*mobile*/
@media (max-width: 480px) {
  .welcome {
    width: 100%;
  }
  .eTech {
    background-image: url("../../assets/images/eTech.png");
    left: 25%;
    top: 80%;
    background-size: 30%;
  }

}

@media (max-height: 640px) {
  .eTech{
    top: 75%;
  }
  .title button{
    margin: 10%;
  }
  .ehms-logo{
    background-size: 50%;
    margin-top: 5%;
  }
  

/*tablets*/
@media (min-width: 481px) and (max-width: 960px) {
  .welcome {
    width: 100% !important;
  }
  .eTech {
    background-image: url("../../assets/images/eTech.png");
    left: 35%;
    top: 85%;
    background-size: 30%;
  }
}

}
/*desktop*/
@media (min-width: 961px) {

}