<div class="tc-flex-row" *ngIf="isDialog">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<mat-toolbar class="tc-toolbar-secondary" *ngIf="!isDialog">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-gavel"></mat-icon>
    {{ appTranslation.getText("bed", "bed_assignment") }}
  </h3>

  <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)="graph.loadBedroomTypes()" *ngIf="tcAuthorization.canRead('bed_assignments')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>


<div mat-dialog-content *ngIf="isDialog">
  <app-bedassignment-graph *ngIf="bedassignmentDetail.admission_form_id" [bedassignmentDetail]="bedassignmentDetail"></app-bedassignment-graph>
</div>

<div *ngIf="!isDialog">
  <div class="tc-padding">
    <app-bedassignment-graph [bedassignmentDetail]="bedassignmentDetail" #graph></app-bedassignment-graph>
  </div>
</div>

<div mat-dialog-actions *ngIf="isDialog">
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button mat-button (click)="isNew() ? onAdd() : onUpdate()" [disabled]="!canSubmit()"
    cdkFocusInitial>
    {{ appTranslation.getText("bed", "assign") }}
  </button>
</div>