<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav-content>
      <div class="tc-loading" *ngIf="newBornNatalCareIsLoading">
        <mat-spinner></mat-spinner>
      </div>
  
      <div [ngClass]="activeTab == NewBornNatalCareTabs.overview ? '' : 'tc-hidden'">
        <mat-toolbar class="tc-toolbar-secondary">
          <h1 class="mat-heading">
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{ appTranslation.getText("general", "overview") }}
          </h1>
          <button mat-button (click)="back()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
          </button>
          <button mat-button (click)="reload()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </mat-toolbar>
  
        <div class="tc-flex-row tc-full-width">
          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ appTranslation.getText("general", "basicdetails") }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
  
                  <div *ngIf="!newBornNatalCareIsLoading">
                    <p class="tc-detail-field">
                        NeoNatal Visit
                      <span>
                        {{
                          
                            persentPregenancyFollowUp.getLevel(newBornNatalCareDetail.new_born_natal_visit)
                        }}
                      </span>
                    </p>
                    <p class="tc-detail-field">
                      Date
                      <span>
                        {{
                          (newBornNatalCareDetail.date_checked * 1000) | date: "yyyy-MM-dd"
                        }}
                      </span>
                    </p>
                    <!-- <p class="tc-detail-field">
                      BP <span> {{ newBornNatalCareDetail.bp }} </span>
                    </p>
                    <p class="tc-detail-field">
                      TPR <span> {{ newBornNatalCareDetail.tpr }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Temp
                      <span> {{ newBornNatalCareDetail.temp_value }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Uterus Contracted/Look for PPH
                      <span>
                        {{ newBornNatalCareDetail.uterus_contracted_look_for_pph }}
                      </span>
                    </p>
                    <p class="tc-detail-field">
                      Driblling/Leaking Urine
                      <span>
                        {{ newBornNatalCareDetail.dribbling_leaking_urine }}
                      </span>
                    </p>
                    <p class="tc-detail-field">
                      Anemia <span> {{ newBornNatalCareDetail.anemia }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Vaginal Discharge (after 4 wks of delivery)
                      <span> {{ newBornNatalCareDetail.vaginal_discharge }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Pelvic Exam (only if vaginal discharge)
                      <span> {{ newBornNatalCareDetail.pelvic_exam }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Breast <span> {{ newBornNatalCareDetail.breast }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Vitamin A <span> {{ newBornNatalCareDetail.vitamin_a }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Counseling Danger Signs EPI use of IIN Given
                      <span>
                        {{ newBornNatalCareDetail.counsenig_danger_signs_epi }}
                      </span>
                    </p> -->
                    <p class="tc-detail-field">
                      Baby Breathing
                      <span> {{ newBornNatalCareDetail.baby_breathing }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Baby Breast Feeding
                      <span> {{ newBornNatalCareDetail.baby_breast_feeding }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Baby Weight (gm)
                      <span> {{ newBornNatalCareDetail.baby_weight }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Immunization
                      <span> {{ newBornNatalCareDetail.immunization }} </span>
                    </p>
                    <!-- <p class="tc-detail-field">
                      HIV Tested
                      <span> {{ newBornNatalCareDetail.hiv_tested }} </span>
                    </p>
                    <p class="tc-detail-field">
                      HIV Test Result R/NR
                      <span> {{ newBornNatalCareDetail.hiv_test_result }} </span>
                    </p>
                    <p class="tc-detail-field">
                      ARV Px for Mother
                      <span> {{ newBornNatalCareDetail.arv_px_for_mother }} </span>
                    </p> -->
                    <p class="tc-detail-field">
                      ARV Px for New Born
                      <span> {{ newBornNatalCareDetail.arv_px_for_newborn }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Feeding Option EBF/RF
                      <span> {{ newBornNatalCareDetail.feeding_option }} </span>
                    </p>
                    <!-- <p class="tc-detail-field">
                      Mother Referred to C & sup
                      <span>
                        {{ newBornNatalCareDetail.mother_referred_to_c_and_sup }}
                      </span>
                    </p> -->
                    <!-- <p class="tc-detail-field">
                      New Born Referred to Chronic HIV infant Care
                      <span>
                        {{
                          newBornNatalCareDetail.new_born_referred_to_chronic_hiv_infant_care
                        }}
                      </span>
                    </p> -->
                    <p class="tc-detail-field">
                      FB Counseled & Provided
                      <span>
                        {{ newBornNatalCareDetail.fb_counseled_and_provided }}
                      </span>
                    </p>
                    <p class="tc-detail-field">
                      Remark <span> {{ newBornNatalCareDetail.remark }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Action Taken
                      <span> {{ newBornNatalCareDetail.action_taken }} </span>
                    </p>
                    <p class="tc-detail-field">
                      Attendant Name and Sig
                      <span>
                        {{ newBornNatalCareDetail.attendant_name_and_signature }}
                      </span>
                    </p>
  
                  </div>
                  <mat-action-row>
                    <button
                      mat-button
                      (click)="editNewBornNatalCare()"
                      *ngIf="tcAuthorization.canUpdate('new_born_natal_cares') && form_encounterPersist.encounter_is_active"
                    >
                      {{ appTranslation.getText("general", "edit") }}
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="tc-equal-block"></div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  