<mat-tab-group #mainTabs style="margin-top:1px;">
  <mat-tab>
    <ng-template mat-tab-label>
    <mat-menu>
      <mat-icon fontSet="fa" fontIcon="fa-info"></mat-icon>
      {{appTranslation.getText("general", "overview")}}
      </mat-menu>

    </ng-template>

      <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                              <mat-accordion>

                                    <mat-expansion-panel expanded="true">
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                          {{appTranslation.getText("general","basicdetails")}}
                                        </mat-panel-title>
                                      </mat-expansion-panel-header>

                                          <div *ngIf="!requestLoading">
                                              <p class="tc-detail-field">
                          <span>{{appTranslation.getText('inventory','item_type')}} </span> 
                          {{requestDetail.item_type}}
                      </p>
                    
<p class="tc-detail-field">
                          <span>{{appTranslation.getText('inventory','item')}} </span> 
                          {{requestDetail.item_id}}
                      </p>
                    
<p class="tc-detail-field">
                          <span>{{appTranslation.getText('inventory','unit')}} </span> 
                          {{requestDetail.unit_id}}
                      </p>
                    
<p class="tc-detail-field">
                          <span>{{appTranslation.getText('inventory','quantity')}} </span> 
                          {{requestDetail.quantity}}
                      </p>
                    
<p class="tc-detail-field">
                          <span>{{appTranslation.getText('inventory','requester_store_manager')}} </span> 
                          {{requestDetail.requester_store_manager_id}}
                      </p>
                    
<p class="tc-detail-field">
                          <span>{{appTranslation.getText('inventory','requester_store')}} </span> 
                          {{requestDetail.requester_store_id}}
                      </p>
                    
<p class="tc-detail-field">
                          <span>{{appTranslation.getText('inventory','requestee_store')}} </span> 
                          {{requestDetail.requestee_store_id}}
                      </p>
                    
<p class="tc-detail-field">
                          <span>{{appTranslation.getText('inventory','request_day')}} </span> 
                          {{requestDetail.request_day}}
                      </p>
                    
<p class="tc-detail-field">
                          <span>{{appTranslation.getText('general','status')}} </span> 
                          {{requestDetail.status}}
                      </p>
                    
                                          </div>
                                      <mat-action-row>
                                         <button mat-button (click)="editRequest()" *ngIf="tcAuthorization.canUpdate('requests') ">
                                           {{appTranslation.getText("general", "edit")}}
                                         </button>
                                       </mat-action-row>

                                     </mat-expansion-panel>
                              </mat-accordion>
                      </div>
                   </div>
                  </div>
                  <div class="tc-equal-block"></div>
  </mat-tab>

  <mat-tab>
  <ng-template mat-tab-label>
    <mat-icon fontSet="fa" fontIcon="fa-ellipsis-h"></mat-icon>
    {{appTranslation.getText("general","more")}}
  </ng-template>
  <div class="tc-container">
    <div class=" tc-flex-column">
      <div class="tc-padding">
        <button mat-raised-button (click)="reload()" class="tc-full-width">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          <span>{{appTranslation.getText("general", "reload")}}</span>
        </button>
      </div>

      <div class="tc-padding">
      <button mat-raised-button (click)="back()" class="tc-full-width">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        <span>{{appTranslation.getText("general", "back")}}</span>
      </button>
    </div>

    </div>
  </div>


</mat-tab>


</mat-tab-group>

