<h1 mat-dialog-title>
    biopsy_request Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="biopsyRequestSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="biopsyRequestPersist.biopsyRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="biopsyRequestSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="biopsyRequestIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="biopsyRequestsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(biopsyRequestsData,biopsyRequestSelection) "
            [checked]=" tcUtilsArray.isAllSelected(biopsyRequestsData,biopsyRequestSelection) || biopsyRequestSelectAll"
            [indeterminate]="biopsyRequestSelection.length <biopsyRequestsData.length && biopsyRequestSelection.length>0"
            [disabled]="biopsyRequestSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="biopsyRequestSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #biopsyRequestSelectAllMenu="matMenu">

            <button mat-menu-item (click)="biopsyRequestSelectAll=true;" [disabled]="biopsyRequestSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="biopsyRequestSelectAll = false;" [disabled]="!biopsyRequestSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(biopsyRequestSelection,row) : null"
            [checked]="tcUtilsArray.contains(biopsyRequestSelection,row) || biopsyRequestSelectAll" [disabled]="biopsyRequestSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="hospital_submitting">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hospital_submitting
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hospital_submitting}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ward">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ward
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ward}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="class">
        <mat-header-cell *matHeaderCellDef mat-sort-header>class
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.class}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ethic_group">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ethic_group
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ethic_group}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="previous_biopsy_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>previous_biopsy_no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.previous_biopsy_no}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="nature_of_specimen">
        <mat-header-cell *matHeaderCellDef mat-sort-header>nature_of_specimen
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nature_of_specimen}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="duration_of_lession">
        <mat-header-cell *matHeaderCellDef mat-sort-header>duration_of_lession
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.duration_of_lession}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sign_of_infiltration">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sign_of_infiltration
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sign_of_infiltration}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="symptoms_and_signs">
        <mat-header-cell *matHeaderCellDef mat-sort-header>symptoms_and_signs
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.symptoms_and_signs}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="lmp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lmp
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lmp}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="relevant_lab_data">
        <mat-header-cell *matHeaderCellDef mat-sort-header>relevant_lab_data
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.relevant_lab_data}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="doctor_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="doctor_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="biopsyRequestsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: biopsyRequestsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(biopsyRequestSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="biopsyRequestsTotalCount"
      [ngStyle]="{display: biopsyRequestsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" biopsyRequestSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>