<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <!-- <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
               class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">

      <div class="tc-padding" *ngIf="employeeLoading">
        <h1 class="mat-h1 tc-dashboard-block-header ">{{appTranslation.getText("general", "basicdetails")}} </h1>
      </div>

      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == employeeTabs.overview? 'tc-list-item-focus':''"
                       (click)="activeTab = employeeTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>

      </mat-nav-list>

    </div> 
  </mat-sidenav>-->
  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="employeeLoading">
      <mat-spinner></mat-spinner>
    </div>
    <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p> -->
    <div [ngClass]="activeTab==employeeTabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)="back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      </mat-toolbar>
      <div class="tc-padding">
        <div class="tc-flex-row tc-full-width">


          <div class="tc-equal-block">
            <div class="tc-padding">
              <mat-accordion>

                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{appTranslation.getText("general", "basicdetails")}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="!employeeLoading">
                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'first_name')}} </span>
                      {{employeeDetail.first_name}}
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'middle_name')}} </span>
                      {{employeeDetail.middle_name}}
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'last_name')}} </span>
                      {{employeeDetail.last_name}}
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'email')}} </span>
                      {{employeeDetail.email}}
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'telephone')}} </span>
                      {{employeeDetail.telephone}}
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'gender')}} </span>
                      {{employeeDetail.is_male ? appTranslation.getText("general", "male") : appTranslation.getText("general", "female")}}
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'birthdate')}} </span>
                      {{ tcUtilsDate.toDate(employeeDetail.birth_date)|date:'MMM dd, yyyy. h:mm a'}}
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'address')}} </span>
                      {{employeeDetail.address}}
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('inventory', 'store')}} </span>
                      <a
                        [routerLink]="storeNavigator.storeUrl(employeeDetail.store_id)"
                        routerLinkActive="router-link-active"
                      >
                        {{ this.tcUtilsArray.getById(this.stores, employeeDetail.store_id)?.name }}
                      </a>
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText("inventory", "manager")}}</span>
                      <mat-icon *ngIf="employeeDetail.is_store_manager">done</mat-icon>
                      <mat-icon *ngIf="!employeeDetail.is_store_manager">close</mat-icon>
                    </p>
                  </div>
                  <mat-action-row>
                    <button mat-button (click)="editEmployee()" *ngIf="tcAuthorization.canUpdate('store_employees') ">
                      {{appTranslation.getText("general", "edit")}}
                    </button>
                  </mat-action-row>

                </mat-expansion-panel>
              </mat-accordion>
            </div>


          </div>


          <div class="tc-equal-block">


            <div class="tc-padding">
              <mat-accordion>

                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{appTranslation.getText('member', 'login_details')}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="tcUtilsString.invalid_id == employeeDetail.login_id">
                    <span class="tc-text-muted">User doesn't have account</span>
                  </div>

                  <mat-action-row>
                    <button mat-button (click)="createUser()" *ngIf="tcUtilsString.invalid_id == employeeDetail.login_id">
                      Create User
                    </button>
                    <button mat-button (click)="removeUser()" *ngIf="tcUtilsString.invalid_id != employeeDetail.login_id && !employeeDetail.disabled">
                      Deactivate
                    </button>

                    <div *ngIf="tcUtilsString.invalid_id != employeeDetail.login_id && employeeDetail.disabled">
                      <button mat-button (click)="activateUser()" >
                        Activate
                      </button>
                    </div>

                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>

          </div>

        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
