<h1 mat-dialog-title>
    dispense_history Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="dispenseHistorySearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="dispenseHistoryPersist.dispenseHistorySearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="dispenseHistorySearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="dispenseHistoryIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="dispenseHistorysData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(dispenseHistorysData,dispenseHistorySelection) "
            [checked]=" tcUtilsArray.isAllSelected(dispenseHistorysData,dispenseHistorySelection) || dispenseHistorySelectAll"
            [indeterminate]="dispenseHistorySelection.length <dispenseHistorysData.length && dispenseHistorySelection.length>0"
            [disabled]="dispenseHistorySelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dispenseHistorySelectAllMenu"></mat-icon>
          </button>
          <mat-menu #dispenseHistorySelectAllMenu="matMenu">

            <button mat-menu-item (click)="dispenseHistorySelectAll=true;" [disabled]="dispenseHistorySelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="dispenseHistorySelectAll = false;" [disabled]="!dispenseHistorySelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(dispenseHistorySelection,row) : null"
            [checked]="tcUtilsArray.contains(dispenseHistorySelection,row) || dispenseHistorySelectAll" [disabled]="dispenseHistorySelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="provider_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>provider_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.provider_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="item_in_store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>item_in_store_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.item_in_store_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="prescription_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>prescription_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.prescription_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_type}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="dispenseHistorysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: dispenseHistorysDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dispenseHistorySelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="dispenseHistorysTotalCount"
      [ngStyle]="{display: dispenseHistorysTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" dispenseHistorySelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>