<h1 mat-dialog-title>
  {{ appTranslation.getText("procedure", "procedure_provider") }}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="procedure_providersSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="procedure_providerPersist.procedure_providerSearchText" matSuffix mat-icon-button
            aria-label="Clear"
            (click)="procedure_providersSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="procedure_providersIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="procedure_providersData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(procedure_providersData,procedure_providersSelection) "
            [checked]=" tcUtilsArray.isAllSelected(procedure_providersData,procedure_providersSelection)"
            [indeterminate]="procedure_providersSelection.length <procedure_providersData.length && procedure_providersSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="procedure_providersSelection.length >0 && !selectOne"
                  [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{procedure_providersSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="procedure_providersSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(procedure_providersSelection,row) : null"
                        [checked]="tcUtilsArray.contains(procedure_providersSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(procedure_providersSelection,row)"
                        *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ppid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ppid</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ppid}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="notes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('notes', 'note')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.notes}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed', 'active')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="!element.active">close</mat-icon>
          <mat-icon *ngIf="element.active">check</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('procedure', 'lab_type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="procedure_providersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: procedure_providersDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedure_providersSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="procedure_providersTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general", "cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" procedure_providersSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general", "return_selection")}}
  </button>
</div>
