
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     measuring_unit  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchMeasuring_units();" *ngIf="tcAuthorization.canRead('measuring_units')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addMeasuring_unit();" *ngIf="tcAuthorization.canCreate('measuring_units')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="measuringUnitsSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="measuringUnitPersist.measuringUnitSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="measuringUnitsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="measuringUnitIsLoading">
      <mat-spinner></mat-spinner>
    </div>
      <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let measuringUnit of measuringUnitsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('measuring_units') || tcAuthorization.canDelete('measuring_units')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editMeasuringUnit(measuringUnit)" *ngIf="tcAuthorization.canUpdate('measuring_units')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMeasuringUnit(measuringUnit)" *ngIf="tcAuthorization.canDelete('measuring_units')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>unit</span>
            {{measuringUnit.unit}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchMeasuring_units.length >0 || measuringUnitSelectAll">
        <button mat-button (click)="downloadMeasuringUnits()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{measuringUnitSelectAll ? measuringUnitsTotalCount : measuringUnitSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="measuringUnitsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(measuringUnitsData,measuringUnitSelection) "
              [checked]=" tcUtilsArray.isAllSelected(measuringUnitsData,measuringUnitSelection) || measuringUnitSelectAll"
              [indeterminate]="measuringUnitSelection.length <measuringUnitsData.length && measuringUnitSelection.length>0"
              [disabled]="measuringUnitSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="measuringUnitSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #measuringUnitSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="measuringUnitSelectAll=true;" [disabled]="measuringUnitSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="measuringUnitSelectAll = false;" [disabled]="!measuringUnitSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(measuringUnitSelection,row) : null"
              [checked]="tcUtilsArray.contains(measuringUnitSelection,row) || measuringUnitSelectAll" [disabled]="measuringUnitSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>unit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.unit}}</mat-cell>
        </ng-container>
  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('measuring_units') || tcAuthorization.canDelete('measuring_units')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editMeasuringUnit(element)" *ngIf="tcAuthorization.canUpdate('measuring_units') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMeasuringUnit(element)" *ngIf="tcAuthorization.canDelete('measuring_units')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="measuringUnitsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: measuringUnitsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(measuringUnitSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="measuringUnitsTotalCount"
        [ngStyle]="{display: measuringUnitsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>