<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="surgery_appointmentDetail">
        <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
        <input
            matInput
            placeholder="{{ appTranslation.getText('patient', 'procedure_type') }}"
            type="text"
            [(ngModel)]="procedureTypeName"
            disabled
            required
        >
    
        <button
            mat-icon-button
            matTooltip="{{ appTranslation.getText('patient', 'surgery_type') }}"
            matSuffix
            color="primary"
            (click)="searchProcedureType()"
        >
            <mat-icon>search</mat-icon>
        </button>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
          <input
              matInput
              placeholder="{{ appTranslation.getText('patient', 'diagnosis') }}"
              type="text"
              [(ngModel)]="surgery_appointmentDetail.diagnosis"
              disabled
              required
          >
      
          <button
              mat-icon-button
              matTooltip="{{ appTranslation.getText('patient', 'diagnosis') }}"
              matSuffix
              color="primary"
              (click)="pickIcd11()"
          >
              <mat-icon>search</mat-icon>
          </button>
          </mat-form-field>
          <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
            <mat-select
              placeholder="surgery_type"
              [(value)]="surgery_appointmentDetail.surgery_type"
              required>
              <mat-option *ngFor="let etype of persist.SurgeryType" [value]="etype.id">
               {{etype.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
            <input matInput placeholder="{{appTranslation.getText('patient','surgery_date')}}" type="datetime-local" min="{{dateTime}}"  [(ngModel)]="appointed_time" required>
        </mat-form-field>

        <input #documentUploadInput hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
        (change)="documentUpload($event)"/>
    <button mat-menu-item (click)="documentUploadInput.click()" *ngIf="isNew()">
    <mat-icon fontSet="fa" fontIcon="fa-upload"></mat-icon>
    {{appTranslation.getText("patient", "consent_form") + " " + appTranslation.getText("general", "upload")}}
    </button>
      
        <label for="#" *ngIf="isNew()"> Duration</label>
        <div class="tc-equal-block" *ngIf="isNew()">
          <mat-form-field class="hr min">
            <input
              matInput
              placeholder=
                'Hr'
              type="number"
              dir="rtl"
              min="0"
              max="24"
              [(ngModel)]="hr"
            />
          </mat-form-field>
          <span class="minute-icon">:</span>
          <mat-form-field class="min">
            <input
              matInput
              placeholder=
                'Min'
              min="0"
              max="60"
              type="number"
              [(ngModel)]="min"
            />
          </mat-form-field>
        </div>
        <div class="tc-flex-row">
          
        <mat-form-field *ngIf="isEdit()">
          <input
          matInput
          placeholder="Schedule"
          type="time"
          [(ngModel)]="schedule_time"
          required
      >

        </mat-form-field>

        <!-- <mat-form-field class="tc-full-stretch" >
          <mat-label>Surgery Duration (HH:MM)</mat-label>
          <input matInput type="text" placeholder="00:00" pattern="[0-9]{2}:[0-9]{2}" [(ngModel)]="duration">
      </mat-form-field> -->

      <mat-form-field class="tc-full-stretch" *ngIf="isEdit()" >
        <input
            matInput
            placeholder="Surgery room"
            type="text"
            [(ngModel)]="surgeryRoom"
            disabled
            required
        >
    
        <button
            mat-icon-button
            matTooltip="{{ appTranslation.getText('patient', 'surgery_room') }}"
            matSuffix
            disabled="{{!surgery_appointmentDetail.duration}}"
            color="primary"
            (click)="searchSurgeryRoom()"
        >
            <mat-icon>search</mat-icon>
        </button>
        </mat-form-field>
        </div>
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="isNew()? !canSubmit(): !canUpdate()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save') }}
    </button>
  </div>
  
