.hr {
    margin: 0;
    text-align: end !important;
}

.hr span {
    text-align: end;
}


.minute-icon{
    margin: 0 10px;
}

.min {
    width: 35px;
    text-align: start;
}

.min input {
    text-align: start;
}