<h1 mat-dialog-title>
  {{appTranslation.getText('patient', 'surgery_type')}} {{appTranslation.getText('general', 'selection')}}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="surgery_typesSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="surgery_typePersist.surgery_typeSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="surgery_typesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="surgery_typesIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="surgery_typesData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(surgery_typesData,surgery_typesSelection) "
            [checked]=" tcUtilsArray.isAllSelected(surgery_typesData,surgery_typesSelection)"
            [indeterminate]="surgery_typesSelection.length <surgery_typesData.length && surgery_typesSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="surgery_typesSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{surgery_typesSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="surgery_typesSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(surgery_typesSelection,row) : null"
                        [checked]="tcUtilsArray.contains(surgery_typesSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(surgery_typesSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="surgery_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','surgery_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.surgery_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="duration">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('schedule','duration')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.duration}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="surgery_typesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: surgery_typesDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(surgery_typesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="surgery_typesTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" surgery_typesSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
