<h1 mat-dialog-title>
    {{appTranslation.getText("procedure", "procedure_tests")}} Selection
</h1>

<div mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="procedure_testssSearchTextBox" placeholder="Search Text">
        <button mat-button *ngIf="procedure_testsPersist.procedure_testsSearchText" matSuffix mat-icon-button
            aria-label="Clear" (click)="procedure_testssSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="procedure_testssIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">

        <mat-table [dataSource]="procedure_testssData" matSort>

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(procedure_testssData,procedure_testssSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(procedure_testssData,procedure_testssSelection)"
                        [indeterminate]="procedure_testssSelection.length <procedure_testssData.length && procedure_testssSelection.length>0"
                        *ngIf="!selectOne">
                    </mat-checkbox>
                    <button mat-button *ngIf="procedure_testssSelection.length >0 && !selectOne"
                        [mat-menu-trigger-for]="collectionMenu">
                        <i class="material-icons">more_vert</i>

                        <span matBadge="{{procedure_testssSelection.length}}" matBadgePosition="above after"
                            matBadgeOverlap="false" [matBadgeHidden]="procedure_testssSelection.length == 0"
                            style="margin-right:10px;"></span>
                    </button>
                    <mat-menu #collectionMenu="matMenu">

                        <button mat-menu-item (click)="returnSelected()">
                            <mat-icon>done</mat-icon>
                            <span>Return Selection</span>
                        </button>
                    </mat-menu>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(procedure_testssSelection,row) : null"
                        [checked]="tcUtilsArray.contains(procedure_testssSelection,row)" *ngIf="!selectOne">
                    </mat-checkbox>


                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(procedure_testssSelection,row)" *ngIf="selectOne">
                    </mat-checkbox>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','type')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','code')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('financial','amount')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="procedure_testssDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: procedure_testssDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedure_testssSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [length]="procedure_testssTotalCount"></mat-paginator>

    </div>
    <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()" [disabled]=" procedure_testssSelection.length == 0 " cdkFocusInitial>
        {{appTranslation.getText("general","return_selection")}}
    </button>
</div>