<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="bedroomDetail">

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','name')}}" type="text"
        [(ngModel)]="bedroomDetail.name" required>
    </mat-form-field>

    <!-- <mat-form-field class="tc-full-stretch"> -->
      <!-- <mat-select placeholder="{{ appTranslation.getText('bed', 'bedroom_type') }}"
        [(value)]="bedroomDetail.bed_room_type_id" required>
        <mat-option *ngFor="let bedroomType of bedroomTypes" [value]="bedroomType.id">
          {{ bedroomType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->


    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="{{ appTranslation.getText('bed', 'bedroom_level') }}"
        [(value)]="bedroomDetail.bed_room_level_id" required>
        <mat-option *ngFor="let bedroomLevel of bedroomLevels" [value]="bedroomLevel.id">
          {{ bedroomLevel.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="{{ appTranslation.getText('bed', 'status') }}" [(value)]="bedroomDetail.status" required>
        <mat-option *ngFor="let etype of persist.room_status" [value]="etype.id">
          {{ appTranslation.getText("bed", etype.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button mat-button (click)="isNew() ? onAdd() : onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
