
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-baby"></mat-icon>
    {{appTranslation.getText("general", "birth")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchBirths();" *ngIf="tcAuthorization.canRead('births')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addBirth();" *ngIf="tcAuthorization.canCreate('births') && form_encounterPersist.encounter_is_active" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="false"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>

<div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="birthsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="birthPersist.birthSearchText" matSuffix mat-icon-button aria-label="Clear"
                (click)="birthsSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="tc-loading" *ngIf="birthsIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let birth of birthsData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title> 
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('births') || tcAuthorization.canDelete('births')) && form_encounterPersist.encounter_is_active">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <button mat-menu-item (click)="editBirth(birth)" *ngIf="tcAuthorization.canUpdate('births') && form_encounterPersist.encounter_is_active">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                    </button>
                                                                                    <button mat-menu-item (click)="deleteBirth(birth)" *ngIf="tcAuthorization.canDelete('births') && form_encounterPersist.encounter_is_active">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
                    <div class="tc-detail-field">
            <span>{{appTranslation.getText('general','mother_name')}}</span>
            {{getPatientName(birth.mothername)}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','father_name')}}</span>
            {{birth.fathers_name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','given_name')}}</span>
            {{birth.given_name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','birth_time')}}</span>
            {{tcUtilsDate.toDate(birth.birth_time)|date}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','weight')}}</span>
            {{birth.weight}}kg
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','height')}}</span>
            {{birth.height}} m
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('patient','doctor_name')}}</span>
            {{getDoctorName(birth.doctors_id)}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="birthsSelection.length >0 || birthsSelectAll">
                  <button mat-button (click)="downloadBirths()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{birthsSelectAll ? birthsTotalCount : birthsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="birthsData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(birthsData,birthsSelection) "
                [checked]=" tcUtilsArray.isAllSelected(birthsData,birthsSelection) || birthsSelectAll"
                [indeterminate]="birthsSelection.length <birthsData.length && birthsSelection.length>0"
                [disabled]="birthsSelectAll">
              </mat-checkbox>
              
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="birthsSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #birthsSelectAllMenu="matMenu">
    
    
                <button mat-menu-item
                        (click)="birthsSelectAll=true;"
                        [disabled]="birthsSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="birthsSelectAll = false;"
                        [disabled]="!birthsSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(birthsSelection,row) : null"
                            [checked]="tcUtilsArray.contains(birthsSelection,row) || birthsSelectAll"
                            [disabled]="birthsSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                          <a [routerLink]="birthNavigator.birthUrl(element.id)"
                             class="tc-link">{{element.id}}</a>

                      </mat-cell>
                    </ng-container>

          <ng-container matColumnDef="mothername">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','mother_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{getPatientName(element.mothername)}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="fathers_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','father_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.fathers_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="given_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','given_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.given_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="birth_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','birth_time')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.birth_time)|date:'MMM dd, yyyy. h:mm a'}}
                                </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="weight">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','weight')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.weight}} kg</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="height">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','height')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.height}} m</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="doctors_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','doctor_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{getDoctorName(element.doctors_id)}}</mat-cell>
                             </ng-container>
                          

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('births') || tcAuthorization.canDelete('births')) && form_encounterPersist.encounter_is_active">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
                <button mat-menu-item (click)="printBirth(element)" >
                  <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
                  <span>{{appTranslation.getText("patient","print_birth")}} </span>
                </button>
                <button mat-menu-item (click)="editBirth(element)" *ngIf="tcAuthorization.canUpdate('births') && form_encounterPersist.encounter_is_active ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteBirth(element)" *ngIf="tcAuthorization.canDelete('births') && form_encounterPersist.encounter_is_active ">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="birthsDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: birthsDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(birthsSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="birthsTotalCount"
                       [ngStyle]="{display: birthsTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>


