
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-hotel"></mat-icon>
    {{appTranslation.getText("employee", "departments")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchDepartments();" *ngIf="tcAuthorization.canRead('departments')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addDepartment();" *ngIf="tcAuthorization.canCreate('departments')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="departmentsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="departmentPersist.departmentSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="departmentsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="departmentsIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let department of departmentsData" class="tc-card" >
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('departments') || tcAuthorization.canDelete('departments')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editDepartment(department)" *ngIf="tcAuthorization.canUpdate('departments')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDepartment(department)" *ngIf="tcAuthorization.canDelete('departments')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general','name')}}</span>
          <!-- <a [routerLink]="departmentNavigator.departmentUrl(department.id)"> -->
            {{department.name}}
          <!-- </a> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="departmentsSelection.length >0 || departmentsSelectAll">
      <button mat-button (click)="downloadDepartments()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{departmentsSelectAll ? departmentsTotalCount : departmentsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="departmentsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(departmentsData,departmentsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(departmentsData,departmentsSelection) || departmentsSelectAll"
            [indeterminate]="departmentsSelection.length <departmentsData.length && departmentsSelection.length>0"
            [disabled]="departmentsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="departmentsSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #departmentsSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="departmentsSelectAll=true;"
                    [disabled]="departmentsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="departmentsSelectAll = false;"
                    [disabled]="!departmentsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(departmentsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(departmentsSelection,row) || departmentsSelectAll"
                        [disabled]="departmentsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="departmentNavigator.departmentUrl(element.id)"
             class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- <a [routerLink]="departmentNavigator.departmentUrl(element.id)"> -->
            {{element.name}}
          <!-- </a> -->
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{tcUtilsArray.getById(departmentPersist.departmentType,element.type)?.name}}

          
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('departments') || tcAuthorization.canDelete('departments')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editDepartment(element)" *ngIf="tcAuthorization.canUpdate('departments') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteDepartment(element)" *ngIf="tcAuthorization.canDelete('departments')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="departmentsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: departmentsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(departmentsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="departmentsTotalCount"
                   [ngStyle]="{display: departmentsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>


