<h1 mat-dialog-title>
    dispatch_or_reject Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="dispatchOrRejectSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="dispatchOrRejectPersist.dispatchOrRejectSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="dispatchOrRejectSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="dispatchOrRejectIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="dispatchOrRejectsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(dispatchOrRejectsData,dispatchOrRejectSelection) "
            [checked]=" tcUtilsArray.isAllSelected(dispatchOrRejectsData,dispatchOrRejectSelection) || dispatchOrRejectSelectAll"
            [indeterminate]="dispatchOrRejectSelection.length <dispatchOrRejectsData.length && dispatchOrRejectSelection.length>0"
            [disabled]="dispatchOrRejectSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dispatchOrRejectSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #dispatchOrRejectSelectAllMenu="matMenu">

            <button mat-menu-item (click)="dispatchOrRejectSelectAll=true;" [disabled]="dispatchOrRejectSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="dispatchOrRejectSelectAll = false;" [disabled]="!dispatchOrRejectSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(dispatchOrRejectSelection,row) : null"
            [checked]="tcUtilsArray.contains(dispatchOrRejectSelection,row) || dispatchOrRejectSelectAll" [disabled]="dispatchOrRejectSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>item_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.item_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>store_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.store_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="employee_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>employee_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.employee_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="batch_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>batch_no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header>reason
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reason}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="dispatchOrRejectsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: dispatchOrRejectsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dispatchOrRejectSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="dispatchOrRejectsTotalCount"
      [ngStyle]="{display: dispatchOrRejectsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" dispatchOrRejectSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>