<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="groupMemberDetail">

      <mat-form-field class="tc-full-stretch">
        <mat-label>{{
          appTranslation.getText("patient", "search_patient")
          }}</mat-label>
        <input matInput disabled [(ngModel)]="patientFullName"/>
        <button
          mat-icon-button
          matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
          matSuffix
          [disabled]="isEdit() "
          color="primary"
          (click)="searchPatient()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>                               
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="note" type="text"  [(ngModel)]="groupMemberDetail.note" >
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="recommendation " type="text"  [(ngModel)]="groupMemberDetail.recommendation " >
                          </mat-form-field>  
                                            
                          <mat-form-field class="tc-full-stretch">
                            <mat-select placeholder='Status'
                                        [(value)]="groupMemberDetail.status" >
                              <mat-option *ngFor="let etype of persist.group_member_status" [value]="etype.id">
                                {{etype.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                         </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>