<h1 mat-dialog-title>
  lost_damage Selection
</h1><div mat-dialog-content>  <mat-form-field>
  <input matInput [formControl]="lostDamageSearchTextBox"
    placeholder='{{appTranslation.getText("general","search_text")}} '>
  <button mat-button *ngIf="lostDamagePersist.lostDamageSearchText" matSuffix mat-icon-button aria-label="Clear"
    (click)="lostDamageSearchTextBox.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="tc-loading" *ngIf="lostDamageIsLoading">
  <mat-spinner></mat-spinner>
</div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="lostDamagesData" matSort class="tc-hide-on-mobile">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)=" tcUtilsArray.toggleSelectAll(lostDamagesData,lostDamageSelection) "
          [checked]=" tcUtilsArray.isAllSelected(lostDamagesData,lostDamageSelection) || lostDamageSelectAll"
          [indeterminate]="lostDamageSelection.length <lostDamagesData.length && lostDamageSelection.length>0"
          [disabled]="lostDamageSelectAll">
        </mat-checkbox>

        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="lostDamageSelectAllMenu"></mat-icon>
        </button>
        <mat-menu #lostDamageSelectAllMenu="matMenu">

          <button mat-menu-item (click)="lostDamageSelectAll=true;" [disabled]="lostDamageSelectAll">
            {{appTranslation.getText("general", "all")}}
          </button>
          <button mat-menu-item (click)="lostDamageSelectAll = false;" [disabled]="!lostDamageSelectAll">
            {{appTranslation.getText("general", "none")}}
          </button>
        </mat-menu>

      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? tcUtilsArray.toggleSelection(lostDamageSelection,row) : null"
          [checked]="tcUtilsArray.contains(lostDamageSelection,row) || lostDamageSelectAll" [disabled]="lostDamageSelectAll">
        </mat-checkbox>
      </mat-cell>
    </ng-container>  <ng-container matColumnDef="transfer_or_receive_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_or_receive_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.transfer_or_receive_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="reason">
      <mat-header-cell *matHeaderCellDef mat-sort-header>reason
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.reason}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="user_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>user_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.user_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>status
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>unit
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.unit}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="date_of_disposal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>date_of_disposal
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date_of_disposal}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="disposed_by">
      <mat-header-cell *matHeaderCellDef mat-sort-header>disposed_by
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.disposed_by}}</mat-cell>
    </ng-container>
<mat-header-row *matHeaderRowDef="lostDamagesDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: lostDamagesDisplayedColumns;"
      [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(lostDamageSelection,row)}"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
    [pageSize]="tcUtilsArray.defaultPageSize" [length]="lostDamagesTotalCount"
    [ngStyle]="{display: lostDamagesTotalCount > 0? '':'none'}"></mat-paginator>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" lostDamageSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>