<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="bedroomtypeLoading">
      <mat-spinner></mat-spinner>
  </div>

  <div >
      <mat-toolbar class="tc-toolbar-secondary ">
          <h1 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-info"></mat-icon>
      {{ appTranslation.getText("general", "overview") }}</h1>

      <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>

    <button mat-button (click)=" reload()" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
</mat-toolbar>
    <!-- </ng-template> -->

    <div class="tc-flex-row tc-full-width">
      <div class="align-horizontal">
    <div class="tc-equal-block" *ngIf="bedroomtypeDetail.id">
      <div class="tc-padding">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bed rooms
              </mat-panel-title>
            </mat-expansion-panel-header>
              <app-bedroom-list [ward_id]="bedroomtypeDetail.id">

              </app-bedroom-list>
      </mat-expansion-panel>
      </mat-accordion>
      </div>
      </div>
    </div>
  </div>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
