<h1 mat-dialog-title>
    item_request Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="itemRequestSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="itemRequestPersist.itemRequestSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemRequestSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="itemRequestIsLoading">
    <mat-spinner></mat-spinner>
  </div>  

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchItem_requests.length >0 || itemRequestSelectAll">
     
      <div class="tc-flex-fill"></div>
      <span>{{itemRequestSelectAll ? itemRequestsTotalCount : itemRequestSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="itemRequestsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(itemRequestsData,itemRequestSelection) "
            [checked]=" tcUtilsArray.isAllSelected(itemRequestsData,itemRequestSelection) || itemRequestSelectAll"
            [indeterminate]="itemRequestSelection.length <itemRequestsData.length && itemRequestSelection.length>0"
            [disabled]="itemRequestSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemRequestSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #itemRequestSelectAllMenu="matMenu">

            <button mat-menu-item (click)="itemRequestSelectAll=true;" [disabled]="itemRequestSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="itemRequestSelectAll = false;" [disabled]="!itemRequestSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(itemRequestSelection,row) : null"
            [checked]="tcUtilsArray.contains(itemRequestSelection,row) || itemRequestSelectAll" [disabled]="itemRequestSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="requestor_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>requestor_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.requestor_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>store_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.store_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="request_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>request_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="response_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>response_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.response_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="responsed_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header>responsed_by
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.responsed_by}}</mat-cell>
      </ng-container>
 
      <mat-header-row *matHeaderRowDef="itemRequestsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: itemRequestsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemRequestSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemRequestsTotalCount"
      [ngStyle]="{display: itemRequestsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" itemRequestSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>