<h1 mat-dialog-title>
    Lab_Result Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="lab_resultsSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="lab_resultPersist.lab_resultSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="lab_resultsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="lab_resultsIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="lab_resultsData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(lab_resultsData,lab_resultsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(lab_resultsData,lab_resultsSelection)"
              [indeterminate]="lab_resultsSelection.length <lab_resultsData.length && lab_resultsSelection.length>0"
              *ngIf="!selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="lab_resultsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{lab_resultsSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="lab_resultsSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(lab_resultsSelection,row) : null"
                          [checked]="tcUtilsArray.contains(lab_resultsSelection,row)"
                          *ngIf="!selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(lab_resultsSelection,row)"
                                    *ngIf="selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="selected_order_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','order')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.selected_order_id}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="result">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','result')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.result}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="result_by">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','result_by')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.result_by}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="confirmed_by">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','confirmed_by')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.confirmed_by}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="lab_resultsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: lab_resultsDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(lab_resultsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="lab_resultsTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" lab_resultsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  