<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="receptionDetail">
  
       <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('general','first_name')}}" type="text"  [(ngModel)]="receptionDetail.first_name" required>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('general','middle_name')}}" type="text"  [(ngModel)]="receptionDetail.middle_name" required>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('general','last_name')}}" type="text"  [(ngModel)]="receptionDetail.last_name" required>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('general','email')}}" type="text"  [(ngModel)]="receptionDetail.email" >
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('general','telephone')}}" type="text"  [(ngModel)]="receptionDetail.telephone" required>
                          </mat-form-field>
                      
  <div class="tc-flex-column">
                                  <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="receptionDetail.is_male" required> {{appTranslation.getText('general','is_male')}} </mat-slide-toggle>
                           </div>

                           <mat-form-field class="tc-full-stretch">
                            <input matInput placeholder="{{appTranslation.getText('general','birthdate')}}" [(ngModel)]="birth_date"
                                   [matDatepicker]="birth_date_picker" required>
                            <mat-datepicker-toggle matSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #birth_date_picker></mat-datepicker>
                          </mat-form-field>
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput placeholder="{{appTranslation.getText('general','address')}}" type="text"  [(ngModel)]="receptionDetail.address" required>
                          </mat-form-field>

  
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  