
    <div class="tc-flex-row tc-full-width">
      <div class="tc-equal-block">
          <div class="tc-padding">
              <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{appTranslation.getText('laboratory','lab_test_id')}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="tc-padding">
                        <mat-form-field>
                          <input matInput [formControl]="lab_testsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
                          <button mat-button *ngIf="lab_testPersist.lab_testSearchText" matSuffix mat-icon-button aria-label="Clear"
                                  (click)="lab_testsSearchTextBox.setValue('')">
                            <mat-icon>close</mat-icon>
                          </button>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select placeholder='Type'
                                      [(value)]="lab_testPersist.lab_order_type"
                                      (valueChange)="searchLab_Tests()">
                            <mat-option *ngFor="let status of lab_orderPersist.lab_order_type" [value]="status.id">
                              {{appTranslation.getText('procedure', status?.name)}}
                            </mat-option>
                          </mat-select>

                          <button mat-button *ngIf='lab_testPersist.lab_order_type' matSuffix mat-icon-button
                                  aria-label="Clear"
                                  (click)="lab_testPersist.lab_order_type = null;searchLab_Tests();$event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                          </button>
                        </mat-form-field>
                        <div class="tc-loading" *ngIf="lab_testsIsLoading">
                          <mat-spinner></mat-spinner>
                        </div>

                        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
                          <mat-card *ngFor="let lab_test of lab_testsData" class="tc-card" >
                                  <mat-card-header>
                                        <mat-card-title> <a [routerLink]="lab_testNavigator.lab_testUrl(lab_test.id)"
                                                                                      class="tc-link">{{lab_test.id}}</a>
                                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('order_tests') || tcAuthorization.canDelete('order_tests')">
                                                                                                      <i class="material-icons">more_vert</i>
                                                                                                    </button>
                                                                                                    <mat-menu #elementMenu="matMenu">

                                                                                                      <button mat-menu-item (click)="editLab_Test(lab_test)" *ngIf="tcAuthorization.canUpdate('order_tests')">
                                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                                      </button>
                                                                                                      <button mat-menu-item (click)="deleteLab_Test(lab_test)" *ngIf="tcAuthorization.canDelete('order_tests')">
                                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                                      </button>
                                                                                                    </mat-menu>
                                                                                      </mat-card-title>
                                        <mat-card-subtitle></mat-card-subtitle>
                                   </mat-card-header>
                                  <mat-card-content>

                  <div class="tc-detail-field">
                              <span>{{appTranslation.getText('general','name')}}</span>

                               <a [routerLink]="lab_testNavigator.lab_testUrl(lab_test.id)"
                                                                                      class="tc-link">{{lab_test.name}}</a>
                            </div>
                  <div class="tc-detail-field">
                              <span>{{appTranslation.getText('laboratory','min_range')}}</span>
                              {{lab_test.min_range}}
                            </div>
                  <div class="tc-detail-field">
                              <span>{{appTranslation.getText('laboratory','max_range')}}</span>
                              {{lab_test.max_range}}
                            </div>
                  <div class="tc-detail-field">
                              <span>{{appTranslation.getText('laboratory','price')}}</span>
                              {{tcUtilsNumber.convertToDecimalPlaces(lab_test.price)}}
                            </div>
                                  </mat-card-content>
                          </mat-card>
                        </div>

                        <div class="tc-table-container tc-full-width">

                          <mat-toolbar *ngIf="lab_testsSelection.length >0 || lab_testsSelectAll">
                                    <button mat-button (click)="downloadLab_Tests()">
                                      <mat-icon>save_alt</mat-icon>
                                      <span>{{appTranslation.getText("general", "download")}} </span>
                                    </button>
                                    <div class="tc-flex-fill"></div>
                                    <span>{{lab_testsSelectAll ? lab_testsTotalCount : lab_testsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
                          </mat-toolbar>

                          <mat-table [dataSource]="lab_testsData" matSort class="tc-hide-on-mobile">

                            <ng-container matColumnDef="select">
                              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                                <mat-checkbox
                                  (click)="$event.stopPropagation()"
                                  (change)=" tcUtilsArray.toggleSelectAll(lab_testsData,lab_testsSelection) "
                                  [checked]=" tcUtilsArray.isAllSelected(lab_testsData,lab_testsSelection) || lab_testsSelectAll"
                                  [indeterminate]="lab_testsSelection.length <lab_testsData.length && lab_testsSelection.length>0"
                                  [disabled]="lab_testsSelectAll">
                                </mat-checkbox>

                                <button mat-icon-button>
                                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="lab_testsSelectAllMenu"></mat-icon>
                                </button>
                                <mat-menu #lab_testsSelectAllMenu="matMenu">


                                  <button mat-menu-item
                                          (click)="lab_testsSelectAll=true;"
                                          [disabled]="lab_testsSelectAll">
                                    {{appTranslation.getText("general", "all")}}
                                  </button>
                                  <button mat-menu-item
                                          (click)="lab_testsSelectAll = false;"
                                          [disabled]="!lab_testsSelectAll">
                                    {{appTranslation.getText("general", "none")}}
                                  </button>
                                </mat-menu>

                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" class="tc-column-selection">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="tcUtilsArray.toggleSelectAll(lab_testsData,lab_testsSelection)"
                                              [checked]="tcUtilsArray.contains(lab_testsSelection,row) || lab_testsSelectAll"
                                              [disabled]="lab_testsSelectAll">
                                </mat-checkbox>
                              </mat-cell>
                            </ng-container>



                  <ng-container matColumnDef="name">
                                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                                  <mat-cell *matCellDef="let element">

                                                    <a [routerLink]="lab_testNavigator.lab_testUrl(element.id)"
                                                    class="tc-link">{{element.name}}</a>
                                                  </mat-cell>
                                               </ng-container>

                  <ng-container matColumnDef="min_range">
                                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','min_range')}}</mat-header-cell>
                                                  <mat-cell *matCellDef="let element">{{element.min_range}}</mat-cell>
                                               </ng-container>

                  <ng-container matColumnDef="max_range">
                                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','max_range')}}</mat-header-cell>
                                                  <mat-cell *matCellDef="let element">{{element.max_range}}</mat-cell>
                                               </ng-container>

                  <ng-container matColumnDef="price">
                                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','price')}}</mat-header-cell>
                                                  <mat-cell *matCellDef="let element">                              {{tcUtilsNumber.convertToDecimalPlaces(element.price)}}
                                                  </mat-cell>
                                               </ng-container>

                                               <ng-container matColumnDef="test_sequence">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Order</mat-header-cell>
                                                <mat-cell *matCellDef="let element">{{element.test_sequence}}</mat-cell>
                                             </ng-container>


                            <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                              <mat-cell *matCellDef="let element" class="tc-column-action">
                                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('order_tests') || tcAuthorization.canDelete('order_tests')">
                                  <i class="material-icons">more_vert</i>
                                </button>
                                <mat-menu #elementMenu="matMenu">

                                  <button mat-menu-item (click)="editLab_Test(element)" *ngIf="tcAuthorization.canUpdate('order_tests') ">
                                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                    <span>{{appTranslation.getText("general","edit")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="updateActveness(element, 'freeze')" *ngIf="tcAuthorization.canUpdate('order_tests') && element.status == activnessStatus.active ">
                                    <mat-icon fontSet="fa" fontIcon="fa-comment-slash"></mat-icon>
                                    <span>{{appTranslation.getText("inventory","freeze")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="updateActveness(element, 'active')" *ngIf="tcAuthorization.canUpdate('order_tests') && element.status == activnessStatus.freeze">
                                    <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
                                    <span>{{appTranslation.getText("users","active")}} </span>
                                  </button>
                                  <button mat-menu-item (click)="deleteLab_Test(element)" *ngIf="tcAuthorization.canDelete('order_tests')">
                                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                    <span>{{appTranslation.getText("general","delete")}} </span>
                                  </button>
                                </mat-menu>
                              </mat-cell>
                            </ng-container>


                            <mat-header-row *matHeaderRowDef="lab_testsDisplayedColumns; sticky: true; "></mat-header-row>
                            <mat-row *matRowDef="let row; columns: lab_testsDisplayedColumns;"
                                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(lab_testsSelection,row)}"></mat-row>

                          </mat-table>

                          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                                         [pageSize]="5"
                                         [length]="lab_testsTotalCount"
                                         [ngStyle]="{display: lab_testsTotalCount > 0? '':'none'}"></mat-paginator>
                        </div>
                      </div>
                      <mat-action-row>
                        <button mat-button (click)=" addLab_Test();" *ngIf="tcAuthorization.canCreate('order_tests')" class="tc-link">
                          <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                      </button>
                       </mat-action-row>

                     </mat-expansion-panel>
              </mat-accordion>
          </div>
      </div>

  </div>

