<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav
    #sidenav
    [mode]="tcUtilsAngular.sideNavMode"
    [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8"
    position="end"
  >
    <div class="tc-sidebar-inner">
      <div class="tc-padding" *ngIf="!icuPhysicalAssessmentIsLoading">
        <h1 class="mat-h1">{{ icuPhysicalAssessmentDetail.id }}</h1>
      </div>
      <mat-nav-list>
        <mat-list-item
          [ngClass]="
            activeTab == IcuPhysicalAssessmentTabs.overview
              ? 'tc-list-item-focus'
              : ''
          "
          (click)="
            activeTab = IcuPhysicalAssessmentTabs.overview;
            tcUtilsAngular.smallDevice ? sidenav.toggle() : false
          "
        >
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{ appTranslation.getText("general", "overview") }}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="icuPhysicalAssessmentIsLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div
      [ngClass]="
        activeTab == IcuPhysicalAssessmentTabs.overview ? '' : 'tc-hidden'
      "
    >
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </p>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ appTranslation.getText("general", "basicdetails") }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!icuPhysicalAssessmentIsLoading">
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.avpu }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.gag_reflex_intact }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.cough_reflex_intact }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.rt_palpable }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.lt_palpable }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.lt_absent }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.rt_absent }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.ett_size }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.intact_cm }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.track_intact }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.track_care }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.color }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.amount }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.vent_circuit_checked }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.bac_filter }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.humidifier }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.drianage }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.abd_soft }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.abd_distended }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.vomiting }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.diarrhea }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.consistency }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.date_of_last_bm }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.foley }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.condom_catheter }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.foley_insert_date }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.foley_care_provided }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.urine_appearance }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.breakdown }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.intact }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.bedsore }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.wound_care }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.bruise }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.edema }} </span>
                  </p>
                  <p class="tc-detail-field">
                    <span>
                      {{ icuPhysicalAssessmentDetail.perianal_care }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    <span> {{ icuPhysicalAssessmentDetail.bed_bath }} </span>
                  </p>
                </div>
                <mat-action-row>
                  <button
                    mat-button
                    (click)="editIcuPhysicalAssessment()"
                    *ngIf="
                      tcAuthorization.canUpdate('icu_physical_assessments')
                    "
                  >
                    {{ appTranslation.getText("general", "edit") }}
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
