<h1 mat-dialog-title>Lab Test Normal Range Selection</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="labTestNormalRangeSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="labTestNormalRangePersist.labTestNormalRangeSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="labTestNormalRangeSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="labTestNormalRangeIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container tc-full-width">
    <mat-table
      [dataSource]="labTestNormalRangesData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                labTestNormalRangesData,
                labTestNormalRangeSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                labTestNormalRangesData,
                labTestNormalRangeSelection
              ) || labTestNormalRangeSelectAll
            "
            [indeterminate]="
              labTestNormalRangeSelection.length < labTestNormalRangesData.length &&
              labTestNormalRangeSelection.length > 0
            "
            [disabled]="labTestNormalRangeSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="labTestNormalRangeSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #labTestNormalRangeSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="labTestNormalRangeSelectAll = true"
              [disabled]="labTestNormalRangeSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="labTestNormalRangeSelectAll = false"
              [disabled]="!labTestNormalRangeSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(labTestNormalRangeSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(labTestNormalRangeSelection, row) ||
              labTestNormalRangeSelectAll
            "
            [disabled]="labTestNormalRangeSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.date * 1000 | date
        }}</mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="labTestNormalRangesDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: labTestNormalRangesDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(labTestNormalRangeSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="labTestNormalRangesTotalCount"
      [ngStyle]="{ display: labTestNormalRangesTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="labTestNormalRangeSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
