<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="prescriptionRequestDetail">
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="prescription_id" type="text"  [(ngModel)]="prescriptionRequestDetail.prescription_id" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="store_id" type="text"  [(ngModel)]="prescriptionRequestDetail.store_id" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="pharmacist_id" type="text"  [(ngModel)]="prescriptionRequestDetail.pharmacist_id" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="interchange_id" type="text"  [(ngModel)]="prescriptionRequestDetail.interchange_id" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="status" type="text"  [(ngModel)]="prescriptionRequestDetail.status" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="store_type" type="text"  [(ngModel)]="prescriptionRequestDetail.patient_type" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="selector_id" type="text"  [(ngModel)]="prescriptionRequestDetail.selector_id" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="payment_id" type="text"  [(ngModel)]="prescriptionRequestDetail.payment_id" required>
                          </mat-form-field>  </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  