<h1 mat-dialog-title>
    form_clinical_instruction Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="formClinicalInstructionSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="formClinicalInstructionPersist.formClinicalInstructionSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="formClinicalInstructionSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="formClinicalInstructionIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="formClinicalInstructionsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(formClinicalInstructionsData,formClinicalInstructionSelection) "
            [checked]=" tcUtilsArray.isAllSelected(formClinicalInstructionsData,formClinicalInstructionSelection) || formClinicalInstructionSelectAll"
            [indeterminate]="formClinicalInstructionSelection.length <formClinicalInstructionsData.length && formClinicalInstructionSelection.length>0"
            [disabled]="formClinicalInstructionSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="formClinicalInstructionSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #formClinicalInstructionSelectAllMenu="matMenu">

            <button mat-menu-item (click)="formClinicalInstructionSelectAll=true;" [disabled]="formClinicalInstructionSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="formClinicalInstructionSelectAll = false;" [disabled]="!formClinicalInstructionSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(formClinicalInstructionSelection,row) : null"
            [checked]="tcUtilsArray.contains(formClinicalInstructionSelection,row) || formClinicalInstructionSelectAll" [disabled]="formClinicalInstructionSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="from_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>from_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.from_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="instruction">
        <mat-header-cell *matHeaderCellDef mat-sort-header>instruction
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.instruction}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="interval">
        <mat-header-cell *matHeaderCellDef mat-sort-header>interval
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.interval}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="nurse_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>nurse_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nurse_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="patient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="to_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>to_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.to_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="formClinicalInstructionsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: formClinicalInstructionsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(formClinicalInstructionSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="formClinicalInstructionsTotalCount"
      [ngStyle]="{display: formClinicalInstructionsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" formClinicalInstructionSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
