
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     session_therapy  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchSession_therapys();" *ngIf="tcAuthorization.canRead('session_therapys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addSession_therapy();" *ngIf="tcAuthorization.canCreate('session_therapys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="sessionTherapySearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="sessionTherapyPersist.sessionTherapySearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="sessionTherapySearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="sessionTherapyIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let sessionTherapy of sessionTherapysData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('session_therapys') || tcAuthorization.canDelete('session_therapys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editSessionTherapy(sessionTherapy)" *ngIf="tcAuthorization.canUpdate('session_therapys')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteSessionTherapy(sessionTherapy)" *ngIf="tcAuthorization.canDelete('session_therapys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>date</span>
            {{sessionTherapy.date}}
          </div><div class="tc-detail-field">
            <span>session_type</span>
            {{sessionTherapy.session_type}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{tcUtilsArray.getEnum(
              sessionTherapyPersist.session_therapy_status,
              sessionTherapy.status
            )?.name}}
          </div><div class="tc-detail-field">
            <span>name</span>
            {{sessionTherapy.name}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchSession_therapys.length >0 || sessionTherapySelectAll">
        <button mat-button (click)="downloadSessionTherapys()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{sessionTherapySelectAll ? sessionTherapysTotalCount : sessionTherapySelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="sessionTherapysData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(sessionTherapysData,sessionTherapySelection) "
              [checked]=" tcUtilsArray.isAllSelected(sessionTherapysData,sessionTherapySelection) || sessionTherapySelectAll"
              [indeterminate]="sessionTherapySelection.length <sessionTherapysData.length && sessionTherapySelection.length>0"
              [disabled]="sessionTherapySelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="sessionTherapySelectAllMenu"></mat-icon>
            </button>
            <mat-menu #sessionTherapySelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="sessionTherapySelectAll=true;" [disabled]="sessionTherapySelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="sessionTherapySelectAll = false;" [disabled]="!sessionTherapySelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(sessionTherapySelection,row) : null"
              [checked]="tcUtilsArray.contains(sessionTherapySelection,row) || sessionTherapySelectAll" [disabled]="sessionTherapySelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container> 
         <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date*1000 | date }} {{element.date*1000 | date : 'shortTime' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="session_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Session type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{  element.session_type }}</mat-cell>
        </ng-container>
       
        
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Session Type</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{
                tcUtilsArray.getEnum(
                  sessionTherapyPersist.session_therapy_status,
                  element.status
                )?.name
              
            }}</mat-cell
          >
        </ng-container>
    <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="sessionTherapyNavigator.session_therapyUrl(element.id)" class="tc-link">{{element.name}}</a> </mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="sessionTherapyNavigator.session_therapyUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('session_therapys') || tcAuthorization.canDelete('session_therapys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editSessionTherapy(element)" *ngIf="tcAuthorization.canUpdate('session_therapys') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteSessionTherapy(element)" *ngIf="tcAuthorization.canDelete('session_therapys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="sessionTherapysDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: sessionTherapysDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(sessionTherapySelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="sessionTherapysTotalCount"
        [ngStyle]="{display: sessionTherapysTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>