<h1 mat-dialog-title>
  operation_note Selection
</h1><div mat-dialog-content>  <mat-form-field>
  <input matInput [formControl]="operationNoteSearchTextBox"
    placeholder='{{appTranslation.getText("general","search_text")}} '>
  <button mat-button *ngIf="operationNotePersist.operationNoteSearchText" matSuffix mat-icon-button aria-label="Clear"
    (click)="operationNoteSearchTextBox.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="tc-loading" *ngIf="operationNoteIsLoading">
  <mat-spinner></mat-spinner>
</div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="operationNotesData" matSort class="tc-hide-on-mobile">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)=" tcUtilsArray.toggleSelectAll(operationNotesData,operationNoteSelection) "
          [checked]=" tcUtilsArray.isAllSelected(operationNotesData,operationNoteSelection) || operationNoteSelectAll"
          [indeterminate]="operationNoteSelection.length <operationNotesData.length && operationNoteSelection.length>0"
          [disabled]="operationNoteSelectAll">
        </mat-checkbox>

        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="operationNoteSelectAllMenu"></mat-icon>
        </button>
        <mat-menu #operationNoteSelectAllMenu="matMenu">

          <button mat-menu-item (click)="operationNoteSelectAll=true;" [disabled]="operationNoteSelectAll">
            {{appTranslation.getText("general", "all")}}
          </button>
          <button mat-menu-item (click)="operationNoteSelectAll = false;" [disabled]="!operationNoteSelectAll">
            {{appTranslation.getText("general", "none")}}
          </button>
        </mat-menu>

      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? tcUtilsArray.toggleSelection(operationNoteSelection,row) : null"
          [checked]="tcUtilsArray.contains(operationNoteSelection,row) || operationNoteSelectAll" [disabled]="operationNoteSelectAll">
        </mat-checkbox>
      </mat-cell>
    </ng-container>  <ng-container matColumnDef="patient_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="indecation_for_operation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>indecation_for_operation
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.indecation_for_operation}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="surgery_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>surgery_type
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.surgery_type}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="operation_procedure_findings">
      <mat-header-cell *matHeaderCellDef mat-sort-header>intra op finidings
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.operation_procedure_findings}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="complication_during_operation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>complication_during_operation
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.complication_during_operation}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>
<mat-header-row *matHeaderRowDef="operationNotesDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: operationNotesDisplayedColumns;"
      [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(operationNoteSelection,row)}"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
    [pageSize]="tcUtilsArray.defaultPageSize" [length]="operationNotesTotalCount"
    [ngStyle]="{display: operationNotesTotalCount > 0? '':'none'}"></mat-paginator>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" operationNoteSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>