
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!deathLoading">
                  <h1 class="mat-h1 ">{{deathDetail.primay_cause_of_death}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == DeathTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = DeathTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav>
  
      <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="deathLoading">
                  <mat-spinner></mat-spinner>
          </div>
  
          <div [ngClass]="activeTab==DeathTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>
  
              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
  
                                      <div *ngIf="!deathLoading">
                                          <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','patient')}} </span> 
                              {{getPatientName(deathDetail.patient_id)}}
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','date_of_death')}} </span> 
                              {{ tcUtilsDate.toDate(deathDetail.date_of_death  )|date:'MMM dd, yyyy. h:mm a'}}
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','is_maternal')}} </span> 
                              <mat-icon *ngIf="deathDetail.is_maternal" fontSet="fa" fontIcon="fa-check "></mat-icon>
                              <mat-icon *ngIf="!deathDetail.is_maternal">close</mat-icon>
                          </p>
                        
  <p class="tc-detail-field" *ngIf="deathDetail.is_maternal">
                              <span>{{appTranslation.getText('patient','death_condition')}} </span> 
                                         {{
                                        appTranslation.getText(
                                            "patient",
                                            tcUtilsArray.getEnum(deathPersist.death_condition, deathDetail.death_condition)?.name
                                        )
                                        }}
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','is_post_operation')}} </span> 
                              <mat-icon *ngIf="deathDetail.is_post_operation" fontSet="fa" fontIcon="fa-check "></mat-icon>
                              <mat-icon *ngIf="!deathDetail.is_post_operation">close</mat-icon>
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','is_familly_aware')}} </span> 
                               <mat-icon *ngIf="deathDetail.is_familly_aware" fontSet="fa" fontIcon="fa-check "></mat-icon>
                              <mat-icon *ngIf="!deathDetail.is_familly_aware">close</mat-icon>
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','is_brought_dead')}} </span> 
                              <mat-icon *ngIf="deathDetail.is_brought_dead" fontSet="fa" fontIcon="fa-check "></mat-icon>
                              <mat-icon *ngIf="!deathDetail.is_brought_dead">close</mat-icon>
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','doctor_name')}} </span> 
                              {{getDoctorName(deathDetail.doctor_id)}}
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','primay_cause_of_death')}} </span> 
                              {{deathDetail.primay_cause_of_death}}
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','secondary_cause_of_death')}} </span> 
                              {{deathDetail.secondary_cause_of_death}}
                          </p>
                        
  <p class="tc-detail-field">
                              <span>{{appTranslation.getText('patient','other_co_morbidities')}} </span> 
                              {{deathDetail.other_co_morbidities}}
                          </p>
                        
                                      </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editDeath()" *ngIf="tcAuthorization.canUpdate('deaths') && form_encounterPersist.encounter_is_active  ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>
  
                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>
  
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
  