<mat-tab-group #mainTabs style="margin-top:1px;">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon fontSet="fa" fontIcon="fa-info"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
        

        </ng-template>

        <div class="tc-flex-row tc-full-width">
            <div class="tc-equal-block">
                <div class="tc-padding">
                    <mat-accordion>

                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{appTranslation.getText("general","basicdetails")}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div *ngIf="!bedLoading">
                                <p class="tc-detail-field">
                                    <span>{{appTranslation.getText('bed','serial_id')}} </span>
                                    {{bedDetail.serial_id}}
                                </p>

                                <p class="tc-detail-field">
                                    <span>{{appTranslation.getText('bed','bed_room')}} </span>
                                    {{bedDetail.bed_room_id}}
                                </p>

                                <p class="tc-detail-field">
                                    <span>{{appTranslation.getText('bed','status')}} </span>
                                    {{bedDetail.status}}
                                </p>

                            </div>
                            <mat-action-row>
                                <button mat-button (click)="editBed()" *ngIf="tcAuthorization.canUpdate('beds') ">
                                    {{appTranslation.getText("general", "edit")}}
                                </button>
                            </mat-action-row>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
        <div class="tc-equal-block"></div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon fontSet="fa" fontIcon="fa-ellipsis-h"></mat-icon>
            {{appTranslation.getText("general","more")}}
        </ng-template>
        <div class="tc-container">
            <div class=" tc-flex-column">
                <div class="tc-padding">
                    <button mat-raised-button (click)="reload()" class="tc-full-width">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                        <span>{{appTranslation.getText("general", "reload")}}</span>
                    </button>
                </div>

                <div class="tc-padding">
                    <button mat-raised-button (click)="back()" class="tc-full-width">
                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                        <span>{{appTranslation.getText("general", "back")}}</span>
                    </button>
                </div>

            </div>
        </div>


    </mat-tab>


</mat-tab-group>