
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     Behavioral Pain Scale (BPS) Tool</h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchBehavioral_pain_scales();" *ngIf="tcAuthorization.canRead('behavioral_pain_scales')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addBehavioral_pain_scale();" *ngIf="tcAuthorization.canCreate('behavioral_pain_scales')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="behavioralPainScaleSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="behavioralPainScalePersist.behavioralPainScaleSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="behavioralPainScaleSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="behavioralPainScaleIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let behavioralPainScale of behavioralPainScalesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('behavioral_pain_scales') || tcAuthorization.canDelete('behavioral_pain_scales')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editBehavioralPainScale(behavioralPainScale)" *ngIf="tcAuthorization.canUpdate('behavioral_pain_scales')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBehavioralPainScale(behavioralPainScale)" *ngIf="tcAuthorization.canDelete('behavioral_pain_scales')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>facial_expression</span>
            {{behavioralPainScale.facial_expression}}
          </div><div class="tc-detail-field">
            <span>upper_limbs</span>
            {{behavioralPainScale.upper_limbs}}
          </div><div class="tc-detail-field">
            <span>compliance_with_ventilation</span>
            {{behavioralPainScale.compliance_with_ventilation}}
          </div><div class="tc-detail-field">
            <span>encounter_id</span>
            {{behavioralPainScale.encounter_id}}
          </div><div class="tc-detail-field">
            <span>patient_id</span>
            {{behavioralPainScale.patient_id}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchBehavioral_pain_scales.length >0 || behavioralPainScaleSelectAll">
        <button mat-button (click)="downloadBehavioralPainScales()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{behavioralPainScaleSelectAll ? behavioralPainScalesTotalCount : behavioralPainScaleSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="behavioralPainScalesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(behavioralPainScalesData,behavioralPainScaleSelection) "
              [checked]=" tcUtilsArray.isAllSelected(behavioralPainScalesData,behavioralPainScaleSelection) || behavioralPainScaleSelectAll"
              [indeterminate]="behavioralPainScaleSelection.length <behavioralPainScalesData.length && behavioralPainScaleSelection.length>0"
              [disabled]="behavioralPainScaleSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="behavioralPainScaleSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #behavioralPainScaleSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="behavioralPainScaleSelectAll=true;" [disabled]="behavioralPainScaleSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="behavioralPainScaleSelectAll = false;" [disabled]="!behavioralPainScaleSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(behavioralPainScaleSelection,row) : null"
              [checked]="tcUtilsArray.contains(behavioralPainScaleSelection,row) || behavioralPainScaleSelectAll" [disabled]="behavioralPainScaleSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="facial_expression">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Facial Expression
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.facial_expression}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="upper_limbs">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Upper limbs
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.upper_limbs}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date && element.date * 1000 |date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="compliance_with_ventilation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Compliance with ventilation
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.compliance_with_ventilation}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="encounter_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pain_rank">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pain Rank
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{behavioralPainScalePersist.calcPain(behavioralPainScalePersist.calculateTotal(element)) +   " - " + behavioralPainScalePersist.calculateTotal(element)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="behavioralPainScaleNavigator.behavioralPainScaleUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('behavioral_pain_scales') || tcAuthorization.canDelete('behavioral_pain_scales')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editBehavioralPainScale(element)" *ngIf="tcAuthorization.canUpdate('behavioral_pain_scales') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBehavioralPainScale(element)" *ngIf="tcAuthorization.canDelete('behavioral_pain_scales')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="behavioralPainScalesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: behavioralPainScalesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(behavioralPainScaleSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="behavioralPainScalesTotalCount"
        [ngStyle]="{display: behavioralPainScalesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>