
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     credit_employee_family  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchCreditEmployeeFamilys();" *ngIf="tcAuthorization.canRead('credit_employee_familys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addCreditEmployeeFamily();" *ngIf="tcAuthorization.canCreate('credit_employee_familys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="creditEmployeeFamilySearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="creditEmployeeFamilyPersist.creditEmployeeFamilySearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="creditEmployeeFamilySearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="creditEmployeeFamilyIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let creditEmployeeFamily of creditEmployeeFamilysData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('credit_employee_familys') || tcAuthorization.canDelete('credit_employee_familys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editCreditEmployeeFamily(creditEmployeeFamily)" *ngIf="tcAuthorization.canUpdate('credit_employee_familys')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteCreditEmployeeFamily(creditEmployeeFamily)" *ngIf="tcAuthorization.canDelete('credit_employee_familys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>company_id</span>
            {{creditEmployeeFamily.company_id}}
          </div><div class="tc-detail-field">
            <span>employee_id</span>
            {{creditEmployeeFamily.employee_id}}
          </div><div class="tc-detail-field">
            <span>patient_id</span>
            {{creditEmployeeFamily.patient_id}}
          </div><div class="tc-detail-field">
            <span>family_name</span>
            {{creditEmployeeFamily.family_name}}
          </div><div class="tc-detail-field">
            <span>image_id</span>
            {{creditEmployeeFamily.image_id}}
          </div><div class="tc-detail-field">
            <span>documnet_id</span>
            {{creditEmployeeFamily.documnet_id}}
          </div><div class="tc-detail-field">
            <span>relationship</span>
            {{creditEmployeeFamily.relationship}}
          </div><div class="tc-detail-field">
            <span>covered_percent</span>
            {{creditEmployeeFamily.covered_percent}}
          </div><div class="tc-detail-field">
            <span>discount_percent</span>
            {{creditEmployeeFamily.discount_percent}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchCreditEmployeeFamilys.length >0 || creditEmployeeFamilySelectAll">
        <button mat-button (click)="downloadCreditEmployeeFamilys()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{creditEmployeeFamilySelectAll ? creditEmployeeFamilysTotalCount : creditEmployeeFamilySelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="creditEmployeeFamilysData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(creditEmployeeFamilysData,creditEmployeeFamilySelection) "
              [checked]=" tcUtilsArray.isAllSelected(creditEmployeeFamilysData,creditEmployeeFamilySelection) || creditEmployeeFamilySelectAll"
              [indeterminate]="creditEmployeeFamilySelection.length <creditEmployeeFamilysData.length && creditEmployeeFamilySelection.length>0"
              [disabled]="creditEmployeeFamilySelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="creditEmployeeFamilySelectAllMenu"></mat-icon>
            </button>
            <mat-menu #creditEmployeeFamilySelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="creditEmployeeFamilySelectAll=true;" [disabled]="creditEmployeeFamilySelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="creditEmployeeFamilySelectAll = false;" [disabled]="!creditEmployeeFamilySelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(creditEmployeeFamilySelection,row) : null"
              [checked]="tcUtilsArray.contains(creditEmployeeFamilySelection,row) || creditEmployeeFamilySelectAll" [disabled]="creditEmployeeFamilySelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="company_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>company_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.company_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="employee_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>employee_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.employee_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="family_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>family_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.family_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="image_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>image_id
          </mat-header-cell>
          <mat-cell class="tc-link" *matCellDef="let element">
            <mat-icon (click)="viewImage(element.image_id)" *ngIf="element.image_id !== tcUtilsString.invalid_id" fontSet="fa" fontIcon="fa-upload"></mat-icon>
          </mat-cell>
        </ng-container>
    <ng-container matColumnDef="documnet_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>documnet_id
          </mat-header-cell>
          <mat-cell class="tc-link" *matCellDef="let element">
            <mat-icon (click)="viewImage(element.documnet_id)" *ngIf="element.documnet_id !== tcUtilsString.invalid_id" fontSet="fa" fontIcon="fa-upload"></mat-icon>
          </mat-cell>
        </ng-container>
    <ng-container matColumnDef="relationship">
          <mat-header-cell *matHeaderCellDef mat-sort-header>relationship
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(creditEmployeeFamilyPersist.CreditFamilyRelationship, element.relationship)?.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="covered_percent">
          <mat-header-cell *matHeaderCellDef mat-sort-header>covered_percent
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.covered_percent}}%</mat-cell>
        </ng-container>
    <ng-container matColumnDef="discount_percent">
          <mat-header-cell *matHeaderCellDef mat-sort-header>discount_percent
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.discount_percent}}%</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="creditEmployeeFamilyNavigator.creditEmployeeFamilyUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('credit_employee_familys') || tcAuthorization.canDelete('credit_employee_familys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editCreditEmployeeFamily(element)" *ngIf="tcAuthorization.canUpdate('credit_employee_familys') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="connectPatient(element)" *ngIf="tcAuthorization.canUpdate('credit_employee_familys') && element.patient_id == tcUtilsString.invalid_id ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("inventory","connect_patient")}} </span>
              </button>
              <button mat-menu-item (click)="terminateEmployee(element)" *ngIf="tcAuthorization.canUpdate('credit_employee_familys') && element.status == insured_employeeStatus.covered">
                <mat-icon fontSet="fa" fontIcon="fa-user-slash"></mat-icon>
                <span>{{appTranslation.getText("employee","terminate_employee")}} </span>
              </button>
              <button mat-menu-item (click)="deleteCreditEmployeeFamily(element)" *ngIf="tcAuthorization.canDelete('credit_employee_familys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="creditEmployeeFamilysDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: creditEmployeeFamilysDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(creditEmployeeFamilySelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="creditEmployeeFamilysTotalCount"
        [ngStyle]="{display: creditEmployeeFamilysTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>