<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{appTranslation.getText("inventory", "request")}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="requestDetail">

    <p class="tc-detail-field" *ngIf="isCase()">
      <span>{{appTranslation.getText('general', 'name')}} </span>
      {{requsterEmployeeSum?.first_name + " " + requsterEmployeeSum?.last_name}}

    </p>


    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText('inventory','item')
        }}</mat-label>
      <input
        matInput
        placeholder="{{appTranslation.getText('inventory','item')}}"
        type="text"
        disabled
        [(ngModel)]="itemName"
        required>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('inventory','item')}}"
        matSuffix
        color="primary"
        (click)="searchItem()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="{{appTranslation.getText('inventory','unit')}}"   [(ngModel)]="requestDetail.unit_id" required>
        <mat-option *ngFor="let unit of requestPersist.units" [value]="unit.id">
          {{ appTranslation.getTextByIdentifier(unit.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','quantity')}}" type="number"  [(ngModel)]="requestDetail.quantity" required>
    </mat-form-field>
    
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button *ngIf="!isCase()" mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()">
    {{appTranslation.getText('general','save')}}
  </button>

  <button *ngIf="isCase()" mat-button (click)="acceptRequest()"
  [disabled]="!canSubmit()">
Accept
</button>

<button *ngIf="isCase()" mat-button (click)="rejectRequest()"
[disabled]="!canSubmit()">
Reject
</button>
</div>
