<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
  <mat-icon fontSet="fa" fontIcon="fa-certificate"></mat-icon>
  {{ appTranslation.getText("patient", "medical_certificate") }}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
  <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchMedical_Certificates();"
  *ngIf="tcAuthorization.canRead('medical_certificates')" class="tc-link">
  <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)="addMedical_Certificate();"
  *ngIf="tcAuthorization.canCreate('medical_certificates') && form_encounterPersist.encounter_is_active" class="tc-link">
  <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
  matInput
  labelPosition="before"
  class="tc-form-toggle" (change)="handleToggle($event)"
  required
>
  {{appTranslation.getText("patient", "show_current")}}
</mat-slide-toggle>
</h1>
</mat-toolbar>

<div class="tc-padding">

  <mat-spinner diameter="50" *ngIf="medical_certificatesLoading" class="tc-padding"></mat-spinner>

  <div class="tc-padding" [ngStyle]="{display: medical_certificatesLoading? 'none':''}">
  <mat-form-field>
      <input matInput [formControl]="medical_certificatesSearchTextBox"
      placeholder="{{appTranslation.getText('general','search_text')}}">
      <button mat-button *ngIf="medical_certificatesSearchTextBox.value" matSuffix mat-icon-button
      aria-label="Clear" (click)="medical_certificatesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>



  <div class="tc-table-container tc-full-stretch">

      <mat-toolbar *ngIf="medical_certificatesSelected.length >0 ">
      <button mat-button (click)="downloadMedical_Certificates()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

      </mat-toolbar>

      <mat-table [dataSource]="medical_certificatesData" matSort>

      <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(medical_certificatesData,medical_certificatesSelected) "
              [checked]=" tcUtilsArray.isAllSelected(medical_certificatesData,medical_certificatesSelected)"
              [indeterminate]="medical_certificatesSelected.length <medical_certificatesData.length && medical_certificatesSelected.length>0">
          </mat-checkbox>

          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(medical_certificatesSelected,row) : null"
              [checked]="tcUtilsArray.contains(medical_certificatesSelected,row)">
          </mat-checkbox>
          </mat-cell>
      </ng-container>


      <ng-container matColumnDef="encounter">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{name}}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef mat-sort-header>age
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="sex">
          <mat-header-cell *matHeaderCellDef mat-sort-header>sex
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.sex}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="card_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>card_no
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.card_no}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="diagnosis">
          <mat-header-cell *matHeaderCellDef mat-sort-header>diagnosis
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.diagnosis}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date_of_visit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date_of_visit
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date_of_visit)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="sick_leave">
          <mat-header-cell *matHeaderCellDef mat-sort-header>sick_leave
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.sick_leave}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="recommendation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Recommendation
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.recommendation}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="date_of_issued">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date_of_issued
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.date_of_issued)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="doctor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>doctor
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{doctor}}</mat-cell>
        </ng-container>



        <!-- <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="form_encounterNavigator.medical_certificateUrl(element.id)" class="tc-link">{{element.id}}</a>

          </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
              <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
              <button mat-menu-item (click)="printMedicalCertificates(element)">
              <mat-icon fontSet="fa" fontIcon="fa-print"></mat-icon>
              <span>{{appTranslation.getText("general", "print")}} </span>
              </button>
              <button mat-menu-item (click)="editMedical_Certificate(element)" *ngIf="tcAuthorization.canUpdate('medical_certificates') && form_encounterPersist.encounter_is_active">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMedical_Certificate(element)" *ngIf="tcAuthorization.canDelete('medical_certificates') && form_encounterPersist.encounter_is_active">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
          </mat-menu>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="medical_certificatesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: medical_certificatesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(medical_certificatesSelected,row)}">
      </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="medical_certificatesTotalCount"
      [ngStyle]="{display: medical_certificatesTotalCount > 0? '':'none'}">
      </mat-paginator>
  </div>
  </div>
</div>
