<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="patientReferralFormDetail">


    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('patient','to_hospital')}}" type="text"
        [(ngModel)]="patientReferralFormDetail.to_hospital" required>
    </mat-form-field>

    <mat-form-field style="width:100%" class="example-full-width">
      <textarea matInput placeholder="HPI" [(ngModel)]="patientReferralFormDetail.hpi"></textarea>
    </mat-form-field>

    <mat-form-field style="width:100%" class="example-full-width">
      <textarea matInput placeholder="past_psychiatric_history"
        [(ngModel)]="patientReferralFormDetail.past_psychiatric_history"></textarea>
    </mat-form-field>
    <mat-form-field style="width:100%" class="example-full-width">
      <textarea matInput placeholder="Family_psychiatric_history"
        [(ngModel)]="patientReferralFormDetail.family_psychiatric_history"></textarea>
    </mat-form-field>

    <mat-form-field style="width:100%" class="example-full-width">
      <textarea matInput placeholder="medical_history"
        [(ngModel)]="patientReferralFormDetail.medical_history"></textarea>
    </mat-form-field>
    <mat-form-field style="width:100%" class="example-full-width">
      <mat-label>Physical Findings</mat-label>
      <textarea [(ngModel)]="patientReferralFormDetail.physical_findings" matInput
        placeholder="{{appTranslation.getText('patient','diagnosis')}}"></textarea>
    </mat-form-field>
    <!-- <mat-form-field class="tc-full-stretch">

        <input matInput  placeholder="{{appTranslation.getText('patient','investigation_results')}}" type="text"  [(ngModel)]="patientReferralFormDetail.investigation_results" required>
    </mat-form-field>    -->



    <mat-form-field style="width:100%" class="example-full-width">
      <mat-label>Diagnosis</mat-label>
      <textarea [(ngModel)]="patientReferralFormDetail.diagnosis" matInput
        placeholder="{{appTranslation.getText('patient','diagnosis')}}"></textarea>
    </mat-form-field>
    <mat-form-field style="width:100%" class="example-full-width">
      <mat-label>Treatment Given</mat-label>
      <textarea [(ngModel)]="patientReferralFormDetail.treatment_given" matInput
        placeholder="{{appTranslation.getText('patient','treatment_given')}}"></textarea>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <textarea matInput rows="4" placeholder="{{appTranslation.getText('patient','reason_for_referral')}}" type="text"
        [(ngModel)]="patientReferralFormDetail.reason_for_referral" required></textarea>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('patient','referring_physician')}}" type="text"
        [(ngModel)]="patientReferralFormDetail.referring_physician" required>
    </mat-form-field>
    <!-- <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('general','telephone')}}" type="text"  [(ngModel)]="patientReferralFormDetail.phone_no" required>
                          </mat-form-field>  </div> -->

  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>