<mat-tab-group class="mat-elevation-z8" [(selectedIndex)]="dialysisSessionPersist.selected_index" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Dialysis">
        <ng-template matTabContent>
            <app-dialysis-list [isSession]="true"></app-dialysis-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="Sessions">
      <ng-template matTabContent>
        <app-dialysis_session-list></app-dialysis_session-list>
      </ng-template>
    </mat-tab>
    </mat-tab-group>     


    