<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="dialysisSessionDetail">

        <mat-form-field class="tc-full-stretch">
            <mat-label>
                machine no
            </mat-label>
            <input matInput disabled [(ngModel)]="machine_no">
            <button
              mat-icon-button
              matSuffix
              color="primary"
              (click)="searchMachine()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <mat-select placeholder="service" [(value)]="dialysisSessionDetail.service" required>
                <mat-option *ngFor="let etype of persist.dialysis_service_type" [value]="etype.id">
                    {{etype.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>