<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <div class="tc-padding">
        <h1 class="mat-h1 tc-dashboard-block-header ">{{groupDetail.name}} </h1>

      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == groupTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = groupTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            Overview
          </a>
        </mat-list-item>
        <mat-list-item [ngClass]="activeTab == groupTabs.users? 'tc-list-item-focus':''"
          (click)="activeTab = groupTabs.users;tcUtilsAngular.smallDevice? sidenav.toggle():false;">

          <a [routerLink]="[]">
            <mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon> Members <span
              matBadge="{{groupDetail.members.length}}" matBadgePosition="above after" matBadgeOverlap="false"
              [matBadgeHidden]="groupDetail.members.length == 0" style="margin-right:10px;"></span>
          </a>

        </mat-list-item>
      </mat-nav-list>

    </div>
    <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>

    <div [ngClass]="activeTab==groupTabs.overview? '':'tc-hidden'">

      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          Overview
        </h1>
      </mat-toolbar>
      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-card>

            <mat-card-content>
              <p class="tc-detail-field">
                <span>name </span>
                <strong>{{groupDetail.name}}</strong>
              </p>

            </mat-card-content>

          </mat-card>
        </div>
      </div>
    </div>

    <div [ngClass]="activeTab==groupTabs.users? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          Overview
        </h1>

      </mat-toolbar>



      <div class="tc-equal-block">
        <div class="tc-padding">
          <mat-form-field>
            <input matInput [formControl]="usersFilter" placeholder="Filter">
            <button mat-button *ngIf="usersFilter.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="usersFilter.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button mat-button (click)=" addMembers(); ">
            <mat-icon>add</mat-icon>
            Add New
          </button>
          <button mat-button (click)="editGroup();">
            <mat-icon>edit</mat-icon>Edit
          </button>
          <div class="mat-elevation-z8">
            <mat-table [dataSource]="usersDs" matSort>

              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)=" tcUtilsArray.toggleSelectAll(groupDetail.members,usersSelected) "
                    [checked]=" tcUtilsArray.isAllSelected(groupDetail.members,usersSelected)"
                    [indeterminate]="usersSelected.length <groupDetail.members.length && usersSelected.length>0">
                  </mat-checkbox>
                  <button mat-button *ngIf="usersSelected.length >0 " [mat-menu-trigger-for]="collectionMenu">
                    <i class="material-icons">more_vert</i>

                    <span matBadge="{{usersSelected.length}}" matBadgePosition="above after" matBadgeOverlap="false"
                      [matBadgeHidden]="usersSelected.length == 0" style="margin-right:10px;"></span>
                  </button>
                  <mat-menu #collectionMenu="matMenu">

                    <button mat-menu-item (click)="removeSelectedMembers()">
                      <mat-icon>delete</mat-icon>
                      <span>Remove</span>
                    </button>
                  </mat-menu>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? tcUtilsArray.toggleSelection(usersSelected,row) : null"
                    [checked]="tcUtilsArray.contains(usersSelected,row)">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
              </ng-container>



              <mat-header-row *matHeaderRowDef="usersColumns; sticky: true; "></mat-header-row>
              <mat-row *matRowDef="let row; columns: usersColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(usersSelected,row)}"></mat-row>

            </mat-table>
            <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
              [pageSize]="tcUtilsArray.defaultPageSize"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>