
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     before_induction_of_anaesthesia  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchBefore_induction_of_anaesthesias();" *ngIf="tcAuthorization.canRead('before_induction_of_anaesthesias')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addBefore_induction_of_anaesthesia();" *ngIf="tcAuthorization.canCreate('before_induction_of_anaesthesias')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="beforeInductionOfAnaesthesiaSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="beforeInductionOfAnaesthesiaPersist.beforeInductionOfAnaesthesiaSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="beforeInductionOfAnaesthesiaSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="beforeInductionOfAnaesthesiaIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let before_induction_of_anaesthesia of beforeInductionOfAnaesthesiasData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('before_induction_of_anaesthesias') || tcAuthorization.canDelete('before_induction_of_anaesthesias')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editBeforeInductionOfAnaesthesia(before_induction_of_anaesthesia)" *ngIf="tcAuthorization.canUpdate('before_induction_of_anaesthesias')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBeforeInductionOfAnaesthesia(before_induction_of_anaesthesia)" *ngIf="tcAuthorization.canDelete('before_induction_of_anaesthesias')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>patient_confirmed</span>
            {{before_induction_of_anaesthesia.patient_confirmed}}
          </div><div class="tc-detail-field">
            <span>is_the_site_marked</span>
            {{before_induction_of_anaesthesia.is_the_site_marked}}
          </div><div class="tc-detail-field">
            <span>is_the_pulse_oximeter_on_the_patient_and_functioning</span>
            {{before_induction_of_anaesthesia.is_the_pulse_oximeter_on_the_patient_and_functioning}}
          </div><div class="tc-detail-field">
            <span>known_allergy</span>
            {{before_induction_of_anaesthesia.known_allergy}}
          </div><div class="tc-detail-field">
            <span>difficult_airway_or_aspiration_risk</span>
            {{before_induction_of_anaesthesia.difficult_airway_or_aspiration_risk}}
          </div><div class="tc-detail-field">
            <span>risk_of_500ml_blood_loss</span>
            {{before_induction_of_anaesthesia.risk_of_500ml_blood_loss}}
          </div><div class="tc-detail-field">
            <span>anaesthesia_machine_checkup</span>
            {{before_induction_of_anaesthesia.anaesthesia_machine_checkup}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchBefore_induction_of_anaesthesias.length >0 || beforeInductionOfAnaesthesiaSelectAll">
        <button mat-button (click)="downloadBeforeInductionOfAnaesthesias()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{beforeInductionOfAnaesthesiaSelectAll ? beforeInductionOfAnaesthesiasTotalCount : beforeInductionOfAnaesthesiaSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="beforeInductionOfAnaesthesiasData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(beforeInductionOfAnaesthesiasData,beforeInductionOfAnaesthesiaSelection) "
              [checked]=" tcUtilsArray.isAllSelected(beforeInductionOfAnaesthesiasData,beforeInductionOfAnaesthesiaSelection) || beforeInductionOfAnaesthesiaSelectAll"
              [indeterminate]="beforeInductionOfAnaesthesiaSelection.length <beforeInductionOfAnaesthesiasData.length && beforeInductionOfAnaesthesiaSelection.length>0"
              [disabled]="beforeInductionOfAnaesthesiaSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="beforeInductionOfAnaesthesiaSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #beforeInductionOfAnaesthesiaSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="beforeInductionOfAnaesthesiaSelectAll=true;" [disabled]="beforeInductionOfAnaesthesiaSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="beforeInductionOfAnaesthesiaSelectAll = false;" [disabled]="!beforeInductionOfAnaesthesiaSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(beforeInductionOfAnaesthesiaSelection,row) : null"
              [checked]="tcUtilsArray.contains(beforeInductionOfAnaesthesiaSelection,row) || beforeInductionOfAnaesthesiaSelectAll" [disabled]="beforeInductionOfAnaesthesiaSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="patient_confirmed">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_confirmed
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_confirmed}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="is_the_site_marked">
          <mat-header-cell *matHeaderCellDef mat-sort-header>is_the_site_marked
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.is_the_site_marked}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="is_the_pulse_oximeter_on_the_patient_and_functioning">
          <mat-header-cell *matHeaderCellDef mat-sort-header>is_the_pulse_oximeter_on_the_patient_and_functioning
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.is_the_pulse_oximeter_on_the_patient_and_functioning}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="known_allergy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>known_allergy
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.known_allergy}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="difficult_airway_or_aspiration_risk">
          <mat-header-cell *matHeaderCellDef mat-sort-header>difficult_airway_or_aspiration_risk
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.difficult_airway_or_aspiration_risk}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="risk_of_500ml_blood_loss">
          <mat-header-cell *matHeaderCellDef mat-sort-header>risk_of_500ml_blood_loss
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.risk_of_500ml_blood_loss}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="anaesthesia_machine_checkup">
          <mat-header-cell *matHeaderCellDef mat-sort-header>anaesthesia_machine_checkup
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.anaesthesia_machine_checkup}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="beforeInductionOfAnaesthesiaNavigator.before_induction_of_anaesthesiaUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('before_induction_of_anaesthesias') || tcAuthorization.canDelete('before_induction_of_anaesthesias')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editBeforeInductionOfAnaesthesia(element)" *ngIf="tcAuthorization.canUpdate('before_induction_of_anaesthesias') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBeforeInductionOfAnaesthesia(element)" *ngIf="tcAuthorization.canDelete('before_induction_of_anaesthesias')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="beforeInductionOfAnaesthesiasDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: beforeInductionOfAnaesthesiasDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(beforeInductionOfAnaesthesiaSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="beforeInductionOfAnaesthesiasTotalCount"
        [ngStyle]="{display: beforeInductionOfAnaesthesiasTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>