
            <div class="tc-loading" *ngIf="itemCategoryIsLoading">
            <mat-spinner></mat-spinner>
    </div>

        <mat-toolbar class="tc-toolbar-secondary ">
            <h1 class="mat-heading">
                <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                {{appTranslation.getText("general", "overview")}}
            </h1>
            <button mat-button (click)=" back();" class="tc-link">
                                <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                            </button>
            <button mat-button (click)=" reload()" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
            <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                      <button mat-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                    </p> -->
        </mat-toolbar>

        <div class="tc-flex-row tc-full-width">
            <div class="tc-equal-block">
                           <div class="tc-padding">
                    <mat-accordion>
                          <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{appTranslation.getText("general","basicdetails")}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>

                                <div *ngIf="!itemCategoryIsLoading"> 
                    <p class="tc-detail-field">
name                           <span>  {{itemCategoryDetail.name}} </span> 
                                                 </p>
                    <p class="tc-detail-field">
category                           <span>  {{tcUtilsArray.getEnum(itemCategoryPersist.category, itemCategoryDetail.category)?.name}} </span> 
                                                 </p>
                   </div>
                            <mat-action-row>
                               <button mat-button (click)="editItemCategory()" *ngIf="tcAuthorization.canUpdate('item_categorys') ">
                                 {{appTranslation.getText("general", "edit")}}
                               </button>
                             </mat-action-row>

                           </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="tc-equal-block">
            </div>

    </div>
    
    
    