
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-tasks"></mat-icon>
      {{appTranslation.getText("procedure","Procedures")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchProcedures();" *ngIf="tcAuthorization.canRead('procedures')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addProcedure();" *ngIf="tcAuthorization.canCreate('procedures')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="proceduresSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="procedurePersist.procedureSearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="proceduresSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="tc-loading" *ngIf="proceduresIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let procedure of proceduresData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title>                            <a
                          [routerLink]="procedureNavigator.procedureUrl(procedure.id)"
                          class="tc-link"
                        >
                        {{tcUtilsArray.getById(procedureTypes,procedure.procedure_type_id)?.name}}</a
                        >
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('procedures') || tcAuthorization.canDelete('procedures')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
                                                                                                                                                                
                                                                                  <button mat-menu-item (click)="addNote(procedure)">
                                                                                    <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
                                                                                    {{ appTranslation.getText("notes", "add_note") }}
                                                                                  </button>
                                                                                      <button mat-menu-item (click)="editProcedure(procedure)" *ngIf="tcAuthorization.canUpdate('procedures')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteProcedure(procedure)" *ngIf="tcAuthorization.canDelete('procedures')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>{{appTranslation.getText("patient","procedure_type")}} </span>
              {{tcUtilsArray.getById(procedureTypes,procedure.procedure_type_id)?.name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","name")}} </span>
              {{procedure.name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("patient","needs_consent_form")}}</span>
              {{procedure.needs_consent_form}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="proceduresSelection.length >0 || proceduresSelectAll">
                    <button mat-button (click)="downloadProcedures()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{proceduresSelectAll ? proceduresTotalCount : proceduresSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="proceduresData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(proceduresData,proceduresSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(proceduresData,proceduresSelection) || proceduresSelectAll"
                  [indeterminate]="proceduresSelection.length <proceduresData.length && proceduresSelection.length>0"
                  [disabled]="proceduresSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="proceduresSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #proceduresSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="proceduresSelectAll=true;"
                          [disabled]="proceduresSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="proceduresSelectAll = false;"
                          [disabled]="!proceduresSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(proceduresSelection,row) : null"
                              [checked]="tcUtilsArray.contains(proceduresSelection,row) || proceduresSelectAll"
                              [disabled]="proceduresSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
  
            <ng-container matColumnDef="procedure_type_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","procedure_type")}} </mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                   
                                  {{tcUtilsArray.getById(procedureTypes,element.procedure_type_id)?.name}}
                                    </mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","name")}} </mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    <a
                                    [routerLink]="procedureNavigator.procedureUrl(element.id)"
                                    class="tc-link"
                                  >{{element.name}}</a
                                  ></mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="needs_consent_form">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("patient","needs_consent_form")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.needs_consent_form}}</mat-cell>
                               </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('procedures') || tcAuthorization.canDelete('procedures')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
                          
                <button mat-menu-item (click)="addNote(element)">
                  <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
                  {{ appTranslation.getText("notes", "add_note") }}
                </button>
                  <button mat-menu-item (click)="editProcedure(element)" *ngIf="tcAuthorization.canUpdate('procedures') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteProcedure(element)" *ngIf="tcAuthorization.canDelete('procedures')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="proceduresDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: proceduresDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(proceduresSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="proceduresTotalCount"
                         [ngStyle]="{display: proceduresTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  