
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
    {{appTranslation.getText("report", "report")}}   </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchReports();" *ngIf="tcAuthorization.canRead('inventory_reports')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addReport();" *ngIf="tcAuthorization.canCreate('inventory_reports')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

  <div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="reportsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="reportPersist.reportSearchText" matSuffix mat-icon-button aria-label="Clear"
                (click)="reportsSearchTextBox.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="tc-loading" *ngIf="reportsIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let report of reportsData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title> 
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('inventory_reports') || tcAuthorization.canDelete('inventory_reports')">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <button mat-menu-item (click)="editReport(report)" *ngIf="tcAuthorization.canUpdate('inventory_reports')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                    </button>
                                                                                    <button mat-menu-item (click)="deleteReport(report)" *ngIf="tcAuthorization.canDelete('inventory_reports')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
                    <div class="tc-detail-field">
            <span>{{appTranslation.getText('inventory','report_type')}}</span>
            {{
              appTranslation.getText(
                "inventory",
                tcUtilsArray.getEnum(
                  item_ledger_entryPersist.entry_type,
                  report.report_type
                )?.name)
              }}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('inventory','file_name')}}</span>
            {{report.file_name}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('inventory','file_id')}}</span>
            {{report.file_id}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','description')}}</span>
            {{report.description}}
          </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','upload_date')}}</span>
            {{ tcUtilsDate.toDate(report.upload_date)|date:'MMM dd, yyyy. h:mm a'}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="reportsSelection.length >0 || reportsSelectAll">
                  <button mat-button (click)="downloadReports()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{reportsSelectAll ? reportsTotalCount : reportsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="reportsData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(reportsData,reportsSelection) "
                [checked]=" tcUtilsArray.isAllSelected(reportsData,reportsSelection) || reportsSelectAll"
                [indeterminate]="reportsSelection.length <reportsData.length && reportsSelection.length>0"
                [disabled]="reportsSelectAll">
              </mat-checkbox>
              
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="reportsSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #reportsSelectAllMenu="matMenu">
    
    
                <button mat-menu-item
                        (click)="reportsSelectAll=true;"
                        [disabled]="reportsSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="reportsSelectAll = false;"
                        [disabled]="!reportsSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(reportsSelection,row) : null"
                            [checked]="tcUtilsArray.contains(reportsSelection,row) || reportsSelectAll"
                            [disabled]="reportsSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                          <a [routerLink]="reportNavigator.reportUrl(element.id)"
                             class="tc-link"></a>

                      </mat-cell>
                    </ng-container>

          <ng-container matColumnDef="report_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','report_type')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  
                             {{
                              appTranslation.getText(
                                "inventory",
                                tcUtilsArray.getEnum(
                                  item_ledger_entryPersist.entry_type,
                                  element.report_type
                                )?.name)
                              }}
                             
                            </mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="file_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','file_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.file_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="file_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','file_id')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.file_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','description')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="upload_date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','upload_date')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.upload_date)|date:'MMM dd, yyyy. h:mm a'}}
                                </mat-cell>
                             </ng-container>
                          

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canDelete('inventory_reports')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
                <button mat-menu-item (click)="deleteReport(element)" *ngIf="tcAuthorization.canDelete('inventory_reports')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="reportsDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: reportsDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(reportsSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="reportsTotalCount"
                       [ngStyle]="{display: reportsTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>


