<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew && !onlyShow">edit</mat-icon>
      <mat-icon *ngIf="isNew && !onlyShow">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
  
    <div *ngIf="resultDescriptionDetail && !reject">
  
       <mat-form-field class="tc-full-stretch" *ngIf="resultDescriptionDetail.min_range == null && resultDescriptionDetail.max_range == null">
                              <textarea [disabled]="onlyShow" matInput rows="5" placeholder="description" type="text"  [(ngModel)]="resultDescriptionDetail.result_description" required></textarea>
                          </mat-form-field>
        <mat-form-field class="tc-full-stretch" *ngIf="resultDescriptionDetail.min_range != null || resultDescriptionDetail.max_range != null">
          <input (ngModelChange)="updateStyle($event)" [ngStyle]="{'color': style}" [disabled]="onlyShow" matInput placeholder="result" type="number"  [(ngModel)]="resultDescriptionDetail.result_description" required>
      </mat-form-field>
   
    </div>

    <div *ngIf="resultDescriptionDetail && !reject">
  
        <mat-form-field class="tc-full-stretch">
                               <textarea [disabled]="onlyShow" matInput rows="2" placeholder="conclusion" type="text"  [(ngModel)]="resultDescriptionDetail.result_conclusion"></textarea>
                           </mat-form-field>
    
     </div>

     <div *ngIf="resultDescriptionDetail && reject">
  
      <mat-form-field class="tc-full-stretch">
                             <textarea [disabled]="onlyShow && !reject" matInput rows="4" placeholder="reject_description" type="text"  [(ngModel)]="resultDescriptionDetail.reject_description"></textarea>
                         </mat-form-field>
  
   </div>
  
   </div>
  
  <div mat-dialog-actions *ngIf="!onlyShow || reject">
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  