<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="icuPhysicalAssessmentDetail">

    <div class="tc-flex-row custom-div">
    <label for="" class="custom-label">Neuro</label>

    <div>

    <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.neuro_flowsheet" >See Neuro Flowsheet</mat-checkbox> &nbsp; &nbsp; &nbsp; 
    <br>
    <br>
    <label for="">Pupils:</label> &nbsp;

    <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.pupil" name="pupil">
      &nbsp;<mat-radio-button value="Reactive" >Reactive</mat-radio-button> &nbsp;&nbsp;
      &nbsp;<mat-radio-button value="Non Reactive" >Non Reactive</mat-radio-button> &nbsp;&nbsp;
      &nbsp;<mat-radio-button value="Fixed" >Fixed</mat-radio-button>&nbsp;&nbsp;
      &nbsp;<mat-radio-button value="Diluted" >Diluted</mat-radio-button>
    </mat-radio-group>
    <br><br>
    <label for="">AVPU:</label> &nbsp;

    <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.avpu" name="avpu">
      &nbsp;<mat-radio-button value="Alert" >Alert</mat-radio-button> &nbsp;&nbsp;
      &nbsp;<mat-radio-button value="To verbal" >To verbal</mat-radio-button> &nbsp;&nbsp;
      &nbsp;<mat-radio-button value="To pain" >To pain</mat-radio-button> &nbsp;&nbsp;
      &nbsp;<mat-radio-button value="unresponsive" >unresponsive</mat-radio-button> &nbsp;&nbsp;
      &nbsp;<mat-radio-button value="Oriented" >Oriented</mat-radio-button>&nbsp;&nbsp;
      &nbsp;<mat-radio-button value="Disoriented" >Disoriented</mat-radio-button>
    </mat-radio-group>
    <br><br>

    &nbsp;<mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.follows_commands" >Follows Commands</mat-checkbox> &nbsp;&nbsp;
    &nbsp;<mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.nods_appropriately_to_questions" >Nods appropriately to questions</mat-checkbox> &nbsp;&nbsp;
    &nbsp;<mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.all_extremities_equal_in_strength" >All extremities equal in strength</mat-checkbox> &nbsp;&nbsp;

  

<br><br>
  <mat-form-field >
    <input [disabled]="isDisabled()"
      matInput
      placeholder="HOB up degrees "
      type="text"
      [(ngModel)]="icuPhysicalAssessmentDetail.hop_up_degree"
    />
  </mat-form-field>
    <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.speak_clearly" name="speak_clearly">
      &nbsp;<mat-radio-button value="Speaks clearly" >Speaks clearly</mat-radio-button> &nbsp;&nbsp;
      &nbsp;<mat-radio-button value="Gag Reflex Intact" >Gag Reflex Intact</mat-radio-button> &nbsp;&nbsp;
      &nbsp;<mat-radio-button value="Cough Reflex Intact" >Cough Reflex Intact</mat-radio-button>&nbsp;&nbsp;
    </mat-radio-group>

    <div class="tc-flex-row">

      <mat-form-field >
        <input [disabled]="isDisabled()"
          matInput
          placeholder="GCS "
          type="text"
          [(ngModel)]="icuPhysicalAssessmentDetail.gcs"
        />
      </mat-form-field>
    
      <mat-form-field >
        <input [disabled]="isDisabled()"
          matInput
          placeholder="Seizura Episode"
          type="text"
          [(ngModel)]="icuPhysicalAssessmentDetail.seizura"
        />
      </mat-form-field>
      </div>


  </div>

  </div>

  <br> 
  <div class="tc-flex-row custom-div">
    <label for="" class="custom-label">CVS</label>
    <div>
      <label for="">Skin:</label> &nbsp;
  
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.skin" name="skin">
        &nbsp;<mat-radio-button value="Warm" >Warm</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="Dry" >Dry</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="Moist" >Moist</mat-radio-button>&nbsp;&nbsp;
      </mat-radio-group>
      <br><br>

      <label for="">Peripheral edema:</label> &nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.peripheral_edema" name="peripheral_edema">
        &nbsp;<mat-radio-button value="Pitting" >Pitting</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="non pitting" >non pitting</mat-radio-button> &nbsp;&nbsp;
      </mat-radio-group>
      <br><br>
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.brisk_cap_refill" >Brisk cap Refill(&lt; 3 sec)</mat-checkbox> &nbsp; &nbsp; &nbsp;
      
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.heard" >S1, S2, heard</mat-checkbox> &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.csm" >CSM distal a-line good</mat-checkbox> &nbsp; &nbsp; &nbsp; 
      <br>
      <br>
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.line_passed" >A-line passed square wave test </mat-checkbox> &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.line_zeroed" >A-line Zeroed</mat-checkbox> &nbsp; &nbsp; &nbsp; 
      <br>
      <br>
      <label for="">Rt Radial  Pulse:</label> &nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.rt_radial_pulse" name="rt_radial_pulse">
        &nbsp;<mat-radio-button value="Palpable" >Palpable</mat-radio-button> &nbsp;
        <mat-radio-button value="Doppler" >Doppler</mat-radio-button> &nbsp;
        <mat-radio-button value="Absent" >Absent</mat-radio-button> &nbsp;
      </mat-radio-group>


      <label for="">Lt Radial  Pulse:</label> &nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.lt_radial_pulse" name="lt_radial_pulse">
        &nbsp;<mat-radio-button value="Palpable" >Palpable</mat-radio-button> &nbsp;
        <mat-radio-button value="Doppler" >Doppler</mat-radio-button> &nbsp;
        <mat-radio-button value="Absent" >Absent</mat-radio-button> &nbsp;
      </mat-radio-group>
      <br>
      <br>
      <label for="">R pedal  Pulse:</label> &nbsp;&nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Selec an option" [(ngModel)]="icuPhysicalAssessmentDetail.r_pedal_pulse" name="rt_pedal_pulse">
        &nbsp;<mat-radio-button value="Palpable" >Palpable</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="Doppler" >Doppler</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="Absent" >Absent</mat-radio-button> &nbsp;
      </mat-radio-group>


      <label for="">L pedal  Pulse:</label> &nbsp;&nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.l_pedal_pulse" name="lt_pedal_pulse">
        &nbsp;<mat-radio-button value="Palpable" >Palpable</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="Doppler" >Doppler</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="Absent" >Absent</mat-radio-button> &nbsp;
      </mat-radio-group>
      
    </div>
  </div>

  
  <div class="tc-flex-row custom-div">
    <label for="" class="custom-label">Respiratory</label>
    <div>
    <div class="tc-flex-row">
    <mat-form-field class="tc-full-stretch">
      <input [disabled]="isDisabled()"
        matInput
        placeholder="ETT size"
        type="text"
        [(ngModel)]="icuPhysicalAssessmentDetail.ett_size"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input [disabled]="isDisabled()"
        matInput
        placeholder="Intact at lip line (cm)"
        type="text"
        [(ngModel)]="icuPhysicalAssessmentDetail.intact_cm"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input [disabled]="isDisabled()"
        matInput
        placeholder="Trach. Intact size "
        type="text"
        [(ngModel)]="icuPhysicalAssessmentDetail.track_intact"
      />
    </mat-form-field>

    </div>
    <div class="tc-flex-row" style="justify-content: space-between;">

    <mat-checkbox class="tc-full-stretch"  style="align-self: center;" [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.breath_sound_clear_bilat"  >Breath Sound clear</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <!-- <label  for="" style=" align-self: center;">Secretions</label> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; -->
      <mat-form-field class="">
        <input [disabled]="isDisabled()"
          matInput
          placeholder="Secreion Color"
          type="text"
          [(ngModel)]="icuPhysicalAssessmentDetail.description"
        />
      </mat-form-field>

    </div>
    <div class="tc-flex-row">

      <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.breath_sound_clear_after_suctioned"  >Breath Sound clear After suctioned</mat-checkbox>  &nbsp; &nbsp;
      <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.insp_wheeze"  >Insp. wheeze</mat-checkbox>  &nbsp; &nbsp;
      <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.exp_wheeze"  > Exp. wheeze</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
    </div>
    <br>
    <div class="tc-flex-row">
      <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.breath_sound_clear_with_suction"  >Breath Sound clear with suction</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
    <mat-checkbox  [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.track_care"  >Trach care</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
    <label for="">Breath sound decrease on:</label> &nbsp;
    <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.breath_sound_decrease_on" name="breath_sound_decrease_on">
      &nbsp;<mat-radio-button value="L" >L</mat-radio-button> &nbsp;
      &nbsp;<mat-radio-button value="R" >R</mat-radio-button> &nbsp;
    </mat-radio-group>
    </div>
   <br>

    <label for="">Crackles:</label> &nbsp;
    <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.crackle" name="crackle">
      &nbsp;<mat-radio-button value="L" >L</mat-radio-button> &nbsp;
      &nbsp;<mat-radio-button value="R" >R</mat-radio-button> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    </mat-radio-group>

    <label for="">Chest Tube:</label> &nbsp;
    <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.chest_tube" name="chest_tube">
      &nbsp;<mat-radio-button value="L" >L</mat-radio-button> &nbsp;
      &nbsp;<mat-radio-button value="R" >R</mat-radio-button> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    </mat-radio-group>

    <label for="">Bubbling:</label> &nbsp;
    <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.bubbling" name="bubbling">
      &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button> &nbsp;
      &nbsp;<mat-radio-button value="No" >No</mat-radio-button> &nbsp;
    </mat-radio-group>
    <br> <br>

      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.vent_circuit_checked" >Vent circuit checked</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.bac_filter" >Bac.Filter</mat-checkbox>  &nbsp; &nbsp;&nbsp;
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.humidifier" >Humidifier (check heat, waterlevel andfunctionality)</mat-checkbox>  &nbsp; &nbsp;&nbsp;

    </div>
  </div>
  <br>
  <div class="tc-flex-row custom-div">
    <label for="" class="custom-label">GI</label>
    <div>
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.ng_tube" >NG Tube</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.og_tube" >OG Tube</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.placement_checked" >NG/OG Placement checked</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
  
      <label for="">Drainage:</label> &nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.drianage" name="drianage">
        &nbsp;<mat-radio-button value="Present" >Present</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="No" >No</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="Patent" >Patent</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="Blocked" >Blocked</mat-radio-button> &nbsp;&nbsp;
      </mat-radio-group>

      <br> <br>
      
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.abd_soft" >Abd soft; nontender</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.abd_distended" >Abd distended</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;
      
      <label for="">Abd:</label> &nbsp;
      <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.abd" name="abd">
        &nbsp;<mat-radio-button value="Semifirm" >Semifirm</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="firm" >firm</mat-radio-button> &nbsp;
        &nbsp;<mat-radio-button value="hard" >hard</mat-radio-button> &nbsp;
      </mat-radio-group>
      <br> <br>
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.vomiting" >Vomiting</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.diarrhea" >Diarrhea</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.suction" >Suction</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.gravity" >Gravity</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
      <br><br>
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.bowel_sound" >Bowels Sounds</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.hypoactive_bowel_sound" >Hypoactive Bowels Sounds</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
      <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.absenet_bowel_sound" >Absent Bowels Sounds</mat-checkbox>  &nbsp; &nbsp;
      <div class="tc-flex-row">

        <mat-form-field class="tc-full-stretch">
          <input [disabled]="isDisabled()"
            matInput
            placeholder="Ostomy stoma color"
            type="text"
            [(ngModel)]="icuPhysicalAssessmentDetail.ostomy_stoma_color"
          />
        </mat-form-field>

          <mat-form-field class="tc-full-stretch">
            <input [disabled]="isDisabled()"
              matInput
              placeholder="Consistency"
              type="text"
              [(ngModel)]="icuPhysicalAssessmentDetail.consistency"
            />
          </mat-form-field>
          <mat-form-field class="tc-full-stretch">
            <input
              matInput
              placeholder="Ng/OG tube insertion date"
              type="date"
              [(ngModel)]="ng_og_insertion_date"
            />
            <button mat-button *ngIf="ng_og_insertion_date != null" matSuffix mat-icon-button aria-label="Clear"
          (click)="date_of_last_bm = null">
          <mat-icon>close</mat-icon>
      </button>
          </mat-form-field>
          <mat-form-field class="tc-full-stretch">
            <input
              matInput
              placeholder="Date Of Last BM"
              type="date"
              [(ngModel)]="date_of_last_bm"
            />
            <button mat-button *ngIf="date_of_last_bm != null" matSuffix mat-icon-button aria-label="Clear"
          (click)="date_of_last_bm = null">
          <mat-icon>close</mat-icon>
      </button>
          </mat-form-field>
      </div> 

    </div>
    </div>

    <br>

    <div class="tc-flex-row custom-div">
      <label for="" class="custom-label">GU</label>
      <div>
          <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.foley" >Foley</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
          <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.condom_catheter" >Condom Catheter</mat-checkbox>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
         
          <label for="">Foley care provided:</label> &nbsp;
            <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.foley_care_provided" name="foley_care_provided">
              &nbsp;<mat-radio-button value="Yes" >Yes</mat-radio-button> &nbsp;&nbsp;
              &nbsp;<mat-radio-button value="No" >No</mat-radio-button> &nbsp;&nbsp;
            </mat-radio-group>
   
        <div class="tc-flex-row">
          <mat-form-field class="tc-full-stretch">
            <input
              matInput
              placeholder="Foley Insert Date"
              type="date"
              [(ngModel)]="foley_insert_date"
            />
            <button mat-button *ngIf="foley_insert_date != null" matSuffix mat-icon-button aria-label="Clear"
          (click)="foley_insert_date = null">
          <mat-icon>close</mat-icon>
      </button>
          </mat-form-field>


          <mat-form-field class="tc-full-stretch">
            <input [disabled]="isDisabled()"
            matInput
            placeholder="Urine appearance"
            type="text"
            [(ngModel)]="icuPhysicalAssessmentDetail.urine_appearance"
            />
          </mat-form-field>
        </div>
        </div>
    </div>
    <br>
    <div class="tc-flex-row custom-div">
      <label for="" class="custom-label">Skin</label>
      <div>
        <div>
          <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.breakdown" >No skin breakdown</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
          <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.intact" >Intact</mat-checkbox>  &nbsp; &nbsp;&nbsp;
          <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.bedsore" >Bedsore</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
          <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.wound_care" >Wound care</mat-checkbox>  &nbsp; &nbsp;&nbsp;
          <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.edema" >Edema</mat-checkbox>  &nbsp; &nbsp;&nbsp;

        
        </div>
        <br>
        <mat-radio-group [disabled]="isDisabled()" aria-label="Select an option" [(ngModel)]="icuPhysicalAssessmentDetail.bruise_dicoration" name="bruise_dicoration">
          &nbsp;<mat-radio-button value="Bruise" >Bruise</mat-radio-button> &nbsp;&nbsp;
          &nbsp;<mat-radio-button value="Discolorations" >Discolorations</mat-radio-button> &nbsp;&nbsp;
          &nbsp;<mat-radio-button value="Lesions" >Lesions</mat-radio-button> &nbsp;&nbsp;
          &nbsp;<mat-radio-button value="Rash" >Rash</mat-radio-button> &nbsp;&nbsp;
        </mat-radio-group>
        <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.perianal_care" >perianal care</mat-checkbox>  &nbsp; &nbsp; &nbsp; 
        <mat-checkbox [disabled]="isDisabled()" [(ngModel)]="icuPhysicalAssessmentDetail.bed_bath" >Bed bath & Skin care</mat-checkbox>  &nbsp; &nbsp;&nbsp;
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
