<mat-toolbar class="tc-toolbar-secondary" *ngIf="!is_dialog">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-procedures"></mat-icon>
    {{ appTranslation.getText("procedure", "patient_procedures") }}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPatient_Procedures();" *ngIf="tcAuthorization.canRead('patient_procedures')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPatient_Procedure();" *ngIf="tcAuthorization.canCreate('patient_procedures')  && form_encounterPersist.encounter_is_active"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patient_id">
        <mat-slide-toggle
      matInput
      labelPosition="before"
      class="tc-form-toggle" (change)="handleToggle($event)"
      required
      [checked]="true"
    >
      {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
  </h1>

</mat-toolbar>
<div class="tc-loading" *ngIf="patient_proceduresLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="tc-padding">
        <mat-form-field  *ngIf="!is_dialog">
            <input
              matInput
              placeholder=
                'Create Date'
              [formControl]="start_date"
              [matDatepicker]="from_date_picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="from_date_picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
            <button mat-button *ngIf="start_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
            (click)="start_date.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field *ngIf="!is_dialog">
        <input matInput [formControl]="patient_proceduresSearchTextBox"
        placeholder="{{appTranslation.getText('general','search_text')}}">
        <button mat-button *ngIf="patient_proceduresSearchTextBox.value" matSuffix mat-icon-button
        aria-label="Clear" (click)="patient_proceduresSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>


    <div class="tc-table-container tc-full-stretch">

        <mat-toolbar *ngIf="patient_proceduresSelected.length >0 ">
        <button mat-button (click)="downloadPatient_Procedures()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
        </button>

        </mat-toolbar>

        <mat-table [dataSource]="patient_proceduresData" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(patient_proceduresData,patient_proceduresSelected) "
                [checked]=" tcUtilsArray.isAllSelected(patient_proceduresData,patient_proceduresSelected)"
                [indeterminate]="patient_proceduresSelected.length <patient_proceduresData.length && patient_proceduresSelected.length>0">
            </mat-checkbox>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(patient_proceduresSelected,row) : null"
                [checked]="tcUtilsArray.contains(patient_proceduresSelected,row)">
            </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure','procedure')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> <span (click)="goToNotes(element)" >{{getProcedure(element.procedure_id)}}</span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>MRN
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.pid}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="encounter_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','encounter')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patient_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"><span class="tc-link" [routerLink]="procedureNavigator.procedureNoteUrl(element.id)"  [style.color]="getPatientStatus(element) + '!important'">{{element.patient_name}}</span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="doctor_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('employee','doctor')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.doctor_id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                created at
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.created_at)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="procedure_status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>procedure status
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(form_encounterPersist.patient_procedure_status,element.procedure_status)?.name}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('patient_procedures') || tcAuthorization.canDelete('patient_procedures'))">
                <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
                
                <button mat-menu-item (click)="goToNotes(element)">
                <mat-icon fontSet="fa" fontIcon="fa-sticky-note"></mat-icon>
                Notes
                </button>

                <button mat-menu-item (click)="editPatient_Procedure(element)" *ngIf="tcAuthorization.canUpdate('patient_procedures')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="printPatient_Procedures(element)" *ngIf="tcAuthorization.canRead('patient_procedures')">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>Print </span>
                    </button>
                <button mat-menu-item (click)="deletePatient_Procedure(element)" *ngIf="tcAuthorization.canDelete('patient_procedures')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
                </button>

                <button mat-menu-item (click)="addConsetForm(element)" *ngIf="!element.consent_id && element.needs_consent && tcAuthorization.canUpdate('patient_procedures')">
                <mat-icon fontSet="fa" fontIcon="fa-signature"></mat-icon>
                <span>Consent </span>
                </button>
                <button mat-menu-item *ngIf="element.consent_id">
                <a class="tc-link" href="{{filePersist.downloadLink(element.consent_form?.download_key )}}" target="_blank">
                <mat-icon fontSet="fa" fontIcon="fa-download"></mat-icon>
                {{appTranslation.getText("general", "download")}}
                </a>
                </button> 
            </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="patient_proceduresDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: patient_proceduresDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patient_proceduresSelected,row)}">
        </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="patient_proceduresTotalCount"
        [ngStyle]="{display: patient_proceduresTotalCount > 0? '':'none'}">
        </mat-paginator>
    </div>
    </div>