    <mat-toolbar class="tc-toolbar-secondary" *ngIf="!is_previous">
      <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-bullseye"></mat-icon>
        Progress Note
      </h1>
      <button mat-button (click)="back()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)="searchForm_Soaps()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
    

      <button mat-button (click)=" addForm_Soap();"   *ngIf="tcAuthorization.canCreate('form_soaps') && form_encounterPersist.encounter_is_active"  class="tc-link ">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      </button>
      <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patient_id">
      <mat-slide-toggle
      *ngIf="this.patient_id"
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
  >
    {{appTranslation.getText("patient", "show_current")}}
  </mat-slide-toggle>
</h1>
    </mat-toolbar>

    <div class="tc-padding">

      <mat-spinner diameter="50" *ngIf="form_soapsLoading" class="tc-padding"></mat-spinner>

      <div class="tc-padding" [ngStyle]="{display: form_soapsLoading? 'none':''}">
        <mat-form-field>
          <input matInput [formControl]="form_soapsSearchTextBox"
            placeholder="{{appTranslation.getText('general','search_text')}}">
          <button mat-button *ngIf="form_soapsSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form_soapsSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div class="tc-table-container tc-full-stretch">

          <mat-toolbar *ngIf="form_soapsSelected.length >0 ">
            <button mat-button (click)="downloadForm_Soaps()">
              <mat-icon>save_alt</mat-icon>
              <span>{{appTranslation.getText("general", "download")}} </span>
            </button>

          </mat-toolbar>

          <mat-table [dataSource]="form_soapsData" matSort>

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(form_soapsData,form_soapsSelected) "
                  [checked]=" tcUtilsArray.isAllSelected(form_soapsData,form_soapsSelected)"
                  [indeterminate]="form_soapsSelected.length <form_soapsData.length && form_soapsSelected.length>0">
                </mat-checkbox>

              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? tcUtilsArray.toggleSelection(form_soapsSelected,row) : null"
                  [checked]="tcUtilsArray.contains(form_soapsSelected,row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="subjective">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'subjective')}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ (element.subjective.length>50)? (element.subjective | slice:0:50)+'...':(element.subjective)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="user">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'given_by')}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{getUser(element.provider_id)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="objective">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'objective')}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ (element.objective.length>50)? (element.objective | slice:0:50)+'...':(element.objective)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="assessment">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'assessment')}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ (element.assessment.length>50)? (element.assessment | slice:0:50)+'...':(element.assessment)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="plan">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient', 'plan')}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ (element.plan.length>50)? (element.plan | slice:0:50)+'...':(element.plan)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{appTranslation.getText('general', 'date')}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a [routerLink]="form_encounterNavigator.form_soapUrl(element.id)" class="tc-link">
                  {{tcUtilsDate.toDate(element.date)|date:'MMM dd, yyyy. h:mm a'}}
                </a>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="problem">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','problem')}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ (element.problem.length>50)? (element.problem | slice:0:50)+'...':(element.problem)}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="note">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="custom-col-note">Progress Note
              </mat-header-cell>
              <mat-cell *matCellDef="let element"  class="custom-col-note">{{ element.note }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="final_diagnosis">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="custom-col">
                {{appTranslation.getText('patient','final_diagnosis')}}</mat-header-cell>
              <mat-cell *matCellDef="let element" class="custom-col">{{ (element.final_diagnosis.length>50)? (element.final_diagnosis | slice:0:50)+'...':(element.final_diagnosis)}}</mat-cell>
            </ng-container>



            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('form_soaps') || tcAuthorization.canDelete('form_soaps')) && form_encounterPersist.encounter_is_active">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
                  <button mat-menu-item (click)="editForm_Soap(element)"  *ngIf="tcAuthorization.canUpdate('form_soaps') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general", "edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="editForm_Soap_as_new(element)"  *ngIf="tcAuthorization.canUpdate('form_soaps') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>Add as new</span>
                  </button>

                  <button mat-menu-item (click)="deleteForm_Soap(element)">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general", "delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>

           
            <mat-header-row *matHeaderRowDef="form_soapsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: form_soapsDisplayedColumns;"
              [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(form_soapsSelected,row)}">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="form_soapsTotalCount"
            [ngStyle]="{display: form_soapsTotalCount > 0? '':'none'}">
          </mat-paginator>
        </div>
      </div>
    </div>
