<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="form_encounterDetail">




    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder='{{appTranslation.getText("schedule", "reason")}}' type="text"
                [(ngModel)]="form_encounterDetail.reason" required></textarea>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder='Informant' type="text"
                [(ngModel)]="form_encounterDetail.informant" required></textarea>
    </mat-form-field>



  
    <!-- <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='{{appTranslation.getText("schedule", "sensitivity")}}' [(value)]="form_encounterDetail.sensitivity" required>
        <mat-option *ngFor="let etype of persist.sensetivity" [value]="etype.id">
         {{appTranslation.getText("patient", etype.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- <mat-form-field class="tc-full-stretch" *ngIf="showServerity">
      <mat-select placeholder='Severity' [(value)]="form_encounterDetail.severity" required>
        <mat-option *ngFor="let etype of persist.severity" [value]="etype.id">
         {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='Means Of Arrival' [(value)]="form_encounterDetail.means_of_arrival" required>
        <mat-option *ngFor="let etype of persist.meansOfArrival" [value]="etype.id">
         {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field class="tc-full-stretch" *ngIf="!isWizard()">
      <input matInput placeholder="provider_id" type="number" [(ngModel)]="form_encounterDetail.provider_id" required>
    </mat-form-field>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isWizard()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
