<h1 mat-dialog-title>deposit_option Selection</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="depositOptionSearchTextBox"
      placeholder="{{ appTranslation.getText('general', 'search_text') }} "
    />
    <button
      mat-button
      *ngIf="depositOptionPersist.depositOptionSearchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="depositOptionSearchTextBox.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="depositOptionIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container tc-full-width">
    <mat-table
      [dataSource]="depositOptionsData"
      matSort
      class="tc-hide-on-mobile"
    >
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              tcUtilsArray.toggleSelectAll(
                depositOptionsData,
                depositOptionSelection
              )
            "
            [checked]="
              tcUtilsArray.isAllSelected(
                depositOptionsData,
                depositOptionSelection
              ) || depositOptionSelectAll
            "
            [indeterminate]="
              depositOptionSelection.length < depositOptionsData.length &&
              depositOptionSelection.length > 0
            "
            [disabled]="depositOptionSelectAll"
          >
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon
              fontSet="fa"
              fontIcon="fa-caret-down"
              [matMenuTriggerFor]="depositOptionSelectAllMenu"
            ></mat-icon>
          </button>
          <mat-menu #depositOptionSelectAllMenu="matMenu">
            <button
              mat-menu-item
              (click)="depositOptionSelectAll = true"
              [disabled]="depositOptionSelectAll"
            >
              {{ appTranslation.getText("general", "all") }}
            </button>
            <button
              mat-menu-item
              (click)="depositOptionSelectAll = false"
              [disabled]="!depositOptionSelectAll"
            >
              {{ appTranslation.getText("general", "none") }}
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="
              $event
                ? tcUtilsArray.toggleSelection(depositOptionSelection, row)
                : null
            "
            [checked]="
              tcUtilsArray.contains(depositOptionSelection, row) ||
              depositOptionSelectAll
            "
            [disabled]="depositOptionSelectAll"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="option">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >option
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.option }}</mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="depositOptionsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: depositOptionsDisplayedColumns"
        [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(depositOptionSelection, row)
        }"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
      showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize"
      [length]="depositOptionsTotalCount"
      [ngStyle]="{ display: depositOptionsTotalCount > 0 ? '' : 'none' }"
    ></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="returnSelected()"
    [disabled]="depositOptionSelection.length == 0"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "return_selection") }}
  </button>
</div>
