<div class="tc-padding">
    <h1 class="mat-headline">{{appTranslation.getText('users', 'profile')}}</h1>
    <mat-card>
      <button mat-button (click)="passwordChange()">{{appTranslation.getText('users', 'password_change')}}</button>
    </mat-card>
    <h1 class="mat-headline" style="margin-top:15px;">{{appTranslation.getText('users', 'preferences')}}</h1>
    <mat-card>
      <mat-form-field>
        <mat-select placeholder="{{appTranslation.getText('general','language')}}"
                    [(value)]="TCAppInit.userInfo.lang"
                    (selectionChange)="languageChanged()">
          <mat-option *ngFor="let lang of appTranslation.languages" [value]="lang.code">
            {{lang.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
    </mat-card>
  
  </div>

  <div class="tc-equal-block">
    <div class="tc-padding" *ngIf="userLoaded">
      <mat-accordion>

        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              2 Factor Authentication
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf="userLoaded">

            <div class="tc-detail-field">
              <span>Last login </span>
              {{userDetail.last_login!=0 ? (tcUtilsDate.toDate(userDetail.last_login) | date) : "Never"}}
            </div>

            <div *ngIf="userDetail.otp != ''">
              <div class="tc-detail-field">
                <div class="tc-flex-row"><span>OTP key </span>
                  <mat-icon fontSet="fa" fontIcon="fa-sync" (click)="otpReset()" class="tc-icon-button">
                  </mat-icon>
                </div>
                {{userDetail.otp}}
              </div>



            </div>

          </div>
          <mat-action-row>
            <button mat-button *ngIf="userDetail.otp == ''" (click)="otpEnable()">
              Enable
            </button>
            <button mat-button *ngIf="userDetail.otp != ''" (click)="otpDisable()">
              Disable
            </button>
          </mat-action-row>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  