<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="procedure_providerDetail">

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="procedure_providerDetail.name" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('procedure','lab_type')}}" type="text"  [(ngModel)]="procedure_providerDetail.type" required>
    </mat-form-field>

    <div class="tc-flex-column">
      <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="procedure_providerDetail.active" required> {{appTranslation.getText('bed','active')}} </mat-slide-toggle>
    </div>

    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder="{{appTranslation.getText('notes','note')}}" type="text"  [(ngModel)]="procedure_providerDetail.notes" required></textarea>
    </mat-form-field>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
