
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-certificate"></mat-icon>
   Employee Medical Certificate  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchMedical_certificate_employees();" *ngIf="tcAuthorization.canRead('medical_certificate_employees')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addMedical_certificate_employee();" *ngIf="tcAuthorization.canCreate('medical_certificate_employees') && form_encounterPersist.encounter_is_active" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
  <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
    <mat-slide-toggle
    matInput
    labelPosition="before"
    class="tc-form-toggle" (change)="handleToggle($event)"
    required
    [checked]="false"
    >
    {{appTranslation.getText("patient", "show_current")}}
    </mat-slide-toggle>
    </h1>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="medicalCertificateEmployeeSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="medicalCertificateEmployeePersist.medicalCertificateEmployeeSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="medicalCertificateEmployeeSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="medicalCertificateEmployeeIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let medical_certificate_employee of medicalCertificateEmployeesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('medical_certificate_employees') || tcAuthorization.canDelete('medical_certificate_employees'))  && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editMedicalCertificateEmployee(medical_certificate_employee)" *ngIf="tcAuthorization.canUpdate('medical_certificate_employees')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteMedicalCertificateEmployee(medical_certificate_employee)" *ngIf="tcAuthorization.canDelete('medical_certificate_employees')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div class="tc-detail-field">
          <span>name</span>
          {{medical_certificate_employee.name}}
        </div>
      
        <div class="tc-detail-field">
          <span>age</span>
          {{medical_certificate_employee.age}}
        </div><div class="tc-detail-field">
          <span>sex</span>
          {{medical_certificate_employee.sex}}
        </div>
      
        <div class="tc-detail-field">
          <span>condition</span>
          {{medical_certificate_employee.condition}}
        </div>
     
        <div class="tc-detail-field">
          <span>employment_fit</span>
          {{medical_certificate_employee.employment_fit}}
        </div><div class="tc-detail-field">
          <span>doctor_name</span>
          {{medical_certificate_employee.doctor_name}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchMedical_certificate_employees.length >0 || medicalCertificateEmployeeSelectAll">
      <button mat-button (click)="downloadMedicalCertificateEmployees()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{medicalCertificateEmployeeSelectAll ? medicalCertificateEmployeesTotalCount : medicalCertificateEmployeeSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="medicalCertificateEmployeesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(medicalCertificateEmployeesData,medicalCertificateEmployeeSelection) "
            [checked]=" tcUtilsArray.isAllSelected(medicalCertificateEmployeesData,medicalCertificateEmployeeSelection) || medicalCertificateEmployeeSelectAll"
            [indeterminate]="medicalCertificateEmployeeSelection.length <medicalCertificateEmployeesData.length && medicalCertificateEmployeeSelection.length>0"
            [disabled]="medicalCertificateEmployeeSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="medicalCertificateEmployeeSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #medicalCertificateEmployeeSelectAllMenu="matMenu">

            <button mat-menu-item (click)="medicalCertificateEmployeeSelectAll=true;" [disabled]="medicalCertificateEmployeeSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="medicalCertificateEmployeeSelectAll = false;" [disabled]="!medicalCertificateEmployeeSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(medicalCertificateEmployeeSelection,row) : null"
            [checked]="tcUtilsArray.contains(medicalCertificateEmployeeSelection,row) || medicalCertificateEmployeeSelectAll" [disabled]="medicalCertificateEmployeeSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container> 

  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">           <a [routerLink]="medicalCertificateEmployeeNavigator.medical_certificate_employeeUrl(element.id)" class="tc-link"> {{element.name}}</a></mat-cell>
      </ng-container>

  <ng-container matColumnDef="doctor_examination">
        <mat-header-cell *matHeaderCellDef mat-sort-header>dob
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_examination}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sex">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sex
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sex? "Male": "Female"}}</mat-cell>
      </ng-container>

  <ng-container matColumnDef="condition">
        <mat-header-cell *matHeaderCellDef mat-sort-header>condition
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.condition}}</mat-cell>
      </ng-container>
  -->
  <ng-container matColumnDef="employment_fit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>employment_fit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(medicalCertificateEmployeePersist.MedicalEmploymentStatus,element.employment_fit)?.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="doctor_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.doctor_name}}</mat-cell>
      </ng-container>
 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="medicalCertificateEmployeeNavigator.medical_certificate_employeeUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('medical_certificate_employees') || tcAuthorization.canDelete('medical_certificate_employees'))  && form_encounterPersist.encounter_is_active">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
         <button mat-menu-item (click)="editMedicalCertificateEmployee(element)" *ngIf="tcAuthorization.canUpdate('medical_certificate_employees') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteMedicalCertificateEmployee(element)" *ngIf="tcAuthorization.canDelete('medical_certificate_employees')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="medicalCertificateEmployeesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: medicalCertificateEmployeesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(medicalCertificateEmployeeSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="medicalCertificateEmployeesTotalCount"
      [ngStyle]="{display: medicalCertificateEmployeesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>