
<mat-toolbar class="tc-toolbar-secondary" *ngIf="showBar">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     clinical_instruction_response  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchClinicalInstructionResponses();" *ngIf="tcAuthorization.canRead('clinical_instruction_responses')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addClinicalInstructionResponse();" *ngIf="tcAuthorization.canCreate('clinical_instruction_responses') && form_encounterPersist.encounter_is_active" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field *ngIf="showBar">
      <input matInput [formControl]="clinicalInstructionResponseSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="clinicalInstructionResponsePersist.clinicalInstructionResponseSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="clinicalInstructionResponseSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="clinicalInstructionResponseIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let clinicalInstructionResponse of clinicalInstructionResponsesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('clinical_instruction_responses') || tcAuthorization.canDelete('clinical_instruction_responses')) &&form_encounterPersist.encounter_is_active">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editClinicalInstructionResponse(clinicalInstructionResponse)" *ngIf="tcAuthorization.canUpdate('clinical_instruction_responses')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteClinicalInstructionResponse(clinicalInstructionResponse)" *ngIf="tcAuthorization.canDelete('clinical_instruction_responses')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>clinical_instruction_id</span>
            {{clinicalInstructionResponse.clinical_instruction_id}}
          </div><div class="tc-detail-field">
            <span>complication</span>
            {{clinicalInstructionResponse.complication}}
          </div><div class="tc-detail-field">
            <span>is_done</span>
            {{clinicalInstructionResponse.is_done}}
          </div><div class="tc-detail-field">
            <span>nurse_id</span>
            {{clinicalInstructionResponse.nurse_id}}
          </div><div class="tc-detail-field">
            <span>patient_id</span>
            {{clinicalInstructionResponse.patient_id}}
          </div><div class="tc-detail-field">
            <span>remark</span>
            {{clinicalInstructionResponse.remark}}
          </div><div class="tc-detail-field">
            <span>response_date</span>
            {{clinicalInstructionResponse.response_date | date:'EE MMM, d/y h:mm a'}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchClinicalInstructionResponses.length >0 || clinicalInstructionResponseSelectAll">
        <button mat-button (click)="downloadClinicalInstructionResponses()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{clinicalInstructionResponseSelectAll ? clinicalInstructionResponsesTotalCount : clinicalInstructionResponseSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="clinicalInstructionResponsesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(clinicalInstructionResponsesData,clinicalInstructionResponseSelection) "
              [checked]=" tcUtilsArray.isAllSelected(clinicalInstructionResponsesData,clinicalInstructionResponseSelection) || clinicalInstructionResponseSelectAll"
              [indeterminate]="clinicalInstructionResponseSelection.length <clinicalInstructionResponsesData.length && clinicalInstructionResponseSelection.length>0"
              [disabled]="clinicalInstructionResponseSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="clinicalInstructionResponseSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #clinicalInstructionResponseSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="clinicalInstructionResponseSelectAll=true;" [disabled]="clinicalInstructionResponseSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="clinicalInstructionResponseSelectAll = false;" [disabled]="!clinicalInstructionResponseSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(clinicalInstructionResponseSelection,row) : null"
              [checked]="tcUtilsArray.contains(clinicalInstructionResponseSelection,row) || clinicalInstructionResponseSelectAll" [disabled]="clinicalInstructionResponseSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="clinical_instruction_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>clinical_instruction_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.clinical_instruction_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="complication">
          <mat-header-cell *matHeaderCellDef mat-sort-header>complication
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.complication}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="is_done">
          <mat-header-cell *matHeaderCellDef mat-sort-header>is_done
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="element.is_done"></mat-icon>
            <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="!element.is_done"></mat-icon>

          </mat-cell>
        </ng-container>
    <ng-container matColumnDef="nurse_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>nurse_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getNurse(element.nurse_id)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="remark">
          <mat-header-cell *matHeaderCellDef mat-sort-header>remark
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="response_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>response_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="getDetailUrl(element)" class="tc-link">{{element.response_date * 1000  | date:'EE MMM, d/y h:mm a'}}</a></mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="clinicalInstructionResponseNavigator.clinicalInstructionResponseUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('clinical_instruction_responses') || tcAuthorization.canDelete('clinical_instruction_responses')) && form_encounterPersist.encounter_is_active">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editClinicalInstructionResponse(element)" *ngIf="tcAuthorization.canUpdate('clinical_instruction_responses') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteClinicalInstructionResponse(element)" *ngIf="tcAuthorization.canDelete('clinical_instruction_responses')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="clinicalInstructionResponsesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: clinicalInstructionResponsesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(clinicalInstructionResponseSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="clinicalInstructionResponsesTotalCount"
        [ngStyle]="{display: clinicalInstructionResponsesTotalCount > 0? '':'none'}"></mat-paginator>
        <div style="display: flex; align-items: end;" *ngIf="!showBar">
          <button mat-button (click)=" addClinicalInstructionResponse();" *ngIf="tcAuthorization.canCreate('clinical_instruction_responses') && form_encounterPersist.encounter_is_active" class="tc-link" style="margin-left: auto;" >
            <mat-icon fontSet="fa" fontIcon="fa-plus" ></mat-icon>
          </button>
        </div>
    </div>
  </div>
  