<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="nurseHistoryDetail">
                      
      
    <mat-form-field class="tc-full-stretch">
      <input type="text" #input
            placeholder="cheif compliant"
             matInput
             (ngModelChange)="searchValue($event, input);"
             [(ngModel)]="nurseHistoryDetail.cheif_compliant"
             [matAutocomplete]="auto" >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of chiefComplaintOptions" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
                          
    
  <div [class.tc-flex-row]=true>                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="duration" type="number"  [(ngModel)]="nurseHistoryDetail.duration" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='duration unit'   [(value)]="nurseHistoryDetail.duration_unit" required>
        <mat-option *ngFor="let etype of persist.duration_unit" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>  
  </div>
  
   </div>

   <div *ngIf="nurseHistoryDetailList.length > 0">
    <mat-table [dataSource]="nurseHistoryDetailList" matSort class="mat-elevation-z2" style="margin-bottom: 10px">
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
  
          <button mat-menu-item (click)="removeFromList(element)">
            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
          </button>
  
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
  
          <button mat-menu-item (click)="editFromList(element)">
            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
          </button>
  
        </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cheif_compliant">
          <mat-header-cell *matHeaderCellDef mat-sort-header>cheif_compliant
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.cheif_compliant}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>duration
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.duration}} {{tcUtilsArray.getEnum(persist.duration_unit,element.duration_unit)?.name}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="nurseHistorysDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: nurseHistorysDisplayedColumns;"></mat-row>
      </mat-table>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()?AddToList():onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
      add to list
    </button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSave()" cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>