<h1 mat-dialog-title>
    medical_checkup_service Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="medicalCheckupServiceSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="medicalCheckupServicePersist.medicalCheckupServiceSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="medicalCheckupServiceSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="medicalCheckupServiceIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="medicalCheckupServicesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(medicalCheckupServicesData,medicalCheckupServiceSelection) "
            [checked]=" tcUtilsArray.isAllSelected(medicalCheckupServicesData,medicalCheckupServiceSelection) || medicalCheckupServiceSelectAll"
            [indeterminate]="medicalCheckupServiceSelection.length <medicalCheckupServicesData.length && medicalCheckupServiceSelection.length>0"
            [disabled]="medicalCheckupServiceSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="medicalCheckupServiceSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #medicalCheckupServiceSelectAllMenu="matMenu">

            <button mat-menu-item (click)="medicalCheckupServiceSelectAll=true;" [disabled]="medicalCheckupServiceSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="medicalCheckupServiceSelectAll = false;" [disabled]="!medicalCheckupServiceSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(medicalCheckupServiceSelection,row) : null"
            [checked]="tcUtilsArray.contains(medicalCheckupServiceSelection,row) || medicalCheckupServiceSelectAll" [disabled]="medicalCheckupServiceSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="medical_checkup_package_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>medical_checkup_package_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.medical_checkup_package_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="service_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>service_type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.service_type}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="medicalCheckupServicesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: medicalCheckupServicesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(medicalCheckupServiceSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="medicalCheckupServicesTotalCount"
      [ngStyle]="{display: medicalCheckupServicesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" medicalCheckupServiceSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
