<h1 mat-dialog-title>
    store_stock_level Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="storeStockLevelSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="storeStockLevelPersist.storeStockLevelSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="storeStockLevelSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="storeStockLevelIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="storeStockLevelsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(storeStockLevelsData,storeStockLevelSelection) "
            [checked]=" tcUtilsArray.isAllSelected(storeStockLevelsData,storeStockLevelSelection) || storeStockLevelSelectAll"
            [indeterminate]="storeStockLevelSelection.length <storeStockLevelsData.length && storeStockLevelSelection.length>0"
            [disabled]="storeStockLevelSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="storeStockLevelSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #storeStockLevelSelectAllMenu="matMenu">

            <button mat-menu-item (click)="storeStockLevelSelectAll=true;" [disabled]="storeStockLevelSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="storeStockLevelSelectAll = false;" [disabled]="!storeStockLevelSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(storeStockLevelSelection,row) : null"
            [checked]="tcUtilsArray.contains(storeStockLevelSelection,row) || storeStockLevelSelectAll" [disabled]="storeStockLevelSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>store_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.store_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>item_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.item_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="min">
        <mat-header-cell *matHeaderCellDef mat-sort-header>min
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.min}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="max">
        <mat-header-cell *matHeaderCellDef mat-sort-header>max
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.max}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="storeStockLevelsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: storeStockLevelsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(storeStockLevelSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="storeStockLevelsTotalCount"
      [ngStyle]="{display: storeStockLevelsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" storeStockLevelSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>