<h1 mat-dialog-title>
    other_services Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="otherServicesSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="otherServicesPersist.otherServicesSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="otherServicesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="otherServicesIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="otherServicessData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(otherServicessData,otherServicesSelection) "
            [checked]=" tcUtilsArray.isAllSelected(otherServicessData,otherServicesSelection) || otherServicesSelectAll"
            [indeterminate]="otherServicesSelection.length <otherServicessData.length && otherServicesSelection.length>0"
            [disabled]="otherServicesSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="otherServicesSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #otherServicesSelectAllMenu="matMenu">

            <button mat-menu-item (click)="otherServicesSelectAll=true;" [disabled]="otherServicesSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="otherServicesSelectAll = false;" [disabled]="!otherServicesSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(otherServicesSelection,row) : null"
            [checked]="tcUtilsArray.contains(otherServicesSelection,row) || otherServicesSelectAll" [disabled]="otherServicesSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remark
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="otherServicessDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: otherServicessDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(otherServicesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="otherServicessTotalCount"
      [ngStyle]="{display: otherServicessTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" otherServicesSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>