<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="availabilityDetail">

    <mat-form-field class="tc-full-stretch">
      <mat-label>
        {{appTranslation.getText("schedule", "search_for_physicians")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="userFullName"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        color="primary"
        (click)="searchDoctors()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <mat-label>  {{appTranslation.getText('schedule', 'start_time')}}</mat-label>
      <input matInput type="time" [(ngModel)]="start_time">

    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <mat-label>  {{appTranslation.getText('schedule', 'end_time')}}</mat-label>
      <input matInput min="12:32:AM" type="time" [(ngModel)]="end_time">

    </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder=" {{appTranslation.getText('schedule', 'repetition')}}"
                  [(value)]="availabilityDetail.repetition" required>
        <mat-option *ngFor="let etype of persist.repetition" [value]="etype.id">
          {{ appTranslation.getText("schedule", etype.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch" *ngIf="availabilityDetail.repetition == repetition.once_a_week">
      <mat-select placeholder=" {{appTranslation.getText('schedule', 'day_of_the_week')}}"
                  [(value)]="availabilityDetail.day_of_the_week" required>
        <mat-option *ngFor="let etype of persist.day_of_the_week" [value]="etype.id">
          {{ appTranslation.getText("general", etype.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch" *ngIf="availabilityDetail.repetition == repetition.once_a_month">
      <input matInput placeholder="    {{appTranslation.getText('schedule', 'day_of_the_month')}}
      " type="number" [(ngModel)]="availabilityDetail.day_of_the_month" required>
    </mat-form-field>


    <mat-form-field class="tc-full-stretch" *ngIf="availabilityDetail.repetition == repetition.once">
      <mat-label>  {{appTranslation.getText('general', 'end')}}</mat-label>
      <input matInput [matDatepicker]="date_pick" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="date_pick"></mat-datepicker-toggle>
      <mat-datepicker #date_pick></mat-datepicker>
    </mat-form-field>




  <mat-form-field class="tc-full-stretch">
    <mat-label>{{appTranslation.getText('general','start_date')}}</mat-label>
    <input matInput  [matDatepicker]="start_date_picker" [(ngModel)]="start_date">
    <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #start_date_picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch">
    <mat-label>{{appTranslation.getText('general','end_date')}}</mat-label>
    <input matInput  [matDatepicker]="end_date_picker" [(ngModel)]="end_date">
    <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
    <mat-datepicker #end_date_picker></mat-datepicker>
  </mat-form-field>


<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="{{appTranslation.getText('patient','max_patient')}}" type="number"  [(ngModel)]="availabilityDetail.max_patient" required>
  </mat-form-field>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
