
.generate-report {
    background-color:  var(--base-color);
    margin-left: auto;
    border-radius: 27px;
    width: 10em;
    padding: 12px 20px;
    text-align: left;
    line-height: 10px;
    text-align: center;
    color:white;
}