<mat-toolbar class="tc-toolbar-secondary" *ngIf="!isDashboard">
  <h3 class="mat-heading">
  <mat-icon fontSet="fa" fontIcon="fa-file-medical"></mat-icon>
  Disease Report
  </h3>
  <button mat-button (click)=" back();" class="tc-link">
  <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" loadICD10_report(); " *ngIf="tcAuthorization.requireRead('disease_reports')"
  class="tc-link">
  <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button  class="generate-report" mat-button *ngIf="ICD10_reportTotalCount>0" matSuffix mat-icon-button 
    (click)="generateReport()">
    <mat-label>Export to Excel</mat-label>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <div *ngIf="!isDashboard" style="display: flex; flex-direction: row;">
    <mat-form-field >
      <input matInput [formControl]="diagnosisReportSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="patientPersisit.diagnosisReportSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="diagnosisReportSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder='From Date'
        [formControl]="start_date"
        [matDatepicker]="start_date_picker"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="start_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #start_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="start_date.value != ''" matSuffix mat-icon-button aria-label="Clear"
      (click)="start_date.setValue('')">
      <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder='To Date'
        [formControl]="end_date"
        [matDatepicker]="end_date_picker"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="end_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #end_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="end_date.value != ''" matSuffix mat-icon-button aria-label="Clear"
      (click)="end_date.setValue('')">
      <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{ appTranslation.getText('general', 'gender') }}"
                  [(value)]="patientPersisit.sex"
                  (valueChange)="loadICD10_report()">
        <mat-option *ngFor="let etype of Gender" [value]="etype.id" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="patientPersisit.sex!=null" matSuffix mat-icon-button aria-label="Clear"
              (click)="patientPersisit.sex = null;loadICD10_report();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <!-- <button  class="generate-report" mat-button *ngIf="ICD10_reportTotalCount>0" matSuffix mat-icon-button 
      (click)="generateReport()">
      <mat-label>Export to Excel</mat-label>
    </button> -->
</div>
  <div class="tc-loading" *ngIf="diagnosisReportIsLoading">
    <mat-spinner></mat-spinner></div>

    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let element of ICD10_reportData" class="tc-card">
        <mat-card-header>
          <mat-card-title>{{element.name}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="tc-detail-field">
            <span>0 - 12m</span>
            {{element.infant}}
          </div>
          <div class="tc-detail-field">
            <span>1y - 5y</span>
            {{element.child}}
          </div>
          <div class="tc-detail-field">
            <span>5y - 15y</span>
            {{element.teen}}
          </div>
          <div class="tc-detail-field">
            <span>15y+</span>
            {{element.adult}}
          </div>
          <div class="tc-detail-field">
            <span>{{appTranslation.getText('patient', 'total_patient')}}</span>
            {{element.total}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  <div class="tc-table-container tc-full-width">

    <mat-table [dataSource]="ICD10_reportData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="disease">
        <mat-header-cell *matHeaderCellDef>{{appTranslation.getText('general','name')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.diagnosis}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="infant">
        <mat-header-cell *matHeaderCellDef>0 - 1</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.infant}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="child">
        <mat-header-cell *matHeaderCellDef>1 - 5</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.child}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="young">
        <mat-header-cell *matHeaderCellDef>5 - 15</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.teen}}</mat-cell>
      </ng-container> 
      
      <ng-container matColumnDef="old">
        <mat-header-cell *matHeaderCellDef>15+</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.adult}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>{{appTranslation.getText('patient', 'total_patient')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.total}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="ICD10_reportDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: ICD10_reportDisplayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="isDashboard ? tcUtilsArray.defaultPageSizeSmall :tcUtilsArray.defaultPageSize"
                   [length]="ICD10_reportTotalCount"
                   [ngStyle]="{display: ICD10_reportTotalCount > 0? '':'none'}"></mat-paginator>

                   </div>
  </div>