<h1 mat-dialog-title>
  Item_In_Store Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="item_in_storesSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="item_in_storePersist.item_in_storeSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="item_in_storesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="item_in_storesIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="item_in_storesData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(item_in_storesData,item_in_storesSelection) "
            [checked]=" tcUtilsArray.isAllSelected(item_in_storesData,item_in_storesSelection)"
            [indeterminate]="item_in_storesSelection.length <item_in_storesData.length && item_in_storesSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="item_in_storesSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{item_in_storesSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="item_in_storesSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(item_in_storesSelection,row) : null"
                        [checked]="tcUtilsArray.contains(item_in_storesSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(item_in_storesSelection,row)"
                        *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','item')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{tcUtilsArray.getById(items, element.item_id)?.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','store')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{tcUtilsArray.getById(stores, element.store_id)?.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('inventory','quantity')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.net_quantity}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','remark')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="item_in_storesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: item_in_storesDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(item_in_storesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="item_in_storesTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" item_in_storesSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
