
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     before_skin_incision  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchBefore_skin_incisions();" *ngIf="tcAuthorization.canRead('before_skin_incisions')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addBefore_skin_incision();" *ngIf="tcAuthorization.canCreate('before_skin_incisions')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="beforeSkinIncisionSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="beforeSkinIncisionPersist.beforeSkinIncisionSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="beforeSkinIncisionSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="beforeSkinIncisionIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let beforeSkinIncision of beforeSkinIncisionsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('before_skin_incisions') || tcAuthorization.canDelete('before_skin_incisions')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editBeforeSkinIncision(beforeSkinIncision)" *ngIf="tcAuthorization.canUpdate('before_skin_incisions')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBeforeSkinIncision(beforeSkinIncision)" *ngIf="tcAuthorization.canDelete('before_skin_incisions')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>induction</span>
            {{beforeSkinIncision.induction}}
          </div><div class="tc-detail-field">
            <span>patient_name_procedure_confirmation</span>
            {{beforeSkinIncision.patient_name_procedure_confirmation}}
          </div><div class="tc-detail-field">
            <span>has_antibiotic_prophylaxis</span>
            {{beforeSkinIncision.has_antibiotic_prophylaxis}}
          </div><div class="tc-detail-field">
            <span>critical_or_non_routine_steps</span>
            {{beforeSkinIncision.critical_or_non_routine_steps}}
          </div><div class="tc-detail-field">
            <span>case_take</span>
            {{beforeSkinIncision.case_take}}
          </div><div class="tc-detail-field">
            <span>anticipated_blood_loss</span>
            {{beforeSkinIncision.anticipated_blood_loss}}
          </div><div class="tc-detail-field">
            <span> patient_specific_concerns</span>
            {{beforeSkinIncision. patient_specific_concerns}}
          </div><div class="tc-detail-field">
            <span>has_sterility</span>
            {{beforeSkinIncision.has_sterility}}
          </div><div class="tc-detail-field">
            <span>equipment_issues</span>
            {{beforeSkinIncision.equipment_issues}}
          </div><div class="tc-detail-field">
            <span> essential_imaging_displayed</span>
            {{beforeSkinIncision. essential_imaging_displayed}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchBefore_skin_incisions.length >0 || beforeSkinIncisionSelectAll">
        <button mat-button (click)="downloadBeforeSkinIncisions()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{beforeSkinIncisionSelectAll ? beforeSkinIncisionsTotalCount : beforeSkinIncisionSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="beforeSkinIncisionsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(beforeSkinIncisionsData,beforeSkinIncisionSelection) "
              [checked]=" tcUtilsArray.isAllSelected(beforeSkinIncisionsData,beforeSkinIncisionSelection) || beforeSkinIncisionSelectAll"
              [indeterminate]="beforeSkinIncisionSelection.length <beforeSkinIncisionsData.length && beforeSkinIncisionSelection.length>0"
              [disabled]="beforeSkinIncisionSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="beforeSkinIncisionSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #beforeSkinIncisionSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="beforeSkinIncisionSelectAll=true;" [disabled]="beforeSkinIncisionSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="beforeSkinIncisionSelectAll = false;" [disabled]="!beforeSkinIncisionSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(beforeSkinIncisionSelection,row) : null"
              [checked]="tcUtilsArray.contains(beforeSkinIncisionSelection,row) || beforeSkinIncisionSelectAll" [disabled]="beforeSkinIncisionSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="induction">
          <mat-header-cell *matHeaderCellDef mat-sort-header>induction
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.induction}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_name_procedure_confirmation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name_procedure_confirmation
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_name_procedure_confirmation}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="has_antibiotic_prophylaxis">
          <mat-header-cell *matHeaderCellDef mat-sort-header>has_antibiotic_prophylaxis
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.has_antibiotic_prophylaxis}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="critical_or_non_routine_steps">
          <mat-header-cell *matHeaderCellDef mat-sort-header>critical_or_non_routine_steps
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.critical_or_non_routine_steps}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="case_take">
          <mat-header-cell *matHeaderCellDef mat-sort-header>case_take
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.case_take}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="anticipated_blood_loss">
          <mat-header-cell *matHeaderCellDef mat-sort-header>anticipated_blood_loss
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.anticipated_blood_loss}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef=" patient_specific_concerns">
          <mat-header-cell *matHeaderCellDef mat-sort-header> patient_specific_concerns
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element. patient_specific_concerns}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="has_sterility">
          <mat-header-cell *matHeaderCellDef mat-sort-header>has_sterility
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.has_sterility}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="equipment_issues">
          <mat-header-cell *matHeaderCellDef mat-sort-header>equipment_issues
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.equipment_issues}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef=" essential_imaging_displayed">
          <mat-header-cell *matHeaderCellDef mat-sort-header> essential_imaging_displayed
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element. essential_imaging_displayed}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="beforeSkinIncisionNavigator.before_skin_incisionUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('before_skin_incisions') || tcAuthorization.canDelete('before_skin_incisions')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editBeforeSkinIncision(element)" *ngIf="tcAuthorization.canUpdate('before_skin_incisions') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteBeforeSkinIncision(element)" *ngIf="tcAuthorization.canDelete('before_skin_incisions')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="beforeSkinIncisionsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: beforeSkinIncisionsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(beforeSkinIncisionSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="beforeSkinIncisionsTotalCount"
        [ngStyle]="{display: beforeSkinIncisionsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>