
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-list-alt"></mat-icon>
      {{appTranslation.getText("patient", "review_of_system_options")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchReview_Of_System_Optionss();" *ngIf="tcAuthorization.canRead('review_of_system_options')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addReview_Of_System_Options();" *ngIf="tcAuthorization.canCreate('review_of_system_options')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="review_of_system_optionssSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="review_of_system_optionsPersist.review_of_system_optionsSearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="review_of_system_optionssSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="tc-loading" *ngIf="review_of_system_optionssIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let review_of_system_options of review_of_system_optionssData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title> 
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('review_of_system_options') || tcAuthorization.canDelete('review_of_system_options')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
  
                                                                                      <button mat-menu-item (click)="editReview_Of_System_Options(review_of_system_options)" *ngIf="tcAuthorization.canUpdate('review_of_system_options')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteReview_Of_System_Options(review_of_system_options)" *ngIf="tcAuthorization.canDelete('review_of_system_options')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','name')}}</span>
              {{review_of_system_options.name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','type')}}</span>
              {{review_of_system_options.type}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="review_of_system_optionssSelection.length >0 || review_of_system_optionssSelectAll">
                    <button mat-button (click)="downloadReview_Of_System_Optionss()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{review_of_system_optionssSelectAll ? review_of_system_optionssTotalCount : review_of_system_optionssSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="review_of_system_optionssData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(review_of_system_optionssData,review_of_system_optionssSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(review_of_system_optionssData,review_of_system_optionssSelection) || review_of_system_optionssSelectAll"
                  [indeterminate]="review_of_system_optionssSelection.length <review_of_system_optionssData.length && review_of_system_optionssSelection.length>0"
                  [disabled]="review_of_system_optionssSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="review_of_system_optionssSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #review_of_system_optionssSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="review_of_system_optionssSelectAll=true;"
                          [disabled]="review_of_system_optionssSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="review_of_system_optionssSelectAll = false;"
                          [disabled]="!review_of_system_optionssSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(review_of_system_optionssSelection,row) : null"
                              [checked]="tcUtilsArray.contains(review_of_system_optionssSelection,row) || review_of_system_optionssSelectAll"
                              [disabled]="review_of_system_optionssSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="link">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a [routerLink]="review_of_system_optionsNavigator.review_of_system_optionsUrl(element.id)"
                               class="tc-link">{{element.id}}</a>
  
                        </mat-cell>
                      </ng-container>
  
            <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="type">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','type')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
                               </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('review_of_system_options') || tcAuthorization.canDelete('review_of_system_options')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
  
                  <button mat-menu-item (click)="editReview_Of_System_Options(element)" *ngIf="tcAuthorization.canUpdate('review_of_system_options') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteReview_Of_System_Options(element)" *ngIf="tcAuthorization.canDelete('review_of_system_options')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="review_of_system_optionssDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: review_of_system_optionssDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(review_of_system_optionssSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="review_of_system_optionssTotalCount"
                         [ngStyle]="{display: review_of_system_optionssTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  