<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="corelatedFeeDetail">
                          <mat-form-field class="tc-full-stretch">
                            <mat-select placeholder="fee_type" [(value)]="corelatedFeeDetail.fee_type" required>
                              <mat-option *ngFor="let etype of persist.fee_type" [value]="etype.id">
                                {{appTranslation.getTextByIdentifier(etype.name)}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>  
                          <mat-form-field class="tc-full-stretch" *ngIf="persist.feeTargetType[corelatedFeeDetail.fee_type]">
                            <mat-select placeholder="Type" [(value)]="corelatedFeeDetail.sub_fee_type" required>
                              <mat-option *ngFor="let etype of persist.feeTargetType[corelatedFeeDetail.fee_type]" [value]="etype.id">
                                {{etype.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>    
                          <mat-form-field class="tc-full-stretch" *ngIf="fee_type.bed==corelatedFeeDetail.fee_type">
                            <mat-label>
                              Ward
                            </mat-label>
                            <input matInput disabled [(ngModel)]="TargetName"  />
                            <button
                              mat-icon-button
                              matTooltip="Ward"
                              matSuffix
                              color="primary"
                              (click)="searchWards()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field> 
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>
                              Fee
                            </mat-label>
                            <input matInput disabled [(ngModel)]="Name"  />
                            <button
                              mat-icon-button
                              matTooltip="Ward"
                              matSuffix
                              color="primary"
                              (click)="searchFee()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field> </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>