.box-card {
  text-align: left;
  color: #f79a20 !important;
  padding-left: 10px;
  font-size: inherit;
  margin: 40px;
  display: flex;
  justify-content: left;
  border-radius: 15px;
  border-color: #f79a20;
  border-width: 1px;
  border-style: groove solid;
  box-shadow: 5px;
  flex-direction: column;
}
.box-card,
.header {
  background-image: url("../../assets/images/cov.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-card h5,
.total h2 {
  font-weight: bold;
  color: white;
}
.sub-totals {
  border-left: 5px solid #f79a20;
  margin-top: -1rem;
}

.sub-totals h6,
.sub-totals h5,
.sub-totals p,
.sub-totals h1,
.sub-totals h2,
.sub-totals span {
  padding-left: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0;
  font-weight: bold;
}
.sub-totals p {
  color: white;
}
.numbers {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: left;
}
.numbers h1,
p {
  padding-left: 12px;
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding-bottom: 0;
}
.numbers h1 {
  color: #f79a20;
  font-weight: bold;
}
.numbers p,
.cases h1 {
  color: #276898;
  font-weight: bold;
}

.cases {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.accordion {
  color: #f79a20;
}
.items {
  height: 200px;
  width: 300px;
  background-color: transparent;
}

.border {
  border-left: solid !important;
  border-left-color: #276898 !important;
  border-left-width: 5px !important;
}
.header {
  border-bottom: solid !important;
  border-bottom-color: #f79a20 !important;
  border-bottom-width: 2px !important;
}
.header mat-panel-title {
  color: #f79a20 !important;
}
.ribbon {
  height: 30px;
  width: 100%;
  position: absolute;
  display: flex;
  right: 50%;
}

.top_left {
  margin-top: 10px;
  margin-bottom: 10px;
}
#p {
  color: #276898;
  font-weight: bold;
}
.num {
  padding-bottom: 10px;
}
#hide {
  color: transparent !important;
}
@media (max-width: 480px) {
  .sub-totals {
    display: flex;
    flex-direction: unset;
  }
}
