<div>
  <div *ngIf="isPatientDashBoardLoading">
    <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
  </div>
  <div class="tc-flex-row">
    <div class="tc-equal-block">
      <div *ngIf="isPatientDashBoardLoading">
        <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
      </div>
      <div class="box-card" *ngIf="tcAuthorization.canRead('beds')">
        <div class="tc-flex-row">
          <div class="total">
            <h1>{{percentageCalculator(bedTypes[0]?.value, bedTypes[1]?.value)[0]}}</h1>
            <h2>{{appTranslation.getText("bed", "total_no_of_beds")}}</h2>
          </div>
        </div>
        <div class="tc-flex-row">
          <div class="tc-equal-block">
            <div class="sub-totals">
              <h2>{{bedTypes[0]?.value}}</h2>
              <p>{{bedTypes[0]?.name}}</p>
              <p>{{percentageCalculator(bedTypes[0]?.value, bedTypes[1]?.value)[1]}}%</p>
            </div>
          </div>
          <div class="tc-equal-block">
            <div class="sub-totals">
              <h2>{{bedTypes[1]?.value}}</h2>
              <p>{{bedTypes[1]?.name}}</p>
              <p>{{percentageCalculator(bedTypes[0]?.value, bedTypes[1]?.value)[2]}}%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('cases')">
      <div class="box-card">
        <div class="tc-flex-row">
          <div class="total">
            <h1>{{percentageCalculator(casesByState[0]?.value, casesByState[1]?.value)[0]}}</h1>
            <h2>{{appTranslation.getText('case', 'general_case')}}</h2>
          </div>
        </div>
        <div class="tc-flex-row">
          <div class="tc-equal-block">
            <div class="sub-totals">
              <h2>{{casesByState[0]?.value}}</h2>
              <p>{{casesByState[0]?.name}}</p>
              <p>{{percentageCalculator(casesByState[0]?.value, casesByState[1]?.value)[1]}}%</p>
            </div>
          </div>
          <div class="tc-equal-block">
            <div class="sub-totals">
              <h2>{{casesByState[1]?.value}}</h2>
              <p>{{casesByState[1]?.name}}</p>
              <p>{{percentageCalculator(casesByState[0]?.value, casesByState[1]?.value)[2]}}%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('waiting_lists')">
      <div class="cases" style="margin-top: 44px; margin-left: 44px">
        <div class="tc-flex-row">
          <div class="tc-equal-block">
            <div *ngIf="isPatientDashBoardLoading">
              <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
            </div>
            <h1 class="mat-h1 num"> {{appTranslation.getText("patient", "waiting_lists")}}
              <button mat-button class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-user-friends"></mat-icon>
              </button>
            </h1>
            <div class="sub-totals">
              <h1>{{waitingListData[0]?.value}}</h1>
              <p id="p">{{waitingListData[0]?.name}}</p>
            </div>
          </div>
          <div class="tc-equal-block">
            <h1 class="mat-h1 num" id="hide"> {{appTranslation.getText("inventory", "inventory")}}
              <button mat-button class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-bars" id="hide"></mat-icon>
              </button>
            </h1>
            <div class="sub-totals">
              <h1>{{waitingListData[1]?.value}}</h1>
              <p id="p">{{waitingListData[1]?.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="tc-flex-row">
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('patients')">
      <div class="cases">
        <h1 class="mat-h1"> {{appTranslation.getText("patient", "Patients")}}
          <button mat-button (click)="reloadCases()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <mat-accordion>
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("patient", "patients_by_gender")}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="tc-flex-row">


              <div class="tc-equal-block" (click)="patientNavigator.viewMales()">
                <h2 class="tc-link">{{patientDashboard.male_count}}</h2>
                <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon>
                <span class="tc-column-sub-text">{{appTranslation.getText("general", "male")}}</span>
              </div>
              <div class="tc-equal-block" (click)="patientNavigator.viewFemales()">
                <h2 class="tc-link">{{patientDashboard.female_count}}</h2>
                <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                <span class="tc-text-muted">{{appTranslation.getText("general", "female")}}</span>
              </div>

            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('cases')">
      <div class="cases">
        <h1 class="mat-h1"> {{appTranslation.getText("case", "open_cases")}}
          <button mat-button (click)="reloadCases()" class="tc-link" *ngIf="tcAuthorization.canRead('cases')">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <div *ngIf="patientCasesGeneralIsLoading">
          <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
        </div>
        <mat-accordion class="accordion">
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("case", "open_cases")}}
              </mat-panel-title>
              <mat-panel-description *ngIf="patientCasesGeneralTotalCount >0">
                {{patientCasesGeneralTotalCount}}
              </mat-panel-description>

            </mat-expansion-panel-header>
            <div class="tc-padding">
              <mat-table [dataSource]="patientCasesGeneralData" matSort>

                <ng-container matColumnDef="target_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{appTranslation.getText("patient", "patient")}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div *ngIf="tcUtilsArray.containsId(patientOfCase,element.target_id)">
                      <a [routerLink]="patientNavigator.patientUrl(element.target_id)" class="tc-link">
                        {{getPatientFullName(element.target_id)}}
                      </a>
                      <br>
                      <span class="tc-text-muted">{{tcUtilsDate.toDate(element.creation_time)|date:'MMM dd, yyyy. h:mm a'}}</span>
                    </div>

                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="creation_time">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{appTranslation.getText("general",
                    "submission_time")}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.creation_time) |
                    date:"small"}}
                  </mat-cell>
                </ng-container>


                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                  <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                      *ngIf="tcAuthorization.canUpdate('cases') || tcAuthorization.canDelete('cases')">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                      <button mat-menu-item (click)="processPatientGeneralCase(element)"
                        *ngIf="tcAuthorization.canUpdate('cases') ">
                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                        {{appTranslation.getText("case", "process_case")}}
                      </button>

                    </mat-menu>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="CasesGeneralDisplayedColumns; sticky: true; ">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: CasesGeneralDisplayedColumns;"></mat-row>

              </mat-table>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('items')">
      <div class="cases">

        <div class="tc-flex-row">
          <div class="tc-equal-block">
            <div *ngIf="isPatientDashBoardLoading">
              <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
            </div>
            <h1 class="mat-h1 num"> {{appTranslation.getText("inventory", "inventory")}}
              <button mat-button class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-sitemap"></mat-icon>
              </button>
            </h1>
            <div class="sub-totals">
              <h1>{{itemsToReorder[0]?.value}}</h1>
              <p id="p">{{itemsToReorder[0]?.name}}</p>
            </div>
          </div>
          <div class="tc-equal-block">
            <h1 class="mat-h1 num" id="hide"> {{appTranslation.getText("inventory", "inventory")}}
              <button mat-button class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-bars" id="hide"></mat-icon>
              </button>
            </h1>
            <div class="sub-totals">
              <h1>{{itemsAboutToExpire[0]?.value}}</h1>
              <p id="p">{{itemsAboutToExpire[0]?.name}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="tc-flex-row">
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('age_stratified_reports')">
      <div class="cases">
        <h1 class="mat-h1">{{appTranslation.getText("general", "age_stratified")}}
          <button mat-button (click)="reloadCases()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <div *ngIf="patientCasesGeneralIsLoading">
          <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
        </div>
        <mat-accordion class="accordion">
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">

            </mat-expansion-panel-header>
            <div class="tc-padding">
              <div class="tc-table-container tc-full-width">

                <mat-table [dataSource]="patientStatisticsBySex" matSort class="tc-hide-on-mobile">

                  <ng-container matColumnDef="sex">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>

                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div class="tc-flex-column">

                        {{element.sex}}

                      </div>
                    </mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="infant">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      < 1 </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div class="tc-flex-column">

                            {{ element.infant }}

                          </div>
                        </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="child">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      1 - 5
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div class="tc-flex-column">

                        {{ element.child }}

                      </div>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="teen">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      5 - 15
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div class="tc-flex-column">

                        {{ element.teen }}

                      </div>
                    </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="young">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      15 - 60
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div class="tc-flex-column">

                        {{ element.young }}

                      </div>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="old">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      > 60
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <div class="tc-flex-column">

                        {{ element.old }}

                      </div>
                    </mat-cell>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="ageRangeDisplayColumn; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: ageRangeDisplayColumn"></mat-row>
                </mat-table>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </div>

  <div class="tc-flex-row">
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('appointment_cases')">
      <div class="cases">
        <h1 class="mat-h1"> {{appTranslation.getText("schedule", "appointment_cases")}}
          <button mat-button (click)="reloadCases()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <div *ngIf="patientCasesGeneralIsLoading">
          <mat-spinner diameter="18" class="tc-spinner-in-button"></mat-spinner>
        </div>
        <mat-accordion class="accordion">
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("schedule", "appointment_cases")}}
              </mat-panel-title>
              <mat-panel-description *ngIf="patientAppointmentCaseTotalCount >0">
                {{patientAppointmentCaseTotalCount}}
              </mat-panel-description>

            </mat-expansion-panel-header>
            <div class="tc-padding">
              <mat-table [dataSource]="patientAppointmentCaseData" matSort>

                <ng-container matColumnDef="target_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{appTranslation.getText("patient", "patient")}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div *ngIf="tcUtilsArray.containsId(patientOfCase,element.target_id)">
                      <a [routerLink]="patientNavigator.patientUrl(element.target_id)" class="tc-link">
                        {{getPatientFullName(element.target_id)}}
                      </a>
                      <br>
                      <span class="tc-text-muted">{{tcUtilsDate.toDate(element.creation_time)|date:'MMM dd, yyyy. h:mm a'}}</span>
                    </div>

                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="creation_time">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{appTranslation.getText("general",
                    "submission_time")}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.creation_time) |
                    date:"small"}}
                  </mat-cell>
                </ng-container>


                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                  <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                      *ngIf="tcAuthorization.canUpdate('cases') || tcAuthorization.canDelete('cases')">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                      <button mat-menu-item (click)="processPatientAppointmentCase(element)"
                        *ngIf="tcAuthorization.canUpdate('cases') ">
                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                        {{appTranslation.getText("case", "process_case")}}
                      </button>

                    </mat-menu>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="CasesGeneralDisplayedColumns; sticky: true; ">
                </mat-header-row>
                <mat-row *matRowDef="let row; columns: CasesGeneralDisplayedColumns;"></mat-row>

              </mat-table>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('admit_by_ward_reports')">
      <div class="cases">
        <h1 class="mat-h1"> {{appTranslation.getText("patient", "admit_by_ward_report")}}
          <button mat-button (click)="admitByWardReport()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <mat-accordion>
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("patient", "patients_by_gender")}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="tc-table-container">

              <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
                <mat-card *ngFor="let element of admitByWardData" class="tc-card">
                  <mat-card-header>
                    <mat-card-title>{{element.name}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'male')}}</span>
                      {{element.male}}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText('general', 'female')}}</span>
                      {{element.female}}
                    </div>
                    <div class="tc-detail-field">
                      <span>{{appTranslation.getText('patient', 'total_patient')}}</span>
                      {{element.total}}
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>

              <mat-table [dataSource]="admitByWardData" matSort class="tc-hide-on-mobile">

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.name}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="male">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general', 'male')}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.male}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="female">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general', 'female')}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.female}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
                    'total_patient')}}</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.total}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="admitByWardDisplayedColumns; sticky: true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: admitByWardDisplayedColumns;"></mat-row>

              </mat-table>

              <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                [pageSize]="tcUtilsArray.defaultPageSize" [length]="admitByWardTotalCount"
                [ngStyle]="{display: admitByWardTotalCount > 0? '':'none'}"></mat-paginator>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="tc-flex-row">
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('disease_reports')">
      <div class="cases">
        <h1 class="mat-h1"> Top Ten Disease
          <!-- <button mat-button (click)="loadICD10_report()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button> -->
        </h1>
        <mat-accordion>
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("patient", "report_by_age")}}
              </mat-panel-title>

            </mat-expansion-panel-header>

            <app-top-ten-diseas-list [isDashboard]="true"></app-top-ten-diseas-list>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="tc-flex-row">
    <div class="tc-equal-block"  *ngIf="(this.tcAuthorization.canRead('laboratory_orders') || this.tcAuthorization.canRead('radiology_orders') || this.tcAuthorization.canRead('pathology_orders'))">
      <div class="cases">
        <h1 class="mat-h1">{{appTranslation.getText("patient", "orders")}}
          <button mat-button (click)="loadLabOrderDashboardInfo()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <mat-accordion>
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("procedure",
                "order_status")}}
              </mat-panel-title>

            </mat-expansion-panel-header>
              <div *ngFor="let lab_order of lab_order_dashboard">
                <div  class="tc-flex-row"  *ngIf="tcAuthorization.canRead(tcUtilsArray.getEnum(ordersPersist.lab_order_acl, lab_order.order_type)?.name)">
                  <h1 class="tc-equal-block">{{tcUtilsArray.getEnum(ordersPersist.lab_order_type, lab_order.order_type)?.name | titlecase}}</h1>
                  <div class="tc-equal-block" >
                    <h2 class="tc-link">{{lab_order.available_tests}}</h2>
                    <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon>
                    <span class="tc-column-sub-text">{{appTranslation.getText("procedure", "available_tests")}}</span>
                  </div>
                  <div class="tc-equal-block">
                    <h2 class="tc-link">{{lab_order.awaiting_approve}}</h2>
                    <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                    <span class="tc-text-muted">{{appTranslation.getText("procedure", "awaiting_approval")}}</span>
                  </div>
                  <div class="tc-equal-block">
                    <h2 class="tc-link">{{lab_order.approved}}</h2>
                    <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                    <span class="tc-text-muted">{{appTranslation.getText("procedure", "approved")}}</span>
                  </div>
                </div>
              </div>
            

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="tc-equal-block" *ngIf="tcAuthorization.canRead('payments')">
      <div class="cases">
        <h1 class="mat-h1">{{appTranslation.getText("invoice", "payments")}}
          <button mat-button (click)="loadPaymentDashboardInfo()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <mat-accordion>
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("invoice", "payments")}} {{appTranslation.getText("general", "status")}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="tc-flex-row">


              <div class="tc-equal-block">
                <h2 class="tc-link">{{paymentDasboard.free}}</h2>
                <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon>
                <span class="tc-column-sub-text">{{appTranslation.getText("financial", "free")}}</span>
              </div>
              <div class="tc-equal-block" (click)="patientNavigator.viewFemales()">
                <h2 class="tc-link">{{paymentDasboard.paid}}</h2>
                <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                <span class="tc-text-muted">{{appTranslation.getText("financial", "paid")}}</span>
              </div>
              <div class="tc-equal-block" (click)="patientNavigator.viewFemales()">
                <h2 class="tc-link">{{paymentDasboard.not_paid}}</h2>
                <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                <span class="tc-text-muted">{{appTranslation.getText("financial", "not_paid")}}</span>
              </div>

            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <!-- <div class="tc-flex-row">
      <div class="tc-equal-block">
        <div class="cases">
          <h1 class="mat-h1"> Consultation
          </h1>
          <mat-accordion>
            <mat-expansion-panel expanded="true" class="border">
              <mat-expansion-panel-header class="header">
                <mat-panel-title>
                  Consultation
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="tc-flex-row">
                <div class="tc-equal-block" (click)="doctorConsultationNavigator.viewConsultations()">
                  <h2 class="tc-link">{{doctorConsultationDashboard.consults}} consulting request</h2>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div> -->
  </div>

  <div class="tc-flex-row">
    <div class="tc-equal-block"  *ngIf="tcAuthorization.canRead('sample_collections')">
      <div class="cases">
        <h1 class="mat-h1">{{appTranslation.getText("procedure", "sample_collections")}}
          <button mat-button (click)="loadSampleCollectionDashboardInfo()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <mat-accordion>
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("procedure",
                "sample_collections_status")}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <div  *ngFor="let sampleCollection of sampleCollectionDashboardData">
              <div class="tc-flex-row" *ngIf="tcAuthorization.canRead(tcUtilsArray.getEnum(ordersPersist.lab_order_acl, sampleCollection.order_type)?.name)">
                <h1 class="tc-equal-block">{{tcUtilsArray.getEnum(ordersPersist.lab_order_type, sampleCollection.order_type)?.name | titlecase}}</h1>
              <div class="tc-equal-block">
                <h2 class="tc-link">{{sampleCollection.samples_collected}}</h2>
                <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon>
                <span class="tc-column-sub-text">{{appTranslation.getText("procedure", "samples_collected")}}</span>
              </div>
              <div class="tc-equal-block">
                <h2 class="tc-link">{{sampleCollection.samples_to_be_collected}}</h2>
                <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                <span class="tc-text-muted">{{appTranslation.getText("procedure", "samples_to_be_collected")}}</span>
              </div>
              <div class="tc-equal-block">
                <h2 class="tc-link">{{sampleCollection.total}}</h2>
                <mat-icon fontSet="fa" fontIcon="fa-female"></mat-icon>
                <span class="tc-text-muted">{{appTranslation.getText("patient", "total")}}</span>
              </div>
            </div>

            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="tc-equal-block"  *ngIf="tcAuthorization.canRead('diagnostic_reports')">
      <div class="cases">
        <h1 class="mat-h1">{{appTranslation.getText("procedure", "selected_orders")}}
          <button mat-button (click)="loadSelectedOrdersDashBoardInfo()" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
          </button>
        </h1>
        <mat-accordion>
          <mat-expansion-panel expanded="true" class="border">
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                {{appTranslation.getText("procedure",
                "selected_orders_status")}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <div *ngFor="let orderType of ordersPersist.lab_order_type" class="tc-padding">
              <div class="tc-padding" *ngIf="tcAuthorization.canRead(tcUtilsArray.getEnum(ordersPersist.lab_order_acl, orderType)?.name)"></div>
              <h1 style="text-align:  center;">{{orderType.name | titlecase}}</h1>
              <div class="tc-flex-row" *ngFor="let selectedOrdersData of getSelectedOnOrderType(orderType.id)">
                <h2 class="tc-equal-block">{{selectedOrdersData.sex | titlecase}}</h2>
                <div class="tc-equal-block">
                  <h2 class="tc-link">{{selectedOrdersData.emergency}}</h2>
                  <mat-icon fontSet="fa" fontIcon="{{'fa-' +selectedOrdersData.sex }}"></mat-icon>
                  <span class="tc-column-sub-text">{{appTranslation.getText("patient", "emergency")}}</span>
                </div>
                <div class="tc-equal-block">
                  <h2 class="tc-link">{{selectedOrdersData.inpatient}}</h2>
                  <mat-icon fontSet="fa" fontIcon="{{'fa-' +selectedOrdersData.sex }}"></mat-icon>
                  <span class="tc-text-muted">{{appTranslation.getText("patient", "inpatient")}}</span>
                </div>
                <div class="tc-equal-block">
                  <h2 class="tc-link">{{selectedOrdersData.outpatient}}</h2>
                  <mat-icon fontSet="fa" fontIcon="{{'fa-' +selectedOrdersData.sex }}"></mat-icon>
                  <span class="tc-text-muted">{{appTranslation.getText("patient", "outpatient")}}</span>
                </div>
                <div class="tc-equal-block">
                  <h2 class="tc-link">{{selectedOrdersData.outside_order}}</h2>
                  <mat-icon fontSet="fa" fontIcon="{{'fa-' +selectedOrdersData.sex }}"></mat-icon>
                  <span class="tc-text-muted">{{appTranslation.getText("patient", "outside_order")}}</span>
                </div>
                <div class="tc-equal-block">
                  <h2 class="tc-link">{{selectedOrdersData.referral}}</h2>
                  <mat-icon fontSet="fa" fontIcon="{{'fa-' +selectedOrdersData.sex }}"></mat-icon>
                  <span class="tc-text-muted">{{appTranslation.getText("patient", "referral")}}</span>
                </div>
  
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
