    <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-gavel"></mat-icon>
        {{appTranslation.getText("bed", "bed_assignment")}}
        </h1>
        <button mat-button (click)="back()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="searchBedAssignment()" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        </p> -->


    </mat-toolbar>

    <div class="tc-table-container tc-full-width">
        <div class="tc-padding">
        <mat-table [dataSource]="bedassignmentsData" matSort class="tc-hide-on-mobile">
            <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="
                tcUtilsArray.toggleSelectAll(
                bedassignmentsData,
                bedassignmentsSelection
                )
            " [checked]="
                tcUtilsArray.isAllSelected(
                bedassignmentsData,
                bedassignmentsSelection
                ) || bedassignmentsSelectAll
            " [indeterminate]="
                bedassignmentsSelection.length < bedassignmentsData.length &&
                bedassignmentsSelection.length > 0
            " [disabled]="bedassignmentsSelectAll">
                </mat-checkbox>

                <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="bedassignmentsSelectAllMenu">
                </mat-icon>
                </button>
                <mat-menu #bedassignmentsSelectAllMenu="matMenu">
                <button mat-menu-item (click)="bedassignmentsSelectAll = true" [disabled]="bedassignmentsSelectAll">
                    {{ appTranslation.getText("general", "all") }}
                </button>
                <button mat-menu-item (click)="bedassignmentsSelectAll = false" [disabled]="!bedassignmentsSelectAll">
                    {{ appTranslation.getText("general", "none") }}
                </button>
                </mat-menu>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="
                $event
                ? tcUtilsArray.toggleSelection(bedassignmentsSelection, row)
                : null
            " [checked]="
                tcUtilsArray.contains(bedassignmentsSelection, row) ||
                bedassignmentsSelectAll
            " [disabled]="bedassignmentsSelectAll">
                </mat-checkbox>
            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Link
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a [routerLink]="bedassignmentNavigator.bedassignmentUrl(element.id)" class="tc-link">{{ element.id
                }}</a>
            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="patient_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText("general", "name") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a class="tc-link"> {{ getPatientFullName(element.patient_id) }}
                </a>
            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="bed_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText("bed", "bed_no") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
                tcUtilsArray.getById(beds, element.bed_id)?.serial_id
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="bed_room_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText("bed", "bed_room") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{
                tcUtilsArray.getById(bedRoom, element.bed_room_id)?.name
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="start_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText("general", "start_date") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ tcUtilsDate.toDate(element.start_date)|date:'MMM dd, yyyy. h:mm a'}}
            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="end_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ appTranslation.getText("general", "end_date") }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ tcUtilsDate.toDate(element.end_date)|date:'MMM dd, yyyy. h:mm a'}}
            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="
                tcAuthorization.canUpdate('bed_assignments') ||
                tcAuthorization.canDelete('bed_assignments')
            ">
                <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="changeBed(element)"
                    *ngIf="tcAuthorization.canUpdate('bed_assignments')">
                    <mat-icon fontSet="fas" fontIcon="fa-exchange-alt"></mat-icon>
                    <span>{{appTranslation.getText("bed", "change_bed")}}</span>

                </button>


                </mat-menu>
            </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="bedassignmentsDisplayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: bedassignmentsDisplayedColumns" [ngClass]="{
            'tc-selected-row': tcUtilsArray.contains(bedassignmentsSelection, row)
        }"></mat-row>
        </mat-table>

        </div>
    </div>