<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="purchaseRequestDetail">
                            <div class="tc-flex-row">
                            <mat-form-field class="tc-full-stretch">
                              <mat-label>Item</mat-label>
                              <input
                                matInput
                                placeholder="Item"
                                type="text"
                                disabled
                                [(ngModel)]="purchaseRequestDetail.item_name"
                                required
                              >
                              <button
                                mat-icon-button
                                matTooltip="Item"
                                matSuffix
                                color="primary"
                                (click)="searchItem()"
                              >
                                <mat-icon>search</mat-icon>
                              </button>
                            </mat-form-field> 

                            <div class="tc-full-stretch" style="align-self: center;">
                              <p>{{max_quantity}}</p>
                          </div> 
                        </div>                     
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="quantity" type="number"  [(ngModel)]="purchaseRequestDetail.quantity" required>
                          </mat-form-field>
                          <mat-form-field class="tc-full-stretch" >
                            <mat-select
                              placeholder="Unit"
                              [(value)]="purchaseRequestDetail.unit" disabled
                              required>
                              <mat-option *ngFor="let etype of requestPersist.units" [value]="etype.id">
                               {{appTranslation.getTextByIdentifier(etype.name)}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      
                        </div>

                        <div  *ngIf = "purchaseRequestDetailList.length" >

                          <mat-table [dataSource]="purchaseRequestDetailList" matSort class="mat-elevation-z2" style="margin-bottom: 10px" >
                            <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                              <mat-cell *matCellDef="let element" class="tc-column-action">
                        
                                <button mat-menu-item (click)="removeFromList(element)">
                                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                </button>
                        
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="edit">
                              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                              <mat-cell *matCellDef="let element" class="tc-column-action">
                        
                                <button mat-menu-item (click)="editFromList(element)">
                                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                </button>
                        
                              </mat-cell>
                            </ng-container>

                        <ng-container matColumnDef="item_id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>item name
                          </mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.item_name}}</mat-cell>
                        </ng-container>
                    <ng-container matColumnDef="quantity">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
                          </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                          <mat-form-field>
                            <input  matInput type="number" value="{{element.quantity}}" [(ngModel)]="element.quantity">
                          </mat-form-field>
                        </mat-cell>
                        </ng-container>
                    <ng-container matColumnDef="unit">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>unit
                          </mat-header-cell>
                          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(this.tcUtilsArray.getEnum(requestPersist.units, element.unit)?.name)}}</mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="purchaseRequestsDisplayedColumns; sticky: true; "></mat-header-row>
                        <mat-row *matRowDef="let row; columns: purchaseRequestsDisplayedColumns;"
                        ></mat-row>
                      </mat-table>
                      </div>
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="AddToList()" *ngIf="isNew()" [disabled]="!canSubmit()" cdkFocusInitial>
      add to list
    </button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="isNew()? !purchaseRequestDetailList.length: !canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  