
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-filter"></mat-icon>
      {{appTranslation.getText("patient", "physical_examination_options")}}  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPhysicalExaminationOptionss();" *ngIf="tcAuthorization.canRead('physical_examination_options')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPhysicalExaminationOptions();" *ngIf="tcAuthorization.canCreate('physical_examination_options')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="physicalExaminationOptionsSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="physicalExaminationOptionsPersist.physicalExaminationOptionsSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="physicalExaminationOptionsSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder='{{appTranslation.getText("general", "option")}}'
                    [(value)]="physicalExaminationOptionsPersist.physicalExaminationOptionsFilter"
                    (valueChange)="searchPhysicalExaminationOptionss()">
          <mat-option *ngFor="let status of physicalExaminationOptionsPersist.PhysicalExaminationOptions" [value]="status.id">
            {{ status.name }}
          </mat-option>
        </mat-select>
      
        <button mat-button *ngIf='physicalExaminationOptionsPersist.physicalExaminationOptionsFilter != -1' matSuffix mat-icon-button
                aria-label="Clear"
                (click)="physicalExaminationOptionsPersist.physicalExaminationOptionsFilter = -1;searchPhysicalExaminationOptionss();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder='{{appTranslation.getText("general", "status")}}'
                    [(value)]="physicalExaminationOptionsPersist.physicalExaminationStateFilter"
                    (valueChange)="searchPhysicalExaminationOptionss()">
          <mat-option *ngFor="let status of physicalExaminationOptionsPersist.PhysicalExaminationState" [value]="status.id">
            {{ status.name }}
          </mat-option>
        </mat-select>
      
        <button mat-button *ngIf='physicalExaminationOptionsPersist.physicalExaminationStateFilter != -1' matSuffix mat-icon-button
                aria-label="Clear"
                (click)="physicalExaminationOptionsPersist.physicalExaminationStateFilter = -1;searchPhysicalExaminationOptionss();$event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <div class="tc-loading" *ngIf="physicalExaminationOptionsIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let physicalExaminationOptions of physicalExaminationOptionssData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('physical_examination_options') || tcAuthorization.canDelete('physical_examination_options')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPhysicalExaminationOptions(physicalExaminationOptions)" *ngIf="tcAuthorization.canUpdate('physical_examination_options')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePhysicalExaminationOptions(physicalExaminationOptions)" *ngIf="tcAuthorization.canDelete('physical_examination_options')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="tc-detail-field">
                <span>option</span>
                {{tcUtilsArray.getById(physicalExaminationOptionsPersist.PhysicalExaminationOptions,physicalExaminationOptions.option)?.name}}
              </div> 
              <div class="tc-detail-field">
                <span>state</span>
                {{tcUtilsArray.getById(physicalExaminationOptionsPersist.PhysicalExaminationState,physicalExaminationOptions.state)?.name}}
              </div> 
            <div class="tc-detail-field">
             <span>findings</span>
                {{physicalExaminationOptions.findings}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPhysicalExaminationOptionss.length >0 || physicalExaminationOptionsSelectAll">
        <button mat-button (click)="downloadPhysicalExaminationOptionss()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{physicalExaminationOptionsSelectAll ? physicalExaminationOptionssTotalCount : physicalExaminationOptionsSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="physicalExaminationOptionssData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(physicalExaminationOptionssData,physicalExaminationOptionsSelection) "
              [checked]=" tcUtilsArray.isAllSelected(physicalExaminationOptionssData,physicalExaminationOptionsSelection) || physicalExaminationOptionsSelectAll"
              [indeterminate]="physicalExaminationOptionsSelection.length <physicalExaminationOptionssData.length && physicalExaminationOptionsSelection.length>0"
              [disabled]="physicalExaminationOptionsSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="physicalExaminationOptionsSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #physicalExaminationOptionsSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="physicalExaminationOptionsSelectAll=true;" [disabled]="physicalExaminationOptionsSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="physicalExaminationOptionsSelectAll = false;" [disabled]="!physicalExaminationOptionsSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(physicalExaminationOptionsSelection,row) : null"
              [checked]="tcUtilsArray.contains(physicalExaminationOptionsSelection,row) || physicalExaminationOptionsSelectAll" [disabled]="physicalExaminationOptionsSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="findings">
          <mat-header-cell *matHeaderCellDef mat-sort-header>findings
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.findings}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header>state
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(physicalExaminationOptionsPersist.PhysicalExaminationState,element.state)?.name}}
        </mat-cell>
        </ng-container>
    <ng-container matColumnDef="option">
          <mat-header-cell *matHeaderCellDef mat-sort-header>option
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(physicalExaminationOptionsPersist.PhysicalExaminationOptions,element.option)?.name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="physicalExaminationOptionsNavigator.physicalExaminationOptionsUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('physical_examination_options') || tcAuthorization.canDelete('physical_examination_options')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editPhysicalExaminationOptions(element)" *ngIf="tcAuthorization.canUpdate('physical_examination_options') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePhysicalExaminationOptions(element)" *ngIf="tcAuthorization.canDelete('physical_examination_options')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="physicalExaminationOptionssDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: physicalExaminationOptionssDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(physicalExaminationOptionsSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="physicalExaminationOptionssTotalCount"
        [ngStyle]="{display: physicalExaminationOptionssTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>