<h1 mat-dialog-title>
    item_receive Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="itemReceiveSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="itemReceivePersist.itemReceiveSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReceiveSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="itemReceiveIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="itemReceivesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(itemReceivesData,itemReceiveSelection) "
            [checked]=" tcUtilsArray.isAllSelected(itemReceivesData,itemReceiveSelection) || itemReceiveSelectAll"
            [indeterminate]="itemReceiveSelection.length <itemReceivesData.length && itemReceiveSelection.length>0"
            [disabled]="itemReceiveSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemReceiveSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #itemReceiveSelectAllMenu="matMenu">

            <button mat-menu-item (click)="itemReceiveSelectAll=true;" [disabled]="itemReceiveSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="itemReceiveSelectAll = false;" [disabled]="!itemReceiveSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(itemReceiveSelection,row) : null"
            [checked]="tcUtilsArray.contains(itemReceiveSelection,row) || itemReceiveSelectAll" [disabled]="itemReceiveSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="purchase_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>purchase_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.purchase_id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Item Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="remaining">
      <mat-header-cell *matHeaderCellDef mat-sort-header>remaining
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.remaining}}</mat-cell>
    </ng-container>
  <ng-container matColumnDef="received_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>received_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.received_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="expire_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>expire_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="batch_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>batch_no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>location
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.location}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>unit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units, element.unit)?.name)}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="unit_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>unit_price
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.unit_price}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(itemReceivePersist.ReceiveStatus, element.status)?.name}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="itemReceivesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: itemReceivesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemReceiveSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemReceivesTotalCount"
      [ngStyle]="{display: itemReceivesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" itemReceiveSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
