<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-cog"></mat-icon>
    settings
  </h3>
  <button mat-button (click)=" searchSettings();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addSetting();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding " >
  <mat-form-field>
    <input matInput [formControl]="settingsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="settingPersist.settingSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="settingsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="settingsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">

    <mat-toolbar *ngIf="settingsSelection.length >0">
      <button mat-button (click)="downloadSettings()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="settingsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(settingsData,settingsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(settingsData,settingsSelection)"
            [indeterminate]="settingsSelection.length <settingsData.length && settingsSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(settingsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(settingsSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="settingNavigator.settingUrl(element.id)"
             class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="setting_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>setting_type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.setting_type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="setting_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>setting_value</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.setting_value}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="update_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>update_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.update_time}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editSetting(element)">
              <mat-icon>edit</mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteSetting(element)">
              <mat-icon>delete</mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="settingsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: settingsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(settingsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="settingsTotalCount"></mat-paginator>
  </div>
</div>
