<h1 mat-dialog-title>
  {{appTranslation.getText("patient", "physiotherapy")}}
  {{appTranslation.getText("general", "selection")}}

</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="physiotherapy_typesSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="physiotherapy_typePersist.physiotherapy_typeSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="physiotherapy_typesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="physiotherapy_typesIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="physiotherapy_typesData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(physiotherapy_typesData,physiotherapy_typesSelection) "
            [checked]=" tcUtilsArray.isAllSelected(physiotherapy_typesData,physiotherapy_typesSelection)"
            [indeterminate]="physiotherapy_typesSelection.length <physiotherapy_typesData.length && physiotherapy_typesSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="physiotherapy_typesSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{physiotherapy_typesSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="physiotherapy_typesSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(physiotherapy_typesSelection,row) : null"
                        [checked]="tcUtilsArray.contains(physiotherapy_typesSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(physiotherapy_typesSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                             </ng-container>
                          
                          
<ng-container matColumnDef="created_at">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','created_at')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.created_at  )|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="updated_at">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','updated_at')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ tcUtilsDate.toDate(element.updated_at  )|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="physiotherapy_typesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: physiotherapy_typesDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(physiotherapy_typesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="physiotherapy_typesTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" physiotherapy_typesSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
