<h1 mat-dialog-title>
    icu_physical_assessment Selection
  </h1><div mat-dialog-content>
      <mat-form-field>
    <input matInput [formControl]="icuPhysicalAssessmentSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="icuPhysicalAssessmentPersist.icuPhysicalAssessmentSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="icuPhysicalAssessmentSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="icuPhysicalAssessmentIsLoading">
    <mat-spinner></mat-spinner>
  </div>  

  <div class="tc-table-container tc-full-width">

    <mat-table [dataSource]="icuPhysicalAssessmentsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(icuPhysicalAssessmentsData,icuPhysicalAssessmentSelection) "
            [checked]=" tcUtilsArray.isAllSelected(icuPhysicalAssessmentsData,icuPhysicalAssessmentSelection) || icuPhysicalAssessmentSelectAll"
            [indeterminate]="icuPhysicalAssessmentSelection.length <icuPhysicalAssessmentsData.length && icuPhysicalAssessmentSelection.length>0"
            [disabled]="icuPhysicalAssessmentSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="icuPhysicalAssessmentSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #icuPhysicalAssessmentSelectAllMenu="matMenu">

            <button mat-menu-item (click)="icuPhysicalAssessmentSelectAll=true;" [disabled]="icuPhysicalAssessmentSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="icuPhysicalAssessmentSelectAll = false;" [disabled]="!icuPhysicalAssessmentSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(icuPhysicalAssessmentSelection,row) : null"
            [checked]="tcUtilsArray.contains(icuPhysicalAssessmentSelection,row) || icuPhysicalAssessmentSelectAll" [disabled]="icuPhysicalAssessmentSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="avpu">
        <mat-header-cell *matHeaderCellDef mat-sort-header>avpu
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.avpu}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="gag_reflex_intact">
        <mat-header-cell *matHeaderCellDef mat-sort-header>gag_reflex_intact
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.gag_reflex_intact}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="cough_reflex_intact">
        <mat-header-cell *matHeaderCellDef mat-sort-header>cough_reflex_intact
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cough_reflex_intact}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="rt_palpable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rt_palpable
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rt_palpable}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="lt_palpable">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lt_palpable
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lt_palpable}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="lt_absent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>lt_absent
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lt_absent}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="rt_absent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>rt_absent
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.rt_absent}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ett_size">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ett_size
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ett_size}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="intact_cm">
        <mat-header-cell *matHeaderCellDef mat-sort-header>intact_cm
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.intact_cm}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="track_intact">
        <mat-header-cell *matHeaderCellDef mat-sort-header>track_intact
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.track_intact}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="track_care">
        <mat-header-cell *matHeaderCellDef mat-sort-header>track_care
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.track_care}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef mat-sort-header>color
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.color}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>amount
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="vent_circuit_checked">
        <mat-header-cell *matHeaderCellDef mat-sort-header>vent_circuit_checked
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.vent_circuit_checked}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="bac_filter">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bac_filter
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bac_filter}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="humidifier">
        <mat-header-cell *matHeaderCellDef mat-sort-header>humidifier
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.humidifier}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="drianage">
        <mat-header-cell *matHeaderCellDef mat-sort-header>drianage
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.drianage}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="abd_soft">
        <mat-header-cell *matHeaderCellDef mat-sort-header>abd_soft
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.abd_soft}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="abd_distended">
        <mat-header-cell *matHeaderCellDef mat-sort-header>abd_distended
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.abd_distended}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="vomiting">
        <mat-header-cell *matHeaderCellDef mat-sort-header>vomiting
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.vomiting}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="diarrhea">
        <mat-header-cell *matHeaderCellDef mat-sort-header>diarrhea
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.diarrhea}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="consistency">
        <mat-header-cell *matHeaderCellDef mat-sort-header>consistency
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.consistency}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="date_of_last_bm">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date_of_last_bm
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date_of_last_bm}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="foley">
        <mat-header-cell *matHeaderCellDef mat-sort-header>foley
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foley}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="condom_catheter">
        <mat-header-cell *matHeaderCellDef mat-sort-header>condom_catheter
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.condom_catheter}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="foley_insert_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>foley_insert_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foley_insert_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="foley_care_provided">
        <mat-header-cell *matHeaderCellDef mat-sort-header>foley_care_provided
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foley_care_provided}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="urine_appearance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>urine_appearance
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.urine_appearance}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="breakdown">
        <mat-header-cell *matHeaderCellDef mat-sort-header>breakdown
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.breakdown}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="intact">
        <mat-header-cell *matHeaderCellDef mat-sort-header>intact
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.intact}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="bedsore">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bedsore
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bedsore}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="wound_care">
        <mat-header-cell *matHeaderCellDef mat-sort-header>wound_care
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.wound_care}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="bruise">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bruise
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bruise}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="edema">
        <mat-header-cell *matHeaderCellDef mat-sort-header>edema
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.edema}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="perianal_care">
        <mat-header-cell *matHeaderCellDef mat-sort-header>perianal_care
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.perianal_care}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="bed_bath">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bed_bath
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bed_bath}}</mat-cell>
      </ng-container>
       <mat-header-row *matHeaderRowDef="icuPhysicalAssessmentsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: icuPhysicalAssessmentsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(icuPhysicalAssessmentSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="icuPhysicalAssessmentsTotalCount"
      [ngStyle]="{display: icuPhysicalAssessmentsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div><div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" icuPhysicalAssessmentSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>