
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <!-- <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
            class="tc-sidebar mat-elevation-z8" position="end">
            <div class="tc-sidebar-inner">
                <div class="tc-padding" *ngIf="!consent_formLoading">
                    <h1 class="mat-h1 ">{{consent_formDetail.id}} </h1>
                </div>
                <mat-nav-list>
                    <mat-list-item [ngClass]="activeTab == Consent_FormTabs.overview? 'tc-list-item-focus':''"
                        (click)="activeTab = Consent_FormTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                        <a>
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav> -->
    
        <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="consent_formLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==Consent_FormTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
              
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!consent_formLoading">
                                            <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','name')}} </span> 
                                {{consent_formDetail.patient_name}}
                            </p>
                          
                          
    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('patient','doctor_name')}} </span> 
                                {{consent_formDetail.doctor_name}}
                            </p>
                          
                          
    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('procedure','procedure')}} </span> 
                                {{consent_formDetail.procedure_name}}
                            </p>
                          
    <p class="tc-detail-field">
                                <span>{{appTranslation.getText('general','date')}} </span> 
                                {{tcUtilsDate.toDate(consent_formDetail.created_at)|date:'MMM dd, yyyy. h:mm a'}}
                            </p>
                          
                                        </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editConsent_Form()" *ngIf="tcAuthorization.canUpdate('consent_forms') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    
    