<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
     referral_report  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchreferralPersistReport();" *ngIf="tcAuthorization.canRead('referral_reports')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="referralsReportearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="referralPersist.patientReferralFormSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="referralsReportearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="from_date"
        [matDatepicker]="from_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
  
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="to_date"
        [matDatepicker]="to_date_picker"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
  
    </mat-form-field>
    <div class="tc-loading" *ngIf="referralsReportIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let referralsReport of referralsReportData" class="tc-card">
        <mat-card-content>
          <div class="tc-detail-field">
            <span>id</span>
            {{referralsReport.id}}
          </div>
  <div class="tc-detail-field">
            <span>patient_name</span>
            {{referralsReport.patient_name}}
          </div><div class="tc-detail-field">
            <span>refer_to</span>
            {{referralsReport.refer_to}}
          </div><div class="tc-detail-field">
            <span>refer_date</span>
            {{referralsReport.refer_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
          </div> 
          <div class="tc-detail-field">
            <span>reply_date</span>
            {{referralsReport.reply_date}}
          </div>
          <div class="tc-detail-field">
            <span>reason</span>
            {{referralsReport.reason}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="referralsReportselection.length >0 || referralsReportselectAll">
        <button mat-button (click)="downloadreferralReport()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{referralsReportselectAll ? referralsReportTotalCount : referralsReportselection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="referralsReportData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(referralsReportData,referralsReportselection) "
              [checked]=" tcUtilsArray.isAllSelected(referralsReportData,referralsReportselection) || referralsReportselectAll"
              [indeterminate]="referralsReportselection.length <referralsReportData.length && referralsReportselection.length>0"
              [disabled]="referralsReportselectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="referralsReportselectAllMenu"></mat-icon>
            </button>
            <mat-menu #referralsReportselectAllMenu="matMenu">
  
              <button mat-menu-item (click)="referralsReportselectAll=true;" [disabled]="referralsReportselectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="referralsReportselectAll = false;" [disabled]="!referralsReportselectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(referralsReportselection,row) : null"
              [checked]="tcUtilsArray.contains(referralsReportselection,row) || referralsReportselectAll" [disabled]="referralsReportselectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>pid
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="refer_to">
          <mat-header-cell *matHeaderCellDef mat-sort-header>refer_to
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.refer_to}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="refer_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>refer_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.refer_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="reply_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>reply_date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.reply_date}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="reason">
            <mat-header-cell *matHeaderCellDef mat-sort-header>reason
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.reason}}</mat-cell>
          </ng-container>
  <mat-header-row *matHeaderRowDef="referralsReportDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: referralsReportDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(referralsReportselection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="referralsReportTotalCount"
        [ngStyle]="{display: referralsReportTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
