
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-user-md"></mat-icon>
      {{appTranslation.getText("employee", "physicians")}}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchDoctors();" *ngIf="tcAuthorization.canRead('doctors')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addDoctor();" *ngIf="tcAuthorization.canCreate('doctors')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>

  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="doctorsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="doctorSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
                  (click)="doctorsSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Filter"
            [(value)]="doctorSearchHistory.search_column"
            multiple="true"
            (valueChange)="searchDoctors()">
            <mat-option *ngFor="let etype of doctorFilterColumn" [value]="etype.id">
             {{etype.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder='Practitioner Type'
                      [(value)]="doctorSearchHistory.physican_type"
                      (valueChange)="searchDoctors()">
            <mat-option *ngFor="let status of doctorPersist.physican_type" [value]="status.id">
              {{ appTranslation.getTextByIdentifier(status.name) }}
            </mat-option>
          </mat-select>

          <button mat-button *ngIf='doctorSearchHistory.physican_type' matSuffix mat-icon-button
                  aria-label="Clear"
                  (click)="doctorSearchHistory.physican_type = null;searchDoctors();$event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="tc-loading" *ngIf="doctorsIsLoading">
          <mat-spinner></mat-spinner>
        </div>

        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let doctor of doctorsData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title> <a [routerLink]="doctorNavigator.doctorUrl(doctor.id)"
                                                                      class="tc-link">{{doctor.first_name}}</a>
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('doctors') || tcAuthorization.canDelete('doctors')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">

                                                                                      <button mat-menu-item (click)="editDoctor(doctor)" *ngIf="tcAuthorization.canUpdate('doctors')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteDoctor(doctor)" *ngIf="tcAuthorization.canDelete('doctors')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>

  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','last_name')}}</span>
              {{doctor.last_name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','middle_name')}}</span>
              {{doctor.middle_name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','email')}}</span>
              {{doctor.email}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','telephone')}}</span>
              {{doctor.telephone}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','gender')}}</span>
              {{doctor.is_male ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','birthdate')}}</span>
              {{tcUtilsDate.toDate(doctor.birth_date)|date:'MMM dd, yyyy. h:mm a'}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText('general','address')}}</span>
              {{doctor.address}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>

        <div class="tc-table-container tc-full-width">

          <mat-toolbar *ngIf="doctorsSelection.length >0 || doctorsSelectAll">
                    <button mat-button (click)="downloadDoctors()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{doctorsSelectAll ? doctorsTotalCount : doctorsSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>

          <mat-table [dataSource]="doctorsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(doctorsData,doctorsSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(doctorsData,doctorsSelection) || doctorsSelectAll"
                  [indeterminate]="doctorsSelection.length <doctorsData.length && doctorsSelection.length>0"
                  [disabled]="doctorsSelectAll">
                </mat-checkbox>

                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="doctorsSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #doctorsSelectAllMenu="matMenu">


                  <button mat-menu-item
                          (click)="doctorsSelectAll=true;"
                          [disabled]="doctorsSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="doctorsSelectAll = false;"
                          [disabled]="!doctorsSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>

              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(doctorsSelection,row) : null"
                              [checked]="tcUtilsArray.contains(doctorsSelection,row) || doctorsSelectAll"
                              [disabled]="doctorsSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="link">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a [routerLink]="doctorNavigator.doctorUrl(element.id)"
                               class="tc-link">{{element.id}}</a>

                        </mat-cell>
                      </ng-container>

            <ng-container matColumnDef="first_name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','first_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    <a [routerLink]="doctorNavigator.doctorUrl(element.id)"
                                    class="tc-link">{{element.title}}{{" "+element.first_name}}</a></mat-cell>
                               </ng-container>

  <ng-container matColumnDef="last_name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','last_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.last_name}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="middle_name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','middle_name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.middle_name}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="email">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','email')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="telephone">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','telephone')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.telephone}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="is_male">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','gender')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.is_male ? appTranslation.getText('general','male') : appTranslation.getText('general','female') }}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="birth_date">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','birthdate')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.birth_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="address">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','address')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
                               </ng-container>

  <ng-container matColumnDef="login_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>login_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.login_id}}</mat-cell>
                               </ng-container>


            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('doctors') || tcAuthorization.canDelete('doctors')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">

                  <button mat-menu-item (click)="editDoctor(element)" *ngIf="tcAuthorization.canUpdate('doctors') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteDoctor(element)" *ngIf="tcAuthorization.canDelete('doctors')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="doctorsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: doctorsDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(doctorsSelection,row)}"></mat-row>

          </mat-table>

          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="doctorsTotalCount"
                         [ngStyle]="{display: doctorsTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>


