<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="deathDetail">

          

            <mat-form-field >
              <input matInput type="datetime-local" [(ngModel)]="date_of_death">
              <mat-label>{{appTranslation.getText('schedule', 'start_time')}}</mat-label>
            </mat-form-field>
          
                <div class="tc-flex-column">
                      <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" (ngModelChange)="changeDeathCondtition()" [(ngModel)]="deathDetail.is_maternal" required> {{appTranslation.getText('patient','is_maternal')}} </mat-slide-toggle>
                </div>
          
              
              <mat-form-field *ngIf="deathDetail.is_maternal">
                <mat-select placeholder="{{appTranslation.getText('patient','death_condition')}}"
                            [(value)]="deathDetail.death_condition" required>
                  <mat-option *ngFor="let etype of persist.death_condition" [value]="etype.id">
                    {{appTranslation.getTextByIdentifier(etype.name)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="tc-flex-row">
                <div class="tc-flex-column">
                  <mat-slide-toggle matInput labelPosition="after" class="tc-form-toggle" (ngModelChange)="changeReason()" [(ngModel)]="deathDetail.is_post_operation" required> {{appTranslation.getText('patient','is_post_operation')}} </mat-slide-toggle>
              </div>

              <div class="tc-flex-column" style="margin-left: 10px;margin-right: 10px;">
                  <mat-slide-toggle matInput labelPosition="after" class="tc-form-toggle" [(ngModel)]="deathDetail.is_familly_aware" required>
                     {{appTranslation.getText('patient','is_familly_aware')}} </mat-slide-toggle>
              </div>

              <div class="tc-flex-column " *ngIf="!deathDetail.is_post_operation">
                  <mat-slide-toggle matInput labelPosition="after" class="tc-form-toggle" [(ngModel)]="deathDetail.is_brought_dead" required> {{appTranslation.getText('patient','is_brought_dead')}} </mat-slide-toggle>
              </div>
              </div>
                  <mat-form-field class="tc-full-stretch" >
                  <textarea matInput  placeholder="{{appTranslation.getText('patient','primay_cause_of_death')}}" type="text"  [(ngModel)]="deathDetail.primay_cause_of_death" required>
                  </textarea>
                  </mat-form-field>
          
                <div class="tc-flex-row">
                  <mat-form-field class="tc-equal-block">
                    <textarea matInput  placeholder="{{appTranslation.getText('patient','secondary_cause_of_death')}}" type="text"  [(ngModel)]="deathDetail.secondary_cause_of_death">
                    </textarea>
                    </mat-form-field>

                <mat-form-field class="tc-equal-block">
                    <textarea matInput  placeholder="{{appTranslation.getText('patient','other_co_morbidities')}}" type="text"  [(ngModel)]="deathDetail.other_co_morbidities">
                  </textarea>
                  </mat-form-field>
                </div>
                    

  </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
</div>
