
  <div class="tc-flex-row tc-full-width">
    <div class="tc-equal-block">
      <div class="tc-padding">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ appTranslation.getText("general", "overview") }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!form_encounterLoading">

              <p class="tc-detail-field">
                <span>Profile Pic</span>
                <p-avatar class="circle"  [(image)]="profileUrl"  abel="P" shape="circle" size="xlarge"></p-avatar>
              </p>
              <p class="tc-detail-field">
                <span> {{ appTranslation.getText("general", "name") }} </span>
                {{ form_encounterDetail?.full_name }}
              </p>
              <p class="tc-detail-field">
                <span>Birth Date </span>
                {{
                tcUtilsDate.toDate( form_encounterDetail.birth_date) | date
                }}
              </p>
              <p class="tc-detail-field">
                <span>date </span>
                {{
                tcUtilsDate.toDate( form_encounterDetail.date) | date
                }}
              </p>

              <p class="tc-detail-field">
                <span>{{ appTranslation.getText("general", "reason") }} </span>
                {{ form_encounterDetail.reason }}
              </p>

              <p class="tc-detail-field">
                <span>Service Type </span>
                {{tcUtilsArray.getEnum(form_encounterPersist.serviceType, form_encounterDetail.service_type)?.name}}
              </p>

              <p class="tc-detail-field">
                <span>{{ appTranslation.getText("patient", "sensitivity") }} </span>
                {{
                  appTranslation.getText(
                  "patient",
                  tcUtilsArray.getEnum(form_encounterPersist.sensetivity, form_encounterDetail.sensitivity)?.name
                  )
                  }}
              </p>


              <p class="tc-detail-field">
                <span>{{appTranslation.getText("patient", "provider")}}</span>
                {{ form_encounterDetail?.provider_name }}
              </p>


            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="tc-equal-block">
      <div class="tc-padding" *ngIf="tcAuthorization.canRead('form_vitals')">
        <mat-accordion>
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{appTranslation.getText("patient", "form_vitals")}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="!form_encounterLoading &&  form_vitalssTotalCount  > 0">

              <p class="tc-detail-field">
                <span>{{
                  appTranslation.getText("patient", "height")
                  }} </span>
                {{
                form_vitalssData[form_vitalssTotalCount - 1].height
                }}
              </p>

              <p class="tc-detail-field">
                <span>{{
                  appTranslation.getText("patient", "height")
                  }} </span>
                {{ form_vitalssData[form_vitalssTotalCount - 1].height }}
              </p>

              <p class="tc-detail-field">
                <span>{{
                  appTranslation.getText("patient", "temperature")
                  }} </span>
                {{ form_vitalssData[form_vitalssTotalCount - 1].temperature }}
              </p>

              <p class="tc-detail-field">
                <span>{{
                  appTranslation.getText("patient", "pulse")
                  }} </span>
                {{ form_vitalssData[form_vitalssTotalCount - 1].pulse }}
              </p>

              <p class="tc-detail-field">
                <span>{{
                  appTranslation.getText("patient", "BMI")
                  }} </span>
                {{ form_vitalssData[form_vitalssTotalCount - 1].BMI }}
              </p>


              <p class="tc-detail-field">
                <span>{{
                  appTranslation.getText("patient", "oxygen_saturation")
                  }} </span>
                {{ form_vitalssData[form_vitalssTotalCount - 1].oxygen_saturation }}
              </p>
              <p class="tc-detail-field">
                <span>{{appTranslation.getText("general", "age")}}</span>{{patientAge}}
              </p>

            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="tc-equal-block">
      <div class="tc-padding" *ngIf="tcAuthorization.canRead('form_soaps')">
        <mat-accordion>
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{appTranslation.getText("patient", "psoap")}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!form_encounterLoading && form_soapsTotalCount > 0">

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'subjective')}} </span>
                {{
                form_soapsData[form_soapsTotalCount - 1].subjective
                }}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'objective')}} </span>
                {{ form_soapsData[form_soapsTotalCount - 1].objective }}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'assessment')}} </span>
                {{ form_soapsData[form_soapsTotalCount - 1].assessment }}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'plan')}} </span>
                {{ form_soapsData[form_soapsTotalCount - 1].plan }}
              </p>


            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="tc-equal-block">

      <div class="tc-padding">
        <mat-accordion>
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{appTranslation.getText("procedure", "lab_results")}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let order of ordersData">
              {{order.orders}}
            </p>
            <!-- <div *ngIf="!form_encounterLoading && topProcedureData">

              <p class="tc-detail-field">
                <span>{{appTranslation.getText("general", "id_number")}}</span>
                {{
                topProcedureData.procedure_order_id
                }}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('employee', 'physician')}}</span>
                {{
                topProcedureData.provider_id
                }}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('general', 'status')}}</span>
                {{
                topProcedureData.order_status
                }}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('procedure', 'patient_instructions')}}</span>
                {{
                topProcedureData.patient_instructions
                }}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('employee', 'lab')}}</span>
                {{
                topProcedureData.lab_id
                }}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('procedure', 'clinical_hx')}}</span>
                {{
                topProcedureData.clinical_hx
                }}
              </p>

            </div> -->
            <div class="no-page-size">
              <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
              [pageSize]="tcUtilsArray.defaultPageSize" [length]="ordersTotalCount"
              [ngStyle]="{display: ordersTotalCount > 0? '':'none'}"></mat-paginator>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

  </div>

  <div class="tc-flex-row tc-full-width">
    <div class="tc-equal-block">
      <div class="tc-padding" *ngIf="tcAuthorization.canRead('radiology_orders')">
        <mat-accordion>
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{appTranslation.getText("patient", "observation")}}
              </mat-panel-title>
            </mat-expansion-panel-header>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="tc-equal-block">
      <div class="tc-padding" *ngIf="tcAuthorization.canRead('family_historys')">
        <mat-accordion>
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{appTranslation.getText("patient", "family_history")}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="!form_encounterLoading && history_datasTotalCount > 0">
              <p class="tc-detail-field">
                <span> {{appTranslation.getText('patient', 'siblings_history')}}</span>
                {{ history_datasData[0].history_siblings }}
              </p>
              <p class="tc-detail-field">
                <span> {{appTranslation.getText('patient', 'father_history')}} </span>
                {{ history_datasData[0].history_father }}
              </p>

              <p class="tc-detail-field">
                <span> {{appTranslation.getText('patient', 'mother_hisotry')}} </span>
                {{ history_datasData[0].history_mother }}
              </p>
              <p class="tc-detail-field">
                <span> {{appTranslation.getText('patient', 'offspring_history')}} </span>
                {{ history_datasData[0].history_offspring }}
              </p>


            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="tc-equal-block">
      <div class="tc-padding" *ngIf="tcAuthorization.canRead('prescriptions')">
        <mat-accordion>
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{appTranslation.getText("patient", "prescription")}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="  prescriptionssTotalCount > 0">
              <p class="tc-detail-field">

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'drugs')}} </span>
                {{prescriptionssData[0].drug}}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'date_added')}} </span>
                {{prescriptionssData[0].date_added}}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'date_modified')}} </span>
                {{prescriptionssData[0].date_modified}}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'visits')}} </span>
                {{prescriptionssData[0].encounter}}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'note')}} </span>
                {{prescriptionssData[0].note}}
              </p>

              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'in_patient')}} </span>
              </p>
              <p class="tc-detail-field">
                <span>{{appTranslation.getText('patient', 'in_patient')}} </span>
              </p>

            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>