<mat-sidenav-container class="tc-sidebar-container" fullscreen>

  <mat-sidenav-content>

    <div class="tc-loading" *ngIf="ordersLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="patient-information">
      <div *ngIf="patientDetail">Patient : {{ordersDetail.patient_name}} </div> <div> Age: {{calculateAge(patientDetail?.dob)}} </div> <div> Sex: {{patientDetail?.sex ? "Male": "Female"}} </div> <div> MRN: {{patientDetail?.pid}} </div>
    </div>
    <mat-tab-group (selectedIndexChange)="updateTab($event)">

      <div class="tc-loading" *ngIf="ordersLoading">
        <mat-spinner></mat-spinner>
      </div>
      <mat-tab label="Overview">
        <ng-template matTabContent>


            <mat-toolbar class="tc-toolbar-secondary ">
              <h1 class="mat-heading">
                <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                {{appTranslation.getText("general", "overview")}}
              </h1>
              <button mat-button (click)=" back();" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
              </button>
              <button mat-button (click)=" reload()" class="tc-link">
                <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
              </button>

            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
              <div class="tc-equal-block">
                <div class="tc-padding">
                  <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{appTranslation.getText("general", "basicdetails")}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div *ngIf="!ordersLoading">
                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('schedule', 'date')}} </span>
                          {{ tcUtilsDate.toDate(ordersDetail.created_at)|date:'MMM dd, yyyy. h:mm a'}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'patient')}} </span>
                          {{ordersDetail.patient_name}}
                        </p>



                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('employee', 'doctor')}} </span>
                          {{ordersDetail.doctor_name}}
                        </p>


                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('procedure', 'order_type')}}</span>
                          {{appTranslation.getText("procedure", tcUtilsArray.getEnum(ordersPersist.lab_order_type, ordersDetail.order_type)?.name)}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('procedure', 'total_order')}} </span>
                          {{ordersDetail.total_order}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('procedure', 'order_status')}}</span>
                          {{appTranslation.getText("procedure", tcUtilsArray.getEnum(ordersPersist.lab_order_status, ordersDetail.order_status)?.name)}}
                        </p>


                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('patient', 'urgency')}} </span>
                          {{appTranslation.getText("patient", tcUtilsArray.getEnum(ordersPersist.lab_urgency, ordersDetail.urgency)?.name)}}
                        </p>
                        <!-- <p class="tc-detail-field">
                          <span>{{appTranslation.getText('financial', 'total_price')}} </span>
                          {{ordersDetail.total_price}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('financial', 'paid')}} </span>
                          <mat-icon fontSet="fa" fontIcon="fa-check" *ngIf="ordersDetail.paid"></mat-icon>
                          <mat-icon fontSet="fa" fontIcon="fa-times" *ngIf="!ordersDetail.paid"></mat-icon>
                        </p> -->


                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('procedure', 'future_date')}}</span>
                          {{ordersDetail.future ? (ordersDetail.future_date * 1000 |date:'MMM dd, yyyy. h:mm a') : " "}}
                        </p>


                      </div>


                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <div class="tc-equal-block">
              </div>
            </div>


          </ng-template>
          </mat-tab>

          <mat-tab label="Patient Summary Sheet" *ngIf="ordersDetail.patient_type != PatientType.outsideOrder">
            <ng-template matTabContent>
              <app-patient-visit-form
      [form_encounterDetail]="form_encounter"
    >
    </app-patient-visit-form>
            </ng-template>
          </mat-tab>


          <mat-tab label="Selected Order">


            <div class="tc-loading" *ngIf="rad_selected_orderssLoading">
              <mat-spinner></mat-spinner>
            </div>
                <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    Selected Order
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                  </button>
                  <button mat-button (click)=" searchSelected_Orderss()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <button
              mat-button
              *ngIf="tcAuthorization.canCreate('laboratory_orders')"
              (click)="addOrder(lab_order_type.lab)"
              class="tc-link"
            >
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
              <span>Order Laboratory</span>
            </button>
            <button
              mat-button
              *ngIf="tcAuthorization.canCreate('radiology_orders')"
              (click)="addOrder(lab_order_type.imaging)"
              class="tc-link"
            >
              <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
              <span>Order Radiology</span>
            </button>
            <a *ngIf="dicoms && dicoms.length" href={{buildDicomUrl()}} style="color: white; margin-left: auto;" target="_blank">
            <Button  class="tc-padding" style="color: #175D91; background-color: white; border: none;" >
              <mat-icon style="color: #175D91; height: 1px;" fontSet="fa" fontIcon="fa-up-right-from-square"></mat-icon>View Dicom
            </Button>
          </a>
            <button *ngIf="!ordersDetail.generated_sample_id" mat-button (click)="generateSampleId()" style="margin-left: auto;">
              <span>Generate Sample Id</span>
            </button>

                </mat-toolbar>

                <div class="tc-padding">

                  <div class="tc-padding">
                    <mat-form-field>
                      <input matInput [formControl]="rad_selected_orderssSearchTextBox"
                             placeholder="{{appTranslation.getText('general','search_text')}}">
                      <button mat-button *ngIf="rad_selected_orderssSearchTextBox.value" matSuffix mat-icon-button
                              aria-label="Clear"
                              (click)="rad_selected_orderssSearchTextBox.setValue('')">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>

                    <h3 *ngIf="!rad_selected_orderssLoading && !rad_selected_orderssData.length">Sorry! The patient did not pay his or her bill.</h3>
                    <p>{{ordersDetail.note}}</p>
                        <mat-accordion *ngFor="let lab_order of rad_selected_orderssData" class="tc-padding">
                          <mat-expansion-panel #expansion>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{ordersDetail.generated_sample_id}} - {{lab_order.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                          <app-selected-orders [patientDetail]="patientDetail" *ngIf="expansion.expanded" [order]="ordersDetail" [labOrderId]="lab_order.id" [resultType]="resultType"></app-selected-orders>
                          </mat-expansion-panel>
                        </mat-accordion>
                        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                  [pageSize]="tcUtilsArray.defaultPageSize" [length]="rad_selected_orderssTotalCount"
                  [ngStyle]="{display: rad_selected_orderssTotalCount > 0? '':'none'}"></mat-paginator>
                    </div>

                </div>
              </mat-tab>
              <mat-tab label="Result">
                <ng-template matTabContent>
                  <app-orders-list
                    [encounterId]="ordersDetail.encounter_id"
                    [patient_id]="ordersDetail.patient_id"
                  >
                  </app-orders-list>
                </ng-template>
              </mat-tab>
              <mat-tab label="Prescription">
                <ng-template matTabContent>
                  <app-prescription-list
          [encounterId]="ordersDetail.encounter_id"
        >
        </app-prescription-list>
                </ng-template>
              </mat-tab>

      </mat-tab-group>




  </mat-sidenav-content>
</mat-sidenav-container>
