
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     dispense_history  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchDispenseHistorys();" *ngIf="tcAuthorization.canRead('dispense_historys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addDispenseHistory();" *ngIf="tcAuthorization.canCreate('dispense_historys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="dispenseHistorySearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="dispenseHistoryPersist.dispenseHistorySearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="dispenseHistorySearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="dispenseHistoryIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let dispenseHistory of dispenseHistorysData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('dispense_historys') || tcAuthorization.canDelete('dispense_historys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editDispenseHistory(dispenseHistory)" *ngIf="tcAuthorization.canUpdate('dispense_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteDispenseHistory(dispenseHistory)" *ngIf="tcAuthorization.canDelete('dispense_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>patient_id</span>
            {{dispenseHistory.patient_id}}
          </div><div class="tc-detail-field">
            <span>provider_id</span>
            {{dispenseHistory.provider_id}}
          </div><div class="tc-detail-field">
            <span>item_in_store_id</span>
            {{dispenseHistory.item_in_store_id}}
          </div><div class="tc-detail-field">
            <span>date</span>
            {{dispenseHistory.date}}
          </div><div class="tc-detail-field">
            <span>prescription_id</span>
            {{dispenseHistory.prescription_id}}
          </div><div class="tc-detail-field">
            <span>patient_type</span>
            {{dispenseHistory.patient_type}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchDispenseHistorys.length >0 || dispenseHistorySelectAll">
        <button mat-button (click)="downloadDispenseHistorys()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{dispenseHistorySelectAll ? dispenseHistorysTotalCount : dispenseHistorySelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="dispenseHistorysData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(dispenseHistorysData,dispenseHistorySelection) "
              [checked]=" tcUtilsArray.isAllSelected(dispenseHistorysData,dispenseHistorySelection) || dispenseHistorySelectAll"
              [indeterminate]="dispenseHistorySelection.length <dispenseHistorysData.length && dispenseHistorySelection.length>0"
              [disabled]="dispenseHistorySelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="dispenseHistorySelectAllMenu"></mat-icon>
            </button>
            <mat-menu #dispenseHistorySelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="dispenseHistorySelectAll=true;" [disabled]="dispenseHistorySelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="dispenseHistorySelectAll = false;" [disabled]="!dispenseHistorySelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(dispenseHistorySelection,row) : null"
              [checked]="tcUtilsArray.contains(dispenseHistorySelection,row) || dispenseHistorySelectAll" [disabled]="dispenseHistorySelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="patient_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="provider_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>provider_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.provider_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="item_in_store_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>item_in_store_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.item_in_store_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="prescription_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>prescription_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.prescription_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.patient_type}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="dispenseHistoryNavigator.dispenseHistoryUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('dispense_historys') || tcAuthorization.canDelete('dispense_historys')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editDispenseHistory(element)" *ngIf="tcAuthorization.canUpdate('dispense_historys') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteDispenseHistory(element)" *ngIf="tcAuthorization.canDelete('dispense_historys')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="dispenseHistorysDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: dispenseHistorysDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dispenseHistorySelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="dispenseHistorysTotalCount"
        [ngStyle]="{display: dispenseHistorysTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>