
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    
        <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="review_of_systemLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div>
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!review_of_systemLoading">
                                            <p class="tc-detail-field">
                                <span>General</span> 
                                {{review_of_systemDetail.general ? 'Yes' : 'No'}}
                            </p>
                          
    <p class="tc-detail-field">
                                <span>General remark </span> 
                                {{review_of_systemDetail.general_remark}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Head and Neck </span> 
                                {{review_of_systemDetail.head_and_neck ? 'Yes' : 'No'}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Head and Neck remark </span> 
                                {{review_of_systemDetail.head_and_neck_remark}}
                            </p>
                            <p class="tc-detail-field">
                                <span>ENT </span> 
                                {{review_of_systemDetail.ent ? 'Yes' : 'No'}}
                            </p>
                            <p class="tc-detail-field">
                                <span>ENT Remark </span> 
                                {{review_of_systemDetail.ent_remark}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Eye </span> 
                                {{review_of_systemDetail.eye ? 'Yes' : 'No'}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Eye remark </span> 
                                {{review_of_systemDetail.eye_remark}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Chest Lung Breast </span> 
                                {{review_of_systemDetail.chest_lungs_breasts ? 'Yes' : 'No'}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Chest Lung Breast remark </span> 
                                {{review_of_systemDetail.chest_lungs_breasts_remark}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Cardiovascular </span> 
                                {{review_of_systemDetail.cardiovascular ? 'Yes' : 'No'}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Cardiovascular remark </span> 
                                {{review_of_systemDetail.cardiovascular_remark}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Gastrointestinal </span> 
                                {{review_of_systemDetail.gastrointestinal ? 'Yes' : 'No'}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Gastrointestinal remark </span> 
                                {{review_of_systemDetail.gastrointestinal_remark}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Musculoskeletal </span> 
                                {{review_of_systemDetail.musculoskeletal ? 'Yes' : 'No'}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Musculoskeletal remark </span> 
                                {{review_of_systemDetail.musculoskeletal_remark}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Neurological </span> 
                                {{review_of_systemDetail.neurological ? 'Yes' : 'No'}}
                            </p>
                            <p class="tc-detail-field">
                                <span>Neurological remark </span> 
                                {{review_of_systemDetail.neurological_remark}}
                            </p>
                          
                                        </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editReview_Of_System()" *ngIf="tcAuthorization.canUpdate('review_of_systems') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    
    