
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-tasks"></mat-icon>
        {{appTranslation.getText("patient","procedure_types")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchProcedure_Types();" *ngIf="tcAuthorization.canRead('procedure_types')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addProcedure_Type();" *ngIf="tcAuthorization.canCreate('procedure_types')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="procedure_typesSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="procedure_typePersist.procedure_typeSearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="procedure_typesSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="tc-loading" *ngIf="procedure_typesIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let procedure_type of procedure_typesData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title>
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('procedure_types') || tcAuthorization.canDelete('procedure_types')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
  
                                                                                      <button mat-menu-item (click)="editProcedure_Type(procedure_type)" *ngIf="tcAuthorization.canUpdate('procedure_types')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteProcedure_Type(procedure_type)" *ngIf="tcAuthorization.canDelete('procedure_types')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","name")}}</span>
              {{procedure_type.name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","type")}}</span>
              {{procedure_type.type}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="procedure_typesSelection.length >0 || procedure_typesSelectAll">
                    <button mat-button (click)="downloadProcedure_Types()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{procedure_typesSelectAll ? procedure_typesTotalCount : procedure_typesSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="procedure_typesData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(procedure_typesData,procedure_typesSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(procedure_typesData,procedure_typesSelection) || procedure_typesSelectAll"
                  [indeterminate]="procedure_typesSelection.length <procedure_typesData.length && procedure_typesSelection.length>0"
                  [disabled]="procedure_typesSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="procedure_typesSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #procedure_typesSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="procedure_typesSelectAll=true;"
                          [disabled]="procedure_typesSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="procedure_typesSelectAll = false;"
                          [disabled]="!procedure_typesSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(procedure_typesSelection,row) : null"
                              [checked]="tcUtilsArray.contains(procedure_typesSelection,row) || procedure_typesSelectAll"
                              [disabled]="procedure_typesSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","name")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="type">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","type")}} </mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                      {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(procedure_typePersist.procedure_types, element.type)?.name)}}
                                    </mat-cell>
                               </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('procedure_types') || tcAuthorization.canDelete('procedure_types')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
  
                  <button mat-menu-item (click)="editProcedure_Type(element)" *ngIf="tcAuthorization.canUpdate('procedure_types') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteProcedure_Type(element)" *ngIf="tcAuthorization.canDelete('procedure_types')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="procedure_typesDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: procedure_typesDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(procedure_typesSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="procedure_typesTotalCount"
                         [ngStyle]="{display: procedure_typesTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  