<mat-toolbar class="tc-toolbar-secondary">
    <h1 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon>
    {{appTranslation.getText("patient", "history")}}
    </h1>
    <button mat-button (click)="back()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)="searchHistory_Datas()" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <!-- <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
    <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    </p> -->

    <button mat-button (click)=" addHistory_Data(); " class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>

<div class="tc-padding">

    <mat-spinner diameter="50" *ngIf="history_datasLoading" class="tc-padding"></mat-spinner>

    <div class="tc-padding" [ngStyle]="{display: history_datasLoading? 'none':''}">
    <mat-form-field>
        <input matInput [formControl]="history_datasSearchTextBox"
        placeholder="{{appTranslation.getText('general','search_text')}}">
        <button mat-button *ngIf="history_datasSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="history_datasSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>


    <div class="tc-table-container tc-full-stretch">

        <mat-toolbar *ngIf="history_datasSelected.length >0 ">
        <button mat-button (click)="downloadHistory_Datas()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
        </button>

        </mat-toolbar>

        <mat-table [dataSource]="history_datasData" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(history_datasData,history_datasSelected) "
                [checked]=" tcUtilsArray.isAllSelected(history_datasData,history_datasSelected)"
                [indeterminate]="history_datasSelected.length <history_datasData.length && history_datasSelected.length>0">
            </mat-checkbox>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(history_datasSelected,row) : null"
                [checked]="tcUtilsArray.contains(history_datasSelected,row)">
            </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="history_siblings">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
            'siblings_history')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.history_siblings}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="hisotry_father">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
            'father_history')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.history_father}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="history_mother">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
            'mother_hisotry')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.history_mother}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="history_off_spring">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
            'offspring_history')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.history_offspring}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="history_spouse">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient',
            'spouse_history')}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.history_spouse}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="coffee">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure', 'coffee')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.coffee}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="alcohol">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure', 'alcohol ')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.alcohol}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tobacco">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('procedure', 'tobacco')}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.tobacco}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="pid">
            <mat-header-cell *matHeaderCellDef mat-sort-header>pid</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

            </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="history_datasDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: history_datasDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(history_datasSelected,row)}">
        </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="history_datasTotalCount"
        [ngStyle]="{display: history_datasTotalCount > 0? '':'none'}">
        </mat-paginator>
    </div>
    </div>
</div>