<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="driverMedicalCertificateDetail">

                          <h1>Visual</h1>
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'pupil_color')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.pupil_color" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'pupil_right_eye')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.pupil_right_eye" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'pupil_left_eye')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.pupil_left_eye" required>
                          </mat-form-field>  
                          <h2>Color Perception</h2>                  
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'color_perception_left_eye')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.color_perception_left_eye" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'color_perception_right_eye')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.color_perception_right_eye" required>
                          </mat-form-field>   
                          <h2>Visual Perception</h2>                 
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'visual_distance_right_eye')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.visual_distance_right_eye" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'visual_distance_left_eye')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.visual_distance_left_eye" required>
                          </mat-form-field>   
                          <h2>Sound Perception</h2>                 
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'sound_perception_right_ear')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.sound_perception_right_ear" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="{{appTranslation.getText('patient', 'sound_perception_left_ear')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.sound_perception_left_ear" required>
                          </mat-form-field>
    <mat-form-field class="tc-full-stretch" >
        <mat-select
          placeholder="{{appTranslation.getText('patient', 'driver_license_type')}}"
          [(value)]="driverMedicalCertificateDetail.status"
          required>
          <mat-option *ngFor="let etype of persist.DriverLicenseType" [value]="etype.id">
           {{appTranslation.getText('patient', etype.name)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
<mat-form-field class="tc-full-stretch" *ngIf="driverMedicalCertificateDetail.status !=driverLicenseType.granted">
        <textarea rows="3" matInput  placeholder="{{appTranslation.getText('patient', 'status_reason')}}" type="text"  [(ngModel)]="driverMedicalCertificateDetail.status_reason" required></textarea>
    </mat-form-field>
</div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>