<!-- <h1 mat-dialog-title>
  present_pregnancy_follow_up Selection
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="presentPregnancyFollowUpSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="presentPregnancyFollowUpPersist.presentPregnancyFollowUpSearchText" matSuffix
      mat-icon-button aria-label="Clear" (click)="presentPregnancyFollowUpSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="presentPregnancyFollowUpIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container tc-full-width">
    <mat-table [dataSource]="presentPregnancyFollowUpsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(presentPregnancyFollowUpsData,presentPregnancyFollowUpSelection) "
            [checked]=" tcUtilsArray.isAllSelected(presentPregnancyFollowUpsData,presentPregnancyFollowUpSelection) || presentPregnancyFollowUpSelectAll"
            [indeterminate]="presentPregnancyFollowUpSelection.length <presentPregnancyFollowUpsData.length && presentPregnancyFollowUpSelection.length>0"
            [disabled]="presentPregnancyFollowUpSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="presentPregnancyFollowUpSelectAllMenu">
            </mat-icon>
          </button>
          <mat-menu #presentPregnancyFollowUpSelectAllMenu="matMenu">

            <button mat-menu-item (click)="presentPregnancyFollowUpSelectAll=true;"
              [disabled]="presentPregnancyFollowUpSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="presentPregnancyFollowUpSelectAll = false;"
              [disabled]="!presentPregnancyFollowUpSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(presentPregnancyFollowUpSelection,row) : null"
            [checked]="tcUtilsArray.contains(presentPregnancyFollowUpSelection,row) || presentPregnancyFollowUpSelectAll"
            [disabled]="presentPregnancyFollowUpSelectAll">
          </mat-checkbox>
        </mat-cell>

        <ng-container matColumnDef="encounter">
          <mat-header-cell *matHeaderCellDef mat-sort-header>encounter
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.encounter}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="visit_status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>visit_status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.visit_status}}</mat-cell>
        </ng-container>

      </ng-container>
      <ng-container matColumnDef="date_of_visit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>date_of_visit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.date_of_visit}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="gestation_age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>gestation_age
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.gestation_age}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="gravda">
        <mat-header-cell *matHeaderCellDef mat-sort-header>gravda
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.gravda}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="para">
        <mat-header-cell *matHeaderCellDef mat-sort-header>para
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.para}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="number_of_children_alive">
        <mat-header-cell *matHeaderCellDef mat-sort-header>number_of_children_alive
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.number_of_children_alive}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="bp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>bp
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bp}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header>weight
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pallor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>pallor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.pallor}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="uterine_height">
        <mat-header-cell *matHeaderCellDef mat-sort-header>uterine_height
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.uterine_height}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fatal_heart_beat">
        <mat-header-cell *matHeaderCellDef mat-sort-header>fatal_heart_beat
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fatal_heart_beat}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="presentation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>presentation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.presentation}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="urine_test_protein">
        <mat-header-cell *matHeaderCellDef mat-sort-header>urine_test_protein
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.urine_test_protein}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="repid_syphilis_test">
        <mat-header-cell *matHeaderCellDef mat-sort-header>repid_syphilis_test
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.repid_syphilis_test}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="hemoglobin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>hemoglobin
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hemoglobin}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="blood_group_and_rh">
        <mat-header-cell *matHeaderCellDef mat-sort-header>blood_group_and_rh
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.blood_group_and_rh}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="tt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>tt
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.tt}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Iron_folic_add">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Iron_folic_add
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Iron_folic_add}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mebendazole">
        <mat-header-cell *matHeaderCellDef mat-sort-header>mebendazole
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mebendazole}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="use_of_itn">
        <mat-header-cell *matHeaderCellDef mat-sort-header>use_of_itn
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.use_of_itn}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="arv_px">
        <mat-header-cell *matHeaderCellDef mat-sort-header>arv_px
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.arv_px}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="remarks">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remarks
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remarks}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="danger_signs_identified_and_investigation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>danger_signs_identified_and_investigation
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.danger_signs_identified_and_investigation}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action_advice_counseling">
        <mat-header-cell *matHeaderCellDef mat-sort-header>action_advice_counseling
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.action_advice_counseling}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="appointment_for_next_follow_up">
        <mat-header-cell *matHeaderCellDef mat-sort-header>appointment_for_next_follow_up
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.appointment_for_next_follow_up}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name_and_signs_of_health_care_provider">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name_and_signs_of_health_care_provider
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name_and_signs_of_health_care_provider}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="marital_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>marital_status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.marital_status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="urine_test_for_infection">
        <mat-header-cell *matHeaderCellDef mat-sort-header>urine_test_for_infection
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.urine_test_for_infection}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="presentPregnancyFollowUpsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: presentPregnancyFollowUpsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(presentPregnancyFollowUpSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="presentPregnancyFollowUpsTotalCount"
      [ngStyle]="{display: presentPregnancyFollowUpsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()" [disabled]=" presentPregnancyFollowUpSelection.length == 0 "
    cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div> -->