<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="dialysisMachineDetail">
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="serial_no" type="text"  [(ngModel)]="dialysisMachineDetail.serial_no" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="machine_no" type="text"  [(ngModel)]="dialysisMachineDetail.machine_no" required>
                          </mat-form-field> 
   <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
                            <mat-select  placeholder="machine_no" type="text"  [(value)]="dialysisMachineDetail.status" required>
                              <mat-option *ngFor="let etype of bedPersist.bed_status" [value]="etype.id">
                                {{appTranslation.getTextByIdentifier(etype.name)}}
                              </mat-option>
                              </mat-select>
                        </mat-form-field> 
                        </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>