<div class="tc-flex-row">
  <h1 class="mat-headline">
    {{ appTranslation.getText("inventory", "Item_ledger_entry_selection") }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>


<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="item_ledger_entrysSearchTextBox" placeholder='{{appTranslation.getText("general", "search_text")}}'>
    <button mat-button *ngIf="item_ledger_entryPersist.item_ledger_entrySearchText" matSuffix mat-icon-button
            aria-label="Clear"
            (click)="item_ledger_entrysSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="item_ledger_entrysIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="item_ledger_entrysData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(item_ledger_entrysData,item_ledger_entrysSelection) "
            [checked]=" tcUtilsArray.isAllSelected(item_ledger_entrysData,item_ledger_entrysSelection)"
            [indeterminate]="item_ledger_entrysSelection.length <item_ledger_entrysData.length && item_ledger_entrysSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="item_ledger_entrysSelection.length >0 && !selectOne"
                  [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{item_ledger_entrysSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="item_ledger_entrysSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(item_ledger_entrysSelection,row) : null"
                        [checked]="tcUtilsArray.contains(item_ledger_entrysSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(item_ledger_entrysSelection,row)"
                        *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="entry_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'entry_type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          appTranslation.getText(
            "inventory",
            tcUtilsArray.getEnum(
              item_ledger_entryPersist.entry_type,
              element.entry_type
            )?.name)
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_type">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'item_type')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          appTranslation.getText(
            "inventory",
            tcUtilsArray.getEnum(
              item_ledger_entryPersist.item_type,
              element.item_type
            )?.name)
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'item')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsArray.getById(items, element.item_id)?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'quantity')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity | number}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'store')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.store_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="batch">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'batch_no')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expire_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'expire_date')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          tcUtilsDate.toDate(element.expire_date) | date
          }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'description')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="registration_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'date_of_registration')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          tcUtilsDate.toDate(element.registration_date) | date
          }}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="item_ledger_entrysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: item_ledger_entrysDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(item_ledger_entrysSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="item_ledger_entrysTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general", "cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" item_ledger_entrysSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general", "return_selection")}}
  </button>
</div>
