<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
        patient_ward_report
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPatient_ward_reports();" *ngIf="tcAuthorization.canRead('patient_ward_reports')"
        class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPatient_ward_report();" *ngIf="tcAuthorization.canCreate('patient_ward_reports')"
        class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>
<div class="tc-padding">
    <mat-form-field>
        <input matInput [formControl]="patientWardReportSearchTextBox"
            placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="patientWardReportPersist.patientWardReportSearchText" matSuffix mat-icon-button
            aria-label="Clear" (click)="patientWardReportSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="patientWardReportIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let patientWardReport of patientWardReportsData tc-card">
            <mat-card-header>
                <mat-card-title>
                    <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('patient_ward_reports') || tcAuthorization.canDelete('patient_ward_reports')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editPatientWardReport(patientWardReport)"
                            *ngIf="tcAuthorization.canUpdate('patient_ward_reports')">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deletePatientWardReport(patientWardReport)"
                            *ngIf="tcAuthorization.canDelete('patient_ward_reports')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="tc-detail-field">
                    <span>patient_id</span>
                    {{patientWardReport.patient_id}}
                </div>
                <div class="tc-detail-field">
                    <span>ward_id</span>
                    {{patientWardReport.ward_id}}
                </div>
                <div class="tc-detail-field">
                    <span>report_id</span>
                    {{patientWardReport.report_id}}
                </div>
                <div class="tc-detail-field">
                    <span>encounter_id</span>
                    {{patientWardReport.encounter_id}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="searchPatient_ward_reports.length >0 || patientWardReportSelectAll">
            <button mat-button (click)="downloadPatientWardReports()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
            </button>
            <div class="tc-flex-fill"></div>
            <span>{{patientWardReportSelectAll ? patientWardReportsTotalCount : patientWardReportSelection.length}}
                {{appTranslation.getText("general",
                "selected")}}</span>
        </mat-toolbar><mat-table [dataSource]="patientWardReportsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(patientWardReportsData,patientWardReportSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(patientWardReportsData,patientWardReportSelection) || patientWardReportSelectAll"
                        [indeterminate]="patientWardReportSelection.length <patientWardReportsData.length && patientWardReportSelection.length>0"
                        [disabled]="patientWardReportSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                            [matMenuTriggerFor]="patientWardReportSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #patientWardReportSelectAllMenu="matMenu">

                        <button mat-menu-item (click)="patientWardReportSelectAll=true;"
                            [disabled]="patientWardReportSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="patientWardReportSelectAll = false;"
                            [disabled]="!patientWardReportSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(patientWardReportSelection,row) : null"
                        [checked]="tcUtilsArray.contains(patientWardReportSelection,row) || patientWardReportSelectAll"
                        [disabled]="patientWardReportSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container> <ng-container matColumnDef="patient_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{getPatientName(element.patient_id)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ward_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ward_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{getWardName(element.ward_id)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="report_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>report_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{getReport(element.report_id)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="encounter_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="patientWardReportNavigator.patient_ward_reportUrl(element.id)"
                        class="tc-link">{{element.id}}</a>

                </mat-cell>
            </ng-container> -->
            
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('patient_ward_reports') || tcAuthorization.canDelete('patient_ward_reports')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">
                        <button mat-menu-item (click)="editPatientWardReport(element)"
                            *ngIf="tcAuthorization.canUpdate('patient_ward_reports') ">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deletePatientWardReport(element)"
                            *ngIf="tcAuthorization.canDelete('patient_ward_reports')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container> <mat-header-row
                *matHeaderRowDef="patientWardReportsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: patientWardReportsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patientWardReportSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="patientWardReportsTotalCount"
            [ngStyle]="{display: patientWardReportsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>
