
    <mat-tab-group class="mat-elevation-z8" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged($event);">
      <mat-tab>
            <div class="tc-loading" *ngIf="ancHistoryIsLoading">
              <mat-spinner></mat-spinner>
            </div>
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-info-circle"
          ></mat-icon>
          <span>ANC History</span>
        </ng-template>
        <ng-template matTabContent>
          <mat-toolbar class="tc-toolbar-secondary">
            <h1 class="mat-heading">
              <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
              <!-- {{ appTranslation.getText("general", "overview") }} -->
            </h1>
            <button mat-button (click)="back()" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
            </button>
            <button mat-button (click)="reload()" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
            </button>
          </mat-toolbar>

          <div class="tc-flex-row tc-full-width">
            <div class="tc-equal-block">
              <div class="tc-padding">
                <mat-accordion>
                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title> ANC History Detail </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="!ancHistoryIsLoading">
                      <p class="tc-detail-field">
                        Date
                        <span>
                          {{
                            ancHistoryDetail.date_value * 1000
                              | date: "yyyy-MM-dd"
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        ACN Rge. No
                        <span> {{ ancHistoryDetail.acn_reg_no }} </span>
                      </p>
                      <p class="tc-detail-field">
                        LMP
                        <span>
                          {{
                            ancHistoryDetail.lmp_value && ancHistoryDetail.lmp_value * 1000
                              | date: "yyyy-MM-dd"
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        EDD
                        <span>
                          {{
                            ancHistoryDetail.edd_value &&  ancHistoryDetail.edd_value * 1000
                              | date: "yyyy-MM-dd"
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Gravida <span> {{ ancHistoryDetail.gravida }} </span>
                      </p>
                      <p class="tc-detail-field">
                        Para <span> {{ ancHistoryDetail.para }} </span>
                      </p>
                      <p class="tc-detail-field">
                        Number of Children alive
                        <span>
                          {{ ancHistoryDetail.number_of_children_alive }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Marital Status
                        <span>
                          {{
                            tcUtilsArray.getEnum(
                              ancHistoryPersist.MaritalStatus,
                              ancHistoryDetail.marital_status
                            )?.name
                          }}
                        </span>
                      </p>

                      <p class="tc-detail-field">
                        Major Finding/Problem
                        <span>
                          {{ ancHistoryDetail.major_finding }}
                        </span>
                      </p>

                      <p class="tc-detail-field">
                        Previous stillbirth of Neonatal loss?
                        <span>
                          {{
                            true == ancHistoryDetail.previous_stillbirth
                              ? "Yes"
                              : ( false == ancHistoryDetail.previous_stillbirth ?"No":"")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        History of more consecutive spontaneous abortions?
                        <span>
                          {{
                            true ==
                            ancHistoryDetail.history_of_three_consecutive_abortions
                              ? "Yes"
                              :( false ==
                              ancHistoryDetail.history_of_three_consecutive_abortions ? "No": "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Birth Weight of last baby &lt; 2500g
                        <span>
                          {{
                            true ==
                            ancHistoryDetail.birth_weight_last_baby_small
                              ? "Yes"
                              :(false ==
                              ancHistoryDetail.birth_weight_last_baby_small ? "No":"")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Birth weight of last baby &gt; 4500g
                        <span>
                          {{
                            true ==
                            ancHistoryDetail.birth_weight_last_baby_big
                              ? "Yes"
                              : (false ==
                              ancHistoryDetail.birth_weight_last_baby_big  ?"No": "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Last pregnancy: Hospital Admission for Hypertension of
                        per-eclampsia/eclampsia?
                        <span>
                          {{
                            true ==
                            ancHistoryDetail.last_pregnancy_admission_for_hypertension
                              ? "Yes"
                              : (false ==
                              ancHistoryDetail.last_pregnancy_admission_for_hypertension ? "No":'')
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Previous surgery on reproductive tract?
                        <span>
                          {{
                            true ==
                            ancHistoryDetail.previous_surgery_on_reproductive_tract
                              ? "Yes"
                              : (false ==
                              ancHistoryDetail.previous_surgery_on_reproductive_tract ? "No": "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Diagnosed or Suspected multiple pregnacy;
                        <span>
                          {{
                            true ==
                            ancHistoryDetail.diagnosed_multiple_pregnancy
                              ? "Yes"
                              : ( false ==
                              ancHistoryDetail.diagnosed_multiple_pregnancy ? "No": "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Age less than 16 years?
                        <span>
                          {{
                            true == ancHistoryDetail.age_less_than_sixteen
                              ? "Yes"
                              : (false == ancHistoryDetail.age_less_than_sixteen ? "No" : "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Age more than 40 years?
                        <span>
                          {{
                            true == ancHistoryDetail.age_more_than_fourty
                              ? "Yes"
                              : (false == ancHistoryDetail.age_more_than_fourty ? "No" : "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Isommurization Rh(-) in current of in previous
                        Pregnancy?
                        <span>
                          {{
                            true ==
                            ancHistoryDetail.isoimmunization_in_previous_pregnancy
                              ? "Yes"
                              : (false ==
                              ancHistoryDetail.isoimmunization_in_previous_pregnancy ? "No" :"")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Vaginal Bleeding
                        <span>
                          {{
                            true == ancHistoryDetail.vaginal_bleeding
                              ? "Yes"
                              :( false == ancHistoryDetail.vaginal_bleeding ? "No" : "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Pelvic Mass
                        <span>
                          {{
                            true == ancHistoryDetail.pelvic_mass ? "Yes" : (false == ancHistoryDetail.pelvic_mass ? "No" : "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Diastolic bood pressure 90mm Hg of more at looking
                        <span>
                          {{
                            true == ancHistoryDetail.diastolic_bp_ninety_mm
                              ? "Yes"
                              : (false == ancHistoryDetail.diastolic_bp_ninety_mm ? "No" : "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Diabetis Mellitus
                        <span>
                          {{
                            true == ancHistoryDetail.diabetes_mellitus
                              ? "Yes"
                              : (false == ancHistoryDetail.diabetes_mellitus ? "No" : "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Renal Disease
                        <span>
                          {{
                            true == ancHistoryDetail.renal_disease
                              ? "Yes"
                              : (false == ancHistoryDetail.renal_disease ? "No" :"")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Cardiac Disease
                        <span>
                          {{
                            true == ancHistoryDetail.cardiac_disease
                              ? "Yes"
                              : (false == ancHistoryDetail.cardiac_disease ?"No" : "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Chronic Hypertension
                        <span>
                          {{
                            true == ancHistoryDetail.chronic_hypertension
                              ? "Yes"
                              : (false == ancHistoryDetail.chronic_hypertension ? "No" :"")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Known 'Substance' abuse (including heavy alcohol
                        drinking and smoking)?
                        <span>
                          {{
                            true == ancHistoryDetail.known_substance_abuse
                              ? "Yes"
                              : (false == ancHistoryDetail.known_substance_abuse ? "No" : "")
                          }}
                        </span>
                      </p>
                      <p class="tc-detail-field">
                        Any Other Severe medical disease of condition TB, HIV,
                        Ca, DVT...?
                        <span>
                          {{
                            true == ancHistoryDetail.other_sever_desease
                              ? "Yes"
                              : (false == ancHistoryDetail.other_sever_desease ? "No" : "")
                          }}
                        </span>
                      </p>
                    </div>
                    <mat-action-row>
                      <button
                        mat-button
                        (click)="editAncHistory()"
                        *ngIf="tcAuthorization.canUpdate('anc_historys')"
                      >
                        {{ appTranslation.getText("general", "edit") }}
                      </button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="tc-equal-block"></div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="ANC Initial Evaluation" *ngIf="ancHistoryDetail.id">
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-person-pregnant"
          ></mat-icon>
          <span>ANC Initial Evaluation</span>
        </ng-template>
        <ng-template matTabContent>
          <app-anc_initial_evaluation-list
            [ancHistoryId]="ancHistoryDetail.id"
            (onResult)="OnAncInitialEvaluation($event)"
          >
          </app-anc_initial_evaluation-list>
        </ng-template>
      </mat-tab>

      <mat-tab label="Present Pregenancy Follow up" *ngIf="ancHistoryDetail.id">
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-person-pregnant"
          ></mat-icon>
          <span>Present Pregnancy Follow Up</span>
        </ng-template>
        <ng-template matTabContent>
          <app-present_pregnancy_follow_up-list
          [ancHistoryId]="ancHistoryDetail.id"
            (onResult)="OnPresentPregenancyResult($event)"
          >
          </app-present_pregnancy_follow_up-list>
        </ng-template>
      </mat-tab>

      <mat-tab label="Intrapartum Care" *ngIf="ancHistoryDetail.id">
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-person-pregnant"
          ></mat-icon>
          <span>Intrapartum Care</span>
        </ng-template>
        <ng-template matTabContent>
          <app-intrapartum_care-list
          [ancHistoryId]="ancHistoryDetail.id"
            (onResult)="OnIntrapartumCareResult($event)"
          >
          </app-intrapartum_care-list>
        </ng-template>
      </mat-tab>

      <mat-tab label="Delivery Summary" *ngIf="ancHistoryDetail.id">
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-person-pregnant"
          ></mat-icon>
          <span>Delivery Summary</span>
        </ng-template>
        <ng-template matTabContent>
          <app-delivery_summary-list
          [ancHistoryId]="ancHistoryDetail.id"
            (onResult)="OnDeliverySummaryResult($event)"
          >
          </app-delivery_summary-list>
        </ng-template>
      </mat-tab>

      <mat-tab label="Post Natal Care" *ngIf="ancHistoryDetail.id">
        <ng-template mat-tab-label class="tab-content">
          <mat-icon
            class="tab-icon"
            fontSet="fa"
            fontIcon="fa-person-pregnant"
          ></mat-icon>
          <span>Post Natal Care</span>
        </ng-template>
        <ng-template matTabContent>
          <app-post_natal_care-list
          [ancHistoryId]="ancHistoryDetail.id"
            (onResult)="OnPostNatalCare($event)"
          >
          </app-post_natal_care-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
