<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="intrapartumCareDetail">


    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput type="datetime-local" [(ngModel)]="date_and_time_of_admission">
            <mat-label>Date and time admission</mat-label>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Rupture of membranes" type="text"
                [(ngModel)]="intrapartumCareDetail.rupture_of_membranes">
        </mat-form-field>
        </div>
        <div [class.tc-flex-row]=true>
         <mat-form-field class="tc-full-stretch">
            <mat-label>Rupture of membranes time (HH:MM)</mat-label>
            <input matInput type="text" placeholder="00:00" pattern="[0-9]{2}:[0-9]{2}" [(ngModel)]="rupture_of_membranes_time">
        </mat-form-field>

        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Fatal heartbeat" type="number"
                [(ngModel)]="intrapartumCareDetail.fatal_heartbeat">
        </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Amniotic fluid" type="text" [(ngModel)]="intrapartumCareDetail.amniotic_fluid">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Moulding" type="text" [(ngModel)]="intrapartumCareDetail.moulding">
        </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Cervical dilation(cm)" type="number"
                [(ngModel)]="intrapartumCareDetail.cervical_dilation">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Contractions per 10 min" type="number"
                [(ngModel)]="intrapartumCareDetail.contractions_per_10_min">
        </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Oxytocin(U/L)" type="text" [(ngModel)]="intrapartumCareDetail.oxytocin_u_l">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Oxytocin(drops/min)" type="number"
                [(ngModel)]="intrapartumCareDetail.oxytocin_drops_min">
        </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Drugs and fluids given" type="text"
                [(ngModel)]="intrapartumCareDetail.drugs_and_fluids_given">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Pulse" type="number" [(ngModel)]="intrapartumCareDetail.pulse">
        </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
        <div class="tc-full-stretch tc-flex-row " style="justify-content: space-between;">
            <mat-form-field style="width:160px">
                <input matInput placeholder="SBP" type="number" [(ngModel)]="intrapartumCareDetail.sbp">
            </mat-form-field><div style="align-self: center; font-weight: bold;">/</div>
            <mat-form-field style="width: 160px" >
                <input matInput placeholder="DBP" type="number" [(ngModel)]="intrapartumCareDetail.dbp">
            </mat-form-field>
            </div>

        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Temprature" type="number" [(ngModel)]="intrapartumCareDetail.temprature">
        </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Urine protein" type="text" [(ngModel)]="intrapartumCareDetail.urine_protein">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Urine acetone" type="text" [(ngModel)]="intrapartumCareDetail.urine_acetone">
        </mat-form-field>
    </div>
    <div [class.tc-flex-row]=true>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Urine volume" type="text" [(ngModel)]="intrapartumCareDetail.urine_volume">
        </mat-form-field>
        <div class="tc-full-stretch"></div>
        </div>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>