<mat-list-item class="tc-menu__parent">
    <div class="tc-flex-row tc-full-width">
        <ng-content></ng-content>
        <div class="tc-flex-fill"></div>
        <mat-icon
                  fontSet="fa" fontIcon="fa-chevron-down"
                  [@indicatorRotate]="expanded ? 'expanded': 'collapsed'"
                  class="tc-menu__parent-indicator">
        </mat-icon>
    </div>
</mat-list-item>
