<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-store"></mat-icon>
    {{appTranslation.getText("employee", "store_employee")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchEmployees();" *ngIf="tcAuthorization.canRead('store_employees')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addEmployee();" *ngIf="tcAuthorization.canCreate('store_employees')" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="employeesSearchTextBox"
           placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="employeePersist.employeeSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="employeesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="employeesIsLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let employee of employeesData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('employees') || tcAuthorization.canDelete('store_employees')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editEmployee(employee)" *ngIf="tcAuthorization.canUpdate('store_employees')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteEmployee(employee)" *ngIf="tcAuthorization.canDelete('store_employees')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'first_name')}}</span>
          <a [routerLink]="employeeNavigator.employeeUrl(employee.id)"
             class="tc-link">{{employee.first_name}}</a>
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'last_name')}}</span>
          {{employee.last_name}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'middle_name')}}</span>
          {{employee.middle_name}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'email')}}</span>
          {{employee.email}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'telephone')}}</span>
          {{employee.telephone}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'gender')}}</span>
          {{ employee.is_male ? appTranslation.getText("general", "male") : appTranslation.getText("general", "female") }}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'birthdate')}}</span>
          {{ tcUtilsDate.toDate(employee.birth_date)|date:'MMM dd, yyyy. h:mm a'}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('general', 'address')}}</span>
          {{employee.address}}
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'store')}}</span>
          <a
            [routerLink]="storeNavigator.storeUrl(employee.store_id)"
            routerLinkActive="router-link-active"
          >
            {{ this.tcUtilsArray.getById(this.stores, employee.store_id)?.name }}
          </a>
        </div>
        <div class="tc-detail-field">
          <span>{{appTranslation.getText('inventory', 'is_store_manager')}}</span>
          <mat-icon *ngIf="employee.is_store_manager">done</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="employeesSelection.length >0 || employeesSelectAll">
      <button mat-button (click)="downloadEmployees()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{employeesSelectAll ? employeesTotalCount : employeesSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
    </mat-toolbar>

    <mat-table [dataSource]="employeesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(employeesData,employeesSelection) "
            [checked]=" tcUtilsArray.isAllSelected(employeesData,employeesSelection) || employeesSelectAll"
            [indeterminate]="employeesSelection.length <employeesData.length && employeesSelection.length>0"
            [disabled]="employeesSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="employeesSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #employeesSelectAllMenu="matMenu">


            <button mat-menu-item
                    (click)="employeesSelectAll=true;"
                    [disabled]="employeesSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item
                    (click)="employeesSelectAll = false;"
                    [disabled]="!employeesSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(employeesSelection,row) : null"
                        [checked]="tcUtilsArray.contains(employeesSelection,row) || employeesSelectAll"
                        [disabled]="employeesSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="employeeNavigator.employeeUrl(element.id)"
             class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'first_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="employeeNavigator.employeeUrl(element.id)"
             class="tc-link">{{element.first_name}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'last_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.last_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="middle_name">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'middle_name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.middle_name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'email')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'telephone')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.telephone}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_male">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'gender')}}</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{element.is_male ? appTranslation.getText("general", "male") : appTranslation.getText("general", "female")}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="birth_date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'birthdate')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ tcUtilsDate.toDate(element.birth_date)|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('general', 'address')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="store_id">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText('inventory', 'store')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a
            [routerLink]="storeNavigator.storeUrl(element.store_id)"
            routerLinkActive="router-link-active"
          >
            {{ this.tcUtilsArray.getById(this.stores, element.store_id)?.name }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_store_manager">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>{{appTranslation.getText("inventory", "manager")}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.is_store_manager">done</mat-icon>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                  *ngIf="tcAuthorization.canUpdate('employees') || tcAuthorization.canDelete('store_employees')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editEmployee(element)" *ngIf="tcAuthorization.canUpdate('store_employees') ">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general", "edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteEmployee(element)" *ngIf="tcAuthorization.canDelete('store_employees')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general", "delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="employeesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: employeesDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(employeesSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="employeesTotalCount"
                   [ngStyle]="{display: employeesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
