
  <ng-template #body>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="beforePatientLeavesOperatingRoomDetail">
    <mat-label class="labels">Nurse Verbally Confirms:</mat-label> <br /><br />

    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="beforePatientLeavesOperatingRoomDetail.name_of_the_procedure"
      name="name_of_the_procedure"
    >
      &nbsp;<mat-radio-button value="name_of_the_procedure"
        >The name of the procedure</mat-radio-button
      >
    </mat-radio-group>
    <br />

    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="
        beforePatientLeavesOperatingRoomDetail.completion_of_instrument_sponge_and_needle_counts
      "
      name="completion_of_instrument_sponge_and_needle_counts"
    >
      &nbsp;<mat-radio-button
        value="completion_of_instrument_sponge_and_needle_counts"
        >Completion of instrument, sponge and needle counts</mat-radio-button
      >
    </mat-radio-group>

    <br />

    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="beforePatientLeavesOperatingRoomDetail.specimen_labelling"
      name="specimen_labelling"
    >
      &nbsp;<mat-radio-button value="specimen_labelling"
        >Specimen labelling (read specimen labels aloud, including patient
        name)</mat-radio-button
      >
    </mat-radio-group>
    <br />

    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="
        beforePatientLeavesOperatingRoomDetail.equipment_problems_to_be_addressed
      "
      name="equipment_problems_to_be_addressed"
    >
      &nbsp;<mat-radio-button value="equipment_problems_to_be_addressed"
        >Whether there are any equipment problems to be
        addressed</mat-radio-button
      >
    </mat-radio-group>
    <br /><br />

    <mat-label class="labels">To Surgeon, Anaesthetist and Nurse:</mat-label>
    <br /><br />

    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="
        beforePatientLeavesOperatingRoomDetail.key_concerns_for_recovery
      "
      name="key_concerns_for_recovery"
    >
      &nbsp;<mat-radio-button value="key_concerns_for_recovery"
        >What are the key concerns for recovery and management of this patient? </mat-radio-button
      >
    </mat-radio-group>
    <br><br>
  </div>
  </ng-template>

  <div class="tc-flex-row" *ngIf="!id">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{ title }}
    </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content  *ngIf="!id">
    <ng-container *ngTemplateOutlet="body"> </ng-container>
</div>


<div *ngIf="id">
  <ng-container *ngTemplateOutlet="body"> </ng-container>
  <mat-action-row>
    <button mat-button (click)="onUpdate()"  
    [disabled]="!canSubmit()" *ngIf="tcAuthorization.canUpdate('before_patient_leaves_operating_rooms') ">
      {{appTranslation.getText("general", "save")}}
    </button>
  </mat-action-row>
</div>

<div mat-dialog-actions *ngIf="!id">
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
