<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <div class="tc-padding">
        <h1 class="mat-headline ">{{mailDetail.subject}}</h1>
        <span class="tc-text-muted ">From: {{mailDetail.sender_email}}</span><br>
        <span class="tc-text-muted ">To: {{mailDetail.recipient_email}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == mailTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = mailTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>

    </div>
    <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>





    <div [ngClass]="activeTab==mailTabs.overview? '':'tc-hidden'">

      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general","overview")}}
        </h1>
      </mat-toolbar>
      <div class="tc-padding">
        <mat-accordion>

          <mat-expansion-panel expanded="true">
      
                <p class="tc-detail-field">
                  <span>subject </span>
                  {{mailDetail.subject}}
                </p>

                <p class="tc-detail-field">
                  <span>sender_id </span>
                  {{mailDetail.sender_id}}
                </p>

                <p class="tc-detail-field">
                  <span>sender_email </span>
                  {{mailDetail.sender_email}}
                </p>

                <p class="tc-detail-field">
                  <span>recipient_id </span>
                  {{mailDetail.recipient_id}}
                </p>

                <p class="tc-detail-field">
                  <span>recipient_email </span>
                  {{mailDetail.recipient_email}}
                </p>

                <p class="tc-detail-field">
                  <span>is_html </span>
                  {{mailDetail.is_html}}
                </p>

                <p class="tc-detail-field">
                  <span>has_attachments </span>
                  {{mailDetail.has_attachments}}
                </p>

                <p class="tc-detail-field">
                  <span>submission_time </span>
                  {{mailDetail.submission_time}}
                </p>

                <p class="tc-detail-field">
                  <span>sending_time </span>
                  {{mailDetail.sending_time}}
                </p>

                <p class="tc-detail-field">
                  <span>is_sent </span>
                  {{mailDetail.is_sent}}
                </p>

                <p class="tc-detail-field">
                  <span>is_failed </span>
                  {{mailDetail.is_failed}}
                </p> 
     
            <mat-action-row>
              <button mat-button (click)="editMail()">
                {{appTranslation.getText("general", "edit")}}
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>