
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     medical_checkup_service  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchMedicalCheckupServices();" *ngIf="tcAuthorization.canRead('medical_checkup_services')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addMedicalCheckupService();" *ngIf="tcAuthorization.canCreate('medical_checkup_services')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
    <div
              class="deposit-remaining"
            >
              <span>Estimated Total Price</span>
              <p>{{total_price}} Birr</p>
          </div>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="medicalCheckupServiceSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="medicalCheckupServicePersist.medicalCheckupServiceSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="medicalCheckupServiceSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="medicalCheckupServiceIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let medicalCheckupService of medicalCheckupServicesData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('medical_checkup_services') || tcAuthorization.canDelete('medical_checkup_services')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editMedicalCheckupService(medicalCheckupService)" *ngIf="tcAuthorization.canUpdate('medical_checkup_services')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMedicalCheckupService(medicalCheckupService)" *ngIf="tcAuthorization.canDelete('medical_checkup_services')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>medical_checkup_package_id</span>
            {{medicalCheckupService.medical_checkup_package_id}}
          </div><div class="tc-detail-field">
            <span>service_type</span>
            {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(feePersist.fee_type, medicalCheckupService.service_type).name)}}
          </div><div class="tc-detail-field">
            <span>target_id</span>
            {{medicalCheckupService.target_name}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchMedicalCheckupServices.length >0 || medicalCheckupServiceSelectAll">
        <button mat-button (click)="downloadMedicalCheckupServices()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{medicalCheckupServiceSelectAll ? medicalCheckupServicesTotalCount : medicalCheckupServiceSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="medicalCheckupServicesData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(medicalCheckupServicesData,medicalCheckupServiceSelection) "
              [checked]=" tcUtilsArray.isAllSelected(medicalCheckupServicesData,medicalCheckupServiceSelection) || medicalCheckupServiceSelectAll"
              [indeterminate]="medicalCheckupServiceSelection.length <medicalCheckupServicesData.length && medicalCheckupServiceSelection.length>0"
              [disabled]="medicalCheckupServiceSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="medicalCheckupServiceSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #medicalCheckupServiceSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="medicalCheckupServiceSelectAll=true;" [disabled]="medicalCheckupServiceSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="medicalCheckupServiceSelectAll = false;" [disabled]="!medicalCheckupServiceSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(medicalCheckupServiceSelection,row) : null"
              [checked]="tcUtilsArray.contains(medicalCheckupServiceSelection,row) || medicalCheckupServiceSelectAll" [disabled]="medicalCheckupServiceSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="medical_checkup_package_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>medical_checkup_package_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.medical_checkup_package_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="service_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Service Type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(feePersist.fee_type, element.service_type).name)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="target_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.target_name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="medicalCheckupServiceNavigator.medicalCheckupServiceUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('medical_checkup_services') || tcAuthorization.canDelete('medical_checkup_services')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editMedicalCheckupService(element)" *ngIf="tcAuthorization.canUpdate('medical_checkup_services') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteMedicalCheckupService(element)" *ngIf="tcAuthorization.canDelete('medical_checkup_services')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="medicalCheckupServicesDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: medicalCheckupServicesDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(medicalCheckupServiceSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="medicalCheckupServicesTotalCount"
        [ngStyle]="{display: medicalCheckupServicesTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  