.deposit-remaining {
    background-color: #00000052;
    margin-left: auto;
    border-radius: 20px;
    width: 12em;
    padding: 6px 20px;
    text-align: left;
    line-height: 19px;
    text-align: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    border: 2px solid white;

}

.deposit-remaining span {
    
    color: #f79b40;
    font-size: small;
    /* margin-bottom: 8px; */
    display: block;

}

.deposit-remaining p {
    font-size: small;
    margin: 0;
    padding: 0;
    text-align: center;
}