<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
    class="tc-sidebar mat-elevation-z8" position="end">

    <div class="tc-sidebar-inner">
      <div class="tc-padding">
        <h1 class="mat-headline ">Case Detail</h1>
        <span class="tc-text-muted ">{{caseDetail.case_type_id}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item [ngClass]="activeTab == caseTabs.overview? 'tc-list-item-focus':''"
          (click)="activeTab = caseTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
          <a>
            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
            {{appTranslation.getText("general", "overview")}}
          </a>
        </mat-list-item>
      </mat-nav-list>

    </div>
    <p *ngIf="tcUtilsAngular.smallDevice">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>



    <div [ngClass]="activeTab==caseTabs.overview? '':'tc-hidden'">

      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general","overview")}}
        </h1>
      </mat-toolbar>
      <div class="tc-padding">
        <mat-accordion>

          <mat-expansion-panel expanded="true">
            <p class="tc-detail-field">
              <span>case_type_id </span>
              {{caseDetail.case_type_id}}
            </p>

            <p class="tc-detail-field">
              <span>is_closed </span>
              {{caseDetail.is_closed}}
            </p>

            <p class="tc-detail-field">
              <span>case_state_id </span>
              {{caseDetail.case_state_id}}
            </p>

            <p class="tc-detail-field">
              <span>target_id </span>
              {{caseDetail.target_id}}
            </p>

            <p class="tc-detail-field">
              <span>creation_time </span>
              {{caseDetail.creation_time}}
            </p>

            <p class="tc-detail-field">
              <span>last_update </span>
              {{caseDetail.last_update}}
            </p>
            <mat-action-row>

              <button mat-button (click)=" editCase(); tcUtilsAngular.smallDevice? sidenav.toggle():false">
                <mat-icon>edit</mat-icon>
                {{appTranslation.getText("general","edit")}}
              </button>
      
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>