<h1 mat-dialog-title>
  credit_payment_history Selection
</h1><div mat-dialog-content>  <mat-form-field>
  <input matInput [formControl]="creditPaymentHistorySearchTextBox"
         placeholder='{{appTranslation.getText("general","search_text")}} '>
  <button mat-button *ngIf="creditPaymentHistoryPersist.creditPaymentHistorySearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="creditPaymentHistorySearchTextBox.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="tc-loading" *ngIf="creditPaymentHistoryIsLoading">
  <mat-spinner></mat-spinner>
</div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
  <mat-card *ngFor="let creditPaymentHistory of creditPaymentHistorysData" class="tc-card">
  <mat-card-content>
    <div class="tc-detail-field">
      <span>patient_id</span>
      {{creditPaymentHistory.patient_id}}
    </div><div class="tc-detail-field">
    <span>user_id</span>
    {{creditPaymentHistory.user_id}}
  </div><div class="tc-detail-field">
    <span>credit_payment_id</span>
    {{creditPaymentHistory.credit_payment_id}}
  </div><div class="tc-detail-field">
    <span>type</span>
    {{creditPaymentHistory.type}}
  </div><div class="tc-detail-field">
    <span>amount</span>
    {{creditPaymentHistory.amount}}
  </div><div class="tc-detail-field">
    <span>date</span>
    {{creditPaymentHistory.date}}
  </div>
  </mat-card-content>
  </mat-card>
</div>
<div class="tc-table-container tc-full-width">

<mat-table [dataSource]="creditPaymentHistorysData" matSort class="tc-hide-on-mobile">

  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef class="tc-column-selection">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)=" tcUtilsArray.toggleSelectAll(creditPaymentHistorysData,creditPaymentHistorySelection) "
                    [checked]=" tcUtilsArray.isAllSelected(creditPaymentHistorysData,creditPaymentHistorySelection) || creditPaymentHistorySelectAll"
                    [indeterminate]="creditPaymentHistorySelection.length <creditPaymentHistorysData.length && creditPaymentHistorySelection.length>0"
                    [disabled]="creditPaymentHistorySelectAll">
      </mat-checkbox>

      <button mat-icon-button>
        <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="creditPaymentHistorySelectAllMenu"></mat-icon>
      </button>
      <mat-menu #creditPaymentHistorySelectAllMenu="matMenu">

        <button mat-menu-item (click)="creditPaymentHistorySelectAll=true;" [disabled]="creditPaymentHistorySelectAll">
          {{appTranslation.getText("general", "all")}}
        </button>
        <button mat-menu-item (click)="creditPaymentHistorySelectAll = false;" [disabled]="!creditPaymentHistorySelectAll">
          {{appTranslation.getText("general", "none")}}
        </button>
      </mat-menu>

    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="tc-column-selection">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? tcUtilsArray.toggleSelection(creditPaymentHistorySelection,row) : null"
                    [checked]="tcUtilsArray.contains(creditPaymentHistorySelection,row) || creditPaymentHistorySelectAll" [disabled]="creditPaymentHistorySelectAll">
      </mat-checkbox>
    </mat-cell>
  </ng-container>  <ng-container matColumnDef="patient_id">
  <mat-header-cell *matHeaderCellDef mat-sort-header>patient_id
  </mat-header-cell>
  <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
</ng-container>
  <ng-container matColumnDef="user_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>user_id
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.user_id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="credit_payment_id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>credit_payment_id
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.credit_payment_id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>type
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>amount
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>date
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="creditPaymentHistorysDisplayedColumns; sticky: true; "></mat-header-row>
  <mat-row *matRowDef="let row; columns: creditPaymentHistorysDisplayedColumns;"
           [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(creditPaymentHistorySelection,row)}"></mat-row>

</mat-table>

  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                 [pageSize]="tcUtilsArray.defaultPageSize" [length]="creditPaymentHistorysTotalCount"
                 [ngStyle]="{display: creditPaymentHistorysTotalCount > 0? '':'none'}"></mat-paginator>
</div>
</div><div mat-dialog-actions>
<button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
<button mat-button (click)="returnSelected()"
        [disabled]=" creditPaymentHistorySelection.length == 0 "
        cdkFocusInitial>
  {{appTranslation.getText("general","return_selection")}}
</button>
</div>
