@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~typeface-roboto/index.css";
@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.no-page-size .mat-paginator-page-size {
    display: none !important;
    align-items: baseline;
    margin-right: 8px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: white;

}
.ng-placeholder{
    color: gray;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input{
    width: 156px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
white-space: normal !important;
height: 20px;
}

.expired-row,.expired-row .mat-flat-button,.expired-row .mat-cell, .expired-row .tc-link {
    color: red !important;
  }
  .expired-row .tc-link:hover{
    color: red !important;
  }
  .nearly-expired-row,.nearly-expired-row .mat-flat-button,.nearly-expired-row .mat-cell, .mat-footer-cell, .nearly-expired-row .tc-link {
    color: orange !important;
  }
  .nearly-expired-row .tc-link:hover{
    color: orange !important;
  }
  .notice-expired-row,.notice-expired-row .mat-flat-button,.notice-expired-row .mat-cell, .mat-footer-cell,.notice-expired-row .tc-link {
    color: blue !important;
  }
  .notice-expired-row .tc-link:hover{
    color: blue !important;
  }

  .notice-expired-row,.notice-expired-row .mat-flat-button,.notice-expired-row .mat-cell, .mat-footer-cell {
    color: rgb(17, 0, 255);
  }

  video {
    width: 100%;
    height: 100%;
  }
  .input-width .mat-form-field-infix{
    width: 100%;
}

 .tc-padding .mat-checkbox-inner-container {
      margin-top: 4px !important;
  }

  .mat-input-element[type=datetime-local]::after{
    content: '' !important;
  }


  .custom-card .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
    background-color: #ff4081;
  }

  .custom-card .mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-outer-circle{
    border-color: #ff4081; 
  }
  
  .mat-radio-button.mat-radio-disabled .mat-radio-label-content {
    color: #080202;
  }


 .custom-card .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:  #ff4081;
  }

  .mat-checkbox-disabled .mat-checkbox-label {
    color: #080202;
  }