

            <div class="tc-loading" *ngIf="procedureTemplateIsLoading">
                    <mat-spinner></mat-spinner>
            </div>

            <div [ngClass]="activeTab==procedureTemplateTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                </mat-toolbar>

                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>

                                        <div *ngIf="!procedureTemplateIsLoading">
                                          <p>Template</p>
                                          <ckeditor [editor]="Editor" [config]="{placeholder: 'Technical Summary', toolbar: []}" [disabled]="true" #editor [(ngModel)]="procedureTemplateDetail.template"></ckeditor>
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editProcedureTemplate()" *ngIf="tcAuthorization.canUpdate('procedure_templates') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>

                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>

                <div class="profile-picture" style="width: 400px; margin: auto;">
                  <p-avatar class="rectangle"  [(image)]="procedureTemplateDetail.download_key" abel="P" shape="rectangle" size="xlarge"></p-avatar>
                  <div>
                    <span style="margin-right: 16px">Image:</span>
                  <button mat-button class="actionBtn"  (click)="documentUploadInput1.click()"><span  >Upload</span></button>
                  <button mat-button class="actionBtn"  (click)="takePic()"><span  >Camera</span></button>
                  </div>
                  <input #documentUploadInput1 hidden="true" type="file" onclick="this.value=null" accept="{{filePersist.allowedDocumentFilter}}"
                  (change)="documentUpload($event)"/>

                </div>

            </div>



