<h1 mat-dialog-title>Lab Test Normal Range Selection</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="machineTestSearchTextBox"
            placeholder="{{ appTranslation.getText('general', 'search_text') }} " />
        <button mat-button *ngIf="machineTestPersist.searchMachineTest" matSuffix mat-icon-button aria-label="Clear"
            (click)="machineTestSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="machineTestIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-table-container tc-full-width">
        <mat-table [dataSource]="machineTestsData" matSort class="tc-hide-on-mobile">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="
              tcUtilsArray.toggleSelectAll(
                machineTestsData,
                machineTestSelection
              )
            " [checked]="
              tcUtilsArray.isAllSelected(
                machineTestsData,
                machineTestSelection
              ) || machineTestSelectAll
            " [indeterminate]="
              machineTestSelection.length < machineTestsData.length &&
              machineTestSelection.length > 0
            " [disabled]="machineTestSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                            [matMenuTriggerFor]="machineTestSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #machineTestSelectAllMenu="matMenu">
                        <button mat-menu-item (click)="machineTestSelectAll = true" [disabled]="machineTestSelectAll">
                            {{ appTranslation.getText("general", "all") }}
                        </button>
                        <button mat-menu-item (click)="machineTestSelectAll = false" [disabled]="!machineTestSelectAll">
                            {{ appTranslation.getText("general", "none") }}
                        </button>
                    </mat-menu>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="
              $event
                ? tcUtilsArray.toggleSelection(machineTestSelection, row)
                : null
            " [checked]="
              tcUtilsArray.contains(machineTestSelection, row) ||
              machineTestSelectAll
            " [disabled]="machineTestSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{
                    element.date * 1000 | date
                    }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="machineTestsDisplayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: machineTestsDisplayedColumns" [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(machineTestSelection, row)
        }"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="machineTestsTotalCount"
            [ngStyle]="{ display: machineTestsTotalCount > 0 ? '' : 'none' }"></mat-paginator>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">
        {{ appTranslation.getText("general", "cancel") }}
    </button>
    <button mat-button (click)="returnSelected()" [disabled]="machineTestSelection.length == 0" cdkFocusInitial>
        {{ appTranslation.getText("general", "return_selection") }}
    </button>
</div>