
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-flask"></mat-icon>
      {{appTranslation.getText("patient", "orders_given")}}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchLab_Orders();" *ngIf="tcAuthorization.canRead('order_givens')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>

  </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
            <div class="tc-padding">
                <mat-accordion>
                      <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{appTranslation.getText("patient", "Lab_orders")}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="tc-padding">
                          <mat-form-field>
                            <input matInput [formControl]="lab_ordersSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
                            <button mat-button *ngIf="lab_orderPersist.lab_orderSearchText" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="lab_ordersSearchTextBox.setValue('')">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-select placeholder='Type'
                                        [(value)]="lab_orderPersist.lab_order_typeId"
                                        (valueChange)="searchLab_Orders()">
                              <mat-option *ngFor="let status of lab_orderPersist.lab_order_type" [value]="status.id">
                                {{appTranslation.getText('procedure', status?.name)}}
                              </mat-option>
                            </mat-select>

                            <button mat-button *ngIf='lab_orderPersist.lab_order_typeId' matSuffix mat-icon-button
                                    aria-label="Clear"
                                    (click)="lab_orderPersist.lab_order_typeId = null;searchLab_Orders();$event.stopPropagation()">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                          <div class="tc-loading" *ngIf="lab_ordersIsLoading">
                            <mat-spinner></mat-spinner>
                          </div>

                          <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
                            <mat-card *ngFor="let lab_order of lab_ordersData" class="tc-card" >
                                    <mat-card-header>
                                          <mat-card-title> <a [routerLink]="lab_orderNavigator.lab_orderUrl(lab_order.id)"
                                                                                        class="tc-link">{{lab_order.id}}</a>
                                                                                        <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('order_givens') || tcAuthorization.canDelete('order_givens')">
                                                                                                        <i class="material-icons">more_vert</i>
                                                                                                      </button>
                                                                                                      <mat-menu #elementMenu="matMenu">

                                                                                                        <button mat-menu-item (click)="editLab_Order(lab_order)" *ngIf="tcAuthorization.canUpdate('order_givens')">
                                                                                                          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                                          <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                                        </button>
                                                                                                        <button mat-menu-item (click)="deleteLab_Order(lab_order)" *ngIf="tcAuthorization.canDelete('order_givens')">
                                                                                                          <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                                          <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                                        </button>
                                                                                                      </mat-menu>
                                                                                        </mat-card-title>
                                          <mat-card-subtitle></mat-card-subtitle>
                                     </mat-card-header>
                                    <mat-card-content>
                                        <div class="tc-detail-field">
                                <span>{{appTranslation.getText('general','name')}}</span>
                                {{lab_order.name}}
                              </div>
                    <div class="tc-detail-field">
                                <span>{{appTranslation.getText('general','type')}}</span>
                                {{lab_order.type}}
                              </div>
                                    </mat-card-content>
                            </mat-card>
                          </div>

                          <div class="tc-table-container tc-full-width">

                            <mat-toolbar *ngIf="lab_ordersSelection.length >0 || lab_ordersSelectAll">
                                      <div class="tc-flex-fill"></div>
                                      <span>{{lab_ordersSelectAll ? lab_ordersTotalCount : lab_ordersSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
                            </mat-toolbar>

                            <mat-table [dataSource]="lab_ordersData" matSort class="tc-hide-on-mobile">

                              <ng-container matColumnDef="select">
                                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                                  <mat-checkbox
                                    (click)="$event.stopPropagation()"
                                    (change)=" tcUtilsArray.toggleSelectAll(lab_ordersData,lab_ordersSelection) "
                                    [checked]="tcUtilsArray.isAllSelected(lab_ordersData,lab_ordersSelection) || lab_ordersSelectAll"
                                    [indeterminate]="lab_ordersSelection.length <lab_ordersData.length && lab_ordersSelection.length>0"
                                    [disabled]="lab_ordersSelectAll">
                                  </mat-checkbox>

                                  <button mat-icon-button>
                                    <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="lab_ordersSelectAllMenu"></mat-icon>
                                  </button>
                                  <mat-menu #lab_ordersSelectAllMenu="matMenu">


                                    <button mat-menu-item
                                            (click)="lab_ordersSelectAll=true;"
                                            [disabled]="lab_ordersSelectAll">
                                      {{appTranslation.getText("general", "all")}}
                                    </button>
                                    <button mat-menu-item
                                            (click)="lab_ordersSelectAll = false;"
                                            [disabled]="!lab_ordersSelectAll">
                                      {{appTranslation.getText("general", "none")}}
                                    </button>
                                  </mat-menu>

                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="tc-column-selection">
                                  <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="tcUtilsArray.toggleSelectAll(lab_ordersData,lab_ordersSelection)"
                                                [checked]="tcUtilsArray.contains(lab_ordersSelection,row) || lab_ordersSelectAll"
                                                [disabled]="lab_ordersSelectAll">
                                  </mat-checkbox>
                                </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                                    <mat-cell *matCellDef="let element">

                                                      <a [routerLink]="lab_orderNavigator.lab_orderUrl(element.id)"
                                                      class="tc-link">{{element.name}}</a>
                                                    </mat-cell>
                                                 </ng-container>

                                                 <ng-container matColumnDef="type">
                                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','type')}}</mat-header-cell>
                                                  <mat-cell *matCellDef="let element">
                                                    {{appTranslation.getText('procedure', tcUtilsArray.getEnum(lab_orderPersist.lab_order_type,element.type)?.name)}}
                                                  </mat-cell>
                                               </ng-container>


                              <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                                <mat-cell *matCellDef="let element" class="tc-column-action">
                                  <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('order_givens') || tcAuthorization.canDelete('order_givens')">
                                    <i class="material-icons">more_vert</i>
                                  </button>
                                  <mat-menu #elementMenu="matMenu">

                                    <button mat-menu-item (click)="editLab_Order(element)" *ngIf="tcAuthorization.canUpdate('order_givens') ">
                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                    </button>
                                    <button mat-menu-item (click)="updateActveness(element, 'freeze')" *ngIf="tcAuthorization.canUpdate('order_givens') && element.status == activnessStatus.active ">
                                      <mat-icon fontSet="fa" fontIcon="fa-comment-slash"></mat-icon>
                                      <span>{{appTranslation.getText("inventory","freeze")}} </span>
                                    </button>
                                    <button mat-menu-item (click)="updateActveness(element, 'active')" *ngIf="tcAuthorization.canUpdate('order_givens') && element.status == activnessStatus.freeze">
                                      <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
                                      <span>{{appTranslation.getText("users","active")}} </span>
                                    </button>
                                    <button mat-menu-item (click)="deleteLab_Order(element)" *ngIf="tcAuthorization.canDelete('order_givens')">
                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                    </button>
                                  </mat-menu>
                                </mat-cell>
                              </ng-container>


                              <mat-header-row *matHeaderRowDef="lab_ordersDisplayedColumns; sticky: true; "></mat-header-row>
                              <mat-row *matRowDef="let row; columns: lab_ordersDisplayedColumns;"
                                       [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(lab_ordersSelection,row)}"></mat-row>

                            </mat-table>

                            <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                                           [pageSize]="tcUtilsArray.defaultPageSize"
                                           [length]="lab_ordersTotalCount"
                                           [ngStyle]="{display: lab_ordersTotalCount > 0? '':'none'}"></mat-paginator>
                          </div>
                        </div>
                        <mat-action-row>
                          <button mat-button (click)=" addLab_Order();" *ngIf="tcAuthorization.canCreate('order_givens')" class="tc-link">
                            <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
                        </button>
                         </mat-action-row>

                       </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>


        <div class="tc-equal-block">
            <app-lab-panel-list></app-lab-panel-list>
        </div>
    </div>

    <div class="tc-flex-row tc-full-width">
      <div class="tc-equal-block">

      </div>
      <div class="tc-equal-block">
          <app-lab-test-list></app-lab-test-list>
      </div>
  </div>
