
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-prescription-bottle"></mat-icon>
     prescription request by patient  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPrescriptionRequests();" *ngIf="tcAuthorization.canRead('prescription_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <!-- <button mat-button (click)=" addPrescriptionRequest();" *ngIf="tcAuthorization.canCreate('prescription_requests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button> -->
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="prescriptionRequestByPatientSearchText"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="prescriptionRequestPersist.prescriptionRequestByPatientSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="prescriptionRequestByPatientSearchText.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          '{{appTranslation.getText("general", "date")}}'
        [formControl]="prescriptionRequestPersist.date"
        [matDatepicker]="date_of_schedule"
      />
  
      <mat-datepicker-toggle
        matSuffix
        [for]="date_of_schedule"
      ></mat-datepicker-toggle>
      <mat-datepicker #date_of_schedule disabled="false"></mat-datepicker>
      <button mat-button *ngIf="prescriptionRequestPersist.date.value !== ''" matSuffix mat-icon-button
        aria-label="Clear" (click)="prescriptionRequestPersist.date.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="prescriptionRequestPersist.store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="prescriptionRequestPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="prescriptionRequestPersist.store_id = null; prescriptionRequestPersist.store_name = null ; searchPrescriptionRequests()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="prescriptionRequestIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let prescriptionRequest of prescriptionRequestsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('prescription_requests') || tcAuthorization.canDelete('prescription_requests')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPrescriptionRequest(prescriptionRequest)" *ngIf="tcAuthorization.canUpdate('prescription_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePrescriptionRequest(prescriptionRequest)" *ngIf="tcAuthorization.canDelete('prescription_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>id</span>
            {{prescriptionRequest.pid}}
          </div><div class="tc-detail-field">
            <span>patient_name</span>
            {{prescriptionRequest.patient_name}}
          </div><div class="tc-detail-field">
            <span>requested</span>
            {{prescriptionRequest.requested}}
          </div><div class="tc-detail-field">
            <span>dispatched</span>
            {{prescriptionRequest.dispatched}}
          </div>       
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPrescriptionRequests.length >0 || prescriptionRequestSelectAll">
        <button mat-button (click)="downloadPrescriptionRequests()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{prescriptionRequestSelectAll ? prescriptionRequestsTotalCount : prescriptionRequestSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="prescriptionRequestsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(prescriptionRequestsData,prescriptionRequestSelection) "
              [checked]=" tcUtilsArray.isAllSelected(prescriptionRequestsData,prescriptionRequestSelection) || prescriptionRequestSelectAll"
              [indeterminate]="prescriptionRequestSelection.length <prescriptionRequestsData.length && prescriptionRequestSelection.length>0"
              [disabled]="prescriptionRequestSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="prescriptionRequestSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #prescriptionRequestSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="prescriptionRequestSelectAll=true;" [disabled]="prescriptionRequestSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="prescriptionRequestSelectAll = false;" [disabled]="!prescriptionRequestSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(prescriptionRequestSelection,row) : null"
              [checked]="tcUtilsArray.contains(prescriptionRequestSelection,row) || prescriptionRequestSelectAll" [disabled]="prescriptionRequestSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="patient_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="prescriptionRequestNavigator.prescriptionRequestByPatientUrl(element.patient_id)" class="tc-link">
            {{element.patient_name}}
        </a>
        </mat-cell>
        </ng-container>
    <ng-container matColumnDef="requested">
          <mat-header-cell *matHeaderCellDef mat-sort-header>requested
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.requested}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="dispatched">
          <mat-header-cell *matHeaderCellDef mat-sort-header>dispatched
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.dispatched}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="prescriptionRequestNavigator.prescriptionRequestUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('prescription_requests') || tcAuthorization.canDelete('prescription_requests')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editPrescriptionRequest(element)" *ngIf="tcAuthorization.canUpdate('prescription_requests') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePrescriptionRequest(element)" *ngIf="tcAuthorization.canDelete('prescription_requests')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="prescriptionRequestsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: prescriptionRequestsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(prescriptionRequestSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="prescriptionRequestsTotalCount"
        [ngStyle]="{display: prescriptionRequestsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  