
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     pathology_result  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPathologyResults();" *ngIf="tcAuthorization.canRead('pathology_results')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addPathologyResult();" *ngIf="tcAuthorization.canCreate('pathology_results')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="pathologyResultSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="pathologyResultPersist.pathologyResultSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="pathologyResultSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="pathologyResultIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let pathologyResult of pathologyResultsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('pathology_results') || tcAuthorization.canDelete('pathology_results')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editPathologyResult(pathologyResult)" *ngIf="tcAuthorization.canUpdate('pathology_results')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePathologyResult(pathologyResult)" *ngIf="tcAuthorization.canDelete('pathology_results')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>clinical_finding</span>
            {{pathologyResult.clinical_finding}}
          </div><div class="tc-detail-field">
            <span>gross_examination</span>
            {{pathologyResult.gross_examination}}
          </div><div class="tc-detail-field">
            <span>microscopic_evaluation</span>
            {{pathologyResult.microscopic_evaluation}}
          </div><div class="tc-detail-field">
            <span>conclusion</span>
            {{pathologyResult.conclusion}}
          </div><div class="tc-detail-field">
            <span>comment</span>
            {{pathologyResult.comment}}
          </div><div class="tc-detail-field">
            <span>selected_order_id</span>
            {{pathologyResult.selected_order_id}}
          </div><div class="tc-detail-field">
            <span>result_file_id</span>
            {{pathologyResult.result_file_id}}
          </div><div class="tc-detail-field">
            <span>result_date</span>
            {{pathologyResult.result_date}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{pathologyResult.status}}
          </div><div class="tc-detail-field">
            <span>result_by</span>
            {{pathologyResult.result_by}}
          </div><div class="tc-detail-field">
            <span>confirm_by</span>
            {{pathologyResult.confirm_by}}
          </div><div class="tc-detail-field">
            <span>reject_description</span>
            {{pathologyResult.reject_description}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchPathologyResults.length >0 || pathologyResultSelectAll">
        <button mat-button (click)="downloadPathologyResults()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{pathologyResultSelectAll ? pathologyResultsTotalCount : pathologyResultSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="pathologyResultsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(pathologyResultsData,pathologyResultSelection) "
              [checked]=" tcUtilsArray.isAllSelected(pathologyResultsData,pathologyResultSelection) || pathologyResultSelectAll"
              [indeterminate]="pathologyResultSelection.length <pathologyResultsData.length && pathologyResultSelection.length>0"
              [disabled]="pathologyResultSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="pathologyResultSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #pathologyResultSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="pathologyResultSelectAll=true;" [disabled]="pathologyResultSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="pathologyResultSelectAll = false;" [disabled]="!pathologyResultSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(pathologyResultSelection,row) : null"
              [checked]="tcUtilsArray.contains(pathologyResultSelection,row) || pathologyResultSelectAll" [disabled]="pathologyResultSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="clinical_finding">
          <mat-header-cell *matHeaderCellDef mat-sort-header>clinical_finding
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.clinical_finding}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="gross_examination">
          <mat-header-cell *matHeaderCellDef mat-sort-header>gross_examination
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.gross_examination}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="microscopic_evaluation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>microscopic_evaluation
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.microscopic_evaluation}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="conclusion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>conclusion
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.conclusion}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="comment">
          <mat-header-cell *matHeaderCellDef mat-sort-header>comment
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.comment}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="selected_order_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>selected_order_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.selected_order_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="result_file_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>result_file_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.result_file_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="result_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>result_date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.result_date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="result_by">
          <mat-header-cell *matHeaderCellDef mat-sort-header>result_by
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.result_by}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="confirm_by">
          <mat-header-cell *matHeaderCellDef mat-sort-header>confirm_by
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.confirm_by}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="reject_description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>reject_description
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.reject_description}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="pathologyResultNavigator.pathologyResultUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('pathology_results') || tcAuthorization.canDelete('pathology_results')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editPathologyResult(element)" *ngIf="tcAuthorization.canUpdate('pathology_results') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deletePathologyResult(element)" *ngIf="tcAuthorization.canDelete('pathology_results')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="pathologyResultsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: pathologyResultsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(pathologyResultSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="pathologyResultsTotalCount"
        [ngStyle]="{display: pathologyResultsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>