<h1 mat-dialog-title>
    additional_service Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="additionalServiceSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="additionalServicePersist.additionalServiceSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="additionalServiceSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="additionalServiceIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="additionalServicesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(additionalServicesData,additionalServiceSelection) "
            [checked]=" tcUtilsArray.isAllSelected(additionalServicesData,additionalServiceSelection) || additionalServiceSelectAll"
            [indeterminate]="additionalServiceSelection.length <additionalServicesData.length && additionalServiceSelection.length>0"
            [disabled]="additionalServiceSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="additionalServiceSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #additionalServiceSelectAllMenu="matMenu">

            <button mat-menu-item (click)="additionalServiceSelectAll=true;" [disabled]="additionalServiceSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="additionalServiceSelectAll = false;" [disabled]="!additionalServiceSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(additionalServiceSelection,row) : null"
            [checked]="tcUtilsArray.contains(additionalServiceSelection,row) || additionalServiceSelectAll" [disabled]="additionalServiceSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="encounter_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="ordered_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ordered_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ordered_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="future_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>future_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.future_date}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="additionalServicesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: additionalServicesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(additionalServiceSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="additionalServicesTotalCount"
      [ngStyle]="{display: additionalServicesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" additionalServiceSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>