<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="itemRequestDetail">


      <mat-form-field class="tc-full-stretch">
        <mat-label>{{
          appTranslation.getText('inventory', 'item')
          }}</mat-label>
        <input
          matInput
          placeholder="{{appTranslation.getText('inventory','item')}}"
          type="text"
          disabled
          [(ngModel)]="itemRequestDetail.item_name"
          required
        >
        <button
          mat-icon-button
          matTooltip="{{appTranslation.getText('inventory','item')}}"
          matSuffix
          color="primary"
          (click)="searchItem()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="tc-full-stretch">
        <mat-label>{{
          appTranslation.getText("inventory", "search_store")
          }}</mat-label>
        <input
          matInput
          placeholder="{{ appTranslation.getText('inventory', 'parent_store') }}"
          type="text"
          disabled
          [(ngModel)]="itemRequestDetail.store_name"
          required
        />
        <button
          mat-icon-button
          matTooltip="{{ appTranslation.getText('inventory', 'search_store') }}"
          matSuffix
          color="primary"
          (click)="searchStore()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>                                           
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="quantity" type="number"  [(ngModel)]="itemRequestDetail.quantity" required>
                          </mat-form-field>  
                        
                        </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>