<h1 mat-dialog-title>
    Procedure Selection
  </h1>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="proceduresSearchTextBox" placeholder="Search Text">
      <button mat-button *ngIf="procedurePersist.procedureSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="proceduresSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="proceduresIsLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">
  
      <mat-table [dataSource]="proceduresData" matSort>
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(proceduresData,proceduresSelection) "
              [checked]=" tcUtilsArray.isAllSelected(proceduresData,proceduresSelection)"
              [indeterminate]="proceduresSelection.length <proceduresData.length && proceduresSelection.length>0"
              *ngIf="!data.selectOne">
            </mat-checkbox>
            <button mat-button *ngIf="proceduresSelection.length >0 && !data.selectOne" [mat-menu-trigger-for]="collectionMenu">
              <i class="material-icons">more_vert</i>
  
              <span matBadge="{{proceduresSelection.length}}"
                    matBadgePosition="above after"
                    matBadgeOverlap="false"
                    [matBadgeHidden]="proceduresSelection.length == 0"
                    style="margin-right:10px;"></span>
            </button>
            <mat-menu #collectionMenu="matMenu">
  
              <button mat-menu-item (click)="returnSelected()">
                <mat-icon>done</mat-icon>
                <span>Return Selection</span>
              </button>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? tcUtilsArray.toggleSelection(proceduresSelection,row) : null"
                          [checked]="tcUtilsArray.contains(proceduresSelection,row)"
                          *ngIf="!data.selectOne">
            </mat-checkbox>
  
  
            <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? markOneItem(row) : null"
                                    [checked]="tcUtilsArray.contains(proceduresSelection,row)"
                                    *ngIf="data.selectOne">
            </mat-checkbox>
  
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="procedure_type_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>procedure_type_id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.procedure_type_name}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>

                               <ng-container matColumnDef="price">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>price</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
                             </ng-container>
                            
  <ng-container matColumnDef="needs_consent_form">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>needs_consent_form</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.needs_consent_form}}</mat-cell>
                               </ng-container>
                            
  
  
        <mat-header-row *matHeaderRowDef="proceduresDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: proceduresDisplayedColumns;"
                 [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(proceduresSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                     [length]="proceduresTotalCount"></mat-paginator>
  
    </div>
    <div class="tc-padding"></div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" proceduresSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
  