
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     flow_sheet  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchFlow_sheets();" *ngIf="tcAuthorization.canRead('flow_sheets')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addFlow_sheet();" *ngIf="tcAuthorization.canCreate('flow_sheets')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="flowSheetSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="flowSheetPersist.flowSheetSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="flowSheetSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="flowSheetIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let flowSheet of flowSheetsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('flow_sheets') || tcAuthorization.canDelete('flow_sheets')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editFlowSheet(flowSheet)" *ngIf="tcAuthorization.canUpdate('flow_sheets')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteFlowSheet(flowSheet)" *ngIf="tcAuthorization.canDelete('flow_sheets')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>peep</span>
            {{flowSheet.peep}}
          </div><div class="tc-detail-field">
            <span>date</span>
            {{flowSheet.date}}
          </div><div class="tc-detail-field">
            <span>rass</span>
            {{flowSheet.rass}}
          </div><div class="tc-detail-field">
            <span>sbp</span>
            {{flowSheet.sbp}}
          </div><div class="tc-detail-field">
            <span>dbp</span>
            {{flowSheet.dbp}}
          </div><div class="tc-detail-field">
            <span>map</span>
            {{flowSheet.map}}
          </div><div class="tc-detail-field">
            <span>pr</span>
            {{flowSheet.pr}}
          </div><div class="tc-detail-field">
            <span>rhythm</span>
            {{flowSheet.rhythm}}
          </div><div class="tc-detail-field">
            <span>temprature</span>
            {{flowSheet.temprature}}
          </div><div class="tc-detail-field">
            <span>rbs</span>
            {{flowSheet.rbs}}
          </div><div class="tc-detail-field">
            <span>o2_support</span>
            {{flowSheet.o2_support}}
          </div><div class="tc-detail-field">
            <span>o2_litre_or_fio2</span>
            {{flowSheet.o2_litre_or_fio2}}
          </div><div class="tc-detail-field">
            <span>flow_rate</span>
            {{flowSheet.flow_rate}}
          </div><div class="tc-detail-field">
            <span>rr</span>
            {{flowSheet.rr}}
          </div><div class="tc-detail-field">
            <span>iv_niv</span>
            {{flowSheet.iv_niv}}
          </div><div class="tc-detail-field">
            <span>mode</span>
            {{flowSheet.mode}}
          </div><div class="tc-detail-field">
            <span>pressure_set</span>
            {{flowSheet.pressure_set}}
          </div><div class="tc-detail-field">
            <span>psv</span>
            {{flowSheet.psv}}
          </div><div class="tc-detail-field">
            <span>peak_pressure</span>
            {{flowSheet.peak_pressure}}
          </div><div class="tc-detail-field">
            <span>plateau_pressure</span>
            {{flowSheet.plateau_pressure}}
          </div><div class="tc-detail-field">
            <span>tidal_volume_achieved</span>
            {{flowSheet.tidal_volume_achieved}}
          </div><div class="tc-detail-field">
            <span>ketamine</span>
            {{flowSheet.ketamine}}
          </div><div class="tc-detail-field">
            <span>ketofol_amount</span>
            {{flowSheet.ketofol_amount}}
          </div><div class="tc-detail-field">
            <span>dopamine</span>
            {{flowSheet.dopamine}}
          </div><div class="tc-detail-field">
            <span>feed_given</span>
            {{flowSheet.feed_given}}
          </div><div class="tc-detail-field">
            <span>flush</span>
            {{flowSheet.flush}}
          </div><div class="tc-detail-field">
            <span>driving_pressure</span>
            {{flowSheet.driving_pressure}}
          </div><div class="tc-detail-field">
            <span>tidal_volume_set</span>
            {{flowSheet.tidal_volume_set}}
          </div><div class="tc-detail-field">
            <span>fio2</span>
            {{flowSheet.fio2}}
          </div><div class="tc-detail-field">
            <span>spo2</span>
            {{flowSheet.spo2}}
          </div><div class="tc-detail-field">
            <span>total_rr</span>
            {{flowSheet.total_rr}}
          </div><div class="tc-detail-field">
            <span>propofol</span>
            {{flowSheet.propofol}}
          </div><div class="tc-detail-field">
            <span>diazepam_amount</span>
            {{flowSheet.diazepam_amount}}
          </div><div class="tc-detail-field">
            <span>dopamine_amount</span>
            {{flowSheet.dopamine_amount}}
          </div><div class="tc-detail-field">
            <span>bolus_fluid_amount</span>
            {{flowSheet.bolus_fluid_amount}}
          </div><div class="tc-detail-field">
            <span>iv_fluid_amount</span>
            {{flowSheet.iv_fluid_amount}}
          </div><div class="tc-detail-field">
            <span>feed_type</span>
            {{flowSheet.feed_type}}
          </div><div class="tc-detail-field">
            <span>additional_feeding</span>
            {{flowSheet.additional_feeding}}
          </div><div class="tc-detail-field">
            <span>rr_set</span>
            {{flowSheet.rr_set}}
          </div><div class="tc-detail-field">
            <span>ketamine_amount</span>
            {{flowSheet.ketamine_amount}}
          </div><div class="tc-detail-field">
            <span>propofol_amount</span>
            {{flowSheet.propofol_amount}}
          </div><div class="tc-detail-field">
            <span>ketofol</span>
            {{flowSheet.ketofol}}
          </div><div class="tc-detail-field">
            <span>diazepam</span>
            {{flowSheet.diazepam}}
          </div><div class="tc-detail-field">
            <span>ne_e</span>
            {{flowSheet.ne_e}}
          </div><div class="tc-detail-field">
            <span>ne_e_amount</span>
            {{flowSheet.ne_e_amount}}
          </div><div class="tc-detail-field">
            <span>bolus_fluid_type</span>
            {{flowSheet.bolus_fluid_type}}
          </div><div class="tc-detail-field">
            <span>iv_fluid</span>
            {{flowSheet.iv_fluid}}
          </div><div class="tc-detail-field">
            <span>medication_fluid_amount</span>
            {{flowSheet.medication_fluid_amount}}
          </div><div class="tc-detail-field">
            <span>gastric_residual</span>
            {{flowSheet.gastric_residual}}
          </div><div class="tc-detail-field">
            <span>total_hurly_input</span>
            {{flowSheet.total_hurly_input}}
          </div><div class="tc-detail-field">
            <span>urine_bag_off_ground</span>
            {{flowSheet.urine_bag_off_ground}}
          </div><div class="tc-detail-field">
            <span>urine_hourly</span>
            {{flowSheet.urine_hourly}}
          </div><div class="tc-detail-field">
            <span>urine_total</span>
            {{flowSheet.urine_total}}
          </div><div class="tc-detail-field">
            <span>ng_og_tube</span>
            {{flowSheet.ng_og_tube}}
          </div><div class="tc-detail-field">
            <span>abdominal_drainage</span>
            {{flowSheet.abdominal_drainage}}
          </div><div class="tc-detail-field">
            <span>vomitus</span>
            {{flowSheet.vomitus}}
          </div><div class="tc-detail-field">
            <span>stool</span>
            {{flowSheet.stool}}
          </div><div class="tc-detail-field">
            <span>chest_tube_right</span>
            {{flowSheet.chest_tube_right}}
          </div><div class="tc-detail-field">
            <span>chest_tube_left</span>
            {{flowSheet.chest_tube_left}}
          </div><div class="tc-detail-field">
            <span>insensible_loss</span>
            {{flowSheet.insensible_loss}}
          </div><div class="tc-detail-field">
            <span>total_hourly_output</span>
            {{flowSheet.total_hourly_output}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchFlow_sheets.length >0 || flowSheetSelectAll">
        <button mat-button (click)="downloadFlowSheets()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{flowSheetSelectAll ? flowSheetsTotalCount : flowSheetSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="flowSheetsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(flowSheetsData,flowSheetSelection) "
              [checked]=" tcUtilsArray.isAllSelected(flowSheetsData,flowSheetSelection) || flowSheetSelectAll"
              [indeterminate]="flowSheetSelection.length <flowSheetsData.length && flowSheetSelection.length>0"
              [disabled]="flowSheetSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="flowSheetSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #flowSheetSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="flowSheetSelectAll=true;" [disabled]="flowSheetSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="flowSheetSelectAll = false;" [disabled]="!flowSheetSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(flowSheetSelection,row) : null"
              [checked]="tcUtilsArray.contains(flowSheetSelection,row) || flowSheetSelectAll" [disabled]="flowSheetSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="peep">
          <mat-header-cell *matHeaderCellDef mat-sort-header>peep
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.peep}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="rass">
          <mat-header-cell *matHeaderCellDef mat-sort-header>rass
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rass}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="sbp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>sbp
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.sbp}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="dbp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>dbp
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.dbp}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="map">
          <mat-header-cell *matHeaderCellDef mat-sort-header>map
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.map}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="pr">
          <mat-header-cell *matHeaderCellDef mat-sort-header>pr
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pr}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="rhythm">
          <mat-header-cell *matHeaderCellDef mat-sort-header>rhythm
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rhythm}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="temprature">
          <mat-header-cell *matHeaderCellDef mat-sort-header>temprature
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.temprature}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="rbs">
          <mat-header-cell *matHeaderCellDef mat-sort-header>rbs
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rbs}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="o2_support">
          <mat-header-cell *matHeaderCellDef mat-sort-header>o2_support
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.o2_support}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="o2_litre_or_fio2">
          <mat-header-cell *matHeaderCellDef mat-sort-header>o2_litre_or_fio2
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.o2_litre_or_fio2}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="flow_rate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>flow_rate
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.flow_rate}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="rr">
          <mat-header-cell *matHeaderCellDef mat-sort-header>rr
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rr}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="iv_niv">
          <mat-header-cell *matHeaderCellDef mat-sort-header>iv_niv
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.iv_niv}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="mode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>mode
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.mode}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="pressure_set">
          <mat-header-cell *matHeaderCellDef mat-sort-header>pressure_set
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.pressure_set}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="psv">
          <mat-header-cell *matHeaderCellDef mat-sort-header>psv
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.psv}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="peak_pressure">
          <mat-header-cell *matHeaderCellDef mat-sort-header>peak_pressure
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.peak_pressure}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="plateau_pressure">
          <mat-header-cell *matHeaderCellDef mat-sort-header>plateau_pressure
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.plateau_pressure}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="tidal_volume_achieved">
          <mat-header-cell *matHeaderCellDef mat-sort-header>tidal_volume_achieved
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.tidal_volume_achieved}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="ketamine">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ketamine
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ketamine}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="ketofol_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ketofol_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ketofol_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="dopamine">
          <mat-header-cell *matHeaderCellDef mat-sort-header>dopamine
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.dopamine}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="feed_given">
          <mat-header-cell *matHeaderCellDef mat-sort-header>feed_given
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.feed_given}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="flush">
          <mat-header-cell *matHeaderCellDef mat-sort-header>flush
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.flush}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="driving_pressure">
          <mat-header-cell *matHeaderCellDef mat-sort-header>driving_pressure
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.driving_pressure}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="tidal_volume_set">
          <mat-header-cell *matHeaderCellDef mat-sort-header>tidal_volume_set
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.tidal_volume_set}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="fio2">
          <mat-header-cell *matHeaderCellDef mat-sort-header>fio2
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.fio2}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="spo2">
          <mat-header-cell *matHeaderCellDef mat-sort-header>spo2
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.spo2}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="total_rr">
          <mat-header-cell *matHeaderCellDef mat-sort-header>total_rr
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.total_rr}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="propofol">
          <mat-header-cell *matHeaderCellDef mat-sort-header>propofol
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.propofol}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="diazepam_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>diazepam_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.diazepam_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="dopamine_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>dopamine_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.dopamine_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="bolus_fluid_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>bolus_fluid_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bolus_fluid_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="iv_fluid_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>iv_fluid_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.iv_fluid_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="feed_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>feed_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.feed_type}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="additional_feeding">
          <mat-header-cell *matHeaderCellDef mat-sort-header>additional_feeding
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.additional_feeding}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="rr_set">
          <mat-header-cell *matHeaderCellDef mat-sort-header>rr_set
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rr_set}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="ketamine_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ketamine_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ketamine_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="propofol_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>propofol_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.propofol_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="ketofol">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ketofol
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ketofol}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="diazepam">
          <mat-header-cell *matHeaderCellDef mat-sort-header>diazepam
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.diazepam}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="ne_e">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ne_e
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ne_e}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="ne_e_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ne_e_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ne_e_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="bolus_fluid_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>bolus_fluid_type
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bolus_fluid_type}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="iv_fluid">
          <mat-header-cell *matHeaderCellDef mat-sort-header>iv_fluid
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.iv_fluid}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="medication_fluid_amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>medication_fluid_amount
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.medication_fluid_amount}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="gastric_residual">
          <mat-header-cell *matHeaderCellDef mat-sort-header>gastric_residual
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.gastric_residual}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="total_hurly_input">
          <mat-header-cell *matHeaderCellDef mat-sort-header>total_hurly_input
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.total_hurly_input}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="urine_bag_off_ground">
          <mat-header-cell *matHeaderCellDef mat-sort-header>urine_bag_off_ground
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.urine_bag_off_ground}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="urine_hourly">
          <mat-header-cell *matHeaderCellDef mat-sort-header>urine_hourly
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.urine_hourly}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="urine_total">
          <mat-header-cell *matHeaderCellDef mat-sort-header>urine_total
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.urine_total}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="ng_og_tube">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ng_og_tube
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.ng_og_tube}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="abdominal_drainage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>abdominal_drainage
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.abdominal_drainage}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="vomitus">
          <mat-header-cell *matHeaderCellDef mat-sort-header>vomitus
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.vomitus}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="stool">
          <mat-header-cell *matHeaderCellDef mat-sort-header>stool
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.stool}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="chest_tube_right">
          <mat-header-cell *matHeaderCellDef mat-sort-header>chest_tube_right
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.chest_tube_right}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="chest_tube_left">
          <mat-header-cell *matHeaderCellDef mat-sort-header>chest_tube_left
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.chest_tube_left}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="insensible_loss">
          <mat-header-cell *matHeaderCellDef mat-sort-header>insensible_loss
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.insensible_loss}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="total_hourly_output">
          <mat-header-cell *matHeaderCellDef mat-sort-header>total_hourly_output
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.total_hourly_output}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="flowSheetNavigator.flowSheetUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('flow_sheets') || tcAuthorization.canDelete('flow_sheets')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editFlowSheet(element)" *ngIf="tcAuthorization.canUpdate('flow_sheets') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteFlowSheet(element)" *ngIf="tcAuthorization.canDelete('flow_sheets')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="flowSheetsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: flowSheetsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(flowSheetSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="flowSheetsTotalCount"
        [ngStyle]="{display: flowSheetsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>