
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!radiologyDataIsLoading">
                  <h1 class="mat-h1 ">{{radiologyDataDetail.id}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == RadiologyDataTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = RadiologyDataTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav> <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="radiologyDataIsLoading">
                  <mat-spinner></mat-spinner>
          </div>
  
          <div [ngClass]="activeTab==RadiologyDataTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>
  
              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
  
                                      <div *ngIf="!radiologyDataIsLoading">  <p class="tc-detail-field">
encounter_id                           <span>  {{radiologyDataDetail.encounter_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
patient_id                           <span>  {{radiologyDataDetail.patient_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
rad_order_id                           <span>  {{radiologyDataDetail.rad_order_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
description                           <span>  {{radiologyDataDetail.description}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
ordered_date                           <span>  {{radiologyDataDetail.ordered_date}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
radiographer_id                           <span>  {{radiologyDataDetail.radiographer_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
result_date                           <span>  {{radiologyDataDetail.result_date}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
radiologist_id                           <span>  {{radiologyDataDetail.radiologist_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
result_description                           <span>  {{radiologyDataDetail.result_description}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
result_conclusion                           <span>  {{radiologyDataDetail.result_conclusion}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
approved_date                           <span>  {{radiologyDataDetail.approved_date}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
status                           <span>  {{radiologyDataDetail.status}} </span> 
                                                       </p>
                         </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editRadiologyData()" *ngIf="tcAuthorization.canUpdate('radiology_data') ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>
  
                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>
  
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  