
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     nutritional_assesment  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchNutritional_assesments();" *ngIf="tcAuthorization.canRead('nutritional_assesments')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addNutritional_assesment();" *ngIf="tcAuthorization.canCreate('nutritional_assesments')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="nutritionalAssesmentSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="nutritionalAssesmentPersist.nutritionalAssesmentSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="nutritionalAssesmentSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="nutritionalAssesmentIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let nutritional_assesment of nutritionalAssesmentsData">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('nutritional_assesments') || tcAuthorization.canDelete('nutritional_assesments')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editNutritionalAssesment(nutritional_assesment)" *ngIf="tcAuthorization.canUpdate('nutritional_assesments')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteNutritionalAssesment(nutritional_assesment)" *ngIf="tcAuthorization.canDelete('nutritional_assesments')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>assesment</span>
            {{nutritional_assesment.assesment}}
          </div><div class="tc-detail-field">
            <span>date</span>
            {{nutritional_assesment.date}}
          </div><div class="tc-detail-field">
            <span>nurse_id</span>
            {{nutritional_assesment.nurse_id}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchNutritional_assesments.length >0 || nutritionalAssesmentSelectAll">
        <button mat-button (click)="downloadNutritionalAssesments()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{nutritionalAssesmentSelectAll ? nutritionalAssesmentsTotalCount : nutritionalAssesmentSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="nutritionalAssesmentsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(nutritionalAssesmentsData,nutritionalAssesmentSelection) "
              [checked]=" tcUtilsArray.isAllSelected(nutritionalAssesmentsData,nutritionalAssesmentSelection) || nutritionalAssesmentSelectAll"
              [indeterminate]="nutritionalAssesmentSelection.length <nutritionalAssesmentsData.length && nutritionalAssesmentSelection.length>0"
              [disabled]="nutritionalAssesmentSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="nutritionalAssesmentSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #nutritionalAssesmentSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="nutritionalAssesmentSelectAll=true;" [disabled]="nutritionalAssesmentSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="nutritionalAssesmentSelectAll = false;" [disabled]="!nutritionalAssesmentSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(nutritionalAssesmentSelection,row) : null"
              [checked]="tcUtilsArray.contains(nutritionalAssesmentSelection,row) || nutritionalAssesmentSelectAll" [disabled]="nutritionalAssesmentSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="assesment">
          <mat-header-cell *matHeaderCellDef mat-sort-header>assesment
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.assesment}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>date
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date && element.date * 1000|date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="nurse_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>nurse_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{user[element.nurse_id].name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="nutritionalAssesmentNavigator.nutritional_assesmentUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('nutritional_assesments') || tcAuthorization.canDelete('nutritional_assesments')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editNutritionalAssesment(element)" *ngIf="tcAuthorization.canUpdate('nutritional_assesments') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteNutritionalAssesment(element)" *ngIf="tcAuthorization.canDelete('nutritional_assesments')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="nutritionalAssesmentsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: nutritionalAssesmentsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(nutritionalAssesmentSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="nutritionalAssesmentsTotalCount"
        [ngStyle]="{display: nutritionalAssesmentsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>