<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
            class="tc-sidebar mat-elevation-z8" position="end">
            <div class="tc-sidebar-inner">
                <div class="tc-padding" *ngIf="!patientHistoryIsLoading">
                    <h1 class="mat-h1 ">{{patientHistoryDetail.id}} </h1>
                </div>
                <mat-nav-list>
                    <mat-list-item [ngClass]="activeTab == PatientHistoryTabs.overview? 'tc-list-item-focus':''"
                        (click)="activeTab = PatientHistoryTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                        <a>
                            <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                            {{appTranslation.getText("general", "overview")}}
                        </a>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </mat-sidenav> <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="patientHistoryIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <div [ngClass]="activeTab==PatientHistoryTabs.overview? '':'tc-hidden'">
                <mat-toolbar class="tc-toolbar-secondary ">
                    <h1 class="mat-heading">
                        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                        {{appTranslation.getText("general", "overview")}}
                    </h1>
                    <button mat-button (click)=" back();" class="tc-link">
                                        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                    </button>
                    <button mat-button (click)=" reload()" class="tc-link">
                        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                    </button>
                    <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                              <button mat-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                              </button>
                            </p>
                </mat-toolbar>
    
                <div class="tc-flex-row tc-full-width">
                    <div class="tc-equal-block">
                        <div class="tc-padding">
                            <mat-accordion>
                                  <mat-expansion-panel expanded="true">
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        {{appTranslation.getText("general","basicdetails")}}
                                      </mat-panel-title>
                                    </mat-expansion-panel-header>
    
                                        <div *ngIf="!patientHistoryIsLoading">  <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.chief_compliant}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.hpi}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.risk_assessment}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.family_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.personal_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.pregnancy_birth}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.mode_of_delivery}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.history_of_abortion}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.health_during_childhood}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.education}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.work}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.sexual_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.menustrial_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.maritual_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.childhood_psychological_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.physical_sexual_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.illness}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.operation}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.accidents}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.accidents_date}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.illness_date}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.operation_date}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.any_current_medication}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.previous_psychiatric_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.forensic_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.substance_history}} </span> 
                                                         </p>
                            <p class="tc-detail-field">
                             <span>  {{patientHistoryDetail.premorbid_personality}} </span> 
                                                         </p>
                           </div>
                                    <mat-action-row>
                                       <button mat-button (click)="editPatientHistory()" *ngIf="tcAuthorization.canUpdate('patient_historys') ">
                                         {{appTranslation.getText("general", "edit")}}
                                       </button>
                                     </mat-action-row>
    
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="tc-equal-block">
                    </div>
                </div>
    
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    