
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-industry"></mat-icon>
      {{appTranslation.getText("inventory","company")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchCompanys();" *ngIf="tcAuthorization.canRead('companys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addCompany();" *ngIf="tcAuthorization.canCreate('companys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="CompanysSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="CompanyPersist.CompanySearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="CompanysSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
        <mat-select placeholder='{{appTranslation.getText("general", "status")}}'
        [(value)]="CompanyPersist.companyStatusFilter"
        (valueChange)="searchCompanys()">
<mat-option *ngFor="let status of CompanyPersist.Activeness_Status" [value]="status.id">
{{ status.name }}
</mat-option>
</mat-select>

<button mat-button *ngIf="CompanyPersist.companyStatusFilter != -1" matSuffix mat-icon-button
    aria-label="Clear"
    (click)="CompanyPersist.companyStatusFilter = -1;searchCompanys();$event.stopPropagation()">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>
        <div class="tc-loading" *ngIf="CompanysIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let Company of CompanysData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title>
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('companys') || tcAuthorization.canDelete('companys')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
  
                                                                                      <button mat-menu-item (click)="editCompany(Company)" *ngIf="tcAuthorization.canUpdate('companys')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="freezeCompany(Company)" *ngIf="tcAuthorization.canUpdate('companys') && Company.status == company_status.active">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-comment-slash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("inventory","freeze")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="activeCompany(Company)" *ngIf="tcAuthorization.canUpdate('companys') && Company.status == company_status.freeze">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
                                                                                        <span>{{appTranslation.getText("users","active")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteCompany(Company)" *ngIf="tcAuthorization.canDelete('companys')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","name")}}</span>
              {{Company.name}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("inventory","tin_no")}}</span>
              {{Company.tin_no}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("inventory","max_payment")}}</span>
              {{Company.max_payment}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","telephone")}}</span>
              {{Company.phone_no}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","address")}}</span>
              {{Company.address}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("inventory","duration")}}</span>
              {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(CompanyPersist.company_insurance_payment_types,
                Company.duration)?.name)}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("inventory","percentage")}}</span>
              {{Company.percentage}}
            </div>
  <div class="tc-detail-field">
              <span>{{appTranslation.getText("inventory","insurance")}}</span>
              {{tcUtilsArray.getById(insuranceCompanies,Company.insurance_id)?.name}}
            </div>
            <div class="tc-detail-field">
              <span>{{appTranslation.getText("general","status")}}</span>
              {{tcUtilsArray.getById(CompanyPersist.Activeness_Status,Company.status)?.name}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="CompanysSelection.length >0 || CompanysSelectAll">
                    <button mat-button (click)="downloadCompanys()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{CompanysSelectAll ? CompanysTotalCount : CompanysSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="CompanysData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(CompanysData,CompanysSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(CompanysData,CompanysSelection) || CompanysSelectAll"
                  [indeterminate]="CompanysSelection.length <CompanysData.length && CompanysSelection.length>0"
                  [disabled]="CompanysSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="CompanysSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #CompanysSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="CompanysSelectAll=true;"
                          [disabled]="CompanysSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="CompanysSelectAll = false;"
                          [disabled]="!CompanysSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                  
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(CompanysSelection,row) : null"
                              [checked]="tcUtilsArray.contains(CompanysSelection,row) || CompanysSelectAll"
                              [disabled]="CompanysSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","name")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element"><a [routerLink]="CompanyNavigator.CompanyUrl(element.id)" class="tc-link">{{element.name}}</a></mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="tin_no">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("inventory","tin_no")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.tin_no}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="max_payment">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("inventory","max_payment")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.max_payment}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="phone_no">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","telephone")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.phone_no}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="address">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","address")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="duration">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("inventory","duration")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                {{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(CompanyPersist.company_insurance_payment_types,
                                    element.duration)?.name)}}
                          
                             </mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="percentage">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("inventory","percentage")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.percentage}}</mat-cell>
                               </ng-container>
                            
  <ng-container matColumnDef="insurance_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("inventory","insurance")}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    {{tcUtilsArray.getById(insuranceCompanies,element.insurance_id)?.name}}
                                  </mat-cell>
                               </ng-container>
                               <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText("general","status")}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                  {{tcUtilsArray.getById(CompanyPersist.Activeness_Status,element.status)?.name}}
                                </mat-cell>
                             </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('companys') || tcAuthorization.canDelete('companys')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
  
                  <button mat-menu-item (click)="editCompany(element)" *ngIf="tcAuthorization.canUpdate('companys') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="freezeCompany(element)" *ngIf="tcAuthorization.canUpdate('companys') && element.status == company_status.active">
                    <mat-icon fontSet="fa" fontIcon="fa-comment-slash"></mat-icon>
                    <span>{{appTranslation.getText("inventory","freeze")}} </span>
                  </button>
                  <button mat-menu-item (click)="activeCompany(element)" *ngIf="tcAuthorization.canUpdate('companys') && element.status == company_status.freeze">
                    <mat-icon fontSet="fa" fontIcon="fa-handshake"></mat-icon>
                    <span>{{appTranslation.getText("users","active")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteCompany(element)" *ngIf="tcAuthorization.canDelete('companys')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="CompanysDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: CompanysDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(CompanysSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="CompanysTotalCount"
                         [ngStyle]="{display: CompanysTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  