<h1 mat-dialog-title>
    risk_factors_options Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="riskFactorsOptionsSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="riskFactorsOptionsPersist.riskFactorsOptionsSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="riskFactorsOptionsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="riskFactorsOptionsIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="riskFactorsOptionssData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(riskFactorsOptionssData,riskFactorsOptionsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(riskFactorsOptionssData,riskFactorsOptionsSelection) || riskFactorsOptionsSelectAll"
            [indeterminate]="riskFactorsOptionsSelection.length <riskFactorsOptionssData.length && riskFactorsOptionsSelection.length>0"
            [disabled]="riskFactorsOptionsSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="riskFactorsOptionsSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #riskFactorsOptionsSelectAllMenu="matMenu">

            <button mat-menu-item (click)="riskFactorsOptionsSelectAll=true;" [disabled]="riskFactorsOptionsSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="riskFactorsOptionsSelectAll = false;" [disabled]="!riskFactorsOptionsSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(riskFactorsOptionsSelection,row) : null"
            [checked]="tcUtilsArray.contains(riskFactorsOptionsSelection,row) || riskFactorsOptionsSelectAll" [disabled]="riskFactorsOptionsSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>type
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="riskFactorsOptionssDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: riskFactorsOptionssDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(riskFactorsOptionsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="riskFactorsOptionssTotalCount"
      [ngStyle]="{display: riskFactorsOptionssTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" riskFactorsOptionsSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
