
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-rotate-left"></mat-icon>
     item_return  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchItemReturns();" *ngIf="tcAuthorization.canRead('item_returns')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <!-- <button mat-button (click)=" addItemReturn();" *ngIf="tcAuthorization.canCreate('item_returns')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button> -->
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="itemReturnSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="itemReturnPersist.itemReturnSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="itemReturnSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                  [(value)]="itemReturnPersist.status"
                  (valueChange)="searchItemReturns()">
        <mat-option *ngFor="let etype of itemReceivePersist.ReceiveStatus" [value]="etype.id" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="itemReturnPersist.status" matSuffix mat-icon-button aria-label="Clear"
              (click)="itemReturnPersist.status = null;searchItemReturns();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  <mat-form-field>
    <input matInput [formControl]="refNoBox"
           placeholder='Ref No.'>
    <button mat-button *ngIf="itemReturnPersist.ref_no" matSuffix mat-icon-button aria-label="Clear"
            (click)="refNoBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


    <mat-form-field>
      <mat-label>search store</mat-label>
      <input matInput disabled [(ngModel)]="itemReturnPersist.store_name"/>
      <button
        mat-icon-button
        matTooltip="search store"
        matSuffix
        color="primary"
        (click)="searchStore()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="itemReturnPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReturnPersist.store_id = null; itemReturnPersist.store_name = null ; searchItemReturns()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>
    <mat-form-field *ngIf="isRequested">
      <mat-label>store from</mat-label>
      <input matInput disabled [(ngModel)]="itemReturnPersist.store_from_name"/>
      <button
        mat-icon-button
        matTooltip="search store from"
        matSuffix
        color="primary"
        (click)="searchStoreFrom()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="itemReturnPersist.return_from_id != null" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReturnPersist.return_from_id = null; itemReturnPersist.store_from_name  = null ; searchItemReturns()">
      <mat-icon>close</mat-icon>
  </button>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder=
          'From Date'
        [formControl]="itemReturnPersist.from_date"
        [matDatepicker]="from_date_picker"
      />
    
      <mat-datepicker-toggle
        matSuffix
        [for]="from_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="itemReturnPersist.from_date.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReturnPersist.from_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder=
          'To Date'
        [formControl]="itemReturnPersist.to_date"
        [matDatepicker]="to_date_picker"
      />
    
      <mat-datepicker-toggle
        matSuffix
        [for]="to_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
      <button mat-button *ngIf="itemReturnPersist.to_date.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemReturnPersist.to_date.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    </mat-form-field> 
    <mat-form-field>
      <mat-select placeholder="Category"
                  [(value)]="itemReturnPersist.category"
                  (valueChange)="searchItemReturns()">
        <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
          {{ etype.name }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="itemReturnPersist.category" matSuffix mat-icon-button aria-label="Clear"
              (click)="itemReturnPersist.category = null;searchItemReturns();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
      <mat-form-field>
        <mat-label>Sub Category</mat-label>
        <input
          matInput
          placeholder="Sub Category"
          type="text"
          disabled
          [(ngModel)]="subCategoryName"
          required
        >
        <button
          mat-icon-button
          matTooltip="Sub category"
          matSuffix
          color="primary"
          (click)="searchCategory(true)"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
    (click)="subCategoryName = null; itemReturnPersist.categoryId=categoryId; searchItemReturns()">
    <mat-icon>close</mat-icon>
    </button>
      </mat-form-field> 
    <div class="tc-loading" *ngIf="itemReturnIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let itemReturn of itemReturnsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('item_returns') || tcAuthorization.canDelete('item_returns')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editItemReturn(itemReturn)" *ngIf="tcAuthorization.canUpdate('item_returns')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteItemReturn(itemReturn)" *ngIf="tcAuthorization.canDelete('item_returns')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>transfer_id</span>
            {{itemReturn.target_id}}
          </div><div class="tc-detail-field">
            <span>requester_id</span>
            {{itemReturn.requester_id}}
          </div><div class="tc-detail-field">
            <span>responder_id</span>
            {{itemReturn.responder_id}}
          </div><div class="tc-detail-field">
            <span>quantity</span>
            {{itemReturn.quantity}}
          </div><div class="tc-detail-field">
            <span>status</span>
            {{itemReturn.status}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchItemReturns.length >0 || itemReturnSelectAll">
        <button mat-button (click)="downloadItemReturns()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{itemReturnSelectAll ? itemReturnsTotalCount : itemReturnSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="itemReturnsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(itemReturnsData,itemReturnSelection) "
              [checked]=" tcUtilsArray.isAllSelected(itemReturnsData,itemReturnSelection) || itemReturnSelectAll"
              [indeterminate]="itemReturnSelection.length <itemReturnsData.length && itemReturnSelection.length>0"
              [disabled]="itemReturnSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemReturnSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #itemReturnSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="itemReturnSelectAll=true;" [disabled]="itemReturnSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="itemReturnSelectAll = false;" [disabled]="!itemReturnSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
              <button mat-menu-item (click)="firstPrint()"  *ngIf="isRequested" [disabled]="!itemReturnSelection.length">
                print
              </button>
              <button mat-menu-item (click)="secondPrint()"  [disabled]="!itemReturnSelection.length">
                re print
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(itemReturnSelection,row) : null"
              [checked]="tcUtilsArray.contains(itemReturnSelection,row) || itemReturnSelectAll" [disabled]="itemReturnSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{itemNavigator.itemName(element)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="batch_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Batch No.
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
        </ng-container>


    <ng-container matColumnDef="ref_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ref No.
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.ref_no}}</mat-cell>
    </ng-container>

        <ng-container matColumnDef="request_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Request Date 
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsDate.toDate(element.request_date)|date}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="store">
          <mat-header-cell *matHeaderCellDef mat-sort-header>From
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{getFromName(element)}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>status
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(itemReceivePersist.ReceiveStatus, element.status).name}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="itemReturnNavigator.itemReturnUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="(tcAuthorization.canUpdate('item_returns') || tcAuthorization.canDelete('item_returns')) && element.status == ReceiveStatus.sent">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
              <div *ngIf="!isRequested">
                <button mat-menu-item (click)="editItemReturn(element)" *ngIf="tcAuthorization.canUpdate('item_returns') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteItemReturn(element)" *ngIf="tcAuthorization.canDelete('item_returns')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </div>
              <div *ngIf="isRequested">
                <button mat-menu-item (click)="respondRequest(element, 'accept')" *ngIf="tcAuthorization.canCreate('purchases')">
                  <mat-icon fontSet="fa" fontIcon="fa-square-check"></mat-icon>
                  <span>Accept</span>
                </button>
                <button mat-menu-item (click)="rejectRequest(element)" *ngIf="tcAuthorization.canCreate('purchases')">
                  <mat-icon fontSet="fa" fontIcon="fa-square-xmark"></mat-icon>
                  <span>Reject </span>
                </button>
                </div>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="itemReturnsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: itemReturnsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemReturnSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemReturnsTotalCount"
        [ngStyle]="{display: itemReturnsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
  