<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon>
    mails
  </h3>
  <button mat-button (click)=" searchMails();">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addMail();">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding "  >
  <mat-form-field>
    <input matInput [formControl]="mailsSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="mailPersist.mailSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="mailsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="mailsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">
    <mat-toolbar *ngIf="mailsSelection.length >0">
      <button mat-button (click)="downloadMails()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="mailsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(mailsData,mailsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(mailsData,mailsSelection)"
            [indeterminate]="mailsSelection.length <mailsData.length && mailsSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(mailsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(mailsSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="mailNavigator.mailUrl(element.id)"
             class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef mat-sort-header>subject</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.subject}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sender_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sender_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sender_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sender_email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sender_email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sender_email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="recipient_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>recipient_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.recipient_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="recipient_email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>recipient_email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.recipient_email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_html">
        <mat-header-cell *matHeaderCellDef mat-sort-header>is_html</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_html}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="has_attachments">
        <mat-header-cell *matHeaderCellDef mat-sort-header>has_attachments</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.has_attachments}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="submission_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>submission_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.submission_time}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sending_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sending_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sending_time}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_sent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>is_sent</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_sent}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_failed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>is_failed</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.is_failed}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editMail(element)">
              <mat-icon>edit</mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteMail(element)">
              <mat-icon>delete</mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="mailsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: mailsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(mailsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [pageSize]="tcUtilsArray.defaultPageSize"
                   [length]="mailsTotalCount"></mat-paginator>
  </div>
</div>


