<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="patientLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div [ngClass]="activeTab==tabs.overview? '':'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary ">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{appTranslation.getText("general", "overview")}}
        </h1>
        <button mat-button (click)=" reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>


      </mat-toolbar>

      <mat-tab-group class="mat-elevation-z8">
        <mat-tab label='{{appTranslation.getText("general", "basicdetails")}}'>
          <ng-template matTabContent>
            <div class="tc-equal-block">
              <div class="tc-padding">
                <mat-accordion>

                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{appTranslation.getText("general", "basicdetails")}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="!patientLoading" class="tc-flex-row">
                    <div class="tc-full-width">
                    <p class="tc-detail-field">
                      <span>Profile Pic</span>
                      <p-avatar class="circle"  [(image)]="profileUrl"  abel="P" shape="circle" size="xlarge"></p-avatar>
                    </p>

                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText("general", "id")}}</span>
                      {{patientDetail.pid}}
                    </p>

                      <p class="tc-detail-field">
                        <span>{{ appTranslation.getText("general", "first_name") }} </span>
                        {{patientDetail.fname}}
                      </p>

                      <p class="tc-detail-field">
                        <span>{{ appTranslation.getText("general", "middle_name") }} </span>
                        {{patientDetail.mname}}
                      </p>

                      <p class="tc-detail-field">
                        <span>{{ appTranslation.getText("general", "last_name") }} </span>
                        {{patientDetail.lname}}
                      </p>

                      <p class="tc-detail-field">
                        <span>{{ appTranslation.getText("general", "gender") }} </span>
                        <span *ngIf="patientDetail.sex">   <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon> </span>
                        <span *ngIf="!patientDetail.sex">    <mat-icon fontSet="fa"
                                                                       fontIcon="fa-female"></mat-icon> </span>

                      </p>

                      <p class="tc-detail-field">
                        <span>{{ appTranslation.getText("general", "birthdate") }} </span>
                        {{tcUtilsDate.toDate(  patientDetail.dob )|date:'MMM dd, yyyy. h:mm a'}}
                      </p>

                      <p class="tc-detail-field">
                        <span>{{ appTranslation.getText("general", "email") }} </span>
                        {{patientDetail.email}}
                      </p>

                      <p class="tc-detail-field">
                        <span>{{appTranslation.getText("general", "date_of_registration")}}</span>
                        {{tcUtilsDate.toDate(patientDetail.reg_date)|date:'MMM dd, yyyy. h:mm a'}}
                      </p>

                      <p class="tc-detail-field">
                        <span>{{ appTranslation.getText("general", "telephone") }} </span>
                        {{patientDetail.phone_cell}}
                      </p>


                      <p class="tc-detail-field">
                        <span>Edicational Status</span>
                          {{tcUtilsArray.getEnum(patientPersist.educationalStatus, patientDetail.educational_status)?.name}}
                  
                      </p>
                      <p class="tc-detail-field">
                           <span> Maritial Status</span>
                          {{tcUtilsArray.getEnum(patientPersist.maritalStatus,patientDetail.maritial_status)?.name}}

                      </p>
                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('patient','state')}}</span>
                                  {{tcUtilsArray.getEnum(patientPersist.state, patientDetail.state)?.name}}
                    </p>
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient','subcity')}}</span>
                        {{patientDetail.subcity}}
                    </p>
                  </div>
                  <div class="tc-full-width">
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient','wereda')}}</span>
                        {{patientDetail.wereda}}
                    </p>
                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('patient','kebele')}}</span>
                      {{patientDetail.kebele}}
                  </p>
                  
                  
                  <p class="tc-detail-field">
                    <span>{{appTranslation.getText('patient','house_no')}}</span>
                  {{patientDetail.house_no}}
                  </p>
  
        
                      <p class="tc-detail-field">
                        <span>{{appTranslation.getText('patient','emergency_contactname')}}</span>
                        {{patientDetail.emergency_contact_name}}
                    </p>
                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText("patient", "emergency_contact_relationship")}}</span>
                          {{patientDetail.emergency_contact_relationship}}
                      </p>
                      <p class="tc-detail-field">
                        <span>{{appTranslation.getText('patient','emergency_contact_phone')}}</span>
                            {{patientDetail.emergency_contact_phone}}
                        </p>
                    
                                    
                          <p class="tc-detail-field">
                            <span>{{appTranslation.getText('patient','occupation')}}</span>
                            {{patientDetail.occupation}}
                        </p>
                    
                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('financial','tin')}}</span>
                          {{patientDetail.tin}}
                      </p>
                    
                      
                      
                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('patient','lang_preference')}}</span>
                          {{patientDetail.language_preference}}
                      </p>
                    
                    <p class="tc-detail-field">
                      <span>{{appTranslation.getText('patient','driving_license')}}</span>
                          {{patientDetail.driving_license}}
                      </p>

                      <ng-container *ngIf="patientDetail.guardiansname">
                        <h3>{{appTranslation.getText("patient", "guardian_information")}}</h3>
                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText("patient", "guardian_name")}}</span>
                          {{patientDetail?.guardiansname}}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText("patient", "guardian_relationship")}}</span>
                          {{ appTranslation.getText("patient", patientDetail?.guardianrelationship) }}
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText('general', 'gender')}}</span>
                          <mat-icon fontSet="fa" fontIcon="fa-male" *ngIf="patientDetail?.guardiansex"></mat-icon>
                          <mat-icon fontSet="fa" fontIcon="fa-female" *ngIf="!patientDetail?.guardiansex"></mat-icon>
                        </p>

                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText("patient", "guardian_address")}}</span>
                          {{patientDetail?.guardianaddress}}
                        </p>
                        <p class="tc-detail-field">
                          <span>{{appTranslation.getText("patient", "guardian_phone_number")}}</span>
                          {{patientDetail?.guardianphone}}
                        </p>
                      </ng-container>

                    </div>
                  </div>


                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="summary_sheet">
          <div>
            <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
              <mat-card *ngFor="let summarySheet of summarySheetsData" class="tc-card">
                
                <mat-card-content>
          <div class="tc-detail-field">
                    <span>date</span>
                    {{summarySheet.date}}
                  </div><div class="tc-detail-field">
                    <span>chief_compliant </span>
                    {{summarySheet.chief_compliant }}
                  </div><div class="tc-detail-field">
                    <span>diagnosis</span>
                    {{summarySheet.diagnosis}}
                  </div><div class="tc-detail-field">
                    <span>doctor</span>
                    {{summarySheet.doctor}}
                  </div><div class="tc-detail-field">
                    <span>service_type</span>
                    {{summarySheet.service_type}}
                  </div><div class="tc-detail-field">
                    <span>schedule_type</span>
                    {{summarySheet.schedule_type}}
                  </div>        
                </mat-card-content>
              </mat-card>
            </div>
            <div class="tc-table-container tc-full-stretch" >
  
            <mat-table style="margin:50px 35px;width:none"   [dataSource]="summarySheetsData" matSort>
  
             
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.date*1000 | date }} {{element.date*1000 | date : 'shortTime' }}
                </mat-cell>
              </ng-container>
            
              
              <ng-container matColumnDef="service">
                <mat-header-cell *matHeaderCellDef mat-sort-header>service
                </mat-header-cell>
                
                <mat-cell *matCellDef="let element">
                  {{
                      tcUtilsArray.getEnum(
                        patientPersist.service_type,
                        element.service_type
                      )?.name
                    
                  }}</mat-cell>
              </ng-container>
            
             
  
              <ng-container matColumnDef="chief_complaint">
                <mat-header-cell *matHeaderCellDef mat-sort-header>chief complaint
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.chief_complaint}}
                </mat-cell>
              </ng-container>
            
             
              <ng-container matColumnDef="diagnosis">
                <mat-header-cell *matHeaderCellDef mat-sort-header>diagnosis
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><ng-container *ngIf="element.final_diagnosis">{{element.final_diagnosis}}</ng-container>
                  <ng-container *ngIf="!element.final_diagnosis">{{element.name}}</ng-container>
                </mat-cell>
             
              </ng-container>
  
             
  
              <ng-container matColumnDef="schedule_type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>schedule_type
                </mat-header-cell>
               
                  <mat-cell *matCellDef="let element">
                   <span [ngClass]="{'summary_sheet_new_revisit': element.schedule_type == 101,'summary_sheet_schedule_type':element.schedule_type != 101}">
                    {{
                      tcUtilsArray.getEnum(
                        patientPersist.schedule_type,
                        element.schedule_type
                      )?.name
                    
                  }}
                   </span>
                  </mat-cell>
              
              </ng-container>
  
  
             
              <ng-container matColumnDef="doctor">
                <mat-header-cell *matHeaderCellDef mat-sort-header>doctor
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.doctor}}
                </mat-cell>
              </ng-container>
  
              <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true; ">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                   >
            </mat-row>
            
              
            
            
            
            </mat-table>
            <mat-paginator  [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="summarySheetsTotalCount"
            [ngStyle]="{display: summarySheetsTotalCount > 0? '':'none'}"></mat-paginator>
  
           
  
          </div>
          </div>



          <!-- ************ -->

          <h1 class="next_appointment">Next Appointments</h1>
          <div>
            <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
              <mat-card *ngFor="let appointment of featureAppointmentData" class="tc-card">
                
                <mat-card-content>
          <div class="tc-detail-field">
                    <span>Patient</span>
                    {{appointment.patient_name}}
                  </div>
                  
                  <div class="tc-detail-field">
                    <span>
                      {{ appTranslation.getText("patient", "patient_type") }}
                    </span>
                    {{
                      appTranslation.getTextByIdentifier(
                        tcUtilsArray.getEnum(
                          appointmentPersist.schedule_type,
                          appointment.schedule_type
                        )?.name
                      )
                    }}
                  </div>
                  
                  
                  <div class="tc-detail-field">
                    <span>service_type</span>
                    {{tcUtilsArray.getEnum(
                      appointmentPersist.serviceType,
                      appointment.service_type
                    )?.name}}{{ appointment.is_referal ? '/Referal' : ''}}
                  </div>        
                  <div class="tc-detail-field">
                    <span>{{ appTranslation.getText("employee", "appointed_doctor") }}</span>
                    {{ appointment.provider_name }}
                  </div>
                  <div class="tc-detail-field">
                    <span>{{ appTranslation.getText("patient", "patient") }}</span>
                    {{ appointment.patient_name }}
                  </div>

                  
                  <div class="tc-detail-field">
              <span>{{ appTranslation.getText("patient", "apt_status") }}</span>
              {{
                appTranslation.getTextByIdentifier(
                  tcUtilsArray.getEnum(
                    appointmentPersist.appointment_status,
                    appointment.status
                  )?.name
                )
              }}
            </div>

            <div class="tc-detail-field">
              <span>{{
                appTranslation.getText("schedule", "start_time")
              }}</span>
              {{
                tcUtilsDate.toDate(appointment.schedule_start_time) |date:'EE MMM, d/y h:mm a'
              }}
            </div>
            <div class="tc-detail-field">
              <span>{{ appTranslation.getText("schedule", "end_time") }}</span>
              {{
                tcUtilsDate.toDate(appointment.schedule_end_time)
                  | date: "h:mm a"
              }}
            </div>      
                </mat-card-content>
              </mat-card>
            </div>
            <div class="tc-table-container tc-full-stretch" >
  
            <mat-table style="margin:50px 35px;width:none"   [dataSource]="featureAppointmentData" matSort>
  
          
             <ng-container matColumnDef="scheduled_user_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >{{ appTranslation.getText("employee", "appointed_doctor") }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element.doctor}}
              </mat-cell>
            </ng-container>
            
              
            <ng-container matColumnDef="service_type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>service_type
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{tcUtilsArray.getEnum(
                appointmentPersist.serviceType,
                element.service_type
              )?.name}} {{ element.is_referal ? '/Referal' : ''}}</mat-cell>
            </ng-container>
            
             
  
            <ng-container matColumnDef="schedule_start_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >{{ appTranslation.getText("schedule", "start_time") }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{
                tcUtilsDate.toDate(element.schedule_start_time) |date:'EE MMM, d/y h:mm a'
              }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="schedule_end_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >{{ appTranslation.getText("schedule", "end_time") }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{
                element.schedule_end_time &&
                  tcUtilsDate.toDate(element.schedule_end_time) | date: "h:mm a"
              }}</mat-cell>
            </ng-container>
  
             
  
            <ng-container matColumnDef="patient_status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "patient_status")
              }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{
                  appTranslation.getTextByIdentifier(
                    tcUtilsArray.getEnum(
                      appointmentPersist.appointment_patient_status,
                      element.patient_status
                    )?.name
                  )
                }}</mat-cell
              >
            </ng-container>
            <ng-container matColumnDef="schedule_type">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >{{ appTranslation.getText("patient", "patient_type") }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                
                <span *ngIf="element.encounter != tcUtilString.invalid_id && element.paid">
                  {{
                    appTranslation.getTextByIdentifier(
                      tcUtilsArray.getEnum(
                        appointmentPersist.schedule_type,
                        element.schedule_type
                      )?.name
                    )
                  }}
                </span>

                  
                <span *ngIf="element.encounter == -1 || !element.paid">{{
                  appTranslation.getTextByIdentifier(
                    tcUtilsArray.getEnum(
                      appointmentPersist.schedule_type,
                      element.schedule_type
                    )?.name
                  )
                }}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="appointed_for">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Appointed For
              </mat-header-cell>
              <mat-cell  *matCellDef="let element">
                <p *ngIf="element.is_result">{{"Result"}} </p>
                <p *ngIf="!element.is_result">{{"Consultation"}} </p>

              </mat-cell>
            </ng-container>
  
  
             
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                appTranslation.getText("patient", "apt_status")
              }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{
                  appTranslation.getTextByIdentifier(
                    tcUtilsArray.getEnum(
                      appointmentPersist.appointment_status,
                      element.status
                    )?.name
                  )
                }}</mat-cell
              >
            </ng-container>
  
              <mat-header-row
              *matHeaderRowDef="appointmentsDisplayedColumns; sticky: true; ">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: appointmentsDisplayedColumns;"
                   >
            </mat-row>
            
              
            
            
            
            </mat-table>
          
  
          </div>
          </div>

        </mat-tab>

        <mat-tab label="{{appTranslation.getText('general', 'login')}}">
            <div class="tc-equal-block">


              <div class="tc-padding">

                <mat-accordion>

                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{appTranslation.getText('member', 'login_details')}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>


                    <div *ngIf="tcUtilsString.invalid_id == patientDetail.login_id">
                      <span class="tc-text-muted">User doesn't have account</span>
                    </div>


                    <mat-action-row>
                      <button mat-button (click)="createUser()"
                              *ngIf="tcUtilsString.invalid_id == patientDetail.login_id">
                        Create User
                      </button>
                      <button mat-button (click)="removeUser()"
                              *ngIf="tcUtilsString.invalid_id != patientDetail.login_id">
                        Deactivate
                      </button>

                      <div *ngIf="tcUtilsString.invalid_id != patientDetail.login_id">
                        <button mat-button [disabled]="true">
                          Activate
                        </button>
                      </div>

                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>


              <div class="tc-padding"  *ngIf="tcAuthorization.canRead('reception_notes')">
                <mat-accordion>

                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{appTranslation.getText('notes', 'notes')}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-spinner diameter="50" *ngIf="notesLoading"></mat-spinner>

                    <div [ngStyle]="{display: notesLoading? 'none':''}">

                      <div >
                        <div *ngFor="let note of notesData">
                          <div class="tc-padding">
                                                    <span
                                                      class="tc-date tc-text-muted">{{tcUtilsDate.toDate(note.date)
                                                     |date:'MMM dd, yyyy. h:mm a'}}
                                                      <span
                                                        *ngIf="tcUtilsArray.containsId(userPersist.userDisplays,note.commented_by)">
                                                            |
                                                        {{getUser(note.user_id)}} </span>
                                                        <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v"
                                                                  class="tc-icon-button" style="margin-left:5px;"
                                                                  [matMenuTriggerFor]="noteContextMenu"
                                                                  *ngIf="canUpdateNote(note)">
                                                        </mat-icon>
                                                        <mat-menu #noteContextMenu="matMenu">
                                                            <button mat-menu-item (click)="editNote(note)"
                                                                    *ngIf="canUpdateNote(note)">
                                                                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                Edit
                                                            </button>
                                                            <button mat-menu-item (click)="deleteNote(note)"
                                                                    *ngIf="canUpdateNote(note)">
                                                                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                Archive
                                                            </button>
                                                        </mat-menu>
                                                    </span>
                            <div class="tc-notice-text">{{note.note }}</div>
                          </div>
                        </div>
                      </div>

                      <mat-form-field style="display:none;">
                        <input matInput [formControl]="notesSearchTextBox" placeholder="Filter">
                        <button mat-button *ngIf="notesSearchTextBox.value" matSuffix
                                mat-icon-button aria-label="Clear"
                                (click)="notesSearchTextBox.setValue('')">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>

                      <div class="tc-table-container tc-full-stretch tc-hidden" matSort>


                        <mat-toolbar *ngIf="notesSelected.length >0 ">

                        </mat-toolbar>

                        <mat-table [dataSource]="notesData">

                          <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                              <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)=" tcUtilsArray.toggleSelectAll(notesData,notesSelected) "
                                            [checked]=" tcUtilsArray.isAllSelected(notesData,notesSelected)"
                                            [indeterminate]="notesSelected.length <notesData.length && notesSelected.length>0">
                              </mat-checkbox>

                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="tc-column-selection">
                              <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? tcUtilsArray.toggleSelection(notesSelected,row) : null"
                                            [checked]="tcUtilsArray.contains(notesSelected,row)">
                              </mat-checkbox>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="comment_text">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>note
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.note}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="comment_time">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>comment_time
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.date * 1000|date:'MMM dd, yyyy. h:mm a'}}
                            </mat-cell>
                          </ng-container>


                          <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef class="tc-column-action">
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="tc-column-action">
                              <button mat-flat-button [matMenuTriggerFor]="elementMenu">
                                <i class="material-icons">more_vert</i>
                              </button>
                              <mat-menu #elementMenu="matMenu">


                                <button mat-menu-item (click)="deleteNote(element)">
                                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                  <span>Archive</span>
                                </button>
                              </mat-menu>
                            </mat-cell>
                          </ng-container>

                          <mat-header-row
                            *matHeaderRowDef="notesDisplayedColumns; sticky: true; ">
                          </mat-header-row>
                          <mat-row *matRowDef="let row; columns: notesDisplayedColumns;"
                                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(notesSelected,row)}">
                          </mat-row>

                        </mat-table>
                        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions"
                                       showFirstLastButtons [pageSize]="tcUtilsArray.defaultPageSizeSmall"
                                       [length]="notesTotalCount"
                                       [ngStyle]="{display: notesTotalCount > 0? '':'none'}"></mat-paginator>
                      </div>

                    </div>
                    <mat-action-row>
                      <button mat-button (click)="addNote()" *ngIf="tcAuthorization.canCreate('reception_notes')">
                        {{appTranslation.getText('general', 'add')}}
                      </button>
                    </mat-action-row>

                  </mat-expansion-panel>
                </mat-accordion>

              </div>

            </div>
        </mat-tab>
        <mat-tab label="Images">
          <app-encounter-images-list *ngIf="patientDetail.id"
          [encounterId]="invalid_uuid"
          [patientId] ="patientDetail.id"
        >
        </app-encounter-images-list>
        </mat-tab>
      </mat-tab-group>

    </div>

  
  </mat-sidenav-content>
</mat-sidenav-container>
