<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="nursePlanOfCareDetail">
         
        <mat-form-field class="tc-full-stretch">
            <mat-label>
                plan_of_care_id
            </mat-label>
            <input matInput disabled [(ngModel)]="plan_of_care_name"/>
            <button
              mat-icon-button
              matTooltip="plan_of_care"
              matSuffix
              color="primary"
              (click)="searchPlaneOfCare()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>    
    </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>