<div class="tc-flex-row">
    <div class="tc-equal-block">
        <a [routerLink]="patientNavigator.patientsUrl()">
            <div class="box-card">
                <h2>Reception</h2>
            </div>
        </a>
    </div>

    <div class="tc-equal-block">
        <a [routerLink]="appointmentNavigator.appointmentsUrl()">
            <div class="box-card">
                <h2>Triage</h2>
            </div>
        </a>
    </div>
    <div class="tc-equal-block">
        <a (click)="outpatient()">
            <div class="box-card">
                <h2>Outpatient</h2>
            </div>
        </a>
    </div>

</div>

<div class="tc-flex-row">

    <div class="tc-equal-block">
        <a (click)="inpatient()">
            <div class="box-card">
                <h2>Inpatient</h2>
            </div>
        </a>
    </div>

    <div class="tc-equal-block">
        <a (click)="emergency()">
            <div class="box-card">
                <h2>Emergency</h2>
            </div>
        </a>
    </div>
    <div class="tc-equal-block">
        <a [routerLink]="ordersNavigator.labOrderssUrl()">
            <div class="box-card">
                <h2>Laboratory</h2>
            </div>
        </a>
    </div>

    </div>

    <div class="tc-flex-row">
    <div class="tc-equal-block">
        <a [routerLink]="ordersNavigator.radOrderssUrl()">
            <div class="box-card">
                <h2>Imaging</h2>
            </div>
        </a>
    </div>


    <div class="tc-equal-block">
        <a [routerLink]="form_encounterNavigator.patientProceduresUrl()">
            <div class="box-card">
                <h2>Procedure</h2>
            </div>
        </a>
    </div>
    <div class="tc-equal-block">
        <a [routerLink]="pysiotherapyNavigator.physiotherapysUrl()">
            <div class="box-card">
                <h2>Physiothrapy</h2>
            </div>
        </a>
    </div>

</div>
<div class="tc-flex-row">
    <div class="tc-equal-block">
        <a [routerLink]="paymentNavigator.paymentsUrl()">
            <div class="box-card">
                <h2>Finance</h2>
            </div>
        </a>
    </div>
    <!-- <div class="tc-equal-block">
        <a [routerLink]="dialysisSessionNavigator.dialysisOrderUrl()">
            <div class="box-card">
                <h2>Dialysis</h2>
            </div>
        </a>
    </div> -->
    <div class="tc-equal-block">
        <a [routerLink]="nurse_recordNavigator.nurseNavigatorUrl()">
            <div class="box-card">
                <h2>{{ward}}</h2>
            </div>
        </a>
    </div>
    <div class="tc-equal-block"></div>
    
</div>