<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="bedDetail">
    <mat-form-field class="tc-full-stretch">
      <mat-label>{{
        appTranslation.getText("bed", "search_bed_room")
      }}</mat-label>
      <input matInput disabled [(ngModel)]="bedRoomName" />
      <button
        mat-icon-button
        matTooltip="{{ appTranslation.getText('bed', 'search_bed_room') }}"
        matSuffix
        color="primary"
        (click)="searchBedroom()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch" *ngIf="isEdit()">
      <mat-select
        placeholder="{{ appTranslation.getText('bed', 'status') }}"
        [(value)]="bedDetail.status"
        required
      >
        <mat-option *ngFor="let etype of persist.bed_status" [value]="etype.id">
          {{ appTranslation.getTextByIdentifier(etype.name) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
