<h1 mat-dialog-title>
  patient_discharge Selection
</h1><div mat-dialog-content>  <mat-form-field>
  <input matInput [formControl]="patientDischargeSearchTextBox"
    placeholder='{{appTranslation.getText("general","search_text")}} '>
  <button mat-button *ngIf="patientDischargePersist.patientDischargeSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
    (click)="patientDischargeSearchTextBox.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <mat-select
    placeholder="Filter"
    [(value)]="patientDischargePersist.patientDischargeSearchHistory.search_column"
    multiple="true"
    (valueChange)="searchPatient_discharges()">
    <mat-option *ngFor="let etype of patientDischargeFilterColumn" [value]="etype.id">
     {{etype.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="tc-loading" *ngIf="patientDischargeIsLoading">
  <mat-spinner></mat-spinner>
</div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="patientDischargesData" matSort class="tc-hide-on-mobile">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)=" tcUtilsArray.toggleSelectAll(patientDischargesData,patientDischargeSelection) "
          [checked]=" tcUtilsArray.isAllSelected(patientDischargesData,patientDischargeSelection) || patientDischargeSelectAll"
          [indeterminate]="patientDischargeSelection.length <patientDischargesData.length && patientDischargeSelection.length>0"
          [disabled]="patientDischargeSelectAll">
        </mat-checkbox>

        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="patientDischargeSelectAllMenu"></mat-icon>
        </button>
        <mat-menu #patientDischargeSelectAllMenu="matMenu">

          <button mat-menu-item (click)="patientDischargeSelectAll=true;" [disabled]="patientDischargeSelectAll">
            {{appTranslation.getText("general", "all")}}
          </button>
          <button mat-menu-item (click)="patientDischargeSelectAll = false;" [disabled]="!patientDischargeSelectAll">
            {{appTranslation.getText("general", "none")}}
          </button>
        </mat-menu>

      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="tc-column-selection">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? tcUtilsArray.toggleSelection(patientDischargeSelection,row) : null"
          [checked]="tcUtilsArray.contains(patientDischargeSelection,row) || patientDischargeSelectAll" [disabled]="patientDischargeSelectAll">
        </mat-checkbox>
      </mat-cell>
    </ng-container>  <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="pid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>pid
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.pid}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="speciality">
      <mat-header-cell *matHeaderCellDef mat-sort-header>speciality
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.speciality}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="bed_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>bed_no
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.bed_no}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="date_of_admission">
      <mat-header-cell *matHeaderCellDef mat-sort-header>date_of_admission
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date_of_admission}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="no_of_days">
      <mat-header-cell *matHeaderCellDef mat-sort-header>no_of_days
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.no_of_days}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="discharged_by">
      <mat-header-cell *matHeaderCellDef mat-sort-header>discharged_by
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.discharged_by}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="hospital_course">
      <mat-header-cell *matHeaderCellDef mat-sort-header>hospital_course
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.hospital_course}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="history_and_examination_notes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>history_and_examination_notes
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.history_and_examination_notes}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="lab_and_investigation_notes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>lab_and_investigation_notes
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.lab_and_investigation_notes}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="radiology_notes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>radiology_notes
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.radiology_notes}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="surgeries and procedure">
      <mat-header-cell *matHeaderCellDef mat-sort-header>surgeries and procedure notes
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.surgeries_and_procedure_notes}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="operative_procedure">
      <mat-header-cell *matHeaderCellDef mat-sort-header>operative_procedure notes
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.operative_procedure_notes}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="other_notes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>other_notes
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.other_notes}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="condition_status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>condition_status
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.condition_status}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="advice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>advice
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.advice}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="plan_for_followup">
      <mat-header-cell *matHeaderCellDef mat-sort-header>plan_for_followup
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.plan_for_followup}}</mat-cell>
    </ng-container>
<ng-container matColumnDef="followup_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>followup_date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.followup_date}}</mat-cell>
    </ng-container>
<mat-header-row *matHeaderRowDef="patientDischargesDisplayedColumns; sticky: true; "></mat-header-row>
    <mat-row *matRowDef="let row; columns: patientDischargesDisplayedColumns;"
      [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(patientDischargeSelection,row)}"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
    [pageSize]="tcUtilsArray.defaultPageSize" [length]="patientDischargesTotalCount"
    [ngStyle]="{display: patientDischargesTotalCount > 0? '':'none'}"></mat-paginator>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" patientDischargeSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>