
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-trend-up"></mat-icon>
     store_stock_level  </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchStoreStockLevels();" *ngIf="tcAuthorization.canRead('store_stock_levels')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addStoreStockLevel();" *ngIf="tcAuthorization.canCreate('store_stock_levels')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="storeStockLevelSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="storeStockLevelPersist.storeStockLevelSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="storeStockLevelSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="storeStockLevelIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let storeStockLevel of storeStockLevelsData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('store_stock_levels') || tcAuthorization.canDelete('store_stock_levels')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
  
              <button mat-menu-item (click)="editStoreStockLevel(storeStockLevel)" *ngIf="tcAuthorization.canUpdate('store_stock_levels')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteStoreStockLevel(storeStockLevel)" *ngIf="tcAuthorization.canDelete('store_stock_levels')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><div class="tc-detail-field">
            <span>item_id</span>
            {{storeStockLevel.item_name}}
          </div><div class="tc-detail-field">
            <span>min</span>
            {{storeStockLevel.min}}
          </div><div class="tc-detail-field">
            <span>max</span>
            {{storeStockLevel.max}}
          </div>        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">
  
      <mat-toolbar *ngIf="searchStoreStockLevels.length >0 || storeStockLevelSelectAll">
        <button mat-button (click)="downloadStoreStockLevels()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{storeStockLevelSelectAll ? storeStockLevelsTotalCount : storeStockLevelSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="storeStockLevelsData" matSort class="tc-hide-on-mobile">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(storeStockLevelsData,storeStockLevelSelection) "
              [checked]=" tcUtilsArray.isAllSelected(storeStockLevelsData,storeStockLevelSelection) || storeStockLevelSelectAll"
              [indeterminate]="storeStockLevelSelection.length <storeStockLevelsData.length && storeStockLevelSelection.length>0"
              [disabled]="storeStockLevelSelectAll">
            </mat-checkbox>
  
            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="storeStockLevelSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #storeStockLevelSelectAllMenu="matMenu">
  
              <button mat-menu-item (click)="storeStockLevelSelectAll=true;" [disabled]="storeStockLevelSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="storeStockLevelSelectAll = false;" [disabled]="!storeStockLevelSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>
  
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(storeStockLevelSelection,row) : null"
              [checked]="tcUtilsArray.contains(storeStockLevelSelection,row) || storeStockLevelSelectAll" [disabled]="storeStockLevelSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="store_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>store_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.store_id}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="item_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>item_id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.item_name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="min">
          <mat-header-cell *matHeaderCellDef mat-sort-header>min
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.min}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="max">
          <mat-header-cell *matHeaderCellDef mat-sort-header>max
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.max}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="storeStockLevelNavigator.storeStockLevelUrl(element.id)" class="tc-link">{{element.id}}</a>
  
          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('store_stock_levels') || tcAuthorization.canDelete('store_stock_levels')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editStoreStockLevel(element)" *ngIf="tcAuthorization.canUpdate('store_stock_levels') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteStoreStockLevel(element)" *ngIf="tcAuthorization.canDelete('store_stock_levels')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="storeStockLevelsDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: storeStockLevelsDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(storeStockLevelSelection,row)}"></mat-row>
  
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="storeStockLevelsTotalCount"
        [ngStyle]="{display: storeStockLevelsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>