<h1 mat-dialog-title>
  <mat-icon>search</mat-icon>
  Locks
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="locksSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="lockPersist.lockSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="locksSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="locksIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="locksData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(locksData,locksSelection) "
            [checked]=" tcUtilsArray.isAllSelected(locksData,locksSelection)"
            [indeterminate]="locksSelection.length <locksData.length && locksSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="locksSelection.length >0 " [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{locksSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="locksSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(locksSelection,row) : null"
                        [checked]="tcUtilsArray.contains(locksSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-radio-group *ngIf="selectOne">
            <mat-radio-button (click)="markOneItem(row)"></mat-radio-button>
          </mat-radio-group>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lock_type_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>lock_type_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.lock_type_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="target_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="lock_value">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>lock_value</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.lock_value}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="lock_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>lock_time</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.lock_time}}</mat-cell>
                             </ng-container>



      <mat-header-row *matHeaderRowDef="locksDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: locksDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(locksSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="locksTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" locksSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
