<mat-sidenav-container class="tc-sidebar-container" fullscreen>
    <mat-sidenav-content>

        <div class="tc-loading" *ngIf="rehabilitationOrderIsLoading">
            <mat-spinner></mat-spinner>
        </div>

        <div [ngClass]="activeTab==RehabilitationOrderTabs.overview? '':'tc-hidden'">
            <mat-toolbar class="tc-toolbar-secondary ">
                <h1 class="mat-heading">
                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                    {{appTranslation.getText("general", "overview")}}
                </h1>
                <button mat-button (click)=" back();" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                </button>
                <button mat-button (click)=" reload()" class="tc-link">
                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                </button>
            </mat-toolbar>

            <div class="tc-flex-row tc-full-width">
                <div class="tc-equal-block" *ngIf="rehabilitationOrderDetail.encounter_id">
                    <div class="tc-padding">
                        <mat-accordion>
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        physiotherapy sessions
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <app-physiotherapy_session-list [encounter_id]="rehabilitationOrderDetail.encounter_id">
                                </app-physiotherapy_session-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="tc-equal-block">
                </div>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>