
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-building"></mat-icon>
        {{appTranslation.getText("inventory", "insurance_company")}}
    </h3>
  
    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchInsurance_Companys();" *ngIf="tcAuthorization.canRead('insurance_companys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addInsurance_Company();" *ngIf="tcAuthorization.canCreate('insurance_companys')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="tc-padding">
        <mat-form-field>
          <input matInput [formControl]="insurance_companysSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
          <button mat-button *ngIf="insurance_companyPersist.insurance_companySearchText" matSuffix mat-icon-button aria-label="Clear"
                  (click)="insurance_companysSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="tc-loading" *ngIf="insurance_companysIsLoading">
          <mat-spinner></mat-spinner>
        </div>
  
        <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
          <mat-card *ngFor="let insurance_company of insurance_companysData" class="tc-card" >
                  <mat-card-header>
                        <mat-card-title>
                                                                      <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('insurance_companys') || tcAuthorization.canDelete('insurance_companys')">
                                                                                      <i class="material-icons">more_vert</i>
                                                                                    </button>
                                                                                    <mat-menu #elementMenu="matMenu">
  
                                                                                      <button mat-menu-item (click)="editInsurance_Company(insurance_company)" *ngIf="tcAuthorization.canUpdate('insurance_companys')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                      </button>
                                                                                      <button mat-menu-item (click)="deleteInsurance_Company(insurance_company)" *ngIf="tcAuthorization.canDelete('insurance_companys')">
                                                                                        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                        <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                      </button>
                                                                                    </mat-menu>
                                                                      </mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                   </mat-card-header>
                  <mat-card-content>
                      <div class="tc-detail-field">
              <span>name</span>
              {{insurance_company.name}}
            </div>
                  </mat-card-content>
          </mat-card>
        </div>
  
        <div class="tc-table-container tc-full-width">
  
          <mat-toolbar *ngIf="insurance_companysSelection.length >0 || insurance_companysSelectAll">
                    <button mat-button (click)="downloadInsurance_Companys()">
                      <mat-icon>save_alt</mat-icon>
                      <span>{{appTranslation.getText("general", "download")}} </span>
                    </button>
                    <div class="tc-flex-fill"></div>
                    <span>{{insurance_companysSelectAll ? insurance_companysTotalCount : insurance_companysSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
          </mat-toolbar>
  
          <mat-table [dataSource]="insurance_companysData" matSort class="tc-hide-on-mobile">
  
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)=" tcUtilsArray.toggleSelectAll(insurance_companysData,insurance_companysSelection) "
                  [checked]=" tcUtilsArray.isAllSelected(insurance_companysData,insurance_companysSelection) || insurance_companysSelectAll"
                  [indeterminate]="insurance_companysSelection.length <insurance_companysData.length && insurance_companysSelection.length>0"
                  [disabled]="insurance_companysSelectAll">
                </mat-checkbox>
                
                <button mat-icon-button>
                  <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="insurance_companysSelectAllMenu"></mat-icon>
                </button>
                <mat-menu #insurance_companysSelectAllMenu="matMenu">
      
      
                  <button mat-menu-item
                          (click)="insurance_companysSelectAll=true;"
                          [disabled]="insurance_companysSelectAll">
                    {{appTranslation.getText("general", "all")}}
                  </button>
                  <button mat-menu-item
                          (click)="insurance_companysSelectAll = false;"
                          [disabled]="!insurance_companysSelectAll">
                    {{appTranslation.getText("general", "none")}}
                  </button>
                </mat-menu>
  
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="tc-column-selection">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? tcUtilsArray.toggleSelection(insurance_companysSelection,row) : null"
                              [checked]="tcUtilsArray.contains(insurance_companysSelection,row) || insurance_companysSelectAll"
                              [disabled]="insurance_companysSelectAll">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                               </ng-container>
                            
  
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
              <mat-cell *matCellDef="let element" class="tc-column-action">
                <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('insurance_companys') || tcAuthorization.canDelete('insurance_companys')">
                  <i class="material-icons">more_vert</i>
                </button>
                <mat-menu #elementMenu="matMenu">
  
                  <button mat-menu-item (click)="editInsurance_Company(element)" *ngIf="tcAuthorization.canUpdate('insurance_companys') ">
                    <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                    <span>{{appTranslation.getText("general","edit")}} </span>
                  </button>
                  <button mat-menu-item (click)="deleteInsurance_Company(element)" *ngIf="tcAuthorization.canDelete('insurance_companys')">
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    <span>{{appTranslation.getText("general","delete")}} </span>
                  </button>
                </mat-menu>
              </mat-cell>
            </ng-container>
  
  
            <mat-header-row *matHeaderRowDef="insurance_companysDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: insurance_companysDisplayedColumns;"
                     [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(insurance_companysSelection,row)}"></mat-row>
  
          </mat-table>
  
          <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                         [pageSize]="tcUtilsArray.defaultPageSize"
                         [length]="insurance_companysTotalCount"
                         [ngStyle]="{display: insurance_companysTotalCount > 0? '':'none'}"></mat-paginator>
        </div>
      </div>
  
  
  