
<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
     other Services  </h3>

    <button mat-button (click)=" back();" class="tc-link">
            <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchOtherServicess();" *ngIf="tcAuthorization.canRead('other_services')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addOtherServices();" *ngIf="tcAuthorization.canCreate('other_services')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
  </mat-toolbar>
  <div class="tc-padding">
    <mat-form-field>
      <input matInput [formControl]="otherServicesSearchTextBox"
        placeholder='{{appTranslation.getText("general","search_text")}} '>
      <button mat-button *ngIf="otherServicesPersist.otherServicesSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="otherServicesSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder='ServiceType'
                  [(value)]="otherServicesPersist.service_type"
                  (valueChange)="searchOtherServicess()">
        <mat-option *ngFor="let status of otherServicesPersist.serviceType" [value]="status.id">
          {{ status.name }}
        </mat-option>
      </mat-select>

      <button mat-button *ngIf='otherServicesPersist.service_type' matSuffix mat-icon-button
              aria-label="Clear"
              (click)="otherServicesPersist.serviceType = null;searchOtherServicess();$event.stopPropagation()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="otherServicesIsLoading">
      <mat-spinner></mat-spinner>
    </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
      <mat-card *ngFor="let otherServices of otherServicessData" class="tc-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('other_services') || tcAuthorization.canDelete('other_services')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

              <button mat-menu-item (click)="editOtherServices(otherServices)" *ngIf="tcAuthorization.canUpdate('other_services')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteOtherServices(otherServices)" *ngIf="tcAuthorization.canDelete('other_services')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  <div class="tc-detail-field">
            <span>name</span>
            {{otherServices.name}}
          </div><div class="tc-detail-field">
            <span>remark</span>
            {{otherServices.remark}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

      <mat-toolbar *ngIf="searchOtherServicess.length >0 || otherServicesSelectAll">
        <button mat-button (click)="downloadOtherServicess()">
          <mat-icon>save_alt</mat-icon>
          <span>{{appTranslation.getText("general", "download")}} </span>
        </button>
        <div class="tc-flex-fill"></div>
        <span>{{otherServicesSelectAll ? otherServicessTotalCount : otherServicesSelection.length}} {{appTranslation.getText("general",
          "selected")}}</span>
      </mat-toolbar><mat-table [dataSource]="otherServicessData" matSort class="tc-hide-on-mobile">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)=" tcUtilsArray.toggleSelectAll(otherServicessData,otherServicesSelection) "
              [checked]=" tcUtilsArray.isAllSelected(otherServicessData,otherServicesSelection) || otherServicesSelectAll"
              [indeterminate]="otherServicesSelection.length <otherServicessData.length && otherServicesSelection.length>0"
              [disabled]="otherServicesSelectAll">
            </mat-checkbox>

            <button mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="otherServicesSelectAllMenu"></mat-icon>
            </button>
            <mat-menu #otherServicesSelectAllMenu="matMenu">

              <button mat-menu-item (click)="otherServicesSelectAll=true;" [disabled]="otherServicesSelectAll">
                {{appTranslation.getText("general", "all")}}
              </button>
              <button mat-menu-item (click)="otherServicesSelectAll = false;" [disabled]="!otherServicesSelectAll">
                {{appTranslation.getText("general", "none")}}
              </button>
            </mat-menu>

          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? tcUtilsArray.toggleSelection(otherServicesSelection,row) : null"
              [checked]="tcUtilsArray.contains(otherServicesSelection,row) || otherServicesSelectAll" [disabled]="otherServicesSelectAll">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="remark">
          <mat-header-cell *matHeaderCellDef mat-sort-header>remark
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
        </ng-container>
   <ng-container matColumnDef="link">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="otherServicesNavigator.otherServicesUrl(element.id)" class="tc-link">{{element.id}}</a>

          </mat-cell>
        </ng-container>  <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu"
              *ngIf="tcAuthorization.canUpdate('other_services') || tcAuthorization.canDelete('other_services')">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">
           <button mat-menu-item (click)="editOtherServices(element)" *ngIf="tcAuthorization.canUpdate('other_services') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteOtherServices(element)" *ngIf="tcAuthorization.canDelete('other_services')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>  <mat-header-row *matHeaderRowDef="otherServicessDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: otherServicessDisplayedColumns;"
          [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(otherServicesSelection,row)}"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="otherServicessTotalCount"
        [ngStyle]="{display: otherServicessTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
  </div>
