<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{title}} </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="medicationAdminstrationChartDetail">
                        <!-- <mat-form-field class="tc-full-stretch" >
                          <mat-select
                            placeholder="{{appTranslation.getText('patient', 'route')}}"
                            [(value)]="medicationAdminstrationChartDetail.route"
                            required>
                            <mat-option *ngFor="let etype of persist.MedicationRoute" [value]="etype.id">
                             {{etype.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
 <mat-form-field class="tc-full-stretch">
                            <input matInput  placeholder="drug_dose" type="number"  [(ngModel)]="medicationAdminstrationChartDetail.drug_dose" required>
                        </mat-form-field> -->
                        <mat-form-field class="tc-full-stretch" >
                              <textarea rows="4" matInput  placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="medicationAdminstrationChartDetail.medical_administration" required></textarea>
                        </mat-form-field>
                      </div>

 </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
  <button *ngIf="!isWizard()" mat-button (click)="isNew()? onAdd(): onUpdate()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('general','save')}}
  </button>
  <button *ngIf="isWizard()" mat-button (click)="onWizard()"
  [disabled]="!canSubmit()"
  cdkFocusInitial>
{{appTranslation.getText('general','next')}}
</button>
</div>