<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-chart-line"></mat-icon>
    stats
  </h3>
  <button mat-button (click)=" searchStats();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addStat();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding ">
  <mat-form-field>
    <input matInput [formControl]="statsSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="statPersist.statSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="statsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="statsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="tc-table-container">
    <mat-toolbar *ngIf="statsSelection.length >0">
      <button mat-button (click)="downloadStats()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>

    </mat-toolbar>
    <mat-table [dataSource]="statsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(statsData,statsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(statsData,statsSelection)"
            [indeterminate]="statsSelection.length <statsData.length && statsSelection.length>0">
          </mat-checkbox>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(statsSelection,row) : null"
            [checked]="tcUtilsArray.contains(statsSelection,row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="statNavigator.statUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stat_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>stat_type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.stat_type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="target_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="stat_value">
        <mat-header-cell *matHeaderCellDef mat-sort-header>stat_value</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.stat_value}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="stat_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header>stat_time</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.stat_time}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editStat(element)">
              <mat-icon>edit</mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteStat(element)">
              <mat-icon>delete</mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="statsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: statsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(statsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="statsTotalCount"></mat-paginator>
  </div>
</div>