<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="hemodialysisScheduledPateintDetail">

      <mat-form-field class="tc-full-stretch">
        <mat-label> Patient Selection</mat-label>
        <input matInput disabled [(ngModel)]="patientFullName"/>
        <button
          mat-icon-button
          matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
          matSuffix
          color="primary"
          (click)="searchSchedule()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

                                      



                          <mat-form-field class="tc-full-stretch" >
                            <mat-select placeholder=" {{appTranslation.getText('schedule', 'day_of_the_week')}}"
                                        [(value)]="hemodialysisScheduledPateintDetail.date" required>
                              <mat-option *ngFor="let etype of persist.day_of_the_week" [value]="etype.id">
                                {{etype.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>


    <mat-form-field class="tc-full-stretch">
      <input matInput type="time" [(ngModel)]="start_time" required>
      <mat-label>{{appTranslation.getText('schedule', 'start_time')}}</mat-label>
    </mat-form-field>


    
    <mat-form-field class="tc-full-stretch">
      <input matInput type="time" [(ngModel)]="end_time" required> 
      <mat-label>{{appTranslation.getText('schedule', 'end_time')}}</mat-label>
    </mat-form-field>

                   


              

                          <mat-form-field class="tc-full-stretch">
                            <mat-label> Machine Selection</mat-label>
                            <input matInput disabled [(ngModel)]="machineId"/>
                            <button
                              mat-icon-button
                              matTooltip="{{appTranslation.getText('schedule', 'scheduled')}}"
                              matSuffix
                              color="primary"
                              (click)="searchMachine()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>

                          <mat-form-field class="tc-full-stretch">
                            <mat-label>Last Date</mat-label>
                            <input matInput [matDatepicker]="last_date_picker" [(ngModel)]="last_date">
                            <mat-datepicker-toggle matSuffix [for]="last_date_picker"></mat-datepicker-toggle>
                            <mat-datepicker #last_date_picker></mat-datepicker>
                          </mat-form-field>
                    
  </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  