<mat-toolbar class="tc-toolbar-secondary" *ngIf="encounter_id==invalid_id">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-flask"></mat-icon>
        dialysis_session
    </h3>
    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchDialysisSessions();" *ngIf="tcAuthorization.canRead('dialysis_sessions')"
        class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
</mat-toolbar>
<div class="tc-padding">
    <mat-form-field>
        <input matInput [formControl]="dialysisSessionSearchTextBox"
            placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="dialysisSessionPersist.dialysisSessionSearchText" matSuffix mat-icon-button
            aria-label="Clear" (click)="dialysisSessionSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="dialysisSessionIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let dialysisSession of dialysisSessionsData" class="tc-card">
            <mat-card-header>
                <mat-card-title>
                    <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('dialysis_sessions') || tcAuthorization.canDelete('dialysis_sessions')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editDialysisSession(dialysisSession)"
                            *ngIf="tcAuthorization.canUpdate('dialysis_sessions')">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deleteDialysisSession(dialysisSession)"
                            *ngIf="tcAuthorization.canDelete('dialysis_sessions')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="tc-detail-field">
                    <span>encounter_id</span>
                    {{dialysisSession.encounter_id}}
                </div>
                <div class="tc-detail-field">
                    <span>patient_name</span>
                    {{dialysisSession.patient_name}}
                </div>
                <div class="tc-detail-field">
                    <span>card_id</span>
                    {{dialysisSession.card_id}}
                </div>
                <div class="tc-detail-field">
                    <span>dialysis_id</span>
                    {{dialysisSession.dialysis_id}}
                </div>
                <div class="tc-detail-field">
                    <span>machine_no</span>
                    {{dialysisSession.machine_no}}
                </div>
                <div class="tc-detail-field">
                    <span>service</span>
                    {{dialysisSession.service}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="searchDialysisSessions.length >0 || dialysisSessionSelectAll">
            <button mat-button (click)="downloadDialysisSessions()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
            </button>
            <div class="tc-flex-fill"></div>
            <span>{{dialysisSessionSelectAll ? dialysisSessionsTotalCount : dialysisSessionSelection.length}}
                {{appTranslation.getText("general",
                "selected")}}</span>
        </mat-toolbar>
        <mat-table [dataSource]="dialysisSessionsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(dialysisSessionsData,dialysisSessionSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(dialysisSessionsData,dialysisSessionSelection) || dialysisSessionSelectAll"
                        [indeterminate]="dialysisSessionSelection.length <dialysisSessionsData.length && dialysisSessionSelection.length>0"
                        [disabled]="dialysisSessionSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                            [matMenuTriggerFor]="dialysisSessionSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #dialysisSessionSelectAllMenu="matMenu">

                        <button mat-menu-item (click)="dialysisSessionSelectAll=true;"
                            [disabled]="dialysisSessionSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="dialysisSessionSelectAll = false;"
                            [disabled]="!dialysisSessionSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(dialysisSessionSelection,row) : null"
                        [checked]="tcUtilsArray.contains(dialysisSessionSelection,row) || dialysisSessionSelectAll"
                        [disabled]="dialysisSessionSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>          
            <ng-container matColumnDef="encounter_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>encounter_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.encounter_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="patient_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>patient_name
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><a (click)="loadDialysisSessionDetail(element)"
                    class="tc-link">{{element.patient_name}}</a>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="card_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>card_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.card_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="dialysis_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>dialysis_id
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.dialysis_id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="machine_no">
                <mat-header-cell *matHeaderCellDef mat-sort-header>machine_no
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(machine,element.machine_no)?.machine_no}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="service">
                <mat-header-cell *matHeaderCellDef mat-sort-header>service
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(dialysisSessionPersist.dialysis_service_type,
                    element.service)?.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="dialysisSessionNavigator.dialysisSessionUrl(element.id)"
                        class="tc-link">{{element.id}}</a>

                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="(tcAuthorization.canUpdate('dialysis_sessions') || tcAuthorization.canDelete('dialysis_sessions'))&&element.status==session_status.started">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">
                        <button mat-menu-item (click)="completeDialysisSession(element)"
                            *ngIf="tcAuthorization.canUpdate('dialysis_sessions')">
                            <mat-icon fontSet="fa" fontIcon="fa-stop"></mat-icon>
                            <span>complete session </span>
                        </button>   
                        <button mat-menu-item (click)="editDialysisSession(element)"
                            *ngIf="tcAuthorization.canUpdate('dialysis_sessions') ">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deleteDialysisSession(element)"
                            *ngIf="tcAuthorization.canDelete('dialysis_sessions')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="dialysisSessionsDisplayedColumns; sticky: true; ">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: dialysisSessionsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(dialysisSessionSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="dialysisSessionsTotalCount"
            [ngStyle]="{display: dialysisSessionsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>