<h1 mat-dialog-title>Lab Test Normal Range Selection</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="machinesSearchTextBox"
            placeholder="{{ appTranslation.getText('general', 'search_text') }} " />
        <button mat-button *ngIf="machinesPersist.searchMachines" matSuffix mat-icon-button
            aria-label="Clear" (click)="machinesSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="machinesIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-table-container tc-full-width">
        <mat-table [dataSource]="machinessData" matSort class="tc-hide-on-mobile">
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="
              tcUtilsArray.toggleSelectAll(
                machinessData,
                machinesSelection
              )
            " [checked]="
              tcUtilsArray.isAllSelected(
                machinessData,
                machinesSelection
              ) || machinesSelectAll
            " [indeterminate]="
              machinesSelection.length < machinessData.length &&
              machinesSelection.length > 0
            " [disabled]="machinesSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                            [matMenuTriggerFor]="machinesSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #machinesSelectAllMenu="matMenu">
                        <button mat-menu-item (click)="machinesSelectAll = true"
                            [disabled]="machinesSelectAll">
                            {{ appTranslation.getText("general", "all") }}
                        </button>
                        <button mat-menu-item (click)="machinesSelectAll = false"
                            [disabled]="!machinesSelectAll">
                            {{ appTranslation.getText("general", "none") }}
                        </button>
                    </mat-menu>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="
              $event
                ? tcUtilsArray.toggleSelection(machinesSelection, row)
                : null
            " [checked]="
              tcUtilsArray.contains(machinesSelection, row) ||
              machinesSelectAll
            " [disabled]="machinesSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{
                    element.date * 1000 | date
                    }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="machinessDisplayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: machinessDisplayedColumns" [ngClass]="{
          'tc-selected-row': tcUtilsArray.contains(machinesSelection, row)
        }"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="machinessTotalCount"
            [ngStyle]="{ display: machinessTotalCount > 0 ? '' : 'none' }"></mat-paginator>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">
        {{ appTranslation.getText("general", "cancel") }}
    </button>
    <button mat-button (click)="returnSelected()" [disabled]="machinesSelection.length == 0" cdkFocusInitial>
        {{ appTranslation.getText("general", "return_selection") }}
    </button>
</div>