<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="case_transferDetail">
    <mat-form-field class="tc-full-stretch">
      <!-- <mat-label>
        {{ appTranslation.getText("patient", "patient") }}
      </mat-label> -->
      <input
        matInput
        placeholder="{{ appTranslation.getText('patient', 'patient') }}"
        matTooltip="{{ appTranslation.getText('patient', 'patient_name') }}"
        type="text"
        [(ngModel)]="form_encounterDetail.full_name"
        required
        disabled
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="{{appTranslation.getText('patient', 'doctor_name')}}"
        type="text"
        matTooltip="{{ appTranslation.getText('general', 'from') }}"
        [(ngModel)]="form_encounterDetail.provider_name"
        required
        disabled
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <mat-label>
        {{appTranslation.getText("employee", "department_specialty ")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="departmentSpeciality"/>
      <button
        mat-icon-button
        matSuffix
        color="primary"
        (click)="searchDepartmentSpeciality()"
        [disabled]="!form_encounterDetail.service_type"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <mat-label>
        {{appTranslation.getText("patient", "search_for_a_doctor")}}
      </mat-label>
      <input matInput disabled [(ngModel)]="doctorFullName"/>
      <button
        mat-icon-button
        matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
        matSuffix
        [disabled]="(case_transferDetail.department_speciality==null)"
        color="primary"
        (click)="searchDoctors()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <textarea
        rows="3"
        matInput
        placeholder="{{ appTranslation.getText('general', 'remark') }}"
        type="text"
        [(ngModel)]="case_transferDetail.remark"
      ></textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : transferCase()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
