
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav #sidenav [mode]="tcUtilsAngular.sideNavMode" [opened]="!tcUtilsAngular.smallDevice"
          class="tc-sidebar mat-elevation-z8" position="end">
          <div class="tc-sidebar-inner">
              <div class="tc-padding" *ngIf="!equipmentDataIsLoading">
                  <h1 class="mat-h1 ">{{equipmentDataDetail.id}} </h1>
              </div>
              <mat-nav-list>
                  <mat-list-item [ngClass]="activeTab == EquipmentDataTabs.overview? 'tc-list-item-focus':''"
                      (click)="activeTab = EquipmentDataTabs.overview;tcUtilsAngular.smallDevice? sidenav.toggle():false;">
                      <a>
                          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                          {{appTranslation.getText("general", "overview")}}
                      </a>
                  </mat-list-item>
              </mat-nav-list>
          </div>
      </mat-sidenav> <mat-sidenav-content>
  
          <div class="tc-loading" *ngIf="equipmentDataIsLoading">
                  <mat-spinner></mat-spinner>
          </div>
  
          <div [ngClass]="activeTab==EquipmentDataTabs.overview? '':'tc-hidden'">
              <mat-toolbar class="tc-toolbar-secondary ">
                  <h1 class="mat-heading">
                      <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                      {{appTranslation.getText("general", "overview")}}
                  </h1>
                  <button mat-button (click)=" back();" class="tc-link">
                                      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                  </button>
                  <button mat-button (click)=" reload()" class="tc-link">
                      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                  </button>
                  <p *ngIf="tcUtilsAngular.smallDevice" style="float: right">
                            <button mat-button (click)="sidenav.toggle()">
                              <mat-icon>menu</mat-icon>
                            </button>
                          </p>
              </mat-toolbar>
  
              <div class="tc-flex-row tc-full-width">
                  <div class="tc-equal-block">
                      <div class="tc-padding">
                          <mat-accordion>
                                <mat-expansion-panel expanded="true">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      {{appTranslation.getText("general","basicdetails")}}
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
  
                                      <div *ngIf="!equipmentDataIsLoading">
                                          <p class="tc-detail-field">
{{  appTranslation.getText('inventory', 'equipment_id') }}                           <span>  {{equipmentDataDetail.equipment_id}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
{{  appTranslation.getText('inventory', 'equipment_type') }}                           <span>  {{equipmentDataDetail.equipment_type &&    tcUtilsArray.getEnum(equipmentDataPersist.equipment_type, equipmentDataDetail.equipment_type).name}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
  {{  appTranslation.getText('inventory', 'manufacturer') }}                         <span>  {{equipmentDataDetail.manufacturer}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
    {{  appTranslation.getText('inventory', 'model') }}                       <span>  {{equipmentDataDetail.model}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
    {{  appTranslation.getText('inventory', 'serial') }}                       <span>  {{equipmentDataDetail.serial}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
  {{  appTranslation.getText('inventory', 'origin_country') }}                         <span>  {{equipmentDataDetail.origin_country}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
  {{  appTranslation.getText('inventory', 'manufactured_year') }}                         <span>  {{tcUtilsDate.toDate(equipmentDataDetail.manufactured_year).getFullYear()}} </span> 
                                                       </p> 
                          <p class="tc-detail-field"> 
  {{  appTranslation.getText('inventory', 'power_requirement') }}                         <span>  {{equipmentDataDetail.power_requirement}}v </span> 
                                                       </p>
                          <p class="tc-detail-field">
 {{  appTranslation.getText('inventory', 'current_condition') }}                          <span>  {{equipmentDataDetail.current_condition &&    tcUtilsArray.getEnum(equipmentDataPersist.current_condition, equipmentDataDetail.current_condition).name}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
  {{  appTranslation.getText('inventory', 'out_ofservice_reason') }}                         <span>  {{equipmentDataDetail.outofservice_reason}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
  {{  appTranslation.getText('inventory', 'special_disposal_required') }}                         <span>  {{equipmentDataDetail.special_disposal_required}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
  {{  appTranslation.getText('inventory', 'spare_part_available') }}                         <span>  {{equipmentDataDetail.spare_part_available}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
  {{  appTranslation.getText('inventory', 'spare_part_quantity') }}                         <span>  {{equipmentDataDetail.spare_part_quantity}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
   {{  appTranslation.getText('inventory', 'spare_part_place') }}                        <span>  {{equipmentDataDetail.spare_part_place}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
   {{  appTranslation.getText('inventory', 'available_manuals') }}                        <span>{{equipmentDataDetail.available_manuals &&    tcUtilsArray.getEnum(equipmentDataPersist.available_manuals, equipmentDataDetail.available_manuals).name}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
 {{  appTranslation.getText('inventory', 'equipment_user') }}                          <span>  {{equipmentDataDetail.equipment_user &&    tcUtilsArray.getEnum(equipmentDataPersist.equipment_user, equipmentDataDetail.equipment_user).name}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
   {{  appTranslation.getText('inventory', 'equipment_owner') }}                        <span>  {{equipmentDataDetail.equipment_owner}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
   {{  appTranslation.getText('inventory', 'contact_person') }}                        <span>  {{equipmentDataDetail.contact_person}} </span> 
                                                       </p>
                          <p class="tc-detail-field">
   {{  appTranslation.getText('inventory', 'equipment_location') }}                        <span>  {{equipmentDataDetail.equipment_location}} </span> 
                                                       </p>
                         </div>
                                  <mat-action-row>
                                     <button mat-button (click)="editEquipmentData()" *ngIf="tcAuthorization.canUpdate('equipment_datas') ">
                                       {{appTranslation.getText("general", "edit")}}
                                     </button>
                                   </mat-action-row>
  
                                 </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                  </div>
                  <div class="tc-equal-block">
                  </div>
              </div>
  
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  