
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-money-check"></mat-icon>
    {{appTranslation.getText("financial", "fees")}}
  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchFees();" *ngIf="tcAuthorization.canRead('fees')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addFee();" *ngIf="tcAuthorization.canCreate('fees')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>

<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="feesSearchTextBox" placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="feePersist.feeSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
            (click)="feesSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Filter"
      [(value)]="feePersist.feeSearchHistory.search_column"
      multiple="true"
      (valueChange)="searchFees()">
      <mat-option *ngFor="let etype of feeFilterColumn" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<mat-form-field>
<mat-select placeholder='Fee Type'
  [(value)]="feePersist.feeSearchHistory.fee_type" (valueChange)="searchFees()">
  <mat-option *ngFor="let etype of paymentPersist.fee_type" [value]="etype.id">
    {{appTranslation.getTextByIdentifier(etype.name)}}
  </mat-option>
</mat-select>

<button mat-button *ngIf='feePersist.feeSearchHistory.fee_type' matSuffix mat-icon-button
  aria-label="Clear"
  (click)="feePersist.feeSearchHistory.fee_type= null;searchFees();$event.stopPropagation()">
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field>
<mat-select placeholder='Season'
  [(value)]="feePersist.feeSearchHistory.season" (valueChange)="searchFees()">
  <mat-option *ngFor="let etype of feePersist.payment_season" [value]="etype.id">
    {{appTranslation.getTextByIdentifier(etype.name)}}
  </mat-option>
</mat-select>

<button mat-button *ngIf='feePersist.feeSearchHistory.season' matSuffix mat-icon-button
  aria-label="Clear"
  (click)="feePersist.feeSearchHistory.season= null;searchFees();$event.stopPropagation()">
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field>
<mat-select placeholder='Service Type'
  [(value)]="feePersist.feeSearchHistory.service_type" (valueChange)="searchFees()">
  <mat-option *ngFor="let etype of formEncounterPersist.serviceTypeWithAll" [value]="etype.id">
    {{etype.name}}
   </mat-option>
</mat-select>

<button mat-button *ngIf='feePersist.feeSearchHistory.service_type' matSuffix mat-icon-button
  aria-label="Clear"
  (click)="feePersist.feeSearchHistory.service_type= null;searchFees();$event.stopPropagation()">
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<!-- <mat-form-field>
<mat-label> Price Column </mat-label>
<input matInput disabled [(ngModel)]="feePersist.feeSearchHistory.price_column" />
<button
  mat-icon-button
  matSuffix
  color="primary"
  (click)="pickPriceColumn()"
>
  <mat-icon>search</mat-icon>
</button>
</mat-form-field> -->
  <!-- <button mat-button (click)="priceUpdate()" class="tc-link">
    Update Fees
  </button> -->
      <div class="tc-loading" *ngIf="feesIsLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div  class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let fee of feesData" class="tc-card" >
                <mat-card-header>
                      <mat-card-title> <a [routerLink]="feeNavigator.feeUrl(fee.id)"
                                                                    class="tc-link">{{fee.id}}</a>
                                                                    <button mat-icon-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('fees') || tcAuthorization.canDelete('fees')">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                  </button>
                                                                                  <mat-menu #elementMenu="matMenu">

                                                                                    <button mat-menu-item (click)="editFee(fee)" *ngIf="tcAuthorization.canUpdate('fees')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","edit")}} </span>
                                                                                    </button>
                                                                                    <button mat-menu-item (click)="deleteFee(fee)" *ngIf="tcAuthorization.canDelete('fees')">
                                                                                      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                                                                                      <span>{{appTranslation.getText("general","delete")}} </span>
                                                                                    </button>
                                                                                  </mat-menu>
                                                                    </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                 </mat-card-header>
                <mat-card-content>
                  <div class="tc-detail-field">
                    <span>{{appTranslation.getText('inventory','item')}}</span>
                    {{fee.target_id}}
                  </div>
<div class="tc-detail-field">
            <span>{{appTranslation.getText('general','name')}}</span>
            {{fee.name}}
          </div>
<div class="tc-detail-field">
            <span>price</span>
            {{tcUtilsNumber.convertToDecimalPlaces(fee.price)}}
          </div>
<div class="tc-detail-field">
            <span>doctor_id</span>
            {{fee.doctor_name}}
          </div>
<div class="tc-detail-field">
            <span>season</span>
            {{fee.season}}
          </div>
<div class="tc-detail-field">
            <span>fee_type</span>
            {{fee.fee_type}}
          </div>
          <div class="tc-detail-field">
            <span>item code</span>
            {{fee.item_code}}
          </div>
                </mat-card-content>
        </mat-card>
      </div>

      <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="feesSelection.length >0 || feesSelectAll">
                  <button mat-button (click)="downloadFees()">
                    <mat-icon>save_alt</mat-icon>
                    <span>{{appTranslation.getText("general", "download")}} </span>
                  </button>
                  <div class="tc-flex-fill"></div>
                  <span>{{feesSelectAll ? feesTotalCount : feesSelection.length}} {{appTranslation.getText("general", "selected")}}</span>
        </mat-toolbar>

        <mat-table [dataSource]="feesData" matSort class="tc-hide-on-mobile">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(feesData,feesSelection); feesSelectAll = !feesSelectAll"
                [checked]=" tcUtilsArray.isAllSelected(feesData,feesSelection) || feesSelectAll"
                [indeterminate]="feesSelection.length <feesData.length && feesSelection.length>0"
                [disabled]="feesSelectAll">
              </mat-checkbox>
              
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="feesSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #feesSelectAllMenu="matMenu">
    
    
                <button mat-menu-item
                        (click)="feesSelectAll=true;"
                        [disabled]="feesSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item
                        (click)="feesSelectAll = false;"
                        [disabled]="!feesSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
              </mat-menu>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? tcUtilsArray.toggleSelection(feesSelection,row) : null"
                            [checked]="tcUtilsArray.contains(feesSelection,row) || feesSelectAll"
                            [disabled]="feesSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="link">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                          <a [routerLink]="feeNavigator.feeUrl(element.id)"
                             class="tc-link">{{element.id}}</a>

                      </mat-cell>
                    </ng-container>
                
                          
<ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                             </ng-container>

                                                       

<ng-container matColumnDef="price">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>price</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{tcUtilsNumber.convertToDecimalPlaces(element.price)}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="doctor_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>doctor_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.doctor_name}}</mat-cell>
                             </ng-container>

                             <ng-container matColumnDef="item_code">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>item code</mat-header-cell>
                              <mat-cell *matCellDef="let element">{{element.item_code}}</mat-cell>
                           </ng-container>
                          
<ng-container matColumnDef="season">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>season</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(feePersist.payment_season, element.season)?.name)}}</mat-cell>
                             </ng-container>
                             <ng-container matColumnDef="service_type">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Service Type</mat-header-cell>
                              <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(formEncounterPersist.serviceTypeWithAll, element.service_type)?.name}}</mat-cell>
                           </ng-container>
                          
<ng-container matColumnDef="fee_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>fee_type</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(paymentPersist.fee_type, element.fee_type)?.name)}}</mat-cell>
                             </ng-container>
                             <ng-container matColumnDef="is_panel">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('laboratory','is_panel')}}</mat-header-cell>
                              <mat-cell *matCellDef="let element">{{element.is_panel}}</mat-cell>
                           </ng-container>
                            

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="tcAuthorization.canUpdate('fees') || tcAuthorization.canDelete('fees')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editFee(element)" *ngIf="tcAuthorization.canUpdate('fees') ">
                  <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                  <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteFee(element)" *ngIf="tcAuthorization.canDelete('fees')">
                  <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="feesDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: feesDisplayedColumns;"
                   [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(feesSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                       [pageSize]="tcUtilsArray.defaultPageSize"
                       [length]="feesTotalCount"
                       [ngStyle]="{display: feesTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>
