<h1 mat-dialog-title>
  Department Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="departmentsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="departmentPersist.departmentSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="departmentsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="departmentsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="departmentsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(departmentsData,departmentsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(departmentsData,departmentsSelection)"
            [indeterminate]="departmentsSelection.length <departmentsData.length && departmentsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="departmentsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{departmentsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="departmentsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(departmentsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(departmentsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(departmentsSelection,row)"
                        *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="departmentsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: departmentsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(departmentsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="departmentsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" departmentsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
