<h1 mat-dialog-title>
  <mat-icon>search</mat-icon>
  Stats
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="statsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="statPersist.statSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="statsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="statsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="statsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(statsData,statsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(statsData,statsSelection)"
            [indeterminate]="statsSelection.length <statsData.length && statsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="statsSelection.length >0 " [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{statsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="statsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(statsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(statsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-radio-group *ngIf="selectOne">
            <mat-radio-button (click)="markOneItem(row)"></mat-radio-button>
          </mat-radio-group>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stat_type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>stat_type</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.stat_type}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="target_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>target_id</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.target_id}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="stat_value">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>stat_value</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.stat_value}}</mat-cell>
                             </ng-container>

<ng-container matColumnDef="stat_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>stat_time</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.stat_time}}</mat-cell>
                             </ng-container>



      <mat-header-row *matHeaderRowDef="statsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: statsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(statsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="statsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" statsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
