<h1 mat-dialog-title>
    surgery_room Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="surgeryRoomSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="surgeryRoomPersist.surgeryRoomSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="surgeryRoomSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="surgeryRoomIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="surgeryRoomsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(surgeryRoomsData,surgeryRoomSelection) "
            [checked]=" tcUtilsArray.isAllSelected(surgeryRoomsData,surgeryRoomSelection) || surgeryRoomSelectAll"
            [indeterminate]="surgeryRoomSelection.length <surgeryRoomsData.length && surgeryRoomSelection.length>0"
            [disabled]="surgeryRoomSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="surgeryRoomSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #surgeryRoomSelectAllMenu="matMenu">

            <button mat-menu-item (click)="surgeryRoomSelectAll=true;" [disabled]="surgeryRoomSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="surgeryRoomSelectAll = false;" [disabled]="!surgeryRoomSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(surgeryRoomSelection,row) : null"
            [checked]="tcUtilsArray.contains(surgeryRoomSelection,row) || surgeryRoomSelectAll" [disabled]="surgeryRoomSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="surgeryRoomsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: surgeryRoomsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(surgeryRoomSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="surgeryRoomsTotalCount"
      [ngStyle]="{display: surgeryRoomsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" surgeryRoomSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>