<h1 mat-dialog-title>
    medical_checkup_package Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="medicalCheckupPackageSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="medicalCheckupPackagePersist.medicalCheckupPackageSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="medicalCheckupPackageSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="medicalCheckupPackageIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="medicalCheckupPackagesData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(medicalCheckupPackagesData,medicalCheckupPackageSelection) "
            [checked]=" tcUtilsArray.isAllSelected(medicalCheckupPackagesData,medicalCheckupPackageSelection) || medicalCheckupPackageSelectAll"
            [indeterminate]="medicalCheckupPackageSelection.length <medicalCheckupPackagesData.length && medicalCheckupPackageSelection.length>0"
            [disabled]="medicalCheckupPackageSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="medicalCheckupPackageSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #medicalCheckupPackageSelectAllMenu="matMenu">

            <button mat-menu-item (click)="medicalCheckupPackageSelectAll=true;" [disabled]="medicalCheckupPackageSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="medicalCheckupPackageSelectAll = false;" [disabled]="!medicalCheckupPackageSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(medicalCheckupPackageSelection,row) : null"
            [checked]="tcUtilsArray.contains(medicalCheckupPackageSelection,row) || medicalCheckupPackageSelectAll" [disabled]="medicalCheckupPackageSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>price
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="medicalCheckupPackagesDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: medicalCheckupPackagesDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(medicalCheckupPackageSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="medicalCheckupPackagesTotalCount"
      [ngStyle]="{display: medicalCheckupPackagesTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" medicalCheckupPackageSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>
