<ng-template #body>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="preAnsthesiaEvaluationDetail">
    <mat-form-field class="tc-full-stretch">
      <mat-label>Pre-Operative Diagnosis</mat-label>
      <textarea type="text" #input
             aria-label="auto"
             matInput
             rows="4"
             (ngModelChange)="handleInput($event, input);updateIcdDiagnosis($event, input);"
             [(ngModel)]="preAnsthesiaEvaluationDetail.pre_operative_diagnosis"
             [matAutocomplete]="diagnosis" 
             [disabled]="isDisabled()"></textarea>
      <mat-autocomplete autoActiveFirstOption #diagnosis="matAutocomplete">
        <mat-option *ngFor="let option of icd11_diagnosis_options" [value]="appendString(option.category)">
          {{option.category}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <mat-label>Planned Procedure</mat-label>
      <textarea type="text" #procedure
            [disabled]="isDisabled()"
             aria-label="auto"
             matInput
             rows="4"
             (ngModelChange)="handleInput($event, procedure);updateProcedure($event, procedure);"
             [(ngModel)]="preAnsthesiaEvaluationDetail.planned_procedure"
             [matAutocomplete]="proced" ></textarea>
      <mat-autocomplete autoActiveFirstOption #proced="matAutocomplete">
        <mat-option *ngFor="let option of procedures_options" [value]="appendStringProcedure(option.name)">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    


    <!-- <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Planned Procedure"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.planned_procedure"
      />
    </mat-form-field> -->
    <mat-form-field class="tc-full-stretch">
      <textarea
        matInput
        placeholder="History"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.history"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Previous Surgery / Anesthesia Exposure"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]=" preAnsthesiaEvaluationDetail.pervious_surgery_anesthesia_exposure
        "
      />
    </mat-form-field>

    <label for="">Past Medical History</label>
    <br />
    <br />
    <div class="tc-flex-row">
      <div class="tc-full-stretch">
        <mat-form-field class="tc-full-stretch"> 
        <input matInput [disabled]="isDisabled()" type="text" [(ngModel)]="preAnsthesiaEvaluationDetail.cvd" placeholder="CVD">
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 
        <input matInput [disabled]="isDisabled()" type="text" [(ngModel)]="preAnsthesiaEvaluationDetail.htn" placeholder="HTN" />
      </mat-form-field>

        <mat-form-field class="tc-full-stretch"> 

        <input matInput [disabled]="isDisabled()" type="text" [(ngModel)]="preAnsthesiaEvaluationDetail.oncologic_disease"  placeholder=" Oncologic disease" />
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput [disabled]="isDisabled()" type="text"   [(ngModel)]="preAnsthesiaEvaluationDetail.pulmonary" placeholder="Pulmonary"/>
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.dm" placeholder="DM" />
      </mat-form-field>

        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.other_endocrine" placeholder="Other Endocrine" />
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.hematologic" placeholder="Hematologic"/>
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.gi_liver" placeholder="GI/Liver">
      </mat-form-field>
      </div>

      <div class="tc-full-stretch">
        <mat-form-field class="tc-full-stretch"> 
        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.renal_disease" placeholder="Renal disease" />
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.neurologic_disease" placeholder="Neurologic disease" />
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.pyschiatric_disease" placeholder="Psychiatric disease"/>
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.infectious_disease" placeholder="Infectious disease">
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.rheumatic_disease"  placeholder="Rheumatic disease" /> 
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.allergy_disease" placeholder="Allergy" />
      </mat-form-field>
        <mat-form-field class="tc-full-stretch"> 

        <input matInput type="text" [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.alcohol" placeholder="Alcohol" />
      </mat-form-field>
       <mat-form-field class="tc-full-stretch"> 
          <input   matInput   placeholder="other"   type="text"
          [disabled]="isDisabled()"   [(ngModel)]="preAnsthesiaEvaluationDetail.other"   />
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Functional status (MET score)"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.functional_status"
      />
    </mat-form-field>

    

    <label for="">Physical Examination: </label>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="G/A"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.g_a"
      />
    </mat-form-field>
    <label for="">Vital sign</label>
    <div class="tc-flex-row-wrap">
    <mat-form-field>
      <input
        matInput
        placeholder="BP"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.bp"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="HR"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.hr"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="RR"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.rr"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="To"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.d_to"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="SO2"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.so2"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Wt."
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.wt"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="BMI"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.bmi"
      />
    </mat-form-field>
  </div>



    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="HEENT"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.heent"
      />
    </mat-form-field>
    <label for=""> Airway:  </label> &nbsp;&nbsp;
    <div class="tc-flex-row" style="align-items: baseline">
      <mat-label class="labels" >Mallampati class   </mat-label>  &nbsp;&nbsp;  
      <div  class="tc-full-stretch">
<mat-radio-group [disabled]="isDisabled()"  aria-label="Select an option" [(ngModel)]="preAnsthesiaEvaluationDetail.mallampatic_class" name="mallampatic_class">
    &nbsp;<mat-radio-button value="1" >1</mat-radio-button> &nbsp;&nbsp;
    <mat-radio-button value="2" >2</mat-radio-button> &nbsp;&nbsp;
   <mat-radio-button value="3" >3</mat-radio-button> &nbsp;&nbsp;
    <mat-radio-button value="4" >4</mat-radio-button> &nbsp;&nbsp;
</mat-radio-group> 
</div>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="IID"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.iid_text"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Thyromental Distance"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.thyromental_distance"
      />
    </mat-form-field>
    </div>
    <div class="tc-flex-row">
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="TMJ Mobility"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.tmj_mobility"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Neck Mobility"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.neck_mobility"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Other"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.other_2"
      />
    </mat-form-field>
    </div>
    <br>
    <div class="tc-flex-row">
      <div>
        <mat-label class="labels" >Loose incisor teeth    </mat-label>  &nbsp;&nbsp;  
    <mat-radio-group [disabled]="isDisabled()"  aria-label="Select an option" [(ngModel)]="preAnsthesiaEvaluationDetail.loose_incisor_teeth" name="loose_incisor_teeth">
        &nbsp;<mat-radio-button value="yes" >Yes</mat-radio-button> &nbsp;&nbsp;
        <mat-radio-button value="no" >No</mat-radio-button> &nbsp;&nbsp;
    </mat-radio-group> 
      </div>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Loose Incisor teeth remark"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.loose_incisor_teeth_remark"
      />
    </mat-form-field>
  </div>
    <br>
    <br>
    <div class="tc-flex-row">
      <div>
        <mat-label class="labels" >Artificial denture  </mat-label>  &nbsp;&nbsp;  
      <mat-radio-group [disabled]="isDisabled()"  aria-label="Select an option" [(ngModel)]="preAnsthesiaEvaluationDetail.artificial_denture" name="artificial_denture">
          &nbsp;<mat-radio-button value="fixed" >Fixed</mat-radio-button> &nbsp;&nbsp;
          <mat-radio-button value="removable" >Removable</mat-radio-button> &nbsp;&nbsp;
          <mat-radio-button value="none" >None</mat-radio-button> &nbsp;&nbsp;
      </mat-radio-group> 
      </div>
      <mat-form-field class="tc-full-stretch">
        <input
          matInput
          placeholder="Artificial denture remark"
          type="text"
          [disabled]="isDisabled()"
          [(ngModel)]="preAnsthesiaEvaluationDetail.loose_incisor_teeth_remark"
        />
      </mat-form-field>
    </div>

    <br>
    <br>
    <div class="tc-flex-row">

      <mat-form-field class="tc-full-stretch">
        <input
        matInput
        placeholder="LGS"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.lgs"
        />
      </mat-form-field>
      <mat-form-field class="tc-full-stretch">
        <input
        matInput
        placeholder="Abdomen"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.abdomen"
        />
      </mat-form-field>
    </div>

    <div class="tc-flex-row">
    
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Chest"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.chest"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="MSS/IS"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.mss_is"
      />
    </mat-form-field>
    </div>

    <div class="tc-flex-row">

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="CVS"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.cvs"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="CNS"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.cvn"
      />
    </mat-form-field>
    </div>
    <mat-form-field class="tc-full-stretch">
      <mat-label>Medications</mat-label>
      <textarea #medication
        matInput
        rows="4"
        type="text"
        [disabled]="isDisabled()"
        (ngModelChange)="handleInput($event, medication)" 
        [(ngModel)]="preAnsthesiaEvaluationDetail.medication"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <mat-label>Investigations</mat-label>
      <textarea #investigation
        matInput
        type="text"
        [disabled]="isDisabled()"
        rows="4"
        (ngModelChange)="handleInput($event, investigation)"
        [(ngModel)]="preAnsthesiaEvaluationDetail.investigation"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="ECG"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.ecg"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="ECHO"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.echo"
      />
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="CXR"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.cxr"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Imaging /other/"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.imaging_other"
      />
    </mat-form-field>

    <br>

    <mat-label class="labels" >Consent for Blood Transfusion  </mat-label>  &nbsp;&nbsp;  
    <mat-radio-group [disabled]="isDisabled()"  aria-label="Select an option" [(ngModel)]="preAnsthesiaEvaluationDetail.consent_for_blood_transfusion" name="consent_for_blood_transfusion">
        &nbsp;<mat-radio-button value="agreed" >Agreed</mat-radio-button> &nbsp;&nbsp;
        <mat-radio-button value="not_agreed " >Not agreed </mat-radio-button> &nbsp;&nbsp;
    </mat-radio-group> 
    <br>
    <br>

    <mat-label class="labels" >Functional Capacity [METs]   </mat-label>  &nbsp;&nbsp;  
    <mat-radio-group [disabled]="isDisabled()"  aria-label="Select an option" [(ngModel)]="preAnsthesiaEvaluationDetail.functional_capacity" name="functional_capacity">
        &nbsp;<mat-radio-button value="gr_4" >&gt; 4</mat-radio-button> &nbsp;&nbsp;
        <mat-radio-button value="ls_r " >&lt; 4 </mat-radio-button> &nbsp;&nbsp;
    </mat-radio-group> 
    
    &nbsp;&nbsp; &nbsp;&nbsp;

    <mat-label class="labels" > ASA PS class   </mat-label>  &nbsp;&nbsp;  
    <mat-radio-group [disabled]="isDisabled()"  aria-label="Select an option" [(ngModel)]="preAnsthesiaEvaluationDetail.asp_ps_class" name="asp_ps_class">
        &nbsp;<mat-radio-button value="I" >I</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="II" >II</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="III" >III</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="IV" >IV</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="V" >V</mat-radio-button> &nbsp;&nbsp;
        &nbsp;<mat-radio-button value="VI" >VI</mat-radio-button> &nbsp;&nbsp;
    </mat-radio-group> 
    <br>
    <br>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        placeholder="Assessment"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.assessment"
      />
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <textarea
        matInput
        placeholder="Anesthetic Plan & Concern"
        type="text"
        [disabled]="isDisabled()"
        [(ngModel)]="preAnsthesiaEvaluationDetail.anesthetic_plan_concern"
      ></textarea>
    </mat-form-field>
  </div>
</ng-template>
<div class="tc-flex-row" *ngIf="!encounterId">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content *ngIf="!encounterId">
  <ng-container *ngTemplateOutlet="body"> </ng-container>
</div>

<div *ngIf="encounterId">
  <mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
      <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
      Pre Anesthesia Evaluation
    </h3>

    <button mat-button (click)="back()" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchPreAnesthesialEvaluation();" *ngIf="tcAuthorization.canRead('pre_ansthesia_evaluations')" class="tc-link">   <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      <!--   <button mat-button (click)=" addPre_ansthesia_evaluation();" *ngIf="tcAuthorization.canCreate('pre_ansthesia_evaluations')" class="tc-link">   <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
        </button> -->
  </mat-toolbar>
  <div style="padding: 5px 20px 5px 20px">
    <ng-container *ngTemplateOutlet="body"> </ng-container>
  </div>
  <mat-action-row >
    <button
      style="font-size: 16px;"
      mat-button
      (click)="preAnsthesiaEvaluationDetail.id ? onUpdate() : onAdd()"
      [disabled]="!canSubmit()"
      *ngIf="tcAuthorization.canUpdate('pre_ansthesia_evaluations')"
    >
      {{ appTranslation.getText("general", "save") }}
    </button>
  </mat-action-row>
</div>

<div mat-dialog-actions *ngIf="!encounterId">
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button
    mat-button
    (click)="isNew() ? onAdd() : onUpdate()"
    [disabled]="!canSubmit()"
    cdkFocusInitial
  >
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>
