<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="medicalCheckupServiceDetail">                   
        <mat-form-field class="tc-full-stretch" *ngIf="isNew()">
            <mat-select placeholder="fee_type" (valueChange)="updateTarget($event)" [(value)]="medicalCheckupServiceDetail.service_type" required>
              <mat-option *ngFor="let etype of persist.fee_type" [value]="etype.id">
                {{appTranslation.getTextByIdentifier(etype.name)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="tc-full-stretch" *ngIf="feeType.procedure==medicalCheckupServiceDetail.service_type">
            <mat-label>
              {{appTranslation.getText("procedure", "procedure")}}
            </mat-label>
            <input matInput disabled [(ngModel)]="Name"  />
            <button
              mat-icon-button
              matTooltip="{{appTranslation.getText('procedure', 'procedure')}}"
              matSuffix
              color="primary"
              (click)="searchProcedure()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="tc-full-stretch" *ngIf="feeType.card==medicalCheckupServiceDetail.service_type">
            <mat-label>
              {{appTranslation.getText("general", "department")}}
            </mat-label>
            <input matInput disabled [(ngModel)]="parent_department"/>
            <button
              mat-icon-button
              matSuffix
              color="primary"
              (click)="searchDepartmentSpeciality(tcUtilsString.invalid_id)"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field class="tc-full-stretch" *ngIf="feeType.card==medicalCheckupServiceDetail.service_type">
            <mat-label>
              {{appTranslation.getText("employee", "department_specialty ")}}
            </mat-label>
            <input matInput disabled [(ngModel)]="department"/>
            <button
              mat-icon-button
              matSuffix
              color="primary"
              [disabled]="!parent_department_id"
              (click)="searchDepartmentSpeciality(parent_department_id)"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field class="tc-full-stretch" *ngIf="feeType.bed==medicalCheckupServiceDetail.service_type">
            <mat-label>
              {{appTranslation.getText("bed", "bedrooms")}}
            </mat-label>
            <input matInput disabled [(ngModel)]="Name"  />
            <button
              mat-icon-button
              matTooltip="{{appTranslation.getText('bed', 'bedrooms')}}"
              matSuffix
              color="primary"
              (click)="searchBedrooms()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field class="tc-full-stretch" *ngIf="feeType.other_service==medicalCheckupServiceDetail.service_type">
            <mat-label>
             Other Service
            </mat-label>
            <input matInput disabled [(ngModel)]="Name"  />
            <button
              mat-icon-button
              matTooltip="Other Service"
              matSuffix
              color="primary"
              (click)="searchOtherService()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          
          <mat-form-field class="tc-full-stretch" *ngIf="feeType.physio_theraphy==medicalCheckupServiceDetail.service_type">
            <mat-label>
              {{appTranslation.getText("patient", "physiotherapy")}}
            </mat-label>
            <input matInput disabled [(ngModel)]="Name"  />
            <button
              mat-icon-button
              matTooltip="{{appTranslation.getText('patient', 'physiotherapy')}}"
              matSuffix
              color="primary"
              (click)="searchPhysiotherapy()"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field class="tc-full-stretch" *ngIf="feeType.lab_panel==medicalCheckupServiceDetail.service_type||feeType.rad_panel==medicalCheckupServiceDetail.service_type||feeType.pat_panel==medicalCheckupServiceDetail.service_type">
            <mat-label>
              {{appTranslation.getText("laboratory", "lab_panel_id")}}
            </mat-label>
            <input matInput disabled [(ngModel)]="Name"  />
            <button
              mat-icon-button
              matTooltip="{{appTranslation.getText('laboratory', 'lab_panel_id')}}"
              matSuffix
              color="primary"
              (click)="searchLabPanel(feePersist.fee_type_with_order_type[medicalCheckupServiceDetail.service_type])"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field class="tc-full-stretch" *ngIf="feeType.lab_test==medicalCheckupServiceDetail.service_type||feeType.rad_test==medicalCheckupServiceDetail.service_type||feeType.pat_test==medicalCheckupServiceDetail.service_type">
            <mat-label>
              {{appTranslation.getText("laboratory", "lab_test_id")}}
            </mat-label>
            <input matInput disabled [(ngModel)]="Name"  />
            <button
              mat-icon-button
              matTooltip="{{appTranslation.getText('laboratory', 'lab_test_id')}}"
              matSuffix
              color="primary"
              (click)="searchLabTest(feePersist.fee_type_with_order_type[medicalCheckupServiceDetail.service_type])"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>
  