<mat-sidenav-container class="tc-sidebar-container" fullscreen>
  <mat-sidenav-content>
    <div class="tc-loading" *ngIf="postNatalCareIsLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="activeTab == PostNatalCareTabs.overview ? '' : 'tc-hidden'">
      <mat-toolbar class="tc-toolbar-secondary">
        <h1 class="mat-heading">
          <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
          {{ appTranslation.getText("general", "overview") }}
        </h1>
        <button mat-button (click)="back()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
        </button>
        <button mat-button (click)="reload()" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
      </mat-toolbar>

      <div class="tc-flex-row tc-full-width">
        <div class="tc-equal-block">
          <div class="tc-padding">
            <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ appTranslation.getText("general", "basicdetails") }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="!postNatalCareIsLoading">
                  <p class="tc-detail-field">
                    Post Natal Visit
                    <span>
                      {{
                        
                          persentPregenancyFollowUp.getLevel(postNatalCareDetail.post_natal_visit)
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Date
                    <span>
                      {{
                        (postNatalCareDetail.date_checked * 1000) | date: "yyyy-MM-dd"
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    BP <span> {{ postNatalCareDetail.bp }} </span>
                  </p>
                  <p class="tc-detail-field">
                    TPR <span> {{ postNatalCareDetail.tpr }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Temp
                    <span> {{ postNatalCareDetail.temp_value }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Uterus Contracted/Look for PPH
                    <span>
                      {{ postNatalCareDetail.uterus_contracted_look_for_pph }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Driblling/Leaking Urine
                    <span>
                      {{ postNatalCareDetail.dribbling_leaking_urine }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Anemia <span> {{ postNatalCareDetail.anemia }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Vaginal Discharge (after 4 wks of delivery)
                    <span> {{ postNatalCareDetail.vaginal_discharge }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Pelvic Exam (only if vaginal discharge)
                    <span> {{ postNatalCareDetail.pelvic_exam }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Breast <span> {{ postNatalCareDetail.breast }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Vitamin A <span> {{ postNatalCareDetail.vitamin_a }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Counseling Danger Signs EPI use of IIN Given
                    <span>
                      {{ postNatalCareDetail.counsenig_danger_signs_epi }}
                    </span>
                  </p>
                  <!-- <p class="tc-detail-field">
                    Baby Breathing
                    <span> {{ postNatalCareDetail.baby_breathing }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Baby Breast Feeding
                    <span> {{ postNatalCareDetail.baby_breast_feeding }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Baby Weight (gm)
                    <span> {{ postNatalCareDetail.baby_weight }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Immunization
                    <span> {{ postNatalCareDetail.immunization }} </span>
                  </p> -->
                  <p class="tc-detail-field">
                    HIV Tested
                    <span> {{ postNatalCareDetail.hiv_tested }} </span>
                  </p>
                  <p class="tc-detail-field">
                    HIV Test Result R/NR
                    <span> {{ postNatalCareDetail.hiv_test_result }} </span>
                  </p>
                  <p class="tc-detail-field">
                    ARV Px for Mother
                    <span> {{ postNatalCareDetail.arv_px_for_mother }} </span>
                  </p>
                  <!-- <p class="tc-detail-field">
                    ARV Px for New Born
                    <span> {{ postNatalCareDetail.arv_px_for_newborn }} </span>
                  </p> -->
                  <p class="tc-detail-field">
                    Feeding Option EBF/RF
                    <span> {{ postNatalCareDetail.feeding_option }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Mother Referred to C & sup
                    <span>
                      {{ postNatalCareDetail.mother_referred_to_c_and_sup }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    New Born Referred to Chronic HIV infant Care
                    <span>
                      {{
                        postNatalCareDetail.new_born_referred_to_chronic_hiv_infant_care
                      }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    FB Counseled & Provided
                    <span>
                      {{ postNatalCareDetail.fb_counseled_and_provided }}
                    </span>
                  </p>
                  <p class="tc-detail-field">
                    Remark <span> {{ postNatalCareDetail.remark }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Action Taken
                    <span> {{ postNatalCareDetail.action_taken }} </span>
                  </p>
                  <p class="tc-detail-field">
                    Attendant Name and Sig
                    <span>
                      {{ postNatalCareDetail.attendant_name_and_signature }}
                    </span>
                  </p>

                </div>
                <mat-action-row>
                  <button
                    mat-button
                    (click)="editPostNatalCare()"
                    *ngIf="tcAuthorization.canUpdate('post_natal_cares')"
                  >
                    {{ appTranslation.getText("general", "edit") }}
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="tc-equal-block"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
