<h1 mat-dialog-title>
  Birth Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="birthsSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="birthPersist.birthSearchText" matSuffix mat-icon-button aria-label="Clear"
        (click)="birthsSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="birthsIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="birthsData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(birthsData,birthsSelection) "
            [checked]=" tcUtilsArray.isAllSelected(birthsData,birthsSelection)"
            [indeterminate]="birthsSelection.length <birthsData.length && birthsSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="birthsSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{birthsSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="birthsSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(birthsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(birthsSelection,row)"
                        *ngIf="!selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? markOneItem(row) : null"
                                  [checked]="tcUtilsArray.contains(birthsSelection,row)"
                                  *ngIf="selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mothername">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','mother_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.mothername}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="fathers_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','father_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.fathers_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="given_name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','given_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.given_name}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="birth_time">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','birth_time')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.birth_time}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="weight">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','weight')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="height">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','height')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.height}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="doctors_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','doctor_name')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.doctors_id}}</mat-cell>
                             </ng-container>
                          
<ng-container matColumnDef="patient_id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('patient','patient')}}</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.patient_id}}</mat-cell>
                             </ng-container>
                          


      <mat-header-row *matHeaderRowDef="birthsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: birthsDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(birthsSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="birthsTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" birthsSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
