<h1 mat-dialog-title>
  <mat-icon *ngIf="!isNew">edit</mat-icon>
  <mat-icon *ngIf="isNew">add</mat-icon>
  {{title}} </h1>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <mat-form-field class="tc-full-stretch">
    <input matInput placeholder="Name" disabled="disabled" value="{{name}}"/>
  </mat-form-field>

  <div class="tc-flex-column">
    <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="tcaclDetail.can_create"
                      required>
      Create
    </mat-slide-toggle>


    <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="tcaclDetail.can_read"
                      required>Read
    </mat-slide-toggle>

    <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="tcaclDetail.can_update"
                      required>
      Update
    </mat-slide-toggle>

    <mat-slide-toggle matInput labelPosition="before" class="tc-form-toggle" [(ngModel)]="tcaclDetail.can_delete"
                      required>
      Delete
    </mat-slide-toggle>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="isNew? onAdd(): onUpdate()"
          [disabled]=" !tcaclDetail.user_id ||  tcaclDetail.user_id=='' || !tcaclDetail.group_id ||  tcaclDetail.group_id=='' "
          cdkFocusInitial>
    {{appTranslation.getText('general', 'save')}}
  </button>
</div>
