<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="storeStockLevelDetail">
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>{{appTranslation.getText('inventory','item')}}</mat-label>
                            <input
                              matInput
                              placeholder="{{appTranslation.getText('inventory','item')}}"
                              type="text"
                              disabled
                              [(ngModel)]="storeStockLevelDetail.item_name"
                              required
                            >
                            <button
                              mat-icon-button
                              matTooltip="{{appTranslation.getText('inventory','item')}}"
                              matSuffix
                              color="primary"
                              (click)="searchItem()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field> 
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="min" type="number"  [(ngModel)]="storeStockLevelDetail.min" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="max" type="number"  [(ngModel)]="storeStockLevelDetail.max" required>
                          </mat-form-field>
                          </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>