<div *ngFor="let order of ordersDetail" style="margin: 10px 0;">
  
  <mat-accordion>
    <mat-expansion-panel (opened)="getDetail(order)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{order.created_at * 1000|date:'MMM dd, yyyy. h:mm a'}}-{{order.generated_sample_id}}
          <span style="margin-left:auto">{{appTranslation.getText('procedure', tcUtilsArray.getEnum(ordersPersist.lab_order_type, order.order_type)?.name) }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex;">
        <div style="flex: 1; text-align: center; margin: 4px;">
            <h1 style=" border: 2px solid var(--base-color);">Panels</h1>
            <mat-chip-list>
              <mat-chip *ngFor="let selected of filterOrders(order.selected_orders, 'lab_panel_id')" class="tc-full-width">
                  <p class="tc-text-center tc-full-width tc-margin-0">{{getlabPanel(selected.lab_panel_id)}}</p>
                  <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                  
                      (click)="deleteSelected(selected.id)"></mat-icon>
              </mat-chip>

          </mat-chip-list>
        </div>
        <div style="flex: 3; text-align: center; margin: 4px;">
            <h1 style=" border: 2px solid var(--base-color);">Tests</h1>
            <mat-chip-list>
              <mat-chip style="width: 25%" *ngFor="let selected of filterOrders(order.selected_orders, 'lab_test_id')">
                  <p class="tc-text-center tc-full-width tc-margin-0">{{getlabTest(selected.lab_test_id)}}</p>
                  <mat-icon class="tc-link" fontSet="fas" fontIcon="fa-times"
                  
                      (click)="deleteSelected(selected.id)"></mat-icon>
              </mat-chip>

          </mat-chip-list>
        </div>
      </div>
      <mat-action-row>
        <button mat-button (click)="addOrder([order.order_type], order)" *ngIf="!order.generated_sample_id && (this.tcAuthorization.canCreate('laboratory_orders') || this.tcAuthorization.canCreate('radiology_orders') || this.tcAuthorization.canCreate('pathology_orders')) ">
          {{appTranslation.getText("general", "add")}}
        </button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="ordersTotalCount"
        [ngStyle]="{display: ordersTotalCount > 0? '':'none'}">
        </mat-paginator>