<h1 mat-dialog-title>
    Bed Selection
</h1>

<div mat-dialog-content>
    <mat-form-field>
        <input matInput [formControl]="bedsSearchTextBox" placeholder="Search Text">
        <button mat-button *ngIf="bedPersist.bedSearchHistory.search_text" matSuffix mat-icon-button aria-label="Clear"
            (click)="bedsSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="bedsIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="mat-elevation-z6">

        <mat-table [dataSource]="bedsData" matSort>

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(bedsData,bedsSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(bedsData,bedsSelection)"
                        [indeterminate]="bedsSelection.length <bedsData.length && bedsSelection.length>0"
                        *ngIf="!pickerData.selectOne">
                    </mat-checkbox>
                    <button mat-button *ngIf="bedsSelection.length >0 && !pickerData.selectOne"
                        [mat-menu-trigger-for]="collectionMenu">
                        <i class="material-icons">more_vert</i>

                        <span matBadge="{{bedsSelection.length}}" matBadgePosition="above after" matBadgeOverlap="false"
                            [matBadgeHidden]="bedsSelection.length == 0" style="margin-right:10px;"></span>
                    </button>
                    <mat-menu #collectionMenu="matMenu">

                        <button mat-menu-item (click)="returnSelected()">
                            <mat-icon>done</mat-icon>
                            <span>Return Selection</span>
                        </button>
                    </mat-menu>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(bedsSelection,row) : null"
                        [checked]="tcUtilsArray.contains(bedsSelection,row)" *ngIf="!pickerData.selectOne">
                    </mat-checkbox>


                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(bedsSelection,row)" *ngIf="pickerData.selectOne">
                    </mat-checkbox>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="serial_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','serial_id')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.serial_id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="bed_room_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','bed_room')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.bed_room_name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('bed','status')}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(bedPersist.bed_status, element.status)?.name)}}</mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="bedsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: bedsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(bedsSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons [length]="bedsTotalCount">
        </mat-paginator>

    </div>
    <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()" [disabled]=" bedsSelection.length == 0 " cdkFocusInitial>
        {{appTranslation.getText("general","return_selection")}}
    </button>
</div>