<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>
        machine_test
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchMachine_tests();" *ngIf="tcAuthorization.canRead('machine_tests')"
        class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addMachine_test();" *ngIf="tcAuthorization.canCreate('machine_tests')" class="tc-link">
        <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>
<div class="tc-padding">
    <mat-form-field>
        <input matInput [formControl]="machineTestSearchTextBox"
            placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="machineTestPersist.machineTestSearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="machineTestSearchTextBox.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="tc-loading" *ngIf="machineTestIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let machineTest of machineTestsData">
            <mat-card-header>
                <mat-card-title>
                    <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('machine_tests') || tcAuthorization.canDelete('machine_tests')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">

                        <button mat-menu-item (click)="editMachineTest(machineTest)"
                            *ngIf="tcAuthorization.canUpdate('machine_tests')">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deleteMachineTest(machineTest)"
                            *ngIf="tcAuthorization.canDelete('machine_tests')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="tc-detail-field">
                    <span>machine_id</span>
                    {{getMachine(machineTest.machine_id)}}
                </div>
                <div class="tc-detail-field">
                    <span>lab_test_id</span>
                    {{getLab(machineTest.lab_test_id)}}
                </div>
                <div class="tc-detail-field">
                    <span>lab_code</span>
                    {{machineTest.lab_code}}
                </div>
                <div class="tc-detail-field">
                    <span>added_date</span>
                    {{machineTest.added_date}}
                </div>
                <div class="tc-detail-field">
                    <span>added_by</span>
                    {{machineTest.added_by}}
                </div>
                <div class="tc-detail-field">
                    <span>updated_date</span>
                    {{machineTest.updated_date}}
                </div>
                <div class="tc-detail-field">
                    <span>updated_by</span>
                    {{machineTest.updated_by}}
                </div>
                <div class="tc-detail-field">
                    <span>status</span>
                    {{machineTest.status}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="tc-table-container tc-full-width">

        <mat-toolbar *ngIf="searchMachine_tests.length >0 || machineTestSelectAll">
            <button mat-button (click)="downloadMachineTests()">
                <mat-icon>save_alt</mat-icon>
                <span>{{appTranslation.getText("general", "download")}} </span>
            </button>
            <div class="tc-flex-fill"></div>
            <span>{{machineTestSelectAll ? machineTestsTotalCount : machineTestSelection.length}}
                {{appTranslation.getText("general",
                "selected")}}</span>
        </mat-toolbar><mat-table [dataSource]="machineTestsData" matSort class="tc-hide-on-mobile">

            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)=" tcUtilsArray.toggleSelectAll(machineTestsData,machineTestSelection) "
                        [checked]=" tcUtilsArray.isAllSelected(machineTestsData,machineTestSelection) || machineTestSelectAll"
                        [indeterminate]="machineTestSelection.length <machineTestsData.length && machineTestSelection.length>0"
                        [disabled]="machineTestSelectAll">
                    </mat-checkbox>

                    <button mat-icon-button>
                        <mat-icon fontSet="fa" fontIcon="fa-caret-down"
                            [matMenuTriggerFor]="machineTestSelectAllMenu"></mat-icon>
                    </button>
                    <mat-menu #machineTestSelectAllMenu="matMenu">

                        <button mat-menu-item (click)="machineTestSelectAll=true;" [disabled]="machineTestSelectAll">
                            {{appTranslation.getText("general", "all")}}
                        </button>
                        <button mat-menu-item (click)="machineTestSelectAll = false;"
                            [disabled]="!machineTestSelectAll">
                            {{appTranslation.getText("general", "none")}}
                        </button>
                    </mat-menu>

                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="tc-column-selection">
                    <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(machineTestSelection,row) : null"
                        [checked]="tcUtilsArray.contains(machineTestSelection,row) || machineTestSelectAll"
                        [disabled]="machineTestSelectAll">
                    </mat-checkbox>
                </mat-cell>
            </ng-container> <ng-container matColumnDef="Machine">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Machine
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{getMachine(element.machine_id)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Lab test">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Lab test
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{getLab(element.lab_test_id)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Lab code">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Lab code
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.lab_code}}</mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="added_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>added_date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.added_date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="added_by">
                <mat-header-cell *matHeaderCellDef mat-sort-header>added_by
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.added_by}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="updated_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>updated_date
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.updated_date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="updated_by">
                <mat-header-cell *matHeaderCellDef mat-sort-header>updated_by
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.updated_by}}</mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>status
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{
                appTranslation.getTextByIdentifier(
                tcUtilsArray.getEnum(
                machinePersist.status,
                element.status
                )?.name
                )
                }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="link">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="machineTestNavigator.machine_testUrl(element.id)" class="tc-link">{{element.id}}</a>

                </mat-cell>
            </ng-container> <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
                <mat-cell *matCellDef="let element" class="tc-column-action">
                    <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                        *ngIf="tcAuthorization.canUpdate('machine_tests') || tcAuthorization.canDelete('machine_tests')">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <mat-menu #elementMenu="matMenu">
                        <button mat-menu-item (click)="editMachineTest(element)"
                            *ngIf="tcAuthorization.canUpdate('machine_tests') ">
                            <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                            <span>{{appTranslation.getText("general","edit")}} </span>
                        </button>
                        <button mat-menu-item (click)="deleteMachineTest(element)"
                            *ngIf="tcAuthorization.canDelete('machine_tests')">
                            <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                            <span>{{appTranslation.getText("general","delete")}} </span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container> <mat-header-row
                *matHeaderRowDef="machineTestsDisplayedColumns; sticky: true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: machineTestsDisplayedColumns;"
                [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(machineTestSelection,row)}"></mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
            [pageSize]="tcUtilsArray.defaultPageSize" [length]="machineTestsTotalCount"
            [ngStyle]="{display: machineTestsTotalCount > 0? '':'none'}"></mat-paginator>
    </div>
</div>