<div class="tc-flex-row">
  <h1 class="mat-headline">
    <mat-icon *ngIf="!isNew">edit</mat-icon>
    <mat-icon *ngIf="isNew">add</mat-icon>
    {{ title }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div class="tc-loading" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="feeDetail">

<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="{{appTranslation.getText('general','name')}}" type="text"  [(ngModel)]="feeDetail.name" required>
  </mat-form-field>

<mat-form-field class="tc-full-stretch">
      <input matInput  placeholder="price" type="number"  [(ngModel)]="feeDetail.price" required>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch">
    <mat-select placeholder="fee_type" [(value)]="feeDetail.fee_type" required>
      <mat-option *ngFor="let etype of persist.fee_type" [value]="etype.id">
        {{appTranslation.getTextByIdentifier(etype.name)}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" *ngIf="feeType.procedure==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("procedure", "procedure")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="{{appTranslation.getText('procedure', 'procedure')}}"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchProcedure()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" *ngIf="feeType.card==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("general", "department")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="parent_department"/>
    <button
      mat-icon-button
      matSuffix
      color="primary"
      (click)="searchDepartmentSpeciality(tcUtilsString.invalid_id)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <!-- <mat-form-field class="tc-full-stretch" *ngIf="feeType.card==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("employee", "department_specialty ")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="department"/>
    <button
      mat-icon-button
      matSuffix
      color="primary"
      [disabled]="!parent_department_id"
      (click)="searchDepartmentSpeciality(parent_department_id)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field> -->

  <mat-form-field class="tc-full-stretch" *ngIf="feeType.item==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("inventory", "item")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="{{appTranslation.getText('inventory', 'item')}}"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchItem()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" *ngIf="feeType.doctor==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("employee", "doctor")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="{{appTranslation.getText('employee', 'doctor')}}"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchDoctor()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" *ngIf="feeType.bed==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("bed", "bedrooms")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="{{appTranslation.getText('bed', 'bedrooms')}}"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchBedrooms()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" *ngIf="feeType.other_service==feeDetail.fee_type">
    <mat-label>
     Other Service
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="Other Service"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchOtherService()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field class="tc-full-stretch" *ngIf="feeType.physio_theraphy==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("patient", "physiotherapy")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="{{appTranslation.getText('patient', 'physiotherapy')}}"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchPhysiotherapy()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" *ngIf="feeType.lab_panel==feeDetail.fee_type||feeType.rad_panel==feeDetail.fee_type||feeType.pat_panel==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("laboratory", "lab_panel_id")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="{{appTranslation.getText('laboratory', 'lab_panel_id')}}"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchLabPanel(persist.fee_type_with_order_type[feeDetail.fee_type])"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" *ngIf="feeType.lab_test==feeDetail.fee_type||feeType.rad_test==feeDetail.fee_type||feeType.pat_test==feeDetail.fee_type">
    <mat-label>
      {{appTranslation.getText("laboratory", "lab_test_id")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="{{appTranslation.getText('laboratory', 'lab_test_id')}}"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchLabTest(persist.fee_type_with_order_type[feeDetail.fee_type])"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="tc-full-stretch" *ngIf="feeType.oxygen_service==feeDetail.fee_type">
    <mat-label>
      Ward
    </mat-label>
    <input matInput disabled [(ngModel)]="Name"  />
    <button
      mat-icon-button
      matTooltip="Ward"
      matSuffix
      [disabled]="isEdit()"
      color="primary"
      (click)="searchWards()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="tc-full-stretch" *ngIf="persist.feeTargetType[feeDetail.fee_type]">
    <mat-select placeholder="Type" [(value)]="feeDetail.target_type" required>
      <mat-option *ngFor="let etype of persist.feeTargetType[feeDetail.fee_type]" [value]="etype.id">
        {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="tc-full-stretch">
    <mat-select placeholder="payment_season" [(value)]="feeDetail.season" required>
      <mat-option *ngFor="let etype of persist.payment_season" [value]="etype.id">
        {{appTranslation.getTextByIdentifier(etype.name)}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" >
    <mat-select
      placeholder="{{appTranslation.getText('financial', 'vat_status')}}"
      [(value)]="feeDetail.vat_status"
      required>
      <mat-option *ngFor="let etype of persist.VatStatus" [value]="etype.id">
       {{appTranslation.getText('financial', etype.name)}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="tc-full-stretch" >
    <mat-select
      placeholder="{{appTranslation.getText('patient', 'patient_type')}}"
      [(value)]="feeDetail.service_type"
      required>
      <mat-option *ngFor="let etype of persist.FeeServiceType" [value]="etype.id">
       {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="tc-full-stretch" *ngIf="feeFerquencyFilter[feeDetail.fee_type]">
    <mat-select placeholder="Freqency" [(value)]="feeDetail.fee_frequency" required>
      <mat-option *ngFor="let etype of feeFerquencyFilter[feeDetail.fee_type]" [value]="etype.id">
        {{etype.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="tc-flex-row" *ngIf="feeFerquencyFilter[feeDetail.fee_type]">
    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="Time Option" [(value)]="timeOption" required>
        <mat-option *ngFor="let etype of feeTimeFilter[feeDetail.fee_type]" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input [disabled]="timeOption == TimeOption.Default" matInput  placeholder="From Time" type="number"  [(ngModel)]="fromTime" required>
  </mat-form-field>
  </div>

  <div class="tc-flex-row" *ngIf="feePriceFilter[feeDetail.fee_type]">
    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder="Time Option" [(value)]="timeOption" required>
        <mat-option *ngFor="let etype of feePriceFilter[feeDetail.fee_type]" [value]="etype.id">
          {{etype.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="tc-full-stretch">
      <input [disabled]="timeOption == TimeOption.Default" matInput  placeholder="From Price" type="number"  [(ngModel)]="fromTime" required>
  </mat-form-field>
  </div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    {{ appTranslation.getText("general", "cancel") }}
  </button>
  <button mat-button (click)="isNew() ? onAdd() : onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
    {{ appTranslation.getText("general", "save") }}
  </button>
</div>