<div class="tc-flex-row">
    <h1 class="mat-headline">
        <mat-icon *ngIf="!isNew">edit</mat-icon>
        <mat-icon *ngIf="isNew">add</mat-icon>
        {{title}}
    </h1>

    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
        <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
</div>

<div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="physiotherapyNoteDetail">
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="chief_complaint_today" type="text"
                [(ngModel)]="physiotherapyNoteDetail.chief_complaint_today" required>
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="brief_history_of_present_illness" type="text"
                [(ngModel)]="physiotherapyNoteDetail.brief_history_of_present_illness" required>
        </mat-form-field>

        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="diagnosis_problem_list" type="text"
                [(ngModel)]="physiotherapyNoteDetail.diagnosis_problem_list">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="current_medications" type="text"
                [(ngModel)]="physiotherapyNoteDetail.current_medications">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="dermatomes" type="text" [(ngModel)]="physiotherapyNoteDetail.dermatomes"
            >
        </mat-form-field>
        
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="interim_events_since_last_visit" type="text"
                [(ngModel)]="physiotherapyNoteDetail.interim_events_since_last_visit">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="manual_muscle_test" type="text"
                [(ngModel)]="physiotherapyNoteDetail.manual_muscle_test">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="illness_understanding_by_the_patient" type="text"
                [(ngModel)]="physiotherapyNoteDetail.illness_understanding_by_the_patient">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="illness_understanding_by_the_family_members" type="text"
                [(ngModel)]="physiotherapyNoteDetail.illness_understanding_by_the_family_members">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="Neuro_screening_reflex_dir" type="text"
                [(ngModel)]="physiotherapyNoteDetail.neuro_screening_reflex_dir">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="pain_assessment_pain_severity" type="number"
                [(ngModel)]="physiotherapyNoteDetail.pain_assessment_pain_severity">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="no_pain_symptoms" type="text"
                [(ngModel)]="physiotherapyNoteDetail.no_pain_symptoms">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="social_issue" type="text" [(ngModel)]="physiotherapyNoteDetail.social_issue"
            >
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="pain_assessment_pain_type" type="text"
                [(ngModel)]="physiotherapyNoteDetail.pain_assessment_pain_type">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="emotional_spritual_issue" type="text"
                [(ngModel)]="physiotherapyNoteDetail.emotional_spritual_issue">
        </mat-form-field>
        <mat-form-field class="tc-full-stretch">
            <input matInput placeholder="palliative_care_plan" type="text"
                [(ngModel)]="physiotherapyNoteDetail.palliative_care_plan">
        </mat-form-field>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()" [disabled]="!canSubmit()" cdkFocusInitial>
        {{appTranslation.getText('general','save')}}
    </button>
</div>