<h1 mat-dialog-title>
  Department_Specialty Selection
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="department_specialtysSearchTextBox" placeholder="Search Text">
    <button mat-button *ngIf="department_specialtyPersist.department_specialtySearchText" matSuffix mat-icon-button aria-label="Clear"
            (click)="department_specialtysSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-select placeholder='{{appTranslation.getText("general", "department")}}'
                [(value)]="department_specialtyPersist.departmentFilter"
                (valueChange)="searchDepartment_Specialtys()" [disabled]="data.disabled">
      <mat-option *ngFor="let status of department_specialtyPersist.Department" [value]="status.id">
        {{  status.name }}
      </mat-option>
    </mat-select>
  
    <button mat-button *ngIf='department_specialtyPersist.departmentFilter != -1' matSuffix mat-icon-button
            aria-label="Clear"
            [disabled]="data.disabled"
            (click)="department_specialtyPersist.departmentFilter = -1;searchDepartment_Specialtys();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->

  <div class="tc-loading" *ngIf="department_specialtysIsLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="mat-elevation-z6">

    <mat-table [dataSource]="department_specialtysData" matSort>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(department_specialtysData,department_specialtysSelection) "
            [checked]=" tcUtilsArray.isAllSelected(department_specialtysData,department_specialtysSelection)"
            [indeterminate]="department_specialtysSelection.length <department_specialtysData.length && department_specialtysSelection.length>0"
            *ngIf="!selectOne">
          </mat-checkbox>
          <button mat-button *ngIf="department_specialtysSelection.length >0 && !selectOne" [mat-menu-trigger-for]="collectionMenu">
            <i class="material-icons">more_vert</i>

            <span matBadge="{{department_specialtysSelection.length}}"
                  matBadgePosition="above after"
                  matBadgeOverlap="false"
                  [matBadgeHidden]="department_specialtysSelection.length == 0"
                  style="margin-right:10px;"></span>
          </button>
          <mat-menu #collectionMenu="matMenu">

            <button mat-menu-item (click)="returnSelected()">
              <mat-icon>done</mat-icon>
              <span>Return Selection</span>
            </button>
          </mat-menu>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? tcUtilsArray.toggleSelection(department_specialtysSelection,row) : null"
                        [checked]="tcUtilsArray.contains(department_specialtysSelection,row)"
                        *ngIf="!data.selectOne">
          </mat-checkbox>


          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? markOneItem(row) : null"
                        [checked]="tcUtilsArray.contains(department_specialtysSelection,row)"
                        *ngIf="data.selectOne">
          </mat-checkbox>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','name')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{appTranslation.getText('general','department')}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getById(department_specialtyPersist.Department,element.department)?.name}}</mat-cell>
      </ng-container>




      <mat-header-row *matHeaderRowDef="department_specialtysDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: department_specialtysDisplayedColumns;"
               [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(department_specialtysSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
                   [length]="department_specialtysTotalCount"></mat-paginator>

  </div>
  <div class="tc-padding"></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
  <button mat-button (click)="returnSelected()"
          [disabled]=" department_specialtysSelection.length == 0 "
          cdkFocusInitial>
    {{appTranslation.getText("general","return_selection")}}
  </button>
</div>
