<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="flowSheetDetail">
                      
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="peep" type="text"  [(ngModel)]="flowSheetDetail.peep" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="date" type="text"  [(ngModel)]="flowSheetDetail.date" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="rass" type="text"  [(ngModel)]="flowSheetDetail.rass" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="sbp" type="text"  [(ngModel)]="flowSheetDetail.sbp" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="dbp" type="text"  [(ngModel)]="flowSheetDetail.dbp" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="map" type="text"  [(ngModel)]="flowSheetDetail.map" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="pr" type="text"  [(ngModel)]="flowSheetDetail.pr" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="rhythm" type="text"  [(ngModel)]="flowSheetDetail.rhythm" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="temprature" type="text"  [(ngModel)]="flowSheetDetail.temprature" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="rbs" type="text"  [(ngModel)]="flowSheetDetail.rbs" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="o2_support" type="text"  [(ngModel)]="flowSheetDetail.o2_support" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="o2_litre_or_fio2" type="text"  [(ngModel)]="flowSheetDetail.o2_litre_or_fio2" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="flow_rate" type="text"  [(ngModel)]="flowSheetDetail.flow_rate" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="rr" type="text"  [(ngModel)]="flowSheetDetail.rr" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="iv_niv" type="text"  [(ngModel)]="flowSheetDetail.iv_niv" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="mode" type="text"  [(ngModel)]="flowSheetDetail.mode" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="pressure_set" type="text"  [(ngModel)]="flowSheetDetail.pressure_set" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="psv" type="text"  [(ngModel)]="flowSheetDetail.psv" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="peak_pressure" type="text"  [(ngModel)]="flowSheetDetail.peak_pressure" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="plateau_pressure" type="text"  [(ngModel)]="flowSheetDetail.plateau_pressure" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="tidal_volume_achieved" type="text"  [(ngModel)]="flowSheetDetail.tidal_volume_achieved" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="ketamine" type="text"  [(ngModel)]="flowSheetDetail.ketamine" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="ketofol_amount" type="text"  [(ngModel)]="flowSheetDetail.ketofol_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="dopamine" type="text"  [(ngModel)]="flowSheetDetail.dopamine" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="feed_given" type="text"  [(ngModel)]="flowSheetDetail.feed_given" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="flush" type="text"  [(ngModel)]="flowSheetDetail.flush" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="driving_pressure" type="text"  [(ngModel)]="flowSheetDetail.driving_pressure" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="tidal_volume_set" type="text"  [(ngModel)]="flowSheetDetail.tidal_volume_set" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="fio2" type="text"  [(ngModel)]="flowSheetDetail.fio2" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="spo2" type="text"  [(ngModel)]="flowSheetDetail.spo2" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="total_rr" type="text"  [(ngModel)]="flowSheetDetail.total_rr" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="propofol" type="text"  [(ngModel)]="flowSheetDetail.propofol" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="diazepam_amount" type="text"  [(ngModel)]="flowSheetDetail.diazepam_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="dopamine_amount" type="text"  [(ngModel)]="flowSheetDetail.dopamine_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="bolus_fluid_amount" type="text"  [(ngModel)]="flowSheetDetail.bolus_fluid_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="iv_fluid_amount" type="text"  [(ngModel)]="flowSheetDetail.iv_fluid_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="feed_type" type="text"  [(ngModel)]="flowSheetDetail.feed_type" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="additional_feeding" type="text"  [(ngModel)]="flowSheetDetail.additional_feeding" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="rr_set" type="text"  [(ngModel)]="flowSheetDetail.rr_set" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="ketamine_amount" type="text"  [(ngModel)]="flowSheetDetail.ketamine_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="propofol_amount" type="text"  [(ngModel)]="flowSheetDetail.propofol_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="ketofol" type="text"  [(ngModel)]="flowSheetDetail.ketofol" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="diazepam" type="text"  [(ngModel)]="flowSheetDetail.diazepam" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="ne_e" type="text"  [(ngModel)]="flowSheetDetail.ne_e" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="ne_e_amount" type="text"  [(ngModel)]="flowSheetDetail.ne_e_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="bolus_fluid_type" type="text"  [(ngModel)]="flowSheetDetail.bolus_fluid_type" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="iv_fluid" type="text"  [(ngModel)]="flowSheetDetail.iv_fluid" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="medication_fluid_amount" type="text"  [(ngModel)]="flowSheetDetail.medication_fluid_amount" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="gastric_residual" type="text"  [(ngModel)]="flowSheetDetail.gastric_residual" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="total_hurly_input" type="text"  [(ngModel)]="flowSheetDetail.total_hurly_input" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="urine_bag_off_ground" type="text"  [(ngModel)]="flowSheetDetail.urine_bag_off_ground" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="urine_hourly" type="text"  [(ngModel)]="flowSheetDetail.urine_hourly" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="urine_total" type="text"  [(ngModel)]="flowSheetDetail.urine_total" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="ng_og_tube" type="text"  [(ngModel)]="flowSheetDetail.ng_og_tube" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="abdominal_drainage" type="text"  [(ngModel)]="flowSheetDetail.abdominal_drainage" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="vomitus" type="text"  [(ngModel)]="flowSheetDetail.vomitus" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="stool" type="text"  [(ngModel)]="flowSheetDetail.stool" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="chest_tube_right" type="text"  [(ngModel)]="flowSheetDetail.chest_tube_right" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="chest_tube_left" type="text"  [(ngModel)]="flowSheetDetail.chest_tube_left" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="insensible_loss" type="text"  [(ngModel)]="flowSheetDetail.insensible_loss" required>
                          </mat-form-field>                    
   <mat-form-field class="tc-full-stretch">
                              <input matInput  placeholder="total_hourly_output" type="text"  [(ngModel)]="flowSheetDetail.total_hourly_output" required>
                          </mat-form-field>  </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>