
<mat-toolbar class="tc-toolbar-secondary">
  <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-exchange-alt"></mat-icon>
   transfer  </h3>

  <button mat-button (click)=" back();" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <button mat-button (click)=" searchTransfers();" *ngIf="tcAuthorization.canRead('transfers')" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
  </button>
  <button mat-button (click)=" addTransfer();" *ngIf="tcAuthorization.canCreate('transfers') && requestId" class="tc-link">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
  </button>
</mat-toolbar>
<div class="tc-padding">
  <mat-form-field>
    <input matInput [formControl]="transferSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="transferPersist.transferSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="transferSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="{{ appTranslation.getText('inventory', 'status') }}"
                [(value)]="transferPersist.status"
                (valueChange)="searchTransfers()">
      <mat-option *ngFor="let etype of itemReceivePersist.ReceiveStatus" [value]="etype.id" >
        {{ etype.name }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="transferPersist.status" matSuffix mat-icon-button aria-label="Clear"
            (click)="transferPersist.status = null;searchTransfers();$event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput [formControl]="refNoBox"
           placeholder='Ref No.'>
    <button mat-button *ngIf="requestPersist.ref_no" matSuffix mat-icon-button aria-label="Clear"
            (click)="refNoBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>search store</mat-label>
    <input matInput disabled [(ngModel)]="store_name"/>
    <button
      mat-icon-button
      matTooltip="search store"
      matSuffix
      color="primary"
      (click)="searchStore()"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="transferPersist.store_id != null" matSuffix mat-icon-button aria-label="Clear"
    (click)="transferPersist.store_id = null; store_name = null ; searchTransfers()">
    <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <mat-form-field >
    <input
      matInput
      placeholder=
        'from date'
      [formControl]="transferPersist.start_date"
      [matDatepicker]="from_date_picker"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="from_date_picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #from_date_picker disabled="false"></mat-datepicker>
    <button mat-button *ngIf="transferPersist.start_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
    (click)="transferPersist.start_date.setValue('')">
    <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field >
<input
  matInput
  placeholder=
    'to Date'
  [formControl]="transferPersist.end_date"
  [matDatepicker]="to_date_picker"  
/>
<mat-datepicker-toggle
  matSuffix
  [for]="to_date_picker"
></mat-datepicker-toggle>
<mat-datepicker #to_date_picker disabled="false"></mat-datepicker>
<button mat-button *ngIf="transferPersist.end_date.value !== ''" matSuffix mat-icon-button aria-label="Clear"
(click)="transferPersist.end_date.setValue('')">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Category"
              [(value)]="transferPersist.category"
              (valueChange)="searchTransfers()">
    <mat-option *ngFor="let etype of categoryPersist.category" [value]="etype.id" >
      {{ etype.name }}
    </mat-option>
  </mat-select>
  <button mat-button *ngIf="transferPersist.category" matSuffix mat-icon-button aria-label="Clear"
          (click)="transferPersist.category = null;searchTransfers();$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

  <mat-form-field>
    <mat-label>Sub Category</mat-label>
    <input
      matInput
      placeholder="Sub Category"
      type="text"
      disabled
      [(ngModel)]="subCategoryName"
      required
    >
    <button
      mat-icon-button
      matTooltip="Sub category"
      matSuffix
      color="primary"
      (click)="searchCategory(true)"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button *ngIf="subCategoryName" matSuffix mat-icon-button aria-label="Clear"
(click)="subCategoryName = null; transferPersist.categoryId=categoryId; searchTransfers()">
<mat-icon>close</mat-icon>
</button>
  </mat-form-field> 
  <mat-slide-toggle
  matInput
  labelPosition="before"
  class="tc-form-toggle" (change)="searchTransfers()"
  [(ngModel)]="transferPersist.remaining"
  required
>
  remaining
</mat-slide-toggle>
  <div class="tc-loading" *ngIf="transferIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
    <mat-card *ngFor="let transfer of transfersData" class="tc-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="elementMenu"
            *ngIf="tcAuthorization.canUpdate('transfers') || tcAuthorization.canDelete('transfers')">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">

            <button mat-menu-item (click)="editTransfer(transfer)" *ngIf="tcAuthorization.canUpdate('transfers')">
              <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
              <span>{{appTranslation.getText("general","edit")}} </span>
            </button>
            <button mat-menu-item (click)="deleteTransfer(transfer)" *ngIf="tcAuthorization.canDelete('transfers')">
              <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
              <span>{{appTranslation.getText("general","delete")}} </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content><div class="tc-detail-field">
          <span>item_receive_id</span>
          {{itemNavigator.itemName(transfer)}}
        </div><div class="tc-detail-field">
          <span>quantity</span>
          {{transfer.quantity}}
        </div><div class="tc-detail-field">
          <span>unit</span>
          {{transfer.transfer_unit}}
        </div><div class="tc-detail-field">
          <span>transfer_date</span>
          {{transfer.transfer_date * 1000|date:'MMM dd, yyyy. h:mm a'}}
        </div><div class="tc-detail-field">
          <span>status</span>
          {{tcUtilsArray.getEnum(itemReceivePersist.ReceiveStatus, transfer.status)?.name}}
        </div><div class="tc-detail-field">
          <span>receiver_id</span>
          {{transfer.receiver_id}}
        </div><div class="tc-detail-field">
          <span>sender_id</span>
          {{transfer.sender_id}}
        </div> 
        <div class="tc-detail-field">
          <span>Remaining</span>
          {{transfer.remaining}}
        </div>        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="tc-table-container tc-full-width">

    <mat-toolbar *ngIf="searchTransfers.length >0 || transferSelectAll">
      <button mat-button (click)="downloadTransfers()">
        <mat-icon>save_alt</mat-icon>
        <span>{{appTranslation.getText("general", "download")}} </span>
      </button>
      <div class="tc-flex-fill"></div>
      <span>{{transferSelectAll ? transfersTotalCount : transferSelection.length}} {{appTranslation.getText("general",
        "selected")}}</span>
    </mat-toolbar><mat-table [dataSource]="transfersData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" transferSelectAll=true; "
            [checked]=" tcUtilsArray.isAllSelected(transfersData,transferSelection) || transferSelectAll"
            [indeterminate]="transferSelection.length <transfersData.length && transferSelection.length>0"
            [disabled]="transferSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="transferSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #transferSelectAllMenu="matMenu">

            <button mat-menu-item (click)="transferSelectAll=true;" [disabled]="transferSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="transferSelectAll = false;" [disabled]="!transferSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
            <button mat-menu-item (click)="acceptAll();" [disabled]="transferSelection.length==0">
              accept
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(transferSelection,row) : null"
            [checked]="tcUtilsArray.contains(transferSelection,row) || transferSelectAll" [disabled]="transferSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="transfer_request_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_request_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.transfer_request_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="item_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>item
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{itemNavigator.itemName(element)}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="remaining">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Remaining
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.remaining}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="batch_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>batch no
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.batch_no}}</mat-cell>
      </ng-container>

  <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>unit
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{appTranslation.getTextByIdentifier(tcUtilsArray.getEnum(requestPersist.units, element.transfer_unit)?.name)}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="ref_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ref No.
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ref_no }}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="transfer_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.transfer_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(itemReceivePersist.ReceiveStatus, element.status)?.name}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="receiver_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>receiver_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.receiver_id}}</mat-cell>
      </ng-container>

  <ng-container matColumnDef="selling_price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>selling_price
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.selling_price}}</mat-cell>
  </ng-container>
  
      <ng-container matColumnDef="expire_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>expire_date
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.expire_date * 1000|date:'MMM dd, yyyy. h:mm a'}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="sender_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>sender_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.sender_id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="unit_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>unit price
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.unit_price}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef mat-sort-header>remark
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.reject_description}}</mat-cell>
      </ng-container>

 <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Link</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="transferNavigator.transferUrl(element.id)" class="tc-link">{{element.id}}</a>

        </mat-cell>
      </ng-container>  <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="tc-column-action">
          <button mat-flat-button [matMenuTriggerFor]="elementMenu"
            *ngIf="(tcAuthorization.canUpdate('transfers') || tcAuthorization.canDelete('transfers'))&& element.remaining > 0">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #elementMenu="matMenu">
            <ng-container *ngIf="element.status == receiveStatus.sent">
              <button mat-menu-item (click)="editTransfer(element)" *ngIf="tcAuthorization.canUpdate('transfers') ">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
              </button>
              <button mat-menu-item (click)="deleteTransfer(element)" *ngIf="tcAuthorization.canDelete('transfers')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
              </button>
              <button mat-menu-item (click)="acceptTransfer(element)" *ngIf="tcAuthorization.canUpdate('transfers')">
                <mat-icon fontSet="fa" fontIcon="fa-square-check"></mat-icon>
                <span>Accept </span>
              </button>                                                   
              <button mat-menu-item (click)="rejectTransfer(element)" *ngIf="tcAuthorization.canUpdate('transfers')">
                <mat-icon fontSet="fa" fontIcon="fa-square-xmark"></mat-icon>
                <span>Reject </span>
              </button>
            </ng-container>
            <ng-container *ngIf="element.status == receiveStatus.received">
              <button mat-menu-item (click)="lostDamage(element)" *ngIf="tcAuthorization.canCreate('lost_damages') ">
                <mat-icon fontSet="fa" fontIcon="fa-circle-exclamation"></mat-icon>
                <span>Lost/Damage </span>
              </button>
              <button mat-menu-item (click)="returnItem(element)" *ngIf="tcAuthorization.canCreate('item_returns')">
                <mat-icon fontSet="fa" fontIcon="fa-rotate-left"></mat-icon>
                <span>Return </span>
              </button>
            </ng-container>
          </mat-menu>
        </mat-cell>
      </ng-container>  <mat-header-row *matHeaderRowDef="transfersDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: transfersDisplayedColumns;"
        [ngClass]="item_in_storePersist.expiration(row.expire_date) +  (tcUtilsArray.contains(transferSelection,row) ? ' tc-selected-row': '')"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="transfersTotalCount"
      [ngStyle]="{display: transfersTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>