
<mat-sidenav-container class="tc-sidebar-container" fullscreen>
     <mat-sidenav-content>
    
            <div class="tc-loading" *ngIf="additionalServiceIsLoading">
                    <mat-spinner></mat-spinner>
            </div>
    
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label class="tab-content">
                        <mat-icon
                          class="tab-icon"
                          fontSet="fa"
                          fontIcon="fa-info-circle"
                        ></mat-icon>
                        <span>Overview</span>
                      </ng-template>
                      <ng-template matTabContent>
                        <div [ngClass]="activeTab==AdditionalServiceTabs.overview? '':'tc-hidden'">
                            <mat-toolbar class="tc-toolbar-secondary ">
                                <h1 class="mat-heading">
                                    <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
                                    {{appTranslation.getText("general", "overview")}}
                                </h1>
                                <button mat-button (click)=" back();" class="tc-link">
                                                    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
                                                </button>
                                <button mat-button (click)=" reload()" class="tc-link">
                                    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
                                </button>
                            </mat-toolbar>
                
                            <div class="tc-flex-row tc-full-width">
                                <div class="tc-equal-block">
                                    <div class="tc-padding">
                                        <mat-accordion>
                                              <mat-expansion-panel expanded="true">
                                                <mat-expansion-panel-header>
                                                  <mat-panel-title>
                                                    {{appTranslation.getText("general","basicdetails")}}
                                                  </mat-panel-title>
                                                </mat-expansion-panel-header>
                
                                                    <div *ngIf="!additionalServiceIsLoading">
                                        <p class="tc-detail-field">
              ordered_date                           <span>  {{additionalServiceDetail.ordered_date * 1000|date:'MMM dd, yyyy. h:mm a'}} </span> 
                                                                     </p>
                                        <p class="tc-detail-field">
              future_date                           <span>  {{additionalServiceDetail.future_date * 1000|date:'MMM dd, yyyy. h:mm a'}} </span> 
                                                                     </p>
                                        <p class="tc-detail-field">
              type                           <span>  {{tcUtilsArray.getEnum(additionalServicePersist.AdditionalServiceType, additionalServiceDetail.type)?.name}} </span> 
                                                                     </p>
                                        <p class="tc-detail-field">
              status                           <span>  {{additionalServiceDetail.status}} </span> 
                                                                     </p>
                                       </div>
                                                <mat-action-row>
                                                   <button mat-button (click)="editAdditionalService()" *ngIf="tcAuthorization.canUpdate('additional_services') && form_encounterPersist.encounter_is_active">
                                                     {{appTranslation.getText("general", "edit")}}
                                                   </button>
                                                 </mat-action-row>
                
                                               </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                                <div class="tc-equal-block">
                                </div>
                            </div>
                
                        </div>
                      </ng-template>
                </mat-tab>
            </mat-tab-group>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
    