<h1 mat-dialog-title>
    item_dispatch Selection
  </h1><div mat-dialog-content>  <mat-form-field>
    <input matInput [formControl]="itemDispatchSearchTextBox"
      placeholder='{{appTranslation.getText("general","search_text")}} '>
    <button mat-button *ngIf="itemDispatchPersist.itemDispatchSearchText" matSuffix mat-icon-button aria-label="Clear"
      (click)="itemDispatchSearchTextBox.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="tc-loading" *ngIf="itemDispatchIsLoading">
    <mat-spinner></mat-spinner>
  </div>  <div class="tc-table-container tc-full-width">
<mat-table [dataSource]="itemDispatchsData" matSort class="tc-hide-on-mobile">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)=" tcUtilsArray.toggleSelectAll(itemDispatchsData,itemDispatchSelection) "
            [checked]=" tcUtilsArray.isAllSelected(itemDispatchsData,itemDispatchSelection) || itemDispatchSelectAll"
            [indeterminate]="itemDispatchSelection.length <itemDispatchsData.length && itemDispatchSelection.length>0"
            [disabled]="itemDispatchSelectAll">
          </mat-checkbox>

          <button mat-icon-button>
            <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="itemDispatchSelectAllMenu"></mat-icon>
          </button>
          <mat-menu #itemDispatchSelectAllMenu="matMenu">

            <button mat-menu-item (click)="itemDispatchSelectAll=true;" [disabled]="itemDispatchSelectAll">
              {{appTranslation.getText("general", "all")}}
            </button>
            <button mat-menu-item (click)="itemDispatchSelectAll = false;" [disabled]="!itemDispatchSelectAll">
              {{appTranslation.getText("general", "none")}}
            </button>
          </mat-menu>

        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="tc-column-selection">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? tcUtilsArray.toggleSelection(itemDispatchSelection,row) : null"
            [checked]="tcUtilsArray.contains(itemDispatchSelection,row) || itemDispatchSelectAll" [disabled]="itemDispatchSelectAll">
          </mat-checkbox>
        </mat-cell>
      </ng-container>  <ng-container matColumnDef="prescription_request_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>prescription_request_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.request_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="transfer_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>transfer_id
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.transfer_id}}</mat-cell>
      </ng-container>
  <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>quantity
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="itemDispatchsDisplayedColumns; sticky: true; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: itemDispatchsDisplayedColumns;"
        [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(itemDispatchSelection,row)}"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
      [pageSize]="tcUtilsArray.defaultPageSize" [length]="itemDispatchsTotalCount"
      [ngStyle]="{display: itemDispatchsTotalCount > 0? '':'none'}"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText("general","cancel")}}</button>
    <button mat-button (click)="returnSelected()"
            [disabled]=" itemDispatchSelection.length == 0 "
            cdkFocusInitial>
      {{appTranslation.getText("general","return_selection")}}
    </button>
  </div>