
   
   <mat-toolbar class="tc-toolbar-secondary" *ngIf="false">
      <h3 class="mat-heading">
        <mat-icon fontSet="fa" fontIcon="fa-person-circle-check"></mat-icon>
       lab_result_approval  </h3>
    
      <button mat-button (click)=" back();" class="tc-link">
              <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
      </button>
      <button mat-button (click)=" searchLabResultApprovals();" *ngIf="tcAuthorization.canRead('laboratory_result_approvals')" class="tc-link">
          <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
      </button>
    </mat-toolbar>
    <div class="tc-padding">
      <mat-form-field>
        <input matInput [formControl]="lab_resultSearchText"
          placeholder='{{appTranslation.getText("general","search_text")}} '>
        <button mat-button *ngIf="labResultApprovalPersist.lab_resultSearchText" matSuffix mat-icon-button aria-label="Clear"
          (click)="lab_resultSearchText.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="tc-loading" *ngIf="labResultApprovalIsLoading">
        <mat-spinner></mat-spinner>
      </div>  <div class="tc-flex-row-wrap tc-hide-on-desktop tc-hide-on-tablet">
        <mat-card *ngFor="let labResultApproval of labResultApprovalsData" class="tc-card">
          <mat-card-header>
            <mat-card-title>
              <button mat-icon-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canUpdate('laboratory_result_approvals') || tcAuthorization.canDelete('laboratory_result_approvals')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
    
                <button mat-menu-item (click)="approveOrder(labResultApproval)">{{appTranslation.getText("inventory", "approve")}}</button>
                                      <button mat-menu-item (click)="rejectOrder(labResultApproval)">{{appTranslation.getText("inventory", "reject")}}</button>
              </mat-menu>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
    <div class="tc-detail-field">
              <span>lab_test</span>
              {{labResultApproval.lab_test_name}}
            </div><div class="tc-detail-field">
              <span>urgency</span>
              {{tcUtilsArray.getEnum(orderPersist.lab_urgency,labResultApproval.urgency)?.name}}
            </div><div class="tc-detail-field">
              <span>lab_panel</span>
              {{labResultApproval.lab_panel_name}}
            </div><div class="tc-detail-field">
              <span>result</span>
              {{labResultApproval.result}}
            </div>
            <div class="tc-detail-field">
              <span>detail</span>
              {{labResultApproval.result}}
            </div>        
          </mat-card-content>
        </mat-card>
      </div>
      <div class="tc-table-container tc-full-width">
    
        <mat-toolbar *ngIf="labResultApprovalSelection.length >0 || labResultApprovalSelectAll">
          <button mat-button (click)="downloadLabResultApprovals()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
          </button>
          <div class="tc-flex-fill"></div>
          <span>{{labResultApprovalSelectAll ? labResultApprovalsTotalCount : labResultApprovalSelection.length}} {{appTranslation.getText("general",
            "selected")}}</span>
        </mat-toolbar><mat-table [dataSource]="labResultApprovalsData" matSort class="tc-hide-on-mobile">
    
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(labResultApprovalsData,labResultApprovalSelection) "
                [checked]=" tcUtilsArray.isAllSelected(labResultApprovalsData,labResultApprovalSelection) || labResultApprovalSelectAll"
                [indeterminate]="labResultApprovalSelection.length <labResultApprovalsData.length && labResultApprovalSelection.length>0"
                [disabled]="labResultApprovalSelectAll">
              </mat-checkbox>
    
              <button mat-icon-button>
                <mat-icon fontSet="fa" fontIcon="fa-caret-down" [matMenuTriggerFor]="labResultApprovalSelectAllMenu"></mat-icon>
              </button>
              <mat-menu #labResultApprovalSelectAllMenu="matMenu">
    
                <button mat-menu-item (click)="labResultApprovalSelectAll=true;" [disabled]="labResultApprovalSelectAll">
                  {{appTranslation.getText("general", "all")}}
                </button>
                <button mat-menu-item (click)="labResultApprovalSelectAll = false;" [disabled]="!labResultApprovalSelectAll">
                  {{appTranslation.getText("general", "none")}}
                </button>
                <button mat-menu-item (click)="approveSelectedResults()" [disabled]="!labResultApprovalSelection.length">
                  Approve selected
                </button>
              </mat-menu>
    
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
              <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(labResultApprovalSelection,row) : null"
                [checked]="tcUtilsArray.contains(labResultApprovalSelection,row) || labResultApprovalSelectAll" [disabled]="labResultApprovalSelectAll">
              </mat-checkbox>
            </mat-cell>
          </ng-container>  <ng-container matColumnDef="lab_test">
            <mat-header-cell *matHeaderCellDef mat-sort-header>lab_test
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.lab_test_name}}</mat-cell>
          </ng-container>
      <ng-container matColumnDef="urgency">
            <mat-header-cell *matHeaderCellDef mat-sort-header>urgency
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{tcUtilsArray.getEnum(orderPersist.lab_urgency,element.urgency)?.name}}</mat-cell>
          </ng-container>
      <ng-container matColumnDef="lab_panel">
            <mat-header-cell *matHeaderCellDef mat-sort-header>lab_panel
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.lab_panel_name}}</mat-cell>
          </ng-container>
      <ng-container matColumnDef="result">
            <mat-header-cell *matHeaderCellDef mat-sort-header>result
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.result}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="detail">
            <mat-header-cell *matHeaderCellDef mat-sort-header>result
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button class="tc-full-width tc-padding"  style="color: white; background-color: #175D91; border: none;" (click)="showDetail(element)">Show Detail</button>
            </mat-cell>
          </ng-container>
            <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
              <button mat-flat-button [matMenuTriggerFor]="elementMenu"
                *ngIf="tcAuthorization.canRead('laboratory_result_approvals') || tcAuthorization.canRead('laboratory_result_approvals')">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #elementMenu="matMenu">
                <ng-container>
                  <button mat-menu-item (click)="approveOrder(element)">{{appTranslation.getText("inventory", "approve")}}</button>
                  <button mat-menu-item (click)="rejectOrder(element)">{{appTranslation.getText("inventory", "reject")}}</button>
                </ng-container>
              </mat-menu>
            </mat-cell>
          </ng-container>  <mat-header-row *matHeaderRowDef="labResultApprovalsDisplayedColumns; sticky: true; "></mat-header-row>
          <mat-row *matRowDef="let row; columns: labResultApprovalsDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(labResultApprovalSelection,row)}"></mat-row>
    
        </mat-table>
    
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
          [pageSize]="tcUtilsArray.defaultPageSize" [length]="labResultApprovalsTotalCount"
          [ngStyle]="{display: labResultApprovalsTotalCount > 0? '':'none'}"></mat-paginator>
      </div>
    </div>
