<mat-toolbar class="tc-toolbar-secondary">
    <h3 class="mat-heading">
    <mat-icon fontSet="fa" fontIcon="fa-image"></mat-icon>
    {{ appTranslation.getText("patient", "images") }}
    </h3>

    <button mat-button (click)=" back();" class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
    </button>
    <button mat-button (click)=" searchEncounter_Imagess();" *ngIf="tcAuthorization.canRead('encounter_images')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-redo"></mat-icon>
    </button>
    <button mat-button (click)=" addEncounter_Images();" *ngIf="tcAuthorization.canCreate('encounter_images')"
    class="tc-link">
    <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
    </button>
    <h1 class="mat-heading" style="margin-left:auto !important;" *ngIf="patientId">
        <mat-slide-toggle
        matInput
        labelPosition="before"
        class="tc-form-toggle" (change)="handleToggle($event)"
        required
        [checked]="false"
        >
        {{appTranslation.getText("patient", "show_current")}}
        </mat-slide-toggle>
        </h1>
</mat-toolbar>

<div class="tc-padding">

    <mat-spinner diameter="50" *ngIf="encounter_imagessLoading" class="tc-padding"></mat-spinner>

    <div class="tc-padding" [ngStyle]="{display: encounter_imagessLoading? 'none':''}">
    <mat-form-field>
        <input matInput [formControl]="encounter_imagessSearchTextBox"
        placeholder="{{appTranslation.getText('general','search_text')}}">
        <button mat-button *ngIf="encounter_imagessSearchTextBox.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="encounter_imagessSearchTextBox.setValue('')">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>




    <div class="tc-table-container tc-full-stretch">

        <mat-toolbar *ngIf="encounter_imagessSelected.length >0 ">
        <button mat-button (click)="downloadEncounter_Imagess()">
            <mat-icon>save_alt</mat-icon>
            <span>{{appTranslation.getText("general", "download")}} </span>
        </button>

        </mat-toolbar>

        <mat-table [dataSource]="encounter_imagessData" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)=" tcUtilsArray.toggleSelectAll(encounter_imagessData,encounter_imagessSelected) "
                [checked]=" tcUtilsArray.isAllSelected(encounter_imagessData,encounter_imagessSelected)"
                [indeterminate]="encounter_imagessSelected.length <encounter_imagessData.length && encounter_imagessSelected.length>0">
            </mat-checkbox>

            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="tc-column-selection">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? tcUtilsArray.toggleSelection(encounter_imagessSelected,row) : null"
                [checked]="tcUtilsArray.contains(encounter_imagessSelected,row)">
            </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="encounter">
            <mat-header-cell *matHeaderCellDef mat-sort-header>encounter</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.encounter}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="image_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Download</mat-header-cell>
            <mat-cell *matCellDef="let element">
            <a class="tc-link" target="_blank" href="{{filePersist.downloadLink(element.key)}}">
                <mat-icon fontSet="fa" fontIcon="fa-download"></mat-icon>
                File
            </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tc-column-action"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="tc-column-action">
            <button mat-flat-button [matMenuTriggerFor]="elementMenu" *ngIf="(tcAuthorization.canUpdate('encounter_images') || tcAuthorization.canDelete('encounter_images')) && form_encounterPersist.encounter_is_active">
                <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #elementMenu="matMenu">

                <button mat-menu-item (click)="editEncounter_Images(element)" *ngIf="tcAuthorization.canUpdate('encounter_images')">
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                <span>{{appTranslation.getText("general","edit")}} </span>
                </button>
                <button mat-menu-item (click)="deleteEncounter_Images(element)" *ngIf="tcAuthorization.canDelete('encounter_images')">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
                <span>{{appTranslation.getText("general","delete")}} </span>
                </button>
            </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="encounter_imagessDisplayedColumns; sticky: true; "></mat-header-row>
        <mat-row *matRowDef="let row; columns: encounter_imagessDisplayedColumns;"
            [ngClass]="{ 'tc-selected-row': tcUtilsArray.contains(encounter_imagessSelected,row)}">
        </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="tcUtilsArray.pageSizeOptions" showFirstLastButtons
        [pageSize]="tcUtilsArray.defaultPageSize" [length]="encounter_imagessTotalCount"
        [ngStyle]="{display: encounter_imagessTotalCount > 0? '':'none'}">
        </mat-paginator>
    </div>
    </div>
</div>