<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="wardReportDetail">



  <!-- <mat-form-field class="tc-full-stretch">
    <mat-label>
      {{appTranslation.getText("general", "physcian")}}
    </mat-label>
    <input matInput disabled [(ngModel)]="Physcian" />
    <button mat-icon-button matSuffix color="primary" (click)="searchPhyscian(tcUtilsString.invalid_id)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field> -->

  <mat-form-field class="tc-full-stretch">
    <mat-label>
      {{appTranslation.getText("bed", "bedroom_type")}}
    </mat-label>
    <input [value]="Ward" matInput disabled (ngModel)="wardReportDetail.ward" />
    <button mat-icon-button matSuffix color="primary" (click)="searchWard()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field class="tc-full-stretch">
    <textarea matInput placeholder="report" type="text" [(ngModel)]="wardReportDetail.report" required></textarea>
  </mat-form-field>
                        
                        
          </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>