<div class="tc-flex-row">
  <h1 class="mat-headline">
    {{ appTranslation.getText("inventory", "approve") }}
  </h1>

  <div class="tc-flex-fill"></div>
  <div class="tc-dialog-close">
    <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
  </div>
</div>

<div mat-dialog-content>

  <div>

    <mat-form-field class="tc-full-stretch">
      <mat-select placeholder='{{appTranslation.getText("inventory", "entry_type")}}'
                  [(value)]="itemLedgerEntryPartial.entry_type" required>
        <mat-option *ngFor="let etype of persist.entry_type" [value]="etype.id">
          {{appTranslation.getText("inventory", etype.name)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input matInput placeholder="{{appTranslation.getText('inventory','batch_no')}}" type="number"
             [(ngModel)]="itemLedgerEntryPartial.batch" required>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <input
        matInput
        [min]="minDate"
        placeholder="{{ appTranslation.getText('inventory', 'expire_date') }}"
        [(ngModel)]="expireDate"
        [matDatepicker]="expire_date_picker"
        required/>
      <mat-datepicker-toggle
        matSuffix
        [for]="expire_date_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker  #expire_date_picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="tc-full-stretch">
      <textarea matInput placeholder="{{appTranslation.getText('general','description')}}" type="text"
                [(ngModel)]="itemLedgerEntryPartial.description" required></textarea>
    </mat-form-field>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">{{appTranslation.getText('general', 'cancel')}}</button>
  <button mat-button (click)="onSubmit()"
          [disabled]="!canSubmit()"
          cdkFocusInitial>
    {{appTranslation.getText('inventory', 'approve')}}
  </button>
</div>
