<div class="tc-flex-row">
    <h1 class="mat-headline">
      <mat-icon *ngIf="!isNew">edit</mat-icon>
      <mat-icon *ngIf="isNew">add</mat-icon>
      {{title}} </h1>
  
    <div class="tc-flex-fill"></div>
    <div class="tc-dialog-close">
      <mat-icon fontSet="fas" fontIcon="fa-times" (click)="onCancel()"></mat-icon>
    </div>
  </div>
  
  <div mat-dialog-content>
    <div class="tc-loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="doctorInRoomDetail">
                                         
   
                          
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>  {{appTranslation.getText('schedule', 'start_time')}}</mat-label>
                            <input matInput type="time" [(ngModel)]="start_time">
                      
                          </mat-form-field>
                      
                      
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>  {{appTranslation.getText('schedule', 'end_time')}}</mat-label>
                            <input matInput min="12:32:AM" type="time" [(ngModel)]="end_time">
                      
                          </mat-form-field>
                          
                          
                          <mat-form-field class="tc-full-stretch">
                            <mat-label>
                              {{appTranslation.getText("patient", "search_for_a_doctor")}}
                            </mat-label>
                            <input matInput disabled [(ngModel)]="userFullName"/>
                            <button
                              mat-icon-button
                              matTooltip="{{appTranslation.getText('schedule', 'scheduler')}}"
                              matSuffix
                            
                              color="primary"
                              (click)="searchDoctor()"
                            >
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>

                      
                        
                        </div>
  
   </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{appTranslation.getText('general','cancel')}}</button>
    <button mat-button (click)="isNew()? onAdd(): onUpdate()"
            [disabled]="!canSubmit()"
            cdkFocusInitial>
      {{appTranslation.getText('general','save')}}
    </button>
  </div>